[2017-11-29 07:14] surendrasake commented on #971
like this Junk and escape sequences are coming and output is wrapping up in logfile.

                        [4;53H
[5;1H                           [5;53H
[6;1H                            [6;53H
[7;1H                            [7;53H[7;53Hpowershell Set-ExecutionPoli[7;54Howershell Set-ExecutionPoli[7;55Hwershell Set-ExecutionPoli[7;56Hershell Set-ExecutionPoli[7;57Hrshell Set-Execut

[2017-11-29 10:53] DaburLal commented on #965
@bingbing8 , i am running it on Windows 7 and the file you mentioned is also present.

[2017-11-29 12:59] DarwinJS commented on #968
@joeyaiello - thanks for looking into this.

I must apologize!  I did a cursory glance at the code and thought I could not find the function.

After doing more testing I have found that the uninstall I wrote does not search for the module in the correct place.

So apologies to @bingbing8 and your team!

Your questions to me are still relevant, so here are some thoughts.

FYI - An eons-long theme i

[2017-11-29 13:55] DarwinJS opened #972 "Few More Wiki Fixes"
On this page: https://github.com/PowerShell/Win32-OpenSSH/wiki the link to "Alternative installation using Chocolatey" in the right hand navigation bar is CORRECT, while the link under the same text in the main body is incorrect.

Could we also change the text to "Alternative installation using the universal installer"

Then, on this page: https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-W

[2017-11-29 14:54] dac514 opened #973 "SSH Client fails to use existing id_rsa key"
**"OpenSSH for Windows" version**
Client: 0.0.18.0

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
I installed the client, ***not the server***, [following these steps](https://www.thomasmaurer.ch/2017/11/install-ssh-on-windows-10-as-optional-feature/).
Previously, I am a Git for Windows user and I already have an id_rsa key in ~/.ssh. It is paraphrase protected.

**Expected output

[2017-11-29 16:14] leotxcosta commented on #965
@bingbing8 in fact sspicli.dll is not present in our server. I'm going to try running it in a Win 2012 R2 server to check if it works.

[2017-11-29 16:59] leotxcosta commented on #965
Testing in Win Server 2012 R2 it worked successfully!

[2017-11-29 17:02] leotxcosta commented on #964
In Win Server 2012 R2 I didn't have this problem.

[2017-11-29 19:07] bagajjal commented on #971
@surendrasake -
Please provide the steps to reproduce.
Are you using the ssh provided by the Cygwin?

[2017-11-29 22:30] bingbing8 commented on #965
@saurabhverma999, I can't see the password auth issue on win7. Can you provide your trace?
@leotxcosta, win server 2008 is out of scope, but I fixed the password auth issue. but I think you will still see the service can't started on win server 2008.

[2017-11-30 02:15] bingbing8 commented on #968
@DarwinJS, looks like you are using `secedit.exe` and cim instance in your [script](https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/tools/AddAccountToAssignPrimaryToken.ps1) and [script](https://github.com/PowerShell/SecurityPolicyDsc/tree/master/DSCResources/MSFT_UserRightsAssignment), but `secedit.exe` is not available on latest Nano server. cim instance cmdlet is not available on

[2017-11-30 17:06] leotxcosta commented on #965
@bingbing8 no problem. As it worked in Win 2012 server, We decided to install it in our Win 2012 server. But thanks a lot for your help anyway.

[2017-11-30 19:16] #925 closed, assigned to bagajjal

[2017-11-30 19:20] bagajjal commented on #914
Following up with the conhost team...
Moving the bug to backlog items..

[2017-11-30 19:48] parkovski commented on #914
Cool, please update this thread if you can when you have an answer from them - the node-pty and winpty issues where I referenced this affect the vscode integrated terminal (same issue - Ctrl-C does nothing) which I'd like to fix.

[2017-12-01 13:45] DarwinJS commented on #968
@bingbing8 - thanks for the information on secedit and the code reference.  I will work it into my code.

Your code and the Add-Privilege function would be great additions to OpenSSHUtils!

Even though code samples for setting User Privileges is common, I think this bit would be a great addition to OpenSSHUtils because the effort to ensure that the code works across all OpenSSH targets is a core v

[2017-12-01 18:41] jochemd commented on #953
I did a full uninstall, then installed 0.0.23.0 and now I am not experiencing the problem anymore.

[2017-12-01 18:41] #953 closed, assigned to bagajjal

[2017-12-01 22:36] r-madhumitha opened #974 "Passwordless ssh failing between AIX and Windows 2012 R2"
**"OpenSSH for Windows" version 0.0.22.0
**Server OperatingSystem** Windows 2012 R2
 **Client OperatingSystem** AIX 7.1

sftp through Passwordless ssh connection is failing. SFTP is successful using password.

**Expected output**
After the ssh key exchange, the sftp command from AIX must not prompt for a password.
**Actual output**
Even though in sshd logs I see that the RSA key is found, password

[2017-12-01 22:59] bagajjal commented on #974
Looks like sshd is not running under the context of "NTService\sshd"..

For this reason sshd, ssh-agent were not able to communicate.

From ssh-agent log,
5292 14:21:39:385 error: cannot process request: client process is not admin or sshd
5292 14:21:39:385 debug1: connection 000000C30CA1D6E0 clean up

From sshd.log,
5548 14:21:39:354 debug1: matching key found: file C:\\Users\\user1\\.ssh/authori

[2017-12-01 23:40] r-madhumitha commented on #974
Yes. sshd and ssh-agent are running as local system. I was not able to start the sshd service as NTSERVICE\sshd. Is there a way to fix this?

[2017-12-01 23:49] bagajjal opened #975 "Support custom lsa provider"
Support custom lsa provider (username;password;domain format).

[2017-12-01 23:53] bagajjal commented on #974
I would suggest you fix the issue why the sshd service is not running as NTService\sshd.

Please follow the install instructions..
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH
(or)
install using chocolatey
https://chocolatey.org/packages/openssh

[2017-12-01 23:53] #974 closed, assigned to bagajjal

[2017-12-04 07:18] jborean93 commented on #964
I don't think you can get this working, they specifically state Windows 7 (Windows Server 2008 R2) and above is supported and Windows Server 2008 is before this edition as per @bingbing8. I tried playing around with this very briefly to see if it was just a software limit but the `sshd` service is dependent on the `netlogon` service which won't start up in a non-domain environment for Server 2008.

[2017-12-04 17:21] changemenemo opened #977 "[Not Urgent] Can someone explain this paragraph of the wiki?"
The sshd have been installed under server 2016.
I would like to put powershell as default shell but I didn't quite understand this paragraph.

because on the image there was just powershell.exe and not the rest. So should I put the entire :  `powershell.exe/cmd.exe/WSL-bash.exe` ? And what about the key mentioned in this paragraph?  Sorry  it is certainly stupid questions but I would like to have

[2017-12-04 18:40] goncalogracamelo opened #978 "SSH Logs interpretation of date/ time"
This must be a very basic question but I have been searchin for some some time and havent figured out.

In the logs, whats the meaning of the first number:"13720", should this be the date?

For example:
13720 18:29:00:557 debug1: Bind to port 22 on ::.
13720 18:29:00:557 Server listening on :: port 22.

Can some help.
Thanks

[2017-12-04 18:47] manojampalam commented on #978
ProcessID

[2017-12-04 18:47] #978 closed, assigned to nobody

[2017-12-04 18:50] bingbing8 commented on #965
@saurabhverma999,  close this issue since this is on windows 2008 and also the issue by loading sspicli.dll has been fixed. Please open a different issue if you still see it repro on win 7.

[2017-12-04 18:50] #965 closed, assigned to bingbing8

[2017-12-04 18:51] #957 closed, assigned to bagajjal

[2017-12-04 18:52] #963 closed, assigned to manojampalam

[2017-12-04 18:52] manojampalam commented on #973
Windows inbox Beta version currently supports one key type (ed25519).
Please stay tuned for more info from @joeyaiello

Also, as @drichardson found below, there is an issue with passphrase protected private keys. As a work around, create passphrase-less private keys and register them with ssh-agent (this will encrypt and persistently store the private keys, so you don't have to register them again

[2017-12-04 19:04] manojampalam commented on #972
Thanks. Updated titles and wiki.

[2017-12-04 19:04] #972 closed, assigned to nobody

[2017-12-04 21:06] bagajjal commented on #977
Populate the powershell full path as shown in the picture

https://user-images.githubusercontent.com/23668037/32013581-67206dca-b970-11e7-8820-fde658d302c1.png

[2017-12-04 21:12] DarwinJS commented on #972
@manojampalam - thanks.  I think the previous reference to the universal installer as a note at the top of the install page (right before the install steps) was very helpful so that someone does not start down the long road of automating it themselves before they realize there is an automated install available.

Here is the page I mean: https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win3

[2017-12-05 10:02] goncalogracamelo commented on #978
Thank you for the very quick response.

How, can we add the date like "2017-01-01" to the time value that is being written?
Thanks again.

[2017-12-05 11:46] #797 closed, assigned to nobody

[2017-12-05 12:06] DarwinJS commented on #968
FYI - Get-UserSID from https://github.com/PowerShell/openssh-portable/blob/latestw_all/contrib/win32/openssh/OpenSSHUtils.psm1 is also very valuable as an export.

[2017-12-05 15:04] DaburLal opened #979 "VNC session not going through OpenSSH - PuTTY tunnel"
**Server OperatingSystem**
 `Windows 7 - sshd

**Client OperatingSystem**

Wndows 7 - PuTTY

**What is failing**

VNC session not going through OpenSSH - PuTTY tunnel

**Expected output**

VNC session should go through the established tunnel

I am trying to secure my VNC session using OpenSSH(ssshd) and Putty(client)(everything is on windows)

First I establish a tunnel using putty and then log in

[2017-12-05 15:08] Cambridgeport90 commented on #979
Why would you use PuTTY when you have SSH right there to use? Just wondering …

From: NoMad [mailto:notifications@github.com]
Sent: Tuesday, December 05, 2017 10:05 AM
To: PowerShell/Win32-OpenSSH <Win32-OpenSSH@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [PowerShell/Win32-OpenSSH] VNC session not going through OpenSSH - PuTTY tunnel (#979)

Server OperatingSystem
`

[2017-12-05 15:08] DaburLal opened #980 "VNC session not going through OpenSSH - PuTTY tunnel"
**Server OperatingSystem**
 `Windows 7 - sshd

**Client OperatingSystem**

Wndows 7 - PuTTY

**What is failing**

VNC session not going through OpenSSH - PuTTY tunnel

**Expected output**

VNC session should go through the established tunnel

I am trying to secure my VNC session using OpenSSH(ssshd) and Putty(client)(everything is on windows)

First I establish a tunnel using putty and then log in

[2017-12-05 15:15] DaburLal commented on #979
@Cambridgeport90 , Because every time i use ssh, it says host name or service cannot be resolved or unknown. That is why i am using PuTTY.
Also , since i downloaded openssh using universal installer, ssh_config file is missing

[2017-12-05 15:33] DaburLal opened #981 "Bad tun device"
Using ssh to establish a tunnel , it says bad tun device.

Here is what is obtained after ssh -vvv w21821@10.31.128.23

PS C:\Windows\system32> ssh -vvv w21821@10.31.128.23
OpenSSH_7.6p1, LibreSSL 2.5.3
debug3: Failed to open file:C:\\Users\\w21821/.ssh/config error:2
debug3: Failed to open file:./ssh_config error:2
debug2: resolving "10.31.128.23" port 22
debug2: ssh_connect_direct: needpriv 0
de

[2017-12-05 16:38] Cambridgeport90 commented on #981
I don’t think it’s the client.

From: NoMad [mailto:notifications@github.com]
Sent: Tuesday, December 05, 2017 10:34 AM
To: PowerShell/Win32-OpenSSH <Win32-OpenSSH@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [PowerShell/Win32-OpenSSH] Bad tun device (#981)

Using ssh to establish a tunnel , it says bad tun device.

Here is what is abtained after ssh -vvv w21821@10.3

[2017-12-05 18:36] chanducrr commented on #964
@jborean93 @manojampalam @bagajjal @bingbing8   I couldn't make it work windows server 2012 R2. Do you have any updates from the logs I've shared?.

May be it is related to this error?

88700 01:38:10:276 debug3: NetUserGetInfo() failed with error: 1722 for user: adminuser and domain: XYZORG \n
88700 01:38:10:308 debug3: NetUserGetInfo() with domainController: \\SW730XYZORGDC004 failed with error:

[2017-12-06 09:35] Leon-Straathof opened #982 "I am getting the error below after installing OpenSSH Win64 0.0.22.0 on Windows 2016 machine in Azure. Couldn't Create pid file "./sshd.pid": Permission Denied"
I am getting the error below in the logfile "C:\Program Files\OpenSSH\logs\sshd.log" after installing OpenSSH Win64 0.0.22.0 on Windows 2016 machine in Azure.

Couldn't Create pid file "./sshd.pid": Permission Denied

Self investigation into the problem:

Permissions are not set on folder "C:\Program Files\OpenSSH\logs\" but only on file "C:\Program Files\OpenSSH\logs\sshd.log".

Default (no PidFi

[2017-12-06 09:37] itnic commented on #787
Hi, I think I my patch is resolving this issue. Please can someone confirm it?

[2017-12-06 12:04] MathiasMagnus commented on #902
Yes, it would be nice if all the fixes could make it into the next release. Hungarian layout here, none of the characters that require AltGr work:

~<>[]#&@{};$\|

Just about everything used for programming.

[2017-12-06 18:01] bobanahalf opened #983 "Enter-PSSession : The SSH client session has ended with error message: The SSH transport process has abruptly terminated causing this remote session to break."
This looks the same to me as #840, but there are no notes there on what was wrong.

[code]
 CategoryInfo          : ResourceUnavailable: (:) [Enter-PSSession], PSRemotingTransportException
 FullyQualifiedErrorId : System.Management.Automation.Remoting.PSRemotingDataStructureException,Microsoft.PowerShell.Commands.EnterPSSessionCommand
[code]

[2017-12-06 18:10] bobanahalf commented on #983
This error was occurring with PowerShell 4.0. When I updated to 6.0.0-rc, it started working.

[2017-12-06 18:15] #983 closed, assigned to nobody

[2017-12-06 18:59] bagajjal commented on #902
@MathiasMagnus - We forgot to merge the PR (code fix) to the latest release.. Now its merged so the fix will be available in the next release (Dec-Mid, 0.0.25.0)

[2017-12-07 00:52] bagajjal commented on #936
@BrandonRoyal - Sorry for the late reply..
I have created the private [ssh-shellhost binary](https://github.com/PowerShell/Win32-OpenSSH/files/1537389/ssh-shellhost-DefaultShell-Issue.zip). Please use this binary (replace existing ssh-shellhost.exe with my private ssh-shellhost.exe), it will show error message and the configured default shell..
1) Use "Get-DefaultShell" command display the default

[2017-12-07 09:15] DaburLal commented on #981
@Cambridgeport90 , I was able to establish tunnel using ssh

[2017-12-07 09:16] #981 closed, assigned to nobody

[2017-12-07 09:24] DaburLal opened #984 "ssh -vvv help needed"
As i am trying to secure my VNC session using OpenSSH, i needed some help with ssh -vvv part.

Using the command `ssh -vvv w21821@10.31.128.23 -L 7934:10.31.128.23:5900
` i have been able to establish a tunnel

  C:\Users\w21821>netstat -aon | find ":7934"
  TCP    127.0.0.1:7934         0.0.0.0:0              ABHÖREN         5488
  TCP    [::1]:7934                     [::]:0                 ABHÖ

[2017-12-07 16:25] charabaruk opened #985 "$SSH_AUTH_SOCK fails to work with Gpg4win's gpg-agent"
**"OpenSSH for Windows" version**
 0.0.23.0

**Server OperatingSystem**
 N/A

**Client OperatingSystem**
 Windows 10 Pro Insider Preview

**What is failing**
`ssh` and `ssh-add -L` fail to retrieve keys from `gpg-agent` supplied with Gpg4win package when `$SSH_AUTH_SOCK` is set up instead of the `ssh-agent` service.

**Expected output**
[code]

**Actual output**
[code]

**Additional notes**

By co

[2017-12-07 18:29] charabaruk commented on #985
I just noticed that issue #827 already exists to cover this situation. Oops.

[2017-12-07 18:29] #985 closed, assigned to nobody

[2017-12-07 18:33] paulmcenaney opened #986 "New connections hang after a client sends ^C"
**"OpenSSH for Windows" version**
0.0.24.0
Installed from chocolatey repo.

**Server OperatingSystem**
Windows 10; Version 1709 (OS build 16299.64)

**Client OperatingSystem**
Windows 10; Version 1709 (OS build 16299.64)
(Same as server; connecting to itself from Ubuntu for Windows)

**What is failing**
After a client sends ^C (Ctrl+C, if you prefer the Windowsy way of writing it) to interrupt a c

[2017-12-07 18:37] charabaruk commented on #827
Given that UNIX domain sockets are pretty similar to Windows named pipes, I wonder if it'd be possible to create a program that sets up a named pipe that gets assigned to `$SSH_AUTH_SOCK` and then proxies between that and the socket set up by gpg-agent. I have a couple of concerns about that, though:

1. Is the protocol used by ssh-agent over named pipes byte-for-byte the same as for ssh-agent ove

[2017-12-07 18:40] paulmcenaney commented on #986
Here's ssh -vvv for one of the borked connections.
User, host, and domain have been replaced with "foo", "bar", and "baz", respectively.

[code]

It appears to fail before successfully getting the remote protocol version. (Compare against -vvv from any normal connection. I can include that if necessary.)

[2017-12-07 18:49] vovcacik commented on #985
Yeah looks like #827, but [notice that I used official gpg build for Windows][1] and not Gpg4Win. But it should be about the same.

[1]: https://github.com/PowerShell/Win32-OpenSSH/issues/827#issuecomment-321972634

[2017-12-07 18:54] vovcacik commented on #827
My `S.gpg-agent.ssh` contains port number and 16 byte cookie. I am using `ftp://ftp.gnupg.org/gcrypt/binary/`.

[2017-12-07 19:16] charabaruk commented on #827
@vovcacik what version of GPG do you have installed, and is it a Cygwin or MSYS build? They each have their own format for the sock file (or more than one possible format), all of which would need to be supported.

[2017-12-07 19:19] vovcacik commented on #827
@coldacid it is neither Cygwin-based, MSYS-based nor Gpg4win, but rather official native build.

[code]

[2017-12-07 19:30] charabaruk commented on #985
@vovcacik You might not be aware of this but Gpg4win packages the official GPG installer and runs that internally. Latest Gpg4win includes gnupg 2.2.3 build 20171120. There's nothing "unofficial" about the GPG build included in Gpg4win.

[2017-12-07 19:33] charabaruk commented on #827
@vovcacik Gpg4win uses the "official native build" as you put it. Could you update to 2.2.3 and see what the socket file looks like afterwards?

[2017-12-07 19:44] vovcacik commented on #985
@coldacid Ah, good to know. Last time I installed gpg4win I think it had outdated version of gpg, which seems not to be true anymore. Then I found lighter build on gpg's ftp server that was better fit for me.

[2017-12-07 20:37] manojampalam commented on #827
Protocol used by Windows version of ssh-agent is the same as in Unix. So a named pipe to network sock interop adapter should work for your case.

[2017-12-07 20:52] charabaruk commented on #827
@manojampalam excellent. I'll take some time this weekend to prototype one out.

[2017-12-09 06:10] hartois opened #987 "OpenSSHUtils: need check RefCount"
On running FixHostFilePermissions.ps1 or Repair-AuthorizedKeyPermission I get an error.
This is because the user has been recreated and the SID has changed. It is necessary to check RefCount attribute of records, because the presence of a record in ProfileList does not indicate that it is relevant.

**"OpenSSH for Windows" version**
`0.0.24.0`

**Server OperatingSystem**
`Windows Server 2012 R2 Da

[2017-12-10 02:40] charabaruk commented on #827
I whipped up a quick program that should provide a named pipe connected to gpg-agent but it unfortunately doesn't work. I'm not too good with low-level socket/stream stuff so perhaps someone else can figure out what I'm doing wrong for the actual communication between the pipe and the TCP socket served by gpg-agent.

I've put up the program as a gist: https://gist.github.com/coldacid/6e4e8306bcdc0

[2017-12-10 02:44] charabaruk commented on #827
Also it looks like `$SSH_AUTH_SOCK` requires the full pipe name (that is, `\\.\pipe\pipename` instead of `pipename`) in order to connect. Otherwise ssh and ssh-add try to open a regular file based on the environment variable's value instead.

[Edit] note to self: described at https://github.com/PowerShell/Win32-OpenSSH/issues/669#issuecomment-294310292

[2017-12-11 16:42] robehub opened #988 "scp - file name wildcards error - Protocol not available"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
0.0.24.0 32/64bit

**Server OperatingSystem**
Solaris 10

**Client OperatingSystem**
Windows 7

**What is failing**
scp.exe -F .\ssh_config test*.txt user@host:/home/user/

**Expected output**
"

[2017-12-12 08:26] nellfr commented on #856
Hello, were you able to reproduce this issue? I can provide additional information or logs whenever needed.

[2017-12-12 11:39] KindDragon commented on #389
Works for me with 0.0.24.0, but very slow 300 Kb/s cloning from GitHub (Git SSH give me 9Mb/s)

[2017-12-12 19:56] drichardson commented on #973
I have the same problem with RSA and ed25519 keys that have passphrases on them. It seems that the beta version only supports keys without passphrases.

[2017-12-12 20:10] bagajjal commented on #973
@drichardson - Are you using windows inbox openssh (or) you downloaded from our GitHub page?

[2017-12-12 21:55] joeyaiello commented on #968
@DarwinJS sorry for the lack of an update. We had some conflicting internal requirements here that I had to work through.

I know this point really stinks, but I do want to make it again for clarity: we're prepared to make breaking changes and rework the module in order to "do the right thing" from a PowerShell design perspective. (And thanks to you, I've got a ton of suggestion above for how we s

[2017-12-12 22:15] drichardson commented on #973
I installed _OpenSSH Client (Beta)_ from _Apps & features > Manage optional features_ on Window 10. I assumed this github project is the source for that, but perhaps I'm mistaken.

[code]

[2017-12-13 12:56] DarwinJS commented on #968
@joeyaiello - thanks for the consideration - very appreciated!

Some thoughts...
- I will work to be compatible very quickly - in order to use the exact code as provided through github I will likely just lag a little in the provision of the package when it occurs.

"**Better yet, if you could decouple and pick up the Gallery version that would be best.**"
- I'd like to stick with what's in the pac

[2017-12-13 13:39] ScottRFrost commented on #838
I just spent an hour trying to figure out what was wrong.

In addition to ssh-keygen not working, if you try to copy over a key with a password from WSL or an actual Linux machine, it tells you:
`Load key "C:\\Users\\XXXXXXX/.ssh/id_ed25519": invalid format`

[2017-12-13 15:41] ghost opened #989 "Failed connecting to legacy devices"
I have a group of legacy UPS devices, while connecting  with putty are successful, connections using Win32-OpenSSH always fails (all versions).

C:\WINDOWS\system32>ssh -c aes256-cbc RemoteUsername@11.170.184.40 -vvv
OpenSSH_7.6p1, LibreSSL 2.5.3
debug3: Failed to open file:C:\\Users\\UserMyself/.ssh/config error:2
debug3: Failed to open file:./ssh_config error:2
debug2: resolving "11.170.184.40"

[2017-12-13 22:52] jonathanpmartins commented on #838
Same problem here:

Load key "mykey.pem": invalid format

Similar thing happens when I try to use the Windows bash or native ssh on command prompt.

[2017-12-14 11:34] rjpackito commented on #856
Same problem, -n does not help

[2017-12-14 14:02] rjpackito commented on #856
You can help to solve the problem, since you need to deploy projects to the Windows server using ssh?

[2017-12-14 15:24] StefanScherer opened #990 "Using ssh.exe from WSL does not work properly"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 0.0.24.0

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductNa

[2017-12-14 17:06] DrPizza commented on #973
It's failing to work with either my RSA key or my ed25519 key.

[code]

Both keys (in putty format) work fine in PuTTY.

[2017-12-14 19:32] bagajjal commented on #989
please share us the sshd.log (DEBUG3 enabled)...

from the ssh client logs its unclear why the sshd server is sending protocol error.
Received disconnect from 11.170.184.40 port 22:2: protocol error

[2017-12-14 19:45] bagajjal commented on #990
This is an expected behavior.
vagrant terminal is not a standard console terminal so your ssh session is treated as "No pty session".

please see the highlighted (in red color) text.
![inked33999375-97df718a-e0ea-11e7-82a3-f5effa31c070_li](https://user-images.githubusercontent.com/23668037/34011317-7ffb439e-e0c4-11e7-8b15-b6d2fe43d815.jpg)

fyi, we call GetFileType() and expect it to return FILE_T

[2017-12-14 20:19] StefanScherer commented on #990
Thanks @bagajjal. Right after pasting my screenshot I also saw this message and looked through the sources, even tried `-t` flag, but no difference.
My screenshot that you have marked shows a direct WSL -> ssh.exe call without Vagrant. So it seems WSL does not forwards that it's a terminal, or at least in a another form as ssh.exe expects it?

[2017-12-14 20:23] bagajjal commented on #990
"-t" will be ignored because its not a standard terminal.

Include the ssh.exe in the path and try the same from powershell/cmd.exe, that should solve your problem.

[2017-12-14 20:46] StefanScherer commented on #990
OK. Yes, I know that it works from a PowerShell terminal. Also vagrant ssh works from there. But I would like to switch to WSL and use only this the whole day. Not switching back and forward between this command in WSL and that command in PowerShell.
How can we make WSL + ssh work better together?

[2017-12-14 20:52] bagajjal commented on #990
Have you tried the ssh that comes with the WSL?

[2017-12-14 20:58] StefanScherer commented on #990
Yes, of course. That works fine, thanks.
It's only the combination of my everyday tools like Vagrant.
I could try to install Linux Vagrant in WSL, but then I'm not able to run VMware Workstation.
That's why I try Windows version of Vagrant + "alias vagrant vagrant.exe" in WSL. But then the ssh command will be called on the Windows side and here I'm stuck.
It would be much easier if the barrier bet

[2017-12-14 21:26] robertpeteuil commented on #973
This may only be an issue with the debug output, but the key-value displayed shows two different delimiting character schemes (1/2 windows + 1/2 POSIX):

[code]

- The first half (User Home Directory) is correctly using windows path delimiting characters `\\`
  - this is likely populated by a function/API that checks or is platform specific
- The second half (`.ssh` and `id_rsa`) is using POSIX pa

[2017-12-14 21:33] bagajjal commented on #973
@robertpeteuil - Different delimiters is a display issue but not a functionality issue.
As @manojampalam  mentioned, Windows inbox Beta version currently supports one key type (ed25519).

One key thing to focus is we support only utf-8 encoding file format .

[2017-12-14 21:55] bagajjal commented on #990
From vagrant console, you are invoking "windows vagrant.exe" from WSL which requires "windows ssh client"?
Is it possible from powershell, get into WSL and from there you can invoke "windows vagrant.exe"?
If yes then you don't see this problem.
If not then try other ssh clients (like putty/Cygwin)..

From windows openssh side we can't support this scenario because we internally use the windows con

[2017-12-14 22:09] StefanScherer commented on #990
Ok, I tried powershell.exe -> ubuntu WSL -> windows vagrant ssh

<img width="963" alt="bildschirmfoto 2017-12-14 um 23 00 43" src="https://user-images.githubusercontent.com/207759/34016581-bd3ae1f2-e122-11e7-8934-809e2f38c815.png">

Now I have to press ENTER multiple times to (eg. ls + 5x ENTER).

Windows Vagrant comes with a embedded Cygwin ssh, same problem there.

I tried the other way around:

[2017-12-14 22:15] bagajjal commented on #990
can you try using windows openssh client instead of vagrant ssh and try the same steps
powershell -> Ubuntu WSL -> vagrant using windows openssh client (not embedded Cygwin ssh client).

[2017-12-14 22:19] adaugherity opened #991 "Short username support in ssh client"
When you don't specify a username, the ssh client apparently uses `user@domain` rather than just `user` as I would expect.  Apologies if this is expected behavior and documented somewhere, but I could not find any such documentation.

I realize defaulting to user@domain may make sense in the Windows world, but to me, a longtime *NIX user, it does not match what I expect from ssh.

**"OpenSSH for W

[2017-12-14 22:37] StefanScherer commented on #990
OK, I've tried serveral things now without Vagrant, just to keep it simpler and third party tools out of the way. Here are five scenarios:

**Ubuntu WSL -> Ubuntu ssh**
works as expected, as everything keeps in the WSL world

<img width="775" alt="wsl-ssh-fine" src="https://user-images.githubusercontent.com/207759/34017705-1c37e318-e127-11e7-9ff2-a8a510f1209a.png">

**Ubuntu WSL -> windows openssh

[2017-12-14 23:54] robertpeteuil commented on #973
@bagajjal - thanks for the clarification.   I'm guessing you saw my post via email notification?

I deleted it almost immediately as I realized the key was sucesfully read earlier in the log.

[2017-12-15 01:18] bagajjal commented on #990
Thanks for trying different configurations.

I debugged further. It's not possible to have ssh pty session when launched from WSL (Windows subsystem for Linux) no matter you logged into WSL from powershell/cmd/from other console terminal.

Here is the detailed explanation,
windows ssh.exe allocates a pty session only if ssh.exe has access to the console terminal.
sshd will instruct the ssh.exe cli

[2017-12-15 06:50] rjpackito commented on #856
@bagajjal

[2017-12-15 08:14] StefanScherer commented on #990
Thanks @bagajjal for looking into it and asking in WSL project. I've subscribed these issues.
Well it seems this is a hard problem for the tech industry:
Look at https://hashicorp.com and scroll down to the bottom. There, in dark gray letters :-) It's a running gag at HashiCorp.

[2017-12-15 08:19] rjpackito opened #992 "SSH does not work through Gitlab Runner"
Please answer the following

**"OpenSSH for Windows" version**
0.0.24.0

**Server OperatingSystem**
Windows Server 2012 R2

**Client OperatingSystem**
Windows Server 2012 R2

**What is failing**
ssh -n user@server xcopy

**Expected output**
no Error

**Actual output**
GetConsoleMode on STD_INPUT_HANDLE failed with 6

I run the csh with the -n flag, but the error repeats. Nothing helps. It is neces

[2017-12-15 09:45] rebelholic commented on #907
@dheater  Already tried with your solution but still not luck for Win Server 2016. Could anyone to help me to fix this problem?

[2017-12-15 14:41] ThomasEBoland opened #993 "ssh-keygen doubling up hostname in .pub"
**"OpenSSH for Windows" version**
0.0.18.0

Loaded from *Optional Features* (the standard way) on 2017-12-14.

**Client OperatingSystem**
Windows 10 Pro 64-bit

**What is failing**
ssh-keygen.exe

Simple beta problem. The user@host comment at the end of the .pub is doubling up the hostname.
Happened on both my computers at home.
_No_ impact on operations, It's just a comment and can be edited down

[2017-12-15 19:30] bagajjal commented on #993
it will be in user@domain@machinename format.
is domain& machinename same in your case?
This is just a comment so it will not do any harm.

[2017-12-15 19:35] ThomasEBoland commented on #993
That explains it. Good enough. Close it.

I don't use an identified domain on these computers. Also, different from the Linux machines I have seen, which were all user@host.

[2017-12-15 19:35] #993 closed, assigned to bagajjal

[2017-12-15 19:56] bagajjal commented on #990
Closing this issue as it's related to WSL.
Please track the issue on https://github.com/Microsoft/WSL/issues/2406

[2017-12-15 19:56] #990 closed, assigned to bagajjal

[2017-12-15 20:32] k-y opened #994 "Cannot invoke remote commands using bash -c"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
0.0.24

**Server OperatingSystem**
Windows Server 2016 Datacenter

**Client OperatingSystem**
CentOS 7.1.1503

**What is failing**
DefaultShell = C:\cygwin64\bin\bash.exe

We cannot execute scri

[2017-12-15 22:07] bagajjal commented on #994
on the ssh server side, did you configure Defaultshell  in the windows registry(HKLM\SOFTWARE\OpenSSH\DefaultShell)? If yes then there is no need to mention bash -c.

[2017-12-15 22:18] bagajjal commented on #977
please reopen if you have issues..

[2017-12-15 22:18] #977 closed, assigned to bagajjal

[2017-12-15 22:18] #975 closed, assigned to bagajjal

[2017-12-15 22:19] bagajjal commented on #936
Any update on this?

[2017-12-15 22:27] bagajjal commented on #973
@DrPizza - As per logs ed25519 is not found.
debug1: identity file C:\\Users\\DrPizza/.ssh/id_ed25519 type -1
debug1: key_load_public: No such file or directory

[2017-12-15 22:30] DrPizza commented on #973
@bagajjal Yes, that's why I included the directory listing before the log. Why is the file not found? It's there, as the directory listing shows.

[2017-12-15 22:33] bagajjal commented on #973
@DrPizza  - ah, missed that (directory listing)..
can you please share DEBUG3 (-vvv) enabled ssh logs
"ssh -vvv user@lunix.quiscalusmexicanus.org"

[2017-12-15 22:53] DrPizza commented on #973
I'm not sure I can. It's now connecting without issue, using the ed25519 key. I haven't knowingly changed anything since yesterday, so I'm not sure what's making it work now.

[2017-12-15 23:04] bagajjal commented on #973
@DrPizza - Good to know that its working now.. It would be great if you can update your [blog](https://arstechnica.com/gadgets/2017/12/microsoft-quietly-snuck-an-ssh-client-and-server-into-the-latest-windows-10/) so that people will not be missguided.

[2017-12-15 23:14] joeyaiello commented on #973
Got the blog published: https://blogs.msdn.microsoft.com/powershell/2017/12/15/using-the-openssh-beta-in-windows-10-fall-creators-update-and-windows-server-1709/

[2017-12-16 00:22] elijahgagne commented on #33
Two years later, it looks like this is still a problem:

[code]

[2017-12-16 00:24] bagajjal commented on #856
@nellfr - I tried the command you gave me but couldn't reproduce "GetConsoleMode on STD_INPUT_HANDLE failed with 6".

![image](https://user-images.githubusercontent.com/23668037/34065184-5cef3f36-e1b4-11e7-83d8-9a0562665adc.png)

[2017-12-16 00:40] bagajjal commented on #33
@elijahgagne - I guess you are using windows inbox version of openssh (not from GitHub).
fyi, the initial version of windows inbox openssh doesn't have support for all crypto algorithms that comes from libressl. You are always welcome to try the GitHub binaries that has the full support.

please go over our public posting https://blogs.msdn.microsoft.com/powershell/?p=13846&preview=true

[2017-12-16 02:13] Cambridgeport90 commented on #973
Love this one? I can’t believe it’s coming together nicely. Thank God.

From: Joey Aiello [mailto:notifications@github.com]
Sent: Friday, December 15, 2017 18:14
To: PowerShell/Win32-OpenSSH <Win32-OpenSSH@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [PowerShell/Win32-OpenSSH] SSH Client fails to use existing id_rsa key (#973)

Got the blog published: https://blo

[2017-12-16 10:07] rjpackito commented on #856
@bagajjal @havalli @nellfr Can there be a problem in Gitlab? I wrote C # code that executes ssh and it normally works.

[2017-12-16 20:36] elijahgagne commented on #33
@bagajjal Thanks. I tried the GitHub version and it does indeed work for me.

[2017-12-16 21:31] bagajjal commented on #971
Any update on this?

[2017-12-17 04:02] ghost commented on #838
Still have this problem on Windows 10 using the beta from "Additional Features". Is there any way to create a key that is usable?

[2017-12-17 08:35] rjpackito commented on #992
Please. Need your help.

[2017-12-17 11:08] nellfr commented on #856
@bagajjal , I am executing the ssh command with "-n" can you try with that parameter please?
Also I observed that the "GetConsoleMode on STD_INPUT_HANDLE failed with 6" is raised after my target script (script_wrapper.ps1 on SSH server) runs during several minutes. I would suggest to sleep your script "getdate.ps1" for 5 minutes.

[2017-12-17 11:11] nellfr commented on #856
hello @rjpackito , I'm not sure to understand the problem you are facing with ssh. Do you observe "GetConsoleMode on STD_INPUT_HANDLE failed with 6" message while running an ssh command ?

[2017-12-17 12:03] rjpackito commented on #856
@nellfr Yes, I see the same error during the execution of the script on Gitlab Runner CI/CD . I can not understand what the problem is. Because the SCP command works fine. I really need the SSH to deploy on my remote machine my dotnet core application

[2017-12-18 10:55] mgkuhn opened #996 "CMDKEY fails to add credential in ssh session 0"
**"OpenSSH for Windows" version**
0.0.24.0

**Server OperatingSystem**
Windows 7 Professional (64 bit)

**Client OperatingSystem**
Ubuntu 16.04 (or any other, does not matter here)

**What is failing**
The way sshd currently sets up the login processes prevents me from saving there any Active Directory credential (Kerberos ticket) obtained using either the CMDKEY or NET USE commands. This prevents

[2017-12-18 12:26] mgkuhn commented on #996
Looking at the source, what sshd does to create the login process is to call in auth-passwd.c the function [LogonUserExExW](https://msdn.microsoft.com/en-us/library/windows/desktop/bb540756(v=vs.85).aspx) with
[code]
and then pass the received token in session.c to [CreateProcessAsUser](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682429(v=vs.85).aspx) with
[code]
I wonder why the fi

[2017-12-18 12:34] mgkuhn commented on #139
That drive mappings remain restricted to a single session is perfectly sane and fine. However, the problem remains that we still can't access SMB network shares via ssh. The real problem here is #996, namely that sshd does not set up the user-process properly in a new terminal-server session to allow it to store credentials, and therefore both CMDKEY and NET USE fail when they try to store a crede

[2017-12-18 12:41] mgkuhn commented on #926
At the technical level, is the problem perhaps that Windows does not currently notice that a new user has logged into it via sshd, because sshd does not currently (as of 0.0.24.0) behave like a terminal service and create a new session id for each user login (and keeps instead all user processes within session 0, which is only meant for services, i.e. the user does not show up when you run QUERY S

[2017-12-18 13:13] mgkuhn commented on #996
The Bitvise SSH Server User's Guide has a good summary of some of the differences between LOGON32_LOGON_NETWORK_CLEARTEXT and LOGON32_LOGON_INTERACTIVE: https://www.bitvise.com/wug-logontype

While the currently used LOGON32_LOGON_NETWORK_CLEARTEXT may be the correct form for things like SFTP access, for shell access LOGON32_LOGON_INTERACTIVE would seem much more appropriate.

[2017-12-18 17:51] mgkuhn commented on #996
Unfortunately, I can't find anywhere in Microsoft's API documentation any hint on how to start a new session. For example https://msdn.microsoft.com/en-us/library/aa383496(v=vs.85).aspx just explains that "When a user logs on [...] a session is started for the user. Each session is identified by a unique session ID." But it gives no hint as to what the developer of a remote-access server such as s

[2017-12-18 18:06] jems99 opened #997 "Error: Accept: Connection Reset"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

Latest build

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name Produ

[2017-12-18 18:31] cxhercules commented on #997
I started getting this all weekend, several times per second after about 10 hours possibly and disk space was filled by a sshd.log of 16 gigs.

"OpenSSH for Windows" version: v0.0.22.0

Server OperatingSystem: 2012r2 build 9600

Client OperatingSystem

What is failing:
We are getting constant error message "Error: Accept: Connection Reset" and this has filled disk space.

[2017-12-18 19:54] bagajjal commented on #997
Can you provide the sshd.log with DEBUG3 enabled..
Are you seeing this issue all the time?
Also have you tried restarting sshd deamon process (net stop sshd; net start sshd)? Did it help?

Unfortunately we don't have log throttling mechanism as our long term goal is to move away from log file to windows logging..

As a workaround to throttle the sshd log,
create a task scheduler task that would ru

[2017-12-18 19:58] jems99 commented on #997
For me the log is this message over and over: Error: Accept: Connection Reset

When the application gets into this state no connections can be established. Restarts both services fixes the issue for about 10 minutes and then it happens again. Right now we can't use SFTP because of this.

[2017-12-18 19:58] jems99 commented on #997
I can run in DEBUG3 and provide shortly.

[2017-12-18 19:59] cxhercules commented on #997
Yes seems related to issue https://github.com/PowerShell/Win32-OpenSSH/issues/935 and will see if I can set to debug3 and set this task in place as well.

Thanks

[2017-12-18 20:01] bagajjal commented on #997
it would be great if you can repro the issue and provide the complete log file that covers service restart, working for 10 minutes and start seeing the issue again..

issue #935 is about log throttling but not related to this.

[2017-12-18 20:01] cxhercules commented on #997
This morning came in and everything was down because all disk were full on ssh enabled windows systems so had to quickly get them back up and running, but did investigate on one system and that is how I found the log file. I will add more info as I gather it, thanks.

[2017-12-18 20:02] cxhercules commented on #997
Well it relates to this in that it filled the disk space or create huge log file, but understood. I thought maybe they just did not show the error message that filled the log. Seemed to me it could have been same error.

[2017-12-18 20:10] bagajjal commented on #997
If you have a close look at the #935 description, they are using 0.0.10.0 (might be a year old).. The current version is 0.0.24.0..

[2017-12-18 21:12] cxhercules commented on #997
I did see that, and thank you.

[2017-12-18 21:46] cxhercules commented on #997
@bagajjal by the way I tested your script and works, but 25MB should be represented as 26214400.

[2017-12-18 22:35] bagajjal commented on #997
This might be related to #787

fyi, we couldn't reproduce #787 as well and we don't have proper logs (DEBUG3 enabled)..
It would be great if you can provide sshd.log with DEBUG3 enabled so that we can analyze from log file.

[2017-12-18 22:54] cxhercules commented on #997
Thank you I will check with team to find out if these systems are in fact being scanned. I will set some systems to debug3 in effort to resolve this issue.

[2017-12-19 00:39] bagajjal commented on #856
@nellfr - adding "-n", sleep of 5 minutes works perfectly... I didn't see any issue.

@rjpackito - This is a ssh client side issue. You can try other ssh clients (putty/Cygwin) if you are blocked. Unfortunately I couldn't reproduce this issue. It would be great if you can provide reproduction steps.

[2017-12-19 03:58] rjpackito commented on #856
@bagajjal that is, you can not fix the problem in OpenSSH? Can you install the Gitlab Runner?

[2017-12-19 09:29] ghost opened #998 "Opening native graphical application from remote shell"
**"OpenSSH for Windows" version**
 `0.0.24.0`

**Server OperatingSystem**
 `Windows 10 Enterprise 2016 LTSB`

**Client OperatingSystem**
`Windows 10 Enterprise`

**What is failing**
Graphical windows are not showing in user's workspace.

**Expected output**
Window of graphical application should appear on user's workspace when logged in. For example if I am at the server logged in as UserA then pr

[2017-12-19 11:50] DarwinJS commented on #998
At a minimum, I believe that would be the "Session 0 Isolation" security feature of Windows.

You can read more about why it exists and how it works here: https://blogs.technet.microsoft.com/askperf/2007/04/27/application-compatibility-session-0-isolation/

[2017-12-19 12:05] ghost commented on #998
Ok, so if I was to set the service to run as the exemplary UserA then it should be able to run in the Session 1. Am I comprehending it correctly?

[2017-12-19 12:30] DarwinJS commented on #998
No all services run in session 0 by default.  There is not a way to get a service to run in session 1.  Additionally, any process a service simply launches runs in session 0.

There one other possible complexity in what you are expecting - even if sshd tried to launch a process as the user - it would also have to log them in and create a desktop to place the window on that you are requesting.  If

[2017-12-19 13:01] ghost commented on #998
I tried running it as a local application and not as an service but when I successfully login it always fails on `fatal: ERROR. Cannot create process (1314).\n`. So I am pretty lost now.
Is there some tool to run something in user's workspace as a workaround? I am ok with supplying password to the service.

[2017-12-19 13:07] DarwinJS commented on #998
I have been explaining how session 0 isolation works in general and affects the use case you were after.

That is completely separate from whether you can successfully setup sshd.exe as a background process in your user session.

I don't think you can because sshd.exe wants to have the permissions on host key files and ssh keys locked down to the service account context it normally runs under "NT

[2017-12-19 13:15] ghost commented on #998
Yes, it actually does run when I fixed the permissions but when it tries to spawn the `cmd.exe` it fails probably due to insufficient rights.
It is not primary use for sure, but thank you for looking into it. We use it as a workaround for executing automated tasks. We used to use FreeSSHd so we tough this would be more appropriate way but unfortunately it does not suit our needs.

[2017-12-19 14:18] DarwinJS commented on #998
You might want to look into the windows scheduler - it is quite flexible for this:
- Works remotely
- you can trigger a task immediately
- you can trigger at task once only
- you can change user contexts (if you code their password into the job OR you schedule the job with their user id (and no password) for next logon

FYI - I love PowerShell but scheduled tasks is one area I find them unnecessar

[2017-12-19 18:04] mslicensing commented on #926
One of the fundamental principles of Microsoft licensing is this one, from Microsoft Product Terms:
"Multiplexing or pooling to reduce direct connections with the software does not reduce the number of required Licenses."
That applies to things liked pooled database connections and it would apply here. The fact that Windows may see only a single session, does not excuse you from having to license

[2017-12-19 18:48] bagajjal commented on #856
Have you tried other ssh clients? If it works in putty then we can fix in openssh... Right now I can't repro the issue.. I will try the gitlab runner.. Meanwhile try using different ssh client like putty

[2017-12-19 18:52] rjpackito commented on #856
@bagajjal I do not know, can putty do xcopy through cmd?

[2017-12-20 01:13] bagajjal commented on #856
I didn't understand your question..
All the ssh commands get executed on the server side.. ssh client will not execute any command..

[2017-12-20 11:03] timoabend commented on #838
Hi!

Same problem here when I enter a passphrase. It works, if I leave it blank.

Greetings
  Timo

[2017-12-23 01:53] ghost opened #999 "Port forwarding / tunnelling with -fN doesn't go into the background"
**"OpenSSH for Windows" version**
 `0.0.24.0`

**Client OperatingSystem**
Windows 10 Pro 1703

**What is failing**
`ssh -fN -L2222:somehost:22 someotherhost` should *go into the background* while the tunnel remains open

The tunnel works, but the command ties up the terminal - it doesn't go into the background

[2017-12-23 04:25] ghost commented on #998
[Bitvise SSH Server](https://www.bitvise.com/) properly manages Windows Stations, which has been a problem with OpenSSH running on Cygwin in the past. [It looks like](https://fogbugz.bitvise.com/default.asp?Tunnelier.2.3500.7) Bitvise does not, however, implement any kind of X11 forwarding-esque feature, even though it technically should be possible.

The server would have to get a handle to your

[2017-12-23 16:40] byronigoe commented on #838
Same problem here. So, the bug was fixed on 2017-08-15, but the new build hasn't made it into the Windows OpenSSH beta?

[2017-12-23 19:03] shadhin16121996 opened #1000 "Cant install ssh"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).Produc

[2017-12-24 03:47] bagajjal commented on #1000
You might not have sufficient permissions to install-sshd.ps1

[2017-12-24 03:53] bagajjal commented on #838
Please wait for the new Windows update..
FYI, meanwhile you can try our github version that has the latest and greatest changes..

[2017-12-24 15:33] byronigoe opened #1001 "ssh-keygen.exe types DSA, ECDSA, RSA not supported"
Please answer the following

**"OpenSSH for Windows" version**
Beta

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
ssh-keygen lists various unusable encryption types in the help output:
usage: ssh-keygen [-q] [-b bits] [-t dsa | ecdsa | ed25519 | rsa]
                  [-N new_passphrase] [-C comment] [-f output_keyfile]
Try to use anything but ed25519 and it fails.

**Expected ou

[2017-12-24 15:38] trgrassijr55 opened #1002 "OpenSSH fails to start on Windows 2012 R2 server"
Windows 2012 R2 VM

Installed OpenSSH by running the instll-sshd.ps1 file
opened powershell as administrator
I then went to services as started ssh-agent that started no problem.
When I tried to start sshd it failed
event ID 7034
the sshd service terminated unexpectedly it has done this 4 times.
I left the sshd_config file all default.

What else can I look for?

[2017-12-24 20:26] hamedsbt opened #1003 "Public Key Auth. failed (Windows 10 as Server)"
**"OpenSSH for Windows" version**
OpenSSH_7.6, LibreSSL 2.5.3 Win32 (tested x86 & x64)

**Server OperatingSystem**
Windows 10 B.1703

**Client OperatingSystem**
Windows 10 (same device as ssh server)

**What is failing**
Authenticate with "publickey" not works :( several days tried

**Expected output**
Authenticate Success without keyboard-interactive

**Actual output**
2808 23:50:10:820 debug3: f

[2017-12-24 22:44] bagajjal commented on #1003
Looks like ssh-agent is not running..

1844 23:50:12:668 debug1: unable to send pubkeyauth request

[2017-12-24 22:46] bagajjal commented on #1001
Looks like you are using the windows inbox version of openssh.  If yes the this is expected.. The initial version has support for only ed25519..

You can try our github version that has latest and greatest version..

[2017-12-24 22:47] bagajjal commented on #1002
Try to start the sshd in debug mode (./sshd.exe -ddd)..

[2017-12-24 23:01] trgrassijr55 commented on #1002
PS C:\openssh\openssh-win64> .\install-sshd.ps1
[SC] SetServiceObjectSecurity SUCCESS
[SC] ChangeServiceConfig SUCCESS
[SC] ChangeServiceConfig2 SUCCESS
sshd and ssh-agent services successfully installed
PS C:\openssh\openssh-win64> ./sshd.exe -ddd
debug2: load_server_config: filename ./sshd_config
debug2: load_server_config: done config len = 231
debug2: parse_server_config: config ./sshd_config

[2017-12-24 23:57] bagajjal commented on #1002
Did you generate the host keys?

https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

Follow step 8,9

[2017-12-25 01:20] trgrassijr55 commented on #1002
No these are the instructions I been looking for

Thanks will give it a try

[2017-12-25 01:57] trgrassijr55 commented on #1002
Almost there
which account is this looking for tying to use domain accounts not local accounts

PS /root> Enter-PSSession -HostName 10.2.8.32 -UserName myvm\administrator
myvm\administrator@10.2.8.32's password:
Enter-PSSession : The background process reported an error with the following me  ssage: The SSH client session has ended with error message: subsystem request fa  iled on channel 0.
At li

[2017-12-25 03:04] trgrassijr55 commented on #1002
I can now ssh to my Windows 2012 R2 server from my CENT OS server

Now need to get Powershell invoke-command and enter-pssesion to work

[2017-12-25 05:39] bagajjal commented on #1002
Check for the sshd.log by enabling DEBUG3

[2017-12-25 14:12] trgrassijr55 commented on #1002
PS C:\> dir

    Directory: C:\

Mode                LastWriteTime         Length Name
----                -------------         ------ ----
da----        9/14/2017  11:58 PM                bginfo
d-----       12/24/2017   5:57 PM                OpenSSH
d-----        8/22/2013  11:52 AM                PerfLogs
d-r---        9/23/2017  10:30 AM                Program Files
d-----        9/23/2017

[2017-12-25 16:22] bagajjal commented on #1002
Error 1326 means, Credentials are wrong..
Is it a domain account? If yes, try ssh.exe user@domain@ip

https://msdn.microsoft.com/en-us/library/windows/desktop/ms681385(v=vs.85).aspx
ERROR_LOGON_FAILURE
1326 (0x52E)
The user name or password is incorrect.

[2017-12-25 16:22] hamedsbt commented on #1003
thank you for your reply, but ssh-agent is running, I did pay attention to "unable to send pubkeyauth request" log but I could not to fix it. the "**ssh-agent.log**" contain error:
**"cannot process request: client process is not admin or sshd"**
How I can resolve it?

[2017-12-25 16:23] bagajjal commented on #1001
Reopen if required

[2017-12-25 16:23] #1001 closed, assigned to bagajjal

[2017-12-25 16:25] bagajjal commented on #997
Any update on this

[2017-12-25 16:28] bagajjal commented on #1003
Sshd should run as Nt service/sshd or as admin.. You need to fix this..

[2017-12-25 16:29] bagajjal commented on #1003
Try running uninstall-sshd.ps1... Followed by  install-sshd.ps1

[2017-12-25 18:37] hamedsbt commented on #1003
Thank you again for your reply, I did reinstalled the services and old error gone. I did ran **FixHostFilePermissions.ps1** and **FixUserFilePermissions.ps1** without any issue, also I'm pretty sure the file "**C:\Users\Hamedsbt\.ssh\authorized_keys is exist**" and it's **ED25519 public key** but get another error on **sshd.log**:
6628 22:00:58:307 debug1: userauth-request for user hamedsbt servic

[2017-12-25 18:46] hamedsbt commented on #1003
**Thank you for your support.**
Finally after spending many days I'm successfully logged in via **Win32-OpenSSH** now I'm going to integrate it with Git on single device as Git-Server & Git-Client.
**my issues resolved**, Thank you!

[2017-12-25 20:28] #1003 closed, assigned to bagajjal

[2017-12-26 00:11] ghost opened #1004 "Issue with Nano"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
This is OpenSSH Beta installation via Windows Optional Features
Output for ((Get-Item (Get-Command **ssh**).Source).VersionInfo.

[2017-12-26 01:16] trgrassijr55 commented on #1002
the account is a domain account

PS C:\openssh\openssh-win64> ./sshd.exe -ddd
debug2: load_server_config: filename ./sshd_config
debug2: load_server_config: done config len = 231
debug2: parse_server_config: config ./sshd_config len 231
debug3: ./sshd_config:50 setting AuthorizedKeysFile .ssh/authorized_keys
debug3: ./sshd_config:115 setting Subsystem sftp        sftp-server.exe
debug3: ./sshd_con

[2017-12-26 02:04] bagajjal commented on #1004
Please wait for the next windows update or use the latest github version..

[2017-12-26 02:04] #1004 closed, assigned to nobody

[2017-12-26 02:13] bagajjal commented on #1002
You need to specify subsystem powershell in sshd_config

debug2: subsystem request for powershell by user proxyadmin@myvm
subsystem request for powershell by user proxyadmin@myvm failed, subsystem not found
debug3: send packet: type 100

[2017-12-26 02:23] trgrassijr55 commented on #1002
My sshd_config

Where and how?

#	$OpenBSD: sshd_config,v 1.84 2011/05/23 03:30:07 djm Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
#

[2017-12-26 03:06] ghost commented on #1004
Thanks for your reply, not much of a solution. I will go back to using Putty. Cheers

[2017-12-26 04:43] trgrassijr55 commented on #1002
[sshd_config.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1586568/sshd_config.txt)

Sorry the last post did not include everything so I attached the sshd-config as sshd-config.txt

[2017-12-26 14:58] trgrassijr55 commented on #1002
Hi again

I tried this

# override default of no subsystems
Subsystem	sftp	sftp-server.exe
Subsystem       tcp     powershell.exe

Still get the same error
subsystem request for powershell by user proxyadmin@myvm failed, subsystem not found

What is the correct syntax?

[2017-12-26 15:15] trgrassijr55 commented on #1002
Update

I found something and now getting further.

# override default of no subsystems
Subsystem	sftp	sftp-server.exe
Subsystem powershell C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -sshs -NoLogo -NoProfile

When I run this
PS /root> Invoke-Command -HostName '10.2.8.32' -username myvm\proxyadmin -ScriptBlock {get-process}
myvm\proxyadmin@10.2.8.32's password:
[10.2.8.32] The SSH cl

[2017-12-27 17:50] trgrassijr55 commented on #1002
added this subsystem

Subsystem 	powershell	C:/Program Files/PowerShell/6.0.0-rc.2/pwsh.exe -sshs -NoLogo -NoProfile

STILL POWERSHLL DOES NOT WORK.

[2017-12-27 22:46] megamorf commented on #1002
@trgrassijr55  Please wrap your logs in 3 backticks (either manually or use the insert code button of the editor pane). It'll be a lot easier to help when your posts are not a complete mess.

[2017-12-28 02:30] trgrassijr55 commented on #1002
Thanks I see that now.

Jut hoping someone can answer this problem.

[2017-12-28 03:36] trgrassijr55 commented on #1002
I got this working now
Had to install PowerShell 6.0.0-rc2 on my Windows 2012 R2 server

Now off to see if it will work without OpenSSH

Mark this as closed and resolved

[2017-12-28 04:59] #1002 closed, assigned to bagajjal

[2017-12-28 05:01] bagajjal commented on #1000
Please reopen of required..

[2017-12-28 05:01] #1000 closed, assigned to bagajjal

[2017-12-28 05:03] bagajjal commented on #999
There is no concept of running background console jobs in Windows??

[2017-12-28 05:04] bagajjal commented on #994
Any update on this?

[2017-12-29 17:52] GaryDYelle opened #1005 "Terminating ANSI Escape Sequences with Semicolon"
**"OpenSSH for Windows" version**
 `0.0.24.0`

**Server OperatingSystem**
 `Windows 10 Pro`

**Client OperatingSystem**
 `cmd.exe` and `Git for Windows 2.15.1.2`

**What is failing**
Win32-OpenSSH converts all escape sequence and terminates them with a semicolon. This semicolon resets the color to white.

For example, Win32-OpenSSH converts the escape sequence for red `\033[31mtest` to `\033[0;39;

[2017-12-29 23:36] seanpoulter commented on #445
I've been keeping an eye on this for quite a while and am excited by the work. It's come up a few times talking to folks about the project -- any guess-estimates when this'll be "production" ready? Thanks!

[2017-12-30 01:16] ZURYB opened #1006 "Server port selecting does not work on scp.exe"
Using "-P" on the command line for scp.exe to select the server port does not work. It attempts to connect to port 22.

**"OpenSSH for Windows" version**
scp.exe v0.0.24.0

**Client OperatingSystem**
Windows 7 x64 SP1 + security patches

**What is failing**
`scp -P 12345 -i x:\key\mykey.key user@1.2.3.4:/home/user/upload/* x:\download`

**Actual output**
`ssh: connect to host 1.2.3.4 port 22: Conn

[2017-12-30 04:29] bagajjal commented on #445
We still don't have the time frame  for the production ready code.
We shipped openssh as feature on demand in Windows 10 fall creators update.
We will update the status in #688.

[2017-12-30 04:57] miguel7penteado commented on #958
Appears that:
1-The name of sshd service account "username" must be "NT SERVICE\SSHD", case-sensitive or
2-The sshd service account username (choosed manually by sysadmin) must be member of builtin "administrator" group.
3-The sshd service account username CANNOT BE  "NT Authority\Local Service" or "NT Authority\Network service".
If that conditions is respected, ssh-agent works.
PS: Appears that M

[2017-12-30 20:42] codearoo opened #1007 "SSH host key permissions not working"
Please answer the following

**"OpenSSH for Windows" version**
OpenSSH_7.6p1, LibreSSL 2.5.3
but the GitHub release is openssh 0.0.24.0  which I installed via Chocolatey.

**Server OperatingSystem**
Windows Server 2008 R2 Datacenter

**What is failing**
Permissions with host keys.

sshd by default using your install-sshd.ps1 script installs using some "NT SERVICE\SSHD" account which I don't actual

[2017-12-30 23:58] codearoo commented on #1007
Somehow I once managed to change the permissions and get something working with an older version, but then I re-tried with this latest version and I'm really confused. Look at this output below... how is it possible this private key file is accessible by others???

`C:\Program Files\OpenSSH-Win64>ssh-add ssh_host_dsa_key
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@         WARNING

[2017-12-31 00:11] codearoo commented on #1007
Oh!!  According to your instructions, this step does not work:
powershell -ExecutionPolicy Bypass '.\FixHostFilePermissions.ps1 -Confirm:$false'

Here is the output:
`C:\Program Files\OpenSSH-Win64>powershell -ExecutionPolicy Bypass '.\FixHostFile
Permissions.ps1 -Confirm:$false'
.\FixHostFilePermissions.ps1 -Confirm:$false
`

But if you first open up 'powershell' and then run it, THIS is the outp

[2017-12-31 00:48] codearoo commented on #1007
So here is a script I wrote named 'setup-full.ps1' which seems to run everything properly. Maybe you'll include something like this in your project to help users.

[code]

[2017-12-31 00:51] codearoo commented on #1007
oh ya.. and it requires this other script named 'configure-ssh-keys.bat'   as well as a copy of 'psexec'

[code]

[2017-12-31 00:59] codearoo commented on #1007
Another error in your instructions is that you indicate to set up FW rule based on the port. But if you change the port in the sshd_config file, then you'd also have to change the port in the FW. If instead you set up the FW rule for the SSHD.EXE it will use whatever port it's configured for automatically.

[2017-12-31 18:31] hamedsbt opened #1008 "How I can create user access to SSH server without create actual user(s) on windows ?"
Please answer the following

**"OpenSSH for Windows" version**
OpenSSH_7.6, LibreSSL 2.5.3 Win32 (tested x86 & x64)

**Server OperatingSystem**
Windows 10 B.1703

**Client OperatingSystem**
Windows 8.1

I want to use Win32-OpenSSH as SSH server (password less login via public-key authenticate) to process GIT requests from several users. So I have to create **more than 10 separate users on windows*

[2017-12-31 19:13] bagajjal commented on #1008
If you use public key authentication then you don't need to create the actual users?

[2017-12-31 19:24] hamedsbt commented on #1008
thank you for your reply, I want **independent** ssh-key **per user**, But when I try to connect:
ssh://**michel**@10.10.2.1/repo... the sshd look-for authorized_keys on "C:/Users/**michel**/.ssh" directory
also for **sara** user:
ssh://**sara**@10.10.2.1/repo... the sshd look-for authorized_keys on "C:/Users/**sara**/.ssh" directory
 right?!
Also I tried to create "C:/Users/**sara**/.ssh" directo

[2018-01-01 03:18] bagajjal commented on #1008
Keep all the public keys in one authorised key file and configure hard coded path of authorized key file (AuthorizedKeysFile <Full path>) in sshd config..

[2018-01-01 18:38] hamedsbt commented on #1008
Thank you for your reply, I did hard coded path of authorized key file (**D:\\sft\\OpenSSH-Win64\\authorized_keys**) and repaired permission via FixHostFilePermissions.ps1 but it **does not works** sshd log:
12056 22:01:03:057 debug3: fd 5 is not O_NONBLOCK
12056 22:01:03:057 debug3: spawning "D:\\sft\\OpenSSH-Win64\\sshd.exe"
12056 22:01:03:135 debug1: Forked child 1928.
1928 22:01:03:229 debug1:

[2018-01-01 18:42] bagajjal commented on #1008
Looks like it didn't take the config.. Please share the sshd_config

[2018-01-01 18:45] hamedsbt commented on #1008
#$OpenBSD: sshd_config,v 1.84 2011/05/23 03:30:07 djm Exp $

#This is the sshd server system-wide configuration file.  See
#sshd_config(5) for more information.

#This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

#The strategy used for options in the default sshd_config shipped with
#OpenSSH is to specify options with their default value where
#possible, but leave them commented.  Un

[2018-01-01 18:47] bagajjal commented on #1008
Also share the full sshd log with debug3 enabled

[2018-01-01 18:48] hamedsbt commented on #1008
12056 22:18:18:392 debug3: fd 5 is not O_NONBLOCK
12056 22:18:18:392 debug3: spawning "D:\\sft\\OpenSSH-Win64\\sshd.exe"
12056 22:18:18:420 debug1: Forked child 9712.
9712 22:18:18:499 debug1: sshd version OpenSSH_7.6, LibreSSL 2.5.3
9712 22:18:18:509 debug1: private host key #0: ssh-rsa SHA256:AzKKsphmaXEjgsVS6rp9Oob5VKfpvmOnQ/6UynOqLlE
9712 22:18:18:510 debug1: child socket: 396
9712 22:18:18:51

[2018-01-02 06:58] hamedsbt commented on #1008
I'm waiting for your support . . .

[2018-01-02 10:31] mgkuhn commented on #1008
This sounds more like a general misunderstanding of how to use ssh with git/svn/etc. than a specific issue with the Win32 port of OpenSSH. You can't mention in the git URL "ssh://michel@10.10.2.1/repo..." that you give to your users before the @ sign the name of a user "michel" that does not exist on the server OS. Windows sshd is not different from Unix ssh here: sshd can only create processes fo

[2018-01-02 11:17] mgkuhn commented on #998
Regarding the case of sshd running as a service in session 0:

The underlying problem here is that Unix and Windows "sessions" are radically different things:

-  On Unix, there was very little notion of a login session: there is just the process ancestry tree and the real/effective UID/GID under which each process runs. Access to a GUI desktop is done via the file system (Unix-domain sockets, ~/.

[2018-01-02 11:45] thejustsoul opened #1009 "How to make a fully portable (isolated) OpenSSH server for remote VNC connection through SSH tunnel"
How to configure a fully portable OpenSSH server with one user (which will not have access to the console, the OS on the server, i.e. how to make user not tied to a specific system (to be able to migrate the server onto a USB flash drive). Any authorization or password, or the key just would not have to create users in the system.

This SSH server you need to create a reverse or a direct connectio

[2018-01-02 16:28] thezim opened #1010 "Log files contain no date information."
Log files do not contain date information, only time.

[2018-01-02 16:33] ghost commented on #996
@mgkuhn: My research indicates one must go through terminal services. With a proper license (or using [RDPWrap](https://github.com/stascorp/rdpwrap)) one can use `MSTSCLib` to log in programmatically. Personally, the COM controls packaged in that library appear to be broken on Windows 10.

There are poorly documented differences between the way that terminal services logs on users and the `LogonUs

[2018-01-02 16:34] ghost commented on #998
@mgkuhn: You reference the function key to implementing my suggestion in your report, namely [SetTokenInformation](https://msdn.microsoft.com/en-us/library/windows/desktop/aa379591(v=vs.85).aspx). However, it is not possible to create sessions in this way. You can simply make a window appear on an already existing desktop within a session.

Login sessions do exist [in X11](https://en.wikipedia.org

[2018-01-02 20:15] FranklinYu commented on #991
Currently my work-around is to specify it in `%USERPROFILE%\.ssh\config`, but it would be greatly appreciated if it can default to short name when I'm using the client.

[2018-01-02 23:00] DarwinJS commented on #998
@mgkuhn - my understanding is that the openssh project is part of a strategy to provide winrm  remoting over SSH.  Windows remoting as seen in PowerShell is always text based, but does have full hooks for accomplishing remote admin.

Side point - even though winrm remoting hit the shelves with PowerShell - it is designed to meta to PowerShell and usable within other shells as shown through winrs f

[2018-01-02 23:04] bagajjal commented on #1008
@mgkuhn  is correct. please do as he suggest.

Modify your sshd_config (to exclude double quotes in the path),
AuthorizedKeysFile D:/sft/OpenSSH-Win64/authorized_keys

[2018-01-02 23:17] bingbing8 commented on #1007
@codearoo, the issue you saw when executing the script is a [powershell issue](https://github.com/PowerShell/PowerShell/issues/4036) which has fixed in pscore on git, but not fixed in windows yet. please refer to issue #844. if you need to workaround it, `Powershell.exe -ExecutionPolicy Bypass -Command ". .\FixHostFilePermissions.ps1 -Confirm:$false"`
Note the first "." is a call operator.

Thanks

[2018-01-03 00:01] bagajjal commented on #1006
@ZURYB - Thanks for reporting.. please wait for the next release (Jan-Mid).
Meanwhile, you can use the attached private scp binary.

[scp_nondef_port_fix.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1599067/scp_nondef_port_fix.zip)

[2018-01-03 00:18] codearoo commented on #1007
Awesome.. thanks.
The Wiki has a few more updates maybe?
"Open the firewall on TCP port 22 to allow inbound SSH connections"
and:
"Note: New-NetFirewallRule is for servers only. If you're on a client desktop machine (like Windows 10) try:"
Is not entirely correct because Windows 2008 R2 Server also does not seem to have New-NetFireWallRule.

I'm not sure how that powershell issue is resolved. I up

[2018-01-03 00:18] codearoo commented on #1007
And by the way, the link for "Alternative installation using the universal installer" does not work; it just goes back to the same page.

[2018-01-03 05:40] manojampalam commented on #1009
This is not a Windows port specific question. Here are some points for your consideration:
- In Unix, you can disable [shell access](https://unix.stackexchange.com/questions/55106/disable-user-shell-for-security-reasons). In Windows, this is currently not possible, but you may exploit the usage of Default user's shell - implement a dummy exe that "DOES NOTHING" and set it as default shell.
- In Wi

[2018-01-03 05:45] manojampalam commented on #1008
Right. When you do

ssh user@target

"user" account should exist on "target" irrespective of the authentication type you use (password or key based).

[2018-01-03 13:11] seanpoulter commented on #445
Thanks @bagajjal.

[2018-01-03 18:53] bingbing8 commented on #1007
@codearoo, [Alternative installation using the universal installer](https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/readme.md) works for me. Updated the installation instruction based on your findings.
Regarding the [powershell bug](https://github.com/PowerShell/PowerShell/issues/4036), did you install latest build from [here](https://github.com/PowerShell/PowerShell/releases/tag/v6.

[2018-01-03 19:04] DarwinJS commented on #1007
@codearoo - here is the target of that link: https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/readme.md

[2018-01-03 19:08] #898 closed, assigned to bingbing8

[2018-01-03 19:14] bagajjal commented on #1008
@hamedsbt - can we close this issue?

[2018-01-03 19:19] hamedsbt commented on #1008
@bagajjal Thank you and everyone, what is benefit of **to exclude double quotes in the path** ? it working with **double quotes** now

[2018-01-03 20:51] bagajjal commented on #1008
@hamedsbt - You are right. Code strips off double quotes so it doesn't make any difference.

[2018-01-03 20:51] #1008 closed, assigned to bagajjal

[2018-01-03 21:02] bingbing8 commented on #899
@itsupport-iattc, I tried build [v0.0.24.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/0.0.24.0) on windows 2012 R2 and windows 10, it works for me:
[code]
it does not work win7. The issue is in the libcrypto code. The issue will gone after update to latest release of libssl, I will update the libcrypto.dll

[2018-01-03 22:10] bagajjal commented on #936
@BrandonRoyal - Could you please try the steps I mentioned and provide the information.

[2018-01-04 01:10] itsupport-iattc commented on #899
@bingbing8 I installed v0.0.24.0 and tried again on Windows Server 2012 R2. Same result.

PS C:\Program Files\OpenSSH> .\ssh-keygen -G .\4096.1 -b 4096
Wed Jan  3 16:44:16 2018 Sieve next 268304384 plus 4095-bit
Wed Jan  3 16:56:24 2018 Sieved with 203277289 small primes in 728 seconds
Wed Jan  3 16:56:24 2018 Found 0 candidates
modulus candidate generation failed
PS C:\Program Files\OpenSSH>

[2018-01-04 01:19] bingbing8 commented on #899
@itsupport-iattc, can you replace the libcrypto.dll with the attached files? it works for me on win7, win2k12 R2 and win10.
[libcrypto.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1602177/libcrypto.zip)

The failed case I saw on win7 was when writing big number to a file. If you still repro after replace libcryto.dll, can you please install openssh to a different folder instead of under

[2018-01-04 19:54] alexander-n-lunev commented on #690
Hello. When trying to login non-administrator user having error 1260 "Cannot create process". Admins logging fine, simple users not. Tried to include it in group that is in AllowGroups, with no result. Debug logs tells that it is something with ssh-shellhost.exe (permissions for this user is read-execute).

[code]
upd:
C:\OpenSSH-Win64>ssh -V
OpenSSH_7.6p1, LibreSSL 2.5.3

[2018-01-04 20:07] bagajjal commented on #690
@alexander-n-lunev - sshd is running as "NT Service/sshd" (you can check this in task manager, check for sshd process)?

[Error ](https://msdn.microsoft.com/en-us/library/windows/desktop/ms681383(v=vs.85).aspx)1260 means, ERROR_ACCESS_DISABLED_BY_POLICY 1260 (0x4EC)
This program is blocked by group policy. For more information, contact your system administrator.
please check your system policy.

[2018-01-04 21:34] alexander-n-lunev commented on #690
@bagajjal thank you! Indeed, AppLocker rules was in place. Added rule for ssh users group to run all from OpenSSH folder and everything started to work. Thank you again!

[2018-01-05 17:24] hume-github commented on #553
I will add that I'm seeing the above error ("NetUserGetInfo() failed with error: 5") on a Windows 10 PC joined to a Win2008R2 domain, but *only* when sshd is running as a service.  If I start sshd from an Administrator powershell, I can SSH in with my domain account just fine.

A wireshark shows the domain controller returning a "OpenUser response, STATUS_ACCESS_DENIED".

[2018-01-05 18:30] mgkuhn commented on #1010
improved date format in pull request #256

[2018-01-06 00:14] bagajjal opened #1011 "Backspace from putty is not handled (no-pty session)"
Backspace from putty is not handled (no-pty session).
putty sends Control+?. Our code handles only Control+H.

[2018-01-06 10:17] audpa33 commented on #899
Hello,

I have the same issue on Windows 10 Pro (FR) using version 0.0.24 with shipped libcrypto.dll and libcrypto.dll included in ZIP file provided in previous message by @bingbing8 .

Example of output with 2048 bits:
[code]

I will be pleased to test others DLL or version it it helps to solve this issue.

Regards

[2018-01-06 20:23] hamedsbt commented on #800
after set force command to:  C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe or powershell.exe
I got error:
Cloning into 'testgit2'...
fatal: protocol error: bad line length character: Wind

sshd log (powershell.exe):
7052 23:47:13:550 Starting session: forced-command (config) 'powershell.exe' for hamedsbt from 127.0.0.1 port 6939 id 0
7052 23:47:13:550 debug2: fd 8 setting O_NONBLOCK
70

[2018-01-07 05:06] bagajjal commented on #800
Follow step 13 in this link to configure default shell
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2018-01-07 16:53] hamedsbt commented on #800
thank you for reply, but did not work:
$ git clone hamedsbt@127.0.0.1:"D:/TMP/git_projects/test_remote" test
Cloning into 'test'...
fatal: protocol error: bad line length character: Wind
sshd log:
8256 20:23:04:262 Starting session: forced-command (config) 'C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe' for hamedsbt from 127.0.0.1 port 8202 id 0
8256 20:23:04:262 debug2: fd 8 sett

[2018-01-07 19:44] DarwinJS commented on #800
@bagajjal - I just noticed that the instructions say ""Full path (case sensitive) of the shell executable." - but then in the screenshot it shows the Windows folder with a lowercase like this "c:\windows\..."  If you do a dir "c:\" - the windows folder shows as "c:\Windows".

Is it actually case sensitive in that path?

Interestingly, (never noticed this before) if you do "dir c:\windows\system32"

[2018-01-07 20:36] hamedsbt commented on #800
@DarwinJS - basically the windows is not case sensitive nor on dir-name, file-name, path address and so on...

[2018-01-09 09:11] LYP951018 commented on #610
I meet this problem, too. Any fix?

[2018-01-09 19:45] diogob commented on #778
Turning on the debug fixed the problem for me as well

[2018-01-10 02:16] dkorsmo commented on #154
Coming up on two years old, any progress?  Does anyone have a work-around that works?

[2018-01-10 16:15] WojtekKozaczynski commented on #610
I stopped following the issue, so I don’t know if it has been fixed. It was not fixed when I was looking at it. May be worth contacting the Win32-OpenSSH team again.

Wojtek

From: 刘雨培 [mailto:notifications@github.com]
Sent: Tuesday, January 9, 2018 1:11 AM
To: PowerShell/Win32-OpenSSH <Win32-OpenSSH@noreply.github.com>
Cc: Wojtek Kozaczynski <wojtekkozaczynski@outlook.com>; Author <author@noreply

[2018-01-10 17:38] cxhercules commented on #787
FYI changed to Debug3 and did not get any new results. I have been able to mitigate this by adding scheduled powershell task that runs every five minutes and checks for sshd.log being bigger than 25MB, and restart sshd. You have to make sure user you are running this job for is allowed to logon as batch since you will run if logon or not. You will also need to be able to store local password.

[co

[2018-01-10 20:48] PrestonTaylor commented on #190
To be quite honest I'm not really sure what anyone could use OpenSSH on windows for outside of personal use without this feature. It's kind of a must have unfortunately. Even a half baked solution would be more secure than just leaving a deceiving config option that doesn't function.

[2018-01-11 14:31] itnic commented on #787
I have proposed a patch which resolves this issue (I tested my patch, it is working). I have been asked to provide the patch for powershell/openssh-portable instead of here, see:

https://github.com/PowerShell/openssh-portable/pull/252

This has been done more than one month ago...

Please can you apply this patch to avoid such trivial Denial of Service.This becomes critical (my ssh servers are sc

[2018-01-11 14:47] FranklinYu opened #1012 "Is this project the same as the Windows "optional feature"?"
I found that in my Windows 10 there are optional features called OpenSSH Client (Beta) and OpenSSH Server (Beta). Is that the same as this project?

![optional-feature](https://user-images.githubusercontent.com/3153452/34831248-67ce4ad6-f6b4-11e7-87bd-5bf55dcfe529.PNG)

[2018-01-11 17:43] bagajjal commented on #1012
Yes

[2018-01-11 18:41] bagajjal commented on #787
@itnic - It will be part of our next release (Jan-Mid release).

[2018-01-11 20:57] FranklinYu commented on #1012
Shall we mention it in Wiki? Or it is but I missed it?

[2018-01-11 23:06] KarlM256 opened #1013 "Username in ssh client"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)` 0.0.24.0

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductNam

[2018-01-11 23:13] KarlM256 opened #1014 "Using ssh client from Unison."
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)` 0.0.24.0

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductNam

[2018-01-12 17:40] martinpauly commented on #101
netsh advfirewall firewall add rule name='SSH Port' dir=in action=allow protocol=TCP localport=22
The blank in name is not accepted, the Wiki entry it is correct:
netsh advfirewall firewall add rule name=sshd dir=in action=allow protocol=TCP service=sshd

[2018-01-12 19:52] bagajjal commented on #1012
Thanks, updated our wiki https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Status

[2018-01-12 19:52] #1012 closed, assigned to bagajjal

[2018-01-12 22:44] FranklinYu commented on #1012
Is that one lagged behind? According to the blog, it only supports ED25519, so no RSA key.

[2018-01-12 22:47] bagajjal commented on #1012
Yes. GitHub will have latest binaries.
Windows will take its own schedule so it will always have a older version.

[2018-01-13 00:15] MaximoTrinidad commented on #964
Hi everyone! Sorry I haven't post this one sooner.

This is happening in all versions of Windows (Windows 10) and Windows Servers too.

![sshd service logon_initial setup_2018-01-12_19-05-12](https://user-images.githubusercontent.com/19892435/34900326-ef348620-f7cc-11e7-9c08-572874da25c1.jpg)

![sshd service logon_initial setup2_2018-01-12_19-05-12](https://user-images.githubusercontent.com/198924

[2018-01-13 00:17] MaximoTrinidad commented on #964
By the way, for some reason, when executing the command:
[code]
Is not giving any errors nor notification that the service didn't start.

:)

[2018-01-13 00:21] bagajjal commented on #964
@MaximoTrinidad - Most likely its related to the host key file permissions.
Please run
1) `.\FixHostFilePermissions.ps1 -Confirm:$false`.
2)`.\uninstall-sshd.ps1`
3) `.\install-sshd.ps1`

[2018-01-13 00:57] MaximoTrinidad commented on #964
@bagajjal,

Awesome!  That did it. I'll be fixing my blog post.
Somehow I was messing the order.

Greatly Appreciated,
:)

[2018-01-13 08:03] DFazeli opened #1015 "Windows could not start the sshd service on Local Computer."
I have windows server 2016 ver 1607. downlaod latest ver ssh (0.0.24.0). then i installed.
1 )
[code]
2 )
[code]
3 ) start service sshd

but I have an error
[code]
Please explain complete. how can I install sshd on win 2016 server?
I want setup sftp server.
Thanks a lot.

[2018-01-13 08:35] DFazeli opened #1016 "Powershell.exe -ExecutionPolicy Bypass -Command ". .\FixHostFilePermissions.ps1 -Confirm:$false""
When I execute this command I get this error.

[code]

[2018-01-13 15:17] MartinSGill opened #1017 "ssh-keygen "Too many arguments" when running in powershell"
Please answer the following

**"OpenSSH for Windows" version**
Built from source:

commit 1ad6c956ccbd4a48765b8fc537127f2b58b64e08 (HEAD -> L1-Prod, tag: 0.0.24.0, origin/L1-Prod, origin/HEAD)

**Server OperatingSystem**
N/A

**Client OperatingSystem**
Reproduced on:
- Win10 (1709, OS Build 16299.192)
- windowsservercore   1709

**What is failing**

ssh-keygen.exe -t dsa -N "" -f stuff

**Expected

[2018-01-13 15:37] DarwinJS commented on #1017
@MartinSGill - Like you, I think it would be best if this worked out of the box.

Here is a workaround that will at least make it work in PowerShell.

It uses the powershell "stop-parsing" operator `--%` described here: https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_parsing

[code]
This also works and is more self-documenting:
[code]

[2018-01-13 15:43] MartinSGill commented on #1017
Well now that you've pointed it out... I can see the problem... it's the -f  alias for string.format.

I guess that's why PS has the --% operator.

Thanks for clearing that up. Still think it's a bug though... not sure if it's a Powershell or OpenSSH bug though...

[2018-01-13 17:49] jabdr opened #1018 "Page Up/Down in vim doesn't work"
**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**
Setting TERM to xterm has no effect.

**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
Ubuntu 16 LTS

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
Page Up and Page Down in vim on the server.

**Expected output**
Scroll

[2018-01-13 23:49] bagajjal commented on #1015
You missed to fix the host key permissions.
Please follow the install instructions here
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2018-01-14 10:21] DFazeli opened #1019 "permission parent folder."
I install openssh and I can connect to ssh (terminal) and WinSCP with password and key.
How do I change the access so that the user can not access the parent folders?
for example, i have sftpuser, and log in with this user I don't want this user to be able to access parent folders.
thanks.

[2018-01-14 12:42] iamakulov commented on #1001
Should I expect Windows to eventually update the inbox SSH version to match the GitHub one? If yes, do you know when this could be expected?

(I’m particularly interested in RSA support.)

[2018-01-15 03:43] bagajjal commented on #1001
Yes, it will be in our next release.. I guess the next release is in April..

[2018-01-15 03:45] bagajjal commented on #1019
Windows OS doesn't provide the CHROOT functionality. In order to achieve this you need to use the windows security model. You can provide access to individual folders in combination with creating windows distribution list/groups

[2018-01-15 03:47] bagajjal commented on #1018
Please check this in the latest release

[2018-01-15 03:49] bagajjal commented on #1016
I guess  it's because you are typing $False instead of $false.

If you observe the error message it didn't recognize $ before False

[2018-01-15 05:01] DFazeli commented on #1019
@bagajjal You may also be interested in how to set up access to Windows? Is there a training on this topic on YouTube or etc?
thanks a lot

[2018-01-15 05:06] bagajjal commented on #1019
No... Windows folder properties will allow you to provide the secured restricted access..

[2018-01-15 06:30] DFazeli commented on #1019
:) thanks @bagajjal . I solved it.

[code]

[2018-01-15 07:12] #1019 closed, assigned to bagajjal

[2018-01-15 14:40] jabdr commented on #1018
It works with the latest release. I used the optionalfeature installation of Windows 10. I thought this would install the latest version. Sorry.

[2018-01-15 14:40] #1018 closed, assigned to nobody

[2018-01-15 17:32] nkrepo commented on #590
@bagajjal @manojampalam
Is there any ETA for the bug-fix ? Are there changes required from the conhost side from the Windows console team?

[2018-01-16 12:02] pmontrasio commented on #1016
I'm getting the same error and I typed `$false`. Note how the error message turns that into `Confirm:False`.
I don't know anything about Powershell so I have no idea about how to get past this point.
I'm using the 64 bit build.

[2018-01-16 12:06] pmontrasio commented on #1016
I eventually got an idea. Instead of running the command from within powershell I run it from `cmd` and it worked.

Maybe the wiki page should explicitly tell to run all those commands from `cmd`.

[2018-01-16 12:22] pmontrasio commented on #672
I cd into Program Files but I keep getting the same error.

I was already logged in ad Administrator but to be sure that I'm running cmd as Administrator: went to c:\windows\system32, right click on cmd.exe, run as administrator. Same error.

sshd.exe -ddd starts and displays Server listening on 0.0.0.0 port 22 but I can't connect from the outside. I configured the firewall according to the instru

[2018-01-16 17:12] pmontrasio commented on #960
I had to do the same thing, thanks for posting the workaround. However it looks like a bug somewhere in the installation process.

[2018-01-17 02:01] ylluminate opened #1020 "Are there any installation instructions yet?"
I think many of us would like to use OpenSSH on Windows to provide a full system SSHD style service. It would be nice to use `sftp` and `ssh` to do Windows business with both `cmd.exe` and `bash`.

Has anyone worked up some installation and usage instructions yet that facilitates this in the current state of the project?

[2018-01-17 05:33] manojampalam opened #1021 "Investigate transport related issues"
As reported in https://github.com/PowerShell/openssh-portable/pull/252

[2018-01-17 06:58] megamorf commented on #1016
@bagajjal  The issue here is that the command in the wiki is enclosed in double quotes, e.g. `Powershell.exe -ExecutionPolicy Bypass -Command ". .\FixHostFilePermissions.ps1 -Confirm:$False"`. When this is executed from within PowerShell the variable expansion in strings replaces $false with its value `false` which breaks the command.

In your installation instructions replace the double quotes wi

[2018-01-17 13:41] Bruinbrum opened #1022 "Publickey authentication fails for domain accounts"
For domain accounts public key authentication fails even though keys match.

The workaround is to connect using the domain, e.g.
ssh \<DOMAIN\>\\\<USER\>\@\<windows box\>

This needs to be clarified in the documentation - or some workaround allowing the windows box to identify the domain.

This is with OpenSSH for Windows 0.0.24.0

[2018-01-17 13:47] Cambridgeport90 commented on #1022
Thanks for the clarification; I was wondering that. Haven’t yet enabled SSH on my servers, though I plan to use it soon in place of PSRemoting when possible.

From: Bruinbrum [mailto:notifications@github.com]
Sent: Wednesday, January 17, 2018 8:41 AM
To: PowerShell/Win32-OpenSSH <Win32-OpenSSH@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [PowerShell/Win32-OpenSSH] Pu

[2018-01-17 19:09] manojampalam opened #1023 "Review notes for upcoming release"
This release includes changes to further prepare this fork for future integration to upstream repository. Also included are changes incorporating community feedback.
 - Unix styled privilege separation is implemented for Windows
   - OpenSSh privilege separation model - http://www.citi.umich.edu/u/provos/ssh/privsep.html
   - Posix_spawn is implemented in POSIX adapter as an alternative to fork()

[2018-01-17 19:10] manojampalam commented on #1023
@DarwinJS FYI. Please review the design changes and let us know your feedback.

[2018-01-18 00:20] bagajjal commented on #1022
Its already documented..
https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples

[2018-01-18 00:25] bagajjal commented on #1016
Thanks, I have updated the wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2018-01-18 00:25] #1016 closed, assigned to bagajjal

[2018-01-18 01:23] #1022 closed, assigned to bagajjal

[2018-01-18 06:49] Lawands commented on #127
ssh user@DOMAIN@host This worked very well

[2018-01-18 12:22] milanbojovic commented on #815
Hello, after few days of struggle I have solved my problem with help of your comments.

**Steps:** I am using Administrator user for remote machine in question, and I have commented sshd_config line #AuthorizedKeysFile...  (this line is used for setting location of authorized_keys file)  --> and from logs I have noticed that sshd service is searching for authorized_keys in C:\Users\Administrator\.

[2018-01-18 16:32] mphilipps commented on #1006
After running into this issue we worked around it by using -o "Port number".

[2018-01-19 00:05] #1011 closed, assigned to bagajjal

[2018-01-19 00:06] pcgeek86 commented on #892
I'm having the same problem. I configured PowerShell as my default shell.

[2018-01-19 00:06] #1005 closed, assigned to bagajjal

[2018-01-19 00:08] pcgeek86 commented on #892
I changed my default shell to `c:\Windows\System32\cmd.exe` and I was able to make a successful connection.

[2018-01-19 01:01] bingbing8 commented on #1006
this is fixed as part of https://github.com/PowerShell/openssh-portable/pull/258

[2018-01-19 01:01] #1006 closed, assigned to bagajjal

[2018-01-19 03:21] #1010 closed, assigned to bagajjal

[2018-01-19 03:30] #902 closed, assigned to bagajjal

[2018-01-19 03:34] bingbing8 commented on #847
fix as part of https://github.com/PowerShell/openssh-portable/pull/258

[2018-01-19 03:34] #847 closed, assigned to manojampalam

[2018-01-19 09:41] rjpackito commented on #856
@bagajjal Hey. I used plink.exe and it works in gitlab-runner.

[2018-01-19 13:18] SourceryOne commented on #1020
WinSCP provides a good installation instruction/tutorial here (to answer part of your question):
https://winscp.net/eng/docs/guide_windows_openssh_server

[2018-01-19 19:17] Rondom opened #1024 "Make SSH Agent use UNIX Domain Sockets"
With the latest Insider Build supporting UNIX Domain Sockets, can SSH-Agent support communication via UNIX Domain Sockets?

This would simplify porting existing applications relying on ssh-agent. Once WSL supports interaction with AF_UNIX sockets, it might even be possible to only run one SSH Agent.

https://blogs.msdn.microsoft.com/commandline/2017/12/19/af_unix-comes-to-windows/

[2018-01-19 21:49] bagajjal commented on #1023
We need to change the path,
SSHD resources - sshd_config, hostkeys are moved to a dedicated directory - %programdata%\ssh

Also we need to provide steps for existing customers
1) After .\install-sshd.ps1, replace the %programdata\ssh\sshd_config with user specific sshd_config.
2) Copy user specific host keys to %programdata\ssh
3) Need to ".\FixHostFilePermissions.ps1 -Confirm:$false" fix the host

[2018-01-19 22:26] helplessJ commented on #539
Thud.

[2018-01-20 01:41] bagajjal commented on #1023
User should make sure binary location has the write permissions to just SYSTEM, Administrator groups.

[2018-01-20 10:01] fcharlie opened #1025 "v1.0.0.0 binary Miss libcrypto.dll"
v1.0.0.0 binary Miss libcrypto.dll, if user not install libressl (specific version), cannot run any exe.

[2018-01-21 00:04] asterikx commented on #815
@bagajjal's permission settings did the trick!
I'd like to emphasize that the `authorized_keys` file's owner has to be `Administrators`. Setting it to `Service NT\sshd` (as for the`ssh_host_ed25519_key` private key file) the will result in a `Bad owner` error.

[2018-01-21 01:07] Jaykul opened #1026 "Please use semantic version numbers"
I don't understand how any software can go from a 0.0.24 to 1.0.0 and then still put in their release notes that it's a "preview" version.  You're sending mixed messages at best...

I'd like to ask that future versions follow something resembling [semver](https://semver.org/) ... properly marking pre-release versions in the version itself. A "pre-release"  that's "not production ready" being marke

[2018-01-21 04:03] bingbing8 commented on #1025
@fcharlie  updated the package. Please checkout.

[2018-01-21 04:03] #1025 closed, assigned to nobody

[2018-01-21 04:15] bingbing8 commented on #1020
@ylluminate , please check out the [Install Instructions](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH)

[2018-01-21 04:48] fcharlie commented on #1025
OK thanks.

[2018-01-21 08:07] manojampalam commented on #1026
Thank you for your feedback. We did a major version jump due to significant underlying changes in architecture, usage and troubleshooting scenarios - I've added Beta to release title, hoping to reduce the confusion a bit.

[2018-01-21 18:01] asterikx opened #1027 "Connection reset by server after SSH2_MSG_KEXINIT sent"
**"OpenSSH for Windows" version**
 `v1.0.0.0-Beta`

**Server OperatingSystem**
 `Windows 10 Pro`

**Client OperatingSystem**
 `MacOS High Sierra 10.13.2`

**What is failing**
The connection is reset by the server after `SSH2_MSG_KEXINIT sent` by the client. I needed RSA support, that's why I switched from the built-in version (which was working) to `v1.0.0.0-Beta`. I followed the [release notes](h

[2018-01-21 20:37] bagajjal commented on #1027
Are you running Sshd debug mode as system? If not please see the release notes

[2018-01-21 20:50] wlsfan opened #1028 "WSL bash.exe as default ssh shell does not work"
**"OpenSSH for Windows" version**
v1.0.0.0-Beta

**Server OperatingSystem**
Windows 10 Pro

winver -> Version 1709 (OS Build 16299.192)

**Client OperatingSystem**
Any

**What is failing**
According to the latest instructions, one can use WLS bash.exe as the default shell.

C:\Users\user>reg query "HKEY_LOCAL_MACHINE\SOFTWARE\Openssh"

HKEY_LOCAL_MACHINE\SOFTWARE\Openssh
    DefaultShell    REG_SZ

[2018-01-21 22:48] asterikx commented on #1027
Yes, I did run it as system
[code]

[2018-01-22 00:36] DarwinJS commented on #1023
Sorry I've been on Vacay.

Here are some thoughts on the information in #1023

- I feel text based log files should always be supported, ETW should be optional and configurable (like most ETW logs).  Since Windows openssh is keeping a linux-ish flavor (no registry, no GPO configuration), it seems to me it should also support simple text parsing for accessing log data.
- Permissions model should al

[2018-01-22 05:28] manojampalam commented on #1027
@asterikx
Thanks for reporting this. Apparently, when psexec is used with `-i` switch, it is causing the stderr redirection issues with sshd that's causing the unprivileged worker to terminate abruptly.

As a workaround, skip `-i` switch for now (I've updated wiki and trouble shooting pages accordingly)
`psexec -s cmd`

Please regnerate `sshd -d` output within the above SYSTEM console.

[2018-01-22 10:15] asterikx commented on #1027
Thanks @manojampalam. This indeed gives me more information on what went wrong, but still I can't figure out the causing issue.

Server-side output:
[code]

[2018-01-22 11:59] megamorf commented on #1023
@bagajjal %ProgramData% is for system-wide application settings. No user specific data should be stored there. That's what the user profile (%userprofile% and %appdata%) is for.

[2018-01-22 12:15] manojampalam commented on #1027
In this case, sshd (privilege separation account) token couldn't be generated.

I would double check that you are running as SYSTEM.

If yes, please check Troubleshooting wiki and get debug3 traces from sshd service

[2018-01-22 13:22] jps-aldridge opened #1029 "scp -3 fails"
I executed

   scp -3 pi@sparepi.lan:a.txt pi@sparepi.lan:b.txt

I expected the file to be copied, but instead I got the message

   dup() in/out/err failed

scp client version: 0.0.18.0
client operating system: Windows 10 Pro
server operating system: Raspbian GNU/Linux 9 (stretch)

[2018-01-22 15:03] asterikx commented on #1027
I was, checked it by running `whoami` just beofre `sshd.exe -ddd``

But anyways, I solved my issues, by removing `C: \Program Files\OpenSSH` and reinstalling. This time I extracted the archive via the Powershell (as admin). (Previously I did it via the GUI and as the currently logged in user. I adjusted the permissions to only include SYSTEM and the Administrators group (FullControl) but maybe the

[2018-01-22 15:39] asterikx commented on #1028
For me it does have an effect. Unfortunately the connecting client gets the error message ```Error: 0x80070005 Press any key to continue...```. Looks like it's a permission issue, but not sure what it is about. Holds for `bash.exe` as well as for `wsl.exe`.

@wlsfan Did you set the key for `HKEY_LOCAL_MACHINE\SOFTWARE\OpenSSH\Agent` by accident? Happened to me in the first place.

[2018-01-22 20:07] DarwinJS commented on #1023
@megamorf, lf you are referencing `Copy user specific host keys to %programdata\ssh`, I believe this is a migration statement changing what *should* be a per-machine resource from an incorrect implementation as a user specific resource.

My question is how was it user specific because I thought they were in "c:\program files\openssh folder"

[2018-01-22 20:19] bagajjal commented on #1023
I meant host keys generated by admin user (not per user specific).

[2018-01-22 20:53] wlsfan commented on #1028
@asterikx I did not set the Agent key.

[2018-01-22 21:25] treii28 commented on #610
I'm running into this coming from ubuntu going to server 2012 set up as a domain controller. I am able to ssh directly and get a standard (not powershell) shell for my user id but it fails from within pwsh with Enter-PSSession. I've tried the Username both with and without the domain

[2018-01-22 22:22] niemyjski commented on #355
Is this coming in 1.1?

[2018-01-23 00:26] bagajjal opened #1030 "Separate the binary path, cfg and logs path."
Separate the binaries, cfg, logs path.

binaries - We suggest %programfiles%
cfg - %programData%\ssh
logs - %programData%\ssh\logs

[2018-01-23 00:27] #1030 closed, assigned to bagajjal

[2018-01-23 01:03] LoSealL opened #1031 "Fail to start sshd service on Win10.16299.64"
Please answer the following

**If it is a terminal issue then please go through wiki
I don't think so

**"OpenSSH for Windows" version**
`1.0.0.0 beta`
`OpenSSH_7.6p1, LibreSSL 2.5.3`

**Server OperatingSystem**
`Windows 10.0.16299.64`

**Client OperatingSystem**
None

**What is failing**
net start sshd

**Expected output**

**Actual output**

sshd 服务无法启动。
系统出错。
发生系统错误 1067。
进程意外终止。

system error.

[2018-01-23 01:19] bagajjal commented on #1031
please check
1)%programData%\ssh\sshd_config - exists
2)%programData%\ssh\<host_keys> - exists
3)run .\FixHostFilePermissions.ps1 -Confirm:$false.

If it didn't work then run the sshd.exe in debug mode and debug further.. please have a look at the release notes.

[2018-01-23 08:26] jborean93 opened #1032 "Allow Breakaway OK on SSH Job"
**"OpenSSH for Windows" version**
`1.0.0.0`

**Server OperatingSystem**
 `Windows Server 2016 Standard Evaluation`
Still applies to all other hosts as well

**Client OperatingSystem**
N/A (tested on MacOS though)

**What is failing**
The `ssh-shellhost.exe` process that is spawned on an SSH connection does not allow processes to breakaway from the job. This means any process it spawns won't be abl

[2018-01-23 09:58] #1027 closed, assigned to bagajjal

[2018-01-23 13:06] Bruinbrum commented on #139
I don't quite agree with the design reasoning given by manojampalam.
We want to use ssh as a secure access to a Windows system for use from Jenkins.

- If I use username:password to connect, then i can map network drives, but I also go to a different 'home'
- If I use the secure key, then I cannot map network drives

So, to use the network drive, I have to go to a more insecure method.

As mgkuhn

[2018-01-23 13:18] DarwinJS commented on #1030
A quick note about using ProgramData folders.  By default inheritance subfolders of ProgramData are only permissioned for CREATOR OWNER, SYSTEM and Administrators.

This means that the user who ran the install will be the only non Administrator to be able to see the files.

In large organizations there are IT workers that do not have full administrator rights when working on systems.

For this rea

[2018-01-23 16:42] bagajjal commented on #1030
We are creating folders with explicit ACLs (system, administrator group - full control and authenticated users - read & execute)..this is part of install-sshd.ps1

[2018-01-23 18:14] manojampalam commented on #1032
This is intentional to keep the implementation in line with how it works on Unix.
Otherwise, you may use Task Scheduler to achieve background job/process execution.

[2018-01-23 20:24] jborean93 commented on #1032
@manojampalam thanks for the update, we will have to see what our other options are. In regards to keeping things how they work on Unix, I'm not 100% confident as to how it all works but you can easily run a process "outside" of the SSH shell. For example I can run

`nohup cmd="echo"; for i in {1..50}; do $cmd "count: $i"; sleep 1;done > stdout.txt &`

Once I exit from the SSH session, the process

[2018-01-23 20:29] nitzmahone commented on #1032
@manojampalam Agree 100% with @jborean93 - the job handling is a fine way to deal with cleaning up after a session closes, but processes that explicitly request breakaway should be allowed to do so (ala nohup on POSIX systems).

[2018-01-23 23:00] pcgeek86 opened #1033 "Public key / certificate authentication not working in 1.0.0.0-beta"
I had public key authentication working with the 0.0.24.0 version of the OpenSSH daemon. After building a new system, and installing the 1.0.0.0-beta version, I can't get public key / certificate authentication working. How do I make this work?

This is the old document I followed: https://github.com/PowerShell/Win32-OpenSSH/wiki/Certificate-Authentication

[2018-01-23 23:11] bagajjal commented on #1033
I think you need to run ( .\FixHostFilePermissions.ps1 -Confirm:$false) which will fix host key, authorized key file permissions. Its mentioned in [release notes](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v1.0.0.0) under breaking changes.
Incase if it didn't work then please share the sshd.log (with DEBUG3 enabled) and ssh log (ssh -vvv user@ip)

[2018-01-23 23:15] mhaneef14 commented on #140
I installed OPenSSH on windows 2012 R2 it works fine but dafault folder goes to user profile in C drive only.
I tried changing drive other than C but does not show other drives. any clue.

[2018-01-23 23:53] pcgeek86 commented on #1033
Thanks, working on the debug logs now. I already tried running the `FixHostFilePermissions` script, based on another issue I found. Let me see if I can fix this on my own, using the debug logs.

[2018-01-23 23:59] pcgeek86 commented on #1033
Okay, I tried running that script again. I think it wasn't working, because I was trying to follow the wiki document that tells you to sign the public key, inside the `authorized_keys` file, using `ssh-keygen`. I don't believe this step is necessary, as I'm using my public key unsigned on the target server.

It's working with public key authentication now. Here's my ssh command:

[code]

Obviously

[2018-01-23 23:59] #1033 closed, assigned to bagajjal

[2018-01-24 06:09] manojampalam commented on #1032
Thanks for following up and apologies for a misunderstanding of the original ask.
Yes, we should allow child processes to break away at their liberty. This will be fixed in the next drop.

Attached a private if you want to try out.
[ssh-shellhost.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1658785/ssh-shellhost.zip)

[2018-01-24 06:31] manojampalam commented on #1029
Please try out the latest version. There were recent changes to dup() functionality. Reopen if needed.

[2018-01-24 06:47] jborean93 commented on #1032
Fantastic, I just tried it out locally and it works as you say, it even fixed another issue where we were creating some jobs, looking forward to the release.

[2018-01-24 06:49] manojampalam commented on #1024
Since we need to support downlevel platforms, we cannot completely replace the existing named-pipes based alternative yet.

[2018-01-24 12:16] ne0c0de commented on #1033
Hi @pcgeek86

Did you solve your problem?

I'm also experiencing same problem. Unfortunately this if first time that i'm using OpenSSH so i've no idea it was working before.

Here's what i did:

on sshd_config file:

PubkeyAuthentication yes
AuthorizedKeysFile	C:/Users/si/.ssh/authorized_keys

sshd service restarted.

When i try to login with ssh -vvv i see this result before connection lost:

deb

[2018-01-24 13:10] jps-aldridge commented on #1029
I downloaded the most recent version (scp.exe has File version = 1.0.0.0, and Date modified = 19-Jan-18 23:41). It no longer gives a 'dup() in/out/err failed', but instead hangs indefinitely until I give a Ctrl-C.

I can copy the file in both directions via an explicit local temporary file without problem:

`D:\>d:\OpenSSH-Win64\scp.exe pi@sparepi.lan:a.txt .\temp.tmp`
`a.txt`
` `
`D:\>d:\OpenSSH-

[2018-01-24 13:18] jps-aldridge opened #1034 "Please reopen #1029"
Apologies for the noise... I was invited to reopen #1029 if there were still problems, but although I can (and have) added a new reply detailing the problem which remains, github won't let me reopen the issue.

[2018-01-24 18:55] #1034 closed, assigned to nobody

[2018-01-24 20:19] bgola opened #1035 "Fail to connect / connection reset"
**"OpenSSH for Windows" version**
v1.0.0.0-Beta

**Server OperatingSystem**
 Windows Server 2016 Standard

**Client OperatingSystem**
ArchLinux up-to-date

**What is failing**

Trying to connect (ssh user@host -p 2233) fails with:

[code]

The sshd logs show:
[code]
Let me know if I can provide more information.

Thanks

[2018-01-24 20:23] bagajjal commented on #1035
This might be related to permission issue. please provide "read, execute" permission for "users" account  to "C:\\Users\\test\\OpenSSH-Win64\\OpenSSH-Win64"

[2018-01-24 20:52] bgola commented on #1035
thanks, this works.

[2018-01-24 20:54] #1035 closed, assigned to bagajjal

[2018-01-24 20:58] bagajjal commented on #1033
@ne0c0de - You need to start the sshd debug mode in system context.

1) execute "psexec -i -s cmd"
2) on the new popup windows, issue "whoami" this should show "nt authority\system"
3) Now launch the sshd in debug mode ".\sshd.exe -ddd"

[2018-01-24 23:57] bagajjal commented on #1028
I have created the private [ssh-shellhost binary](https://github.com/PowerShell/Win32-OpenSSH/files/1537389/ssh-shellhost-DefaultShell-Issue.zip). Please use this binary (backup, replace existing ssh-shellhost.exe with my private ssh-shellhost.exe), it will show error message and the configured default shell..
1) Use "Get-DefaultShell" command display the default shell. Please note that this is a

[2018-01-25 01:03] manojampalam commented on #189
ssh-lsa.dll has been deprecated, issues listed above are no longer applicable

[2018-01-25 01:03] #189 closed, assigned to nobody

[2018-01-25 01:05] manojampalam commented on #606
This issue should be fixed by now. Reopen if you still see it.

[2018-01-25 01:05] #606 closed, assigned to nobody

[2018-01-25 01:08] manojampalam commented on #289
Closing this as the issue is with bash permissions.

[2018-01-25 01:08] #289 closed, assigned to bagajjal

[2018-01-25 01:11] manojampalam commented on #253
Reopen a new issues if you see any more issues with public key authentication.

[2018-01-25 01:11] #253 closed, assigned to nobody

[2018-01-25 01:12] manojampalam commented on #245
Please try the latest release and reopen if you still see this issue.

[2018-01-25 01:12] #245 closed, assigned to nobody

[2018-01-25 01:13] wlsfan commented on #1028
I replaced the existing ssh-shellhost.exe with your private ssh-shellhost.exe and rebooted.

Note, the Get-DefaultShell was not included in the ssh-shellhost-DefaultShell-Issue.zip.
Also I did not see an error message.  I don't know if this matters but the ssh-shellhost.exe provided shows a File version: 0.0.23.0.  Here is the output of the client:

![image](https://user-images.githubusercontent.c

[2018-01-25 01:13] bagajjal commented on #994
please reopen if required.

[2018-01-25 01:13] #994 closed, assigned to bagajjal

[2018-01-25 01:14] bagajjal commented on #989
please reopen if required with requested information.

[2018-01-25 01:14] #989 closed, assigned to nobody

[2018-01-25 01:18] manojampalam commented on #248
Tried on the latest release and I see this no more. Reopen if you still see it.

[2018-01-25 01:18] #248 closed, assigned to nobody

[2018-01-25 01:19] manojampalam commented on #244
This issue should be fixed by now. Please reopen if you still see it

[2018-01-25 01:19] #244 closed, assigned to nobody

[2018-01-25 01:28] bagajjal commented on #1028
I tried on my side, it worked..
can you give a try one more time. After you do ssh, copy & paste "Get-DefaultShell" instead of typing.

[2018-01-25 01:33] wlsfan commented on #1028
I did a copy and paste with same result...

![image](https://user-images.githubusercontent.com/35668147/35366135-e3ce52a2-0145-11e8-98de-ea34727f644b.png)

[2018-01-25 01:35] manojampalam commented on #154
Home directory of the user is pulled from registry
Location: SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion\\ProfileList\\--USERSID--
Key: ProfileImagePath

Can you please add details on how exactly home directory is being configured for a local user?

[2018-01-25 01:39] wlsfan commented on #1028
I also tried it with the "" and with putty client.

![image](https://user-images.githubusercontent.com/35668147/35366286-a2cb390e-0146-11e8-838e-fe3ccbdbea17.png)

[2018-01-25 01:40] manojampalam commented on #98
All Git related issues are being in #752

[2018-01-25 01:40] #98 closed

[2018-01-25 01:40] manojampalam commented on #76
All Git related issues are being in #752

[2018-01-25 01:40] #76 closed

[2018-01-25 01:41] bagajjal commented on #1028
Are you sure you are using my private ssh-shellhost binary?

[2018-01-25 01:43] manojampalam commented on #1031
Check troubleshooting wiki and reopen with relevant logs.

[2018-01-25 01:43] #1031 closed, assigned to nobody

[2018-01-25 01:48] wlsfan commented on #1028
I am pretty sure.  Here is the listing:

![image](https://user-images.githubusercontent.com/35668147/35366505-e0717290-0147-11e8-9a58-9aefb583e2f2.png)

[2018-01-25 01:51] manojampalam commented on #1017
This is by design (in Powershell). If you don't think so, please follow up with Powershell team/project.

[2018-01-25 01:51] #1017 closed, assigned to nobody

[2018-01-25 01:51] manojampalam commented on #1015
Reopen if you still see this issue

[2018-01-25 01:51] #1015 closed, assigned to nobody

[2018-01-25 10:44] MartinSGill commented on #1017
It would be convenient if an alias were provided, but I agree, it's by design, annoying as it is.

[2018-01-25 22:58] lupo1977 opened #1036 "Cant compile naturally with Linux"
I had no issues to compile this with Windows. Thanks for that. But when I tried to compile it under Linux I run into multiple issues. Makefile seems to be broken, there is some hack about umac128.o, other issues about hash functions.
Do you think it would make sense to fix this? Or is this branch just what it is?

[2018-01-25 23:09] bagajjal commented on #1036
For Linux issues, please post under openssh GitHub repo https://github.com/openssh/openssh-portable

[2018-01-25 23:19] lupo1977 commented on #1036
Ok, I see.
Of Course, I can perfectly compile "openssh-portable" under Linux.
But this branch is able to compile under Windows but not under Linux. Why this is not possible?
And it seems to be feasible to change this to be able to compile also with Linux.

[2018-01-26 02:12] Velocet opened #1037 "[SSH-KeyGen] ed25519 saving key pair fails when supplying passphrase"
**"OpenSSH for Windows" version**
`0.0.18.0`

**Server OperatingSystem**
 `N/A`

**Client OperatingSystem**
`Windows 10 Enterprise 10.0.16299.98 `

**What is failing**
 `ssh-keygen `

**Expected output**
[code]

**Actual output**
[code]

[2018-01-26 02:36] bagajjal commented on #1037
can you try like this,
ssh-keygen -t ed25519 -Z aes128-ctr

[2018-01-26 02:40] Velocet commented on #1037
Works fine when supplying a passphrase.

[code]

[2018-01-26 02:43] bagajjal commented on #1037
Yes its because openssh installed through windows feature on demand doesn't support LibreSSL. FYI, this is fixed in upcoming releases.

[2018-01-26 02:43] #1037 closed, assigned to bagajjal

[2018-01-26 02:54] Velocet commented on #1037
I got this from "[Using the OpenSSH Beta in Windows 10 Fall Creators Update and Windows Server 1709](https://blogs.msdn.microsoft.com/powershell/2017/12/15/using-the-openssh-beta-in-windows-10-fall-creators-update-and-windows-server-1709/)".

Thanks for the clarification.

[2018-01-26 03:28] Velocet opened #1038 "[ssh-add] "No such process" when using PowerShell"
**"OpenSSH for Windows" version**
`0.0.18.0`

**Server OperatingSystem**
 `N/A`

**Client OperatingSystem**
`Windows 10 Enterprise 10.0.16299.98 `

**What is failing**
 `ssh-add`

**Expected output**
[code]

**Actual output**
[code]

The same command running under cmd.exe works fine:
[code]

A workaround would be to use `Start-Process`:
[code]

[2018-01-26 04:55] bingbing8 commented on #1038
@Velocet , in powershell prompt, if you launch a file in the current directory, it is like below:
[code]
This is by design by powershell to launch any file in powershell.

[2018-01-26 06:50] manojampalam commented on #1036
Yes, this fork should be no different from the upstream branch as far as Linux compilation goes, but we haven't validated compiling on Linux for a while. We would eventually do, when its time for upstream integration.

Otherwise, why would you want to compile Linux bits out of this repo? It should technically be no different from upstream branch (i.e you don't get any added benefit from this fork)

[2018-01-26 07:01] manojampalam commented on #996
Thanks for the detailed report. I'll take a look and get back with my findings.

[2018-01-26 07:09] manojampalam commented on #355
This is not in the horizon yet.

How do you intend to use it? To support proxycommand, OpenSSH uses passing file descriptors over domain sockets. This concept does not exist on Windows. Even if we provide an alternative to doing this, the "proxycommand" application need to be aware of that specific protocol.

[2018-01-26 07:13] manojampalam commented on #610
@treii28 it looks like what you detailed is not related to the original issue on this thread. Can you create a new issue and add further details for us to take a look?

[2018-01-26 07:14] manojampalam commented on #610
Closing this, since the original issue is understood and work around provided.

[2018-01-26 07:14] #610 closed, assigned to nobody

[2018-01-26 07:19] manojampalam commented on #964
This issue is no longer applicable with the latest changes requiring SSHD to run as SYSTEM

[2018-01-26 07:19] #964 closed, assigned to nobody

[2018-01-26 08:01] jborean93 commented on #964
@mamojampalam while the service runs without any issues and is listening on the port, it seems like there are still issues with Server 2008. I know it isn’t supported but I didn’t want to give people false hope saying the latest release works on this version.

[2018-01-26 09:59] mgkuhn commented on #996
Thank you for looking into this. It may be a good idea to get someone in charge of the Windows Kernel and/or Terminal Services (or now Remote Desktop Services) architectures involved (i.e., whoever at Microsoft does "sessions" and "credentials" for a living these days), as from my reading of the Windows API documentation that I found (see links above), I got the impression that certainly the exist

[2018-01-26 10:03] lupo1977 commented on #1036
Yes, perhaps the benefit is not that much in general. But now you have to maintain a particular branch for win32.
For me it is neat to be able to compile and debug under Windows and still have the opportunity to compile, deploy and run under Linux too.
But this is surely just a matter of taste.

Thanks.

[2018-01-26 12:45] DarwinJS commented on #968
It seems PowerShell/openssh-portable#251 is not merged for 1.0.0.0 - does that mean that I should not use the updated module reference syntax in packaging 1.0.0.0 ?

There are a lot of changes for 1.0.0.0 - so still figuring out what it all means for the packaging.

[2018-01-26 12:49] Velocet commented on #1038
`ssh-add` is an application (in `$env:windir\System32\OpenSSH`) not a file or cmdlet. Afaik PowerShell uses by default the current path, so `.\` isn't needed normally.

The problem is not related to a wrong path but a missing connection to the service (`ssh-agent`) when called in PowerShell. Strange error 🤔

[code]

[2018-01-26 13:56] niemyjski commented on #355
We use it to proxy ssh commands over a jump box

[code]

[2018-01-26 17:36] kcking commented on #355
We use `ProxyCommand` in [Krypton](krypt.co) to read signatures returned from the server and verify them on the phone. This feature would bring us much closer to full Windows support.

I believe OpenSSH just uses stdin/stdout to make this happen (though I'm not sure how this maps to Windows) and there aren't any domain sockets are involved. For @niemyjski's example, `ssh test-data0` first spins up

[2018-01-26 17:36] diogocp commented on #918
@DarwinJS, I haven't looked into this recently, but the behavior I observed was that the variable **was read**, but only on interactive logins:

[2018-01-26 18:24] manojampalam commented on #918
Thanks @DarwinJS. I'll check if there is a straight forward way to resolve a SYSTEM only environment variable. My guess is Powershell is probably populating that list directly from registry (this we can do certainly, just that the code would be more complex).

Setting it to backlog. Will get back with an update by next milestone.

[2018-01-26 18:37] manojampalam commented on #355
It would have been simple if OpenSSH just used stdin/stdout to stream protocol data. But that's not the case, it gets sock descriptor from "proxycommand" using [ancillary data](http://www.oocities.org/margineantm/syspp/background/ancillary.html). This "sock" is subsequently used for protocol communication.

Let me know if I am missing something.

[2018-01-26 19:14] bagajjal commented on #1038
Looks like ssh-agent is not running. From an elevated command prompt, do "net start ssh-agent".
From task manager check if ssh-agent process is running. Then issue ssh-add command.

[2018-01-26 19:27] manojampalam commented on #968
my two cents.. we've gotten the new privilege separation model earlier than we thought. This makes the file permissions on Windows very much inline with how they are on Unix. One would not find any use from this utility in the default 99% of the cases.
- Host keys are now automatically generated (if they dont already exist), with the right permissions.
- User keys and authorized_keys have always b

[2018-01-26 19:32] kcking commented on #355
Check out the `ssh_proxy_connect` function [here](https://github.com/PowerShell/Win32-OpenSSH/blob/946ed7d29761cfe239f1b80f08920b88f2236f42/sshconnect.c#L222). This creates the proxycommand subprocess and redirects the traffic of the parent process' connection through the subprocess' stdin/stdout (using pin and pout).

I have implemented a proxycommand before in Go ([krssh](https://github.com/kryp

[2018-01-26 19:38] lfourquaux commented on #355
@manojampalam: You are missing something: ProxyCommand can be used in 2 different ways.

The default, and older, use of ProxyCommand uses a subprocess that communicates using stdin/stdout.  It would not be too difficult to implement using common Win32 APIs.

When ProxyUseFdpass is set to true, in addition to ProxyCommand, the helper command is expected to use fd passing with ancillary data.  This

[2018-01-26 20:12] parkovski commented on #918
Looking at [this MSDN page](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682653(v=vs.85).aspx), seems like you'd read from `HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Session Manager\Environment` to check just for system environment variables. Looks like `GetEnvironmentVariable` and `GetEnvironmentStrings` just look at the calling process' environment block.

[2018-01-26 22:19] DarwinJS commented on #968
@manojampalam - if I am understanding you correctly, then I have a possible consideration.

Although permissions on keys are set during the new creation routine - how do they get corrected if someone messes them up or if I have to restore them from backup?

In some cases (like the massive GitLab instance I help manage) having host keys change would be a big pain.

I would say the ability to reasse

[2018-01-26 22:22] DarwinJS commented on #918
@parkovski - yes, but in the registry they are unexpanded - meaning they could contain embedded environment variables.  So they would need to be retrieved ONLY from the System context, and any expansions should technically only be done if they reference system context as well.

[2018-01-26 22:53] manojampalam commented on #355
hmm yes. I was missing the other option. Yes, it should be straight forward to enable it. I'll see if it could be done by next release.

[2018-01-26 23:51] Velocet commented on #1038
ssh-agent is running otherwise it wouldn't work when invoked in `cmd.exe`. This seems to be a PowerShell specific problem. I also restarted the service with no effect.

[code]

[2018-01-27 00:17] bagajjal commented on #1028
@wlsfan - It's my private binary. Not sure why its not working.
I have created another private binary, please try this.

1) Move existing ssh-shellhost.exe to ssh-shellhost_bkup.exe
2) Copy my **new** [private binary](https://github.com/PowerShell/Win32-OpenSSH/files/1669555/ssh-shellhost-default-shell-debug.zip) to your binary location (C:\program files\openssh).
3) launch the ssh with no-pty ses

[2018-01-27 00:36] manojampalam commented on #355
[ssh.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1669583/ssh.zip)
Try this out. Implementation is slightly different from that in Unix - proxycommand is launched directly instead of in user's shell (since I've seen cmd.exe interfering with redirected io)

[2018-01-27 00:49] manojampalam commented on #1038
Can you ensure you are invoking the same ssh-add in both the cases? I'm guessing you have multiple versions of ssh-add (from different sources), and the wrong one is getting invoked when you do it via Powershell.
Also, check if this environment variable is set in your PS environment - SSH_AUTH_SOCK

[2018-01-27 01:35] kcking commented on #355
@manojampalam could you post the source code on a branch? Would love to check it out!

[2018-01-27 01:55] Velocet commented on #1038
I also thought about that in the first place and checked which binary gets called. I do have git installed which comes with it's own `ssh-add.exe` binary but this one throws an error if called explicitly in the command prompt. So it's impossible that another ssh-add binary is called.
`SSH_AUTH_SOCK` isn't present in PowerShell or command prompt.

cmd.exe
[code]
[code]

PowerShell
[code]

[code]

[2018-01-27 03:15] wlsfan commented on #1028
No error code on connect but when I issued the Get-DefaultShell I get the following message:

![image](https://user-images.githubusercontent.com/35668147/35468153-693d33bc-02e6-11e8-8311-3d34d620f86d.png)

[2018-01-27 05:28] manojampalam commented on #355
Sure. Tentative changes are in https://github.com/PowerShell/openssh-portable/pull/268

[2018-01-27 19:38] elijahgagne opened #1039 "resizing ssh.exe not working"
**"OpenSSH for Windows" version**
1.0.0.0

**Server OperatingSystem**
Not relevant, any Linux server

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
Resizing the ssh.exe window does not work. I believe this is causing issues when trying to use ssh.exe with ConEmu and using "[screen](https://www.gnu.org/software/screen/manual/screen.html)" on the Linux target server.

**Expected out

[2018-01-28 16:14] JadedDragoon commented on #1028
Through my own troubleshooting, this appears to be a problem with Component Services permissions... at least on my system. I'm not certain this is the case... it could be coincidence, but I thought I'd share.

In my case there is an error in Event Viewer in `Windows Logs` > `System` about this. The source will be "DistributedCOM". It will look something like this:
![screenshot 2018-01-28 09 52 01]

[2018-01-28 17:18] wlsfan commented on #1028
I reinstalled Ubuntu on the server side and now when I ssh into the server with no-pty-session  I see the default configured shell however I see no prompt and my commands are just echoed back.  See below:

![image](https://user-images.githubusercontent.com/35668147/35484899-28e0451c-0425-11e8-9a95-9d3743eda67d.png)

When I ssh without the -T option I now receive the following error:

![image](http

[2018-01-28 17:25] wlsfan commented on #1028
As JadedDragoon pointed out I also see the error message in the event viewer:

![image](https://user-images.githubusercontent.com/35668147/35484960-449bf0c0-0426-11e8-9d2b-70af0b1973f6.png)

[2018-01-28 22:00] Rondom commented on #1024
Of course.

[2018-01-29 06:43] manojampalam commented on #964
Sure. this thread has too many conversations mixed in one. If someone has an issue on Server 2008, feel free to create a new issue with detailed symptoms. Happy to take a quick look and provide a work around if any.

[2018-01-29 07:01] manojampalam commented on #968
Agreed. But at this point, we are not different than Unix (in terms of file permissions). I haven't come across a utility on Unix that does complete file permission tuning. Perhaps its simple to fix up file permissions (chmod), compared to multiple/confusing icacls on Windows?

[2018-01-29 09:14] effebi68 opened #1040 "OpenSSH server in Windows PE"
I would like to use OpenSSH server (with public key auth) in Windows PE. After creating an sshd user, the daemon itself runs, but no other machine can see it (I used an nmap ARP scan on the same network); ssh.exe on the same box (using the Ethernet IP) negotiates the connection.

What am I missing?

[2018-01-29 12:40] DarwinJS commented on #968
@manojampalam - yes it is a simple chmod.  However, the tough part of this is that it is not easy to find information on the equivalent Windows file permissions that would satisfy the chmod statement (I have tried using google).

[2018-01-29 16:42] effebi68 commented on #1040
The problem above was due to DaRT internal firewall; nevertheless, even disabling it I still can't login as SYSTEM.

That said: any plan to support OpenSSH server in WinPE / WinRE / DaRT environments? I am pretty sure we are not the only ones looking for it (in our case, as a fallback whenever a proper deployment environment fails).

[2018-01-29 17:58] manojampalam commented on #1040
Right now, logging in as SYSTEM is not supported. You'll need to create a user account explicitly (not sure if that's possible on WinPE) and use those credentials.

[2018-01-29 18:23] manojampalam commented on #518
This can't be changed for public-key connections, since the underlying Windows APIs don't give us that support. Unfortunately, Kerberos delegation is not coming anytime soon either.

We'll try to get Agent forwarding online in a couple of months - hopefully, this should help you a bit.

[2018-01-29 18:24] manojampalam commented on #543
Please continue double hop related discussion in #518

[2018-01-29 18:24] #543 closed, assigned to nobody

[2018-01-29 18:27] effebi68 commented on #1040
I am pretty sure users can be created, because I did it myself to install
OpenSSH daemon; I do not know whether they can log in, but I'll try that
for sure: getting OpenSSH running would be a pretty good reward.

Thanks a lot; best regards
Federico Bianchi

2018-01-29 18:59 GMT+01:00 Manoj Ampalam <notifications@github.com>:

[2018-01-29 18:28] manojampalam commented on #587
Please reopen with relevant details if the issue is still relevant.

[2018-01-29 18:28] #587 closed, assigned to nobody

[2018-01-29 18:31] manojampalam commented on #557
We have fixed some issues related to hangs reading IO streams. Please test out the latest release and reopen if you still see this.

[2018-01-29 18:31] #557 closed, assigned to nobody

[2018-01-29 18:35] manojampalam commented on #317
-T option now works with ssh.exe. Please test out your scenarios with the latest release and reopen if the issue still persists.

[2018-01-29 18:35] #317 closed, assigned to nobody

[2018-01-29 18:36] manojampalam commented on #315
ARM builds are now supported. @bingbing8 please document ARM x86 build instructions on wiki.

[2018-01-29 18:36] #315 closed, assigned to nobody

[2018-01-29 18:39] manojampalam commented on #612
Please reopen if any additional info, you may have.

[2018-01-29 18:39] #612 closed, assigned to nobody

[2018-01-29 18:41] manojampalam commented on #523
Please try out the latest release, open a new issue with template filled, if you still see this issue.

[2018-01-29 18:41] #523 closed, assigned to nobody

[2018-01-29 18:41] #600 closed, assigned to nobody

[2018-01-29 18:41] #598 closed, assigned to nobody

[2018-01-29 18:44] manojampalam commented on #378
ssh-lsa.dll has been deprecated and a reboot is no longer required for OpenSSH setup. Try out the latest release.

[2018-01-29 18:44] #378 closed, assigned to nobody

[2018-01-29 18:46] #650 closed, assigned to nobody

[2018-01-29 18:49] manojampalam commented on #659
This logic is not moved to sshd and should likely now work. Need to validate.

[2018-01-29 18:50] manojampalam commented on #540
@friism I can help take this forward if you're still seeing it.

[2018-01-29 18:53] #601 closed, assigned to bagajjal

[2018-01-29 18:53] #599 closed, assigned to nobody

[2018-01-29 19:01] manojampalam commented on #741
Reopen with relevant details.

[2018-01-29 19:01] #741 closed, assigned to nobody

[2018-01-29 19:02] manojampalam commented on #733
@joeyaiello can you please try it out with the latest release?

[2018-01-29 19:13] manojampalam commented on #478
Fixed in 1.0.0.0

[2018-01-29 19:13] #478 closed, assigned to manojampalam

[2018-01-29 19:16] manojampalam commented on #399
I can help take this forward. Please reopen a new issue with the latest release (trouble shooting steps have changed).

[2018-01-29 19:16] #399 closed, assigned to manojampalam

[2018-01-29 19:20] MaximoTrinidad commented on #733
It's working in Ubuntu 17.10 with PSCore 6.0.1 OpenSSH both ways.

[2018-01-29 19:22] manojampalam commented on #466
This is now supported with 1.0.0.0 release. Place it under %PROGRAMDATA%\ssh

[2018-01-29 19:22] #466 closed, assigned to nobody

[2018-01-29 19:26] manojampalam commented on #791
There were some recent fixes to POSIX transport that might fix this. Please reopen with relevant details if you still see this.

[2018-01-29 19:26] #791 closed, assigned to nobody

[2018-01-29 19:28] #893 closed, assigned to bingbing8

[2018-01-29 19:46] 1980srefugee opened #1041 "ssh.exe misbehaves within Powershell"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `0.0.24.0`

**Client OperatingSystem**
Windows 10 Enterprise
Windows 7 64-bit Enterprise

**What is failing**
Powershell: Keyboard interactive does not display. The command process waits with a

[2018-01-29 19:47] manojampalam commented on #905
Reverted original change as authentication logic is moved to sshd and this check is no longer relevant

[2018-01-29 19:49] manojampalam commented on #912
Reopen with relevant info.

[2018-01-29 19:49] #912 closed, assigned to nobody

[2018-01-29 19:52] manojampalam commented on #920
Please reopen with relevant info.

[2018-01-29 19:52] #920 closed, assigned to nobody

[2018-01-29 19:57] #787 closed, assigned to bagajjal

[2018-01-29 19:58] bagajjal commented on #787
Fixed as part of latest release 1.0.0.0

[2018-01-29 20:06] manojampalam commented on #913
@PaulHigin how can we launch powershell.exe without an actual terminal but still in interactive mode?

[2018-01-29 20:10] manojampalam commented on #190
#292 for other additional feedback.

[2018-01-29 20:13] #922 closed, assigned to nobody

[2018-01-29 20:26] bagajjal commented on #1028
@wlsfan  - WSL has fixed this error.
Here is the WSL issue,
https://github.com/Microsoft/WSL/issues/2322

[2018-01-29 20:27] friism commented on #540
thanks @manojampalam - I haven't worked on this in a while. Pinging @dave-tucker in case he's still seeing this problem

[2018-01-29 20:43] manojampalam commented on #980
Did you try doing this with ssh.exe client? Is it local port forwarding or remote port forwarding?

[2018-01-29 20:46] bagajjal commented on #1028
Also have a look at this,
https://github.com/PowerShell/Win32-OpenSSH/issues/289

[2018-01-29 20:46] manojampalam commented on #733
Thanks for validating

[2018-01-29 20:46] #733 closed, assigned to nobody

[2018-01-29 21:49] bagajjal commented on #1039
@elijahgagne - This is expected behavior because of a bug in conhost.exe.

ssh client uses conhost.exe (provided by windows OS) to interpret the ANSI sequences. When we resize ssh client windows, the conhost.exe writes the data to a different location as the viewport changes. To mitigate this, we restore the window back so restore will get lost.

I have also raised a bug against conhost team.

Als

[2018-01-29 22:14] whereisaaron commented on #292
Third-party Windows ssh/sftp server implementations do provide chroot-equivalent functionality for sftp folder access. They basically validate the sftp commands to prevent access outside the 'chroot' folder. MS would need to implement or agree to something similar for OpenSSH, or add process jail support to Windows.

I investigated using Windows/NTFS file permissions to achieve a similar result, b

[2018-01-29 23:56] elijahgagne commented on #1039
Thanks for all that! If there's a way I can get notified when the conhost bug gets fixed, I'd love to sign up for that. But I understand if that's not possible.

[2018-01-30 01:00] manojampalam commented on #980
dup #979

[2018-01-30 01:00] #980 closed, assigned to nobody

[2018-01-30 01:02] manojampalam commented on #979
@DaburLal ssh_config is now supported with 1.0.0.0 version. Try it out and get us the logs

[2018-01-30 01:17] bagajjal commented on #1039
Unfortunately it's  not possible as conhost bugs are internal to Microsoft. We will update our [wiki page ](https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH) periodically.

[2018-01-30 01:17] manojampalam commented on #982
This will be fixed in next drop. this file will be logged under %PROGRAMDATA%\ssh

[2018-01-30 01:55] bagajjal commented on #946
update the binaries.

[2018-01-30 01:55] #946 closed, assigned to bagajjal

[2018-01-30 03:23] robertmylne opened #1042 "A specified port value is not valid."
I am following the instructions on `https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH`

When I get to `step 5` I try to run this command `netsh advfirewall firewall add rule name=sshd dir=in action=allow protocol=TCP localport=sshd` because I am on Windows 10 and I get this in response `A specified port value is not valid`

Am I meant to specify the port `localport=22` the doc

[2018-01-30 04:12] bagajjal commented on #1042
Yes, it's a typo.
I corrected it.

[2018-01-30 06:07] manojampalam commented on #986
Can you try out the latest release and share sshd logs?

[2018-01-30 06:10] manojampalam commented on #971
Please reopen with requested information.

[2018-01-30 06:10] #971 closed, assigned to nobody

[2018-01-30 06:21] manojampalam commented on #992
If its not too late, did you try it with -T option?

[2018-01-30 06:24] rjpackito commented on #992
@manojampalam Yes, i tried

[2018-01-30 06:29] manojampalam commented on #997
We had a recent fix in transport that might potentially resolve this. Try out the latest release 1.0.0.0, reopen if you still see this.

[2018-01-30 06:29] #997 closed, assigned to nobody

[2018-01-30 06:40] manojampalam commented on #999
AFAIK no. You may use
start ssh ....
to achieve something close.

[2018-01-30 06:43] manojampalam commented on #991
Thanks for the feedback. I believe we can resolve it to just "user" if its a local account and "user@domain" for a domain account.

[2018-01-30 06:49] manojampalam commented on #690
With changes in underlying architecture starting from 1.0.0.0, sshd needs to run as SYSTEM and the original restrictions detailed earlier in this thread are no longer applicable.

[2018-01-30 06:49] #690 closed, assigned to nobody

[2018-01-30 06:54] manojampalam commented on #1013
Agree that alice@bob@BOB is wrong.

Otherwise, key based authentication should work without ssh-agent. Please share your client side traces (ssh -vvv)

[2018-01-30 07:01] manojampalam commented on #998
I'll get back with my findings by next milestone.

[2018-01-30 07:04] #905 closed, assigned to nobody

[2018-01-30 07:08] #1042 closed, assigned to nobody

[2018-01-30 07:12] manojampalam commented on #1041
Does it happen on a fresh Powershell.exe console? What's your PS version?

[2018-01-30 07:15] manojampalam commented on #1014
Did you try setting the machine wide PATH to include ssh directory path?

[2018-01-30 07:19] manojampalam commented on #992
Can you share your client side logs? (use -E option to write traces to a file)

[2018-01-30 07:26] rjpackito commented on #992
@manojampalam Sorry, but I will not find those logs. I started using plink.exe and my task was solved. I can not experiment with a productive machine

[2018-01-30 13:14] DarwinJS commented on #1023
@bagajjal / @manojampalam
I see that the new install-sshd.ps1 sets the service startup to "Manual" - is there a technical reason for this or is it just a conservative setup and the installer must take conscious action to reconfigure for automatic startup?

[2018-01-30 15:22] jchristman opened #1043 "Running as Standalone fails on posix_spawn"
Please answer the following:

**"OpenSSH for Windows" version**
1.0.0.0

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
Linux kali 4.12.0-kali2-686 #1 SMP Debian 4.12.12-2kali1 (2017-09-13) i686 GNU/Linux

**What is failing**

I'm trying to come up with a way to run this in standalone mode to require as little modification to the Windows machine in question as possible. I wa

[2018-01-30 17:32] manojampalam commented on #1023
@DarwinJS  Yes. Its a conservative setup. I thought it always was. We never intended to have the service auto-start by default.

[2018-01-30 17:35] manojampalam commented on #1043
Make sure sshd.exe can be executed by "sshd" user. Best practice is to let "Users" have "read execute" permissions on everything in your installation directory.

[2018-01-30 17:38] manojampalam commented on #1043
can you do icacls on sshd.exe  and ensure "users" have "RX" on it ?

[2018-01-30 17:45] manojampalam commented on #590
@nkrepo unfortunately this is more than a bug fix. We need to implement a special PTY pipe between sshd and ssh-shellhost that would carry window change protocol data back and forth. Please check back end of March if this is not done by then.

[2018-01-30 17:55] 1980srefugee commented on #1041
PS version 5 for both and yes a fresh console for both.
Rebooted both systems and tried.

[2018-01-30 18:06] manojampalam commented on #1041
OK thanks. From the looks of it, ssh.exe is probably not happy with the console settings/attribtutes within powershell.exe.
We'll try to get a repro from our side. If not, we'll need to add additional logging in code to dump console settings.

[2018-01-30 18:10] 1980srefugee commented on #1041
So what I found was that setting windows default shell to powershell resolved this issue.
Is that expected behavior?
If so, please close out.
I assumed this would be setup on install.

[2018-01-30 18:12] manojampalam commented on #1041
No. This is not known or expected. Irrespective of the original console environment, ssh.exe should always configure it per its needs and reset to original once done.

[2018-01-30 18:15] PaulHigin commented on #913
I don't think this is PowerShell but Open-SSH starting the powershell.exe in session 0 (non-interactive session).  I am not sure how to do this via Windows API, and may not be possible for security reasons since ssh is hosting a remote connection.

[2018-01-30 18:19] manojampalam commented on #913
ssh -t user@domain@hostname
Above will create a remote session with IO redirected over stdin and stdout. How can we make powershell.exe operate over stdin and stdout (without a console)?

[2018-01-30 22:09] johnny-co commented on #154
manojampalam -
The Key:ProfileImagePath does not appear to correspond to setting a local users home folder in user properties (Profile tab, Home folder section, Local Path). The method to set a home folder in windows is documented below, I am uncertain how that relates to ProfileImagePath.

MS Documentation:
https://support.microsoft.com/en-us/help/816313/how-to-assign-a-home-folder-to-a-user

or

[2018-01-30 22:10] PaulHigin commented on #913
You can make powershell.exe read from stdin by starting it with: "powershell.exe -"

[2018-01-31 00:05] itsupport-iattc commented on #899
@bingbing8 - There is a file called libcrypto-41.dll in the OpenSSH folder. When I extract the dll in your zip file, what name should I give it? Also, I assume I should restart the services for the new dll to be used. Is this correct?

[2018-01-31 01:15] jchristman commented on #1043
Yeah the sshd.exe had RX for Users. Ended up doing a

[code]

That fixed the problem. It's weird though cause I could have sworn I tried that a while back. Thanks for the help.

[2018-01-31 01:15] #1043 closed, assigned to nobody

[2018-01-31 01:24] bagajjal opened #1045 ".\sshd.exe -d fails"
CreateProcessAsUserW() fails running ".\sshd.exe -d" with error 2 (FILE_NOT_FOUND).

workaround -
Use full path "<sshd_directory_full_path>\sshd.exe -d"
or just
sshd.exe (without .\)

[2018-01-31 01:27] bagajjal opened #1046 "custom lsa authentication fails"
sshd process crashes during custom lsa authentication fails because of NULL pointer issue

[2018-01-31 04:30] kcking commented on #355
Thanks for the quick turnaround! I just tried the changes -- I get one error for `ProxyCommand` and a different one for `ProxyJump`

I tested `ProxyCommand` with `ProxyCommand nc64.exe %h %p` set in my ssh config and using the netcat at https://eternallybored.org/misc/netcat/
I get the following error when running `ssh me.krypt.co`:
[code]

With `ssh me.krypt.co` and `ProxyJump test.com` in my ssh

[2018-01-31 12:47] alberaguilarfdez opened #1047 "Differences according to authentication"
Hi

I just installed v1.0.0.0-Beta on a Windows Server 2012 R2 Datacenter. On the server I have also installed cygwin to have bash and I have created several mount points towards an external filesystem.

From a client I am able to authenticate correctly to the server, using both username/password and through public/private key. But there is a difference ... if I authenticate using username/passwor

[2018-01-31 12:59] DarwinJS commented on #1023
@manojampalam - thanks.
Another question - do the server keys still need to be added to ssh-agent in system account context in order for sshd to use them?  This used to require psexec and the chocolatey package currently uses the scheduler to get it done on all supported Windows variants.

[2018-01-31 13:50] JW0914 commented on #899
This is still an issue on v1.0.0.0-Beta:

[code]

[2018-01-31 13:55] DarwinJS opened #1048 "Chocolatey Package for 1.0.0.0 Ready - Lotsa Changes"
The Chocolatey Package for 1.0.0.0 is ready.
There were a lot of changes.
Install, Upgrade (from 0.0.24.0) and Uninstall were tested.
Install/Uninstall was tested on Windows 7 PSH 2, Windows 10, Nano RTM (no updates)
https://chocolatey.org/packages/openssh/1.0.0.0
Chocolatey Moderation is not quite complete as of this posting.

[2018-01-31 14:08] khx71 opened #1049 "When using PublicKeyAuthentication the user seems to be not really AD authenticated"
**"OpenSSH for Windows" version**
1.0.0.0

**Server OperatingSystem**
Windows Server 2012 R2 Standard

**Client OperatingSystem**
Linux RHEL 6 ( Patchlevel 7 )

On LINUX I am compiling a batch script that I scp over to Windows and execute there using ssh in the next setp. In the beginning I do link in network drives such as shown in the code fragment below

touch $WIN_CMD_FILE

echo "c:" >> $WIN_C

[2018-01-31 15:32] JW0914 commented on #1023
I don't believe so since once sshd is restarted, it will recreate the server keys when it sees none exist in `%ProgramData%\ssh`.  It seems insecure to allow any user but the System account access to them, as the default permissions allow Administrators full access, and since most consumer PC users have administrator accounts by default, this allows for the server keys to be read by the user, vers

[2018-01-31 16:44] manojampalam commented on #1023
@DarwinJS securing agent keys with ssh-agent is not required any more. We previously needed this because SSHD was running as a low privileged account and giving READ access to SSHD account wasn't secure.

@JW0914 , we consider both SYSTEM and "Administrators Group" as the super user equivalent. Host private keys are given full access to both (and just) these accounts. What this means is that the h

[2018-01-31 16:57] manojampalam commented on #1049
Check if this helps https://github.com/PowerShell/Win32-OpenSSH/issues/518

[2018-01-31 17:01] manojampalam commented on #1047
This should help https://github.com/PowerShell/Win32-OpenSSH/issues/518

[2018-01-31 17:16] DarwinJS commented on #1023
@manojampalam - thanks!

Am I correct to reason then, that, for a machine that runs sshd service only (for example: client utils are not used for outbound SSH) - that the ssh-agent isn't likely to be needed?

I ask because in the Chocolatey package I had force it to be configured anytime SSHD was setup.

If this would now be a rare configuration for a purely SSHD server machine, I would make ssh-a

[2018-01-31 17:19] manojampalam commented on #1023
@DarwinJS Yes. ssh-agent is no longer needed by sshd (to keep the setup secure).

[2018-01-31 18:05] manojampalam commented on #154
OK Thanks.
While I figure out how to programatically retrieve "HOMEPATH", I'm contemplating whether we should rely on it.

Currently, we store user's ssh configuration under user's profile, on the assumption that it would be deleted once the user account is gone (note that it will contain sensetive information like user's keys). Getting "homepath" on board will lead to confusion down the line, sho

[2018-01-31 20:02] tsd64 opened #1050 "Why all of the reverts?"
Please answer the following

**"OpenSSH for Windows" version**
v1.0.0.0-Beta

**Server OperatingSystem**
Windows10

**Client OperatingSystem**
rhel6.9

**What is failing**
It looks like the newest version has reverted to pre-Windows changes, and relying on a Cygwin install to handle the configuration.  I am seeing

C:\ssh\bin>sshd.exe -D
sshd re-exec requires execution with an absolute path

and

[2018-01-31 20:15] opensshnewbie opened #1051 "Cannot Connect to OpenSSH Windows 32-bit version"
Hi,

I'm very new to openssh and I tried to install according to the wiki. I have installed on a Windows 7 box and am having problems connecting. I have  included the sshd log below. It appears to be using a user sshd for authentication but I have no user named that.   Very new at this. Would appreciate any help.  Thanks.

4416 2018-01-31 15:01:29.867 debug3: fd 5 is not O_NONBLOCK
4416 2018-01-31

[2018-01-31 20:16] manojampalam commented on #1050
This behavior is what you'd see on Unix too. You are seeing it now because of the work done to get most of sshd logic common between Unix and Windows.

[2018-01-31 20:18] manojampalam commented on #1051
Did you start the service, it should have automatically created "priv sep" user "sshd"?

[2018-01-31 20:20] tsd64 commented on #1050
This is incorrect behavior.  The server is being started from a Windows DOS prompt, and has nothing to do with the client.

[2018-01-31 20:20] opensshnewbie commented on #1051
Hi Manoj,

Yes, the service is started.  After I ran the install script, I manually started the service is started in windows.  I did not reboot.

[2018-01-31 20:21] manojampalam commented on #1051
Reboot is not required. Can you see if
net user
shows sshd user?

[2018-01-31 20:24] opensshnewbie commented on #1051
Here is the output for net user:
admin                    Administrator            Guest
sshd
The command completed successfully.

sshd does not belong to any group.

[2018-01-31 20:24] manojampalam commented on #1050
Its not. sshd re-execution will respawn "sshd" and if the original commandline is not absolute, you may end up launching a rogue sshd from your PATH. This is by design and its in OpenSSH core (not Windows specific)

[2018-01-31 20:25] manojampalam commented on #1051
How did you get traces above? from sshd.log or "sshd -d"? If later, are you running as SYSTEM (see release notes)

[2018-01-31 20:26] opensshnewbie commented on #1051
I'm getting the traces after modifying  the config file to logging level DEBUG3 and copying it from the log file  in the c:\program data\log directory.

[2018-01-31 20:27] tsd64 commented on #1050
There is only the one sshd.exe, and the 0.0.22.0 version worked like a Windows application, not a Unix one.  If this is the desired behavior, then the product isn't going to work for a Windows implementation.

[2018-01-31 20:29] manojampalam commented on #1051
OK. Something went wrong while creating the user acount at service startup. Try restarting the service and if that does not help, explicity create
`net user sshd <randomguidpassword> /add`

[2018-01-31 20:37] opensshnewbie commented on #1051
I removed  and added the user using the method you provided.  Here is the output of that:

C:\Program Files\OpenSSH>
C:\Program Files\OpenSSH>
C:\Program Files\OpenSSH>net user

User accounts for \\******

-------------------------------------------------------------------------------
admin                    Administrator            Guest
The command completed successfully.

C:\Program Files\Open

[2018-01-31 20:38] manojampalam commented on #1051
Double check you are running sshd service as SYSTEM (you can use task manager)

[2018-01-31 20:42] opensshnewbie commented on #1051
I can confirm that it is being run as SYSTEM.  I'm running the 32 version on a 64 bit machine.  I hope that's not an issue.  I previously tried the 64 bit version and had problems as well...

[2018-01-31 20:50] manojampalam commented on #355
Dont see any issues in the above traces yet. Not sure what's wrong. I'll spend some time next week.

If you want to explore, you could write a simple app that forwards traffic from/to stdio <--> port and use it as a proxy to sshd.

[2018-01-31 20:51] manojampalam commented on #1051
We haven't tested 32-bit on 64-bit machine. Can you try out with the 64-bit version and post your findings?

[2018-01-31 20:52] manojampalam commented on #1051
You have a 32-bit OS?

[2018-01-31 21:19] bingbing8 commented on #1048
@DarwinJS Great job! I tried the package 1.0.0.0 on win2k12R2, install, uninstall, upgrade, migration work fine!

[2018-01-31 21:40] bingbing8 commented on #1048
@DarwinJS, really appreciate your hard work on updating the chocolatey script especially for the upgrade scenarios. I tested the openssh chocolatey package on win2k12R2 data center, install, uninstall, upgrade, migration of file system and single sign on registration, they all work fine.  Great work!

[2018-01-31 21:48] bingbing8 opened #1052 "Duplicate host name in the new ssh cmd prompt"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 1.0.0.0

**Server OperatingSystem**
 win2k12R2

**Client OperatingSystem**
 win2k12R2
**What is failing**
Duplicate host name in the remote ssh shell prompt.

**Expected output**
on previous ve

[2018-01-31 22:18] manojampalam commented on #1048
@DarwinJS Release notes has a wrong link (to previous version)
Product release notes: https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.24.0

[2018-01-31 23:16] DarwinJS commented on #1048
@bingbing8 - thanks for testing and glad to hear it is working well!

I just pushed a new version (1.0.0.20180131) that fixes the release notes link and does not automatically configure ssh-agent when sshd service is being installed (can still be installed with the correct switch).

[2018-02-01 00:27] dwatley opened #1053 "unable to generate token for user sshd"
**"OpenSSH for Windows" version**
v1.0.0.0-Beta

**Server OperatingSystem**
Windows 10 Enterprise

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
When opening an SSH connection to the server and the `SSH2_MSG_KEXINIT` is sent by the client (confirmed via ssh -vvv), the server fails with:
[code]

The issue seems identical to https://github.com/PowerShell/Win32-OpenSSH/issues/

[2018-02-01 01:25] dwatley commented on #1053
Turns out this was an issue with a non-standard configuration for user rights assignment in secpol.msc

[2018-02-01 04:53] kcking commented on #355
The first issue I see is the line:
[code]
but I haven't had a chance to dig into how significant it might be or where that comes from. Currently the ssh session just hangs at that last line.

`nc`, or netcat actually is exactly the app you mentioned. It links `stdin`/`stdout` with the host/port in the arguments. This means that the ssh config line `ProxyCommand nc64.exe %h %p` is basically a no-op

[2018-02-01 04:57] manojampalam commented on #355
That line about getpeername is expected since, ssh is talking over a pipe.

I'll try with netcat and see if I can find anything obvious.

[2018-02-01 06:40] manojampalam commented on #355
Tried with netcat and see the same behavior that you detailed. The traces indicate that ssh.exe is not receiving any output from proxycommand.
sshd traces indicate that it did receive the initial exchange from client - this proves that the input pipe from ssh to sshd via netcat is working

I then tried with the following entry:
ProxyCommand C:\Windows\System32\cmd.exe /c echo hello_there & sleep 5

[2018-02-01 07:46] khx71 commented on #1049
Hi there

thank you for the quote. It doesn't help (as you stated this is a security feature of Windows) but explains ;). I meanwhile worked around the issue disabling PKA and specifying the Password in every call using

sshpass -f <(printf '%s\n' $WINDOWS_PASSWORD) ssh $WINDOWS_SERVICE_USER@$WINDOWS_SERVER_IP

Regards

[2018-02-01 08:27] kcking commented on #355
Confirmed, it works with our proxy! (Just took me a bit to build it on windows)

[2018-02-01 09:51] alberaguilarfdez commented on #1047
Thanks manojampalam. I understand then that it is not possible.

I tried to solve the problem by starting the sshd service with another user than the Local System (thus making an impersonalization; it would be a domain user), but although the sshd service starts, authentication does not work. The error that leaves in the log is:

4516 2018-01-31 10:41:36.798 debug1: Bind to port 22 on ::.
4516 201

[2018-02-01 11:19] stevehipwell commented on #1048
There is an [issue](https://github.com/DarwinJS/ChocoPackages/issues/58) with this release related to the registry path `HKEY_LOCAL_MACHINE\SOFTWARE\OpenSSH` which appears to be missing in the latest version.

[2018-02-01 16:55] johnny-co commented on #154
I would model it exactly how FTP(S) User Isolation is configured now (via IIS), admins familiar with FTP can apply the same mental logic to ssh configuration.
If the user ssh configuration (keys) are stored under the user profile's SID registry, that makes sense. I think tying it to a profile path (default or otherwise) may not be the best direction. SSH user arent signing into Windows desktop, wh

[2018-02-01 16:58] bagajjal commented on #1048
Yeah it's a bug as the registry creation logic is in ssh-agent. Ssh-agent is an optional component to run... As a workaround just start and stop the ssh-agent service.

[2018-02-01 17:28] manojampalam commented on #1049
Thanks. Just learnt about sshpass. We would need a Windows version of this in the near future to automate non-interactive password based logons.

[2018-02-01 18:40] petrkra commented on #844
It's simple:
Can not be used ""
You must use ''

the correct syntax is:

 powershell.exe -ExecutionPolicy Bypass -Command '. .\FixHostFilePermissions.ps1 -Confirm:$false'

then everything will go right :-)

[2018-02-01 19:27] smayott opened #1054 "chdir("/"): PermissionDenied"
OpenSSH for Windows version 0.0.24.0 on Windows Server 2012 R2. Client Operating system Windows Server 2012 R2.

Issue:

At startup of SSHD services there is a log entry "error: chdir("/"): Permission denied" .

I have reran the FixHostFilePermissions and FixUserFilePermissions scripts several times. I am thinking that this is why I can not SCP to the server. Any ideas?

Thanks

[2018-02-01 19:29] bagajjal commented on #1054
please share the sshd_config and sshd.log (with DEBUG3 enabled)

[2018-02-01 19:42] smayott commented on #1054
As requested

sshd_config:

#	$OpenBSD: sshd_config,v 1.84 2011/05/23 03:30:07 djm Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# poss

[2018-02-01 19:44] smayott commented on #1054
Sorry not sure why the large font

[2018-02-01 19:51] DarwinJS commented on #1048
Should be fixed in 1.0.0.20180201 which was just pushed.

[2018-02-01 20:12] bagajjal commented on #1054
Looks like sshd service doesn't have permission to root drive like "c:\" (drive in which sshd binary exists).

As per the comments around the logic, it can be ignored.
This problem can be solved if you move to new version v1.0.0.0 in which sshd service starts as SYSTEM,

Here is the code snippet,
![image](https://user-images.githubusercontent.com/23668037/35700617-5956b1ce-0748-11e8-8dfe-17d09ca69

[2018-02-01 20:16] smayott commented on #1054
The binary are actually on e:. So this is an error I can ignore is what you are saying?  I was hoping this had to do with an issue with being able to scp to openssh.

[2018-02-01 20:20] bagajjal commented on #1054
During SCP failure did you see any errors in sshd.log?
I would suggest to use new version v1.0.0.0.

[2018-02-01 20:22] smayott commented on #1054
There were different errors. I'll close this issue and open a separate issue for that. Thanks

[2018-02-01 20:22] #1054 closed, assigned to bagajjal

[2018-02-01 20:52] dwatley opened #1055 "TrustedUserCAKeys not working on a domain computer"
**"OpenSSH for Windows" version**
v1.0.0.0-Beta

**Server OperatingSystem**
Windows 10 Enterprise

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
TrustedUserCAKeys doesn't appear to be working for a domain computer running Windows. Identical setup (identical CA Key, identical signed user key) on non-domain computer running Linux works as expected. Should also add this is usi

[2018-02-01 22:58] dwatley commented on #1055
With a bit more testing I'm able to get the cert accepted, but can't complete the login due to the identity on the system not matching:

The principal on the cert is `dwatley`, if I attempt to login with `dwatley@host` the cert is accepted, but there is no user on the system with that identity due to it being a domain account (`contoso\dwatley@host`) rather than a local account (`dwatley@host`) so

[2018-02-01 23:32] aaccioly opened #1056 "ssh-agent should support '-c' and '-t' options of ssh-add"
**"OpenSSH for Windows" version**
1.0.0.0

**OperatingSystem**
Windows 10 Pro

I've set ssh-agent service startup type to Automatic. I've also set a **passphrase protected** key at `%USERPROFILE%\.ssh\id_rsa`.  The passphrase in question is not the same as my user password.
After rebooting my PC, if i type `ssh-add -l` I can see that my key has been loaded by default (without any prompt for my pas

[2018-02-01 23:50] JW0914 commented on #1056
Did you ever add your key with `ssh-add`?

[2018-02-02 00:20] aaccioly commented on #1056
@JW0914, yes, before restarting my PC.

[2018-02-02 02:55] dwatley commented on #1055
Now I'm able to login if I leverage the `AuthorizedPrincipalsFile` and place the username in the file.

Auth user: contoso\dwatley
TrustedUserCAKeys: enabled
User Cert: principle is `dwatley`
AuthorizedPrincipalsFile: `C:/ProgramData/ssh/authorized_principles` (contents `dwatley`)

I'm not sure this is how it's intended to work, but it works. I should also mention that environment variable expansi

[2018-02-02 03:14] JW0914 commented on #1056
In Windows, once the key is loaded with `ssh-add`, it will no longer ask for a password.

[2018-02-02 03:40] JW0914 commented on #1056
In Windows, once the key is loaded with `ssh-add`, it will no longer ask for a password.

If you want the convenience of connecting to sessions without having to continually retype the key path, configure a [ssh user config](https://man.openbsd.org/ssh_config) at `%UserProfile%\.ssh\config`.

* For example, here's the one I utilize, with a generic port and ddns addresses:
   * Say I needed to logi

[2018-02-02 04:25] sakazuki opened #1057 "Support for TERM=dumb"
My terminal does not support colors or other special instructions. My $TERM is set to dumb, which indicates this. Could flow either provide a way to turn off color'd output, or respect the TERM setting?

It look like ssh-shellhost.exe problem ?

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH

[2018-02-02 04:49] bagajjal commented on #1055
FYI, We have a strict check that the __PROGRAMDATA__ should be in the start of the file name.. We suggest full file paths in sshd config

[2018-02-02 05:13] dwatley commented on #1055
Right, in the sshd_config, `__PROGRAMDATA__` is used for both `TrustedUserCAKeys` and `AuthorizedPrincipalsFile` at the very beginning of the line, but only works for TrustedUserCAKeys, and requires the full path. This is just a note that the two configuration settings don't behave the same way. I have no issue using full paths as a best practice if necessary. The primary issue I'm raising here re

[2018-02-02 05:57] manojampalam commented on #1056
@aaccioly ssh-agent is re-implemented from scratch for Windows to be more secure and provide a single sign on benefit.

ssh-agent encrypts the added private key using user's (Windows) password (using [DPAPIs](https://msdn.microsoft.com/en-us/library/ms995355.aspx)). It further persists the encrypted password in a "SYSTEM" only registry node. This prevents malware in user space from gaining access

[2018-02-02 06:19] manojampalam commented on #1055
@dwatley thanks for the detailed report. On Windows, in a domain environment, its necessary to fully qualify the user name to avoid resolution confusion - user with the same name can exist locally and in different reachable domains.

Can you try signing your user cert with dwatley@contoso as principal?

[2018-02-02 06:23] manojampalam commented on #1057
dump TERM  needs to be explicitly implemented in ssh-shellhost.exe (it only supports XTERM now).

Unfortunately, your only option now is to not request a PTY
ssh -T user@target

and you'll end up with a way dumber terminal.

[2018-02-02 07:58] dwatley commented on #1055
Thanks for the response. Signing with `dwatley@contoso` in the principal works. So the format definitely matters here, good to know. I also tried signing the cert with multiple principals comma separated, so `dwatley, dwatley@contoso` and that worked. So it seems there's some options here.

1. Use the AuthorizedPrincipalsFile containing usernames that will match. Ultimately the domain user is auth

[2018-02-02 12:28] aaccioly commented on #1056
@manojampalam , thanks for the in-deep explanation. Is this valid for every key that I add or only `id_rsa`? Is it supposed to respect `ssh-add -t` or `-c` if I reboot my machine? I would like to confirm my passphrase every once in a while instead of having my keys always loaded / ready to go.

[2018-02-02 13:13] jgiles commented on #1053
I'm seeing this exact issue currently - would you mind elaborating on the cause and fix?

Thanks!
Josh

[2018-02-02 16:34] dwatley commented on #1053
Certainly, that crossed my mind as I closed it. 😅

You should see a corresponding event in the security channel of the Windows Event Log indicating an audit failure. Log snippet below.

[code]

Logon Type 3 indicates a network login. In my case there is a non-standard User Rights Assignment configuration, so the `sshd` user which is a local account created at some point (not sure exactly when this

[2018-02-02 16:48] manojampalam commented on #1056
Its valid for every key.

Added the following to [considerations](https://github.com/PowerShell/Win32-OpenSSH/wiki/Various-Considerations)
_ssh-agent only supports '-l' '-L' 'd' and '-D' options. It ignores '-c' and '-t' options of ssh-add. It persistently and permanently stores the user's private key._

I've added this as a backlog ask.

In your case, you would want to delete your key as soon as

[2018-02-02 16:58] manojampalam commented on #1055
Yes. Your inferences seem right. I've added a reference to this thread in [Certificate Usage Samples](https://github.com/PowerShell/Win32-OpenSSH/wiki/Certificate-Authentication)

[2018-02-02 18:35] Sniper296 opened #1058 "`ssh-keygen -c` truncates public key"
**"OpenSSH for Windows" version**
0.0.18.0 from Optional Features
1.0.0.0 from GitHub

**Server OperatingSystem**
Windows 10 Home 1709 16299.125

**Client OperatingSystem**
N/A

**What is failing**
Changing a key's comment in `ssh-keygen` using `-c` truncates public key.

**Expected output**
`ssh-keygen -f test -t ed25519`
`ssh-keygen -c -f .\test`
[code]

**Actual output**
`ssh-keygen -f test -t

[2018-02-02 19:05] manojampalam commented on #1053
Thanks for catching this and investigating the underlying cause. We'll fix it for next drop.
Added as a known issue in 1.0.0.0 release notes.

[2018-02-02 19:17] aaccioly commented on #1056
Hi @manojampalam, fair enough. If I don't want to have my keys loaded indefinitely I guess that my best bet at the moment is to have some Tasks scheduled to run `ssh -D` every *x* minutes and when I logout right? (That's what I'm doing ATM, just want to confirm that there isn't a better way).

[2018-02-02 19:19] manojampalam commented on #1056
Right @aaccioly

[2018-02-02 19:25] manojampalam commented on #154
Will take a look at how FTP in IIS works.

I want to point we would like to be as close as possible to how OpenSSH works on Unix. OpenSSH currently ends up creating the user's profile if user has logged on for the first time (via ssh). We ought to have a default user directory because that's what OpenSSH core code assumes and relies on. And we prefer this is something that automatically gets clean

[2018-02-02 20:30] paulmcenaney commented on #986
No change in behavior on 1.0.0.20180201. (Again, installed through NuGet/Chocolatey... _Shouldn't_ matter.)

^C (Ctrl+C) is still not processed as an interrupt in the remote CMD/console session.
Second SSH process still not able to connect after the ^C is sent by the first session.

Happy to attach the sshd log if someone can tell me where to find it. I've searched the sshd binary directory, Progr

[2018-02-02 20:32] manojampalam commented on #986
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

Get sshd server logs (not sshd in debug mode that accepts only one connection).

[2018-02-02 20:53] bagajjal commented on #1055
@dwatley - Thanks for pointing the path resolution issue of __PROGRAMDATA__ in AuthorizedPrincipalsFile. There is a minor bug, I have fixed it. Here is the[ private binary](https://github.com/PowerShell/Win32-OpenSSH/files/1690794/sshd_AuthorizedPrincipalsFile_programdata_fix.zip).

please take backup of sshd.exe, use private sshd.exe.

[2018-02-02 22:16] paulmcenaney commented on #986
That link does not appear to contain correct information regarding the logs directory.

The installation path is c:\ProgramFiles\OpenSSH-Win64\.
ssh-agent.log is in the install location itself; not a logs subdirectory. Neither the logs subdirectory, nor the sshd.log exist in that directory tree. To be clear: there are NO subdirectories in the install location.

[2018-02-02 22:48] manojampalam commented on #986
Thanks. Its now fixed. It should be %programdata%\ssh\logs

[2018-02-03 03:06] Leproide opened #1060 "Windows 7 - Openssh wont start (v1.0.0.0-Beta)"
**What is failing**
ssh-agent starts
sshd wont starts

**Actual output**
System error 1067
No log (LogLevel DEBUG)

v0.0.24.0 works

[2018-02-03 05:36] bagajjal commented on #1060
From cmd start.  .\ssh-agent.exe -d

[2018-02-03 08:39] manojampalam commented on #1060
Did you mean sshd wont start? See Troubleshooting page in wiki and try running sshd in debug mode..

[2018-02-03 18:23] Leproide commented on #1060
@bagajjal tnx, i try as soon as possible.

@manojampalam net start sshd output is System error 1067

But the v0.0.24.0 works

[2018-02-04 01:09] sakazuki commented on #1057
@manojampalam Thank you for your comment.

I want to try creating dumb support.
I think I should enhance ProcessIncomingKeys in shell-host.c to support dumb.

Could you give me advise to do it ?

[2018-02-04 01:16] dwatley commented on #1055
@bagajjal - Confirming the `__PROGRAMDATA__` fix for AuthorizedPrincipalsFile. Works as expected.

[2018-02-04 01:41] dwatley opened #1061 "long logon delay for domain user authentication"
**"OpenSSH for Windows" version**
v1.0.0.0-Beta

**Server OperatingSystem**
Windows 10 Enterprise

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
Essentially there is a hang when you authenticate with a domain user account.

**Actual output**
[code]
This appears to be due to the [implementation](https://github.com/PowerShell/Win32-OpenSSH/blob/c4d0727338f1134bbe6a1f7631f7377

[2018-02-04 03:09] dwatley opened #1062 "binaries lacking digital signatures"
**"OpenSSH for Windows" version**
v1.0.0.0-Beta

**Issue Description**
The OpenSSH for Windows binaries are currently lacking a digital signature. Are there plans to sign these binaries as part of the release process?

[2018-02-04 04:18] bagajjal commented on #1062
Right now it's still in beta.. Soon we will move to production ready. We will have binaries when we are production ready

[2018-02-04 06:16] rob-scheepens commented on #688
@joeyaiello : is there any further update on when OpenSSH/Win32 will reach Production Ready status?

[2018-02-04 18:42] p0lar-bear commented on #1001
I just downloaded and installed the 1.0.0.0 release as per the instructions, and `Get-Command` tells me that the `ssh-keygen` being used is the one in `C:\Program Files\OpenSSH\`, yet it's telling me that RSA isn't supported as above.

[2018-02-04 22:00] bagajjal commented on #1001
Are you sure you are using 1.0.0.0?

[2018-02-05 01:34] p0lar-bear commented on #1001
...Nope. I thought I was but I misread the output of Get-Command, it was using 0.0.18.0. Disregard.

[2018-02-05 06:34] LoboMelwyn opened #1063 "Logged out immediately after authenticating"
When I am trying to login to sshd server from linux, I am authenticated and then is immediately logged out,
Here is the debug output

C:\Program Files\OpenSSH>sshd -d
debug1: sshd version OpenSSH_7.6, LibreSSL 2.5.3
debug1: private host key #0: ssh-rsa SHA256:cmeyzXpGz0zj9bfs2+kA6u39qvHAwYGYidW5
JRlCgdo
debug1: private host key #1: ssh-dss SHA256:SLyCBwSMjcNgw3sdh5EcFk8f1sJLL0xfE1Y+
xSvSDks
debug1

[2018-02-05 06:35] LoboMelwyn commented on #1063
FYI, I'm using Windows server 2012 R2

[2018-02-05 09:52] StrikerTwo opened #1064 "TFS build SSH file copy fails with "read ECONNRESET" against sshd on Windows"
**"OpenSSH for Windows" version**
 1.0.0.0 beta

**Server OperatingSystem**
Windows Server 2012 R2

**What is failing**
Task "Deploy: Copy Files Over SSH" in TFS Server 2018 Build

**Expected output**
Build succeeds

**Actual output**
`2018-02-05T09:20:04.0161219Z Das Kopieren von 485 Dateien auf den Remotecomputer wurde abgeschlossen.
2018-02-05T09:20:04.0629880Z ##[error]Ausnahmefehler: read ECO

[2018-02-05 15:39] johnny-co commented on #154
Makes sense, I dont have a Unix background. Keep after it, I think a good implementation of user isolation is a crucial piece of Win32-SSH.
Thanks for your hard work.

[2018-02-05 17:49] bagajjal commented on #1063
Make sure your binary folder is read by all authenticated users

[2018-02-05 18:26] bagajjal commented on #1064
please provide the server side logs sshd.log (with DEBUG3 enabled)

[2018-02-05 18:57] paulmcenaney commented on #986
Does the fix require a new build of the server, or was it merely an update to the wiki entry..?
%programdata%\ssh\ does not exist on my system, running sshd 1.0.0.20180201.

Looks like Chocolatey may install sshd with LogLevel QUIET by default.
I've previously edited sshd_config to include the following line, without success.
LogLevel DEBUG

Does the log path need to be added to sshd_config, someh

[2018-02-05 20:28] manojampalam commented on #986
No. Its just a wiki entry fix.

Logs dir should have been created as part of installation.
%programdata%\ssh\ also should exist on your system. (host keys would be read from this folder). Double check please.

As for log files, yes, this is something specific to Windows.

[2018-02-05 20:30] manojampalam commented on #1063
Looks like you are not authenticated yet. Can you check if you are hitting this (documented in release notes) ?

Known Issues:
You may not be able to connect with sshd logs showing that "unable to get security token for user sshd". Please see #1053

[2018-02-05 20:33] manojampalam commented on #1061
Is user "dwatley" in "contoso" domain? If so, is "contoso" DC reachable?

[2018-02-05 21:03] dwatley commented on #1061
Yes, the user is ultimately authenticated. The domain is reachable. It's just not until the `NetUserGetInfo` function fails.

[2018-02-05 21:42] #1046 closed, assigned to bagajjal

[2018-02-05 23:44] bagajjal commented on #1028
Please reopen if required.

[2018-02-05 23:44] #1028 closed, assigned to bagajjal

[2018-02-05 23:45] bagajjal commented on #936
please reopen with required information.

[2018-02-05 23:45] #936 closed, assigned to bagajjal

[2018-02-05 23:46] bagajjal commented on #856
Please reopen if required.

[2018-02-06 02:17] jblank-uw opened #1065 "[Regression] Match (user) Block No Longer Works in Version v1.0.0.0-Beta"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

1.0.0.0

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductNam

[2018-02-06 04:25] LoboMelwyn commented on #1063
Well I used older version and it worked fine with no issues, let me see I will try some other method.

[2018-02-06 13:03] StrikerTwo commented on #1064
Looks good to me:
[code]
[sshd.log](https://github.com/PowerShell/Win32-OpenSSH/files/1699098/sshd.log)

[2018-02-06 16:41] bagajjal commented on #1063
There are architectural changes between previous version and current version..

We suggest the new version.

[2018-02-06 17:34] manojampalam commented on #1064
We need to repro this to take it forward. Please add as much setup details as possible.

[2018-02-06 17:37] manojampalam commented on #1065
Just tried out ForceCommand and it seems to work. Add relevant details in sshd_config.

What did you mean by "Command option in authorized_keys"

[2018-02-06 17:45] manojampalam commented on #1058
Thanks for the PR. Added comments that need to be addressed.

[2018-02-06 18:05] jblank-uw commented on #1065
My sshd_config contains

Match Group ssh_users
	ForceCommand      cmd /c set ssh

I also tried adding the Command option in my authorized_keys file

  command="whoami" ssh-rsa AAAAB3NzaC1yc2EAA...

Will gather some Debug traaces from each version.

Jim

[2018-02-06 21:29] dwatley commented on #1061
@manojampalam - I'm able to reproduce this in PowerShell.

[code]

Passing the domain in NetBIOS form into the server parameter is causing the delay.

[2018-02-07 00:41] bingbing8 commented on #1060
@Leproide, please refer to the Breaking changes section of [release notes](https://github.com/PowerShell/Win32-OpenSSH/releases).
 - Make sure binary location has the write permissions to just SYSTEM, Administrator groups. It is recommended to extract binaries to `%ProgramFiles%\OpenSSH`
One possible reason is that your binary location has more than Read & execute  permission to other user than SY

[2018-02-07 08:43] lupo1977 commented on #1058
Should be ok now.

[2018-02-07 10:03] StrikerTwo commented on #1064
We have a TFS 2018 on Windows Server 2016 on-premise. The CI build has a task "Deploy: Copy Files Over SSH" that copies the build result to our public data centre server running Windows Server 2012 R2 on Hyper-V and the OpenSSH sshd.
The data centre server is protected by a Sophos UTM firewall that does simple NAT from a non-well-known port to TCP/22 on the server's internal IP.

If I copy the fil

[2018-02-07 16:34] charabaruk commented on #1056
I personally have a task set up to `ssh -D` whenever I lock my session or log out, in order to deal with this. It's evolved a little bit since June, but here's my writeup from back then: https://chris.charabaruk.com/2017/06/automated-ssh-agent-locking-win32-openssh/

[2018-02-07 16:50] DarwinJS commented on #1056
@manojampalam, @coldacid's solution seems very useful.  I wonder if there could be a user contributed utility section in the openssh repo to house such things?

[2018-02-07 17:00] lejeczek opened #1066 "version v1.0.0.0-Beta changes terminal background colors."
**"OpenSSH for Windows" version**
v1.0.0.0-Beta

**Server OperatingSystem**
v1.0.0.0-Beta

**Client OperatingSystem**
Centos 7

**What is failing**
SSH Win server that I got via "Add Features", version v0.0.24.0 did not one thing v1.0.0.0-Beta started doing, namely..
With v1.0.0.0-Beta(binary zip package) when sshed into Win server I get coloured(black) background except for blank/empty lines, whe

[2018-02-07 18:24] manojampalam commented on #1066
@bagajjal  is this expected?

[2018-02-07 18:32] manojampalam commented on #1056
@DarwinJS  Good Idea. Is there a standard way to do it in GitHub other than hosting within the repository (and taking contributions via PRs) ? What do you recommend?

[2018-02-07 18:41] manojampalam commented on #1058
Added comments.

[2018-02-07 18:46] manojampalam commented on #1061
Thanks for the follow up @dwatley.

Does specifying full domain FQDN help?
ssh user@dom1.dom2.dom3.com@target

I'll have to talk to AD team to see we can resolve via DC by default (currently we do it as fallback).

[2018-02-07 19:35] bagajjal commented on #1066
@lejeczek - Did you configure default shell at the server side?
FYI, sshd will send the background color of the default shell it launched to the client.
If you didn't configure default shell in windows registry then cmd.exe (whose background is black) will be the default shell.

what is the difference between v0.0.24.0 and v1.0.0.0.

[2018-02-07 20:54] dwatley commented on #1061
Using the format dwatley@ad.corp.contoso.com has the expected effect, no significant delay beyond the time it takes to lookup the user in Active Directory. Also tested that with the above PowerShell code and get a 0 message as well with the expected user data returned, so it works.

I think the implementation as currently written depends on NetBIOS resolution of the domain, which won't always be a

[2018-02-07 23:26] lupo1977 commented on #1058
Now I only fixed the bug for windows and kept the old code intact.

[2018-02-08 00:48] bagajjal commented on #1064
@StrikerTwo - Since it works with FileZilla, try to compare the sshd.log and figure out the difference.
Also please make sure the binary folder has the **only** read access to "Authenticated Users".

[2018-02-08 10:31] JonathanHolvey commented on #938
I've also experiencing this problem with extra lines in the output, as well as extra whitespace being printed between input characters, when connecting to a OpenSSH-Win32 server on Windows 7:

![screenshot_20180208-071339](https://user-images.githubusercontent.com/10114731/35965563-0ad661a6-0d07-11e8-8880-da4a025257de.png)

These clients I've had success with:

- OpenSSH-Win32 in `cmd.exe` or ConE

[2018-02-08 13:58] lupo1977 commented on #1029
I found at least one bug in scp.c related to the command line argument -3. It may also be related to the issue here.
This bug is inside the OpenSSH core code, so I guess it will make no sense to raise a PR for this?

[2018-02-08 14:31] DANIELG1952 commented on #1004
The issue with the enter key in nano can be bypassed. In the /etc folder there is the “nanorc” file in which we can remap some keys. At the end of the file I added 2 lines:
bind ^S savefile main
bind ^E enter all
When I edit a file with nano I can use ^S to save the file or ^O and ^E. And to use the enter function (break to new line) in the text I use ^E.

[2018-02-08 18:29] lejeczek commented on #1066
Well, I did not, but I also did not configure "anything" in v0.0.24.0 where I'm on cmd.exe and there background is blue, as per my gnome-terminal.
I do pretty much the same, default vanilla openssh win install of v1.0.0.0-Beta , as per docs, and session behaves differently, I'll have black background(where output is not blank/empty line, those lines will be painted blue).
In both cases I do not (m

[2018-02-08 19:12] manojampalam commented on #1029
Right. Use https://www.openssh.com/report.html to report issues in core code

[2018-02-08 19:16] lejeczek opened #1067 "ssh with keys does not work for non-local users(?)"
**"OpenSSH for Windows" version**
 v0.0.24.0

**Server OperatingSystem**
v0.0.24.0

**Client OperatingSystem**
Centos 7

**What is failing**
I cannot ssh to an account which is a domain account. Domain is NT-style and ssh server is Win10 Pro.
I put "?" as I'm new to Windows and I realize I might be missing something.
But I checked, just in case, permission of authrized_keys and these seem identica

[2018-02-08 19:18] bagajjal commented on #1067
Try logging like this,
ssh user@domain@host

If it didn't work then share sshd.log with DEBUG3 enabled and ssh log (ssh -vvv user@domain@host).

[2018-02-08 19:31] manojampalam commented on #1057
This  may not be straightforward. First, you need to see how sshd gets to know that client has requested a "dumb" PTY. Then sshd needs to convey this to ssh-shellhost (perhaps using a cmdline parameter). This should invoke the logic you are planning to add in shell-host.c

[2018-02-08 19:40] lejeczek commented on #1067
sshd.log:
..
8852 19:36:47:164 debug3: NetUserGetInfo() failed with error: 1722 for user: pe243 and domain: _biotec \n
8852 19:36:48:695 debug2: input_userauth_request: setting up authctxt for pe243@_biotec
8852 19:36:48:695 debug2: input_userauth_request: try method none
8852 19:36:48:695 Failed none for pe243@_biotec from 10.5.10.49 port 5390 ssh2
8852 19:36:48:695 debug3: userauth_finish: failu

[2018-02-08 19:50] DANIELG1952 commented on #1004
Another solution is to install the latest OPENSSH from
http://www.mls-software.com/opensshd.html
OPENSSL by Microsoft is 7.5 and here we become 7.6.
This version has no problem with the keyboard at all.

[2018-02-08 22:26] bagajjal commented on #1066
@lejeczek - Can you try my [private ssh-shellhost.exe](https://github.com/PowerShell/Win32-OpenSSH/files/1709034/ssh-shellhost-v1-background-issue.zip).

As part of V1.0.0.0, I have a [fix ](https://github.com/PowerShell/Win32-OpenSSH/issues/1005)related to coloring.

[2018-02-09 16:20] lejeczek opened #1069 "Bash(WLS) from cmd.exe or as default shell fails with 0x80070005"
**"OpenSSH for Windows" version**
 v0.0.24.0
**Server OperatingSystem**
 v0.0.24.0
**Client OperatingSystem**
Centos 7
**What is failing**

Being sshed into cmd.exe when I try to run bash/wsl:

Error: 0x80070005
Press any key to continue...

**Expected output**
Would be nice, great actually to have bash work and/or as the default shell.

**Actual output**

[2018-02-09 16:22] lejeczek commented on #1066
I will, how do I use ssh-shellhost ?
Reading "fix" - does it it mean it's fixed in git? If yes then could we have downloadable bins fixed as well?

[2018-02-09 18:29] bagajjal commented on #1069
Duplicate of https://github.com/PowerShell/Win32-OpenSSH/issues/289

Closing this as its a bash issue.

[2018-02-09 18:29] #1069 closed, assigned to bagajjal

[2018-02-09 18:33] bagajjal commented on #1066
Here are the steps,

1) cd to your binary folder.
2) backup existing ssh-shellhost.exe (move ssh-shellhost.exe  ssh-shellhost.exe.bk)
3) copy my private binary to the binary folder.
4) Make an ssh connection.

The fix went in v1.0.0.0 is correct.

[2018-02-09 20:11] bagajjal commented on #938
@JonathanHolvey - Did you check your "Screen Buffer width and Window Size" > 90.
please go through https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH.

What win32-openssh version are you using? Is it repro all the time?

[2018-02-09 20:45] bagajjal commented on #724
This works well with latest version v1.0.0.0

[2018-02-09 20:45] #724 closed, assigned to nobody

[2018-02-09 20:45] bagajjal commented on #1067
@lejeczek - Can you try the latest version v1.0.0.0.

[2018-02-09 21:02] bagajjal commented on #712
This is not seen any more with v1.0.0.0.

[2018-02-09 21:02] #712 closed, assigned to nobody

[2018-02-10 08:50] xiaohh2016 opened #1070 "Install OpenSSHUtils Module, signature invalid."
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
CentOS7
**What is failing**
when I try to install opensshutils module, it reports an error.
PackageManagement\Inst

[2018-02-10 09:28] JonathanHolvey commented on #938
Yeah, I did read through that wiki page before posting. Everything seems to be in order, however the issue persisted. I was running Win32-OpenSSH version 1.0.0.2018.02.02.

In the end I removed Win32-OpenSSH (after forcibly removing the sshd service), and installed [MSYS2](http://www.msys2.org/), configuring the sshd server using [this script](https://gist.github.com/samhocevar/00eec26d9e9988d080a

[2018-02-10 21:50] codearoo opened #1071 "Installer still sets the specific port number in the firewall"
The installer should create a firewall rule to the SSHD service or the EXE, not passing in the port used for the install. Now when the port number is changed in the sshd_config, it also has to get changed in the firewall config.
This was done via Chocolatey, using the parameters:
choco install -y openssh --params="/SSHServerFeature /SSHServerPort:12345"

And the firewall rule name ends up as:
SSHD

[2018-02-10 22:46] DarwinJS commented on #1071
The installer can be used to update the port - in which case it also updates the firewall rule.

I will consider changing it on the next version.

[2018-02-11 23:41] JW0914 commented on #1070
You're using an extremely old version... please update to [1.0.0.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v1.0.0.0) (ensure you re-read the [install wiki](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH), as steps have changed).

[2018-02-12 00:03] manojampalam commented on #1070
@joeyaiello is this expected?

[2018-02-12 00:21] manojampalam commented on #1058
Thanks @lupo1977 Merged your PR.

[2018-02-12 00:47] manojampalam commented on #1065
Issue found. Looks like Match blocks have regressed in 1.0.0.0. Will issue a fix soon and add test cases.

[2018-02-12 12:08] lejeczek commented on #1067
do you mean "beta" ?

[2018-02-12 13:04] lejeczek opened #1072 "Latest Win10 updates (win is up to date as of Feb 12) made ssh fail to exec some command(?)"
Hi,
I've installed some big "cumulative" updates (now I check and system says "is updated no updates" and my sshd has gone heywire!

**Client OperatingSystem**

**What is failing**

C:\Users\pawel>ssh-keygen

C:\Users\pawel>echo %errorlevel%
-1073741502

C:\Users\pawel>vim

C:\Users\pawel>echo %errorlevel%
-1073741502

C:\Users\pawel>powershell

C:\Users\pawel>echo %errorlevel%
-1073741502

**Expe

[2018-02-12 14:17] lejeczek commented on #1066
I exec: dir = colors retained, I exec "route print" = background changes to black.

[2018-02-12 17:08] lejeczek commented on #1067
It seems that even v1 beta needs sshd user to have (R) to authorized_keys of DOMAIN users even to prompt for a password. If such luck is absent sshd won't even connect, will instead fail:

$ ssh "pe243"@10.5.10.52
packet_write_wait: Connection to UNKNOWN port 65535: Broken pipe

Still will not login password-less, will the problem continue to remain somewhere in file permissions?

[2018-02-12 18:45] bagajjal commented on #1067
@lejeczek - please share sshd.log (DEBUG3 enabled) and ssh -vvv user@ip

[2018-02-12 18:49] bagajjal commented on #1066
The fix went in v1.0.0.0 is correct fix. This is expected behavior.
sshd process will send text with foreground, background color. If you don't specify any terminal, sshd will use cmd.exe as it's client. cmd.exe foreground, background colors will be sent to ssh client.

[2018-02-12 20:14] #1045 closed, assigned to bagajjal

[2018-02-12 20:23] bagajjal commented on #1050
duplicate of https://github.com/PowerShell/Win32-OpenSSH/issues/1045.

[2018-02-12 20:25] manojampalam commented on #1050
@bagajjal  this is not the same issue as #1045.

[2018-02-12 21:05] bagajjal opened #1073 "psexec consumes CTRL+C and leaves sshd process to run"
1) From cmd.exe, execute "psexec /s cmd" to launch cmd in SYSTEM context (use "whoami" command to check).

2) run sshd in debug mode ".\sshd.exe -d"

3) Press CTRL+C, psexec will exit but sshd process is not killed.

Ideally sshd process should die as its parent process psexec has exited.

[2018-02-13 00:56] bagajjal commented on #1063
Any update?

[2018-02-13 01:06] bagajjal commented on #1014
Any update?

[2018-02-13 01:08] bagajjal commented on #1013
Any update?

[2018-02-13 01:44] bagajjal commented on #986
Any update?

[2018-02-13 13:00] chunliu commented on #838
@bagajjal the issue seems still there in v1.0.0.0-beta.

[2018-02-13 13:46] chunliu commented on #838
This issue doesn't happen in v1.0.0.0-beta anymore.

[2018-02-13 18:43] #838 closed, assigned to nobody

[2018-02-14 02:36] bagajjal commented on #892
@DominikWiesend - I used v1.0.0.0. I couldn't reproduce this issue by doing "Ubuntu -> [Windows (SSH-Server)] -> windows".

Have a look at this,
![ssh-shellhost-cpu-issue](https://user-images.githubusercontent.com/23668037/36185197-b63ecf5e-10ec-11e8-853b-df8e0c7a280b.gif)

@pcgeek86 - Do you have the same scenario  "Ubuntu -> [Windows (SSH-Server)] -> windows" ? Ideally setting default shell to c

[2018-02-14 06:10] pcgeek86 commented on #892
@bagajjal I haven't reproduced this issue recently. If I reproduce it again, I'll post back with more information.

[2018-02-15 07:57] XceSx6 opened #1074 "Adding a Get Response & Duplicate File (this is not an issue but an addition request)"
Dear Developer,

For starters congratz on the good work and stable SFTP Framework !
After using it for about a Year now, it would be awesome to have the following available:
- A Get Response that can be called after calling any Function (like Upload or Download or Move, ..)
   Or having it returned as an object instead of the void
- A Duplicate File

Keep up the good work :)

[2018-02-16 11:05] massimonewsuk commented on #973
Is there any update on when RSA keys will be supported? So for example the standard ones that AWS generates for you.

[2018-02-16 15:58] manojampalam commented on #973
GitHub releases have full support for all key types. RSA keys are supported too.

[2018-02-16 16:43] cdhunt commented on #973
I'm not sure if this is related, but I cannot add any keys to ssh-agent.

v1.0.0.0-Beta

[code]

[code]

[2018-02-16 18:21] Cambridgeport90 commented on #973
I’ll run a test for you guys of this when I get home in a bit as well.

From: Chris Hunt [mailto:notifications@github.com]
Sent: Friday, February 16, 2018 11:44 AM
To: PowerShell/Win32-OpenSSH <Win32-OpenSSH@noreply.github.com>
Cc: Katherine M. Moss <KMoss@WinterHillSolutions.com>; Comment <comment@noreply.github.com>
Subject: Re: [PowerShell/Win32-OpenSSH] SSH Client fails to use existing id_rsa

[2018-02-16 18:31] bagajjal commented on #1074
@XceSx6 - We are in sync with openssh unix code.
If you are requesting for new features then follow up with openssh folks https://www.openssh.com/report.html.

Our goal is to get integrated with openssh core code so we don't support adding new features.