[2018-06-04 09:31] cadegenn opened #1171 "$env:username return "domain\login" instead of just "login""
Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)` => return error
Get-Command 'C:\Program Files\OpenSSH\sshd.exe'

CommandType     Name                                               Version    Source
-----------     ----                                               -------    ------
Application     sshd.exe

[2018-06-04 13:02] shitrus commented on #1170
You are suffering from this issue #1164

[2018-06-04 13:25] cw789 opened #1172 "ProxyJump"
**"OpenSSH for Windows" version**
7.6.0.1

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
If I use ProxyJump within SSH URI Usage within my config, I'll get:
Bad stdio forwarding specification ''[192.168.0.1]:22''
Seems like it is doubled escaped.

[code]

[2018-06-04 15:45] mikemaccana opened #1173 "Signed LibreSSL utilities for Windows"
**"OpenSSH for Windows" version**

     7.6.0.0

**Server OperatingSystem**

    N/A

**Client OperatingSystem**

    Windows 10 Pro

**What is failing**

Currently the only options to install openssl (or a variant) on Windows are [random unsigned binaries](https://wiki.openssl.org/index.php/Binaries). I note OpenSSH is built using LibreSSL:

    OpenSSH_for_Windows_7.6p1, LibreSSL 2.6.4

It would

[2018-06-04 16:33] julien-padovani opened #1174 "ETW logging doesn't work for non-admin accounts"
**"OpenSSH for Windows" version**
OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.4

**Server OperatingSystem**
Windows Server 2012 R2 Datacenter

**Client OperatingSystem**
Windows 10

**What is failing**
Once client is connected to sftp-server, there is no visible actions in logs.
Exemple, a user remove a file or folder, no logs show this.

**Expected output**
Get detailled logs about the user actions -

[2018-06-04 16:48] pldmgg opened #1175 "7.7.0.0 - ssh: Too many authentication failures"
**"OpenSSH for Windows" version**
[code]

**Server OperatingSystem**
[code]

**Client OperatingSystem**
[code]

**What is failing**
ssh - too many authentication failures

**Expected output**
[code]

**Actual output**
[code]

**Additional Notes**
Using version 7.6.1.0 provides the **Expected Output** (i..e it actually allows you to successfully ssh to the CentOS 7 VM)

The CentOS7 Vagrant Box used

[2018-06-04 16:51] manojampalam commented on #1175
Please share server side traces. see https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

Removed regression from title, until we confirm for sure it is.

[2018-06-04 16:56] manojampalam commented on #1172
Can you add some more details on how to do this in a simple setup? Perhaps using the local sshd endpoint as a proxyjump onto itself?

[2018-06-04 16:58] manojampalam commented on #1173
All binaries are MS signed from v7.6.1.0 onwards. Reopen if you see otherwise.

[2018-06-04 17:00] mikemaccana commented on #1173
@manojampalam are you sure there is a signed build of LibreSSL? I can't see any LibreSSL binaries  anywhere on my machine.

[2018-06-04 17:00] manojampalam commented on #1174
Did you follow these 3 steps in https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities (referenced in sshd_config manual)

To see Debug logs in EventViewer, do the following:
- Ensure sshd_config has logging level at DEBUG or above
- In Eventviewer, select option to show "Analytic and Debug Logs" (under top menu, View)
- Enable Debug logging (select Debug channel, click "Enable log" o

[2018-06-04 17:02] manojampalam commented on #1158
This is not currently supported

[2018-06-04 17:03] manojampalam commented on #1160
@bagajjal is this expected?

[2018-06-04 17:06] pldmgg commented on #1175
When 7.7.0.0 client tries to connect to CentOS7 VM...

[code]

When 7.6.0.1 client tries to connect to CentOS 7 VM...

[code]

[2018-06-04 17:28] mikemaccana commented on #1173
PS = I'd reopen, as the binaries don't exist, but I don't have permission.

[2018-06-04 17:57] manojampalam commented on #1173
I see this for libcrypto.dll in 7.6.1.0 payload
![image](https://user-images.githubusercontent.com/14185020/40933373-1def0dee-67e6-11e8-9472-569a6268290c.png)

[2018-06-04 18:06] mikemaccana commented on #1173
Hi Manoj, I think you're not quite reading the request correctly, which is
for a libressl binary (typically called 'openssl.exe').

On Mon, 4 Jun 2018 at 6:58 pm, Manoj Ampalam <notifications@github.com>
wrote:

[2018-06-04 18:07] manojampalam commented on #1175
can you ensure that your client only sends this key with thumbprint - 1M4RzhMyWuFS/86uPY/ce2prh/dVTHW7iD2RhpquOZA

so, we can narrow down the cause. In your earlier case, I dont see this key being offered.

[2018-06-04 18:29] manojampalam commented on #1173
hmm. yes indeed. This is currently not in scope. Would you mind listing out both use cases and business cases on why they would be useful for a general OpenSSH setup.

[2018-06-04 19:04] bagajjal commented on #1173
Win32-OpenSSH requirement is to have a DLL (we named it as libcrypto.dll) instead of EXE (openssl.exe).

[2018-06-04 20:15] mikemaccana commented on #1173
It it possible to include an exe, which would allow us to use LibreSSL to inspect keys and certificates, change formats, etc? Currently we're limited to `certreq`, which can only do CSR, a small subset of the full LibreSSL binary.

[2018-06-04 20:18] hugginsa commented on #1165
@manojampalam Just compiled and tested the latest commit. Bash is now failing commands passed to it.
Example command:
[code]
Debug message:
[code]
Command to successfully execute should be
[code]

Also affects SCP.
[code]

[2018-06-04 20:23] hugginsa commented on #1165
Powershell bash is not affected, only appears to be vanilla bash such as with Git for Windows and Cygwin.

[2018-06-04 20:27] hugginsa commented on #1165
Fun experiment, won't work in the long term but double-quoting  single-quote command passes and executes.
[code]

[2018-06-04 20:29] FranklinYu commented on #427
So VcXsrv is *not* supported by this version of Portable OpenSSH right? What a pity, it works so great with PuTTY. So it is too early to uninstall PuTTY in favor of OpenSSH?

[2018-06-04 21:10] pldmgg commented on #1175
Wiping out the keys loaded in my ssh-agent fixed the issue on 7.7.0.0 ...but shouldn't `ssh -i` bypass the ssh-agent altogether?

[2018-06-04 21:21] hugginsa commented on #1165
@manojampalam I know this is highly irregular, but here is the fix I propose. However, I cannot contribute myself. I suggest adding a generic bash "SH_GEN_BASH" to the enum for command building, or else having "SH_OTHER" get decorated like WSL bash or Cygwin bash.

The following code fixes my issue, and even allows Jenkins to successfully connect an SSH slave. Starts at line 1724 and ends at 1899.

[2018-06-04 21:26] fpqc commented on #427
@franklinyu Windows doesn't use X for Windows apps, which was the topic here. If you are launching remote Linux apps, I believe that win32-openssh does support forwarding X to a local x server.

[2018-06-04 22:09] manojampalam commented on #1165
Thanks @hugginsa I've create one more PR, to apply same rules to all possible bash shells. Can you try it out?

[2018-06-04 23:35] manojampalam commented on #1175
Looks like not. The logic is same on Windows on Unix. You may test out with 7.7p1 on Unix.

[2018-06-04 23:36] NoMoreFood commented on #1142
@archiker Standby for the moment.  There's a unrelated problem with SFTP that is being addressed.

[2018-06-04 23:56] pldmgg commented on #1175
My fault...this ended up working for me:

    ssh -o IdentitiesOnly=yes -i "$HOME\.ssh\vagrant_unsecure_private_key" vagrant@192.168.2.150

Thanks for your help! Sorry for eating up your time.

[2018-06-04 23:57] #1175 closed, assigned to nobody

[2018-06-05 00:39] FranklinYu commented on #427
@fpqc [VcXsrv](https://sourceforge.net/projects/vcxsrv/) is exactly the “local X server” you mentioned, and it works with PuTTY. I didn’t mean that Portable OpenSSH should come with an X server (not sure whether that is a good idea), but it should support existing local X server (Xming or VcXsrv).

[2018-06-05 05:25] #1165 closed, assigned to nobody

[2018-06-05 05:26] #1167 closed, assigned to nobody

[2018-06-05 05:26] #1164 closed, assigned to nobody

[2018-06-05 05:26] #1171 closed, assigned to nobody

[2018-06-05 05:53] cw789 commented on #1172
Of course. I've seen it generally concerns ProxyJump. So it doesn't depend on the ssh_config.

You can reproduce it simple by running `ssh -J localhost localhost`.

Output:
[code]

[2018-06-05 07:29] julien-padovani commented on #1174
Hello,

Yes, I did. When enabled I find detailed information when the user establish the connexion. But I see no logs about files or user actions.

[2018-06-05 09:41] fpqc commented on #427
You aren't paying attention. I am talking about connecting from linux or windows to a windows shell (cmd or powershell) on a remote windows computer running openssh-server

[2018-06-05 10:18] wenkyzhang commented on #1137
[code]

use putty connect, enter the user and password, i got this error
[code]
Server log:
[code]

any help? thanks

[2018-06-05 11:57] NiQ1 opened #1176 "Executing service results in error 1297 even though the sshd user has correct security rights"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
7.7.0.0

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName

[2018-06-05 13:26] FranklinYu commented on #427
@fpqc Sorry I got confused. In your case the remote machine is Windows, but in my case the remote is a Linux, right?

[2018-06-05 13:51] hugginsa commented on #1165
Testing now, but looking at the code I believe this solves my issue. Will request that it re-open if this does not give the expected behavior with bash.

[2018-06-05 14:03] TCS-Taylor opened #1177 "Can't SSH in using public key authentication when running as a service, can when sshd is run from cmd line"
**"OpenSSH for Windows" version**
sshd version OpenSSH_for_Windows_7.7, LibreSSL 2.6.4

**Server OperatingSystem**
Windows 7

**Client OperatingSystem**
Windows 10

**What is failing**
unable to ssh in using public key when the service is running.

**Expected output**
I expect I should be able to ssh in using public key authentication

**Actual output**
I am unable to ssh in using public key when

[2018-06-05 17:15] manojampalam commented on #1177
Most likely due to you domain not being accessible. If you are outside your domain network, try VPN or other means to connect to your domain first and retry.

[2018-06-05 17:19] manojampalam commented on #1137
You need to run sshd as SYSTEM (using psexec). see https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2018-06-05 17:32] TCS-Taylor commented on #1177
manojampalam - My domain is accessible, as is evident by the fact that I can SSH into the windows 7 machine when sshd is being run interactively.

[2018-06-05 17:44] manojampalam commented on #1174
Looks like its only working for admin accounts. Thanks for catching this. We'll follow up.

[2018-06-05 17:44] bingbing8 commented on #988
It has been fixed by PR  https://github.com/PowerShell/openssh-portable/pull/283

[2018-06-05 17:44] #988 closed, assigned to bingbing8

[2018-06-05 17:46] manojampalam commented on #1175
no problem. Happy to help.

[2018-06-05 17:47] manojampalam commented on #1142
@archiker can you try v7.7.1.0 ?

[2018-06-05 17:48] manojampalam commented on #1170
Try v7.7.1.0

[2018-06-05 17:48] #1170 closed, assigned to nobody

[2018-06-05 17:50] manojampalam commented on #1176
sshd service runs as SYSTEM, you don't need to and should not assign any privileges to "sshd" account - it is a low privilege account.

Are you seeing this after running install-sshd.ps1 ?

[2018-06-05 17:52] manojampalam commented on #1177
When sshd is running interactively (to be used only for testing/diagnostics), the authentication flow is different - it doesn't invoke S4U token generation logic that needs access to domain.

[2018-06-05 17:59] fpqc commented on #427
Yes. I think X forwarding from a Linux remote to Windows local machine running win32-openssh should work as usual, but I am not sure and haven't tried.

[2018-06-05 18:25] TCS-Taylor commented on #1177
Apologies, I was unaware of the difference.  I tested SSHing in using a local user, with the service running and authenticating with public keys, and it worked great.  So it definitely has something to do with the domain users.

My domain is accessible as far as I can tell (I can log into it, access network resources, etc).  Any other suggestions?  Any way I can turn up the logging of sshd running

[2018-06-05 18:30] manojampalam commented on #1177
Adding @nomorefood to this thread.

Has it been working on the previous version. We had user name resolution changes in 7.7.0.0 and I want to rule out if they would factor in.

See https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps for info on how to generate traces.

[2018-06-05 18:37] TCS-Taylor commented on #1177
@manojampalam , This is a clean install and my first attempt at using SSH on windows.  I'm putting together a proof of concept to show my team, we are planning on using SSH to help us manage our windows clients easier.

I will go thru the troubleshooting steps right now.  Thanks!

[2018-06-05 18:40] manojampalam commented on #1177
Sure. It should be very easy to try out v7.6.1.0, just download in a different folder and run install-sshd.ps1 from in there. You can easy switch between the versions by re-running install-sshd.ps1 from the respective versions.

[2018-06-05 23:15] yanoryuichi commented on #1146
Configuration files should not be stored in %USERPROFILE%\.ssh. It should be under %APPDATA%, or make it configurable with an environment variable %SSH_CONFIG_HOME% or something.

[2018-06-05 23:16] NoMoreFood commented on #1177
Does DOMAINNAME\root have a user principal name in Active Directory?  And the machine you're running it on is domain-joined?

The most useful diagnostic step will be getting the log with DEBUG3 enabled.  If the new algorithm were to fail it would be because TranslateNameW fails for whatever reason.

[2018-06-05 23:18] archfrog commented on #1146
I'm only asking to have it be storable under `%HOME%\.ssh` just like with all other OpenSSH implementations.  I'm not talking about `%USERPROFILE%` at all :-)

So far, I've resorted to using the OpenSSH implementation that is included in Git for Windows because it works well for me and supports configuration files in `%HOME%\.ssh` very well.

I was just hoping that I could some day use Microsoft's

[2018-06-05 23:21] yanoryuichi commented on #1146
In the first place, %HOME% and dot files are meaningless in Windows. Although OpenSSH specifies $HOME in UNIX, it's a bad design.

[2018-06-05 23:49] archfrog commented on #1146
Not if you regularly work on Linux platforms too.  You could also argue that the Linux subsystem is meaningless on Windows, yet some find it highly relevant and usable.  I'm only asking for a tiny change that will make it a seamless experience to use Win32-OpenSSH for us advanced users who regularly work in many different environments.

[2018-06-05 23:57] archfrog commented on #1146
I suppose if I could make a Windows symbolic link (junction, whatever?) to my regular config file, that would work too.  So you had `%APPDATA%\whatever\My Happy OpenSSH Configuration File.txt` was a symlink to %HOME%\.ssh\config, then it would work for me.  Would be tedious, but would work for me as my `%HOME%` never changes (it is a [VeraCrypt](https://www.veracrypt.fr/en/Home.html) container aka

[2018-06-05 23:58] yanoryuichi commented on #1146
I agree using ssh in WSL is a better way. In Windows 10 1803, I can make a symlink of $HOME/.ssh. Or using plink.exe of PuTTY is another way. The problem is a configuration directory of OpenSSH is not cofigurable.

[2018-06-06 00:05] archfrog commented on #1146
Yes, I interchangably use Putty and OpenSSH.  I tend to use OpenSSH for copying files because of the bulky Putty syntax (`putty -load Profile local-file.zip remote-server:/path/`) and Putty for actual SSH work because of the, IMHO, better console window (which I open with `start /max putty ...` to get a nice Unix-like terminal window :-)).

I didn't know that you can't configure the OpenSSH config

[2018-06-06 00:27] yanoryuichi commented on #1146
No, your request is useful. Actually I set a HOME environment variable in Windows like you do. I mean "CMD> setx HOME C:\Unix_Home".  A lot of commands are hard-coded with $HOME (=%USERPROFILE%). So, as you said, OpenSSH can pick %HOME% is good, but it's better if a configuration directory of OpenSSH is configurable, IMO.

[2018-06-06 00:35] archfrog commented on #1146
Okay, I see what you mean.  Perhaps a cascading design would make sense?  I.e. pick in this order:

1. `--config-file:PATH`.
2. `%APPDATA%\...`.
3. `%HOME%\.ssh\config`.
4. Give up locating the file and report an error.

Where `--config-file` is a new option to specify the directory that Win32-OpenSSH should use (better suggestions much wanted :-)).

Or something like that.  I was just hoping to h

[2018-06-06 02:34] FranklinYu commented on #427
Then we are talking about the exact same scenario, and I have not explained it well.

### background

I know some basic concept about SSH connection, but I have no idea how X-Forwarding works.

My remote is a Linux VM, with some GUI application installed. My local machine is Windows, with Portable OpenSSH (aka Win32-OpenSSH) installed. X server is also installed in local Windows machine, that is t

[2018-06-06 02:42] NoMoreFood opened #1178 "SSH Client Does Not Permit Passwords With Non-ASCII Characters"
**"OpenSSH for Windows" version**
 v7.7.1.0p1-Beta

**Server OperatingSystem**
Windows 10 Enterprise

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
Cannot login using an account that has a password with non-ASCII characters (e.g., þþþþþ12345abcABC) using SSH client.

**Expected output**
Login is successful.

**Actual output**
Permission denied, please try again.

[2018-06-06 10:40] fpqc commented on #427
file a new issue

[2018-06-06 10:40] #427 closed, assigned to nobody

[2018-06-06 13:50] TCS-Taylor commented on #1177
I have tried using v7.6.1.0p1, v7.7.0.0p1 and 7.7.1.0p1, all with the same results  (unable to ssh in, and the same three events in event vwr).

I have attached the DEBUG3 logs of my attempt with each version.  Lines 228 and 231 of v7.7.0 and 7.7.1 are of interest to me.  Thinking that might point us in the right direction...

@NoMoreFood  - yes, tcsbasys\root does have a UPN in active directory a

[2018-06-06 13:56] julien-padovani commented on #1174
I've added the user to administrators group, I still see no logs about files that the user create/remove/etc...

What results do you see as admin? Could you share your logs?

[2018-06-06 14:05] TCS-Taylor commented on #1177
I should also note that our Active Directory isn't technically Microsoft.  We are running Samba Version 4.7.3-Debian, which emulates a windows 2008r2 environment.

[2018-06-06 16:49] manojampalam commented on #1177
Ok. This does look specific to your environment. Can you add more details on your AD setup?

[2018-06-06 17:30] pldmgg commented on #1155
Just wanted to provide some additional info...I'm not ruling out an issue with OpenSSH-Win32, but there's a high probability that there's a problem with boot2docker specifically. If you turn an existing VM into a dockermachine (as opposed to running the boot2docker ramdisk) then this is not an issue:

[code]

[2018-06-06 17:53] TCS-Taylor commented on #1177
I followed these instructions for setting up our Samba4 AD environment.

https://github.com/thctlo/samba4/tree/master/howtos

Samba4 emulates 2008r2 AD VERY well.  All AD maintenance happens thru Microsoft's built in tools (IE, RSAT, Active directory users and computers, etc).

[2018-06-06 20:01] estroud427 opened #1179 ".."
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).Produc

[2018-06-06 20:15] bagajjal commented on #1179
Please update the issue with problem description.

[2018-06-06 20:19] TCS-Taylor commented on #1177
I just built a clean Microsoft Windows 2008r2 domain test environment, with all the same settings as our SAMBA4 domain environment (usernames, passwords, forest name, etc) and tested OpenSSH 7.7.0.0p1 public key authentication using a clean client joined to the Windows domain, and it worked great.  So it has to be something with the SAMBA4 setup.  Next step for me is to run some packet captures ag

[2018-06-07 01:21] mattpwhite commented on #1157
This approach doesn't make a lot of sense to me.

* AD already has (Kerberos) cryptographic keys for every user and computer in a domain.  The infrastructure already exists for a client (Windows or Linux) to authenticate to a server (Windows or Linux) in any trusted Kerberos realm (AD or MIT/Heimdal/whatever), authenticate that server and conditionally delegate credentials based on administrative

[2018-06-07 07:47] NoMoreFood commented on #1177
@TCS-Taylor I suspect, at least in the new version (v7.7.1.0p1), the problem is the inability to discover the UPN for the user. This may be something related to SAMBA not properly servicing LDAP searches that the Windows TranslateName() function uses.  You should see this in your packet capture; it must be failing for some reason.  The error code (1332) indicates that Windows cannot get the UPN of

[2018-06-07 14:59] TCS-Taylor commented on #1177
Alright, I captured packets from attempts to SSH in using v7.6.1.0p1 (both using username only AND UPN), v7.7.0.0p1 (using username) and v7.7.1.0p1 (using username).  Below are the packet captures.

[OpenSSH_v7.6.1.0p1-SAMBA4-PCAP-justusername.zip](https://github.com/PowerShell/Win32-OpenSSH/files/2080942/OpenSSH_v7.6.1.0p1-SAMBA4-PCAP-justusername.zip)
[OpenSSH_v7.6.1.0p1-SAMBA4-PCAP-upn.zip](htt

[2018-06-07 15:00] TCS-Taylor commented on #1177
Thanks again for helping with this folks!  If we can ferret out the problem that would be FANTASTIC!  If it does end up being an issue on the SAMBA4 side, maybe if we let them know they can fix it.

[2018-06-07 16:20] Ankcorn opened #1180 "Cannot connect using just public key auth"
Hi,
I cannot get it working with OpenSSH following the documentation listed [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples)

Password auth works fine

**"OpenSSH for Windows" version**
 v7.7.0.0p1-Beta
**Server OperatingSystem**
Windows Server 2012
**Client OperatingSystem**
Windows Server 2016
**What is failing**
Cannot connect using public key auth. It always prompts me

[2018-06-07 16:22] manojampalam commented on #1180
Without further details, it hard to guess what went wrong. Lets start of with traces, shttps://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2018-06-07 16:23] #1179 closed, assigned to nobody

[2018-06-07 16:40] Ankcorn commented on #1180
Thanks

In the stdout it connects fine up until auth

`debug1: Authentications that can continue: publickey,password,keyboard-interactive
debug1: Next authentication method: publickey
debug1: Offering public key: RSA SHA256:604SyK5C6dOapV6LGA7zli11Id8z8ISxa1jigX8EEUk ./id_rsa`

It attempts that with the path of the ./id_rsa file i gave it. Then the path to my users id_rsa key. Both which have been

[2018-06-07 16:56] manojampalam commented on #1180
Does it show an error code with
Could not open authorised keys

[2018-06-07 17:52] Ankcorn commented on #1180
Exactly.

[2018-06-07 18:30] manojampalam commented on #1180
I meant does it show a numerical error code along with that message ?

[2018-06-07 18:42] Ankcorn commented on #1180
Oh sorry, unfortunately I cannot check till tomorrow morning.

Thanks for your help :grinning:

[2018-06-07 19:10] FranklinYu opened #1181 "Support local X server"
Please answer the following

**"OpenSSH for Windows" version**
7.7.1.0

**Server Operating System**
Remote SSHD running on Arch Linux

**Client Operating System**
Windows 10 Enterprise

### background

I know some basic concept about SSH connection, but I have no idea how X-Forwarding works.

My remote is a Linux VM, with some GUI application installed. My local machine is Windows, with Portable O

[2018-06-08 01:08] NoMoreFood commented on #1177
So the PREAUTH errors are "normal" and can be ignored.  Concentrating on the 7.6.1.0p1 code which removes the added complication of a name lookup, the only thing I see is a potential disconnect on Kerberos Encryption key types (i.e. MD5 vice AES256).  The other immediate thing I question is whether SAMBA actually supports Kerberos S4U.  I'll try to replicate your setup, time permitting.  While I c

[2018-06-08 01:20] joshtriplett commented on #852
I ran into this issue as well, and managed to partially track down the problem. Current versions of sshfs attempt to pass the requested "mode" passed to create to the sftp open operation, using `SSH_FILEXFER_ATTR_PERMISSIONS`. That operation fails on the server. Squelching the "mode" argument to 0 makes the operation succeed, and creating new files works.

This looks like a bug in the OpenSSH Wind

[2018-06-08 02:54] manojampalam commented on #852
Thanks for tracking this down. We'll fix it on our end.

[2018-06-08 05:19] CollinChaffin commented on #1155
@pldmgg - Thanks for also looking at it!  I'll remind you though that the boot2docker IS THE BASIS of the Docker for windows/toolbox product and has been for years.  Yes, you can take established containers and hack around and run (some) of them (I'm not convinced all) other than boot2docker, but it's somewhat irrelevant - bear with me.  Just because you got one established non-boot2docker contain

[2018-06-08 08:36] Ankcorn commented on #1180
I have done a bit more detective work.

The Error message is
`
debug1: trying public key file C:\\Users\\<me>\\.ssh/authorized_keys
debug1: Could not open authorized keys 'C:\\Users\\<me>\\.ssh/authorized_keys': Permission Denied
Failed publickey for <me> from <localip> port 64842 ssh2: RSA SHA 256:<xxxxxxx>
`
I have also double checked my config to make sure PubkeyAuthentication is yes
The only s

[2018-06-08 19:01] DomDupuis commented on #15
+1

[2018-06-09 22:34] lufinkey opened #1182 "CTRL-C does not work"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
v7.7.1.0p1-Beta

**Server OperatingSystem**
Windows 7

**Client OperatingSystem**
Linux

**What is failing**
Sending CTRL-C from the terminal during an SSH session does nothing

**Expected outpu

[2018-06-09 23:57] NoMoreFood commented on #1177
Alright, I got Ubuntu running with Samba.  TranslateName() does not work properly (it seems to work for anything other than acquiring UPN).  More importantly though, I receive a STATUS_NOT_SUPPORTED when attempting to acquire Kerberos S4U token.  So it looks both may be due to feature limitations in SAMBA.

Update: Latest version of SAMBA does actually support TranslateName() properly, but S4U sti

[2018-06-11 14:40] kartiklunkad26 commented on #1149
@joeyaiello Appreciate your input here. The support position absolutely makes sense. I think from the consumer of the Github releases, as @dwatley pointed that, it'd be highly appreciated if we know what stable OpenSSH release we can consume.

From what I understand - the 7.x releases are very much stable. Would that be accurate?

[2018-06-12 02:30] archiker commented on #1142
I only found v7.7.0.0 here: https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.7.0.0p1-Beta
Where to get v7.7.1.0?

[2018-06-12 05:10] manojampalam commented on #1142
https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.7.1.0p1-Beta

[2018-06-12 08:12] archiker commented on #1142
Thanks @manojampalam.

I extracted the binaries and overwrite existing ones, and re-tested with user@domain as "m1234@mgmt". Same error "Server refused our key".

From debug log (attached - [sshd-debug-no-VPN.txt](https://github.com/PowerShell/Win32-OpenSSH/files/2093116/sshd-debug-no-VPN.txt));

It looks sshd was trying to open / create file "authorized_keys" in <HOME>/.ssh/ directory, and failed

[2018-06-12 09:02] NoMoreFood commented on #1142
@archiker Can you please try running as a service? It looks like the account you are running the server under doesn't have read access to AD so it cannot lookup the UPN for the user.   Also, if you want publickey authentication to work, you must create authorized_keys with the thumbprint of your key file otherwise the SSH server does not known what keypair is associated with your account.

[2018-06-12 09:35] NoMoreFood commented on #1180
@ThomasAnkcorn Can you attach the full debug log with DEBUG3?  If they aren't being produced, you can updated the lines in C:\ProgramData\ssh\sshd_config:

[code]

[2018-06-12 20:13] jamieshaw commented on #1177
I'm seeing this issue also; fresh install of Windows Server 2016 with Windows Server Essentials configured on it.

Happy to assist in any way that I can but I'm primary a Mac user so not sure where to start digging into the logs. Same issues as OP. Cannot log in via Public Key but can via password; when starting SSHD from the command line, it works fine.

Setup was working fine before configuring

[2018-06-12 21:05] FranklinYu commented on #1182
This does work in my machine:

1. SSH to Linux.
2. Run `sleep 10`.
3. Before it wake up, hit CTRL + C.

I see that the program `sleep` terminated. Is this what you want?

[2018-06-12 21:08] lufinkey commented on #1182
It doesn't work when I SSH from Linux to Windows

On Tue, Jun 12, 2018, 5:06 PM Franklin Yu <notifications@github.com> wrote:

[2018-06-13 08:34] NoMoreFood commented on #1177
@jamieshaw Please attached DEBUG3 logs when running as a service.  Also please make sure the user has a user principal name defined in Active Directory.

[2018-06-13 11:32] Maddog2050 opened #1183 "Issue with public key authentication"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
7.7.0.0

**Server OperatingSystem**
Windows Server 2016 Datacenter

**Client OperatingSystem**
Red Hat Enterprise Linux Server release 6.1 (Santiago)

**What is failing**
Key based authenticatio

[2018-06-13 11:43] MrWolf-to opened #1184 "Errors in Windows Event Viewer"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 7.7.1.0p1 Beta
**Server OperatingSystem**
Windows 7 64 bit and Windows 10 64 bit
ProductName).ProductName)`

**Client OperatingSystem**
Windows 7 64 bit and Windows 10 64 bit
**What is failing*

[2018-06-13 12:59] kevmul commented on #1133
For anyone else looking to fix this issue that uses Scoop.

I had this error thrown when I had pshazz installed using Scoop.
I ran
[code]
Uninstalled, and error went away.

Hope this helps!

UPDATE:

I saw this error over on pshazz https://github.com/lukesampson/pshazz/issues/70 and @myty had a comment that solved this for me too, without uninstalling pshazz. Go take a look, and if it works give h

[2018-06-13 15:04] guilala commented on #1158
+1 It's just a matter of mapping the mouse events to specific escape sequences, right? Something like ^[OA^[OA^[OA^[OA^[OB^[OB^[OB^[OB^[OB for the scroll wheel? Must be easy to accomplish, low hanging fruit. Would be very much appreciated by vim users!

[2018-06-13 19:04] jstarks opened #1185 "ProxyCommand incorrectly requires an absolute path"
ProxyCommand requires an executable with an absolute path or a path relative to the ssh.exe installation directory. This is because it uses `posix_spawn` instead of `posix_spawnp` (although the latter is not currently implemented).

This seems wrong. OpenSSH on POSIX passes the ProxyCommand to the shell, and the shell looks up the executable in the path.

This breaks the inbox Windows `hvc` tool f

[2018-06-14 02:12] DarwinJS opened #1186 "Install Guide Should Include File Location and permissions Information"
The install guide does not include information on where files are or should be located.

This is important for things like

* sshd_config going in c:\ProgramData\ssh because this is a departure from how it is done on Linux.
* optional files that are not in the distribution such as ssh_config
* operational files that only appear during operations, such as sshd.pid and log files

It might also be ni

[2018-06-14 13:12] archiker commented on #1142
Thanks a lot @nomorefood! I tried on a site and it worked!  But 2nd site failed as before. I will check them and try to find something.

[2018-06-14 17:22] manojampalam commented on #1184
Check your service configuration (sshd_config). I guess you have specific entries for HostKeyAgent and PidFile

[2018-06-14 17:42] MrWolf-to commented on #1184
Hi, I can see these options my sshf_config:
hostkeyagent \\.\pipe\openssh-ssh-agent
PidFile ./logs/sshd.pid

I changed the second line to:
PidFile .\sshd.pid
as suggested here:
[https://github.com/PowerShell/Win32-OpenSSH/issues/493](url)
and it creates sshd.pid in the program folder.
If I tried to add the absolute path C:\ProgramData\ssh\logs, it gives me error:
sshd: error: Couldn't create pid f

[2018-06-15 11:41] trevrobwhite opened #1187 "Install push from Linux"
Does anyone know if there is a way to push the installation from a Linux box using the administrator user/password?  (Server is in a workgroup)

My plan was to using wmic to do a "PROCESS CALL CREATE XCOPY" to copy the executable from a Samba share then execute/extract the installer but I cannot get PROCESS CALL CREATE to work from Linux.

I have Windows Severs 2008-2016 and Windows RM isn't setup

[2018-06-15 16:51] manojampalam commented on #1187
AFAIK, you either need WinRM for a push solution or DSC/Chef/Puppet for a pull solution.

[2018-06-16 16:08] rageshkrishna commented on #1133
Just ran in to this myself and found that the "Startup Type" for the ssh-agent service was set to "Disabled". I changed that to "Manual" and was able to start the service normally.

[2018-06-16 17:34] manojampalam commented on #1133
@rageshkrishna what's your openssh version?

[2018-06-16 23:17] assaft opened #1188 "Fail to connect to sftp-server"
**"OpenSSH for Windows" version**
7.6.0.1

**Server OperatingSystem**
Windows 10 Home

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
I try to use WinSCP to connect to an OpenSSH for Windows. I tried both with user/pass and with a key.
WinSCP fails with an error:

See attached sshd log. This line looks suspicious to me:

I have no problem to connect with PuTTY.

I have the followin

[2018-06-17 00:01] assaft commented on #1188
It could be that I simply encountered #1164 .

It seems like I don't manage to install version 7.7.1.0 and I'm not sure what I'm doing wrong.

I downloaded the latest version, which is supposed to be 7.7.1.0p1-Beta and install it as written below:

As you can see, it prints 7.6.0.1.

It looks like I have two versions messed up - one in C:\Windows\System32\OpenSSH, which came with Windows built in

[2018-06-17 00:53] assaft commented on #1188
Regarding the version conflict:
1. I noticed that the PATH variable includes C:\Windows\System32\OpenSSH. This is a bug, since I already uninstalled the internal OpenSSH server.
2. After updating the PATH to C:\Program Files\OpenSSH and reinstalling, I get version 7.7.0.0 - still not  7.7.1.0. Could it be that the zip file for  7.7.1.0 Win64 is in fact 7.7.0.0?
3. WinSCP is still not working with

[2018-06-17 03:41] discentem opened #1189 "No sha256 hashes provided"
Please provide sha256 hashes for these releases.

[2018-06-17 04:44] manojampalam commented on #1188
1. Did you uninstall OpenSSH client too?

2. I downloaded your linked package, extracted and see the following:
[code]

[2018-06-17 17:46] NoMoreFood commented on #1142
@archiker Interesting.  Can you try to reproduce that behavior (i.e. first time succeeds, second time fails?) after restarting the service? And if so, provide the log with both attempts.

[2018-06-17 22:32] assaft commented on #1188
1. No - I didn't uninstall the client.

2. It's really strange. It looks like I downloaded 7.7.1.0 but after running the installation script it somehow switched to 7.7.0.0.

This is what I get in the new path that I'm currently using (after running the installation script and everything as described in the wiki page):

[code]

You can see that it comes from 7.7p1 but the version is 7.7.0.0. I'm no

[2018-06-18 04:26] rageshkrishna commented on #1133
I don't have an exact version number at the moment, but it was whatever came with the "OpenSSH Server" feature in Windows 10 (build 1803).

[2018-06-18 04:36] manojampalam commented on #1188
What are your installation steps? If you run install-sshd.ps1, it just installs the services and does nothing to binaries.

[2018-06-18 04:39] manojampalam commented on #1133
If so, this is expected, ssh-agent was set to disabled in the recent Windows 10 update. You'll have to enable it explicitly if you need it.

[2018-06-18 13:11] HSSupport commented on #1137
hi @NoMoreFood, yes i have a system i can test this on if you pass me a modified installer :)

[2018-06-18 16:39] rmcgowen opened #1190 "Backspace sends ^H instead of ^? and is not recognized"
**"OpenSSH for Windows" version**
OpenSSH x64 7.7.1.0

**Server OperatingSystem**
Ubuntu 16.04

**Client OperatingSystem**
Windows 10 Home Version 10.0.17134 Build 17134

**What is failing**
When trying to use backspace in the command prompt while being asked for input in Linux, it sends ^H instead of ^? and does not delete a character.

**Expected output**
When hitting backspace it should delete

[2018-06-18 19:28] bagajjal commented on #1190
@rmcgowen  - Please try this [private ssh.exe binary](https://github.com/PowerShell/Win32-OpenSSH/files/2112695/ssh_fix_backspace.zip)

[2018-06-18 19:45] bagajjal commented on #1190
Please try the private ssh.exe [ssh-fix-backspace.zip](https://github.com/PowerShell/Win32-OpenSSH/files/2112758/ssh-fix-backspace.zip)

[2018-06-18 20:14] rmcgowen commented on #1190
@bagajjal where is this from and what was the fix? It does indeed work. Thank you.

[2018-06-18 20:16] bagajjal commented on #1190
Here is the code fix, https://github.com/PowerShell/openssh-portable/pull/325/files

[2018-06-18 20:17] rmcgowen commented on #1190
I am going to leave this open since it is still an issue in this executable.

[2018-06-18 20:21] bagajjal commented on #1190
Sure, The fix will be part of next release. I will close this during that time.

[2018-06-19 15:17] discentem opened #1191 "Would it be possible to have packages signed by Microsoft?"
I'd like to be able to verify the certificate of the open-ssh releases. Is this possible? Does it mean the format would have to change from a .zip to a executable?

[2018-06-19 17:49] bingbing8 commented on #1191
Starting v7.6.1.0p1-Beta, all the binaries and scripts in zip files are digital signed.

[2018-06-19 18:11] discentem commented on #1191
Acknowledged. Thanks @bingbing8!

[2018-06-19 23:40] assaft commented on #1188
I started over again and now there's no problem with the version. It looks like there was some mistake on my side. Sorry about that.

[2018-06-19 23:40] #1188 closed, assigned to nobody

[2018-06-20 13:47] cadegenn opened #1192 "Does Host-based authentication work with OpenSSH_Win32 ?"
**"OpenSSH for Windows" version**
`7.7.0.0p1`

**Server OperatingSystem**
`Windows Server 2016 Standard`

**Client OperatingSystem**
`Ubuntu 16.04.4 LTS`

**What is failing**
Host-based authentication

**Expected output**
ssh user@server

**Actual output**
Does not work.
It seems like files .shosts, shosts.equiv, ... are ignored
I'm not familiar with host-based authentication. I followed a guide f

[2018-06-20 13:53] cadegenn commented on #1192
Hi,

ok, a colleague just point me to this page https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Scope and I see that Host-based Autentication is not implemented yet.

I guess you can close this issue.
Sorry to have bothered you.

[2018-06-20 13:53] #1192 closed, assigned to nobody

[2018-06-20 16:25] Lnemirage opened #1193 "How to activate sftp-server.log"
I tried to activate sftp logs as in the previous version but I didn't find sftp-server.log

sshd_config :
Subsystem	sftp	D:\Openssh\sftp-server.exe -l INFO

how to do it?

thanks

[2018-06-20 16:56] manojampalam commented on #1193
Did you check https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities ?

[2018-06-20 16:57] #1191 closed, assigned to nobody

[2018-06-20 16:59] manojampalam commented on #1189
Binaries and utility scripts are already signed. Are you asking for something else ?

[2018-06-20 17:21] discentem commented on #1187
I think PyWinRM works on linux: https://github.com/diyan/pywinrm

[2018-06-20 21:57] discentem commented on #1189
I guess signatures are sufficient. Many other software packages list the hashes of each new binary as well to verify downloads. ¯\\_(ツ)_/¯

[2018-06-20 22:03] DarwinJS commented on #1189
Sounds like you are talking about windows servicing.  If you consume openshh as an optional windows feature on win 10 / 2016 - you get all of that.

[2018-06-20 22:09] discentem commented on #1183
@Maddog2050 Are you able to get to key base auth to work with other, normal system users? I'm running into this same issue with a normal user.

[2018-06-21 00:13] thezim commented on #1193
#834 might have some useful info.

[2018-06-21 01:02] Remeron opened #1194 "Write failed: Broken pipe"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**
Not a terminal issue

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Nam

[2018-06-21 01:10] bagajjal commented on #1194
You need to fix the authorized_keys file permission..
Follow instructions here https://github.com/PowerShell/Win32-OpenSSH/wiki/OpenSSH-utility-scripts-to-fix-file-permissions.

If you still run into issues then follow https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps.

[2018-06-21 01:32] Remeron commented on #1194
Thanks for the quick response.

I went through the first link and executed the steps on the Windows server. Got the below response.

PS C:\program files\openssh> Powershell.exe -ExecutionPolicy Bypass -Command '. .\FixUserFilePermissions.ps1 -Confirm:$false'
  [*] C:\Users\sftpuser\.ssh\id_rsa
      looks good

  [*] C:\Users\sftpuser\.ssh\id_rsa.pub
      looks good
   Done.

PS C:\program files\

[2018-06-21 10:38] Lnemirage commented on #1193
Now, I'm able to activate sftp logs on local file with :
sshd_config : Subsystem	sftp	sftp-server.exe -l INFO -f LOCAL0
and adding write permission to C:\ProgramData\ssh\logs for the connecting user

but I'm still unable to have the sftp logs into windows event-viewer

[2018-06-21 15:19] DerekBennett commented on #1032
I am using OpenSSH-Win64-v7.7.0.0p1-Beta to invoke a BAT file remotely. The BAT file sets some environment variables and then calls START "" someprogram.exe. This used to work just fine in prior releases of SSH. Now, however, START no longer works. Instead the someprogram.exe instance dies as soon as the BAT file exits. Is this a bug, or should I be doing something differently?

[2018-06-21 16:01] manojampalam commented on #1032
@DerekBennett can you please open a new issue and add a reference to this thread?

[2018-06-21 16:04] manojampalam commented on #1193
are you hitting this https://github.com/PowerShell/Win32-OpenSSH/issues/1174

[2018-06-21 16:18] manojampalam commented on #1194
What version of OpenSSH are you using? You didn't mention it earlier.

How did you create sftpuser account ? It looks like sshd was unable to generate token for this user using S4U logic. Does it work at all with any other account?

[2018-06-21 16:31] DerekBennett opened #1195 "Remote invoke of START from BAT kills STARTed process"
**"OpenSSH for Windows" version**
This version command did not work for me. The SSH installation I used is the current release: "OpenSSH-Win64-v7.7.0.0p1-Beta"

**Server OperatingSystem**
Windows Server 2012 R2 Standard

**Client OperatingSystem**
Windows Server 2012 R2 Standard

**What is failing**
I am using OpenSSH-Win64-v7.7.0.0p1-Beta to invoke a BAT file remotely. The BAT file sets some envi

[2018-06-21 16:48] DerekBennett commented on #1032
done

On Thu, Jun 21, 2018 at 12:01 PM Manoj Ampalam <notifications@github.com>
wrote:

--
Derek Bennett
Derek@TheBennetts.org
1.917.968.8982

[2018-06-21 18:29] discentem opened #1196 "public key authentication not working; could be config issue"
It's quite possible I could have a config issue, might just need some pointers. Happy to grab other logs as well if needed.

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)` command was not working for me, even though the ssh service is running and accepts password connections.

Version of openSSH I installed: 7.7.1.0p1-Beta

**Server OperatingSys

[2018-06-21 18:32] manojampalam commented on #1196
Server side logs?

[2018-06-21 18:32] bagajjal commented on #1196
Please share server side logs (sshd.log with DEBUG3 enabled)..

If you still run into issues then follow https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps.

[2018-06-21 18:34] bagajjal commented on #1194
Now run the sshd as service (net start sshd).. It should allow you to login using key based authentication..

since you are not using psexec, It failed to generate token.. It's expected.

[2018-06-21 18:42] discentem commented on #1196
@manojampalam @bagajjal added server side logs.

[2018-06-21 18:51] discentem commented on #1196
It doesn't like my authorized_keys file for some reason I think.

[code]

Something I'm unclear about: should authorized_keys be a file where each line is a public key, or a directory which stores .pub files? or both?

[2018-06-21 18:52] discentem commented on #1196
Oh. Maybe: https://github.com/PowerShell/Win32-OpenSSH/issues/862. Let me try that.

[2018-06-21 18:53] bagajjal commented on #1196
We support only UTF8 encoding.. That might be the issue.

[2018-06-21 18:55] discentem commented on #1196
My bad. It was the encoding:

[code]
from https://github.com/PowerShell/Win32-OpenSSH/issues/862 solved my issue.

[2018-06-21 18:55] #1196 closed, assigned to nobody

[2018-06-21 18:56] discentem commented on #1196
Sorry folks! Thanks!

[2018-06-21 19:00] discentem commented on #1196
I might have missed it in the docs, but can we add/make this more prominent to the docs?

[2018-06-22 01:26] gobbedy commented on #1172
I get the same error

I use OpenSSH_for_Windows_7.6p1, and Windows 10 Education

ssh -J user1@jumphost user2@server

`Bad stdio forwarding specification ''[server]:22''`
`ssh_exchange_identification: Connection closed by remote host`

[2018-06-22 02:08] #1189 closed, assigned to nobody

[2018-06-22 05:26] Menci opened #1197 "My username is converted to lowercase"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
[code]

**Server OperatingSystem**
Any

**Client OperatingSystem**
[code]

**What is failing**
[code]

My username starts with the uppercase `M`, then I start a `ssh`, the username is turned to

[2018-06-22 05:30] manojampalam commented on #1197
This is by design and is done to accommodate case sensitive comparison logic in OpenSSH core code. Since principal names are case insensitive in Windows, we had to adhere to some form of normalization - we chose to resolve all names to lower case format.

Do you see any issues with this?

[2018-06-22 05:52] manojampalam commented on #553
@nomorefood with the new group fetch logic in getusergroups(), local built in groups are being fetched in the form builtin\group (ex. builtin\administrators).

Did you have any specific reason to keep the builtin prefix ? If not, can we remove it, to keep it consistent with "user" rules (local user have no domain prefix). This will also align it with how local groups are commonly used in various u

[2018-06-22 18:01] Remeron commented on #1194
this works
ssh -vvv -i ~/.ssh/id_rsa -l sftpuser@ad servername

this gave me broken pipe
ssh -l sftpuser@ad servername

So I guess I'm good with SSH

now the same problem exist with sftp
how to send the ad user name and identity via sftp?
sorry if this questions sounds really stupid I'm not an extreme technical guy.

[2018-06-22 19:25] bagajjal commented on #1194
@Remeron - copy your identify file (id_rsa) to your user profile folder (c:\users\<usersname>\.ssh\) and make sure the permissions are good after copying.

Now you will be able to login using "ssh user@ip", "sftp user@ip".. This eliminates the need of passing "-i <identify_file>"...

[2018-06-22 23:29] NoMoreFood commented on #553
@manojampalam I had thought about trimming it off but I didn't know if 'BUILTIN' is localization-sensitive?  I'll put in a PR to remove it if you happen to know for sure (or have a non-English platform to confirm on).

[2018-06-22 23:35] manojampalam commented on #553
@NoMoreFood let me follow up.
I'm also facing one other issue. With the following entry:
Match Group administrator
I'm getting up a 14 second delay on my enterprise box (my account has ~250 group memberships)

I'm planning on doing the following optimization:
If the group name does not have wild cards, I'll resolve the name to SID and simply do a membership check against the token. This will avoid

[2018-06-23 03:47] ichaoX opened #1198 "Unexpected prompt when $ in username"
**"OpenSSH for Windows" version**
OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.4

**Server OperatingSystem**
Windows 7 Ultimate

**Client OperatingSystem**
Any OS

**What is failing**
Unexpected prompt when $ in username or hostname

https://github.com/PowerShell/Win32-OpenSSH/blob/8dd7423e13ac0b88b3084ec95bc93ea09dec1fef/session.c#L916-L920

According to `prompt /?` , username and hostname should repl

[2018-06-23 10:57] NoMoreFood commented on #553
@manojampalam Sounds good.  Some of that delay is probably due to the de-optimization I had to do for OneCore compatibility.  Since the APIs that allow simultaneous, multiple account resolution are not exposed through OneCore, I had to change it to a one-by-one method.  The annoying thing is that at least on the Windows desktop/server platforms, the OneCore-endorsed APIs end up just calling the on

[2018-06-23 11:12] NoMoreFood commented on #1198
I'll take care of fixing this -- easy fix.

[2018-06-25 17:25] medavisjr commented on #1197
As a sysadmin who uses both Windows and Linux, I don't see a functional issue with this. Windows doesn't care what the case of the username is. If I try to make an account on Windows called "rodalli" when there's already "Rodalli", the OS is going to tell me I can't, since it considers the principal already in use.

It's purely cosmetic and a matter of preference, I think. The as-designed function

[2018-06-25 18:06] bingbing8 commented on #1183
sshd service can run under SYSTEM as service or run in interactive mode (typically as admin), but not as network service.

[2018-06-25 21:47] manojampalam commented on #553
@NoMoreFood I see the impersonation mode accounted for Kerb S4U
s4u_logon->Flags = (impersonation) ? 0x0 : 0x8;

and not for MSV1 S4U. Is it intentional? Let me know otherwise, I'll fix and test it.

[2018-06-26 00:04] NoMoreFood commented on #553
@manojampalam Yes, it was intentional.  As I recall, the docs have a special flag for Kerb but not for MSV1.

[2018-06-26 07:30] dwatley commented on #1160
Ping...

[2018-06-26 12:18] surli opened #1199 "Wiki Fix proposal: path issue when using scp"
I had an issue when using scp with a fresh install of OpenSSH using the instructions provided in the wiki: https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

Actually, the problem was the path of the installation for OpenSSH: putting it in `C:\Program Files` might led to errors because of the space in the name.

So I propose to change the documentation to recommend installing

[2018-06-26 12:35] Lnemirage commented on #1193
thanks, I can see the sftp-logs into windows event viewver with this configuration :
sshd_config :
     SyslogFacility AUTH
     Subsystem sftp sftp-server.exe -l INFO -f AUTH
and adding the connecting user to the local Administrator group

but I can't give Administrator permissions to this user permanently for security reason.

how to give the necessary permission to this user to use windows even

[2018-06-26 13:35] marcin2 commented on #752
Please help

 git remote add origin user@domain@servermachine:C:/test/myrepo.git
 # work around the known issue by launching powershell to run the git commands
 git config --local remote.origin.uploadpack "powershell git-upload-pack"
 git config --local remote.origin.receivepack "powershell git-receive-pack"
 git fetch origin

How can I do that  git remote add origin user@domain@servermachine:C:/t

[2018-06-26 17:28] bagajjal commented on #1199
If there is a bug with spaces then it has to be fixed in code.
We still suggest C:\program files as it ACLs properly.

[2018-06-26 17:42] bagajjal commented on #1160
@dwatley - "Get-Help about_*" has no rendering issues over SSH. What was the exact command you are trying?

[2018-06-26 20:15] surli commented on #1199
Actually it has been referenced in #1164 and the latest release suggest as a workaround to install in `C:` (see: https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.7.0.0p1-Beta). So I don't really know if it's going to be fixed or not...

[2018-06-26 20:21] bagajjal commented on #1199
@surli - It's already fixed https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.7.1.0p1-Beta. Please let us know if you have any issues with latest release (7.7.1.0p1-Beta).

[2018-06-26 20:21] #1199 closed, assigned to nobody

[2018-06-26 20:29] Jookia commented on #1160
'Get-Help which' was used in the screenshot above

[2018-06-27 07:27] surli commented on #1199
I'm not sure to understand: how can it be fixed in https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.7.0.0p1-Beta if the page of the release itself talk about this regression?

My comment was just about fixing the wiki to mention this regression.

[2018-06-27 09:37] NiQ1 commented on #770
For me it still doesn't work (same error) even with that permission granted.

[2018-06-27 09:40] NiQ1 commented on #1176
sshd can't run as system, it explicitly checks for that and terminates... also the install script creates the "NT SERVICE\sshd" account specifically for the service.

[2018-06-27 15:55] dwatley commented on #1160
@bagajjal - As noted by @Jookia in the issue, this seems very much related to https://github.com/PowerShell/Win32-OpenSSH/issues/938. Depending on the SSH client, the console is managed unless `-T` is passed to disable pseudo-tty allocation.

[2018-06-27 17:18] gpduck commented on #1197
It's purely cosmetic if the target of your ssh connection is another Windows box, but if you're using the same account on Windows and Linux I could see how you might want the case to be preserved by the ssh client so you wouldn't have to enter the username manually to connect to Linux.

It seems like sshd.exe should convert to lower case when authenticating but ssh.exe should leave the names as-is

[2018-06-27 17:42] medavisjr commented on #1197
Unless I'm mistaken, I don't think the ssh client is actually changing the username. What you enter for creds is what it sends. It's how it's displayed after connection that's different (and purely cosmetic). As we said, against sshd running on Windows it doesn't matter...Menci or menci, it's gonna work either way.

Now, if someone can show a connection from Win32-OpenSSH client not working, or pr

[2018-06-27 17:45] bagajjal commented on #1199
I am referring to v7.7.1.0.p1-Beta. You are referring to old version v7.7.0.0p1-Beta.

[2018-06-27 21:55] bingbing8 commented on #770
@NiQ1, which version of openssh do you run? sshd is now run under local system now.

[2018-06-27 22:24] rkeithhill opened #1200 "Subsystem line specifies -NoLogo and -NoProfile but I see both upon connection via ssh"
**"OpenSSH for Windows" version**
 `7.6.1.0`

**Server OperatingSystem**
N/A

**Client OperatingSystem**
`Windows 10 Enterprise'

**What is failing**
The PC running sshd has this in the sshd_config file:
[code]

**Expected output**
When I connect with SSH, I don't not expect to see the PowerShell logo nor do I expect to process the user's PowerShell profile on that machine. Yet it does both.

**Ac

[2018-06-28 01:55] gpduck commented on #1197
The original issue was when a username was not specified on the command line and the username was resolved from the current user by ssh.exe

After spending the afternoon digging through the code, it looks like when ssh.exe resolves the current user it does convert the username to lower case.  However based on my testing it also seems like the Win32 API that is returning the username (LookupAccount

[2018-06-28 06:13] gayantd opened #1201 "Unable to connect using Key from Windows 10 to Windows 2008 R2"
**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
Result : Get-Item : Cannot bind argument to parameter 'Path' because it is null.

**Server OperatingSystem**
 `Windows Server 2008 R2 Datacenter`

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
Connection to server

I got below error in server side logs :
7820 2018-06-28 11:26

[2018-06-28 06:19] gayantd commented on #1200
Where do you have below entry ? In client or server ?
Subsystem       powershell      C:/Program Files/PowerShell/6-preview/pwsh.exe -sshs -NoLogo -NoProfile

Did you add Powershell as your default shell in registry ? If yes, try removing that.

[2018-06-28 06:22] gayantd commented on #1182
Did you add anything in registry at windows "DefaultShellCommandOption" ?

[2018-06-28 07:37] surli commented on #1199
Oh! My bad! FYI the release https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.7.1.0p1-Beta is not tagged as the latest.

[2018-06-28 09:06] bertrand24 opened #1202 "Local Policy"
Please answer the following

**"OpenSSH for Windows" version**
7.7.1.0

**Server OperatingSystem**
Windows Server 2016 Standard

**Client OperatingSystem**
Windows Server 2016 Standard

**Bug ?**
in local security policy, (security Policy, Local Policy, User rights Assignement, Log on as Service), I noticed that each ssh Session is added to the policy "log on as service" with a username VIRTUAL US

[2018-06-28 12:03] gayantd commented on #1202
Agree. I have seen same behavior in Win2008R2.

[2018-06-28 14:34] lufinkey commented on #1182
Where in the README does it say to do that, what path is that value at, and
what is the value?

On Thu, Jun 28, 2018, 2:22 AM gayantd <notifications@github.com> wrote:

[2018-06-28 14:41] rkeithhill commented on #1200
It is on the server side - a Windows 10 1803 system with the Chocolatey pkg (openssh 7.6.1.1) installed.  I needed the release after the one that ships in 1803.  I didn't directly add anything to the registry but I did run the `install-sshd.ps1` script.  Did that put something in the registry? Also, what is the registry path I should be looking at?

[2018-06-28 14:47] lufinkey commented on #1182
The answer to your question is no, but was that something I was supposed to do?

[2018-06-28 14:50] Ankcorn commented on #1180
@NoMoreFood Thanks for the help and apologies I didn't get back to you sooner.

I have resolved my issue. It boiled down to me not understanding ssh well enough.
I copied my public key file into a folder called authorized_keys. Rather than the contents of the public key file into a file called authorized_keys.

To my defence I am not sure the documentation on this is that clear. It states:

This c

[2018-06-28 14:50] #1180 closed, assigned to nobody

[2018-06-28 14:58] jmegevand commented on #1133
Hey that was my issue too:
1 . Check the current status of ssh-agent: "**Get-Service | select -property name,starttype**"
2.  Set the new type :   "**Set-Service -Name ssh-agent -StartupType Manual**"
3. Start it: "**Start-Service ssh-agent**"
4 Add simply your key as before: "**ssh-add**"

[2018-06-28 15:50] p0lar-bear opened #1203 "vi on Linux turns console text blue"
**"OpenSSH for Windows" version**
(Will fill in when I get home later, sorry! Leaving command here for reference)
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
CentOS 7.5.1804

**Client OperatingSystem**
Windows 10
(Will fill in with more complete info when I get home later, sorry! Leaving command here for reference)
 `((Get-ItemProperty "HKLM:\SOFTW

[2018-06-28 17:42] bagajjal commented on #1203
Windows openssh client uses console support (conhost.exe) for parsing the incoming ANSI stream. Looks like the latest windows OS has fixed it. I verified this on windows Version 10.0.17134.112.

[2018-06-28 19:33] bingbing8 commented on #1201
gayantd, can you check the ACL of C:\Users\irdtds\.ssh/authorized_key?  You can run ```FixHostFilePermissions.ps1``` on the server machine to fix the permissions on host.
Normally It should look like:
[code]

[2018-06-28 22:10] gayantd commented on #1201
@bingbing8 , Thanks a lot for the reply. I do need to set this SFTP connection and have deadline. Appreciate your help.

Please find results :
PS C:\Users\Gayan.Dissanayake> (Get-Acl C:\Users\irdtds\.ssh\authorized_keys).Access

FileSystemRights  : FullControl
AccessControlType : Allow
IdentityReference : NT AUTHORITY\SYSTEM
IsInherited       : True
InheritanceFlags  : ContainerInherit, ObjectInhe

[2018-06-29 03:32] bingbing8 commented on #1201
@gayantd, FixHostPermissions.ps1 only checks the authorized_keys under profile folders. If you don't see it check your file, which might means that location is not one of the profile folder.
![image](https://user-images.githubusercontent.com/12284203/42072356-e41a57ee-7b14-11e8-9ae9-d54bb75c4b21.png)

[2018-06-29 03:37] bingbing8 commented on #1201
Also which version of openssh do you use?

[2018-06-29 03:47] gayantd commented on #1180
@ThomasAnkcorn , thanks a lot for sharing ! This was the issue with min.

[2018-06-29 04:15] gayantd commented on #1201
Hi @bingbing8 , I created authorized_keys folder instead of a file. #1180
So that issue resolved and I can login with ssh.exe.
But still sftp.exe failing with below error :

![image](https://user-images.githubusercontent.com/40220815/42072940-94495c1c-7bb7-11e8-8134-318a6e294c0c.png)

Got this with WinSCP :
![image](https://user-images.githubusercontent.com/40220815/42073100-96253960-7bb8-11e8-91a

[2018-06-29 04:37] bingbing8 commented on #1201
@bagajjal, I see this line. the path to sftp-server.exe is not quoted. I believe we fixed it, but not sure it is fixed in the 7.7.0.1.
5576 2018-06-29 06:06:32.228 debug1: Executing command: "C:\Windows\system32\cmd.exe" /c C:\Program Files\OpenSSH-Win64\sftp-server.exe

[2018-06-29 04:41] bingbing8 commented on #1201
@gayantd, i believe your version of openssh is [7.7.0.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.7.0.0p1-Beta). version [7.7.1.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.7.1.0p1-Beta) has the fix for #1164

[2018-06-29 04:51] gayantd commented on #1201
@bingbing8 , Thanks for quick response
I use version : OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.4

[2018-06-29 04:53] bingbing8 commented on #1201
Please install version [7.7.1.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.7.1.0p1-Beta), or use the workaround mentioned in #1164

[2018-06-29 04:56] gayantd commented on #1201
I will try. But not sure if it is related with mine. Because I added below line to sshd_config at server.
Subsystem	sftp	"C:\Program Files\OpenSSH-Win64\sftp-server.exe"

And it picked from there.  logs:
1612 2018-06-29 09:50:07.560 debug1: Executing command: "C:\\Windows\\system32\\cmd.exe" /c C:\\Program Files\\OpenSSH-Win64\\sftp-server.exe

[2018-06-29 04:59] bingbing8 commented on #1201
@gayantd, yes. It is related. The path to sftp-server.exe should be quoted. log should look like:
1612 2018-06-29 09:50:07.560 debug1: Executing command: "C:\Windows\system32\cmd.exe" /c "C:\Program Files\OpenSSH-Win64\sftp-server.exe"

workaround is to Install OpenSSH in a folder with no white space. Ex c:\openssh

[2018-06-29 05:03] gayantd commented on #1201
I will do right away. Should I uninstall and install services back or replace binary would enough ?

One extra question: Do I have to install OpenSSH in client machine ?

[2018-06-29 05:08] bingbing8 commented on #1201
replacing binaries is enough.
Regarding openssh client, it depends which Windows 10 build you have. On latest release of windows build 1803, it already has built in openssh client installed. If you have older windows 10 build, you might need to either enable OpenSSH (Beta) optional feature for build 1709, or install openssh client from git hub (on older builds).

[2018-06-29 05:15] gayantd commented on #1201
I think I don't have any:
![image](https://user-images.githubusercontent.com/40220815/42074320-bffe3a6e-7bbf-11e8-888d-53f760f898a6.png)

But I was able to login using ssh.exe with using Binary extraction only. No SSHD or Agent service in my client machine. So do I have to install it for sftp.exe ? Which service should be running in my client ?
I don't want to save my Private key for SSO.
Thanks !

[2018-06-29 05:17] bingbing8 commented on #1201
If you don't need to save private key for SSO,  you don't need to install ssh-agent service. sshd.exe is server only binary, you don't need it on client. Binary extraction for other files is enough.
Client binaries are: ssh.exe, scp.exe, sftp.exe, ssh-agent.exe, ssh-add.exe, ssh-keygen.exe, ssh-keyscan.exe, libcrypto.dll

[2018-06-29 05:25] gayantd commented on #1201
Gotcha. I replaced Binaries. But didn't work because sshd_config file had relative path specified. So update to default as below:
Subsystem	sftp	sftp-server.exe

Got logs:
7656 2018-06-29 10:49:44.780 debug1: Executing command: "c:\\windows\\system32\\cmd.exe" /c "C:\\Program Files\\OpenSSH-Win64\\sftp-server.exe"

Boom!!  I am in !!!
I highly appreciate your help and impressed with your knowledge

[2018-06-29 05:30] bingbing8 commented on #1201
I believe ChrootDirectory in [sshd_confg](https://github.com/PowerShell/Win32-OpenSSH/wiki/sshd_config) is what you want.
Please follow [sshd_config](https://github.com/PowerShell/Win32-OpenSSH/wiki/sshd_config) to set it up.

[2018-06-29 05:43] gayantd commented on #1201
I just tried by specifying path. Nice ! It did work. I will explore more regarding permissions...etc
Thanks heaps !!
We can close this Yanbing. You are a Legend !!

[2018-06-29 05:57] #1201 closed, assigned to nobody

[2018-06-29 09:06] NoMoreFood commented on #1202
@manojampalam User right assignments are only necessary for initial token generation -- once the process is initiated, it is no longer necessary for the policy to exist; maybe the code could add/remove the policy entry as necessary?

[2018-06-29 11:21] gayantd commented on #1200
Here is the registry path:
Computer\HKEY_LOCAL_MACHINE\SOFTWARE\OpenSSH\DefaultShell
What is the value assigned to DefaultShell ?

[2018-06-29 15:55] manojampalam commented on #1202
@bertrand24 good catch.

We need to add clean up logic. I believe we can remove the assignment right after token generation. We need to have the fix tested in @dwatley 's environment. I was not able to repro the original issue (that mandated this privilege assignment), on my side.

We need to do a LsaRemoveAccountRights after token generation in generate_sshd_virtual_token(). @NoMoreFood do you wa

[2018-06-29 16:01] rkeithhill commented on #1200
There is no regkey called `DefaultShell` at this path.  Only an `Agent` key.

[2018-06-29 16:02] dwatley commented on #1202
@manojampalam - Happy to test.

[2018-06-29 16:16] parkovski commented on #1182
See #914; this is a chronic issue with every project that tries to act as a terminal on Windows. Unless somebody with source access to the console gives some guidance, I'm pretty sure it's unsolvable in the general case - I've spent hours digging through console disassembly and trying all sorts of methods with no success. In the future it'll be possible with actual PTYs (search `PseudoConsole` in

[2018-06-29 17:29] bagajjal commented on #1201
@gayantd - fyi, ChrootDirectory restricts folder access only in sftp, scp. If you use ssh then folder restrictions will not apply. Windows OS doesn't have inbuilt ChrootDirectory implemention.
Incase of sftp, scp, our code first checks the folder restrictions (if ChrootDirectory is configured) before executing command using WIN32 APIs. Incase of ssh, each user character is fed directly to console

[2018-06-29 19:26] manojampalam commented on #1200
Can you double check that your session process on your server does have the complete command line:
 C:/Program Files/PowerShell/6-preview/pwsh.exe -sshs -NoLogo -NoProfile

You can the command line on task manager (by selecting command line column)

[2018-06-29 19:26] manojampalam commented on #1198
Thanks for taking care of this @NoMoreFood

[2018-06-29 19:32] manojampalam commented on #1182
I see this working from Windows to Windows on a session with PTY. Did a ping and Ctrl+C aborted it.
@bagajjal any clue why this would not work from Linux to Windows ? Does TERM value matter for Ctrl+C ?

[2018-06-29 19:37] manojampalam commented on #1199
@surli yes. Do you know how to fix the "latest" tag? I always had GitHub do it automatically whenever a new release was pushed.

[2018-06-29 19:40] manojampalam commented on #1176
This is simply not the case with 7.7.0.0. where in the installation script do you see that account being created?

[2018-06-29 20:07] surli commented on #1199
Actually I'm not sure it's possible. Here it seems that this happens because you tag both version on the same commit. Maybe try editing latest release?

[2018-06-29 20:21] manojampalam commented on #1193
For now, I recommend turning on file based logging and give write permissions on sshd.log to your non-admin user.

[2018-06-29 23:09] NoMoreFood commented on #1202
@manojampalam Yeah, I'll look into this.

[2018-06-29 23:25] lufinkey commented on #1182
I've been using whatever the default is, which I'm assuming is cmd.exe.
CTRL-C does work in regular cmd.exe though (not through an SSH connection)

On Fri, Jun 29, 2018, 7:23 PM Parker Snell <notifications@github.com> wrote:

[2018-06-29 23:45] gayantd commented on #1201
Thanks for that info ! It is valuable.  Because I have to pass details to third party to access our production servers. How can I enable only sftp then ? Is there a way to disable ssh and enable only sftp ?

[2018-06-29 23:52] bagajjal commented on #1201
1) Add these lines to c:\programdata\ssh\sshd_config

Match User *
    ForceCommand internal-sftp
    ChrootDirectory  <restricted_directory>

2) Restart sshd (net stop sshd, net start sshd)

3) Validate both sftp, ssh.

[2018-06-30 00:35] rkeithhill commented on #1200
OK just now noticed that the "Logo" I get in this SSH session if for "Windows PowerShell" - see image in the original post above.  Hmm... How is Windows PowerShell getting executed here instead of PS Core.

None of the pwsh.exe or powershell.exe process has any command-line parameters when I'm SSH'd into this system.
[code]
I'm only running one Windows PowerShell and that is the first entry above,

[2018-06-30 00:45] rkeithhill commented on #1200
Oh wait a sec, there is a `DefaultShell` registry "value" under that reg key and it does point to powershell.exe - specifically `C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe`.  Sorry, I was looking for a reg key by that name.

Where did that come from?  At one point, I had installed the `OpenSSH Client - Beta` Windows optional feature.  Did that create that reg val?

If I remove that

[2018-06-30 00:59] gayantd commented on #1201
Awesome. I will try these on Monday and let you know guys.
Is there a space after "Match User" and asterisk ?

Best Regards
Gayan Dissanayake
(+64 221352218)

On Sat, Jun 30, 2018 at 11:52 AM bagajjal <notifications@github.com> wrote:

[2018-06-30 01:23] bagajjal commented on #1201
Yes.. configuration is same between UNIX, windows.

[2018-06-30 01:24] gayantd commented on #1200
As I know you will set it only if runs below at Server:
New-ItemProperty -Path "HKLM:\SOFTWARE\OpenSSH" -Name DefaultShell -Value "C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe" -PropertyType String -Force
page: https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2018-06-30 01:47] rkeithhill commented on #1200
@gayantd Thanks!!  I think I've figured out that the registry entries referred to by that Wiki dictate what shell is used when you `SSH` into the Windows box.  The sshd_config `subsystem` setting controls what version of PowerShell is used when you use PS Remoting over SSH to access the Windows box.

Now if I could just figure out if there's a way to specify parameters (ie -NoLogo) to the `Default

[2018-06-30 01:47] #1200 closed, assigned to nobody

[2018-06-30 03:10] gayantd commented on #1200
Great ! Good luck Keith !

[2018-06-30 03:29] gayantd commented on #1176
@manojampalam I do agree with @NiQ1 . I installed this and I have an account called "sshd". But I never assigned to any. I created own account in windows. SSHD service runs under SYSTEM account.
But when I check "logon as service" I could see sshd_port has been created numerous times.
So I do believe sshd account is created when I install "install-sshd.ps1". Yet I don't know the purpose of that ac

[2018-06-30 04:51] ksalman opened #1204 "sshd cannot find the Git bash default shell"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
7.7.1.0

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName

[2018-06-30 10:29] angelog0 opened #1205 "Failure installing OpenSSH native"
It seems I wrote the wrong mailing list: [#3340](https://github.com/Microsoft/WSL/issues/3340).

Thanks.

[2018-06-30 11:04] gayantd commented on #1204
Did you notice your server registry DefaultShell value with double quotes ? Please try removing it.
Cheers

[2018-06-30 11:05] sunnyqeen opened #1206 "sshd default shell problem"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
7.7.1.0

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
sshd default shell is cmd.exe, and executes command with cmd.exe /c [command]
t

[2018-06-30 11:10] gayantd commented on #1205
Can you please explain the issue here ?

[2018-06-30 14:08] angelog0 commented on #1205
Just trying @DarthSpock suggestion in [#3325](https://github.com/Microsoft/WSL/issues/3325), I tried to install the OpenSSH server native following one of the tutorials found on the WEB. For example this [tutorial1](https://winaero.com/blog/enable-openssh-server-windows-10) which also contains this reference [tutorial2](https://blogs.msdn.microsoft.com/powershell/2017/12/15/using-the-openssh-beta-

[2018-06-30 18:33] ksalman commented on #1204
Ugh, I didn't realize that would be a problem. I added the double quotes because there's a space =). Evidently they are not needed. Thank you.

[2018-06-30 18:33] #1204 closed, assigned to nobody

[2018-06-30 21:18] NoMoreFood commented on #1202
Pull request is in.  This will address the behavior go-forward; current, orphaned entries will have to be removed manually (you can Shift-Click to select/remove them all in the policy editor).

[2018-06-30 21:22] gayantd commented on #1202
Awesome !!!
Thanks for quick fix !

[2018-06-30 22:14] manojampalam commented on #1176
It's true that you'll end up with sshd (not ntservice/sshd) user account. It's not created as part of install-sshd, rather at service startup. This is being created at service startup to accommodate Unix code looking for sshd unprivileged account.

[2018-06-30 23:22] manojampalam commented on #1205
ssh-agent is disabled by default in April update. Can you explicitly enable it (you need to be an admin to do it)?

As for host keys, they should be automatically generated when starting sshd service.

[2018-06-30 23:25] manojampalam commented on #1206
Thanks. this will be fixed in next release.

[2018-07-01 07:12] angelog0 commented on #1205
@manojampalam please, give a detailed recipe.. Obviously I am the administrator and can use PS or CMD... you should also update some [tutorial](https://blogs.msdn.microsoft.com/powershell/2017/12/15/using-the-openssh-beta-in-windows-10-fall-creators-update-and-windows-server-1709)..

[2018-07-02 01:18] gayantd commented on #1201
@bagajjal yes I did check.
Awesome ! It is working as expected. Cheers

[2018-07-02 05:05] manojampalam commented on #1205
You could do the following to set ssh-agent back to "auto" on-demand start:
`sc.exe config sshd start= auto`

@JKeithB we need to do a blog for the OpenSSH in April update (similar to the one we did for Beta in [Fall update](https://blogs.msdn.microsoft.com/powershell/2017/12/15/using-the-openssh-beta-in-windows-10-fall-creators-update-and-windows-server-1709/)

[2018-07-02 05:14] manojampalam commented on #1202
Changes look good. @dwatley , can you validate the fix on your end please?

[2018-07-02 15:01] Remeron commented on #1194
Thanks that resolves the issue.

Two things that were done.
1. Ad credentials were used with proper ad syntax for both SSH and SFTP
2. Key file was mapped to the correct location.

[2018-07-02 15:01] #1194 closed, assigned to nobody

[2018-07-02 18:41] egbertn commented on #1133
On my Windows there is even no ssh-agent service.
SshDBroker service exists
SSH Server Proxy
SSH Server Broker
Therefore, I cannot add users from the commandline…
Microsoft Windows [Version 10.0.17134.137]

[2018-07-02 18:55] manojampalam commented on #1133
Looks like you may have Developer mode on. Can you disable those legacy services and see if you have ssh.exe and ssh-agent.exe installed under %windir%\system32\openssh ?

If you dont see them there - can you try installing OpenSSH using steps similar to what's detailed here (these were for Beta, your entries wouldn't have "Beta" in them) - https://blogs.msdn.microsoft.com/powershell/2017/12/15/us

[2018-07-02 19:08] egbertn commented on #1133
Ok, developer mode is removed, those files exist but still the same message.

And starting it using PowerShell gives this:

Start-Service : Service 'OpenSSH Authentication Agent (ssh-agent)' cannot be started due to the following error: Cannot
 start service ssh-agent on computer '.'.
At line:1 char:1
+ Start-Service ssh-agent
+ ~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : OpenError: (Sys

[2018-07-02 19:11] manojampalam commented on #1133
You could do the following to set ssh-agent back to "auto" on-demand start:
`sc.exe config sshd start= auto`

[2018-07-02 19:29] egbertn commented on #1133
Thanks. This also helped. Set-Service -name "ssh-agent" -startuptype "automatic"

[2018-07-03 16:51] tsd64 opened #1207 "building latest source on Windows."
**"OpenSSH for Windows" version** : Win32-OpenSSH-7.7.0.0p1-Beta
**Server OperatingSystem** : Windows 7sp1
***What is failing**
What openssl sdk is required to build the latest OpenSSH source?  There are too many unconditionally included headers to remove it, and if it was possible too many too many files unconditionally require it.

[2018-07-03 22:00] manojampalam commented on #1207
Did you see https://github.com/PowerShell/Win32-OpenSSH/wiki/Building-OpenSSH-for-Windows-(using-LibreSSL-crypto) ?

[2018-07-03 22:00] #1207 closed, assigned to nobody

[2018-07-04 18:09] NoMoreFood commented on #1157
@manojampalam It's easy to turn on download Kerberos MIT for GSS-API support and compile with one or two changes, but SSPI will take some work especially to keep it maintainable.  I'm willing to take a shot at it unless somebody else is already working it.  Let me know.

[2018-07-05 17:26] manojampalam commented on #1157
@NoMoreFood, no one's working on this yet. Otherwise, are you talking about writing a GSSAPI provider on top of Kerberos SSP? or just enabling GSSAPI provider support in OpenSSH for Windows (so it could be used with MIT Kerb) ?

[2018-07-05 22:03] bingbing8 opened #1208 "unbounded queue in shell-host-- may potentially use up the memory and crash the shell-host"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
7.7.1.0

**Server OperatingSystem**
Windows 10

**Client OperatingSystem**
Windows 10

**What is failing**
for each Windows Console event, ssh-shellhost allocated memory and insert it in an unbo

[2018-07-05 23:11] NoMoreFood commented on #1157
@manojampalam The former -- making Windows Kerberos SSP work, presumably by using the GSS API call entry points.  I'd probably start with the SSH client to start with since I can validate my tests compared to PuTTY.  I'm not sure how much of a challenge this is, but I'm willing to investigate.

On the other hand, it took me about 10 minutes to compile with GSS API / MIT Kerberos enabled (untested)

[2018-07-06 16:08] manojampalam commented on #1157
@NoMoreFood sure, please proceed and let me know if you have any questions for MS Kerb team.

[2018-07-06 22:17] cbookg opened #1209 "scp starts to throw "too many files" with large recursive transfer"
Please answer the following
**"OpenSSH for Windows" version**
- v7.6.1.0p1-Beta
- also reproduced after building scp from head.

**Server OperatingSystem**
 Linux - Ubuntu

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
Steps:
- Run "scp -r * targethost:/target/path" in a directory structure containing 8500 files.

**Expected output**
- All files transfered properly.

**Actu

[2018-07-06 23:10] bagajjal commented on #1209
As per [MSDN](https://msdn.microsoft.com/en-us/library/bdts1c9x.aspx), _open_osfhandle returns -1 in case of failure. You mentioned it returned 24 which means it's successful and failing some where else?

[2018-07-06 23:12] cbookg commented on #1209
Sorry, it does return -1.  The value of errno when it does is 24.

[2018-07-09 04:32] mahinthjoe commented on #1133
If on a windows platform try installing https://chocolatey.org/ package management and run command 'coco install openssh' in an administrator Powershell for windows.

[2018-07-09 05:35] enzain opened #1210 "PKCS11 Support"
Hi,

Not issue - just question

In plans - PKCS11 support?
Without PKCS11 - is no good ...

[2018-07-09 10:46] NoMoreFood commented on #1210
I can't speak for whether it's in the plans, but after enabling the compiler flag it compiled fine and looks like it _almost_ worked for my smart card (C_Login failed: 160).  It asked for my PIN and then rejects me.  Any reason why we wouldn't want to support this?  I can probably figure out what's going wrong pretty easily since I'm familiar with the PKCS libraries from my work on PuTTY-CAC.

@ma

[2018-07-09 15:02] cbookg opened #1211 "Unable to use scp with -oUserKnownHostsFile that has spaces"
**"OpenSSH for Windows" version**
v7.6.1.0p1-Beta

**Server OperatingSystem**
Linux - Ubuntu

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
When launching ssh and scp from another process, I'm passing in arguments to specify a known hosts file and key.  Note I'm not launching these as a shell process.
For ssh,
Command = C:\PathToSSH\ssh.exe
Args = [
  -FNUL -ic:\space test\

[2018-07-09 19:27] cbookg commented on #1211
The "arguments as array" example was for launching from Go.
I've reproduced the problem in C# as well, using triple-quotes to pass the quotes through the process object (since it takes arguments as a single string).  This is the equivalent string being passed into C#'s ProcessStartInfo.Arguments:
... -FNUL -oStrictHostKeyChecking=yes -oUserKnownHostsFile="""c:\space test\ssh\known_hosts""" ...

Ag

[2018-07-09 21:32] JW0914 commented on #1040
Users can be created in WinPE, but not for login to WinPE.

- Log in to WinPE occurs via the default administrator account, or, if utilizing a WinPE image configured for WinRE, as a specific user apart of the Administrators group.

[2018-07-09 22:07] dwatley commented on #1202
@manojampalam - Cleaned up the existing entries and built from master. Works as expected, no issues here.

[2018-07-10 14:36] tavrez commented on #827
Late to the party, any results?

[2018-07-11 09:53] NoMoreFood commented on #1210
Update: When/if my other change to rework readpassphrase() is merged (https://github.com/PowerShell/openssh-portable/pull/322), then all we have to do is set ENABLE_PKCS11 in order for PKCS11 support to work.  It's possible we don't need change that merged for compiling in Visual Studio 2015, but my development environment is Visual Studio 2017 which seems to cause readpassphrase() to pass back a

[2018-07-11 11:48] trevrobwhite commented on #1187
PyWinRM works if you have Windows RM Setup (unfortunately we don't), however I have managed to get WinEXE to compile which is working a treat.

To share the knowledge, here is the solution that worked for me.

Take the look at https://sourceforge.net/u/markr123/winexe/ci/master/tree/ and compile winexe on your Linux box.

Now unzip and put the OpenSSH software on a open share on your linux box

 C

[2018-07-11 11:48] #1187 closed, assigned to nobody

[2018-07-11 13:55] discentem commented on #1187
afaik, WinRM is the "supported" way to do things though.

[2018-07-11 19:50] cbookg commented on #1209
The problem seems to be that this function is using _open_osfhandle which creates a new "runtime file descriptor", stored in fd but never closed (so it is leaked).  We can't close this directly as the windows handle is still used outside of this function. ie from the docs "The _open_osfhandle call transfers ownership of the Win32 file handle to the file descriptor. To close a file opened with _ope

[2018-07-11 23:46] NoMoreFood commented on #1209
@bagajjal His change looks good to me.

[2018-07-12 01:13] rcl4444 commented on #992
I also use  the Gitlab Runner
command
`ssh -n -T -E f:/1.log raochenglong@192.168.1.225 ./restartSP.sh`
1.log's content

[2018-07-12 06:09] manojampalam commented on #1210
@NoMoreFood, I will follow up and get back (on both - pkcs#11 and readpassphrase()) by end of this week. What PKCS#11 providers are commonly used on Windows?

[2018-07-12 06:21] manojampalam commented on #1209
@cbookg  thanks for following up. I'll pull in your fix.

[2018-07-12 16:47] cbookg commented on #1211
After looking into this a bit, I believe the spawn_child_internal function needs to escape arguments containing string when it generates the ssh command line.

Currently it builds the command line by taking every arg in the list, adding a space to the command line string and then adding the arg surrounded by quotes.  This results in a command like:
... "UserKnownHostsFile="c:/space test/ssh/known_

[2018-07-12 16:47] cbookg commented on #1211
In my last line the backslash was filtered out of my comment.  Should have been (backslash)" or """

[2018-07-12 22:35] wvoyek commented on #1177
I'm having the same issue. I can sign-in using a password but the connection gets reset when I use my key. I have attached a log of the attempt.

My domain account does have a proper userPrincipalName. The Domain Controller is Windows Server 2012 R2. The domain functional level is 2012 R2 and the forest functional level is 2008 R2.

[sshd_log.txt](https://github.com/PowerShell/Win32-OpenSSH/files/

[2018-07-13 08:43] bielawb opened #1212 "Issue with using OpenSSH with Cygwin bash and Ansible (quoting issue)."
**"OpenSSH for Windows" version**
 `7.7.1.0`

**Server OperatingSystem**
 `Windows Server 2012 R2 Standard`

**Client OperatingSystem**
[code]

I think it might be related to https://github.com/PowerShell/Win32-OpenSSH/issues/1206
We are trying to use sshd with default shell (DefaultShell registry setting) pointing at Cygwin bash. It seems to work fine interactively, but ansible running on Ubuntu

[2018-07-13 17:53] NoMoreFood commented on #1177
@wvoyek So the error you are seeing is a different breed from the others.  0xC000006D = STATUS_LOGON_FAILURE (From Docs: "The logon attempt failed. The reason for the failure is not specified, but typical reasons include misspelled user names and misspelled passwords.").  Since you got this far, I doubt it's a misspelled username but I don't see any UPN lookup error, so I assume that translation i

[2018-07-13 19:07] manojampalam commented on #1212
This is not related to #1206, rather #1082

I believe if we can accurately implement execve() on Windows, this should go away.
@penguin359 proposed a solution in #1082, but I haven't gotten far yet to think through and validate it.

Please continue further conversation on #1082

[2018-07-13 19:07] #1212 closed, assigned to nobody

[2018-07-13 19:19] wvoyek commented on #1177
@NoMoreFood Yes, username/password works fine.

[2018-07-13 19:53] NoMoreFood commented on #1177
@wvoyek Weird.  Do you happen to see any Security logon events like 4625 around the time when the error occurs?  Anything particularly weird about the account or your setup that you think could be impacting it?  I'm close to creating a Kerberos S4U based on all the random issues than can occur when doing impersonation on a variety of platforms.

[2018-07-13 20:11] wvoyek commented on #1177
@NoMoreFood Nope, no 4625 but a 4624 event. I've attached the event log entries that occurred during the login event in the sshd_log.
[sshd_log.xml.txt](https://github.com/PowerShell/Win32-OpenSSH/files/2194044/sshd_log.xml.txt)

edited to add:

Nothing weird about the account or the setup either. Or at least I don't think so. It's my regular daily use account I'm using. I'm trying to sign-in from

[2018-07-13 20:27] NoMoreFood commented on #1177
@wvoyek How about on the domain controller?

[2018-07-13 20:35] wvoyek commented on #1177
@NoMoreFood Nothing additional there. Just the same 4624 event.

[2018-07-14 00:40] charabaruk commented on #827
@tavrez Nope, unfortunately.

[2018-07-14 03:21] JW0914 commented on #1183
@Maddog2050 If this has been resolved, please close the issue =]

[2018-07-15 12:30] NoMoreFood commented on #1210
Created a pull request if we want to follow through with this: https://github.com/PowerShell/openssh-portable/pull/331

[2018-07-17 09:44] pldmgg opened #1213 "Public Cert Auth fails, but only for Domain Accounts and only when using the sshd Service (as opposed to running sshd myself directly)"
EDIT : Just noticed that this issue (#1213) is a duplicate of #1177

The below version info applies to both Client (initiating ssh connection) and Server (Remote Host).

**"OpenSSH for Windows" version**

[code]

**What is failing**
Public Certificate Authentication is failing but ONLY for Domain Accounts and ONLY when running the sshd Service. In other words, Public Certificate Authentication DOE

[2018-07-17 09:55] pldmgg commented on #1177
Just noticed this thread after creating a duplicate issue a couple minutes ago (#1213).

I'm having the same issue. Here's all of my log information.

https://gist.github.com/pldmgg/edfb798404302ea73ba5c8e42f6fb591

@manojampalam You asked @TCS-Taylor if this worked correctly in a previous version...The last time I tried this (i.e. Public Cert Auth) was with 7.6.0.0, and it seemed to work fine. I'

[2018-07-17 10:08] NoMoreFood commented on #1213
In your case, it's having an issue turning your Domain\UserName into a user principal name.  Can you confirm a user principal name is assigned for these accounts under the Account tab in Active Directory?  Also, what OS is your domain controller running?

[2018-07-17 11:02] pldmgg commented on #1213
@NoMoreFood That was it! I set the UPN attribute for zero\zeroadmin and it all worked.

But the UPN attribute isn't mandatory...is there a different way that sshd can lookup the user in AD?

(FYI, Domain Controller is Windows 2012 R2)

[2018-07-17 11:31] NoMoreFood commented on #1213
@pldmgg Good to hear. @manojampalam Can you possibly check with any AD / Kerberos gurus to see if there is some of alternate format we can pass into ClientUpn for KERB_S4U_LOGON that will work for users that do not have their upn attribute defined in AD?  I'm not sure if there's some sort of "default" upn that we should fallback to.  Right now we're falling back to NetBiosDomain\SamAccountName whi

[2018-07-17 16:29] manjeet24feb commented on #856
I am facing the same issue. Tried almost everything -n etc. It is getting stuck at ssh. scp is working fine.

[2018-07-17 22:06] bagajjal commented on #856
Try using -T (no-pty) in ssh.exe.

[2018-07-17 22:56] NoMoreFood commented on #1213
@manojampalam Disregard previous request.  Unbeknownst to me before now, apparently all accounts have an implicit UPN that defaults to SamAccountName@DnsDomainName; I have always explicitly set them in my forests.  I will submit a pull request to try one and then the other.

[2018-07-18 00:37] NoMoreFood commented on #1213
Pull request created: https://github.com/PowerShell/openssh-portable/pull/332

[2018-07-18 06:56] TUTUBIG commented on #1133
@egbertn I have the same problems

[2018-07-18 11:05] #1210 closed, assigned to nobody

[2018-07-19 00:53] NoMoreFood commented on #1185
From what I can tell, the upstream code doesn't actually use posix_spawnp(), it uses execv() after a fork().  Regardless, it looks like Win32 fork prepends the OpenSSH directory to the executable string in spawn_child_internal() if the string is not an absolute path which subsequently causes CreateProcess() to not go through the normal PATH environment variable search routine.  I imagine this migh

[2018-07-19 04:14] manjeet24feb commented on #856
Still the same. ssh is not closing the connection. Therefore it is stuck.

[2018-07-19 09:54] fabwu opened #1214 "Backup my private keys"
[This blog post](https://blogs.msdn.microsoft.com/powershell/2017/12/15/using-the-openssh-beta-in-windows-10-fall-creators-update-and-windows-server-1709/) describes how to securely store a private key in the Windows security context with the `ssh-agent` command and then delete the corresponding private key from the disk.

I'm a bit afraid if my computer crashes that all my private keys are lost b

[2018-07-19 11:30] dermeister0 commented on #440
I installed Win32-OpenSSH v7.7.1.0p1-Beta to server.

Far Manager is not displayed correctly in OpenSSH client (Windows 10 1803).

![2018-07-19_183001](https://user-images.githubusercontent.com/4054844/42939935-cb2865dc-8b81-11e8-8e81-c0b0ff46ac6f.png)

Similar bugs in Putty.

[2018-07-19 15:53] jstarks commented on #1185
Right, upstream uses `execv`, but it launches the process through the shell (arg0 = `$SHELL`, arg1 = `-c`, arg2 = the proxy command) , which will handle looking up the binary in the path internally, among other things.

Perhaps the right fix is to do the same and run the command line through `%COMSPEC% /c`.

[2018-07-19 18:30] pldmgg commented on #1213
@NoMoreFood Awesome! Thank you!

[2018-07-19 19:31] bagajjal commented on #856
can you share the ssh client logs (ssh.exe -vvv user@ip) and sshd.log (DEBUG3 enabled) server side logs

[2018-07-19 19:33] bagajjal commented on #440
Sorry for the long wait to fix this issue. It will be fixed as part of the next windows release.
FYI, We are leveraging the work from console team so have to wait for the next windows release.

[2018-07-19 20:26] markm75 opened #1215 "Lock user to home ftp folder possible on windows server?"
Been reading through on here, not seeing the final answer on this, but has anyone found a way to lock/restrict an sftp/openssh user to their home folder?

[2018-07-19 20:37] bagajjal commented on #1215
Go over this thread,
https://github.com/PowerShell/Win32-OpenSSH/issues/1201

[2018-07-19 20:43] markm75 commented on #1201
Confused.. for win 2016, do i run / modify one of the above referenced ps1 scripts to secure a user to his home directory and not allow browsing outside of that location or is it more involved?

[2018-07-19 20:56] bagajjal commented on #1201
You don't need to run any ps1 scripts.
It's a configuration change.
1) Add these lines to c:\programdata\ssh\sshd_config
Match User *
   ForceCommand internal-sftp
   ChrootDirectory <restricted_directory>
2) Restart sshd (net stop sshd, net start sshd)
3) Validate both sftp, ssh.

**FYI, CHROOT only works for SFTP, SCP sessions but not for SSH.**
The above config restricts the user to a SFTP sess

[2018-07-19 20:59] markm75 commented on #1201
Thanks this might be what i'm looking for.. but by jails the user/restricts to a session, you mean restricts to one session? (should be fine)

What about a rare case where another user needs restricted but able to see the other users folders (i guess i'd just restrict them one level higher then right?)

Thanks for this, will give it a shot

[2018-07-19 21:32] manojampalam commented on #1215
https://github.com/PowerShell/Win32-OpenSSH/wiki/sshd_config#chrootdirectory

[2018-07-19 21:32] #1215 closed, assigned to nobody

[2018-07-19 21:36] bagajjal commented on #1201
In the above config, it applies to all users (as we specified *).

But, you can use Match User / Match Group to restrict individual / group of users to different location.

If you are using a domain user then you need to specify like
    Match User short_domain_name\\user_name (Ex - Match User contoso\user, where FQDN is contoso.microsoft.com)

If you are using a workgroup / local user then you ne

[2018-07-20 13:07] umemoni256 opened #1216 "Login to Domain Controller fails with Pubkey Authentication"
**"OpenSSH for Windows" version**
v7.7.1.0p1-Beta

**Server OperatingSystem**
Windows Server 2012 R2 Standard

**Client OperatingSystem**
CentOS 7

**What is failing**
Login fails.

**Expected output**
Successful login

**Actual output**
"Connection to 192.168.103.100 port 22: Broken pipe"

** Additional note **
Without the authorized_keys file in the user profile directory, login with password is

[2018-07-20 15:28] markm75 commented on #1201
I tried to just add this to the default sshd_config in program data (at the very end of the file)

Match User *
ForceCommand internal-sftp
ChrootDirectory /D:/Data/FTProot/localuser/test/

But when i try one of my iis ftp logins it fails to login.. if i remove this code from sshd_config and retest, i can log in with no issue..

What might I be missing here?

Thanks

[2018-07-20 17:24] manojampalam commented on #1201
Remove / at ChrootDirectory and retry
    ChrootDirectory D:/Data/FTProot/localuser/test/

[2018-07-20 17:26] manojampalam commented on #1216
@nomorefood is this the same issue in https://github.com/PowerShell/Win32-OpenSSH/issues/1213

[2018-07-20 17:52] manojampalam commented on #1185
Behavior of current posix_spawn is to support launching ssh from sftp and scp.
I like the idea of supporting a posix_spawnp variant that would respect PATH instead. Will have it supported in next drop.

[2018-07-20 17:56] manojampalam commented on #1214
Not sure what File History backup does, but unless it explicitly calls out, I don't believe it does any encryption of backup.

You could simply passphrase protect your private keys (and not delete them once registered with agent).

@joeyaiello can you fix the blog post and recommend creating passphrase protected private keys in the first place ?

[2018-07-20 18:02] markm75 commented on #1201
Thanks.. i made it further but it said no such file... however..
Changing to this:
D:\Data\FTProot\localuser\test\  (worked)

[2018-07-20 18:10] markm75 commented on #1201
I also went ahead and did this per user locking them.. in one case we have a user that is locked to the root of these other ftp users home folders (so they can access them), but is there a way to not only do this but make the default starting path be one of those other folders (they can then drill backward and go into other folders as needed)..?

[2018-07-20 18:35] manojampalam commented on #1201
There is not. Chroot will be their starting directory.

[2018-07-20 23:12] NoMoreFood commented on #1216
@manojampalam Very possibly.

@umemoni256 Does the account in question have a UPN explicitly defined on the account?

[2018-07-20 23:36] jmillxyz opened #1217 "Wiki instructions fail, GitHub requires TLS 1.2"
Operating System: Windows 2012 Server R2
PowerShell Version: 4.0

When running the commands in [this wiki article](https://github.com/PowerShell/Win32-OpenSSH/wiki/How-to-retrieve-links-to-latest-packages), I get the following:

[code]

The reason is that [GitHub requires TLS 1.2](https://www.ssllabs.com/ssltest/analyze.html?d=github.com&s=192.30.253.112&hideResults=on).

Setting the TLS protocol

[2018-07-21 04:46] manojampalam commented on #1217
Thanks. Fixed it.

[2018-07-21 04:46] #1217 closed, assigned to nobody

[2018-07-21 13:47] edronne opened #1218 "Users have ssh access by default"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `7.7.1.0`

**Server OperatingSystem**
Windows Server 2016 Standard

**Client OperatingSystem**
Windows 10

**What is failing**
By default a user (non administrator of the sshd server) as access

[2018-07-22 09:12] edronne opened #1219 "Connection close with multiple Match"
Hello,

### "OpenSSH for Windows" version
7.7.1.0

### Server OperatingSystem
Windows Server 2016 Standard

### Client OperatingSystem
Windows 10

### What is failing
When i put more that 1 "Match" section the connection from the client is closed with the following message :
_Connection reset by 10.111.49.114 port 22
Connection closed_

### Here what we put in %programdata%\ssh\sshd_config :

Auth

[2018-07-23 15:53] manojampalam commented on #1219
Can you share server side logs?

[2018-07-23 16:12] edronne commented on #1219
Hello.

Were can i find them please ?

Le lun. 23 juil. 2018 à 17:53, Manoj Ampalam <notifications@github.com> a
écrit :

--
*This e-mail message is intended for the internal use of the intended
recipient(s) only.
The information contained herein is
confidential/privileged. Its disclosure or reproduction is strictly
prohibited.
If you are not the intended recipient, please inform the sender
immedi

[2018-07-23 16:14] manojampalam commented on #1219
see https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2018-07-23 19:15] parejadan commented on #1050
any update on this?

[2018-07-23 19:21] bagajjal commented on #1050
This is an expected behavior and is inline with UNIX.

[2018-07-23 19:21] #1050 closed, assigned to nobody

[2018-07-23 19:31] parejadan commented on #1050
Right, so really I'm trying to just setup the openssh server using this guide https://poweruser.blog/enabling-the-hidden-openssh-server-in-windows-10-fall-creators-update-1709-and-why-its-great-51c9d06db8df

I'm running this command from windows side, NOT unix. Doens't really make sense to execute an exe on the unix side.
![capture](https://user-images.githubusercontent.com/11270882/43098447-37598

[2018-07-23 19:38] bagajjal commented on #1050
Looks like you "%programdata%\ssh" is not created.

Follow steps mentioned in our official blog,
https://blogs.msdn.microsoft.com/powershell/2017/12/15/using-the-openssh-beta-in-windows-10-fall-creators-update-and-windows-server-1709/

[2018-07-23 22:17] parejadan commented on #1050
**Notes for anyone trying to setup wsl as an external ubuntu server**
- Follow official guide https://blogs.msdn.microsoft.com/powershell/2017/12/15/using-the-openssh-beta-in-windows-10-fall-creators-update-and-windows-server-1709/
- If anything fails with `__PROGRAMDATA__`, add `%PROGRAMDATA%` to environment variable path, reboot
- If any of the guide steps fail after installing something, reboot

[2018-07-24 07:57] umemoni256 commented on #1216
Even though I scrolled through the existing issues before opening this one, it seems I missed the #1213. It is indeed the same problem. After setting the UPN as suggested in #1213, everything works as expected.

Thanks!

[2018-07-24 07:57] #1216 closed, assigned to nobody

[2018-07-26 14:01] keiyakins commented on #680
That mitigation is absurd. It's quite normal to have both ssh and sshd on a single system. Pretty much every 'nix system I've ever set up works that way. Windows needs to catch up to the 80s.

The problem is in how elevation works. You should be elevating *per-command* not for the entire shell.

[2018-07-26 18:59] #1209 closed, assigned to nobody

[2018-07-26 18:59] #1190 closed, assigned to bagajjal

[2018-07-26 19:09] #1202 closed, assigned to nobody

[2018-07-26 19:18] velocitystar opened #1220 "Unable to establish SFTP connection, SSH connection works from the same user/host"
**"OpenSSH for Windows" version**
  - v7.7.1.0p1-Beta

**Server OperatingSystem**
   - Windows Server 2008 R2 Enterprise

**Client OperatingSystem**
   - Windows 7 Workstation

**What is failing**

Unable to establish SFTP connection using WinSCP nor SFTP command, SSH connection works fine from the same user/host.

**Expected output**

Connection established.

**Actual output**

##### DEBUG3 from

[2018-07-26 19:20] #1206 closed, assigned to nobody

[2018-07-26 19:20] #1198 closed, assigned to nobody

[2018-07-26 22:21] bingbing8 opened #1221 "win7: 2 pester tests failed on win7"
1. KeyUtils.Tests.ps1: Get-content does not support raw option. need to skip that

2. Ssh.Tests.ps1: get-content return a string instead of array on win7. Need to update line 297 from
(Get-Content $kh).Count | Should Be 1
to
@(Get-Content $kh).Count | Should Be 1

[2018-07-27 04:21] manojampalam commented on #1213
Fixed in latest release

[2018-07-27 04:21] #1213 closed, assigned to nobody

[2018-07-27 22:48] dwatley opened #1222 "broken console in 7.7.2.0"
**"OpenSSH for Windows" version**
7.7.2.0

**Server OperatingSystem**
Windows 10

**Client OperatingSystem**
Windows 10

**What is failing**
When the screen fills up with text, it will no longer refresh the contents until I run "cls". The text is also broken as well (see the back to back "ls" commands). This is a recent change from 7.7.1.0. I saw there were some console changes made in the changel

[2018-07-27 23:40] #916 closed, assigned to nobody

[2018-07-29 15:16] frankfuu commented on #1133
For some reason it was disabled, just had to flick it to manual
[code]

Then to make sure it's running
[code]

[2018-07-30 19:07] dwatley commented on #1222
Noting this effectively blocks us from upgrading.

[2018-07-30 20:10] bagajjal commented on #1222
I will take a look at this.

[2018-07-31 00:13] bagajjal commented on #1222
@dwatley - Could you please validate the [private ssh-shellhost binary](https://github.com/PowerShell/Win32-OpenSSH/files/2243270/ssh-shellhost-console-buffer-issue.zip). The issue is introduced as part of addressing the console resize.

Please test the console resize as well.

[2018-07-31 02:06] dwatley commented on #1222
@bagajjal - With the above binary I don't seem to have an issue with the rendering in this scenario anymore. Each command has the expected output which is rendered correctly. But, window resizing causes the screen to go blank until I start typing. The previous window contents disappear entirely.

[2018-08-01 01:03] bagajjal commented on #1222
Yes, Due to a bug in ssh-shellhost the screen goes blank so we will temporarily disable the resize logic.

@DarwinJS - We need your suggestion.
Instead of creating a new release, we would like to update ssh-shellhost.exe in our release package 7.7.2.0.
Can you do the same thing (updating ssh-shellhost.exe alone) in chocolatey package?
Do you see any issues with this approach?

[2018-08-01 01:12] dwatley commented on #1222
@bagajjal - Thanks for the update. Does it perhaps warrant a 7.7.2.1 release? .1 being the minor patch? Not incrementing the version might cause confusion.

[2018-08-01 01:21] bagajjal commented on #1222
We don't want to use the 4th digit for GitHub releases as it's reserved for windows insider builds.
so we can't have 7.7.2.1 release.

[2018-08-01 12:05] DarwinJS commented on #1222
@bagajjal - sorry I missed your earlier mention.
It is not easy because it requires extra code because the package simply grabs the entire zip - so this requires extra code to transit and overwrite the one that would be in the zip.

If it is significant enough to rerelease one file - I would definitely rev the package version and the individual file version and provide a new zip.

From your questi

[2018-08-01 14:15] TheJoeSchr commented on #1117
He, I'm trying to connect via `SFTP Net Drive`, everything works if I connect via a "normal" ssh client, also triple-checked user/pw combo. It seems to be an issue with the available crypto, is there anything you guys can do on your end or is this on SFTP Net Drive?

Here is the log from SFTP Net Drive:
[code]

[2018-08-02 00:14] #1221 closed, assigned to nobody

[2018-08-02 21:23] hashCode1 opened #1223 "cipher command access denied"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 0.0.22.0
**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductNam

[2018-08-02 21:32] bagajjal commented on #1223
Please use the latest version and try again.

Are you executing (cipher /e /a C:\temp\test.txt) in an interactive ssh session?

[2018-08-02 21:44] hashCode1 commented on #1223
Ok i will upgrade to the latest version..
and yes it is interactive ..  the user profile is loaded in the session and checked acl for the file user has full control

[2018-08-03 02:25] bagajjal commented on #1222
@DarwinJS - Ideally we shouldn't run into this kind of issue.

FYI, We always use sshd.exe version to identify the release version.
All the binaries will have the same version as sshd.exe.

Our long term plan is to release MSI package instead of zip payload.

For now, we would like to update our v7.7.2.0 zip payload with new ssh-shellhost.exe (without version change). If you could accommodate this

[2018-08-03 11:00] rmilojkovic opened #1224 "AuthorizedPrincipalsFile - Certificate principal mismatch"
Please answer the following

**"OpenSSH for Windows" version**
7.7.2.0

**Server OperatingSystem**
LSB Version:    :base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-noarch
Distributor ID: RedHatEnterpriseServer
Description:    Red Hat Enterprise Linux Server release 6.7 (Santiago)
Release:        6.7
Codename:

[2018-08-03 15:36] dwatley commented on #1224
Try using domain\user for the principal. See this pull request. https://github.com/PowerShell/openssh-portable/pull/286

[2018-08-03 19:15] rmilojkovic commented on #1224
I've decided to issue certificates based on _UPN_ of domain account it belongs to and this is the only reason why certificate principal looks like this. Access to remote _Linux_ machine, as any local user, is controled via _AuthorizedPrincipalsFile_, where certificate owner principal (in my case _UPN_) has to be defined.

It makes no difference whatever you pick as certificate principal if _Author

[2018-08-04 01:23] bagajjal opened #1225 "SFTP, SSH unicode display issues."
version - OpenSSHv7.7.2.0.

1) SSH NO-PTY Unicode issue
PS C:\Users\bagajjal\Desktop\OpenSSH_RS5_inbox> .\ssh.exe -T nonadmin@localhost "dir c:\users\nonadmin\client_test_dir_язык"
 Volume in drive C has no label.
 Volume Serial Number is F82C-1E41

 Directory of c:\users\nonadmin\client_test_dir_????

08/03/2018  05:46 PM    <DIR>          .
08/03/2018  05:46 PM    <DIR>          ..

[2018-08-04 23:18] bingbing8 commented on #1222
@bagajjal @DarwinJS @dwatley , [Releaset v7.7.2.0p1-Beta](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.7.2.0p1-Beta) is updated and removed the windows resize implementation.

[2018-08-05 00:51] DarwinJS commented on #1222
FYI - Chocolatey published versions are immutable.  So the chocolatey version that is going through moderation follows their "update of the same version" scheme which is "7.7.2.20180804"

[2018-08-05 20:19] jborean93 commented on #1222
IMO you should really be creating a new release and never change the contents of an existing an existing release.

Any reason why you can't just create a `v7.7.3.0` with the fixed shellhost?

[2018-08-06 02:01] dwatley commented on #1222
New release works for me as expected. Already voiced my concerns re: version change.

[2018-08-06 07:52] nkrepo commented on #590
@manojampalam and @bagajjal, it is possible to elaborate about the console resize logic introduced in 7.7.2.0 and broke console  (#1222).  When the changes finally materialize would it work with any supported Windows version e.x Windows 7?

[2018-08-06 09:16] rmilojkovic commented on #1224
@dwatley I forgot to mention that after setting principal as _domain\user_, same error is present - _“Certificate does not contain an authorized principal”_. As I've mentioned in my previous post, principal can be anything as log as it matches in both certificate and authorized_principals file.

Has anybody tested some of avaliable [key options](https://man.openbsd.org/sshd#AUTHORIZED_KEYS_FILE_FO

[2018-08-06 13:05] proskilly commented on #190
I tried putting   ChrootDirectory c:\sshTest    into sshd_config  but when I log in with FileZilla i'm at /C:/Users/Administrator

Is there something I need to do to get it to read the latest config file, also I only had file sshd_config_default,   are you supposed to rename (or copy) that to sshd_config, I assume it ignore sshd_config_default, it's just there as a template/starting point?

[2018-08-06 17:36] bagajjal commented on #1222
Creating a new release adds lot of overhead (Moving the code base to V7.7.2.0, make ssh-shellhost.exe, build, sign the binaries, testing, etc). Since it's a simple change we discussed internally to update v7.7.2.0.

Given the repetitive concerns from multiple people we will create new releases from next time onwards (if we run into this kind of issue).

Thanks @DarwinJS @dwatley for your support.

[2018-08-06 17:38] bagajjal commented on #1222
Thanks @DarwinJS @dwatley

[2018-08-06 17:58] bagajjal commented on #590
@nkrepo - For interactive ssh session, ssh-shellhost.exe will spawn the background cmd.exe and use console hook events to recognize the changes to the background cmd.exe.

When user resizes the ssh.exe (client) window, sshd will receive the window resize event. sshd will inform it to ssh-shellhost.exe. ssh-shellhost.exe will set the console screen size accordingly. This logic is added in v7.7.2.0.

[2018-08-06 17:58] #1222 closed, assigned to bagajjal

[2018-08-06 18:58] hashCode1 commented on #1223
I have updated to the latest version and still cipher command doesnt work
PS C:\Users\hash> ((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)
7.7.1.0

[2018-08-07 02:51] rkitover opened #1226 ".\ssh-keygen -A is broken, cannot make host keys"
Please answer the following

**"OpenSSH for Windows" version**
OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.4

**Server OperatingSystem**
Windows 10 Pro for Workstations

**What is failing**
[code]

[2018-08-07 08:44] dermeister0 commented on #840
Error log is misleading. I had following messages in log:

[code]

Actually path to PowerShell Core was wrong on server.

[2018-08-07 10:01] rkitover commented on #1226
I see now that it automatically makes keys in C:\ProgramData\ssh on first launch.

[2018-08-07 15:40] MathiasMagnus commented on #1178
This most likely is related to the same issue that non-ascii characters are not always tunneled properly, or at least the way Linux OpenSSH expects it. I remote to an Ubuntu Server 18.04 machine with Hungarian locale. This is the end of the prompt I receive:
[code]
Instead of
[code]
Parens, brackets, pipes and the likes are now tunneled as they should be (there was an earlier issue around these),

[2018-08-07 16:05] FranklinYu commented on #1178
Unicode support is broken (recently) and it's easy to reproduce. SSH into any Linux with Bash 4.2 or later, then

[code]

Expected to see [Skull and Crossbones (☠)](https://unicode-table.com/en/2620/), but saw Γÿá.

[2018-08-07 16:05] FranklinYu commented on #1225
Probably related to #1178.

[2018-08-07 17:42] bagajjal commented on #1225
@franklinyu - No.

Password reading ends up in readpassphrase().
SFTP Unicode output ends up in mprintf().

[2018-08-07 17:47] bagajjal commented on #1178
@MathiasMagnus @franklinyu - Your findings are unrelated to this issue. They land up in different code base.

Please note that ssh.exe uses conhost.exe (owned by console team) from win10 onwards to parse the incoming VTSequence. I advise you to file an issue here https://github.com/Microsoft/console/issues.

[2018-08-07 17:50] bagajjal commented on #1226
It's expected behavior.

sshd service will check for hostkeys in %programdata%\ssh folder. If it can't find the host keys then sshd service will create the hostkeys in %programdata%\ssh folder. Please note that %programdata%\ssh folder is created by sshd service and it's ACL properly.

[2018-08-07 17:50] #1226 closed, assigned to nobody

[2018-08-07 17:53] bagajjal commented on #840
@dermeister0 - Could you please elaborate your issue.

Error log doesn't talk about the path to powershell core. Why you think it's misleading?
BTW, do you have DEBUG3 enabled for sshd logs?

[2018-08-07 19:54] FranklinYu commented on #1178
@bagajjal If I understand correctly, both PowerShell Core and WSL Bash run on conhost.exe (Console Windows Host). I tried [Latin Small Letter C with Acute (ć)](https://unicode-table.com/en/0107/) on both of them and they display only one character (even though the font does not support that character). On SSH client it displays two, so I don't think Console Windows Host plays a role here.

[2018-08-07 19:57] bagajjal commented on #1178
@franklinyu - Please file a new bug, will look into this further.

[2018-08-07 20:09] FranklinYu opened #1227 "Non-ASCII character display issue"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
7.7.2.0

**Server OperatingSystem**
Ubuntu 16.04 (or any Linux with Bash 4.2 or later)

**Client OperatingSystem**
 `((Get-ItemP

[2018-08-07 20:13] bagajjal commented on #1227
@franklinyu - Please provide the windows build number (on cmd.exe, issue "winver" command)

[2018-08-07 20:16] FranklinYu commented on #1227
@bagajjal Updated.

[2018-08-07 21:02] bagajjal commented on #1227
@MathiasMagnus  @franklinyu - I have fixed this issue (tested on windows version 1803 OS Build 17713.1002), please try this private binary [ssh_unicode_issue.zip](https://github.com/PowerShell/Win32-OpenSSH/files/2268037/ssh_unicode_issue.zip) and let me know if you see any issues.

[2018-08-07 22:02] FranklinYu commented on #1227
Works for me. @MathiasMagnus please confirm.

[2018-08-07 22:14] rkitover commented on #1226
It should still probably create the keys in the actual directory instead of trying to use the template name as a directory.

[2018-08-07 22:22] bagajjal commented on #1226
This behavior is same as UNIX (host keys are always created at /etc/ssh).
In windows, we have choose %programdata%\ssh folder. FYI, this folder is persistent across windows updates.

[2018-08-07 22:25] rkitover commented on #1226
Yes but look at the error, it's not actually creating them because it tries to write to a nonexistant template name instead of the actual directory, on unix it actually creates them.

[2018-08-07 22:35] bagajjal commented on #1226
Windows is tricky as you can install windows OS on any drive (need not be C:\) so we can't pick a standard location. Also %programdata% (environment variable) path changes depending on the windows SKU.

So we came up with most readable version __ PROGRAMDATA __.
In the code, we resolve __ PROGRAMDATA __ to %programdata% (environment variable).

[2018-08-08 02:08] dermeister0 commented on #840
@bagajjal

I enabled DEBUG3 log level and it shows the error:

[code]

[code]

However, the error is not displayed with INFO log level. It says "disconnected by user" which is wrong, I think.

[2018-08-08 06:14] MathiasMagnus commented on #1227
Indeed, it works. Thanks for the hotfix!

[2018-08-08 15:30] FranklinYu commented on #1227
@bagajjal Shall we leave this issue open until next release? Not familiar with the workflow here.

[2018-08-08 17:44] bagajjal commented on #1227
Yes please. We will close it when the fix is merged.

[2018-08-14 20:00] rkeithhill commented on #518
@manojampalam What is this:

And is it online?  We've just run into this with a script we use so there is no option that we've found to provide the password to the ssh.exe.  We haven't found an sshpass that runs on Windows.  Our current solution is to punt on OpenSSH completely and revert back to using Putty.  :-(

[2018-08-14 20:55] bagajjal commented on #518
@rkeithhill - Try this in a powershell window,

1) Set the ENV variables
$env:DISPLAY = 1
$env:SSH_ASKPASS="$($env:ComSpec) /c echo user_password"

2) Now do SSH. It shouldn't ask password.
ssh user@ip

[2018-08-14 21:30] MaximoTrinidad opened #1228 "Unable to install latest version of OpenSSH from Chocolatey site"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
[code]

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName)

[2018-08-14 21:45] bingbing8 opened #1229 "scp does not interpret domain\user format"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).Produc

[2018-08-14 23:35] DarwinJS commented on #1228
I was about 99% sure of this already - but only by being told - so I wanted to test it.

The below screenshot shows that when I start a chocolatey package in PowerShell 6.0.4, the internal script is still processed by Windows PowerShell 5.x.

The first $psversiontable is the host that the package is being run from and the second is running in the context of the package.

![image](https://user-imag

[2018-08-15 02:04] jebej commented on #390
Hello, reviving and old thread, but I am also having trouble logging in.

I double check I had no typos in my user name, but still get the invalid user message from the event log:

[code]

I started the server in debug3 mode, and singled out this interesting part:

[code]

[2018-08-15 03:30] gayantd opened #1230 "Unable to connect : Log says "RSA key is not allowed""
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
Windows Server 2008 R2 Datacenter

**Client OperatingSystem**
Linux

**What is failing**
Server logs

[2018-08-15 14:26] bingbing8 commented on #1229
this does not repro on latest git openssh

[2018-08-15 15:04] bingbing8 commented on #1229
It repro on git openssh

[2018-08-15 16:13] MaximoTrinidad commented on #1228
@DarwinJS ,

The thing is... I never use to have the problem of installing OPenSSh in PowerShell Core release.

![openssh_03_2018-02-28](https://user-images.githubusercontent.com/19892435/44158791-a12c6000-a083-11e8-8511-f5e102123a6d.jpg)

I'm trying to determine if is a PowerShell Core or an OpenSSH issue.

I've been trying to user Windows 10 Openssh feature but it not working.  Currently have a

[2018-08-15 16:50] bagajjal commented on #1230
I guess it's because of recent changes in base openssh 7.7.2.
authorized_keys file has rsa-key-20160610. Try changing rsa-key-20160610 to ssh-rsa.

Can you try the same keys on Linux machine that has openssh 7.7.2 installed.

[2018-08-15 22:02] ronnicek commented on #1182
Hm.. I have actually different problem. I am testing OpenSSH and I am connecting from Mac -> Windows -> Linux to see how OpenSSH works in Windows world :) but when I hit ctrl+c to terminate program running in Linux session (tail -f for example) it disconnect me from Linux machine directly.. any ideas?

One point.. when I connect from Windows to Linux then Ctrl + C is working well.. it could be som

[2018-08-15 22:47] gayantd commented on #1230
I tried by renaming rsa-key to ssh-rsa. But still same error.
I don't have Linux OS as my client is from outside.

This is working fine for "ecdsa" key, but failed with RSA.

Config file following line is commented. Should I un-comment it ? what is the default value ?
#PubkeyAuthentication yes

[2018-08-15 23:19] bagajjal commented on #1230
Did you edit the authorized_keys file (replacing  rsa-key-20160610 to ssh-rsa)?
Also can you try to create and use the new rsa key?

sshd_config will have the default values as un-commented lines. so there is no need to update the sshd_config.

[2018-08-16 01:36] gayantd commented on #1230
yes tried by renaming rsa-key to ssh-rsa. But still same error.

Let me try with new rsa key.

[2018-08-16 02:29] gayantd commented on #1230
ah no. I just renamed "rsa-key-20160610" to "ssh-rsa-20160610".
Let me try to rename just "ssh-rsa" and try.

Thank you !

[2018-08-16 02:44] yasu1013 opened #1231 ""net stop sshd" failed with system error 109 (pipe has been ended)"
**"OpenSSH for Windows" version**
0.0.21.0

**Server OperatingSystem**
Windows Server 2012 R2

**Client OperatingSystem**
N/A

**What is failing**
I added a task on task scheduler which stop sshd, rotation sshd.log, and start sshd again. This task runs everyday at "safety" (sshd is not used) time, but sometimes fails at stopping sshd.
The task stops sshd using "net stop" command, but failed with e

[2018-08-16 04:37] gayantd commented on #1230
Awesome, that did work !!!
@bagajjal , you helped me last time to exclude ssh and leave only for sftp by adding below lings config file.
Match User *
ForceCommand internal-sftp

But it doesn't work. When my Key is not authenticated, It asking for Password. When I provide password, I can login. I don't want to login with password. Only need to use by Key.
Is there a way to do it ?

[2018-08-16 07:22] kschwidder opened #1232 "StrictHostKeyChecking can not be disabled"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

7.7.2.0 (latest)

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name P

[2018-08-16 08:10] amir3code commented on #895
Windows and specially powershell really really suck hard.
I dont have an ubuntu vps right now and If I had I would definietly switch back to my developement for linux environments.
Setting up a git server is way easy on linux than it is on windows
And I dont get it, Why windows is famous for its simplicity while it is just a bunch of unwell written binaries?

[2018-08-16 11:10] Diaskhan commented on #190
@manojampalam  could U describe all process.
And all enviroment that u setup !

On win10 64 with v7.7.2.0p1-Beta 64 bit

it shows this with (ChrootDirectory c/temp)
C:\WINDOWS\system32>sftp acer@localhost
acer@localhost's password:
Connection reset by ::1 port 22
Connection closed

or this with (ChrootDirectory c:\temp)

C:\WINDOWS\system32>sftp acer@localhost
acer@localhost's password:
Connection

[2018-08-16 11:26] pm-babak opened #1233 "sshd: Broken Pipe Failure ()"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 OpenSSH_for_Windows_7.6p1, LibreSSL 2.6.4

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt

[2018-08-16 17:22] bagajjal commented on #1230
To completely disable the password authentication,

1) Add below lines to %programdata%\ssh\sshd_config,

ChallengeResponseAuthentication no
PasswordAuthentication no
UsePAM no

2) Now restart the sshd service
net stop sshd
net start sshd

3) Try password authentication. It should fail.

[2018-08-16 17:33] #1230 closed, assigned to bagajjal

[2018-08-16 17:36] bagajjal commented on #1232
Add the below lines  to c:\users\\<user_name>\\.ssh\config (if file doesn't exist, just create it).

Host *
    StrictHostKeyChecking no

Now, fix the file (c:\users\\<user_name>\\.ssh\config) permissions so that no other user apart from administrators, system, current user has the read, write access..

If it didn't work then debug using
ssh -vvv user@ip

[2018-08-16 17:40] bagajjal commented on #190
@Diaskhan -
Please share you sshd_config, sshd.log (With Debug3 enabled) and sftp logs (sftp -vvv user@ip)

[2018-08-16 17:43] bagajjal commented on #1233
@babakNouri -
Please try the new version of openssh [v7.7.2.0](https://github.com/PowerShell/openssh-portable/releases/tag/v7.7.2.0).

[2018-08-16 19:00] manojampalam commented on #1231
You would see this, if sshd service process terminates before SCM is notified.

Here are the underlying technical details. SSHD service is contolled via SCM. It has 2 primary threads, thread T1 is SCM control thread that dispatches service control instructions to SSHD. The other thread T2 is the one that is executing the main service loop.
When you do net stop sshd, T1 issues a SIGINT that is proc

[2018-08-16 19:16] manojampalam commented on #390
Looks like jbejanin is getting resolved to a domain. Are you sure there is no domain accessible by that name?

[2018-08-16 19:57] draftsteve opened #1234 "Can't add keys to ssh-agent, communication with agent failed"
**"OpenSSH for Windows" version**

7.6.0.0

Installed in c:\Windows\System32\OpenSSH in the 1803 Windows update.

**Client OperatingSystem**
Windows 10 Pro 1803

**What is failing**
ssh-add can't add keys to the ssh-agent.

**Expected output**
The keys are accepted and listed when `ssh-add -l` is run.

**Actual output**

Could not add identity ".\.ssh\secret.pem": communication with agent failed

[2018-08-16 19:58] jebej commented on #390
The host computer name is also `jbejanin`, could that be the issue?

[2018-08-17 00:28] gayantd commented on #1230
Great ! That worked. Thank you!

[2018-08-17 02:09] yasu1013 commented on #1231
Thank you for very quick response.
Just for confirmation, Is this issue caused by a bug in OpenSSH for Windows ?

[2018-08-17 04:43] manojampalam commented on #1231
Possibly.

[2018-08-17 04:44] manojampalam commented on #390
Yes. It could very well be the issue. Can you try jbejanin\jbejanin and check if it makes a difference?
In any case, do open a new issue and copy these details.

[2018-08-17 04:46] manojampalam commented on #1234
see if this helps: https://github.com/PowerShell/Win32-OpenSSH/issues/1133

[2018-08-17 04:47] Diaskhan commented on #190
[code]

[2018-08-17 04:51] Diaskhan commented on #190
and event logs
[code]

[2018-08-17 05:47] Diaskhan commented on #190
thanks gues no help is needed.

Just install budu server
https://www.sftp.net/servers

[2018-08-17 05:57] yasu1013 commented on #1231
Thank you. I wait for progress.

[2018-08-17 13:52] draftsteve commented on #1234
I read through this issue.

I am using posh-git so I tried deleting the environment variables SSH_AGENT_PID and SSH_AUTH_SOCK but they don't exist. I'm guessing I'm using a newer version of posh-git?

Not loading posh-git doesn't seem to help either and the ssh-agent service starts fine.

[2018-08-17 21:20] manojampalam commented on #1234
That check in ssh-agent can be removed as sshd now runs as SYSTEM. We'll fix it.

As a workaround to unblock you, could you create/install a dummy sshd service like this:
`sc.exe create sshd binPath=C:\Windows\System32\OpenSSH\ssh.exe`

[2018-08-20 00:07] yasu1013 commented on #1231
I am sorry, I forgot to tell an important thing:
"net stop" command sometimes fails. However, sshd service actually stops in that case. There is the event log that sshd service has stopped.

updated at Aug 22: "a important thing" -> "an important thing" :)

[2018-08-20 15:05] draftsteve commented on #1234
I created the dummy sshd service as described.

ssh-add now works as expected. Thank you @manojampalam! This was driving me crazy.

[2018-08-20 21:03] charabaruk commented on #827
At this point I've pretty much given up on trying to interoperate with the ssh-agent socket put out by gpg-agent and just using @btolfa's pipe-ssh-agent to connect OpenSSH to the Pageant support in gpg-agent. Whatever's happening in libassuan is just completely shutting us out. :(

[2018-08-21 10:41] tavrez commented on #827
@coldacid I always get "The agent has no identities." or "error fetching identities: invalid format" depend on what I write in sshcontrol file with what you mentioned. 😕
Can you explain how you set them to work?

[2018-08-21 14:17] charabaruk commented on #827
@tavrez I don't use sshcontrol so I can't directly answer your question. But for using the ssh.exe command line client, you just need to make sure that pipe-ssh-agent is running, that Pageant support is enabled for gpg-agent, and that the `SSH_AUTH_SOCK` environment variable is set to `\\.\pipe\ssh-pageant` in your command line session.

[2018-08-21 14:33] tavrez commented on #827
@coldacid I can't even use PuTTY without sshcontrol 😁
when I write proper keygrip in sshcontrol and my PuTTY is correctly working using ssh or ssh-add will give me invalid format error. I also failed using the wsl ssh with proper app :/
May I know which Win 10 version you are using and if your keys are in a card or no?

[2018-08-21 15:46] charabaruk commented on #827
I'm using build 17134 at work and 17713 at home, without any problems, both with OpenSSH client tools and with PuTTY with gpg-agent providing Pageant functionality. It works just fine for me with a YubiKey as well as regular `ssh-add` of keys in the file system.

If you need sshcontrol in any situation just to be able to do anything with SSH, you might have bigger problems than just connecting to

[2018-08-21 16:24] tavrez commented on #827
Thanks for the help, seems like my Windows version(1709) only supports ed25519 keys. I need to upgrade.

[2018-08-21 19:54] AWSmith0216 opened #1235 "User principal name lookup failed for user"
**"OpenSSH for Windows" version**
 `7.7.2.0`

**Server OperatingSystem**
 `Windows Server 2016 Datacenter`

**Client OperatingSystem**
`RedHat Linux 7.2`

**What is failing**
Unable to successfully authenticate using key based authentication. Password authentication works. Running with debug level logging, on the server side the output is:

From looking at similar tickets I checked a couple things

[2018-08-22 00:30] thezim commented on #1231
@yasu1013 be aware that there might be an update you need - KB4345424. This was to fix an issue with a prior patch. While this series of updates references troubles with IIS we saw other 3rd party services being affected in our enterprise. Services getting stuck in a `Stopping` state. Just something worth trying if your still having an issue.

[2018-08-22 02:04] yasu1013 commented on #1231
@thezim thank you for your comment. I will consider to apply KB4345424. I also would like to wait for the result of investigation in OpenSSH.

[2018-08-22 11:06] luckerby opened #1236 "OpenSSh file based logging doesn't work for non-admin logons by default"
**"OpenSSH for Windows" version**
7.7.2.0

**Server OperatingSystem**
 `Windows Server 2016 Standard`

**Client OperatingSystem**
Windows 10 Version 1803 (OS Build 17134.167)

**What is failing**
Doing a _git fetch remote master_, whereby the remote is an SSH endpoint hosted on an OpenSSH server doesn't result in any reference to the commands invoked in the sshd.log. Within the sshd.config file lo

[2018-08-22 22:22] manojampalam commented on #1236
You are probably using a non-admin account. By default, only admins can log in sshd.log. You should see the logs once you adjust ACLs to allow "Write" access by your "user".

[2018-08-22 22:32] manojampalam commented on #1235
From
[code]
0xC0000062:
STATUS_INVALID_ACCOUNT_NAME
The name provided is not a properly formed account name.

@nomorefood any clue what might be wrong?

[2018-08-23 09:20] luckerby commented on #1236
Indeed, I was using a regular user. Following a few tests to determine the minimal rights needed, I've went ahead and delegated permissions to Authenticated Users against the folder that holds sshd.log as below (in my scenario Bypass Traverse Checking is on for everyone, therefore no additional "Traverse Folder" permission was required). I used Authenticated Users in order to catch any activity in

[2018-08-23 10:09] NoMoreFood commented on #1235
@manojampalam The STATUS_INVALID_ACCOUNT_NAME is just a result of passing NetBiosDomainName\SamAccountName to the call.  The code does it in an a desperate attempt after not being able to discover the UPN.  The real errors are the '5's returned from the TranslateNameW function on the first line -- which is the standard error  code for access denied.  Unrelated - glad to see your posting again; was

[2018-08-23 10:30] NoMoreFood commented on #1235
@manojampalam This could be a complication with name lookup in the one-way trust scenario I didn't anticipate.  I will try to reproduce in a few days.  If you happen to have any veterans in the AD/programming arena that you can ask about name translation in one-way trust scenarios, this may be a good question for them.

[2018-08-23 11:58] luckerby opened #1237 "fatal: ''<path>'' does not appear to be a git repository"
**"OpenSSH for Windows" version**
7.7.2.0

**Server OperatingSystem**
Windows Server 2016 Standard

**Client OperatingSystem**
Windows 10 Version 1803 (OS Build 17134.167)

**Expected output**
$ git clone user@opensshserver:c:/ScriptRepo
Cloning into 'ScriptRepo'...
remote: Counting objects: 10, done.
remote: Total 10 (delta 0), reused 0 (delta 0), pack-reused 10
Unpacking objects: 100% (10/10), d

[2018-08-23 13:09] beardedfool commented on #1232
Having the same error having added those lines to config and checked permissions.
but not confident it's not a config error my end as this system is far from fresh.

That said, can I just check whether creating a ssh_config in C:\ProgramData\ssh should work?
ssh -vvv seems to be suggesting it's read
debug1: Reading configuration data __PROGRAMDATA__\\ssh/ssh_config
but not sure if it's loaded corr

[2018-08-23 13:43] beardedfool commented on #1232
OpenSSH_for_Windows_7.6p1, LibreSSL 2.6.4
debug1: Reading configuration data C:\\Users\\XXXXX/.ssh/config
debug1: C:\\Users\\XXXXX/.ssh/config line 2: Applying options for *
debug1: Reading configuration data __PROGRAMDATA__\\ssh/ssh_config
debug2: resolving "192.168.21.5" port 22
debug2: ssh_connect_direct: needpriv 0
debug1: Connecting to 192.168.21.5 [192.168.21.5] port 22.
debug1: Connection e

[2018-08-23 19:07] bagajjal commented on #1232
@beardedfool -
As per your ssh logs, the host key is already found in the known_hosts. So we are not hitting the original issue.

debug1: Authenticating to 192.168.21.5:22 as 'installer'
debug3: hostkeys_foreach: reading file "C:\Users\XXXXX/.ssh/known_hosts"
debug3: record_hostkey: found key type ECDSA in file C:\Users\XXXXX/.ssh/known_hosts:1

**Next steps -**
1) Backup, Remove the known hosts f

[2018-08-23 23:52] beardedfool commented on #1232
Thanks for the help and sorry both for confusing the original issue - long day.

Much appreciated

[2018-08-23 23:53] #1232 closed, assigned to bagajjal

[2018-08-24 07:10] audpa33 commented on #899
I tested with version v7.7.2.0p1-Beta and it works fine now.

[code]
Thanks

Regards

[2018-08-24 09:59] edronne commented on #1219
Hello,

Sorry for the delay i was in vacation.

Below  the log.

4884 2018-08-24 11:44:34.727 debug2: fd 3 setting O_NONBLOCK
4884 2018-08-24 11:44:34.727 debug3: sock_set_v6only: set socket 3 IPV6_V6ONLY
4884 2018-08-24 11:44:34.727 debug1: Bind to port 22 on ::.
4884 2018-08-24 11:44:34.727 Server listening on :: port 22.
4884 2018-08-24 11:44:34.727 debug2: fd 4 setting O_NONBLOCK
4884 2018-08-

[2018-08-24 10:16] edronne commented on #1219
Hello,

Problem do not occurs any more with last version (v7.7.2.0p1-Beta).

[2018-08-24 10:16] #1219 closed, assigned to nobody

[2018-08-24 11:52] ghost commented on #827
Btolfa's program doesn't appear to be working for me (Gpg4Win v3.1.2),

I am clearly connecting to the server (I added a console log to the source code) however `ssh-add -L` is showing "The agent has no identities." despite `gpg -K --with-keygrip` listing all of my keys.

I have added the keygrip of the key into `%APPDATA%\gnupg\sshcontrol` although I don't know if that's entirely necessary. After

[2018-08-24 15:17] charabaruk commented on #827
@RaymondLC92 you should probably file an issue on @btolfa's project.

[2018-08-24 20:43] bingbing8 commented on #899
I will close this issue for now. Please reopen if you see it again.

[2018-08-24 20:43] #899 closed, assigned to bingbing8

[2018-08-24 21:33] ghost commented on #827
@coldacid Can do, just wasn't sure if it was an issue with his tool or with something I configured wrong.

Edit: It doesn't seem possible to actually make an issue on @Btolfa's repo.

[2018-08-26 10:37] ghost commented on #827
It seems I can't make issues on @btolfa's repo and I am still unable to link the two together.

It would be really nice if Win32-OpenSSH and GPG4Win would just play nice.

[2018-08-26 12:47] idvorkin commented on #1039
I'm still experiencing this bug, so I'm assuming it's still open.  Any reason not to keep this bug open so users can track the issue being resolved?  Also, how can users provide input to the conhost team?

[2018-08-27 00:22] TCB13 commented on #1133
This works to start the service and I can successfully add keys, however, when trying to ssh to some server it seems to ignore the keys added and always asks for password :(

[2018-08-27 04:38] manojampalam commented on #1133
Are you sure? Its quite likely that your server is rejecting the key and asking for password.

[2018-08-27 05:00] manojampalam commented on #1236
Actually not, you are perhaps not opening the file in "share" mode. The security issue unfortunately exists when you open up permissions on sshd.log. The changes in permissions are only advised for temporarily diagnosing issues with a specific non-admin user.

[2018-08-27 10:37] TCB13 commented on #1133
I’m sure, server has password login disabled. Also, I tried other servers / keys and they work fine on a Ubuntu box.

[2018-08-28 05:11] manojampalam commented on #1133
can you try ssh with -vvv flags and confirm from its traces that the key is indeed picked up/not ?

[2018-08-28 06:56] trzecieu opened #1238 "Can't login to the OpenSSH on LDAP user."
**"OpenSSH for Windows" version**
[code]
[code]

**Server OperatingSystem**
 `Windows 10 Enterprise`

**Client OperatingSystem**
 `Windows 10 Enterprise` - with examples below
Tested also with: `macOS High Sierra` and `Fedora 28` with the same result.

**What is failing**
I'm not able to login to the SSH server created on Window 10.
I use a corporate PC what uses domains, let's say `trzecieu@ACME`

[2018-08-28 08:53] TCB13 commented on #1133
@manojampalam here is my debug:

Started the service:

[code]

Added the key:

[code]

Now the ssh command:

[code]

In my `config` file this server is set as:

[code]

Do I need to add anything to my `config` to make it use the ssh-agent? Also, why do I need to start the service every single time?

 Many thanks.

[2018-08-28 17:59] bagajjal commented on #1238
Please try our [troubleshooting steps](https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps).

If you still need help then share the sshd.log (DEBUG3) enabled

[2018-08-29 04:34] Jan-E commented on #1139
FWIW: I had the same troubles. The first step in the instructions did nothing at all. It exited within a second without any output.

`ipmo .\contrib\win32\openssh\OpenSSHBuildHelper.psm1 -Force`

I had to copy the latest LibreSSL manually to .\contrib\win32\openssh\LibreSSL before I could start building. What might be of interest: Cygwin is in my path and Chocolatey was already installed.

[2018-08-29 06:53] trzecieu commented on #1238
Hi,
here it's the log of server with DEBUG3 flag:
[code]

This version of OpenSSH comes with Windows 10 1803
Test case was created with removed `%userprofile%/.ssh` folder in order to make sure it will pickup right username that comes from system

[2018-08-29 10:11] TCB13 commented on #1133
If I add `AddKeysToAgent yes` to my `config`  file keys get automatically added to `ssh-agent` instead of me having to issue `ssh-add path\key`, but I still get the `Enter passphrase for key` message. It looks like there is some communication failure between the ssh client and the agent.

[2018-08-29 10:59] TCB13 commented on #1133
@manojampalam here is my debug and an everything I tried:

[code]

Installed via `scoop` with:

[code]

Started the service:

[code]

Added the key:

[code]

Now the ssh command:

[code]

In my `config` file this server is set as:

[code]

If I add `AddKeysToAgent yes` to my `config`  file keys get automatically added to `ssh-agent` instead of me having to issue `ssh-add path\key`, but I still get

[2018-08-29 18:42] trzecieu commented on #1238
**Small update**:
I've tested this on a similar setup, but this time I used a local account and it worked fine. Maybe something funny is happening with LDAP accounts?

**Extra update**:
Just tested the same computer where I can't login using my LDAP credentials with a local user and it works fine. Is there any known issue / workaround to login to LDAP account?
Note: Just in case I've retested logi

[2018-08-29 20:16] TCB13 commented on #1133
**I've finally found the cause of my problem!**

In my `config` file I had some global options:

[code]

Apparently, if one sets `IdentitiesOnly yes` the SSH client will not ask the ssh-agent for keys. Maybe this is expected behavior, however, I was unaware of it and under macOS, that option doesn't cause this (maybe a bug in macOS?).

Setting `IdentitiesOnly no` in the global `Hosts *` section fi

[2018-08-30 13:54] erik-johnson-king opened #1239 "Reinstallation not setting up OpenSSH correctly"
Please answer the following

**"OpenSSH for Windows" version**
7.6.0.0

**Server OperatingSystem**
Windows 10 Pro

**What is failing**
Reinstallation of OpenSSH on Windows 10 does not seem to create the sshd service upon uninstallation and installation (as it did the first time I installed it). Running "ssh-keygen -A" in C:\Windows\System32\OpenSSH does not create the expected ssh_host_ed25519_key

[2018-08-30 17:28] bagajjal commented on #1239
There is no need to run "ssh-keygen -A" as sshd will automatically create the host keys.
Note that the host keys are created in "%programdata%\ssh\" location.

Follow our [troubleshooting steps](https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps) to debug more.

[2018-08-31 14:17] JukEboXAuDiO opened #1240 "Service fails to start"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
7.7.2.0p Beta

**Server OperatingSystem**
Windows Server 2016 x64

**Client OperatingSystem**
Windows Server 2016 x64

**What is failing**
Service is not starting.
**Expected output**
Service St

[2018-08-31 14:18] JukEboXAuDiO commented on #55
Getting this error with 7.7.2.0p Beta. Is installed in C:\program Files\OpenSSH on Windows Server 2016.

[2018-08-31 15:03] JukEboXAuDiO commented on #1240
Did the fix using .FixHostFilePermissions.ps1, uninstalled, & reinstalled and this fixed the issue.

[2018-08-31 15:40] JukEboXAuDiO commented on #1238
I am interested in logging in with my LDAP account as well. This is kind of a requirement for our Windows system.

[2018-08-31 17:53] dantraMSFT commented on #784
I hit the same issue on Server 2016 but found that neither mklink nor New-Item would create a usable symlink (The application to execute does not exist: 'C:\users\Public\pwsh.dll')

I ended up creating a directory link c:\powershell to resolve it.

[2018-08-31 17:57] DHowett-MSFT opened #1241 "ssh does not respect -f or -n to go to the background, hangs on ^C"
Please answer the following

**"OpenSSH for Windows" version**
`7.6.0.0` -  `7.7.2.1`

**Server OperatingSystem**
Doesn't matter.

**Client OperatingSystem**
RS3 - RS5; doesn't seem to matter.

**What is failing**
`ssh -fNn username@server`

Invoked like this, ssh _should_:
* go into the background

**Expected output**

[code]

**Actual output**

ssh keeps running and takes over the console sessio

[2018-08-31 17:58] bagajjal commented on #1238
Looks like you are using a very old version of openssh.
Install the latest version from (https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH).

To know your windows openssh version, do this,
1) cd to sshd.exe directory
2) Execute this command
((Get-Item (Get-Command .\sshd).Source).VersionInfo.FileVersion)

[2018-09-02 20:23] Riebart commented on #827
So it turns out that I've been hacking away at this from a slightly different angle. I wanted to use my Yubikeys with WSL `ssh` and `gpg` toolchains, so I wrote a Python [wsl-gpg bridge](https://github.com/Riebart/wsl-gpg-bridge) to bridge the TCP Assuan sockets exposed by the GnuPG Windows binaries to the usual Unix sockets in WSL.

For use as a gpg-agent drop-in, it works perfectly. All smart-ca

[2018-09-03 10:54] luckerby commented on #1236
You're right, I wasn't using the "share" mode to open the file. Once this was done, as seen below using a FileStream in Powershell (inspired by [this](https://stackoverflow.com/questions/513260/how-to-open-a-file-for-non-exclusive-write-access-using-net)) any user could modify sshd.log at will.

![image](https://user-images.githubusercontent.com/31319583/44982769-a2182980-af7f-11e8-9c50-4ec889a6d1

[2018-09-03 19:32] manojampalam commented on #1236
Yes ofcourse. Check out AllowUsers in sshd_config.

[2018-09-04 09:29] luckerby commented on #1236
Thanks, Manoj.

[2018-09-04 10:22] luckerby opened #1242 "AllowGroups Not Honored for Groups Whose CN Contains Whitespace"
**"OpenSSH for Windows" version**
7.7.2.0

**Server OperatingSystem**
Windows Server 2016

**Client OperatingSystem**
Windows 10 (version 1803)

**What is failing**
I'm having OpenSSH configured for authenticating several users based on SSH keys. I'm now trying to limit the users that can connect to the server, regardless if they're providing explicitly their password. Specifying AllowGroups in ss

[2018-09-05 14:12] pldmgg opened #1243 "Please Re-open Issue #1213"
For Reference: #1213

All information is the same except OpenSSH version is 7.7.2.0, and PowerShell Core (i.e. pwsh.exe) is used as the subsystem in sshd-config...

    Subsystem    powershell    C:/Program Files/Powershell/6-preview/pwsh.exe -sshs -NoLogo -NoProfile

...where pwsh.exe version is 6.1.0-rc.1

To be clear, everything works fine if the subsystem is powershell.exe.

[2018-09-05 14:49] pldmgg commented on #1243
Disregard...ssh.exe wasn't in my `$env:Path`. Closing.

[2018-09-05 14:49] #1243 closed, assigned to nobody

[2018-09-05 15:02] Rondom commented on #89
While it is in the contrib-directory, the script is strictly speaking still part of the OpenSSH-codebase and it would be nice if the script
* could support copying keys to windows hosts
* was shipped with OpenSSH for Windows

EDIT: Ok, I see it is implemented in Shell, so not easy to ship. I also found the discussion #341 which tracks this issue and your reasoning behind not supporting it.

[2018-09-05 15:25] pldmgg opened #1244 "Issue with pwsh.exe 6.1.0-rc1 New-PSSession using SSH Key Auth"
Same issue posted here since not sure if OpenSSH-Win64 or pwsh issue: https://github.com/PowerShell/PowerShell/issues/7709

In this test scenario, zerotesting5.zero.lab (192.168.2.13) is the localhost and zerowin16sshb.zero.lab (192.168.2.53) is the Remote Host.

Relevant info about both machines:

- Both are running Windows 2016 Standard
- Both have pwsh 6.1.0-rc1 (and ONLY pwsh 6.1.0-rc1) instal

[2018-09-05 19:29] danielboth commented on #1082
@manojampalam @bagajjal, looking at #1212, is there any progress / eta on this issue?

[2018-09-05 20:23] bigjew92 opened #1245 "Public Key Authentication Issue"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 --7.7.2.0

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductN

[2018-09-05 21:06] bagajjal commented on #1245
Follow the instructions here https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2018-09-05 22:17] bigjew92 commented on #1245
Thank you. The logs are showing it is getting my publickey, but still not letting me in. I'm now getting a write failed: broken pipe error when trying to log in. I have my permissions on the .ssh folder and authorized_keys file set properly with just my account and System having access.

[2018-09-05 22:29] bagajjal commented on #1245
Please share ssh client (.\ssh.exe -vvv user@ip) and sshd logs (DEBUG3).

[2018-09-05 23:03] bigjew92 commented on #1245
debug1: SSH2_MSG_NEWKEYS received
debug1: SSH2_MSG_SERVICE_REQUEST sent
debug2: service_accept: ssh-userauth
debug1: SSH2_MSG_SERVICE_ACCEPT received
debug2: key: /root/.ssh/id_rsa (0x7f2d71420740),
debug2: key: /root/.ssh/id_dsa ((nil)),
debug2: key: /root/.ssh/id_ecdsa ((nil)),
debug2: key: /root/.ssh/id_ed25519 ((nil)),
debug1: Authentications that can continue: publickey,password,keyboard-inte

[2018-09-06 00:39] bagajjal commented on #1245
Try this,
1) stop the sshd service (net stop sshd)
2) Start the sshd in debug mode (./sshd.exe -ddd).
We should see the error message why it's closing the session.

Are you able to login using password based authentication? Ideally it should also fail.

[2018-09-06 17:59] manojampalam commented on #1082
Sorry @danielboth none yet. Please check back end of October.

[2018-09-06 18:37] pldmgg commented on #1244
More information on this...still not solved, but I've narrowed down the problem to the sshd Subsystem invocation of pwsh. Still not clear whether this is a pwsh.exe or OpenSSH-Win64 problem...

The `ForceCommand pwsh.exe -NoProfile` option in my original sshd_config concealed the fact that the "successful" ssh commands were NOT in fact using Subsystem to put me in a pwsh.exe session. Instead, logs

[2018-09-06 18:38] manojampalam commented on #1244
Just tried out. It seems to work find with the following commandline options as detailed in
https://docs.microsoft.com/en-us/powershell/scripting/core-powershell/ssh-remoting-in-powershell-core?view=powershell-6

pwsh -sshs -NoLogo -NoProfile

It does hang with just
   pwsh.exe -NoProfile
From your logs, it seems that this is your subsystem commandline.

Please follow up with Powershell team if th

[2018-09-06 18:38] #1244 closed, assigned to nobody

[2018-09-06 18:41] pldmgg commented on #1244
@manojampalam Not sure what you were looking at, but I didn't just have `pwsh.exe -NoProfile`...Everywhere I look it has `-sshs -NoLogo -NoProfile` included. Can you point out where you see that?

Please see my updated information that I literally posted seconds before you closed this item.

And just to be clear...you tried Public Certificate Authentication?

[2018-09-06 18:49] manojampalam commented on #1244
From the following in your logs
[code]

On double checking, it does look like your subsystem commadline is correct, but its getting overridden by your ForceCommand specification. IF you remove it, it should work fine.

Otherwise, I advice you to go over sshd_config documentation to understand the intricacies between ForceCommand, Subsystem and (windows specific) [DefaultShell](https://github.com/P

[2018-09-06 19:00] pldmgg commented on #1244
@manojampalam I did remove `ForceCommand` in the latest info I posted immediately preceding when you closed this item. It's pretty clear that Subsystem is not being honored when I use straight ssh commands, and **is** being honored when I use New-PSSession (but then fails from some unknown reason...)

Please let me know your thoughts on this updated info when you get a chance.

And just want to ma

[2018-09-06 19:04] manojampalam commented on #1242
Please check https://github.com/PowerShell/Win32-OpenSSH/wiki/sshd_config,

You should use domain\username format. Principal names with spaces should be enclosed in double quotes

[2018-09-06 19:04] #1242 closed, assigned to nobody

[2018-09-06 19:07] manojampalam commented on #1244
Subsystem is not meant for straight ssh commands.

You may invoke a subsystem using ssh.exe with -s flag but you wouldn't want to do that.

The subsystem you added for PS remoting is meant to understand PSRP protocol stream.

If your requirement is to run your plain ssh commands in a PS shell, you should be dealing with "Default Shell".

By "Public Certificate Authentication" did you mean ssh cert

[2018-09-06 19:19] manojampalam commented on #1238
Are LDAP accounts supported with OpenSSH for Windows ?
I would delegate this questions to our AD expert @nomorefood.

[2018-09-06 19:24] manojampalam commented on #1241
Thanks. ssh background support is not in yet.
It should bail out right away with an error message instead.

[2018-09-06 19:25] #1240 closed, assigned to nobody

[2018-09-06 19:29] manojampalam commented on #1133
Thanks for following up. This is something that I was unaware of too.
As per http://man.openbsd.org/OpenBSD-current/man5/ssh_config.5
looks like this is expected behavior.

[2018-09-06 19:29] #1133 closed, assigned to nobody

[2018-09-06 19:31] manojampalam commented on #1139
@bingbing8 can you please follow up ?

[2018-09-06 19:41] pldmgg commented on #1244
@manojampalam Right now, my requirement is to use Public Cert Auth and Subsystem sshd_config such that both ssh.exe and Enter-PSSession put me in a pwsh session on the remote host.

So far, I have not been able to accomplish this for both ssh.exe and `*-PSSession` cmdlets. The only scenarios that led to me being in a pwsh.exe session on a remote host (where both client and server machines are Wind

[2018-09-06 21:42] egoldin commented on #55
Me too, also C:\program Files\OpenSSH on Windows Server 2016

[2018-09-06 22:27] NoMoreFood commented on #1238
You guys may need to explain what you mean by 'LDAP account'.  If you're referring to an Active Directory account, then everything should work fine provided that the SSH server has a connection to the domain controller.  The domain controller is an LDAP server which I believe is maybe where the terminology breakdown is occurring here.  The OpenSSH server will use other Windows protocols such as Ke

[2018-09-06 23:13] pldmgg opened #1246 "SSH Between 2 Windows Machines Using pwsh.exe and OpenSSH-Win64 with SSH Cert Auth"
# Goal:

Enter an interactive pwsh.exe session on a (Windows) Remote Host using SSH Public Cert Authentication using BOTH ssh.exe AND pwsh.exe `*-PSSession` cmdlets

# Requirements:

- SSH Client must be on a Windows OS
- SSHD Server must be on a Windows OS
- SSH Cert Authentication must be used
- The `Subsystem` sshd_config option must be used
- The `ForceCommand` sshd_config option must NOT be u

[2018-09-06 23:16] Magneticdud commented on #1014
the problem is that windows 10 ssh.exe can't be invoked by this app, as instead plink and cygwin ssh can be invoked. Example:

![immagine](https://user-images.githubusercontent.com/2940598/45189899-72954580-b23b-11e8-9c43-8086f5567853.png)

it's not a path problem, because it can't find it even if i force the full path via argument:

![immagine](https://user-images.githubusercontent.com/2940598/45

[2018-09-07 08:17] Magneticdud commented on #1214
File history is not a backup, it's more like a "safety net"

If your computer crashes, your private keys are still lost, as they're not backed up

by default it doesn't does a backup of the private key

and if you backup the private keys with it... it's a plain copy, unencrypted. Anyone with access to your backup files **would have unlimited access to your server**. It's the digital equivalent of

[2018-09-07 08:30] fabwu commented on #1214
If I use a passphrase it's not a plaintext copy so you still need a password to access a server. Anyway, I used the method you proposed and backed up my private key in a password manager. I also removed my private key from my computer after I added it to ssh-agent.

[2018-09-07 08:38] luckerby commented on #1242
My mistake, I didn't pay attention when reading the doc initially. For the domain group I'm using, it's clearly stated that the format to be used is as below. It worked perfectly.

AllowGroups "contoso\ssh users"

[2018-09-07 14:15] pldmgg commented on #1246
From /u/ainesophaur on reddit (https://www.reddit.com/r/PowerShell/comments/9doeqm/has_anyone_successfully_been_able_to_get_to_an/)

"There's a github issue about this and ultimately it was stated that authing by key pair will not grant you a kerberos session.. So you're then unable to do remote powershell using kerberos or negotiate auth. Your options are to either sign in with username and passw

[2018-09-07 16:29] hamedsbt opened #1247 "ssh login with correct public key failed!"
**"OpenSSH for Windows" version**
 Win64_v7.7.2.0p1_Beta

**Server OperatingSystem**
Win10 x64

**Client OperatingSystem**
Win10 x64

**What is failing**
ssh login with public key

** Executed command **
#ssh gu_sadeh_cashier@127.0.0.1 dir
OR
#git clone ssh://gu_sadeh_cashier@127.0.0.1
**Actual output**
fd 5 is not O_NONBLOCK
spawning "D:\\SFT\\OpenSSH_Win64_v7.7.2.0p1_Beta\\sshd.exe" "-R"
send_re

[2018-09-07 17:08] manojampalam commented on #1247
I dont see any indication of server receiving a pubkey auth request. Can you also share client side traces ? (ssh -vvv) ?

[2018-09-07 17:30] lejeczek opened #1248 "Why is this OpenSSH here not in Windows 10 features but ..."
...instead Windows users when add feature(s) get old version(s)?

Could these two not be synchronized somehow? Having the latest beta(and/or stable) in Win 10 features would make lives of so many people a lot easier!
many thanks, L.

[2018-09-07 17:37] manojampalam commented on #1246
Not convinced about Kerberos session theory. If key based auth works, cert auth should work as well. Are you saying key based auth doesn't work either ?

Otherwise, some technical background pertaining to your scenarios:
A subsystem process is invoked via the configured shell. something like this
defaultshell.exe -c subsystem_commandline

In your case, you should be seeing something like this in y

[2018-09-07 17:40] manojampalam commented on #1248
@JKeithB need your help explaining OpenSSH on GitHub and OpenSSH on Windows. Please write up a wiki page as you suggested.

[2018-09-07 17:40] manojampalam commented on #1236
Keeping this open for tracking purpose.

[2018-09-07 17:44] manojampalam commented on #1242
Not really. I added the entry upon looking at your issue :). Thanks for raising it in the first place.

[2018-09-07 21:00] hamedsbt commented on #1247
I have ENVIRONMENT VARIABLE named:
HOME:  D:\SFT\OpenSSH_Client_Keys (it contains .ssh/config & .ssh/known_hosts & .ssh/a_key & .ssh/a_key.pub files)

The "config" file contains ssh key full PATH but ssh client does not load config file! why?

#ssh -vvv gu_sadeh_cashier@127.0.0.1 dir
OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.4
debug3: Failed to open file:C:\\Users\\Hamedsbt/.ssh/config error:2
debug

[2018-09-07 21:23] bagajjal commented on #1247
SSH client looks at the current user profile.
In your case it's C:\Users\Hamedsbt/.ssh.

You can also copy them to %programdata%\ssh folder.

[2018-09-07 21:39] bagajjal commented on #1014
@Magneticdud - can you try path in unix style (C:/windows/system32/OpenSSH/ssh.exe).
Look at the implementation of create_process().. It's a win32 API.

[2018-09-08 07:07] wanghaiqing2015 opened #1249 "Connection reset by 127.0.0.1 port 22 on Windows Server 2012 R2"
OpenSSH：
v7.7.2.0p1-Beta (OpenSSH-Win64.zip)

OS：
cn_windows_server_2012_r2_vl_with_update_x64_dvd_6052729.iso

Prepare：
Closed the firewall

Install：
powershell.exe -ExecutionPolicy Bypass -File install-sshd.ps1
net start sshd

Message：
C:\Users\Administrator\Desktop\OpenSSH-Win64>ssh 127.0.0.1
Connection reset by 127.0.0.1 port 22

[2018-09-08 07:08] wanghaiqing2015 commented on #1249
Server 2012 is not supported?

[2018-09-08 08:09] wanghaiqing2015 commented on #1249
move folder to  C:\Program Files\OpenSSH， now can run successfully！！

how can change the folder location to another？

[2018-09-08 15:23] pldmgg commented on #1246
Cert and Key based auth works, but only with ssh.exe. I've never been able to get it to work with the `*-PSSession` cmdlets (**between Windows machines** ).

Using ssh.exe, I can get to an interactive pwsh.exe on the remote host by **EITHER**
- Using a `DefaultShell` registry value of `C:\symlinks\pwsh.exe`; **OR**
- By using `ForceCommand pwsh.exe -NoProfile` in sshd_config - in which case having

[2018-09-08 15:24] hamedsbt commented on #1247
I want to customize the "user profile" path and ssh filename for ssh client, how can I do that?

[2018-09-09 15:49] pldmgg commented on #1246
@manojampalam After doing more reading, I'm starting to think that `Subsystem` never being honored when using ssh.exe interactively is by design? Can you confirm?

Assuming I'm correct about the above, then the main problem I'm having is how sshd is handling the `*-PSSession` cmdlets.

(NOTE: I had to use `psexec64 -s sshd -ddd` in order to run sshd as System in order to get these logs):

### Usin

[2018-09-10 21:44] manojampalam commented on #1246
@pldmgg think about any ssh session as something that connects 2 pipes (in and out) on client to 2 pipes on a target process in server. When you open up a remote session, you end up specifying what the target process is. In some cases it is explicit (when you invoke an explicit command) and in some case its indirect (when you invoke a subsystem) and in some cases its implicit (when you invoke an i

[2018-09-10 21:46] manojampalam commented on #1249
Did you follow troubleshooting steps in wiki ? doing a `sshd -d` should tell you why it was failing before

[2018-09-10 22:34] pldmgg commented on #1246
Okay...I guess one last question before I chalk this up to some issue completely unique to my environment:

Is this what you see in your sshd logs for your working E2E test?

[code]

[2018-09-10 22:41] manojampalam commented on #1246
Right

[code]

![image](https://user-images.githubusercontent.com/14185020/45328311-4e25bb80-b510-11e8-975a-f289de2b2fd2.png)

[2018-09-11 10:38] ronelm2000 commented on #1220
I am able to replicate this error. It seems it happens when the default shell is changed to powershell. The key is this particular line:
[code]

This should either indicate the exact path to sftp-server.exe or be something like ./sftp-server.exe

Current Workaround is to revert the Registry Entries to use powershell back to Command Prompt.

[2018-09-11 14:12] wanghaiqing2015 commented on #1249
debug3: mm_request_receive entering
debug3: monitor_read: checking request 4
debug3: mm_answer_authserv: service=ssh-connection, style=
debug2: monitor_read: 4 used once, disabling now
debug3: receive packet: type 50 [preauth]
debug1: userauth-request for user administrator service ssh-connection method pa
ssword [preauth]
debug1: attempt 1 failures 0 [preauth]
debug2: input_userauth_request: try

[2018-09-11 14:17] wanghaiqing2015 commented on #1249
run as  administrator

[2018-09-11 17:18] bagajjal commented on #1220
It's expected behavior.

See point 9,
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

![image](https://user-images.githubusercontent.com/23668037/45376154-f3da3880-b5ab-11e8-8cc6-0348da0a0e20.png)

[2018-09-11 17:18] #1220 closed, assigned to nobody

[2018-09-11 17:38] manojampalam commented on #1249
try with key based authentication.

[2018-09-11 19:46] ghost commented on #1248
@lejeczek the short answer is not new - Windows has a release schedule that takes time to "bake". They have to massively retest when components change to avoid breaks caused between checkins from different teams. RS5 and beyond will include a stable version of what we build in Github, but not necessarily the most recent updates.
Full support for Windows releases prior to RS5 has been discussed, bu

[2018-09-11 23:39] pldmgg commented on #1246
@manojampalam Thanks for working with me on this!

Unfortunately, I still haven't had any success getting the `*-PSSession` cmdlets to work between two Windows 2016 Standard machines. I've tried fresh VMs, different domains, always with the result where pwsh on the client Win16 machine hangs and I need to Ctrl+C.

I'm certain that I've followed all of the aforementioned guidance (symlinks, permiss

[2018-09-12 04:30] wanghaiqing2015 commented on #1249
How to operate in detail ？

[2018-09-12 04:44] wanghaiqing2015 commented on #1249
You don't understand my point.
I only care about password .

Why can I use “C:\Program Files\OpenSSH” ?
Why can't I use “C:\Users\Administrator\Desktop\1\” ?

[2018-09-12 04:58] wanghaiqing2015 commented on #1249
I can use “C:\OpenSSH”
I can use “C:\Users\OpenSSH”
I can use “C:\Users\11111”

I can't  use “**C:\Users\Administrator**\1”
I can't  use “**C:\Users\Administrator**\Desktop\1”

[2018-09-12 04:59] wanghaiqing2015 commented on #1249
As long as there is C:\Users\Administrator\  the sshd service will connect reset it.

[2018-09-12 05:00] wanghaiqing2015 commented on #1249
As long as there is C:\Users\Administrator ,  the sshd service will connect reset it.

[2018-09-12 12:35] pldmgg commented on #1246
HOLY CRAP I figured it out!

My mistake was that I was creating the symlink to pwsh.exe directly as opposed to its parent directory, i.e.

[code]

When I made a symlink to pwsh.exe's parent directory (and updated the Subsystem path in sshd_config), the `*-PSSession` cmdlets started working:

[code]

Now we're firing on all cylinders (password auth, key auth, ssh cert auth)

Thanks for your help @m

[2018-09-12 12:35] #1246 closed, assigned to nobody

[2018-09-12 17:42] manojampalam commented on #1249
I recommend thoroughly going through https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps. It should explain why I talked about key based authentication.

[2018-09-12 20:01] LozBoz63 opened #1250 "Subsysstem definition and relative file specification"
In Version 7.6.1.0 the sshd_config file could have a line in

   Subsystemsftp	sftp-server.exe

effectively allowing relative file addressing for subsystem. parameter.

With 7.7.2.0 a full file specification is now required, this seems a retrograde step.

    Subsystem	sftp	C:\Windows\System32\OpenSSH\sftp-server.exe

[2018-09-12 20:18] LozBoz63 opened #1251 "Unauthorised read & list access to folders and files"
OpenSSH for Windows  version 7.7.2.0
Windows Server 2012 R2 Standard

We have an account call Kits-Service that is not a member of any Window group on a server (including Users). However when we connect to the SFTP server and are able to navigate around and copy files out from folder trees we should not have access to because the Kits-Service user is not the Creatoir Owner and neither is it mentio

[2018-09-12 21:33] bagajjal commented on #1250
We made a bunch of enhancements from v7.6.1.0 to v7.7.2.0.

If default shell is cmd.exe then we pick the sftp-server.exe, scp.exe from the sshd.exe directory.
If default shell is NOT cmd.exe then PATH should have the sshd.exe directory.

Look at point 9 in  https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

![image](https://user-images.githubusercontent.com/23668037/45454459-d

[2018-09-13 08:15] LozBoz63 commented on #1250
Hi,

Thank you for your explanation and I can confirm we had set the default shell as powershell, I hadn't realized the full impact of what was discussed in point 9.

May I say, I believe the choice of whether you use cmd.exe or powerShell.exe and the consequential impacts on the default PATH seem counter intuitive to me.

If both cmd.exe and Powershell.exe were hard coded to locate files in the s

[2018-09-13 09:58] longtth commented on #1226
Sometimes, it not, then the command `ssh-keygen.exe -A` will return these errors :
so you must manually go to `C:\ProgramData\` and create a folder named `ssh`
[code]

[2018-09-13 17:43] rkitover commented on #1226
Ah so that was the problem.

Perhaps as some future minor enhancement, someone could add some code to make sure the directory exists.

[2018-09-13 17:55] bagajjal commented on #1226
Not sure why you are executing "ssh-keygen.exe -A" command as sshd will automatically create the host keys..

fyi, we create the %programdata%\ssh folder during the sshd service startup time.

[2018-09-13 18:58] manojampalam commented on #1251
SSH remote session processes run under the context of the authenticated user (in your case Kits-Service). Regular Windows ACL based permissions apply. If you want to restrict Kits-Service to a specific directory you may use [ChRoot](https://github.com/PowerShell/Win32-OpenSSH/wiki/sshd_config#chrootdirectory)

[2018-09-16 12:01] wanghaiqing2015 commented on #1249
I can't read your meaning.

Can you install sshd services to this directory（C:\Users\Administrator）?

This is error message：
![qq 20180916195958](https://user-images.githubusercontent.com/11815186/45596221-1eccee00-b9eb-11e8-88a7-0c12eb2495c7.png)

[2018-09-17 18:43] #1229 closed, assigned to bingbing8

[2018-09-17 23:52] bingbing8 commented on #1139
@Jan-E, @dwatley, please try the latest source from PowerShell/openssh-portable and let us know if the issue get fixed. Thanks!

[2018-09-18 17:22] bingbing8 commented on #1249
@wanghaiqing2015, per wiki [install Win32 OpenSSH](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH), bulletin 3. Extract contents of the latest build to C:\Program Files\OpenSSH **(Make sure binary location has the Write permissions to just to SYSTEM, Administrator groups. Authenticated users should and only have Read and Execute.)**. Can you check the ACLs difference betwee

[2018-09-19 05:14] fungtion commented on #1181
@franklinyu you said "I tried (temporarily) disabling authentication in my local X server (VcXsrv). After that I manually set $DISPLAY environment variable (inside session of course), then it worked", how to "disabling authentication in my local X server (VcXsrv)", and "manually set $DISPLAY"?

[2018-09-19 06:04] FranklinYu commented on #1181
@fungtion Keywords:
* “VcXsrv”
* “Extra settings”
* “Disable access control”

I didn’t went into details about that in this issue because it is specific to VcXsrv, not something the PowerShell team should care about. In addition, it has [very strong security implication](https://unix.stackexchange.com/questions/120459/what-is-access-control-with-x-server), so don’t do it unless you understand the

[2018-09-20 00:22] bingbing8 commented on #1249
@wanghaiqing2015, after I update the ACL of folder C:\users\Administrator\OpenSSH-Win64 to below, ssh works fine.
![image](https://user-images.githubusercontent.com/12284203/45798178-a91c8880-bc5d-11e8-946d-c4684172ef5d.png)

[2018-09-20 17:58] #452 closed, assigned to nobody

[2018-09-20 21:48] bigjew92 commented on #1245
Sorry for the late reply, have not been able to work on this. When running in debug mode, I am not able to get in using my public key OR my password. If I am running as a service, I am able to log in only by using my password, not key.

debug2: load_server_config: filename __PROGRAMDATA__\\ssh/sshd_config
debug2: load_server_config: done config len = 152
debug2: parse_server_config: config __PROGR

[2018-09-20 22:13] bagajjal commented on #1245
I am guessing it's the problem with your authorized_keys file.

debug1: trying public key file C:\Users\username\.ssh/authorized_keys
debug3: mm_answer_keyallowed: publickey authentication test: RSA key is not allowed
Failed publickey for DOMAIN\username from 10.32.192.234 port 46912 ssh2: RSA

Verify that your authorized_keys entries looks like this,
ssh-rsa <_key_> <_username_>

Also you can try

[2018-09-20 22:22] bigjew92 commented on #1245
Well, I realized I was using the wrong key, changed to the correct key and it worked in interactive more, but still not working while running as a service, getting the same error as reported previously.

[2018-09-20 22:29] bagajjal commented on #1245
Then it should be an issue with the ACLs.
To fix ACLs, try these instructions (https://github.com/PowerShell/Win32-OpenSSH/wiki/OpenSSH-utility-scripts-to-fix-file-permissions#fixuserfilepermissionsps1).

If it didn't solve then follow these steps,
1)  Stop sshd (net stop sshd)

2) Enable file based logging. Add below lines to  "%programdata%\ssh\sshd_config"
SyslogFacility LOCAL0
LogLevel DEBUG3

[2018-09-21 00:07] bigjew92 commented on #1245
Followed directions in the link, thank you. Everything came back successful, still running into the same error.

as for the other troubleshooting fix you mentioned, I am trying to ssh to this box, so I don't believe step 4 would work. I enabled those two items in the config and still nothing, nothing should up in the logs folder either.

[2018-09-21 08:31] emmatyping opened #1252 "User resolution doesn't work if user name is the same as host name"
**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

7.7.2.0

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`

Windows 10 Pro

**Client OperatingSystem**

Ubuntu 18.04

**What is failing**
I am getting a broken pipe when trying to authenticate.
**Expected output**

[2018-09-21 17:31] bagajjal commented on #1252
Are you sure your username, domain are same (ethanhs\ethanhs)?

debug1: Next authentication method: password
ethanhs\ethanhs@10.147.18.113's password:

fyi, if windows user is local user then you don't need domain name.

[2018-09-21 19:24] emmatyping commented on #1252
@bagajjal I have an MS account as my main account

Also I should note it says "on ETHANHS" (which is my hostname AFIAK) and I know my username is ethanhs.

[2018-09-21 20:36] bingbing8 commented on #1252
@ethanhs, Interesting. account type 3 means ethanhs is a domain name instead of user account. Probably because your machine name and username are same. As @bagajjal suggested, can you try this?
`ssh ethanhs@10.147.18.113
`

[2018-09-21 20:43] emmatyping commented on #1252
@bingbing8 I have previously tried that, it seems to consider `ethanhs` the domain name:

[code]

[2018-09-21 20:47] bagajjal commented on #1252
@ethanhs  Please share the full sshd log..

[2018-09-21 20:49] emmatyping commented on #1252
[code]

[2018-09-21 21:13] bingbing8 commented on #1237
@luckerby, as far as I remember, powershell can interpret the single quoted string. If you config powershell as default shell on the server side, I expect that you don't need to  apply the workaround.

[2018-09-21 21:21] manojampalam commented on #1252
@ethanhs we need to investigate this? Can you confirm that all these variations fail?
- ssh ethanhs target
- ssh ethanhs\ethanhs target
- ssh ethanhs@ethanhs@target

[2018-09-21 21:28] emmatyping commented on #1252
@manojampalam

- `ssh ethanhs ip` doesn't work. It tries to connect to my computer over lan (to hostname ethanhs). I'm trying to connect over zerotier

- `ssh ethanhs\ethanhs ip` also doesn't work because it tries to resolve ethanhs\ethanhs as a host

- `ssh ethanhs@ethanhs@ip` doesn't work because it tries to resolve the username as `ethanhs@ethanhs` which is invalid (according to the sshd logs).

[2018-09-21 21:31] manojampalam commented on #1252
Alright. thanks for the follow up. Please use a user account that's not the same as the host name for now.

[2018-09-21 21:44] FranklinYu opened #1253 "MotD duplicated when called from PowerShell Core"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
7.7.2.0

**Server OperatingSystem**
Ubuntu 16.04.5 LTS (Note: this issue doesn't seem to affect Ubuntu 18.04. Very weird.)

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**

[2018-09-21 21:46] FranklinYu commented on #1253
If I use a build introduced in PowerShell/openssh-portable#338 then PowerShell 5.1 is also affected. Shall this hold that PR back?

[2018-09-21 21:54] emmatyping commented on #1252
@manojampalam thank you, I can confirm changing the host name (which can be done in settings) works around the issue.

[2018-09-21 22:57] bagajjal commented on #1253
Are you sure it's win32-openssh ssh client issue?
Have you tried the other ssh clients (WSL, Putty)?

I didn't see this issue when I tried to login from win10 machine to Ubuntu 16.04.5 LTS

![image](https://user-images.githubusercontent.com/23668037/45909502-fceeb500-bdb6-11e8-9a6d-9442a8bef1b3.png)

[2018-09-21 23:19] joshtriplett commented on #852
Any update on the fix in WSL?

[2018-09-21 23:28] bingbing8 commented on #1237
@luckerby, I tried to set the defaultShell, no need to apply the workaround:
![image](https://user-images.githubusercontent.com/12284203/45968060-9ea71980-bfe4-11e8-9f4d-2a82ae0b11cb.png)

[code]

[2018-09-22 18:25] DHowett-MSFT commented on #1253
I see this on roughly 80% of connections to _all servers_. It's probably a clientside buffer reuse issue, not a server issue.

[2018-09-23 17:25] kentnek opened #1254 "Unable to log in to server with public key after changing server's password"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
`7.7.2.0`

**Server OperatingSystem**
`Windows 10 Pro`

**Client OperatingSystem**
`Windows 10 Enterprise`

**What is failing**
OpenSSH was installed using `chocolatey`. The client could `ssh` i

[2018-09-24 17:27] dfmuscat commented on #1015
This is fine for install-win32 but what about the X64 version. All the blogs/comments are for 32bit. I do not hear anything from the contributors for X64 platform, Not sure if 64bit is being addressed

[2018-09-24 17:29] bagajjal commented on #1015
@dfmuscat - We support all the platforms (X86, X64, ARM-32, ARM-64).

[2018-09-24 17:49] bingbing8 opened #1255 "default shell path does not honor environment variable"
Please answer the following

**"OpenSSH for Windows" version**
7.7.2.0

**Server OperatingSystem**
Windows Server Standard (version 1803)

**Client OperatingSystem**
Windows Server Standard (version 1803)

**What is failing**
When default shell contains environment variable, the authentication fails. when change the path to c:\windows\,,,, the connection went through
[sshd.log](https://github.com/

[2018-09-24 18:12] bingbing8 commented on #1255
This is by design because of security concern.  Malware could change the environment variable value to something else in the user context.

[2018-09-24 18:12] #1255 closed, assigned to nobody

[2018-09-24 19:22] FranklinYu commented on #1253
@bagajjal PuTTY and the SSH from Git Bash works with the same servers without issue. If you are not able to reproduce it, would you like a `Vagrantfile` showing the issue? I can try to come up with one.

There is some interesting issue with one of the servers. Part of MotD is duplicated. Not sure if this helps debugging.

[2018-09-24 21:03] bagajjal commented on #1253
@franklinyu - After multiple retries, I am able to repro the issue.
Will try to fix it for the next release.

[2018-09-25 01:51] fungtion commented on #1181
@franklinyu Thanks

[2018-09-25 13:46] DmitryDonetsky opened #1256 "Wrong CR/LF behavior in ssh.exe"
**"OpenSSH for Windows" version**
7.7.2.0

**Server OperatingSystem**
FreeBSD 10.4-RELEASE amd64
TERM=cons25r

**Client OperatingSystem**
Windows 7 x64 russian
TERM=cons25r

**What is failing**
CR worked as CR+LF, LF are ignored. This leads to multiple output issues in my case.

Background:
The server assumes the historical behavior of the terminal, in which it works as mechanical teletype or type

[2018-09-26 08:47] DmitryDonetsky opened #1257 "ESC[m does not work in ssh.exe"
**"OpenSSH for Windows" version**
7.7.2.0

**Server OperatingSystem**
Any

**Client OperatingSystem**
Windows 7 x64 russian

**What is failing**
`ESC[m` does not restore default color attributes, only `ESC[0m` does work.
Wiki says about this:
`If no codes are given, CSI m is treated as CSI 0 m (reset / normal).`
https://en.wikipedia.org/wiki/ANSI_escape_code
GNU Turbo Vision port, really sends `ES

[2018-09-26 12:19] rezeptpflichtig commented on #1254
I have the same problem, I can ssh in with my personal domain account but not with my local admin account.

[2018-09-26 15:30] alexhass opened #1258 "CHRoot doesn't work with network shares"
I have locked down a user to sftp only with `ForceCommand internal-sftp`

This works:
[code]
and here the login fails:
[code]
The user has mydomain\foo1 has full permission on `\\cluster1\sftproot\foo1`.

Debugging shows **chroot path does not begin at root**:
[code]

How can I use UNC paths? I do not have enough disk space on this ssh server, but on the file cluster... is this just a syntac issue

[2018-09-26 17:12] bagajjal commented on #1258
I think it's related to https://github.com/PowerShell/Win32-OpenSSH/issues/139.

Did you try password based authentication for your scenario?

[2018-09-26 17:16] manojampalam commented on #1258
This one may be useful FYI too - https://github.com/PowerShell/Win32-OpenSSH/issues/518

Otherwise network share paths are not currently supported with CHRoot - try creating a link to the UNC share and see if that works.

[2018-09-26 17:25] manojampalam commented on #1254
Was not able to reproduce on my end.

1332 - "No mapping between account names and security IDs was done."

Can you check if the user account is in good shape? Are you able to login using those credentials interactively on your server? Can you try the same steps with a different/new account?

[2018-09-26 17:30] kentnek commented on #1254
My server is actually my personal laptop with only one admin account, and yes I can normally login with the account's credentials. The client is just another laptop which I need to ssh to my personal laptop.

What's funny is the ssh setup worked before, until I changed my personal laptop (server)'s password.

By the way, the error I got was `1332`, not `1322`. May I know what the message is for th

[2018-09-26 17:33] manojampalam commented on #1254
That was for 1332. Fixed it now. Recommend playing with one other account to scope down the issue

[2018-09-26 17:34] bagajjal commented on #1254
https://docs.microsoft.com/en-us/windows/desktop/Debug/system-error-codes--1300-1699-

ERROR_NONE_MAPPED

1332 (0x534)

No mapping between account names and security IDs was done.

[2018-09-26 17:44] manojampalam commented on #852
None yet. in our radar for next release. Thanks for your patience.

[2018-09-26 18:11] kentnek commented on #1254
Oh wow thanks everyone for the heads up. A quick search on the error itself led me to the `netplwiz` command, which allowed me to view the current user accounts on my laptop. It turned out for some _weird_ reason, after changing my Windows password, the username became my full email address.

So I changed my username back to `kent` in `netplwiz`, and everything works now. Hence I'm closing the iss

[2018-09-26 18:11] #1254 closed, assigned to nobody

[2018-09-26 18:14] alexhass commented on #1258
Yes, I used password based auth.

[2018-09-26 18:42] alexhass commented on #1258
You cannot mount network shares with „net use“. The sftp users are only able to use sftp and have no shell access.

mklink only works locally. This is Windows... not Linux and there is no NFS where this would simply work.

I’m sorry, but I do not see any solution in the referenced cases.

[2018-09-26 19:12] manojampalam commented on #1258
I was hinting at doing something like this on your server

mklink /D D:\share \\network\share
set CHRoot to D:\shareLink

Please note that I haven't tested it out on my end and cannot guarantee that it would work, but I don't see why it would not work either.

[2018-09-26 19:20] alexhass commented on #1258
As I know mklink does only work on local disks. You cannot link to a network share.

[2018-09-29 01:14] mikebuckley opened #1259 "PS Session fails with "he SSH client session has ended with error message: The SSH transport process has abruptly terminated causing this remote session to break.""
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 7.7.7.2

**Server OperatingSystem**
 Windows Server 2012 R2 Standard

**Client OperatingSystem**
MACos 10.14 (Mojave - Released)

**What is failing**
Enter-PSSession : The SSH client session ha

[2018-09-29 18:04] mikebuckley commented on #1259
Fat fingers Harry Here...  need a space on the command line to start pwsh.exe -sshs.

Sorry for the interruption.  Nothing to see here - Thanks again for all of the great info here.

[2018-09-29 18:04] #1259 closed, assigned to nobody

[2018-10-01 14:23] zaphod77 opened #1260 "xterm emulation still buggy."
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**
Yes, I did.

**"OpenSSH for Windows" version**
OpenSSH_for_Windows_7.6p1, LibreSSL 2.6.4

**Server OperatingSystem**
Any Linux.

**Client OperatingSystem**
Microsoft Windows [Version 10.0.17134.285]

**What is failing**
Faulty xt

[2018-10-01 18:33] davidvmckay commented on #680
Couldn't this be avoided by ensuring that the keys used for the client are incompatible with the keys used for the server?

[2018-10-02 11:15] jborean93 commented on #1258
Symbolic links work over different volumes, including a UNC path, but you may have difficulties getting `mklink` to create a symbolic link as a folder if it can't access the target properly. Junction points and hard links must be situated on the same volume though.

[2018-10-02 15:35] sipho102 commented on #1258
I just tested the mklink symbolic link for CHRootDirectory and can confirm that it works. Thank you for the solution/idea

[2018-10-02 17:25] Jaykul commented on #680
Please don't focus on the loopback aspect of this. The problem is not the fact that users can loopback. The problem is if the user connects to an elevated session. Period. Full Stop.

Any attempt to address this by preventing loopback will break things that should work, and would not substantially mitigate the problem (the attacker would just need to connect out and then back in).

Outside of Wind

[2018-10-02 21:34] gtsteffaniak commented on #1249
Getting the same issue, permissions show full control

PS C:\Program Files\OpenSSH-Win64> ssh -vvv reutadmin@localhost
OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.4
debug3: Failed to open file:C:\\Users\\Administrator/.ssh/config error:2
debug3: Failed to open file:__PROGRAMDATA__\\ssh/ssh_config error:2
debug2: resolving "localhost" port 22
debug2: ssh_connect_direct: needpriv 0
debug1: Connecting to

[2018-10-03 00:04] zaphod77 commented on #1260
anyone? until this is fixed, ssh.exe is useless to me if the xterm emulation is bad enough that a simple lightweight text editor does not function.

[2018-10-03 16:01] binkleym opened #1261 "No moduli file in C:\ProgramData\ssh or anywhere else I can find."
Please answer the following

"OpenSSH for Windows" version**
OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5. (7.7.2.1)

**Server OperatingSystem**
Windows 10 Home 1809

**Client OperatingSystem**
Windows 10 Home 1809

**What is failing**
There is no moduli file in C:\ProgramData\ssh or anywhere else on the filesystem that I can find.   I would like to substitute my own generated moduli file for the def

[2018-10-03 20:54] dwatley commented on #1139
@bingbing8 - The instructions work from scratch for me now. Also noting I used VS2017.

[2018-10-03 21:02] bingbing8 commented on #1139
Yes, itt should work for VS2017. I will close the issue. Please reopen if you see issues.

[2018-10-03 21:02] #1139 closed, assigned to bingbing8

[2018-10-04 12:36] sanderaiaots opened #1262 "psftp SSH2_MSG_UNIMPLEMENTED"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
`OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.4

**Server OperatingSystem**
Version 6.2 (Build 9200)
Windows 2012 server

**Client OperatingSystem**
Version 6.2 (Build 9200)
Windows 2012 server

**Wh

[2018-10-04 14:28] stevehipwell opened #1263 "ssh-agent: agent returned different signature type"
**"OpenSSH for Windows" version**
7.7.2.0

**Client OperatingSystem**
Windows 10 Enterprise (1709)

**What is failing**
I've installed the 'ssh-agent' service. I call `ssh-add` to add my key to the agent. I'm asked to provide my passphrase, which I do. When I use the `ssh` command I get *warning: agent returned different signature type ssh-rsa (expected rsa-sha2-512)*.

**Expected output**
No warn

[2018-10-04 21:08] tylerapplebaum opened #1264 "Win32-OpenSSH treats public key authentication as double-hop"
**"OpenSSH for Windows" version**
7.7.2.0

**Server OperatingSystem**
Windows Server 2016 Datacenter

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
When using public key authentication to authenticate to a domain-joined server, Active Directory treats this login as a double hop. Meaning, I cannot do things like import and use the ActiveDirectory module.

Things work fine wh

[2018-10-04 23:34] bagajjal commented on #1264
Please have a look at this https://github.com/PowerShell/Win32-OpenSSH/issues/139

[2018-10-05 00:02] dwatley commented on #938
@bingbing8 @bagajjal - Ping again. Is this in line for next release or is it not yet reproducible for you?

[2018-10-05 00:12] bagajjal commented on #938
@dwatley - Starting from [windows 10 October 2018 update](https://support.microsoft.com/en-us/help/4028685/windows-10-get-the-update), we are going to use conpty supported provided by the Microsoft console team at server side. A bunch of serverside console rendering issues will be resolved including this.

Having said that, we still need to investigate this for down level OS. Fix for downlevel OS

[2018-10-05 12:28] mwestphal opened #1265 "Win32 OpenSSH Reverse Connection Tunnelling is not working"
**Server OperatingSystem**
any linux based os

**Client OperatingSystem**
Windows 10 with Spring Update

**What is failing**
There is definitely a bug in Microsoft OpenSSH implementation from 2018 Spring Update.

How to test it :
On the local (Windows 10), install Python3, Putty and make sure ssh is available.
Then

1. Run a python http server in a terminal (on port 8000 by default)

    `python -

[2018-10-06 16:31] ceztko opened #1266 "Rsync support"
**OpenSSH for Windows version**
7.7.2.0 (both on client and server)

**Server Operating System**
Windows Server 2016 Datacenter 1607 14393.2515

**Client Operating System**
Windows 10 Pro 1803 17134.320

**What is failing**
One of the most useful use cases when using ssh transport is rsync file synchronization. rysnc is unfortunately one of the very useful utilities that didn't receive a native Wi

[2018-10-08 17:00] NiKiZe commented on #1133
The included version of OpenSSH in windows is mainly causing issues, and it is not clear how this ssh client is installed (When did Microsoft stop checking compability before releasing.)

I had to spend half a day to get my workflow with poshgit running again.
Fix for me: uninstall the windows OpenSSH client which is causing issues:
`Get-WindowsCapability -Online | Where Name -like "*OpenSSH*" | R