[2018-02-17 01:21] dwatley commented on #938
@bagajjal Just want to add I can reproduce this as well.

Server: OpenSSH-Win64 v1.0.0.0
Client: Windows 10 1709, ssh.exe included with git from [Git SCM](https://git-scm.com/): OpenSSH_7.6p1, OpenSSL 1.0.2l  25 May 2017

Did the xterm, buffer settings and SSH_TERM_CONHOST_PARSER bits. Can easily reproduce it every single session. Not an issue in PuTTY or [Chrome SSH App](https://chrome.google.com

[2018-02-17 01:42] dwatley opened #1075 "No support for gcm ciphers in ssh client"
**"OpenSSH for Windows" version**
v1.0.0.0-Beta

[code]

I discovered this due to my ssh config file having gcm ciphers in the cipher spec and getting an error message about a bad cipher spec during config parsing.
[code]

Just wanted to document this wasn't available and requires someone to remove the gcm ciphers from their ssh config. Is there any particular reason for this? Git-SCM ssh client s

[2018-02-17 03:34] robatilho commented on #730
@karthick1409  you can try `sftp	sftp-server.exe -d C:\FTP\`

[2018-02-17 18:15] matthiasreisser opened #1076 "Port Forwarding"
Please answer the following

**"OpenSSH for Windows" version**
v1.0.0.0-Beta

**Server OperatingSystem**
Windows 10 Education

**Client OperatingSystem**
MacOS X 10.13.2

**What is failing**
On my mac, I run.
`ssh -L 21000:localhost:21000 username@server_address`
On the Windows server, I am running the following, simple HTTP Server through python:
[code]

**Expected output**
When navigating to loc

[2018-02-17 18:20] JW0914 commented on #1076
Are you actually accessing `localhost`, or are you using that as a placeholder for a device hostname on your LAN?  If so, add a host entry to the windows host file mapping the local device's IP to it's hostname.localdomain.  If not, please disregard.

[2018-02-17 18:52] matthiasreisser commented on #1076
Hey @JW0914, thx for your fast response. I use the commands exactly as written (except for `username` and `server_address`), thus configuring my mac to forward any request to 'itself' on `localhost:21000` to `server_address:21000` instead.

[2018-02-17 21:43] Jocala opened #1077 "Bash failure after ssh into sshd host"
I  get the Error: 0x80070005 when I ssh into Windows 10 and run bash.

OpenSSH 7.6p1
v1.0.0.0-Beta
OpenSSH-Win64.zip

Surface Pro 3
winver 1709:16299.248

From a different thread: I did restart into safe mode and nuke the lxss\temp directory, no difference.

Occurs with all clients.

[2018-02-18 00:03] idodeclare commented on #892
@manojampalam ,

I still find this issue with v1.0.0.0-Beta. To reproduce:

* On Windows 10, [Install the Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/install-win10)
* Install [openSUSE Leap 42](https://www.microsoft.com/en-us/store/p/opensuse-leap-42/9njvjts82tjx?SilentAuth=1&wa=wsignin1.0&rtc=1)
* Install Fabric:
[code]
* Create the `dir.py` script as documented abov

[2018-02-18 16:22] matthiasreisser commented on #1076
In `C:\Program Files\OpenSSH\sshd_config`, I have enabled the line `AddressFamily inet` in order to enforce ipv4 usage. I still have the same message in the logs, however:
[code]
which makes me suspicious if the sshd_config files is read at all. Is it in the right location for sshd to find it?

[2018-02-19 12:19] lejeczek commented on #1067
It seems that even v1 beta needs sshd user to have (R) to authorized_keys of DOMAIN users even to prompt for a password. If such permission is absent sshd won't even connect, will instead fail:

$ ssh "pe243"@10.5.10.52
packet_write_wait: Connection to UNKNOWN port 65535: Broken pipe

Still will not login password-less, will the problem continue to remain somewhere in file permissions?

[2018-02-19 15:16] JW0914 commented on #1076
The locations have changed in 1.0.0.0 (see [#7](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH), as location has changed to `%ProgramData%\ssh\sshd_config`), and the bug (#847) with not honoring the system wide [sshd_config](https://man.openbsd.org/sshd_config) was fixed.

* You may also want to configure a user specific [ssh_config](https://man.openbsd.org/ssh_config) to b

[2018-02-20 17:03] paulmcenaney commented on #986
Finally had time to sit down with ProcMon and figure out what, exactly, is going on, here.

First, the log file is NOT created in %programdata%\ssh\. It's created in %programfiles%\OpenSSH-Win64\, along with everything else.
Second, the sshd.exe process receives an "ACCESS DENIED" result on the CreateFile operation on sshd.log.

Here's the block of file operations of interest.

[code]

Adding the

[2018-02-20 18:13] matthiasreisser commented on #1076
Ah, that explains it! This solved my problem, thank you very much!

[2018-02-20 18:13] #1076 closed, assigned to nobody

[2018-02-20 19:14] bagajjal commented on #1077
Duplicate of #289
Closing this as its a bash issue.

[2018-02-20 19:14] #1077 closed, assigned to bagajjal

[2018-02-20 19:39] Jocala commented on #1077
Thanks, the link to #289 was very helpful.

[2018-02-21 03:45] djsweet opened #1078 "fileio_open with O_CREAT always truncates"
Please answer the following

**"OpenSSH for Windows" version**
1.0.0

**Server OperatingSystem**
 Windows 10 Pro (10.0.16299.0)

**Client OperatingSystem**
MacOS 10.13.3

**What is failing**
In Python, using the [`paramiko`](https://github.com/paramiko/paramiko) version 2.4.0, I create a file, then attempt to append to it, via SFTP. Instead of appending to the file, the file is overwritten.

[code

[2018-02-21 04:27] CliffFoster opened #1079 "Windows Filesystem Redirector is being used to load certain modules as if the SSH shell session is in 32 bit mode"
**"OpenSSH for Windows" version**
v1.0.0.0-Beta x64

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
Windows 10 Pro (same system as server)

**What is failing**
Some third party commands seem to be using the Windows Filesystem Redirector to call 32 bit modules in 64 bit programs when called from a SSH session. Commands work fine locally in local command prompts, and the 32 bi

[2018-02-21 10:20] DarwinJS commented on #1079
Procmon reports the bitness of everything it monitors (architecture) - if you monitor an example it might show evidence for the problem.

[2018-02-21 21:33] CliffFoster commented on #1079
I dug through procmon's output this morning regarding the failing process and couldn't really find a difference between it failing in an SSH shell and a successful one in a normal command prompt shell beyond the fact that when the failing one tries to access ntdll.dll at some point the thread it is in immediately terminates and then the rest of the application terminates out after that. The return

[2018-02-21 22:11] rkeithhill opened #1080 "ssh-keygen -l -E md5 reports pub key file a "not a public keyfile""
**"OpenSSH for Windows" version**
This is the client only - 0.0.18.0

**Server OperatingSystem**
N/A

**Client OperatingSystem**
Windows 10 Enterprise 16299.248
**What is failing**
This command reports my public key file "as not a public key file"
[code]

**Expected output**
I expect this output which is what WSL/Ubuntu gives me on the very same file:
[code]

**Actual output**
[code]

BTW this com

[2018-02-22 18:01] rkeithhill opened #1081 "TFS server fails to authenticate correctly when using ssh-agent (key with passphrase)"
**"OpenSSH for Windows" version**
This is the client only - 1.0.0.0

**Server OperatingSystem**
N/A

**Client OperatingSystem**
Windows 10 Enterprise 17101.1000

**What is failing**
`git clone ssh://tfs7.it.acme.com:22/tfs/collection/teamname/_git/reponame`

**Expected output**
[code]

**Actual output**
[code]

Note that the expected output is from my WSL/Ubuntu machine running on this same Window

[2018-02-22 18:36] bagajjal commented on #1081
It failed during KEXINIT (way before public key authentication is tried).

Error Log -
Unable to negotiate with 156.140.12.92 port 22: no matching cipher found. Their offer: aes256-cbc,aes192-cbc,aes128-cbc

To debug further, enable debug3 logs at client side, ssh -vvv -T hillr@tfs7.it.acme.com

[2018-02-22 21:33] penguin359 opened #1082 "Remote SSH commands require double escaping before hitting the DefaultShell"
**"OpenSSH for Windows" version**
1.0.0.0

**Server OperatingSystem**
Windows Server 2016 Standard

**Client OperatingSystem**
Fedora 27

**What is failing**
Attempting to run remote commands using SSH with my DefaultShell set to powershell.exe requires escaping the command to pass through both my local shell and the Command Prompt on the remote Windows server before PowerShell handles the command

[2018-02-22 22:27] rkeithhill commented on #1081
Here ya go:
[code]
If you want I could provide the same logs from my WSL/Ubuntu console (where the connection works).

[2018-02-23 02:07] bagajjal commented on #938
@dwatley - ssh.exe included with git doesn't run.

![image](https://user-images.githubusercontent.com/23668037/36574569-258b7384-17fb-11e8-98d7-9ac333392d9d.png)

This might be a git ssh.exe problem as it's not seen on putty, Chrome SSH App and OpenSSH-Win64.

[2018-02-23 02:20] bagajjal commented on #1080
I think you are using windows optional ssh feature from windows 10?
Windows optional ssh feature supports only ed25519 (doesn't support rsa, dsa, ecdsa).

Try the GitHub openssh version
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2018-02-23 02:24] rkeithhill commented on #1080
Thanks for the info!  This is a Windows Insider build from last week (17101). I can't remember if I added this "option" or if it just comes with the newer Windows builds.  I suspect I probably added the option. Before I install from the GitHub project, I guess I'll need to remove the Windows feature/option first?

[2018-02-23 02:25] dwatley commented on #938
@bagajjal Works for me...

[code]

Multiple people have reported the issue, I think it may be cygwin based ssh builds potentially?

[2018-02-23 02:33] bagajjal commented on #1081
Server supported ciphers:
debug2: ciphers ctos: aes256-cbc,aes192-cbc,aes128-cbc
debug2: ciphers stoc: aes256-cbc,aes192-cbc,aes128-cbc

Client supported ciphers:
debug2: ciphers ctos: chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr
debug2: ciphers stoc: chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr

You either need to enable cbc ciphers on client
ex. ssh -c aes256-

[2018-02-23 02:36] bagajjal commented on #1080
Yes remove the windows feature and install (.\uninstall-sshd.ps1;.\install-sshd.ps1) the sshd from openssh.

[2018-02-23 07:49] JonathanHolvey commented on #938
JuiceSSH has the same issue when connecting to a Win32-OpenSSH server, so it's not just cygwin.

[2018-02-23 16:30] hentismith opened #1083 "git bash as defaultshell"
**"OpenSSH for Windows" version**
OpenSSH_7.6p1, LibreSSL 2.5.3

**Server OperatingSystem**
Microsoft Windows [Version 6.1.7601]

**Client OperatingSystem**
Linux

**What is failing**
Setting defaultshell to "c:\Program Files\Git\usr\bin\bash.exe" does not work

**Expected output**
Git bash shell

**Actual output**
No ssh connection. Screen blanks then back to Unix shell on client machine.

Instal

[2018-02-23 16:43] hentismith commented on #1083
As a side note, I set defaultshell to powershell and ssh from windows to windows I can then run the above defautlshell command and get a bash shell over ssh, but not from Unix terminal.

Not sure if that helps or not.

[2018-02-23 17:21] rkeithhill commented on #1081
That works:
[code]

But what I don't get is that `ssh -Q cipher` tells me that cipher is already supported:
[code]
So why do I have to tell it the cipher on the command line?  Cause I still do, if I don't specify it, the test fails:
[code]
The end game here is that my `git clone ssh://...` command is still failing and I haven't been able to figure out how to get Git to use this particular cipher.

[2018-02-23 18:37] bagajjal commented on #1081
ssh -Q cipher - This command lists all the cipher algorithms supported by ssh client.
When you try to make a connection, both ssh.exe (client) and sshd.exe (Server) should agree on a common cipher. If there is no common cipher then session will be terminated.

Modify your sshd.exe to include the client supported ciphers (check sshd_config man page).

[2018-02-23 18:52] jashuang99 commented on #241
hi all,
I'm new to using openssh.  we have 0.0.5.0 installed, but are currently experiencing the error described above.  Looks like the fix is in place.  Could someone guide me through how to apply the fix to the server?
much appreciated.

[2018-02-23 18:56] rkeithhill commented on #1081
Thanks for the info.  IT controls the server side - TFS 2015 server in one of our data centers.  I don't have much hope I'll be able to convince them to make this change.  IT - the "just say no" - department.  :-(

[2018-02-23 18:57] bagajjal commented on #241
@jashuang99 - You are using very old version (0.0.5.0). Lot has changed. Upgrade to latest release https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2018-02-23 19:03] bagajjal commented on #1080
Reopen if required.

[2018-02-23 19:03] #1080 closed, assigned to bagajjal

[2018-02-23 19:04] bagajjal commented on #1081
Have a look at this,
https://github.com/PowerShell/Win32-OpenSSH/wiki/Setting-up-a-Git-server-on-Windows-using-Git-for-Windows-and-Win32_OpenSSH

There is a way to specify the options for ssh ($env:GIT_SSH_COMMAND)

[2018-02-23 19:08] jashuang99 commented on #241
@bagajjal , Thanks.  I've actually tried to upgrade to 0.0.24.0 on our test server, but wasn't able to find a detailed upgrade guide, and the newly installed version wouldn't even run.  so I've reverted it back to 0.0.5.0.  here's what I did for upgrade:
- backed up the current version
- uninstall the current version
- install the new version
- copy the config file back
does that look correct?

[2018-02-23 19:17] bagajjal commented on #241
The latest release is [v1.0.0.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v1.0.0.0).
We have listed the required steps here,
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

Also have a look at the release notes,
https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v1.0.0.0

After all these, if you still fail to start the sshd.exe then run ".\sshd.exe -dd

[2018-02-23 20:34] ghost opened #1084 "Keyboard problem with passwords on target machine"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

I checked this document and it does not appear to discuss my problem. I did try with the environment variable TERM = 'xterm' but this had no effect. However I belive that the problem is in the keyboard support.

**"OpenSSH for W

[2018-02-23 20:43] bagajjal commented on #1084
could you please elaborate. Also provide the reproduction steps.

[2018-02-23 21:05] jashuang99 commented on #241
@bagajjal Thanks for the information.  I've successfully upgraded it to version 1.0.  sshd.exe is started and running.  however, when I try to connect to the server from the client (using winscp), I get a timeout error.  Nothing was recorded in the log.  any suggestions to resolve this?  TIA.

[2018-02-23 21:32] rkeithhill commented on #1081
OK, this gets the `git clone` from TFS to work:
[code]
I'm still a little puzzled as to why the Ubuntu 16.04 version of ssh doesn't require this workaround but I guess I'll chalk that up to differences in the client implementations.

[2018-02-23 21:40] bagajjal commented on #1081
Ubuntu version of ssh have a common cypher supported by sshd process.
Windows version of ssh doesn't have a common cypher supported by sshd process.

During KEX_INIT, both server and client should agree on a common cypher algorithm. If not then session will be terminated.

Since its working now, I am closing this issue.

[2018-02-23 21:40] #1081 closed, assigned to bagajjal

[2018-02-23 22:12] moribellamy commented on #694
+1, same error with a clean install on windows7, per https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2018-02-24 06:35] manojampalam commented on #1013
User name part should be fixed in the next release

[2018-02-24 06:54] manojampalam commented on #1075
Looks like its a matter of enabling OPENSSL_HAVE_EVPGCM in config.h if LibreSSL does support this cipher.

[2018-02-24 09:12] KarlM256 commented on #1013
Thanks

On Feb 23, 2018 22:36, "Manoj Ampalam" <notifications@github.com> wrote:

[2018-02-25 18:08] doggy8088 commented on #904
@manojampalam Is there any workaround for this bug at this time?

[2018-02-26 08:01] friederschueler commented on #1053
[code]

I still get this error after allowing network access via secpol.msc for user sshd. I restarted my VM and checked the windows logs, but no hints. Any ideas?

"OpenSSH for Windows" version
v1.0.0.0-Beta on Windows 7 Enterprise SP1

[2018-02-26 15:42] dwatley commented on #1053
Maybe the service isn't running as SYSTEM?

[2018-02-26 17:49] manojampalam commented on #904
@bingbing8 is this expected to work?

[2018-02-26 17:56] doggy8088 commented on #904
@manojampalam I can use wildcard ( * ) in the WSL or in the Linux shell.   Such as `scp * user@myhost:`.

[2018-02-26 17:59] merlinthemagic commented on #712
Just wanted to report that i am still seeing this issue on v1.0.0.0 running on Microsoft Windows [Version 10.0.15063] connecting from BASH running under CentOS 7.
[code]

The minute the terminal hits 9999 lines the last line is just rewritten again and again.
Adding the "-T" option to ssh mitigates the issue, however since this option changes behavior of the terminal when connection to other SSH s

[2018-02-26 18:10] manojampalam commented on #1082
Behavior wrt to double escaping is the same even with cmd.exe. See the following from Windows client to Windows server.

hello` output seems to the behavior specific to powershell.exe

![image](https://user-images.githubusercontent.com/14185020/36687025-2c471bb2-1add-11e8-80a5-d1fd1dc16b81.png)

[2018-02-26 20:55] bagajjal commented on #712
@merlinthemagic - Please create a new issue.
Regarding "Disconnected server protocol violation unexpected SSH2_MSG_UNIMPLEMENTED.", please provide putty logs and sshd.log (with DEBUG3 enabled).

[2018-02-27 16:22] rkitover commented on #133
Sorry to bump an old issue, but I'm getting this problem with the current Win10 sshd.

I've tried add `Compression no` to my sshd_config (followed by fixing permissions on it with `Repair-SshdConfigPermission`) but this does not fix the problem.

This is the last thing I see when JuiceSSH tries to connect:

[code]

The dialog that pops up says:

[code]

[2018-02-27 19:42] bagajjal commented on #133
@rkitover - If you are using v1.0.0.0 and above then you need to restart sshd service after making changes to sshd_config.
If it didn't help, enable DEBUG3 on sshd service and ssh -vvv user@ip.

Also make sure all the executables (at server side) have read permissions  to "authenticated users"

[2018-02-27 20:46] rkitover commented on #133
@bagajjal thanks for responding.

Now that I did some more digging this is turning out to be even more bizarre.

I seem to have some kind of rogue sshd process running that is not showing up in tasklist, rather than the actual service.

When I do a `net stop sshd` I can still ssh to localhost!

Doing a `tasklist | findstr sshd` returns nothing!

[2018-02-27 20:55] bagajjal commented on #133
If you have windows 10 and enabled developer mode then you will have these services (SshBroker, SshdBroker, SshProxy) enabled by default. You need to stop these services and just have sshd service running.

From powershell window run these command,
      Get-Service [Insert-star-keyword]ssh[Insert-star-keyword] -> Git makes next word after star key as italic
      Get-Process -Name [Insert-star-ke

[2018-02-27 22:55] rkitover commented on #133
@bagajjal thank you, now I'm running the sshd that I thought I was!

My authorized_keys file started working as well.

I still can't connect with JuiceSSH though. Now that the `Compression no` setting has taken effect, I get the error:

[code]

The last few lines from juicessh are:

[code]

@PaulMaddox sorry to ping you after two years, any insight into this?

[2018-02-28 00:29] bagajjal commented on #133
please share sshd.log(With DEBUG3 enabled) and ssh.log (ssh.exe -vvv user@ip)

[2018-02-28 01:04] NoMoreFood opened #1085 "Bug: Directory Symbolic Links Not Navigable"
Version: 1.0.0.0 (64-Bit)
Client Operating System: Windows 10 Pro

Regardless of target (different drive, same drive, network location), directory symbolic links are not navigable.  They show up as files and navigating to them produces the following error through WinSCP:

Permission denied.
Error code: 3
Error message from server: Permission denied

However, pointing to them as an initial director

[2018-02-28 01:11] bagajjal commented on #1085
@NoMoreFood - Thanks for filing a bug.

How do you point symbolic link as initial directory?
Also could you please provide the sshd.log (with DEBUG3 enabled) in both working and non-working scenarios.

[2018-02-28 01:35] #1065 closed, assigned to manojampalam

[2018-02-28 01:37] #1052 closed, assigned to manojampalam

[2018-02-28 01:41] bingbing8 commented on #899
@itsupport-iattc , which release do you use? Starting [v0.0.23.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.23.0), we only ship libcrypto.dll in the package.

[2018-02-28 02:44] NoMoreFood commented on #1085
The sshd logs were essentially identical.  Here are the sftp logs.

[sftp-good.log](https://github.com/PowerShell/Win32-OpenSSH/files/1765436/sftp-good.log)
[sftp-bad.log](https://github.com/PowerShell/Win32-OpenSSH/files/1765437/sftp-bad.log)

In my test setup, I have a normal, local hard drive directory V:\TestRoot with a symbolic link called V:\TestRoot\MySymLink that points to C:\.  The initia

[2018-02-28 05:42] NoMoreFood commented on #1085
Fixed it.  See https://github.com/PowerShell/Win32-OpenSSH/pull/1086

[2018-02-28 07:39] rkitover commented on #133
I cannot get ssh -vvv output because this is JuiceSSH on android, but here is the sshd.log with DEBUG3:

[code]

[2018-02-28 11:06] johnny5janbohac commented on #1053
I have similiar issue with sshd user token, but difference is that during authentication is logged error "Unknown username or bad password" and user "FakeUser" Any tips ?

`An account failed to log on.

Subject:
	Security ID:		MYCZSW1DL015245\sshd
	Account Name:		sshd
	Account Domain:		MYCZSW1DL015245
	Logon ID:		0xa4f897f5

Logon Type:			8

Account For Which Logon Failed:
	Security ID:		NULL SID

[2018-02-28 11:44] llinyu opened #1088 "ssh client on Windows7 fails "ssh_askpass: posix_spawn: No such file or directory""
"OpenSSH for Windows" version
tested with versions v1.0.0.0-Beta

Client OperatingSystem
Windows 7 SP1 Professional

What is failing
On Windows 7, I can't connect to any ssh server using the ssh.exe client from this project. but putty works.
I have tried ssh.exe both in version v0.0.24.0 and v1.0.0.0-Beta without success.

I see the following:
https://github.com/PowerShell/Win32-OpenSSH/issues/966

[2018-02-28 12:31] NoMoreFood commented on #292
@whereisaaron Do you know which third party implementations provide this?  The think the tough part of this is handling the Linux-equivalent behavior where chroot() that affects child processes.  Even if this project did something to override/detour NtOpenFile/NtCreateFile, an uploaded executable from the user could be used to break free of the jail by overriding-the-override.  You could get even

[2018-02-28 16:40] whereisaaron commented on #292
@NoMoreFood I was thinking of two products in particular. The [Microsoft FTP Server](https://docs.microsoft.com/en-us/iis/publish/using-the-ftp-service/configuring-ftp-user-isolation-in-iis-7), which provide chroot-like behaviour for FTP access. And the [Bitvise SSH/SFTP server](https://www.bitvise.com/securing-ssh-server) which also provides chroot-like behaviour, definitely for sftp (which is wh

[2018-02-28 21:27] bagajjal commented on #133
@rkitover - Looks like you are using openssh that comes with windows 10 optional features.
This supports only ed5519. It doesn't support rsa, dsa, ecdsa.
If you need full crypto support then
1) Your our GitHub release binaries https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH.
2) Wait for the next windows update.

**If you are fine with ed25519 then here is the work around**,

[2018-02-28 21:45] rkitover commented on #133
@bagajjal thank you so much for your help, looking forward to the next windows update!

[2018-02-28 21:45] bagajjal commented on #1053
@johnny5janbohac -
**Analysis**
when we failed to generate user token then we will try using FakeUser. This is a workaround for issue
https://github.com/PowerShell/Win32-OpenSSH/issues/727

_Code_ : https://github.com/PowerShell/Win32-OpenSSH/blob/L1-Prod/contrib/win32/win32compat/win32_usertoken_utils.c#L341

**Next steps to debug further**
1) Does your sshd service run as SYSTEM?

2) If yes, hav

[2018-02-28 21:48] #1058 closed, assigned to nobody

[2018-02-28 21:51] #355 closed, assigned to manojampalam

[2018-02-28 21:51] bagajjal commented on #1088
@llinyu  - Enable more debugs logs, sshd.log (with DEBUG3 enabled), ssh logs (ssh -vvv user@ip).
Please validate what's difference between putty and win32-openssh ssh.exe.

[2018-03-01 01:08] bagajjal opened #1089 "ARM64 - default shell automated test case fails"
ARM64 - Unable to configure default shell

[2018-03-01 01:37] #982 closed, assigned to manojampalam

[2018-03-01 01:38] #1032 closed, assigned to manojampalam

[2018-03-01 02:24] woegjiub commented on #936
<img width="675" alt="screen shot 2018-03-01 at 13 22 05" src="https://user-images.githubusercontent.com/2138067/36823909-a73ec5ea-1d53-11e8-84b5-993c776ea3ad.png">
I can confirm that this issue still exists.

SSHing into virtualbox from macOS produces the above results.

Both Windows and macOS are on the most recent versions.

[2018-03-01 02:55] bagajjal commented on #936
@woegjiub - can you try steps mentioned above dated "Dec 6 017"

[2018-03-01 03:20] woegjiub commented on #936
Even as administrator, I am unable to modify that file.
I've installed OpenSSH from add/remove windows features, not from here

[2018-03-01 07:41] llinyu commented on #1088
I am terribly sorry. I made a mistake.
My OS has a DISPLAY environment variable I didn’t figure it out, it is the same problem as #966.

[2018-03-01 17:53] penguin359 commented on #1082
My concern isn't about the client-side escaping, it's that I need two levels of server-side escaping. My example still applies when running ssh.exe from a Windows box. When running a remote PowerShell command with ssh, I first have to write it thinking about proper PowerShell syntax, naturally, but then I have to escape it to pass through the remote cmd.exe process that is started by the sshd.exe

[2018-03-01 18:19] penguin359 commented on #1082
Looking at the process hierarchy from an interactive PowerShell session on Windows, I see this:
[code]
It does indeed look like PowerShell is being run as a child of cmd.exe. This is an interactive session to a Linux server where the user's shell is csh, and not sh or bash as is typical:
[code]
Where as the desired UNIX shell is invoked directly on a traditional UNIX\Linux box. Even if the cmd.exe

[2018-03-01 22:02] dwatley commented on #1061
@manojampalam the latest release (v7.6.0.0p1-Beta) broke FQDN logins. Logged in with `dwatley@ad.corp.contoso.com`, FQDN is stripped at some point and the netbios login is used.

[code]

[2018-03-01 22:18] woegjiub commented on #936
Given the registry entry shows that powershell is the default, how does this binary help?

If it's necessary to override that, could you please advice on how this can be achieved (I'm a Linux/macOS user, and don't know much about windows)

[2018-03-01 22:53] manojampalam commented on #1061
hmm Yes. This is a regression from recent changes to fix Match block support with privilege separation. I'm looking into this.

[2018-03-02 00:33] NoMoreFood commented on #1073
@bagajjal

I believe this is the behavior of any application launched via PsExec /s cmd.exe.  For example, the same occurs for ping -t 127.0.0.1 when pressing CTRL+C.  This is just an artifact of how PsExec handles it's console input/output forwarding and how it processes CTRL+C in order to facilitate it's remoting capability.  Instead of forwarding CTRL+C to the sshd process, it just terminates t

[2018-03-02 01:26] bagajjal commented on #1073
Thanks @NoMoreFood.

Yes, psexec /d /i /s cmd.exe spawns a new cmd windows as system. When we start sshd in debug mode, CTRL+C it terminates the sshd process and comes back to new spawned cmd window.

[2018-03-02 01:26] #1073 closed, assigned to nobody

[2018-03-02 08:24] LavenPy opened #1090 "sshd.exe is missing"
Please answer the following

**Client OperatingSystem**
Windows 2012 R2

**What is failing**
Installation Script

**Expected output**
`sshd and ssh-agent services successfully installed`

**Actual output**
`"sshd.exe is not present in script path"`

**Explanation**
Hello,

I am not sure about this problem that I have.

I tried to install the 1.0.0.0 beta build. While doing so, the installation Scr

[2018-03-02 08:48] LavenPy commented on #1090
- Downloaded the wrong build, please donwload source from [here](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.6.0.0p1-Beta)

took me longer than it should. I Hope my stupidity can help someone else

[2018-03-02 08:48] #1090 closed, assigned to nobody

[2018-03-02 18:44] penguin359 commented on #1082
Here's a better step-by-step example to demonstrate the different behavior of sshd.exe on Windows and sshd on a Linux box. The local and remote shell for Linux is bash, but for Windows, I'll use cmd.exe as the local shell for ssh.exe and powershell.exe for the server-side shell called by sshd.exe on Windows. The goal will be to echo out the string "hello" with quotes included in the output. In Bas

[2018-03-03 00:32] NoMoreFood commented on #1085
@bagajjal

See pull request: https://github.com/PowerShell/Win32-OpenSSH/pull/1091

The "true" problem was much deeper than I thought.  It came down to inadequate implementations of lstat(), readlink(), and the missing mode in strmode() that I had previously found.  This may correct some other problems reported.

[2018-03-03 11:38] rgl opened #1092 "sshd needs ssh-agent to run?"
the `sshd` service does not start without the `ssh-agent` service already running.

if this is expected, can you add a service dependency into `install-sshd.ps1`? e.g. add something like:

[code]

**"OpenSSH for Windows" version**
 `7.6.0.0` (from https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.6.0.0p1-Beta)

**Server OperatingSystem**
 `Windows Server 2016 Standard`

[2018-03-04 14:34] NoMoreFood commented on #1040
@effebi68 Recently became interested in this project and looking for ways I can contribute.  Is there any further action requested on this line of discussion?  I'm pretty sure that you could create a user in Windows PE by using net user <username> <password> /add.  Did you test this?

[2018-03-04 14:41] NoMoreFood commented on #921
@manojampalam, @bagajjal   Has any work on this been done?  This might be something I could look into.

[2018-03-04 17:59] manojampalam commented on #1092
The dependency was removed in the earlier release. sshd can start and work standalone without ssh-agent (unless you have your host keys registered with agent).

[2018-03-04 18:07] rgl commented on #1092
I didn't explicitly register them with the ssh-agent. Is that done by default? I'm installing at https://github.com/rgl/windows-2016-vagrant/blob/master/provision.ps1#L117 by just unzip, calling install-ssh, and generating the host key with ssh-keygen. Was that supposed to use the agent?

[2018-03-04 18:13] manojampalam commented on #1092
No, you don't need to register them with ssh-agent. Can you following troubleshooting link in wiki, try running sshd in debug mode

[2018-03-05 17:36] manojampalam commented on #921
@NoMoreFood nothing beyond what's already on this thread. Sure, contributions are always welcome.

[2018-03-05 18:35] manojampalam commented on #1082
Thank you for the detailed analysis. I understand the issue. Its stemming from the fact that while launching default shell (other than cmd.exe) with PTY, its actually launched via an intermediate cmd.exe and this is consuming the extra escape.

To fix this, we need to internally excape the shell payload before passing it to cmd.exe. AFAIK, we only need to escaple any double quotes ("s), by doublin

[2018-03-05 18:40] manojampalam commented on #1073
Last time I checked, sshd in debug mode doesn't work in an interactive psexec (psexec -i).
sshd spawned children see the stderr provided by psexec as invalid and abort promptly.

[2018-03-05 18:42] penguin359 commented on #1082
After a little more research, I'm thinking that this might have a little more to do with a fundamental difference in process creation between Windows and UNIX-like operating systems. The command-line is actually passed to it's child process as a single string which the child parses with it's own rules. What I'm seeing as the remote cmd.exe layer of quoting might actually be the C/C++ Runtime libra

[2018-03-05 18:50] penguin359 commented on #1082
OK, you beat me to my last comment. Thanks for looking into this!

[2018-03-05 18:58] manojampalam commented on #694
@moribellamy please open a new issue with details.

[2018-03-05 18:59] NoMoreFood commented on #1073
I’d be surprised.  As far as I know launching with -i -d retains no
connection to psexec.

On Mon, Mar 5, 2018 at 1:40 PM Manoj Ampalam <notifications@github.com>
wrote:

[2018-03-05 19:02] manojampalam commented on #1083
@bagajjal is this expected?

[2018-03-05 19:17] manojampalam commented on #986
Looked at the traces. Looks like your Ctrl+C somehow made it to the main service process. This shouldn't happen. Can you get debug3 traces to take this further?

[2018-03-06 11:02] ronnicek opened #1093 "Broken pipe on latest version"
**"OpenSSH for Windows" version**
Working version: v1.0.0.0-Beta
Non working version: v7.6.0.0p1-Beta

**Server OperatingSystem**
Windows Server 2012 R2 Standard

**Client OperatingSystem**
IBMi 7.3 (OpenSSH_6.9p1, OpenSSL 1.0.2k  26 Jan 2017)

**What is failing**
Connection ends with "broken pipe"

**Expected output**
CMD from Windows

**Actual output**
broken pipe

Here are logs from client and

[2018-03-06 11:17] revngnr opened #1094 "Bandwidth limits don't work correctly for sftp client"
**"OpenSSH for Windows" version**
0.0.22.0

**Server OperatingSystem**
Windows 8.1 Pro

**Client OperatingSystem**
Windows 8.1 Pro

**What is failing**
Try to use "-l" option and upload/download a big file by sftp.exe and you will see that limit isn't correct. e.g. "sftp -l 1000 u@localhost" and try to download 5МB file. It means 1000 kilobits (or ~122 kilobytes) per second limitation on bandwidth

[2018-03-06 12:26] simenmusaeus opened #1095 "Unable to start session from linux to windows, subsystem fails"
Please answer the following

**"OpenSSH for Windows" version**
OpenSSH_7.6p1, LibreSSL 2.5.3

**Server OperatingSystem**
Windows Server 2016 Standard

**Client OperatingSystem**
Ubuntu Server 16.04

**What is failing**
Not able to start subsystem

[code]

Following troubleshooting instructions [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps)

[code]

my `sshd_config`

[2018-03-06 13:11] NoMoreFood commented on #921
@manojampalam Alright, I think I have the issue addressed. You should see a pull request tonight.  In order to deal with nesting, it really looks like we need to generate an s4u token and pull the group out of it.

[2018-03-06 16:13] KaizerT opened #1096 "Windows Open SSH Server cannot support more than 50 concurrent ssh sessions (posix_spawn failing)"
Please answer the following

**"OpenSSH for Windows" version**
v1.0.0.0

**Server OperatingSystem**
Windows Server 2012 R2

**Client OperatingSystem**
Windows 7 Enterprise

**What is failing**
any connection after 50 open connections

**Expected output**
Support >100 connections

**Actual output**
stops at 50, exactly

I actually have an open question at server fault for this https://serverfault.c

[2018-03-06 18:58] bagajjal commented on #1093
I am guessing, it might be related to executables permission.
All the executable should have,
1) "read,execute" permissions to "authenticated users".
2) "Full Control" to "SYSTEM"
3) "Full Control" to "administators" group

If you have permissions to other users/group then delete those permission and try your scenario.

[2018-03-06 20:00] manojampalam commented on #1023
@DarwinJS
following up on the conversation regarding ETW logging. Here's a proposal, need your feedback.

There is currently an issue with logging - the log size is unbounded and can potentially be exploited towards a DOS. We can have work arounds (like have a task scheduler task to prune old traces at intervals) but these are not ideal.

Instead, we could move to ETW based logging (that has limit

[2018-03-06 21:51] dwatley commented on #1061
@manojampalam Any eta on a potential fix? Domain auth is effectively broken in the latest release.

[2018-03-07 01:23] bagajjal commented on #1083
@henti - We couldn't reproduce this issue.
So we need your help,
1) Log on to windows machine that has sshd executable
2) Download [my private binary](https://github.com/PowerShell/Win32-OpenSSH/files/1787365/Default-shellissue.zip) to any test folder.
3) Unzip and execute the binary based on system type (X86, X64).
4) Paste the output.

[2018-03-07 04:05] rob-scheepens commented on #688
@joeyaiello : could you provide more info on the timeline here? What is keeping OpenSSH from releasing?

[2018-03-07 04:07] NoMoreFood commented on #1085
@bagajjal

As requested, I pushed this to the other fork as pull request https://github.com/PowerShell/openssh-portable/pull/281.

[2018-03-07 04:28] NoMoreFood commented on #921
@manojampalam  See https://github.com/PowerShell/openssh-portable/pull/281, specifically https://github.com/PowerShell/openssh-portable/pull/281/commits/8fa938d6722249957417c907fe10d8572feb57cc.    I tried to keep the naming scheme for output as close as possible to the original function.  Below are some tests.

[code]

[2018-03-07 04:41] NoMoreFood commented on #1096
I'm just now getting familiar with this code but I suspect this could be due to the following hard-coded limitation in signal_sigchld.c where MAX_CHILDREN is 50.  If true, it seems like this value could safely be larger.

[code]

[2018-03-07 05:36] manojampalam commented on #1096
@NoMoreFood  you're right.

Ultimately, all these child process handles will be fed in a WaitForMultipleObjects call (as part of wait_for_any_event()) and that Win32 API call has a limitation of 64 handles. I had to pick a number less than this to accommodate other events (that of async accept and connect calls). Going beyond these limits will result in multi threaded POSIX compat layer that will

[2018-03-07 05:40] KaizerT commented on #1096
@NoMoreFood @manojampalam
Is there a fix/workaround for this? This seems to be a huge miss since an
SSH server is expected to server numerous concurrent connections.

On Tue, 6 Mar 2018 at 11:37 PM Manoj Ampalam <notifications@github.com>
wrote:

[2018-03-07 07:57] psmolkin commented on #1093
same problem (only with key authorization)
password authorization works fine

[2018-03-07 12:07] NoMoreFood commented on #1072
@lejeczek What version of Win32-OpenSSH are you running? Did you try rolling back the updates?  If so, which specific update?  Is the behavior consistent?

The error -1073741502 translates to 0xC0000142 / STATUS_DLL_INIT_FAILED which is basically saying that DLLs failed to load for the child process.

This could be a bug in OpenSSH, but see if anything mentioned here might correlate to your enviro

[2018-03-07 14:38] wigster commented on #1048
Just installed 7.6.1 (first ssh install) on Win10.

Running Start-Service ssh-agent results in error cannot find any service with that name.

[2018-03-07 15:21] hentismith commented on #1083
This is on windows 7 machine, which might be the reason.

[code]

Windows 10 seems to work fine.

[2018-03-07 19:04] bagajjal commented on #1093
@psmolkin - Did you get a chance to verify the difference in sshd.log (DEBUG3) for key based authentication vs password authorization?

As per the sshd.log shared above, the key based authentication is successful.

6440 2018-03-06 11:18:24.591 debug3: mm_answer_keyverify: publickey 000000F1A9BA84D0 signature verified
6440 2018-03-06 11:18:24.591 debug3: mm_request_send entering: type 25
6440 2018-

[2018-03-07 19:10] bagajjal commented on #1048
@wigster - Try running .\uninstall-sshd.ps1, .\install-sshd.ps1

[2018-03-07 19:53] joeyaiello commented on #688
Hey @rob-scheepens, you should expect OpenSSH (both client and server) to be "production-ready" in the next major feature upgrades of Windows 10 and Windows Server. Expect more release materials and explanation of installation, configuration, etc. as those upgrades are released.

Also, the SSH client and ssh-agent are now installed by default. If you don't see that in Windows Insider builds alread

[2018-03-07 20:31] alphaCTzo7G opened #1097 "Cant transfer file via SCP from Ubuntu to Windows 10, while runing OpenSSH installed in Windows 10"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
Windows 10 Enterprise Evaluation

**Client OperatingSystem**
I am running the latest Windows 10 (MSE

[2018-03-07 21:32] NoMoreFood commented on #1096
@KaizerT Not without some additional programming.  There are ways to work around the limitations that @manojampalam is describing, but it's not an "easy" change.  I'm new to this project and have already submitted two pull requests for other issues.  Depending on how those are received, maybe I'll take on this one next.

[2018-03-07 21:35] KaizerT commented on #1096
@NoMoreFood
I undertand that it's not that simple of a fix. Just saying that it might have been nice to have been resolved earlier. Thank you both @manojampalam for investigating.

[2018-03-07 21:36] KaizerT commented on #1096
I've set up a linux box for this instead to resolve this issue

[2018-03-07 22:10] bagajjal commented on #1083
@henti - I tried on my win7 machine, it worked perfectly.

Looking at the output you shared,
"RegOpenKeyExW (SOFTWARE\OpenSSH) failed:2"  - [error 2 means file not found](https://msdn.microsoft.com/en-us/library/windows/desktop/ms681382(v=vs.85).aspx).

Can you double check if you configured the Default shell at "HKLM:SOFTWARE\OpenSSH"

[2018-03-07 22:12] bagajjal commented on #1089
Update -
setting the default shell manually, it works perfectly fine.
If fails, when we use powershell script to set the default shell.

[2018-03-07 22:31] DarwinJS commented on #1048
@wigster - if you mean with the chocolately package you need to do this:

`choco install -confirm openssh -params "'/SSHAgentFeature"'`

It will be started for you.

[2018-03-08 04:59] NoMoreFood commented on #1096
@manojampalam  I couldn't really think of a great way to come through that limitation other than a pretty significant overhaul of how process handling is being done.  However, I was able to create a [almost] drop-in replacement for WaitForMultipleObjects() that handles an arbitrary number of objects.  Tested on my computer to 5,000 threads with no issues.  About 175 lines long.  Interested?

[2018-03-08 05:24] manojampalam commented on #1096
@NoMoreFood, absolutely, please share.

[2018-03-08 06:09] NoMoreFood commented on #1096
@manojampalam See attached.  I can wrap this into a pull request of course.   Just need to replace the normal defines in the calling code that are used to identify the array offset with the *_ENHANCED versions.  Let me know what you think.

-- Attachment Removed See Commit Referenced Below --

[2018-03-08 06:56] psmolkin commented on #1093
@bagajjal
## via key (failed):
[code]

## via pass:
[code]

[2018-03-08 08:53] wigster commented on #1048
Thanks, that worked!

[2018-03-08 14:29] hentismith commented on #1083
Hi @bagajjal

Ahh yes, I was using our azure build image which is still configured to use normal command. I'll have to build a new VM for testing. This will take some time.

I'll do that in the next couple of days.

H

[2018-03-08 16:30] KaizerT commented on #1096
@NoMoreFood  @manojampalam

It'd be great if you guys can come up with a release with @NoMoreFood 's fix in the near future. I'm doing a lot of finessing to make this work with the current set up I have.

[2018-03-08 17:57] manojampalam commented on #1096
@NoMoreFood , your implementation looks promising. I believe it would be a good next step to create a stand alone project and unit test it thoroughly (you may borrow OpenSSH unit test framework, so we can integrate it into OpenSSH at a later point seamlessly). We specifically want the synchronization logic to be tested thoroughly. This logic is very critical since any ensuing E2E deadlocks will be

[2018-03-08 18:06] NoMoreFood commented on #1096
@manojampalam Sounds good.  I know there are some areas that could be problematic, but hopefully aren't relevant in our case and I will do my best to verify that.  For example, you could have a race condition where multiple signals are signally simultaneously and, in that case, only the first signal will be returned to the caller.  I think this is really only a problem for objects that automatical

[2018-03-08 18:16] manojampalam commented on #1061
@dwatley I have a fix in review for the recent regression. It will be out in the next release (~2 weeks). Please use the prior release for now. Created https://github.com/PowerShell/Win32-OpenSSH/issues/1098 to track this.

[2018-03-08 18:17] NoMoreFood commented on #1096
@manojampalam Actually now that I look at the documentation better, that simultaneous issue may actually exist with the WaitForMultipleObjects() anyhow... but regardless, I'll look into it.  How does one use your "OpenSSH unit test framework"?

[2018-03-08 18:20] manojampalam opened #1098 "[Regression] v7.6.0.0p1-Beta broke certain domain logons"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
v7.6.0.0

**Server OperatingSystem**
Windows 10 Enterprise

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
Domain account logons may fail if FQDNN is used or the account d

[2018-03-08 18:21] manojampalam commented on #1093
@ronnicek you must be hitting the permissions issue. Please reopen this issue if you don't think so.

@psmolkin you are hitting https://github.com/PowerShell/Win32-OpenSSH/issues/1098. This will be fixed in the next release, please use a prior version for now. Post any further questions on #1098

[2018-03-08 18:24] #1093 closed, assigned to nobody

[2018-03-08 18:29] manojampalam commented on #1096
Right, we only deal with manual reset events, so you should be fine there.

For unittest, take a look at any of the test projects. Its implemented in test_helper.c Perhaps it will be easy if you do this work in your OpenSSH-portable fork. Make a copy of any of those test projects for your purpose and you should be good to go.

[2018-03-08 18:32] manojampalam commented on #1097
@bingbing8 @bagajjal is this expected to work?

[2018-03-08 18:56] manojampalam commented on #1095
Sorry, this does not make sense, your server is Ubuntu Server 16.04 and your sshd_config looks like it belongs to Windows.

[2018-03-08 19:03] manojampalam commented on #292
@NoMoreFood

About
`Now I think an SFTP server without shell access could probably jail the user since there are no child processes to worry about and a limited set of functions that access the file system. I could look into doing this, but I think I'd want the maintainer to tell me there's a chance in hell of it getting merged before I went down that road.`

Can you elaborate? What does "SFTP ser

[2018-03-08 20:22] #1048 closed, assigned to nobody

[2018-03-09 03:59] whereisaaron commented on #292
@manojampalam @NoMoreFood means that when you connect you are only able to access sftp and not `bash` or another general shell (with which the user could create child processes). You can use `ForceCommand` for this, or you can change the user's shell to `sftp-server`.

[code]

If the sftp server enforces the `ChrootDirectory` on its commands (or has that limitation externally enforced on the proce

[2018-03-09 15:14] dihmandrake commented on #15
I would love to see this implemented

[2018-03-09 16:26] afcady commented on #1007
I have got a fix for this that I have made into a script, but before I even upload it here is the most salient part:

    @icacls ssh_host_*_key /grant "NT Service\sshd":(R)        >NUL
    @icacls ssh_host_*_key /remove "%COMPUTERNAME%\%USERNAME%" >NUL
    @icacls ssh_host_*_key /inheritance:r                      >NUL
    @icacls ssh_host_*_key /grant "BUILTIN\Administrators:(F)" >NUL
    @icacl

[2018-03-09 16:50] afcady commented on #1007
Here's a direct link to `ssh_keygen_works.bat`:

https://raw.githubusercontent.com/afcady/Win32-OpenSSH/61fc955c1d1c1d51b917f5d8e83f6d9acf800d95/contrib/win32/openssh/ssh_keygen_works.bat

[2018-03-09 18:24] joeyaiello commented on #688
Just want to clarify, we don't currently have any public plan around formally/officially supporting OpenSSH on downlevel versions of Windows. Win7/2008 R2 "support" in the sense that we're making it compatible with everything is important to us, and we're investigating how we might be able to support it as an out-of-band application (like PowerShell Core 6 on downlevel platforms, e.g.), but for no

[2018-03-09 21:24] hentismith commented on #1083
Hi @bagajjal

I have no idea what I did wrong before, but this is working now. Thank you for being patient with me :)

H

[2018-03-09 21:27] #1083 closed, assigned to bagajjal

[2018-03-09 21:36] rkeithhill opened #1100 "install-sshd.ps1 script needs #Requires -RunAsAdministrator"
**"OpenSSH for Windows" version**
7.6.0.0

**Client OperatingSystem**
Windows 10 1709

**What is failing**
Script doesn't run correctly if you aren't admin

**Expected output**
No errors.

**Actual output**
[code]

[2018-03-09 21:41] bagajjal commented on #1100
It's expected.
Have a look at https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH (step 4)

[2018-03-09 21:41] #1100 closed, assigned to bagajjal

[2018-03-09 22:16] yanfiz opened #1101 "Connection problem with aes*-cbc ciphers"
**"OpenSSH for Windows" version**
7.6.0.0

**Server OperatingSystem**
Fedora 27

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
It doesn't connect with aes256-cbc (and with other aes*-cbc's), but there is no problem with aes256-ctr etc.

PS > .\ssh.exe -Q cipher
3des-cbc
aes128-cbc
aes192-cbc
aes256-cbc
rijndael-cbc@lysator.liu.se
aes128-ctr
aes192-ctr
aes256-ctr

**Expected output

[2018-03-09 22:47] rkeithhill commented on #1100
I get that it is required to run the script elevated but your assumption that folks will read the Wiki is faulty.  By adding this one line to the top of the script, at least folks will be advised by PowerShell that the script needs to be run from an elevated console.

[2018-03-10 01:38] tturnerdev commented on #1027
Just wasted 2 hours on this.

[2018-03-10 13:38] alphaCTzo7G commented on #122
try mobassh.. it works much better compared to OpenSSH right now.. Command completion, colored prompts etc etc..

[2018-03-10 17:40] jemiller0 commented on #122
I think the latest version of Windows 10 fixes a lot of these kinds of issues. I've been using it with the SSH client that comes with Git and haven't noticed any problems. Before, you couldn't even run something like vi.

[2018-03-10 18:32] NoMoreFood commented on #1096
@manojampalam.  I updated the code to deal with APC completions, made it so it deals with thread cleanups more gracefully, optimized synchronization logic to be more clear, adjusted style to match that that of the rest of the project, and added logic so that it will just defer to the native function if less than 64 objects for efficiency.  All my tests have been integrated thus far and been very s

[2018-03-11 04:01] alphaCTzo7G opened #1102 "ipython over ssh - bad console UI"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

 **Server OperatingSystem**
 Windows 10 Enterprise Evaluation

  **Client OperatingSystem**
I am running the latest Windows 10

[2018-03-11 11:28] simenmusaeus commented on #1095
Sorry, swapped the server and the client, corrected the original question: it's a windows server I'm attempting to access with an ubuntu client.

[2018-03-11 13:51] hgghyxo commented on #289
This snippet helped me: https://gist.github.com/gravcat/4ceb977916c5f551cae44375296ab72a

[2018-03-11 18:51] NoMoreFood commented on #1096
See commit https://github.com/NoMoreFood/openssh-portable/commit/817e97763709ff4bd888a23dce7e04c0dc7c46e1.

[2018-03-11 20:43] alphaCTzo7G commented on #1102
Just to verify I didnt mess up any settings, I installed a fresh VM from :https://developer.microsoft.com/en-us/microsoft-edge/tools/vms

Also tried  https://stackoverflow.com/questions/878972/windows-cmd-encoding-change-     causes-python-crash/3259271.

This didnt resolve it either.

It doesnt throw any errors so its hard to tell what is not working.

I am using the default version of openssh th

[2018-03-11 20:51] NoMoreFood commented on #1102
Does running python.exe with --version give any feedback?

[2018-03-11 21:03] NoMoreFood commented on #1101
Does it behave any differently when you run 'ssh.exe -c aes256-cbc user@host'?

[2018-03-11 22:32] yanfiz commented on #1101
It connected with '-c aes256-cbc' parameter, thank you. But, is this to say that I must know the exact aes*-cbc cipher of the server?

[2018-03-11 22:37] NoMoreFood commented on #1079
This one may be tough to diagnose.

What's the "large negative number"?  Often those translate to unsigned numbers that happen to have the uppermost bit set thereby making it negative when cast to a signed number (i.e. ‭-2147479552‬ is 0x80001000).

Also, in procmon, I'd recommending comparing the 'Environment' property in the parent process of the executable that fails versus one that works.  Fil

[2018-03-11 22:40] NoMoreFood commented on #1026
@manojampalam Since you guys are aligning to the OpenSSH versioning scheme, can't this be closed now?

[2018-03-11 22:46] NoMoreFood commented on #1101
I was suggesting it as a diagnostic step more than as a solution.  Now we know it's more of an issue with cipher negotiation moreso than use of the cipher.  I'll see if I can reproduce it by forcing my SSH server to only support that one cipher.

[2018-03-11 23:04] NoMoreFood commented on #1101
So upon being able to reproduce, I confirmed what I had suspected: the CBC ciphers have been disabled by default in the upstream OpenSSH codebase due to security issues.  That means that any OpenSSH client on any platform running newer versions of OpenSSH will see this behavior.  Explicitly specifying it via command line is a way of saying "I know it's insecure, but I'm okay using it".

You can al

[2018-03-11 23:16] yanfiz commented on #1101
In fact, I don't have to use CBC, I just noticed both server (Fedora) and this client support the same cipher and don't connect. I thought it may be a bug, so I reported. The server is a virtual machine that I own, and I was just testing. Thank you for your relevance. Shall I close this report, or are you going on any researches about this issue?

[2018-03-11 23:31] NoMoreFood commented on #1101
I don't think I have any planned follow-up, and I'm guessing others won't either so I'd just recommend closing it out.  One less entry on the long list of issues.

[2018-03-11 23:32] #1101 closed, assigned to nobody

[2018-03-12 05:34] #1026 closed, assigned to nobody

[2018-03-12 05:47] manojampalam commented on #1007
@afcady starting from V1.0.0.0, starting sshd will automatically generate host keys with the correct permissions. There is no need to explicitly run ssh-keygen -A.

[2018-03-12 11:06] mrvladis commented on #1095
@simenmusaeus Your sshd_config is it in the correct location, e.g. %ProgramData%\ssh\ ?
I have had the same issue when tried to modify config within the folder that contain binaries.

[2018-03-12 14:52] alphaCTzo7G commented on #1102
@NoMoreFood , Interestingly it actually does..

Heres a screenshot
![capture](https://user-images.githubusercontent.com/29691914/37290684-2b0d692a-25ca-11e8-9c9d-081fba06c186.PNG)

However you will notice that when I try to start the python interpretor.. it doesnt startup. The same when I try to run a file through the interpretor

[2018-03-12 19:10] rkeithhill opened #1103 "Update install script to install client only"
Many of our devs need SSH for access to Git repos via SSH protocol.  They use SSH keys with passphrases so the ssh-agent service is very handy.  I was wondering if you could perhaps add a `-Client` switch param to the install-sshd.ps1 script so that it wouldn't setup sshd as a service.

[2018-03-12 19:21] bagajjal commented on #1102
@alphaCTzo7G - You are using win32-openssh server components from this repo?
ASFAIK, default version of openssh that comes with the VM is not our code base. I would suggest to use, ssh.exe that comes with our win32-openssh package.

Please share sshd.log (With Debug3 enabled) and ssh logs (ssh.exe -vvv user@ip).

[2018-03-12 20:08] bingbing8 commented on #1097
I am looking

[2018-03-12 20:22] DarwinJS commented on #1103
@rkeithhill - this is the default mode if you use the universal / chocolatey installer.

I assume you know that the windows git client contains it's own ssh client that is only used with git commands?

[2018-03-12 20:37] bingbing8 commented on #1097
@manojampalam it is not expected. but i can't repro it.
@alphaCTzo7G, which version did you try? I tried to transfer file from Ubuntu client to Windows 10 with [v7.6.0.0p1-Beta](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.6.0.0p1-Beta), it transfer file to the right directory.
[code]
What error do you see? Can you check trace from both client and server side and paste here? Thanks!

[2018-03-12 21:12] rkeithhill commented on #1103
What is the universal installer?  I see you have a Chocolatey pkg. I'll try that in the future.

Yes but AFAICT it doesn't work with the Win32-OpenSSH's ssh-agent service which does a better job of remembering SSH private keys across reboots e.g.:
[code]

Plus aren't their oddities with the Git version of ssh-agent related to its creation of `SSH_AUTH_SOCK` and `SSH_AGENT_PID` environment variable

[2018-03-12 21:25] DarwinJS commented on #1103
I generally use git with vs code - but I've never had it have problems for ssh based repo origins.

The chocolatey package lives a double life (as a universal installer) - it can be used in several ways *without* Chocolatey.  See here: https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/readme.md

[2018-03-12 21:30] rkeithhill commented on #1103
We didn't have any problems either when we used SSH keys with no passphrase.  :-)  But lately IT is cracking down and asking us to use a passphrase with our SSH keys.  Sigh...

[2018-03-12 22:02] bagajjal commented on #1103
Win32-openssh ssh-agent implementation is different from others.
Win32-openssh ssh-agent will store the keys in windows registry in an encrypted format.

I don't think you can add keys with win32-openssh ssh-agent and retrieve it by using Github ssh-agent.

[2018-03-12 22:04] rkeithhill commented on #1103
Exactly and is why we really like the Win32-OpenSSH ssh-agent. It rocks!

BTW does this whole install problem go away with Windows 10 1803?  Will it just come with the latest (7.6.0.x) version of Win32-OpenSSH?

[2018-03-12 23:36] NoMoreFood commented on #1096
@manojampalam Updated based on your comments.  https://github.com/NoMoreFood/openssh-portable/commit/ba701187511362ea5cdd4a35f42ec340c70d0a8a.

[2018-03-12 23:57] NoMoreFood commented on #1085
@bagajjal Any chance to review my pull request?

[2018-03-13 00:09] NoMoreFood commented on #292
@manojampalam Yeah, my general idea here is that one set a global when calling chroot() and then put a check at the beginning of file I/O operations to make sure the real path of the specified path is within that global.  If it's not then return the appropriate error.  If we wanted to avoid the check at the file operation, we could detour NtCreateFile/NtOpenFile when calling chroot(), but that mig

[2018-03-13 00:18] DarwinJS commented on #1103
@rkeithhill - there is also a switch for the universal installer for adding the ssh-agent service (without the sshd service).  It is SSHAgentFeature - see the docs / package metadata for usage.

[2018-03-13 00:34] manojampalam commented on #1096
Thanks. I'll take a look. Please post a PR, so we can keep track of further conversation.

[2018-03-13 00:43] NoMoreFood commented on #1096
@manojampalam Not foreseeing the three potential changes I've submitted thus far (group detection, symbolic link support, and this change), I believe my pull request will reflect all three changes since I made the first two without branches.  I can cancel and resubmit my other pulls from three different branches if you think that makes the most sense.  Any advice would be appreciated.

[2018-03-13 00:45] manojampalam commented on #1096
Yes, it will be better for tracking if we deal with each feature/fix in a separate branch/PR/commit.

[2018-03-13 14:35] afcady commented on #1007
@manojampalam if that's true, fixing the underlying issue in `ssh-keygen.exe` should be easy: just use the code that is used by `sshd` to set the permissions.

Do you know where that code is?

[2018-03-13 15:01] afcady commented on #1007
Found this commit (in a different repo!)

https://github.com/PowerShell/openssh-portable/commit/32ff0c2aedbbf0c03a2bfbf34f922845ddc3191e

However, it appears that it only calls `ssh-keygen.exe -A`, and does not appear to fix any permissions explicitly.

[2018-03-13 17:02] alphaCTzo7G commented on #129
I installed `openssh` via `chocolatey` today.. and trying to find the `sshd.log` files for this issue here: https://github.com/PowerShell/Win32-OpenSSH/issues/1102

I used `choco install openssh /SSHServerFeature".

Where can I find the `sshd.log` file?

[2018-03-13 18:02] manojampalam commented on #1007
You don't need to. ssh-keygen.exe -A is called in the context of SYSTEM (sshd runs as SYSTEM), the generated keys will automatically have the right permissions when called in SYSTEM context.

[2018-03-13 18:54] alphaCTzo7G commented on #1102
Yes, I was using the OpenSSH that comes installed with the VM from MS. I also
tried uninstalling that and installing the `OpenSSH` that is supposed to an
`add on feature` that can be installed using
`dism /Online /Add-Capability /CapabilityName:OpenSSH.Client~~~~0.0.1.0`,

with instructions from here:
https://blogs.msdn.microsoft.com/powershell/2017/12/15/using-the-openssh-beta-in-windows-10-fall-

[2018-03-13 19:11] alphaCTzo7G commented on #1097
You are right. There are 2 versions  of OpenSSH shipped withe the VM. OpenSSH6.7 which is already installed by default. And there is openssh v7. I believe which can be installed as an add-on feature. I tried both.. but they didnt work.

Today I installed OpenSSHv7.6. Its mostly working. SCP works just like standard scp now. `ssh` still has some problems with certain programs.

[2018-03-13 19:12] #1097 closed, assigned to nobody

[2018-03-13 21:22] bagajjal commented on #129
sshd.log will be @ %programdata%\ssh\logs

[2018-03-13 23:21] bagajjal commented on #1102
ipython is working. If you page up you can see the output of ipython commands.
The issue is with the bad rendering (introducing an empty page) by the ssh-shellhost.exe.

[2018-03-14 05:24] NoMoreFood opened #1104 "Possible Bug In Socket Code"
It appears there could be a bug in socketio.c that is causing unit tests to fail and could cause crashes.  Upon inspection, it looks socketio_WSARecv() allocates an internal buffer (wsabuf.buf) with 70KB (INTERNAL_RECV_BUFFER_SIZE).  It stores this length in wsabuf.len.   However, wsabuf.len is blindly overwritten by a parameter to the socketio_WSARecv() called 'len' which could be greater than 70

[2018-03-14 15:45] gfb1 commented on #1014
Updates, anyone?
Windows to Linux ssh server. command line ssh works, but identical error when invoking ssh from Unison.

[2018-03-14 17:26] manojampalam commented on #1104
You're right and the fix is accurate.

[2018-03-14 18:20] bagajjal commented on #1014
@gfb1 - Please share ssh logs (ssh -vvv user@ip) and sshd.logs (DEBUG3 enabled).

[2018-03-14 18:42] alphaCTzo7G commented on #1102
@bagajjal.. yes.. you are right. Thanks for looking into this. ipython is indeed working.. but its not very usable..

[2018-03-14 18:54] alphaCTzo7G commented on #998
This would be super useful... as I am also trying to trigger a `GUI` application through `ssh`. I am aware of the `psexec` and the scheduled task, and `ControlUp` appoaches.

`psexec` is probably what I have to do.. as it seems to be most suggested approach here. However, it sends `username`/`passwords` as plaintext over to the remote computer.. which maybe a big security hole in future.

@R030t1,

[2018-03-14 22:47] ebekker opened #1105 "'Match Group' fails to match on member of either local or domain group"
**"OpenSSH for Windows" version**
`7.6.0.0` (installed via choco)

**Server OperatingSystem**
 `Windows Server 2016 Datacenter`

**Client OperatingSystem**
`Windows 10`

**What is failing**
Configured sshd_config with a `Match Group` clause referencing either a local group or an AD domain group, but neither works to match incoming users.

However, when I use a `Match User` clause to target a speci

[2018-03-14 23:30] bagajjal commented on #1095
Any update on this? I tried, it works.

[2018-03-14 23:36] bagajjal commented on #1105
To debug further, enabled DEBUG3 logs in sshd.log.

[2018-03-15 00:06] bagajjal commented on #1072
Any update on this?

[2018-03-15 00:28] bagajjal commented on #1066
Reopen if you think it's a bug.

[2018-03-15 00:28] #1066 closed, assigned to bagajjal

[2018-03-15 00:33] bagajjal commented on #1064
This issue looks to be an issue with your configuration, environment.
I am closing this issue as it works with FileZilla.

[2018-03-15 00:33] #1064 closed, assigned to nobody

[2018-03-15 00:35] bagajjal commented on #1063
Reopen with required logs.

[2018-03-15 00:35] #1063 closed, assigned to nobody

[2018-03-15 00:39] bagajjal commented on #1060
Reopen if required.

[2018-03-15 00:39] #1060 closed, assigned to nobody

[2018-03-15 02:40] NoMoreFood commented on #1104
Are you going to take care of changing this or should I?

[2018-03-15 02:43] NoMoreFood commented on #1096
@KaizerT Just wanted to let you know my pull request is finally in hopefully we seen this in a upcoming binary release.

[2018-03-15 06:12] manojampalam commented on #1104
If its blocking you, go ahead and fix it, else I'll take care of it.

[2018-03-15 11:16] NoMoreFood commented on #1104
I also see another unit test that's failing (not one of mine) so I'll investigate that as well and put in changes for both (as necessary).

[2018-03-15 11:49] gfb1 commented on #1014
![image](https://user-images.githubusercontent.com/37376662/37461577-2808e260-2825-11e8-8dc4-ebf374051e00.png)

all prior notations are repetitive....

[2018-03-15 13:03] schifazl opened #1106 "Connection reset/unable to generate token for user"
Hi!
I have the latest openssh (7.6.0.0) installed on a windows 2008 server and a windows 7 (client). I'm at work, in a domain, and trying to connect to the server without password.

Connecting by using my password works flawlessly, but after generating the private/public key pair, thigs go south.

This is the client side log:

And this is the sshd.log part:

I've already tries, without success:

-

[2018-03-15 13:58] manojampalam commented on #1106
Can you see if key based auth works for a local user? If it does, can you double check that your domain controller is accessible? User tokens for key based auth are generated via S4U - generating domain user S4U tokens requires a persistent connection with DC.

[2018-03-15 14:06] manojampalam commented on #1014
debug3: failed to open file:/dev/tty error:3

This is normally not expected. Do you have DISPLAY and SSH_ASK_PASS variables set in your environment?

[2018-03-15 14:07] manojampalam commented on #1104
Which one?

[2018-03-15 15:20] schifazl commented on #1106
Thanks for your quick reply!

I've created a local user and it worked flawlessly. I've also checked if the DC is accessible by using
`nltest /dsgetdc:<domain name>` and it also worked.

[2018-03-15 16:07] gfb1 commented on #1014
No, I do not. I'll have to look up how to set them.  Thanks!

[2018-03-15 17:08] manojampalam commented on #1014
You should not have them set of you intend to type in your password manually

[2018-03-15 17:21] agordon commented on #926
@joeyaiello - any updates on an official answer for SSH connection licensing?

[2018-03-15 17:53] bagajjal commented on #1014
@gfb1 - Have a look at the sshd.log (With DEBUG3 enabled).

[2018-03-15 20:16] alilland commented on #274
Mine is indeed in PATH, and I still have this error, I have also tried re installing

[2018-03-15 20:20] bagajjal commented on #274
@aronlmin - Try our [troubleshooting steps](https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps).
After psexec as system, run ".\sshd.exe -ddd"

[2018-03-15 20:22] ghost commented on #998
No @alphaCTzo7G, nothing can get around it. What Bitvise does is properly associate a Windows Station (something which exists within a Desktop, which exists within a Session) with programs so that they will manage to run when invoked headlessly when the server is running within an interactive session.

This issue exists because Windows treats user interaction in a way that other OSes do not. The k

[2018-03-15 20:36] ebekker commented on #1105
Thanks, should've tried that to start, but glad I filed the issue, I can document my findings here for benefit of others.

So here are the issues...

~~1. For starters, was getting the error:~~
[code]
~~Turns out that in order to test against a domain user's group memberships you have to use a domain qualified form of the username, so when you sign in, you have to use something like `domain\userna

[2018-03-15 21:03] ebekker commented on #1105
Turns out (1) above was incorrect on my part, I misinterpreted the log output.  It was strictly (2) issue, once the groups names were all lowercased in the `Match` everything works as expected.

[2018-03-15 21:03] #1105 closed, assigned to nobody

[2018-03-15 22:57] bagajjal commented on #1082
In case of no-pty (like this), we directly launch default-shell. Here is the [code snippet](https://github.com/PowerShell/openssh-portable/blob/latestw_all/contrib/win32/win32compat/shell-host.c#L1526)

In case of pty (interactive ssh session), we launch default-shell through cmd.exe. Here is the [code snippet](https://github.com/PowerShell/openssh-portable/blob/latestw_all/contrib/win32/win32comp

[2018-03-15 23:12] NoMoreFood commented on #1104
I haven't look at it at a possible causes yet:

[code]

[2018-03-15 23:41] NoMoreFood commented on #1104
Alright, just looked at that last one.  It appears that's just a problem with the test assuming what the default, inherited permissions are on the file system where the test is being run.

[2018-03-15 23:53] jasonblewis commented on #904
does this merge fix the issue? and if so, any chance of a release?

[2018-03-16 00:18] manojampalam commented on #904
We should have one end of this week. If you'd like to test a private, let us know.

[2018-03-16 00:20] manojampalam commented on #1082
@bagajjal yes. Do you see any issues with escaping double quotes on the pty route?

[2018-03-16 00:27] bagajjal commented on #1082
I don't think there is a need to escape double quotes on pty route.
pty route should work without any issues.

In case of no-pty, the issue is the way we pass the received command to createprocessw().

[2018-03-16 01:03] manojampalam commented on #1082
Reported issue is with PTY - the fact that with Default Shell configured, we need 2 levels of escaping while with otherwise (cmd.exe), only one level is needed.

[2018-03-16 06:59] manojampalam commented on #1082
Reading the complete thread again, I was wrong in certain aspects. While its true that we have an issue in PTY logic as I described before, fixing that would not do any good to the original reported issue.

@bagajjal @penguin359, your analysis is accurate. The issue stems from the way the resulting shell in invoked via CreateProcess and how the command line arguments are interpreted by Windows CRT

[2018-03-16 08:30] schifazl commented on #1106
Hello!
Still no luck with my account.

Any idea?

[2018-03-16 10:42] Suncatcher commented on #973
@bagajjal

Can one convert existing RSA key (generated by Ubuntu) to ed25519? Or it is required to generate ed25519 only in Windows?

@manojampalam

You mean OpenSSH installed from this GIT repo and installed from Windows Settings are different?

[2018-03-16 17:31] manojampalam commented on #973
You cannot convert keys from one type to another.

OpenSSH installed from Windows settings is a limited version (supports only one key type and a limited set of crypto algorithms) of the more comprehensive version released on GitHub

[2018-03-16 17:34] manojampalam commented on #1106
Can you use v1.0.0.0 version and try out using FQDN
ssh user@abc.def.com@target
and share sshd logs if it doesn't work?

Reason to try the prior version - to avoid hitting https://github.com/PowerShell/Win32-OpenSSH/issues/1098

[2018-03-16 17:39] Suncatcher commented on #973
Thx for info. Should I delete built-in Windows client prior to installing Git version?

[2018-03-16 17:41] manojampalam commented on #973
They can work side by side but may be end up causing confusion. If you don't need the built-in client, recommend uninstalling it.

[2018-03-16 17:47] manojampalam commented on #1095
Did you try putting quotes around your exe
`Subsystem	powershell "C:/Program Files/PowerShell/6.0.1/pwsh.exe" -sshs -NoLogo -NoProfile`

[2018-03-16 22:37] bagajjal commented on #892
@idodeclare - I followed your instructions. When I execute " fab -f dir.py -H me@wserver dir" command the output is different from the original post.

[2018-03-16 23:59] penguin359 commented on #1082
Now that I have a better understanding of what's happening, I think it comes down to a fundamental design difference between UNIX, where commands are broken up into parts and passed in from the parent, and Windows, where they are parsed and broken up by the child. For the no-pty case, where I'm primarily concerned, it seems to be that just escaping according to the rules of the standard MSVCRT par

[2018-03-17 01:11] bagajjal commented on #892
@idodeclare - I am able to reproduce the issue.

When fab runs the command, sshd will receive **/bin/bash -l -c "dir .."**, requesting for a pty session.

1) I don't know why /bin/bash is sent along with command. When ssh-shellhost.exe executes this command, it will certainly fail.

2) why it's requesting pty session?

[2018-03-17 04:13] Sypwn opened #1107 "ForceCommand not working, or how to force a client into a different shell"
**"OpenSSH for Windows" version**
[code]
It's v7.6.0.0p1-Beta though

**Server OperatingSystem**
[code]
**Client OperatingSystem**
PuTTY on Windows 10

**What is failing**
Cannot get the client to go straight into any other commands or shells.
In C:\ProgramData\ssh\sshd_config:
[code]
In C:\Users\domainadmin\\.ssh\rc:
[code]
/etc/passwd does not exist in windows.

**Expected output**
[code]

**Act

[2018-03-17 08:38] Suncatcher commented on #973
@manojampalam, okay, I read [this stuff](https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Status) and they say:

So I wanna ask, should I install the client from [Win32-OpenSSH](https://github.com/PowerShell/Win32-OpenSSH) or better use [openssh-portable](https://github.com/PowerShell/openssh-portable)? Do they differ in features?

[2018-03-17 17:05] idodeclare commented on #892
Hi, @bagajjal ,

That is the default shell for Fabric. When hopefully this issue #892 is fixed, upon seeing an error if `/bin/bash` is unavailable, I will override Fabric's `env.shell` or revise the Windows Server OpenSSH configuration to use e.g. Cygwin or WSL.

The following is Fabric's remark (http://docs.fabfile.org/en/1.14/usage/interactivity.html) regarding a pty:

[2018-03-18 10:41] salamoun commented on #1047
I have same problem.
I want connect to server that is inside domain. I want to connect with AD account.
When using password all is working fine. When using public key auth, then I end with broken pipe error NetUserGetInfo() with domainController:  failed with error: 5.
So I try to change sshd running as domain admin account, but then I end with error: unable to generate token for user sshd.

So, i

[2018-03-18 15:44] ghost commented on #1096
@NoMoreFood, can you comment the overarching goal of your code? E.g. in other projects, limitations in `WaitForMultipleObjects` are handled by a red black tree which objects are sorted in to. Your solution may not be the same, but it would be helpful if any datastructures used were labelled.

[2018-03-18 23:10] NoMoreFood commented on #1096
@R030t1 I'm sure there are a variety of ways to address those limitations. I used a variant of one idea what was suggested on MSDN WaitForMultipleObjects() page.  I believe it's adequate for what this project needed.  My main "goals" were to submit something that was reasonably low overhead, reliable, addressed the issue noted in this thread, and was relatively non-intrusive to the existing code s

[2018-03-19 11:05] schifazl commented on #1106
Still no luck.

Strange thing: I tried to edit the sshd_config file by explicitly adding `PubkeyAuthentication yes` and `PasswordAuthentication no`, but it seems that the configuration is ignored, as the public  key method will allways fail and fall back to the password auth.

[2018-03-19 12:36] Suncatcher commented on #1103
While your conversation, guys, is pretty interesting, it is still lacks the answer to the main question: **how to install client only?**  I don't need the server.

I don't know what is universal installer as well.

[2018-03-19 14:09] DarwinJS commented on #1103
@Suncatcher - I dropped a link to answer the question "What is the universal installer?" in this thread - too long to repeat in an issue.

It is also linked in the wiki - on the right hand navigation bar under "Installation" here: https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

@bingbing8 - would it be possible to put the universal installer link back at the beginning of th

[2018-03-19 14:51] Suncatcher commented on #1103
Thx, it worked. Sorry for my inattentiveness.
Could you please shed some light on internals? On what are [your script](https://raw.githubusercontent.com/DarwinJS/ChocoPackages/master/openssh/InstallChoco_and_win32-openssh_with_serverPS5.ps1) actually doing? According the the file list it downloaded I see it is faking chocolatey installation.

![image](https://user-images.githubusercontent.com/6388

[2018-03-19 15:11] musm opened #1108 "Recommended installation optional features or github"
Provide some documentation on recommended installation. Should this be installed through Windows'  'Manage Optional Features"  as described in a blog post https://blogs.msdn.microsoft.com/powershell/2017/12/15/using-the-openssh-beta-in-windows-10-fall-creators-update-and-windows-server-1709/

or should we manually install through the github download link.

My concern is  updates to the application

[2018-03-19 15:52] DarwinJS commented on #1103
The chocolateyinstall script is designed to know if it is running under chocolatey and it skips past chocolatey stuff if not.  Basically this amounts to the code for acquiring passed parameters.

The chocolateinstall.ps1 is also engineered to avoid direct dependency on chocolatey helpers.

The barebonesinstaller.ps1 simply sets script level properties using standard powershell switches.  Then when

[2018-03-19 15:52] dwatley commented on #1098
@manojampalam - Is this still on track for next release, and is the next release still targeted for this week? I haven't seen a PR come through yet.

[2018-03-19 16:25] musm opened #1109 "Intermittent flashing when resizing console"
Installed from:  Add optional features
Build: Win 10 17115.1

![test4](https://user-images.githubusercontent.com/4319522/37609696-2a766566-2b74-11e8-8d84-38aa46a97d45.gif)

[2018-03-19 17:15] manojampalam commented on #1106
Please share logs with v1.0.0.0. Note that the location of sshd_config and logs has changed between v1.0.0.0 and v7.6.0.0

[2018-03-19 17:28] manojampalam commented on #1098
Yes. It was fixed as part of https://github.com/PowerShell/openssh-portable/commit/2c559a2b6c498239a8082f83fbec8ead98842d6b

in file sshd.c

We have a couple of PRs in the pipeline.. Release should be out once they go through.

[2018-03-19 17:32] manojampalam commented on #1047
SSHD needs to run as system.

At this point, its not possible to automatically get the double hop privileges using key based authentication.

[2018-03-19 17:37] manojampalam commented on #973
Win32-OpenSSH and PowerShell/openssh-portable are the same. We do development in PowerShell/openssh-portable and maintain issues, do releases in Win32-OpenSSH (we are stuck this way for legacy reasons).

[2018-03-19 17:45] manojampalam commented on #1107
@bagajjal is this correct match block for a domain account
`Match User domainadmin`
`ForceCommand python`

Isn't it supposed to be `domainadmin?mydomain`. If so can you add usage samples on wiki for the same?

[2018-03-19 17:46] dwatley commented on #1098
Ah I missed it since the issue or change wasn't referenced in the commit notes. Thanks for the update, looking forward to testing.

[2018-03-19 18:23] bagajjal commented on #1109
@musm - Due to a bug in conhost.exe (windows console executable), we don't support resizing. If you resize then we restore the window back.

[2018-03-19 18:27] musm commented on #1109
that's a pretty bad, any chance the conhost bug can be reported ?  Is there somewhere we can track progress on this.

[2018-03-19 18:41] bagajjal commented on #1109
I already filed a bug. Conhost team is working on it.
Unfortunately this bug can't be tracked outside of Microsoft.

[2018-03-19 18:43] bagajjal commented on #1109
I have listed the [known console issues](https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH) related to conhost.exe.

Please file  new issue if it's not a known console issue.

[2018-03-19 21:57] joeyaiello commented on #1108
We owe you guys some real documentation (not my dinky little blog) now that we're shipping in Windows.

Generally speaking, none of the OpenSSH builds on GitHub are formally supported. If you want official support, you have to install via supported Windows channels (in this case, the "Manage optional features" button or the DISM cmdlets or commands).

We will be updating the inbox version shipping

[2018-03-19 22:24] riverar commented on #1109
Can you please provide the TFS # for reference? Thanks!

[2018-03-19 22:28] bagajjal commented on #1109
FYI, TFS ID - 15683949

[2018-03-19 22:43] bagajjal commented on #892
@idodeclare - I have fixed. Please try the attached [private ssh-shellhost.exe](https://github.com/PowerShell/Win32-OpenSSH/files/1827222/ssh-shellhost-infinite-loop-fix.zip).

[2018-03-20 02:20] NoMoreFood commented on #1041
@1980srefugee Does this still happen with the latest release?

[2018-03-20 02:21] idodeclare commented on #892
@bagajjal ,

Thank you kindly. That works for me, and I can run the following with `-s` to override `env.shell`:

    $ fab -f dir.py -H me@wserver -s '%SYSTEMROOT%\system32\cmd.exe /C' dir

[2018-03-20 06:10] Suncatcher commented on #1092
So, if I got it right, ssh-agent is installed by default when installed [via optional features](https://blogs.msdn.microsoft.com/powershell/2017/12/15/using-the-openssh-beta-in-windows-10-fall-creators-update-and-windows-server-1709/), and not installed at all when installed from Github, isn't it?
ssh-agent is just a more secure way of key management?

[2018-03-20 18:17] bagajjal commented on #1092
@Suncatcher - Starting from v1.0.0.0, ssh-agent is an optional service.

The "OpenSSH Server" installed from "Windows optional feature" is based on v0.0.18.0 and it runs the ssh-agent by default. In release v.0.0.18.0, ssh-agent is used for generating user token, key based authentication and also secure key management.

If you install from GitHub latest, ssh-agent will be added as a service but it

[2018-03-20 18:30] Suncatcher commented on #1103
If I understand your manual correctly, If I use the script without any keys, it installs server by default.
And in the description of **/SSHAgentFeature** I see

so I assume ssh-agent should be default installed if I used your script in a default manner (without keys). No?
I cannot find ssh-agent service in my services so it seems it wasn't installed.

[2018-03-20 18:54] rkeithhill opened #1110 "Testing connection to sshd.exe fails with CB ERROR:10054"
**"OpenSSH for Windows" version**
 `7.6.0.0`

**Server OperatingSystem**
 `Windows Server 2012 R2 Standard`

**Client OperatingSystem**
Windows 10 Enterprise 1709

**What is failing**

[code]
We have 7.6p1 beta on both sides - server and client.

**Expected output**

Client authenticates.

**Actual output**

[code]

BTW we noticed that an sshd.exe process keeps starting with param `-R` and then go

[2018-03-20 18:58] bagajjal commented on #1110
Please try troubleshooting steps,
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2018-03-20 20:28] DarwinJS commented on #1103
@Suncatcher - sorry that is out of date.  Please see the note "SSHD no longer depends on ssh-agent server" in the openssh v 1.0.0.0 release notes here: https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v1.0.0.0

[2018-03-20 20:30] Suncatcher commented on #1103
@DarwinJS , okay. So to install the agent (and not to mess the existing SSHD) I should re-run the script with `/SSHAgentFeature` key. Yes?

[2018-03-20 20:31] DarwinJS commented on #1103
I updated that line to read: IMPORTANT: ssh-agent is no longer required for sshd after version openssh 1.0.0.0

Yes - but only relevant if you are installing client tools and want ssh-agent.  I think you could also load it if you want to use client and server on the same box.

[2018-03-20 20:50] Suncatcher commented on #1103
Well, as these params are hard-coded in your script (maybe it's worth to parametrize them [like for Chocolatey](https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/readme.md#chocolatey-uninstall-problems) via -params), I [forked](https://raw.githubusercontent.com/Suncatcher/ChocoPackages/master/openssh/InstallChoco_and_win32-openssh_with_serverPS5.ps1) the script added the param like thi

[2018-03-20 21:07] rkeithhill commented on #1103
I'm confused by the versioning.  Is it 1.0.0.0 or 7.6.0.0?

[2018-03-20 23:00] ivakyb opened #1111 "Add/set registry setting of default shell with powershell registry editor cmdlet. How to."
There is a nice topic [Install-Win32-OpenSSH].

I suggest to improve it with adding few lines about **setting registry entry DefaultShell with Powershell cmdlets**. Next command will set default shell *Git Bash*
[code]
In most cases arguments (cmd options) are not required. We may leave this value default (undefined). Or set with next command.
[code]

### This is much more convenient then *regedit

[2018-03-20 23:19] rkeithhill commented on #1106
I'm running into the same issue w/7.6.0.0 - trying to connect using my domain account on the same machine that sshd is running on.

[2018-03-20 23:28] DarwinJS commented on #1111
There is something that does a little more than that in the universal installer: https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/tools/Set-SSHDefaultShell.ps1

[2018-03-20 23:29] bagajjal commented on #1106
Please debug further,
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2018-03-20 23:38] bagajjal commented on #1111
I updated the wiki.

[2018-03-20 23:41] rkeithhill commented on #1106
Looks like I'm running into #1098.
[code]
Any ETA on an update with that fix?

[2018-03-21 10:42] DarwinJS commented on #1103
@Suncatcher - they are all intended to be in barebonesinstaller.ps1 - looks like SSHAgentFeature is not - will fix in the next release.

@rkeithhill  - The latest is 7.6.0.0 (which syncs with the underlying version of openssh itself) - the previous was 1.0.0.0.  My reference was to show the first release in which sshd no longer depends on ssh-agent.

[2018-03-21 11:03] Suncatcher commented on #1103
okay, and what about adding it to autostart? it is not handled by script (=should be done manually) or the script failed for some reason?

[2018-03-21 11:07] DarwinJS commented on #1103
Should already be handled by this line: https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/tools/chocolateyinstall.ps1#L445

[2018-03-21 11:38] Suncatcher commented on #1103
I tried to re-run the script but got "Package source Chocolatey exists" error

![image](https://user-images.githubusercontent.com/6388034/37707827-264dcb42-2d0d-11e8-897e-cac3d4dd2f1d.png)

What does it mean?

I suppose it fails on this step (bolded)

[2018-03-21 11:54] DarwinJS commented on #1103
@Suncatcher - that script is meant to be a sample to install a "demo" or "proof of concept".  If you like the approach you should grab a copy for yourself and put it in your own github repository or host it internally in your company.

[2018-03-21 23:57] NoMoreFood commented on #292
I was experimenting and managed to implement a decent jail by intercepting NtCreateFile, NtOpenFile, and NtQueryFullAttributesFile and making sure any files were within a specified path.  I did this by modifying the IAT of kernel32.dll (kernelbase.dll) at runtime which is what all the normal file I/O functions flow through one way or another.  So, basically you call a function from the sftp_server

[2018-03-22 00:09] NoMoreFood commented on #292
Actually, thinking about it more, another way to pass the information would be to have SSHD embed the root path information in an environment variable and then have the SFTP server key off that environment variable.  That would keep us out of the "main" SFTP files.  Regardless, curious what @manojampalam and @bagajjal are interested in something like this. I suspect it'll be a demanded feature but

[2018-03-22 22:28] NoMoreFood commented on #1104
This was addressed with my pull: https://github.com/PowerShell/openssh-portable/pull/288.  Closing.

[2018-03-22 22:28] #1104 closed, assigned to nobody

[2018-03-22 22:29] NoMoreFood commented on #1096
@KaizerT Unless you want to wait for the official release, you can probably close this since the code changes are in.

[2018-03-22 22:31] NoMoreFood commented on #1085
This was addressed in my pull: https://github.com/PowerShell/openssh-portable/pull/281.  Closing.

[2018-03-22 22:31] #1085 closed, assigned to nobody

[2018-03-23 00:20] manojampalam commented on #292
If its just a matter of providing chroot functionality for sftp (and trusting existing sftp code), we could do it somewhat simpler:
 - as part of chroot() - set an environment variable (as you suggested)
 - write a validation method that tests input string against chroot'ed path (if set).
 - modify all file IO entry points (we pretty much over load of these APIs in posix compat layer for Unicode d

[2018-03-23 14:02] two70 commented on #1095
I am having issues with connecting as well, but mine deals with the SSH transport process abruptly terminating.

Double check that your PowerShell executable is where you are saying it is in the config file. In my case, Server 2012R2, it is located at `"C:/Windows/System32/WindowsPowerShell/v1.0/powershell.exe"`. I was originally getting the same error as you until I changed the location.

[2018-03-23 22:53] pldmgg opened #1112 "Public Key Auth Fails Multiple Ways - Windows to Windows and Linux to Windows"
**"OpenSSH for Windows" version**
[code]

**Server OperatingSystem**
[code]

**Client OperatingSystem**
Tried from both Windows and CentOS client.

Windows Client Info:
[code]

CentOS 7 Client Info:
[code]

**What is failing**
Public key authentication.

**Key Creation**
Key pairs created and tested with the below command on both Windows and CentOS (with blank password):
[code]

Please note, the k

[2018-03-23 23:05] bagajjal commented on #1112
Try removing "NT Service/sshd". Starting from v1.0.0.0 we don't need this.

Please verify these,
1)  sshd service runs as service.
2) all the binaries (*.exe) have "read, execute" permissions to "authenticated users".
3) Enable DEBUG3 sshd logs
       a) net stop sshd
       b) modify %programdata%\ssh\ssh_config (LOGLEVEL DEBUG3)
       c) net start sshd
4) Follow our [troubleshooting steps](http

[2018-03-23 23:15] pldmgg commented on #1112
After removing "NT Service/sshd", got closer, but still no dice. Now it's complaining about a broken pipe and test2\testadmin being a bad user (i.e. `NetUserGetInfo() failed with error: 1722 for user: testadmin and domain: test2`)...

From CentOS7 Client to Windows 2102 R2 SSHD Server:

SSHD Log

(EDIT: Updated with DEBUG3)

[code]

SSH Client -vvv Output:

[code]

EDIT 2:
Not sure why it's compla

[2018-03-23 23:39] bagajjal commented on #1112
Looks like you are running into a known bug #1098.
It will be fixed for next release.

we suggest to use v1.0.0.0.

[2018-03-24 07:38] jyhong836 commented on #55
I meet the same problem when I install OpenSSH under 'D:/XXX/'. Not sure why this happens.

[2018-03-24 14:09] pldmgg commented on #1112
Okay, thanks for your help!

[2018-03-26 11:57] sddim opened #1113 "APPCRASH in sshd.exe"
**"OpenSSH for Windows" version**
v7.6.0.0p1-Beta

**Server OperatingSystem**
Windows Server 2012 R2 Datacenter

**Client OperatingSystem**
Windows Server 2012 R2 Datacenter

**What is failing**
Login with local user fails, connection is closed immediately after successful verification of key, seemingly due to a crash by a spawned sshd.exe .
EDIT: This crash happens reliably with one specific loca

[2018-03-26 17:04] manojampalam commented on #1113
Possible to share the crash dump?

[2018-03-26 18:02] #1112 closed, assigned to bagajjal

[2018-03-26 18:38] bagajjal commented on #55
@jyhong836 - Try [troubleshooting steps](https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps). I would recommend installing OpenSSH under c:\program files\.

If you couldn't resolve your problem then please open a new issue, provide sshd log (with DEBUG3 enabled).

[2018-03-26 20:08] bingbing8 commented on #904
@jasonblewis, please try this private scp binary.
[scpx64.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1849361/scpx64.zip)

[2018-03-27 00:57] jyhong836 commented on #55
@bagajjal Yes. Installing in 'c:\program...' will resolve the issue. Thanks.

[2018-03-27 08:09] sddim commented on #1113
[Report.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1850968/Report.zip)

[2018-03-27 23:09] bagajjal opened #1114 "Use libressl release binaries."
1) Update OpenSSHBuildHelper.psm1 to use the LibreSSL [release binaries](https://github.com/PowerShell/libressl/releases/latest)

2) Update paths.target file to use new folder structure.
LibreSSL SDK - $openssh-portable\contrib\win32\openssh\LibreSSL\sdk\
LibreSSL Desktop binaries - $openssh-portable\contrib\win32\openssh\LibreSSL\bin\desktop
LibreSSL Onecore binaries - $openssh-portable\contrib\w

[2018-03-30 22:09] dwatley commented on #1062
@bagajjal @joeyaiello - As I understand it from the recent [1803 blog post](https://blogs.msdn.microsoft.com/commandline/2018/03/07/windows10v1803/) that a portion of this SSH suite is being enabled by default. Enabling by default seems to imply "production ready" and will be a fully supported operating system feature. What are the implications for signing (in the OS build, and GitHub releases)?

[2018-03-31 06:34] #904 closed, assigned to nobody

[2018-03-31 06:36] #1078 closed, assigned to nobody

[2018-03-31 06:37] #95 closed

[2018-03-31 06:38] #1098 closed, assigned to manojampalam

[2018-03-31 06:39] #1114 closed, assigned to bagajjal

[2018-03-31 06:39] #892 closed, assigned to bagajjal

[2018-03-31 06:40] #1094 closed, assigned to nobody

[2018-03-31 06:41] #191 closed, assigned to nobody

[2018-03-31 06:42] #1096 closed, assigned to nobody

[2018-03-31 21:08] dwatley commented on #1062
I see it's been [committed](https://github.com/PowerShell/openssh-portable/commit/f291d2438f11f376b3092bfad02f45915a5a152f) and [released](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.6.1.0p1-Beta). Would be handy if issues are referenced in PRs more generally.

[2018-03-31 21:08] #1062 closed, assigned to nobody

[2018-04-01 10:33] simenmusaeus commented on #1095
@mrvladis Your right, you need to edit the `sshd_config` found in `%ProgramData%\ssh\` (`C:\ProgramData\ssh\`), it works for me now.

Would it be an idea to make this more explicit in the [setup instructions](https://github.com/PowerShell/PowerShell/blob/866b558771a20cca3daa47f300e830b31a24ee95/docs/new-features/remoting-over-ssh/README.md)?

Being unexperienced with OpenSSH "_..at the location wh

[2018-04-01 10:34] #1095 closed, assigned to nobody

[2018-04-01 12:57] NoMoreFood commented on #1113
@sddim Can you see if there's a file for the crash located here: "C:\Users\<yourusername>\AppData\Local\CrashDumps" or here "C:\Windows\System32\Config\SystemProfile\AppData\Local\CrashDumps".  Also, if you're using password authentication, please change your password before posting the dump since it could contain sensitive information depending on where the code failed.

[2018-04-01 21:36] dwatley commented on #1098
Confirming the latest release fixed this for me.

[2018-04-02 05:26] PretorianX opened #1115 "beta 7.x.x.x with key auth breaks Exchange console"
Hi guys, if login with password this sequence works, if with ssh key I receive an error:

 `Windows PowerShell
Copyright (C) 2009 Microsoft Corporation. All rights reserved.

PS C:\scripts\new>
PS C:\scripts\new> add-pssnapin Microsoft.Exchange.Management.PowerShell.E2010
PS C:\scripts\new> Get-Mailbox
Get-Mailbox : Value cannot be null.
Parameter name: parameters
At line:1 char:12
+ Get-Mailbox <

[2018-04-02 05:55] manojampalam commented on #1115
See #518

[2018-04-02 15:21] david-chaves commented on #482
Hi, I'm having the same issue, this is the following commands running inside a powershell script:
[code]
The host it's defined inside my `%HOMEPATH%\.ssh\config` using the ssh agent to connect trough. What the script does it's copy the files to a AWS RedHat Instance.

[2018-04-02 18:35] bagajjal commented on #1095
@simenmusaeus  - I requested powershell team to update their setup instructions. Thanks.

[2018-04-02 21:59] bagajjal commented on #1095
@simenmusaeus - Please create a issue with powershell team.

[2018-04-02 23:07] NoMoreFood commented on #1106
@rkeithhill I have a pull request in that's being evaluated that might address this issue.  I can compile a custom sshd.exe for testing in my fork if you're interested/willing.

[2018-04-02 23:09] rkeithhill commented on #1106
In looking at issues what were fixed in today's 7.6.1.0p1-Beta, I had assumed this issue was fixed. See https://github.com/PowerShell/Win32-OpenSSH/issues/1098

[2018-04-02 23:10] bagajjal commented on #1106
#1098  is fixed in the recent release 7.6.1.0p1. please try the latest release.

[2018-04-02 23:11] bagajjal commented on #1106
Reopen if the issue is not fixed.

[2018-04-02 23:11] #1106 closed, assigned to nobody

[2018-04-03 15:26] sddim commented on #1113
There's a crash dump:
[sshd.exe.24680.dmp.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1872181/sshd.exe.24680.dmp.zip)

[2018-04-03 23:02] NoMoreFood commented on #1113
@manojampalam Looks like its failing here when attempting to dereference authctxt->pw:

[code]

@sddim Can you try with the latest release and verify the error still occurs?  Other than groups, is there anything notable about the users?

[2018-04-04 13:38] sddim commented on #1113
The only unusal thing that comes to my mind in regard to the affected user is that the user's home direcory (in C:\users\)  has a different name than the username (created by Windows, in the form user.machine, since a folder with the name of the user coincidentally already existed).

[2018-04-04 14:57] DarwinJS commented on #1113
@manojampalam - shouldn't this code look up profile folder via API ?

[2018-04-04 21:29] cstalker99 opened #1116 "couldn't stat remote file: Permission denied for mapped s: drive with public/private key"
Scenario:  Connecting via SFTP from server1 (Linux server) to server2 (Windows server with sshd service).
S: drive is a mapped drive to another windows server.
All works fine when id/password validation is used.  The server-to-server connection succeeds and all mapped drives on sshcp001 (C:, F:, and S:) can be accessed.  See example for drive S: below.

infarcr@server1:/opt/informatica/pc_rcr > sf

[2018-04-04 21:31] cstalker99 commented on #1116
version v1.0.0.0-Beta of openssh installed on server2

[2018-04-04 21:34] bagajjal commented on #1116
see issue #518

[2018-04-05 05:49] manojampalam commented on #1113
This is related to #1098 and should be fixed in 7.6.1.0. @sddim, please try it out and reopen if needed.

[2018-04-05 05:49] #1113 closed, assigned to nobody

[2018-04-05 05:55] manojampalam commented on #482
@bingbing8 can you please take a look?

[2018-04-05 06:09] itn3000 commented on #1110
It seems to be occured in my testing environment(win2008r2) too.
here is my log.

## server side(sshd -ddd)

[code]

## client side(ssh -vvv administrator@localhost)

[code]

[2018-04-05 09:49] evilC commented on #33
Still happening.
I installed OpenSSH beta server and client on the *same machine*, and I get the following error when I try to use the client to connect to the server via the loopback address:
`ssh someuser@127.0.0.1`
`Unable to negotiate with 127.0.0.1 port 22: no matching key exchange method found. Their offer: ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchang

[2018-04-05 15:22] dwatley commented on #938
@bagajjal - Are you still having trouble reproducing this?

[2018-04-05 15:26] doussse opened #1117 "SFTP Error : Connection lost (error code is 10058)"
Hello,
I try to use open shh with a client ( EFT globalscape)
When I try to  connect I have this error
SFTP Error : Connection lost (error code is 10058)

My sftp server is running fine with putty winscp......
I connect to the server with user/password (no key authentication)

11944 2018-04-05 16:56:19.993 debug1: Client protocol version 2.0; client software version AutoMate
11944 2018-04-05 16:56

[2018-04-05 15:57] manojampalam commented on #33
Did you try out the GitHub version?

[2018-04-05 16:14] zack-snyder opened #1118 "Cannot login from ubuntu to windows with new user"
I want to connect from ubuntu server to windows 10 machine

However, the user is not known to the openSSH server on windows.
sshd.log
[code]

What I can do, is connecting with ssh to a known user on the system.
I also modified the `sshd_config` file enable `IgnoreUserKnownHosts no`
However, seem to be not working either.

[2018-04-05 16:50] manojampalam commented on #1117
Connection is getting dropped during Key exchange. Most likely, your client isn't comfortable with the set the algorithms supported by OpenSSH target. Does it work fine with OpenSSH on Unix?

[2018-04-05 16:52] manojampalam commented on #1118
Does the target user exist on your Windows box?
Is it local account or domain account?
Please create a new issue with the template and with the above info

[2018-04-05 16:52] #1118 closed, assigned to nobody

[2018-04-05 16:57] manojampalam opened #1119 "SFTP doesn't support hardlinks"
Please answer the following

**"OpenSSH for Windows" version**
All up to v7.6.1.0

**Server OperatingSystem**
Any Windows OS

**Client OperatingSystem**
Any client

**What is failing**
SYMLINK command in SFTP session

**Expected output**
It works

**Actual output**
Fails with error

[2018-04-05 23:06] RichardScothern commented on #307
Just adding an interest in this feature too.

@manojampalam do you have a hard requirement for this repo being merged into the official openSSH before accepting pull requests for out of scope features?  Thanks!

[2018-04-05 23:29] bit1tech opened #1120 "sshd.exe on Windows Server 2008 crashes on connect"
**"OpenSSH for Windows" version**
sshd.exe 7.6.0.0

**Server OperatingSystem**
Windows Server (R) 2008 Standard

**Client OperatingSystem**
Ubuntu

**What is failing**
Sshd service crashes when I try to connect:
$> ssh xx.xx.xx.xx
ssh_exchange_identification: read: Connection reset by peer

In the even log I see a "Application Error Event ID 1000"
0x0000005 Offset 0x00022ce8

[2018-04-05 23:47] bagajjal commented on #1120
win32-openssh support down to win7 client or windows server 2008 R2.

[2018-04-05 23:53] bit1tech commented on #1120
Hmm. Sad news.
Anyway, here is the debug output:
[code]

[2018-04-05 23:55] bagajjal commented on #1120
closing this issue as it's not supported.

[2018-04-05 23:55] #1120 closed, assigned to nobody

[2018-04-06 00:01] itn3000 commented on #1110
sorry, after I tried re-installing, error no longer occured.

[2018-04-06 00:45] david-chaves commented on #482
I as doing some more testing and discovered that calling `Write-Output` solves the issue, no idea what it does in background.

[2018-04-06 01:18] bagajjal opened #1121 "Implement freecopy()"

[2018-04-06 04:11] ghost opened #1122 "Certificate Authentication doesn't work"
I can't do certification authentication such as pubic/private key authentication.
Can you plz show me detail instructions for this?

[2018-04-06 05:11] manojampalam commented on #1122
https://github.com/PowerShell/Win32-OpenSSH/wiki/Certificate-Authentication

[2018-04-06 07:23] doussse commented on #1117
Yes, it works on unix....

[2018-04-06 07:54] zack-snyder opened #1123 "Cannot login from ubuntu to windows with new user"
**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
Ubuntu 16.04 x64

**What is failing**
login failed:
`ssh 192.168.120.187`

**Expected output**
Login should work

**Actual output**
sshd.log
[code]

`FooUser` does not exist on Server OperatingSystem.
It's a local account on Ubuntu.

[2018-04-06 09:51] zack-snyder opened #1124 "Start openSSH with legacy key support"
My client seems to have an older openSSH version (unfortunately I cannot upgrade)
I cannot connect to openSSH server. SSH cannot negotiate
"OpenSSH for Windows" version
0.0.18.0

Server OperatingSystem
Windows 10 Pro

Added following in sshd_config
[code]

What is failing
[code]
After adding the old key algorithms:
login failed:
starting sshd service

Expected output
start should work

[2018-04-06 15:05] evilC commented on #33
In order to get the "Optional Features" version working, I followed some guide which had told me to  enable Developer Mode, which it turns out installed some other Windows SSH server (Which used port 22), so unbeknownst to me, I was not even using OpenSSH.
So when I uninstalled the "Optional Features" OpenSSH, it did not actually change which OpenSSH server was getting used (Still the old one desi

[2018-04-06 15:24] manojampalam commented on #33
We want the installation steps as simple and portable as possible. The installation guidelines tell you to copy the Zipped payload to Program Files, but yes you can have them at any location, including downloads, if you wish - and it should doesn't impact security a bit. SSHD service when it starts ensures the binary folder has the right security permissions.

The installation instructions talk ab

[2018-04-06 15:52] zack-snyder opened #1125 "sshd.log is not created"
I installed openSSH now like described here:
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

However, I am missing the log file `sshd.log`

**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
Ubuntu 16.04 x64

**What is failing**
No login file is created.

**Expected output**
A valid file in: `C:\ProgramData\ssh\

[2018-04-06 15:53] zack-snyder commented on #1125
Here my config file from : `C:\ProgramData\ssh\`
[sshd_config.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1884675/sshd_config.txt)

[2018-04-06 23:00] charabaruk commented on #827
I've filed a feature request with GnuPG to support named pipes for ssh-agent on their side: https://dev.gnupg.org/T3883

[2018-04-07 06:08] ghost opened #1126 "Permission denied (publickey,keyboard-interactive)."
public key authentication doesn't work for me.
I added client public key to server's authorized key.
Can you plz  show me detail instruction?

[2018-04-07 15:37] gpoul commented on #827
Just to make sure this is linked here, as it might be interesting context...

https://lists.gnupg.org/pipermail/gnupg-devel/2017-April/032825.html
https://lists.gnupg.org/pipermail/gnupg-devel/2017-April/032829.html
https://lists.gnupg.org/pipermail/gnupg-devel/2017-May/032854.html

Wish you luck!

[2018-04-07 20:04] charabaruk commented on #827
It sounds like Werner doesn't want to accept named pipes, but Win32-OpenSSH switching away from them doesn't sound like it'll happen either. Shame that Windows didn't have AF_UNIX sockets from the get-go.

I wonder if it'd be feasible to turn on AF_UNIX support in the ssh client now that it's available since build 17063, and get it enabled in Windows builds of gpg-agent as well. If that could be d

[2018-04-08 16:22] ghost commented on #1122
I can't do like that

[2018-04-08 16:23] ghost commented on #1122
OpenSSH_6.6.1, OpenSSL 1.0.1f 6 Jan 2014
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: /etc/ssh/ssh_config line 19: Applying options for *
debug1: Connecting to 35.187.224.170 [35.187.224.170] port 22.
debug1: Connection established.
debug1: identity file Desktop/aa type -1
debug1: identity file Desktop/aa-cert type -1
debug1: Enabling compatibility mode for protocol 2.0
debug1: L

[2018-04-08 16:24] ghost commented on #1126
OpenSSH_6.6.1, OpenSSL 1.0.1f 6 Jan 2014
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: /etc/ssh/ssh_config line 19: Applying options for *
debug1: Connecting to 35.187.224.170 [35.187.224.170] port 22.
debug1: Connection established.
debug1: identity file Desktop/aa type -1
debug1: identity file Desktop/aa-cert type -1
debug1: Enabling compatibility mode for protocol 2.0
debug1: L

[2018-04-09 15:47] HSSupport opened #1127 "Pubkey auth failure(appears to succeed?)"
Please answer the following

**"OpenSSH for Windows" version**
7.6.0.0

**Server OperatingSystem**
Windows Server 2012 R2

**Client OperatingSystem**
Windows 10 64bit

**What is failing**
server appears to authenticate pubkey, then fails
**Expected output**
connection to term
**Actual output**
4288 2018-04-09 16:32:51.393 Connection from 192.168.99.X port 63721 on 192.168.99.X port 2358
4288 2018-

[2018-04-09 18:28] dwatley opened #1128 "LogFacility in EventLog documentation is incorrect"
https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities

**LogFacility** isn't a recognized option from sshd. Should be **SyslogFacility**. Also, the **Debug** channel never seems to be registered even though DEBUG3 is enabled in the sshd_config.

[2018-04-09 18:41] manojampalam commented on #1128
Fixed and added instructions to see debug logs in Event Viewer.

[2018-04-09 18:41] #1128 closed, assigned to nobody

[2018-04-09 18:42] manojampalam commented on #1125
Please use the latest version. Things have changed quite a bit since 0.0.18.0. Reopen if you still see any issues.

[2018-04-09 18:42] #1125 closed, assigned to nobody

[2018-04-09 18:44] manojampalam commented on #1123
Your understanding is not accurate. The user needs to have a valid account on the target - this is no different in Unix.

[2018-04-09 18:44] #1123 closed, assigned to nobody

[2018-04-09 18:45] manojampalam commented on #1124
Recommend, just downloading and trying out the new client (you don't need to install anything).

[2018-04-09 18:53] manojampalam commented on #1126
see https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples. Reopen if you see any issues.

[2018-04-09 18:53] #1126 closed, assigned to nobody

[2018-04-09 18:55] bagajjal commented on #1124
@zack-snyder - Looks like you are using windows optional feature. If yes then we support only ed25519.
Try using our github latest [release binaries](https://github.com/PowerShell/Win32-OpenSSH/releases)

[2018-04-09 18:55] manojampalam commented on #1127
You are hitting this - https://github.com/PowerShell/Win32-OpenSSH/issues/1098

This is fixed in latest release. Try it out.

[2018-04-09 18:55] #1127 closed, assigned to nobody

[2018-04-10 08:01] zack-snyder commented on #1125
@manojampalam
What do you mean with latest version? I have downloaded this version 4 day ago.
From here: https://github.com/PowerShell/Win32-OpenSSH/releases

[2018-04-10 08:07] zack-snyder commented on #1125
[code]

[2018-04-10 08:09] zack-snyder commented on #1124
Please reopen, there was an error getting the version information correctly (I just previously downloaded OpenSSH via windows feature installer) then downloaded from github latest release.
[code]

[2018-04-10 12:44] pldmgg opened #1129 "v7.6.1.0p1-Beta Console Experience Problems"
We start off like this in a CMD prompt...

    Microsoft Windows [Version 10.0.17133.1]
    (c) 2018 Microsoft Corporation. All rights reserved.

    C:\Users\pdadmin>set SSH_TERM_CONHOST_PARSER=0

    C:\Users\pdadmin>set SSH_TERM_CONHOST_PARSER
    SSH_TERM_CONHOST_PARSER=0

    C:\Users\pdadmin>

...Then we ssh...

    C:\Users\pdadmin>ssh zeroadmin@zero@win16zerows
    Windows PowerShell
    C

[2018-04-10 15:27] pldmgg commented on #1103
I hope it's not in poor taste, but I wanted to respectfully offer my PowerShell WinSSH Module that can satisfy this issue.

https://github.com/pldmgg/misc-powershell/blob/master/MyModules/WinSSH/WinSSH.psm1

I made a post on reddit a few weeks ago explaining the Module:

https://www.reddit.com/r/PowerShell/comments/87n5nk/install_opensshwin64_with_winssh_module/

Basically, after `Import-Module <P

[2018-04-10 16:26] Suncatcher commented on #1103
It's a very good taste! To make "getting things done" © 👍 Any possible way, even with the diabolical help.
Will report if I succeed with your module

[2018-04-10 17:39] manojampalam commented on #1125
Did you read the release notes ?

`Note:
New Logging facility added (ETW). Check out Logging Facilities for options to switch to file based logging.`

[2018-04-10 17:45] manojampalam commented on #1122
Get server side traces

[2018-04-10 17:52] manojampalam commented on #827
@coldacid your adapter in here
https://gist.github.com/coldacid/6e4e8306bcdc0a8954961454bc2558ee
most likely did not work, because you are using syncronous pipes. I'll try to write up a native exe in the next couple of days.

[2018-04-10 18:00] bagajjal commented on #1124
@zack-snyder - The version number mentioned in the issue description is 0.0.18.0. If you are using the GitHub version then you shouldn't hit this issue. Please note that the sshd_config location has changed to %programdata%\ssh\ starting from v1.0.0.0.

sshd.exe doesn't support "--version". FYI, [SSHD man page](https://www.freebsd.org/cgi/man.cgi?sshd(8))

Please try our [troubleshooting steps](ht

[2018-04-10 19:10] charabaruk commented on #827
@manojampalam I tried async as well, without any change in results. I just never updated the gist with it.

[2018-04-10 19:27] manojampalam commented on #307
@RichardScothern, not at all. We can take any changes that are well tested and don't contribute to any major deviations in core source code layout .

[2018-04-10 23:41] bingbing8 opened #1130 "ssh-add failed when the key file has windows new line ending "\r\n""
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
Any windows

**Client OperatingSystem**
Any windows

**What is failing**
ssh-add failed when the key

[2018-04-11 01:54] bingbing8 opened #1131 "OpenSSHBuildHelper.psm1 failed on win7 due to reference to unsupported cmd Expand-Archive"

[2018-04-11 02:19] DarwinJS commented on #1103
Some good code in there - I like how your check for admin rights is linux compatible.

I tested the universal installer on Powershell 2 / Windows 7, Nano server and under the SYSTEM account.

Were you able to test in these scenarios?

The code in the universal installer is quite ugly due to this breadth of successful run environments - but it works!

Docs: https://github.com/DarwinJS/ChocoPackages

[2018-04-11 05:55] Suncatcher commented on #1103
@pldmgg, I imported the module and got this while installing

    Untrusted repository
    You are installing the modules from an untrusted repository. If you trust this repository, change its
    InstallationPolicy value by running the Set-PSRepository cmdlet. Are you sure you want to install the modules from
    'PSGallery'?
    [Y] Yes  [A] Yes to All  [N] No  [L] No to All  [S] Suspend  [?] He

[2018-04-11 12:53] pldmgg commented on #1103
@Suncatcher
Thanks for providing the feedback. I definitely want to work with you to iron out these issues.

So, first thing is, I didn't intend for you to receive a prompt regarding adding the 'PSGallery' as a trusted repository. This popped up because of a dependency on the NTFSSecurity Module (for setting file permissions). I'll update Line 3609 and 3741 to add/trust the PSGallery before attemp

[2018-04-11 13:02] pldmgg commented on #1103
@DarwinJS

I definitely did not test under any of those conditions. I can almost guarantee it won't work on PowerShell 2, however, you could theoretically use my `Update-PowerShellCore` function on older machines to install PowerShell Core and then run `Install-WinSSH` using PowerShell Core. It should work (but of course, I haven't tested).

As far as Nano Server, I'm just getting to the point whe

[2018-04-11 23:20] ghost commented on #1053
According to https://github.com/PowerShell/Win32-OpenSSH/issues/253, the problem is that one needs to use `'domain\user'@server` if it's a domain account one is using to logon to `server`.

[2018-04-12 06:02] manojampalam commented on #827
@coldacid got an initial (oversimplified) version posted here https://github.com/manojampalam/ssh-agent-adapter
uds-2-np.exe exposes an Unix Domain Sockets agent over a named pipe. Running it should spit something like this:
`set SSH_AUTH_SOCK=\\.\pipe\usd-2-np-9036`
The other utility np-2-uds.exe, does the reverse and is added just to test the one above. I basically injected these 2 in conjunctio

[2018-04-12 08:29] zack-snyder commented on #1123
will the account not be created on demand?

[2018-04-12 08:45] Suncatcher commented on #1103
Yes, it did.

It returned false.

False
False
False.

What is wrong with my system? I am not completely got what are you doing in these lines, 'cause Powershell is not my forte. Are you checking if Open SSH was installed via Chocolatey?
I have no Chocolatey by now and want to avoid installing it.

[2018-04-12 10:46] NoMoreFood commented on #1119
@manojampalam I know you make this for tracking.  The better characterization of 'What was failing' would be "ln command without '-s' specified".  In the SFTP server 'ln' routes to link() to create hardlinks.  That's what this more recent commit addresses.  'ln -s' routes to 'symlink()' which has already been released.

[2018-04-12 12:29] pldmgg commented on #1103
We confirmed Chocolatey is *not* installed with:

    [bool]$(Get-Command choco -ErrorAction SilentlyContinue)

...which is perfectly fine. It's only necessary if installation via PowerShellGet/PackageManagement fails, and right now, we're trying to figure out why installation via PowerShellGet/PackageManagement isn't even being attempted.

I'm really not seeing where the breakdown in my logic is,

[2018-04-12 13:46] Suncatcher commented on #1103
I assume smth is defnitely wrong in the very root of the code. When I import the module with `Import-Module <PathToWinSSH.psm1>` I get

    WARNING: The names of some imported commands from the module 'WinSSH' include unapproved verbs that might make them less discoverable. To find the commands with unapproved verbs, run the Import-Module command again with the Verbose parameter. For a list of app

[2018-04-12 14:00] DarwinJS commented on #1103
This thread is getting long.  FYI - A dependency on package management means many valid deployment targets cannot use this code.

[2018-04-12 14:15] pldmgg commented on #1103
@Suncatcher
The `-GitHubInstall` parameter doesn't install git, it just downloads the latest OpenSSH release from https://github.com/PowerShell/Win32-OpenSSH/releases, moves the files to the correct location(s), sets permissions appropriately, and creates the ssh-agent service. I'm glad you had success with that parameter, and, practically speaking, this is probably the way you'll most often use t

[2018-04-12 15:31] charabaruk commented on #827
@manojampalam I can certainly take a look at the port and cookie stuff this evening.

[2018-04-12 17:53] bagajjal commented on #1123
No, the account will not be created on demand. This logic is inline with the UNIX.

[2018-04-12 18:04] grv87 commented on #444
schtasks under Windows 2008 SP2 don't have `/Run /I` argument. So I have `ERROR: Invalid argument/option - '/I'` during install.

[2018-04-12 18:09] manojampalam commented on #444
Note that since v1.0.0.0, to keep host keys secure - it is no longer required to register host keys with agent (this requires psexec).

With the privilege separation in place, the host keys can simply be ACLed SYSTEM and Administrators only.

[2018-04-12 18:11] bagajjal opened #1132 "Add testcase to validate link() functinoality."
link() support is added as part of https://github.com/PowerShell/openssh-portable/pull/297.
We need to add testcase to validate link() functionality.

[2018-04-12 23:01] NoMoreFood commented on #1132
@bagajjal You want me to take care of this?

[2018-04-12 23:08] bagajjal commented on #1132
sure, if you have free cycles.

[2018-04-12 23:57] bingbing8 commented on #482
@david-chaves, I still can't repro.  Are you able to repro it on [latest release](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.6.1.0p1-Beta)?

[2018-04-13 02:51] charabaruk commented on #827
@manojampalam I started work this evening to parse out the port and cookie info, but my C is pretty rusty and I still need to get the "socket" file name to pass to my new function. Tomorrow evening I'll continue on and see if I can't get all this to work.

By the way, with a deeper dive into gpg-agent, I found that it's not relying on Cygwin or MSYS at all, but rather its own libassuan library to

[2018-04-13 18:24] grv87 commented on #444
Maybe. But the call is still there in Chocolatey installation script.
I run it with:
[code]

[2018-04-13 22:17] DarwinJS commented on #444
I am updating the Chocolatey package for the latest release and have just removed this code.  Thanks for mentioning it.

[2018-04-14 02:44] charabaruk commented on #827
I've PR'd some work to parse out the port and cookie from the socket file and to send it across to gpg-agent, but uds-2-np seems to be getting stuck same as my gisted C# program even with my changes.

[2018-04-15 02:44] altano opened #1133 "Can't get ssh-agent working"
Please answer the following

**"OpenSSH for Windows" version**
7.6.0.0

Windows 10 Pro

**What is failing**
`C:\src> ssh-add C:\Users\alan\.ssh\ripper\ripper_id_rsa`

**Expected output**
*shrug*

**Actual output**

**Diagnostics**
I used procmon to discover that the failed file open operation is on a file called 'C:\tmp\ssh-DEhw9URW70Jz\agent.24500' which does NOT exist. In fact, the c:\tmp direct

[2018-04-15 14:39] DarwinJS opened #1134 "[xml] "Save" Method Does Not Work On Nano"
I added the ETW registration code to the chocolatey package, but it errors out on Nano saying it cannot find an override for method "Save" with 1 argument.

I played around with other ways to update the file, but could not get it to work cleanly.

As a workaround I have forced on file based logging on Nano in the Chocoatey package.

[2018-04-16 07:56] pboard opened #1135 "Support for Remote Scripted Commands via SSH"
Please answer the following

**"OpenSSH for Windows" version**
7.6.1

**Server OperatingSystem**
Windows Server 2012

**Client OperatingSystem**
Windows Server 2012

**What is failing**
OpenSSH is not executing remotely passed scripted commands. Using the Putty SSH client, the -m parameter, say with a file commands.txt to run, with Cygwin OpenSSH I can supply a list of commands to execute with the

[2018-04-16 23:51] charabaruk commented on #1133
I assume that `%SSH_AUTH_SOCK%` is set, and/or you're using a different ssh-add than the one that comes with Win32-OpenSSH. This port uses named pipes rather than files or sockets to communicate with ssh-agent, so anything that doesn't start with `\\.\pipe\` is suspect.

Make sure you're using the correct ssh-add.exe and that the `%SSH_AUTH_SOCK%` environment variable is unset, and it should work

[2018-04-17 05:32] altano commented on #1133
UPDATE: Oh, you said UNSET %SSH_AUTH_SOCK%. Yeah, that did the trick. I'll figure out what is setting it and take care of that. Thanks :)

I'm definitely using the ssh from this OpenSSH port:

[code]

But interestingly,

[code]

Which appears to be a valid path (in PowerShell) to `c:\tmp`, but still empty:

[code]

[2018-04-17 05:53] altano commented on #1133
Actually that appears to be a valid path (in PowerShell) to `c:\tmp`, but still empty:

[code]

[2018-04-17 07:37] russellseymour opened #1136 "SSH_AUTH_SOCK is not set when using SSH Agent"
**"OpenSSH for Windows" version**
7.6.1.0

**Client OperatingSystem**
Windows 10 Pro

**What is failing**

I have successfully got SSH Agent working to hold my private key so I am able to SSH into remote machines without the need to enter my password.

However I also use the same SSH key for my Git operations.
Each time I use `git push` it asks me for my password even though my key is in the agent

[2018-04-17 08:50] altano commented on #1133
It was coming from posh-git. There's an effort to separate out ssh from posh-git[0] which maybe will make the two play well together, but for now I just uninstalled posh-git.

[0] https://github.com/dahlbyk/posh-git/pull/526

[2018-04-17 10:29] RDCH106 commented on #1032
Hi!

I am using Win32-OpenSSH and have read this issue searching a solution to the process killing when the ssh connection is closed.

According to the release notes version [v7.6.0.0p1-Beta](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.6.0.0p1-Beta) let applications break away from ssh session. I am using version [v7.6.1.0p1-Beta ](https://github.com/PowerShell/Win32-OpenSSH/releas

[2018-04-17 10:43] HSSupport opened #1137 "Installation on Server 2012 Essentials - service fails to start"
Please answer the following

**"OpenSSH for Windows" version**
 7.6.1.0p1

**Server OperatingSystem**
Windows Server 2012 R2 Essentials

**What is failing**
installing SSHD - service fails to start

**Expected output**
service starts
**Actual output**
This was got from running via psexec as system,
___
c:\Program Files\OpenSSH-Win64>sshd.exe -dddd
debug2: load_server_config: filename __PROGRAMDATA

[2018-04-17 11:33] jborean93 commented on #1032
@RDCH106, we currently achieve this through some P/Invoke calls in PoweShell and call the [CreateProcess](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682425%28v=vs.85%29.aspx?f=255&MSPPError=-2147217396) Win32 API with a specific flag. This isn't something simple to do and requires a bit of code to achieve but the easiest way I know of to do this in PowerShell is to use WMI. Here is

[2018-04-17 12:00] HSSupport commented on #1137
i could just create a domain user "sshd" but i wouldn't be certain is was as secure as, say, getting the correct instructions on how to generate the account correctly.

[2018-04-17 14:19] RDCH106 commented on #1032
@jborean93  Thanks for your answer!

[2018-04-17 16:44] manojampalam commented on #1137
this account gets created (if it does not already exist) as part of sshd service start up.

Did you try
`net start sshd`

If you do want to create it manually you can do
net user sshd <randompassword> /add

[2018-04-17 16:48] manojampalam commented on #1136
ssh-agent on Windows, currently works a bit different than how it does on Unix.

Its implemented as a service and exposed on a named pipe. The name of this name pipe is static and all ssh binaries assume this static one, if SSH_AUTH_SOCK is not explicitly set.

Given your observations, it looks like Git on your machine is invoking a different version of ssh client. Double check what version of ssh

[2018-04-17 16:51] manojampalam commented on #1135
Can you explain how you would use Cygwin's OpenSSH in this case? how ssh command line looks?

[2018-04-17 17:22] bagajjal commented on #1136
This [link](https://github.com/PowerShell/Win32-OpenSSH/wiki/Setting-up-a-Git-server-on-Windows-using-Git-for-Windows-and-Win32_OpenSSH) should help.
You need client side changes to use our win32-openssh client.

[2018-04-17 18:18] HSSupport commented on #1137
I have this issue on 3 2012 r2 essentials servers, but I got this from net user add sshd

c:\Program Files\OpenSSH-Win64>net user sshd /add
The password does not meet the password policy requirements. Check the minimum password length, password complexity and
password history requirements.

Which is... OK but I thought Service users had no password?

[2018-04-17 18:25] bagajjal commented on #1137
Did you try
1) net stop sshd
2) net start sshd

[2018-04-17 18:47] HSSupport commented on #1137
Hi,

I did, here is the result
c:\Program Files\OpenSSH-Win64>Net start sshd
The sshd service is starting.
The sshd service could not be started.

A system error has occurred.

System error 1067 has occurred.

The process terminated unexpectedly.

Can a service user account have a password? What if the password expires?

Thanks

[2018-04-17 18:53] bagajjal commented on #1137
sshd service failed to start. To debug further try our [troubleshooting steps](https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps).
after psexec, try .\sshd.exe -ddd

[2018-04-17 19:02] HSSupport commented on #1137
Hi

The result of that is in the first post :)

Thanks

[2018-04-17 19:15] LozBoz63 opened #1138 "LsaSidNameMappingOperation_NonMappingError. any explanation?"
I'm trying an install on Windows 2012 R2 and I'm getting the following error on all connection attempts

3740 2018-04-17 19:38:32.085 debug1: inetd sockets after dupping: 3, 3
3740 2018-04-17 19:38:32.085 Connection from 26.96.111.250 port 54528 on 26.96.111.250 port 22
3740 2018-04-17 19:38:32.085 debug1: Client protocol version 2.0; client software version OpenSSH_for_Windows_7.6
3740 2018-04-17

[2018-04-17 19:21] bagajjal commented on #1138
Does sshd service run as SYSTEM?
If yes, try our [troubleshooting steps](https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps).

[2018-04-17 19:35] bagajjal commented on #1137
My bad, I missed it.

During [sshd service start](https://github.com/PowerShell/openssh-portable/blob/41e4e893762d3859b23163f814a64aadfaa996b1/contrib/win32/win32compat/wmain_sshd.c#L127), we create "sshd" user. This is a mandatory step as the base unix code requires "sshd" user.

To debug further, please try this private [sshd binary](https://github.com/PowerShell/Win32-OpenSSH/files/1921308/sshd

[2018-04-17 19:36] LozBoz63 commented on #1138
I was following some old install instructions and was running under an sshd account
Switching to system resolved instantly.
Thanks for the mistake and sorry for not spotting my mistake

[2018-04-17 19:36] #1138 closed, assigned to bagajjal

[2018-04-17 19:44] HSSupport commented on #1137
No worries, I'm grateful for the help!

c:\Program Files\OpenSSH-Win64>sshd.exe -dddd
debug2: load_server_config: filename __PROGRAMDATA__\\ssh/sshd_config
debug2: load_server_config: done config len = 175
debug2: parse_server_config: config __PROGRAMDATA__\\ssh/sshd_config len 175
debug3: __PROGRAMDATA__\\ssh/sshd_config:9 setting Port 2358
debug3: __PROGRAMDATA__\\ssh/sshd_config:24 setting LogL

[2018-04-17 19:55] bagajjal commented on #1137
Please retry this [updated private binary](https://github.com/PowerShell/Win32-OpenSSH/files/1921371/sshd-issue-create-sshd-user.zip).

Please try the same steps as above.
You will see two debug logs
1) starting the prerequisite setup
2) Failed to create user sshd, error: <error_number>

[2018-04-17 19:59] dwatley opened #1139 "Cannot build using any of the build instructions"
**What is failing**
Unable to build from source using Visual Studio.
https://github.com/PowerShell/Win32-OpenSSH/wiki/Building-using-VS-2015
https://github.com/PowerShell/Win32-OpenSSH/wiki/Building-OpenSSH-for-Windows-(using-LibreSSL-crypto)

Basically I've downloaded the tagged source, loaded the Visual Studio solution, and it doesn't work out of the box using the instructions on the Wiki as a r

[2018-04-17 20:08] HSSupport commented on #1137
Hi,
Am I doing something wrong?

c:\Program Files\OpenSSH-Win64>sshd.exe -dddd
debug2: load_server_config: filename __PROGRAMDATA__\\ssh/sshd_config
debug2: load_server_config: done config len = 175
debug2: parse_server_config: config __PROGRAMDATA__\\ssh/sshd_config len 175
debug3: __PROGRAMDATA__\\ssh/sshd_config:9 setting Port 2358
debug3: __PROGRAMDATA__\\ssh/sshd_config:24 setting LogLevel QU

[2018-04-17 20:09] HSSupport commented on #1137
And a check in ADUC shows no such user as sshd :)

[2018-04-17 20:11] bagajjal commented on #1139
@dwatley -
Did you try Start-OpenSSHBuild  command by importing OpenSSHBuildHelper.psm1 as mentioned [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Building-OpenSSH-for-Windows-(using-LibreSSL-crypto)).

FYI,  Start-OpenSSHBuild will download the LibreSSL from [latest release](https://github.com/PowerShell/LibreSSL/releases/tag/V2.6.4.1) and places the LibreSSL folder to this location $op

[2018-04-17 20:14] bagajjal commented on #1137
Are you sure, you are using my private sshd binary?

[2018-04-17 20:22] HSSupport commented on #1137
Hi

Yep I deleted sshd.exe, copied your one over (got asked for permission to move it into the folder) and ran sshd.exe -ddd

Same answer again :( sorry

[2018-04-17 21:53] dwatley commented on #1139
I did, which wasn't working. Copying the folder from the zip directly to `$openssh-portable\contrib\win32\openssh` as you noted and I'm able to build directly from VS now.

Log of failure from running the cmdlet here.

[code]

[2018-04-17 22:16] bagajjal commented on #1139
1) Looks like the file (C:\Users\dwatley\src\openssh-portable-7.6.1.0\contrib\win32\openssh\contrib\win32\openssh\OpenSSHReleasex64.log') is not writable from the powershell window. May be you need to run powershell in elevated window?

Add-Content : Could not find a part of the path
'C:\Users\dwatley\src\openssh-portable-7.6.1.0\contrib\win32\openssh\contrib\win32\openssh\OpenSSHReleasex64.log'.

[2018-04-17 22:21] bagajjal commented on #1137
@HSSupport - My apologies. I expected printf() to write log to the command prompt but it didn't.

To overcome let's add the "sshd" user from an elevated command prompt.
`net user /add sshd P@ssword_1`

[2018-04-17 22:44] HSSupport commented on #1137
Adding the user with password allowed the service to start successfully! Which is great, thank you very much!

Is it secure to create the user in this fashion with a password, for running the sshd service?

[2018-04-17 22:51] bagajjal commented on #1137
if "sshd" user doesn't expect, sshd service creates "sshd" user with random password. So if we are doing manually then we should also use random password so that no one else can use these credentials to login.

Now the problem is resolved, I would suggest to change the password to a random password.

FYI, sshd user is a non-admin user.

[2018-04-17 22:57] HSSupport commented on #1137
Hi,

I have changed the password to something very random, and have successfully uninstalled and installed ssh package and remote connected to it.
I suspect the random password generator you are using doesn't match up to the standard password policies for server 2012 essentials r2, perhaps complexity requirements?

Thank you for helping me resolve this issue. :)

[2018-04-17 23:02] dwatley commented on #1139
Well the fact that `contrib\win32` is in the path twice seems off, which might be the source of the issue. Elevation doesn't really make sense because it's within the user profile in the user context.

[2018-04-17 23:20] bagajjal commented on #1139
Looks like you have ".git" folder in "C:\Users\dwatley\src\openssh-portable-7.6.1.0\contrib\win32\openssh".
The logic to determine the OpenSSHRoot is [here](https://github.com/PowerShell/openssh-portable/blob/latestw_all/contrib/win32/openssh/OpenSSHCommonUtils.psm1#L13).
The build log path is determined like [this](https://github.com/PowerShell/openssh-portable/blob/41e4e893762d3859b23163f814a64a

[2018-04-17 23:56] pboard commented on #1135
So for Cygwin SSH, individual users can have custom shells, defined in /etc/passwd (currently the MS version seems to only support one global shell - another issue). So we can have some users on a Unix Bash Shell, others on a Windows Command shell.

Many years ago, there was a custom shell named "switch.exe" that was part of a Cygwin SSH package named CopSSH. This would execute a script passed to

[2018-04-18 00:05] dwatley commented on #1139
I actually have no ".git" folder (hidden or otherwise) anywhere in that path. Is it possible the logic is blowing up a bit because I did not clone the repo (thus no git in the path), but downloaded the source [zip](https://github.com/PowerShell/openssh-portable/archive/v7.6.1.0.zip) from the releases page?

[2018-04-18 08:31] emanuelsescu opened #1140 "client connects successfully, but running console mode apps doesn't produce any output"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**
I tried this section, but it didn't change anything

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
7.6.0.0
I tested with ssh client inside the package and also with putty.exe

[2018-04-18 09:30] emanuelsescu commented on #1140
Screenshots attached

what doesn't work:
![commandsthatdontwork](https://user-images.githubusercontent.com/38490652/38923927-51304b84-4304-11e8-999d-3c0aa71b2f5a.png)

what works:
![commandsthatwork](https://user-images.githubusercontent.com/38490652/38923928-514f1e92-4304-11e8-93e2-772b1baed126.png)

[2018-04-18 11:24] NoMoreFood commented on #1137
@HSSupport Do you happen to know if you have a custom password filter installed on your systems?  The password generator used should meet most all the default criteria (>= 14, 3/4 character types, etc).

[2018-04-18 11:28] HSSupport commented on #1137
Hi

no just the windows 2012 R2 essentials defaults (once connected to office 365) which i think are 8 chars, 3 char types.

its odd, because im sure i have a server 2016 and a server 2012 r2 with the same GPO's enabled, but this installs just fine. But on every single one of the Server 2012 R2 Essentials servers, i have had to do net user /add sshd **COMPLEXPASS**.

i mean its only 3 servers but

[2018-04-18 12:48] emanuelsescu commented on #1140
Update:

I tried configuring on another windows 10 machine. Everything works fine on the second machine.

I guess might be some configuration issue with the first machine.

[2018-04-18 12:48] #1140 closed, assigned to nobody

[2018-04-18 18:50] charabaruk commented on #827
@manojampalam have you had a chance to look at the work I PR'd to ssh-agent-adapter yet? Perhaps there's something I've overlooked that will make it work.

[2018-04-18 20:22] manojampalam commented on #827
Not yet @coldacid. Were you able to debug where its getting stuck? Was there any traffic in and out the adapter?

Can you point me to instructions to install and use gpg-agent on Windows?

[2018-04-18 21:28] charabaruk commented on #827
@manojampalam It gets stuck after sending the cookie to gpg-agent. `send()` returns the cookie length back, but after that nothing is sent back and nothing goes towards gpg-agent.

You can install Gpg4win through Chocolatey (package "gpg4win") or from https://www.gpg4win.org/ and then use the Kleopatra app that comes with it to turn on gpg-agent's SSH support. In Kleopatra you want to open Setting

[2018-04-19 04:10] pboard commented on #1122
it could be the file ownership on the userprofile\ .ssh\authorized_keys file - If you enable server side debugging in the sshd_config file in ProgramData\ssh (DEBUG3 for the debug level), you should find the reason why it is failing. That was my issue when testing key authentication

[2018-04-19 09:29] russellseymour commented on #1136
Thank you very much for this.

I set the GIT_SSH_COMMAND environment variable as the link states and everything started working :-).

[2018-04-19 09:29] #1136 closed, assigned to bagajjal

[2018-04-19 13:52] HSSupport commented on #780
Version 7.6.1.0p1
This issue seems to have come back when openssh is installed and running on a Server 2008 R2 (SBS 2011) machine. the Stop-Process workaround works fine, pressing enter works fine, but otherwise it doesnt actually finish.

i do wonder if this is because its running powershell v2.0. Server 2012 and Server 2016 dont have this issue.

thanks

[2018-04-19 22:08] manojampalam commented on #827
Ok. Installed gpg4win and started the agent, but unable to figure out where the socket file is written, SSH_AUTH_SOCK is not set either.

What am I missing?

[2018-04-19 23:59] charabaruk commented on #827
@manojampalam Sorry, I should have mentioned that the socket file should be `%APPDATA%\gnupg\S.gpg-agent.ssh`. At least on Windows, gpg-agent won't set environment variables.

[2018-04-20 06:23] manojampalam commented on #827
Investigated this, found an issue and fixed it in your fork (this was preventing the cookie from ever being sent). Now, the cookie gets sent, as well as the initial request to agent. But I don't see anything coming back from the agent socket.

Once you confirm that the authentication handshake is correct, we need a gpg-agent expert to tell us what's happening from the agent side.

[2018-04-20 15:56] charabaruk commented on #827
@manojampalam Thanks for the catch.

I think we might have the handshake working now based on output from gpg-agent when I run it manually (`gpg-agent -v --enable-ssh-support --enable-putty-support --homedir $(Join-Path $env:APPDATA gnupg) --daemon`) but it still just doesn't bother responding. I've asked Werner Koch (the GPG lead dev) about the handshake just to verify there's nothing else that n

[2018-04-20 18:45] bernardgut opened #1141 "scp from windows remote to linux local : "<file>: access denied""
**"OpenSSH for Windows" version**
v7.6.1.0p1-Beta

**Server OperatingSystem**
Windows 7 Professional

**Client OperatingSystem**
ubuntu 16.04

**What is failing**
unexpected behaviour when doing  `scp login@win-remote:test.txt .` when windows remote and linux local.
Note that `scp test.txt login@winremote:test.txt` works fine.
NOTE: using key auth. File permissions on win-remote temporarily set to

[2018-04-20 20:21] rkeithhill commented on #1007
But what about the case where a user installs/configures only the openssh client?  They need to use `ssh-keygen.exe -A` to gen a key for connections to other machines (notably Git servers) and that key will likely get passed to `ssh-add` if it has a passphrase.  That is where we are seeing this warning - `ssh-add $home\.ssh\id_rsa`.

[2018-04-20 20:25] bagajjal commented on #1007
I think you got confused.

ssh-keygen -A -> generates the host keys.
ssh-keygen -t -> generates the user keys, used for key-based authentication.

For the scenario mentioned above you don't need ssh-keygen -A

[2018-04-20 20:27] rkeithhill commented on #1007
Indeed.  Yes, this would be for user keys so `ssh-keygen -t`.  But wouldn't the same problem exist with ssh-keygen creating those keys with potentially wrong (ie default) permissions?

[2018-04-20 21:08] bagajjal commented on #1007
ssh-keygen -t - generates the keys with right permissions.

[2018-04-21 19:26] charabaruk commented on #827
It seems that we're doing the handshake properly with just sending over the cookie. However, it might be that since we don't send it along with whatever we read from the pipe on the first read, gpg-agent thinks we've EOF'd on a stream made from the socket and terminates the handler right away.

[2018-04-22 13:54] NoMoreFood commented on #1132
I put in a pull request for a unit test of link(): https://github.com/PowerShell/openssh-portable/pull/304

[2018-04-23 17:48] bingbing8 commented on #1134
@DarwinJS, what is the code for ETW registration? this line or something else?
[code]

[2018-04-23 20:03] bingbing8 commented on #1141
@bernardgut, does the user has write permission to your current folder? Are you able to copy a file from a different local folder to this folder on linux? Please see the following. if the current folder is ~ folder, the copying succeeded, but for /home which owned by root, the copy get access denied. if you run as root, the copy succeeded since it has write permission to the folder.
[code]

[2018-04-23 21:14] DarwinJS commented on #1134
Opps sorry @bingbing8  - it is this:

[code]
Right here: https://github.com/PowerShell/openssh-portable/blob/latestw_all/contrib/win32/openssh/install-sshd.ps1#L36

[2018-04-24 00:57] bingbing8 commented on #1134
@DarwinJS, the failures are due to the fact that XMLDocument.Save does not take path as parameter in .NET 1.0.  will fix it.

[2018-04-24 02:17] archiker commented on #190
Can't agree more - though limiting user access to specific directory is a luxury, the limitation to drive, eg., only to a non-system drive (eg., D:\) or mapped drive (eg., F:\ or G:\) would be much safer.

Opening R/W to system drive is risky to any user.

[2018-04-24 10:23] archiker opened #1142 "Authentication - Access denied always"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
PS C:\Program Files\OpenSSH-Win64> .\sshd -
unknown option -- v
OpenSSH_for_Windows_7.6p1, LibreSSL 2.6.4

**Server OperatingSys

[2018-04-24 17:02] manojampalam commented on #1142
That sounds scary. Are you changing sshd_config under %programdata%\ssh\ ? That's the default location where its picked up from.

[2018-04-24 17:34] bagajjal commented on #1142
Try https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2018-04-25 05:33] manojampalam commented on #827
@coldacid that doesn't sound logical. Even if we send the initial request bytes right after the cookie, they are not guaranteed to arrive together.

gpg-agent cannot assume that the stream has ended until read on the sock has returned 0. I more inclined to believe that we may be sending a EOF char at the end of cookie that gpg-agent might be misunderstanding. Can you double check?

[2018-04-25 09:15] archiker commented on #1142
Ah my wrong - i put the sshd_config in c:\program files\OpenSSH-Win64. Sorry.
And thanks @manojampalam .

The server is in domain. I used user name (m1234) without domain ("mgmt"), mgmt\m1234, mgmt/m1234 to login, m1234@mgmt - all failed.

I also modified sshd service to check "allow service to interact with desktop" according to https://github.com/PowerShell/Win32-OpenSSH/issues/964. Still same e

[2018-04-25 11:33] archiker commented on #553
Any luck to get this fixed/workaround?

I am using Win2k12 server within domain with sshd service, and SFTP login with password auth from Win7 WinSCP client. Same error as above: https://github.com/PowerShell/Win32-OpenSSH/issues/1142

Thanks.

[2018-04-25 17:25] bagajjal commented on #1142
@archiker - As per logs, you didn't provide domainname so it's expected.
debug3: NetUserGetInfo() failed with error: 2221 for user: m1234 and domain: (null)

You also mentioned, ssh "user@domain@ip" also didn't work? Please share sshd log for "ssh user@domain@ip". Please make sure you are running as system (execute "whoami" command) while you run sshd in debug mode (sshd.exe -ddd).
![image](https:

[2018-04-26 01:40] charabaruk commented on #827
@manojampalam I double-checked and there's nothing like an extra EOF character on the end of the cookie. We're sending the proper set of 16 bytes across.

From trolling through the gpg-agent code, it looks like it uses a function from libgpg-error `gpgrt_fdopen()` (through macro `es_fdopen`) to create an `estream_t` object from the socket connection. At this point, I reach the limitations of my C

[2018-04-26 04:51] manojampalam commented on #553
We have a fix in pipeline from @nomorefood.  This should be fixed in next release.

[2018-04-27 01:27] Cisien opened #1143 "Text rendering corrupted in Putty"
Please answer the following

**"OpenSSH for Windows" version**
7.6.1.0

**Server OperatingSystem**
Windows Server Datacenter (2016 1709)

**Client OperatingSystem**
Windows 10 17652
SSH Client: Putty 0.70

**What is failing**
Text rendering when the putty window is wider than default is incorrect when the line of text is wider than the default terminal width.
https://puu.sh/Ab8zo/ec03adf159.png
Ad

[2018-04-28 04:15] DreaJulca commented on #132
A PowerShell/CMD "chmod 600" equivalent would be a really convenient help if, just to pull a totally random and impersonal example out of the air, someone needed to give owner permissions of a private key to _NT AUTHORITY_ via PsExec while trying to use their desktop running Windows 10 Home as a personal server to give one or two fellow researchers access to to one's pre-existing GPU installation

[2018-04-28 20:04] NoMoreFood commented on #1137
@HSSupport If I provide you a modified sshd.exe binary that uses a different password creation algorithm, would you be willing to test it to see if it resolves your issue?

[2018-04-30 15:01] jhudsoncedaron commented on #132
I guess I'm used to the unix world bug where ssh doesn't actually check the full ACL but only the classic permissions; hence DreaJulca's scenario wouldn't have broken it.

[2018-05-02 03:49] riverar commented on #1109
It's also worth mentioning in some ncurses apps, like iftop, resizing completely hangs conhost and you have to kill it, as of 17134.

[2018-05-02 15:14] ghost commented on #1041
With the April update, this problem happens when a $env:DISPLAY environment variable is set in powershell.

Setting this variable will let the ssh refuse to connect if a remote host has not been added to ~/.ssh/known_hosts

[2018-05-02 16:13] electricduck commented on #1143
Have you tried updating the SSH server? At the time of writing, the latest version is `7.6.1.0`. `0.0.18.0` was released on Aug 29, 2017.

[2018-05-02 16:48] ericcurtin commented on #1053
Tried the suggested workarounds. Didn't seem to work for me, in the end I used cygwin openssh-server 7.7 which worked fine:

https://www.ibm.com/support/knowledgecenter/en/SSPLFC_7.2.2/com.ibm.taddm.doc_7.2.2/AdminGuide/t_cmdb_configcygwin.html

[2018-05-02 23:15] Cisien commented on #1143
The version I am running is indeed 7.6.1.0. The ((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion) command was using what was in my path, which was a previous install. The service is installed using the latest release, and is correctly referencing the sshd in program files.

[code]
apologies for the confusion.

[2018-05-03 05:08] manojampalam commented on #1119
@NoMoreFood I was just trying out this on the latest source. See the following
`sftp> ls -lrt`
`-rw-******    1 -        -             408 May  2 22:06 a`
`sftp> ln a link`
`sftp> ls -lrt`
`-rw-******    1 -        -             408 May  2 22:06 link`
`-rw-******    1 -        -             408 May  2 22:06 a`

Looks like `link` is a copy of `a`. Is this expected?

[2018-05-03 07:03] NoMoreFood commented on #1119
Yes, although not a copy -- they are pointers to the same data on the file system.

[2018-05-04 20:16] bingbing8 opened #1144 "TEST_RESOURCES in unit test signal_tests.c is disabled. Need to investigate to the failures"
Originally these lines was added by @NoMoreFood to detect resource leak after wait_for_multiple_objects. The before and after handle counts are randomly different on win2kr2 and win8. Below test code repro the behavior difference.
[TestCode.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1975791/TestCode.txt)

[2018-05-04 20:20] bingbing8 commented on #1144
@NoMoreFood , the behavior on win2kr2 and win8 are by design. It is not a bug.  The extra handle is parallel loader thread.
This explain why in our case:
1. 2 threads created and scheduled in different CPUs
2. Cpu 1 starts thread A
3. In the meantime Cpu 2 starts thread B
4. Cpu 1 acquires the loader lock. The wait is satisfied and the loader code continues its execution
5. In the meantime thread

[2018-05-04 23:02] NoMoreFood commented on #1144
@bingbing8  Yes, you can close the issue.  Thank you for the thorough write-up and the comparative analysis on why the behavior differs under Windows 10.  It would have taken me weeks muddling through assembly trying to figure that out.

[2018-05-05 00:03] #1144 closed, assigned to nobody

[2018-05-05 17:00] locez opened #1145 "ssh-agent.exe output nothing"
version :7.6.0
 Windows 10 Home

Problem: ssh-agent.exe output nothing,and I want to use gpg-agent to read smarcard.
`SSH_AUTH_SOCK` has been set correct.

[2018-05-06 03:31] archfrog opened #1146 "OpenSSH ignores the HOME environment variable"
**"OpenSSH for Windows" version**: 7.6.0.0?  (got nothing from sshd, so ran it against ssh)

**Server OperatingSystem**: Irrelevant

**Client OperatingSystem**: Windows 10 Home (Version 10.0.17134.1)

**What is failing**
The `ssh` command does not use the `HOME` environment variable.  I am using an encrypted VeraCrypt container for all my keys and stuff, and other versions of OpenSSH (such as the

[2018-05-06 05:28] manojampalam commented on #1145
See #827

[2018-05-07 09:05] jimcroft commented on #15
FWIW in line with the comment from @mgkuhn using GSSAPIKeyExchange with MIT Kerberos is as important as ActiveDirectory for my use cases.

[2018-05-08 08:07] archiker commented on #1142
Thanks @bagajjal looking into this issue. I used different combinations but still always failed:
- user@domain@<hostname (FQDN)>
- user@domain@<host IP>

Yes i did started the sshd as "system" (used "pexec -s cmd" to start shell with system).

Pls see attached log, including sshd log and WinSCP client log.

[m1234@domain@hostip.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1982872/m1234.d

[2018-05-08 11:43] archiker commented on #1142
Retried using Linux client "ssh m1234@<domain>@<host IP>" - same error (recursively prompt for password):

[2018-05-08 17:10] bagajjal commented on #1142
As per logs [Error 1212](https://msdn.microsoft.com/en-us/library/windows/desktop/ms681383(v=vs.85).aspx) is ERROR_INVALID_DOMAINNAME.

debug3: NetUserGetInfo() failed with error: 1722 for user: m1234 and domain: mgmt@10.54.171.9
DsGetDcNameW() failed with error: 1212
Invalid user m1234@mgmt@10.54.171.9 from 159.42.20.166 port 51996
debug3: mm_answer_pwnamallow: sending MONITOR_ANS_PWNAM: 0

Next

[2018-05-08 21:03] yf225 opened #1147 "New characters are changed to background color automatically in Vim"
**"OpenSSH for Windows" version**
7.6.1.0

**Server OperatingSystem**
 Windows Server 2012 R2 Standard

**Client OperatingSystem**
macOS High Sierra 10.13.3

**What is failing**
1. `export TERM=xterm`, then connect to Windows server with SSH
2. Open vim (https://github.com/vim/vim-win32-installer/releases/tag/v8.0.1803) from either `cmd` or `powershell`
3. Press `i` to enter insert mode, type char

[2018-05-09 02:47] yf225 commented on #1147
Update: setting Vim to take less than half of the terminal window height fixes the issue (e.g. for a terminal window with 52 lines total, I need to do `:set lines=25` in Vim to make the new characters show up properly. I suspect that this is a rendering issue with OpenSSH.

[2018-05-09 06:47] nkrepo commented on #590
@manojampalam , is there any progress implementing the pipe between sshd and ssh-shellhost?
Is that related to the to the introduction of the new VT api in Windows?
[https://github.com/Microsoft/console/issues/57](url)

[2018-05-09 08:10] jirijanata opened #1148 "Limit OpenSSH only to SFTP doesn't work - ForceCommand internal-sftp"
**"OpenSSH for Windows" version**
v7.6.1.0p1-Beta

**Server OperatingSystem**
Windows Server 2012 R2 Datacenter

**Client OperatingSystem**
Windows 8.1, WinSCP

**What is failing**
According to this article- https://www.digitalocean.com/community/tutorials/how-to-enable-sftp-without-shell-access-on-ubuntu-16-04 this command `ForceCommand internal-sftp` should dissallow SSH access and allows only S

[2018-05-09 10:47] archiker commented on #1142
Hi @bagajjal
Yes i already used the latest binary of v7.6.1.0p1-Beta.
The domain name and user was correct.

Btw, I also tried key auth per https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples. Same error:

[2018-05-09 13:48] jbruett commented on #1038
Seeing this same issue in v7.6.1.0p1-Beta.  I've uninstalled git for windows and posh-git (known conflicts), and installed openssh using the instructions in the repo (install-sshd.ps1 from 'c:\program files\openssh') and set both services to automatic and started them.  When I try and run ssh-add it fails with the following error:

[code]
I have no env vars that are populating any ssh defaults tha

[2018-05-09 17:09] bagajjal commented on #1142
Can try the full domain name (ssh user@mgmt.<xyz>.com@ip)..

[2018-05-09 18:18] bagajjal commented on #1148
If you specify "ForceCommand internal-sftp" in "%programdata%\ssh\sshd_config" file then it will only allow sftp connections.. When you try to do ssh/scp it will fail with error "error: This service allows sftp connections only" (in sshd.log / ETW log, depending on your configuration).

We have a [PR](https://github.com/PowerShell/openssh-portable/pull/308#issuecomment-387626846) inprogress for ch

[2018-05-09 21:51] kartiklunkad26 opened #1149 "Beta releases after 0.0.24.0"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
1.0.0.0-beta, v7.6.0.0p1-Beta, v7.6.1.0p1-Beta

**Question**

This is really a question regarding the beta tag for the last three releases. The 0.0.24.0 release is also considered non-production

[2018-05-10 01:37] yf225 commented on #1147
The Cygwin SSH server and vim handle it much better. Highly recommend it if anyone is facing the same issue.

[2018-05-10 03:01] charabaruk commented on #827
I've finally been able to build gpg under Debian on WSL, so hopefully by the weekend I can have better-instrumented libassuan and libgpg-error libraries and gpg-agent binary, and figure out just wtf is going wrong here.

[2018-05-10 04:27] archiker commented on #1142
Tried multiple combinations and all failed. Different failure reasons attached
[m1234_failures.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1990361/m1234_failures.txt)

Just curious:
1) https://stackoverflow.com/questions/3663571/netusergetinfo-netlocalgroupgetinfo-returning-error-1722 indicates a Unicode string param. Is this the case?
2) for sshd service, by default its property has "L

[2018-05-10 09:42] chmuri commented on #129
I don't have any logs @ %programdata%\ssh\logs even in LOG VERBOSE mode Windows 2012 R2

[2018-05-10 17:22] jirijanata commented on #1149
Hi,

usually are non-production (beta, alpha etc) versions numbered lower than 1 (with many exeptions like putty, etc). In the description is clearly written, that they wanted to synchronize future version number with OpenSSH numbering.

This project is quite new and not every single functionality from OpenSSH is working (for example chroot). Also there are some bugs, but on the other side is Open

[2018-05-10 17:54] jirijanata commented on #1148
Hi,

thank you very much for your answer. I'm attaching log and my config file. It looks, that ForceCommand is processing, but I'm still logged in and I'm not getting any deny message.
[sshd_testssh_domain.log](https://github.com/PowerShell/Win32-OpenSSH/files/1992680/sshd_testssh_domain.log)
[sshd_config.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1992707/sshd_config.txt)

Maybe some o

[2018-05-10 18:02] jirijanata opened #1150 "Wrong command in wiki"
In wiki is wrong command for logging:
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

There is
`LogFacility LOCAL0`
but it should be
`SyslogFacility LOCAL0`

With LogFacility service won't start. Thank you for correction.

[2018-05-10 18:29] bagajjal commented on #1148
hmm looks like there is a bug.. change username to all lowercase in match block
Match User testssh@doma.local
ForceCommand internal-sftp

[2018-05-10 18:32] bagajjal commented on #1150
Thanks for reporting.. I have updated the wiki.

[2018-05-10 18:32] #1150 closed, assigned to bagajjal

[2018-05-10 19:40] cbookg opened #1151 "TTY PTY issue in older version of Windows 10"
I'm getting strange TTY behavior when connecting ssh to a linux server:  The first characters of a line are lost, and I don't get the prompt displayed until after another line break is sent.  But I've noticed that I only see this issue on version 1151 of Windows, where as with a newer version it works well.

I've gone through the wiki here:
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-

[2018-05-10 20:13] bagajjal commented on #1151
Windows 10 conhost provides the support for parsing the ANSI buffer. [We determine](https://github.com/PowerShell/openssh-portable/blob/latestw_all/contrib/win32/win32compat/console.c#L118) this based on setting ENABLE_VIRTUAL_TERMINAL_PROCESSING  console mode. You can report console issues [here](https://github.com/Microsoft/console/issues/).

We don't support third-party terminal emulators. For

[2018-05-10 20:13] #1151 closed, assigned to bagajjal

[2018-05-11 00:40] dwatley commented on #1149
I believe this "beta" ship has sailed now that OpenSSH is enabled by default and shipped with the operating system.

[2018-05-11 00:48] bagajjal commented on #1149
All the GitHub releases will be called "beta".. Windows inbox is called "production ready".

[2018-05-11 00:56] bagajjal commented on #1149
All the GitHub releases will be called as "beta" as we wouldn't be support servicing (like upgrade to new release / applying patches).
Windows inbox is called as "production ready" and we will be support servicing.

[2018-05-11 04:35] manojampalam commented on #1149
@joeyaiello  for input.

[2018-05-11 06:00] #1132 closed, assigned to nobody

[2018-05-11 07:57] jirijanata commented on #1148
Thank you very much for your prompt response. I tested few variants:

**Domain User**
Username: `openssh@doma.local`
Config file: `Match User openssh@doma.local`
Status: `BUG - user is able to use ssh.`

Username: `openssh`
Config file: `Match User openssh@doma`
Status: `OK- user is not able to use ssh, but sftp works. This domain format is not standard - usually is used format DOMAIN\user or user

[2018-05-11 13:04] WSLUser commented on #1024
Any updates to this?

[2018-05-11 18:40] xenoscopic opened #1152 "SSH_ASKPASS command not passed prompt message"
**"OpenSSH for Windows" version**
7.6.0.0

**Server OperatingSystem**
macOS (or any)

**Client OperatingSystem**
Windows 10

**What is failing**
The `msg` parameter provided to the `ssh_askpass` function is not forwarded to the command specified by `SSH_ASKPASS`.  This parameter specifies a prompt that should be forwarded as a command line argument to the `SSH_ASKPASS`-specified command.  The logi

[2018-05-11 19:29] alexchandel commented on #129
Check your Program Files folder just in case. But I recall logging was disabled for some time at one point.

[2018-05-11 19:34] bagajjal commented on #129
starting from v7.6.1.0, ETW (instead of filebased logging) is the default logging. see [this](https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities)

[2018-05-11 20:29] manojampalam commented on #1152
Thanks for catching this. Fix would be to just replace this

char* spawn_argv[2];
spawn_argv[0] = askpass;
spawn_argv[1] = NULL;

with this

char* spawn_argv[3];
spawn_argv[0] = askpass;
spawn_argv[1] = msg;
spawn_argv[2] = NULL;

[2018-05-11 20:32] manojampalam commented on #1024
Related conversation in #827

[2018-05-11 20:40] manojampalam commented on #1142
@archiker, logic around user account resolution was modified significantly (in the right direction) by @nomorefood. Your issue should be fixed too as part of these changes. Recommend waiting for the next release that'll be out the coming week.

[2018-05-11 20:43] manojampalam commented on #1148
@jirijanata the confusion around domain name format will be fixed in the upcoming release. Going forward all domain identities should be of the form domain\name.

[2018-05-11 20:48] manojampalam commented on #590
I'll be looking into session refactoring soon and will be covering this. Thanks for your patience.

[2018-05-11 21:02] manojampalam commented on #190
FYI, we have changes in pipeline to support SFTP with chroot
https://github.com/PowerShell/openssh-portable/pull/308

[2018-05-11 21:04] manojampalam commented on #292
FYI, we have changes in pipeline to support SFTP with chroot
https://github.com/PowerShell/openssh-portable/pull/308

[2018-05-13 23:27] rtollert opened #1153 "Allow sshd to work unprivileged/uninstalled for regression testing"
Please answer the following

**"OpenSSH for Windows" version**
N/A

**Server OperatingSystem**
N/A

**Client OperatingSystem**
N/A

**What is failing**

Summary: sshd aborts on startup when run as a non-privileged user. While this is at least implicitly documented, it appears to be a major regression against upstream OpenSSH-Portable, which more or less explicitly fixed this use case in version 7.

[2018-05-14 01:34] archiker commented on #1142
Much appreciate @manojampalam. Looking forward to the next release.

[2018-05-15 07:43] phocean commented on #1053
Same issue here. Installation instruction also feels rather incomplete.

[2018-05-16 00:20] charabaruk commented on #827
Bad news, looks like the gpg4win building stuff doesn't actually build gpg but grabs a pre-built binary from the GPG website to wrap in the installer. So even with instrumenting the libraries we'd still get no further in figuring out what's happening in gpg-agent. :(

[2018-05-16 03:24] bingbing8 opened #1154 "openssh failed to build for onecore"
Repro:
Start-OpenSSHBuild -NativeHostArch x86 -Configuration Debug -OneCore
Those unsupported API LsaFreeMemory, LsaClose, LsaOpenPolicy, LsaLookupSids, and TranslateNameW are introduced by [commit](https://github.com/PowerShell/openssh-portable/commit/fe422e5c15dc6fa7f4e18d51a9f17f35afdd3b35)|
@NoMoreFood

[2018-05-16 05:44] manojampalam commented on #1153
This will be added soon. There will be one restriction though - incoming connections will be restricted to the (nonprivileged) user that sshd would run as. No other user can be authenticated and allowed in. .

[2018-05-16 13:59] CollinChaffin opened #1155 "OpenSSH is Incompatible with Docker for Windows"
My detailed write-up and video reproduction showing this incompatibility should more than answer the template questions including the versions.  As you will see this is a rather mysterious issue that is very easily reproduced involving specifically OpenSSH-Win32 and Docker.  It has been plaguing Docker users now for years and nobody (that I can find) ever could put their finger on the cause.  Yest

[2018-05-16 15:22] rtollert commented on #1153
Hooray! That is precisely what I was hoping for.

[2018-05-16 16:02] btolfa commented on #827
There is [wsl-ssh-pageant](https://github.com/benpye/wsl-ssh-pageant) which allows using Pageant (or gpg4win) from WSL. I reworked it to use named pipe instead of stdin and stdout for communication. https://github.com/btolfa/pipe-ssh-pageant

It allows me to use Windows 10 OpenSSH Client with GPG.

[2018-05-16 16:59] charabaruk commented on #827
@btolfa Right now let's not add Pageant to the mix.

[2018-05-16 17:40] manojampalam commented on #1155
Thanks for the comprehensive report.

[2018-05-16 22:04] bingbing8 opened #1156 "Buffer overflow in scp"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 7.6.0.1

**Server OperatingSystem**
win10
**Client OperatingSystem**
win10
**What is failing**
scp crashed
**Expected output**
no crash

**Actual output**
c:\windows\system32\openssh\scp.exe -v

[2018-05-17 07:32] btolfa commented on #827
@coldacid GnuPG already supports Pageant(putty) protocol (`enable-putty-support` option).

Also there is [npiperelay](https://github.com/NZSmartie/npiperelay) project. It allows you to access a Windows named pipe from WSL and supports `libassuan` windows sockets. But it doesn't create named pipe.

[2018-05-17 14:33] charabaruk commented on #827
@btolfa I'm aware that GnuPG supports Pageant, but we are here to support gpg-agent's regular SSH agent socket in the Windows OpenSSH client programs, with ssh-agent-adapter as (at least in my eyes) a side quest to figure out how to properly communicate through the socket provided by gpg-agent. The end goal here is to support libassuan-style sockets when `$SSH_AUTH_SOCK` is a file instead of a nam

[2018-05-17 15:26] manojampalam commented on #827
@coldacid would it help if you do a network sniff of what's being exchanged between a "working ssh client" and GPG agent ? and compare this to what ssh-agent-adapter is sending ?

[2018-05-17 15:40] charabaruk commented on #827
@manojampalam I reached out to Werner again about this and am waiting to hear back from him. As it is, gpg-agent doesn't appear to work with Cygwin and MSYS2 ssh clients these days based on testing asked for in the GnuPG Phabricator ticket. My money is on a libassuan bug being responsible, rather than anything in ssh-agent-adapter, which might also be why `enable-ssh-support` option for gpg-agent

[2018-05-17 16:01] manojampalam commented on #827
Its been ages since I did my last capture, but I would recommend wireshark. Perhaps, start from here - https://wiki.wireshark.org/CaptureSetup/Loopback

[2018-05-17 16:10] NoMoreFood commented on #1154
I am actually unfamiliar with OneCore.  Do you expect all components to build with OneCore or just the client components?

[2018-05-17 17:27] michaeltlombardi opened #1157 "Feature Request: SSH with Key Pairs in AD"
[code]

I'm not sure what an elegant way to manage this is but simplifying keypair management for SSH would be a huge deal for folks with big complex environments. It would also make key rotation much easier and lower friction.

[2018-05-17 20:31] nocentino commented on #1157
+1000

[2018-05-17 22:12] bagajjal commented on #1154
Yes, we expect all components to build with onecore.lib.

[2018-05-17 22:37] biao-w commented on #431
@bagajjal I am experiencing the same issue @alexchandel mentioned above. Basically VIM is unusable from a Mac->Win10 (1803) ssh session.

I did 'export TERM=xterm' before ssh. Default shell is powershell.
VIM version is: VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Apr 23 2017 19:48:19)

Perhaps you or someone can re- open this issue?

[2018-05-17 22:49] NoMoreFood commented on #1154
Lovely.  The Lsa* functions are fairly easy to eliminate but the code will be less efficient.  The functions that _are_ in OneCore library (e.g., LookupAccountSid) will end calling those Lsa* functions internally many times unnecessarily.  However, the code only gets called once on login and only when using group limiting so it shouldn't be too bad.  Eliminating TranslateNameW() will more complica

[2018-05-18 00:28] NoMoreFood commented on #1154
Just so I understand what the options area, what is the best publication for allowed OneCore APIs?  [This](https://msdn.microsoft.com/en-us/library/windows/desktop/mt657574(v=vs.85).aspx) page looks like it should be authoritative, but it doesn't list calls like LsaLogonUser which are know we are using in the code.

[2018-05-18 02:37] bingbing8 commented on #1154
@NoMoreFood, Thanks for your investigation, here is the follow up for LsaLogonUser from onecoresdk folks:
We prefer folks to use LogonUserExExW if possible (I.e., if they're writing new code or porting from the LogonUser or LogonUserEx APIs).  I suspect that's why it's not listed on the [MSDN page](https://msdn.microsoft.com/en-us/library/windows/desktop/mt657574(v=vs.85).aspx)

[2018-05-18 13:53] NoMoreFood commented on #1154
Alright.   Based on what is listed on the page, it doesn't look like there's much in the way of Active Directory APIs.  This might make sense since many smaller IoT devices probably aren't equipped with the bloat of the Active Directory libraries.  Since TranslateNameW() only comes into play on AD-based logons, I think it would just be appropriate to dynamically load the function pointer from secu

[2018-05-18 14:32] charabaruk commented on #827
Here's a capture of the conversation between ssh-agent-adapter and gpg-agent. Unfortunately as mentioned there doesn't seem to be any clients that can communicate to gpg-agent via its SSH sock functionality so I can't get a good session to compare against. However it looks like gpg-agent does get the SSH agent command after the cookie (at least the network stack sends an ACK for the packet with th

[2018-05-20 22:42] colemickens opened #1158 "Mouse Events Support"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
7.6.1.0

**Server OperatingSystem**
some random linux box

**Client OperatingSystem**
"Windows 10 Pro"

**What is failing**
mous

[2018-05-20 23:02] colemickens opened #1159 "Build instructions don't work"
[code]

From the logs, this is the failure:
[code]

Is that hard-coded to C:\? Is there an environment variable that's not being set properly? Is this still supported, or only building with VS?

[2018-05-21 00:48] rob-scheepens commented on #688
Hi @joeyaiello , now 1803 is out the door, is OpenSSH GA/Production Ready now? Or should we wait until 2019 (LTSC) releases?

[2018-05-21 02:09] bingbing8 commented on #1154
@NoMoreFood  can you briefly describe the scenario and I will ask sdk folks for suggestions or workaround?

[2018-05-21 02:15] bingbing8 commented on #1159
@colemickens , this is a known 'vs_BuildTools_2015'  installation issue no matter where you install from. Since vs_build 2017 include 2015 toolset, MS does not service the VS 2015 Build Tools.  Instead it is strongly suggested to use the VS 2017 Build Tools to acquire the 2015 (v140) compiler toolset.

Most likely your VCTargetsPath registration is missing after you install vs buildtool set for [H

[2018-05-21 04:15] colemickens commented on #1159
Thanks for the comprehensive answer. I'll take a look. Going to close for now, assuming it's an env issue. Cheers!

[2018-05-21 04:15] #1159 closed, assigned to nobody

[2018-05-21 09:32] archiker commented on #1142
Hi @manojampalam and @nomorefood - any chance to know when the next release will be available? Happy to test EAP if i can have. :)

[2018-05-21 12:59] Jookia opened #1160 "PowerShell progress bars mangle SSH sessions"
Likely related to #938

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

Did this.

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

7.6.1.0
I installed it using chocolatey

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Window

[2018-05-21 13:05] NoMoreFood commented on #1154
Addressed in new pull request:  https://github.com/PowerShell/openssh-portable/pull/311

I looked for other calls to LoadLibraryW() and it looks like a similar approach is being used for other functions that aren't in OneCore.

[2018-05-21 13:08] NoMoreFood commented on #1142
@manojampalam You alright with me providing @archiker a private build to valid his issues are addressed?

[2018-05-21 13:37] manojampalam commented on #1142
Sure

[2018-05-21 18:04] Drugoy opened #1161 "276"
https://github.com/PowerShell/Win32-OpenSSH/issues/276

[2018-05-21 19:22] bingbing8 commented on #1154
@NoMoreFood , I don't have confidence that load TranslateNameW() via LoadLibraryW works on onecore.
LoadLibraryW() works for LogonUserExExW because this API is in onecore.lib, but per [msdn page](https://msdn.microsoft.com/en-us/library/windows/desktop/bb540756(v=vs.85).aspx), This function is not declared in a public header and has no associated import library. You must use the LoadLibrary and Ge

[2018-05-22 11:16] JeremySkinner commented on #1133
For anyone who also comes across this issue who wants to use the ssh agent service that ships as part of the Win10 spring update and is using posh-git, a simple fix is just to delete the environment variables inside your profile after importing the posh-git module. Eg:

[code]

[2018-05-23 05:32] colemickens commented on #827
(Cross-linking the GPG issue, I didn't see it elsewhere: https://dev.gnupg.org/T3883 )

[2018-05-23 19:29] dwatley opened #1162 "sshd virtual users logon rights"
**"OpenSSH for Windows" version**
openssh-portable latestw_all 236b04b3

**Server OperatingSystem**
Windows 10 Professional

**Client OperatingSystem**
Windows 10 Professional

**What is failing**
Seems most recent changes in dev broke logons due to the sshd user that is generated not having permissions. @manojampalam

**Expected output**
Logon is processed as usual.

**Actual output**
Event Log E

[2018-05-23 22:37] NoMoreFood commented on #1162
I think this is all done in the generate_sshd_virtual_token() which was outside of my changes.  Looks like that code has been doing an interactive logon for quite awhile...

[2018-05-23 23:46] dwatley commented on #1162
Yeah it was a more recent commit. I rolled back to my commit at https://github.com/PowerShell/openssh-portable/commit/936b89ac0d645aae059bcb7e376e14bc276d852a, rebuilt and things are working again.

Iterated through the latest commits building/testing until it breaks. The breaking commit is the latest commit: https://github.com/PowerShell/openssh-portable/commit/236b04b335997e96e424b82ed0dcc707931

[2018-05-23 23:51] manojampalam commented on #1162
Thanks for reporting this. The changes in that last commit looks unrelated. I believe the fix is to grant interactive logon privilege before doing a LogonUserExEx. I'm following up.

[2018-05-24 04:32] manojampalam commented on #1162
I understand why has showed up with the latest change. Previously, for unprivileged token generation, we had fall back logic in case virtual token generation fails (i.e to use sshd account token). This was masking the original issue and was removed in the last commit.

@dwatley glad that you caught this early.

[2018-05-24 05:23] dwatley commented on #1162
@manojampalam Happy to help. I patched in your PR and it works for me.

[2018-05-24 18:44] DarkHack commented on #1063
Have an same :
bash-4.3# /usr/sbin/sshd -d -D -f /etc/darksrv/darkpass/default/darkpass_config
debug1: sshd version OpenSSH_6.7, OpenSSL 1.0.1t  3 May 2016
debug1: private host key: #0 type 1 RSA
debug1: private host key: #1 type 2 DSA
debug1: private host key: #2 type 3 ECDSA
debug1: private host key: #3 type 4 ED25519
debug1: rexec_argv[0]='/usr/sbin/sshd'
debug1: rexec_argv[1]='-d'
debug1: rexe

[2018-05-24 19:22] bagajjal commented on #1063
@DarkHack - as per logs, it looks like ssh client is closing the connection. It could be because there is no common protocol that both server, client can agree. share ssh client logs (ssh.exe -vvv user@ip).

[2018-05-24 20:54] tekknow commented on #139
@megahall Your solution did not work for me.  I RDP'd into the remote windows server (which has D: mapped to another remote server and can be seen in Explorer) and issued the reg add command.  The registry entry was added successfully.  Then I ssh'd into the same remote windows server and did a cd to /cygdrive, then ls.  No "d", only "c".

[2018-05-24 22:20] swills1 commented on #190
Anyone get this working? Doesn't seem to be fixed.

[code]

[2018-05-29 01:59] archiker commented on #1142
@manojampalam - sorry i didn't see notification on new release nor test release. May you send me via email archiker@hotmail.com if feasible? Thanks

[2018-05-29 02:14] NoMoreFood commented on #1142
@archiker It was me who was actually going to send you the intermediate build.  However, I'm waiting for one outstanding pull request by @manojampalam to get merged so we don't encounter a different issue.

[2018-05-29 02:17] NoMoreFood commented on #1139
@dwatley Based on your other thread, it looks like you're now actively building.  Is this still an issue?

[2018-05-29 14:48] dwatley commented on #1162
@manojampalam - eta on next release?

[2018-05-29 20:27] bingbing8 commented on #1162
@dwatley, expect upcoming release this week

[2018-05-30 01:16] NoMoreFood commented on #1142
@archiker Please try these. Extract and overwrite your binaries.
[ssh-testbinaries.zip](https://github.com/PowerShell/Win32-OpenSSH/files/2051976/ssh-testbinaries.zip)

[2018-05-30 02:05] manojampalam commented on #903
Non-PTY logic is now completed removed from shellhost.

[2018-05-30 05:25] #903 closed, assigned to bagajjal

[2018-05-30 05:26] #553 closed, assigned to nobody

[2018-05-30 05:26] #292 closed, assigned to nobody

[2018-05-30 05:26] #190 closed, assigned to nobody

[2018-05-30 05:26] #1153 closed, assigned to nobody

[2018-05-30 05:26] #1130 closed, assigned to bingbing8

[2018-05-30 05:26] #1075 closed, assigned to nobody

[2018-05-30 05:27] #1119 closed, assigned to nobody

[2018-05-30 05:27] #1162 closed, assigned to nobody

[2018-05-30 05:27] #1013 closed, assigned to nobody

[2018-05-30 05:27] #1121 closed, assigned to nobody

[2018-05-30 05:32] dwatley commented on #1139
I was able to build, but I believe I had to futz around with things beyond the instructions. I'll confirm from scratch.

[2018-05-30 05:42] dwatley commented on #1149
I realize @bagajjal had some input on this, but maybe we're waiting on Joey's response here. I think there's some nuance to "supported" and "beta" considering from what I can tell tagged builds here are actually shipped eventually presumably without additional code changes (1803?). The cadence of that is not exactly clear. A more thorough position on this topic would certainly be appreciated.

[2018-05-30 05:54] #1156 closed, assigned to bingbing8

[2018-05-30 05:55] #1154 closed, assigned to nobody

[2018-05-30 05:56] #1134 closed, assigned to nobody

[2018-05-30 06:08] bingbing8 commented on #1070
@xiaohh2016, can you try the latest release? We have both binary and script files digital signed.

[2018-05-30 17:25] joeyaiello commented on #1149
@dwatley: we definitely could have done a better on messaging the versioning (and we owe you a doc topic for sure on our support structure, what GitHub builds mean, etc.)

At a high-level: what ships *in* Windows is supported, and what ships on GitHub is *not* supported.

My understanding is that once we went from `0.0.n.0` releases (which are inherently "pre-release" in that they're pre-1.0) to t

[2018-05-30 18:25] NoMoreFood commented on #1137
@HSSupport Bump.  Did you see my last post?

[2018-05-30 18:34] NoMoreFood commented on #1157
@michaeltlombardi There seems to be a strong focus right now on core SSH functionality vice Windows-only enhancements so I'm not sure how much traction this will get right now.  That said, can you develop this idea more.  In what AD attribute would it be stored?  Something new?  Would SSH keygen be expected to upload the public key?

[2018-05-30 19:02] DarwinJS commented on #1157
You could actually do this yourself with a little helper for pulling a key out of a registry key and into the keys file.
The challenge will probably be that they keys should not be stored in AD without some type of encryption or someone with rights to AD could use other's credentials.
Also, if you're not careful that data could be replicated to any LDAP sync'ed data stores that point at a company'

[2018-05-30 19:39] dwatley commented on #1149
@joeyaiello: No, no requirements on that front. I think the support position is relatively clear. Shipped with Windows is supported, GitHub is not. To my understanding, and I imagine your doc will cover this, is that "supported" implies Microsoft's support agreements. I just take some issue with calling something "beta" and explicitly marked "unsuitable for production use" when the binaries are id

[2018-05-30 20:00] gabest11 opened #1163 "Reverse tunnel problems"
Server: Windows Server 2012 R2 Standard, OpenSSH_for_Windows_7.6p1, LibreSSL 2.6.4
Client: OpenWRT 17.01.4, Dropbear SSH client v2017.75

I setup a reverse tunnel from a router running OpenWRT behind a 3G mobile connection. It works for a while, but the server randomly spawns multiple sshd child processes and it won't let me connect until I forcefully terminate the old ones. According to the log,

[2018-05-31 00:14] michaeltlombardi commented on #1157
@NoMoreFood with the caveat that I'm not very qualified and I certainly haven't thought through the security concerns very deeply at all....

My initial thought was to store the public key(s) for an account as a new property of the user in AD, something like `ValidPublicKeys` and for an AD-joined machine to have the option to try a lookup for that user against said property if the key doesn't exis

[2018-05-31 12:04] DomDupuis commented on #96
+1  (Kerberos is a must)

[2018-05-31 12:15] gabest11 commented on #1163
More info. Tested the server on a FreeBSD machine. Almost the same thing, just there are no stuck processes, because the ports are already in use. Also, there are no ServerAlive* options for dropbear (cut down, minimal implementation of ssh), this is probably why the idle connection is being dropped by a router along the path after 10 min. Setting ClientAlive* on the server seems to be a good solu

[2018-05-31 14:54] swills1 commented on #190
So this is fixed?

[2018-05-31 15:00] tecfu commented on #1110
Had same issue. Was a permissions error. Must always install as administrator. Right click powershell and "Run as Administrator" during install.

[2018-05-31 15:02] tecfu commented on #1027
Same problem. Emphasis on this issue in the installation docs recommended.

[2018-05-31 16:41] manojampalam commented on #1027
Sorry about that. I've added a reference to this thread in the troubleshooting page. https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2018-05-31 17:22] ekoranyi opened #1164 "[Regression] v7.7.0.0 - scp and sftp won't work if OpenSSH is installed in "Program Files""
Please answer the following

Server OperatingSystem**
Windows Server 2016 Standard
SSH-2.0-OpenSSH_for_Windows_7.7

**What is failing**
Execution of sftp-server.exe using unquoted file path resulting in failure.
**Expected output**
Executing command: "C:\\Windows\\system32\\cmd.exe" /c "C:\\Program Files\\OpenSSH-Win64\\sftp-server.exe"
**Actual output**
Executing command: "C:\\Windows\\system32\\

[2018-05-31 17:38] manojampalam commented on #190
Yes, just tried this with v7.7.0.0, it works

Match User test
    ChrootDirectory c:\temp
    # Disable tunneling, authentication agent, TCP and X11 forwarding.
    PermitTunnel no
    AllowAgentForwarding no
    AllowTcpForwarding no
    X11Forwarding no

See https://github.com/PowerShell/Win32-OpenSSH/wiki/sshd_config for Windows specific rules

[2018-05-31 17:45] dwatley commented on #1055
@manojampalam / @NoMoreFood - Just re-iterating that the above all works with the TrustedUserCAKeys config option. Using the principals file, and/or signing with multiple principals. The format has changed to NetBios\SamAccountName based on the referenced issue. Thanks for all the work!

[2018-05-31 17:45] #1055 closed, assigned to nobody

[2018-05-31 17:48] dwatley commented on #1061
@manojampalam / @NoMoreFood - Based on the last change, identities resolve as quickly as expected now using several types of logins.

[2018-05-31 17:48] #1061 closed, assigned to nobody

[2018-05-31 17:51] manojampalam commented on #1061
thanks @dwatley. All credit goes to @nomorefood.

[2018-05-31 19:05] manojampalam commented on #1163
What release of OpenSSH_for_Windows_7.6p1 are you using? We had an issue with leaking processes in the initial version. Can you try the latest version?

[2018-05-31 19:06] manojampalam commented on #276
@bagajjal  is this expected?

[2018-05-31 19:06] manojampalam commented on #1161
Reopened 276

[2018-05-31 19:06] #1161 closed, assigned to nobody

[2018-05-31 19:15] bagajjal commented on #276
@Drugoy - Please try the latest version.

[2018-05-31 19:29] manojampalam commented on #1148
@jirijanata please look into https://github.com/PowerShell/Win32-OpenSSH/wiki/sshd_config for configuration rules

Let us know if you see any issues

[2018-05-31 19:29] #1148 closed, assigned to bagajjal

[2018-05-31 19:50] hugginsa opened #1165 "[Regression] v7.7.0.0 - SCP fails when using bash as alternative shell"
**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
7.7.0.0

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
Windows 8 Pro

**What is failing**
When server uses either Cygwin bash or Git for Windows bash as the alternative shell, scp does not execute. M

[2018-05-31 21:29] gabest11 commented on #1163
Looks to be alright with the latest version (7.7), but I bumped into another one.

In win32_usertoken_utils.c, TranslateName fails to convert domain\name to name@domain, because on the server ONLY "User logon name (pre-Windows 2000)" was filled in. As soon as I corrected it in the circled part, public key authentication started working again.

![untitled](https://user-images.githubusercontent.com/

[2018-05-31 21:30] gabest11 commented on #1163
It was my mistake, but the log file could be more helpful!

[2018-06-01 11:56] jhiswin opened #1166 "installation instructions lacking critical information"
sftp requires cmd.exe with /c set as shell

[Install Win32 OpenSSH](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH)

Still lists "Program Files" with https://github.com/PowerShell/Win32-OpenSSH/issues/1164
sftp and tunneling don't work out of the box.  Even with the registry patch setting shell to powershell, switching to internal-sftp.
chocolatey package doesn't work.

Thi

[2018-06-01 13:43] hugginsa commented on #1166
@jhiswin - How did you switch to internal-sftp? My impression from the docs was that it required sftp-only configuration, but I still need ssh. Can you share part of your sshd_config?

[2018-06-01 13:44] hugginsa commented on #1166
The sftp and tunneling issue may relate to #1165

[2018-06-01 16:15] jirijanata opened #1167 "Domain Users group is not found by AllowGroups (all others works fine)"
**"OpenSSH for Windows" version**
v7.7.0.0p1-Beta

**Server OperatingSystem**
Windows Server 2012 R2 Datacenter

**Client OperatingSystem**
Windows 10, WinSCP

**What is failing**
I've user **testssh**. This user is domain user and is member of only one group **Domain Users**. If I put `AllowGroups "doma\domain users"` into the config, user is not able to log in. There is some problem with getting

[2018-06-01 17:39] manojampalam commented on #1167
@nomorefood for any insight

[2018-06-01 17:41] NoMoreFood commented on #1167
@manojampalam @bagajjal You may remember my commentary on this topic in the pull request which I have copy/pasted below.

My preference is stop filtering out this SID altogether and eliminate the no group membership tests from AppVeyor.

@jirijanata Were you just using 'Domain Users' for a simple test?  Is there a practical reason such a broad group would ever be used?

[2018-06-01 18:19] manojampalam commented on #1167
Yeah, hence added you. I don't see a difference between

AllowGroups "doma\domain users"
and
AllowUsers "doma\\*"

Am I right?

And yes, if the tests are the only practical concern, we can as well get rid of this filtering.

[2018-06-01 20:31] NoMoreFood commented on #1167
Yes, that would pretty much accomplish the same intended effect.

I'll put in a pull request to remove that filtering and the corresponding tests.

[2018-06-01 21:36] Drugoy commented on #276
@bagajjal - Please share the link to the binary of the latest version.

[2018-06-01 21:39] bagajjal commented on #276
Follow this https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2018-06-01 21:46] Drugoy commented on #276
Thanks, the issue is fixed!

[2018-06-01 21:46] #276 closed, assigned to bagajjal

[2018-06-02 06:16] jirijanata commented on #1167
Hi, thank you for quick reaction :) It was just test. I do not see any practical reason for using **Domain Users** group. I was just a little bit confused..

The information about not showing **Domain Users** group in `whoami /groups` command is also new for me.

If you can't easilly fix it (because of using `whoami /groups`) I suggest you to mention this behavior in Wiki :)

[2018-06-02 06:34] jirijanata opened #1168 "Service restart doesn't terminate existing sessions"
**"OpenSSH for Windows" version**
v7.7.0.0p1-Beta

**Server OperatingSystem**
Windows Server 2012 R2 Datacenter

**Client OperatingSystem**
Windows 10, Putty, WinSCP

**What is failing**
If I stop sshd service, all existing sessions are still running. Usually, if some service is restarted (for example Remote Desktop), all users are disconnected.

Before `netsh stop sshd` - sshd.exe is child proces

[2018-06-02 06:35] manojampalam commented on #1168
This is by design, similar to how it works on Unix.

[2018-06-02 06:43] jirijanata commented on #1168
Thank you for your quick reply. I thought that it's by design. I'm using mostly Windows based systems, so for me it was not expected behavior.

But from my point of view is easily understood, that cross-platform software should work same on all platforms.

[2018-06-02 06:43] #1168 closed, assigned to nobody

[2018-06-02 09:15] gabest11 commented on #1163
All fine after a couple of days with 7.7.

[2018-06-02 09:15] #1163 closed, assigned to nobody

[2018-06-02 10:39] NoMoreFood commented on #1167
@manojampalam [Pull request](https://github.com/PowerShell/openssh-portable/pull/316) is in.  @jirijanata Should be addressed in the next version.

[2018-06-02 11:02] jirijanata commented on #1167
Awesome :) I'll test it with new release. Thank you very much.

[2018-06-02 11:06] jirijanata commented on #1148
It works as expected. Thank you very much.

Can you edit **Not supported** commands in [wiki](https://github.com/PowerShell/Win32-OpenSSH/wiki/sshd_config) - there are still listed commands this commands, which works in 7.7.0.0p1 - `ChrootDirectory`, `DenyGroups`, `DenyUsers`.

[2018-06-02 14:39] manojampalam commented on #1148
Thanks. Fixed wiki.

[2018-06-02 22:27] dpokrovsky opened #1169 "Non-English (i.e. Cyrillic) characters cannot be input via console"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**
Done
**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command **ssh**).Source).VersionInfo.FileVersion)`
 0.0.18.0
**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name Pro

[2018-06-02 22:29] davclark commented on #1133
I just came to this issue after a fresh install (last night) of Win 10 Edu 1803. I don't have either SSH_AGENT_PID or SSH_AUTH_SOCK set, but still get:

[code]

or

[code]

Note that the SSH client was also NOT installed by default, and after installation didn't show up in my path right away (though seems to have done so eventually?).

EDIT: nevermind, worked this time when I ran in an administrat

[2018-06-04 03:52] archiker commented on #1142
Thanks a lot @NoMoreFood !
Tried with new version (extracted zip and overwrote to installed bin director C:\Program Files\OpenSSH-Win64).

1) only user@domain, without hostname/IP behind
It progressed with authentication and failed differently. WinSCP prompted "Cannot initialize SFTP protocol. Is the host running an SFTP server?"
The debug output at server side is attached. [new-m1234@domain.txt](

[2018-06-04 05:53] jhiswin commented on #1166
I've solved it myself, but this should be listed somewhere prominent.  Doesn't help that I can't access the wiki to add it myself.

[2018-06-04 05:53] #1166 closed, assigned to nobody

[2018-06-04 07:10] Yorlereiyo opened #1170 "v7.7.0.0 - SFTP Connection closed on Windows Server 2008"
**"OpenSSH for Windows" version**
7.7.0.0

**Server OperatingSystem**
Windows Server 2008 R2 Standard

**Client OperatingSystem**
Tried on itself, Linux, WinSCP

**What is failing**
SFTP Connection closed
Downgrade to 1.0.0.0 can fix that

**Expected output**
SFTP connect successfully

**Actual output**
C:\Program Files\OpenSSH>sftp 127.0.0.1
The authenticity of host '127.0.0.1 (127.0.0.1)' can't