[2019-10-01 17:42] JimJingNeocis commented on #1471
I don't think so. My username is a four alphabet letters word. And the pc name is username-PC. Other than the PC is installed completely offline, there is nothing special that I can think of. Is there a way for me to get more information about which parameter is invalid and what its value is?

[2019-10-01 19:06] Charlweed commented on #1451
Also, choco fails to install vcbuildtools when VS 2015 is installed
[chocolatey.log](https://github.com/PowerShell/Win32-OpenSSH/files/3678071/chocolatey.log)
The '/S' option in the choco installation package hides the display that "visualcppbuildtools_full.exe" aborts when VisualStudio 15 is already installed.

[2019-10-02 02:15] imaxhung commented on #1469
More test to prove that this should be a service-side problem.
Both places display all files normally in winscp.
![20191002100707](https://user-images.githubusercontent.com/13298913/66013351-71e1e800-e4fd-11e9-8610-05a2d678a230.jpg)

[2019-10-02 08:23] sureshkotapydev opened #1473 "Channel.invoke_shell() failed with latest version of Openssh"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `8.0.0.0`

**Server OperatingSystem**
 `Windows Server 2016 Standard Evaluation`

**Client OperatingSystem**
`

[2019-10-02 09:34] NoMoreFood commented on #1469
So you're probably right about the service-side aspect if WinSCP exhibits the issue.  I'm still trying to reproduce this from the same-named local directory.  Can you double check that you are running the newest version of the server as well (sshd.exe and sftp-server.exe)?

@manojampalam Unrelated to this issue but for your awareness, the 8.0 binaries have a reference to 7.9 in them:

![image](htt

[2019-10-02 09:54] imaxhung commented on #1469
I'm running the newest version(downloaded from releases here). Even tested all releases.
Start with the version v7.7.1.0p1-Beta, sshd can be started properly for me.

[2019-10-02 19:04] frozn opened #1474 "SFTP doesn't return "." and ".." folder"
**"OpenSSH for Windows" version**
 `8.0.0.0` (v8.0.0.0p1-Beta)

**Server OperatingSystem**
 `Windows 10 Home`

**Client OperatingSystem**
 `Windows 10 Home`

**What is failing**
If connected over SFTP to the Win32-OpenSSH-Server, the folder doesn't contain the "." and ".." folder.

**Expected output**
[code]

**Actual output**
[code]

Example if connected to OpenSSH-Server on a debian 10 system:
[

[2019-10-03 07:17] Captain-K opened #1475 "sftp -b option including non ascii code path cause error"
**Troubleshooting steps**
open cmd
cd C:\Users\hoge
$ sftp -i foo.pem -b [full-path including non ascii code] fuga@xxx.xxx.xxx.xxx

*foo.pem is under C:\Users\hoge

**"OpenSSH for Windows" version**
v8.0.0.0p1-Beta

**What is failing**
No such file or directory (C:\\Users\\hoge\\343\203\206\343\202\271\343\203\210\\test.txt).

[2019-10-03 09:48] NoMoreFood commented on #1475
Can't seem to reproduce this.  Can you verify that sftp.exe is actually coming form the appropriate location?  It's not uncommon for other utilities to install it and put it in the path.

![image](https://user-images.githubusercontent.com/12881023/66116769-53cdc380-e5a1-11e9-9c05-121dc56ac92e.png)

[2019-10-03 17:49] ajrock commented on #1234
Sorry to reanimate a dead thread, but just wanted to chime in that this solution works even for this failure in Oct 2019, thank you very much!

[2019-10-04 01:26] Captain-K commented on #1475
thanx for replying

can you 'get' also as well as 'put' ?
`sftp> get △△△△.txt`

in my env, error occured
[code]

[2019-10-04 06:16] imaxhung commented on #1469
I've turned to use  freeSSHd. It works fine for me.
Thank you for your attention. @NoMoreFood
![20191004141127](https://user-images.githubusercontent.com/13298913/66185287-7f3fd380-e6b1-11e9-9c33-495cd9871c36.png)

[2019-10-04 06:16] #1469 closed, assigned to nobody

[2019-10-04 09:41] shishelmishel commented on #1237
@doggy8088, i have a same problem after install PowerShell as a default shell, it is not work :(
I have trying different shells and /usr/bin/bash.exe from "git for Windows" packet works fine!
 Hope it helps someone

[2019-10-06 07:41] heaths commented on #898
I get this when trying to follow instructions at https://devblogs.microsoft.com/powershell/using-the-openssh-beta-in-windows-10-fall-creators-update-and-windows-server-1709/ for the C:\PRogramData\ssh\ssh_host_ed25519_key and the service will not start. I've run the Repair-Ssh* cmdlets numerous times. I can add my personal keys but not the host keys.

[2019-10-06 09:09] JW0914 commented on #898
@heaths Please open new issues instead of replying to an issue that doesn't cover your issue.

Specific to your reply, please utilize the instructions in the [GitHub wiki](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH) and _DO NOT_ install OpenSSH via Add Features _(why it still exists there is baffling)_.

[2019-10-06 19:52] heaths opened #1476 "get_passwd: LookupAccountName() failed: 1332."
**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 7.7.2.2

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`
Windows 10 Enterprise

**Client OperatingSystem**
Windows 10 build 1903

**What is failing**
I cannot ssh into my machine. I've set this up before, but thi

[2019-10-07 04:37] heaths commented on #1476
To add, this same setup and ACLs (different SIDs, obviously, but "same" accounts) works on my other laptop that also does not belong to a domain, though it's not AAD-joined either (personal machine with only an associated MSA).

[2019-10-08 01:09] cwg999 commented on #1088
For readability, issue was resolved from #966

Option 1:

Option 2: (Not recommended)

[2019-10-08 01:28] NoMoreFood commented on #1476
Can you try the latest version and provide the debug DEBUG3 logs for those?

[2019-10-08 01:35] psz2036 commented on #1088
Sorry but unsetting DISPLAY is not a solution: you do need DISPLAY for X11 windows
(e.g. with Xming, or morr directly for the ssh options -X or -Y to make sense).

[2019-10-08 01:36] psz2036 commented on #1088
(Can someone re-open this, please... or tell me how to do?)

[2019-10-08 01:42] psz2036 commented on #996
I think the above mention of #1088 does not belong here... but is for #966 (which should NOT be closed).

[2019-10-08 01:44] psz2036 commented on #966
See also #1088 (where the same workaround is mentioned).

[2019-10-08 01:52] psz2036 commented on #1088
Seems that the comment of cwg999 should have been about #966 (not 996).
There (in #966) the issue is "resolved": was a bug, now corrected in sources...
so it will eventually make its way into the binary shipped with Windows10. Until
then, use the \dev\tty workaround (that is mentioned in #966, and independently
re-discovered and mentioned above).

[2019-10-08 13:21] cwg999 commented on #1088
You are correct, I fixed my comment.

[2019-10-09 02:48] gildas commented on #784
Actually, there is absolutely no need for any script nor any hardlink, just basic knowledge of Windows PowerShell....
Just use the 8.3 notation of the path (with `/` instead of `\`) to pwsh.exe in sshd_config:

[code]

IMO, there is no bug in the code as spaces are simply not allowed. Just use whatever the current OS uses to escape said spaces...

As a side note, for whatever reason restarting the

[2019-10-10 07:21] scrthq commented on #1263
@altano DarwinJS is one of the most trusted package maintainers on Chocolatey with almost 7 million downloads of his packages and Chocolatey packages in general are approved before being published for consumption. Do you just avoid public package feeds in general considering practically all of them typically have the same vetting processes for publishing packages? While I can appreciate the "don't

[2019-10-10 08:16] SuperSandro2000 commented on #1263
@scrthq it is like telling Ubuntu users to be careful with ppas.

[2019-10-10 18:44] manojampalam commented on #1469
Thanks @NoMoreFood. Fixed it post release.

[2019-10-10 18:46] Comptech0174 opened #1477 "Issues with SSH Configuration..."
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

Troubleshooting steps have been followed, see output below

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

This is not a terminal issue, this is an SSH configuration issue...

Please answer the following

**"OpenSSH for W

[2019-10-10 18:47] #1234 closed, assigned to nobody

[2019-10-10 18:51] manojampalam commented on #1473
Can you share server side traces in both success (7.7.2.0) and failure (8.0.0.0) cases ?

[2019-10-10 18:53] manojampalam commented on #1451
ref https://github.com/PowerShell/Win32-OpenSSH/issues/1439

[2019-10-10 21:09] CaptainRon47 opened #1478 "Works one way but not the other"
I am trying to connect without entering password from a Linux based Rpi to a Win 7 system.  I have loaded OpenSSH-Win32 on the windows machine and I have SSh on the RPI.  I generated key files on the rpi and can transfer them to the Win-7 system using SCP.  I have set the file permissions on the Win-7 system using "ICACLS" commands.

I can run ssh in a command prompt window (on Win7) and get a com

[2019-10-11 01:01] CaptainRon47 commented on #1478
from the debug output I could see it was not finding "__ProgramData__"/ssh/administrators_authorized_keys.
 I had previously copied both the private and public key files (from the rpi) into C:/ProgramData/ssh and renamed them as the host keys, then ran ssh-add.exe. So I then changed the config file to line:
       AuthorizedKeysFile C:/ProgramData/ssh/administrators_authorized_keys
now I get
6368

[2019-10-11 02:40] scrthq commented on #1263
@SuperSandro2000 great comparison as well, for sure. At the end of the day, packages maintained by the community aren't enough of a reason to distrust them. This repo and the code in it is effectively community maintained, given that it's open source. It's all about knowing what you're installing before you do so and understanding the risk involved.

[2019-10-11 03:33] Elven-coder opened #1479 "Is there a Win32-OpenSSH GA version?"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemPrope

[2019-10-11 06:12] sureshkotapydev commented on #1473
**v8.0.0.0p1-Beta Server log**
[code]

**v7.7.2.0p1-Beta Server log**
[code]

The difference I see is,
[code]
is not there in latest version but raises `paramiko.ssh_exception.SSHException: Channel closed` when executed `ch.invoke_shell()`

[2019-10-11 06:54] LoranRendel opened #1480 "SFTP breaks file list on some files"
**Troubleshooting steps**
Connected via SFTP client and listing directory contents

**Terminal issue? please go through wiki**

**"OpenSSH for Windows" version**
8.0.0.0
https://github.com/PowerShell/Win32-OpenSSH/releases/

**Server OperatingSystem**
Windows 10 Pro, 18362.10005

**Client OperatingSystem**
Windows 10 Pro, 18362.10005 and others

**What is failing**
SFTP lists not all files, if rem

[2019-10-11 07:50] NoMoreFood commented on #1480
I was able to repro this but this is a pretty heavy lift to fix and, to some degree, has limits that are introduced by the upstream OpenSSH code that limit name length.  Unfortunately, the code will break all over the place with file names that are longer than 256 characters or 256 bytes (depending on the function).  In some cases, this is a buffer limitation and, in others, the fact it's not pre-

[2019-10-11 16:03] LoranRendel commented on #1480
The problem is the other files aren't displayed at all. In a folder where I discovered that only about 400 of 800 files were displayed, Maybe the longnamed files can be ignored any way?

In SFTP there are `C:` paths, no `\\?\`

[2019-10-11 19:02] snweiss commented on #1417
.

[2019-10-11 20:45] NoMoreFood commented on #1480
@LoranRendel, `\\?`\` was in reference to how it would need to be coded in C++ on programs that do not support opt-in long file name support; it was nothing you need to do.  If you'd like, I can provide some test binaries if you'd like to verify my latest changes work.

@manojampalam I put in a pull request (https://github.com/PowerShell/openssh-portable/pull/400) to utilize opt-in long file path

[2019-10-12 03:02] CaptainRon47 commented on #1478
the attached files are debug output for an attempt to ssh from the RPI to a Win7 PC.  the _v file is the verbose output on the rpi during the failed attempt, while the other file is the debug output in the Win7 log file.

[rpi_to_win7_fail.txt](https://github.com/PowerShell/Win32-OpenSSH/files/3720136/rpi_to_win7_fail.txt)

[rpi_to_win7_fail_v.txt](https://github.com/PowerShell/Win32-OpenSSH/files

[2019-10-12 18:59] GurudattaNA commented on #1226
Thanks!..It helped me!

[2019-10-13 19:01] NoMoreFood commented on #1478
Try taking these lines out of C:\ProgramData\ssh\sshd_config and restart the service.  And then just make sure your public key string is in C:\Users\userid\.ssh\authorized_keys

[code]

[2019-10-14 01:19] CaptainRon47 commented on #1478
Thanks,
I have modified the sshd_config file on the Win7 machine from the defaults as follows:
SyslogFacility LOCAL0
LogLevel DEBUG2
StrictModes no
RSAAuthentication yes
the line you suggested is already commented out.

What I find in the sshd_log file is this:
57304 2019-10-13 20:57:45.098 debug1: userauth-request for user rons service ssh-connection method publickey [preauth]
57304 2019-10-13 20

[2019-10-14 01:44] CaptainRon47 commented on #1478
Ok, Never mind - I believe I have it working.  I had to add Administrators full permissions to both the directory and the file (authorized users) and now the RPI can SSh into the Win 7 machine.

thanks for your input.

[2019-10-14 01:44] #1478 closed, assigned to nobody

[2019-10-14 09:31] LoranRendel commented on #1480
@NoMoreFood yes please, I will test it.

[2019-10-14 19:02] NoMoreFood commented on #1480
@LoranRendel See below:

[longpaths-test-x64.zip](https://github.com/PowerShell/Win32-OpenSSH/files/3726009/longpaths-test-x64.zip)

[2019-10-14 19:06] NoMoreFood commented on #1477
Please try latest version.  There was a bug with group matching using multiple groups in that version.

[2019-10-14 19:11] NoMoreFood commented on #1444
@thelastofreed Running sshd in manual mode is not going to give great diagnostic results.  Did you enable LOCAL0 / DEBUG3 in the log file to generate log files?  If that's not working, the problem could be symptomatic of something bigger.  Also has the 'Administrators' group been renamed on this system?

[2019-10-15 08:48] snweiss commented on #1417
.

[2019-10-16 08:59] LoranRendel commented on #1480
@NoMoreFood Thanks, in this build all seems to work fine.

[2019-10-17 10:51] sureshkotapydev commented on #1473
@manojampalam
Was the above information helpful? or Do you need more info?

[2019-10-18 14:57] WSLUser commented on #1479
nope but see the Releases page for the latest available.

[2019-10-19 10:01] quoniammm commented on #1172
I use this config on my windows 10 machine.it is successful!!!!!!!
[code]

[2019-10-21 22:53] Greenwolf opened #1481 "Key created with WSL Linux 'Invalid Format'"
**"OpenSSH for Windows" version**
[code]

**Server OperatingSystem**
Linux myhost.mydomain.com 4.19.0-kali4-amd64 #1 SMP Debian 4.19.28-2kali1 (2019-03-18) x86_64 GNU/Linux

**Client OperatingSystem**
Microsoft Windows [Version 10.0.18362.418]

**What is failing**
After creating a SSH key on WSL Kali Linux, I move the keys to C:\Users\me\.ssh
[code]

When connecting to the server, it never prompts

[2019-10-24 01:39] craftxbox opened #1482 "Unable to login to sshd, immediate RESET on connect/auth"
**"OpenSSH for Windows" version**
 `8.0.0.0`

**Server OperatingSystem**
 `Windows 10 Pro`

**Client OperatingSystem**
 `Windows 10 Pro`

**What is failing**
Login fails to create tokens, causes the server to crash immediately.

**Expected output**
To be able to log in to a normal ssh session, and execute commands

**Actual output**
User mode:
[code]
psexec SYSTEM:
[code]
Audit log:
[code]

Normal

[2019-10-24 13:10] jjverschoor commented on #1403
Hi,

We came across similar sftp symptoms in that..

- we could browse the directory structure and retrieve folder listing, but
- we could not download files with error: permission denied,

..when using a /D symlink as chrootdirectory (whilst if we dont use a chrootdirectory and navigate to the symlink manually we can indeed download the files from the referred directory, so NTFS is all ok).

Is t

[2019-10-24 18:19] thelastofreed commented on #1444
@manojampalam @NoMoreFood I am sorry.  I have spent the last two days trying to get openssh to create logs.  I have set them in the config.  I have tried a million and one things, but I can't get the logs to show anything, either locally or in the event viewer).  I don't know what to tell you guys.  There is nothing more I can do.  I have provided literally everything that I can.  If that is not e

[2019-10-24 18:27] thelastofreed commented on #1444
@manojampalam @NoMoreFood I take that back.  There is one other thing I can provide you that might help, though I doubt it.  I used a debugging tool to capture a debug report for both ssh and sshd when the initiating a connection to the 2008 server, which causes sshd to crash.  Those debug reports are attached.  This is the only piece of information I have, and I hope it helps.

[ssh_debug.zip](ht

[2019-10-25 06:56] NoMoreFood commented on #1482
Do you see the same logs when you run it directly as a service?

[2019-10-25 07:03] NoMoreFood commented on #1445
@ShadowJonathan I don't see this on my Windows 10 Enterprise or Windows 10 Professional installation.  It may be "by design" on certain directories, but I don't think it's the out-of-the-box behavior on Windows 10 for C:\Users.  Are you working in a domain environment?  Is it possible that there is a GPO pushing those permissions down periodically?

[2019-10-25 08:27] arminlinzbauer opened #1483 "Right-click pasting into active SSH-Session strips away certain symbols"
Please answer the following

**"OpenSSH for Windows" version**
7.7.2.2

**Client OperatingSystem**
Windows 10 Pro 1903, OS Build 18362.418

**What is failing**
Right-click pasting into active SSH-Session strips section symbol (§) and probably others, too.
I noticed this odd behavior when I couldn't log into mysql with the password I right-click-pasted into the password-prompt. CMD and PowerShell t

[2019-10-25 11:45] DarwinJS opened #1484 "An MSI should be provided for clients that cannot install / update via optional features"
**Troubleshooting steps**
Users are running into problems upgrading OpenSSH over an OpenSSH connection when using the chocolatey package because there are OpenSSH files in use.

Since OpenSSH targets older versions of Windows, it should provide a native MSI for direct usage or usage by the chocolatey package so that it has the ability to natively replace in use files and detect the resultant reboo

[2019-10-27 00:10] craftxbox commented on #1482
I'm unsure how I would run it under its service account, how would I?

[2019-10-27 14:45] bakgaard commented on #1133
I had to make a minor change, but that helped me too:

[code]

[2019-10-27 16:07] gstorme commented on #1484
Yes please! I'm one of those users who aren't able to use chocolatey to update openssh, using ansible over an ssh connection.
As a workaround, we wrote an ansible role that installs a newer version next to the current one and points the service to the latest version.
Would be nice to still be able to use chocolatey to maintain openssh versions on windows.

With choco the following error is returne

[2019-10-28 09:50] trillykins opened #1485 "Setup chroot per user on Windows Server 2019"
How do I setup an sftp-only chroot server on a per user basis on Windows Server 2019?

I looked at the documentation for OpenSSH that state this was supported since 7.7.0.0, but I cannot figure out how to setup chroot per user, so not all users are gated to the same folder.

https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_server_configuration#chrootdirectory-support-

[2019-10-28 11:37] trillykins commented on #1485
Figured it out.

`ChrootDirectory %h` will set isolate a user to the current user's own home directory.

[2019-10-28 12:17] trillykins commented on #1485
Okay, apparently `ChrootDirectory %h` only works for restricting viewable access to root, but not any other regular user.

My current config in `sshd_config` for my regular user `sftpuser1`:

    Match User sftpuser1
	    AllowTcpForwarding no
	    ChrootDirectory %h\Downloads
	    ForceCommand internal-sftp

[2019-10-28 12:25] trillykins commented on #1485
Ugh, I'm a dummy.

[code]

Works.

[2019-10-28 12:25] #1485 closed, assigned to nobody

[2019-10-28 14:28] trillykins opened #1486 "ChrootDirectory is inconsistent"
I have the following user configuration in `sshd_config`:

[code]
I want the user to only see the folder specified in `ChrootDirecory`, however it's very inconsistent when it'll let the user wander around in the server's entire file directory of the server (e.g. I can look in `system32`) and sometimes it does it correctly.

EDIT:

[Gif of using FileZilla to access](https://imgur.com/clnjWbD)

**"O

[2019-10-29 09:32] mluypaert opened #1487 "ssh-agent: permanent loaded ssh-key storage"
**"OpenSSH for Windows" version**
7.7.2.2

**Server OperatingSystem**
Irrelevant

**Client OperatingSystem**
Windows 10 Home (18362.418)

**The problem**
I am using private SSH-keys encrypted with a passphrase. When using any SSH-agent, that means I have to provide my passphrase to be able to load the key and use it. I've used pageant before and there you load the key and provide the passphrase. W

[2019-10-29 17:16] Deliay opened #1488 "Can't load ssh key via "-i" argument"
**"OpenSSH for Windows" version**
`7.7.2.2`

**Server OperatingSystem**
`Ubuntu 18.04`

**Client OperatingSystem**
 `Windows 10 Pro`

**What is failing**
Load ssh-key

**Actual output**
Key exist and it have right permission setting
![image](https://user-images.githubusercontent.com/5661435/67791463-6d83fd00-fab2-11e9-9800-e7e2e4cf0fca.png)

Connect and pass identity file via `-i (id_file_path)` a

[2019-10-29 18:33] bagajjal commented on #1487
ssh-agent stores the key in registry.. It is fully encrypted, only the current user can access it.. If you login to the same machine as a different user, you wouldn't be able to see the keys of others.

[2019-10-29 18:36] bagajjal commented on #1488
@Deliay - Is it a symbolic link? Can you try this in cmd.exe/powershell.

[2019-10-29 20:38] bagajjal commented on #1486
Please share the server side logs (sshd.log file).

[2019-10-29 21:16] nanonyme commented on #1145
Just FWIW this is currently blocking being able to directly use Windows OpenSSH as part of Jenkins SSH agent integration https://issues.jenkins-ci.org/browse/JENKINS-51968 . It would be desirable not to need to install a secondary OpenSSH to the machine to achieve this use case.

[2019-10-29 23:21] wlarsong commented on #133
I know this is an old thread, but if you are using JuiceSSH with Windows10 OpenSSH You can enable the RSA key by editing the %PROGRAMDATA%/ssh/sshd_config and uncomment the
HostKey __PROGRAMDATA__/ssh/ssh_host_rsa_key
Then make sure the permissions for this key match the ed25519 key ( Only the System and Administrators groups should have access, delete the user account that created it, only those

[2019-10-30 01:28] mcajkovs opened #1489 "sshd is working for clients but not for sftp"
My OS is windows 10 Home and I've successfully set up sshd server for clients but not for sftp.

I've followed this wiki to set up SSH server
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

Steps I've taken:
1. downloaded latest release https://github.com/PowerShell/Win32-OpenSSH/releases/download/v8.0.0.0p1-Beta/OpenSSH-Win64.zip and extracted it in c:\Program Files\OpenSS

[2019-10-30 03:16] he852100 opened #1490 "[wiki]How to retrieve links to latest packages"
Powershellcore
<https://github.com/PowerShell/Win32-OpenSSH/wiki/How-to-retrieve-links-to-latest-packages>
[code]
[code]

[2019-10-30 08:21] trillykins commented on #1486
Log of two logins, one with correct chroot direcory and another with read-access to everything:

[2019-10-30 08:54] mluypaert commented on #1487
Agreed, but other users also can't access my SSH key files if they are in my home folder, that's not the point. My point is that by storing the key in registry without the passphrase-encryption, a level of security is taken away. Anyone that can gain access to my account (malicious intruder or virus for example) now immediately has access to my unencrypted keys, without needing to know my passphra

[2019-10-30 14:21] vrastil commented on #1172
Works! For me the ProxyCommand could use only generic ssh executable instead of specifying exact path:
[code]

[2019-10-30 16:17] ChrisDodd opened #1491 "Can't acess ssh-agent"
So I've followed the instructions about setting up the agent and believe I have it running --
[code]
but when I try to access it, I get
[code]
I have no spurious SSH related envvars set (saw some other messages related to that), at least as far as I can see from `gci Env:`

[2019-10-30 17:02] bagajjal commented on #1486
There is something wrong here
3916 2019-10-30 08:19:53.792 debug1: user n does not match group list administrators at line 87

Did you do any modifications to the log file?
Looks like both the connections are triggered from fileZilla. What is the difference between 1st and 2nd connection?

[2019-10-30 23:21] anaisbetts commented on #1429
This issue is super frustrating for people on Fast Ring, it's not just 1903, every Windows upgrade (and there are many of them!) re-disables the SSH Agent service. The effect of this bug is that every 2 weeks or so my SSH agent is broken and I'm prompted for passwords again.

[2019-10-30 23:48] SteveL-MSFT commented on #1429
@bagajjal / @manojampalam / @maertendMSFT we should consider this for our next release in Windows

[2019-10-31 07:09] he852100 commented on #784
In fact, `progra-1` works. `\`No problem.

[2019-10-31 10:20] petemounce commented on #1322
@NoMoreFood do you need any more information for repro, or want any other help?

[2019-10-31 16:56] bagajjal commented on #1487
Not really. The registry is only accessible for SYSTEM, ADMINISTRATORS.

[2019-10-31 16:57] bagajjal commented on #1487
fyi, User keys are stored in Computer\HKEY_CURRENT_USER\Software\OpenSSH\Agent\Keys.

[2019-10-31 17:16] manojampalam commented on #1429
@bingbing8, user overrides to service configuration is expected to be given preference during updates. Would you know why this is happening ?

[2019-10-31 17:52] WSLUser commented on #1464
Use `screen`. WSL should keep sessions open assuming there's a WSL window still open on the remote machine (or even local). Once all sessions are closed, it's by design in WSL to kill processes. Only configured background tasks should remain running if they are meant to continuously run.

[2019-10-31 18:14] cdeadspine commented on #154
Not sure if this is the right place to mention, but it is inherently risky to use the %userprofile% for anything since there are long running windows 10 bugs about it creating "temporary user profiles" and using it indefinitely or at weird inexplicable times. (I can't even find explanations on the internet about when and why it makes temporary user profiles)

This terrible workaround probably only

[2019-11-01 11:43] yuliu commented on #1382
I'm not sure if my problem is related to this one.

I'm using Windows 10's built-in OpenSSH sftp server and connect to it from a remote PC using WinSCP. Some operations fail and I report it to WinSCP. The WinSCP developer checked and found it's Windows sftp server's fault who doesn't send back correct UTF-8 encoded contents.

The post I've posted in WinSCP is [here](https://winscp.net/forum/viewto

[2019-11-01 23:13] anaisbetts commented on #1429
From a user perspective, I expected that I need to enable some Optional Feature that would ensure that ssh-agent is enabled, then it stays perma-enabled - or maybe like, it should be enabled automatically as part of enabling Developer Mode

[2019-11-02 09:53] Deliay commented on #1488
![image](https://user-images.githubusercontent.com/5661435/68069310-6fdba500-fd99-11e9-8452-0be4b9d8e2bd.png)

@bagajjal - It seem not a symbolic link. Try in cmd.exe and powershell still reproduce same error.

[2019-11-02 10:04] Deliay commented on #1488
![image](https://user-images.githubusercontent.com/5661435/68069417-dca36f00-fd9a-11e9-8d76-ff46814fc77b.png)

My script defined a shorthand command to connect to server, it working in the past few month. But it get error recently.

[2019-11-02 10:17] ShadowJonathan commented on #1445
I'm not in a domain environment, but i *am* using a Microsoft account.

[2019-11-02 14:21] lfourquaux commented on #1464
`screen` and `tmux` do roughly the same thing, and @sskeirik is using `tmux`.  WSL is here mostly as a use case.  The issue is that all descendant processes are killed when the ssh connection closes, and preventing this is possible but far from easy.

[2019-11-02 17:47] ebmarquez opened #1492 "add-windowscapability OpenSSH.Server~~~~0.0.1.0 does not install sshd components"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps
[code]

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
[code]
**Server OperatingSystem**
 `((

[2019-11-04 08:34] trillykins commented on #1486
@bagajjal No, the log is copy-pasted directly.

Don't know who used n is supposed to be. There is no difference between the two logins. I was using quick connect in FileZilla with the same username and password. Logging in the second time aborts the first connection and logs in anew.

[2019-11-04 14:25] jjverschoor opened #1493 "sftp: cant download files when chroot directory is a symlink"
**"OpenSSH for Windows" version**
8.0.0.0.0

**Server OperatingSystem**
Windows Server 2012 R2 Datacenter

**Client OperatingSystem**
windows 10 (1803)

**What is failing**
can browse directory structure but cant download files when using symlink as chroot directory.

**Expected output**
to be able to download files via sftp

**Actual output**
access denied.

======================================

[2019-11-04 19:12] flickerfly commented on #1024
I'm surprised this isn't getting more attention. It would save me hundreds to thousands of keystrokes a day entering my password for my ssh key as I can't find a stable way to implement any of the workarounds.

[2019-11-04 19:41] greg-dfo opened #1494 "Support for signed certificates?"
**"OpenSSH for Windows" version**
`OpenSSH_for_Windows_8.0p1, LibreSSL 2.6.5`

**Client OperatingSystem**
Windows 10 Enterprise

Does OpenSSH for Windows support signed certs?

I feel like it does, as ssh-keygen picks up the certificate no problem. However, it doesn't want to connect. The same steps seem to work fine from linux.

[code]

However, when trying to use it, ssh spits out invalid format

[2019-11-04 23:41] stefanisti commented on #1363
Thanks for this reply! It helped me solve the same issue (sshd: fatal: ga_init, unable to resolve user org\\username where my client said "Connection reset by <host> port 22"). After allowing a non-starting Windows 10 system to reinstall Windows and lose all my settings my user still had domain credential permission cached so I could log in as my domain user to Windows. I had put standard DNS serv

[2019-11-05 05:52] NoMoreFood commented on #1486
There's a group matching bug in that version.  Please re-baseline with the latest.

Reference: https://github.com/PowerShell/openssh-portable/pull/380

[2019-11-05 07:52] mashirozx commented on #1445
The same issue on Windows 10 Home.

[2019-11-05 14:09] trillykins commented on #1486
@NoMoreFood Okay, now it works.

Thanks!

[2019-11-05 14:09] #1486 closed, assigned to nobody

[2019-11-06 10:50] ChrisITpro opened #1495 "sshd lets users with expired passwords log in with SSH keys"
**"OpenSSH for Windows" version**
Latest (8.0.0.0) from https://github.com/PowerShell/Win32-OpenSSH/releases

**Server OperatingSystem**
Tried only Windows 2008R2 and 2012R2

**Client OperatingSystem**
Tried only Windows 10, with PuTTY-CAC 0.73 SSH client

**What is failing**
It's more a security issue than a failure in my opinion. If a Windows user has its password expired but still has its SSH k

[2019-11-06 13:36] snhughes opened #1496 "Intermittent failure parsing sshd_config"
**Troubleshooting steps**
1. Add the following lines to sshd_config. Change the user W_ttt_scan if you need.
[code]
2. Restart sshd then try to connect to the server with the user (ex.: ssh W_ttt_scan@localhost). Sometimes it asks for the password and sometimes it does not. It should never ask for password.

**Expected output**
Never prompt for password

**Actual output**
Sometimes prompt for pass

[2019-11-07 01:43] xdhmoore commented on #1487
Not a security expert, but this makes sense to me as well. If someone gets access to my account, they can ssh into any server I have access to since the passphrase is not required. The security of the key storage is important but not the main question. It's more about the user flow of requiring a separate password to use the key.

Also, this seems to be the behavior of ssh-agent on other systems.

[2019-11-07 06:15] NoMoreFood commented on #1496
There's a group matching bug in that version.  Please re-baseline with the latest.

Reference: https://github.com/PowerShell/openssh-portable/pull/380

[2019-11-07 08:02] mluypaert commented on #1487
@xdhmoore I totally agree. (Open)SSH agents on other systems only temporarily store the key in memory, not permanently anywhere else (registry here). A config option for the windows openSSH agent to disable this permanent registry copy would fix this.

[2019-11-09 16:21] rztprog commented on #1133
If the command don't work (in vscode for my case), change the StartType by the Gui
1) Search with the windows explorer "Services.msc" (Or go to %windir%\system32\services.msc)
2) Search for "OpenSSH Authentication Agent"
3) Change mod for "auto" and apply
4) Its worked :)

[2019-11-10 09:44] locez commented on #1145
I finally use [https://github.com/vuori/weasel-pageant](https://github.com/vuori/weasel-pageant) to solve this case.It just need to install gpg4win and active the putty support.All can work fine in wsl.

[2019-11-10 10:04] nanonyme commented on #1145
Doesn't that also means you stopped using Win32-OpenSSH?

[2019-11-10 10:58] locez commented on #1145
Yes, the toolchains in wsl is more powerful.But actually, I am working in gentoo linux, which make everything is good.

[2019-11-10 11:32] nod0n opened #1497 "VM freezes on paste into ssh session"
**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command ssh).Source).VersionInfo.FileVersion)`
7.7.2.1 -> client only!

**Client OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`
Windows 10 Pro
**What is failing**
I have a OpenSSH Server running on a Debian 10 (I tested also with Ubuntu 18.04) and I'm connecting to it,

[2019-11-10 13:25] nod0n commented on #1497
Probably an other issue. We have to investigate.

[2019-11-10 13:25] #1497 closed, assigned to nobody

[2019-11-10 16:32] JasonFossen opened #1498 "Enter-PSSession Error processing data from the background process"
**SYMPTOMS**
After successfully configuring OpenSSH as a server on Windows, confirming that access with ssh.exe or putty.exe works as expected, when connecting with pwsh's Enter-PSSession or Invoke-Command, it fails with an error message: "There is an error processing data from the background process. Error reported: ..."  When you delete, rename or move your PowerShell profile script(s) at that O

[2019-11-11 06:39] AlanDecode opened #1499 "Directory list not complete in SFTP"
**"OpenSSH for Windows" version**
7.7.2.3

**Server OperatingSystem**
Windows 10 Pro build 10.0.19018.1

**Client OperatingSystem**
Various

**What is failing**
I've installed OpenSSH on my Windows 10 machine through Apps > Apps and Features > Manage Optional Features, and SSH worked well.

But when I connect to my machine through SFTP, I notice some of my directories are missing. Tested on variou

[2019-11-11 07:00] AlanDecode commented on #1499
Here is one case I can stablely reproduce on my machine.

1. Create a folder named `测试` in `C:\`, which shows properly on client
2. Change folder name to `测1试`, it is gone on client
3. Change folder name to `测试1`, it is back again
4. Change folder name to `1测试`, also OK

I've tested it using WinSCP and an SFTP app on iOS.

[2019-11-11 13:47] jjverschoor commented on #1493
Just as an update: version 8.1.0.0 exhibits the same behaviour.

[2019-11-11 14:27] snhughes commented on #1496
NoMoreFood, thanks for the reply.
However, at least with 8.0.0-p1 Beta release, the 'Match' doesn't seems to be working at all. I get a 'Match not found' for the user in the logs.
I don't know if it should be fixed on 8.0.0-p1 Beta or only on the latest master source code.
Let me know if you would like me to raise a new bug report for it.

[2019-11-11 15:47] gunnarhaslinger opened #1500 "Question regarding Service-Level / Updating (Feature on Demand) OpenSSH-Server"
When installing OpenSSH-Server as regular "Feature on Demand" on Win10, are (especially security-related) Updates for SSHD provided automatically?

If yes, how and when are they applied? During Windows-Update on a monthly basis?

Is there a Service-Level provided by Microsoft for Updating the FoD "OpenSSH-Server"? If yes, does it depend on the Windows-Release, e.g. is there a difference between Wi

[2019-11-12 05:45] NoMoreFood commented on #1499
Can you please verify this problem is reproducible with the latest version?

[2019-11-12 06:20] AlanDecode commented on #1499
Yes, it is reproducible with [v8.0.0.0p1-Beta](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v8.0.0.0p1-Beta).

[2019-11-12 16:28] jjverschoor commented on #1493
Update2:

Looks like the logic to support a symlink as a chroot directory is not built into the code it yet.
So, for now, we just commented out the file chroot checks in the "file_in_chroot_jail"-function in "fileio.c" that our symlink failed, as per below:

(version 8.1.0.0. lines 419 till 438 in "fileio.c")
----------------------------------------------------------------------------------
/* ret

[2019-11-13 18:17] ericlc opened #1501 "sshd.exe hanging to start up"
Please answer the following

**"OpenSSH for Windows" version**
 `7.9.0.0`

**Server OperatingSystem**
 `Windows Server 2012 R2 Standard`

**Client OperatingSystem**
`Red Hat Enterprise Linux Server release 7.5 (Maipo)`

**What is failing**
sshd.exe is not starting correctly. It takes a long time to open port 22. The host belongs to a Windows domain.

I started in debug mode, and noticed that it ta

[2019-11-13 21:19] manojampalam commented on #1381
I've started working on this.

[2019-11-14 00:08] NoMoreFood commented on #1501
1788 (0x6FC) = ERROR_TRUSTED_DOMAIN_FAILURE = The trust relationship between the primary domain and the trusted domain failed.

Does the computer account running the sshd service have the ability to read Active Directory information for the specified user?

[2019-11-14 13:18] ericlc commented on #1501
Which user do you mean? The error is in service startup and there is no user trying to connect yet. The service is starting with SYSTEM user.

How to check that? I can log in with domain users in this computer without any problems.

Thanks for your help.

[2019-11-14 14:40] nicksunyang commented on #1438
I solve the issue,
my local host ip : 10.212.45.145
remote host ip: 10.212.45.138
then i open powershell and input:
ssh -Y  yourusername@10.212.45.138 -p 10022
next , open xlaunch, set display number : 0, enable Disable access control
in the remote machine shell input
export DISPLAY=10.212.45.145:0
gvim
it works.

[2019-11-14 14:40] #1438 closed, assigned to nobody

[2019-11-14 14:44] nicksunyang commented on #1181
do you enable Disable access control? in Vcxsrv I enabled Disable access control , set display number: 0, then it works,
in the remote host,  i also  **_export DISPLAY=10.212.45.145(my local host ip):0(display number )_**

[2019-11-14 16:33] ChrisITpro opened #1502 "Why does sshd service need to be run by LocalSystem?"
**"OpenSSH for Windows" version**
Latest (https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v8.0.0.0p1-Beta)

**Server OperatingSystem**
Windows Server 2016

**Client OperatingSystem**
N./A

**What is failing**
SSHD service when trying to run it as another (less privileged) account.

**Expected output**
SSHD service running fine with other account.

**Actual output**
Error 1297 when trying

[2019-11-14 22:18] bagajjal commented on #1502
SSHD daemon runs as a system process. All it does is create a new SSHD process for the incoming connection. The new SSHD process will be running under the user context.

This is same as the Unix OpenSSH implementation.

[2019-11-14 22:53] bagajjal opened #1503 "Don't see SSH_USER_AUTH environment variable when SSH_USER_AUTH is set."
Add ExposeAuthInfo=yes  to sshd_config. It should set the SSH_USER_AUTH environment variable.

Related code is in prepare_auth_info_file().

[2019-11-15 01:35] FranklinYu commented on #1181
@nicksunyang Please see https://github.com/PowerShell/Win32-OpenSSH/issues/1181#issuecomment-422665380

[2019-11-15 11:08] ChrisITpro commented on #1502
Thanks, this answers my question. No need to worry then.

[2019-11-15 11:08] #1502 closed, assigned to nobody

[2019-11-16 13:36] NoMoreFood commented on #1499
Weird.  Can't repro on my system (English) using the provided instructions on v8.0.

[2019-11-16 14:01] ghost commented on #1503
where is `prepare_auth_info_file()` ? what is it?
please use links. or make a bot do it.
----
**peace out**
_ghostArch_

[2019-11-16 16:59] amoldeshpande opened #1504 "windows default install should not be under system32"
**Troubleshooting steps**
Enable OpenSSH client from Windows 10 "manage optional features"

use any 32-bit ls.exe (e.g., from altlasian sourcetree and it's git_local tree)

try to  execute "ls c:/windows/system32/openssh"

It will fail because of the Filesystem Redirector sending it to SysWow64

Please answer the following

**"OpenSSH for Windows" version**
irrelevant

**Server OperatingSystem**
N

[2019-11-17 03:48] thinkjrs commented on #1429
@altano thank you, worked perfectly for me

@anaisbetts @SteveL-MSFT I personally find this to be a fantastic default solution, when Developer Mode is on.

[2019-11-17 10:30] asherccohen commented on #1322
Any news on this?I'm seeing the same behaviour...

[2019-11-17 17:35] currybullen commented on #1471
I am facing this issue as well. How do I capture the log output from sshd when running it as a service?

Might be the seem issue as #1399.

EDIT: Nevermind, my issue was not having proper permissions set on ~/.authorized_keys.

[2019-11-17 20:48] ValZapod commented on #1411
@manojampalam Hey, I still have OpenSSH_for_Windows_7.7p1 in my 1909.

[2019-11-18 13:04] AlanDecode commented on #1499
I tested on another machine running new installed Windows 10.0.18362.295 (Chinese), still the same result.

[2019-11-18 15:37] aJesus37 commented on #1471
Hello.
Came here searching for the error I was having, same as title.
Turned out I was trying to log in as Administrator whereas my computer had other user as the administrator, so no user Administrator ever existed.
Hope it helps.

[2019-11-18 17:30] bingbing8 commented on #1429
Looking into this issue. It needs to adjust some migration section of the manifest.

[2019-11-19 03:01] tats-u opened #1505 "Some characters (symbols & non-BMP characters including emoji & minor Kanji) are not passed to Linux host"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

8.0.0.0

**Server OperatingSystem**
 `((Get-

[2019-11-19 07:31] nerditation commented on #1462
just encountered the exact issue. this is really inconvevient to use git on the remote machine. hopefully this will be implemented soon.
just checked, the msys2 version of sshd do support agent forwarding though.

[2019-11-20 09:31] stuartleeks opened #1506 ""Bad passphrase" error on ssh-add"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`: 7.7.2.3

**Server OperatingSystem**
 `((Get-

[2019-11-20 11:22] lusitania commented on #1487
Different angle: I was looking for a reason why an outdated and invalid key kept showing up in `ssh-add -l` although I previously removed all entries with `ssh-add -D` (and restarted my WSL session) while my pass vault wasn't even running. It took me an hour to find this issue and eventually found and deleted the key from the registry. IMO having ssh-add/agent store keys persistently is very non-s

[2019-11-20 12:56] gunnarhaslinger commented on #1504
- sshd.exe is a 64bit executable
- It is installed as a Service (sshd), as a result of this, Location C:\Windows\system32\openssh looks conforming from my perspective

A 32bit process doesn't "see" C:\Windows\System32\OpenSSH because of the Folder-Redirection, this is true, but:
- everything works as designed
- why is there a need to use a 32bit "ls.exe" Command for listing C:\Windows\System32?
-

[2019-11-20 13:10] gunnarhaslinger commented on #1504
Suggestion: If you really need 32bit Processes to see the Contents of C:\Windows\System32\OpenSSH and cannot use C:\Windows\SysNative\OpenSSH (for reasons I don't know) you could make a junction-Point C:\Windows\SysWOW64\OpenSSH pointing to C:\Windows\System32\OpenSSH

[2019-11-20 14:32] amoldeshpande commented on #1504
I don't need 32-bit processes to list system32. I need access to Microsoft's ssh client apps from any process on the system. Putting them in a redirected system32 makes that janky.

There are many apps (like Unix shells) which are 32-bit by default. These shells work by tracking executables in the path instead of randomly executing whatever the user typed in and let God sort it out.

I am aware I

[2019-11-20 15:12] gunnarhaslinger commented on #1504
Then configuring "c:\Windows\SysNative\OpenSSH\ssh.exe" as your SSH-Client for 32bit-Parent-Processes should be a suitable solution.
In case you need it in the Path "set PATH=%PATH%;C:\Windows\SysNative\OpenSSH" works.

[2019-11-20 20:27] vvuk commented on #1322
This seemed to be much better once I moved to `OpenSSH_for_Windows_8.0p1` but now I'm back to seeing it all the time.

[2019-11-22 04:39] tang-soup opened #1507 "ssh(win10) link to ubuntu ssh server error!"
WSASendCB - ERROR: broken assumption, io:000001FE7971C070, sent:36, remaining:0

[2019-11-23 01:38] SoulHucKer opened #1508 "shell request failed on channel 0"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
v8.0.0.0p1-Beta
**Server OperatingSystem**
Windows Server 2019 Standard
**Client OperatingSystem**
Windows 10 E

[2019-11-23 10:19] AlanDecode commented on #1499
I've figured out a workaround, as GBK is the default charset in Windows when using Chinese, if I change to UTF-8 as system charset, this problem can be solved.

However, Windows provide UTF-8 charset as a beta feature, which can cause many other problems. I really hope developers here can look into this issue and figure out some sort of solution.

Thank you guys in advance.

[2019-11-24 17:16] EdwinCloud101 commented on #1237
I didn't try with PowerShell as suggested, I'm sure it works. However, I would like to keep using GitBash and be able to make the clone remote work. Any direction is appreciated.

[2019-11-25 21:09] ghost opened #1509 "The OpenSSH Authentication Agent service (ssh-agent) has its startup type changed to disabled on windows upgrade"
**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
7.7.2.3

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`
Windows 10 Enterprise

**What is failing**
When I update to a new build of windows (which I do fairly frequently for self hosting), the startup type of the

[2019-11-26 04:42] firepond commented on #1468
Meeting the same problem. And i'm wandering if it support Chinese characters and other utf characters.

[2019-11-26 08:04] dcow opened #1510 "ssh-add -t does not work"
**"OpenSSH for Windows" version**
`7.7.2.1`

**Client OperatingSystem**
Win10 19030

**What is failing**
When I try to add an identity to the ssh agent with a bounded lifetime, the operation fails. I have enabled and started the ssh-agent service. Adding and removing identities without a lifetime works:

[code]

**Expected output**
[code]

**Actual output**
[code]

[2019-11-26 10:38] MythreyaK commented on #1317
I'm on 1909 and still on the outdated version `OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5`. I don't see any updates either! When can I expect the updates? Many bugs are still present, that actively degrade the user experience, for example, `ssh-add`'s `different signature` error and many more!

[2019-11-26 18:11] EdwinCloud101 commented on #55
This video explains at 2:00 minutes

https://youtu.be/gUOEaZb0gW8

[2019-11-26 18:12] EdwinCloud101 commented on #1240
go to this video, at 2:00 to save time, to see the solution:
https://youtu.be/gUOEaZb0gW8

[2019-11-26 19:25] maraino opened #1511 "Include statements do not support Windows paths"
**Troubleshooting steps**
Create a custom ssh-config file in a different path than `~/.ssh`, let's say `C:\Users\Username\config`, include it with the following statements on your `~/.ssh/config`:
[code]

**"OpenSSH for Windows" version**
`7.7.2.1`

**Client OperatingSystem**
`Windows Server 2019 Datacenter`

**What is failing**
`Include` ssh-config statement does not support Windows paths properl

[2019-11-26 19:53] maraino commented on #1511
Other ssh-config statements like `UserKnownHostsFile` and `ProxyCommand` support properly windows paths, at least from the included file.

[2019-11-28 18:23] jjverschoor opened #1512 "Realpath resolves to "\" instead of "/" when "remote directory" is left empty in the ftp client."
**"OpenSSH for Windows" version**
8.1.0.0

**Server OperatingSystem**
Windows Server 2012 R2 Standard

**Client OperatingSystem**
windows 10 1909

**What is failing**
Upon first connect, realpath resolves to "\\" rather than "/", if...

- "remote directory" is not hardcoded to "/" in the ftp client, and..
-  there is no caching of the remote directory structure.

**Expected output**
Realpath "/" u

[2019-12-03 09:43] bisato opened #1513 "Authentication via pkey throws unable to generate user token for <user> as i am not running as system"
I try to connect with username/password, and everything runs fine.
But trying to connect with pkey file generates this output

debug2: load_server_config: filename __PROGRAMDATA__\\ssh/sshd_config
debug2: load_server_config: done config len = 291
debug2: parse_server_config: config __PROGRAMDATA__\\ssh/sshd_config len 291
debug3: __PROGRAMDATA__\\ssh/sshd_config:34 setting PubkeyAuthentication yes

[2019-12-04 08:06] DavidZhang73 commented on #1507
Same problem!
Ubuntu 18.04.3 LTS (Hyper-V)
Windows 10 1909
OPEN-SSH 8.0
WSASendCB - ERROR: broken assumption, io:00000251AB517860, sent:36, remaining:0

[2019-12-04 09:33] bisato commented on #1513
The Error "unable to generate user token for" was in our case thrown, because the user was deactivated in AD.

[2019-12-04 11:56] anthonyvdotbe commented on #1510
@dcow this is a duplicate of #1056

[2019-12-04 22:37] bagajjal commented on #1512
@jjverschoor  - Thanks for reporting.
I have already fixed it, the PR (https://github.com/PowerShell/openssh-portable/pull/410) is pending.

[2019-12-04 22:38] bagajjal commented on #1513
@bisato  - Are you running the sshd in debug mode (.\sshd.exe -ddd)?
If yes then it's by design.

[2019-12-05 07:52] jjverschoor commented on #1512
awesome, thanks so much

[2019-12-05 07:52] #1512 closed, assigned to bagajjal

[2019-12-05 08:34] bersbersbers commented on #1433
Sounds a bit like #1263 to me.

[2019-12-05 09:02] feenes commented on #1487
In my opinion this is a bad choice.
Several reasons.
1.) people who used other OS'es before do expect a certain behaviour from ssh-add. GIving a program the same name, but implement it differently is confusing by definition.

2.) There is a degree of freedom and security taken away. If I chose different pass phrases for different keys, then I do have a reason and don't want my OS to decide that pr

[2019-12-05 14:31] bisato commented on #1513
@bagajjal
I think I made this not clear enough.
My issue was resolved by re-activating the user who tried to login.
I just want this to stay here for people running into the same problem.

btw: even with debug mode "-ddd" it was working with activated user. But now it runs as service.

[2019-12-05 19:46] po1xi548Rysh8BH6 commented on #1461
**bump**

I would love to see this feature implemented. In our linux shop we certainly have a need for this feature when doing windows builds of our software.

[2019-12-05 21:34] bagajjal commented on #1511
@maraino - Thanks for reporting.
I will fix this in next release.

[2019-12-06 00:11] borisbartlog commented on #836
Having just encountered this issue myself (and resolved it), I believe the problem results when you try to run ssh-keygen in cygwin. It runs normally through cmd.exe, but hangs as described when run in the cygwin shell.

[2019-12-06 12:39] anthonyvdotbe opened #1514 "ssh is unable to bind to a specific local IPv6 address with BindAddress"
**"OpenSSH for Windows" version**
7.7.2.2

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
In ~/.ssh/config, I specified an IPv6 address as the argument to the `BindAddress` option, so something like:
[code]

**Expected output**
I'd expect ssh to be able to bind to the local IPv6 address

**Actual output**
[code]

[2019-12-07 01:56] bandogora opened #1515 "Support X11 Forwarding"
# Requesting X11 Forwarding Feature
Looking through the docs I see:

But I can't see why these features can't be implemented. I can successfully forward X11 using PuTTY or Ubuntu on WLS with Xming. So why can't I achieve this with OpenSSH on PowerShell?

X11 forwarding is incredibly important to my work and whenever I need it I find myself enabling WLS or switching to a Linux distro, which is pret

[2019-12-07 04:09] twvacek opened #1516 "Can't ssh-authenticate on network-authenticated host"
**OpenSSH version**
8.0.0.0  This was installed via downloading the binary from https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v8.0.0.0p1-Beta

**Server OperatingSystem**
Windows 10 Enterprise (Version 1903 OS Build 18362.476)

**Client OperatingSystem**
Same machine as host, have tried other machines (Windows 10 using Git Bash)
**What is failing**
Cannot password authenticate with my ne

[2019-12-07 04:11] twvacek commented on #1516
Note that in redacting the log, DOMAIN and USER used to redact the actual domain and user names in the log data.  Thanks.

[2019-12-07 10:44] smnishko commented on #1272
Thank you for this @amarruedo ! That works for me as well

[2019-12-08 07:44] yousiftech commented on #730
Dear all,

I have seam issue when I log in on OpenSSH server I can see all root directory, kindly I need to make specific root for this server

[2019-12-08 07:46] yousiftech opened #1517 "open ssh change directory root"
Dear all,

I have an issue when I log in on the OpenSSH server I can see all root directory, kindly I need to make specific root for this server.

[2019-12-09 20:26] M-Pixel commented on #1492
I believe I'm running into the same thing.  `Add-WindowsCapability` doesn't report any errors, but `OpenSSH.Server` remains un-added.  I've only yet had success from using the Windows Settings GUI.  I also tried using `dismapi.dll` directly, and notice that my call to `DismAddCapability` returns `S_FALSE` instead of `S_OK`.  How can I get relevant debugging information to determine why this is res

[2019-12-10 08:08] Domain opened #1518 "Cannot access a remote server using a jump host"
C:\>ssh -J user@10.128.5.74:30022 sdd@10.128.5.100:17543 -vvv
OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5
debug3: Failed to open file:C:/Users/Domain/.ssh/config error:2
debug3: Failed to open file:C:/ProgramData/ssh/ssh_config error:2
debug2: resolve_addr: could not resolve name 10.128.5.100:17543 as address: \262\273\326\252\265\300\325\342\321\371\265\304\326\367\273\372\241\243
debug1: resolve_c

[2019-12-10 16:58] JustinGrote opened #1519 "Client: $HOME/.ssh/ssh_config not read by default, must be explicitly specified"
Please answer the following

**"OpenSSH for Windows" version**
8.0.0.0p1-beta (Installed from scoop)

**Client OperatingSystem**
Windows 10 Insider Build 19033.1

**What is failing**
Does not read $HOME\.ssh\ssh_config by default

**Expected output**
[code]

**Actual output**
[code]

[2019-12-10 21:03] DHowett-MSFT commented on #1310
This was fixed.

[2019-12-10 21:03] #1310 closed, assigned to bagajjal

[2019-12-12 18:25] DHowett commented on #1519
Interesting. Shouldn't that be `~/.ssh/config`?

[code]

[code]

The manual for ssh (upstream) states, (emphasis mine)

[code]

[2019-12-12 18:48] JustinGrote commented on #1519
Well I feel dumb, I clearly got confused with the /etc version vs. the personal version. This did work fine. Closing as a PEBCAK, though perhaps the debug should show what config paths it tried? I would have found this a lot faster had I known what paths it looked for by default.

[2019-12-12 18:48] #1519 closed, assigned to nobody

[2019-12-13 11:25] jamercee opened #1520 "SFTP does not correctly support reparse-points"
OpenSSH for Windows 10 (Build 1809) does not correctly support NTFS reparse points. SFTP reports reparse points as regular directories, but they do not support recursion. Attempts to `cd `into these directories reports an error (typically Bad message).

For example, use WinSCP, and try to list the directory contents of `C:\Users\myuser\AppData\Local\Application Data`, will return the error:

[code

[2019-12-13 14:06] CMCDragonkai commented on #973
I just tried the most recent openssh from chocolatey. Which installed the version 8. It still failed on my RSA key that is password protected.

[2019-12-13 15:10] ghost commented on #1520
( back ref. https://github.com/MicrosoftDocs/windowsserverdocs/issues/3619 )

[2019-12-13 16:50] NoMoreFood commented on #1520
I’m not sure what version ships with 1809.  Symlink support has been in for
awhile.  Can you try the latest?

On Fri, Dec 13, 2019 at 6:25 AM Jim <notifications@github.com> wrote:

[2019-12-13 17:14] jamercee commented on #1520
Tests are run against a fresh install of OpenSSH from 2 days ago using the instructions at https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_install_firstuse

Powershell reports

[code]

sshd reports:

[code]

Is this the latest version with symlink support?

FYI, we tested this against Windows 10-Pro, 64-bit (not sure if that's relevant).

[2019-12-13 19:40] veleek commented on #1498
Just wanted to bump this as still being the case on the most recent builds of Windows.

I've worked around this by adding a block to the top of my profile that checks for the existence of `$env:SSH_CONNECTION` which is set when connecting with SSH.  Longer term solution is to add some magic to prevent output but that's probably a bit harder.

[code]

If necessary, I can manually load the profile a

[2019-12-13 20:03] bagajjal commented on #1252
@oldium  @ethanhs - The right fix is to send the full auth context from parent sshd process to child authenticated sshd process.
PR https://github.com/PowerShell/openssh-portable/pull/417

[2019-12-13 20:16] oldium commented on #1252
Yes, definitely a proper fix.

I gave up on using same user name as computer name, because as soon as you fix sshd, there is ssh client striking back with this line:

https://github.com/PowerShell/openssh-portable/blob/3b28c6493601044d865e92f6d5c903121106da01/contrib/win32/win32compat/pwd.c#L240-L241

This is wrongly translated in:

https://github.com/PowerShell/openssh-portable/blob/3b28c64936010

[2019-12-13 22:37] veleek commented on #1498
Just reading through the [documentation for `Write-Host`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/write-host?view=powershell-6) to figure out some options for this, and while it's not possible with `Write-Host` as of PS 5.0 `Write-Host` is a wrapper for `Write-Information` which supports the `$InformationPreference` variable (similar to `$ErrorPreference` an

[2019-12-14 12:47] oldium commented on #1252
@bagajjal Could you please also have a look at PowerShell/openssh-portable/pull/418? I fixed part for SSH client, which fails during checking of config file permissions - because of having the same user name as computer name.

To reproduce, simply change your computer name to be the same as your local user name (not the way around). Reboot, check that the .ssh/config is owned/readable/writable by

[2019-12-14 14:47] NoMoreFood commented on #1520
Yeah, the version here should support them: https://github.com/PowerShell/Win32-OpenSSH/releases

[2019-12-15 17:46] ebmarquez commented on #1492
The ultimate fix was to use an ISO to restore windows. Windows became corrupted and that seems to be the root cause.

[2019-12-15 17:46] #1492 closed, assigned to nobody

[2019-12-16 10:53] #1518 closed, assigned to nobody

[2019-12-17 12:55] soul4soul commented on #1375
I believe I'm seeing the same issue.

I perform the same steps using putty 0.70.0 client and only see the welcome message once.

**Client**
Windows 10, version 1909 client running OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5

**Server**
Ubuntu 18.04.3 LTS running OpenSSH_7.6p1 Ubuntu-4ubuntu0.3, OpenSSL 1.0.2n  7 Dec 2017

[code]

[2019-12-18 07:26] bagajjal opened #1521 "Add support for ZLIB compression"
Add support for ZLIB compression

[2019-12-18 07:26] bagajjal commented on #1521
https://github.com/PowerShell/openssh-portable/pull/404

[2019-12-18 07:26] #1521 closed, assigned to bagajjal

[2019-12-18 07:27] gunnarhaslinger commented on #1500
I contacted Microsoft and got following answer:

_We regularly merge upstream OpenSSH updates with our fork and check those back into Windows.  In the event of a critical security issue, we would work with Windows servicing to make that available via Windows Update._

[2019-12-18 07:27] #1500 closed, assigned to nobody

[2019-12-18 07:42] bagajjal opened #1522 "Read libressl version from config"
Read the libressl version from paths.target file

[2019-12-18 07:43] bagajjal commented on #1522
https://github.com/PowerShell/openssh-portable/pull/405

[2019-12-18 07:43] #1522 closed, assigned to bagajjal

[2019-12-18 07:46] bagajjal commented on #1381
fixed as part of PR https://github.com/PowerShell/openssh-portable/pull/409

[2019-12-18 07:46] #1381 closed, assigned to manojampalam

[2019-12-18 07:47] bagajjal commented on #548
Fixed as part of https://github.com/PowerShell/openssh-portable/pull/409

[2019-12-18 07:47] #548 closed, assigned to manojampalam

[2019-12-18 07:53] bagajjal commented on #689
This should be fixed by now in windows 10.
for Windows 10 below, we provide only basic shell.

[2019-12-18 07:53] #689 closed, assigned to bagajjal

[2019-12-18 07:54] bagajjal commented on #938
This should be fixed by now in windows 10.
For windows 10 below, we provide only basic support.

[2019-12-18 07:54] #938 closed, assigned to bagajjal

[2019-12-18 07:58] bagajjal commented on #1310
Fixed as part of https://github.com/PowerShell/openssh-portable/pull/412

[2019-12-18 07:59] #1511 closed, assigned to bagajjal

[2019-12-18 07:59] bagajjal opened #1523 "Spawn child sshd process with DETACH_PROCESS flag"
Spawn child sshd process with DETACH_PROCESS flag

[2019-12-18 08:01] bagajjal commented on #1178
fixed part part of https://github.com/PowerShell/openssh-portable/pull/322

[2019-12-18 08:01] #1178 closed, assigned to nobody

[2019-12-18 08:01] bagajjal commented on #1084
fixed as part of https://github.com/PowerShell/openssh-portable/pull/322

[2019-12-18 08:01] #1084 closed, assigned to nobody

[2019-12-18 08:03] #1523 closed, assigned to bagajjal

[2019-12-18 08:03] bagajjal opened #1524 "Match user force command is not working in pty session"
ssh.exe user1@localhost doesn't block SSH with the below configuration.

Match User user1
ForceCommand echo 'You are not authorized!'

[2019-12-18 08:04] bagajjal commented on #1524
https://github.com/PowerShell/openssh-portable/pull/419

[2019-12-18 08:04] #1524 closed, assigned to bagajjal

[2019-12-18 08:05] #1480 closed, assigned to nobody

[2019-12-18 08:08] bagajjal opened #1525 "Match user with case insensitive matching"
Use case insensitive matching when matching user (read from sshd_config)

[2019-12-18 08:09] bagajjal commented on #1525
fixed as part of https://github.com/PowerShell/openssh-portable/pull/410

[2019-12-18 08:09] #1525 closed, assigned to bagajjal

[2019-12-18 08:10] bagajjal opened #1526 "SFTP fails when we use custom ssh program (-S)"
SFTP fails when we use custom ssh program (sftp.exe -S <custom_ssh_program>)

[2019-12-18 08:10] bagajjal commented on #1526
fixed as part of https://github.com/PowerShell/openssh-portable/pull/410

[2019-12-18 08:10] #1526 closed, assigned to bagajjal

[2019-12-18 08:11] bagajjal opened #1527 "SSH-KEYGEN fails the validate the signature of a file."
SSH-KEYGEN fails the validate the signature of a file.

[2019-12-18 08:11] bagajjal commented on #1527
fixed as part of https://github.com/PowerShell/openssh-portable/pull/410

[2019-12-18 08:11] #1527 closed, assigned to bagajjal

[2019-12-18 08:12] #1252 closed, assigned to nobody

[2019-12-18 08:55] janorn commented on #1253
Any updates?

[2019-12-18 08:56] janorn commented on #1253
I get a random nr of motd between 1-3.

[2019-12-18 10:00] mkpankov opened #1528 "Non-interactive command output is polluted with empty lines and escape sequences"
**"OpenSSH for Windows" version**
7.7.2.2

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**

CentOS 7

**What is failing**

Output is littered with empty lines and escape sequences

[code]

**Expected output**
[code]
**Actual output**

[code]

[2019-12-18 10:30] chrgraefe opened #1529 "Update policy in Windows 10 / Windows Server"
We install OpenSSH.Server as a WindowsCapability.

Is this package (OpenSSH.Server~~~~0.0.1.0) updated within a release or only when the OS is upgraded?

[2019-12-18 20:35] AndrewDeanMS opened #1530 "When processing the command parameter, stderr output results in Packet Integrity Error"
**"OpenSSH for Windows" version**
7.6.0.0

**Server OperatingSystem**
WIndows 10 Enterprise (ARM64)

**Client OperatingSystem**
Windows 10 Enterprise (x64)

**What is failing**
Given this program (RepeatErr):
[code]

Invoke it this way (ssh running on windows, x64. sshd running on windows, ARM64):
```ssh -l <user> <ipAddress> "c:\Path\To\RepeatErr.exe 1 2 3"```

**Expected output**
[code]

**Actua

[2019-12-18 21:54] Stanzilla commented on #1529
I was told on Twitter before that it is only updated on OS upgrades.

[2019-12-19 18:16] viponedream opened #1531 "Install-Module -Force OpenSSHUtils -Scope AllUsers"
WHEN I INSTALL by the course: https://docs.microsoft.com/zh-cn/windows-server/administration/openssh/openssh_keymanagement

Install-Module -Force OpenSSHUtils -Scope AllUsers

it says:

PackageManagement\Install-Package : 无法安装或更新模块“OpenSSHUtils”，因为文件“OpenSSHUtils.psd1”的验证码签名无效。
所在位置 C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1\PSModule.psm1:1809 字符: 21
+ ...          $null = Pa

[2019-12-19 23:56] Yivan commented on #1263
Hello,

Could you please add a only client install script at least on the repository ? (isntead of having to rely on external scripts, customise ourself the install script).
I hope it will be deployed to Windows soon, same here, I used a standart ssh key generated with new default (following gitlab procedure). Works everywhere... except the W10 ssh-agent reliying on old version.

Other possibility

[2019-12-20 00:56] M-Pixel commented on #1492
I find that hard to believe, as I experienced the issue within hours of completing a fresh Windows 10 installation from ISO.

[2019-12-20 01:38] altano commented on #1263
To those just seeing this thread:

This was theoretically fixed one year ago but there have been no releases (bundled in Windows) since then, even as major version upgrades of Windows itself have come and gone. The developers also don’t seem to want to speak to the lack of releases in this thread.

I think it would be safe to assume that this project is sidelined, we’re not going to see a new vers

[2019-12-20 08:02] Isa-rentacs opened #1532 "keys registered to ssh-agent are not picked up"
**"OpenSSH for Windows" version**
[code]

**Server OperatingSystem**
N/A

**Client OperatingSystem**
[code]
Version 1809 (17763.864)

**Background**
1. I enabled ssh-agent on a domain joined machine and the service is up and running (ssh-add -l shows my key under ```C:\Users\<name>\.ssh```).
1. The target SSH server (Linux) has a user that has the same name as the Windows machine
1. Have a ssh con

[2019-12-22 10:30] gunnarhaslinger commented on #1529
Not sure if you are asking about Feature-Updates of OpenSSH or Security/Quality-Updates.
I asked a similar question to yours - maybe this answers your question too. See [https://github.com/PowerShell/Win32-OpenSSH/issues/1500](https://github.com/PowerShell/Win32-OpenSSH/issues/1500)

[2019-12-22 14:28] chrgraefe commented on #1529
Thanks Gunnar/Danke Gunnar

[2019-12-22 14:28] #1529 closed, assigned to nobody

[2019-12-24 02:44] DHowett-MSFT commented on #1528
`-t` explicitly requests the allocation of a terminal, which the server uses to determine that the output will be going to a terminal. If you do not want a terminal to be allocated, drop the `-t` flag from your SSH invocation.

[2019-12-24 09:10] mkpankov commented on #1528
That's not what happens when connecting to a Linux OpenSSH server though.

There, even with `-t`, output doesn't have escapes when it shouldn't:

[code]

When using `ls -la` interactively, names of some folders are colored.

Then, `-t` is used by a program that wants to interact with remote shell. Interaction is via parsing prompt and sending commands, which breaks when output has unexpected escap

[2019-12-26 13:02] CMCDragonkai commented on #1481
I'm getting this on my RSA key that is password protected.

I have an AES-128-CBC rsa key that is password protected. I'm beginning to think the Windows ssh including Win32-OpenSSH just doesn't support this kind of key.

[2019-12-29 14:05] weijx1903 commented on #1507
How to resolve it?

[2019-12-29 14:40] easycoderwei commented on #1507
I found a solution: the problem is caused by C:\Windows\System32\OpenSSH\ssh.exe. I replaced all executables under the directory C:\Windows\System32\OpenSSH with the file under directory GitInstallPath\Git\usr\bin. Remember to copy all the dll file under directory GitInstallPath\Git\usr\bin.

[2019-12-29 18:50] ghost commented on #689
No, thanks!

Guys use Bitvise SSH Server (for not commercial usage it is free).

[2019-12-29 21:08] AndrewSav commented on #689
@hardhub Just tried the latest Windows 10 and it works perfectly.

[2019-12-29 21:50] ghost commented on #689
@AndrewSav I mean "no please, no... do not suggest to use this ShitOS 10"

[2019-12-30 16:10] ahmadalli opened #1533 "ProxyCommand fails with same config as WSL"
**"OpenSSH for Windows" version**
7.7.2.1

**Server OperatingSystem**
Centos 6

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
ProxyCommand works fine on WSL (ubuntu 18.04) with the same server while it fails on windows

**Expected output**
established ssh connection

**Actual output**

[code]

**Configs**

on wsl:

[code]

on windows:

[code]

[2019-12-31 00:29] bagajjal commented on #1530
@AndrewDeanMS  - Please try the latest version 8.0.0.1

[2019-12-31 01:31] OnlineGBC commented on #1453
i have the same problem installing it on a Windows 7 machine.  (Obviously, it is not needed on Windows 10).  The file itself is not found in the zip extract so there is no way to select a path:

Here is the Windows 7 version:
PS C:\Program Files\OpenSSH> [System.Environment]::OSVersion.Version
Major  Minor  Build  Revision
-----  -----  -----  --------
6      1      7601   65536

The argument 'ins

[2019-12-31 16:30] infokiller commented on #1177
Is there a way to make the service use the same auth flow as if it was run interactively?
I'm asking because I have the same issue as OP and looking for a workaround.

[2019-12-31 19:07] bagajjal commented on #1177
Please check if "users" on the machine has access to sshd.exe

![image](https://user-images.githubusercontent.com/23668037/71631488-c27ce600-2bbd-11ea-861d-86b27ea4495c.png)

[2020-01-01 06:05] idanpa commented on #1088
I see the same problem with:
Windows 10 18363.535
OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5
After unsetting DISPLAY problem fixed, but this is not a solution for me since I would like to use X11 forwarding.

[2020-01-01 08:02] infokiller commented on #1177
Thanks @bagajjal but unfortunately users has access...
I think this is expected: like OP password auth works fine, only key auth fails.

[2020-01-01 10:16] thatreguy commented on #1306
This. I simply do not get why someone would disable PubkeyAuthentication by default. Probably an oversight just like the useless OpenSSH {client|server} optional feature offered by MS!

[2020-01-01 10:33] psz2036 commented on #1088
Did you try the workaround: create an object /dev/tty e.g. with
  mkdir \dev
  echo x > \dev\tty
(as per this issue #1088 or #966).

[2020-01-01 19:22] bersbersbers commented on #139
@DarwinJS how do you do that? I get an Error 1297 if I set the OpenSSH service to start as myself.

[2020-01-02 02:32] Domain commented on #1533
You must specify the full path of ssh.exe, or update to new version, such as v8.1.

[2020-01-02 17:11] romanad commented on #837
I need an answer too, I'm trying to turn off monitor in Windows 10 via SSH but can't find a way.
I suppose I have to run the script as an interactive user.

[2020-01-03 02:15] affinityv commented on #1450
If the user is in the administrators group, then the %programdata%\ssh\administrators_authorized_keys file is used **instead** of the user's own one.

You need to make sure that the **adminstrators_authorized_keys** file doesn't inherit rights for ordinary users to read it.  The administrators group works with full rights and ownership of the file, no other user or process needs to be given any ac

[2020-01-03 02:22] affinityv commented on #1450
This from sshd_config is the reason why the special authorized keys file is used to override the user's own file.

[code]

[2020-01-03 18:32] bagajjal commented on #1507
@tang-soup , @DavidZhang73,

Please share the ssh logs (ssh.exe user@ip -vvv) and sshd.log (DEBUG3) enabled.

[2020-01-05 06:54] imaxhung commented on #1469
Just tested v8.1.0.0p1-Beta
This closed issue had been solved since this release.
Thanks for your work. @NoMoreFood

[2020-01-06 06:59] rtollert opened #1534 "posix-rename@openssh.com is not atomic"
[Presently](https://github.com/PowerShell/openssh-portable/blob/v8.1.0.0/contrib/win32/win32compat/misc.c#L735), `w32_rename()` is implemented by a `_wunlink()` or `_wrmdir()` (if necessary) followed by `_wrename`. This is a problem, because it breaks POSIX's atomicity requirements on `rename()`. More specifically,
- `posix-rename@openssh.com` [is explicitly defined](https://github.com/PowerShell/

[2020-01-06 07:29] NoMoreFood commented on #1534
Does this have any known or theoretical consequence for the execution of OpenSSH, specifically?

[2020-01-06 08:26] rtollert commented on #1534
AFAIK: Yes, if connecting to sftp, and attempting to use posix-rename@openssh.com to effect rename-to-overwrite.

[2020-01-06 23:47] analogrelay commented on #1322
Still happening in `OpenSSH_for_Windows_8.1p1, LibreSSL 2.9.2` :(. This is really blocking my ability to use the Windows OpenSSH client since I basically can't clone any of the Git repos I work with using it.

[2020-01-07 00:16] tynril commented on #1263
@SteveL-MSFT Hi Steve, would you be able to comment on the matter of these fixes not being pushed out as part of Windows updates?

Is @altano's hypothesis correct, in which case, using Windows' bundled OpenSSH should be discontinued in favor of another installation? I'm hoping it isn't, as it would complicate workflows quite a bit. Especially since now, there are new steps that need to be undertak

[2020-01-07 06:27] DHowett-MSFT commented on #1534
Recommend implementation using `MoveFileExW` with flag `MOVEFILE_REPLACE_EXISTING`. If moving across volumes, `MOVEFILE_COPY_ALLOWED` will be required as well.

[2020-01-07 06:27] DHowett-MSFT commented on #1534
Ah, I missed the callout to `ReplaceFile`. That is also an excellent choice.

[2020-01-07 14:56] bersbersbers commented on #1133
@manojampalam can you explain why you think this is expected behavior?

The link you posted states this:

So in my reading, `IdentitiesOnly` can have an effect on which identities an agent offers, but should still enable offering the one represented by `IdentityFile`. Or am I misreading this?

[2020-01-07 17:33] ahmadalli commented on #1533
@Domain I've tried full address too. also how can I update to new version?

[2020-01-07 18:21] ahmadalli commented on #1533
I've tried full address and it worked

[2020-01-07 18:21] #1533 closed, assigned to nobody

[2020-01-07 19:42] AndrewDeanMS commented on #1530
Tried the latest version, and this issue has been resolved.

[2020-01-07 19:42] #1530 closed, assigned to bagajjal

[2020-01-08 01:11] bagajjal commented on #1263
@altano , @tynril - We are shipping the latest github version (v8.1.0.0) into next windows release.

Please let me know if you have any issues with the latest GitHub version (v8.1.0.0).

[2020-01-08 23:38] nixit28 commented on #1050
I couldn't find OpenSSH in that list, do I need to install some packages.

Thanks,
Nixit
![temp](https://user-images.githubusercontent.com/1281853/72025451-0fbd1f80-3270-11ea-85c2-de2d55eba683.PNG)

[2020-01-09 05:01] jeremybusk commented on #1306
This still isn't working for me. It really is sad it is this hard and no ssh-copy-id.

[2020-01-09 05:27] jeremybusk commented on #1324
Totally agree on this. Rip it out. I don't think it adds value just is confusing. If I have admin shell on a box I will own your host even with confusing rules like this.

[2020-01-09 15:15] rtollert opened #1535 "sftp-server advertises fstatvfs@openssh.com even though it is not supported"
[fstatvfs is not (currently) implemented](https://github.com/PowerShell/openssh-portable/blob/2c2ac97333f33bdb39dc875d4ef0c7b7fdb8e323/contrib/win32/win32compat/misc.c#L1185) on win32, but [it's still advertised in SSH_FXP_INIT](https://github.com/PowerShell/openssh-portable/blob/2c2ac97333f33bdb39dc875d4ef0c7b7fdb8e323/sftp-server.c#L666). I'd be OK with simply not advertising this as a supported

[2020-01-09 18:16] bagajjal commented on #1050
@nixit28 - What is the window 10 build are you using? Is it x86 / x64 /ARM / ARM64?
Just to make sure, you are checking in the optional features?
![image](https://user-images.githubusercontent.com/23668037/72093402-2479d180-32c9-11ea-8bbe-1bbfd65b2de0.png)

[2020-01-09 18:22] bagajjal commented on #1306
@jeremybusk - Please share the ssh client logs (ssh.exe -vvv user@ip) and the sshd.log with DEBUG3 enabled.

If "%programdata%\ssh\sshd_config" file does't have the below config then add it and restart the sshd service (net stop sshd; net start sshd)
       SyslogFacility LOCAL0
       LogLevel DEBUG3

The sshd.log file will be at %programdata%\ssh\logs directory.

[2020-01-09 18:34] nixit28 commented on #1050
Os is windows server 2016 x64.
yes I am checking under Optional Feature. but the only feature that I am seeing are related to language support and typing.

[2020-01-09 18:45] bagajjal commented on #1535
@rtollert - Thanks for reporting. This will be fixed in next release.

[2020-01-09 18:48] bagajjal commented on #1050
We don't support on windows server 2016 as optional feature.
You need to use either windows 10 or windows server 2019.

If you are interested then you can install github version on windows 2016. Follow the [installation steps](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH)

[2020-01-10 09:27] LinuxMEKO-S commented on #1492
I was having the same problem, disabling WUServer in the registry solved it for me.

1. regedit

2. HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate\AU

3. UseWUServer -> 0

4. net stop wuauserv && net start wuauserv from cmd

[2020-01-10 11:25] Acenl12 opened #1536 "How can I use the latest cipher suites in openssh for windows"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps
#Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
#MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com

[2020-01-10 12:00] Acenl12 opened #1537 "Show server name when connecting"
How can I show the server name when connecting to an machine with OpenSSH for Windows in the terminal?

[2020-01-10 15:58] Yivan commented on #1263
@bagajjal I tested it, and for me it resolved this issue.

[2020-01-10 16:48] adiroiban commented on #909
I think that with the latest windows nano server you no longer have access to windows services... so the only option to to manually start your executable.

[2020-01-10 17:04] adiroiban opened #1538 "Add some sort of support for newer Windows Nano Server"
I don't know from where to start this... and maybe this is not an issue with OpenSSH for Windows, but instead with Windows Nano Server API (but I have no idea how to get in contact with MS Nano Server team).

I am trying to get OpenSSH for Windows running inside the latest Windows Nano Server (and maybe IOT).

The current repo is here https://github.com/chevah/docker-openssh-win ... but it needs W

[2020-01-10 18:09] bagajjal commented on #1536
https://www.freebsd.org/cgi/man.cgi?sshd_config(5)

Use "Ciphers" in the sshd_config.

[2020-01-10 18:20] Acenl12 commented on #1536
That's what I did, didn't work

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: bagajjal <notifications@github.com>
Sent: Friday, January 10, 2020 7:09:06 PM
To: PowerShell/Win32-OpenSSH <Win32-OpenSSH@noreply.github.com>
Cc: guidovbrakel <guido.vanbrakel@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [PowerShell/Win32-OpenSSH] Make OpenSSH for

[2020-01-10 18:32] bagajjal commented on #1536
once you change the sshd_config, you need to restart the sshd service (net stop sshd; net start sshd).
If you still have problem then share you sshd_config and sshd.log with DEBUG3 enabled.

[2020-01-10 18:36] Acenl12 commented on #1536
Did a, restart

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: bagajjal <notifications@github.com>
Sent: Friday, January 10, 2020 7:33:00 PM
To: PowerShell/Win32-OpenSSH <Win32-OpenSSH@noreply.github.com>
Cc: guidovbrakel <guido.vanbrakel@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [PowerShell/Win32-OpenSSH] Make OpenSSH for Windows (#1536)

[2020-01-10 18:56] bagajjal commented on #1536
So, are you still facing the issue?
Please provide the full details.

[2020-01-10 18:56] bagajjal commented on #1536
Also provide the ssh client log (ssh -vvv user@ip)

[2020-01-11 12:15] mgkuhn commented on #1316
Just switch on GSSAPIAuthentication, and your problem is gone. In an Active Directory domain, there is no need any more to use public-key authentication. You have Kerberos instead, which does not rely on the existence of any file in the user's profile. GSSAPIAuthentication has been available since v7.9.0 (see #1295).

[2020-01-11 12:52] mgkuhn commented on #1537
Does typing `hostname` not solve your problem? [Other options exists ...](https://www.windows-commandline.com/find-computer-name-from-command-line/)
This doesn't sound like an ssh-related question, more like a command-shell related one.

[2020-01-11 13:01] mgkuhn commented on #1534
@NoMoreFood Users of [SSHFS](https://en.wikipedia.org/wiki/SSHFS) may expect proper POSIX file-system semantics, and being able to atomically replace one file with another is immensely valuable, for example when updating a web site consisting of static HTML files (to make sure site readers do not see a missing or half-written file during the replacement). Also, several editors and version-control

[2020-01-11 13:14] mgkuhn commented on #1528
First of all you need to upgrade to a newer OpenSSH and/or Windows version to enjoy ConPTY support. This means v7.9.0 or newer and Windows 10 1809 or newer. Before [ConPTY](https://devblogs.microsoft.com/commandline/windows-command-line-introducing-the-windows-pseudo-console-conpty/), programs such as sshd couldn't see the stdout of any program and had to screen-scrape the text window.

[2020-01-11 13:28] mgkuhn commented on #1495
On Linux, that will most likely be done by a PAM module, e.g. read `man pam_unix`, and not by `sshd`. So I am not convinced this is (or should be) an sshd issue.

Perhaps the best solution for you is to disable public-key authentication, enable GSSAPIAuthentication instead, and then the kinit (or equivalent) on your client should fail if the user's Active Directory password has expired. No unexpir

[2020-01-11 13:41] mgkuhn commented on #1437
That sounds more like a feature request for OpenSSH itself, rather than for the Windows port of it (which is what these issues are for). I'm not aware of any such ssh option on other operating systems.

You can try to work around it by sending a cd/pushd command followed by starting another shell, as in
[code]

[2020-01-11 13:48] mgkuhn commented on #1419
You may want to read in `man bash` the section `QUOTING` to better understand what the backslash does in a POSIX shell and how to escape it, especially if any of the following lines surprise you:
[code]

[2020-01-11 13:56] mgkuhn commented on #1414
Where in your log is the delay visible in the timestamps? When I had mysterious delays in the past, then it was always one of our Active Directory servers being in a bad state, and the Kerberos/LDAP client on the sshd server having to timeout before trying the next one, so not actually an sshd issue, but just one exposed by ssh, where users expect usually a very fast login (compared to the many mi

[2020-01-11 14:06] mgkuhn commented on #1405
issue can be closed?

[2020-01-11 14:18] mgkuhn commented on #1397
Windows Kerberos clients do additional LDAP checks on the Active Directory server compared to the Linux implementation of Kerberos, so it is possible that there is something in your Active Directory user or computer object not yet set correctly (common issues include: AES encryption type not being enabled, the server not being trusted for delegation, the SPN or domain not matching the DNS entry).

[2020-01-11 14:27] mgkuhn commented on #1326
The line “Windows OS does not have inbuilt support for a pseudoterminal.” clearly needs to be changed to “Windows versions before Windows 10 1809 did not have built-in support for a pseudoterminal. On more recent versions, OpenSSH 7.9 or newer can connect stdin/stdout of a command-line applications similar to how it does on POSIX systems.”
Anything else?

[2020-01-11 19:44] NoMoreFood commented on #1405
Yes.

[2020-01-12 20:39] idanpa commented on #1088
mkdir \dev
echo x > \dev\tty

Fixed that issue, thanks

[2020-01-12 22:17] mgkuhn commented on #1537
Try e.g. `ssh machine.contoso.com "hostname&&cmd"`

[2020-01-12 22:20] Acenl12 commented on #1537
I already found another solution, making powershell the default shell and then changing the powershell profile.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Markus Kuhn <notifications@github.com>
Sent: Sunday, January 12, 2020 11:17:01 PM
To: PowerShell/Win32-OpenSSH <Win32-OpenSSH@noreply.github.com>
Cc: guidovbrakel <guido.vanbrakel@outlook.com>; Author

[2020-01-12 22:21] mgkuhn commented on #1437
Or to a Windows server from cmd.exe
[code]
or from bash
[code]

[2020-01-13 06:23] mkpankov commented on #1528
@mgkuhn how would I do that, if I installed it as a Windows component?

My current Windows version is 18363, OpenSSH is still 7.7.

[2020-01-13 08:32] Acenl12 commented on #1536
When I put in these ciphers, the sshd service won't even start:
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com
KexAlgorithms curve25519-sha256@li

[2020-01-13 08:34] Acenl12 commented on #1536
ssh -vvvv shows this
C:\Users\Administrator>ssh -vvvv localhost
OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5
debug3: Failed to open file:C:/Users/Administrator/.ssh/config error:2
debug3: Failed to open file:C:/ProgramData/ssh/ssh_config error:2
debug2: resolving "localhost" port 22
debug2: ssh_connect_direct: needpriv 0
debug1: Connecting to localhost [::1] port 22.
debug3: finish_connect - ERROR: a

[2020-01-13 10:42] mgkuhn commented on #1528
I think you will find that installing a [current Github release](https://github.com/PowerShell/Win32-OpenSSH/releases) will be a huge improvement compared to 7.7 (just unzip into Program Files). I have no idea why Windows is still installing such an outdated version as a component, which causes people to raise many issues here that have been fixed in the Github releases over a year ago.

[2020-01-13 14:29] mkpankov commented on #1528
@mgkuhn thanks, I updated.

It didn't help with the issue at all, though.

[2020-01-13 15:43] mgkuhn commented on #1528
And you are sure you are actually talking to the new version sshd, i.e. "ssh -v host" really says " remote software version OpenSSH_7.9" or newer, and you haven't still accidentally the older 7.7 sshd running somewhere?
Full sshd installation instructions:
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2020-01-13 15:51] mkpankov commented on #1528
Yes.

I actually needed to make a new service manually since I installed to user directory instead of Program files, and start that new service. I also checked the version with ssh itself.

[2020-01-14 14:38] WSLUser commented on #1536
I'd hate to be the bearer of bad news but that sshd config also doesn't work on Linux. I had attempted to harden one of our CentOS hosts ssh config and summarily broke access to it (I will note I did not add the chacha as the version of CentOS I'm running doesn't support it) (fortunately had a snapshot taken just before the change). So it's most likely an upstream issue.

That said, if we can get

[2020-01-14 14:45] WSLUser commented on #1535
I'd prefer it to be implemented over ignoring it if possible. The more openssh features we have on Windows, the better.

[2020-01-14 15:35] Acenl12 commented on #1536
It does work on Ubuntu, we have it on 2000 Ubuntu servers

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: WSLUser <notifications@github.com>
Sent: Tuesday, January 14, 2020 3:38:41 PM
To: PowerShell/Win32-OpenSSH <Win32-OpenSSH@noreply.github.com>
Cc: guidovbrakel <guido.vanbrakel@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [PowerShell/Win3

[2020-01-16 04:00] DwightGappa opened #1539 "Setting Powershell as the default shell through the registry causes Powershell to be run as Administrator"
Please answer the following

**"OpenSSH for Windows" version**
7.7.2.2

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
When connecting to target Windows 10 Pro through SSH that has Powershell set as the default shell by setting the registry key "HKEY_LOCAL_MACHINE\SOFTWARE\OpenSSH\DefaultShell" to the value "C:\Windows\System32\WindowsPowe

[2020-01-16 04:15] DwightGappa commented on #1539
Any shell set as default will run as Administrator rights. Just verified that the normal cmd.exe run as Administrator through OpenSSH

[2020-01-16 13:26] todag opened #1540 "Chroot %u token not working."
Server 2019
OpenSSH 8.1.0.0

Is the %u token not supported on Windows?

I have a domain joined sftp server and
would like to chroot my domain users to their home directory which is  "x:\home\username"

"ChrootDirectory x:\home" works, but "ChrootDirectory x:\home\\%u" does not and immediately disconnects.

[2020-01-16 14:39] claashk opened #1541 "Cannot login on windows 10 from Linux"
**"OpenSSH for Windows" version**
8.1.0.0

**Server OperatingSystem**
Windows 10 Enterprise

**Client OperatingSystem**
OpenSuse 15.1

**What is failing**
Cannot Login from Linux to Windows 10 Server (using password or Kerberos) with an active directory account. I tried
[code]
with the same outcome:
`Permission denied. Please try again`

My interpretation as a non-expert: it seems to me, that the

[2020-01-17 01:52] DHowett-MSFT commented on #1253
This also happens when the alternate screen buffer is exited (like when vim is closed.)

[2020-01-17 09:35] freegnu commented on #419
disable write permissions for any user except for admin
pwershell thinks the file is inseure as a user can alter the script to do whatever they want and then you would run it not realizing the script had been changed

[2020-01-17 19:09] ajf8729 commented on #350
Providing an MSI installer, similar to the latest PowerShell releases, would be great for deploying it en masse via tools like ConfigMgr.

[2020-01-18 02:18] slack1661 commented on #350
Agreed. Please provide an MSI installer 😊

[2020-01-18 06:02] fore5fire commented on #1053
I'm seeing this same issue when logging into a domain user from macOS using public key auth. Logs show the public key auth was accepted, but then it hits the error:
[code]
Password auth is working fine, this only happens with public key auth.

[2020-01-20 21:23] xianwenchen commented on #1088
I have the same problem on Cygwin64 on a freshly installed Windows 10 (installed today).

[2020-01-20 21:30] xianwenchen commented on #966
on Windows 10, I am able to log in using ssh. But using rsync and ssh was not successful, even with the \dev\tty hack.

[2020-01-22 00:42] jhudsoncedaron opened #1542 "Can't log in with public key--bad diagnostic "bad owner on .ssh/authorized_keys""
**"OpenSSH for Windows" version** 7.7.2.2

**Server OperatingSystem** Server Core: Microsoft Windows [Version 10.0.18362.592]

**Client OperatingSystem** Windows 10 and Debian

**What is failing** Can't log in with public keys

debug3: mm_answer_keyallowed entering
debug3: mm_answer_keyallowed: key_from_blob: 000001622C55A280
debug1: trying public key file C:\\Users\\InterfaceVM01\\.ssh/authorized

[2020-01-22 00:44] bagajjal commented on #1542
@jhudsoncedaron - Please use V8.1.0.0. It should be fixed.

[2020-01-22 00:45] jhudsoncedaron commented on #1542
@bagajjal : I'll be back tomorrow. Got upgrade instructions. Currently sshd installed by dism.

[2020-01-22 13:30] TadasJuska opened #1543 "AD user cannot be authenticated by Key when sshd server is running by system(Password works), but key auth is working for user if user starts openssh by himeself with .\sshd.exe -d"
**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
PS C:\Program Files\OpenSSH> ((Get-Item (Get-Command ./sshd).Source).VersionInfo.FileVersion)
8.1.0.0

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`
Windows Server 2016 Standard

**Client OperatingSystem**
Linux

[2020-01-22 16:40] jhudsoncedaron commented on #1542
Ok so I unpacked the zip file to C:\OpenSSH-Win64-8.1.0p1-Beta, changed the service binary paths in regedit to match, changed the sftp-subsystem line in C:\ProgramData\ssh to match, and tried it.

Results:

Can log in interactively while running `ssh -dddd` on the server, but if I try via the ssh service I get stuck at

debug1: Authentication succeeded (publickey).
Authenticated to interface01.<re

[2020-01-22 17:08] Kiroha opened #1544 "ChrootDirectory in sshd_config randomly ignored for Windows server"
**"OpenSSH for Windows" version**
 7.7.2.2

**Server OperatingSystem**
 Windows Server 2019 Datacenter

**Client OperatingSystem**
 Windows Server 2019 Datacenter and Debian Linux
**What is failing**
ChrootDirectory attribute randomly ignored
**Expected output**
ChrootDirectory apply at each client connection
**Actual output**
When my sftp client does multiple connect, randomly the ChrootDirectory

[2020-01-22 21:50] adotka commented on #1363
@oulman

Hi James,
I am stuck with the same problem (ssh connections being reset, "ga_init, unable to resolve user" in event log) and do not quite understand your solution.

Can you suggest how exactly do I add said permissions?

Many thanks in advance!

[2020-01-23 07:18] TadasJuska commented on #1543
Tried from issue case workarounds #1053

- To add user to "Access this computer from the network" but it was before for everyone. **Not working.**
- Connect with domain name in ssh command "ssh -vvv -o "IdentitiesOnly=yes" -i ./test_key 'Domain\p986_bfr228384_t'@10.39.14.133" **Not working.**
- Service is running by SYSTEM

[2020-01-23 07:23] bagajjal commented on #1544
@Kiroha - Please provide the sftp server and SSHD logs with DEBUG3 enabled.

[2020-01-23 08:26] Acenl12 commented on #1536
Is there any update on this, I really would like to be able to use the latest cipher suites in OpenSSH for Windows.

[2020-01-23 12:58] Kiroha commented on #1544
Hello :)

Thanks for reply. Below the log :

First attempt => KO
8784 2020-01-23 13:42:44.665 debug3: checking match for 'Group administrators' user yoda_cor_rpa host 127.0.0.1 addr 127.0.0.1 laddr 127.0.0.1 lport 22
8784 2020-01-23 13:42:44.665 debug3: LsaLogonUser Succeeded (Impersonation: 0)
8784 2020-01-23 13:42:44.665 debug1: user l does not match group list administrators at line 84
8784 202

[2020-01-23 15:16] joshudson commented on #1324
I found it expedient to comment out the lines in sshd_config that enable this feature.

We're running server core. There's no point in defending against UAC elevation.

[2020-01-23 20:14] oulman commented on #1363
We have a group that grants 'read all properties' on objects in OUs with our users/groups. For systems that need SSHd we put the computer objects in this group (dont forget to reboot to pick up the new group membership).

If you don't have any restrictive permissions in your domain, verify that you're able to talk to AD and authenticate (nltest, klist, etc.) - you could have a problem like @stefan

[2020-01-23 21:00] staticfloat opened #1545 "Unable to pipe shell commands"
**"OpenSSH for Windows" version**
8.1.0.0p1-Beta

**Server OperatingSystem**
Windows Server 2019 Datacenter

**Client OperatingSystem**
Linux and MacOS tested.

**What is failing**
I expect to be able to pipe commands through `ssh` to the shell on the windows side.  See this issue in the Visual Studio Code remote SSH repository for an example of where this functionality is expected: https://github

[2020-01-24 01:13] jrohbock commented on #1544
This seems to be this issue:
[ChrootDirectory is inconsistent #1486](https://github.com/PowerShell/Win32-OpenSSH/issues/1486)

See also:
[v7.9.0.0p1-Beta breaks with multiple groups #1354](https://github.com/PowerShell/Win32-OpenSSH/issues/1354)
[Address Group Matching Issue #380](https://github.com/PowerShell/openssh-portable/pull/380)

I was running into that issue (running v7.7.2.2 on Windows S

[2020-01-24 08:24] Kiroha commented on #1544
Right it seems to be exactly the same. Is there a simple way to update the OpenSSH server installed by the get-windowscapability without breaking the potential futur update made by Microsoft ?

[2020-01-25 04:30] jrohbock commented on #1544
Disclaimer: I'm not entirely sure how updates work for Windows OpenSSH as an optional feature/capability.

That said, I get the distinct feeling that you should NOT manually update the Windows OpenSSH server if you've installed it via the `Get-WindowsCapability` PowerShell cmdlet.  I would bet money that if you did do that it would break something.

I think the only supported upgrade path for Wind

[2020-01-25 14:41] githubERIK commented on #1506
@stuartleeks , I too tried pasting my ssh password to PowerShell and saw the bad passphrase error.
Eventually, it turned out that the way _how_ pasting is done matters. Once you see `Enter passphrase for ...`, then do a right click and push Enter.

---

[code]

Do a right click and push Enter. Do _not_ hit `Ctrl+V`.

[code]

[2020-01-25 16:20] adotka commented on #1363
Thank you, James! You helped me a lot to move further, although my case seem to be different. Checking effective access shows that the computer account has right to "Read all properties" on OU, where all users and groups reside, and AD indeed can be contacted from the computer. It seems that the problem is caused by Samba4 that run my domain. It is built with default Heimdal Kerberos implementatio

[2020-01-26 13:25] mohd-akram commented on #1263
This is still an issue in Windows 10, version 1909, for those curious.

[2020-01-27 04:00] troyfontaine commented on #1481
Digging into this, if you password protect a key using Libressl on Windows the delimiter for the private key is drastically different from that used to protect a key using OpenSSL on Linux.

Windows is using OpenSSH 8.0 and the one I installed via Chocolatey was built with Libressl.  ~Attempting to read in the key to Libressl results in the error `1204969060:error:02FFF002:system library:func(4095

[2020-01-27 15:59] pd93 commented on #1515
@manojampalam mentioned support for this (or lack thereof) in #1438.

Our use-case for this is VSCode's Remote-SSH extension, which we'd like to use to connect to a remote development machine and then forward the X-Window of an Android Emulator back, so that we can do Flutter development remotely.

-- Edit: Also related: #1181

-- Edit 2: For anyone reading this that wants X11 for remote Flutter d

[2020-01-28 11:20] asdr commented on #1283
I have a similar issue here.

After a certain number of lines displayed correctly, the next lines won't be displayed until I run "cls" command, which clears all screen, then I can see the same number of lines again and it stops displaying again.

I make the connection from a Mac OS iterm2 terminal to a Windows Server 2016 through a Centos 7.7.

This is the output of "ssh -v 192.168.10.63"
**OpenSS

[2020-01-28 16:23] dotupNET commented on #1492
Why is it closed? :(

Remove-WindowsCapability  -Online -Name "OpenSSH.Client~~~~0.0.1.0"
Add-WindowsCapability  -Online -Name "OpenSSH.Client~~~~0.0.1.0"

And that's the result.

`
PS C:\WINDOWS\system32> Get-Command ssh*

CommandType     Name                                               Version    Source
-----------     ----                                               -------    ------
Applic

[2020-01-28 18:24] bagajjal commented on #1283
@asdr - You are using old version. We made lot of improvements in terminal experience for windows 10, windows server 2019. For other OS we provide the basic terminal experience.

In any case you shouldn't be seeing this issue with the opensshV8.1.0.0.

[2020-01-28 19:06] ebmarquez commented on #1276
It's very sad that the Windows OpenSSH client is not going to be FIPS mode compliant.  I suppose I can default back to something that works like putty.  It really sucks that we can have SSH but not have it work in secure environments.

[2020-01-28 22:55] opoplawski commented on #405
Would be nice.

[2020-01-29 02:05] brandonros commented on #1027
This package is wild. I've tried multiple times to get it to work.

From my Mac:

[code]

From Windows:

[code]

[code]

Just straight up hangs. Followed all of the steps in this issue.

[2020-01-29 11:30] TimPla commented on #1403
We also have the requirement to do the same. Will this be fixed or do we need to found another sftp solution?

[2020-01-29 12:07] jjverschoor commented on #1403
Hi TimPla,

I opened a new issue [1493](https://github.com/PowerShell/Win32-OpenSSH/issues/1493), as this issue 1403 references outside of the chroot, which we actually don't: Rather our chroot is a symlink, and we stay within the chroot. So, in 1493 I provide a temporary workaround that may work for you as well (but please be aware of the security implications mentioned in 1493).

Kind regards, J

[2020-01-31 07:50] KUTlime commented on #1490
@he852100 Look over [here](https://stackoverflow.com/questions/45603984/httpwebrequest-in-net-core-2-0-throwing-302-found-exception). In [this](https://stackoverflow.com/a/51722189/4553982) particular answer, you can find an explanation why the exception is thrown.
One possible solution for PowerShell can be found [here](https://github.com/KUTlime/PowerShell-GoogleImageSearch-Module/releases/tag/v

[2020-01-31 17:09] FiZiX commented on #1483
I can confirm. I'm having the same issue.

[2020-02-01 16:12] mgkuhn commented on #1545
Assuming the Windows shell configured for your OpenSSH server is the default `cmd.exe`, try
[code]
or without the chatty version and copyright message
[code]

I don't know how to suppress the prompts though, but considering that on the Windows command line I also get all that with
[code]
I wouldn't expect OpenSSH to give me just
[code]
as I don't see yet any documented way to start up `cmd.exe` in

[2020-02-01 16:37] mgkuhn commented on #1541
To diagnose principal name issues, more actual data about the exact LDAP/Kerberos configuration of your Active Directory user and sshd computer might help, e.g. the output on Linux of
[code]
and the LDAP attibutes as shown by (requires `apt-get install krb5-user ldap-utils libsasl2-modules-gssapi-mit`)
[code]
Also try `ssh -K`.

[2020-02-01 16:44] mgkuhn commented on #1541
Also try
[code]
which shows what the Kerberos library is doing on the client side. That might provide a more detailed error message than just `GSS_S_FAILURE`.

The server-side equivalent would be to [enable Kerberos event logging](https://support.microsoft.com/en-in/help/262177/how-to-enable-kerberos-event-logging) via HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Lsa\Kerberos\Parameters.

[2020-02-01 16:51] mgkuhn commented on #1537
Could you please close this issue if you have found a solution?

[2020-02-03 04:57] #1537 closed, assigned to nobody

[2020-02-03 12:45] knolleCC commented on #1322
Same problem here. I have a repo with a lot of data inside which fails to be cloned 100% of the time with the mentioned error.
Since using the Windows SSH Agent in general is very comfortable, a solution for this would be very much appreciated.

[2020-02-04 00:27] roblourens commented on #1545
In our original scenario (https://github.com/microsoft/vscode-remote-release/issues/25) I can't pass `cmd` as the original command like in your example, because I am actually probing to check whether the remote is running windows or linux, then sending the correct script after that.

[2020-02-05 18:17] mgkuhn commented on #1545
@roblourens Probing what shell is started at the other end sounds like a rather brave idea: there is not only `cmd` but also `powershell`, `bash`, `zsh` etc., and how their interactive outputs look like can differ quite a bit between pre-ConPTY and with ConPTY being used.

But if that's what you are after, you definitely do want to see the `cmd` version string.

In [my own code](https://github.com

[2020-02-05 21:36] rofuentes opened #1546 "Allow AuthorizedKeysCommandUser to be 'nt authority\\system'"
**"OpenSSH for Windows" version**
 ((Get-Item (Get-Command 'C:\Program Files\OpenSSH\OpenSSH-Win64\sshd').Source).VersionInfo.FileVersion)
8.1.0.0

**Server OperatingSystem**
((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion" -Name ProductName).ProductName)
Windows Server 2019 Datacenter

**Client OperatingSystem**
n/a

**What is failing**
I am unable to run an AuthorizedKeysC

[2020-02-05 21:37] rofuentes commented on #1546
@manojampalam who added support for AuthorizedKeysCommand in https://github.com/PowerShell/openssh-portable/pull/409

[2020-02-06 06:07] marcosmateom commented on #190
Hello, Just wondering if there is any progress on this issue? Thanks

[2020-02-06 06:08] marcosmateom commented on #190
Just wondering if there is any progress on this issue? Thanks

[2020-02-07 15:19] gjstroom commented on #659
I have the same problem.
You also need to change the windows policy to accepts blank passwords
https://sites.google.com/site/sqlestream/windows-issue/10-cannot-access-the-shared-folder-due-to-blank-password-not-allowed
This works for the Windows 10 optional feature openssh.

[2020-02-07 17:38] bagajjal commented on #659
Try these steps.

1) Add the below config to sshd_config
PermitEmptyPasswords yes
2) restart sshd service (net stop sshd; net start sshd)
3) set registry Computer\HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Lsa\LimitBlankPasswordUse to 0
4) restart the machine
5) Now you should be able to login without any password.

[2020-02-07 19:42] mgkuhn commented on #1528
The underlying problem is probably that `cmd.exe` (and it's built-in command `dir`) is still a 30-year old application that uses ConsoleAPI to write into a VGA character matrix, rather than just outputting plaintext to a terminal emulator, and therefore `cmd.exe` does ConsoleAPI things such as clearing the screen and overwriting the rest of the line with space characters, and if you specify ssh op

[2020-02-07 22:06] illfelder commented on #1546
/cc @bagajjal

Any ideas how to make authorized keys command work with the System user? I don't have an alternative Administrator account by default.

[2020-02-08 16:37] jmyreen opened #1547 "Why is there no separate installation script for ssh-agent?"
**"OpenSSH for Windows" version**
 8.1.0.0p1 Beta

**Client OperatingSystem**
Windows 10 Enterprise

I downloaded OpenSSH 8.1.0.0 from Github and couldn't find information on how to install ssh-agent. After much searching I realized that the `install-sshd.ps1` script contains hidden in it the commands to also install `ssh-agent` as a service (`New-Service -Name ssh-agent...`)

`ssh-agent` is (main

[2020-02-08 18:46] jmyreen opened #1548 "ssh-add -s fails"
**"OpenSSH for Windows" version**
 `8.1.0.0`

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
`ssh-add -s 'C:\Program Files\OpenSC Project\OpenSC\pkcs11\opensc-pkcs11.dll'`

Using the `-s` "Add keys from PKCS#11 provider", i.e. using `ssh-agent` with smart cards does not work.

**Expected output**

`Identity added ...`

**Actual output**

`Enter passphrase for PKCS#11:`
`Coul

[2020-02-09 02:27] GjBrutello commented on #1547
lol, just write: sc config ssh-agent start= auto
or before install add  $agentDesc -StartupType Automatic  to install-sshd.ps1

[2020-02-09 07:22] jmyreen commented on #1547
@GjBrutello lol, you can't start or change the state of a service that is not installed.

To your second suggestion: my request was for a separate installation script for ssh-agent. Ssh-agent is usually used on the client side. I don't want to install sshd on my laptop, but ssh-agent is very useful.

[2020-02-11 02:23] riverar commented on #1088
~~@bagajjal Please re-open this. And provide status on resolution.~~

[2020-02-11 02:44] riverar opened #1549 "How do we contribute?"
I'm trying to find the active codebase to pull down, compile, and contribute. But I'm stuck in a maze of non-standard branch names and a loop of repository links. For example this repository links to https://github.com/powershell/Win32-OpenSSH, which links back to this one. `L1` and `master` seem outdated. Should we refer to the forked `latestw_all`?

This is a huge mess.

cc: @jeffwilcox

[2020-02-11 06:06] inetfuture commented on #1499
I ran into the same issue, switched to bitvise ssh server to solve the problem at the end..

[2020-02-11 09:13] NoMoreFood commented on #1549
In terms of the actual code (not the documentation), use latestw_all in https://github.com/powershell/openssh-portable.  That what I've used for all my pull requests.

Possible it's a huge mess but then again possible you (and I) just don't understand the history there.

[2020-02-11 09:14] NoMoreFood commented on #1548
Known issue.  Somebody has a pull request in for it: https://github.com/PowerShell/openssh-portable/pull/362

[2020-02-11 10:04] NoMoreFood commented on #1546
Can you try the attached @rofuentes.  I suspect I can see where the problem is.
_Note: Attached superseded and removed; see below._

For reference, specific code change is here: https://github.com/NoMoreFood/openssh-portable/commit/d84fa966462331f94da211c0b45dc10ed37c17da.  I have not tested it so if you could that'd be great.

[2020-02-11 10:56] jmyreen commented on #1548
I missed this when I looked for duplicates.

Could this be merged into version 8.1 before the final release. The patch is already 14 months old and support for `ssh-add -s` is part of the feature set of OpenSSH v 8, and many versions before that.

[2020-02-11 13:51] MythreyaK commented on #1317
Any updates on how official releases are serviced now? I still see the older version in `Get-WindowsCapability -Online | ? Name -like 'OpenSSH*'`.

[2020-02-11 17:57] bagajjal commented on #1317
Next windows update will have OpenSSH V8.1, LibreSSL 3.0.2.

[2020-02-11 19:48] MythreyaK commented on #1317
How is it going to be serviced? Windows update or store would be perfect.

[2020-02-11 19:51] bagajjal commented on #1317
Through windows update.

[2020-02-11 20:07] asfarley commented on #1334
I'm unsure if I'm hitting this issue or something else; when I try to ssh into my local Gitea server, the ssh command just hangs indefinitely.

In my case, this does *not* appear to be intermittent. I'm also able to connect to the server using Putty, so the server itself is alive and responding on the expected port.

`ssh git@10.100.10.24 -p 22000 -i C:\Users\alex\.ssh\id_rsa`

The Powershell term

[2020-02-11 20:31] asfarley commented on #1334
Since my previous comment, I found this post:
`https://apple.stackexchange.com/questions/35524/what-can-i-do-when-my-ssh-session-is-stuck`

I have confirmed that typing the following sequence terminates the ssh connection:
[ENTER]~.

Not sure what this means overall; I'm still unable to connect to my git server via SSH, but at least I'm able to close the terminal without having to hit 'X' on the w

[2020-02-12 08:22] bersbersbers opened #1550 "ssh-agent is ignored when with "IdentitiesOnly yes" config file setting"
**"OpenSSH for Windows" version**
8.1.0.0

**Server OperatingSystem**
Linux

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
When using `IdentitiesOnly yes` in an SSH config, `ssh.exe` always asks for the encryption key of a an encrypted authentication key, even if
- this key is loaded in `ssh-agent` and
- `AddKeysToAgent yes` is set in the same config files (even though the key *is

[2020-02-12 13:55] stephencalvert2 opened #1551 "warning: agent returned different signature type ssh-rsa (expected rsa-sha2-512) when key registered with ssh-agent"
Couldn't find a solution so opened opened a new issue:
trying to ssh to Pi 3b+ from Powershell in windows vs code using key authentication.
**Works as expected** if the public key file is in user/ .ssh and not registered with the agent using with ssh-add.  If the key is registered the error: warning: agent returned different signature type ssh-rsa (expected rsa-sha2-512) is generated and the remot

[2020-02-12 14:46] stephencalvert2 commented on #1551
**Sorry** i mean the **_private_** key in user\.ssh or registered with the agent

[2020-02-12 15:39] awesomebchild opened #1552 "Connection error - "sshd: Failed password for user""
**"OpenSSH for Windows" version**
8.1.0.0

**Server OperatingSystem**
Windows Server 2016 Standard

**What is failing**
SSH connection still fails everytime

**Expected output**
User is connected via ssh.

**Actual output**
All services are up and running. It is a domain joined server. I have a domain admin account and a local admin account outside the domain.
Server with SSHD process is answering

[2020-02-12 16:13] jghal commented on #1487
It's hugely non-obvious that ssh-agent would behave this way. Everyone familiar with the OpenSSH tools is expecting the traditional ephemeral state of keys in ssh-agent. I can see how some people would want this behavior, but the default behavior here should be exactly the same as standard OpenSSH on every other OS. This should be an opt-in behavior that the user must explicitly request.

[2020-02-12 17:41] mika-n commented on #190
This works with OpenSSH-win64 8.1.x version, but you need to set following sshd_config options (by default in %PROGRAMDATA%\SSH\ folder location in Windows platform):

[code]
The key trick is to use ForceCommand, Subsystem with -d option and ChrootDirectory option. Other options are just additional "security tweaks" to limit exposed surface area.

Of course in this example the SFTP login users (he

[2020-02-12 22:17] davidshq commented on #1263
I'm still seeing this issue running Windows 10 Enterprise 19559

[2020-02-12 22:25] Yivan commented on #1263
I only tested the release in this repository.
But i don't think it is already in 1909... Maybe "next release" mean the next big one comming in a few month. @bagajjal do you confirm ?
Thanks.

[2020-02-13 03:00] bin opened #1553 "Very Slow DNS Lookups"
**"OpenSSH for Windows" version**
 8.1.0.0

**Server OperatingSystem**
Alpine Linux 3.11, Ubuntu 18.04.4 LTS

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
DNS Lookups for hostnames are very slow (15-20 seconds).  IP addresses have no such issue, and running with `-vvv` shows that it is stalling on the address resolution step.  The same hostname resolves fine in other applications

[2020-02-13 12:18] suvila opened #1554 "sshd offers by default unsupported method keyboard-interactive"
**"OpenSSH for Windows" version**
 7.7.2.2

**Server OperatingSystem**
Windows Server 2019 Datacenter

**Client OperatingSystem**
Linux or other OS with client that attempts multiple public keys and keyboard-interactive authentication

**What is failing**
Windows sshd debug output shows it offers by default publickey,password,keyboard-interactive methods and if client has keyboard-interactive (Cha

[2020-02-14 00:18] riverar commented on #1515
So I was looking into implementing this and turns out, it already works in `OpenSSH_for_Windows_8.1p1` once you resolve the `ASKPASS` bug. Windows 10 currently ships with `OpenSSH_for_Windows_7.7p1`.

![Screenshot of X11 windows on Windows 10, using OpenSSH_..._8.1](https://user-images.githubusercontent.com/475132/74490139-74c1f180-4e7c-11ea-9943-8b8a6d23c13d.png)

@manojampalam Any updates on whe

[2020-02-14 00:26] bagajjal commented on #1515
@riverar - We are shipping OpenSSH V8.1 in next windows release that might be available in July 2020.

[2020-02-14 00:28] riverar commented on #1515
@bagajjal That's great news, thanks! We should try to get that `ASKPASS` issue fixed before it ships so users won't need that `C:\dev\tty` file on disk. I can submit a PR if desired.

[2020-02-14 00:30] bagajjal commented on #1515
Sure, please submit a PR.

[2020-02-14 16:36] MythreyaK commented on #1317
Ahh perfect. Thank you for the info!

[2020-02-14 16:46] pd93 commented on #1515
@riverar Amazing. Thanks for the info. I've already manually updated v8.0 in order to get `ProxyJump` functionality, so it's not too bad to update to v8.1.

[2020-02-14 17:20] riverar commented on #1515
@pd93 You can probably keep 8.0. Just create a `C:\dev\tty` file to workaround an ASKPASS quirk.

[2020-02-14 20:33] hornyd opened #1555 "Change of Port 22 to another port does not work"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 v8.1.0.0p1-Beta

**Server OperatingSystem**

[2020-02-14 20:34] hornyd commented on #1555
Do the sshd_config_default how must it be and how to call it?

[2020-02-14 20:40] bagajjal commented on #1555
You need to modify $env:ProgramData\ssh\sshd_config file. Don't modify sshd_config_default.
Any changes to sshd_config requires the sshd restart (net stop sshd; net start sshd).

[2020-02-14 20:41] hornyd commented on #1555
Ah ok, thank you for the quick reply. Will try

[2020-02-14 23:40] rofuentes commented on #1546
@NoMoreFood unfortunately, the fix did not appear to work. We still get an error when running AuthrorizedKeysCommand as SYSTEM

[code]

[code]
It seems like SYSTEM is not recognized as a user, is a local user account **required** to run AuthorizedKeysCommand?

[2020-02-16 00:56] NoMoreFood commented on #1546
You're correct and I thought my fixed would have addressed that.  I'll run it through the debugger --- should be simple to fix.  As a workaround, you can probably run it as COMPUTERNAME$

[2020-02-16 01:38] NoMoreFood commented on #1546
Please try attached.  Seems to work for me.

[sshd.zip](https://github.com/PowerShell/Win32-OpenSSH/files/4209257/sshd.zip)

[2020-02-16 01:43] NoMoreFood commented on #1553
OpenSSH does not do custom DNS lookups or searches -- it defers to the operating system using standard functions.  You likely have some systemic issue with your environment that needs to be addressed.

[2020-02-16 17:03] mgkuhn opened #1556 "Sshd 8.1 on Windows 7 does not move the cursor below line 46"
**"OpenSSH for Windows" version**
`8.1.0.0`
OpenSSH_for_Windows_8.1p1

**Server OperatingSystem**
 `Windows 7 Professional`

**Client OperatingSystem**
Ubuntu Linux 18.04

**What is failing**
How to reproduce:
* Open on Linux an xterm window of size 80x50
* Type `ssh windows7host` into that xterm window to start an interactive session with `cmd.exe` on a Windows 7 machine running OpenSSH sshd 8.1p

[2020-02-16 17:06] mgkuhn commented on #1556
This problem does not occur on Windows 10. We still have expensive scientific equipment that runs Windows 7 and cannot be upgraded, hence the desire to use sshd there.

[2020-02-16 17:17] mgkuhn commented on #1556
See also: #938 #1283
Problem also happens with larger xterm sizes, e.g. `xterm -geometry 100x50 -e 'ssh windows7host'`

[2020-02-17 08:44] AlanDecode commented on #1499
It seems that [v8.1.0.0p1-Beta](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v8.1.0.0p1-Beta) fixed this issue, great job!

[2020-02-17 09:12] SR-Lut3t1um opened #1557 "Add OpenSSH 8.2"
As OpenSSH 8.2 adds support for FIDO sticks I'd like to test this feature in order to improve security.

Kind regards,
Tobias Liese

[2020-02-17 09:19] SR-Lut3t1um commented on #1553
@bin I had the same problem but later realized I setup a IPv6 address in my DNS but not on my server.
Maybe you have a similar problem, like the openssh server is not listening on IPv6. I guess this is caused by the client who tries IPv4 after v6 fails.

[2020-02-17 11:01] NoMoreFood commented on #1499
Thanks for the update @AlanDecode.  I made several changes to the last few versions to correct long file paths and non-ascii paths.  Good to hear people are seeing the benefits.  Can you close this issue if it's fixed for you?

[2020-02-17 11:19] jagnesh21 opened #1558 "ssh"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemPrope

[2020-02-18 07:10] #1499 closed, assigned to nobody

[2020-02-18 18:30] bagajjal commented on #1558
Please provide the issue details.

[2020-02-18 18:53] #1558 closed, assigned to nobody

[2020-02-18 18:54] bagajjal commented on #1555
Closing the issue as we didn't hear back. Let me know if you still have an issue.

[2020-02-18 18:54] #1555 closed, assigned to nobody

[2020-02-19 21:37] blakeduffey commented on #1088
I continue to have X Forwarding fail (it works via PuTTY)

i've created C:\dev\tty per the recommended work around

xterm: Xt error: Can't open display:
xterm: DISPLAY is not set

[2020-02-19 22:18] rofuentes commented on #1546
@NoMoreFood Thank you, but this new binary produces a similar error for me

[code]

I tried setting AuthorizedKeysCommandUser to various iterations (ex. capitalization, prefixed with computer name) of both the system account and computername. Would it be possible for you to provide me with either the entire sshd configuration you are using? Just the AuthorizedKeysCommand and AuthorizedKeysCommandU

[2020-02-19 22:43] rofuentes commented on #1546
Copying the security descriptor from a binary that can run as SYSTEM to my keys command batch file results in a different error:
[code]

I reduced permissions to the following, back to the previous error:
[code]
[code]

[2020-02-20 15:29] riverar commented on #1088
@blakeduffey what's your client command line? Presume it's some form of ssh -X or -Y user@host? What's the host running? What version of sshd?

[2020-02-20 15:33] blakeduffey commented on #1088
./ssh -K blake@host.fqdn -Y

Ubuntu 16.04.4

[2020-02-20 15:47] vito0719 commented on #1237
My problem is this:

fatal: '/F:/Path/To/Repo.git' does not appear to be a git repository

It seems to me the "/" before F is the problem...

Why are you able to use "git clone user@opensshserver:c:/ScriptRepo"? I have to put "/" in front of my drive to connect...

[2020-02-20 16:11] riverar commented on #1088
@blakeduffey Can you provide the output of `ssh -vvv -K -Y blake@host.fqdn`? Feel free to redact any key data that may appear.

[2020-02-21 21:33] IanLee1521 commented on #1359
Also seeing this with :

Client: `OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5`
Server: `OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017`

Note, that if I try from a macOS client (`OpenSSH_7.9p1, LibreSSL 2.7.3`), it negotiates to the same MAC (`umac-128-etm@openssh.com` in this case) and succeeds. So definitely an issue on the Windows client side.

[2020-02-21 21:38] IanLee1521 commented on #1359
I think an alternate approach / workaround to fixing this could be to simply change the MACs order that the client offers by default... Perhaps to something like what [Mozilla recommends](https://infosec.mozilla.org/guidelines/openssh.html#modern-openssh-67):

[code]

[2020-02-21 22:27] beerisgood commented on #1557
Please provide this in Windows

[2020-02-22 20:32] AlexeyNovikov commented on #1306
### Solution

For sshd-config do the following changes:
1. Comment this one:
[code]
2. Uncomment these two:
[code]
Then open PowerShell as Admin and restart service:
`Restart-Service sshd`

Then through GUI.
For `.ssh` folder and `authorized_keys` file do the following:
1. Properties -> Security -> Advanced -> Disable inheritance -> Convert inherited permissions into explicit permissions on this o

[2020-02-23 08:13] luisd1360 commented on #1237
Hello, I tried to change the defaultshell to powerShell but every time I did the service stoped working, then It did not work again until I change the registry back and rebooted.

[2020-02-23 09:17] jmyreen commented on #1557
I would prefer bringing the Windows version on par with the original. There are features that have been silently left unimplemented, but the documentation refers to the original manual pages. I think at least some other version numbering scheme should be used so that users wouldn't be misled to think the Windows version of "OpenSSH 8.1" is OpenSSH 8.1, because it is not.

https://github.com/PowerS

[2020-02-23 12:03] joeygeo commented on #116
Does not work for me... cannot find Emulation tab in putty

[2020-02-23 22:31] isaacnorman82 commented on #1263
It's so disappointing this issue has persisted since oct 18 and isn't yet delivered with a windows update or a hotfix made available.

If I upgrade to the latest version manually, will it revert to 'automatic' updates via windows when released officially?

[2020-02-23 22:44] h1nk commented on #1263
What's the ETA for this being rolled out in a Windows 10 update?

[2020-02-24 00:07] isaacnorman82 commented on #1263
I've found a work around people might find useful - the problem seems specific to RSA, I created a ed25519 key and it works with ssh agent, so I now have a key with a passphrase that doesn't need passphrase entry allowing vs code remote to work.

[2020-02-24 14:05] LukeCarrier commented on #1234
@manojampalam are you able to give an indication as to when this might ship? This ticket is closed but the need to create a dummy `sshd` service is still present even in Insiders builds.

`ssh-agent` was disabled, and even after enabling refused to work until I created the dummy `sshd` service, on upgrade to 19569.1000.

[2020-02-25 00:28] NoMoreFood commented on #1557
@bagajjal Are you working this yet?  If not, I could probably take a look.

[2020-02-25 06:41] bagajjal opened #1559 "Random proxycommand pester test failures"
The below pester testcases are failing randomly. Disabling them for now.

$/regress/pesterTests/SSH.Tests.ps1
ProxyCommand with file name only
ProxyCommand with absolute path to the file

[2020-02-25 16:13] tfishr commented on #1263
Just confirmed that `ssh-keygen -t ecdsa -b 521` also works. Thanks for the suggestion. A very simple workaround.

[2020-02-26 11:09] craigthackerx commented on #1306
Worked for me.  Cheers.

[2020-02-26 12:53] seritools commented on #1322
Still happening on 19569. :(

[2020-02-26 13:38] daldr-ntml opened #1560 "OpenSSHUtils module signature invalid"
I'm trying to configure OpenSSH on Windows 10 to enable remote development with Visual Studio.

Microsoft's instructions [here](https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_keymanagement) require installation of the OpenSSHUtils module, but when I try to install it I see:
[code]
I also ran:
[code]
but I can't update that package either:

[code]
#1313 says that Ope

[2020-02-27 17:35] sawo1337 opened #1561 "Permission denied on specific operations when using symlink to network share"
"OpenSSH for Windows 8.1.0.0"

Windows Server 2016 Datacenter

**Client OperatingSystem**
Any

**What is failing**
When using a symlink to a network share as ChrootDirectory, I can rename files, delete files, create empty files, but as soon as I attempt to append any data to the file I just created, I get permission denied. An empty file is created on the server, but no data is in it.
I'm using do

[2020-02-27 17:44] bagajjal commented on #1561
Check https://github.com/PowerShell/Win32-OpenSSH/issues/1258

[2020-02-28 00:19] #1515 closed, assigned to nobody

[2020-02-28 09:02] sawo1337 commented on #1561
Thanks, I've seen this and this is where I started, but the issue for me is that even though this workaround works and I can create/delete/rename files and folders, I cannot append data to the files I've created.
I do have proper permissions since I can manipulate files in ChrootDirectory that sits on a symlink to a network share, but I just can't append data to these files.

I've enabled a securi

[2020-02-28 18:06] #1559 closed, assigned to nobody

[2020-02-28 23:18] matthewfcarlson commented on #1476
I'm seeing something similar with the latest version.
[code]

[2020-02-28 23:25] matthewfcarlson commented on #1552
Seeing the same issue

[2020-02-28 23:26] matthewfcarlson commented on #1552
Possibly related to #1476

[2020-02-28 23:29] bagajjal commented on #1560
Yes, we don't need this anymore.

[2020-02-28 23:30] bagajjal commented on #1557
@NoMoreFood - Thanks for your helping hand as always.
I will look into this mid next week.

[2020-02-28 23:41] bagajjal commented on #1552
@awesomebchild - Can you try the previous [openssh version](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v8.0.0.0p1-Beta).

Also please share your sshd.log (%programdata%\ssh\logs\sshd.log) file with DEBUG3 enabled.
Check if your sshd_config (%programdata%\ssh\sshd_config) has the below configuration. If not then add the below lines to sshd_config and restart the sshd service (net stop

[2020-02-29 00:32] bagajjal commented on #1556
@mgkuhn - Thank you for reporting this issue. This is a regression caused in openssh v8.1.
I will fix this for next openssh version. Meanwhile please use the attached private [ssh-shellhost binary](https://github.com/PowerShell/Win32-OpenSSH/files/4269710/ssh-shellhost-buffer-scrool-issue.zip). You just need to replace ssh-shellhost.exe with my private binary.

[2020-02-29 00:39] matthewfcarlson commented on #1552
I dumped my log at the issue. https://github.com/PowerShell/Win32-OpenSSH/issues/1476

[2020-02-29 00:51] bagajjal commented on #1552
@matthewfcarlson - Can you try the previous openssh version. Just want to make sure this is not a regression. I couldn't reproduce this error on my side so need your help.

[2020-02-29 01:02] matthewfcarlson commented on #1552
Previous version being:
v8.0.0.0p1-Beta

[2020-02-29 01:03] bagajjal commented on #1552
Yes, please try v8.0.0.0p1-Beta.

[2020-02-29 01:06] matthewfcarlson commented on #1552
Still doesn't work
[code]

[2020-02-29 01:15] bagajjal commented on #1552
I am seeing a different error message. Can you check your sshd_config and see your if you are part of allowusers?

11832 2020-02-28 15:33:20.301 User redmond\\macarl from fe80::cd23:df1c:3817:f30e%10 not allowed because not listed in AllowUsers

[2020-02-29 01:17] matthewfcarlson commented on #1552
I gave that a shot. So still failures on most things but now I see failures when trying redmond\macarl.
[code]

[2020-02-29 01:18] matthewfcarlson commented on #1552
With the fun error
[code]

[2020-02-29 01:35] bagajjal commented on #1552
Now I don't see LookupAccountName() 1332 error.
Now your issue is similar to https://github.com/PowerShell/Win32-OpenSSH/issues/1235. I don't have much expertise on windows authentication. I will reach out to some experts.

4140 2020-02-28 17:16:48.209 debug1: ssh_gssapi_storecreds: Not a GSSAPI mechanism
4140 2020-02-28 17:16:48.381 error: lookup_principal_name: User principal name lookup failed

[2020-02-29 02:13] bagajjal commented on #1552
You try these various combinaations once.

1) ssh macarl@hostip [without domainName]
2) ssh macarl@microsoft.com@hostip
3) ssh macarl@redmond.corp.microsoft.com@hostip.

[2020-02-29 02:23] matthewfcarlson commented on #1552
Still all failures :(

[2020-02-29 03:30] heaths commented on #1476
I'm not sure if it's related, but in another product we ran into a problem with AAD-joined accounts where `GetWindowsAccountDomainSid` (called indirectly via `System.Security.Principal.WindowsIdentity.GetCurrent().User`) did not return a RID for the domain, whereas for AD domain-joined machines it did and, for local accounts, was the RID of the local machine.

[2020-03-02 09:38] daldr-ntml commented on #1560
I guess that the correct way to install OpenSSH now is through Optional Features.

[2020-03-02 09:38] #1560 closed, assigned to nobody

[2020-03-02 19:03] neoanantha opened #1562 "Unable to SSH into Windows 2016 OpenSSH Server until login once"
**"OpenSSH for Windows" version**
OpenSSH_8.1p1 for Windows

**Server OperatingSystem**
Windows Server 2016

**Client OperatingSystem**
CentOS Linux release 7.7.1908 (Core)
Linux <hostname> 3.10.0-1062.el7.x86_64 #1 SMP Wed Aug 7 18:08:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

**What is failing**
ssh connection to OpenSSH Server running on Windows Server 2016 from Linux is failing until user log

[2020-03-03 21:54] sjevtic opened #1563 "Issues with trusted X11 forwarding and VcXsrv"
# Background/Setup
SupportX11 Forwarding (#1515) was recently and delivered as part of OpenSSH 8.1.0.0.  However, the appear to be some problems with this functionality.  Here is how I set up for my test.

1. Install OpenSSH 8.1.0.0.
1. Install VcXsrv 1.20.6.0.
1. Add configuration to C:\ProgramData\ssh\ssh_config: `XAuthLocation "/C:/Program Files/VcXsrv/xauth.exe"`
1. Update environment variable

[2020-03-03 23:45] PrabhuMuthiah commented on #1543
I do have same issue. when I run sshd with debug mode , it works.  Waiting for resolution on this issue. thanks.

[2020-03-04 10:19] Digiover commented on #190
@mika-n what if every user has his own "MyDataRoot" folder? Is there an equivalent for `msIIS-FTPRoot`, because that would be nice!

[2020-03-05 10:35] SR-Lut3t1um commented on #1557
@bagajjal any news on this topic?

[2020-03-05 17:27] mika-n commented on #190
OpenSSH config file has a "Match user <userNameGoesHere>" entry for defining user specific customizations. I think it can be used with ChrootDirectory command also. See the following post for an example.
https://github.com/PowerShell/Win32-OpenSSH/issues/190#issuecomment-391883883

It would be nice to have something like `"ChrootDirectory c:\MyDataRoot\%username%"` type of syntax to set the root d

[2020-03-05 18:45] bingbing8 commented on #1429
This migration will be available in next window release.

[2020-03-05 19:02] bagajjal commented on #1557
I am busy in getting the OpenSSH V8.1.0.0 to next windows release.
I will work on this next week.

[2020-03-05 19:34] beerisgood commented on #1557
Why not 8.2 ?

[2020-03-05 19:39] bagajjal commented on #1557
It has to be tested for a while.. 8.2 is very new..

[2020-03-05 20:12] beerisgood commented on #1557
But also include great security features (FIDO)
As Windows support such, it only would make sense you use that logic to SSH too.

In my opinion we shouldn't stay behind releases.

[2020-03-06 22:27] BusyJay opened #1564 "Fail to RemoteForward a unix domain socket"
**"OpenSSH for Windows" version**

7.7.2.1

**Server OperatingSystem**

 Linux

**Client OperatingSystem**

 Windows 10 Pro

**What is failing**

I'm trying to forward my local gpg-agent to remote server. Same configuration works fine when both ends are Linux. When trying to forward from Windows to Linux, it doesn't work anymore.
There are three kind of errors.

1. When using configuration `Remote

[2020-03-07 05:36] xf6jx5fq commented on #1363
@oulman
I have the same issue as you had. But the difference is I don't have access to AD to add the required permission : is there a way to just connect to my laptop using ssh and my AD login without having to modify and add that permission ?

[2020-03-08 16:11] agordon commented on #926
@joeyaiello - follow-up two years later :) any updates on an official answer for SSH connection licensing?

[2020-03-09 08:53] yourchanges opened #1565 "windows server2012 datacenter sshd crash"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
v8.1.0.0p1-Beta 64 bit

**Server OperatingSystem**
windows server 2012 datacenter

**Client OperatingSystem**
w

[2020-03-09 09:20] mgkuhn commented on #926
A process started by sshd does not have access to any [window station](https://docs.microsoft.com/en-us/windows/win32/winstation/window-stations) `WinSta0` (as you can query with `GetProcessWindowStation`), and so it can't really interact with the Windows desktop or any GUI applications that rely on it, and therefore can't really invoke the vast majority of Windows applications. You could argue th

[2020-03-09 09:22] yourchanges commented on #1565
it works when I stop the sshd service, and start sshd.exe in command line, the client ssh can login normally.

the problem should be in sshd service

[2020-03-09 17:24] bagajjal commented on #926
@maertendMSFT is the current PM for OpenSSH.

[2020-03-09 17:28] bagajjal commented on #1565
@yourchanges - Most likely "BUILTIN\Users" on the machine doesn't have the read/execute permissions to sshd.exe. Check this using "get-acl ./sshd.exe" on powershell window.

[2020-03-10 01:10] yourchanges commented on #1565
before:

[code]

after I add mostly builtin users with full control, it not work too
[code]

[2020-03-10 01:18] yourchanges commented on #1565
server side sshd service debug log (SyslogFacility LOCAL0  and LogLevel DEBUG):
[code]

client side log
[code]

[2020-03-10 01:22] yourchanges commented on #1565
here is the log when run sshd in command line, client can login successfuly:
[code]

[2020-03-10 03:13] fswgm commented on #926
Markus - this may be the case, but the rules as I noted in 2017 haven't changed. If Microsoft wants to demarcate SSH as not needing to meet the regular licensing rules of the Windows client, the entry in the Product Terms should be updated to reflect that. As of right now, it's not special-cased.

https://github.com/PowerShell/Win32-OpenSSH/issues/926#issuecomment-339786079

[2020-03-10 14:47] rex5652 commented on #1565
I meet the same problem . there is my solution:
do not change the permisson of the Openssh Dir and file. make sure it remains default.
SYSTEM and Administrators have full control of the dir and file, so restart sshd service then everything is fine

默认的目录权限就是正确的，Wiki里面说

SYSTEM, Administrator 本来就是写权限，User组是只读的，应该没问题。
我曾经把User组的权限删掉，结果就出问题了

[2020-03-10 21:12] maertendMSFT commented on #33
This is a limitation in OpenSSH and not Windows specific.

[2020-03-10 21:12] #33 closed

[2020-03-10 21:13] maertendMSFT commented on #80
@nachfuellbar, we believe this has been fixed in the latest version.  Does it repro now?

[2020-03-10 21:15] maertendMSFT commented on #82
This should be configured in sshd_config

[2020-03-10 21:15] #82 closed

[2020-03-10 21:16] maertendMSFT commented on #85
There are no plans for this in the future.  We recommend looking at a third part solution.

[2020-03-10 21:16] #85 closed

[2020-03-10 21:17] #93 closed

[2020-03-10 21:18] #94 closed

[2020-03-10 21:19] maertendMSFT commented on #96
Latest release supports Kerberos, we do not recommend NTLM.

[2020-03-10 21:19] #96 closed

[2020-03-10 21:22] maertendMSFT commented on #100
Check out the instructions here: https://github.com/PowerShell/Win32-OpenSSH/wiki/How-to-retrieve-links-to-latest-packages
Inside the zip there is a ps1 for the installation

[2020-03-10 21:22] #100 closed

[2020-03-10 21:23] maertendMSFT commented on #102
This is fixed in the latest release.

[2020-03-10 21:23] #102 closed

[2020-03-10 21:25] maertendMSFT commented on #120
We recommend using [PowerShell Secret Management Module](https://devblogs.microsoft.com/powershell/secrets-management-development-release/)

[2020-03-10 21:25] #120 closed

[2020-03-10 21:27] maertendMSFT commented on #121
This is an external issue for Docker, closing on our side

[2020-03-10 21:27] #121 closed

[2020-03-10 21:28] maertendMSFT commented on #134
PowerShell 6+ supports remoting over SSH.

[2020-03-10 21:28] #134 closed

[2020-03-10 21:30] maertendMSFT commented on #135
Win32_OpenSSH is only supported on in support versions of Windows.

[2020-03-10 21:30] #135 closed

[2020-03-10 21:34] maertendMSFT commented on #141
This is by design, closing issue

[2020-03-10 21:34] #141 closed

[2020-03-10 21:52] maertendMSFT commented on #146
All sshd events are logged into the Windows event log.
https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities

[2020-03-10 21:52] #146 closed

[2020-03-11 02:43] iandonnelly opened #1566 "Not Able to Run "ssh" Command from PowerShell (works fine from command prompt)"
**"OpenSSH for Windows" version**
OpenSSH_for_Windows_7.7p1,

**Server OperatingSystem**
CentOS

**Client OperatingSystem**
Windows 10 Home ARM (on Surface Pro X)

**What is failing**
Running the ssh command from powershell. It works from command prompt. Even C:\Windows\System32\OpenSSH\ssh.exe fails

**Steps Taken**
I tried removing OpenSSH and then enabling it again (through Settings->Addd&Remov

[2020-03-11 05:54] derrenbarken commented on #836
Also hangs in powershell.
Windows 10 Pro version 1909 build 18363.657.
Running ssh-keygen with no parameters
Works under cmd, freezes under powershell, at the "Enter file" prompt.

[2020-03-11 16:42] DHowett-MSFT commented on #1566
This is because PowerShell on ARM64 is actually the x86 powershell, so it is subject to system file redirection.

Try `c:\windows\sysnative\openssh\ssh.exe`. I know it looks like the sysnative folder doesn’t exist in explorer or CMD, but it will work from powershell.

It would be better for you to move to PowerShel Core, as it has a native ARM64 version.

[2020-03-11 17:02] iandonnelly commented on #1566
@DHowett-MSFT I will try that later today. Is it possible to setup PowerShell Core to be the default terminal for VS Code? That's where I really need ssh to be working.

Also any possibility of documenting this on the [Installation of OpenSSH for Windows](https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_install_firstuse) page. I see a note on the [WSL2 ](https://docs.

[2020-03-11 18:37] AlexRogan1974 commented on #1452
As a very inelegant workaround, I just stuck "#define _CRT_INTERNAL_NONSTDC_NAMES 0" under the #defines already found in posix_compat/inc/unistd.h.  This creates a mountain of warnings, but it compiles.

I also had to build a new zlib.lib file.  I just used https://github.com/kiyolee/zlib-win-build.  You'll have to rename the generated libz.lib file to zlib.lib and overwrite the one in this projec

[2020-03-12 03:00] mwestphal commented on #1265
I tried my example again, and it still fails. No idea why your sshd example works for you.

[2020-03-12 12:38] hemanth-damecharla commented on #1457
Hi
I would like to report that this issue is noticeable in the newer versions of OpenSSH as well

"OpenSSH for Windows" version
8.1.0.0

Server OperatingSystem
Windows Server 2016 Datacenter

Client OperatingSystem
Windows 10 and Windows Server 2016 (Using Filezilla/WinSCP)

What is failing
Renaming individual files on an REFS Formatted Partition / Drive

Expected output
File is renamed with no er

[2020-03-12 16:29] admo commented on #1452
Hi,
I've found that if you using Windows SDK 10 you have to remove posix_compat project from the solution.
If you want to use also  msvc newer than v140, you have to recompile external dependencies, e.g. zlib.

[2020-03-12 18:42] admo commented on #1452
Hi,
You can also add definition to posix_compat project:
`_CRT_DECLARE_NONSTDC_NAMES=0`

[2020-03-13 09:42] nightscape commented on #1491
I just ran into the same problem. Have you found any solutions @ChrisDodd ?

[2020-03-13 17:18] ChrisDodd commented on #1491
I eventually "fixed" it by installing/enabling the ssh-server package -- apparently the agent only works properly if the server is installed?  Would be nice if the agent could work on pure client machines.

[2020-03-13 20:27] nightscape commented on #1491
That was also the "solution" I arrived at, I completely deactivated the SSH Agent in `services.msc`...

[2020-03-14 01:52] theimmick commented on #1304
@manojampalam I've just tried to connect to sshd.exe -d  server and got "CreateProcessAsUserW failed error:1314". May I know what I did wrong?

Thank you!

[2020-03-14 05:49] TravisDean commented on #1551
Similar problem here. I've gotten the "different signature" line before, and here's some logs.

I have added id_rsa via ssh-add, both with forward and backward slashes on different attempts.

The only thing that sometimes works is deleting my identities from ssh-agent
[code]

[2020-03-14 08:24] jmyreen commented on #1491
For some reason ssh-agent is bundled with the ssh server, although ssh-agent is a helper program for the ssh client. I guess the thinking goes that they are both services, so put them together. See also https://github.com/PowerShell/Win32-OpenSSH/issues/1547#issue-562044258

[2020-03-15 13:44] kurtbeil01 opened #1570 "ssh running under local system account does not use ssh-agent"
**"OpenSSH for Windows" version**
 Win64-OpenSSH 8.1.0.0

**Server OperatingSystem**
SUSE Linux Enterprise Server 11 (x86_64)
VERSION = 11
PATCHLEVEL = 4

**Client OperatingSystem**
Windows Server 2016 Standard

**What is failing**
Need to run ssh as scheduled job and therfore used NT AUTHORITY\SYSTEM account.

Therefore we created the keys with ssh-keygen on client side. Public key was installed

[2020-03-15 20:15] kurtbeil01 commented on #1570
Finally could solve this issue by myself.

Needed to add the private key once more with ssh-add. But this ssh-add was running as system account. After that ssh running under system acount could find the key. So it's really the way it's supposed to be.

What irritated me was that there was no information about ssh-agent access in the debug output. So at first I thought ssh-agen wasn't being acessed

[2020-03-15 20:16] #1570 closed, assigned to nobody

[2020-03-15 20:37] beerisgood commented on #1570
with system rights? Sounds like a security problem

[2020-03-16 16:40] niklasholm commented on #1172
Pretty embarrassing that a simple issue such as this that was patched over a year ago hasn't made it to release yet. This is why people dislike Windows so much.

[2020-03-16 17:08] tats-u commented on #1172
@niklasholm
Try `choco instal openssh`.  (Install via Chocolatey)  Version 8.0 is available.
The pre-installed version in Windows is too late to be updated.

[2020-03-16 17:31] WSLUser commented on #1467
This worked in Win7 and 8.0 but on the newest stable of Win10 plus 8.1, the command is no longer recognized. I want to transfer a public key to a server of mine that isn't hooked into an LDAP provider. This command did work before so I expect it to continue working. Bringing to attention of @manojampalam

[2020-03-16 17:35] WSLUser commented on #1563
It's an accepted issue in order for this feature to work. The only thing might be to hide the message from user perspective. Remember that we're relying on third party X server here. It's not probable to "fix" the actual error.

[2020-03-16 17:38] WSLUser commented on #1557
True but all that's doing is showing just how much is left unimplemented in Windows compared to Linux. The porting process is not finished. Unfortunately the Powershell team is small and has to handle multiple projects, of which this one is of minor priority to them unfortunately. That just means outside contributors are needed to more heavily influence this project for the betterment of everyone.

[2020-03-16 17:45] WSLUser commented on #1566
PS 5.1 is not being worked on so yes this issue can technically be closed. PS7 should be able to satisfy most of your itches if not all including ssh.

[2020-03-16 17:47] WSLUser commented on #1564
Well at a first step, try upgrading to 8.1 and attempt to reproduce the issue. Submit updated logs if it still appears.

[2020-03-16 18:15] iandonnelly commented on #1566
@WSLUser @DHowett-MSFT
Installing powershell core on Windows ARM builds isn't well documented but since this works from wsl and cmd.exe I'm fine closing this. Still think it should be documented in the Installation of OpenSSH for Windows page.

[2020-03-16 18:15] #1566 closed, assigned to nobody

[2020-03-16 18:29] davide-rota commented on #1566
Agree, Powershell Core (ARM) is well hidden (only zip package, dotnet tool will install x86 32bit even on ARM systems). Including "c:\windows\sysnative\openssh" in the path when installing openssh on Win10 ARM might be a better option.

[2020-03-16 18:30] DHowett-MSFT commented on #1566
Minor complication there, unfortunately. `sysnative` is actually an _invalid_ path for anything running outside of emulation. It's really strange. :smile:

[2020-03-16 18:38] WSLUser commented on #1566
Perhaps you could file an internal bug for them to fix that. `sysnative` should work in either case. Or documentation should show why exactly they can't allow use of `sysnative` on ARM.

[2020-03-16 18:40] DHowett-MSFT commented on #1566
This will probably never be fixed, but it _is_ documented [here](https://docs.microsoft.com/en-us/windows/win32/winprog64/file-system-redirector).

[2020-03-16 18:51] sjevtic commented on #1563
Why is this an accepted issue?  The xauth application is there, and even appears to conform to the standard interface that ssh is expecting.  Thus, it appears only that the "glue" between ssh and xauth isn't quite working on Windows, and that should be relatively straightforward to fix.

[2020-03-16 19:12] WSLUser commented on #1563
From https://github.com/PowerShell/Win32-OpenSSH/issues/1515

Ensure C:\dev\tty doesn't exist
Ensure DISPLAY is set, then ssh -Y user@host
Observe authentication failure
The failure is a result of ssh passing the check at line 181 (use_askpass is 1 because we don't have a tty), then entering a block of code that assumes ASKPASS is present, which fails.

[2020-03-17 00:47] keithzg commented on #962
As is unfortunately a habit with Microsoft documentation, the support.microsoft.com link above, https://support.microsoft.com/en-us/help/942817/how-to-change-the-remote-uac-localaccounttokenfilterpolicy-registry-se, no longer appears to be valid and merely returns a 404 (Microsoft's web admins seem allergic to leaving redirects behind so I have no idea if this means the documentation is gone or ju

[2020-03-17 06:43] bagajjal opened #1571 "Reuse moduli file in the root folder"
Followup internally to see if we can reuse the moduli file. This saves us 3-4 days of time to regenerate.

[2020-03-17 21:11] maertendMSFT commented on #198
Wont fix
There is not a large customer ask, we will happy review a community PR.

[2020-03-17 21:11] #198 closed, assigned to nobody

[2020-03-17 21:13] maertendMSFT commented on #215
This looks to be specific to chocolatey

[2020-03-17 21:13] #215 closed, assigned to nobody

[2020-03-17 21:14] maertendMSFT commented on #256
This is by design

[2020-03-17 21:14] #256 closed, assigned to nobody

[2020-03-17 21:15] #283 closed, assigned to nobody

[2020-03-17 21:16] maertendMSFT commented on #296
This issue is fixed in the most recent release.

[2020-03-17 21:16] #296 closed, assigned to nobody

[2020-03-17 21:17] maertendMSFT commented on #297
This is not applicable in Windows, try using Kerberos auth instead.

[2020-03-17 21:17] #297 closed, assigned to nobody

[2020-03-17 21:20] maertendMSFT commented on #318
This is no longer applicable

[2020-03-17 21:20] #318 closed, assigned to nobody

[2020-03-17 21:24] #330 closed, assigned to bingbing8

[2020-03-17 21:29] maertendMSFT commented on #341
We should do this as part of: https://github.com/PaulHigin/EnableSSHRemoting

[2020-03-17 21:30] #341 closed, assigned to nobody

[2020-03-17 21:39] maertendMSFT commented on #382
This is not specific to OpenSSH, this is an external issue.

[2020-03-17 21:39] #382 closed, assigned to nobody

[2020-03-17 21:42] DarwinJS commented on #341
@maertendMSFT - before you close to many of these you might want to ask around a bit.

It looks to me like https://github.com/PaulHigin/EnableSSHRemoting presumes PowerShell Core is installed.

Are you sure you want to make PowerShell Core a runtime prerequisite to install OpenSSH on all Windows machines?  Many may have only Windows PowerShell.

[2020-03-17 21:43] maertendMSFT commented on #390
This was fixed in the latest release.

[2020-03-17 21:43] #390 closed, assigned to manojampalam

[2020-03-17 21:44] maertendMSFT commented on #381
OpenSSH works the same as any other user creation in Windows.  If more info is needed, please submit a issue on the docs page: https://docs.microsoft.com/windows-server/administration/openssh/openssh_overview

[2020-03-17 21:44] #381 closed, assigned to nobody

[2020-03-19 07:55] vominhi commented on #1543
Having the same issue. It works fine with username and password.

[2020-03-19 09:31] ghost opened #1572 "Why are those UNIX-dedicated code blocks working correctly?"
First of all, I want to state it clearly.

I'm not building or installing the Windows port of OpenSSH, I'm just researching, so nothing wrong encountered. I just want to ask some questions about the code (or maybe VS as well) and expect that someone could tell me what I want to know.

**"OpenSSH for Windows" version**

The last commit of the current **latestw_all** branch. (f4498b7c5bd132ec16499c9

[2020-03-19 20:41] metaltank commented on #1442
Were you able to resolve this? I'm encountering the exact same issue. Best I can tell it is an issue with the WSAEINVAL error of the bind function:

"An invalid argument was supplied.This error is returned of the socket s is already bound to an address."

https://docs.microsoft.com/en-us/windows/win32/api/winsock/nf-winsock-bind
 

[2020-03-19 20:41] metaltank commented on #1514
Were you able to resolve this? I'm encountering the exact same issue. Best I can tell it is an issue with the WSAEINVAL error of the bind function:

"An invalid argument was supplied.This error is returned of the socket s is already bound to an address."

https://docs.microsoft.com/en-us/windows/win32/api/winsock/nf-winsock-bind
 

[2020-03-19 21:10] BobVul commented on #1442
I don't believe I ever resolved this - I ended up using a Debian VM with bridged networking in the meantime.

[2020-03-20 06:22] anthonyvdotbe commented on #1514
@metaltank no I wasn't

[2020-03-20 06:27] bagajjal commented on #1572
![image](https://user-images.githubusercontent.com/23668037/77141147-25518100-6a39-11ea-81c7-e5e25ce76244.png)

[2020-03-20 06:27] #1572 closed, assigned to nobody

[2020-03-20 14:51] WSLUser commented on #1542
What you should of done is stop the sshd service. Then delete the Openssh-Win32 directory. Replace it with a fresh extract. Open PS and run the install script. Then run the user and file permission scripts. Lastly start the sshd service. This should work as long as they are all run in elevated mode.

[2020-03-20 17:45] bagajjal commented on #1542
Please make sure the ssh binary folder has read and execute permissions to "Users" local account on the machine and all the child items will inherit this.

[2020-03-20 17:50] jhudsoncedaron commented on #1542
I'm not going to continue to pursue this. I only waited a day before disabling the builtin copy and deploying Cygwin's copy and moving the server into production.

Since it probably is fixed and the next dism-series release will not see the bug, I'm punching close now.

[2020-03-20 17:50] #1542 closed, assigned to bagajjal

[2020-03-20 20:49] NealWalters opened #1573 "How to know if I have Win32-OpenSSH installed?"
How can I verify if this is the source for the OpenSSH software that we are running.  The guy that installed it left.

Our install directory is called: e:\Install\OpenSSH-Win64\OpenSSH-Win64 which I think might be the 64-bit build of what you provide here.  Is there anything in that directory that will give me a version number?  I tried looking for "ssh -v" or something like that.

((Get-Item (Get

[2020-03-20 21:18] bagajjal commented on #1573
Please try these,
1) cd to sshd directory (cd e:\Install\OpenSSH-Win64\OpenSSH-Win64)
2) ((Get-Item (Get-Command .\sshd).Source).VersionInfo.FileVersion)
3) .\ssh.exe -V

[2020-03-20 22:03] NealWalters commented on #1573
For #2: Same as I reported in the original post:
The term '.\sshd' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling
of the name, or if a path was included, verify that the path is correct and try again.

For #3: From Dos Command Prompt:

But I don't see that release number on your release page here:
https://github.com/PowerShell/Win32-OpenSS

[2020-03-20 22:21] bagajjal commented on #1573
7.9p1 corresponds to https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v7.9.0.0p1-Beta release.

V is mentioned here. I have made it bold.

Looks like there is some issue.

Please try with full path of binary name
1) dir e:\Install\OpenSSH-Win64\OpenSSH-Win64\sshd.exe
2) ((Get-Item (Get-Command e:\Install\OpenSSH-Win64\OpenSSH-Win64\sshd.exe).Source).VersionInfo.FileVersion)
3) &"e:\Install

[2020-03-20 22:24] bagajjal commented on #1573
All this command does is to retrieve the version number from sshd.exe file properties.
If you still have issue with command line then select the sshd.exe, right click to get properties and select details tab.

It looks like this

![image](https://user-images.githubusercontent.com/23668037/77210682-d817f280-6abe-11ea-9ec5-b56b436084c1.png)

[2020-03-23 07:30] riverar commented on #1563
I can take a look at this @bagajjal.

@sjevtic I'm using VcXsrv with no issues but I suspect we're hitting a few edge cases like you pointed out. Let me set up a repro and get back to you.

[2020-03-23 08:03] riverar commented on #1563
@sjevtic Regarding issue 1, you're missing `-o "ForwardX11 yes"`. I suspect this is also why issue 2 is broken (missing from file). `-y` is shorthand for toggling both these options, `ForwardX11Trusted` alone does not turn on X11 forwarding.

 Looking into the XAuth issue now.

[2020-03-23 10:06] riverar commented on #1563
Regarding the XAuth issue reported above, there appear to be several issues entangled here:

1. VcXsrv's implementation of xauth seems to be missing unix: support (`xauth list unix:10.0` on a Linux machine yields expected results).

    [xauth manpage](https://linux.die.net/man/1/xauth):

    VcXsrv seems active on Sourceforge, so I'll try to reach out.

    **Workaround:** Use `127.0.0.1:` to byp

[2020-03-23 14:30] makefu commented on #948
@tvsuhail Hey, i am getting the same error. have you made any progress or how have you solved the issue?

[2020-03-23 14:45] NealWalters commented on #1573
Perfect, thanks!

[2020-03-23 15:07] NealWalters opened #1574 "Is User LocalPath other than default Path supported for authorized_keys file?"
**"OpenSSH for Windows" version**
7.9p1 for Windows

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`

**Client OperatingSystem**
Win 2012/R2

**What is failing**
To get public key certificate to work, we had to put it in c:\users\testuser\.ssh.\authorized_keys.
However, when the user was created, we set the "Hom

[2020-03-23 15:24] NealWalters opened #1575 "OpenSSH EventLogs are Empty"
"OpenSSH for Windows" version
7.9p1 for Windows

Server OperatingSystem
((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)

Client OperatingSystem
Win 2012/R2

**What is failing**
In EventViewer, I can see OpenSSH with three Logs (Admin, Opeational, and Debug), but they are all empty.

sshd_config is configured as follows:
# Logging
#SyslogFaci

[2020-03-23 15:49] sjevtic commented on #1563
@riverar Thanks, this is really helpful.  Interestingly, adding C:\Program Files\VcXsrv to PATH and setting XAuthLocation simply to "xauth.exe" also does not work.  Is disregard for PATH expected behavior?

[2020-03-23 16:32] #1573 closed, assigned to nobody

[2020-03-23 16:36] bagajjal commented on #1575
This means you are writing the logs to a log file (%programdata%\ssh\logs\sshd.log)

[2020-03-23 16:36] #1575 closed, assigned to nobody

[2020-03-23 16:39] bagajjal commented on #948
As stated earlier we support windows 7 and above.
Windows XP SP3 is not supported.

[2020-03-23 16:58] bagajjal commented on #1575
If you comment the SyslogFacility and restart the sshd service (net stop sshd;net start sshd) then the logs will be written to Eventlogs.

More on this [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities)

[2020-03-23 17:05] riverar commented on #1563
@sjevtic Not sure what the expected behavior is. Scouring the filesystem for a relatively-specified XAuth program sounds a bit dangerous given how unimaginative the filename is. We'd have to test what Linux does.

But can confirm it won't work on Windows, as ssh will resolve the relative filename to an absolute path (a few layers deep with `_wfullpath`), prepended with the current working director

[2020-03-23 19:57] NealWalters commented on #1575
I referenced that link in my original question/issue.  That page is very vague.
I do see a little sentence at the top that says "In v7.6.1.0 and later, ETW logging is added and is the default."

So is the following a true statement?  Logging is done to the Windows EventLog unless you include the "SyslogFacility' statement in the sshd_config file, in which case the logging will be done to disk.

Do

[2020-03-23 22:47] bagajjal commented on #1575
Yes. It's true. By default logging is ETW. If you specify syslogFacility to Local0 it will be logged to a file.

SyslogFacility makes more sense for *NIX (Unix/Linux) environment. For windows just use only local0.

[2020-03-24 00:34] tavrez commented on #1557
git for windows made OpenSSH 8.2 available for Windows(with FIDO support).
I've also created a module for OpenSSH 8.2 to make FIDO usage through Windows Hello API, you can see it in https://github.com/tavrez/openssh-sk-winhello

[2020-03-24 07:39] jmyreen commented on #1557
Great. Any progress on https://github.com/PowerShell/openssh-portable/pull/362 ?

[2020-03-24 08:51] makefu commented on #948
@bagajjal yep i understood that, however i cannot (currently) change the underlying Operating System, unfortunately.
Our solution right now is to use FreeSSHd with a lot of hardening and configuration measures to protect the service as good as possible.

cygwin is also not running on windowsXP, unfortunately. Otherwise this would have been my favorite solution right after win32-OpenSSH.

[2020-03-24 12:15] tvsuhail commented on #948
@makefu I couldn't find any solution during that time, then i had used Bitwise SSH.

[2020-03-24 19:17] makefu commented on #948
@tvsuhail thanks for the heads-up!

[2020-03-24 21:08] maertendMSFT commented on #401
@ekos2001 please let us know if this is still an issue.

[2020-03-24 21:08] #401 closed, assigned to nobody

[2020-03-24 21:13] maertendMSFT commented on #419
We cannot repro this issue, closing.  Please comment if you can repro

[2020-03-24 21:13] #419 closed, assigned to nobody

[2020-03-24 21:15] maertendMSFT commented on #431
This is supported in the latest Win 10 and above releases.

[2020-03-24 21:15] #431 closed, assigned to bagajjal

[2020-03-24 21:16] maertendMSFT commented on #440
Closing per @bagajjal's response.

[2020-03-24 21:16] #440 closed, assigned to nobody

[2020-03-24 21:18] #444 closed, assigned to nobody

[2020-03-24 21:23] #455 closed, assigned to nobody

[2020-03-24 21:26] maertendMSFT commented on #483
Please try with a trailing slash

[2020-03-24 21:27] maertendMSFT commented on #492
Closing unless there is more information

[2020-03-24 21:27] #492 closed, assigned to nobody

[2020-03-24 21:28] #494 closed, assigned to nobody

[2020-03-24 21:28] bagajjal commented on #483
It's working now.

[2020-03-24 21:28] #483 closed, assigned to nobody

[2020-03-24 21:30] maertendMSFT commented on #500
This is not an issue with Win32-OpenSSH

[2020-03-24 21:30] #500 closed, assigned to nobody

[2020-03-24 21:31] #532 closed, assigned to nobody

[2020-03-25 18:59] RaptahJezus commented on #1551
This problem came up in October 2018, and the fix still has not been shipped out with Windows. The open ssh client needs to have an updated version of ssh-agent. Please see PowerShell/Win32-OpenSSH#1263 for a few workarounds, including manually updating the ssh-agent executable https://github.com/PowerShell/Win32-OpenSSH/issues/1263#issuecomment-497925676

I'm hopeful that after 1.5 years this wil

[2020-03-25 19:05] bagajjal commented on #1551
@RaptahJezus - fyi, We are updating the windows inbox version of openssh with V8.1.0.0. This will be available during fall time.

[2020-03-25 22:46] rbuckton opened #1576 "'ssh-add -d [file]' doesn't seem to work"
Please answer the following

**"OpenSSH for Windows" version**
8.1.0.0

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
The command `ssh-add -d <file>` does not seem to work for any of these cases:
- `<file>` is the path to a private key that was already added
- `<file>` is the path to a public key for a private key that was already added
- `<file>` is the key comment for any

[2020-03-26 17:37] HammerZ3it opened #1577 "Issue loggin to Openssh on windows"
Hi everyone,
I am trying to logon windows from a linux server with ssh certificates.
At the moment I am stuck, it works very well between Linux servers but I can't make it works in this set up.

**"OpenSSH for Windows" version**
7.7.2.1

**Server OperatingSystem**
Windows Server 2019 Datacenter

**Client OperatingSystem**
Ubuntu 18.04.2 LTS

**What is failing**
Authentification is failing

**Expec

[2020-03-27 11:29] dobsa commented on #405
It really would be nice. Please, bring it in!
I am using SSH that comes with latest Widows 10:

    OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5

and it still is not there :-(

[2020-03-27 12:37] WSLUser commented on #1574
Doing this is already something not done in Linux. It is intended for the user profile .ssh to be used. You can specify any path for sending and receiving files but authorized keys much be directly under C:\User\username\ .ssh\ This is by-design behavior and imo should not be changed. It is not secure to place authorized keys somewhere other than the user home folder anyways. It may be inconvenien

[2020-03-27 12:42] WSLUser commented on #1574
Also update your SSH to 8.1. There are some changes that should help in regards to the authorized keys. See https://github.com/PowerShell/openssh-portable/pull/409 for example.

[2020-03-27 14:36] WSLUser commented on #1560
You can download binaries from Github release or use Chocolately to do that for you. Optional Features has an earlier release than 8.1. Use `FixHostFilePermissions.ps1` and `FixUserFilePermissions.ps1` for the permissions. There are other powershell scripts to use for install and setting default shell. These all work just fine. The module isn't strictly speaking necessary.

[2020-03-27 16:42] benpapworth commented on #1322
I have observed this issue on Anaconda OpenSSH build of git too:
git 2.19.1 has ssh ‘OpenSSH_7.7p1, OpenSSL 1.0.2p 14 Aug 2018’ and always works.
git 2.20.1 has ssh ‘OpenSSH_7.9p1, OpenSSL 1.1.1a 20 Nov 2018’ and always fails with Fatal early EOF.

So a change was introduced between these two versions that broke git over SSH. :(

[2020-03-28 09:07] xakod commented on #1226
I need to `mkdir C:\ProgramData\ssh` with v8.1.0.0p1-Beta. Why you dont implement this still?

[2020-03-28 23:34] gadiel commented on #1376
can confirm, it happens in both, powershell 5 and powershell 7 core lts.

[2020-03-28 23:54] xakod commented on #1306
Did all of this and it didnt work for me.
P.S. StrictModes no tried too

[2020-03-30 16:38] bagajjal commented on #1226
@Jihadist -Did you run the install-sshd.ps1 and run "net start sshd" after that? c:\programdata\ssh will be created if you follow these steps.

[2020-03-31 09:42] lars-nystrom-mio commented on #1540
OpenSSH for Windows: 8.1.0.0
Server OperatingSystem: Windows Server 2016 Standard

We are having the same issue for domain accounts. Any news here?
Is there a description somewhere of how %u is expanded when a user logs in with user@domain or domain\user?

[2020-03-31 09:54] krapgras commented on #1258
Is anyone still working on this issue? Because this would add some advantages of being able to limit the folder that user can see by using Access-based enumeration. I now did this by creating symlink but this has the annoying result that you can use the back button in any SFTP client.

[2020-03-31 11:17] lars-nystrom-mio commented on #1540
I started to look into the code and figured out a workaround (or maybe this is expected?):

For example, with this setting:
`ChrootDirectory D:\sftp\%u`

The result when `user@domain` logs in is that it tries to access this folder:
`D:\sftp\domain\user`

As for now this works fine for us.

[2020-03-31 21:05] maertendMSFT commented on #540
Is this still an active issue on the latest release?

Please reopen if so.

[2020-03-31 21:05] #540 closed, assigned to nobody

[2020-03-31 21:06] maertendMSFT commented on #563
Closing as we cannot reproduce.

Feel free to reopen if this occurs in the latest release.

[2020-03-31 21:06] #563 closed, assigned to nobody

[2020-03-31 21:07] #577 closed, assigned to nobody

[2020-03-31 21:07] #579 closed, assigned to nobody

[2020-03-31 21:09] #590 closed, assigned to nobody

[2020-03-31 21:11] #591 closed, assigned to nobody

[2020-03-31 21:11] #593 closed, assigned to nobody

[2020-03-31 21:12] #594 closed, assigned to nobody

[2020-03-31 21:13] #595 closed, assigned to nobody

[2020-03-31 21:14] #604 closed, assigned to nobody

[2020-03-31 21:14] #613 closed, assigned to nobody

[2020-03-31 21:15] #614 closed, assigned to nobody

[2020-03-31 21:15] #615 closed, assigned to nobody

[2020-03-31 21:15] #616 closed, assigned to nobody

[2020-03-31 21:15] #617 closed, assigned to nobody

[2020-03-31 21:15] #618 closed, assigned to nobody

[2020-03-31 21:15] #619 closed, assigned to nobody

[2020-03-31 21:15] #620 closed, assigned to nobody

[2020-03-31 21:15] #621 closed, assigned to nobody

[2020-03-31 21:15] #622 closed, assigned to nobody

[2020-03-31 21:15] #624 closed, assigned to nobody

[2020-03-31 21:15] #625 closed, assigned to nobody

[2020-03-31 21:15] #626 closed, assigned to nobody

[2020-03-31 21:15] #627 closed, assigned to nobody

[2020-03-31 21:15] #628 closed, assigned to nobody

[2020-03-31 21:15] #629 closed, assigned to nobody

[2020-03-31 21:15] #630 closed, assigned to nobody

[2020-03-31 21:15] #631 closed, assigned to nobody

[2020-03-31 21:15] #632 closed, assigned to nobody

[2020-03-31 21:15] #633 closed, assigned to nobody

[2020-03-31 21:15] #634 closed, assigned to nobody

[2020-03-31 21:15] #635 closed, assigned to nobody

[2020-03-31 21:15] #636 closed, assigned to nobody

[2020-03-31 21:19] #647 closed, assigned to bagajjal

[2020-03-31 21:20] #656 closed, assigned to nobody

[2020-03-31 21:20] #659 closed, assigned to nobody

[2020-03-31 21:21] #662 closed, assigned to nobody

[2020-03-31 21:24] maertendMSFT commented on #680
The correct solution requires support of `sudo` in Windows.

[2020-03-31 21:24] #680 closed, assigned to nobody

[2020-03-31 21:27] maertendMSFT commented on #688
We will update our docs to clarify support

[2020-03-31 21:29] #693 closed, assigned to bingbing8

[2020-03-31 21:35] #778 closed, assigned to nobody

[2020-03-31 21:36] #780 closed, assigned to nobody

[2020-03-31 21:37] #781 closed, assigned to nobody

[2020-03-31 21:37] #782 closed, assigned to nobody

[2020-03-31 21:42] maertendMSFT commented on #784
Our recommendation is to use 8.3 syntax.
We will update the docs to describe this.

[2020-03-31 21:44] maertendMSFT commented on #811
This is not Windows specific

[2020-03-31 21:44] #811 closed, assigned to nobody

[2020-03-31 21:46] maertendMSFT commented on #818
Server 2008 is out of support.

[2020-03-31 21:46] #818 closed, assigned to nobody

[2020-03-31 21:49] maertendMSFT commented on #837
This should work using PowerShell remoting over SSH.

[2020-03-31 21:49] #837 closed, assigned to bagajjal

[2020-03-31 21:51] #852 closed, assigned to bingbing8

[2020-03-31 21:52] #868 closed, assigned to nobody

[2020-03-31 21:53] #872 closed, assigned to bingbing8

[2020-03-31 22:01] #913 closed, assigned to nobody

[2020-04-01 11:07] ivandeex commented on #913
@maertendMSFT There is no answer. There is no even link to answer. This issue is closed by mistake!

[2020-04-01 11:08] ivandeex commented on #837
@maertendMSFT

This issue is not "answered".
Please provide an example or proof-link.

[2020-04-01 12:04] DarwinJS opened #1578 "Binaries for 8.1.0.0 ?"
The binaries for 8.1.0-Beta1 were packaged in chocolatey based on being made available here.

Now it seems 8.1.0.0 is released, but binaries are not built by openssh-portable. (https://github.com/PowerShell/Win32-OpenSSH/releases).

Is it possible to get the binaries for 8.1.0.0 here or are they available elsewhere?

[2020-04-01 14:24] musm commented on #1578
cc @manojampalam  @bagajjal

[2020-04-01 17:02] bagajjal commented on #1578
@DarwinJS  - Are you referring to https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v8.1.0.0p1-Beta.

If yes, why do you suspect these are not built by openssh-portable?

[2020-04-01 18:51] DarwinJS commented on #1578
The confusion is with a prerelease being the latest available binaries here in this repo "v8.1.0.p1-beta" and a full release "v8.1.0.0" on openssh-portable for the source code.

[2020-04-01 21:00] Trolldemorted commented on #1310
When will this fix land on W10 PCs? Will it be in the upcoming april update?

[2020-04-01 21:05] bagajjal commented on #1310
It will be part of windows update coming this fall season.

[2020-04-02 12:12] gorbi13G commented on #1557
exists there windows compiled version of openssh 8.2 with FIDO support please? ( i want to use Trezor device for ssh-agent )

[2020-04-02 12:39] tavrez commented on #1557
gitforwindows.org

[2020-04-02 12:51] gorbi13G commented on #1557
gitforwindows.org is the project which offers windows compiled openssh 8.2 with FIDO support ? can you be please more specific, is it the top secure project? :-)

[2020-04-02 16:13] musm commented on #1578
@DarwinJS  aren't the binaries you want located here:  https://github.com/PowerShell/Win32-OpenSSH/releases  ?

[2020-04-02 19:46] RomainFallet commented on #962
My solution to this was to set the key ConsentPromptBehaviorAdmin to 0:
![Capture](https://user-images.githubusercontent.com/6952638/78294831-52b72800-752b-11ea-82d1-6a22787bf90f.PNG)

[2020-04-02 20:04] jborean93 commented on #1578
It sounds like this is just a mismatch on version info from the binaries here and the binaries on the Windows optional feature with the Windows optional feature just omitting the beta part. Are the hash's the same with the one located on GitHub?

[2020-04-02 20:19] bagajjal commented on #1578
@DarwinJS  - I just followed the previous convention.
[openssh-portable](https://github.com/PowerShell/openssh-portable/releases) has release name without "p1-beta"  as opposed to [win32-openssh](https://github.com/PowerShell/Win32-OpenSSH/releases) but they meant same.

@jborean93 - The binaries shipped in windows are onecore binaries (work on all windows SKUs) where as github binaries are deskto

[2020-04-02 20:57] bokeron2020 commented on #1556
@bagajjal your private binary helps a lot, thank you. It doesn't solve it completely, though. During a long session with MANY lines, it reaches a point where the terminal starts to behave weirdly again.

[2020-04-02 20:59] bokeron2020 commented on #1556
@bagajjal your private binary helps a lot, thank you. It doesn't solve it completely, though. During a long session with MANY lines, it reaches a point where the terminal starts to behave weirdly again.

[2020-04-02 21:01] bokeron2020 commented on #1556
@bagajjal your private binary helps a lot, thank you. It doesn't solve it completely, though. During a long session with MANY lines, it reaches a point where the terminal starts to behave weirdly again.

[2020-04-02 21:09] jborean93 commented on #1578
@bagajjal why the divergance in releases, the code may be the same but why not just ship the onecore binaries for both and keep the version numbers the same, will remove the confusion. Is the onecore version not used in GitHub for backwards compatibility with older OS versions that Windows doesn't ship SSH as an optional feature to?

[2020-04-02 21:14] bagajjal commented on #1578
version numbers will differ only when there is a code difference between windows and github versions. The divergence comes where there are security bugs (or) release timelines between windows & github doesn't align and we have to take some mandatory fixes into windows release.

[2020-04-02 21:23] bagajjal commented on #1556
@bokeron2020 - This is a known issue for win10 below when you end up hitting 9999 lines.
For downlevel OS (win10 /winserver 2019 below), we don't have the true pty console support so we have a minimal version of pty implemented by tracking changes to console by ourself.
Unfortunately we are not investing fixing these kind of issues as we have much better user interface in windows 10 with lot of su

[2020-04-02 22:03] bokeron2020 commented on #1556
@bagajjal Oh, I see. Well, I have to stick to Windows 7 due to old software restraints so I'll live with it and thanks to your work its much more bearable now. Thank you.

[2020-04-03 01:44] DarwinJS commented on #1578
@bagajjal - this seems very confusing.

Even if the versions needed to be different for some odd reason, it seems unusual to call it beta if it is really a production-grade release?

Wouldn't something like 8.1.0-desktop.0 be better?

[2020-04-03 11:13] Trolldemorted opened #1579 "Copying output from tmux omits newlines and pads with whitespaces"
**"OpenSSH for Windows" version**
`ssh.exe` from https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v8.1.0.0p1-Beta

**Server OperatingSystem**
Ubuntu 1804 LTS

**Client OperatingSystem**
W10 N 1909

**What is failing**
If you copy a tmux session's output, all newlines are removed and padding whitespaces are added.

Copied text in putty:
[code]

Copied text in openssh:
[code]
As you can see,

[2020-04-03 19:58] mgkuhn commented on #1556
@bagajjal That's fine, as long as the 9999 limit is well documented. It should probably be mentioned at https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

[2020-04-03 22:24] musm commented on #1578
There's still an issue with the binaries uploaded to chocolatey they report an older version and in fact don't work with passphrase protected keys.

Reinstalling with the ones posted on github by microsoft fixed this issue (ssh -Version also reports the correct version  8.1)

[2020-04-05 04:48] ttimasdf commented on #1172
It works. But it hardcoded the ssh command as well as parameters. If I want to refer ssh_config from other locations like `ssh -F C:/my/wsl/distribution/ssh_config`, (cases when using VSCode Remote) I'll need to write everything inside `ProxyCommand` string as well. In the contrary, `ProxyJump` could build the command line automatically, but as said in this issue, it didn't add `ssh.exe` executabl

[2020-04-05 22:52] wldhg opened #1580 "Some character does not displayed normally."
**"OpenSSH for Windows" version**
`8.1.0.0`

**Server OperatingSystem**
[code]

**Client OperatingSystem**
Windows 10 (2004; build 19041.172)

**What is failing**
Failes to update console lines, display some characters.
That bug-like icon seems `0x0e` ASCII 15 code.

**Expected output**
1. XShell
![image](https://user-images.githubusercontent.com/22350783/78511916-61c40180-77db-11ea-9f16-4ae044d37

[2020-04-06 13:40] h1dden-da3m0n commented on #1577
Hi there, I ran into this issue myself today.
I blame it on the Windows Permissions being a lot more obscure than linux permisions.
Anyway, it seems that you, like I had, the permissions set wrong on your authorized_principals file:
[code]
For me removing the extra permission fixed the issue, hope it does the same for you.

Oh and it could be an inherited permission that the file does not have but

[2020-04-06 14:25] HammerZ3it commented on #1577
Hi there,
In fact you are right it was bad permissions on the file.
Your comment reminded me to close this issue as I solved my problem.
"RO for system user on the file"

I managed to make it works for :
Linux to Linux
Linux to Windows

Thanks for your commend h1dden.

Regards

[2020-04-06 14:25] #1577 closed, assigned to nobody

[2020-04-06 15:23] fatso83 opened #1581 "Document administrators_authorized_keys"
[I had tons of troubles trying to get public key authentication going](https://superuser.com/questions/1538449/unable-to-use-publickey-authentication-on-win32-open-ssh-server/1539333#1539333), until I slapped on three `-d` for sshd that showed me that my `authorized_keys` was not even being used and that the real issue was with `administrators_authorized_keys`. Google does not show any results for

[2020-04-07 08:19] fatso83 opened #1582 "administrators_authorized_keys missing from FixHostFilePermissions"
On Google Compute Engine the user accounts are in the Administrators group by default, not the Users group. That means the normal way of adding your key to `.ssh/authorized_keys` does not work and you need to add it to the (undocumented, see #1581) administrator_authorized_keys file. I did this and thought things were peachy. Adding `-d` and `-dd` did not show any issues, but [finally `-ddd` showe

[2020-04-07 08:30] filviu commented on #1172
Windows 1909 and this still doesn't work. Full path is not an option as I use this config file inside wsl as well.

[2020-04-07 18:43] babin93 commented on #127
@quamrulmina is this still true ?

[2020-04-07 18:51] bagajjal commented on #127
@babin93 - No. We support domain account as well.

[2020-04-07 21:08] #915 closed, assigned to nobody

[2020-04-07 21:11] #918 closed, assigned to nobody

[2020-04-07 21:12] maertendMSFT commented on #921
This should be fixed in the latest version

[2020-04-07 21:12] #921 closed, assigned to bagajjal

[2020-04-07 21:15] #932 closed, assigned to nobody

[2020-04-07 21:17] maertendMSFT commented on #935
The logs are now published to ETW

[2020-04-07 21:17] #935 closed, assigned to nobody

[2020-04-07 21:20] maertendMSFT commented on #937
Can you provide more information?

[2020-04-07 21:20] #937 closed, assigned to nobody

[2020-04-07 21:21] #962 closed, assigned to nobody

[2020-04-07 21:22] maertendMSFT commented on #968
This is no longer need, the permissions are set correctly

[2020-04-07 21:22] #968 closed, assigned to bingbing8

[2020-04-07 21:26] #979 closed, assigned to nobody

[2020-04-07 21:27] maertendMSFT commented on #984
Duplicate of: https://github.com/PowerShell/Win32-OpenSSH/issues/979

[2020-04-07 21:27] #984 closed, assigned to nobody

[2020-04-07 21:28] #986 closed, assigned to nobody

[2020-04-07 21:31] pd93 commented on #1172
@silviuvulcan If you can't wait for this to be released into Windows (I know I couldn't), you could always [patch it yourself](https://github.com/microsoft/vscode-remote-release/issues/18#issuecomment-507258777).

[2020-04-07 21:33] #991 closed, assigned to nobody

[2020-04-07 21:38] maertendMSFT commented on #992
This is a duplicate of this issue: https://github.com/PowerShell/Win32-OpenSSH/issues/856

[2020-04-07 21:38] #992 closed, assigned to nobody

[2020-04-07 21:42] maertendMSFT commented on #996
This is primarily due to Windows behavior,  `LOGON32_LOGON_NETWORK_CLEARTEXT` is sufficient.

[2020-04-07 21:42] #996 closed, assigned to manojampalam

[2020-04-07 21:43] #998 closed, assigned to manojampalam

[2020-04-07 21:45] #1007 closed, assigned to bingbing8

[2020-04-07 21:46] #1009 closed, assigned to nobody

[2020-04-07 21:49] maertendMSFT commented on #1014
Looks like this is an issue in Unison with starting ssh.exe

[2020-04-07 21:49] #1014 closed, assigned to nobody

[2020-04-07 21:50] #1020 closed, assigned to nobody

[2020-04-07 21:52] #1023 closed, assigned to nobody

[2020-04-07 21:54] #1029 closed, assigned to nobody

[2020-04-07 21:55] #1036 closed, assigned to nobody

[2020-04-07 21:58] maertendMSFT commented on #1038
ssh-add from Git is not compatible with our release of OpenSSH.

[2020-04-07 21:58] #1038 closed, assigned to nobody

[2020-04-07 21:59] maertendMSFT commented on #1039
This should be fixed in the latest Win10, if you still see this issue, please reopen.
This is not supported down-level

[2020-04-07 21:59] #1039 closed, assigned to bagajjal

[2020-04-08 01:00] bagajjal commented on #914
It's fixed. Verified this in the windows Version 10.0.19041.172.

[2020-04-08 01:00] #914 closed, assigned to bagajjal

[2020-04-08 01:02] bagajjal commented on #973
This should be fixed by now.
Please create new issue if you still have issues.

[2020-04-08 01:02] #973 closed, assigned to bagajjal

[2020-04-08 15:53] tfenster opened #1583 "Disconnect after a couple of minutes if there is no new input"
**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 7.7.2.1

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`
Windows Server 2019 Datacenter
(Windows Server Core)

**Client OperatingSystem**
Windows Version 2004 (Build 19041.172)

**What is failing**
I can use open

[2020-04-08 16:56] bagajjal commented on #1583
I think it's specific to your environment. SSHD process is being killed by other process.

I just tried with V8.1, I didn't see any issue. Please get V8.1 and try in your environment to confirm this.
![image](https://user-images.githubusercontent.com/23668037/78811641-02065b80-797f-11ea-82a6-2f33f4fc5fd9.png)

[2020-04-08 18:34] cdhunt commented on #973
@bagajjal What release is this fixed in?

[2020-04-08 19:11] bagajjal commented on #973
@cdhunt - This thread has two issues.
1) rsa key is not working
The initial version of openssh into windows (like 2 years back) support only ed25519. We added crypto library support using libressl in the next windows release.
This is expected and we provided a feature update to support different crypto keys.

2) rsa key with passphrase is not working.
We never have this problem.

[2020-04-09 05:18] tfenster commented on #1583
I've tried with 8.0.1 and the problem still exists.

Do you mean to say that the server side is killed? That is actually not true, I can immediately reconnect after the error happens

[2020-04-09 05:30] NoMoreFood commented on #1583
@tfenster Not saying that @bagajjal is definitely correct, but some pieces of security software (for example) will forcefully kill inactive connections.  Whenever you connect you get your own dedicated sshd.exe process that hosts your sessions so being able to immediately reconnect is not necessary mean something isn't killing the process associated with your session.

[2020-04-09 09:15] BusyJay commented on #1564
Turns out even OpenSSH for Windows supports UDS, it's still not enough. Because GnuPG on windows does not use UDS at all. The file is a simulated UDS.

For those who wants to forward gpg agent like me, I wrote a [tool](https://github.com/busyjay/gpg-bridge) that built a bridge between GnuPG and openssh. It has been working fine for a month now.

[2020-04-09 12:38] WSLUser commented on #1578
I wouldn't consider it production ready until this PR is merged: https://github.com/PowerShell/openssh-portable/pull/362 and https://github.com/PowerShell/Win32-OpenSSH/issues/1322 is resolved.

[2020-04-09 12:46] WSLUser commented on #1557
Git for Windows provides the Cygwin binary for Openssh. Win32-OpenSSH is the better solution to implementing SSH but it is still missing features as noted in this issue.

[2020-04-09 17:37] NealWalters opened #1584 "Question about Log File Size"
"OpenSSH for Windows" version
7.9p1 for Windows

Server OperatingSystem
Win 2012/R2

Question:
My log file got up to 500 MB.  Are there any built-in parameters to keep it to a size, or to break to a new file each day?  Or would I have to create my own scripts to stop the service, rename the log, then start the service?

[2020-04-09 18:08] bagajjal commented on #1584
It's answered here,
https://github.com/PowerShell/Win32-OpenSSH/issues/935

[2020-04-09 18:08] #1584 closed, assigned to nobody

[2020-04-11 00:34] icosahedron commented on #1306
Finally got it working for myself on Windows 10 Pro using half of one of the solutions above.  The key was "make sure that it has the same permissions as ssh_host_ecdsa_key".

The same solution also recommended using `icacls .\administrators_authorized_keys /inheritance:r`, but this simply reset the permissions to nil.  After resetting the permissions to the same as the key file, it then worked.

[2020-04-11 09:34] PeterStaev commented on #1564
I just got the same problem. I managed to get the path working, but it fails with the same error as OP. This is using v8.1 on Windows 10 Pro (1909). Remote forward is set up like this in the config:
[code]
[code]
when trying to run `gpg --no-autostart -K`
[code]

[2020-04-13 03:01] oakaigh commented on #1459
@manojampalam wondering if this project is still maintained?

[2020-04-13 16:02] rawkode commented on #827
It's been a year since anyone commented, so adding my 👍

[2020-04-14 04:47] Suncatcher commented on #1459
The same question have I. Is it still alive?

[2020-04-14 06:27] jmyreen commented on #1459
A simple name like "YYYY.pem" or "./YYYY.pem" is relative to the process' current directory. This is more a question *what* the current directory is. Somebody else can answer that better than me. My experience with Windows is that programs are started with a variety of choices for the current directory, and often the directory the executable resides in.

[2020-04-14 10:08] waleedhammam opened #1585 "warning: agent returned different signature type ssh-rsa (expected rsa-sha2-512)"
**"OpenSSH for Windows" version**
 `7.7.2.2`

**Client OperatingSystem**
Windows 10 Pro v1909. Build 18363.720

**What is failing**
Can't connect to ssh machines

**Expected output**
Connection works ok with my current key and directs me to the machine

**Actual output**
warning: agent returned different signature type ssh-rsa (expected rsa-sha2-512)

[2020-04-14 10:44] dbrennand commented on #1576
Hi @rbuckton
What error are you experiencing when attempting to use `ssh-add`?

I am seeing the following:
[code]
However, I believe my issue could be related to my private key files permissions. 🤔

[2020-04-14 11:19] BenKennish commented on #1263
@bagajjal : Any news on when this update with be included in an official Windows 10 update?  It's now mid-April 2020 and @manojampalam said you will "have it fixed shortly" in Dec 2018!

[2020-04-14 17:05] bagajjal commented on #1263
@BenKennish  - It will part of next windows release which will be available during fall season (probably July).

[2020-04-14 17:18] #1585 closed, assigned to nobody

[2020-04-14 17:19] bagajjal commented on #1585
Duplicate of https://github.com/PowerShell/Win32-OpenSSH/issues/1263

[2020-04-14 17:31] BenKennish commented on #1263
Thanks for the update.  It's kinda frustrating that we have to wait so long but ok

[2020-04-14 17:55] bagajjal commented on #1576
I couldn't repro on 8.1.0.0.
We don't check file permissions when we are unregistering the key from ssh-agent.
You can try adding -vvv to .\ssh-add.exe to see the verbose logs.

PS e:\test> .\ssh-add.exe .\id_rsa_wcos_test
Identity added: .\id_rsa_wcos_test (abc@testmachine)
PS e:\test> .\ssh-add.exe -l
3072 SHA256:/3eBsxuHiqaj+xfQ2au6JVyFYF/n5rysCauDexGobYY abc@testmachine (RSA)
PS e:\test> .\ssh

[2020-04-14 21:03] #1040 closed, assigned to nobody

[2020-04-14 21:05] maertendMSFT commented on #1041
Please reopen if you encounter this issue on the latest release

[2020-04-14 21:05] #1041 closed, assigned to nobody

[2020-04-14 21:07] #1047 closed, assigned to nobody

[2020-04-14 21:08] maertendMSFT commented on #1049
Dupe of https://github.com/PowerShell/Win32-OpenSSH/issues/1047

[2020-04-14 21:08] #1049 closed, assigned to nobody

[2020-04-14 21:09] maertendMSFT commented on #1053
Please reopen if this repros in the latest build.

[2020-04-14 21:09] #1053 closed, assigned to nobody

[2020-04-14 21:15] maertendMSFT commented on #1057
On Win10, the Windows console is used.  We will not make any changes downlevel.

[2020-04-14 21:15] #1057 closed, assigned to nobody

[2020-04-14 21:16] #1067 closed, assigned to nobody

[2020-04-14 21:17] #1070 closed, assigned to nobody

[2020-04-14 21:17] #1071 closed, assigned to nobody

[2020-04-14 21:18] #1072 closed, assigned to nobody

[2020-04-14 21:18] #1074 closed, assigned to nobody

[2020-04-14 21:19] #1079 closed, assigned to nobody

[2020-04-14 21:20] #1088 closed, assigned to bagajjal

[2020-04-14 21:23] riverar commented on #1088
@maertendMSFT Did a fix for this land in a shipping version of Windows?

[2020-04-14 21:24] #1092 closed, assigned to nobody

[2020-04-14 21:26] maertendMSFT commented on #1102
Win10 and above this should work, we are not making any changes down-level to support this

[2020-04-14 21:26] #1102 closed, assigned to bagajjal

[2020-04-14 21:28] #1103 closed, assigned to nobody

[2020-04-14 21:30] #1110 closed, assigned to nobody

[2020-04-14 21:31] #1111 closed, assigned to nobody

[2020-04-14 21:32] #1115 closed, assigned to nobody

[2020-04-14 21:32] #1116 closed, assigned to nobody

[2020-04-14 21:33] #1117 closed, assigned to nobody

[2020-04-14 21:33] #1122 closed, assigned to nobody

[2020-04-14 21:34] #1124 closed, assigned to nobody

[2020-04-14 21:35] maertendMSFT commented on #1129
Closing, please reopen if this repros on the latest build

[2020-04-14 21:35] #1129 closed, assigned to nobody

[2020-04-14 21:36] maertendMSFT commented on #1131
We no longer support Win7.

[2020-04-14 21:36] #1131 closed, assigned to nobody

[2020-04-14 21:39] #1135 closed, assigned to nobody