[2021-03-03 18:14] bagajjal commented on #1738
OpenSSH server uses pty support from windows console team. I'm looping in console team to respond.

@DHowett - Could you please take a look at this.

[2021-03-03 18:19] bagajjal commented on #1743
@sunil77-i - Windows doesn't have sudo implementation. If you want to give write permission to a file / folder then provide the right permissions to the local users.

[2021-03-03 18:19] #1743 closed, assigned to nobody

[2021-03-03 19:20] yangruan commented on #1234
I had to run powershell as administrator to run this, but then I could ssh-add in any other powershell terminal.

[2021-03-03 19:34] bagajjal commented on #1744
"diffie-hellman-group1-sha1" is not  a default supported Kex algorithm.

However, you can achieve this by following these steps,
1) Add the below config to $env:Programdata\ssh\sshd_config file

KexAlgorithms +diffie-hellman-group1-sha1

2) restart sshd server
net stop sshd
net start sshd

3) ssh connection.
ssh -vvv user@ip

[2021-03-03 19:34] #1744 closed, assigned to nobody

[2021-03-03 20:27] wcarson commented on #1234
March 2021...workaround still needed and still works

[2021-03-03 22:05] illfelder commented on #1546
Looks like @bkatyl put together two PRs with a fix!

https://github.com/PowerShell/openssh-portable/pull/478
https://github.com/PowerShell/openssh-portable/pull/479

[2021-03-04 00:39] kf6kjg commented on #1470
Tested with failure.

## System state

[code]

## Reproduction

[code]

That last command never returned the prompt.  I had to close the terminal window.

## What happens in the context of Git for Windows

[code]

At which point the process doesn't proceed and has to be cancelled via interrupt, aka CTRL-C.

Attempting to manually execute the command sent to `sh` Powershell chokes on the starting q

[2021-03-04 02:31] bagajjal opened #1746 "Allow users to configure custom shell arguments."
Allow users to configure custom shell arguments.

https://github.com/PowerShell/openssh-portable/pull/480

[2021-03-04 02:31] #1746 closed, assigned to bagajjal

[2021-03-04 02:45] bagajjal commented on #1745
@jol64 - By default, OpenSSH allows domain users, local users to login. You don't need any additional configuration in sshd_config.
Please look at the ssh client logs (ssh -vvv user@ip) and ssh server logs.
By default, ssh server logging is ETW based. To change it to file based follow the below instructions,
1.	Add below config to c:\programdata\ssh\sshd_config file
SyslogFacility LOCAL0
LogLevel

[2021-03-04 02:48] bagajjal commented on #1736
@uservictor - This is a rare scenario. The fix will be part of next OpenSSH release (v8.5) planned for this month.
Please validate if the attached private ssh.exe binary solves your problem.

[ssh-prevent-duplicate-msg.zip](https://github.com/PowerShell/Win32-OpenSSH/files/6080551/ssh-prevent-duplicate-msg.zip)

[2021-03-04 02:49] bagajjal commented on #1736
Here is the PR.
https://github.com/PowerShell/openssh-portable/pull/426

[2021-03-04 02:51] uservictor commented on #1736
Thank you, i will try and report.

[2021-03-04 02:59] bagajjal commented on #1723
@philiprbrenan - I'm closing this. Please try the private binary provided in #1556 .
As @mgkuhn, download level OS (windows 10 below) has limited support. commands like vi, top may not work as expected.

Windows 10 has full fledge xterm support. We leverage major features provided by windows console.

[2021-03-04 02:59] #1723 closed, assigned to bagajjal

[2021-03-04 03:04] bagajjal opened #1747 "Allow read permissions to other users for $env:programdata\ssh\administrators_authorized_keys"
administrator public keys are in $env:programdata\ssh\administrators_authorized_keys.
Below permissions are valid for $env:programdata\ssh\administrators_authorized_keys
1) local System account can have full control
2) local administrator group can have full control
3) only read permissions for non-admin/non-system user accounts.  [This check is missing in the current version OpenSSHV8.1.0.0)

[2021-03-04 07:55] jol64 commented on #1745
@bagajjal Thanks for following up.
ETW is fine for me. When I log in with my domain user, ssh disconnects immediately after entering the user name and I can see the following three entries in event viewer:

`sshd: error: chdir("/"): Permission denied`
`sshd: error: get_user_token - unable to generate token on 2nd attempt for user samba\\joachim`
`sshd: fatal: ga_init, unable to resolve user samba\

[2021-03-04 08:05] stborisov commented on #1744
Thank you!

[2021-03-04 17:30] jameymorris opened #1748 "Nested SSH process hanging when launched with pipes"
**"OpenSSH for Windows" version**
OpenSSH_for_Windows_8.1p1

**Server OperatingSystem**
Windows 10.0.17763

**Client OperatingSystem**
Windows 10.0.17763

**What is failing**
Applications/scripts being run through SSH that then launch an SSH process through CreateProcess, subprocess, Popen, etc. using pipes fail to complete as expected. This is occurring in both a C++ application and a Python scri

[2021-03-04 17:38] Haiahemmohamed commented on #1340
Where is the prob?

![image](https://user-images.githubusercontent.com/50952857/110005417-bee07400-7d18-11eb-961f-5075dfe6c5c0.png)

[2021-03-04 19:19] uservictor commented on #1736
@bagajjal Today I run the new version that you providet me, the double "motd" posting is fixed (run ssh.exe 12 times) thank you for that.
But the second problem is still there _"While exit text editor nano (for example, in other cases it happens too) i got double post of connected hostname"_ always as I exit "nano" page with Ctrl +X iI get double post of hostname.

![Screenshot (2)](https://user-i

[2021-03-04 21:57] bagajjal commented on #1340
Error 1067 means "The process terminated unexpectedly.".
It's hard to say why just by looking at the error log.

Are you running in an elevated powershell window? Do you have any changes to $env:programdata\ssh\sshd_config?
What happens when you try ".\sshd.exe -ddd"?

[2021-03-04 21:58] bagajjal commented on #1340
Please open a new issue as yours is a different issue.

[2021-03-04 22:04] kstrophus commented on #1322
@kirksaunders I uninstalled the default Windows 10 OpenSSH client and manually installed v8.1.0.0p1-Beta (still the current latest), and the issue persists for me.

OpenSSH_for_Windows_8.1p1, LibreSSL 2.9.2

[2021-03-04 22:09] kirksaunders commented on #1322
@kstrophus That's what worked for me. Apologies that you didn't have the same luck; unfortunately I have no other advice.

[2021-03-05 03:05] bagajjal commented on #1745
@jol64  - chdir("/") is from the upstream openssh code base (unix openssh [repo](https://github.com/openssh/openssh-portable/)). It changes the directory to the top of the drive i.e, "c:\\" or "d:\\" where openssh binary is present.
We proceed even if the chdir("/") fails. Looks like the sshd.exe user process (i.e., user samba\\joachim) doesn't have access.
You can ignore this as you are able to p

[2021-03-05 03:08] bagajjal commented on #1745
Also can you try [OpenSSHv8.1](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v8.1.0.0p1-Beta).
Installation instructions are [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH)

[2021-03-05 07:42] jol64 commented on #1745
samba\joachim is member of Domain Administrators and thus member of local Administrators group. I can RDP with the same user. net users does not list samba\joachim - should it?
the domain is served by three Samba DCs as I already wrote, no AAD or Windows DC.
SyslogFacility LOCAL0 as suggested above causes sshd to fail to start.

[2021-03-05 20:17] mitsukuri opened #1749 "SSH looking for id_rsa-cert, not id_rsa-cert.pub"
**"OpenSSH for Windows" version**
 `OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5`

**Server OperatingSystem**
 `Ubuntu Server 20.04 @ VirtualBox 6.1.18`

**Client OperatingSystem**
`Windows 10 20H2`

Learning how to use CA-based authentication, I generated a CA key and signed my `id_rsa` with it, which created an `id_rsa-cert.pub` certificate.

Then, trying to connect to my virtual server in verbose

[2021-03-06 15:59] impeeza commented on #1639
For reference, the article https://docs.microsoft.com/en-us/troubleshoot/windows-server/identity/security-identifiers-in-windows has the well know SIDs for Windows

[2021-03-06 16:00] impeeza commented on #1640
For reference, the article https://docs.microsoft.com/en-us/troubleshoot/windows-server/identity/security-identifiers-in-windows has the well know SIDs for Windows

[2021-03-07 04:28] riverar commented on #1762
Can you provide more information on what you're expecting here? It appears `sample_host` is not resolvable to an address.

[2021-03-07 04:36] riverar commented on #1693
@maertendMSFT @bagajjal Can you please provide an update? Did this miss ANOTHER release?

[2021-03-07 07:04] tolgaulas commented on #1762
@riverar ; When we use the include directive, shouldn't the sample_host be resolved with the HostName address? It looks like it does not.

[2021-03-07 08:27] riverar commented on #1762
@tolgaulas I see now. Does this work in `.ssh/config` directly?

[2021-03-07 10:08] mgkuhn commented on #1693
Can anyone here confirm if OpenSSH for Windows 8.1 is in the recently released [Windows 10 Insider Preview Build 19043.844 (21H1)](https://blogs.windows.com/windows-insider/2021/02/17/announcing-windows-10-insider-preview-build-19043-844-21h1/)?

[2021-03-07 11:31] badari412 commented on #1657
Even  I am facing the issue with `OpenSSH_for_Windows_8.1p1` on Windows 2012, but only when I use "-T" option (Do not allocate tty). If I don't use "-T", it works.
[sshd.log](https://github.com/PowerShell/Win32-OpenSSH/files/6096996/sshd.log)

Please find the attached sshd, ssh client logs, sshd_config etc.
[sshd_config.txt](https://github.com/PowerShell/Win32-OpenSSH/files/6097016/sshd_config.txt

[2021-03-07 13:17] badari412 commented on #1657
Even I am facing the issue with OpenSSH_for_Windows_8.1p1 on Windows 2012, but only when I use "-T" option (Do not allocate tty). If I don't use "-T", it works.

Please find the attached sshd, ssh client logs, sshd_config etc.
[sshd.log](https://github.com/PowerShell/Win32-OpenSSH/files/6097165/sshd.log)
[ssh-client.txt](https://github.com/PowerShell/Win32-OpenSSH/files/6097166/ssh-client.txt)
[ss

[2021-03-07 14:47] tolgaulas commented on #1762
@riverar Yes it works in .ssh/config directly, indeed.

[2021-03-07 18:21] mvadu commented on #1551
I had to remove the rsa key first (`ssh-add -d %userprofile%\.ssh\id_rsa`) and add only the ed25519 identity (`ssh-add %userprofile%\.ssh\id_ed25519`) to get key based auth working again without the warning.

[2021-03-08 00:41] riverar commented on #1693
@mgkuhn It is not, but there's a possibility they're waiting for broad general availability. (Doubt it though.)

[2021-03-08 01:13] pd93 commented on #1693
It is still my opinion that OpenSSH should be updated independently of Windows releases (via servicing updates). If there was a security flaw in a given version of OpenSSH, waiting 6-12 months for a new iteration of Windows would be unacceptable.

Out of curiosity, I set up an old laptop on the Insider's dev channel (build 21327) which *does* appear to have the latest version. However, this isn't

[2021-03-08 05:05] schmik commented on #1693
Build 19043.844 here, but 7.7p1, still:

[code]

and

[code]

[2021-03-08 08:36] GitMensch commented on #1693
... can we have that as a release here? The last one released is:

... of course it would be even more reasonable to release with the current [LibreSSL 3.2.4](https://ftp.openbsd.org/pub/OpenBSD/LibreSSL/libressl-3.2.4-relnotes.txt)

[2021-03-08 11:16] srNext commented on #1693
I second this.

@maertendMSFT
SSH is an essential tool for most admins and many other people. Microsoft has already been very, very late to the party with finally integrating this (or any other native SSH tool) into Win10 and now it looks like you guys severely neglect updating it within a reasonable time frame.
Even when using updates from Github as by the link you provided, the latest one is 8.1

[2021-03-08 12:02] mgkuhn commented on #1693
@GitMensch @srNext What specific new functionality in these newer LibreSSL versions do you expect to use? Just curious. I find one usually can make a better case by talking about functionality rather than just version numbers. (I assume you are not just excited about higher version numbers only for the sake of it. The latter is less compelling, because updating to newer versions on its own leads t

[2021-03-08 13:15] GitMensch commented on #1693
As you've asked: I personally do not expect to use any of the new functions. `-K` is mandatory; and in the scenario here - older Windows server, not Win10 - a manual download (+ central installation by the admin) is necessary in any case (but of course only possible if the version is also uploaded in the releases).
Concerning the LibreSSL update: as long as it isn't a "development" version (as far

[2021-03-08 14:54] TBBle commented on #1693
The LibreSSL 3.0.2 update was done in the source repo in March 2020 (https://github.com/PowerShell/openssh-portable/pull/435), so I assume the build that went into the Insiders some time before or during October 2020 came from that, rather than the public release zip's source. October 2020 is the earliest I've seen _OpenSSH_for_Windows_8.1p1, LibreSSL 3.0.2_ on Google, mentioned in a bug report on

[2021-03-08 16:00] mgkuhn commented on #1693
@GitMensch Note that OpenSSH does not actually use the SSL/TLS protocol, because SSL/TLS and SSH are independent protocols, i.e. most TLS-related bugs fixed in newer versions of LibreSSL will make no difference to OpenSSH. It's just used as a crypto library.

@TBBle I very much agree that it would be very reassuring and useful if the Windows binaries actually corresponded to git tags released here

[2021-03-08 16:07] rtollert commented on #1693
I suppose that when I read between the lines of Microsoft's messaging for OpenSSH-Win32 they emphasized the "for developers" part and not so much the "for system administrators" part. Old habits die hard, I suppose. :(

That said, have there been any vulnerabilities announced against the currently-shipping version that would warrant a patch? To be honest, for the use cases of my product, I'm willi

[2021-03-08 18:59] mletterle commented on #1705
This worked for me:

[code]

[2021-03-08 23:35] bagajjal opened #1750 "Publish Github Win32-OpenSSHV8.6"
I'm working on Win32-OpenSSH v8.5.
This will be available in April 2021.

[2021-03-09 03:22] bagajjal commented on #1693
@mgkuhn, @riverar - It's planned for April 2021 windows update.

@pd93  - Any security bugs in OpenSSH (or) LibreSSL goes through windows update. This is different from windows semi-annual release.
      OpenSSH v8.1 was submitted last March 2020 into the right release branch (Manganese). The windows team made a last-minute decision to use the Vibranium branch for 20H2, 21H1.  We weren't communica

[2021-03-09 08:29] Trolldemorted commented on #1693
@bagajjal It is great to hear it will land in the next update, but until it lands on business laptops many users won't receive that update. Windows 1809 is supported until 2024, so we will have to wait another three years, unless our IT departments feel a sudden urge to update.

Have you considered rolling out openssh updates to every windows version as @pd93 suggested?

[2021-03-09 08:45] riverar commented on #1693
@bagajjal Thanks for the response, we'll see what happens. I am not hopeful as you don't even know what's currently shipping in Insider builds, and frankly this is the now the third attempt.

[2021-03-09 11:07] mgkuhn commented on #1693
@bagajjal Thanks a lot for the update! Looking forward to see the current OpenSSH version land [in the right place on the periodic table](https://en.wikipedia.org/wiki/List_of_Microsoft_codenames#Windows_NT_family) this time.

(Off-topic, but perhaps of interest to others here: the main other Kerberos-related Windows 10 feature I am desperately hoping for is [NFS GSSAPI support in the WSL2 kernel]

[2021-03-09 11:48] goranschwarz opened #1751 "Child processes is NOT killed on disconnect"
**"OpenSSH for Windows" version**
7.7.2.3

**Server OperatingSystem**
Windows 10 Pro (just for testing)

**Client OperatingSystem**
Any ssh client, Linux or Windows

**What is failing**
When disconnecting (killing the client) from the SSH Server, the process continues to execute on the server side

**Expected output**
(on Linux) Processes stared by the server process (sshd) will be terminated on t

[2021-03-09 12:08] goranschwarz commented on #1751
Just tested with latest SSHD version: **8.1.0.0**
(no change) same behavior as above...

[2021-03-09 17:59] bagajjal commented on #1693
@Trolldemorted - We don't have any plans to update every windows version.

[2021-03-09 18:12] Okeanos commented on #1693
@bagajjal I don't believe anyone is asking for _every_ Windows version to be updated literally – more figuratively in the LTS sense of versions that are officially supported by Microsoft with public patches. From my understanding, the issue is (and I can confirm that from my own experience) that enterprise versions of Windows are usually the LTS releases (my company issued Windows device is also r

[2021-03-09 20:55] Julian-13 commented on #1544
same issue, randomly ignored ChrootDirectory
auth with AD
openssh-portable-8.2.p1_1,1
sftp from windows 10 pro (18363)

[2021-03-09 21:08] bagajjal commented on #1544
@Julian-13 - You are not using win32-openssh as your version is 8.2. our latest version is openssh v8.1.

[2021-03-09 22:41] bagajjal commented on #1657
@badari412 - This will be fixed in the next win32-openssh release targeted for April 2021.
Please try the attached ssh.exe.
[ssh_nopty_bug.zip](https://github.com/PowerShell/Win32-OpenSSH/files/6111813/ssh_nopty_bug.zip)

[2021-03-10 00:05] TBBle commented on #1693
I wouldn't expect LTS Windows versions to see updates to newer OpenSSH versions for the version they included, that tends to conflict with the "LTS" approach seen elsewhere. I would expect LTS Windows versions to see security updates and fixes for the inbox OpenSSH version they have.

Windows Terminal isn't a great contrast here, because there _is_ no in-box version to compare it with.

Consider P

[2021-03-10 01:34] bagajjal commented on #1751
@goranschwarz - I'm able to repro the issue.
For now use "ssh -t user@ip <cmd>" which kills the child processes.
We added [JOB_OBJECT_LIMIT_BREAKAWAY_OK](https://docs.microsoft.com/en-us/windows/win32/api/winnt/ns-winnt-jobobject_basic_limit_information) flag so that child processes with CREATE_BREAKAWAY_FROM_JOB flag can run for long time even if the ssh connection dies.  This is a specific ask a

[2021-03-10 01:54] bagajjal commented on #1745
@jol64  - Does "net localgroup administrators" shows the user?

With "SyslogFacility LOCAL0" in $env:programdata\ssh\sshd_config, can you run sshd -ddd to see if it throws any error.
I don't expect this to cause the sshd service to fail to start.

If you fail to get file based logging work then look for the errors in the event viewer.
Paste all the error logs..

We need someone familiar with the A

[2021-03-10 21:05] roblourens opened #1752 "No permission to run icacls.exe through ssh, using powershell"
From https://github.com/microsoft/vscode-remote-release/issues/4524

This is a strange issue. Two users are reporting that if they log in locally and run this command in powershell: `icacls.exe testfile.txt` then it runs successfully. But if they run the same command through SSH with powershell, it fails: `echo icacls.exe testfile.txt | ssh [host] powershell` with this output:

[code]

I have no i

[2021-03-10 21:54] atiq-cs commented on #1750
Thanks @bagajjal for working on this.

Shouldn't this be prioritized due to security reasons?

[2021-03-10 22:05] bagajjal commented on #1750
What security reasons?
There are no security bugs in existing releases..

[2021-03-10 23:03] atiq-cs commented on #1750
ref, https://www.openssh.com/releasenotes.html

[2021-03-10 23:11] bagajjal commented on #1752
@RyanSW - Confirmed using OpenSSH v8.1 resolved the problem.

I tried to repro using the windows inbuild openssh 7.7 but I couldn't repro.
![image](https://user-images.githubusercontent.com/23668037/110710459-c12c4d80-81b2-11eb-9fcb-290fdd630546.png)

[2021-03-10 23:19] bagajjal commented on #1750
@atiq-cs -
1) ssh-agent bug is in OpenSSH v8.2. It's not applicable as our win32-openssh latest version is V8.1.
2) Win32-openssh doesn't support PAM.

Please note, we take security bugs very seriously. We fix them asap and ship them through windows updates to update inbuild OpenSSH binaries installed through optional features. Currently there are no security bugs in the windows inbuild OpenSSH.

[2021-03-10 23:20] bagajjal commented on #1752
I'm closing this issue as it works with OpenSSH v8.1.  Thanks @RyanSW

[2021-03-10 23:20] #1752 closed, assigned to nobody

[2021-03-10 23:23] atiq-cs commented on #1750
I understand what you mean. I really appreciate your contributions here.

However, I find your opinion/wording too strong, makes me doubt if you are officially from MSFT!

Anyway, thanks again!

[2021-03-10 23:38] bagajjal commented on #1750
@atiq-cs - I'm from MSFT :)
I just want to reiterate and make a clear statement about the security bugs.

[2021-03-10 23:39] #1747 closed, assigned to bagajjal

[2021-03-11 18:40] asheroto commented on #1476
**Revised**: My original comment was targeted for a different audience and does not apply to this specific issue, but keeping the information for reference.

If you are facing public key authentication in general and are unsure if this issue is related, [here's a link](https://gist.github.com/asheroto/80d5f85e90d92e7f8e40e9d1a3dea7ad) to gist that will confirm public key authentication is set up c

[2021-03-11 23:04] bagajjal opened #1753 "[Security]Check file permissions of system wide ssh_config file."
Windows don't have a system-wide ssh folder ($env:Programdata\ssh) by default.
Assume a non-admin user creates the system-wide ssh folder and then the admin user installs the win32-OpenSSH.
Admin user later manually creates the system-wide ssh_config ($env:Programdata\ssh\ssh_config). By default, this file inherits the parent folder permissions i.e., the non-admin user has the write permission.
Th

[2021-03-12 00:49] #1753 closed, assigned to bagajjal

[2021-03-12 02:46] bagajjal commented on #1753
Associated upstream bug,
https://bugzilla.mindrot.org/show_bug.cgi?id=3277

OpenBSD team plan to fix this in next version i.e., OpenSSH v8.6

[2021-03-12 09:02] badari412 commented on #1657
@bagajjal Thanks for your response. The file ssh.exe that you attached didn't help me. Correct me if I am wrong, but, isn't the issue at the server side?

Also, I saw you were talking about OpenSSH 8.5 release in April 2021 in another issue. Can you please let me know if OpenSSH 8.5 release in April will just be on github or will it be included as part of Windows 2019 OS Update? If yes, do you hav

[2021-03-12 18:47] bagajjal commented on #1657
@badari412  - My bad. I had the wrong binary attached. please try the private sshd binary. please follow these steps
1) take a backup of existing sshd.exe.
2) net stop sshd - stop sshd service
3) copy the private sshd.exe to your bin folder.
4) net start sshd - start sshd service.
5) ssh -T user@ip - This should provide you with nopty session.

[sshd_nopty_issue.zip](https://github.com/PowerShell/

[2021-03-12 18:49] bagajjal commented on #1657
We can only ship security patches into windows 2019.. OpenSSH v8.5 goes into the latest windows OS version.

[2021-03-13 21:10] Testsr commented on #1551
Checked Beta Insider build 19043.867. Nope! No OpenSSH v8.1.

[2021-03-13 21:19] Testsr commented on #1551
@bagajjal
Oh really?  Can't find it in the latest Insider Build.

[2021-03-14 21:09] derekmahar commented on #1263
[Chocolatey](https://chocolatey.org/) provides [OpenSSH 8.0.0.1](https://chocolatey.org/packages/openssh/8.0.0.1):
[code]

From PowerShell as Administrator, install OpenSSH with the ssh-agent service:
[code]

[2021-03-15 12:47] bitkat commented on #1487
Discovering that Windows apparently stores my private key in unlocked form was a rather unpleasant surprise. This is NOT what I expect from ssh-agent. Like most people, I use ssh-agent explicitly to have my key in volatile memory so it will disappear automatically on logout, etc. I strongly disagree with those who want an option to turn the current behaviour off (implying that it should be on by d

[2021-03-15 14:10] rapekas commented on #898
This may be fixed by recreation the directory `.ssh` under regular user.

[2021-03-15 18:41] chuckmilam commented on #184
Sorry for the pile-on, but there are a large number of US government customers who would benefit greatly from native MS-CAPI / ssh-agent integration on Windows for smartcard (CAC/PIV) authentication.  Would love to see this happen.

[2021-03-16 03:49] DHowett commented on #1738
This is, unfortunately, by design. OpenSSH is using the "ConPTY" API to host console applications. My team and I own that API.

Here's what's happening.

Due to a historical mistake, we gave Win32 applications full read/write access to any rectangular region in the entire scrollback buffer--including the viewport. To offer maximum compatibility for those applications² the hosting APIs clear the sc

[2021-03-16 03:52] DHowett commented on #1737
This is possibly because of the old ConPTY invocation style (`conhost.exe -- PATH_TO_COMMAND`). It does not return the exit code for the `COMMAND` it runs.

The solution is to use the modern ConPTY API -- `CreatePseudoConsole` + `CreateProcess(... COMMAND ...)`, followed by tracking the status of the spawned subprocess.

[2021-03-16 17:44] jamiehankins commented on #1024
You could look at the path and set behavior based on whether it's a pipe or not.

[2021-03-16 19:12] bagajjal commented on #184
@NoMoreFood - You have deep insight into Win32-OpenSSH and putty CAC, will you be able to take this up?
Once again appreciate all your contributions to Win32-OpenSSH.

[2021-03-16 22:11] grishagin commented on #1543
Confirming the issue:
1. When any client tries to `ssh` into the server using login `AzureAD\USERNAME` and password, login succeeds.
2. When any client properly authorized by key tries to `ssh` into the server as `AzureAD\USERNAME`, login fails.
Curiously, the log trace shows that the key has been accepted (as people pointed out here and in other threads).
`Event viewer` shows several consecutive

[2021-03-16 22:40] skissane commented on #1738
@DHowett I understand what you are saying. ConPTY needs to start by clearing the screen otherwise apps which use legacy Win32 console API (as opposed to VT sequences) may corrupt the screen.

Can't ConPTY offer a way of opting out of that though? If you know the app you are running is only going to use VT sequences this is unnecessary. Some flag to pass to CreatePseudoConsole API , a command line

[2021-03-16 22:55] bagajjal commented on #1738
@skissane -  We can't introduce any config in the OpenSSH protocol.
sshd.exe (server process) requests for conpty.
sshd.exe can't get this information from the ssh.exe as the SSH protocol doesn't allow this.

[2021-03-16 23:01] bagajjal commented on #1543
@grishagin - When sshd service is started in a shell (not as a service) then we duplicate the current sshd process token i..e, this works only if you are trying to login with the same user name.. If you use a different user name then this doesn't work.

The code flow for key based authentication is different. During key based authentication, sshd.exe (system process) tries to generate the token fo

[2021-03-16 23:44] grishagin commented on #1543
I appreciate the explanation! This is definitely beyond my comprehension at this point, I'm just sharing my observations and striving to make it work in a palatable manner until windows gains this capability.

[2021-03-16 23:46] skissane commented on #1738
@bagajjal I'm not talking about introducing any extension into the OpenSSH protocol.

I am simply talking about adding a config option to the OpenSSH server configuration file.

[2021-03-17 00:06] bagajjal commented on #1738
@DHowett  - Do we have any such flag that I can pass along with conpty.exe / CreatePseudoConsole() ? If yes then we can have it by default.

[2021-03-17 15:17] noskojan commented on #1352
Hi, I am confirming this behavior on latest Windows 10 20H2 (all updates installed):

OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5

Any expectations when this issue will be fixed, please?
Thank you

[2021-03-17 17:11] bagajjal commented on #1352
@noskojan - I don't see it with [OpenSSH v8.1](https://github.com/PowerShell/win32-openssh/releases). Can you please try.
I'm trying to login to azure VM
![image](https://user-images.githubusercontent.com/23668037/111513126-b40ce280-870d-11eb-87ab-200e0ccd2fc6.png)

[2021-03-17 17:46] cima commented on #1234
ssh-add used to work until last week, this week it needs the workaround. This issue needs to be reopened.

[2021-03-18 00:30] bagajjal opened #1754 "[Security] Fix HKEY_LOCAL_MACHINE\SOFTWARE\OpenSSH registry permissions"
Currently, "authenticated users" have setValue permissions for HKEY_LOCAL_MACHINE\SOFTWARE\OpenSSH, HKEY_LOCAL_MACHINE\SOFTWARE\OpenSSH\Agent registry entries.

This is not desirable behavior as "authenticated users" can change the configuration like DefaultShell.

New change -
HKEY_LOCAL_MACHINE\SOFTWARE\OpenSSH - Full control to local system account, administrators group and readonly to the "aut

[2021-03-18 20:11] mcx808 commented on #1324
Anyone know what the resolution to this issue is? I stumbled on this thread developing an OpenSSH PSRemoting implementation on Windows and this issue is marked closed without any indication as to the proper resolution.

It seems to work on 7.7.2.2 by commenting out `Match Group administrators` and putting the key in ~/.ssh/authorized_keys but I haven't done a deep dive yet.

[2021-03-18 21:34] joshudson commented on #1324
@mcx808 : Since the actual implementation is those lines telling sshd to look elsewhere for authorized_keys for administrators, commenting them out or deleting them makes an end of the problem.

[2021-03-18 22:03] bagajjal commented on #1324
It's by design.

[2021-03-19 20:20] StoneFlower70 opened #1755 "The SSH transport process has abruptly terminated causing this remote session to break (write - ERROR:109 on prior unblocking write)"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
7.1.3

**Server OperatingSystem**
Windows Server 2019 Standard

**Client OperatingSystem**
CentOS Linux release

[2021-03-19 20:31] StoneFlower70 commented on #1755
Also, I have reviewed #1259 from @mikebuckley and I have confirmed that the pwsh.exe is being properly instantiated on my Windows server.

[2021-03-19 21:06] bagajjal commented on #1755
@StoneFlower70 - You are using very old version. Try with [OpenSSH v8.1](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v8.1.0.0p1-Beta)

[2021-03-19 21:14] StoneFlower70 commented on #1755
@bagajjal I may have trouble getting a beta version approved for Prod. But it's worth a try. Thank you for the suggestion.

[2021-03-19 22:01] bagajjal commented on #1755
@StoneFlower70 - I would first repro the problem on a non-prod machine then upgrade to v8.1 to see if it resolves your issue.

[2021-03-20 22:00] zippy1981 opened #1756 "AzureAD only domain sshd: fatal: ga_init, unable to resolve user azuread\\foo"
I'm hoping this is a special case of #1053

**Troubleshooting steps**

I did a fresh install of windows 10 and joined it to the domain zippysoft.us. This domain only exists as an AzureAD tenant it lacks:

* domain controllers
* AD connect
* Azure Domain Services

I tried `ssh localhost` and got `sshd: fatal: ga_init, unable to resolve user azuread\\justindearing` in the opsnssh admin logs.

I trie

[2021-03-20 22:07] IzaacJ commented on #1693
That is very much needed! The current in-box OpenSSH doesn't work for me without a bit of tinkering. Since my username contains `å` it messes up the public key and requires me to manually edit it to remove `Izaac Brånn@` at the end, otherwise the sent public key is garbled and not accepted. That is apparently fixed in later versions (not tested that myself thou).

[2021-03-21 12:25] FlexMcMurphy commented on #1263
@derekmahar

When I run that command in Powershell I get: `ERROR: The running command stopped because the preference variable ErrorActionPreference" or common parameter is set to Stop: Service ' (ssh-agent)' cannot be created due to the following error: The specified service already exists`

Do I need to uninstall ssh-agent first?

[2021-03-21 12:38] derekmahar commented on #1263
@FlexMcMurphy I'd guess that you'd have to remove all instances of the OpenSSH client, in particular the optional one in Windows.

[2021-03-21 12:55] FlexMcMurphy commented on #1263
@derekmahar
This worked for me. I uninstalled OpenSSH on Windows 10, had to reboot, then ran your command and now I don't get the error: `warning: agent returned different signature type ssh-rsa (expected rsa-sha2-512) when key registered with ssh-agent` when I ssh from Windows command prompt to my Linux server.

Cheers.

[2021-03-22 17:03] bagajjal commented on #1756
SSH using AzureAD credentials is not supported. This requires changes in the windows OS.

[2021-03-22 17:03] bagajjal commented on #1756
Duplicate of https://github.com/PowerShell/Win32-OpenSSH/issues/1543

[2021-03-22 17:03] #1756 closed, assigned to nobody

[2021-03-22 21:18] StoneFlower70 commented on #1755
@bagajjal - I have installed v8.1 on a Windows 10 Pro x64 box. Unfortunately, I am seeing the same error as before:
debug3: write - ERROR:109 on prior unblocking write, io:0000026CB86D3670

Here is the full log:
29852 2021-03-22 16:50:43.685 debug2: fd 3 setting O_NONBLOCK
29852 2021-03-22 16:50:43.685 debug3: sock_set_v6only: set socket 3 IPV6_V6ONLY
29852 2021-03-22 16:50:43.685 debug1: Bind to

[2021-03-22 22:35] bagajjal commented on #1755
@StoneFlower70  - The problem is with the space.
The process creation is failing..
39372 2021-03-22 16:50:57.619 debug3: spawning "c:\windows\system32\cmd.exe" /c "C:\Program Files\PowerShell\7\pwsh.exe -sshs -NoLogo -NoProfile"

Follow these steps,
1) Modify your sshd_config to use ""C:\Progra~1\PowerShell\7\pwsh.exe -sshs -NoLogo -NoProfile" instead of "C:\Program Files\PowerShell\7\pwsh.exe -ss

[2021-03-23 00:22] StoneFlower70 commented on #1755
Thank you @bagajjal, that config update has fully resolved the issue! It has also resolved the issue with v7.1.3.

[2021-03-23 00:22] #1755 closed, assigned to nobody

[2021-03-23 17:24] #1754 closed, assigned to bagajjal

[2021-03-23 22:29] bagajjal commented on #1677
@eabase - I tested with OpenSSH V8.1 and it works as expected.

My sshd_config has
Subsystem pwsh c:/progra~1/powershell/7-preview/pwsh.exe -NoLogo -NoProfile

![image](https://user-images.githubusercontent.com/23668037/112225158-9944dd00-8be9-11eb-88a6-87b1a9a7d400.png)

Please note DefaultShellCommandOption  is intended to specify the shell command argument.
Incase of powershell it's "-command"

[2021-03-24 08:20] frippe75 commented on #1306
Just as a side-note for those not wanting to comment out that clause and use the PROGRAMDATA/ssh/administrators_authorized_keys file as "intended".

I struggle with it for over an hour but realizing from how it works on linux that it silently discards the auth file with too open perms on the file.

I disabled inheritance for parent and removed the "read & execute" for authenticated users.
I think

[2021-03-24 09:56] mgkuhn commented on #1693
[Windows 10, version 21H1 is now available for commercial pre-release validation](https://techcommunity.microsoft.com/t5/windows-it-pro-blog/windows-10-version-21h1-for-commercial-pre-release-validation/ba-p/2220577)

Can anyone here who tried that pre-release confirm the OpenSSH for Windows version included?

[2021-03-24 10:06] alippai commented on #1693
I don't think it's updated. The Windows version they specify has OpenSSH 7.7:
![image](https://user-images.githubusercontent.com/240729/112292031-fb0c5200-8c90-11eb-893b-f9b0d80c557c.png)

[2021-03-24 12:04] TBBle commented on #1693
Per @bagajjal

Windows 10 21H1 is still the [Vibranium branch](https://betawiki.net/wiki/Microsoft_Windows#cite_ref-vanadium_5-2), and it's getting pretty late in the release to be delivering non-bugfixes to it, so I would guess that we're not going to see it in-box until Windows 10 21H2... Unless that turns out to _also_ a Vibranium branch release.

At least we can be pretty sure it'll be present

[2021-03-25 01:34] bagajjal commented on #1693
Request you to wait for April update. It's expected to release on April last week. This windows update can be applied to all the releases from 20H1 onwards.
For Microsoft internal partners, the changes are part of KB5001391.

[2021-03-25 06:37] frankhetterich commented on #1403
Hi,
any progress on this issue? We´re facing exactly the same problem

[2021-03-25 18:19] bagajjal commented on #1543
To be transparent, I'm providing the update here.
Windows couldn't prioritize our feature request to "create token for AAD (azure active directory) user". We don't have strong partner request and business request (related to $ revenue). If any partner team is blocked then request you to follow up through the official channel with windows team.

[2021-03-25 18:21] bagajjal commented on #1703
@dhavsh - Looking at the sshd.log file,

debug1: generate_s4u_user_token: LsaLogonUser() failed. User 'firmwide\mssqlserver' Status: 0xC000006D SubStatus 0.
0xC000006D  - The attempted logon is invalid. This is either due to a bad username or authentication information.

It's possible that the user is AAD user. fyi, windows operating system doesn't support us to create the token for the AAD user.

[2021-03-25 18:22] bagajjal commented on #1543
For future reference, you can verify if the user is AAD (Azure active directory) user or not by looking at "whoami /user" output on cmd.exe. If the SID starts with "S-1-12-" then it's AAD user.

[2021-03-25 18:41] #1613 closed, assigned to nobody

[2021-03-25 18:44] bagajjal commented on #1582
https://github.com/PowerShell/Win32-OpenSSH/issues/1747

[2021-03-25 18:44] #1582 closed, assigned to nobody

[2021-03-25 18:44] bagajjal commented on #1582
PR - https://github.com/PowerShell/openssh-portable/pull/481

[2021-03-25 18:45] #1496 closed, assigned to nobody

[2021-03-25 19:40] bagajjal opened #1757 "[Security]Administrators group is not enforced in non en-us system"
Default sshd_configuraiton file has,

Match Group administrators
AuthorizedKeysFile PROGRAMDATA/ssh/administrators_authorized_keys

Currently for non english OS flavors this check is not applied as LookupAccountNameW() fails to look for "administrators".

[2021-03-25 21:25] #1757 closed, assigned to nobody

[2021-03-26 15:37] matsmcp commented on #1408
Any updates on this Issue?
It makes creating a good jumphost config a bit harder

[2021-03-26 17:04] bagajjal commented on #1408
@matsmcp - Can you try V8.1.0.0. As per earlier conversation, this seems to work.

[2021-03-26 17:45] bagajjal commented on #1408
@matsmcp - If v8.1.0.0 doesn't work then try the [private sshd binary](https://github.com/PowerShell/Win32-OpenSSH/files/6213475/sshd_latest.zip).
Please follow these steps
1) cd to openssh bin folder.
2) stop the sshd service
net stop sshd
2) take backup of sshd.exe
3) copy the private sshd binary to bin folder.
4) start sshd service
net start sshd
5) try your scenario.

[2021-03-27 13:53] pnbruckner commented on #1632
Hi all. Sorry for intruding on this conversation. I'm not using the same stuff, but I ran into a similar problem where using Python from a service was working fine before I upgraded Windows 10 from 1909 to 20H2. I ran across this topic while searching for the error message "The system cannot execute the specified program."

Although I haven't tried it yet, I think the solution (at least for me) is

[2021-03-27 14:34] DataGhost commented on #1632
As per SpecLad's comment:

What I've managed to find and experience is that there's some sort of sandbox that's transparently built up around any AppX that's executed, and that that, for some reason, does not work when it's ran in the OpenSSH service context. So for whatever reason, probably some obscure security thing, this won't work in the current state and that's a bad design choice IMO if one

[2021-03-27 18:32] peter-dolkens commented on #1632
I actually run OpenSSH manually via Task Scheduler in my user account so that I can login with my AzureAD account (not supported with the default service install)

I still get the same error - so it's definitely related to security, but not to services in particular.

[2021-03-27 19:43] bagajjal commented on #1762
Please open a new issue at https://github.com/PowerShell/Win32-OpenSSH/issues.

[2021-03-27 19:55] asheroto opened #1758 "Cursor position in text editors"
**What are client, server operating systems?**
Client: Putty or PowerShell w/ssh.exe
OS: Server 2019

**What version of OpenSSH are you using?**
OpenSSH_for_Windows_8.0p1, LibreSSL 2.6.5

Using OpenSSH for Windows, if I remote into a server and try to edit a test file such as by typing

`nano readme.txt`

I can edit it fine, but the cursor position is not visible when I move with the arrow keys.

[2021-03-27 20:56] SpecLad commented on #1632
Isn't Task Scheduler a service? :-)

[2021-03-27 22:16] riverar commented on #1762
@bagajjal Can you transfer this issue instead? https://docs.github.com/en/github/managing-your-work-on-github/transferring-an-issue-to-another-repository

[2021-03-27 23:21] demdante commented on #1476
Having the exact same issue as described by @GongT .  Very frustrating.  All permissions correctly set on all files.  Following sshd file:

[code]

And this is the generated debug log **when attempting to connect via public key authentication** (That means you, @asheroto):

[code]

[2021-03-27 23:27] demdante commented on #1476
Also, as for @asheroto , your solution really isn't a solution if it requires disabling password authentication.  Public key authentication should be able to work alongside password authentication, not at its expense.  Afraid that solution is wholly inadequate.

[2021-03-27 23:34] asheroto commented on #1476
My comment was targeted for ensuring that public key authentication works. Password authentication, at least with the settings I described, works fine alongside public key authentication so long as you enable it in your config.

Are you saying you're still facing an issue authenticating even if enabled?

With public+password enabled I still receive the error described by the original poster, even

[2021-03-27 23:56] demdante commented on #1476
@asheroto I also followed your instructions, and it doesn't work.  Feel free to see the debug log posted above.  There are also reports throughout this issue that public key authentication does not work if you encounter this particular issue:

So, if you were able to authenticate with public key authentication, you do not have the same issue that everyone else has.

[2021-03-28 00:03] asheroto commented on #1476
@demdante

No worries, I revised my comment with a link for reference, but explained that it was mistargeted as it doesn't specifically apply to this issue.

Thanks for letting me know

[2021-03-28 03:06] glima commented on #1476
All solutions here only work with manual sshd launch, never with the
system's, from boot.

On Sat, Mar 27, 2021, 17:03 Asher Oto ***@***.***> wrote:

[2021-03-28 05:03] peter-dolkens commented on #1632
Task scheduler isn't `the OpenSSH service` however, meaning it's not restricted to running **OpenSSH** as a service, nor is it tied to operating under the `Local System` account, as I can replicate this as a Task Scheduler task running as an AzureAD account, even with "highest privileges". This is already a different security context, because apparently you can't run login to OpenSSH as an AzureAD

[2021-03-29 07:31] matsmcp commented on #1408
@bagajjal
I tried 8.1.0.0. Does not work.
The Private fix do work as expected. I hope it gets included in 8.5

[2021-03-29 17:07] bagajjal commented on #1408
@matsmcp - Great.

[2021-03-29 18:43] pv2b commented on #1403
I can also report that I'm getting the same exact issue. The use case in my case was that I wanted to do something like

[code]

In my configuration, and then just use a hierarchy of directory junctions inside of those SFTP roots to give a "virtual file system" for giving access points into specific parts of the server.

I'm getting the exact same things, I can create directories, delete directori

[2021-03-29 22:05] heaths commented on #1476
They're also not solutions, but work arounds that don't solve the underlying problem: keeping password authentication disabled while relying on hardware security keys (MFA: something you have, plus something you know - e.g. the PIN on the key).

The original bug with LookupAccountName() can be solved. We had to work around this same issue in the Visual Studio installer when setting up scheduled ta

[2021-03-29 22:20] bagajjal commented on #1476
@heaths - Please refer to my comment https://github.com/PowerShell/Win32-OpenSSH/issues/1543#issuecomment-807225504.

[2021-03-29 22:21] bagajjal commented on #1476
Related to
https://github.com/PowerShell/Win32-OpenSSH/issues/1543

[2021-03-30 00:19] #1431 closed, assigned to nobody

[2021-03-30 00:37] SteveL-MSFT opened #1759 "Ship about_ssh help topic"
On Linux, users can use `man ssh` to get the man page for ssh for help information.  However, Windows doesn't understand man pages.  Instead, we could publish an about topic using the contents of the man page so that within PowerShell, the user can do:

[code]

To get detailed help information

[2021-03-30 01:38] bagajjal commented on #1758
@asheroto - ssh server is running on windows server 2019? From where did you install the nano executable for windows?
I tried https://sourceforge.net/projects/nano-for-windows/files/latest/download but it didn't work over ssh.

nano command works well over ssh when connected to linux VM.

[2021-03-30 14:04] sunil77-i opened #1760 "Openssh Chroot Directory"
HI,

I have scenario I have bunch of local users all using the sftp service, I want to set them a root folder I can achieve it by using ChrootDirectory Command.

I have folder structure like below on the D drive

D:\SFTP\User1

Folder1
Folder2

I have set the ChrootDirectory Command to **ChrootDirectory D:\SFTP\User1** the I can able to view Folder1 and Folder2 respectively but I wanted to see the

[2021-03-30 15:28] andrewpmartinez opened #1761 "Support SSH_AUTH_SOCK Unix Domain Sockets for Windows"
`gpg` and `gpg-agent` support opening a Unix Domain Socket in Windows for use with SSH. However, this appears to fail as OpenSSH for Windows does not support Unix Domain Sockets when configured in SSH_AUTH_SOCK.

There are ways to bridge this using third-party programs such as https://github.com/benpye/wsl-ssh-pageant and configuring `gpg` and `gpg-agent` to run in pageant mode and using the afore

[2021-03-30 19:53] denniskniep commented on #1557
@bagajjal Any progress regarding this ticket?

[2021-03-30 21:01] #337 closed, assigned to SteveL-MSFT

[2021-03-30 21:08] bagajjal commented on #1256
For Windows 7, we support only VT100.
From windows10, we have full xterm support from the windows console team.

We are not investing to fix bugs in VT100.

[2021-03-30 21:08] #1256 closed, assigned to nobody

[2021-03-30 21:24] bagajjal commented on #1737
@skissane - This will be part of the next win32-OpenSSH release.
Meanwhile, you can test with the attached private sshd binary
[sshd_latest.zip](https://github.com/PowerShell/Win32-OpenSSH/files/6232282/sshd_latest.zip)

[2021-03-31 07:24] Enf0 commented on #1715
From my testing, that command would force _SFTP_ while disallowing _SSH_ **and** _SCP_.

I need a way to disallow SSH (i.e. shell access) while allowing SCP (and optionally, SFTP).

[2021-03-31 11:09] mgkuhn commented on #1715
The way `scp host:file .` works is that it just runs `ssh host 'scp -f file'` to start an `scp -f file` process on the other side for a download, or an `ssh -t file` process for an upload, and then uses stdin/stdout to communicate with that peer process to transfer the file. So unlike SFTP, SCP does not use any file-transfer protocol built into sshd, but instead calls another process at the other

[2021-03-31 11:28] mgkuhn commented on #1715
[GNU Rush](https://www.gnu.org.ua/software/rush/) appears to be a sophisticated [restricted shell](https://en.wikipedia.org/wiki/Restricted_shell) to allow only a limited set of commands, such as scp to be executed by an ssh user. [sshdo](http://raf.org/sshdo/) appears to be another one. I don't know if there is any Windows port available yet of either.

I would probably simply write a little Perl

[2021-03-31 14:01] mburr-precor opened #1763 "Document system requirements for the OpenSSH package"
I couldn't find any sort of documentation about the minimum system requirements in the readme, the wiki, the installation instructions or anywhere.

At the very least it would be nice to say what the minimum version of Windows this package will run on .

For the record, I have it running on a Win7 SP1 machine that is using some old tools that are license-locked to that machine (so upgrading to Win

[2021-03-31 16:48] bagajjal commented on #1763
Please refer to https://github.com/PowerShell/Win32-OpenSSH/wiki.

We support win7 and above.

[2021-03-31 16:48] #1763 closed, assigned to nobody

[2021-03-31 17:08] bagajjal commented on #1763
I updated the https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2021-03-31 17:11] mburr-precor commented on #1763
Thanks for letting me know that Win7 is supported and updating the wiki!

[2021-03-31 22:25] vthiebaut10 commented on #1762
I couldn't reproduce this error.
I got the following logs when I tried to replicate the problem:

[code]
The third line of the log differs from the one in the description of the issue in that it doesn't have a "(parse only)" at the end of the line. The remaining of the log also indicates that the options were correctly being applied for sample_host and the connection was established successfully.

[2021-04-01 01:12] asheroto commented on #1758
Hi,

Indeed, it works fine on Linux machines, but not on Windows.

I installed Nano via Chocolatey, which cites its source from [here](https://www.nano-editor.org/).  Following the links, I believe it comes from [here](https://www.nano-editor.org/dist/win32-support/).  Note, the version is 2.5.3, which is old, from 2017.  Even an alternate version from SourceForge is the same version.  I guess to

[2021-04-01 22:53] vthiebaut10 commented on #1758
SSH uses conpty to launch the applications. Involving the console team to take a look at it: @Dhowett, can you please look at this issue?

[2021-04-02 15:55] DHowett commented on #1758
Thanks for looping me in! This looks like https://github.com/microsoft/terminal/issues/3202, which I just verified has been fixed in newer versions of ConPTY (tested on Windows 21xxx and Windows Terminal, which bundles an up-to-date version of conhost for its own use)

[2021-04-02 17:01] bagajjal commented on #1758
Thanks @DHowett.
I'm closing this as fixed.

[2021-04-02 17:01] #1758 closed, assigned to nobody

[2021-04-03 21:07] HenrikBengtsson commented on #1265
# Can confirm @june07's workaround 🙏

I've been following this issue for several years as part of providing parallel processing in R with remote parallel workers, and this bug has been a blocker ever since.  We have had to recommend PuTTY's `plink` or MinGW's `ssh` solutions instead of the Windows 10 built-in `ssh` (https://github.com/HenrikBengtsson/parallelly/issues/7).  When using:

[code]

it

[2021-04-05 20:18] vthiebaut10 commented on #1309
ssh.exe restores the viewport only on certain OS which supports parsing of VTSequence but not conpty functionality. The bug is in console code (WriteFile API). ssh.exe added a hack to restore the viewport (when customer resize the terminal) so that the text is written always at the last line. Although this frustrates users, the intent of adding this hack is to retain the user data on the terminal.

[2021-04-06 00:02] asheroto commented on #1758
@DHowett , thanks for the info, am I correct it understanding that this will be fixed after the appropriate upcoming Windows updates are installed?

[2021-04-06 10:34] Dukro opened #1764 "Connection reset by IP port 22"
OpenSSH_for_Windows_8.1p1, LibreSSL 2.9.2
debug1: Connecting to 192.168.0.109 [192.168.0.109] port 22.
debug1: Connection established.
debug1: identity file C:\\Users\\Dukro/.ssh/id_rsa type 0
debug1: identity file C:\\Users\\Dukro/.ssh/id_rsa-cert type -1
debug1: identity file C:\\Users\\Dukro/.ssh/id_dsa type -1
debug1: identity file C:\\Users\\Dukro/.ssh/id_dsa-cert type -1
debug1: identity fil

[2021-04-06 14:28] Dukro opened #1765 "Start-Service: Cannot find any service with service name 'sshd'."
PS C:\Users\Administrator> sudo Start-Service sshd
Start-Service: Cannot find any service with service name 'sshd'.

[2021-04-06 15:01] infelicitas opened #1766 "Cannot log in with a local user."
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
`((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
"The term 'sshd' is not recognized as the name

[2021-04-06 17:01] bagajjal commented on #1764
It's pretty much possible that the openssh bin folder is not accessible to "authenticated users".
please provide read&execute permissions to "authenticated users".

C:\Users\Administrator> get-acl C:\users\Administrator\Desktop\openssh-v8.1.0.0\ | fl *

PSPath                  : Microsoft.PowerShell.Core\FileSystem::C:\users\Administrator\Desktop\openssh-v8.1.0.0\
PSParentPath            : Microso

[2021-04-06 17:03] bagajjal commented on #1765
@Dukro - windows doesn't have sudo.
Did you run install-sshd.ps1 which registers sshd, ssh-agent as services.

Please follow the [installation steps](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH)

[2021-04-06 17:16] bagajjal commented on #1766
@infelicitas -
Looking at the sshd logs, error 1326 corresponds to "The user name or password is incorrect."
6152 2021-04-06 16:29:45.465 debug1: Windows authentication failed for user: ads-lok-backup domain: . error: 1326

do you have same name as machine name and user name? If yes then please change one of those.
does "net user" on powershell/cmd shows the local user?
Can you first type the pass

[2021-04-06 17:28] infelicitas commented on #1766
_No, the machine name is different.

Net user shows the user info, account active, password required._

I was starting to wonder about the password now. I had been both typing and copy/paste:ing the password before, on multiple machines. I could do standard log in to windows. But now set the password to something super-simple, and it works over ssh!
I guess there are some symbols or locale in the

[2021-04-06 17:28] #1766 closed, assigned to nobody

[2021-04-06 17:29] infelicitas commented on #1766
Was using some form of invalid characters in password string. Tested OK with simple password.

[2021-04-06 22:45] talormanda commented on #1551
This worked for me, but, I am not too technically versed in ssh. Can you tell me why the command "-t ed25519 -a 100" works and what it does?

[2021-04-07 03:18] levanidev commented on #862
Wow, after 2 years, i came across this and it solved my issue. Why the hell did windows save files in that weird encoding and not UTF-8... seriously

[2021-04-07 11:40] HansKramerHVR opened #1767 "OpenSSH does not have the same rights as RDP; although I am authenticated. AU vs IU?"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
8.1.0.0

**Server OperatingSystem**
 `((Get-I

[2021-04-07 20:51] bagajjal commented on #1767
@HansKramerHVR - Does this work with "powershell remoting with winrm"?
sshd service gets a network token for the incoming user. If network token doesn't have sufficient permissions then we run into this problem. This issues happens only for non-admin users. For admin users, "get-service" over ssh connection returns the output.

Can you explain in detail about the SDDL work around that you mention.

[2021-04-08 11:16] matsmcp commented on #1767
This is probably related to https://github.com/PowerShell/openssh-portable/pull/387
It links to other issues where Interactive user is assumed which breaks things for console based remoting.
I have one in there about not being able to write to the eventlog .....

[2021-04-08 15:07] nmingotti commented on #1543
I have the same issue here. Windows computer installed in a domain (samba). Windows Server 2016 and a Windows 10. Impossible to ssh to them.  **generate_s4u_user_token: LsaLogonUser() failed**.  It would be really nice if we could one day ssh into Windows;)  Ssh works fine from Windows to Linux servers.

[2021-04-08 18:23] cpriest commented on #1082
Here's a quick workaround AutoHotkey script that takes care of the problem for me:
https://gist.github.com/cpriest/b08543648ba513d977e6c54e23f9f682

[2021-04-08 18:53] #1719 closed, assigned to nobody

[2021-04-09 07:03] HansKramerHVR commented on #1767
On Wed, 2021-04-07 at 13:52 -0700, bagajjal wrote:

I haven't tried that. I am a Linux Engineer, never used winrm.

I need to run get-service for non-admin users. Using RDP non-admin
users can run get-services without any issue because they are IU.
See:
sc.exe sdshow scmanager

For non-admin users this the get-service is
easily fixed to give AU the
same rights as IU:
sc.exe shshow scmamager
copy p

[2021-04-09 13:46] remipaeta commented on #1543
@nmingotti I have the same issue with Samba 4.10.17
OpenSSH 8.1.0.0 installed on Windows Server 2016
Do you think Kerberos Heimdal doesn't implement S4U2Self and S4U2proxy ?
Or a problem with the impersonate privilege for NT AUTHORITY\SYSTEM ?
I have these two errors:
debug1: generate_s4u_user_token: LsaLogonUser() failed. Status: 0xC000009A
debug3: get_user_token - unable to generate token for us

[2021-04-09 15:51] nmingotti commented on #1543
@remipaeta My Samba version is by package: Debian 10, Stable. (Version 4.9.5-debian). Unfortunately I can't say if it is a Samba issue. I guess it isn't because because I can ssh into Linux machines (in the domain) using domain users, I would bet it is a Windows issue. The error messages I get are the same as yours. To know more we should post to the Samba mailing list, they are usually happy to h

[2021-04-09 15:58] remipaeta commented on #1543
@nmingotti I suspect Samba because I tried with an Active Directory on Windows Server 2019 and I didn't have any trouble with authentication by public key.
But on the other hand, I did not find any errors in the Samba logs which could confirm my suspicion.

[2021-04-09 16:01] nmingotti commented on #1543
@remipaeta   this is not my situation, I try to login with username and password. And it does not work. I am writing to the Samba mailing list pointing to this page in case anybody knows. Moreover I have Windows 2016, I got OpenSSH from here, with 2019 I guess you got it from Windows optional apps, who knows what tweaks they made to it.

[2021-04-09 16:04] remipaeta commented on #1543
@nmingotti I tried on Windows Server 2016 too with Win32-OpenSSH and an AD Windows. It works very well.
But with Samba, I have only problems with Pubkey authentication not password authentication.

[2021-04-09 16:14] nmingotti commented on #1543
I installed OpenSSH release 8.1 64bit in the 2016 server and the package in Windows 10. To me nothing works. not even if DOM\user does ssh DOM\user@localhost. I can' ssh into Windows... Maybe it is a Samba issue, if the Samba guys know they will tell something.

[2021-04-10 10:28] nmingotti commented on #1543
I got PASSWORD authentication working for both Windows10 and Windows Server 2016, for Domain Users of the Samba/Windows domain.

The key change was:
[code]

[2021-04-10 14:04] nmingotti commented on #1543
@remipaeta Now I can confirm what you say. At least, in Samba AD. SSH works with password. But the moment I add a key to ~/.ssh/authorized_keys I can't login anymore. The error I get is below, i cut from the part you can see it is trying with public key.
[code]

[2021-04-11 19:55] floh96 commented on #1484
see https://github.com/PowerShell/openssh-portable/pull/473 there is an open pr

[2021-04-12 06:28] Tancen opened #1768 "garbled characters"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 OpenSSH_for_Windows_8.1p1, LibreSSL 2.9.2

*

[2021-04-12 06:45] matsmcp commented on #1767
I did reproduce the Issue.
running over SSH or Winrm doesn't matter. with a normal user account you get [code] get-service : Cannot open Service Control Manager on computer '.'. This operation might require other privileges[/code]

I think the issue is deeper.
When windows was designed there was interactive users (IE a human using the box) or remote calls. Now we have three levels
Remote calls
Rem

[2021-04-12 17:18] bagajjal commented on #1543
@nmingotti - This is specific to your environment. Looking at the logs, the error 0xC000009A  means "Insufficient system resources exist to complete the API." .

[2021-04-12 17:20] bagajjal commented on #1543
@remipaeta - For key based authentication, please try steps mentioned [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Setup-public-key-based-authentication-for-windows).

[2021-04-12 17:21] bagajjal commented on #1768
@Tancen  - Please share sshd server side logs with DEBUG3 enabled.

[2021-04-12 17:21] #1765 closed, assigned to nobody

[2021-04-12 17:22] #1764 closed, assigned to nobody

[2021-04-12 17:32] nmingotti commented on #1543
Unfortunately this tells me nothing about how to fix it !

[2021-04-12 17:37] nmingotti commented on #1543
The situation is this. I can ssh from Linux to Linux, domain user or regular user, with id_rsa.pub or password. I do it flowlessly since 20 years. From Linux to Windows, Windows in a Samba Domain I can log in ONLY with password. I tried to run Windows default OpenSSH and the latest build of 8.1, i tried to fix permissions according to the wiki. There is nothing to do. To me it does not work. I tes

[2021-04-12 17:40] bagajjal commented on #1543
@nmingotti  - This error is coming from win32 api LsaLogonUser(). OpenSSH don't own this API. I will look for some windows Auth expert in Microsoft to get some help.

[2021-04-12 17:43] nmingotti commented on #1543
@bagajjal  thank you! I will a do few more experiments this evening but more or less i tried all i could think of.

[2021-04-12 19:17] bagajjal commented on #1738
Closing this issue as it's by design.

[2021-04-12 19:17] #1738 closed, assigned to nobody

[2021-04-12 19:21] #1762 closed, assigned to nobody

[2021-04-12 19:22] bagajjal commented on #1768
@Tancen - What is the ssh server operating system? Is it windows 10 or windows server 2019?
Also can you try " dir e:\ " instead of " ls e:\ ".
Please note the default shell is cmd.exe. cmd.exe doesn't understand "ls" as a command.

[2021-04-12 19:33] jborean93 commented on #1767
This is essentially https://github.com/PowerShell/Win32-OpenSSH/issues/1662. When you log in through WinRM/SSH/SMB/insert other network protocol you are creating a `NT AUTHORITY\NETWORK` logon for that session. RDP is probably the sole exception to this where it creates an `NT AUTHORITY\INTERACTIVE` logon specifically because it is actually interactive from a GUI perspective and things like UAC ca

[2021-04-12 19:41] bagajjal commented on #1326
@colemickens , @mgkuhn - Thank you. I updated the [wiki](https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH)

[2021-04-12 19:41] #1326 closed, assigned to bagajjal

[2021-04-12 20:32] remipaeta commented on #1543
@bagajjal If it can help. I have found this line in samba logs:
Kerberos: krb5_verify_checksum failed for S4U2Self: Checksum type hmac-md5 is keyed, but the key type aes256-cts-hmac-sha1-96 passed didnt have that checksum type as the keyed type
It looks like the client is not giving the correct kerberos ticket encryption.

[2021-04-12 21:12] ThatWileyGuy commented on #1543
@remipaeta could you grab Wireshark traces that show the interactions between the Windows server and the Samba DC? That should help figure out how the S4U2Self transaction is failing.

[2021-04-12 21:47] nitz opened #1769 "OpenSSH hangs open sent if using no tty (`-T` or with a command.)"
**"OpenSSH for Windows" version**
 `OpenSSH_for_Windows_8.1p1, LibreSSL 3.0.2`

**Server Operating System**
 `Raspbian GNU/Linux 10 (buster) armv7l`
Server SSHD: `OpenSSH_7.9p1 Raspbian-10+deb10u2+rpt1, OpenSSL 1.1.1d  10 Sep 2019`

**Client Operating System**
`Windows 10 Pro Build 21354_co_release.210402-1630`

**What is failing**
When attempting to issue a command or otherwise connect to my serv

[2021-04-12 22:07] markododa opened #1770 "Support for signed public keys"
Is there support for using signed public keys?
Seems like it doesn't work

[2021-04-12 22:07] #1309 closed, assigned to nobody

[2021-04-12 22:09] #1703 closed, assigned to nobody

[2021-04-12 22:11] #1677 closed, assigned to nobody

[2021-04-12 22:12] #1352 closed, assigned to nobody

[2021-04-12 22:16] #1737 closed, assigned to nobody

[2021-04-13 00:07] bagajjal commented on #1543
@nmingotti , @remipaeta - Please work with @ThatWileyGuy from Windows Auth team.

[2021-04-13 00:57] Tancen commented on #1768
debug2: load_server_config: filename __PROGRAMDATA__\\ssh/sshd_config
debug2: load_server_config: done config len = 251
debug2: parse_server_config: config __PROGRAMDATA__\\ssh/sshd_config len 251
debug3: __PROGRAMDATA__\\ssh/sshd_config:38 setting AuthorizedKeysFile .ssh/authorized_keys
debug3: __PROGRAMDATA__\\ssh/sshd_config:76 setting Subsystem sftp	sftp-server.exe
debug3: checking syntax for

[2021-04-13 01:04] ThatWileyGuy commented on #1745
Hello, I work on the Windows authentication stack.

This sounds like the same issue as #1543 - the S4U2Self transaction with a Samba DC is failing for some reason. Wireshark traces showing the interactions between the Windows server and the Samba DC should help us understand why.

[2021-04-13 01:24] Tancen commented on #1768
@bagajjal  The ssh server operating system is Windows 10 Pro, Version 10.0.19042.867, 64-bit
It's garbled characters aslo on command 'dir e:'

![image](https://user-images.githubusercontent.com/3649637/114481828-fdcae900-9c37-11eb-9c40-413c29b4a8e4.png)

But, If logged in  be before running command 'dir e:', It's well
![image](https://user-images.githubusercontent.com/3649637/114482088-86498980-9c

[2021-04-13 01:41] bagajjal commented on #1768
@Tancen  - It's expcted.
ssh user@ip <_cmd_> ---->> This is  non-interactive. In this case, sshd.exe executes (C:\windows\system32\cmd.exe /c  <command>). It all depends on chcp setting on cmd.exe.

[2021-04-13 01:57] Tancen commented on #1768
@bagajjal I am not sure that the problem is around the code page.
I tried to change the code page before executing the command, but still garbled characters.

![image](https://user-images.githubusercontent.com/3649637/114485390-6a48e680-9c3e-11eb-9ba6-f5d36cd49222.png)

![image](https://user-images.githubusercontent.com/3649637/114485443-7c2a8980-9c3e-11eb-9e15-31127950fab9.png)

![image](https://

[2021-04-13 02:03] Tancen commented on #1768
And it's not good to work for git.
I don't know what is the means of git reply from a Windows SSH Server.
Such as this:
![image](https://user-images.githubusercontent.com/3649637/114486219-09221280-9c40-11eb-877a-027e32a60121.png)

[2021-04-13 06:12] nmingotti commented on #1543
Hi @ThatWileyGuy . The issue I have is with passwordless authentication. I suggest to ignore the Kerberos case for starting and focus on **public key auth**. Also I recommend we all use the same release of the OpenSSH software: the latest build. **V.8.0.0p1 32 bit**. To be found [here](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v8.1.0.0p1-Beta). Install instructions [here](https://gi

[2021-04-13 07:09] ThatWileyGuy commented on #1543
This scenario uses Kerberos S4U2Self authentication, which is neither password-based nor public key-based.

@bagajjal has already described precisely where the failure is occurring, which appears to be a LsaLogonUser call to do a Kerberos S4U logon against a Samba Domain Controller. The same scenario works against a Windows Domain Controller. I'm asking for network traces showing the failing inter

[2021-04-13 07:23] nmingotti commented on #1543
-1. I am using two computers. [deb4] is a Linux debian stable outsided the Windows domain. [domus] is Windows 10, in Samba/Windows Domain. [deb4] and [domus] are in the same LAN. The users are "p" in [deb4] and "nicola" in [domus]. Both are non administrators. The windows domain name is WINDOM.
0. C:\Users\nicola\.ssh\authorized_keys and C:\administrators_authorized_keys are existent files.
1. I r

[2021-04-13 07:30] nmingotti commented on #1543
.. Hi @ThatWileyGuy . The issue I have is with passwordless authentication. I suggest to ignore the  I'm asking for network traces showing the failing interaction because it's much quicker to gather them from an existing environment. ... @ThatWileyGuy  ook, tell me precisely what you need I will try to get it.

[2021-04-13 08:09] nmingotti commented on #1543
@ThatWileyGuy  ... something like this may be useful to you?
[code]

[2021-04-13 08:53] markododa commented on #1770
Actually, signed ca certificate is supported. There is just a little discrepancy with ssh on linux.
On linux i can just do ssh -i somesignedkey.pem and the private key is found.
With ssh for windows both must be specified
ssh -i somesignedkey.pem -i privatekey.pem

Or both must be id_rsa and id_rsa.pub

[2021-04-13 08:58] #1770 closed, assigned to nobody

[2021-04-13 09:23] remipaeta commented on #1543
[kerberos-RP.zip](https://github.com/PowerShell/Win32-OpenSSH/files/6304439/kerberos-RP.zip)

Please find attached a wireshark capture file.
I captured Kerberos packets exclusively.

------ Message d'origine ------
De: "Andrew Wiley" ***@***.***>
À: "PowerShell/Win32-OpenSSH" ***@***.***>
Cc : "Rémi PAETA" ***@***.***>; "Mention"
***@***.***>
Envoyé : 12/04/2021 23:13:06
Objet : Re: [PowerShell/Wi

[2021-04-13 10:03] nmingotti commented on #1543
@remipaeta I don't undertand, how is Kerberos related to public key auth ? ... anyway, whatever, i am no expert in this corner.

[2021-04-13 10:08] remipaeta commented on #1543
@nmingotti because even if you use public key, your user requires a kerberos ticket to log in.
But it's the machine account that gets a kerberos ticket for your user.
It's called the S4U2Self process.

[2021-04-13 10:09] nmingotti commented on #1543
thank you for clarification !

[2021-04-13 14:19] remipaeta commented on #1745
@ThatWileyGuy Have you received the Wireshark capture file?

[2021-04-13 14:37] remipaeta commented on #1543
@ThatWileyGuy I found a difference in the TGS-REQ package.
The cksumtype is different between kRB5-PADATA-FOR-X509-USER and kRB5-PADATA-FOR-USER

Please also find below the link to a documentation on the implementation of Kerberos in Samba
[Information about the implementation of Kerberos in Samba](https://www.samba.org/~metze/presentations/2020/SambaXP/StefanMetzmacher_sambaxp2020_Modern_Kerberos

[2021-04-13 19:10] ThatWileyGuy commented on #1543
@remipaeta yes, excellent! Thanks very much.

Per MS-SFU (https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-sfu/aceb70de-40f0-4409-87fa-df00ca145f5a), the PA-FOR-USER structure is always checksummed with HMAC-MD5. This isn't a problem because the PA-S4U-X509-USER request supersedes it and allows the checksum type to match the session key that's needed to verify the checksum.

The cli

[2021-04-13 19:39] remipaeta commented on #1543
@ThatWileyGuy I can't tell you which version I'm using for Heimdal because Heimdal's code is built into Samba.
Maybe @abartlet can answer.

[2021-04-13 19:49] Adam1986 commented on #1536
Has a resolution ever been found for this? Got the same issue as detailed above.

[2021-04-13 21:44] bagajjal commented on #1536
@Adam1986  - What is failing for you? Please open a new issue if it's supported by upstream openssh but not by win32-openssh.

@guidovbrakel - ripemd160 is removed by upstream openssh. Here is the [code commit](https://github.com/openssh/openssh-portable/commit/7bdb2eeb1d3c26acdc409bd94532eefa252e440b).

@EwertonJordao - Upstream openssh doesn't support ciphers "twofish192-ctr, twofish256-ctr".
![

[2021-04-13 21:44] #1536 closed, assigned to bagajjal

[2021-04-14 02:26] k-khr opened #1771 "CIDR notation in AllowUsers is not recongnized in sshd_config"
**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 7.7.2.3

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`
Windows 10 Pro

**Client OperatingSystem**
Debian 10

`cat /etc/debian_release`
10.9

`ssh -V`
OpenSSH_7.9p1 Debian-10+deb10u2, OpenSSL 1.1.1d  10 Sep 2019

[2021-04-14 14:20] remipaeta commented on #1543
@ThatWileyGuy @abartlet I found some reported wich concern the S4U:
https://bugzilla.samba.org/show_bug.cgi?id=13131
https://bugzilla.samba.org/show_bug.cgi?id=13137
https://bugzilla.samba.org/show_bug.cgi?id=11485
https://bugzilla.samba.org/show_bug.cgi?id=14622

It seems that samba 4 does not follow the Heimdal upstream releases:
https://bugzilla.samba.org/show_bug.cgi?id=12976

[2021-04-14 17:40] danizen commented on #1721
Closing as duplicate of #1693.

[2021-04-14 17:40] #1721 closed, assigned to nobody

[2021-04-14 17:40] danizen commented on #1721
And thank you all :)

[2021-04-14 17:53] remipaeta commented on #1543
@ThatWileyGuy Do you think the problem could be related to fixing this flaw?
https://www.samba.org/samba/security/CVE-2018-16860.html

[2021-04-14 19:13] #1408 closed, assigned to bagajjal

[2021-04-15 07:07] jcappe commented on #1551
ssh-keygen -t ed25519 -a 100

Worked like magic,
here's how I fixed mine, along with some extra details that may be helpful for people.

I left the generated private key location as the default,
C:\Users\\[USERNAME]\\.ssh

and just scp'ed the public key over to linux:
scp C:\Users\\[USERNAME]\\.ssh\\[keyname].pub [linuxuser]@[linuxIPaddress]:/home/[linuxuser]/.ssh

then on linux side (could do thi

[2021-04-15 09:25] 101000 commented on #1657
Hello @bagajjal , can you please share a win32 binary version of sshd.exe with the provided fix? thankyou!

[2021-04-15 09:32] nmingotti commented on #1543
@remipaeta this would make sense for my case. My DC is
[code]
so it seems to be a pre-patch release. That would explain why public key auth works for Rowland (of  the Samba mailing list) since he is using a newer version of Samba.

[2021-04-15 15:52] remipaeta commented on #1543
@nmingotti @ThatWileyGuy
The bug is fixed in version 4.13 of Samba by this commit:
https://gitlab.com/samba-team/samba/-/commit/6095a4f0d58cad3dde6e76cadd7bcae0a240c9e6

[2021-04-15 17:27] nmingotti commented on #1543
@remipaeta  @ThatWileyGuy  I see. Unfortunately for me it is not easy to do the test with a newer release. This DC is in production in a real and busy network. As a rule of thumb I work only with Debian Stable packages on the servers. I can try to see if the package maintainer wants/can push a bit newer version of Samba as stable package ... But don't hold you breath ;)  For now thank you for shar

[2021-04-15 18:19] abartlet commented on #1543
I'm sorry to break the bad news, but Debian Stable will never ship a
current version of Samba.  The nature of Debian practice and policies
means this is essentially impossible for a current Samba to enter
Debian Stable.

Sorry!

[2021-04-15 18:29] abartlet commented on #1543
To allow others to connect the threads, I've explained why Samba 4.12
and earlier won't be patched by upstream to fix this here:

https://bugzilla.samba.org/show_bug.cgi?id=14688
https://wiki.samba.org/index.php/Samba_Release_Planning#General_information

(in short, in upstream we only support two releases at a time, being
4.13 and 4.14 currently, with 4.12 for security fixes only)

[2021-04-15 18:30] JulioAviles commented on #1551
Hi, guy...I find a better way to fix it.
PowerShells (Admin)

# Uninstall the OpenSSH Client
`Remove-WindowsCapability -Online -Name OpenSSH.Client~~~~0.0.1.0`

- restart Windows
and then ...

# Install the OpenSSH Client
`Add-WindowsCapability -Online -Name OpenSSH.Client~~~~0.0.1.0`

-No restart needed

## ENJOY ##

[2021-04-15 19:47] nmingotti commented on #1543
everybody knows Debian stable does not ship current. but given that ssh is the most important tool for a sysadmim after the text editor i sent the fix req to the package maintainer. if they are able to fix it patching in some way good for all of us Debian admins (and derivatives)!

[2021-04-15 21:37] abelcheung commented on #1155
@CollinChaffin In my opinion you should close this issue as it is actually a aggregation of many other possible issues entangled together. If the core of symptom is

1. Using Windows native OpenSSH
2. Errorlevel = 255

Then I think I have traced down a possible reason for significant portion of people encountering such error; and the _real_ core problem shall be solved from within `docker-machine`

[2021-04-16 06:36] johannesboon commented on #1551
Thank you @JulioAviles  for your suggestions:

But I tried it and it did not change anything on my system, it just reinstalls the same old C:\Windows\System32\OpenSSH\ssh.exe version 7.7.2.1 from 2019.

Maybe for example you installed a newer version of OpenSSH with Git for Windows? Could you provide the output of the following cmd.exe commands?:

`where ssh` (Should show C:\Windows\System32\OpenS

[2021-04-16 21:37] shoaniki commented on #1652
The current design also causes problems, though.  For example, I cannot SSH to my Windows 10 box and access mapped drives without jumping through hoops, because mapped drives are not accessible in elevated command prompts.

Please just provide the option.

[2021-04-16 21:42] jborean93 commented on #1652
@shoaniki the mapped drive problem is unrelated to being an admin. They just aren’t mapped on a network logon session. You will find even if you set the registry key to share mapped drives between the limited and admin session you will not see them when logging on through ssh.

[2021-04-16 21:46] shoaniki commented on #1652
oh right! thanks for the explanation and sorry for the noise then.

[2021-04-16 23:03] JulioAviles commented on #1551
Shure @johannesbone , all step in PowerShell (no any Git), just I want to let you know that was **working well in 2 server**, (1 Windows 10 Pro, 1 Ubuntu 20.04), and **today stop working in Ubuntu**, why? I dont know, I coundn't find the problem !! (warning: agent returned different signature type ssh-rsa (expected rsa-sha2-512) came back. :(
I think Microsoft still need to work some bugs

winver

[2021-04-16 23:05] AntonKrug commented on #1014
For the text variant of unison, you can invoke it with -sshcmd and provide custom path to the ssh binary. I think there should be way to change your unison profile to maybe have that by default (working from the GTK/GUI version too), however copying the openssh into the folder works too.

[2021-04-16 23:11] jborean93 commented on #1652
No worries, it’s a common problem but the reasoning behind it is complex so you’re not alone :)

[2021-04-17 01:19] Magneticdud commented on #1014
I confirm that the latest version of unison works fine with the windows 10 openssh client, no more workarounds needed

[2021-04-17 08:34] Binarus opened #1772 "Win32-OpenSSH not honoring `HostKeyAlgorithms` when started as a service"
**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 `7.7.2.2`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`
 `Windows Server 2019 Standard`
 Own remark: V1909

**Client OperatingSystem**
Not of interest, problem is visible from the logs shown below.

**What is

[2021-04-17 12:45] gfb1 commented on #1014
Thanks for your reply.
I just had to replace my laptop, so this was very timely!

guy

Sent from the road:
G.F. Barbato,  Ph.D.

On Fri, Apr 16, 2021, 9:19 PM Magneticdud ***@***.***> wrote:

[2021-04-18 14:31] jakfrost84 opened #1773 "CVE-2019-16905 on most recent release"
Will there be an update to 8.5 soon?  I am showing the current version having a vulnerability CVE-2019-16905.

[2021-04-18 16:35] adiantek opened #1774 "Missing builds for aarch64"
https://github.com/PowerShell/Win32-OpenSSH/releases/
There are builds only for x64_86 and x86. I've Windows with aarch64. Where could I find the latest version for aarch64? The latest version on Windows 10 has bugged ProxyJump and it's already compiled into aarch64.

[2021-04-18 18:04] bagajjal commented on #1773
XMSS is experimental feature. We don't have it enabled with any of our releases.

[2021-04-18 18:06] #1773 closed, assigned to nobody

[2021-04-18 18:12] bagajjal commented on #1774
We don't have ARM32, ARM64 builds for our github releases. There is no ask from community so far.
Having said that April windows update on 4/22 will have OpenSSH v8.1 for windows 10.

[2021-04-18 18:12] #1774 closed, assigned to nobody

[2021-04-19 03:46] ghost opened #1775 "what's the hackery behind Medium IL elevating to High IL within same window ?"
**"OpenSSH for Windows" version**
OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.4

**Server OperatingSystem**
Windows 10 Pro - 10.0.19042.928

**Client OperatingSystem**
Windows 10 Pro - 10.0.19042.928

**What is failing**

win32 apps generally create a sperate window for running a process with High IL with UAC.

successfully  sshing to `ssh adminUser@anyLocalIP` elevates standard users medium IL shell

[2021-04-19 13:55] aman6261 commented on #1561
New to github and unfortunately a negative first post -

my project has decided not to proceed with openssh due to the same limitation... we have a requirement where -
1. sftp client will connect to a SFTP server using  key based authentication
2. After authentication,  it will write files to chroot directory.. this chroot directory is basically a symlink to a NAS path....
3. Due to the limitation

[2021-04-19 17:04] bagajjal commented on #1775
@ecovio1 - I didn't get your acronyms High IL, medium IL. But I think I get your question.
When you ssh to a windows ssh server (locally or remotely), the ssh server will create a shell (in the background) in the elevated mode for admin users only.
ssh client (locally or remotely) will send the command to the ssh server which executes the command in elevated mode.

It looks like we elevate the cli

[2021-04-19 17:27] #1571 closed, assigned to bagajjal, maertendMSFT

[2021-04-19 19:54] bagajjal commented on #1772
@Binarus - I'm guessing, when you start sshd as servicing, it's picking from a different location.

I don't see the below log when you start sshd as service.
  debug1: sshd version OpenSSH_for_Windows_7.7, LibreSSL 2.6.5

Please share the sshd.log file with DEBUG3 enabled.

[2021-04-19 21:18] JulioAviles commented on #1551
I can help a little but I have a doubt too !!
-t ed25519 ( type of algorithm based (EdDSA)) search wiki for details
**-a 100  ( I do not know ) Help please !!**

[2021-04-19 23:15] oxc commented on #1551
Just check any of the man pages (like [this one](https://linux.die.net/man/1/ssh-keygen)):

[code]

[2021-04-20 02:49] ghost commented on #1775
By IL, I was referring to [Mandatory Integrity Level](https://docs.microsoft.com/en-us/windows/win32/secauthz/mandatory-integrity-control).

Yes, thanks. that answers my question fully.

[2021-04-20 02:49] #1775 closed, assigned to nobody

[2021-04-20 06:00] Binarus commented on #1772
Thank you very much for your help.

I have emptied `sshd.log`, have replaced `LogLevel DEBUG` by `LogLevel DEBUG3` in sshd_config, started OpenSSH Server as a service, and tried to connect from another host. Since the log is a bit lengthy, I have made an attachment. The log shows everything from that test, including startup. I didn't remove or alter anything.

However, there is nothing in the log

[2021-04-20 16:29] jakfrost84 opened #1776 "Event ID 2 in Event log"
I am getting an error in the even log. Is this of concern? Everything appears to be working properly.

Event ID: 2
sshd: error: kex_exchange_identification: read: Connection reset
sshd: error: kex_exchange_identification: read: Connection aborted

[2021-04-20 16:31] jakfrost84 commented on #1773
Thank you for the quick response!

[2021-04-20 16:54] bagajjal commented on #1776
Please provide full sshd.log. Refer to https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities#file-based-logging

[2021-04-20 17:16] jakfrost84 commented on #1776
2532 2021-04-20 13:12:30.907 debug3: spawning "C:\\Program Files\\OpenSSH\\sshd.exe" -R
2532 2021-04-20 13:12:30.909 debug3: send_rexec_state: entering fd = 8 config len 531
2532 2021-04-20 13:12:30.909 debug3: ssh_msg_send: type 0
2532 2021-04-20 13:12:30.918 debug3: send_rexec_state: done
3832 2021-04-20 13:12:30.934 debug1: inetd sockets after dupping: 4, 4
3832 2021-04-20 13:12:30.934 Connecti

[2021-04-20 17:22] jakfrost84 commented on #1776
3296 2021-04-20 13:20:53.285 debug1: inetd sockets after dupping: 4, 4
3296 2021-04-20 13:20:53.285 Connection from 127.0.0.1 port 51375 on 127.0.0.1 port 22
3296 2021-04-20 13:20:53.285 debug1: Local version string SSH-2.0-OpenSSH_for_Windows_8.1
3296 2021-04-20 13:20:53.286 debug3: WSARecv - WSARecv() ERROR: io:00000084D22A9670 10053
3296 2021-04-20 13:20:53.286 error: kex_exchange_identificatio

[2021-04-20 21:03] bagajjal commented on #1776
Looks like the connection is closed by client. To debug further we need client side logs (.\ssh.exe -vvv user@ip) , server side logs for the same ssh connection.

[2021-04-20 21:06] bagajjal commented on #1543
Closing this issue as the fix is external.

[2021-04-20 21:06] #1543 closed, assigned to nobody

[2021-04-20 21:07] bagajjal commented on #1745
closing this as it's external to openssh.
see  #1543

[2021-04-20 21:07] #1745 closed, assigned to nobody

[2021-04-21 07:41] bansal07ashish opened #1777 "Unable to add ciphers in OpenSSH insatlled on windows server"
I am trying to add ciphers aes128-cbc,aes192-cbc,aes256-cbc using sshd_config file, and restarted the services. But new ciphers are not added/working. Please let me know how to add ciphers to make it work.

Sshd_config file
# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# The strategy used for options in the default sshd_config shipped with
#

[2021-04-21 08:11] mohsentaleb commented on #1263
In my experience, (Windows 10 - 20H2 OS Build 19042.928) I didn't have to install newer OpenSSH via Chocolatey or anything. I uninstalled OpenSSH client (Start -> Apps & Features -> Other Features), restarted the system and then installed it again and it fixed the problem.
Make sure you start the `OpenSSH Authentication Agent` service again after you installed it for the second time.

[2021-04-21 12:01] jakfrost84 commented on #1776
Since the client in this case is the local host what user would I use? In the logs I see OpenSSH/admin related to the error.  I have no issues connecting with the allowed users in the config.  I just noticed this error happened ~every minute.

[2021-04-21 15:20] sunil77-i opened #1778 "Server Refused the Connection"
Hi All,

I have installed the latest Version of OpenSSH win-64, And Configured everything properly.

The connection was working fine for more than 2 weeks after all of a sudden getting the below error.
![image](https://user-images.githubusercontent.com/79965477/115578555-062fbd80-a2e3-11eb-9342-97d2ec2bf36f.png)

Please help me to get rid of this issue.

Thanks,

Sunil

[2021-04-21 15:31] sunil77-i opened #1779 "Host not communicating more than 15 seconds still waiting"
Hi All,

I am trying to login to OpenSSH using Winscp but i am facing below issue, But after restarting the service it fixed the issue. But why it causes the issue. I verified OpenSSH server is in running state and Ports 22 in firewall is enabled. Please help me to solve this issue.

![image](https://user-images.githubusercontent.com/79965477/115580001-52c7c880-a2e4-11eb-8f1d-16a5b36a3727.png)

Th

[2021-04-21 17:15] bagajjal commented on #1778
Please follow steps [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps) to debug.

[2021-04-21 17:17] bagajjal commented on #1779
@sunil77-i - It's hard to say just looking at this information.
Please follow instructions [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps) to debug.

[2021-04-21 17:36] bagajjal commented on #1777
You have ciphers in two different places ..
fyi, it works on my end.

[2021-04-21 17:36] #1777 closed, assigned to nobody

[2021-04-21 17:36] bagajjal commented on #1778
Closing this based on #1779 as you mention it works after sshd service restart.

[2021-04-21 17:36] #1778 closed, assigned to nobody

[2021-04-21 17:40] sunil77-i commented on #1779
@bagajjal Thanks for your reply, But what is the main reason for this issue either the issue is from Server side or from Firewall or port?

[2021-04-21 17:44] bagajjal commented on #1779
As I said it's hard to say just looking at the error.
You can look at the sshd.log to check any errors.

Please close the issue if your issue is solved.

[2021-04-21 22:17] kategray commented on #184
@chuckmilam have you tried https://github.com/cuviper/ssh-pageant ?

Essentially the flow would look like OpenSSH <> ssh-pagent (acting as ssh-agent) <> pagent (from PuTTY-CAC).

[2021-04-22 03:45] sunil77-i commented on #1779
@bagajjal I have tried the steps mentioned here,  I found the below logs please have look into it.

![image](https://user-images.githubusercontent.com/79965477/115652458-ed5af280-a34a-11eb-9062-9653d0e631b4.png)

Thanks,
Sunil

[2021-04-22 10:03] LeszekKalibrate commented on #1234
winver 20H2
Applied fix and Github is working now, but getting error in BASH cmd now:

[code]

[2021-04-22 13:03] hmmmk commented on #1263
genius

[2021-04-22 14:25] sunil77-i commented on #1779
@bagajjal May I get any update on this please.

Thanks,
Sunil

[2021-04-22 17:02] bagajjal commented on #1779
The problem is with the host keys.

If you are not worried about using new host keys then delete all existing host keys ($env:programdata\ssh\ssh_host*) and restart the sshd service (net stop sshd; net start sshd).

Else try to debug what's wrong with the host keys. These are possible reasons.
Make sure host keys are accessible only to "local administrators group", "system account".  Check Get-Acl

[2021-04-22 19:09] dfields-msft commented on #1707
@mgkuhn my home network configuration has changed, and forward name lookup is working now. I'm not certain how to verify that reverse-lookup is also working, do you have a suggestion?

I tried enabling Windows Kerberos logging per the link you referenced, but I didn't see anything in the logs at all when I try to connect (looking in Event Viewer under Windows Logs/System). I'm still just getting `

[2021-04-22 20:29] chuckmilam commented on #184
@kategray I have not. Thank you for the suggestion.  I may give it a try, but I'm not confident I'll be able secure approval to use it in the long run.  The issue in my environment would be introducing Cygwin, which would require a whole new round of approvals and questions about maintenance and concern for potential for new vulnerabilities.

If we could just get Microsoft to support smartcards in

[2021-04-22 20:54] bagajjal commented on #184
@NoMoreFood - Could you please take a look at this issue.

[2021-04-22 21:09] chuckmilam commented on #184
For the record, I've been in contact with @NoMoreFood, and he's been quite helpful and responsive on issues with PuTTY-CAC--but this isn't PuTTY-CAC.  So, I'm confused.

[2021-04-22 22:05] vthiebaut10 commented on #1718
@Okorokov  - Please try this private [sftp-server binary](https://github.com/PowerShell/Win32-OpenSSH/files/6361470/sftp-server.zip), and let us knows if it fixes your issue.
Please follow these steps:

cd to openssh bin folder.
take backup of sftp-server.exe
copy the private sftp-server binary to bin folder.
start sftp connection
try your scenario.

Let us knows if that solves your issue.

[2021-04-22 23:42] electr0sheep commented on #1263
Windows updated today, which made my start menu and taskbar completely transparent (had to disable transparency effects to fix), as well as breaking ssh again. So glad I found/commented/followed this thread so I could remember what I did to fix it! Wonder if it's _ever_ not gonna be broken 🤣

[2021-04-23 00:29] kategray commented on #184
@chuckmilam if you look at the [releases page](https://github.com/PowerShell/Win32-OpenSSH/releases), he contributes to Win32-OpenSSH as well as working on PuTTY-CAC.

[2021-04-23 00:44] chuckmilam commented on #184
Oh! Got it. Thanks for clarifying.

[2021-04-23 01:27] altano commented on #1263
If anyone is curious, Windows 20H2 (19042.928) comes with OpenSSH 7.7.2.1:

[code]

This version was released in 2018. Microsoft has been saying a new release of OpenSSH will come with every single Windows update, and every single update does not have a new version. They clearly have abandoned this project. Don't install it through Windows. Stop waiting for it to be fixed.

[2021-04-23 02:14] mbanders opened #1780 "OpenSSH Server install failed (Error Code: 0x80070490)"
![openssh_fail](https://user-images.githubusercontent.com/4564080/115806351-3d1dd600-a3ac-11eb-9c0f-0a2670472fb7.png)

I tried to install OpenSSH Server the normal way, but hit this problem for the first time. Anyone else ever have this happen?

[2021-04-23 05:44] sunil77-i commented on #1778
@bagajjal Hi,

I have tried the steps mentioned in the here section and found the below logs,

![image](https://user-images.githubusercontent.com/79965477/115824049-fd470500-a424-11eb-86ec-837a4921c182.png)

Thanks,

Sunil

[2021-04-23 05:52] sunil77-i commented on #1779
@bagajjal Hi,

I have checked the accessibility for all host keys those are accessible only to the "local administrators group", "system account".
please let me know if I have missed anything.

![image](https://user-images.githubusercontent.com/79965477/115824606-d3421280-a425-11eb-88ee-6d34fb19b21c.png)
![image](https://user-images.githubusercontent.com/79965477/115824673-e9e86980-a425-11eb-8099-

[2021-04-23 09:42] mgkuhn commented on #1693
[21H1 Build 19043.962 (KB5001391)](https://blogs.windows.com/windows-insider/2021/04/19/releasing-windows-10-build-19043-962-21h1-to-beta-channel-release-preview-channels/) is now released on “the Beta Channel for those Insiders who are on 21H1”. In case the long-awaited next OpenSSH for Windows release is in there, the “Windows Insider Program Team” have not mentioned this particular improvement

[2021-04-23 13:29] shawnz commented on #1693
I can confirm that after installing that patch, I have OpenSSH 8.1p1 with LibreSSL 3.0.2 (despite it not being mentioned in the release notes). Thank you everyone!

[2021-04-23 16:46] sunil77-i commented on #1779
Hi @bagajjal,

May I get any update please.

Thanks,
Sunil

[2021-04-23 16:47] sunil77-i commented on #1778
Hi @bagajjal ,

May I get any update please.

Thanks,
Sunil

[2021-04-23 17:00] bagajjal commented on #1263
Please refer to https://github.com/PowerShell/Win32-OpenSSH/issues/1693 for news about OpenSSH V8.1.
It's part of April windows update (Cumulative Non-sec update) which is available by end of this month.

[2021-04-23 17:04] bagajjal commented on #1780
@mbanders - This shouldn't happen. Which OS version (output of winver command on cmd.exe) are you trying? Can you try installing any other optional feature.
BTW, are you trying Microsoft internal build (not public) by any chance?

[2021-04-23 17:11] bagajjal commented on #1778
@sunil77-i  - I don't see any error in the screenshot you share..  There is no incoming connection as per logs. You should see the below logs when there is a new incoming ssh connection,

debug1: Server will not fork when running in debugging mode.
debug3: send_rexec_state: entering fd = 8 config len 291
debug3: ssh_msg_send: type 0
debug3: send_rexec_state: done
Connection from ::1 port 50519 on

[2021-04-23 17:14] bagajjal commented on #1779
@sunil77-i - As per the [screenshot you shared in the other issue](https://github.com/PowerShell/Win32-OpenSSH/issues/1778#issuecomment-825402810)  this issue is no longer happening.

fyi, sshd.exe -ddd should always be ran in an elevated powershell /cmd window.

Please followup on one issue as the issue seems to be same.

[2021-04-23 17:15] #1718 closed, assigned to vthiebaut10

[2021-04-23 17:27] bagajjal commented on #1776
Ideally you shouldn't see this error. In order to debug the error, we need ssh client (ssh -vvv user@ip) and sshd.log (with debug3 enabled).

If you are not experiencing any ssh connection issues then we can't debug this issue as you can't collect required logs.
I suggest you try to repro, collect logs both on client and server. If not then close the issue.

[2021-04-23 17:40] #1776 closed, assigned to nobody

[2021-04-23 18:49] mbanders commented on #1780
I'm using `Windows 10 Version 20H2 (OS Build 19042.867)`.

What's odd is that I can see this file exists: `C:\Windows\System32\sshd.exe` and I can also see in Windows Services that OpenSSH Server is available. So it looks like it's installed.

It's just that Windows "Apps & features -> Optional Features" does **not** list OpenSSH Server as installed. And when I click "Add a feature" and select Ope

[2021-04-23 21:18] altano commented on #1693
I think it would be nice if those of you at MSFT (@maertendMSFT / @bagajjal) would acknowledge that the current setup for OpenSSH in Windows hasn't been working. Let me break down the timeline of #1263 for you:

- Oct 2018: issue #1263 is opened on github
- Jan 2019: a fix is committed: https://github.com/PowerShell/openssh-portable/commit/495db5b7e495d07c8e065f3c26b275ea7264d9c7 and everyone star

[2021-04-24 05:11] Tyrubias opened #1781 "Can only SSH into Windows computer under debug mode"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `7.7.2.3`

**Server OperatingSystem**
 `Windows 10 Education`

**Client OperatingSystem**
`macOS 11.2.3 20D91

[2021-04-25 07:04] sunil77-i commented on #1778
@bagajjal Hi,

I ran the command sftp -vvv user@host and I found the below logs,

![image](https://user-images.githubusercontent.com/79965477/115984027-80519200-a5c2-11eb-9867-ff88416a82e1.png)

Thanks,
Sunil

[2021-04-26 08:07] bansal07ashish commented on #1777
Its still not working with my system, any solution please

[2021-04-26 13:48] sunil77-i commented on #1778
@bagajjal Any update?

Thanks,

Sunil

[2021-04-26 17:05] bagajjal commented on #1778
@sunil77-i - Are you running ssh client in the same machine or from different machine? Did you have the firewall setting enabled to accept incoming traffic on port 22?

[2021-04-26 17:12] sunil77-i commented on #1778
@bagajjal I am running ssh client on the same machine.
Yes I have firewall with port 22 and it is enabled.

Thanks,
Sunil

[2021-04-26 17:18] bagajjal commented on #1781
@Tyrubias - please follow instructions [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Setup-public-key-based-authentication-for-windows) to setup key based authentication.

fyi, when you run sshd in debug mode, it works only for the user who is running sshd in debug mode.

[2021-04-26 17:20] bagajjal commented on #1777
@bansal07ashish - What ciphers are you trying to add? Please open new issue as the ciphers listed in this issue are not supported by openssh. Please add sshd_config, [ssh server side logs](https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities), client side logs (ssh -vvv user@ip) in the new issue

[2021-04-26 17:23] bagajjal commented on #1778
@sunil77-i - Please run sshd as service. Provide full [ssh server side](https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities), client side logs (ssh -vvv user@ip) for the same connection.
I still don't understand why ssh client can't establish a connection when sshd service listens on port 22.

[2021-04-26 17:23] bagajjal commented on #1778
Make sure there are no processes other than sshd server running on port 22.

[2021-04-26 17:36] sunil77-i commented on #1778
@bagajjal I tried running the sshd as service, but there is no logs has been generated while attempting to connect to ssh server.
please let me know if I missed something.

Yes I confirmed no other processes are running on port 22.

Thanks,
Sunil

[2021-04-26 17:44] bagajjal commented on #1778
@sunil77-i  - By default sshd logging is ETW based. I gave a link in my previous comment on how you can enable file based logging. please follow the steps to enable file based logging.

![image](https://user-images.githubusercontent.com/23668037/116127098-493fb700-a67c-11eb-90d2-02afb77bbce9.png)

[2021-04-27 11:55] SummaCumWilly commented on #1076
Sorry for necroposting, but what was it that solved this Mat? Was it the path to the sshd_config being in the new location or was it that you added a client config. I suspect it was just fixing the path on the server. It's just not clear in your answer what you did.

[2021-04-27 13:16] mbanders commented on #1780
Ended up just re-imaging the Windows machine. No idea why it was having such trouble with ssh.

[2021-04-27 13:16] #1780 closed, assigned to nobody

[2021-04-27 21:28] glima commented on #1632
One more issue related to openssh on windows! Yay! :)

[2021-04-27 23:42] rkeithhill commented on #1329
Same issue.  This makes using Ansible via OpenSSH to configure a Windows box not very workable and is going to frustrate those trying to do so.

[2021-04-27 23:43] KritR commented on #1707
Unfortunately I'm facing the same issue at the moment.

[2021-04-28 08:17] Vetrikumar74-cloud opened #1782 "This error 'No supported authentication methods available ( server sent : publickey, keyboard-interactive) ' has been trigged for the creation of new users."
Error Message : This error  'No supported authentication methods available ( server sent : publickey, keyboard-interactive) ' has been trigged for the creation of new users.

But old users still able to access

Any ideas?

[2021-04-28 09:31] mgkuhn commented on #1782
Full client (`ssh -v`) and [server log files](https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities) attached here might help.
Do your new users all have an [`authorized_keys` file set up](https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_keymanagement) correctly?

[2021-04-28 16:21] Vetrikumar74-cloud commented on #1782
Hi Mgkuhn,

Will give a shot on this.

[2021-04-28 16:45] bagajjal commented on #1782
@Vetrikumar74-cloud - Also provide ssh_config (if you have any), sshd_config

[2021-04-28 21:56] #1395 closed, assigned to nobody

[2021-04-28 22:28] vthiebaut10 commented on #1395
@pwo Please try these [private binaries](https://github.com/PowerShell/Win32-OpenSSH/files/6396103/private_bins.zip) and let us knows if it fixes your issue.
Please follow these steps:

1. stop the sshd service (net stop sshd)
2. cd to openssh bin folder.
3. take backup of sftp-server.exe and sshd.exe
4. download and copy the private sftp-server.exe and sshd.exe to bin folder.
5. start sshd servic

[2021-04-29 16:47] colececil commented on #1491
I had ssh-agent working on my machine a few days ago, but it wasn't working today for some reason (I only have the client installed, not the server). This solution by @EdBoraas fixed it for me. Thanks!
[code]
From what I gather, `sshd` is the name of the OpenSSH server process, and creating a dummy service for it somehow tricks Windows into thinking that OpenSSH server is running, which gets aroun

[2021-04-29 18:24] EdBoraas commented on #1491
@colececil Yes, that's exactly what I think is happening. It doesn't even seem to care if it's running or not, but it seems to fail if there's no service by that name.

[2021-04-29 19:17] maertendMSFT commented on #1693
Hey folks,
As of today, version 8.1p1 should be available for any machine on 20H1 or newer, specifically in [KB5001391](https://support.microsoft.com/en-us/topic/april-28-2021-kb5001391-os-builds-19041-964-and-19042-964-preview-fc8959e2-f2a0-4223-b56b-0ad8d9b4f96c).

We really appreciate your passion for this project and understand the frustration here. We heard you and we have made internal chang

[2021-04-29 19:17] #1693 closed, assigned to nobody

[2021-04-29 19:27] riverar commented on #1693
@maertendMSFT Thanks. Microsoft [recently announced a final May 2021 Update build](https://blogs.windows.com/windows-insider/2021/04/28/preparing-the-windows-10-may-2021-update-for-release/) and committed to servicing that build.  I'm not getting offered any OpenSSH updates for 19043.928. Any idea which update is tracking OpenSSH 8.1p1 for 21H1?

[2021-04-30 00:10] TBBle commented on #1693
@riverar According to https://github.com/PowerShell/Win32-OpenSSH/issues/1693#issuecomment-825659195, you should _already_ have OpenSSH 8.1p1 in that 21H1 build.

Edit: Ooops. I somehow thought 928 (what you have) > 962 (where shawnz verified). >_<

[2021-04-30 00:56] bagajjal commented on #1693
@riverar ,
21H1 Build 19043.928 (KB5001330) - Cumulate security payload
OpenSSH v8.1 is in 21H1 Build 19043.964 (KB5001391) - Cumulative non-security payload

As per [this](https://blogs.windows.com/windows-insider/2021/04/28/preparing-the-windows-10-may-2021-update-for-release/), KB5001391 should be available as servicing update.

![image](https://user-images.githubusercontent.com/23668037/116635

[2021-04-30 01:02] riverar commented on #1693
@bagajjal Thanks. I upgraded via media but doesn't appear WU is servicing 19043.928 yet. I'll jump on the Release Preview ring to pull that update down.

[2021-04-30 01:27] mcgarrah commented on #405
Still getting the error when trying the sockets for multiplexing.

[code]

[code]

[code]

[2021-04-30 01:42] bagajjal commented on #1779
@sunil77-i - Are you still facing this issue?

[2021-04-30 01:47] bagajjal commented on #1768
@Tancen - Changing the chcp of the terminal where you execute ssh client doesn't work.
As I explained earlier, sshd.exe executes the command in a new process "C:\windows\system32\cmd.exe /c < cmd >".
This is a new background cmd.exe.

You should have the chcp setting at a system level so new cmd.exe gets this setting.

[2021-04-30 05:03] MJD438 opened #1783 "Windows Server 2019 OpenSSH.Server Update Timelines"
I have spent the past two weeks attempting to get the officially-supported OpenSSH.Server running and properly secured to appropriate IT standards on a Windows Server 2019. Despite testing in both WSUS and raw WU environments, my instance is still running OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5 while the Server itself is on OSBuild 17763.1911 and showing no available updates from WU.

I am glad

[2021-04-30 12:26] mgkuhn commented on #1783
I claim no deep insight into Microsoft's Windows Server release process, but I suspect the "2019" in the product name "Windows Server 2019" (released October 2018, LTSC) might be a hint regarding the age of the software that you should expect in it, especially considering that OpenSSH_for_Windows_7.7p1 was the latest version available throughout the first half of 2019.

Isn't the whole point of a

[2021-04-30 19:12] manuelh-dev opened #1784 "UserKnownHostsFile parameter problems specifying paths with W"
Only this weird construct works:
ssh -v -o'UserKnownHostsFile="""C:\Program Files\whitespace test\known_hosts"""' -i 'C:\Program Files\whitespace test\id_ecdsa' user@ip

Nothing else worked for me so far when specifying a path with whitespaces via PowerShell.
The -i parameter on the other side is capable of processing paths with a whitespace.

More badly, when executing the above command that work

[2021-04-30 21:07] riverar commented on #1783
KB5001391 does not apply to LTSC versions of Windows Server.

<strike>
I agree with @MJD438's concern here. Microsoft shipped OpenSSH for LTSC editions of Windows, signaling long-term support. This upcoming OpenSSH update should fall under "required security updates" for those editions of Windows, but it looks like they dropped the ball again. As an administrator, I would _seriously_ consider aban

[2021-04-30 21:33] bagajjal commented on #1783
We don't ship the latest version of openssh into existing windows releases. That's not how it's done in other OS distros and same is true with any other product that is shipped into windows. LTSC editions are stable versions which gets only security patches.
New OpenSSH version is shipped only in the latest windows release.

Please note, new version mean new code. New code can introduce new securi

[2021-04-30 21:41] riverar commented on #1783
@bagajjal Agreed, I completely misread those security issues.

[2021-04-30 21:44] bagajjal commented on #1783
I'm closing this issue.

I just want to reiterate, Microsoft treats security issues very seriously and patches them ASAP.

Thank you for being part of the OpenSSH community.

[2021-04-30 21:44] #1783 closed, assigned to nobody

[2021-05-01 10:53] s-m-e opened #1785 "When pointing `UserKnownHostsFile` to `nul`, an actual file with hosts is created"
This is about Windows' ssh client, not the server - hope this is the right place to report / ask about this behavior.

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command ssh).Source).VersionInfo.FileVersion)`

7.7.2.1

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`

Windows 10 Pro

**What is failing**

[2021-05-01 18:55] fantesykikachu commented on #1557
Just a note, Openssh made the support for FIDO keys extensible (with "SecurityKeyProvider" config), and while the default "internal" backend uses libfido2, in the long term it might be a good idea to create a new backend that uses window native API for accessing FIDO devices.

[2021-05-01 19:00] tavrez commented on #1557
@fantesykikachu As I said before when this project reaches to that step I'll port my library([openssh-sk-winhello](https://github.com/tavrez/openssh-sk-winhello) - FIDO access through Windows Hello) into it, although the Windows Hello APIs lacks all the functions required by OpenSSH)

[2021-05-02 02:06] OnikenX commented on #1692
@weavage Its probably a problem with permissions, see this link for more info:
https://adamtheautomator.com/openssh-windows/#Configuring_Public_Key_Authentication

[2021-05-02 23:21] Tyrubias commented on #1781
@bagajjal I tried the instructions and it produced the same results, even on a fresh install of Windows.

[2021-05-03 08:10] MathiasMagnus commented on #1564
I did the same hack to escape @nezorflame suggested and it seems that the agent is connected.
[code]
Also checking if the agent could be reconnected after SSH connection has been established is successful (as suggested [here](https://serverfault.com/a/481158/148984)):
[code]
Also what @PeterStaev posted as being a problem also seems successful (at least to me):
[code]
However, when I try to sign s

[2021-05-03 17:22] bagajjal commented on #1781
What is the output of "whoami /user" on cmd.exe. If the SID starts with "S-1-12-" then it's AAD user and windows OS doesn't have support to create s4u token for AAD users i.e., you can't SSH log in with AAD credentials.

Else, share the ssh client logs (ssh -vvv user@ip) and [sshd server side logs](https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities).

[2021-05-03 17:23] s-m-e commented on #1785
The following does the trick:

`ssh -o UserKnownHostsFile=\\.\NUL user@host`

[2021-05-03 17:23] #1785 closed, assigned to nobody

[2021-05-03 19:31] #1563 closed, assigned to nobody

[2021-05-03 19:44] #1593 closed, assigned to nobody

[2021-05-04 20:24] #762 closed, assigned to nobody

[2021-05-04 20:24] bagajjal commented on #762
fixed - https://github.com/PowerShell/openssh-portable/pull/506

[2021-05-04 21:23] bagajjal commented on #1782
If you are still facing this issue, please reopen with the requested information.

[2021-05-04 21:23] #1782 closed, assigned to nobody

[2021-05-04 21:24] bagajjal commented on #1779
If you are still facing this issue, please reopen with the requested information.

[2021-05-04 21:24] #1779 closed, assigned to nobody

[2021-05-04 21:27] bagajjal commented on #1760
@sunil77-i - You can have achieve this by creating D:\SFTP\User1\User1 and setting the chroot to  D:\SFTP\User1.

[2021-05-04 21:27] #1760 closed, assigned to nobody

[2021-05-04 21:31] bagajjal commented on #1733
Duplicate https://github.com/PowerShell/Win32-OpenSSH/issues/1339

[2021-05-04 21:31] #1733 closed, assigned to bagajjal

[2021-05-04 23:17] needs-coffee commented on #1750
@bagajjal  any update on this? i see a milestone for 8.6.0 but no release for 8.5.0?

[2021-05-04 23:22] bagajjal commented on #1750
Yes, the next win32 openssh release is V8.6. Aiming for first half of next week.

[2021-05-05 00:29] bagajjal opened #1787 "[Feature request] SSH with AAD credentials"
Issue
- OpenSSH doesn't support SSH with AAD (Azure active directory) credentials.

How to check if the user is an AAD user or not?
   - Execute "whoami /user" on cmd.exe. If the SID starts with "S-1-12-1" then it's an AAD user.

Root cause
- Windows OS fails to generate an S4U token for an AAD user.
- OpenSSH generates an S4U token for a user in the below scenarios.
    1. Key-based authenticatio

[2021-05-05 00:32] bagajjal commented on #1476
Closing this issue. Created a new issue for AAD support, https://github.com/PowerShell/Win32-OpenSSH/issues/1787

[2021-05-05 00:32] #1476 closed, assigned to nobody

[2021-05-05 00:33] bagajjal commented on #1476
For future reference, the error "LookupAccountName() failed: 1332" can happen because of multiple reasons. Please don't comment on this issue. Request you to open a new issue.

[2021-05-05 09:12] Adam1986 opened #1788 "OpenSSH Service won't start when using Ciphers within sshd_config file"
**"OpenSSH for Windows" version**
8.1.0.0

**Server OperatingSystem**
Windows Server 2019

**Client OperatingSystem**
Cisco Unified Communications Solutions Appliance

We're utilising OpenSSH on Windows to store backups of some Cisco Systems in our workplace.  One of these systems will not connect to the OpenSSH server, the OpenSSH Server logs show the following:

`Unable to negotiate with 192.168

[2021-05-05 13:05] Toretu commented on #1691
I bypassed this by changing my file structure to
` \sftproot\<domain>\<username>\ ` as in
`d:\sftproo\consonto\john\`

[2021-05-05 16:14] jaymzh commented on #1691
@Toretu interesting, that doesn't seem to work for authorized_keys paths.

[2021-05-05 16:18] bagajjal commented on #1788
@Adam1986 - It would help what ciphers you are trying to add to c:\programdata\ssh\sshd_config.
fyi, blowfish-cbc, none are not supported ciphers.

If you have the below line in sshd_config then you are good.
 Ciphers aes128-cbc,3des-cbc

Please make sure, sshd service is restarted to take sshd_config changes to take in affect.

If you still have problem the start sshd.exe in debug mode (.\sshd.ex

[2021-05-05 17:41] pedroaugustosmribeiro opened #1789 "SSH Client set locale variables"
SSH Client should set locale variables when connecting, respecting default configuration for ssh_config (SendEnv LANG LC_* ).
Somehow it should get system localization string (like en_US), add encoding (resulting in en_US.utf8) and sending as LANG LC_* variables.

[2021-05-05 17:49] bagajjal commented on #1789
@pedroaugustosmribeiro - Are you seeing any issues rendering non-english characters?

[2021-05-05 18:00] bagajjal commented on #1789
What's failing for you without this variable?

[2021-05-05 19:08] pedroaugustosmribeiro commented on #1789
Nothing is failing without it, it's more of a feature request than an issue.
In Linux systems, when logging with ssh, the client language is set as the shell language in the server automatically and I would like to have the same behaviour when using Windows Openssh client.
The rendering of non-english characters is fine.

[2021-05-05 20:26] jimporter opened #1790 "Escaping spaces for remote filenames passed to scp behaves incorrectly(?)"
**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command ssh).Source).VersionInfo.FileVersion)` == 7.7.2.1 (also occurs on 8.1)

**Server OperatingSystem**
Linux Mint 20.1

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
I'd like to copy a remote file with spaces in the name from a Linux server to a Windows client (running the command on the Windows client). However, getting the

[2021-05-06 06:28] Toretu commented on #1691
@jaymzh migth be, i was actually working on chroot when i discovered int the log that it was looking in `/sftpDir/<domain>/<username>` but i cant see why it would noe extract `\%u` the same way in keys... try enabling logs `SyslogFacility LOCAL0` and see where its looking for the keys

[2021-05-06 06:40] jaymzh commented on #1691
I did. Given `authorized_keys 'c:\ssh\authorized_keys\%u'` it looks like it should work, the logs show `C:\ssh\authorized_keys\DOMAIN\user` but creating files in that directory don't actually work, it says they're not there.

[2021-05-06 07:51] Toretu commented on #1691
what does the log way? also do ssh/user have read to the folder?

[2021-05-06 14:14] niallmcconnell commented on #1395
Hi guys,
We have downloaded and tested the new exe files and they have worked as expected. We are now able to transfer binary files of any size to the remote OpenSSH installation. Thanks for the fix.
Niall

[2021-05-06 19:37] mgkuhn commented on #1789
The `LC_*`, `LANG` and `TZ` environment variables are a feature of POSIX systems, and some related environment variables are specific to glibc. I'm not sure I would expect their values to be synthesised during ssh connections between POSIX and non-POSIX systems from vaguely equivalent information available on a non-POSIX system. Windows does not use `LC_*` etc. environment variables AFAIK, therefo

[2021-05-06 21:41] pedroaugustosmribeiro commented on #1789
Maybe Windows ssh client could use this API: https://docs.microsoft.com/en-us/windows/win32/intl/retrieving-and-setting-locale-information  and https://docs.microsoft.com/en-us/windows/win32/intl/locale-names for retrieving the connecting client locale information and synthesise the LC_* strings. It could assume UTF-8 as default encoding for concatenating at the end of the language name (like: "pt

[2021-05-06 21:51] bagajjal commented on #1789
I would rather not fix this unless there is a functional impact.

[2021-05-07 09:27] mgkuhn commented on #1789
I'd agree. A script to translate Windows locale information into (very roughly) equivalent POSIX or glibc environment variable settings is something that can be easily implemented externally, as a separate project. OpenSSH for Windows merely needs to be able to pass on existing environment variables, as specified by `SendEnv` on the client and `AcceptEnv` on the server side, which I assume all wor

[2021-05-07 09:53] Adam1986 commented on #1788
Pleased to say this has fixed it - I was placing the Ciphers on a new line underneath the Match Group and when starting sshd.exe -ddd it was making it clear that was the issue.  So placed that block of configuration elsewhere and now the service starts fine and the device connects and uploads backups with no error.

[2021-05-07 14:26] #1788 closed, assigned to nobody

[2021-05-08 17:06] heaths opened #1791 "Windows build scripts should rely on vcvars or use vswhere to find Visual Studio"
Even with the old MSI-based installs used by VS2015 and older, the user could choose the path where to install VS. In VS2017 a new, faster engine is used that not only allows the path to be customized, but multiple features with different feature sets to be installed. These features can even be queried.

While working on the MSI-based install for OpenSSH, I found onboarding this project very tedio

[2021-05-09 18:44] Lebowski4273 commented on #1691
Hi,
i think the easiest way is to get the username when using %u. Is there any easy way to delete the domain name form there result of %u.
And at all: Does it make any sense to expand %u to domainname/username an not to username?

[2021-05-10 22:20] psztoch commented on #1646
And how not to install Linux afterwards?
You try and convince programmers to work on Windows and only have problems afterwards.

[2021-05-11 09:04] pilik88 opened #1792 "Powerssh"

[2021-05-11 13:58] at20210511 opened #1793 "System Error 1067 has occurred"
**Info**
Win32-OpenSSH Version: v8.1.0.0p1-Beta
Server Operating System: Windows Server 2016 (1607)

**What is failing**
after running install-sshd.ps1, the OpenSSH Service crash with error 1067 when try to start (net start sshd).
ssh-keygen.exe -A and running FixHostFilePermissions.ps1 did not solve the issue.

[2021-05-11 16:44] bagajjal commented on #1792
Closing it as the issue is opened without any description.

[2021-05-11 16:44] #1792 closed, assigned to nobody

[2021-05-11 16:46] bagajjal commented on #1793
1067 means "process aborted". It's hard to tell what's causing sshd service to abort.
Follow the below steps and provide the logs
1) open a cmd.exe
2) cd <openssh_bin_folder>
3) run ".\sshd.exe -ddd"

[2021-05-11 19:55] glima commented on #1787
Update: workaround is *only* for password-based auth, key-based needs are totally out-of-luck, still :(

[2021-05-11 20:35] bagajjal commented on #1787
@glima  - it's expected behavior till windows OS fixes the problem.

[2021-05-12 05:14] at20210511 commented on #1793
debug2:load_server_config: filename __programdata__\\ssh/sshd_config
debug3:Failed to open file:c:/programdata/sshd_config error:2
__programdata__\ssh/sshd_config: no such file or drectory

[2021-05-12 10:03] mgkuhn commented on #1693
The previously mentioned Windows update preview

- [KB5001391](https://www.catalog.update.microsoft.com/Search.aspx?q=(KB5001391)) (2021-04 Cumulative Update Preview for Windows 10/Server, version 1903 and later)

was on Tuesday 11 May 2021 replaced with the non-preview version

- [KB5003173](https://www.catalog.update.microsoft.com/Search.aspx?q=(KB5003173)) (2021-05 Cumulative Update for Windows

[2021-05-12 11:09] mveril opened #1794 "sshd and ssh-agent not registered on 21H1"
**"OpenSSH for Windows" version**  8.1.0.1

**OperatingSystem**
Microsoft Windows [version 10.0.19043.964]

**What is failing**
`start-service sshd`
`start-service ssh-agent`

**Expected output**

**Actual output**
Start-Service: Cannot find any service with service name 'sshd'.
Start-Service: Cannot find any service with service name 'ssh-agent'.

**Remark**
ssh client and server installed via **

[2021-05-12 13:09] GitMensch commented on #1693
@bagajjal wrote:

That's quite cool, since the 8.1 release in 12/17/2019 the current version has a nice change of 1129 commits https://github.com/PowerShell/openssh-portable/compare/v8.1.0.0...v8.6.0.0 (though the latest one from last week updated to OpenSSH v8.6 already - not sure if we soon get this as next release or if this may lead to additional wait time [one month for 8.6 instead of 8.5 is

[2021-05-12 13:15] GitMensch commented on #1693
Don't mind 8.6 as next version is already announced and tracked at #1750 as main part of https://github.com/PowerShell/Win32-OpenSSH/milestone/44, no need to discuss it here (but the link and update note was missing here, so I don't regret bringing it up).

[2021-05-12 13:18] GitMensch commented on #1278
This possibly also applies to the installed version under C:\Windows\System32\OpenSSH\ (which has no LICENSE in it).
I'd suggest to include https://github.com/PowerShell/openssh-portable/blob/latestw_all/LICENCE as is.

[2021-05-12 17:33] bagajjal commented on #1793
Looks like you haven't run the install-sshd.ps1. please follow instructions [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH)

[2021-05-12 17:33] #1793 closed, assigned to nobody

[2021-05-13 23:51] IAmIlliest commented on #1595
I'm seeing the same problem as the OP.

It is occurring on Windows 10 Pro:
Version	10.0.19042 Build 19042
Version     20H2 (OS Build 19042.985)

I'm using Windows Terminal:
Version: 1.7.1033.0

Under Windows Terminal it's a Powershell tab:
**$PSVersionTable.PSVersion**
Major  Minor  Patch
7      1      3
**(Get-Host).Version**
Major  Minor  Build  Revision
7      1      3      -1

In the Powershel

[2021-05-14 10:00] needs-coffee commented on #1794
if you run the following what do you get?
[code]

and did the services work on the previous windows version before updating?

[2021-05-14 10:06] needs-coffee commented on #1693
is this now the planned release method for new OpenSSH versions as separate cumulative updates rather than with each major software version (i.e. 20H2, 21H1) for OpenSSH for windows going forward for current and past major windows versions?

[2021-05-14 10:49] mgkuhn commented on #1659
Issue can probably be closed now as fixed: the “OpenSSH version in Windows Features” is now 8.1, as of this week (install KB5003173 via Windows Update on the Semi-Annual Channel).

[2021-05-14 10:54] mgkuhn commented on #1692
Is this issue now fixed following the upgrade of the OpenSSH version in Windows Features to 8.1 this week? (Install KB5003173 via Windows Update on the Semi-Annual Channel.)

[2021-05-14 10:58] mgkuhn commented on #1375
Does this issue still exist in 8.1? (released this week via KB5003173 and Windows Update on the Semi-Annual Channel)

[2021-05-14 11:07] mgkuhn commented on #1322
Does this issue persist with the “OpenSSH version in Windows Features”, which is now 8.1 as of this week (install KB5003173 via Windows Update on the Semi-Annual Channel)? You'll need Windows 10/Server 1903 or newer (i.e., not LTSC versions).

[2021-05-14 11:17] mveril commented on #1794
Hello
Thank you for your answer.
I copied and pasted the commands and here is the output
[code]
Unfortunately, I can't answer your question about whether it worked before. Indeed, before I used ssh installed via [chocolatey](https://community.chocolatey.org/packages/openssh/8.0.0.1) because I needed the most recent versions to support ProxyJump and X11 forwarding
I have switched to the installatio

[2021-05-14 11:17] mgkuhn commented on #1690
Does this problem still exist on Windows 10/Server 1903 or newer with KB5003173 installed (which upgraded the OpenSSH version in Windows Features to 8.1 this week)? If not, can you close this ticket?

[2021-05-14 16:33] #1659 closed, assigned to nobody

[2021-05-14 16:33] bagajjal commented on #1659
Thanks @mgkuhn

[2021-05-14 16:35] bagajjal commented on #1692
Thanks @mgkuhn.

[2021-05-14 16:38] bagajjal commented on #1375
@EricSL  - This is fixed in next Github release V8.6. Meanwhile you can test this using the private binary listed in https://github.com/PowerShell/Win32-OpenSSH/issues/1736

[2021-05-14 16:38] bagajjal commented on #1375
Duplicate of https://github.com/PowerShell/Win32-OpenSSH/issues/1736

[2021-05-14 16:38] #1375 closed, assigned to nobody

[2021-05-14 16:39] bagajjal commented on #1322
Closing this issue as its fixed in V8.1

[2021-05-14 16:39] #1322 closed, assigned to nobody

[2021-05-14 16:42] bagajjal commented on #1690
Thanks @mgkuhn . Duplicate of #1556. The fix will be part of next release, Openssh V8.6

[2021-05-14 16:42] #1690 closed, assigned to nobody

[2021-05-14 16:56] bagajjal commented on #1794
@mveril - I'm guessing you ran uninstall-sshd.ps1 after you install the openssh V8.1 through optional features. If yes then uninstall-sshd.ps1 will remove sshd, ssh-agent as service.

To mitigate the problem, uninstall the openssh client, openssh server optional components and install them again.

[2021-05-14 17:38] bagajjal commented on #1736
@uservictor - I don't see the "double hostname" after exiting nano. My winver version is "[Version 10.0.19042.985]".

[2021-05-14 17:47] #482 closed, assigned to nobody

[2021-05-14 17:47] #1736 closed, assigned to nobody

[2021-05-14 21:33] #1535 closed, assigned to bagajjal

[2021-05-14 23:16] bagajjal opened #1795 "Updates the Win32 error translation table to translate ERROR_NOT_SUPPORTED to EOPNOTSUPP"
This fixes detection of filesystems that do not support hardlinks and return ERROR_NOT_SUPPORTED rather than ERROR_INVALID_FUNCTION when a hardlink is attempted.

In turn this enables the SFTP rename capability to failover correctly to rename() when the link()/unlink() combination does not work instead of returning an error to the client.

An example of a filesystem which uses ERROR_NOT_SUPPORTED

[2021-05-14 23:17] bagajjal commented on #1795
Fixed. PR https://github.com/PowerShell/openssh-portable/pull/440

[2021-05-14 23:17] #1795 closed, assigned to nobody

[2021-05-14 23:18] bagajjal opened #1796 "Add moduli file support"
SSH uses moduli file to read the prime numbers when the KexAlgorithms agreed by the client and the server is diffie-hellman-group-exchange-sha256.

By default, we read the moduli file from the directory where sshd is present.
If users want to use their own moduli file then they can have it at %programdata%\ssh directory.
We read the user moduli file only if it has proper ACLs (Read and Write by Sy

[2021-05-14 23:18] bagajjal commented on #1796
fixed. https://github.com/PowerShell/openssh-portable/pull/434

[2021-05-14 23:18] #1796 closed, assigned to nobody

[2021-05-14 23:22] bagajjal opened #1797 "Allow SSH connection when username is same as machine name"

[2021-05-14 23:23] bagajjal commented on #1797
Fixed. https://github.com/PowerShell/openssh-portable/pull/469

[2021-05-14 23:23] #1797 closed, assigned to nobody

[2021-05-14 23:25] bagajjal opened #1798 "Reset console after exiting raw mode"
The wrong handle was being reset when exiting raw mode. The console
CONIN$ was being modified, and STD_INPUT_HANDLE was the handle that was
being reset. These may not be the same handle. In some cases, this meant
that the console was being left in ENABLE_VIRTUAL_TERMINAL_INPUT mode,
which could break some programs from being run in the same terminal
window after using SSH, since it would look like

[2021-05-14 23:25] bagajjal commented on #1798
fixed. https://github.com/PowerShell/openssh-portable/pull/425

[2021-05-14 23:25] #1798 closed, assigned to nobody

[2021-05-14 23:36] bagajjal opened #1799 "FixUserFilePermissions.ps1 to include ecdsa and ed25519"

[2021-05-14 23:37] bagajjal commented on #1799
fixed. https://github.com/PowerShell/openssh-portable/pull/446

[2021-05-14 23:37] #1799 closed, assigned to nobody

[2021-05-14 23:40] #1546 closed, assigned to nobody

[2021-05-14 23:43] bagajjal opened #1800 "Add support to configure custom shell arguments"
Allow users to configure shell arguments.
![image](https://user-images.githubusercontent.com/23668037/118341329-76d98c80-b4d3-11eb-8af5-77441174dd78.png)

[2021-05-14 23:43] bagajjal commented on #1800
fixed. https://github.com/PowerShell/openssh-portable/pull/480

[2021-05-14 23:43] #1800 closed, assigned to nobody

[2021-05-15 03:52] Tyrubias commented on #1781
@bagajjal Thank you so much for the help. I discovered that I was running as an AAD user because I was running Windows 10 Education and I switched away.

[2021-05-15 03:52] #1781 closed, assigned to nobody

[2021-05-16 00:43] t-m-w commented on #1652
Perhaps this could be managed by authenticating with a different key? (This would require an option to be present to adjust this behavior.) However, I think some of us would be fine with being unable to perform admin functions over ssh on certain accounts that are in the Administrators group, and create a new admin account for *that* situation.

This perspective runs counter to the existence of UA

[2021-05-16 12:27] pdavies commented on #1487
"Working as designed" is no defence against a design that incorporates a security vulnerability.

The purpose of the passphrase is to provide protection if the key is leaked, which in practice, often means the system on which the key is stored getting compromised. The passphrase means that the key is protected even if the user's account is compromised, so an attacker can't follow a breadcrumb trai

[2021-05-16 19:25] bitkat commented on #1487
I'm pessimistic. How can we be sure that any solution to this issue is inherently secure instead of purely cosmetic? This bug happening in the first place and the lukewarm reaction to it being reported is a strong indication that the programmers don't strive for security and, how I understand Windows (yeah, I'm new to it), there is no way to audit the code. So right now I'm saying nevermind and I

[2021-05-17 07:16] mveril commented on #1794
Hello
I uninstalled and reinstalled the client and the server through the settings app the result is the same

[2021-05-17 17:07] bagajjal commented on #1794
It's hard to tell what's happening on your end. I recommend following these steps,
1) uninstall openssh client, server from manage optional features
![image](https://user-images.githubusercontent.com/23668037/118528871-b54f9100-b6f7-11eb-8753-eb94cccc4975.png)

2) Make sure they are deleted.
on cmd.exe,
dir c:\windows\system32\openssh
dir c:\windows\system32\libcrypto.dll
3) Restart the machine
4)

[2021-05-18 05:37] at20210511 commented on #1793
I have run the install-sshd.ps1.
.\install-sshd.ps1
[SC] SetServiceObjectSecurity SUCCESS
[SC] ChangeServiceConfig2 SUCCESS
[SC] ChangeServiceConfig2 SUCCESS
sshd and sshd-agent services successfully installed.

Still the same issue:
debug2:load_server_config: filename programdata\ssh/sshd_config
debug3:Failed to open file:c:/programdata/sshd_config error:2
programdata\ssh/sshd_config: no such fil

[2021-05-18 05:41] at20210511 opened #1801 "System Error 1067 has occurred"
Info
Win32-OpenSSH Version: v8.1.0.0p1-Beta
Server Operating System: Windows Server 2016 (1607)

What is failing
after running install-sshd.ps1, the OpenSSH Service crash with error 1067 when try to start (net start sshd).
ssh-keygen.exe -A and running FixHostFilePermissions.ps1 did not solve the issue.

I have run the install-sshd.ps1.
.\install-sshd.ps1
[SC] SetServiceObjectSecurity SUCCESS
[SC]

[2021-05-18 08:20] mveril commented on #1794
Hello @bagajjal thank you for your help!
It's very strange but here is the output of the first commands after removing OpenSSH (even after a restart).
[code]
I tested the state of the features and this is the output
[code]
What happens ? what should I do so that the components of OpenSSH are truly removed?

[2021-05-18 16:28] bagajjal commented on #1794
It's really strange.. One reason I can think of is, if you copy the Github release to c:\windows\system32\openssh manually before installing the optional features.

Anyways to get rid of this situation, manually delete c:\windows\system32\openssh folder completely and also c:\windows\system32\libcrypto.dll. After that try the steps mentioned above.

[2021-05-18 16:30] bagajjal commented on #1793
@at20210511 , After installing. You need to start the sshd service.
Please follow all the [steps](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH)

[2021-05-18 16:31] bagajjal commented on #1801
Duplicate of https://github.com/PowerShell/Win32-OpenSSH/issues/1793

[2021-05-18 16:31] #1801 closed, assigned to nobody

[2021-05-20 07:14] mveril commented on #1794
Hello  @bagajjal
I deleted the files you told me which was not easy as it belonged to `TrustedInstaller`. I wanted to reinstall OpenSSH client and server. For the client it worked but the server installation had no effect (no new files in the folder)
I did `sfc /scannow` and it spotted a corruption and installed all the missing files. I then uninstalled OpenSSH the files did not go away. I deleted

[2021-05-21 00:51] aescolastico opened #1802 "Permission denied (publickey,keyboard-interactive)."
Problem: PubKey auth is not working on Win10 v18363.1440, OpenSSH.Server~~~~0.0.1.0

Permissions and config file are configured as documented
![Screen Shot 2021-05-20 at 8 42 45 PM](https://user-images.githubusercontent.com/30540257/119066351-9843e800-b9ad-11eb-886d-58ec871d87a4.png)

Both ssh-agent and sshd services were restarted after config and permission changes

[2021-05-21 01:01] bagajjal commented on #1802
@aescolastico  - It looks like you are trying AAD user which is not currently supported.

https://github.com/PowerShell/Win32-OpenSSH/issues/1787

[2021-05-21 01:26] aescolastico commented on #1802
Quite right. I created a normal account and that worked. Thanks!

[2021-05-21 01:26] #1802 closed, assigned to nobody

[2021-05-21 07:25] rtollert commented on #1352
@bagajjal This reproduces clearly for me in 8.1.0.0p1. I happen to be using an old Pentium 3 running Ubuntu as an ssh server. I haven't investigated yet whether it gets any better for faster targets. Lemme know what tracing you'd like.

[2021-05-21 16:21] roblourens commented on #1352
@bagajjal Try it with setting a number for that option. That is the bug, as I understand it. This also reproes for me in 8.1.

![image](https://user-images.githubusercontent.com/323878/119168528-d96fe280-ba15-11eb-80e4-b4f909a24c3d.png)

![image](https://user-images.githubusercontent.com/323878/119168622-f0163980-ba15-11eb-8585-64b142bf0bbe.png)

[2021-05-21 18:21] spathiwa commented on #1352
It reproduces easily for me too.  @bagajjal, your example above of it "not reproducing"  was using '-o connectTimeout=none'.  None does not cause an issue; if you use an actual number of seconds, e.g. connectTimeout=10, and connect to a remote host, it will wait the given number of seconds ALWAYS, instead of only if the remote host does not connect in that time.

[2021-05-22 23:33] Dean-NC commented on #1550
Anybody home??

[2021-05-24 12:12] mgkuhn commented on #1295
Further to what I wrote above, I have since learnt that both the _Credential Manager_ configuration menu and the `cmdkey` tool in Windows 10 support wildcards in the target server name. Therefore, you can obtain Kerberos tickets for `server1.example.com`, `server2.example.com`, etc. after just once providing your domain password with
[code]
and that will enable Kerberos-authenticated communication

[2021-05-24 12:20] jborean93 commented on #1295
While cmdkey doesn’t expose the functionality I’m fairly certain it is possible to store a credential that persists just for the current logon session rather than all the time. The underlying Win32 api CredWrite takes in a [Credential](https://docs.microsoft.com/en-us/windows/win32/api/wincred/ns-wincred-credentiala) and one of the `Persist` flags is `CRED_PERSIST_SESSION`. It requires some PInvok

[2021-05-24 15:38] robinmalik commented on #1794
I used to use the following to clone repositories with a specific SSH key and this has stopped working in recent days (W10 21H1 OS Build 19043.1023). Example:

`ssh-agent bash -c 'ssh-add S:/mykey; git clone git@domain.com:group/repository.git'`

I've tried uninstalling and reinstalling OpenSSH client but no luck. The service is there and running, ssh-agent is aliased correctly to the exe, but it

[2021-05-24 20:31] bagajjal commented on #1352
@spathiwa, @rtollert , Please try the attached [ssh_v_8_6.zip](https://github.com/PowerShell/Win32-OpenSSH/files/6534821/ssh_v_8_6.zip)

![image](https://user-images.githubusercontent.com/23668037/119404129-3b3d8000-bc94-11eb-914c-8862ed7928e8.png)

[2021-05-24 21:17] mgkuhn commented on #1295
@jborean93 Thanks for the link to the `Persist` field in [`Credential`](https://docs.microsoft.com/en-us/windows/win32/api/wincred/ns-wincred-credentiala). I learnt there not only about the different forms wildcard syntax for the target (apparently `DOMAIN.EXAMPLE.COM\*` denotes all servers in that domain/realm). I also learnt something that horrified me quite a bit: the default persistence `CRED_

[2021-05-24 21:58] jborean93 commented on #1295
There sort of is one, [klist](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/klist). It’s not the same `klist` you get with MIT/Heimdal implementations but it does offer a `klist get` option to retrieve a service ticket for the SPN specified. I know this limits you to just a specific target rather than the TGT that kinit would give you but it could potentially be (

[2021-05-25 09:04] robinmalik commented on #1794
Uninstalled OpenSSH client (server not installed). Rebooted. Confirmed `c:\windows\system32\openssh` and `c:\windows\system32\libcrypto.dll` no longer exist, along with any service.

Reinstalled. Contents of OpenSSH:

[code]

Output of:
[code]

=
[code]

The `ssh-agent` is disabled. Setting this to manual/automatic and calling ssh-agent (e.g. `ssh-agent bash -c 'ssh-add S:/mykey; git clone git@dom

[2021-05-25 09:54] mgkuhn commented on #1295
`cmdkey /add:DOMAIN.EXAMPLE.COM\* ...` results in “invalid parameter”, so it seems that `cmdkey` does not currently support all the syntactic options allowed in the `TargetName` field of [`Credential`](https://docs.microsoft.com/en-us/windows/win32/api/wincred/ns-wincred-credentiala).

Who is looking after [cmdkey](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/cmd

[2021-05-25 15:47] tylerszabo opened #1803 "Using `CTRL+C` in an SSH session with X11 forwarding and `XAuthLocation` set will cause ssh to terminate with error"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

8.1.0.1

**Server OperatingSystem**
 `((Get-

[2021-05-25 17:16] tylerszabo commented on #1803
This seems to be related to #1182 and possibly related to #1675. It may also be related to #1593, #1563, and #1181.

[2021-05-25 21:57] bagajjal commented on #1794
@robinmalik - What do you see when you follow these steps,
1) Start ssh-agent as a service. net start ssh-agent.
2) Add you key. ssh-add <full_path_private_key>
3) List keys. ssh-add -L

[2021-05-26 13:29] robinmalik commented on #1794
@bagajjal I don't cache keys with ssh-agent (i.e. by using ssh-add), as I use a couple of different ones for the same endpoint. I want to avoid offering the wrong private key, break access to existing repositories, or having to manipulate `~/.ssh/config` to have for example, work.github.com, home.github.com home2.github.com and subsequently have to modify the clone urls when doing the initial clon

[2021-05-26 13:34] robinmalik commented on #1794
Based on the communication with agent failed error, I've just noticed: #1234 with the same error. The suggested fix of creating a dummy service referencing ssh.exe didn't help for me.

[2021-05-26 14:00] robinmalik commented on #1794
Relevant? #1234 and #1491

[2021-05-26 22:34] #1278 closed, assigned to bagajjal, maertendMSFT

[2021-05-27 00:37] bagajjal opened #1804 "Enable FIDO support"
OpenSSH V8.6 (released on 5/27/2021) doesn't have FIDO support.
This issue is used for tracking.

[2021-05-27 03:47] shashwat001 commented on #244
AddressFamily inet fixed for port forwarding but now reverse ssh tunnel has started giving the error `kex_exchange_identification: Connection closed by remote host`

Following are logs from host starting reverse ssh tunnel
[code]

[2021-05-27 05:28] GitMensch commented on #1750
Just a short update: Win32-OpenSSH 8.6 [is now tagged](https://github.com/PowerShell/openssh-portable/releases/tag/v8.6.0.0), so we can hope for a binary release [here](https://github.com/PowerShell/Win32-OpenSSH/releases/latest) soon.

To prevent issues like "will this be available via a cumulative update and when" it would be nice to have a note about the rough update plan.

[2021-05-27 05:58] shashwat001 commented on #288
I am getting this issue with remote forwarding but local forwarding works.

[2021-05-27 16:52] bagajjal commented on #1750
V8.6 is now available on Github.

V8.6 will be available as windows optional feature during 22H1.

[2021-05-27 16:52] #1750 closed, assigned to nobody

[2021-05-27 18:11] needs-coffee commented on #1804
thanks for releasing the 8.6 package. Just to clarify when you say that FIDO support is not availible in window 8.6 release you are referring to  'ecdsa-sk' and 'ed25519-sk' key types that were released in openssh 8.2?
if so, any particular reason this is not supported?

[2021-05-27 18:17] bagajjal commented on #1804
Yes. It's not straight forward to enable on windows. It involves more work. I want to get the V8.6 out and later work on FIDO.

[2021-05-28 04:45] GitMensch commented on #1563
@riverar  wrote:

I've found no reference to this on [any of the listed ways of VcXsrv Windows X Server to get support](https://sourceforge.net/projects/vcxsrv/support). @riverar Did you reach out, and if yes: what was the result?

[2021-05-28 05:27] riverar commented on #1563
@GitMensch I thought I did, but can find no evidence. So I installed the latest VcXsrv, reproduced the issue again, and filed a fresh bug. https://sourceforge.net/p/vcxsrv/bugs/148/

[2021-05-28 15:32] tavrez commented on #1804
Thanks for the release, here is the information I can provide about FIDO:
1. First way to enable it is, to use the built-in internal implementation they did in OpenSSH itself, it requires libcbor and libfido2 and administrator privilages in windows 1903 and higher.
2. Other way is to use Windows Hello APIs, just like what I did in my dll module, but instead of being module, it can replace the inte

[2021-05-28 16:53] bagajjal commented on #1804
Thanks @tavrez.
We are in sync with WebAuthn team (@akshayku). They are in talks with Yubico to implement missing pieces.

To be transparent, currently this work is in our backlog. Once WebAuthn team comes back after Yubico has full implementation, we will prioritize this work.

[2021-05-28 23:57] tavrez commented on #1804
As far as I know the implementation exists in libfido2 (OpenSSH is actually using it), it need to be ported into Windows Hello webauthn.

Anyway I'll help on each part I can when it became ready.

[2021-05-31 08:43] L-B commented on #1551
FWIW, the recent upgrade of Windows 10 OpenSSH to 8,1p1 by KB5003173 fixed the issue for me.

[2021-06-02 06:55] rstaveley commented on #1794
I ran into this after upgrading to `8.6.0-beta1`

[code]

I found that I had to run `uninstall-sshd.ps1` and then install sshd with `.\install-sshd.ps1` again within the `C:\Program Files\OpenSSH-Win64` installation folder:

[code]

I then realised from `Get-Command sshd` that it had been picking up the binaries from `C:\Program Files\Git\usr\bin`, which had preceded `C:\Program Files\OpenSSH-Win6

[2021-06-02 14:35] gronostajo commented on #1263
Windows 10 version 21H1 comes with OpenSSH 8.1, which has this bug fixed. The PATH modification can be reverted now, so that `ssh.exe` from `System32` is the default one (check `where ssh` output).

The upgrade to 21H1 disables the agent service though. It must be re-enabled in `services.msc`.

[2021-06-03 20:31] omniproc commented on #1458
Just verified with version `OpenSSH_for_Windows_8.1p1, LibreSSL 3.0.2` and it still doesn't work. The key get's requested, I'm asked for my PIN but at the stage where normaly YubiKey would ask to be touched (touch policy) nothing happens resulting in PKCS11 not loading the cert and me getting a `permission denied (publickey)` returned by the server :-/

However I consider this still a rather uncom

[2021-06-05 12:36] JoakimHagen commented on #1265
I believe this is not a bug in the implementation of OpenSSH, but rather an issue of Windows' loopback resolution using IPv6 by default and the server not listening for it, hence why `-4` and `127.0.0.1` works.
See my question and answer on [superuser](https://superuser.com/q/1649664/1355119)

[2021-06-06 19:54] ylluminate opened #1806 "How to turn off clear screen on login when `bash.exe` is the shell?"
I'm not interested in maintaining compatibility as previously [mentioned ](https://github.com/PowerShell/Win32-OpenSSH/issues/1738)and needed for cmd.exe and PowerShell. I want to be able to turn off the login clear screen for when using WSL bash as the default shell (eg, [these instructions](https://www.hanselman.com/blog/the-easy-way-how-to-ssh-into-bash-and-wsl2-on-windows-10-from-an-external-m

[2021-06-06 20:26] ylluminate commented on #1806
Moved to here: https://github.com/PowerShell/openssh-portable/issues/515

[2021-06-07 15:30] mushlih-almubarak opened #1807 "Permission denied (publickey) error."
I always get "Permission denied (publickey) error."
Is it because I wrote the passphrase wrong? Or for what?
If the passphrase is wrong, how do I delete the passphrase?

That error appears after I run the command: "ssh@username -p portNumber" (without " ") on powershell as administrator, then it asks for passphrase up to 3 times, then the error appears

[2021-06-07 15:41] valeriob commented on #1195
Hi,
i'm facing the same issue, porting some code from linux to windows, i'm unable to find the same behaviour as nohup :( I tested 8.1 and 8.6.
Anybody found a workaround ?

[2021-06-07 17:43] bagajjal commented on #1806
@ylluminate, You can use no-pty (ssh -T user@ip) if that works for you.
@DHowett - Is there a workaround for pty?

[2021-06-07 17:46] bagajjal commented on #1807
@mushlih-almubarak -
* What are your client and server OS?
* What win32-openssh version are you using/
* Share client side logs (ssh -vvv user@ip) and [server side logs](https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities).

[2021-06-07 17:51] bagajjal commented on #1195
@DerekBennett , @valeriob - Have you tried this https://github.com/PowerShell/Win32-OpenSSH/issues/1032#issuecomment-381958274?

By default all the processes launched by SSH are closed once the SSH session is closed. If you want the process to execute independent of ssh session then you need to try spawn your process with special flags as mentioned in the above link.

[2021-06-07 17:59] ylluminate commented on #1806
Thanks for this suggestion @bagajjal - I'm sorry, I should have clarified that I *DID* try `ssh -T username@IP_ADDRESS` and it hangs ad infinitum. It doesn't appear to be a solution from a macOS 10.15 workstation `ssh`ing in.

[2021-06-07 18:01] bagajjal commented on #1806
What is the windows OS where your ssh server process runs?
Are you seeing the hang (-T) when you are using no custom default shell?

[2021-06-07 18:09] DerekBennett commented on #1195
No. That solution looks unsustainable. It would be better if SSH would invoke processes with the special flags by default. SSH should have the exact same spawning behavior on all platforms.

[2021-06-07 18:13] bagajjal commented on #1195
@DerekBennett - It's same behavior on *nix systems as well.
Any process launched within ssh session is tied to that session. In *nix systems, users use screen / tmux to achieve this.

[2021-06-07 18:24] valeriob commented on #1195
Hi,
i'm currently using cmd, the powershell solution is very obscure and it raises the bar of the requirements (WMI and powershell), if openssh has the same behavior in windows and linux, what would be the nohup equivalent ?

[2021-06-07 18:29] ylluminate commented on #1806
`sshd` is on Windows 10 Pro 20H2 (OS build: 19042.985).

As per the second question re: non-custom shell, I am not sure. I don't know how to quickly set the shell back to default and I'm tied up in some work that doesn't facilitate researching/figuring that out quickly enough at the moment.  If you have a quick (power)shell incantation for that I can try, otherwise I'll have to get back to you on

[2021-06-07 18:34] bagajjal commented on #1195
@valeriob - You need to create process with special flags as mentioned here https://github.com/PowerShell/Win32-OpenSSH/issues/1032#issuecomment-381958274

[2021-06-07 18:37] bagajjal commented on #1806
For configuring the default shell you create a registry entry "DefaultShell" (value as full path to custom shell like WSL / Powershell) under "HKLM:\SOFTWARE\OpenSSH".

You can rename / delete "DefaultShell" registry entry then we use cmd.exe as default shell.

[2021-06-07 18:39] bagajjal commented on #1806
After you made the registry change, you can verify this by SSHing to SSH server. If no custom shell is set then you should see cmd.exe prompt.

[2021-06-07 18:44] ylluminate commented on #1806
Thanks very much, renaming the keyname `DefaultShell` worked to rapidly reset it to `cmd.exe`. `ssh -T username@IP_ADDRESS` with `cmd.exe` as the default DOES indeed work as you suspected where it does NOT clear the screen.

[2021-06-07 20:11] tanmayjog opened #1808 "Unable to login with domain user"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
Getting an error while running this

**Server

[2021-06-07 20:31] bagajjal commented on #1808
Is the account name (na\tanmay.jog) correct?

Error 0xC0000062 - The name provided is not a properly formed account name
10668 2021-06-07 15:01:40.465 error: lookup_principal_name: User principal name lookup failed for user 'na\tanmay.jog' (explicit: 5, implicit: 5)
10668 2021-06-07 15:01:40.465 debug1: generate_s4u_user_token: LsaLogonUser() failed. User 'na\tanmay.jog' Status: 0xC0000062 SubStat

[2021-06-07 20:44] tanmayjog commented on #1808
Yes, na is the domain name, and tanmay.jog is the username

[2021-06-07 20:50] bagajjal commented on #1808
@ThatWileyGuy, Can you have a look at this issue.

[2021-06-08 08:51] ElapsedSoul commented on #1101
@NoMoreFood
Why I got an error for this, but right for just one cipher after Ciphers like ```Ciphers aes256-ctr```?

[2021-06-08 09:01] vborioni-onit commented on #1195
Hi,
i've done it like suggested, it's not a very nice solution, and it forces to use powershell, i really wish there was a simple tool like nohup.

[2021-06-08 12:24] singular78 commented on #1158
When ssh to wsl on windows, the tmux in wsl can't get mouse event.
OpenSSH_for_Windows_8.1p1

[2021-06-08 13:37] WSLUser commented on #1761
There is some limited support for AF_Unix https://devblogs.microsoft.com/commandline/af_unix-comes-to-windows/ with interop with WSL:https://devblogs.microsoft.com/commandline/windowswsl-interop-with-af_unix/. Likely this socket support will be added to same place as the AF_Unix code and possibly re-use some of it.

[2021-06-08 17:51] bagajjal commented on #1195
@vborioni-onit - Unfortunately windows OS doesn't have nohup, screen, tmux. All these utilities are out of scope of this project.

[2021-06-08 22:30] Rondom commented on #1761
I have requested this some time ago in #1024 and it is tagged as "0 - Backlog", now

[2021-06-08 22:53] bagajjal commented on #1761
@Rondom , @adityapatwardhan , @WSLUser - We have very limited resources to work on this project. This is not prioritized currently.

[2021-06-08 22:53] bagajjal commented on #1761
We always welcome community support.

[2021-06-09 05:41] pilik88 opened #1809 "Lost...."
Zagubilem sie..
.

[2021-06-09 08:50] mushlih-almubarak commented on #1807
Solved

[2021-06-09 08:50] #1807 closed, assigned to nobody

[2021-06-09 13:55] WSLUser commented on #1761
@bagajjal Unless Windows is open-sourced, nobody outside of the company has access to the code changes needed internally. Without those internal changes, anything done in this project will be unable to be validated. Support of this project really ought to be more considered as security should come first before anything else, which this project is specifically based on. The RDP work for RAIL and VA

[2021-06-09 14:56] pilik88 opened #1810 "rrs.goog.lecloud"

[2021-06-09 16:34] #1809 closed, assigned to nobody

[2021-06-09 16:35] #1810 closed, assigned to nobody

[2021-06-09 17:10] bagajjal commented on #1761
@WSLUser - Looks like there is some misunderstanding here.
Win32-openssh shipped into windows is compiled from Microsoft internal repository. We are mandated to use Microsoft internal repository for fixing any security bugs (which are shipped first through windows update and later shipped as github release) and CI system mandates us to maintain an internal repo.

Having said that, the Microsoft in

[2021-06-09 19:08] WSLUser commented on #1761
Specifically for the socket support as raised in this issue and the other, that support needs to come from Windows, not openssh. Win32-OpenSSH needs to be updated to allow usage of SSH_AUTH_SOCK but that socket communication protocol needs to be implemented in the Windows source code and it's highly likely that support to be added in the same place as the AF_Unix code. I understand there's a Linux

[2021-06-09 19:43] bagajjal commented on #1761
Agree. I think this is the correct repo https://github.com/microsoft/WSL/issues to open an issue.

[2021-06-10 12:54] WSLUser commented on #1761
Well they're on the group and maybe can forward it but I don't think the WSL devs themselves do the work (though I think they did before for AF_Unix as that Linux Systems Group didn't exist yet as far as I'm aware).

[2021-06-10 15:03] nrukavkov commented on #1808
the same problem but for the authentication using ssh key. Password auth works fine

[2021-06-10 15:09] nrukavkov commented on #1631
Has anybody fixed the problem? Maybe some workaround exists?

[2021-06-10 15:11] nrukavkov commented on #1808
@tanmayjog try to use UseDNS no . I met this workaround in some discussions.

[2021-06-10 15:38] mattjanssen commented on #838
For future reference, I got the "Load key "/c/Users/matt/.ssh/id_ed25519": invalid format" error after I had created the key file using Notepad. Instead, by copying it from with WSL I fixed the problem.

[2021-06-10 16:42] bagajjal commented on #1808
@nrukavkov - If Password auth works but not the key based auth then have a look at https://github.com/PowerShell/Win32-OpenSSH/wiki/Setup-public-key-based-authentication-for-windows

[2021-06-10 16:51] bagajjal commented on #1631
@nrukavkov - There are many reasons to the problem why this can happen. Please have a look at  https://github.com/PowerShell/Win32-OpenSSH/wiki/Setup-public-key-based-authentication-for-windows. If this doesn't solve a problem then open a new issue with ssh client logs (ssh -vvv user@ip) and sshd server side logs. For capturing sshd server side logs, refer to https://github.com/PowerShell/Win32-Op

[2021-06-10 16:55] bagajjal commented on #1631
@jnko - While authenticating with key based auth, username is dom\\administrator@dom. The username should be "domain\username" or "username@domain". Please refer to https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples

6172 2020-07-02 10:50:25.774 error: lookup_principal_name: User principal name lookup failed for user 'dom\\administrator@dom' (explicit: 1317, implicit: 1317)

[2021-06-11 12:58] tanmayjog commented on #1808
@nrukavkov I have tried with DNS line commented. It did not work

[2021-06-12 15:06] zeroxia commented on #1808
I have this issue for a computer with domain user as well.
If I specify "USERNAME@IP", the server would just kill the spawned child process. It seems to have difficulty to infer that the `USERNAME` is corresponding to the domain user `DOMAIN\USERNAME`.

If I specify `USERNAME@DOMAIN@IP`, then my client prompts for password, but server won't accept my correct system login password. In the system si

[2021-06-12 17:36] mgkuhn commented on #1808
`na` looks very much like a NetBIOS name to me (i.e., lacks dots, won't resolve in DNS), not like a domain name. Try using your domain name instead, which should exist in DNS. (Use of the domain name and it existing in DNS will also be prerequisites once you are trying to get GSSAPI/Kerberos authentication to work in your domain.)

[2021-06-12 20:05] pilik88 opened #1811 "sᴏʀʀᴠ ɪ ᴅᴏɴ,ᴛ ᴡᴏɴɴᴀ ʙᴇ ᴛʜᴇ ᴘʀᴏʙʟᴇᴍ"
𝕤𝕥𝕦𝕗𝕗

[2021-06-13 17:47] #1811 closed, assigned to nobody

[2021-06-14 09:51] affinityv opened #1812 "Typo in Release Note https://github.com/PowerShell/Win32-OpenSSH/tree/V8.6.0.0p1-Beta"
The notes say:
`Allow athorizedKeysCommand to work with the System user. Thanks to @bkatyl, @NoMoreFood.`

athorizedKeysCommand should obviously be authorizedKeysCommand or AuthorizedKeysCommand

[2021-06-14 20:27] bagajjal commented on #1812
fixed. Thank you.

[2021-06-14 20:27] #1812 closed, assigned to nobody

[2021-06-14 21:18] musm opened #1813 "Consolidate with https://github.com/PowerShell/openssh-portable"
Any reason to maintain two git repos for this? It is definitely confusing, and both could be merged for convenience.

[2021-06-14 21:39] bagajjal commented on #1813
@musm - Here is the history behind two repositories.
We started first with this repo (Win32-OpenSSH). It's used for both Win32-OpenSSH code and issue tracking.
Later we created OpenSSH-Portable repo forked from https://github.com/openssh/openssh-portable.
After the fork, we couldn't get rid of this repo (Win32-OpenSSH) as there is no way to port existing issues which has references to other issues

[2021-06-14 22:12] musm commented on #1813
https://docs.github.com/en/issues/tracking-your-work-with-issues/managing-issues/transferring-an-issue-to-another-repository
I'm fairly confident that the new transfer issues is very seamless and includes references

[2021-06-14 22:13] musm commented on #1813
THe only thing you lose are labels

[2021-06-14 22:14] musm commented on #1813
Judging by the last 3 pages of issues, it doesn't seem like labels are that large an issue for this repo, at least not yet.

[2021-06-15 20:54] jborean93 commented on #1813
It's also going to be easier to migrate sooner rather than later. Better to rip the bandaid off now before the issue backlog gets too large. Considering https://github.com/PowerShell/Win32-OpenSSH is in the same account as https://github.com/PowerShell/openssh-portable it should be fairly trivial to migrate issues across. You could even take the opportunity to migrate only specific issues you know

[2021-06-16 19:13] simevo commented on #1632
This hit me on a CI VM where the jobs where started ssh-ing in. I had Python installed the default way (from the microsoft store), the link in `AppData\Local\Microsoft\WindowsApps` was there:
[code]
and python would start from the CMD ... **but** not in the CI job while in a ssh session!

[2021-06-17 00:00] blakeduffey opened #1814 "Issues with ~/.ssh/config"
I'm trying to configure this version of ssh to support ScaleFT (from Okta)

When i configure the config file per the Okta instructions

`Match exec "C:\Program Files (x86)\ScaleFT\bin\sft.exe resolve -q %h"
    ProxyCommand "C:\Program Files (x86)\ScaleFT\bin\sft.exe" proxycommand %h
    UserKnownHostsFile C:\Users\m29296\AppData\Local\ScaleFT\proxycommand_known_hosts`

I get this error when runni

[2021-06-17 00:14] bagajjal commented on #1814
Please share the full ssh config

[2021-06-17 13:03] blakeduffey commented on #1814
Thank you for your response - that is the entire config file.

[2021-06-20 13:29] amudhanp opened #1815 "SFTP Transfer randomly stops with error `forced close`"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemPrope

[2021-06-21 17:15] bagajjal commented on #1815
Looking at the logs, sftp client is doing a force close. Please followup with Renci.SshNet.SshClient.0.0.1 team.

2440 2021-06-17 13:31:13.661 debug1: read eof
2440 2021-06-17 13:31:13.661 forced close "/somefolder/somefile" bytes read 0 written 623743428

[2021-06-21 17:15] #1815 closed, assigned to nobody

[2021-06-23 16:32] bpfoley45 commented on #1635
I too have run into this issue on a server 2019 system with OpenSSH 8.6p1.

The install-sshd.ps1 outputs the same error as @dwatley and while the event locations are created (in separate folders as pictured) nothing is logged.

I found that if you apply any ACL to C:\program files\OpenSSH that is too permissive (BUILTIN\users or Everyone); the sshd service will start but not allow connections. I a

[2021-06-23 17:58] bpfoley45 opened #1816 "Logging: Event Publishing Install Fails from install-sshd.ps1"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
8.6.0.0

**Server OperatingSystem**
 `((Get-I

[2021-06-24 13:17] rampouch opened #1817 "Looks like a local user is required in the system called sshd, but fails to be created (which is expected to fail)"
**"OpenSSH for Windows" version**
 8.6.0.0

**Server OperatingSystem**
Windows Server 2016 Standard

**Client OperatingSystem**
N/A

It looks like the server requires a local user be setup called sshd. This is not documented well.
The install may attempt to create the user locally, but the password complexity in my domain is so high that any basic creation script MUST fail.
There is no report of a

[2021-06-24 21:05] trecakov opened #1818 "packet_write_wait: Connection to port 22: Broken pipe for scp/sftp connections"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 7.7.2.2

**Server OperatingSystem**
 `((Get-

[2021-06-25 10:21] MaxTheBenax opened #1819 "Compiling in Visual C++ 2008, as C++ code"
Hello,

I need to compile the sftp client and server for a Windows CE platform requiring Visual C++ 2008, compiled as C++ code.

I included stdafx.x to the *.c files, for example I modified xmss_wots.c as follow
#include "stdafx.h"
#include "includes.h"
...

I get compile errors like the following:
xmss_wots.c
c:\users\me\documents\visual studio 2008\projects\OpenSSH\OpenSSH\includes.h(19) : fatal

[2021-06-25 12:16] strollo commented on #190
In my case was the position of lines:

It was required to have `Subsystem sftp	sftp-server.exe`  before the `Match User` rule like this

[code]

[2021-06-25 16:43] bagajjal commented on #1819
What's the use case and why you are doing this?
We never compiled using Visual C++ 2008.

[2021-06-25 18:42] najoco opened #1820 "Server refused to start a shell/command on occasion"
**"OpenSSH for Windows" version**
V8.6.0.0p1-Beta

**Server OperatingSystem**
Windows Server 2019 Datacenter at Azure

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
Upon occasion, I receive the error of Server refused to start a shell/command. Upon retrying connection it may connect or fail a few more times. It appears to only be an issue when not RDP'd into the server. I am not a

[2021-06-25 18:57] bagajjal commented on #1820
@najoco - Attached sshd.log is missing sshd logs from the authenticated sshd process.  Authenticated sshd process will launch the scp / sftp processes. To capture the authenticated sshd process logs, you need provide write access to the user "testabc456789ftp" to write to c:\ProgramData\ssh\logs\sshd.log.

![image](https://user-images.githubusercontent.com/23668037/123472801-7ccf8c80-d5ac-11eb-926

[2021-06-25 19:09] najoco commented on #1820
In this session:

testabc456789ftp connection completed
test_fc9c6d34_ftp connection failed

[sshd.log](https://github.com/PowerShell/Win32-OpenSSH/files/6718311/sshd.log)

[2021-06-25 19:17] bagajjal commented on #1820
Are you doing scp / sftp? From logs, I see sshd authenticated process establishing sftp connection.

6012 2021-06-25 14:02:43.795 debug3: spawn_argv[0]: "c:\\windows\\system32\\cmd.exe" /c "sftp-server.exe"
6012 2021-06-25 14:02:43.795 debug3: spawning "c:\\windows\\system32\\cmd.exe" /c "sftp-server.exe" as subprocess
6012 2021-06-25 14:02:43.842 error: CreateProcessW failed error:5
6012 2021-06-

[2021-06-25 19:20] najoco commented on #1820
I am attempting to connect just to sftp. In this test I am using the WINSCP client.  My config was included in my original post. Sorry I am new at OpenSSH

[2021-06-25 19:24] najoco commented on #1820
What has me confused the most is that the issue is intermittent. One moment the login works for an account and fails for another. a moment later it will be vice versa and later on no accounts will have issue.

[2021-06-25 19:26] bagajjal commented on #1820
Are you by any chance, using x86 win32-openssh binaries on x64 machines?

[2021-06-25 19:31] najoco commented on #1820
OpenSSH-Win64.zip.
I originally installed from Server 19 feature and downloaded and overwrote EXEs from https://github.com/PowerShell/Win32-OpenSSH/releases/

[2021-06-25 19:50] bagajjal commented on #1820
What happens if you use the default sshd_config? please note any changes to sshd_config requires a restart to sshd process (net stop sshd; net start sshd).

If this also has a problem, then I will delete OpenSSH server optional feature, delete all the openssh releated binaries. Install it in a new location (ex- c:\program files\openssh\)

[2021-06-27 19:06] Luk164 commented on #1158
Works for me after the last update. SSH into a linux allws me to use mouse as expected

[2021-06-28 06:58] MaxTheBenax commented on #1819
Hello Bagajjal,

Thank you for your answer.
I am using an embedded system running with Windows CE.
The system required to compile applications using a third party library written in C++ and compiled with Visual C++ 2008.

Thank you again for your answer,

[2021-06-28 17:02] bagajjal commented on #1819
Ok, Good luck. We build using VS2015+.

[2021-06-28 17:02] #1819 closed, assigned to nobody

[2021-06-28 17:06] bagajjal commented on #1818
@trecakov -Did you install openssh using optional features? What's the folder location of openssh?

The important log messages from authenticated sshd process are missing as it looks like user 'ictuser' is non-admin user on the box. Please provide write permissions for user 'ictuser' to write to c:\programdata\ssh\logs\sshd.log

https://user-images.githubusercontent.com/23668037/123472801-7ccf8c80

[2021-06-28 17:24] trecakov commented on #1818
@bagajjal - To be honest i do not remember. Here is the location: C:\Windows\System32\OpenSSH\sshd.exe
I have just granted write permissions.

Here is the new log, after granting write permissions:

8184 2021-06-28 11:19:59.133 debug3: fd 5 is not O_NONBLOCK
8184 2021-06-28 11:19:59.133 debug3: spawning "C:\\Windows\\System32\\OpenSSH\\sshd.exe" "-R"
8184 2021-06-28 11:19:59.133 debug3: send_rexec

[2021-06-28 17:39] bagajjal commented on #1818
@trecakov - I don't see any logs from the authenticated sshd process (in this case pid 10512).

240 2021-06-28 11:19:59.367 debug3: spawning "C:\Windows\System32\OpenSSH\sshd.exe" "-z"
240 2021-06-28 11:19:59.383 User child is on pid 10512

[2021-06-28 17:47] trecakov commented on #1818
@bagajjal - not sure what logs should we see, but I see a line where it accepts the pubkey for ictuser.
240 2021-06-28 11:19:59.336 Accepted publickey for ictuser from port 54150 ssh2: RSA

I just did the ssh connection and the logs around pid look same to me.

11032 2021-06-28 11:41:26.742 debug1: monitor_read_log: child log fd closed
11032 2021-06-28 11:41:26.742 debug3: LsaLogonUser Succeeded (

[2021-06-28 19:49] najoco commented on #1820
Done and same issue is occurring.

Any known issues with using this on Azure servers?

[2021-06-29 03:52] kevinsir opened #1821 "Environment variables in Windows SSH session"
I install node in window2016.
I see the path was set; when I login in by remote destop and open the cmd window, I can use npm command.
However,when I login by ssh I can not  use 'npm' command.How can I do that

[2021-06-29 04:29] amudhanp commented on #1815
I am reopening this issue because I tried using with FileZilla sftp client but still same issue but some additional error messages.
Just wanted to know more info about the error msg.

**SFTP.log**
8268 2021-06-28 05:28:32.779 debug3: request 267: sent status 0
8268 2021-06-28 05:28:32.779 sent status Success
8268 2021-06-28 05:28:32.795 debug1: request 286: write "/somefoleder/somefile" (handle 0)

[2021-06-29 04:32] amudhanp opened #1822 "SFTP Transfer randomly stops with error forced close #1815"
Looking at the logs, sftp client is doing a force close. Please followup with Renci.SshNet.SshClient.0.0.1 team.

2440 2021-06-17 13:31:13.661 debug1: read eof
2440 2021-06-17 13:31:13.661 forced close "/somefolder/somefile" bytes read 0 written 623743428

_Originally posted by @bagajjal in https://github.com/PowerShell/Win32-OpenSSH/issues/1815#issuecomment-865207078_

[2021-06-29 04:33] amudhanp commented on #1822
I am reopening this issue because I tried using with FileZilla sftp client but still same issue but some additional error messages.
Just wanted to know more info about the error msg.

SFTP.log
8268 2021-06-28 05:28:32.779 debug3: request 267: sent status 0
8268 2021-06-28 05:28:32.779 sent status Success
8268 2021-06-28 05:28:32.795 debug1: request 286: write "/somefoleder/somefile" (handle 0) off

[2021-06-29 06:28] I1eoThe0ne commented on #1363
@oulman Thanks for providing a solution hint.
It seems we have the same issue (same messages in the log)

What is your solution - it seems you changed part of the OpenSSH-Server - since this pice of code is within the project.
On the other hand in the code I see searching for AD-Groups.

Can you clarify a bit more - for people who don't have a strong Active-Directory-Administration background?
Wou

[2021-06-30 08:09] drorlupu commented on #127
@bagajjal  - For pubkey - We noticed it works for domain users only if we put the authorized_keys file in their local .ssh folder. If they (the domain user) are local administrators and we use %PROGRAMDATA%\ssh\administrators_authorized_keys and remove it from the .ssh folder in their home folder it does not work.
When we repeated the above and used a local user instead (which is in "administrator

[2021-06-30 15:58] najoco commented on #1820
I have decided to move the openssh server to a different server with less tasks/services running on it. I still see this error once in a while, but not close to the amount as with the prior server. Thank you for your assistance.

[2021-06-30 15:58] #1820 closed, assigned to nobody

[2021-06-30 16:15] I1eoThe0ne opened #1823 "Unable to SSH into Windows Domain server using Domain User"
**"OpenSSH for Windows" version**
 `OpenSSH_for_Windows_8.1p1, LibreSSL 2.9.2`

**Server OperatingSystem**
 `Windows Server 2019 Standard`

**Client OperatingSystem**
Windows 10

**What is failing**
SSH Connection does not esablish - it does not even ask for password or key-files

**Expected output**
successfull connection

**Actual output**

Server : fatal: ga_init, unable to resolve user ourDoma

[2021-06-30 17:01] bagajjal commented on #127
refer to
https://github.com/PowerShell/Win32-OpenSSH/wiki/Setup-public-key-based-authentication-for-windows.

You need to fix permissions of  %PROGRAMDATA%\ssh\administrators_authorized_keys

[2021-06-30 17:06] bagajjal commented on #1823
@I1eoThe0ne - Can you share the output of "whoami /user" on cmd.exe.
Looking at the log file, OpenSSHServer is unable to generate user token..
error 0xC000006D  - The attempted logon is invalid. This is either due to a bad username or authentication information.

4216 2021-06-30 18:00:48.875 debug1: generate_s4u_user_token: LsaLogonUser() failed. User 'ourDomain\\myDomainUser' Status: 0xC000006D S

[2021-06-30 17:09] bagajjal commented on #1821
how is npm installed? Is it through microsoft store?
Do you see the same error when you try executing with full path (C:\...\npm)?
Share the screenshot of the error message

[2021-06-30 17:11] drorlupu commented on #127
We did that via the powershell script provided in the zip
Fix...Permissions, but still not good.

On Wed, Jun 30, 2021 at 8:01 PM bagajjal ***@***.***> wrote:

[2021-06-30 17:17] bagajjal commented on #1822
Have a close look at the sfpt.log. The sftp client is trying to write to "/somefoleder/somefile" but it fails.

8268 2021-06-28 05:28:32.779 sent status Success
8268 2021-06-28 05:28:32.795 debug1: request 286: write "/somefoleder/somefile" (handle 0) off 11681792 len 16384
8268 2021-06-28 05:28:32.795 debug3: request 286: sent status 0
8268 2021-06-28 05:28:32.795 sent status Success
8268 2021-06

[2021-06-30 17:19] bagajjal commented on #127
@drorlupu , please provide the ssh client logs (ssh.exe -vvv user@ip) and [sshd server logs](https://github.com/PowerShell/Win32-OpenSSH/wiki/Logging-Facilities) with DEBUG3 enabled.

[2021-06-30 20:37] akshay8043 commented on #1823
Hi,

Even I am also unable to configure OpenSSH service using domain account.

Do you know how to run openssh using service account and how to change root/home folder for ssh?

[2021-06-30 21:41] akshay8043 opened #1824 "Configure OpenSSH using Service Account."
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 **Latest**

**Server OperatingSystem**
 `((G

[2021-07-01 06:38] I1eoThe0ne commented on #1823
@bagajjal the open-ssh-server is started as a service (services.msc)
In the logOn Tab "Local System Account" is checked.

I did start it once as user ourDomain\myDomainUser - from the terminal - then it works. But in production I can not start the service using ourDomain.

![OpenSshServerServiceLogOn](https://user-images.githubusercontent.com/4125047/124077041-4fb92900-da47-11eb-86e6-3e5d7a659224.

[2021-07-01 17:04] bagajjal commented on #1823
@I1eoThe0ne - How did you install the openssh server? Have you made any installation changes?
Please provide the requested information in the previous post also

[2021-07-01 19:29] akshay8043 commented on #1824
error 1297 when starting service using service account

[2021-07-01 21:19] oulman commented on #1363
@I1eoThe0ne check my response above. In our environment we effectively granted the computer object 'read all properties' on the users logging in with ssh. Others in the thread have indicated other issues talking to AD will generate similar errors.

https://github.com/PowerShell/Win32-OpenSSH/issues/1363#issuecomment-577856270

[2021-07-02 16:49] goranschwarz commented on #1751
@bagajjal Is this fixed in  V8.6.0.0 ???

[2021-07-02 16:51] bagajjal commented on #1751
@goranschwarz - No, it's not fixed in v8.6.

[2021-07-02 17:01] goranschwarz commented on #1751
@bagajjal Ok, do you have a "estimated" release... 1 month, 6 month, 1 year... or longer ???

[2021-07-02 17:04] bagajjal commented on #1751
@goranschwarz , It will be fixed in the next release, probably before 2021 year end.

[2021-07-02 17:05] goranschwarz commented on #1751
@bagajjal Thanx :)

[2021-07-03 03:24] kevinsir commented on #1821
when I try executing with full path (C:...\npm)?  It is right;
I echo %path% found that they are not the same  with the path  when  I login in by remote destop
why

[2021-07-04 01:56] ylluminate commented on #1806
Any news or insights here yet?

[2021-07-05 11:20] I1eoThe0ne commented on #1823
@bagajjal

- I did share the previous requested information - what are you missing??
- Yes I did install the openssh server
- No I did not make any changes

**Solution**

The computer did not have the rights to reads the desired users Properties - therefore ssh failed with the error message mentioned above.

Giving the Computer permissions to read the properties of the user (ourDomain\myDomainUser

[2021-07-05 11:21] I1eoThe0ne commented on #1823
@bagajjal

- I did share the previous requested information - what are you missing??
- Yes I did install the openssh server
- No I did not make any changes

**Solution**

The computer did not have the rights to reads the desired users Properties - therefore ssh failed with the error message mentioned above.

Giving the Computer permissions to read the properties of the user (ourDomain\myDomainUser

[2021-07-05 11:22] I1eoThe0ne commented on #1823
@bagajjal

- I did share the previous requested information - what are you missing??
- Yes I did install the openssh server
- No I did not make any changes

**Solution**

The computer did not have the rights to reads the desired users Properties - therefore ssh failed with the error message mentioned above.

Giving the Computer permissions to read the properties of the user (ourDomain\myDomainUser

[2021-07-05 11:22] #1823 closed, assigned to nobody

[2021-07-05 15:39] I1eoThe0ne commented on #1363
@oulman thank you for pointing again how to solve the issue.

**For all who like / need a detailed step-by-step how-to here is what you do :

Open ActiveDirectory > User > Properties > Add > (OpenSSH)Server > Read (is already checked after adding)**

In case a picture helps you also visit [https://serverfault.com/questions/1067665/unable-to-ssh-into-windows-domain-server-using-domain-user/](https:

[2021-07-06 06:48] tvikram1258 commented on #190
can we use symbolic links share folders. does it support in SFTP

[2021-07-12 13:55] farblos commented on #1334
My 2 cents, based on

[code]
and

[code]

all done to the same Linux host over a low latency (1ms) connection:

Hangs almost always:

    ssh.exe <host> "exit 0"

Hangs in 10% of cases:

    ssh.exe <host> "echo -n ' '; exit 0"

Hangs in 4% (?) of cases when also writing to STDERR:

    ssh.exe <host> "echo -n ' '; echo -n ' ' 1>&2; exit 0"

Hangs even less often (?) and does not add visible outpu

[2021-07-13 06:18] I1eoThe0ne commented on #518
**Work-Around** (since - unfortunately - logging in using key-files does not authenticate agains the AD)

**net use z: \\server\share /user:userName password**

**After the net use command the user is authenticated** - even against the AD and you can access network shares.

[2021-07-13 06:19] I1eoThe0ne commented on #1116
**Work-Around** (since - unfortunately - logging in using key-files does not authenticate agains the AD)

**net use z: \\server\share /user:userName password**

**After the net use command the user is authenticated** - even against the AD and you can access network shares.

[2021-07-14 02:32] ghost commented on #1235
@NoMoreFood I'm hitting this as well on latest windows SSH. User account is Microsoft's Azure AD joined machine, but machine is workgroup (not domain joined / remote).

Is there any way to enable login of this sort of user, or do I need to create a local user to SSH in as instead?

[2021-07-14 02:34] ghost commented on #1552
@maertendMSFT thx for the info. I'm hitting this as well, user is AAD account domain joined, but machine is not joined (workgroup), and corp VPN enabled.

Is there any workaround, or should i just create a local user for SSH purposes instead?

[2021-07-16 11:42] diagprov commented on #1462
I can confirm I have the same issue on `OpenSSH_for_Windows_8.1p1, LibreSSL 3.0.2`. I have explicitly set `SSH_AUTH_SOCK=\\.\pipe\openssh-ssh-agent` and that the service is started. I also created `C:\tmp` as suggested above, to no avail. Whenever I ssh in from a Linux machine forwarding my agent, `ssh-add -L` reports that the agent has no identities. There's no longer any indication agent forward

[2021-07-16 19:12] ValZapod commented on #1274
Upstream is fixed now. https://github.com/libressl-portable/portable/pull/526

[2021-07-16 19:15] ValZapod commented on #1474
Why does it matter?? You can still do cd .. or ./command

[2021-07-16 19:18] ValZapod commented on #1623
LOL, what? Tnis is not a white square. This is .notdef glyph of ttf and otf fonts.

[2021-07-16 19:48] frozn commented on #1474
see description above at point "This behaviour leads to a problem ..." including the comments in the code snipped. returning folders "." and ".." like under debian is required.

[2021-07-17 04:53] ValZapod commented on #1474
No, it is not. That depends of filesystem and its settings.

[2021-07-19 16:04] ai94iq opened #1825 "python scripts doesnt accept input"
**"OpenSSH for Windows" version**
OpenSSH_for_Windows_8.1p1, LibreSSL 3.0.2

**Client OperatingSystem**

Windows 11 2200.71/10.0.22000.0

**What is failing**

when i do anything gerrit related for the first time on a fresh install, i get a question to allow this device to connect to gerrit host or not, so just answer with yes or no to finish the scipt, this is [the script](https://gist.github.com/

[2021-07-19 16:04] ai94iq commented on #1825
I was told to post in here, coming from terminal issues
https://github.com/microsoft/terminal/issues/10696

[2021-07-20 07:56] NYCJames commented on #1804
Hi @bagajjal,

I was wondering if you could provide an update on the status of FIDO support.

[2021-07-20 14:09] saschanaz commented on #1632
Store-distributed cli tools are exposed via a special type of reparsed points, so it needs an explicit support like https://github.com/cygwin/cygwin/commit/e6d10783da5add579d498f596f3f353965d0944d, https://github.com/libuv/libuv/pull/2812, or https://github.com/python/cpython/pull/15231. I guess SSH needs the same type of work.

[2021-07-20 16:55] bagajjal commented on #1804
@NYCJames , We have this in our backlog. At this point it's not prioritized.

[2021-07-20 20:59] Franckiboy15 commented on #1693
Is there any way to get the update for server 2019?

[2021-07-21 09:16] bdedic opened #1826 "sshd: error: kex_exchange_identification: write: Connection reset"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
7.7 and 8.1

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersio

[2021-07-21 11:23] jaykrell opened #1829 "STARTUPINFOW vs. STARTUPINFO"
https://github.com/PowerShell/openssh-portable/blob/8ab565c53f3619d6a1f5ac229e212cad8a52852c/contrib/win32/win32compat/win32_pty.c#L83

That "should" be `sizeof(STARTUPINFOW)` or better yet `sizeof(si)`.
.I realize it probably makes no difference, i.e. if the struct only contains pointers to char/WCHAR, and not any arrays, i.e. the size is the same.

[2021-07-21 12:18] mgkuhn commented on #1693
No, see #1783. You can either
* [install OpenSSH for WIndows from github](https://github.com/PowerShell/Win32-OpenSSH/releases);
* [switch from LTSC to SAC](https://docs.microsoft.com/en-us/windows-server/get-started-19/servicing-channels-19), but note that this is not supported as an in-place upgrade; or
* wait for the next LTSC product; [Windows Server 2022 is reportedly already in the RTM stage

[2021-07-21 13:11] mgkuhn commented on #1825
I couldn't reproduce this problem on Windows 21H1 (neither remotely via OpenSSH from Linux into a Windows PowerShell session, nor via `cmd.exe` or Windows Terminal on the desktop GUI):
[code]
The equivalent `os.popen('ssh ...').read()` part of that Python script does allow me to say *yes* to that question. Same for the latter `os.system('ssh ...')` part.

[2021-07-21 14:23] mgkuhn commented on #1813
Since github issues can be migrated individually, why not just do a test with a couple of issues, to see what the result looks like?

Perhaps use this issue (#1813) for this test, and see how references to related issues, such as #1686 (Where is the source code for the realeases?) and #1604 (Release Clarification) are affected by migrating it?

[2021-07-23 14:16] ai94iq commented on #1825
i updated windows build yesterday and it seems to be working fine now 👍

[2021-07-23 14:16] #1825 closed, assigned to nobody

[2021-07-23 17:13] Ashish-Goy opened #1827 "Impersonating new binaries spawned by SSHD"
**Troubleshooting steps**
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

**Terminal issue? please go through wiki**
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 8.6.0.0

**Server OperatingSystem**
 `((Get-

[2021-07-27 18:38] jared-wilkinson commented on #1817
Just wanted to comment that this was an issue we saw as well. Thank you for creating the issue because it was a wild one. Nothing in any logs we saw indicated it wanted that user to be there and the SUPER odd thing is when we installed CopSSH but disabled it and just enabled the regular OpenSSH install, everything worked. We were trying to find all the differences in what CopSSH was installing and

[2021-07-31 21:19] RXminuS commented on #1552
@aaronla-ms It was all working for me before but suddenly today I started having problems. Wondering if an update was pushed out?

[2021-08-01 17:16] xspeed1989 commented on #1158
It doesn't work well on 8.6.0.0 when set mouse=on in vim

[2021-08-01 17:33] Trolldemorted commented on #1158
Same with tmux' mouse mode. I lost track of all these issues, is there an open one for the problems in TUI programs?

[2021-08-02 02:12] CEbbinghaus opened #1830 "Possibility of having a Disable File Ownership flag"
I haven't found any better place to post this so I'm going to open this issue to at least get some clarity.

I have been fighting against my operating system to let me change the permissions of the config file but it seems that it's impossible (at least trying to do what I am). My issue/question however is why there isn't a `--disable-security-checks` flag to skip the checking of the key/config pe

[2021-08-02 06:10] panekj commented on #1830
This isn't the original source for OpenSSH, you should ask in https://github.com/openssh/openssh-portable or better yet check https://openssh.com

afaik, check has been introduced in ~~https://github.com/openssh/openssh-portable/commit/eba71bab9bf01c0d688f829a8971f902732558df~~ https://github.com/openssh/openssh-portable/blame/4d2f15f895f4c795afc008aeff3fd2ceffbc44f4/authfile.c#L228-L238 from Open

[2021-08-02 06:44] CEbbinghaus commented on #1830
@panekj tank you for the response. I was going to post it in the original OpenSSH repository but since my issue is windows exclusive it's hard to justify the reasoning for Linux. Makes sense though and thank you for the link to the commit

[2021-08-03 02:13] RussSchultz opened #1832 "Can't hide ssh.exe when started by TortoiseSVN"
I've been trying to find a way to hide the ssh.exe run by TortoiseSVN when doing its operations.

I even went to the point of writing a tiny exe to wrap and call ssh.exe, but an ssh.exe window still opens even though my exe is a 'windows' app and i'm using STARTUPINFO to hide the window, or even move it off the screen, or even create with no window.

Is this something that can be fixed in SSH.EXE?

[2021-08-03 13:49] RussSchultz commented on #1832
Here's my wrapper EXE source code, compiled with 2019.  Pardon any warnings

`
[code]

[2021-08-10 09:10] olljanat commented on #1804
Btw. It looks to be that someone has already implemented FIDO support on https://github.com/tavrez/openssh-sk-winhello
I just left comment to https://github.com/tavrez/openssh-sk-winhello/issues/11 about switching to compatible license.

[2021-08-10 09:24] gbloice commented on #1804
See the comments by @tavrez above.

[2021-08-11 14:58] sindreal opened #1828 "openssh-win32 fails randomly when using local groups for "Match Group" settings"
Note that in all log entries, the user used is a local user "testsftp", using password authentication. The user is a member of the group "sftpcommonjail", but not "administrator".
With two "Match Group" entries in sshd_config:

Match Group sftpcommonjail
	ChrootDirectory F:\jail
Match Group administrators
       AuthorizedKeysFile __PROGRAMDATA__/ssh/administrators_authorized_keys

**"OpenSSH for

[2021-08-11 15:23] Cu3PO42 commented on #1322
I am still experiencing this problem. It happens primarily with large repositories. Passing `--depth 1` to `clone` fixes the problem (I assume because the amount to be transferred decreases), but a subsequent unshallow will fail.

I have a Windows 10 20H2 install and can reproduce this with both Git for Windows 2.29.0 and Git 2.32.0 in MSYS2. Mỳ OpenSSH version is 8.1.0.1. I have tried upgrading t

[2021-08-11 16:34] benrobot opened #1831 "Identity file parameter is not repeated in child process"
When I pass `-i C:\somefile\here` while also using `-J gatewayUser@gatewayHost` the `-i` is NOT passed to the child process.

![image](https://user-images.githubusercontent.com/2271599/129067938-d468dcb4-24d5-4803-8996-f81f01ed6947.png)

Is this a bug or is there some other way to pass the identity file?

[2021-08-12 00:02] bartecargo commented on #1606
Is it possible that someone could summarise how Windows -> Linux SSO should be configured in the documentation page?

* [Login using Kerberos Authentication](https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples#login-using-kerberos-authentication)

I've set up my Linux server according to that documentation, which does add gssapi to the list of authentications:

[code]

However, I sti

[2021-08-12 07:12] sindreal commented on #1828
Would also like to add that having "Match User" entries below the single default "Match Group" entry, also fails. While moving them above, will work.
Which is consistant with the hypothesis that "Match Group" will have a chance of corrupting the username for any future checks.

[2021-08-12 09:32] sindreal commented on #1828
To sum it up, for it to work, the config may only have a single "Match Group", and it has to be at the bottom.
Which if you can reproduce it, is a pretty clear cut critical bug.

[2021-08-12 10:05] tankeco commented on #1803
same in 8.6.0.0

[2021-08-12 17:21] bagajjal commented on #1828
@sindreal  - This shouldn't happen in the latest releases V8.1 / V8.6.

[2021-08-12 18:23] mgkuhn commented on #1606
@bpfoley45 Was your original delegation problem solved? If so, can you please close this issue?
@bartecargo Please open a new issue for your new problem, and I'll try to answer there, Otherwise discussions of different people's issues get intertwined here. (This issue is about *delegation* not working for @bpfoley45 's particular setup.)

[2021-08-12 18:36] sindreal commented on #1828
That might be true, but I want the stable version included with the OS, which I assume is the one getting security updates via windows update.
Or is my assumptions incorrect, and the "official stable" version is left buggy and insecure?

[2021-08-12 18:42] mgkuhn commented on #1832
See this March 2018 thread on the TortoiseSVN mailing list: https://groups.google.com/g/tortoisesvn/c/ZmO6bU25-lo/m/-zrfgIdiAAAJ

Stefan's answer there summarized: TortoiseSVN opens that window in case `ssh.exe` does require user input on the terminal (such as the dialogue for accepting a new host public key). PuTTY's plink.exe similarly may require user input on the terminal, i.e. has the same pr

[2021-08-12 18:57] mgkuhn commented on #1821
Windows [maintains an environment block for each user and one for the computer. The system environment block represents environment variables for all users of the particular computer. A user's environment block represents the environment variables the system maintains for that particular user, including the set of system environment variables.](https://docs.microsoft.com/en-us/windows/win32/shell/

[2021-08-12 19:03] mgkuhn commented on #1814
Can you please attach your `.ssh/config` file to your reply by dragging and dropping it into the github comment window? We need to see the entire file byte-for-byte, as it appears to contain non-ASCII characters that you can't quote by pasting them into the comment box. Please *attach* the file instead.

[2021-08-12 19:14] bpfoley45 commented on #1606
@mgkuhn Yes, your explanation in regards to how GSSAPI behaves on different platforms mirrors my hands on experience. By granting Kerberos delegation, the problem is resolved.

[2021-08-12 19:14] #1606 closed, assigned to nobody

[2021-08-12 20:48] bagajjal commented on #1828
Latest windows update has V8.1.

[2021-08-13 03:57] rtollert commented on #1352
@bagajjal Sorry for the late response: the attached ssh_v_8.6.zip works great.

[2021-08-13 13:31] blakeduffey commented on #1814
I appreciate the follow-up.  You were right, there were 'invisible' non-ASCII characters in the file - Okta support was able to help me.  I wasn't able to see them in VSCode (but trusty vi to the rescue)

Thanks so much