[2017-08-23 09:25] icf3 commented on #802
This bug is fixed by Ver 0.0.19.0 (source code).
I confirmed that my patch is included.
Thanks!

[2017-08-23 09:25] #802 closed, assigned to bagajjal

[2017-08-23 17:22] bagajjal commented on #856
Have you used -n option (https://linux.die.net/man/1/ssh)?

![image](https://user-images.githubusercontent.com/23668037/29629226-e9f9808e-87ec-11e7-806f-627731dd5bc6.png)

[2017-08-23 23:33] benhillis commented on #853
Update: I have verified that my fix resolves the issue and the unittest-win32compat.exe unit test passes.  I’ve also ensured that cmd.exe, powershell.exe, and now bash.exe work correctly when launched in an ssh session.

[2017-08-24 11:15] hdatma opened #857 "scp"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

0.0.18.0

sshd_config includes the following (and it works):
ForceCommand C:\Windows\System32\WindowsPowerShell\v1.0\powershell

[2017-08-24 15:27] bagajjal commented on #857
This is expected behaviour... When force command is there in sshd_config, sftp or scp will not work

[2017-08-24 16:33] manojampalam commented on #857
Please reopen of needed

[2017-08-24 16:33] #857 closed, assigned to nobody

[2017-08-24 18:31] ulysses425 commented on #852
I have the same problem, is this issue have been solved?

[2017-08-24 19:32] zjalexander opened #858 "SSH eats / (forward slash) when pasting from clipboard"
**"OpenSSH for Windows" version**
FileVersion:      0.0.19.0

**Server OperatingSystem**
centOS Linux release 7.3.1611

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
Paste the following into the SSH window (either hosted in cmd or PowerShell:
``` wget https://www.github.com/  ```
**Expected output**
``` wget https://www.github.com/  ```
**Actual output**
```wget https:www.g

[2017-08-24 19:34] zjalexander commented on #858
cmd.exe properties:
![image](https://user-images.githubusercontent.com/6953993/29684896-6ea4bd7c-88c8-11e7-894d-f2714bbc0476.png)
Legacy mode is **unchecked**. Filter clipboard contents is checked but turning that off will still lead to the repro.

[2017-08-25 01:49] bgrossman opened #859 "Answerback not working"
**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
Windows Server 2012 R2 Standard

**Client OperatingSystem**
Windows 10

**What is failing**
My application uses answerback to have the client send back a message in response to the enquiry character. When using OpenSSH server, it looks as if the character is translated and so the client never receives it.

**Expected output**
F

[2017-08-25 07:10] marekr commented on #858
Same problem here. Latest release has this broken. Worked before.

[2017-08-25 07:12] marekr commented on #858
It also injects a new line when pasting every single time, even if your paste doesn't have a new line (and you explicitly check)

[2017-08-25 09:14] Ben-oDesign opened #860 "Can not convert System.string"
Hello,

I have the Foolowing problem

**"OpenSSH for Windows" version**
 v0.0.19.0

**Server OperatingSystem**
Windows 7 64 bits

**Client OperatingSystem**
Windows XP, Windows 7 Windows 10

**What is failing**
I follow this tutorial : https://winscp.net/eng/docs/guide_windows_openssh_server
When I need to enter the following command  : `powershell.exe -ExecutionPolicy Bypass -File .\FixHostFilePe

[2017-08-25 13:49] megamorf commented on #860
Your confirm switch is missing a dollar sign

[2017-08-25 19:41] bagajjal commented on #859
Please provide the reproduction steps..

[2017-08-25 19:50] bagajjal commented on #858
@zjalexander , @marekr - Could you please try the private binary ([ssh-FixForwardSlashIssue.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1252852/ssh-FixForwardSlashIssue.zip)) and confirm whether this solves your problem... fyi, its an x64 ssh.exe binary.

Looks like it is caused by fixing the VTSequence used to interpret /? key...
https://msdn.microsoft.com/en-us/library/windows/desktop

[2017-08-25 19:55] zjalexander commented on #858
yup, the  FixForwardSlash binary did solve my issue! thanks so much! :)

[2017-08-25 20:00] bagajjal commented on #858
@zjalexander - great, will fix this for the next release..

@marekr - It would be great if you can also confirm as you are facing a different issue (inserting new line)...

[2017-08-25 20:02] bagajjal commented on #856
@havalli - Any update on this? can this be closed?

[2017-08-25 23:23] DHowett-MSFT commented on #858
@bagajjal Because this impacts _typing_ a `/` as well as pasting one, this issue significantly impacts the use of the ssh client from windows. Can it be fixed in an out-of-cycle bugfix release?

[2017-08-26 01:12] marekr commented on #858
@bagajjal
/ seems to work for me. New lines no longer inserted as well.

[2017-08-26 01:21] marekr opened #861 "Unable to use nano on remote linux hosts"
Please answer the following

**"OpenSSH for Windows" version**
0.0.19.0

**Server OperatingSystem**
Debian 8

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
If I use "nano" on a Linux system to create a new file, when it prompts for the filename I can type it in. When I hit "Enter" its supposed to go ahead and save the file but instead does nothing.

Screen cap of the steps in cmd.

[2017-08-26 17:04] lucastheisen opened #862 "authorized_keys line 1 exceeds size limit"
**"OpenSSH for Windows" version**
[code]

**Server OperatingSystem**
[code]

**Client OperatingSystem**
[code]

**What is failing**
Authorized key authentication

**Expected output**
Successful login

**Actual output**
In the server log (`sshd -ddd`):
[code]

In the client console (`ssh -vvv localhost`):
[code]

And here is the entry in the `authorized_keys` (generated by `ssh-keygen -t rsa -b 409

[2017-08-27 16:17] nkrepo commented on #686
@bagajjal , Good to know that many shortcuts are now fixed.

Unfortunately the second issue is still here. I have set the "Screen buffer Size Width" equal to "Window Size" before connecting though ssh to localhost and the output is still unaligned up when pressing tab to list/autocomplete parameters.

[2017-08-28 01:12] Andrei-Paul commented on #846
"NT SERVICE\ALL SERVICES" was not assigned to that policy. I do not know how or why, I do not manage the OS. :)

[2017-08-28 03:41] rgl commented on #846
So that right was probably removed by a active directory managed policy? If so, won't it also remove the right from the ssh account at the next synchronization?

I think you should work that out with the system administrator and tell us what is happening, because it fells odd to have the openssh installer assigning the right by itself when that should have been taken care by the system out-of-the-

[2017-08-28 11:40] hartois opened #863 "SFTP: Null bytes starting 8,586,788,865 byte when getting by chunks"
Version: 0.0.19.0
SFTP Server: Windows Server 2012 R2 Datacenter
SFTP Client: CentOS 7

I'm using PHP script for getting files from windows server.
When getting file from SFTP by chunks (1024 * 512) all bytes after 8,586,788,864 byte is NULL
Changing chunk size to 1024 * 1024 or 1024 * 256 does not take effect.
Same file received from Linux sftp server by same php-script with any chunk sizes is CO

[2017-08-28 12:49] mivale commented on #862
Same here. Same versions, followed all instructions to the letter. 20+ yrs experience with setting up openssh servers on linux, so no lack of general knowledge.

When I run this command from my home folder:

`ssh -i .ssh\id_rsa Administrator@localhost`

I get the error

`Warning: Identity file .ssh\id_rsa not accessible: No such process.`

Maybe this has something to do with this line in the confi

[2017-08-28 13:38] Mayhem93 commented on #848
I can still replicate this in **0.0.19**

[2017-08-28 19:10] bagajjal commented on #860
closing this issue as it is because of the typo in the command..

[2017-08-28 19:10] #860 closed, assigned to nobody

[2017-08-29 02:35] tarmizee opened #864 "Connection refused on Windows Server 2012 R2"
Dear All,

I am setting up OpenSSH on Windows Server 2012 R2. The version of the OpenSSH that I am using:
OpenSSH_7.5p1, LibreSSL 2.5.3

I performed installation as per link : https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

It seems when i try to SSH to target server using cmd.exe, putty or winscp i keep getting error "Error : network error: Connection to “target server”ref

[2017-08-29 05:21] DHowett opened #865 "[Alt] sends \0 instead of ESC"
**"OpenSSH for Windows" version**
0.0.19.0 *and* the build provided by @bagajjal in issue #858.

**Server OperatingSystem**
[code]

[code]

[code]

**Client OperatingSystem**
Windows 10 Enterprise Insider Preview

**What is failing**
The Alt key (Standard US-104 layout) sends `\0`. This breaks almost everything that relies on meta key sequences.

As an example,

[code]

**Expected output**

[code]

[2017-08-29 05:22] DHowett commented on #865
This is a possible duplicate of #845, with a different repro.

[2017-08-29 06:40] bagajjal commented on #864
Your host keys doesn't have right permissions.... Register host keys with the ssh-agent as mentioned in the installation page...

[2017-08-29 06:43] bagajjal commented on #864
Secure SSH host keys (optional)
Start-Service ssh-agent
Download psexec from here
Launch cmd.exe as SYSTEM
psexec.exe -i -s cmd.exe
register host keys in above cmd.exe
ssh-add ssh_host_dsa_key
ssh-add ssh_host_rsa_key
ssh-add ssh_host_ecdsa_key
ssh-add ssh_host_ed25519_key
Host private keys are now securely stored by ssh-agent, private key files can be deleted at this point.

[2017-08-29 07:33] tarmizee commented on #864
@bagajjal
Thanks for your reply. I performed the following step:
Download psexec from here
Launch cmd.exe as SYSTEM
psexec.exe -i -s cmd.exe
register host keys in above cmd.exe
ssh-add ssh_host_dsa_key
ssh-add ssh_host_rsa_key
ssh-add ssh_host_ecdsa_key
ssh-add ssh_host_ed25519_key

I restarted the ssh-agent and sshd services. It seems the same error still appear. Attached is the latest error.
[ss

[2017-08-29 07:34] tarmizee commented on #864
@bagajjal
Apologize, attached is the latest error log:
[sshd_1529.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1259475/sshd_1529.txt)

[2017-08-29 13:34] dgc opened #866 "Can't rerun commands using the command line viewer in Vim"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

* "Use legacy console (requires relaunch)" is unchecked:
* Width is set to 120 characters
* $env:TERM is set to "xterm"

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

0.0.19

[2017-08-29 18:20] bagajjal commented on #864
@tarmizee - You will still see the error message because sshd will try to read and it fails because of the permission issue. Since you have registered your host keys with the ssh-agent, you can establish ssh session from any ssh client.
You can ignore these error messages (or) if you don't want to see the error messages then move the host key files to a different directory..

FYI, sshd expects the

[2017-08-29 19:33] dgc commented on #866
You could almost dismiss this as a Vim issue but this works correctly via PuTTY.

[2017-08-29 19:56] bagajjal commented on #856
Please reopen if required.

[2017-08-30 00:55] tarmizee commented on #864
@bagajjal ,

Thanks for your further support and advice regarding the error will keep warning.
I need further advice regarding connection refused. I did further test using putty, cmd and WinSCP :

[ssh_command_error.docx](https://github.com/PowerShell/Win32-OpenSSH/files/1262135/ssh_command_error.docx)
[winscp_openssh_error.docx](https://github.com/PowerShell/Win32-OpenSSH/files/1262137/winscp_ope

[2017-08-30 00:57] bagajjal commented on #864
Please share the sshd.log and sshd_config.

[2017-08-30 01:09] tarmizee commented on #864
@bagajjal

Attached is the sshd.log and sshd_config
[sshd_config.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1262146/sshd_config.txt)
[sshd.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1262148/sshd.zip)

Thanks and Best Regards
Tarmizee

[2017-08-30 01:19] bagajjal commented on #864
Looks like sshd is not getting the hostkey from the ssh-agent.
4596 08:52:54:525 fatal: sshd_hostkey_sign: ssh_agent_sign failed: agent refused operation

Do you have ssh-agent running?

If yes, check host keys using ssh-add
a) psexec.exe -i -s cmd.exe
b) cd to ssh-add.exe directory
c) ssh-add.exe -l ( This command should display all the host keys registered under system context).

else, net start

[2017-08-30 01:26] tarmizee commented on #864
@bagajjal ,

Yes, the ssh-agent is running. I performed step a) to c) and received the following message:
The agent has no identities.

Let me know other checking that you require me to perform.

Thanks and Best Regards
Tarmizee

[2017-08-30 01:28] bagajjal commented on #864
This confirms that host keys are not registered with the ssh-agent..

1) Please redo this,
psexec.exe -i -s cmd.exe
register host keys in above cmd.exe
ssh-add ssh_host_dsa_key
ssh-add ssh_host_rsa_key
ssh-add ssh_host_ecdsa_key
ssh-add ssh_host_ed25519_key

2) Verify using ssh-add.exe -l
a) psexec.exe -i -s cmd.exe
b) cd to ssh-add.exe directory
c) ssh-add.exe -l ( This command should display all

[2017-08-30 01:40] tarmizee commented on #864
@bagajjal

Thanks for the step of investigation

I performed the step 1 and 2. It seems the result at step 2 return with "The agent has no identities."
[ssh_add_error.docx](https://github.com/PowerShell/Win32-OpenSSH/files/1262205/ssh_add_error.docx)

Thanks and Best Regards
Tarmizee

[2017-08-30 01:49] bagajjal commented on #864
My bad, ssh-add.exe didn't register with the ssh-agent because of host-key permission issue.

Please run FixHostFilePermissions.ps1 (in the directory where sshd.exe is present) . This should fix the host key permission. **Run this from an elevated powershell window.**

After running this try to register using ssh-add.exe to confirm the permissions are fixed properly..

If you still have issues the

[2017-08-30 02:29] tarmizee commented on #864
@bagajjal

Thanks for your further support.
I performed FixHostFilePermissions.ps1. Attached is the screenshot. I am not sure whether the error message that appeared in the shell can be ignored or not. Please advice
[fixhostfilepermission.docx](https://github.com/PowerShell/Win32-OpenSSH/files/1262268/fixhostfilepermission.docx)

I tried to register using ssh-add.exe and also performed ssh-add.exe

[2017-08-30 04:10] bagajjal commented on #864
Permissions were not set properly by the script...
Please set the permissions manually as described in my previous reply... The owner must be one of these (system, sshd, administrators group)

[2017-08-30 10:26] tarmizee commented on #864
@bagajjal

Thanks for your support. I performed reinstallation using domain administrator user and the issue is resolved. It seems using domain administrator to do installation provided correct permission to those key.

Thanks for your excellence suggestion.

Best Regards
Tarmizee

[2017-08-30 14:52] SilentSpud commented on #861
If you try to use the enter key while editing text, it tries to justify the text instead

[2017-08-30 17:07] rickmoua opened #867 "Could not create directory '%systemroot%\\system32\\config\\systemprofile/.ssh'."
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).Produc

[2017-08-30 18:01] #864 closed, assigned to bagajjal

[2017-08-31 07:43] logmein345 commented on #787
I am getting this also:
v0.0.19.0
Server 2016

My issue does not seem to have to be triggered by a scan or anything, it just seems to happen after a user is connected for a while. In a matter of hours it can rip through 20+GB with error: accept: Connection reset.

[2017-08-31 19:46] manojampalam commented on #867
This might result when your user profile is not loaded. '%systemroot%\system32\config\systemprofile is the default profile (that gets pointed to when user profile is not loaded)

[2017-08-31 20:35] manojampalam commented on #862
Just tried with the exact public key contents and this is what I see in logs. Can you check detailed logs on whats exactly being read from authorized_keys (perhaps multiple keys are being read at once - that may indicate a CR CR/LF issue)

debug1: trying public key file C:\\Users\\nonadmin\\.ssh/authorized_keys
debug2: user_key_allowed: check options: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDsgFU14

[2017-08-31 21:14] manojampalam commented on #852
Is this a regression? Did it ever work before?

[2017-08-31 21:26] manojampalam commented on #847
Thanks for detailing the impact. We'll put in a Windows specific block in code to accommodate this request for now.

[2017-09-01 09:30] mivale commented on #862
I've found something that might be of importance:

I created the authorized_keys file on Windows using Notepad++.

When editing I noticed that the encoding for the file (as show at the right-bottom of the window) was shown as UCS-2 LE BOM

When I changed this to UTF-8 (using the Encoding menu) it suddenly started working!

Before, i tried to edit the file in notepad, but that obviously didn't chan

[2017-09-01 11:13] drieseng opened #868 "Scp: path quoting"
Can you confirm that - for the scp protocol (on Windows) - a path should be enclosed in quotes to avoid metacharacters from being interpreted?

* Should quotes that are embedded in the path be escaped with a backslash?

  If I escape an embedded quote, then I get a "Protocol not available" error.

  **For example:**
  When I send an exec request with the following command:

  I get the following e

[2017-09-01 13:10] euroclydon37 commented on #858
Experiencing this as well. Forward slash is interpreted as a newline on my raspberry pi and our ubuntu file server at work. Gonna try that binary.

[2017-09-01 15:15] johnk1 commented on #858
Yes, same issue seen running through Powershell to an ubuntu server. Merely typing `/` is impacted.

[2017-09-01 17:39] manojampalam commented on #862
@mivale Thanks. You found the issue. OpenSSH code (since its based on Unix) expects the file contents in UTF-8.
Added this limitation here - https://github.com/PowerShell/Win32-OpenSSH/wiki/Various-Considerations

[2017-09-01 17:40] #862 closed, assigned to nobody

[2017-09-01 18:12] lucastheisen commented on #862
Excellent!  Thank you, conversion to utf-8 fixed it:
[code]

[2017-09-01 18:13] bagajjal opened #869 "Allow all variations for allow/deny users,groups in sshd_config"
As of now sshd_config accepts allow/deny users, groups in this format
user?domain
group?domain

code snippet in  servconf.c -
void
parse_server_config()
{

#ifdef WINDOWS
	/* TODO - Refactor this into a platform specific post-read config processing routine.
	 * TODO - support all forms of username, groupname.
	 *   a) domain\groupname
	 *   b) domain\groupname@hostip
	 *   c) full_domain_name\grou

[2017-09-01 18:22] manojampalam commented on #868
Based on this observation, try escaping it with " itself

E:\openssh\openssh-portable\bin\x64\Release>ssh localhost echo "dq"
dq

E:\openssh\openssh-portable\bin\x64\Release>ssh localhost echo "d""q"
d"q

[2017-09-01 22:53] analogrelay commented on #389
I'm seeing this as well, in v0.0.19.0

[2017-09-02 03:58] ciberesponce commented on #858
issue exists even without clipboard.  "/" just simply isn't accepted as a character in this session

[2017-09-02 16:49] marekr commented on #858
@johnk1 @ciberesponce

Just use the attached binary in the thread, it fixes it.

[2017-09-03 07:10] Scrxtchy commented on #90
@manojampalam was there an update to support this?
Using this command puts the local terminal in a forever waiting state.
The server then climbs CPU usage
![image](https://user-images.githubusercontent.com/12771982/30001228-c589f710-90ca-11e7-8841-44ae8169a2c8.png)
![image](https://user-images.githubusercontent.com/12771982/30001229-c7b5fd7c-90ca-11e7-960d-f6b3dad048a5.png)

[2017-09-04 22:09] lvic commented on #858
Hi, I ran into the same problem. How do I 'use the attached binary'? Just running it once doesn't seem to fix the issue. Thanks in advance.

[2017-09-05 03:09] bagajjal commented on #858
@lvic - use the attached binary as ssh.exe

[2017-09-05 06:33] actg opened #870 "can't find default public key in .ssh/authorized_keys"
Version:
         win32-openssh 7.5 P1
windows platform version:
         windows 10 Ultimate

1. sshd_config configure default authorized_keys file in .ssh/ folder
AuthorizedKeysFile    .ssh/authorized_keys

2. When client ssh login to server,but the server Permission denied, and sshd.log file present following logs:

8708 14:23:49:580 debug1: trying public key file C:\\WINDOWS\\.ssh/authorized_k

[2017-09-05 15:29] diogocp commented on #90
@manojampalam

Git server does not work properly if cmd is the default (#752).

[2017-09-05 15:58] lumean opened #871 "Possibility to disable VT-100 sequences coming from server"
Hi

I'm running the SSH server version `0.0.19.0` on Windows 10 Professional and I'm looking for a way to disable the VT-100/xTerm control Sequences in the stdout which I get from the server.

I'm using a ruby ssh client to automate some interactive cli commands in an "expect" way.
e.g. when I want to execute the `dir` command I get an output as follows:
****
[code]

Whereas I would expect somethi

[2017-09-05 17:00] analogrelay commented on #389
This has been open for nearly a year, is this being considered for a fix? Not having this bug fixed will completely block my usage of the OpenSSH client for Windows.

[2017-09-05 17:49] manojampalam commented on #871
you can disable server side PTY by using -T flag.
ssh -T

[2017-09-05 17:49] #871 closed, assigned to nobody

[2017-09-05 17:57] manojampalam commented on #90
@Scrxtchy please open a new issue for what you are seeing. That's not expected (I don't see it on my end). Fill in the template and we'll take it forward.

[2017-09-05 18:07] analogrelay commented on #389
🎉  thanks for the update @manojampalam !

[2017-09-05 18:45] #853 closed, assigned to nobody

[2017-09-05 18:48] #858 closed, assigned to bagajjal

[2017-09-05 20:10] #816 closed, assigned to bagajjal

[2017-09-05 20:12] bingbing8 commented on #844
@alaksandus , Can you paste the command line and output when you invoke the script? Are you just simply running
```C:\Program Files\OpenSSH\FixHostFilePermissions.ps1 -confirm:$false```

[2017-09-05 20:18] lumean commented on #871
Thanks, worked perfectly

[2017-09-05 20:20] #861 closed, assigned to bagajjal

[2017-09-05 21:15] Rondom commented on #90
Can't you set the COMSPEC variable to powershell.exe and use that? (I admit that I left Windows behind before the switch to NT/XP, so this may be outdated knowledge)

[2017-09-05 21:25] bagajjal commented on #90
@Rondom  - Using COMPSPEC variable is not ideal solution.

There can be a situation where the default shell has to be PowerShell for ssh sessions but other applications still needs the default shell as cmd.exe..

As mentioned earlier one of our proposals is to use a new environment variable instead of COMPSPEC.

Also we need to add few security checks when we start using environment variables as a

[2017-09-05 21:36] bagajjal commented on #861
please check the latest release 0.0.20.0

[2017-09-05 21:37] bagajjal commented on #858
It's fixed in the latest release 0.0.20.0

[2017-09-05 21:42] bagajjal commented on #816
It's fixed in the latest release 0.0.20.0.

sshd_config should look like this,
AllowGroups	groupname?domainname
AllowUsers user?domainname

In your case it is,
AllowGroups	hunters?forest
AllowUsers john?forest

[2017-09-05 22:38] DHowett-MSFT commented on #865
@bagajjal Alt sending `\0` when you press it is almost definitely a bug, right? It doesn't even matter if you press it with another key -- just hitting alt, alt, alt will send `\0` `\0` `\0`.

[2017-09-06 01:20] bagajjal commented on #865
@DHowett - We are not supporting alt meta keys as of now..
anything that is not supported will send \0, this is not specific to alt meta key word..
That's the reason I have marked it as Issue-Enhancement, hope this clarifies.

[2017-09-06 03:25] Dchan40 commented on #844
I get the same error by pasting that command line.
I get another error with quotation .

powershell.exe : Processing -File '.\FixHostFilePermission.ps1 -Confirm:False' failed: The given path's format is not supported.Specify a valid path for the -File parameter.
At line:1 Char:1
+ powershell.exe -ExecutionPolicy Bypass -File ".\FixHostFilePermission.ps1 -Conf ...
+~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2017-09-06 04:04] bingbing8 opened #872 "win7: exceptions when run E2E tests on win7"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 v0.0.20.0

**Server OperatingSystem**
win7 sp1

**Client OperatingSystem**
win7 sp1

**What is failing**

**Expected output**
no exception thrown with appverifier running
**Actual output**
When

[2017-09-06 04:07] bingbing8 opened #873 "win7: sshd_config E2E tests failed on win7"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 v0.0.20.0

**Server OperatingSystem**
win7 sp1

**Client OperatingSystem**
win7 sp1

**What is failing**

**Expected output**
sshd_config tests should run on win7
**Actual output**
sshd_config

[2017-09-06 04:09] bingbing8 opened #874 "Win7: ssh session does not return until hit ENTER"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 v0.0.20.0

**Server OperatingSystem**
win7 sp1

**Client OperatingSystem**
win7 sp1

**What is failing**

**Expected output**
```ssh -p 47002 sshtest_ssouser@localhost exit 0```
should return
*

[2017-09-06 07:27] marekr commented on #861
Works now, thanks.

[2017-09-06 14:29] SilentSpud opened #875 "fg command fails for nano"
**"OpenSSH for Windows" version**
Version 0.0.20.0

**Server Operating System**
Ubuntu Server 17.04 x64

**Client Operating System**
Windows 10 Pro x64

**What is failing**
Using the `fg` command to bring a background `nano` process back to foreground.

**Expected output**
The editor reopens.

**Actual output**
The console flickers between nano and a blank screen

[2017-09-06 16:03] bagajjal commented on #844
@Dchan40- you area missing $ before false..
It has to be be -Confirm:$false

[2017-09-06 18:55] bagajjal commented on #866
@dgc - Can you try latest release 0.0.20.0
FYI, it works at my end
![vim-cmd-norepro](https://user-images.githubusercontent.com/23668037/30129257-33b4dd5a-92fa-11e7-9d80-c92af6b8b280.gif)

[2017-09-06 18:56] bagajjal commented on #848
@Mayhem93 - Can you try the latest release 0.0.20.0.
fyi, it works for me..

![redis-cli norepro](https://user-images.githubusercontent.com/23668037/30129336-6b44ff98-92fa-11e7-88d4-cb0fcd09ebec.gif)

[2017-09-06 18:58] bagajjal commented on #875
@reap3r119 - I couldn't repro this issue.. is it working with other ssh clients like putty/Cygwin?
FYI, please see the recording.. I tried three times, it works perfectly
![nano-fg-norepro](https://user-images.githubusercontent.com/23668037/30129396-a279e776-92fa-11e7-88e0-fc5f76e1727b.gif)

[2017-09-06 19:06] DHowett-MSFT commented on #865
That makes sense; however: even pressing Alt-Tab -- which should not go to the session at all (!) -- sends a `\0`. It seems bad that any modifier press is being "sent" when it could wait for a fully-baked key+modifier combo before it sends `\0`.

[2017-09-06 19:21] dgc commented on #866
@bagajjal It's fixed for me in 0.0.20.0

Thanks!

[2017-09-06 19:21] #866 closed, assigned to bagajjal

[2017-09-06 19:49] Mayhem93 commented on #848
@bagajjal I will, but I'm gonna wait for the release to appear on chocolatey.

[2017-09-06 22:30] bagajjal commented on #787
@PillowFish, @aayush251 , @logmein345 - I couldn't reproduce this issue.. It would be great if you can share the sshd.log (for the first 1-2 minutes so that I can dig more into this issue)..

FYI, it works for me... please see this,
![d-1](https://user-images.githubusercontent.com/23668037/30137445-30af9cd0-9318-11e7-9d46-bb2d4bd4d8c3.gif)

[2017-09-06 23:08] bagajjal commented on #863
@hartois - It works for me. I tried with a third party tool like FileZilla and it worked.
Guessing that it is related to phpseclib...

please test yourself with other sftp clients like FileZilla, winscp, etc..

[2017-09-07 00:59] Dchan40 commented on #844
The command i key in does have the $.

[2017-09-07 01:05] bagajjal commented on #844
wiki [URL](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH) has $

![image](https://user-images.githubusercontent.com/23668037/30141084-d551c9a6-932d-11e7-894d-6977a153cbe0.png)

Are you referring to the same URL?

[2017-09-07 03:29] Dchan40 commented on #844
yea, i type exactly the same, except i have include the "" as to bingbing8 advise to add between  ".\FixHostFilePermission.ps1 -Confirm:$false" since the original command give me the original posted error.

[2017-09-07 04:36] bagajjal commented on #844
@Dchan40 - Please post the screen shot if the original command (-Confirm :$false) mentioned in the wiki fails..

[2017-09-07 05:25] hartois commented on #863
@bagajjal Where did you find file transfer by chunks in FileZilla and WinSCP? In FileZilla you transfer file wholly!
I wrote in issue description that if you transfer file from Windows wholly, then the file is correct, and if by chunks - is not.
I need transfer file by chunks - I need compress file on transfer.
I test PHP-script with OpenSSH SFTP on Linux and transfereed file was CORRECT!

It's a

[2017-09-07 13:08] alaksandus commented on #844
@bingbing8 I'm executing the command like in the Wiki, so without the full path to the file.
.\FixHostFilePermissions.ps1 -Confirm:$false instead of C:\Program Files\OpenSSH\FixHostFilePermissions.ps1 -confirm:$false

[2017-09-07 15:56] SilentSpud commented on #875
It only happens when using ConEmu with its hooks enabled. Trying this in Command Prompt works fine, as does ConEmu with the hooks disabled

[2017-09-07 17:38] bagajjal commented on #875
@reap3r119 - Please provide the reproduction steps...
Also did you try this from other ssh clients like putty/Cygwin? if yes, does it behaves correctly?

[2017-09-07 17:52] bagajjal commented on #870
@248668342 -
authorized_keys is a file (not a folder).
When sshd_config has an explicity AuthorizedKeysFile specified, sshd process will never look into C:\Users\user/.ssh folder.
FixHostFilePermissions.ps1 - This will not fix you AuthorizedKeysFile specified in the sshd_config. Please do this manually... Follow these steps,
a) right click authorized_keys file.
b) security tab
c) Advanced button
d

[2017-09-07 17:58] bagajjal commented on #859
Please reopen with the reproduction steps...

[2017-09-07 17:58] #859 closed, assigned to nobody

[2017-09-07 18:25] SilentSpud commented on #875
Enable `Inject ConEmuHk` under Features in ConEmu's settings, open a new console and connect to the ssh server, run `nano somefile`, stop it with `Ctrl+Z`, then use `fg` to bring it back to the foreground.

I've tried it with putty, kitty and cygwin, and it works just fine in all of them. I also tried it on a 32-bit Win10 machine, and it does the same thing.

[2017-09-07 19:24] bagajjal commented on #875
@reap3r119 - I tried as you said but couldn't repro this issue..
please have a look at this,
![nano-issue1](https://user-images.githubusercontent.com/23668037/30181225-6c577b18-93c7-11e7-8816-772d445d7002.gif)

Let me know if I miss something.

[2017-09-07 19:28] thomasgeorgec commented on #844
still no solution?
even i got same issue
![capture](https://user-images.githubusercontent.com/7705175/30181397-c3d8228e-9430-11e7-97cf-990e6a2bae16.PNG)

[2017-09-07 19:32] thomasgeorgec commented on #844
you can leave out "-confirm:$false" part, and type y to all prompts that follow
![capture](https://user-images.githubusercontent.com/7705175/30181567-57f0d9f2-9431-11e7-8f74-d594415e6bf9.PNG)

[2017-09-07 19:45] bagajjal commented on #844
Can you please try this and let us know if it works..

1) [bool]$f=$false
.\FixHostFilePermissions.ps1 -Confirm:$f

2) or
.\FixHostFilePermissions.ps1 -Confirm:0

looks like powershell is treating $false as string instead of bool so an explicit conversion might be required.

[2017-09-07 19:56] bagajjal commented on #851
@cowlinator - Could you please try these steps,
1) verify if the ssh-agent is registered as service.. (check in the taskmanager, services tab)
2) From an elevated cmd.exe, run "net start ssh-agent" -> This should start the ssh-agent

If you still have issues then please use the attached ssh-agent x64 binary that will capture the error code returned by windows,
[ssh-agent.zip](https://github.com/Po

[2017-09-07 23:38] bingbing8 commented on #844
@thomasgeorgec, @JonathanHolvey, and @Dchan40, Looks like you run in cmd terminal. This is a powershell issue which has fixed in pscore. please refer to this [issue](https://github.com/PowerShell/PowerShell/issues/4036) and this [PR](https://github.com/PowerShell/PowerShell/pull/4178). If you run the default powershell version on windows, you will still see this.

@alaksandus Did you run the scrip

[2017-09-08 02:37] StevcenSongqh opened #876 "user feedback need to assign execute rights on the files"
Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

I just installed the latest OpenSSH on windows 7 successfully, user can login and see the folders, but they feedback they only have read and write permission, they ask me to assign execute right for them to sync, please help where can I assign this right for user to dow

[2017-09-08 02:47] bagajjal commented on #876
I didn't quite understand execute right for sync...
Using sftp users can download / upload the files.. Is that what you are looking for?

[2017-09-08 03:06] StevcenSongqh commented on #876
Dear Bagajjal,  here is the message from our sftp client --> "**We are unable to read the files from ‘ToXXX’ directory as the files has only read/write permissions as shown in the below screenshot. The user must have read/write/execute permissions to pick the files from the folder.**"

the is the screen dump in their end...
![screen dump](https://user-images.githubusercontent.com/31753002/30194413

[2017-09-08 05:07] bagajjal commented on #876
Is the get command failing from sftp client? Sftp shows the execute flag (x in rwx) only when it's an executable but if you look at the windows file properties , you may have the execute permissions... This is a deviation to more align with the Unix world...

sftp get command needs just the read permissions to download the files from sftp server.. It doesn't require the execute permissions...

Sft

[2017-09-08 06:07] StevcenSongqh commented on #876
The sftp client insist that they need to have the read/write/execute permission (see the following screen shot), please help which command to assign the files whih the request right in openSSH for windows 7 ?

![wincp1](https://user-images.githubusercontent.com/31753002/30198195-fd7da27a-949e-11e7-80f9-e2462cc777d3.jpg)

[2017-09-08 12:00] sr-verde commented on #780
Try something like this (replacing `dir` by your command):

`$ ssh win7@10.10.10.10 'powershell.exe  "& {dir; Stop-Process -Force -Processname PowerShell}"'`

It’s not very … pretty, but should work.

[2017-09-08 18:45] bagajjal commented on #876
That doesn't sound right.. looks like the sftp client you are using has a bug.
What is the sftp client you are using?

Have you tried different sftp clients (winscp/FileZilla/win32-sftpclient)?

[2017-09-11 04:37] liurui39660 opened #877 "Window server 2016 can't start ssh-agent service"
**"OpenSSH for Windows" version**
0.0.20.0

**Server OperatingSystem**
Windows Server 2016 Datacenter

**Client OperatingSystem**
None

**What is failing**
Failed to start `ssh-agent `service

**Expected output**
The `ssh-agent` service starts successfully, thus `sshd` can start

**Actual output**
An error when starting `ssh-agent` service

Therefore, `sshd` can't start

[2017-09-11 06:35] bagajjal commented on #877
Please share the ssh-agent DEBUG3 logs

[2017-09-11 07:04] liurui39660 commented on #877
Only one line

Then, nothing happened, ssh-agent didn't exit but keep running.
However, while it is running, `sshd` service is still unavailable, it returns the same error as before:

[2017-09-11 09:30] Andrei-Paul commented on #846
So far the policy still stands and all is working fine. Whatever removed "NT SERVICE\ALL SERVICES" may have been a one time event or human error.

I don't know (yet) if it is possible, but perhaps the 'nicest' way to handle this is to check if "NT SERVICE\ALL SERVICES" is assigned to the policy and, if not, add NT SERVICE\sshd.

That way the policy doesn't become cluttered and in case of fringe ca

[2017-09-11 10:08] guskovd commented on #852
I don't know. 3.1.0 is the first version I tried.

[2017-09-11 11:40] DarwinJS commented on #846
@Andrei-Paul - a little snooping shows that some organizations might be managing this policy with group policy and when they do so, they may have to add "NT SERVICE\ALL SERVICES" explicitly: (e.g. https://www.codykonior.com/2015/11/16/rebuilding-the-log-on-as-a-service-list-after-it-has-been-overwritten-by-group-policy/)

However, if this is the case - then whatever you put in there will keep gett

[2017-09-11 17:51] manojampalam commented on #877
Try doing this interactively -
ssh-agent -d

[2017-09-11 17:53] foobarberger opened #878 "Public Key Authentication Fail"
**"OpenSSH for Windows" version**
OpenSSH_7.5p1, LibreSSL 2.5.3

**Server OperatingSystem**
Windows Server 2012 R2 Standard

**Client OperatingSystem**
CentOS Linux release 7.3.1611 (Core)

**What is failing**
Public Key Logins Failing

**Actual output**
```debug2: key not found```

I have faithfuly followed the [installation instructions](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-W

[2017-09-11 18:34] bagajjal commented on #878
Please remove the (FOODOM1\REMOTEUSER:(F)) permissions to authorized_keys and try again.
If it fails then please share sshd_logs with DEBUG3 enabled.

Your icacls should look like this,
C:\Users\REMOTEUSER\.ssh>icacls authorized_keys
authorized_keys NT SERVICE\sshd:(R)
                NT AUTHORITY\SYSTEM:(F)
                BUILTIN\Administrators:(F)

[2017-09-11 19:24] manojampalam commented on #878
@bagajjal its ok for owner (in this case remoteuser) to have allow permissions.

@foobarberger It will help if you can share traces around the following entry sshd.log
debug2: key not found

Also check the encoding of authorized_keys (only ASCII and UTF-8 are supported. )

[2017-09-11 20:26] foobarberger commented on #878
@manojampalam  Since my last post, I discovered that I was able to successfully log in to the windows server *from it's self* using keys (just to add to confusion). I have attached the logs from the successful login as well.

# Linux to Windows

[code]

# Successful Windows localhost login

[code]

[2017-09-11 20:39] foobarberger commented on #878
@manojampalam I avoid using any text editor when dealing with ```authorized_keys``` , and so used ```type id_dsa.pub > authorized_keys``` to create it. Will ```type``` alter the encoding? Sorry, not a windows guy.

I used ```Get-Content``` and ```Set-Content``` in powershell to set encoding from ```ANSI``` to ```utf-8```, but noticed no changes in behavior or in logs.

[2017-09-11 21:54] bingbing8 opened #879 "win10: ssh.exe hangs when -v option is supplied."
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
V0.0.20.0

**Server OperatingSystem**
Win10

**Client OperatingSystem**
Win10

**What is failing**
ssh.exe hangs when -v option is supplied.

**Expected output**
ssh.exe returns when -v is not s

[2017-09-11 22:37] gravcat opened #880 "install-sshd.ps1 is not valid for many environments"
Please answer the following

**"OpenSSH for Windows" version**
0.0.20.0 (and earlier)

**Server OperatingSystem**
Microsoft Windows [Version 10.0.15063] (Windows 10)

**Client OperatingSystem**
Microsoft Windows [Version 10.0.15063] (Windows 10)

**What is failing**
install-sshd.ps1 does not execute on Windows 10 via Azure's Custom Script Extension, a method to run a script on a virtual machine. M

[2017-09-11 22:42] gravcat commented on #880
I can't find install-sshd.ps1 in your repository, so I'll just have to describe as best I can.

Around line 220 in install-sshd.ps1, there is an if conditional which checks the powershell edition.

[code]

Unfortunately this is not valid for many platforms, including my Windows 10 systems. We require Windows 10 because we are using the latest advancements with the Windows Subsystem for Linux. I su

[2017-09-12 00:17] liurui39660 commented on #877
There is something strange: after doing some `ssh-agent -d` , `ssh-agent -ddd` and some `Ctrl+C`, the `ssh-agent` service is able to start, `sshd` is also available.

The only thing I did after last post is trying to install `freeSSHd` and `freeFTPd`, both of them are setup successfully, the former occupied port 22, and the latter occupied port 20 (I assigned it). I shut them down before I tried `

[2017-09-12 00:17] #877 closed, assigned to nobody

[2017-09-12 00:56] JW0914 commented on #878
@foobarberger Please post your client ssh log [debug2] from Linux

[2017-09-12 01:05] JW0914 commented on #847
@manojampalam Thank you, I appreciate that.

[2017-09-12 02:01] bagajjal commented on #845
@thecliguy  - I have fixed this. Could you please test these private changes and let me know if everything looks good..
[ssh_alt_meta_fix.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1294504/ssh_alt_meta_fix.zip)

[2017-09-12 06:22] nkrepo opened #881 "PSReadline misaligned output"
**"OpenSSH for Windows" version**
0.0.20.0

**OS details**
Microsoft Windows 10 Pro 64-bit 10.0.15063 (Creators Update)

**What is failing**
When tab is pressed to provide autocomplete for the cmdlet's parameters, the output is misaligned.

**Expected output**
For example when PSReadline module is loaded and tab is pressed after "ls -":
![image](https://user-images.githubusercontent.com/8989693/30

[2017-09-12 11:27] foobarberger commented on #878
@JW0914 client ssh log

[code]

[2017-09-12 11:50] foobarberger commented on #878
@manojampalam @JW0914 I have also tried building the latest version of [OpenSSH Portable Release](https://www.openssh.com/portable.html) from ```deraadtco``` while reading ```Cerebus``` and eating ```poutine``` for the full Canadian. No significant differences in logging output.

[code]

[2017-09-12 13:13] JW0914 commented on #878
@foobarberger You're issue appears to be stemming from the following error:
- `key_parse_private2: missing begin marker`

There's a handful of things that can cause this, and while I'll list the few I know of here, it will also be best to google the above error.  Possible causes:
- **Incorrect/corrupted PEM file**
   - I experienced this when I first setup OpenSSH on Windows and my issues were ste

[2017-09-12 13:30] foobarberger commented on #878
@JW0914 Yeah, I pointed that out earlier, and have already checked everything you've pointed out. The fact that I can successfully log in using keys from a windows host, and my linux hosts are working properly for other systems is making me suspect there is either something subtle going on in the configuration, or there is a bug that I lack the expertise to uncover. Either way, time constraints do

[2017-09-12 13:30] #878 closed, assigned to nobody

[2017-09-12 13:41] JW0914 commented on #878
@foobarberger If you haven't already, google the error message that appears to be causing this: `key_parse_private2: missing begin marker`

[2017-09-12 13:52] JW0914 commented on #878
@foobarberger If you haven't already, google the error message that appears to be causing this: `key_parse_private2: missing begin marker`

Also, this may not occur on Server 2012, but it does in Windows 10, so also verify inheritance has actually been disabled for the aforementioned files and directories in my prior post.

- For a reason I didn't feel like troubleshooting, removing inheritance vi

[2017-09-12 14:45] gravcat commented on #881
Dropping this here in case your issue is more relevant there

https://github.com/PowerShell/PSReadLine

[2017-09-12 18:09] bagajjal commented on #875
@reap3r119 - Any update on this? Can you try on a different machine?

[2017-09-12 18:11] bagajjal commented on #881
@gravcat - This is because of "https://github.com/PowerShell/Win32-OpenSSH/issues/590".
I am closing this issue as duplicate.

You can verify this by starting the sshd in the debug mode
a) net stop sshd
b) .\sshd.exe -ddd

Now start a ssh session...

[2017-09-12 18:11] #881 closed, assigned to nobody

[2017-09-12 18:12] bagajjal commented on #590
#881  is related to this bug

[2017-09-12 18:14] bagajjal commented on #876
@StevcenSongqh - Any update on this?

[2017-09-12 18:15] bagajjal commented on #848
@Mayhem93 - Any update on this?

[2017-09-12 18:27] gravcat commented on #881
@bagajjal not my issue just trying to help out! @nkrepo see above.

[2017-09-12 18:47] Mayhem93 commented on #848
@bagajjal Upgraded to v0.0.20 and I can't replicate the original issue.

[2017-09-12 19:21] bagajjal commented on #848
@Mayhem93 - When you ssh to unix ssh server, clear screen shouldn't happen.
I can't repro this (ssh to unix ssh server). Here it is,

![ssh-cls](https://user-images.githubusercontent.com/23668037/30344516-6e6f0fc2-97b6-11e7-99fd-8e85221fff02.gif)

But when you ssh to windows ssh server, clear screen will happen. This is expected because of the pty implementation on windows.

[2017-09-12 19:55] Mayhem93 commented on #848
Yes, that's correct, sorry. I meant to say otherwise

[2017-09-12 19:56] #848 closed, assigned to bagajjal

[2017-09-12 19:57] bagajjal commented on #848
Ok thanks, closing the issue.

[2017-09-12 21:09] JW0914 commented on #855
@nightwish47 Have you verified client and server are using the same authentication methods, and if you utilize debug2 (may need to be debug3), the server log will show exactly what the issue is when compared against the client log _(also set to debug2 || debug3)_.

- The 1024bit key isn't an SHA1 RSA key is it, as those are auto disabled unless one specifically sets SHA1 keys are able to be utiliz

[2017-09-12 21:37] JW0914 commented on #870
authorized_keys should only be accessible by the user and sshd.
 - **_%USERPROFILE%\\.ssh\\authorized_keys_**
     - ```
       NT SERVICE\sshd:(R)
       WRT\JW0914:(F)
[code]

[2017-09-13 00:14] jpham34 opened #882 "SSH CA model doesn't work"
Please answer the following

**"OpenSSH for Windows" version**
 0.0.20.0

**Server OperatingSystem**
Windows Server 2012 Standard

**Client OperatingSystem**
macOS Sierra v 10.12.6

**What is failing**
TrustedUserCAKeys flag in sshd config is not validating signed cert from client

**Expected output**
Checks for signed cert and allows for sign in

**Actual output**
fails at sign_and_send_pubkey an

[2017-09-13 00:44] bagajjal commented on #791
@neoclust - any update on this?

[2017-09-13 09:19] thecliguy commented on #845
@bagajjal - Excellent. I will conduct some tests tonight and let you know the outcome.

[2017-09-13 12:14] StevcenSongqh commented on #876
hi bagajjal,
I have reinstalled the SFTP server with CYGWIN and it looks settle the issue, my client now can connect
thanksSteven Song

      From: bagajjal <notifications@github.com>
 To: PowerShell/Win32-OpenSSH <Win32-OpenSSH@noreply.github.com>
Cc: StevcenSongqh <songqh@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Wednesday, September 13, 2017 2:15 AM
 Subject: Re: [PowerShell/Win32

[2017-09-13 12:28] JW0914 commented on #870
@248668342 @bagajjal  authorized_keys should only be accessible by the _user_ and _sshd_, and should be owned by the user, **_not_** NT AUTHORITY/SYSTEM or BUILTIN\Administrators.
 - **_%USERPROFILE%\\.ssh\\authorized_keys_**
[code]
   - Remove all inheritance for .ssh and all files contained within _(Properties -> Security -> Advanced)_
      - Remove all users but the signed in user, then:

[2017-09-13 13:35] JW0914 commented on #844
@alaksandus @JonathanHolvey @Dchan40 @thomasgeorgec Fully reading instructions will prevent issues such as this....

[4th Bullet Down](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH): Start Windows Powershell as **_Administrator_**

[2017-09-13 14:03] JW0914 commented on #844
**[Disregard, see @bingbing8's [reply](https://github.com/PowerShell/Win32-OpenSSH/issues/844#issuecomment-329258556) below]**

_@alaksandus @joeyaiello @JonathanHolvey @Dchan40 @thomasgeorgec Fully reading instructions will prevent issues such as this..._

- [4th Bullet Down](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH): Start Windows Powershell as **_Administrator_**

[2017-09-13 15:15] rustyx commented on #420
For a **domain account** you must use the format **DOMAIN\username**. Your key does not have to be signed.

[2017-09-13 16:10] #876 closed, assigned to bagajjal

[2017-09-13 16:57] manojampalam commented on #870
8708 14:23:49:580 debug1: trying public key file C:\WINDOWS\.ssh/authorized_keys
8708 14:23:49:580 Authentication refused.

This implies that loading of user profile might have failed (OpenSSH defaults to c:\windows if user profile cannot be loaded). Can you check ssh-agent logs ?

[2017-09-13 17:02] manojampalam commented on #882
We'll take a look, but we haven't validated this scenario yet. This will most likely end up as a backlog work item.

Ideally - In Windows, CA trust should be enabled by adding the CA cert into "Trusted" cert store. OpenSSH is not wired to work with Windows Cert store yet.

[2017-09-13 17:06] manojampalam commented on #880
Thanks @gravcat. Did you evaluate the Chocolatey version of this package? install-sshd.ps1 is supposed to be a bare bones installer until we have an official supported version. @joeyaiello may have some input here.

[2017-09-13 17:09] manojampalam commented on #851
ssh-agent for Windows is implemented as a service. You'll need to run install-sshd.ps1 to install ssh-agent service.
Reopen if you have any questions.

[2017-09-13 17:09] #851 closed, assigned to nobody

[2017-09-13 17:11] gravcat commented on #880
Here's the link to the repository, and a link to the Chocolatey page for it.
1. https://github.com/DarwinJS/ChocoPackages/tree/master/openssh
2. https://chocolatey.org/packages/openssh

If there's a better way to be doing this I'll happily oblige! I actually ended up working with the Azure team to determine the cause of the fault in `install-sshd.ps1` so I'm very committed!

It just seems that `in

[2017-09-13 18:10] SilentSpud commented on #875
I tested it with a fresh install of ubuntu server, and I'm not encountering the same issue any more. I'll look more into what's different when I get back

[2017-09-13 18:12] bagajjal commented on #875
Thank you.. I'm closing this issue.

[2017-09-13 18:12] #875 closed, assigned to bagajjal

[2017-09-13 18:37] bingbing8 commented on #844
@JW0914 , You might use latest powershell version from git. This issue is due to a powershell [issue](https://github.com/PowerShell/PowerShell/issues/4036) and this [PR](https://github.com/PowerShell/PowerShell/pull/4178) fixed it in pscore on git. but not fixed in Windows builtin powershell yet. I can repro it with Admin Cmd Terminal on windows 10. but there is nothing we can fix in our script.

[2017-09-13 18:49] DarwinJS commented on #844
@JW0914 - You might want to try -command syntax to call the file like this:

`Powershell.exe -ExecutionPolicy Bypass -Command ". .\FixHostFilePermissions.ps1 -Confirm:$false"`

Note the first "." is a call operator.

In your actual execution scenario what is calling Powershell.exe ?

[2017-09-13 19:22] joeyaiello commented on #548
Putting a note here: got some interest in this offline. :)

[2017-09-13 20:09] JW0914 commented on #844
@bingbing8 I'm using PS 6 and wasn't aware of that, thanks =]

@DarwinJS The first two PowerShell script outputs were from a command terminal (cmd), whereas the latter two were from a PowerShell terminal.

In regards to syntax, I allow execution of remotely signed scripts, and have PowerShell added to PATH so I simply execute `.\FixHostFilePermissions.ps1` from a PS terminal.

- I used the command

[2017-09-13 20:28] jpham34 commented on #882
Thanks for taking a look. Having this model setup is a huge time saver in managing keys across a fleet of servers. Not to mention the security benefits and compliance issues that would be taken care of in industry certifications for temporal access granting i.e. Netflix's BLESS tool.

ISO 27001 certification:

[2017-09-13 22:56] bingbing8 commented on #844
@thomasgeorgec, @JonathanHolvey, @alaksandus, and @Dchan40, please work around the [issue](https://github.com/PowerShell/PowerShell/issues/4036) as pointed above by @DarwinJS if you are not using pscore from git.

[2017-09-13 23:07] cowlinator commented on #851
Thank you manojampalam.  You were correct.
I was able to resolve this by running
powershell -ExecutionPolicy Bypass -File "%ProgramFiles%\OpenSSH-Win64\install-sshd.ps1"

[2017-09-14 06:35] thomasgeorgec commented on #844
@bingbing8 , @JW0914 , thank you very much. I worked around the manual way :)

[2017-09-14 15:46] necouchman opened #883 "libssh2 SFTP Upload Failure"
**"OpenSSH for Windows" version**
0.0.20.0

**Server OperatingSystem**
Windows 10 Enterprise

**Client OperatingSystem**
Guacamole/libssh2/Linux

**What is failing**
File uploads

**Actual output**
Unable to open file <filename>

**Description**
The application we are using leverages the libssh2 library for SSH and SFTP connections.  It works fine against other UNIX-based SSH servers for uploading

[2017-09-14 17:08] manojampalam commented on #867
Reopen if needed.

[2017-09-14 17:08] #867 closed, assigned to nobody

[2017-09-14 17:10] manojampalam commented on #742
Please reopen with appropriate logs if needed.

[2017-09-14 17:10] #742 closed, assigned to nobody

[2017-09-14 17:11] manojampalam commented on #824
Reopen if needed.

[2017-09-14 17:11] #824 closed, assigned to nobody

[2017-09-14 17:16] kviktor commented on #824
It was an administrator user, the Windows machine runs in a trusted environment so I just used `sshpass` in my script, not nice but works.

[2017-09-14 23:48] hsson commented on #882
Same issue, I have specified the path of my authorized keys in sshd_config as:
`AuthorizedKeysFile	C:\Program Files\OpenSSH\.ssh\authorized_keys`
My public key is in this file as expected, but when trying to SSH I still get prompted to enter the password.

[2017-09-15 04:42] hartois commented on #863
Any news on this?

[2017-09-15 09:42] gassman commented on #883
Looking into this a bit, the Linux open() function supports a number of mode bit including:

File Permissions
[code]

File Type
[code]
The file type maps to the libssh2 SFTP constants for:
[code]
So I am wondering if the open() library function used by OpenSSH here is honouring these file types.

[2017-09-15 17:26] Valdaun commented on #876
I also am facing the same issues here, I believe this is actually a Win32-OpenSSH specific problem not one of the clients used.   I get the same symptoms from both FileZilla and WinSCP.  Files are uploaded successfully but only have rw permission from the point of view from the clients:

![image](https://user-images.githubusercontent.com/8713530/30495066-80dba620-9a18-11e7-8fa1-c60e87254659.png)

[2017-09-15 17:58] Valdaun opened #884 "Uploaded files have no delete permission"
**"OpenSSH for Windows version**

Brand new latest version using the Choco installer method 1b (super slick btw, install worked 100% perfectly as a single copy/paste line):

Progress: Downloading openssh **0.0.20.20170913**... 100%

openssh v0.0.20.20170913 [Approved]
openssh package files install completed. Performing other installation steps.
Running on: Windows Server 2012 R2 Standard, (ServerS

[2017-09-15 18:04] Valdaun commented on #884
One other thing I thought to try right after was to see if using an SSH client alone and creating files once logged in would have any issues.   I connected using PuTTY as the same test user, and ran the following to create a directory and then a single text file:

![image](https://user-images.githubusercontent.com/8713530/30496796-8fc10184-9a1e-11e7-9c0e-72fe8e04c1b4.png)

Both the folder and the

[2017-09-15 19:29] Valdaun commented on #884
One last update ... I was able to implement a workaround by granting that local account "cisco" membership in the local "Administrators" group (which gets assigned full control permission).   This is not ideal, as it violates the concept of least privilege but it did allow me to proceed and use this for now which I'm happy about.  Hopefully the underlying issue can be resolved at some point, howev

[2017-09-15 19:34] bagajjal commented on #884
@Valdaun - Thanks for reporting the issue. We will target the fix for the next release.

[2017-09-15 23:24] thecliguy commented on #845
@bagajjal Apologies for the delay. I have conducted some tests using the version you supplied in 'ssh_alt_meta_fix.zip'.

As mentioned in my initial post, in Weechat (an IRC client), navigating between buffers is achieved by:
1. Pressing and holding the meta key, followed by a number key (1-9).
1. Pressing and holding the meta key, followed by an arrow key.

Previously, neither of these navigation

[2017-09-16 00:40] bingbing8 commented on #752
@razrjk, I start looking this. Could you please share more information so I can try it from end to end?
1. Can you share the steps you setup the git client? Are you using the git client for window from this [link](https://git-scm.com/download/win)? or a unix client?
2. Can you share the steps you set up git server over win32_openssh?(steps to setup git server and steps to config sshd so it talk to

[2017-09-16 04:18] manojampalam commented on #801
Looks like the trace message is being logged from core OpenSSH code. IF so, you would see a similar event in auth logs on Unix. Can you please confirm this and open up a bug in OpenSSH main project if this indeed is the case?

Otherwise, please reopen.

[2017-09-16 04:18] #801 closed, assigned to manojampalam

[2017-09-16 04:20] manojampalam commented on #847
Reopening to keep track of this for the upcoming milestone.

[2017-09-16 05:41] manojampalam commented on #882
@hsson, your entry should look like
AuthorizedKeysFile "C:\Program Files\OpenSSH\.ssh\authorized_keys"

Also ensure that the permissions are correct. That file should be owned by "Administrators" and have the following ACLs:
BUILTIN\Administrators:(F)
NT AUTHORITY\SYSTEM:(F)
NT SERVICE\sshd:(R)

[2017-09-16 15:01] Rondom commented on #90
If there is such a use case (which one?), wouldn't it be enough to instruct those users to write their own wrapper that checks whether it is run in an SSH-session and put it into their profile?

[2017-09-16 17:04] razrjk commented on #752
1) Yes. Git for Windows with the mingw unix tools also installed.  The ssh client doesn't matter (except to know which one is being used for debugging purposes).  I've used several different combinations:  OpenSSH, cygwin, Git ssh, Git putty.
2) It has been a while since I got everything working.  Attached are my raw notes, there is some random information in these notes.
[notes.txt](https://githu

[2017-09-18 00:09] #874 closed, assigned to bingbing8

[2017-09-18 00:10] #873 closed, assigned to bingbing8

[2017-09-18 00:11] #879 closed, assigned to bingbing8

[2017-09-18 00:12] bingbing8 commented on #872
Keep this issue still open because there is an exception due to appverifier issue on win7

[2017-09-18 00:14] bingbing8 commented on #844
close this discussion since this is not an issue in our script.

[2017-09-18 00:14] #844 closed, assigned to bingbing8

[2017-09-18 20:12] hsson commented on #882
In my case it turned out to be an encoding problem. Sorry to bother. It's working for me now.

[2017-09-18 21:06] hsson commented on #800
Unfortunately this solutions breaks so many things -- I was hoping there would be a more reliable and stable one. First of all, it breaks use cases where you just want to execute a single command, such as `ssh Administrator@<ip address> "echo hello"`. If using the ForceCommand solution this will completely ignore the original ssh command and just start powershell.

Another thing that completely br

[2017-09-18 21:22] hsson commented on #90
Is there any workaround to get Powershell as default shell without breaking things like SFTP? All I can see as a solution for now is to prepend every command in our automation scripts at work with powershell.exe. This is not very ideal though. We typically execute single commands in an automated fashion with `ssh Administrator@<ip> <command>`

[2017-09-18 23:01] bagajjal opened #885 "ssh client sends \0"
ssh client sends \0 when it couldn't find matching condition.

int
ReadConsoleForTermEmul(HANDLE hInput, char *destin, int destinlen)
{
![image](https://user-images.githubusercontent.com/23668037/30568530-80cc6ce0-9c8a-11e7-9671-e8ccab765fbe.png)
}

[2017-09-18 23:04] bagajjal opened #886 "sshd doesn't support meta keys"
sshd doesn't support meta keys like alt+a, alt+shift+a, ctrl+alt+shift+a, etc.

[2017-09-18 23:23] bagajjal commented on #845
@thecliguy - Thanks for trying the private changes.
I couldn't test the curosor keys (alt+up/down/etc).. I have fixed this issue and tested.
Please test this latest private binary.
[ssh_fixAlt_issue.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1312566/ssh_fixAlt_issue.zip)

[2017-09-19 19:28] manojampalam commented on #90
Here's one proposal if its OK to change the default shell for all users.
Support a registry entry like this:
![image](https://user-images.githubusercontent.com/14185020/30611075-27aa9c3a-9d35-11e7-937d-413215365ba2.png)

[2017-09-19 20:06] erichiller commented on #90
What about a flag to indicate whether or not it is an interactive session. For example in linux, I can place a stanza at the top of my `.bashrc` to drop non interactive sessions out from the remainder of the config

[code]

[2017-09-19 21:58] thecliguy commented on #845
@bagajjal - I have tested the latest private release you provided and cursor keys (alt+up/down/etc) now work as expected.

So this issue is now resolved, thank you for addressing it so quickly!

I hope this fix will be in the next release?

[2017-09-19 23:32] bingbing8 commented on #752
@razrjk, my remote repo is setup at d:\testgit\myrepo.git on hostmachine. How do you specify the url for the path to your repo. I always see a '/' prefix at my URL. How do you remove it?
I use this command:
[code]

Here is the ssh log:
debug1: Sending command: git-upload-pack '/D:\\testgit\\myrepo.git'
debug2: channel 0: request exec confirm 1
debug3: send packet: type 98
debug2: callback done
deb

[2017-09-19 23:55] diogocp commented on #752
Try `git clone username@domain@hostmachine:D:/testgit/myrepo.git`.

You will probably continue to get the "does not appear to be a git repository" error after that, because of the way that `cmd.exe` handles single quotes (notice that there are two sets of single quotes around `''/D:/testgit/myrepo.git''` in the error message). That is the first problem that @razrjk identified.

If you want to try

[2017-09-20 04:23] bingbing8 commented on #752
@diogocp, the url you share does not work. :D: is treated as part of host in this URL
[code]

[2017-09-20 04:54] bingbing8 commented on #752
@diogocp Thanks.
yes, git clone username@domain@hostmachine:D:/testgit/myrepo.git works. your workaround works too. I am looking at the first issue @razrjk  reported.

[2017-09-20 05:25] manojampalam commented on #855
@nightwish47, did above response from @JW0914 help? Please reopen if it did not.

[2017-09-20 05:25] #855 closed, assigned to manojampalam

[2017-09-20 15:04] ghost opened #887 "Incompatible SSH"
Tried the latest build of SSH-Win64 connecting to a remote device
ssh UserName@xxx.xxx.xxx.xxx

And get the following error:
Unable to negotiate with xxx.xxx.xxx.xxx port 22: no matching cipher found. Their offer: aes128-cbc,aes192-cbc,aes256-cbc,3des-cbc

While running ssh using putty worked well.

[2017-09-20 15:32] bagajjal commented on #887
Please share the ssh logs (ssh.exe -vvv user@ip)

[2017-09-20 15:45] ghost commented on #887
OpenSSH_7.5p1, LibreSSL 2.5.3
debug3: Failed to open file:C:\\Users\\currentWinUser/.ssh/config error:2
debug3: Failed to open file:./ssh_config error:2
debug2: resolving "11.170.208.41" port 22
debug2: ssh_connect_direct: needpriv 0
debug1: Connecting to 11.170.208.41 [11.170.208.41] port 22.
debug3: socket:352, socktype:1, io:0000015929F7A4F0, fd:3
debug1: Connection established.
debug3: Failed

[2017-09-20 18:22] manojampalam commented on #887
Client supported
debug2: ciphers ctos: chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr
debug2: ciphers stoc: chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr

and server supported
debug2: ciphers ctos: aes128-cbc,aes192-cbc,aes256-cbc,3des-cbc
debug2: ciphers stoc: aes128-cbc,aes192-cbc,aes256-cbc,3des-cbc

Negotiation fails because there isn't a matching cipher.

You

[2017-09-20 18:22] #887 closed, assigned to nobody

[2017-09-20 21:09] bingbing8 commented on #752
@diogocp  how do you specify the port if you are not using the default 22?
git clone username@domain@hostmachine:47003:D:/testgit/myrepo.git does not work.

[2017-09-20 21:17] diogocp commented on #752
@bingbing8 I would set it in `~/.ssh/config`. Another alternative would be to set the environment variable `GIT_SSH_COMMAND="ssh -p 47003"`. I didn't test that, but it should work.

[2017-09-21 02:13] bingbing8 commented on #98
dup of #752

[2017-09-21 02:48] bingbing8 commented on #752
@diogocp, I don't repro the issues when pushing binary files (I use an executable file).  I add the path to git-upload-pack to the system environment variable %Path% on host machine. Did you try on 0.0.20.0?

[2017-09-21 11:01] DarwinJS commented on #851
**Avoiding this Error with the Chocolatey Package:**
When you are installing only the client tools, the ssh-agent feature is optional and must be specified like this:

`choco install -y openssh -params '"/SSHAgentFeature"'`

This facilitates install scenarios where the ssh.exe binaries are needed for reasons other than supporting ssh on an interactive user machine. (e.g. as a automation prerequisi

[2017-09-21 11:02] DarwinJS commented on #851
**Avoiding this Error with the Chocolatey Package:**
When you are installing only the client tools, the ssh-agent feature is optional and must be specified like this:

`choco install -y openssh -params '"/SSHAgentFeature"'`

This facilitates install scenarios where the ssh.exe binaries are needed for reasons other than supporting ssh on an interactive user machine. (e.g. as a automation prerequisi

[2017-09-21 11:11] svenaron opened #888 "FixHostFilePermissions.ps1 sets too strict permissions on authorized_keys"
The ssh-agent service is running as LocalSystem but authorized_keys are not readable by this user after running FixHostFilePermissions.ps1

This line fixed permissions for me:
`icacls.exe .\.ssh\authorized_keys /grant system:(R)`

[2017-09-21 12:45] diogocp commented on #752
Yes, I tried on 0.0.20.0. However, this does not happen with all binary files.

@razrjk seems to think it is related to the size of the data ("cmd.exe does not work for large streamed data. The pipe breaks under heavy traffic load."). I have some doubts about this theory because:

1. I have seen it succeed when pushing tens of megabytes and fail on pushes of less than 1 MB.
2. When it fails, it se

[2017-09-21 13:01] diogocp commented on #752
Here is a simpler alternative. Try pushing this 28K file: https://repo.gradle.org/gradle/libs-releases-local/org/gradle/gradle-wrapper/4.1/gradle-wrapper-4.1.jar

[2017-09-21 15:44] razrjk commented on #752
Diogo,
By "heavy traffic load" I mean large transfer over a weak internet connection.  This is why it was difficult to isolate the problem.  cmd.exe did not work, powershell.exe does.  When you isolate the problem down to seeing that the pipe is breaking in cmd.exe for no apparent reason, then you will know.
Consider that you may have another problem if it is failing all the time.

[2017-09-21 16:04] razrjk commented on #752
I want to clarify a point.  I'm not sure how the development has proceeded recently.
To use powershell in the nopty path, you must change the sshd source code use use it.  The shell is specified in shell-host.c.   If you do not do this, and instead pass powershell as the shell on a command line, then cmd.exe will invoke powershell.exe and you will not have removed cmd.exe from the workflow.

[2017-09-21 18:49] diogocp commented on #752
After doing some more testing, it looks like the failures are not consistent after all. The file that I meantioned above (`gradle-wrapper-4.1.jar`) failed every time, but after trimming it to around 4100-4200 bytes it starts failing randomly. Less than that and it always succeeds. It's really weird. The transfer seems to always complete in any case, the error is during the unpacking.

@razrjk this

[2017-09-21 22:21] bagajjal opened #889 "SCP build failure and new warning message"
1) SCP build is failing.
Error D8016 '/ZI' and '/guard:cf' command-line options are incompatible

2) new warning message
Warning C4013 'IsWindows8OrGreater' undefined; assuming extern returning int posix_compat E:\balu\Microsoft\Powershell\Code\openssh-portable\contrib\win32\win32compat\termio.c 261

[2017-09-21 23:48] itsupport-iattc opened #890 "fatal: ERROR. Cannot create process (2).\n"
Please answer the following

**"OpenSSH for Windows" version**
 Cannot get `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)` to work. File version from sshd.exe is 0.0.20.0

**Server OperatingSystem**
Cannot get this command to work, either `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`  Using Windows Server 2012 R2

**Clie

[2017-09-22 00:31] bagajjal commented on #890
Please share
1) sshd.log with DEBUG3 logs (add LOGLEVEL DEBUG3 in sshd_config).
2) output of the powershell command
icacls C:\OpenSSH-Win\sftp-server.exe

[2017-09-22 00:55] leodotcloud commented on #493
[code]

worked for me.

[2017-09-22 01:04] bingbing8 commented on #752
@diogocp, did you repro the binary push with powershell launched in shell-host or the cmd?

[2017-09-22 01:14] diogocp commented on #752
I didn't patch anything, I just installed it using chocolatey.

[2017-09-22 01:27] bingbing8 commented on #752
@diogocp  my question is that did you set the following config to use powershell when repro the issue? I assume yes; otherwise you will see the single quotes issue.
git config --local remote.origin.receivepack "powershell git-receive-pack"
git config --local remote.origin.uploadpack "powershell git-upload-pack"

[2017-09-22 07:41] diogocp commented on #752
@bingbing8 yes, that's what I did.

[2017-09-22 09:37] ZQUEENKK opened #891 "im not pro,at all. but brian scott vera 19494670053is hjacking fool -parole PAL"
I don't know what any of this means.
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\Curre

[2017-09-22 09:39] ZQUEENKK commented on #891
![006](https://user-images.githubusercontent.com/31450376/30738486-1ef9db4e-9f3f-11e7-9b45-ac5f7326ae8f.png)
![005](https://user-images.githubusercontent.com/31450376/30738500-271a19ce-9f3f-11e7-9391-f989a574de2d.png)
![007](https://user-images.githubusercontent.com/31450376/30738506-29b6d528-9f3f-11e7-9025-13b2ce2ba7f6.png)
![006](https://user-images.githubusercontent.com/31450376/30738510-2c395f

[2017-09-22 09:39] #891 closed

[2017-09-22 16:19] bingbing8 commented on #752
@diogocp, after that config to use powershell, push of file gradle-wrapper-4.1.jar works for me. I will try more variation.

[2017-09-22 16:27] itsupport-iattc commented on #890
Here you go:

PS C:\OpenSSH-Win64> icacls .\sftp-server.exe
.\sftp-server.exe NT AUTHORITY\SYSTEM:(I)(F)
                  BUILTIN\Administrators:(I)(F)
                  IATTC01\mlopez:(I)(F)
                  NT SERVICE\sshd:(I)(M)
[sshd.log.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1325177/sshd.log.txt)

Successfully processed 1 files; Failed processing 0 files

[2017-09-22 16:30] diogocp commented on #752
That's interesting. I've tried it dozens of times, creating new repositories (local and remote) each time, and it always fails. I've also tried this on two different machines, one running Windows Server 2008 R2 and the other Windows 10.

I'll see if I can reproduce it in a VM later.

[2017-09-23 22:42] bagajjal commented on #890
Sftp-server runs in the user space...

FTPUser1 doesn't have the permissions to read & execute Sftp-server..

Provide the access (read & execute) to everyone

[2017-09-24 15:23] nkrepo commented on #886
Hi bagajjal,  will the "ctrl+space" be also supported? It is related to PsRealine #686.

[2017-09-24 17:06] bagajjal commented on #886
There is no control sequence for sending "ctrl + space" from client to server
You can change powershell keyboard shortcut
Set-PSReadlineKeyHandler -Key Tab -Function Complete
https://github.com/lzybkr/PSReadLine

[2017-09-25 14:30] idodeclare opened #892 "DoS vector: ssh-shellhost.exe maxes out a CPU when Fabric connects"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
0.0.20.0
(N.b. the suggest syntax, `((Get-Item (Get-Command .\sshd.exe).Source).VersionInfo.FileVersion)`, fails with: `Get-Item : Cannot bind argument to parameter 'Path' because it is null.`)

[2017-09-25 18:03] bingbing8 commented on #752
@razrjk, could you share your code changes to launch powershell in shell-host.c? I don't see the difference between pass "powershell git receive-pack" as command.
The code path this line. Did you pass "C:\Windows\System32\WindowsPowerShell\v1.0" as the module name of CreateProcessW?
ret = CreateProcessW(NULL, command, NULL, NULL, TRUE, 0, NULL, NULL, &si, &pi);

[2017-09-25 18:48] razrjk commented on #752
The short answer is yes.  Invoke Powershell instead of cmd.exe.

The code changed in this area since my last pull.  This code is/was in start_withno_pty().   You want to avoid having cmd.exe in variable cmd (which is variable command in your version), or you will "cmd.exe powershell.exe", which leaves cmd.exe in the execution pipeline.

[code]

[2017-09-25 20:53] bingbing8 commented on #752
@razrjk, but the code does not go to that code path you post it above.
Even for "powershell git receive-pack" workaround, it go to the below code path. It does not prefix cmd.exe.
ret = CreateProcessW(NULL, command, NULL, NULL, TRUE, 0, NULL, NULL, &si, &pi);

[2017-09-25 21:05] manojampalam commented on #890
Cannot create process (2).

(2) indicates  - FILE NOT FOUND.
Can you double check that both sshd and sftp-server.exe are located in the same directory?

I see 2 different directories in discussion above: C:\OpenSSH-Win64 and C:\OpenSSH-Win

[2017-09-25 21:16] bingbing8 commented on #752
@razrjk, the code block you share won't be hit in the latest code in this scenario because even no matter set "powershell git receive-pack" [workaround](https://github.com/PowerShell/Win32-OpenSSH/issues/752#issuecomment-314916056) or not, it will launch command as is first without adding any prefix.  run_under_cmd is set to false so it won't reach the code you changed.

	/* Try launching command

[2017-09-25 21:39] razrjk commented on #752
@bingbing8,   Okay.  That should resolve the cmd.exe issue.   If you are still having problems, attached is my shell-host.c file.  It is working for me.

[shell-host.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1331028/shell-host.txt)

[2017-09-25 22:32] bingbing8 commented on #752
@diogocp, after setting the [workaround](https://github.com/PowerShell/Win32-OpenSSH/issues/752#issuecomment-314916056), pushing of the file gradle-wrapper-4.1.jar always works no matter single box or multi-machines. I also tried two physical machines.
What is your client setting? I tried both
```$env:GIT_SSH_COMMAND = '"C:\OpenSSH\ssh.exe" -T'```
```$env:GIT_SSH_COMMAND = '"C:\OpenSSH\ssh.exe" '`

[2017-09-25 23:57] #889 closed, assigned to bagajjal

[2017-09-26 20:27] itsupport-iattc commented on #890
Bingo. Had to update the Subsystem path for sfttp to C:\OpenSSH-Win64 . I think the reason for this is that installed the 32 bit version first, then uninstalled it and installed the 64 bit version. Seems the uninstall script doesn't clean everything up.

Thanks,

M.

[2017-09-26 20:29] #890 closed, assigned to nobody

[2017-09-26 23:52] bingbing8 opened #893 "git failed when pushing big binary files"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
0.0.20.0

**Server OperatingSystem**
Win10

**Client OperatingSystem**
Win10

**What is failing**
git failed when pushing big binary file

**Expected output**
push should push

**Actual output**

[2017-09-26 23:59] matracey opened #894 "Cannot use .ssh/config when running as SYSTEM user."
**"OpenSSH for Windows" version**
0.0.20.0

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
When running ssh.exe as NT AUTHORITY\SYSTEM (replicate via `psexec -i -s cmd.exe`), the .ssh\config file isn't getting loaded correctly. The config file is being determined as `%cd%\%systemroot%\system32\config\systemprofile\.ssh\config`.

**Expected

[2017-09-27 19:46] bingbing8 opened #895 "shell-host.c does not interpret the single quoted file path"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 0.0.20.0

**Server OperatingSystem**
win10

**Client OperatingSystem**
Win10

**What is failing**
shell-host.c passes through to cmd.exe, single quotes as literals. The literal single quotes be

[2017-09-27 21:14] bingbing8 opened #896 "ssh-keygen.exe -T hangs"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 0.0.20.0

**Server OperatingSystem**
 win10
**Client OperatingSystem**
Win10

**What is failing**
`ssh-keygen.exe -t ed25519 -T c:\mykey` hangs

**Expected output**
this is invalid usage of the

[2017-09-27 22:56] bingbing8 commented on #880
@gravcat , what is the value of $psversiontable.PSEdition on your system? this is to determine the version of powershell. On full powershell, those reference already been loaded so there is no need to add the reference.

Removing the condition and add unnecessary reference does not work on win2k12r2 full sku machine.

[2017-09-28 00:43] bagajjal commented on #845
This is fixed and code changes are submitted.
Please check the September end release.

[2017-09-28 00:43] #845 closed, assigned to bagajjal

[2017-09-28 00:43] bagajjal commented on #865
This is fixed and code changes are submitted.
Please check the September end release.

[2017-09-28 00:43] #865 closed, assigned to bagajjal

[2017-09-28 00:44] bagajjal commented on #885
This is fixed and code changes are submitted.
Please check the September end release.

[2017-09-28 00:44] #885 closed, assigned to bagajjal

[2017-09-28 00:44] bagajjal commented on #886
This is fixed and code changes are submitted.
Please check the September end release.

[2017-09-28 00:44] #886 closed, assigned to bagajjal

[2017-09-28 12:26] wcc-neal commented on #862
Thanks - the conversion to utf-8 fixed it for me as well

[2017-09-28 18:56] bingbing8 commented on #752
@razrjk, thanks for the details issues reported and steps to help to identify the problems.
1. For the single quotes issue, we are still thinking different approach to fix on server.  We recommend people to apply the [temporary workaround](https://github.com/PowerShell/Win32-OpenSSH/issues/752#issuecomment-314916056) before the fix on server.
2. I reviewed the handle you mentioned in file shell-ho

[2017-09-28 20:22] dbroeglin commented on #548
I'm curious if there is any ETA on this subject. I was trying to setup a git server on windows using Git over SSH and this would have been just the way to go.

[2017-09-29 01:09] bingbing8 commented on #895
#90

[2017-09-29 02:59] gildas opened #898 "ssh-add claims id_rsa permissions to be too open"
Just tried:

[code]

And it printed an error: Permissions for '....\id_rsa' are too open.

Although:

[code]

claims both the private and public key files "look good".

**"OpenSSH for Windows" version**
0.0.20.0

**Server OperatingSystem**
Windows 10 Enterprise

**Client OperatingSystem**
Windows 10 Enterprise

[2017-09-29 04:18] bagajjal commented on #898
Please copy the screenshot output of repair user key permissions and the output of

icacls id_rsa

[2017-09-29 07:16] HrochL commented on #752
Hi All,
about "single quotes issue" - recomended workaround must be applied on each client. This is not good thing for a common use. I would argue for some solution on the server ... ideally for the option to choosing the shell.

[2017-09-29 18:04] manojampalam commented on #548
Setting this for Oct-Mid radar to see what can be done.

[2017-09-29 18:08] manojampalam commented on #892
Possible to collect WPA/XPerf traces that can help us understand what's taking up the CPU?

[2017-09-29 18:28] #698 closed, assigned to manojampalam

[2017-09-29 20:09] idodeclare commented on #892
No — sorry, those tools are unknown to me. I was hoping the details above would help a Win32-OpenSSH developer to reproduce.

[2017-09-30 00:45] benh57 commented on #862
This saved me as well. Thanks!

[2017-10-02 17:00] manojampalam commented on #883
We'll fix this for Oct-Mid drop.

[2017-10-02 18:50] #880 closed, assigned to bingbing8

[2017-10-02 18:51] bingbing8 commented on #893
keep this open to see if user still repro it.

[2017-10-02 18:52] #888 closed, assigned to bingbing8

[2017-10-02 18:56] bingbing8 commented on #752
@HrochL , yes, it is a temporary workaround until we have a good fix on the server.

[2017-10-02 19:20] bingbing8 commented on #389
@anurse, this is due to the same issue as #752. Can you try the workaround in [Setting up a Git server on Windows using Git for Windows and Win32_OpenSSH](https://github.com/PowerShell/Win32-OpenSSH/wiki/Setting-up-a-Git-server-on-Windows-using-Git-for-Windows-and-Win32_OpenSSH). please let me know if you see any other issue.

Move this issue to Beta until we have a proper fix on server.

[2017-10-02 19:22] benvindo commented on #752
Hello @bingbing8 ,
Could you tell me in detail where I put the git commands from the first step?

[2017-10-02 19:30] bingbing8 commented on #752
@benvindo which step? this?
To check out a repository, go to where you want to put your local repo,
[code]

[2017-10-02 19:35] bingbing8 commented on #752
Move this issue to Beta until we have a proper fix on server

[2017-10-02 19:45] benvindo commented on #752
@bingbing8
I don't understand first step in server.
I tried following some steps for configuration my remote git but unsuccessful.
when add remote like this and run git push:
` git remote set-url --add--push origin ssh://bruno.costa@b2t.corp@R2D2:/C:/web/multiprodutos/repo/homol.git`

show me this error:
[code]

I tried add remote like this too:  `git remote set-url --add --push origin ssh://bruno

[2017-10-02 19:49] analogrelay commented on #389
I can try the workaround later if you need verification of it, but I've already switched back to using msys OpenSSH because of the issue and the workaround is pretty invasive, so I'll probably just wait for a proper fix.

[2017-10-02 19:53] analogrelay commented on #389
Hang on, I'm confused by how the workaround should fix this issue. In my case, I'm cloning from `github.com`, which is **not** running Win32_OpenSSH on the server, it is running the upstream Unix version of OpenSSH. The workaround seems to be designed to fix cloning issues with a Win32_OpenSSH server, so it wouldn't apply. Am I misunderstanding it?

[2017-10-02 20:13] #882 closed, assigned to manojampalam

[2017-10-02 21:13] benvindo commented on #752
The cause of error above was I don't put environment 'git\mingw64\bin' in my variables env in server, however I got other error:
`
fatal: '/C:/web/multiprodutos/repo/homol.git' does not appear to be a git repository
fatal: Could not read from remote repository.
`

[2017-10-02 23:54] diogocp commented on #752
as recommended git remote set-url --add--push origin ssh://bruno.costa@b2t.corp@R2D2:C:/web/multiprodutos/repo/homol.git I can't even log in

There is no `ssh://` in the instructions.

[2017-10-03 08:34] gregmich29 commented on #730
You can try to edit sshd_config, then locate the line where sftp-server is call and add command line argument to the exe --> sftp-server.exe -C C:\MyDirectory
It works fine for me.

[2017-10-03 16:53] manojampalam commented on #882
@jpham34 try out the latest release. I have put some fixes to enable certificate based authentication. Let me know if see any issues.

[2017-10-03 17:47] itsupport-iattc opened #899 "ssh-keygen -G modulus candidate generation failed"
Please answer the following:

This is an ssh-keygen issue

**Server Operating System**  Windows Server 2012 R2

**Client Operating System** n/a

**What is failing**  Cannot generate primes file.

**Expected output** "Candidate primes" file necessary to generate moduli file.
Note: I'm not an expert. Following  instructions at https://entropux.net/article/openssh-moduli/

**Actual output**
c:\OpenSS

[2017-10-03 17:52] itsupport-iattc commented on #899
I'm doing this because a client that I have no control over is connecting and causing the following to appear in sshd.log. The Filezilla client connects without warnings or errors.

6100 15:25:26:500 Server listening on :: port 22.
6100 15:25:26:500 Server listening on 0.0.0.0 port 22.
5852 15:25:46:818 WARNING: could not open ./moduli (No such file or directory), using fixed modulus
5852 15:26:03

[2017-10-03 18:11] benvindo commented on #752
Hi, sorry for my lack of attention, I was focused on connecting the apps and forgetting the minimally details, Now its work perfectly.  Thanks!!

[2017-10-04 02:29] tarmizee opened #900 "Firewall Rules for OpenSSH"
Dear Expert,

Thanks for develop the OpenSSH tools. Seeking your advice for the firewall rules. I understand that ssh will require port 22. I noticed that when the source system trying to establish ssh connection to target system, additional port is required which generated dynamically. Below is the error that I received:

4076 10:10:49:923 Could not write ident string to 127.0.0.1 port 64857
840

[2017-10-04 13:33] codearoo opened #901 "How to add an SSH only user on Windows?"
I just installed openssh 0.0.21.0 via Chocolatey on Win2012 and configured it. I tested it out with an Admin account and it works fine. But I wanted to create a user so that I can connect in SSH and open some tunnels. But when trying to SSH with that user, I get "Access denied".
Since I created the user, there is no c:\users\xxx folder for that user yet. I imagine I would have to actually log in a

[2017-10-04 13:40] thomasmcneill commented on #190
I am only looking to changeroot for SFTP.  I do not think this would be a trivial problem for that particular application.

[2017-10-04 13:47] vinz243 opened #902 "Unable to type vertical bar"
**"OpenSSH for Windows" version**

`0.0.21.0`

**Server OperatingSystem**

`Debian 9.1`

**Client OperatingSystem**

Windows 10 1703 15063.632

**What is failing**

I can't type a vertical bar (`|`) in the SSH terminal. Even using KeePass auto-type it doesn't work. However, in powershell or cmd, I can normally type the vbar. The user password on my server does has the `|` character in it, so I  am

[2017-10-04 16:50] whereisaaron commented on #190
Hi @manojampalam thanks for your work on OpenSSH, it is great to see.

I think we (users) understand than a 'real' chroot for ssh is in the too hard basket, since there is no OS support. However we are just looking for a simulated chroot that contains sftp users to a folder (by manipulation/validation of the file paths or a folder mount perhaps). Check out the Microsoft IIS FTP Server and the Bisv

[2017-10-04 17:36] manojampalam commented on #901
related to https://github.com/PowerShell/Win32-OpenSSH/issues/478
you can login using that user's password over SSH (this will automatically create user's profile).

[2017-10-04 17:37] manojampalam commented on #900
As per https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH in wiki
`netsh advfirewall firewall add rule name=SSHPort dir=in action=allow protocol=TCP localport=22`

[2017-10-04 17:37] #900 closed, assigned to nobody

[2017-10-04 18:29] bagajjal commented on #902
It works for me on windows 10.
Here is the screen shot,
![image](https://user-images.githubusercontent.com/23668037/31192835-2cf2fd9a-a8f7-11e7-8d57-6b0cc9b572b7.png)

[2017-10-04 18:33] bagajjal commented on #898
Any update on this?

[2017-10-04 19:05] codearoo commented on #901
I can't. That's why I made this ticket. When I try to log in with that user over SSH, I get "Permission denied, please try again."  (this time tested from the local server itself.)

[2017-10-04 19:06] codearoo commented on #901
oh crap! It was a typo in the darn password!!
<smack in the face>  Sorry.

[2017-10-04 19:06] #901 closed, assigned to nobody

[2017-10-05 00:31] bingbing8 commented on #752
@diogocp,  can you try the [latest release] (https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.21.0) if you can repro early EOF error.

[2017-10-05 04:47] gildas commented on #898
Sorry for the delay, here we go:

[code]

And icacls:

[code]

And the results of FixUserFilePermission:
[code]

[2017-10-05 04:54] manojampalam commented on #190
@whereisaaron totally understand the limitation and thanks for the potential design options. Again, since chroot is not supported by Windows natively, it would require some effort to ensure a secure alternative. For ex. how to block indirect access to "outside" files through links.

[2017-10-05 14:44] djsweet opened #903 "shell-host.c sometimes attempts to emulate interactive features in non-PTY mode"
**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

This is not a terminal issue, but rather non-pty channels attempting to emulate a pty.

**"OpenSSH for Windows" version**
Build 0.0.21.0 (as recent as 727329abd4e471fc795331c801b65738a0cb849b)

 **Server OperatingSystem**
Server on Windows 10 Pro and Window

[2017-10-05 15:58] vcarluer opened #904 "SCP windows source path with wildcard * does not work after version 0.0.2.0"
Please answer the following

**"OpenSSH for Windows" version**
 0.0.3.0 => 0.0.21.0

**Server OperatingSystem**
CentOS release 6.8 (Final)

**Client OperatingSystem**
  Docker container: Windows Server 2016 Datacenter

**What is failing**
scp with windows source path containing wildcard *
ex: scp .\tmp\* sharefs:~

**Expected output**
Copy all files to server without directory tmp
Version 0.0.2.0:

[2017-10-05 21:54] DHowett-MSFT commented on #902
`\|` is `VK_OEM_5`.

[code]

If @vinz243 is not using a US keyboard layout, `|` may not be on `VK_OEM_5`.

[2017-10-06 01:04] vinz243 commented on #902
True enough, I'm using azerty keyboard

[2017-10-06 01:08] bingbing8 opened #905 "key based auth does not after merge from upstream"
Please answer the following
**"OpenSSH for Windows" version**
 0.0.21.0

**Server OperatingSystem**
 Win10

**Client OperatingSystem**
 Win10
**What is failing**
key auth does not after merge from upstream

**Expected output**
key auth works

**Actual output**
key auth fail and fall back to pass auth

[2017-10-06 01:25] bingbing8 commented on #905
this should be fixed in upstream. [issue 2790](https://bugzilla.mindrot.org/show_bug.cgi?id=2790) to track it.

[2017-10-06 12:32] diogocp commented on #752
@bingbing8 yes, same error with 0.0.21.0.

[2017-10-06 20:09] manojampalam opened #906 "[Security] Support disabling shell access at user level"
In Unix, shell access to a specific user can be disabled at the OS level
Ex. https://unix.stackexchange.com/questions/55106/disable-user-shell-for-security-reasons

We need similar functionality for Windows to support the relevant security scenarios.

[2017-10-07 12:58] dheater opened #907 "Service 'sshd (sshd)' cannot be started but sshd.exe runs from command line"
Please answer the following

**"OpenSSH for Windows" version**

0.0.21.0

**Server OperatingSystem**

Windows Server 2016 Standard

ProductName  : Windows Server 2016 Standard
PSPath       : Microsoft.PowerShell.Core\Registry::HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows nt\CurrentVersion\
PSParentPath : Microsoft.PowerShell.Core\Registry::HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows nt
PSChildN

[2017-10-07 15:21] bagajjal commented on #907
Verify the output of
icacls sshd.exe

Sshd service runs as "Nt service/sshd" so it should have read &execute  permissions

[2017-10-07 18:02] dheater commented on #907
PS C:\Users\dheater\Documents\OpenSSH-Win64\OpenSSH-Win64> icacls sshd.exe
sshd.exe NT AUTHORITY\SYSTEM:(F)
         BUILTIN\Administrators:(F)
         PERF-WIN2016\dheater:(F)

Successfully processed 1 files; Failed processing 0 files

[2017-10-07 20:10] bagajjal commented on #907
Please provide read, execute permissions  to  "authenticated users".

[2017-10-07 23:13] dheater commented on #907
I tried piecing together how to set permissions on a service for "authenticated users".
Below is what I came up with combining information from several websites, mainly this one: https://michlstechblog.info/blog/windows-set-permissions-on-a-service/

Apparently I didn't get it right b/c its still not working.

Can you provide the command foo for setting permissions?

[code]

[2017-10-08 04:34] bagajjal commented on #907
Get the properties of sshd.exe and in the security tab add the permissions..

[2017-10-08 11:40] dheater commented on #907
Granted "Full control" to all authenticated users

![image](https://user-images.githubusercontent.com/1173374/31316416-683ebb5c-abf2-11e7-965d-bf6114c916ba.png)

Still had the same problem so I uninstalled and reinstalled. Still had the same problem.

[2017-10-08 11:45] dheater commented on #907
I changed the `sshd` service "Log On" From:

![image](https://user-images.githubusercontent.com/1173374/31316402-29804dcc-abf2-11e7-9cd0-ad980711cbc7.png)

To:

![image](https://user-images.githubusercontent.com/1173374/31316474-d3efb9d6-abf3-11e7-97f8-8d7886767203.png)

and know I'm able to start the service.

[2017-10-08 13:17] dheater commented on #907
Root cause was that I extracted to the wrong directory.

Be sure to extract the `.zip` file to `c:\Program Files\OpenSSH` and it should work out of the box.

[2017-10-08 13:17] #907 closed, assigned to bagajjal

[2017-10-08 13:19] dheater commented on #907
BTW, if you don't extract to the correct directory, even if you getting it working, ssh keys don't work correctly.

[2017-10-08 14:00] DarwinJS commented on #907
I would love to know if you have any similar problems with the universal installer on that machine?

This oneliner should do it (installs chocolatey as well):

```set-executionpolicy RemoteSigned -Force -EA 'SilentlyContinue';iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/DarwinJS/ChocoPackages/master/openssh/InstallChoco_and_openssh_with_server.ps1'))```

If you

[2017-10-09 01:21] jborean93 opened #908 "stdin is being truncated when sent to the running process"
**"OpenSSH for Windows" version**
`0.0.21.0`

**Server OperatingSystem**
Tested on both Windows Server 2012 R2 and Server 2016 and they both have this issue

**Client OperatingSystem**
Tested on both macOS 10.13 and Centos 7
macOS SSH Client version: `OpenSSH_7.5p1, LibreSSL 2.5.4`
Centos SSH Client version: `OpenSSH_6.6.1p1, OpenSSL 1.0.1e-fips 11 Feb 2013`

**What is failing**
When sending data

[2017-10-09 15:40] cretz opened #909 "Unable To Manually Run sshd.exe"
Please answer the following

**"OpenSSH for Windows" version**
 `ssh --version`

OpenSSH_7.5p1, LibreSSL 2.5.3

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`

Windows 8.1 Pro

**Client OperatingSystem**

Windows 8.1 Pro (git bash)

**What is failing**

I run `sshd`, then I connect via `ssh localhost` using a s

[2017-10-09 15:58] cretz opened #910 "SSH Daemon Stops Listening On 22 After First Connect"
Please answer the following

**"OpenSSH for Windows" version**
 `ssh --version`

OpenSSH_7.5p1, LibreSSL 2.5.3

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`

Windows 8.1 Pro

**Client OperatingSystem**

Windows 8.1 Pro

**What is failing**

Start `sshd`. Then check `netstat -ano | findstr ":22"`:

    TCP

[2017-10-09 18:43] bagajjal commented on #909
How are you running the sshd.exe?
If you run the sshd in the debug mode (.\sshd.exe -d) then this behavior is expected.

Is there a reason why you don't want to run this as a service? FYI, you can specify selected users/groups to have access to your sshd service.

[2017-10-09 18:56] cretz commented on #909
I was running from command line. This behavior seems to deviate from `sshd -d` on nix platforms. However, if I run without `-d`, the shell host doesn't even start. Here's the client output of `ssh -vvv localhost` (with localhost not in my known hosts and using the ssh.exe from git bash):

[code]
Sadly, now I can't see server side logs on this because with the debug flag it works, only without does

[2017-10-09 18:57] bagajjal commented on #787
@PillowFish, @aayush251 , @logmein345 - is there an update on this?

[2017-10-09 20:08] bagajjal commented on #909
Have you considered the option of install-sshd.ps1 and uninstall-sshd.ps1? This will leave the system in clean state, stops and unregisters the services.

When you run ".\sshd.exe -d" the behavior in windows and unix is same (sshd.exe will stop when the current ssh session exits).

when you run ".\sshd.exe" we spawn a new sshd.exe process for each incoming ssh connection and the forked sshd.exe re

[2017-10-09 20:20] bagajjal commented on #910
If you start the sshd.exe with -d option (.\sshd.exe -d) then it will serve only one connection. so this is expected behavior (no longer listen on port 22).

If you start the sshd.exe without any option (.\sshd.exe) then we fork sshd.exe for every new connection so in this case the demon sshd.exe process will keep on listening on port 22.

I believe you are trying first scenario.. If yes, we can c

[2017-10-09 20:59] cretz commented on #910
Indeed, sorry about the mix up.

[2017-10-09 20:59] #910 closed, assigned to bagajjal

[2017-10-09 21:34] cretz commented on #909
Thanks, sorry about the `-d` red herring. I changed the title.

I have considered this, and am intentionally choosing not to. I would really really like to know what steps to take from a raw `sshd.exe` executable. Granted, the issue has now changed from exiting killing the sshd daemon in debug mode, to sshd dying when not in debug mode. I have changed the title to reflect this.

The logs were not

[2017-10-09 21:34] #909 closed, assigned to bagajjal

[2017-10-09 23:05] DarwinJS commented on #909
@cretz - since I wrote the universal installer, I certainly understand the desire to know how to do the install from scratch ;)

However, so far as I can tell. everything you've experienced in this thread (and much more) is already incorporated in the universal installer through many hard learned lessons.

[2017-10-09 23:47] jpham34 commented on #882
@manojampalam SSH certificates are working now! Thanks for the support, I don't see any issues thus far, but will let you know of any

[2017-10-10 02:00] gravcat commented on #880
Hi @bingbing8,

The $psversiontable.PSEdition = `Desktop` on Windows 10.

[2017-10-10 21:49] itsupport-iattc commented on #899
ssh-keygen -G moduli-2048.candidates -b 2048 fails in the same way on Windows Server 2012 R2, Windows 7 and Windows 10, "Found 0 candidates, modulus candidate generation failed"

Any ideas?

[2017-10-11 01:09] bagajjal commented on #902
@vinz243 - Not sure why you are facing this issue.. we don't have anything specific to VK_OEM_5.
As per code we are sending "|" to ssh server.
Can you try the keybased authentication so that you can login from the win32-openssh client.
After you login
1) execute "xxd" command
2) Type |
3) press Ctrl+D

Please paste the screenshot.

fyi, it should look like this,
![image](https://user-images.github

[2017-10-11 13:17] gildas commented on #898
Any update on this?

[2017-10-11 21:08] bingbing8 commented on #898
@gildas I don't repro this on 0.0.21.0. Can you try on 0.0.21.0? did you run ssh-add under user context of MYDOMAIN\me or any other context?
The other thing we saw before is that gildas.cherruel may have different sid from MYDOMAIN\me in some special situation. for example, after you migrate from a domain to a different domain. If this repro on 0.0.21.0. can you create a different user, login as t

[2017-10-11 23:15] bagajjal commented on #863
@hartois - I tried to use the phpseclib but couldn't get it work on ubuntu 17.04.

"apt install phpseclib" didn't work so I have download the phpseclib from http://archive.ubuntu.com/ubuntu/pool/universe/p/phpseclib/phpseclib_1.0.1.orig.tar.gz

I have downloaded it to my home folder, renamed the directory to "phpseclib" and added the home folder to PATH env variable but still it gives an error at

[2017-10-12 00:06] gildas commented on #898
Ok, obviously, I am not good at pattern matching..... MYDOMAIN\me was a feeble attempt to hide my true account name... duh.
It is all the same: gildas.cherruel is actually MYDOMAIN\me.
Sorry for the confusion.

I used it in an Administrator PowerShell, if that makes any difference?

Let me try on 0.0.21.0

[2017-10-12 05:32] gildas commented on #898
Just upgraded to 0.0.21.0. Same problem.

[2017-10-12 06:02] hartois commented on #863
Try add before:
[code]
this:
[code]

[2017-10-12 17:06] itsupport-iattc commented on #899
Hello?

[2017-10-12 21:50] bagajjal commented on #863
@hartois - The [download ](http://archive.ubuntu.com/ubuntu/pool/universe/p/phpseclib/phpseclib_1.0.1.orig.tar.gz) doesn't "phpseclib/autoload.php".

Please have a look at this,
![image](https://user-images.githubusercontent.com/23668037/31521417-54bff52c-af5e-11e7-8246-acb17ceadbc4.png)

[2017-10-13 04:35] hartois commented on #863
Please run:
[code]

Remove
[code]

Change autoload.php path:
[code]

[2017-10-13 07:49] yasu1013 opened #911 "sshd.log rotation or size limitation"
**"OpenSSH for Windows" version**
0.0.21.0

**Server OperatingSystem**
Windows Server 2012 R2

I installed OpenSSH and it works correctly, but it seems that sshd.log monotonically increases (i.e. there is no size limit, and sshd.log is not rotated). I think this is normal operation, but I would like to avoid to impact disk space.

So, I have 2 questions:
Q1. Are there any problems by rotating (cop

[2017-10-15 12:30] leppakorpi commented on #902
I have same issue on Finnish keyboard with any character that requires right AltGr key.

With 0.0.20.0 everything work and xxd reports "|" as ^@| or 007c
With 0.0.21.0 I can't type these characters nor paste them from the clipboard, xxd shows ^[| or 1b7c

When using cmd.exe or powershell.exe I can change windows keyboard layout any time and it affects ssh session instantly, us keyboard layout work

[2017-10-15 14:26] vinz243 commented on #902
@bagajjal here is the output:
[code]

Please note that I didn't have to use key based authentication, since I can type `| ` just fine when typing the password. Also, I had to press <kbd>Ctrl</kbd> + <kbd>D</kbd> twice

[2017-10-15 16:36] naodagere opened #912 "Open ssh service sshd starts then stops in windows server 2012 and it could not start manually"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).Produc

[2017-10-15 20:52] bagajjal commented on #912
Share the sshd.log with debug 3 logs

[2017-10-16 13:56] minodudd opened #913 "starting powershell in interactive session over shh"
**"OpenSSH for Windows" version**
v0.0.21.0

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
raspbian 7.2

**What is failing**
Based on suggestion in https://github.com/PowerShell/Win32-OpenSSH/issues/837 I've tried starting the ssh session using either :
`ssh -t user@domain@hostname powershell` or `ssh -t user@hostname powershell`
and running
`[Environment]::UserInteractive`

[2017-10-16 16:00] manojampalam commented on #912
For more trouble shooting info - https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2017-10-16 16:34] manojampalam commented on #911
Currently there is no mechanism to limit size of sshd.log.

That said, you may wipe sshd.log clean any time (without stopping sshd service)
Powershell
`$null | Set-Content .\logs\sshd.log`
Cmdline
`: > logs\sshd.log`

[2017-10-16 19:08] parkovski opened #914 "Ctrl+C broken"
**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 0.0.21.0

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`
Windows 10 Pro

**Client OperatingSystem**
macOS High Sierra via iTerm2 and zsh

**What is failing**
Using Ctrl+C to cancel an input line in both PowerShe

[2017-10-16 19:25] bingbing8 commented on #898
@gildas, What is the file owner of the key files?
Can you create a different user, login as that user, recreate the private key for that user, and try ssh-add under that user again?

[2017-10-17 05:42] manojampalam opened #915 "POSIX adapter: Support __S_IFDIR __S_IFREG modes on open()"
Tracking the following comment
// TODO- open(__S_IFDIR) on a file and vice versa should fail

[2017-10-17 20:32] #883 closed, assigned to manojampalam

[2017-10-17 20:32] #894 closed, assigned to manojampalam

[2017-10-17 20:32] #90 closed

[2017-10-17 20:33] #884 closed, assigned to bagajjal

[2017-10-17 20:34] bingbing8 commented on #752
@diogocp, I really can't repro it. what do you get in the client log?

[2017-10-17 21:47] ariscop commented on #913
As a workaround you could use `psexec -i` to interact with a specific session, from [sysinternals](https://docs.microsoft.com/en-au/sysinternals/downloads/sysinternals-suite)

[2017-10-17 22:05] bingbing8 opened #916 "win7: the test for powershell as default shell failed"
Context 4 - configure default shell Scenarios

  [-] 4.1 - default shell as powershell 6.99s
    Expected string length 4 but was 0. Strings differ at index 0.
    Expected: {1234}
    But was:  {}
    -----------^
    166:                 $o | Should Be "1234"
    at line: 166 in C:\git\openssh-portable\regress\pesterTests\SSH.Tests.ps1

[2017-10-18 02:12] yasu1013 commented on #911
@manojampalam Thank you for your reply.
Is that same about ssh-agent.log ? (no mechanism to limit size, any time cleaning)

[2017-10-18 02:14] bagajjal commented on #911
Yes, it is same for ssh-agent.log.

[2017-10-18 02:17] yasu1013 commented on #911
@bagajjal Thank you for quick response. I close this issue.

[2017-10-18 02:17] #911 closed, assigned to nobody

[2017-10-18 09:02] MathiasMagnus commented on #902
@bagajjal Using Hungarian keyboard I have the same problem using v0.0.22 and most of the scripting and programming special chars on AltGr: `$;#&@<>[]{}|\`

This is the console output for all of them at once:
[code]

[2017-10-18 09:56] DarwinJS opened #917 "Improve Documentation of DefaultShellCommandOption"
The documentation at https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH and screenshot https://user-images.githubusercontent.com/23668037/31640389-f133818a-b292-11e7-8522-c2bb744eb67c.png do not give sufficient information to understand when to use DefaultShellCommandOption.

The documentation only says "option to execute non-interactive commmands." and "If you are configuring

[2017-10-18 10:11] DarwinJS opened #918 "Resolve SYSTEM environment variables in "default shell path""
I am thinking of setting a "latest version of PowerShell Core" environment variable in the PowerShell Core for Windows Chocolatey package.  Hoping that could be used in this parameter to allow SSH to simply use the latest version of PowerShell Core that was installed for this value.

[2017-10-18 15:50] leppakorpi commented on #902
I think this issue was introduced by the commit https://github.com/PowerShell/openssh-portable/commit/8747626b6aa845718c51ab130692338647c187a4
contrib/win32/win32compat/tncon.c line 712

As a quick fix I would disable '\x1b' for right alt, but I guess someone Americans just can't survive with only one meta key.

[2017-10-18 16:40] SoulChild112 commented on #116
The problem for me was solved after putting the emulation settings of my ssh client(secureCRT) to "linux" instead of "ANSI". I'm sure Putty has similar settings that can be tweaked.

This only happens in windows afaik, linux hosts by themselves didn't have this issue with remote htop sessions.

The problem isn't with htop, it's with your SSH client.
![capture](https://user-images.githubusercontent

[2017-10-18 16:51] jwhipp commented on #116
This issue was really dealing with htop being odd in Window's standard command prompt terminal or the powershell terminal.  These issues have been worked out.

[2017-10-18 17:14] manojampalam commented on #918
This goes back to the discussion with having Environment Variables to decide on default shell. Security concerns we had with that approach would apply to this proposal too.

[2017-10-18 17:15] SoulChild112 commented on #116
Yeah, but when I searched for this issue, this topic kept coming back. If it did for me, so did it for others :)

[2017-10-18 20:28] bagajjal commented on #917
DefaultShellCommandOption - This is the command option associated with the default shell.

For cmd.exe / powershell.exe it is /c. For bash.exe (WSL) it is -c.

![1](https://user-images.githubusercontent.com/23668037/31741118-1e9f83e6-b408-11e7-8127-4ed53105e98e.png)

DefaultShellCommandOption is used when user want to execute remote commands. Ex - ssh user@ip hostname.

![image](https://user-image

[2017-10-19 11:27] karthick1409 commented on #730
Hi,
Thanks for the reply
I have added the argument like below in sshd.conf file but it is not
working. let me know if i miss anything.

sftp sftp_server.exe -C C:\Myftp

On Tue, Oct 3, 2017 at 2:04 PM, gregmich29 <notifications@github.com> wrote:

--
Karthick S

[2017-10-19 18:13] benvindo commented on #752
I have a similar error to @diogocp,  at some point when a member of my team sends commits to a TFS repository and after some time we try to send all the commits to the production happens the error:

[code]

[2017-10-19 23:38] bagajjal commented on #902
@leppakorpi, @MathiasMagnus, @vinz243 -
Could you guys please verify if the attached private ssh.exe binary fixes your issue?
[ssh.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1400315/ssh.zip)

[2017-10-20 00:04] t8bloom opened #919 "Restricting allowed users?"
I haven't found any way to restrict what users are allowed to SSH to the server.  RDP can be limited by the "Remote Desktop Users" group and local console logins can be restricted by local security policy.  However it appears that anyone in the users group will be granted SSH login (which is by default domain users).  Is there any way to filter the allowed users for SSH by group membership or othe

[2017-10-20 00:08] #919 closed, assigned to nobody

[2017-10-20 02:11] minodudd commented on #913
I'm afraid it didn't do the trick.
I'm still getting False for that script as well as trying to to run `nircmd.exe monitor async_off`.
The command works locally but not over ssh even when wrapped with `psexec -i`.

Specifically I've tried it with psexec64.exe, but I doubt that's the issue.

[2017-10-20 09:04] ghost opened #920 "Session.connect: java.net.SocketException: Connection reset SFTP"
We are facing this issue not all time but couple of times a day ,
we are putting our files into a SFTP location where we are asked to put the same file into two different locations,
we are able to do that but some times when we completed placing files into first location  from our application and trying to put file into Second location we are seeingSession.connect: java.net.SocketException: Connec

[2017-10-20 13:24] mikemaccana commented on #722
Just saw this now. Thanks @bingbing8 ! 😊

[2017-10-20 13:26] MathiasMagnus commented on #902
Indeed it did. Thanks. Hoping the fix get incorporated into the next release.

[2017-10-20 17:13] bagajjal commented on #902
Thanks for confirming. It will be in the next release.

[2017-10-20 17:32] parkovski commented on #918
What about generating a private key hash of the program the user designates as the default shell, and falling back to cmd.exe if the hash doesn't match? It seems like that would provide maximum flexibility but avoid the "malware changes the envvar or exe" security issue.

[2017-10-20 17:38] bagajjal commented on #920
Please share the sftp-server.log with DEBUG3 enabled in that time period.

[2017-10-20 18:49] thezim commented on #920
If you need help getting SFTP logging working see #834.

[2017-10-20 20:42] t8bloom opened #921 "AllowGroups in sshd_config does not authorize from nested groups"
For sshd.exe version 0.0.21.0

The AllowGroups feature it will only find group members nested one group down.  In my test case I created a local group called SSHUsers and added the line AllowGroups SSHUsers into sshd_config.  I then add a domain group to the local SSHUsers group, and all direct members of that group can access the SSH server.  However users nested within the domain group in anothe

[2017-10-20 20:53] bagajjal commented on #921
I think the issue is because of the cross domain users.

Can you try the same scenario with nested domain group within the same domain.

[2017-10-20 20:54] t8bloom commented on #921
Yes, this is all from within a single domain.

[2017-10-20 21:09] bagajjal commented on #921
The sshd.log (with DEBUG3 enabled) will show the groups for the failed user. Could you please verify if the sshd.log has the group configured in the sshd_config.

[2017-10-20 21:28] t8bloom commented on #921
Thanks for your help on this.  As part of the logon process I can see it enumerate all of my domain groups.  The error returned is 2584 14:19:55:856 User testX@XXXXX.com from XXX.XXX.XXX.XXX not allowed because none of user's groups are listed in AllowGroups.  Explicitly, this is true.  However one of the domain groups I am a member of is nested into the allowed domain group.  It looks like it is

[2017-10-20 21:31] manojampalam commented on #918
@parkovski can you enlighten a bit more on how your proposal would work? Are you saying that the binary need to be signed?

[2017-10-20 21:43] DarwinJS commented on #918
I think it would make more sense to simply allow it to point to another hklm reg key that openssh could populate.  This way the value is still retrievable by defacto windows config methods but protected from a user level override.  It would not be necessary to lock what key it can point to, but if being set by any authorized setup program - the program should only allow hklm.

[2017-10-20 21:47] DarwinJS commented on #918
Should also mention that this allows the flexibility for the openssh key to be decided later - or not at all - deployment automation specialists who setup openssh could elect to establish a location if openssh project does not want to.

[2017-10-20 23:09] parkovski commented on #918
@manojampalam It's along those lines but the signing data would be separate from the executable and managed by `ssh-agent`. Essentially you'd store a list of authorized shells and a command to add to the list (or an option on `ssh-add`) that requires admin privileges - this would generate a new key pair with the private key only readable by the system and hash the shell exe. You could store these

[2017-10-21 00:10] DarwinJS commented on #918
@parkovski - traditionally windows has handled the "admin write permissions" by simply requiring that the target be in either of the program files folders or either system32 folder.  If for some reason the permissions on these locations are non-standard, then the system is probably in trouble anyway.

This is effectively the built-in windows "whitelisting" for "only an admin can change / update st

[2017-10-21 00:15] DarwinJS commented on #918
Hmmm after this discussion maybe I'll scan the results and skip any paths outside of the four I mentioned unless the installer receives the switch -AllowInsecureShellEXE.  Then admins are empowered, but also warned.

[2017-10-21 14:39] DarwinJS commented on #917
It is a little better - but the registry screenshot (https://user-images.githubusercontent.com/23668037/31640389-f133818a-b292-11e7-8522-c2bb744eb67c.png) is still showing a combination that:

1. you mention is unnecessary (powershell.exe with the option specified)
2. that is not the common way it is documented everywhere for powershell  (although powershell.exe does take /c as an option, everywhe

[2017-10-21 14:52] DarwinJS commented on #918
I have the logic described above working for /PathSpecsToProbeForShellEXE and an additional switch /AllowInsecureShellEXE (which gives warning ending in "Very unwise!!")

Tested and working on Win7, Win10 and Nano.

Even with the probing built, the idea that opened this issue is still relevant.  Allowing this registry key to point to another "Admin only updatable" location where PowerShell Core's

[2017-10-21 17:24] brwilkinson opened #922 "OpenSSH-Win32\sftp-server.exe --> Trojan:Win32/Fuerboos.B!cl"
Windows 10 Enterprise

Not sure if this is expected.

I had to create AV exclusions in order to use openssh-win32.

The first file that was flagged was sftp-server.exe, however I had to exclude the whole directory.

[2017-10-23 13:30] fle108 commented on #902
Thanks for the exe, it solved my problem too (was unable to type @ key) but i can't type other specialized keys from my french keyboard, typicaly keys with accent : éèù .
Do i need to create my own issue or not ?

[2017-10-23 13:33] havalli commented on #856
@bagajjal - I teste with -n option. Still same error. How do i reopen this issue?

[2017-10-23 15:59] cretz commented on #909
@DarwinJS - Is it possible to document these "hard learned lessons"?

[2017-10-23 16:17] DarwinJS commented on #909
They are documented as the code that makes up the installer.  There are too many (especially adaptations for Nano and win7/PSH 2) to keep track of and to constantly re-compare to improvements to the install scripts that are part of this repo.

[2017-10-23 20:12] hartois commented on #863
Did you succeed in reproducing the problem?

[2017-10-23 20:15] bagajjal commented on #863
@hartois - Found the issue. Here is the private sftp-server binary to test.
[sftp-server.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1408662/sftp-server.zip)

Please let me know if you have any issues.

[2017-10-23 22:37] bagajjal commented on #902
@Tb0b - I have created the new issue #925.
FYI, as a workaround you can use putty.

[2017-10-23 23:09] bagajjal commented on #902
@Tb0b - please try the attached private binary and let me know if it works for you.
[ssh-unicode.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1409027/ssh-unicode.zip)

Here is the snapshot (with the private binary attached),
![image](https://user-images.githubusercontent.com/23668037/31917435-752aa242-b80c-11e7-934f-8d68618d6ba6.png)

[2017-10-23 23:13] bagajjal opened #925 "Unable to type french characters."
This issue reported in https://github.com/PowerShell/Win32-OpenSSH/issues/902.

ssh client doesn't support reading the unicode characters.

[2017-10-23 23:20] bagajjal commented on #922
I am assuming this is a question to AV?
We need to understand why AV considers as virus.
From win32-openssh, I don't think we can do much here.

[2017-10-24 05:04] hartois commented on #863
@bagajjal fast test now OK
I will test more carefully

[2017-10-24 08:56] fle108 commented on #902
Thanks for the .exe, it works for  éùè but now  @| and other alt-gr keys doesn’t work ☹

--
Blasta19

De : bagajjal
Envoyé le :mardi 24 octobre 2017 01:09
À : PowerShell/Win32-OpenSSH
Cc : Tb0b; Mention
Objet :Re: [PowerShell/Win32-OpenSSH] Unable to type vertical bar (#902)

@Tb0b - please try the attached private binary and let me know if it works for you.
ssh-unicode.zip
Here is the snapshot (w

[2017-10-24 09:04] fle108 commented on #925
Thanks for the .exe, it works for  éùè but now  @| and other alt-gr keys doesn’t work ☹

[2017-10-24 11:07] SallyJohnson commented on #292
I don't know how this software can get any sort of MS "sign off" https://blogs.msdn.microsoft.com/powershell/2015/10/19/openssh-for-windows-update/
It would appear that chroot is something that is not being aimed for in the first release, if at all (info gained from this and other forums). Without a chroot, its like a system admin sharing the C: drive with full share permissions on a windows file

[2017-10-24 18:32] bagajjal commented on #902
@Tb0b - Yes, the previous binary has only the unicode fix...
The attached private ssh binary now has both the unicode and the altgr related fix.
[ssh-unicode-altgr.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1412021/ssh-unicode-altgr.zip)

[2017-10-24 20:09] bravo-kernel commented on #253
Using `username@myactivedirectory.local@targetserver` works for me 👍

[2017-10-25 05:04] hartois commented on #863
I can't more reproduce problem, thanks

[2017-10-25 07:59] ddwolf commented on #390
for me, I have a valid user named usera in my windows machine, but the sshd keeps print
"Invalid user usera from x.x.x.x port 34777"
"Failed none for invalid user usera from x.x.x.x port 34777 ssh2"
...

how to make usera a valid user for sshd?

[2017-10-25 08:55] gpomykala commented on #207
Why it was closed?
"Replace a process level token" is a security risk and it should be restricted to certain accounts only

[2017-10-25 16:27] ryan-r-russo commented on #917
I too find the wording confusing.  I am attempting to use Cygwin's bash.exe and going around in circles adding various options to both DefaultShell and DefaultShellCommandOption in possibly futile attempt to get my Cygwin Bash user resource files to get sourced in.   As it stands now I have no path to Cygwin's bin dir.   Based on the discussion here it seems that DefaultShellCommandOption is meant

[2017-10-25 17:15] bagajjal commented on #207
@gpomykala - If you run sshd as service then this is automatically taken care... You don't need to provide "Replace process level token" to any other account.

[2017-10-25 17:27] bagajjal commented on #917
DefaultShellCommandOption for cygwin is -c. DefaultShellCommandOption will take a command, executes that command and exits the shell, i.e., it is used for executing a command without opening an interactive shell.

please see the attached screenshot.
![defaultshell-cygwin](https://user-images.githubusercontent.com/23668037/32012929-54ba9626-b96e-11e7-9641-bb5c38b89ab1.png)

Your registry changes sh

[2017-10-25 17:55] ryan-r-russo commented on #917
Right. I get it now.  The wording led me to believe the the separate key was for options to DefaultShell.

I get the behavior I want with Default Shell value = C:\cygwin64\bin\bash.exe --login
and DefaultShellCommandOption unset

I was trying both but, must not have restarted after one of those attempts.

Login now sources my Cygwin user's .bashrc as expected.

As the docu. reads it sounds like yo

[2017-10-25 18:20] bagajjal commented on #917
@DarwinJS , @ryan-r-russo - I have modified the wiki instructions (step -12). Feel free to reach out to me if it requires more readable text.

https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2017-10-25 19:31] bagajjal commented on #390
@ddwolf - please share the sshd.log with DEBUG3 enabled.
If you are using a domain account then login like this, ssh user@domain@host.
For more information,
https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples

[2017-10-26 00:07] agordon opened #926 "Licensing / Multi-user access / CAL"
Hello,

Does using OpenSSH on windows requires client access license (CAL) for every connection?

In particular,
1. Does OpenSSH running on a windows server require as many CALs as there are SSH users?
2. Does OpenSSH running on Windows 10 Home allows multiple users to connect with SSH at the same time?
(assuming users connected through SSH only run command-line programs, never GUI or RDS etc)

So

[2017-10-26 03:05] ddwolf commented on #390
@bagajjal I have found the problem: i made a typo in my username.

[2017-10-26 03:07] bagajjal commented on #926
You can have as many ssh connections as you want at the same time through any ssh client.
What do you mean by client access license? Users can connect with password based authentication or key based authentication (users have to generate pub/private keys).
For more information look at our wiki links
https://github.com/PowerShell/Win32-OpenSSH/wiki/SSH-remote-sessions-on-Windows

[2017-10-26 03:28] agordon commented on #926
Hello @bagajjal ,

I'm not asking about the technical possibility of multiple connections - that is obviously possible.
I'm asking about the legality and licensing requirements of such connections.

For example, to the best of my understanding, On "windows 10 home" only one user is allowed to be connected remotely at a single time (e.g. with remote desktop).

Another example: for desktop windows l

[2017-10-26 13:36] larsimmisch opened #927 "Win32-OpenSSH not working with Jenkins SSH Slaves Plugin"
**"OpenSSH for Windows" version**
 `0.0.21.0`

**Server OperatingSystem**
 `Windows 10 Enterprise`

**Client OperatingSystem**
Jenkins 2.73.2/SSH Slaves plugin 1.22

https://wiki.jenkins.io/display/JENKINS/SSH+Slaves+plugin

The Jenkins SH slaves plugin does not interoperate with the Jenkins SSH Slaves plugin. Logs indicate that the openssh server drops the connection unexpectedly. See below.

For

[2017-10-26 15:16] ghost opened #928 "unable to set Defaults:<myuser> !requiretty"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
recent

**Server OperatingSystem**
Windows Server 2012 R2 Standard

**Client OperatingSystem**
any Linux
**What is failing**
can't set Defaults:<myuser> !requiretty due to missing /etc/sudoers.d

[2017-10-26 15:28] bagajjal commented on #927
Please share the sshd_config and sshd.log with DEBUG3 enabled

[2017-10-26 20:09] fswgm commented on #926
Let's answer this in two parts, with the easy part first.
1: "Does OpenSSH running on a windows server require as many CALs as there are SSH users?"
asdasd
2: "Does OpenSSH running on Windows 10 Home allows multiple users to connect with SSH at the same time?"

The answer to question 1 is the easy one. You need a Windows Server CAL (>= version on the server) for every user or device that is access

[2017-10-27 01:17] joeyaiello commented on #926
@agordon that's a really good question! I want to make sure I get the language exactly right, let me get back to you. :)

[2017-10-27 11:56] naatje80 opened #929 "ssh client freezes with output redirection to stdin of Linux server...."
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
v0.0.22.0

**Server OperatingSystem**
Scientific Linux 6.9

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
When forwarding text to stdin to Linux server running ssh-daemon

[2017-10-27 11:58] naatje80 commented on #929
Forgot to mention i could stop the client by typing Control+C.

[2017-10-27 12:30] larsimmisch commented on #927
Attached are the log file with DEBUG3 and the configuration .

[sshd.log](https://github.com/PowerShell/Win32-OpenSSH/files/1422011/sshd.log)
[sshd_config.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1422014/sshd_config.txt)

I do have the sneaking suspicion that the far end closes the connection. Have you got any idea where to look on the other side? This may be a bug in the Java SSH li

[2017-10-28 05:21] bagajjal commented on #927
Logs indicate that the connection is teared down by the ssh client..

7292 05:14:37:498 debug1: Executing command: C:\\Program Files\\OpenSSH-Win64\\ssh-shellhost.exe -nopty dHJ1ZQ==
7292 05:14:37:498 debug2: fd 3 setting TCP_NODELAY
7292 05:14:37:498 debug3: fd 10 is O_NONBLOCK
7292 05:14:37:498 debug3: fd 9 is O_NONBLOCK
7292 05:14:37:498 debug3: fd 12 is O_NONBLOCK
7292 05:14:37:498 debug3: sen

[2017-10-28 13:37] JW0914 commented on #894
While this is closed, it should be notated the SSH daemon **should not be ran as System** on a multi-user OS, as if the SSH daemon is ever compromised, it will allow system level access to the exploit.

- On Linux/BSD, if the SSH daemon is running as a server, it's configured as either a chroot or within a jail, preventing an exploit from gaining access to anything outside of the chroot/jail.

[2017-10-28 13:53] JW0914 commented on #898
More likely than not, _Administrators_ or _System_ is the owner of _%UserProfile%\\.ssh_, as one or the other is the default owner of _%UserProfile%_.

- The easiest way to prevent permissions errors, as well as to ensure only the correct users have access is to disable inheritance on _%UserProfile\\.ssh_, as well as every other directory or file contained within.
   - For example, _%UserProfile\\

[2017-10-28 14:00] JW0914 commented on #898
More likely than not, _Administrators_ or _System_ is the owner of _%UserProfile%\\.ssh\\id_rsa_, as one or the other is the default owner of _%UserProfile%_.

- The easiest way to prevent permissions errors, as well as to ensure only the correct users have access, is to disable inheritance on _%UserProfile%\\.ssh_, as well as every other directory or file contained within, ensuring the user is th

[2017-10-28 14:53] JW0914 opened #930 "Install-sshd.ps1 should set correct user directory/file permissions"
**"OpenSSH for Windows" version**
All

**Client OperatingSystem**
All

**What is failing**
Repeated issues being opened by users as a result of incorrect permissions, of which can be easily corrected by having `install-sshd.ps1` create the proper permissions from the get-go.

- _Users should not be required to manually set permissions on something as sensitive as an SSH server due to the severe se

[2017-10-28 19:59] jdnichollsc opened #931 "ssh-agent returns empty"
**"OpenSSH for Windows" version**
 `v0.0.22.0`

**OperatingSystem**
 `Windows Server 2012`

**What is failing**
**ssh-agent** returns empty from the command line prompt.

**Expected output**
Say anything!

**Actual output**
Nothing...

Thanks in advance

[2017-10-29 05:46] manojampalam commented on #931
This is expected. ssh-agent is implemented as a service in Windows. Running ssh-agent.exe simply starts the service.

[2017-10-29 05:46] #931 closed, assigned to nobody

[2017-10-29 08:25] jdnichollsc commented on #931
ohh thanks for response, I'm going to use the **ssh-agent** of Git 👍

[2017-10-29 13:13] DarwinJS opened #932 "Universal Installer Changes for 0.0.22.0"
For OpenSSH version 0.0.22.0 the universal installer (and it's chocolatey package) have been updated with parameters to configure the default shell.

Updates: Universal Installer (PSH5 and non-PS5 packagemanager), Chocolatey Package, Dockerfile
Tested on: Nano RTM, Windows 10, Windows 2016, Windows 7
Most comprehensive documentation of rules and examples: https://github.com/DarwinJS/ChocoPackages/

[2017-10-30 01:01] gildas commented on #898
@bingbing8 , the file owner is my domain user.
@JW0914 , my user is the sole owner, reader, etc, of the id_rsa file. As well as ~/.ssh ~/ssh/authorized_key, and all the files in ~/.ssh.

[2017-10-30 01:23] gildas commented on #898
If I create a local user, add a key and set permissions properly, that local user can use `ssh-add` without any issue.

[2017-10-30 03:35] JW0914 commented on #898
@gildas It would seem this is specific to domain user accounts, especially with your latter reply, as I can't replicate with a local user either.  I have no experience with domain accounts, so someone else that does will need to chime in.

[2017-10-30 14:31] nellfr commented on #856
Hello, I am experiencing same issue when using -n option with OpenSSH Client version v0.0.21 and OpenSSH Server version v0.0.20 (both on Windows 2012 servers).
The error is raised after ssh client times out (5 minutes in my tests).

[2017-10-30 17:22] bagajjal commented on #856
It would be great if you can provide the detailed reproduction steps.
Please share the ssh client (ssh -vvv user@ip) and sshd (DEBUG3) logs.

[2017-10-30 22:24] bagajjal opened #933 "Fix project files to use libcrypto.dll instead of libcrypto-41.dll"

[2017-10-31 00:26] manodasanW opened #934 "Win32-OpenSSH giving inconsistent error codes between put and MkDir when parent folder doesn't exist"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
v0.0.22.0

**Server OperatingSystem**
Windows 10 Enterprise

**Client OperatingSystem**
Windows 10 Enterprise

**What is failing**
When performing a put file to a folder that doesn't exist, the

[2017-10-31 02:15] kice opened #935 "A huge log file"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
0.0.10.0

---

`
2017/10/30  20:38   217,504,821,628 C:\Program Files\OpenSSH-Win64\logs\sshd.log
`
This file is over 200G and h

[2017-10-31 03:45] bagajjal commented on #935
You can delete the file.. It will not have any impact..

[2017-10-31 15:53] kice commented on #935
I knew that and is it there any config effect on this issue? like limiting the file size or only log last 7days.

[2017-10-31 16:03] DarwinJS commented on #935
@kice - are you really running version 0.0.10.0 ?  If so you should update to 0.0.22.0.

[2017-10-31 16:17] bagajjal commented on #935
We don't have log throttling implemented because our long term goal is to move away from the log files..

Enable minimal logging so that the file will not grow fast. Have a periodic powershell scripts to backup and delete the log files.

[2017-10-31 18:33] manojampalam commented on #935
You may use this workaround until we find a solution

create a task scheduler task that would run the following PowerShell script (edit as needed) at intervals. It empties contents of sshd.log into a backup file once sshd.log breaches 25MB

if ((Get-ChildItem .\logs\sshd.log).Length -gt 25*1024*1024)
{
   copy-item .\logs\sshd.log .\logs\sshd.log.prev
   $null | Set-Content .\logs\sshd.log
}

[2017-10-31 19:15] manojampalam commented on #930
Utilities included in package are meant to do exactly this. Utility usage details are at https://github.com/PowerShell/Win32-OpenSSH/wiki/OpenSSH-utility-scripts-to-fix-file-permissions

Please point out instances where -
_Collaborators are informing other users to incorrectly set permissions on files and directories contained within %UserProfile%\.ssh_

Added sdelete suggestion on Wiki. Thanks.

[2017-10-31 20:06] JW0914 commented on #930
If you can provide a private way to communicate with you, I'll provide the name of the collaborator, as well as the post detailing the above, however it's not appropriate to call them out publicly _(which is why the Collaborator was not named and post not linked to)_.

##
`FixHostFilePermissions.ps1` and `FixUserFilePermissions.ps1` do not set the correct permissions for _%UserProfile%\\.ssh\\*_

[2017-10-31 20:12] manojampalam commented on #930
Its alright. Mistakes do happen we all are learning from each other. You could simply reply on the original issue thread and point out the inconsistency.

As for ownership of %userprofile%\.ssh, SYSTEM and ADMINISTRATORS can take ownership of any resource in Windows no matter what (even if they are explicitly denied). See takeown usage. Hence any such restrictions would only be superficial. Or am

[2017-10-31 20:20] manojampalam commented on #870
Reopen if needed.

[2017-10-31 20:20] #870 closed, assigned to nobody

[2017-10-31 20:22] JW0914 commented on #930
I replied with something similar to the original post above, however this current issue wasn't opened solely because of that thread, but instead because I've come across several issue threads regarding _%UserProfile\.ssh\*_ permissions issues.

- _%UserProfile\.ssh\*_ permissions should echo BSD/Linux permissions, and root, nor sudo, have access to an individual user's .ssh folder on a multi-user

[2017-10-31 20:23] JW0914 commented on #930
I replied with something similar to the original post above, however this current issue wasn't opened solely because of that thread, but instead because I've come across several issue threads regarding _%UserProfile%\\.ssh\\*_ permissions issues.

- _%UserProfile%\\.ssh\\*_ permissions should echo BSD/Linux permissions, and root, nor sudo, have access to an individual user's _.ssh_ folder on a mul

[2017-10-31 20:28] manojampalam commented on #927
Reopen if needed.

It looks like your client is sending the following command to target
cd "/jenkins" && java  -jar slave.jar

Try executing this via ssh.exe and see if its working as expected.

[2017-10-31 20:28] #927 closed, assigned to nobody

[2017-10-31 20:38] JW0914 commented on #930
root can do the same on a multi-user BSD/Linux system, so clearly there's a reason why only the owning user should have access.  I don't know what that reasoning is, but considering this has always been the permission structure for OpenSSH, I'd recommend sticking with the way the software and it's permission structure is intended to work, and not modify it unless one understands the reasoning of t

[2017-10-31 20:42] manojampalam commented on #930
Thanks for your follow up. We did think through this while designing permissions for Windows.
The equivalent of "root" in windows, for all practical purposes, is SYSTEM or Administrators.

I understand the permissions structure in Unix, but our thinking process here is to "not superficially restrict any access without any security benefit". As I said, SYSTEM or Administrators can take over ownersh

[2017-10-31 20:43] JW0914 commented on #930
Fair enough, thank you.

[2017-10-31 20:43] #930 closed, assigned to nobody

[2017-10-31 21:15] manojampalam commented on #929
Can you check if the session process (sshd) is still running on your Linux target? It looks like the client is hanging as the channel from target is still open.

[2017-10-31 21:17] manojampalam commented on #928
What defaults are you trying to set? It helps if you can give the exact cmdline you are trying to execute.
Reopen with required info.

[2017-10-31 21:17] #928 closed, assigned to nobody

[2017-10-31 22:28] bingbing8 commented on #898
@gildas, the challenge for us is that ssh-add does not print out the debug info. I compiled a private ssh-add.exe for you. Can you replace the ssh-add.exe. It should provide you something like below and tell what permission is voilate the check.
ssh-add.exe c:\Users\me\.ssh\id_rsa
debug3: Bad permissions. Try removing permissions for user: S-1-5-21-1418920174-3016791129-3224140898-1014 on file c:\

[2017-11-01 01:41] bingbing8 commented on #898
@gildas, my guess is that there may have two different sids map to the same MYDOMAIN\me in some special domain situation. for example, after you migrate from a domain to a different domain.

The current challenge is that ssh-add does not print out the debug info. I compiled a private ssh-add.exe for you to print our more details about what is violating the check. Can you replace the ssh-add.exe an

[2017-11-01 02:37] gildas commented on #898
@bingbing8 , thanks a lot!

I ran it and got this:

[code]

Interestingly, in the file property dialog, the owner (`7617`) resolves as my domain user.
So, I went to the Change dialog box and re-applied the owner as my domain user.

This time I got:
[code]

Seems like, I get to become the proper owner this time, though, this is still me...
In the File Security dialog box, the owner still has `7617`

[2017-11-01 05:21] manojampalam commented on #548
Looked into this. The underlying implementation relies on fdopen support that does not exist in Windows POSIX adapter yet. And AFAIK, its not possible to add its support without modifying POSIX semantics - this means changes to core OpenSSH code that we are not prepared to do yet.

Sorry to inform that this cannot come until we take care of a whole bunch of other issues need for this fork to be ac

[2017-11-01 08:55] naatje80 commented on #929
Dear manojampalam,

Thank you for your reply. The session process is indeed still running on the Linux target. When break the client session by pressing Control+C it is also closed.

[2017-11-01 09:06] nkrepo commented on #191
I am using "OpenSSH for Windows" version 0.0.22.0 at
Microsoft Windows 10 Pro 64-bit 10.0.16299 (Fall Creators Update)

@manojampalam
The number of local ports that can be forwarded is limited to 16 instead of 32.
When I try to forward more than 16 local ports I get the following error:
"select: Not enough space"

[2017-11-01 10:56] gildas commented on #898
And to answer your guess. Yes, our domains were migrated recently by our global IT.

[2017-11-01 14:49] brandonroyal opened #936 "DefaultShell not working from macOS"
When setting the `DefaultShell` option in the registry, SSH does not appear to respect that setting

**Reproduction Steps**
1. Install per instructions: https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH#install-win32-openssh-test-release

1. Setup `DefaultShell` using [this screenshot](https://user-images.githubusercontent.com/23668037/32013581-67206dca-b970-11e7-8820-fde658d3

[2017-11-01 18:39] bagajjal commented on #936
@BrandonRoyal - When you launch an interactive ssh session (ssh -p 2222 vagrant@localhost), are you getting powershell as default shell?

[2017-11-01 20:36] manojampalam commented on #191
@nkrepo there were no changes in the limit. Can you share your repro steps?

[2017-11-01 20:40] bingbing8 commented on #898
@gildas, from what you described above, after the migration of the domain, some meta data are not update to date. After you reset the owner and acl of CAMELOT\gildas.cherruel, the new and correct account `118596`  are used. That is why it does not complain any more. In the File Security dialog UI, the account CAMELOT\gildas.cherruel previous was `7617`, after you reset it has been changed to `1185

[2017-11-01 20:43] manojampalam commented on #929
@naatje80 can you also confirm that the shell process (that is executing cat -) is still running?

If so, that would be the root cause why ssh.exe isn't exiting. You can expect the following to be sent to your shell process - \"Hello World\"\r\n
Do you expect the shell process to continue running with that input?

[2017-11-02 08:02] nkrepo commented on #191
@manojampalam
I used a simple PowerShell script that called ssh.exe and specified  more than 16 local port forwards like the following.
[code]

[2017-11-02 08:23] naatje80 commented on #929
The cat process is indeed still running on the server.

What I actually wanted to achieve is copying the public ssh key added to the authorized keys of a file using ssh. But because the client freezes, I tried just the basic: only redirecting some text to the remote server.

What I see is that if I send output to the stdin using ssh, the file is created but the content is not added until I press C

[2017-11-02 14:06] ghost opened #937 "Unable to set Defaults:myuser !requiretty"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
recent

**Server OperatingSystem**
Windows Server 2012 R2 Standard

**Client OperatingSystem**
Any Linux

**What is failing**
calling system doesnt get a tty

I need to set a Defaults:<connectin

[2017-11-02 16:26] AlFeersum commented on #922
Wouldn't it also be dependent on the AV?  Sophos Enterprise doesn't flag it.

[2017-11-02 16:37] erichiller opened #938 "Console output mangled upon reaching scroll"
I'm using Powershell inside ConEmu client side, but I've tried the same set of attempts in vanilla `cmd.exe`

I ran through [TTY-PTY-support-in-Windows-OpenSSH](https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH) and made sure I:
- tried both cmd.exe and ConEmu
- set `$env:term="xterm"` // `set term=xterm` respectively and ensured it was set on the connected to ser

[2017-11-02 16:55] manojampalam commented on #937
Can you please explain what setting this does and its use case scenarios? We need to first evaluate if the use case scenarios apply to Windows at all.

[2017-11-02 19:15] manojampalam commented on #191
Thanks. Looks like its an issue in core code. If you enable ssh client side traces you'll see the following pattern. For every alternate port, two sockets are somehow getting allocated. Looking into this further...

	channel 0: new [port listener]
debug1: Local forwarding listening on 127.0.0.1 port 57001.
debug2: fd 6 setting O_NONBLOCK
debug3: fd 6 is O_NONBLOCK

debug1: channel 1: new [port lis

[2017-11-02 19:26] manojampalam commented on #191
Try with -4 parameter. My guess is you are ending up listening on IPv6 address too for each forwarded port. That will double the number of sockets you are listening on.

[2017-11-02 19:27] manojampalam commented on #929
OK Thanks. Found the issue. Will fix it for next release.

[2017-11-02 20:54] #933 closed, assigned to bagajjal

[2017-11-02 21:01] #863 closed, assigned to bagajjal

[2017-11-03 05:41] manojampalam commented on #929
Try the attached private.
[ssh.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1440151/ssh.zip)

[2017-11-03 08:07] nkrepo commented on #191
@manojampalam you are correct it was binding to both IPv4 and IPv6 address now it works up to 32 local port forwards. I had disabled IPv6 for the physical network adapter but not system-wide, therefore the `Loopback Pseudo-Interface` still has an IPv6 address.

[code]

[2017-11-03 09:27] jvalladaresBest commented on #787
Is there any update on this? We are facing the same issue

[2017-11-03 15:18] ghost commented on #937
This setting acquires a tty on the target system (in this case on a windows machine).
Use case: A script, containing the ssh command, is triggered on a system which does not have a tty itself (for example from a scheduler [in our case SAP Solution Manager or Icinga]).
We counter checked this with a linux system as ssh target with the mentioned setting set in /etc/sudoers.d

[2017-11-03 16:48] manojampalam commented on #908
@jborean93 thanks for reporting this. Found an issue with Windows POSIX compat library. Will have it fixed in next release.

[2017-11-03 18:18] bagajjal commented on #787
@jvalladaresBest - We are unable to reproduce this at our end. It would be great if you can share the sshd.log (for the first 1-2 minutes so that I can dig more into this issue)..

[2017-11-04 11:18] 1oglop1 opened #939 "Redirecting output of ssh-keysan does not work"
**"OpenSSH for Windows" version**
 `0.0.22.0`

**Server OperatingSystem**
 `Windows Server 2016 Datacenter` (in docker `windowsservercore`)

**What is failing**
Redirection of `ssh-keyscan` keys to `known_hosts` does not work in `powershell` nor `cmd`.
1) `ssh-keyscan -t ecdsa gitlab.com > $HOME/.ssh/known_hosts`

**Expected output**
1) `ssh git@gitlab.com`
2) `git@gitlab.com: Permission denied (p

[2017-11-04 11:43] 1oglop1 commented on #939
Okay it turned out that `ssh` stores `known_hosts` in `UTF-8`, but `powershell` redirect uses `UCS-2 LE BOM`

[2017-11-04 11:43] #939 closed, assigned to nobody

[2017-11-05 21:13] jborean93 commented on #908
Thanks for the info @manojampalam, looking forward to seeing the final fix but flag to know that the issue has been found.

[2017-11-06 14:34] brandonroyal commented on #936
@bagajjal no. I'm not.

When attempting interactive SSH...
[code]

Command screen looks like this:
[code]

Confirming this is not PowerShell by requesting PS version:
[code]

[2017-11-06 14:49] nellfr commented on #856
The ssh command is initiated from CHEF client, I will try to grab the client output with -vvv.
Meanwhile I was able to collect the DEBUG3 logs on server side.

[2017-11-06 14:50] nellfr commented on #856
11476 15:38:13:105 debug3: socket:356, io:0000001F2FA85CE0, fd:5
11476 15:38:13:105 debug3: fd 5 is not O_NONBLOCK
11476 15:38:13:105 debug3: pipe - r-h:336,io:0000001F2FA85D90,fd:6  w-h:396,io:0000001F2FA78470,fd:7
11476 15:38:13:105 debug3: spawning "C:\\Program Files\\OpenSSH\\sshd.exe"
11476 15:38:13:105 debug3: Register child 000000000000013C pid 9132, 0 zombies of 0
11476 15:38:13:105 debug3

[2017-11-06 18:38] bagajjal commented on #856
@nellfr - Please let us know how to reproduce this issue..

[2017-11-06 19:42] danielchalmers commented on #922
I got this on Windows Defender definition version 1.257.121.0 with [one of my programs](https://github.com/danielchalmers/Network-Monitor/releases/latest).
After updating to 1.257.132.0 it doesn't seem to happen anymore.

[2017-11-07 12:26] naatje80 commented on #929
Great, thank you! The issue is indeed now solved. There was only one issue with the ssh.exe you've supplied, It had a dependency for libcrypto.dll but the pre-compiled version of the full package contained a file called libcrypto-41.dll (Only had to copy and rename that file to use the ssh.exe). But this is most likely due to the way you've compiled the pacakge.....

[2017-11-07 18:00] bagajjal commented on #929
@naatje80 - We are renaming the dll to exclude the version number so the new release (yet to be released) will have libcryto.dll instead of libcrypto-41.dll.

[2017-11-07 20:38] bagajjal opened #940 "test suite update"
Automated test suite update,
Make the libressl enabled by default, add a new switch to disable using libressl.

[2017-11-07 23:07] DarwinJS commented on #940
Although I don't know what "WindowsInbox" is, just want to lobby that any "global behavior" switches that affect behaviors beyond jus testing, they should be configurable by installation technology.  e.g. In sshd_conf or registry.

Also to avoid dumb comments like this one I'm making, it would be helpful to articulate the meaning of jargon like "WindowsInbox" in the issue itself ;)

[2017-11-07 23:16] bagajjal commented on #940
This issue is purely from a automated test coverage perspective.

We are shipped "openssh" into windows10 as "feature on demand".
The shipped windows 10 openssh binaries only support default crypto algorithm (ed25519).
We are now making changes to support all crypto algorithms like rsa, dsa, etc.
As part of this change we need to update our test scripts to test all crypto algorithms.

[2017-11-08 09:17] naatje80 commented on #929
@bagajjal Ok thank you for your clarification. I understand! For me the issue is solved.

[2017-11-08 15:06] ayalu opened #941 "Port fowarding failed for listen"
**"OpenSSH for Windows" version**
0.0.22.0

**Server OperatingSystem**
windows 2012 EN Datacenter

**Client OperatingSystem**
Kali Linux 2017.1

**What is failing**
Remote port fowarding (sh -R 444:127.0.0.1:444 administrator@192.168.1.5)

**Expected output**
On the server : netstat -an | grep ":444"

**Actual output**
In SSH client logs: Warning: remote port forwarding failed for listen port 444

[2017-11-08 15:23] fjaenal opened #942 "[Question about install]"
Hello:
   This is just a question, not an issue per se. I have running on a windows Server 2012 the Win32-OpenSSH, in order to install we can not use Powershell nor Chocolatey. We have to relay only on the Old good Windows Command. For the version we are running I have a batch script (I can attach it if necessary), with that script, which is very basic, I can install the version v0.0.9.0.

The que

[2017-11-08 17:19] bagajjal commented on #942
@fjaenal - Powershell/chocolatey automates the installation process. If you can do the same thing manually or using batch script then you are good.

[2017-11-08 18:05] DarwinJS commented on #942
@fjaenal - in theory you could use cmd.  Backporting everything required could be significant effort both to do the first time and then to maintain when installation information is updated in newer releases.

Things like the complex permissions setting in things like: https://github.com/PowerShell/Win32-OpenSSH/blob/L1-Prod/contrib/win32/openssh/OpenSSHUtils.psm1 it could quite be difficult.

Also

[2017-11-08 18:38] manojampalam commented on #941
Share sshd logs from server side. Steps here - https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2017-11-08 19:56] fjaenal commented on #942
Then the next question, maybe is too basic, is: Are mandatory the set of all those permission settings on the server? Can it be installed and run as an administrator on the server without giving those permissions?

[2017-11-08 20:10] bagajjal commented on #942
nope. Those permissions are mandatory. You can configure the permissions manually as well but it is time taking process.

[2017-11-08 20:24] ayalu commented on #941
C:\Program Files\OpenSSH>sshd -d
./sshd_config line 100: Deprecated option UsePrivilegeSeparation
debug1: sshd version OpenSSH_7.6, LibreSSL 2.5.3
debug1: private host key #0: ssh-rsa SHA256:Hj2rOnXOqORPEp7R3CmCQqgLswyPb9PGBH7JkGoHwCU
debug1: private host key #1: ssh-dss SHA256:bA64dnhgl7UPJ4rjVmpBLUNEjQbDrBt4mo4XTIBNWW8
debug1: private host key #2: ecdsa-sha2-nistp256 SHA256:W5NKNP0UIBLx9fWE/2HGt

[2017-11-08 20:33] bagajjal commented on #941
You are using the same port on the local machine. Please change the port and try.
ssh -R 444:127.0.0.1:444 administrator@192.168.1.5

[2017-11-08 20:33] ayalu commented on #941
OpenSSH_7.4p1 Debian-10, OpenSSL 1.0.2l  25 May 2017
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: /etc/ssh/ssh_config line 19: Applying options for *
debug2: resolving "192.168.1.34" port 22
debug2: ssh_connect_direct: needpriv 0
debug1: Connecting to 192.168.1.34 [192.168.1.34] port 22.
debug1: Connection established.
debug1: permanently_set_uid: 0/0
debug1: key_load_public: No

[2017-11-08 20:36] ayalu commented on #941
2 different VM.  I tried with different ports and same issue.

Here is sshd_config

AllowAgentForwarding yes
AllowTcpForwarding yes
GatewayPorts yes

[2017-11-08 20:41] ayalu commented on #941
OK here is the answer :
https://unix.stackexchange.com/questions/41451/how-can-i-set-up-a-remote-port-forward-on-port-80-to-my-localhost-with-the-help

Only root can foward privileged ports.

Thank you for you support and great product !!

[2017-11-08 21:12] #941 closed, assigned to nobody

[2017-11-09 09:01] fjaenal commented on #942
First of all thanks a lot for the help.
Do we only need PS / Chocolatey for the installation (can be disable afterwards?) or must it be enable at any time?
Also the installation requires restart? I can't see any reference on the "Install Win32 OpenSSH" wiki page to restart.

[2017-11-09 09:32] nellfr commented on #856
From the Windows system, the CHEF client is issuing this command :
cmd /c "C:\PROGRA~1\OpenSSH-Win64\ssh.exe -vvv -n -o StrictHostKeyChecking=no -i C:\key_path\id_rsa user@10.0.168.48 powershell.exe -File C:\script_path\script_wrapper.ps1 param1 param2 param3 > C:\ssh_output.txt 2>&1"

[2017-11-09 10:39] DaburLal opened #943 "Cannot open include file: 'openssl/opensslv.h': No such file or directory"
Referring to https://github.com/PowerShell/Win32-OpenSSH/wiki/Building-using-VS-2015

When i try building according to above mentioned steps, it gives the following error : Cannot open include file: 'openssl/opensslv.h': No such file or directory

[2017-11-09 12:27] DarwinJS commented on #942
@fjaenal - I maintain the Universal Installer.  Although it is housed in a Chocolatey package, it is designed to be used without Chocolatey as well.  In fact, you don't even need internet access after you've downloaded the package once into your organization.  You can also extract the package to a shared location and run installs from there.

You can follow these instructions: https://github.com/D

[2017-11-09 13:01] DarwinJS commented on #942
FYI I just updated the instructions to be clearer for your deployment scenario: https://github.com/DarwinJS/ChocoPackages/tree/master/openssh#install-scenario-4-complete-offline-install--network-based-install--sccm-or-other-esd-install-wout-chocolatey-wout-wow64-wout-powershell-5-wout-internet

Also the heading says without "PowerShell 5" - it means you don't need version 5 (which contains Package

[2017-11-09 13:44] fjaenal commented on #942
thanks a lot !!!!! Really helpful as always !

[2017-11-09 17:32] manojampalam commented on #943
Updated instructions. Try now and reopen if you still see issues.

[2017-11-09 17:32] #943 closed, assigned to nobody

[2017-11-10 06:03] guiguan opened #944 "Doesn't work well with SSH2.js"
**"OpenSSH for Windows" version**
v0.0.22.0

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
macOS 10.13.1 and `ssh2` library

**What is failing**, **Expected output** & **Actual output**
When using `ssh2` shell method to get output from a remote ssh command, the openssh server (installed following this https://winscp.net/eng/docs/guide_windows_openssh_server) terminated the

[2017-11-10 10:55] saurabhverma999 commented on #944
I am able to run sftp and scp but when i try running ssh and sshd it stops in between giving the following error

'sshd.exe' (Win32): Loaded 'C:\Windows\System32\ntdll.dll'. Cannot find or open the PDB file.
'sshd.exe' (Win32): Loaded 'C:\Windows\System32\kernel32.dll'. Cannot find or open the PDB file.
'sshd.exe' (Win32): Loaded 'C:\Windows\System32\KernelBase.dll'. Cannot find or open the PDB fi

[2017-11-10 11:10] saurabhverma999 commented on #943
I am able to run sftp and scp but when i try running ssh and sshd it stops in between giving the following error

'sshd.exe' (Win32): Loaded 'C:\Windows\System32\ntdll.dll'. Cannot find or open the PDB file.
'sshd.exe' (Win32): Loaded 'C:\Windows\System32\kernel32.dll'. Cannot find or open the PDB file.
'sshd.exe' (Win32): Loaded 'C:\Windows\System32\KernelBase.dll'. Cannot find or open the PDB fi

[2017-11-10 15:07] DaburLal commented on #943
Now i am able to run scp and sftp but when i try running sshd i get the following error

'sshd.exe' (Win32): Loaded 'C:\Users\w21821\Desktop\openssh-portable-latestw_all\bin\x64\Debug\sshd.exe'. Symbols loaded.
'sshd.exe' (Win32): Loaded 'C:\Windows\System32\ntdll.dll'. Cannot find or open the PDB file.
'sshd.exe' (Win32): Loaded 'C:\Windows\System32\kernel32.dll'. Cannot find or open the PDB file

[2017-11-11 06:02] manojampalam commented on #944
Get server side logs using steps at https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2017-11-11 21:37] Victir812 opened #945 "Key based authentification not working"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
OpenSSH_7.6p1, LibreSSL 2.5.3
Installed using chocolatey

**Server OperatingSystem**
Windows Professional 64 bit

**Client OperatingSystem**
Ubuntu 17.10

**What is failing**
Key based authentic

[2017-11-11 21:46] Victir812 commented on #945
Already found the solution:
Key based Authetication works again after running FixHostFilePermissions.ps1 and FixUserFilePermissions.ps1

However for some reason it took the option -ExecutionPolicy ByPass to run the script correctly

powershell -ExecutionPolicy ByPass -File C:\Program Files\OpenSSH-Win64\FixHostFilePermissions.ps1
powershell -ExecutionPolicy ByPass -File C:\Program Files\OpenSSH-Wi

[2017-11-11 21:46] #945 closed, assigned to nobody

[2017-11-12 16:56] djsweet opened #946 "libcrypto.dll can't load on Windows 7 due to Windows 10-specific DLL imports"
**"OpenSSH for Windows" version**
0.0.23.0

**Server OperatingSystem**
 Windows 7 Professional

**Client OperatingSystem**
Not applicable, `sshd` server fails to start

**What is failing**
All programs with a dependency on libcrypto, esp. `ssh.exe`, `sshd.exe`, and `ssh-keygen.exe` fail to start on Windows 7. Attempting to run these programs through Windows Explorer provides the following error me

[2017-11-13 09:18] DaburLal opened #947 "Unable to run SSHD"
I am able to run scp and sftp but when i try running sshd i get the following error

'sshd.exe' (Win32): Loaded 'C:\Users\w21821\Desktop\openssh-portable-latestw_all\bin\x64\Debug\sshd.exe'. Symbols loaded.
'sshd.exe' (Win32): Loaded 'C:\Windows\System32\ntdll.dll'. Cannot find or open the PDB file.
'sshd.exe' (Win32): Loaded 'C:\Windows\System32\kernel32.dll'. Cannot find or open the PDB file.
's

[2017-11-13 17:14] jvalladaresBest commented on #787
Hi there, Log is containing millions of rows like this one:1680 20:38:23:517 error: accept: Connection resetKind Regards,JuanEl 3 de noviembre de 2017 a las 19:18 bagajjal <notifications@github.com> escribió:@jvalladaresBest - We are unable to reproduce this at our end. It would be great if you can share the sshd.log (for the first 1-2 minutes so that I can dig more into this issue)..—You are rece

[2017-11-13 18:09] diogocp commented on #918
I'm seeing some weird behavior when using environment variables in DefaultShell.

If DefaultShell is not set, I get the cmd shell as expected.

If I set it to `C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe`, I get powershell, again as expected.

However, if I set it to `%SystemRoot%\System32\WindowsPowerShell\v1.0\powershell.exe`, I get a powershell when I login interactively, but if i

[2017-11-13 18:28] diogocp commented on #895
It looks like the same thing happens if you set PowerShell as the default shell in the registry, so it's not just a problem with cmd.exe.

[2017-11-13 20:25] DarwinJS commented on #918
@diogocp - the reason is that malware could theoretically

1. read this registry key
2. insert a user level %SystemRoot% environment variable which redirects the shell to a exe that pretends to be a shell like powershell - but monitors everything that goes on.

By requiring a literal path - no such attack is possible.

Which raises this idea for addressing this problem @manojampalam - what if the

[2017-11-14 03:47] miller-time commented on #289
@darkverbito / @gravcat : I tried to follow those instructions and I'm still getting 0x80070005 every time I launch bash from an SSH connection.

I've never really messed with DCOM settings before, so here's a rundown of what I did... After changing the owner on those two registry keys, I went into `dcomcnfg` and found {F72671A9-012C-4725-9D2F-2A4D32D65169} under Component Services > Computers > M

[2017-11-14 04:34] nucleusprod commented on #289
@miller-time I wrote a blog post about this: https://adrift.io/2017/10/11/windows-subsystem-for-linux-error-0x80070005-access-denied/

Hope that is more directly helpful!

[2017-11-14 04:35] gravcat commented on #289
@miller-time I wrote a blog post about this: https://adrift.io/2017/10/11/windows-subsystem-for-linux-error-0x80070005-access-denied/

Hope that is more directly helpful!

[2017-11-14 06:41] miller-time commented on #289
@gravcat Thanks but I actually went a different route. Running ssh server from bash was much easier... lol

**edit**: weird the GUID's look like they are different than your comment above. I'm curious, how you do figure out what the DCOM id is for an application?

[2017-11-14 12:07] tvsuhail commented on #860
It works on Windows XP SP3?

[2017-11-14 12:09] tvsuhail opened #948 "Any OpenSSH version for Windows XP SP3?"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).Produc

[2017-11-14 13:57] #947 closed, assigned to nobody

[2017-11-14 14:01] DaburLal opened #949 "Unable to run ssh and sshd"
While trying to run ssh and sshd from Visual Studio 2015, build gets completed with zero failures but while debugging it gives the following error -

The program '[8740] ssh.exe' has exited with code -1073741515 (0xc0000135) 'A dependent dll was not found'.

It could not able to access libcrypto.dll

It says to reinstall the program to fix the problem.

[2017-11-14 16:52] madisonrickert opened #950 "Update Chocolatey Instructions in Wiki"
On the [chocolatey install instructions page](https://github.com/PowerShell/Win32-OpenSSH/wiki/Win32-OpenSSH-Automated-Install-and-Upgrade-using-Chocolatey) I noticed a couple errors:

1. `win32-openssh` package name has been deprecated in the chocolatey repository, should be changed to just `openssh`.
2. In the section "Chocolatey Package Usage Scenarios" the uninstall commands are incorrect.

[2017-11-14 17:53] bagajjal commented on #949
Your environment path variable should have the libcrypto.dll ("$openssh-portable\contrib\win32\openssh\LibreSSLSDK\<platform>\libcrypto-41.dll").

[2017-11-14 17:53] #949 closed, assigned to bagajjal

[2017-11-14 18:01] bagajjal commented on #948
We tested windows 7 and above. As per [windows lifecycle fact sheet](https://support.microsoft.com/en-us/help/13853/windows-lifecycle-fact-sheet), Microsoft doesn't support Windows XP SP3.

Having said that, you can try the latest release. If it didn't work then we may not be able to support windows XP SP3.

[2017-11-14 18:01] #948 closed, assigned to nobody

[2017-11-14 18:07] tvsuhail commented on #948
I tried, but receiving error while executing install script for service start and user creation.  And when running ssh-keygen, receiving not a valid win32 application.

[2017-11-14 21:04] #942 closed, assigned to nobody

[2017-11-15 10:36] DaburLal commented on #949
Still the same error occurring!

[2017-11-15 10:49] n3roGit opened #951 "unable to use get-ad* with pubkey auth"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
#	$OpenBSD: sshd_config,v 1.84 2011/05/23 03:30:07 djm Exp $

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Mi

[2017-11-15 15:43] n3roGit commented on #951
I have a hunch what it could be. apparently only a local copy of the user is used when using a key, which has no access to the AD.

If you additionally authenticate yourself in the console, you can retrieve the ad stuff.

$pass="YourPassword"|ConvertTo-SecureString -AsPlainText -Force
$Cred = New-Object   System.Management.Automation.PsCredential('Username@Domain',$pass)
Get-ADUser TestUser -Crede

[2017-11-16 10:28] DaburLal commented on #949
Could you kindly give me a detailed explanation for the same ?? Thanks in advance.

[2017-11-16 18:16] bagajjal commented on #949
please copy the "$openssh-portable\contrib\win32\openssh\LibreSSLSDK\<platform>\libcrypto-41.dll to "c:\windows\system32" folder so that it will always be part of environment path variable.

[2017-11-16 20:55] DaburLal opened #952 "Trying to connect with Putty (ssh client)"
This is more of a guidance i am seeking from people working on the same project.
I am trying to secure VNC server and client using Secure shell.
For that i have installed source codes for secure shell client (putty) and secure shell server (OpenSSH) on the respective platforms.

Now as i have to move forward with the process of connecting these two, i am seeking for experience from people who have

[2017-11-16 23:17] brandonroyal commented on #936
@bagajjal Any update on this?

[2017-11-17 15:06] DominikWiesend commented on #892
same here

[2017-11-17 16:01] ST159357 commented on #787
Hello, log dump can be found here: https://pastebin.com/KJ7qicib

Scanning software is Qualsys.  The "connection reset" lines go on indefinitely until the drive fills up. That's all I know at the moment.

[2017-11-17 18:05] jochemd opened #953 "ssh-agent communication failed when DC unreachable during start"
**"OpenSSH for Windows" version**
0.0.22.0

**Server OperatingSystem**
n/a

**Client OperatingSystem**
Windows 10 build 16299.19

**What is failing**
ssh-agent in general, and the command "ssh-add -l" is a good example

**Expected output**
4096 SHA256:******************************************** jochem@********** (RSA)

**Actual output**
error fetching identities: communication with agent failed

[2017-11-17 18:12] jochemd commented on #953
I forgot to mention: I just installed the Fall Creators Update and I can't quite determine whether this was a problem before or not.

[2017-11-17 21:16] #929 closed, assigned to manojampalam

[2017-11-17 21:17] #934 closed, assigned to nobody

[2017-11-19 02:39] #908 closed, assigned to manojampalam

[2017-11-19 06:20] bingbing8 commented on #946
yes, please use the libcryto.dll from [Release v0.0.23.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.23.0). We will revert the libcryto.dll back to that build with sdk 8.1

[2017-11-19 06:21] #940 closed, assigned to bagajjal

[2017-11-20 14:15] DaburLal opened #954 "SSH : Could not resolve hostname -: Name or service not known"
**Server OperatingSystem**
 `Windows 7

**Client OperatingSystem**
Windows 7 using Putty as secure shell client

After installing the OpenSSH, using automated installation steps for powershell, SSHD starts succesfully.

But as i enter any of the available commands, i get the following error:

ssh : Could not resolve hostname - : Name or service not known.

I am trying to connect to secure shell se

[2017-11-20 17:47] manojampalam commented on #954
This is a client side issue. Refer Putty troubleshooting guidelines to take this further.

[2017-11-20 17:47] #954 closed, assigned to nobody

[2017-11-20 17:58] manojampalam commented on #952
I would recommend asking this on openssh general DL

[2017-11-20 18:02] manojampalam commented on #951
It might be related to the fact that the session that gets created using pubkey auth has no outbound auth capabilities. If your scenarios works with password auth and not pubkey auth - this is definitely the underlying reason.

[2017-11-20 19:52] bagajjal commented on #892
could you please provide the steps to repro this issue.

Can this script be run in an azure windows VM?

from fabric.api import *
def dir():
	run("dir ..")

[2017-11-20 19:54] bagajjal commented on #787
@ST159357 - Please set the log level to DEBUG3, provide the sshd.log.

[2017-11-20 20:15] bagajjal commented on #953
error 1789 - ERROR_TRUSTED_RELATIONSHIP_FAILURE

Can you try the below URLs and see if it works?
https://community.spiceworks.com/how_to/108912-fix-the-trust-relationship-between-this-workstation-and-the-primary-domain-failed
https://support.microsoft.com/en-us/help/2771040/-the-trust-relationship-between-this-workstation-and-the-primary-domai

[2017-11-20 20:23] bagajjal commented on #946
Reopening this issue to fix properly.

[2017-11-20 20:26] bagajjal commented on #954
Enable the putty logs and debug further.
In case if you are using domain user account then try like this,

ssh -l user@domain host (or)
ssh domain\user@host (or)
ssh user@domain@host

[2017-11-21 09:22] DaburLal commented on #954
Once i run sshd , and then give ssh - l command on the same system, i still get the same error

[2017-11-21 10:55] DaburLal opened #955 "unable to open port 22"
is there any alternative to this : New-NetFirewallRule -Protocol TCP -LocalPort 22 -Direction Inbound -Action Allow -DisplayName SSH

As i give this command in powershell, it says the term 'New-NetFirewallRule' is not recognized as the name of cmdlet,function,script file, or operable program.

[2017-11-21 11:09] DarwinJS commented on #955
@saurabhverma999 - yes there is.  The universal openssh installer uses the least common denominator command so that it will work on all OSes and powershell versions targeted by openssh.

That command is here: https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/tools/chocolateyinstall.ps1#L540

[2017-11-21 14:35] Lyova5 opened #956 "Does ForceCommand really works for OpenSSH-Windows?"
**"OpenSSH for Windows" version**
0.0.23

**Server OperatingSystem**
Windows Server 2012 R2

**Client OperatingSystem**
Windows 8.1

**What is failing**
I'm trying to setup ForceCommand, but any command in ForceCommand forces client to hang.
Match User testuser
	ForceCommand dir

**Expected output**
I expect to see dir output.

**Actual output**
Client hangs to black windows without cmd greetings.

[2017-11-21 19:22] DominikWiesend commented on #892
I'll try to give you all infos you need, currently we are using "OpenSSH for Windows" Version [0.0.23.0]
The problem is in this direction [Linux] -> [Windows (SSH-Server)]
-> Windows Server 2012 R2

When you logon to the [Linux] Host and send an SSH-Command to the [Windows (SSH-Server)] you can run any command without any problems.

But when an program (any pice of software triggers) a command (TT

[2017-11-21 19:32] bagajjal opened #957 "net stop sshd throws an exception"
with appverifier enabled, net stop sshd throws an exception

![image](https://user-images.githubusercontent.com/23668037/33092661-a31585dc-ceaf-11e7-8cf0-5454fa549625.png)

[2017-11-21 20:59] joeyaiello commented on #688
Hey @rob-scheepens, sorry for the lack of a reply here. I can't share hard dates for production-ready yet, but we did ship as a beta "feature-on-demand" in Fall Creators Update/Server 1709. I still need to get a blog out with setup/configuration instructions (keeps falling by the wayside), but expect it soon at http://blogs.msdn.microsoft.com/powershell

[2017-11-21 20:59] joeyaiello commented on #926
Just wanted to give an update here that I'm still talking to folks about this. Hoping to provide a real update soon.

[2017-11-22 05:44] manojampalam commented on #956
It should work. Try
ForceCommand cmd /c dir

[2017-11-22 05:46] manojampalam commented on #950
@DarwinJS FYI

[2017-11-22 09:41] Lyova5 commented on #956
Ouch! Sorry, i thought that cmd is executed already.

[2017-11-22 09:41] #956 closed, assigned to nobody

[2017-11-22 12:06] DarwinJS commented on #950
@manojampalam - is it possible for that page to just contain a forward link to: https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/readme.md

[2017-11-22 16:44] DaburLal commented on #955
Now i am able to access port 22.

Since there were sshd and ssh-agent somehow occupying the port i uninstalled the complete OpenSSH using  **powershell.exe -ExecutionPolicy Bypass -File uninstall-sshd.ps1**

And then sshd and ssh-agent were removed from the process list automatically.

[2017-11-22 16:44] #955 closed, assigned to nobody

[2017-11-22 21:45] jeff-zohrab opened #958 "ssh-agent log says "cannot process request: client process is not admin or sshd""
**"OpenSSH for Windows" version**
0.0.23.0

Installed via chocolatey.  sshd and ssh-agent are running as set up by the chocolatey package.

**Server OperatingSystem**
Windows Server 2016 Datacenter, in AWS.

**Client OperatingSystem**
Ubuntu 16.04

**Client connection attempt**
[code]

** Logs**

The server is configured to accept public key, rsa

sshd log (note "4196 21:17:50:004 debug1: unable t

[2017-11-22 23:28] Dantoniogarcia commented on #337
I opened power shell as an administrator and then the script worked correctly.  When looking at the code, I saw the exception it was throwing had to do with Account Privileges.  In your current powershell window run           **Start-Process powershell -Verb runAs**
This will open another window where you are running as an administrator.  Then you should be able to navigate to the directory where

[2017-11-23 00:13] DarwinJS commented on #337
Could also add this to the top of the script (which works in PSH 2 and 3, unlike `#requires -RunsAsAdministrator`)

[code]

[2017-11-23 09:29] #952 closed, assigned to nobody

[2017-11-23 09:47] xinrag opened #959 "Little failure in Wiki file Install-Win32-OpenSSH.md"
Hello!

Don't know how to edit/contribute the wiki... so the issue here:

At point the point "Generate SSH host key" in Install-Win32-OpenSSH.md you should run the powershell script FixHostFilePermissions.ps1 with ...-ExecutionPolicy Bypass..., too. See the few lines above where we install and execude install-sshd.ps1.

Very little update... I know... (:

Regards, Stephan

PS: What is the best way

[2017-11-23 13:06] mauro-miatello opened #960 "sshd service cannot start, access is denied"
windows 2008 r2 std 64bit
openssh v0.0.23.0

i try to launch the service but i've Error 5: Access is denied like #672
i've tried from gui and from console
i've tried to add full access to sshd

noway

if I run sshd.exe -ddd from console it works

[2017-11-23 13:49] DaburLal opened #961 "Difference between ssh@host and ssh user@host"
**Server OperatingSystem**
 Windows 7

**Client OperatingSystem**
Windows 7

**What is failing**
When i give the command ssh@ host i am prompted to enter the password and when i enter it i am able to successfully log into it.

Whereas when i give the command ssh user@host, and then i enter the same password that i entered in the above case it says **Permission denied, please try again.**

What exa

[2017-11-23 20:44] challarao commented on #452
@manojampalam Hello Manoj,

This issue seems to be related to an issue I am facing. Correct me if I'm wrong. If I logon via SSH with a user that is not the user specified in Log On tab of sshd windows service, and if I try to invoke cmdkey to list the Credential Manager keys, it would return empty list. Do you think it's due to network logon as well. But note that if I use the same user that is sp

[2017-11-24 10:58] mauro-miatello commented on #960
PS C:\OpenSSH> .\FixHostFilePermissions.ps1
  [*] C:\OpenSSH\sshd_config
      looks good

  [*] C:\OpenSSH\ssh_host_dsa_key
      looks good

  [*] C:\OpenSSH\ssh_host_dsa_key.pub
      looks good

  [*] C:\OpenSSH\ssh_host_ecdsa_key
      looks good

  [*] C:\OpenSSH\ssh_host_ecdsa_key.pub
      looks good

  [*] C:\OpenSSH\ssh_host_ed25519_key
      looks good

  [*] C:\OpenSSH\ssh_host_ed25519

[2017-11-24 11:24] mauro-miatello commented on #960
solved
changed owner of the service with root (local administrator i've create) instead of sshd
give root accesso to secpol.msc > local policies > User Rights Assignment > Replace a process level token

[2017-11-24 13:38] benvindo opened #962 "How to login in ssh with elevated privileges"
When I login in my server, he open a terminal cmd, I a need execute scripts but theses scripts needs that my user execute a cmd or powershell with elevated privileges. I tried used RunAs for execute script in cmd and powershell but he stay in processing all the time, I guess the command stay waiting accept a windows' confirmation for run privileges but de window don't show me because I'm use ssh t

[2017-11-24 14:20] phillipCouto opened #963 "Windows Unquoted Service Path Enumeration"
**"OpenSSH for Windows" version**
 `0.0.22.0`

**Server OperatingSystem**
 `Windows Server 2016 Standard`

**Client OperatingSystem**
`N/A`

**What is failing**
Vulnerability scanner is identifying that the service definitions do not have the executable quoted which can allow an attacker to exploit windows logic when executing a path that is unquoted.

[See this article for explanation](https://is

[2017-11-24 16:35] DaburLal commented on #961
The simplest form assumes that your username on your local machine is the same as that on the remote server. If this is true, you can connect using:

**ssh remote_host**
If your username is different on the remoter server, you need to pass the remote user's name like this:

**ssh username@remote_host**

https://www.digitalocean.com/community/tutorials/ssh-essentials-working-with-ssh-servers-client

[2017-11-24 16:37] #961 closed, assigned to nobody

[2017-11-24 17:17] mslicensing commented on #926
Wes Miller is generally correct, but there's a very important exception here as well as an alternative.
**The Exception**
Any device or using connecting to a "Web workload" does not require a CAL. This rule, in effect for Windows Server 2012 and later makes it possible to run Windows Server as a web Server without having to license external users (anyone who is not an employee or an onsite contrac

[2017-11-24 17:42] agordon commented on #926
@mslicensing ,
Thank you for providing more details. Just to verify: are you an official MS account and that is an official MS response? The @mslicensing user has no credentials/bio/email/website/links whatsoever ( @joeyaiello  - can you confirm this?).

Now to discuss things in a more concrete way:

1. Based on your explanation of "Web Workload" - If I have "Windows Server 2012" and running OpenS

[2017-11-24 19:29] leotxcosta opened #964 "NT SERVICE\SSHD Logon Failure when starting SSHD service"
**OpenSSH for Windows" version**
0.0.23.0

**Server OperatingSystem**
Windows Server 2008 Standard

**What is failing**
When I try to start SSHD service I got a logon failure message. Checking event viewer, there is a log with the error "The sshd service was unable to log on as NT SERVICE\SSHD with the currently configured password due to the following error:
Logon failure: unknown user name or ba

[2017-11-24 19:39] leotxcosta commented on #964
If I start the process via command line it works. But in this case the process runs under my user.

[2017-11-24 19:46] mslicensing commented on #926
I am not an official Microsoft account. MSlicensing is my professional Twitter handle and I decided to reuse it here. I am not endorsed by Microsoft in any way. Microsoft doesn't like me.  (And I have some opinions about them.)
I am an independent Microsoft licensing consultant, whose organization has cost MS about half a billion dollars over the last few years by counselling customers how to save

[2017-11-24 19:50] leotxcosta opened #965 "Permission denied when trying to connect to SSHD using password method"
**OpenSSH for Windows" version**
0.0.23.0

**Server OperatingSystem**
Windows Server 2008 Standard

**What is failing**
When I try to connect to the server using ssh or WinSCP I get a permission denied error.
I got this error running the service under my account and LocalSystem account. Currently I'm not able to run the service using NT SERVICE/SSHD account.

**Expected output**
Connect to SSHD su

[2017-11-24 20:23] mslicensing commented on #926
I should address the Windows desktop issue as well. There are no CALs or ECs for the desktop OS. The only limit I know of is in the OEM EULA (which applies even to corporate desktops, since MS doesn't sell Windows OS through volume licensing, but only upgrades to Windows obtained elsewhere, usually the OEM.

The Windows 10 OEM EULA says

other devices.

The current Product Terms generally confirm

[2017-11-24 20:44] agordon commented on #926
@mslicensing - thanks again. very useful information.

Continuing in the Windows Desktop context:

1. I would say that SFTP is a type of "file sharing" (it is literally "Secure File Tranfer Protocol", a way for remote users to upload/download files). Based on your information, I would say that up to 20 users can use it. Does this mean "20 users in total", or "20 users simultaneously" (that is - th

[2017-11-24 23:34] mslicensing commented on #926
MS doesn't specify this, but the general consensus is that this is a maximum of 20 concurrent connections.
Q. 2 may require deeper analysis and my expectation there is that we won't get an answer from the documentation.

But here are some other situations where MS addresses PC-to-PC communication.
First, the Primary User of a Windows device (the person who uses it more than 50% of the time) can fr

[2017-11-25 01:28] agordon commented on #926
@mslicensing,

My first scenario is simple (or at least sounds simple to me):
1. a Windows machine (preferably virtual, but can be physical).
2. Preferably Desktop (e.g. Windows 10 Home), but can be Server.
3. Running OpenSSH server in the windows machine (technically, this server listens on TCP port 22)
4. Windows machine is open to the internet (i.e. anyone can connect to my IP on TCP port 22)
5

[2017-11-25 19:27] mslicensing commented on #926
At first glance, I would say the second scenario is legal, under the category of "File Services." The rights I have been quoting are for the Professional edition, but I just checked Windows 7 Home Premium and it allows 20 connections for

I can't see the first scenario being legal or doing it legally it won't meet your requirements. If you licensed the OS via a volume licensing program (e.g., you

[2017-11-26 07:04] manojampalam commented on #958
Looks like you are running sshd as System. Can you confirm that (check sshd.exe user context in task manager)

[2017-11-26 07:07] manojampalam commented on #965
@bingbing8 this seems to be related to the recent LogonUser changes.

@leotxcosta please use the previous version for now.

[2017-11-26 07:11] manojampalam commented on #962
IF you are using an admin account, you should have an elevated session.

Make sure you set the registry entry specified here
https://support.microsoft.com/en-us/help/942817/how-to-change-the-remote-uac-localaccounttokenfilterpolicy-registry-se

[2017-11-26 08:00] christian-korneck opened #966 "ssh client on Windows7 fails with: ssh_askpass: fork: No such file or directory"
Please answer the following

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
tested with versions `0.0.23.0` and `0.0.18.0`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`
any server on any OS - it's a client issue (tested against various servers, both Linux a

[2017-11-26 09:34] christian-korneck commented on #966
ok, I think I figured it out. On my Windows 7 machine the environment variable `DISPLAY=localhost:0.0` was set. Removing/Renaming this variable resolved the issue.

While it was set, my `c:\Program Files\OpenSSH\ssh.exe` was trying to execute `c:\Program Files\OpenSSH\usr\X11R6\bin\ssh-askpass.exe`, which doesn't exist (seen with a procmon trace).

[2017-11-26 14:01] ngugc opened #967 "SSH fail to build with platform toolset "Visual Studio 2015 - Windows XP (v140_xp)""
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).Produc

[2017-11-26 15:49] DarwinJS commented on #962
@manojampalam - is this registry setting in the setup instructions.  I don't remember seeing it anywhere?  I think the universal installer might be handling this by giving SSHD service user the user right to change tokens.

I also thought that SSHD always requested "HighestAvailable" in regard to elevation so if the user is admin they would automatically have an elevated setting?

Can you clarify

[2017-11-26 16:03] DarwinJS opened #968 "Disappearance of Repair-FilePermission and Dependability of OpenSSHUtils.psm1"
It looks like the function Repair-FilePermission is missing from the latest version of OpenSSHUtils.psm1.

I have a dependency on it in the universal installer.

This was an exported function - so publicly available for dependency.

In addition to breaking uninstall, this change leaves me wondering which of the current Repair-* functions are equivalent to the previously existing Repair-FilePermiss

[2017-11-27 08:33] DaburLal opened #969 "Tunneling issue using PuTTY"

[2017-11-27 14:09] leotxcosta commented on #965
Thanks guys! Testing with the previous version it worked!

[2017-11-27 17:49] jochemd commented on #953
Tried them, but didn't make a difference.

[2017-11-27 18:24] jeff-zohrab commented on #958
Thank you @manojampalam, I appreciate your time!

Odd -- I re-ran it and everything seemed fine.  Perhaps I broke something as I was going through it initially.  fyi on a new AWS instance with `choco install openssh -params '"/SSHServerFeature"' -y`, I got the following:

[code]

Thank you, I think this must be user error!  I'm getting a different error now though for Windows in AWS: when I try to

[2017-11-27 21:50] chanducrr commented on #964
Even I have the same issue. Is there some config that we can set to accept network username/pwd login?

[2017-11-27 21:52] chanducrr commented on #964
when I run sshd.exe SSH connection works fine. But I could see a command prompt being opened on the server machine for each putty session. Is it expected?

[2017-11-27 21:57] bagajjal commented on #964
Please share the sshd.log (DEBUG3 enabled) when sshd failed to start as service.

[2017-11-27 22:13] leotxcosta opened #970 "Connection Reset error when connecting to SSHD - Cannot create process (1349)"
**OpenSSH for Windows" version**
0.0.22.0

**Server OperatingSystem**
Windows Server 2008 Standard

**What is failing**
I get a "connection reset" error when I try to connect to SSHD running as service (even in debug mode - DEBUG3) or via command line. However, If I run it via command line in debug mode (sshd -d), I can establish the connection successfully.

Looking at debug logs, I found the fol

[2017-11-28 03:57] jeff-zohrab commented on #958
Closing this issue as the username `ci-automation.EC2AMAZ-7DFKC4H` (with AWS hostname appended) is a different issue from the original.  Thank you @manojampalam , regards.

[2017-11-28 03:57] #958 closed

[2017-11-28 08:34] christian-korneck commented on #921
I have the same issue and did some testing. It appears to me that group nesting currently (`0.0.23.0`):
- **only** works if the group that is authorized for access (the one configured in `sshd_config`) is a **domain-local** group.
- Such a domain local group can have a global group as member.
- However, nesting more levels of global groups into a domain local group fails as well.
- And local group

[2017-11-28 12:18] DarwinJS commented on #968
@bingbing8 - or anyone familiar with the recent changes to OpenSSHUtils.psm1 - could someone let me know what functions I would call in the current code to get the equivalent functionality of the previous Repair-FilePermissions ?

Thanks.

[2017-11-28 14:10] DaburLal commented on #965
Hello, From where did you download previous version?? Thanks !!

[2017-11-28 16:32] leotxcosta commented on #965
You can find it here: https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.22.0

[2017-11-28 17:27] manojampalam commented on #970
What context are you running sshd as ?
1349 implies that the account, that sshd is running as, does not have the privileges to launch a session process as the user.
Installation scripts should assign this privilege to sshd account.

Try the following steps to manually assign:
- Open control panel and navigate to
  - Administrative Tools >  Local Security Policy > Local Policies > User Rights Assig

[2017-11-28 17:28] #970 closed, assigned to nobody

[2017-11-28 17:32] manojampalam commented on #967
Sorry. XP support is out of scope for this project.

[2017-11-28 17:32] #967 closed, assigned to nobody

[2017-11-28 17:33] manojampalam commented on #966
Thanks for following up.

[2017-11-28 17:33] #966 closed, assigned to nobody

[2017-11-28 17:36] manojampalam commented on #964
@chanducrr I assume you are using Basic authentication. If so it is expected.

@leotxcosta @chanducrr can you try reinstalling sshd? (just run install-sshd.ps1 in installation folder).

[2017-11-28 17:38] #951 closed, assigned to nobody

[2017-11-28 17:43] manojampalam commented on #950
Redirected link in wiki main page.

[2017-11-28 17:43] #950 closed, assigned to nobody

[2017-11-28 17:44] manojampalam commented on #944
Reopen with logs.

[2017-11-28 17:44] #944 closed, assigned to nobody

[2017-11-28 17:48] manojampalam commented on #959
Thanks. Fixed.

[2017-11-28 17:48] #959 closed, assigned to nobody

[2017-11-28 17:50] manojampalam commented on #969
Recommend collecting client side and server side logs and see what's going wrong.
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2017-11-28 17:50] #969 closed, assigned to nobody

[2017-11-28 17:56] #917 closed, assigned to nobody

[2017-11-28 18:00] manojampalam commented on #963
Thanks for reporting this. Will be fixed in next release.

[2017-11-28 18:07] manojampalam commented on #452
@challarao I assume Credential manager would be locked using user's credentials. So if you login via password auth, you should be able to access it.

As a security measure, you should run sshd only under its service account.

[2017-11-28 18:10] manojampalam commented on #962
@DarwinJS let me follow up for the right guidance. I assumed its a known fact that remote administration using workgroup administrator accounts requires the above registry setting.

[2017-11-28 18:57] bingbing8 commented on #968
@DarwinJS, Can you check where you get OpenSSHUtils.*? These two files have not been update since v0.0.21.0. Function Repair-FilePermission is still under exported. note that the function name is Repair-FilePermission instead of Repair-FilePermission**s**.

[2017-11-28 21:26] joeyaiello commented on #968
Hey @DarwinJS, just finished talking offline with @bingbing8. I should start by saying that it's still not expected that Repair-FilePermission is gone. I have an open PR that actually does that at PowerShell/openssh-portable#242, but it's not in a mergeable state.

Now, let's talk about what's desired from our end. We need a "MS-supported" way for people to both *install* and *configure* OpenSSH.

[2017-11-28 21:55] bingbing8 commented on #965
@saurabhverma999 and @leotxcosta, are you running windows server 2008? Can you check if this file ("%windir%\system32\sspicli.dll") presents on your machine? Windows server 2008 is equivalent to Vista SP1.  Note that vista and below is out of scope for our project.

[2017-11-29 01:23] bingbing8 commented on #964
@leotxcosta windows 2008 is equivalent to vista SP1. Note that vista and below is out of scope for our project.
SSHD service can't be started with previous version 0.0.22.0, this is not regression. right?

[2017-11-29 01:43] chanducrr commented on #964
@manojampalam  I tried reinstalling but basic authentication doesn't work . Here is the DEBUG3 log

Windows PowerShell
Copyright (C) 2015 Microsoft Corporation. All rights reserved.

PS C:\Windows\system32> cd 'C:\Program Files\OpenSSH'
PS C:\Program Files\OpenSSH> ls

    Directory: C:\Program Files\OpenSSH

Mode                LastWriteTime         Length Name
----                -------------

[2017-11-29 01:45] chanducrr commented on #964
@bagajjal @manojampalam @bingbing8  We are trying this on Windows Server 2012 R2

[2017-11-29 01:49] chanducrr commented on #964
@bagajjal @manojampalam @bingbing8

Here is the success case log when run sshd

PS C:\Program Files\OpenSSH> .\sshd.exe -ddd
debug2: load_server_config: filename ./sshd_config
debug2: load_server_config: done config len = 272
debug2: parse_server_config: config ./sshd_config len 272
debug3: ./sshd_config:35 setting LogLevel DEBUG3
debug3: ./sshd_config:50 setting AuthorizedKeysFile .ssh/authorized

[2017-11-29 07:01] surendrasake opened #971 "Terminal issue in Windows Cygwin if the output of a command would otherwise scroll past the bottom of the terminal Window, the output overwrites itself on the last line. If the output would also exceed the width of the terminal when this happens, the output echoes every character change on a new line instead of wrapping."
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).Produc

[2017-11-29 07:13] surendrasake commented on #971
[4;53H
[5;1H                           [5;53H
[6;1H                            [6;53H
[7;1H                            [7;53H[7;53Hpowershell Set-ExecutionPoli[7;54Howershell Set-ExecutionPoli[7;55Hwershell Set-ExecutionPoli[7;56Hershell Set-ExecutionPoli[7;57Hrshell Set-ExecutionPoli[7;58Hshell Set-ExecutionPoli[7;59Hhell Set-ExecutionPoli[7;60Hell Set-ExecutionPoli[7;61Hll Set-Ex