[2016-10-22 14:04] DarwinJS commented on #287
@hbjastad - I am curious - did you create the userid in windows and logon with the userid in order to create that user profile folder?  Or did you just create the folder itself and place the keys there?

[2016-10-22 14:08] DarwinJS commented on #290
@manojampalam - were you able to determine if this permission must be explicitly granted for Nano?  I have seen some other issues reported that imply the permission must be explicit for nano => https://github.com/PowerShell/Win32-OpenSSH/issues/378

[2016-10-22 19:36] iavael commented on #341
@manojampalam Usually it's considered as good practice to completely disable password auth on ssh so that brute force attacks wont apply. In case of your approach password auth would be required.

[2016-10-24 05:26] swaminathanvetri commented on #241
Facing the same error with the below logs from event viewer!
Faulting application name: sshd.exe, version: 0.0.0.0, time stamp: 0x574c7019
Faulting module name: KERNELBASE.dll, version: 6.3.9600.18007, time stamp: 0x55c4c341
Exception code: 0x80000003
Fault offset: 0x00000000000ddfd2
Faulting process id: 0x1e6c
Faulting application start time: 0x01d22b5d069df58b
Faulting application path: C:\OpenS

[2016-10-24 11:29] mikemaccana opened #382 "Docs should use install-package"
Windows packages should generally be available via `install-package`

We currently have the chocolatey package, which works via install-package if chocolatey is enabled as a package provider, but the docs still focus on .zip archives - they should use `install-package` instead.

[2016-10-24 11:31] mikemaccana commented on #122
Thanks @lalomartins ! Also @manojampalam can confirm the new release fixes issues for me.

[2016-10-24 11:57] DarwinJS commented on #382
@mikemaccana - I am the chocolatey packager for openssh.  The chocolatey package is not an official part of this project.

More importantly, however, is that the Chocolatey provider for Windows PackageManagement is very old and in need of re-release.  The current version (2.8.5.130) is nearing 2 years old and it is not advisable to use it because:
- it was never tested much in production environme

[2016-10-24 12:04] DarwinJS commented on #382
I forgot to mention that the Chocolatey package is mentioned in the first bullet of the install instructions here: https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

And that I keep these instructions up to date - which also deal with using the package to install on Nano and for Docker builds: https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/readme.md

But I do no

[2016-10-24 12:25] mikemaccana commented on #382
Hey @DarwinJS and thanks for maintaining the package! I know the chocolatey package and instructions exist, I just want there to be a single set of instructions for the final release to remove any ambiguity or inconsistency around install methods. Saying "you can use the package, but the instructions below don't use it" as https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH does

[2016-10-24 13:30] DarwinJS commented on #382
@mikemaccana - the team has lodged an issue to create an MSI package (https://github.com/PowerShell/Win32-OpenSSH/issues/350).

Right now I created the Chocolatey package as the "primary" install method (actually places files, etc).  If, however, the team creates a solid MSI package, I should then change the chocolatey package back to it's normal role of a meta-installer over a vendor install.  It

[2016-10-24 14:21] gr9 commented on #241
As for workaround - you can change the settings in the services control panel (Control Panel->System->Administrative Tools->Services;  Right click sshd->Properties.  In the Recovery tab; set first, second and all subsequent failures to restart the service after a minute.  This makes the service mostly usable - however still not ideal; my guess is that I get approx 95% sshd uptime this way.  You ha

[2016-10-24 15:26] agrabauskas opened #383 "link to chocolatey package on install wiki page points to deprecated package."
should be: https://chocolatey.org/packages/openssh
instead of: https://chocolatey.org/packages/win32-openssh

[2016-10-25 05:45] manojampalam commented on #383
Thanks. Fixed

[2016-10-25 05:45] #383 closed, assigned to nobody

[2016-10-25 09:24] felippo commented on #253
I don't see the full ssh client command you used, but I had a similar problem. In my configuration the "Log on as" sshd service property was set as "Local system account".
Everything worked using:
`ssh 'DOMAIN\user'@host`

Perhaps it should be suggested explicitly in the documentation (Install Instructions or Troubleshooting or SSH Usage Examples) to try the 'DOMAIN\user' combination, when in trou

[2016-10-25 23:24] ghost commented on #317
When I attempt to spawn an instance of ssh.exe under my application in order to execute commands on a server, I receive the error described here. On a linux machine, I would have had the option to use the `-T` option, but it is not available on this version of OpenSSH for some reason.

[2016-10-26 03:12] pseudovector opened #385 "Release v0.0.2.0: High CPU consumption by ssh.exe in open SSH session"
Hi,
After I upgraded my win32-openssh to v0.0.2.0, the ssh.exe and the conhost.exe comsume a lot of (about 10% each) CPU cycles constantly during open SSH sessions to my android devices and my windows PC (running win32-openssh server).
This happens every time.

![capture](https://cloud.githubusercontent.com/assets/15955186/19712065/43be919e-9b6d-11e6-81ed-1ef4267b7e9e.PNG)

[2016-10-26 03:17] pseudovector commented on #385
Anybody experienced the same issue?

[2016-10-26 03:33] pseudovector opened #386 "Release v0.0.2.0: Can not scroll back to see previous console output"
Can not scroll back to see previous console output after v0.0.1.0.

Happens in either powershell and cmd.

![capture](https://cloud.githubusercontent.com/assets/15955186/19712397/fd7b7082-9b6f-11e6-97e9-d1c0891da5ae.PNG)

[2016-10-26 13:33] mikemaccana commented on #382
@DarwinJS I'm just getting started with windows so I hope you don't mind the questions (I genuinely don't know).
- Does install-package only get packages from package providers?
- Is there an official package provider, eg, an official microsoft package provider?

Thanks!

[2016-10-26 15:31] DarwinJS commented on #382
No problem Mike.

Yes, Install-Package can only get packages from package providers which are "plug-ins" for Windows PackageManagement.

The PackageProvider kinda of handles the "package manager technology framework" bits (actual code on your system to process packages) and then each package provider has "sources" (Get-packagesource) that are pointers to actual repositories that use that package m

[2016-10-28 07:53] Cris70 commented on #244
Adding "AddressFamily inet" fixed the problem here on Windows Server 2008 R2 Std SP1.

[2016-10-28 21:36] splatteredbits opened #389 "Cloning a Git repository using ssh.exe hangs"
When I try to use your version of ssh.exe with Git to clone a repository, it hanges.
# Steps to Reproduce
- Install Git for Windows (I'm on 2.10.1 on Windows 7, bot x64)
- Open a new PowerShell prompt (so git.exe is in your PATH)
- Set the GIT_SSH environment variable to point to Win32-OpenSSH's ssh.exe: `Set-Item env:GIT_SSH "C:\Program Files\Open-SSH-Win64\ssh.exe"
- Clone a Git repository using

[2016-10-31 19:50] manojampalam commented on #374
Try https://github.com/PowerShell/Win32-OpenSSH/milestone/4 and reopen if you see still see it

[2016-10-31 19:50] #374 closed, assigned to nobody

[2016-10-31 19:51] manojampalam commented on #310
Please try release from https://github.com/PowerShell/Win32-OpenSSH/milestone/4 and reopen if you still see this.

[2016-10-31 19:51] #310 closed, assigned to rayhayes

[2016-10-31 23:42] ktos opened #390 "No password works - possibly because of MS Account?"
I am using Windows 10 Anniversary Update and using MS Account (only, never set-up local account on this machine). Started `sshd.exe` from the latest release and tried to log-in: no known for me usernames/passwords are working.

I changed my MS Account password recently and tried that password and probably two ones before. Tried both username which is working in SMB (which is in the %USERPROFILE% f

[2016-11-01 07:59] x9f5yjkq opened #391 "When you connect with an IPv6 address, it is displayed bad address to sshd.log."
When you connect with IPv6 address, you will see a bad address to sshd.log.

Also, if you set the AllowUsers user @ IPv6 address in sshd_config, it does not function properly.

IPv6 addresses or would not support?

[2016-11-01 08:39] mohag commented on #308
With the Chocolatey package, it seems like it is at least necessary to run "C:\Program Files\OpenSSH-Win64\install-sshlsa.ps1" (It copies the DLL and adds some registry entries) and reboot the server before public key auth works, (I could not get it to work without a reboot)

[2016-11-01 17:15] huytrann opened #392 "Cannot initialize session when enable ForceCommand attribute in sshd_config"
When I enable ForceCommand attribute in sshd_config to run a simple bat file and login the server with putty, the session can't be initialized. However the bat file still executed.

ForceCommand C:/test.bat

Inside test.bat, I just put a simple command mkdir C:\testfolder

Best regards,

[2016-11-02 14:22] jkodroff opened #394 "ssh.exe quits immediately after startup with no output"
When I run ssh.exe, it quits immediately upon startup with no error message.

- I installed using the Chocolatey package.
- I'm running Windows 8.1 Pro.
- It's broken in both PowerShell and cmd and displays error text in neither shell.

Here's the output:
[code]

Please let me know if there's any additional info I can provide.

[2016-11-02 14:38] JamieRRobillardSr commented on #394
you need to specify the name of the server you want to connect to.

[2016-11-03 00:47] erichiller commented on #373
I'm not sure what sort of changes you are trying to have pre-set. But you could put them in your powershell `profile.ps1` or whatever you are using for your profile.

[2016-11-03 13:03] wrigler commented on #241
Hello, facing also the same error (Windows 2012R2 fully updated):
Faulting application name: sshd.exe, version: 0.0.2.0, time stamp: 0x580c37e9
Faulting module name: KERNELBASE.dll, version: 6.3.9600.18340, time stamp: 0x57366075
Exception code: 0x80000003
Fault offset: 0x00000000000de2d2
Faulting process id: 0xb00
Faulting application start time: 0x01d235c915682458
Faulting application path: C:\O

[2016-11-03 16:09] eperede opened #396 "sftp put and get commands differs from Unix variant"
Hello developers,

we have noticed a difference between the sftp.exe's "put" and "get" commands in the Win32/Win64 OpenSSH and Unix/Linux OpenSSH.
So the reproduction of the issue.
1. Logging in to a remote host with "sftp.exe".
2.    a. get source_filename target_filename
      b. put source_filename target_filename.
In the target_fiename parameters we always only have a filename, never including

[2016-11-04 19:09] rayhayes commented on #352
It was an issue with the way the console was handling the output. Should be fixed in next release.

[2016-11-04 23:11] rayhayes commented on #373
According to the doc variables are added from the file ~/.ssh/environment file in the format VARNAME=value . There's a setting in sshd_config PermitUserEnvironment.

[2016-11-06 00:55] joeyaiello commented on #394
@JamieRRobillardSr yeah, but expected output is still:

[code]

[2016-11-06 15:20] diracsbracket opened #397 "Log file of 72GB!!!"
Hi,
Just installed OpenSSH and used it successfully.
However...
All of a sudden, all my HD space was gone, and the culprit was sshd, which produces a logfile of 72GB!
What the??

How can I limit this log to a certain maximum?

Thanks!

[2016-11-06 15:35] diracsbracket commented on #397
Others had this problem apparently, so I did as they did.
in sshd_config, I added the line
LogLevel QUIET
Not tested yet.

[2016-11-06 15:35] #397 closed, assigned to nobody

[2016-11-07 07:11] #319 closed, assigned to manojampalam

[2016-11-07 09:20] x9f5yjkq opened #398 "Wild card does not work."
mget did not work command, the mput command.
You will not be able to send and receive multiple files with wildcards?

[Example]
-------------------------------------------------
sftp> lls
2016/11/07  18:16    <DIR>          .
2016/11/07  18:16    <DIR>          ..
2016/10/24  18:18                23 ftp_file1.txt
2016/10/24  18:18                23 ftp_file2.txt
2016/10/24  18:18                23

[2016-11-07 20:29] manojampalam commented on #385
Yes, current console read code does a busy loop for reading console input. This is the reason behind CPU  usage. @rayhayes is looking into better options.

[2016-11-08 14:16] Kirderf73 opened #399 "Unable to logon with trusted AD User account"
Hi!
I'm unable to SSH with a trusted AD user account (one way trust) on Win32-OpenSSH v0.0.2.0 to v0.0.3.0. It works on v0.0.1.0.

SSH with local AD users account works on all three versions.

**Win32-OpenSSH 0.0.1.0 (Works)**
**Win32-OpenSSH 0.0.3.0 (Failed password for invalid user )**

See attachments for log.
[openssh-log.zip](https://github.com/PowerShell/Win32-OpenSSH/files/578356/openssh-lo

[2016-11-09 06:36] madhavanks26 commented on #189
@manojampalam i have changed the steps which u have mentioned and now the pc display is not coming ,could please help me with that
process i did
step 1: opened regedit
step 2: traversed HKLM>system>current controlset >control>lsa
step 3: clicked Authentication packages
step 4: in that value data is ==> msv1_0
step 5: i have changed to /t REG_MULTI_SZ /d msv1_0\0ssh-lsa.dll -f
Result :
PC is bootin

[2016-11-09 08:53] tbxy09 opened #400 "git clone always give error message,fatal: ''mongodb'' does not appear to be a git repository, with a wired double quotes"
$ git clone ssh://gitbk@192.168.2.100:mongodb
Cloning into 'mongodb'...
gitbk@192.168.2.100's password:
fatal: ''mongodb'' does not appear to be a git repository  ---------------this is the wrong output of git-upload pack, git clone will call the git-upload-pack in remote server
fatal: Could not read from remote repository.

BUT I TRIED THIS ,IT WORKS

$ ssh gitbk@192.168.2.100 "git-upload-pack mo

[2016-11-09 19:34] manojampalam commented on #399
Authentication is done in agent. Verify and attach ssh-agent.log. See https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting%20Steps

[2016-11-09 19:38] manojampalam commented on #394
@joeyaiello were you able to repro it on your end?

[2016-11-09 19:40] manojampalam commented on #392
Needs to be investigated why force command isn't working. ForceCommand is picked up in do_exec in session.c

[2016-11-09 19:52] manojampalam commented on #379
You may launch powershell directly now. i.e without -File -

[2016-11-09 21:37] ekos2001 opened #401 "sshd dynamic port forwarding doesn't work"
Does dynamic port forwarding implemented in sshd?

[2016-11-10 12:48] Kirderf73 commented on #399
Thanks for a great software!

I have uploaded the ssh-agent-log for both versions.

I had som problems to get the ssh logfile in debug3 though, but if "ssh -v" is enough, you have it in the zip.

[win32-openssh-ssh-agent-log.zip](https://github.com/PowerShell/Win32-OpenSSH/files/583360/win32-openssh-ssh-agent-log.zip)

[2016-11-10 12:56] zyrill commented on #401
Yes, you can use dynamic port forwarding. I've tried it and it works, running on Win Server 2012 R2.

[2016-11-10 20:50] ekos2001 commented on #401
It doesn't work for me for some reasons
Here is my setup:
sshd started on Windows 10, firewall is disabled
ssh started on different Windows 10 PC with following command line:
ssh -D 1080 user@host
Firefox set up to use socks5 proxy localhost:1080
When I try to use firefox, following appears in ssh console:
getsockname failed: Bad address
channel 2: open failed: unknown channel type:

If I connect

[2016-11-12 11:03] mnaiman opened #402 "NTLM Single sign on"
It would be great to have NTLM SSO like other SSH Server on windows.

[2016-11-13 00:03] pheebcodes opened #403 ""unable to open service handle""
On starting Powershell (with standard user and admin) I'm getting the following printed out.

[code]

Windows 10
Chocolatey v0.10.3
OpenSSH_7.1p1 Microsoft_Win32_port_with_VS Nov  6 2016, OpenSSL 1.0.2d 9 Jul 2015

[2016-11-13 00:10] pheebcodes commented on #403
D'oh. Easy fix. Removed `posh-git` from my `Documents\WindowsPowerShell\Modules` folder.

[2016-11-13 00:10] #403 closed, assigned to nobody

[2016-11-13 16:43] dougransom opened #404 "v0.0.3.0 scp fails"
c:\Program Files\OpenSSH>.\scp.exe install-sshd.ps1 blue
'cp' is not recognized as an internal or external command,
operable program or batch file.

[2016-11-13 16:45] dougransom opened #405 "ControlPath in ssh_config fails v0.0.3.0"
ssh config

Host blue
	HostName underdoug.ca
	User underdou
	ControlPath c:/users/doug/.ssh/controlmasters_doug_blue
	ControlMaster auto
    ControlPersist 10m

c:\Program Files\OpenSSH>ssh blue
muxclient socket(): Unknown error

[2016-11-13 22:26] friism commented on #381
@DarwinJS I just encountered this problem too. Is there any way to activate a user so that you don't have to login with password first, but can start using publickey auth right off the bat?

[2016-11-13 22:35] DarwinJS commented on #381
@friism - I have not actually tested any of my conjecture in the first post of this issue.

I was hoping for a statement from the Dev team (@manojampalam) on this ticket as to what SSH expects when the first (and possibly only) reason someone is creating a user is so they can use SSH.

I do know that proper user creation creates many of the necessary objects, but that the user profile folder creat

[2016-11-14 14:46] jkodroff commented on #394
Also, a message indicating which argument is missing or invalid would be helpful (but I understand if that's not possible b/c of compatibility with the *nix version of OpenSSH).

[2016-11-14 15:04] jkodroff opened #406 "ssh-agent: unable to open service handle"
When I run ssh-agent, I get the following output:

[code]

Some debugging info:

- Windows 8.1
- Installed via the Chcolatey package (0.3.0)

Please let me know if there's additional steps to take.

[2016-11-14 20:56] frostius opened #407 "sftp-server path in sshd_config"
If installation is to a path other than default, the sftp-server path in the sshd_config is incorrect.  At minimum, the install guide should be updated to reflect this

[2016-11-14 21:33] DarwinJS commented on #407
@mfrost66 - I am interested in the scenario where you need to install outside of the defaults - because if you install outside of Program files - especially on desktop OSes - you lose a lot of built-in malware protections.

[2016-11-14 21:52] frostius commented on #407
many laptops have very small primary SSDs.  3rd party tools can easily
consume this space, so I install most apps to a separate drive as a matter
course

hard-coding paths is wrong for so many reasons its difficult for me to
imagine any reasonable justification

On Mon, Nov 14, 2016 at 3:33 PM, Darwin notifications@github.com wrote:

[2016-11-14 22:03] DarwinJS commented on #407
Well I can't speak for the dev team - but this is a pre-release software that does not have an installer supported by the team yet.  So defaulting files in the zip to the location advised in the installation documentation means it just works out of the box for anyone who wishes to use the default configuration.

I'm sure once they get a full blown installer that allows choosing the install folder,

[2016-11-15 17:39] friism commented on #381
@DarwinJS I got it mostly working, except for the first password to login: https://github.com/friism/ec2-windows-packer-ssh

[2016-11-15 18:18] #365 closed, assigned to nobody

[2016-11-15 18:18] #361 closed, assigned to rayhayes

[2016-11-15 18:19] #352 closed, assigned to rayhayes

[2016-11-15 18:19] manojampalam commented on #300
Please validate and reopen if needed

[2016-11-15 18:19] #300 closed, assigned to rayhayes

[2016-11-15 18:19] manojampalam commented on #276
Please validate and reopen if needed

[2016-11-15 18:20] manojampalam commented on #212
Sorry, did not get a chance to look into this yet.

[2016-11-15 18:38] Drugoy commented on #276
I don't see the commit that's supposed to fix the issue.

[2016-11-15 18:58] ekos2001 commented on #401
Any ideas?

[2016-11-15 19:00] ekos2001 commented on #401
@zyrill, what is your full setup? socks port, browser?

[2016-11-15 19:30] frostius commented on #407
No doubt - its going to be awesome!  Imagine even how much more awesomer it
would be if the marketing dept would add a 2nd intern!  Open source ALL THE
WAY BABY!!!!

On Mon, Nov 14, 2016 at 4:04 PM, Darwin notifications@github.com wrote:

[2016-11-15 23:17] Drugoy commented on #276
I've found the commit and I've tried the new version (v.0.0.3.0): you managed to fix something yet broke something else:
The prompt:
<img src="https://i.imgur.com/0ml5KoD.png">
The prompt after entering a wrong passphrase first (shouldn't prompts always be the same? isn't the difference a sign of a bug?):
<img src="https://i.imgur.com/OiKc9EP.png">
After `chcp 65001`:
<img src="https://i.imgur.com

[2016-11-16 07:43] bingbing8 opened #408 "Added basic PowerShell tests for SCP, SSH, portforwarding"
Added basic power shell tests for SCP, SSH, portforwarding

[2016-11-16 19:36] manojampalam commented on #407
see https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.2.0
relative sub-system paths. Relative Sub-system executables can now be picked up from installation root. Ex the following in sshd_config would work for sftp:
◦SFTP sftp-server.exe //sftp-server.exe will be picked up from sshd.exe installation path

[2016-11-16 19:38] manojampalam commented on #406
Did you install sshd and ssh-agent services? See https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2016-11-16 19:39] manojampalam commented on #405
ControlMaster is not supported on Windows yet. See https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Scope

[2016-11-16 19:42] manojampalam commented on #402
dup #96

[2016-11-16 19:42] #402 closed, assigned to nobody

[2016-11-16 22:25] DavidBiesack opened #409 "passwordless ssh not working"
I installed the [3.0.0 release](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.3.0) on Win 7 Pro, followed the [install instructions](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH) and ran the `reg` command [here](https://github.com/PowerShell/Win32-OpenSSH/issues/189) and verified my file permissions (using Cygwin ls -l) :

[code]
I've copied my `id_rsa.pub

[2016-11-17 11:29] codersam opened #410 "Scp destination path is screwed."
I'm trying to upload files from [Bamboo's](https://www.atlassian.com/software/bamboo) [SCP task](https://confluence.atlassian.com/bamboo/using-the-scp-task-in-bamboo-305759795.html) to Windows Server 2012 R2 Standard Edition (run in Amazon t2.micro instance).

**But files get saved under wrong names.**

_For example:_
I configure Bamboo's SCP task to upload file  `api.war` into folder `deploy` as

[2016-11-18 09:59] bluekeys commented on #354
To confirm, scp works for me only if I run it from C:\Program Files\OpenSSH-Win64

[2016-11-19 22:50] hashhar commented on #385
I have the same issue but with sshd.exe. I start it as a service and it constantly uses 30% of CPU.

[2016-11-20 20:28] zachross90210 opened #411 "ncurses madness"
![017298039a7526e9426b101d9114ec14](https://cloud.githubusercontent.com/assets/2589828/20465882/93664a9a-af70-11e6-8621-1a1080dfe620.gif)

[2016-11-21 03:36] tbxy09 commented on #410
I got the path issue too while I try to upload the file to git server using git push command, always return a path with the quotes in its error message
 #400

[2016-11-21 18:48] manojampalam opened #412 "Following unittests fail/crash on Windows"
The following tests are enabled, but some part of the tests are disabled with WIN32_FIXME and need to fix
##unittest-hostkeys.exe
### regress/unittests/hostkeys/test_iterate.c
1. line 66
		ASSERT_SIZE_T_LT(ctx->i, ctx->nexpected);
## unittest-sshkey.exe
### regress/unittests/sshkey/test_file.c
1. All tests about "parse XXX from new-format w/ passphrase"
2. All tests "parse Ed25519 XXXX"
### regres

[2016-11-21 21:49] jkodroff commented on #406
I don't understand why sshd would need to be installed as a service if I'm only making outgoing connections.

Also, assuming that there's no need for command line output compatibility, it would be helpful to have a hint for this in the ssh-agent output.

[2016-11-22 03:29] Jaybernater commented on #189
Hi,

I've found the same issue when installing on w2k3 32 bit also. Is the registry add safe to use?

[2016-11-22 05:27] manojampalam commented on #409
key auth is done in ssh-agent. See wiki for trouble shooting instructions and how to get ssh-agent traces

[2016-11-22 05:29] manojampalam commented on #406
ssh-agent is implemented as an OS service in Windows. Its needed both on client and server side.

[2016-11-22 12:22] DarwinJS commented on #189
Keep in mind the all the commands given in the wiki and the scripts assume  you only have the default msv1_0 in the key currently.  The code in the chocolatey package preserves all values that might be in the key, both during install and uninstall.

[2016-11-22 14:29] prashcr opened #413 "Invalid ECDSA key length for valid key length"
I'm not sure what's wrong here...

[code]

[2016-11-22 15:14] DavidBiesack commented on #409
I see in ssh-agent.log

[code]
and in sshd.log
[code]

I'm not sure what this means or how to troubleshoot this (I looked at the wiki page to set DEBUG3 level)
Here is the full `ssh-agent.log` for the client connection attempt:
[code]

Here is the full sshd.log for the same:

[code]

[2016-11-23 20:12] mnaiman commented on #96
NTLM is good for non domain enviroment I guess

[2016-11-23 22:57] #408 closed, assigned to bingbing8

[2016-11-24 10:57] GT500org opened #414 "Windows 7 x64 - sshd Unknown Error"
I just tried to install version 0.0.3.0 on a Windows 7 x64 system, and when I start the sshd service I can't connect and the log simply fills with lines like the following (as in hundreds of thousands of them, very quickly):
[code]

If I stop the sshd service, and execute sshd.exe on the command line like `sshd.exe -d` then I get a repeated error in the Command Prompt that says the following:
[cod

[2016-11-24 15:21] mikemaccana commented on #382
Thanks @DarwinJS - re: the second question, is there an official microsoft package provider? Would openssh go there or stay in chocolatey?

[2016-11-24 15:29] DarwinJS commented on #382
Microsoft kicked off the effort for a Chocolatey Package provider for PackageManagement, but then turned it over to the community - and it has languished.

The team at chocolatey is looking at addressing it.  One challenge is that the "model" implementation of a PackageManagement provider is a standalone .NET assembly and I think the chocolatey team is trying to see if they can use the same code b

[2016-11-24 21:06] ferventcoder commented on #382
@mikemaccana To provide more background and maybe answer your question, Microsoft has "PackageManagement" which is a package manager ***manager*** (or package manager aggregator if you will), it manages other package managers, provides an interface to all of them, and that is *all* that it does. To date there are a few providers it comes with out of the box, the most widely used being [PowerShellG

[2016-11-25 03:02] wsargent opened #415 "SSH_AUTH_SOCK to GPG4Win's gpg-agent not recognized"
I installed openssh 0.3.0 though chocolatey on Windows 10 Home.

I installed GPG4Win 2.3.3 and started a gpg-agent.

I open up a Windows Command prompt and added the following

[code]

But the openssh client did not recognize it:

[code]

More details in the gist: https://gist.github.com/wsargent/072319c2100ac0aea4305d6f6eeacc08#using-gpg-agent-instead-of-ssh-agent

[2016-11-25 11:15] mikemaccana commented on #382
Thanks again @ferventcoder ! I get that's it's a package manager manager, just wanted to see if one of those providers was an 'official' Microsoft one - eg, in Red Hat land, there are Red Hat repos, and community/third party repos. In Ubuntu land, there are official Ubuntu repos and community/third party repos. I guess the answer is no - there's no official MS web-based provider (and MS themselves

[2016-11-25 13:55] Kirderf73 commented on #399
Hi!
Anything else you need?

Are the logs ok?

[2016-11-25 21:29] lygstate opened #416 "How getting SSH to create proxy forward as service?"

[2016-11-28 07:38] hashhar opened #417 "Any way to use this with Git for Windows instead of their bundled binaries?"

[2016-11-28 12:36] f0ff886f opened #418 "Cannot Use Password Protected ed25519 Keys in ssh"
Win10 x64 - openssh 0.3.0

Trying to use my ed25519 private key to connect to sshd instances on other servers always fails with win32-openssh.

It asks me for my password, I enter it, it returns with bad password every time:
[code]

The exact same key works just fine in other SSH clients (openssh on linux, SecureCRT on Windows).

[2016-11-29 19:22] discodance1 commented on #379
I can launch powershell. The problem i am facing is as a non admin user i cam not able to execute powershell scripts

PS C:\> .\test.ps1
.\test.ps1 : AuthorizationManager check failed.
At line:1 char:1
+ .\test.ps1
+ ~~~~~~~~~~
    + CategoryInfo          : SecurityError: (:) [], PSSecurityException
    + FullyQualifiedErrorId : UnauthorizedAccess

[2016-11-29 19:23] discodance1 opened #419 "unable to execute powershell scripts as non admin"
PS C:\> .\test.ps1
.\test.ps1 : AuthorizationManager check failed.
At line:1 char:1
+ .\test.ps1
+ ~~~~~~~~~~
    + CategoryInfo          : SecurityError: (:) [], PSSecurityException
    + FullyQualifiedErrorId : UnauthorizedAccess

This works when i run the command directly using powershell -Command get-command

[2016-11-29 19:32] discodance1 commented on #419
This is only happening when i am connected to the windows server where i want to run the powershell script via openssh.

When i login to the server as the non admin user i am able to execute the same powershell script without any issue.

[2016-11-29 19:33] discodance1 commented on #379
This is only happening when i am connected to the windows server where i want to run the powershell script via openssh.

When i login to the server as the non admin user i am able to execute the same powershell script without any issue.

[2016-11-29 19:34] #366 closed, assigned to nobody

[2016-11-29 23:03] manojampalam commented on #112
Please check milestone release and reopen if needed.

[2016-11-29 23:03] #112 closed

[2016-11-29 23:04] manojampalam commented on #321
Taken care of as part of https://github.com/PowerShell/openssh-portable/commit/edd458a8faf7f75d4e58ac74b4081afe90cf7af5

[2016-11-29 23:04] #321 closed, assigned to nobody

[2016-11-29 23:04] manojampalam commented on #328
Done in PowerShell/openssh-portable V_7_3w

[2016-11-29 23:04] #328 closed, assigned to nobody

[2016-11-29 23:05] manojampalam commented on #362
Please check milestone release and reopen if needed.

[2016-11-29 23:05] #362 closed, assigned to nobody

[2016-11-29 23:05] manojampalam commented on #385
@hashhar please reopen a new issue if you still see the issue with sshd.exe

[2016-11-29 23:05] #385 closed, assigned to rayhayes

[2016-11-29 23:06] manojampalam commented on #314
Up and running on https://github.com/PowerShell/openssh-portable V7_3w

[2016-11-29 23:06] #314 closed, assigned to bingbing8

[2016-11-30 04:35] fpqc commented on #411
@zadjii-msft I assume you're keeping in contact with the powershell openssh team?  This is like your bread and butter!

[2016-11-30 04:38] fpqc commented on #411
Also, to get even this far, I had to export TERM=xterm on my remote shell.

[2016-11-30 04:44] fpqc commented on #409
This sounds like you're just failing to authenticate. This works in Win10.

[2016-11-30 14:48] DavidBiesack commented on #409
yes, it is failing to authenticate with my public key, and falls back to password. But I don't know why it fails, and the log does not explain it. I have verified that on the remote Windows PC, my `~/.ssh/authorized_keys` contains my public key from the local client's `id_rsa.pub` and this works on other Linux machines.  Below is a ssh -vvv log (I masked the hostname/userid),
but the important lin

[2016-11-30 15:40] juergenr opened #420 "Server refused public-key signature despite accepting key!"
I followed exactly the instruction from
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH
(ommiting the optional point 6)

Then I generated a keypair with ssh-keygen.exe -t rsa -f id_rsa
Added the public key to the authorized_keys file
Converted the private key to ppk format via Putty Key Generator
Tried Putty and Winscp with Private key file - getting the above error message

[2016-11-30 16:11] rogue-admin commented on #420
Curious, as we're having the same issue... is the account you're trying to login as a domain account?

[2016-11-30 16:49] hashhar commented on #385
@manojampalam Both the issues are now fixed. It seems to have a CPU spike when the service is just started and just before connecting, but that seems consistent with what I've seen with openssh on linux. Thanks.

[2016-11-30 16:52] zadjii-msft commented on #411
I can't say I've seen anything like this before, or really have any experience with the ssh.exe project.

Someone want to give me some more context?

[2016-11-30 17:03] fpqc commented on #411
@zadjii-msft This is logging into a remote linux box with Win32-openssh (still present in 0.0.4.0).  If you then try to run `htop`, it cannot detect your TERM environment.  If you then forcibly `export TERM=xterm`, and try to run `htop`, you get this crazy mess.

I think the openssh guys need to discuss enabling vt emulation or come up with a Windows-conhost terminfo file.  Either way, it's defini

[2016-11-30 17:08] fpqc commented on #420
If you're trying to login to a domain account, you probably also are required to sign the public key with a trusted domain certificate.

[2016-11-30 17:11] juergenr commented on #420
No, its a local account testet on several VMs (with Windows 2012 and Windows 10).
A step-by-step tutorial with every single step would be very nice (including putty/winscp with public key access).

[2016-11-30 17:19] fpqc commented on #420
@juergenr Hmmmm.  Are you on Windows 10?

[2016-11-30 17:20] juergenr commented on #420
Yes, the client is winscp/putty/ssh on Windows 10.

[2016-11-30 17:22] fpqc commented on #420
@juergenr Change the port of sshd to 2222 (in sshd_config), then restart the sshd service with `sc restart sshd`.  Windows 10 has a built in openssh server (maybe it's only active when you're in developer mode?) that will prevent binding port 22.

[2016-11-30 17:33] juergenr commented on #420
When I stopped the sshd service on Windows 2012 nothing is listening on port 22 (netstat -a)

[2016-11-30 17:34] fpqc commented on #420
@juergenr Oh, the server is on Windows Server 2012.  I thought it was on your local machine.

[2016-11-30 17:35] juergenr commented on #420
I've tried all combinations without success

[2016-11-30 19:08] discodance1 commented on #419
Any help or pointers ?

[2016-11-30 21:03] bingbing8 commented on #368
It works after the commit "SCP fixes and cleanup"

[2016-11-30 21:03] #368 closed, assigned to nobody

[2016-11-30 21:13] JmFixit opened #421 "Command execution exit-status is always 0"
Reproducible on 0.0.2.0 to Version 0.0.4.0

When command is executed exit code should be within the exit-status response however starting from 0.0.2.0 to 0.0.4.0 its always 0.
**How to reproduce:**
ssh -v Administrator@WIN_HOST "EXIT 66"
or
ssh -v Administrator@WIN_HOST "cmd.exe /C EXIT 66"
**Expected result:**
Correct 66 ssh command exit status should be reported.
**Actual result:**
0 is reported

[2016-12-01 01:04] bagajjal opened #422 "SFTP long listing (ls -l) output on windows is not matching with linux"
1) On windows, long listing (ls -l) output doesn't have the username, group name
-rw-rw-rw-    1          0         7532544 Nov 28 18:16 unittest-win32compat.pdb
2) For directories we are not displaying "d" as part of permissions field.
3) ls -lrt <full directory path> is giving an error not found
Example -
sftp> pwd
Remote working directory: /e:/test
sftp> ls -lrt
-rw-rw-rw-    1          0

[2016-12-01 09:31] martinprikryl opened #423 "SFTP directory listing does not use "d" for directories"
Release v0.0.4.0.

    psftp> ls /C:
    Listing directory /C:/
    -rwxrwxrwx    1          0            8192 Jul  2  2015 Boot
    -r-xr-xr-x    1          0            4096 Sep  9 13:58 Documents and Settings
    -r-xr-xr-x    1          0           24576 Nov 21 15:24 Program Files
    -r-xr-xr-x    1          0           65536 Nov 30 14:48 Program Files (x86)

The very first character should b

[2016-12-02 07:59] NiQ1 commented on #266
Confirmed on *NIX clients as well -
  [~] # ssh -C Administrator@192.168.0.5
  The authenticity of host '192.168.0.5 (192.168.0.5)' can't be established.
  ECDSA key fingerprint is SHA256:****REMOVED****.
  Are you sure you want to continue connecting (yes/no)? yes
  Warning: Permanently added '192.168.0.5' (ECDSA) to the list of known hosts.
  Administrator@192.168.0.5's password:
  ssh_dispatch_

[2016-12-02 22:40] discodance1 commented on #419
doing more tshooting with procmon:
I see that when running powershell script as non admin user i get ACCESS DENIED on this registry key:
hklm\software\microsoft\WBEM\CIMOM

[2016-12-02 22:42] arif-pragmasys commented on #389
ssh.exe is deadlocking at file read in 'fileio_ReadFileEx()'. Looking at the fd table, the index is 4, which is STD_INPUT.

![image](https://cloud.githubusercontent.com/assets/14184782/20852886/50a60610-b89d-11e6-8450-05a954e3d6ff.png)

git clone git@github.com:PowerShell/openssh-portable.git
The underlying cmd is
ssh.exe git@github.com "git-upload-pack 'PowerShell/openssh-portable.git'"

[2016-12-03 00:11] bagajjal commented on #423
Thanks for opening an issue. We have identified this issue. It will be fixed in next release.

[2016-12-03 00:12] bagajjal commented on #396
Thanks for reporting this issue. We have identified the root cause. It will be fixed in the next release

[2016-12-03 00:15] bagajjal commented on #398
Thanks for opening an issue. This is a known issue. We will plan and fix this is coming releases.

[2016-12-03 00:31] bagajjal opened #424 "rm <filepattern*> exits the SFTP process"
sftp> dir 1*
 Volume in drive E is abc
 Volume Serial Number is xxxx-yyyy

 Directory of E:\test

12/02/2016  04:27 PM         7,532,544 1.pdb
               1 File(s)      7,532,544 bytes
               0 Dir(s)  164,862,545,920 bytes free
sftp> rm 1*
Match pattern not implemented on Win32.
E:\sftp\test>

[2016-12-05 14:35] mikemaccana commented on #354
I'm getting the exact same as what @bluekeys mentioned - I have to cd into C:\Program Files\OpenSSH-Win64 to be able to run `scp`

[2016-12-05 19:07] discodance1 commented on #419
Any help looks like it is trying to run this command as non admin:

C:\Program Files\OpenSSH\ssh-shellhost.exe -nopty powershell.exe -File C:\test.ps1. Does ssh-shellhost.exe only works as admin user?

[2016-12-05 19:10] discodance1 commented on #419
also when i try to run the above command manually in cmd i don't see any output in cmd.

[2016-12-05 20:13] fpqc opened #425 "Enable xterm-256color emulation for ssh.exe on Windows 10"
The Windows console team has worked very hard to add terminal processing to the windows console.  This is available by setting some console modes.

https://msdn.microsoft.com/en-us/library/windows/desktop/ms686033(v=vs.85).aspx

Specifically, the mode:

ENABLE_VIRTUAL_TERMINAL_PROCESSING

should be enabled for ssh.exe, and it should also set the environment variable `TERM=xterm-256color` (at least

[2016-12-05 20:26] arif-pragmasys commented on #400
Similar to https://github.com/PowerShell/Win32-OpenSSH/issues/389

[2016-12-05 21:51] arif-pragmasys commented on #400
Looks like if I do not mention any protocol, git is picking up ssh and cloning works fine.
![image](https://cloud.githubusercontent.com/assets/14184782/20903681/255c1228-baf1-11e6-950a-04cd8134030c.png)

But if ssh is mentioned as protocol it does not work. I tired it on Linux using openssh. So it might be issue related with git command itself.
![image](https://cloud.githubusercontent.com/assets/1

[2016-12-06 01:16] arif-pragmasys commented on #394
Is this still happening with latest?

[2016-12-06 07:29] p1r473 commented on #133
I am getting a similar issue
"Caught an exception, leaving main loop due to unknown SSH message type 27"
Disconnecting...

I've also had message type 54, and another one too. I am running sshd on Windows 10 too, and trying to connect with JuiceSSH on Android 7.1

Putting "compression no" fixed it for me as well.

Is there any better fix?

[2016-12-06 07:38] zaufi opened #426 "Service has stopped after some error"
I'm trying to control a Vagrant box with Windows 10 and latest OpenSSH inside. Unfortunately, `vagrant` is [not ready for that](https://github.com/mitchellh/vagrant/issues/8080), but for some reason `sshd.exe` being started as a service, has stopped unexpectedly after that actions (mentioned in a referenced bug report).

[2016-12-06 12:06] f0ff886f commented on #418
Repros on win32 openssh 0.4.0

[2016-12-06 16:21] shiatsumat commented on #354
I got the same experience as @bluekeys and @mikemaccana (although PATH is correctly set), but I found that by adding a command line option "-S C:\Progra~1\OpenSSH-Win64\ssh.exe" it works. I'm not sure what it means.

[2016-12-06 18:18] manojampalam commented on #426
Did you check https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting%20Steps ?

[2016-12-06 18:24] manojampalam commented on #420
Server side Logs would help. https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting%20Steps

[2016-12-06 18:28] manojampalam commented on #419
Thanks for the details. Here's what I can iner:
Remote ssh sessions are network logons. The specific resource hklm\software\microsoft\WBEM\CIMOM might be blocking access to network non-admins. If so you'll need to adjust ACLs on the resource.

[2016-12-06 18:30] manojampalam commented on #418
Need details logs. Please check https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting%20Steps

[2016-12-06 18:31] manojampalam commented on #417
This is the long term plan, there are some blockers that still need to be investigated. #400

[2016-12-06 18:31] #417 closed, assigned to nobody

[2016-12-06 18:36] manojampalam commented on #416
Please add details. Or examples of how it works in Unix?

[2016-12-06 18:38] manojampalam commented on #415
Due to security considerations, ssh-agent works a bit differently in Windows. Please see "Privilege Separation and Security model in Windows" in https://github.com/PowerShell/Win32-OpenSSH/wiki/About%20Win32%20OpenSSH%20and%20Design%20Details

[2016-12-06 18:38] #415 closed, assigned to nobody

[2016-12-06 18:39] discodance1 commented on #419
I am still seeing the issue, even though i have provided this non admin acl access to this registry. Looks like hklm\software\microsoft\wbem\cimom is related to logging. I have provided acl access for the non admin to this resource and i no longer get ACCESS DENIED in the proc mon logs but running powershell scripts is still blocked over ssh as a non admin.

1. I have verified that this non admin

[2016-12-06 18:55] manojampalam commented on #414
As per https://msdn.microsoft.com/en-us/library/windows/desktop/ms740668(v=vs.85).aspx, this should be
WSAEINVAL10022
Invalid argument.
Some invalid argument was supplied (for example, specifying an invalid level to the setsockopt function). In some instances, it also refers to the current state of the socket—for instance, calling accept on a socket that is not listening.

Can you attach DEBUG3 lo

[2016-12-06 19:00] manojampalam commented on #409
5924 09:56:53 947 debug1: unable to generate token for user myuserid

This is the reason it pubkey auth is failing. What is the user account type - domain or workgroup?

If domain, try out
    ssh user@domain@IP
If workgroup, make sure ssh-lsa.dll is installed
    Check step 8 in https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2016-12-06 19:01] #406 closed, assigned to nobody

[2016-12-06 19:09] manojampalam commented on #399
Thanks. Looked at the logs and found the point of failure.
Invalid user eraxyz@ericsson.se from x.x.x.x

Need to investigate why sshd is unable to get user info for this particular user. sshd uses the following logic to get user info (in openssh-portable\contrib\win32\win32compat\pwd.c)
            if (NetUserGetInfo(udom_utf16, uname_utf16, 23, &user_info) != NERR_Success) {
                if (D

[2016-12-06 19:25] fpqc commented on #419
@manojampalam The problem is that right now Windows lacks anything like `sudo` on Linux.  So any user with admin credentials will have all actions performed with the full privileges rather than the limited ones performed before doing UAC.  I mentioned this on Twitter on the announcement of 0.0.4.0.

The console team says they're looking at implementing a Windows version of sudo.  You should keep i

[2016-12-06 20:33] DavidBiesack commented on #409
Yes, thank you, this works:
[code]

I did find https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples but only after your reply above which prompted me to search for 'domain'. As a (primarily) Linux user where 'domain' is not part of the ssh environment, this is not very obvious, so perhaps the documentation can be clearer. For Win -> Win ssh, most users probably understand this.

thank

[2016-12-06 20:33] #409 closed, assigned to nobody

[2016-12-06 20:43] manojampalam commented on #409
I assume the following works too (as detailed in https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples)
ssh.exe user@domain host

[2016-12-06 20:50] manojampalam commented on #419
@discodance1 is the issue specific to your test script, or is it that your non-admin is unable to execute any script?

@fpqc agree with your obsevations and will check with console team. But otherwise, the implementation of ssh for Windows is consistent with security model of other Windows services. You get remote logons (with full admin privileges).

[2016-12-06 20:53] manojampalam commented on #354
This was fixed a while back. Try out the latest release and reopen if you still see it

[2016-12-06 20:53] #354 closed, assigned to nobody

[2016-12-06 20:57] fpqc opened #427 "Refuse to launch graphical applications from a remote shell."
In a *nix environment, trying to launch a graphical (X11) application when in an ssh session will fail because no X11 server will be specified (and specifying a display on the server will likely fail because the X11 server running will require authentication ordinarily unavailable to the remote user.  Such an application can be launched if SSH is launched with the -X flag, which enables X11 forwar

[2016-12-06 20:58] manojampalam commented on #133
Will fix it next release. Server shouldn't report zlib when it does not support it.

[2016-12-06 21:02] discodance1 commented on #419
@manojampalam issue is that a non admin account is not able to execute any powershell script when connected via win32-openssh.

[2016-12-06 21:18] DavidBiesack commented on #409
Close. Needs the `-l` option as listed on that page.

[code]

[2016-12-06 22:00] bingbing8 commented on #404
This issue is duplicate with issue 340 when copy files locally on windows, it trying to find the path of cp while we should use copy command.

[2016-12-06 22:18] SteveL-MSFT commented on #427
The -X parameter is strictly tied to X11 and Windows doesn't support X11 (although you can install 3rd party X-Servers).  Automatically wrapping it in RDP/remoteapp would be interesting, but seems outside the scope of OpenSSH.

[2016-12-06 22:33] arif-pragmasys commented on #413
Since win32 openssh is not compiled/linked with nistP521 feature, current build does not support 521 bit ecdsa keys. The error message has been modified based on whether nistP521 is supported.

[2016-12-06 22:43] fpqc commented on #427
@SteveL-MSFT Then maybe launching, for example, calc  should fail with the error "Cannot locate display"

[2016-12-06 22:50] SteveL-MSFT commented on #427
I can see how this can be useful if there is a configuration setting for this as this is a change in behavior on how Windows remoting has worked, but would be shell specific and probably implemented in, for example, powershell exe rather than in OpenSSH.

[2016-12-07 01:05] bagajjal opened #428 "Unix code for "ls -lrt" command will crash the sftpserver,sftpclient"
The unix code for "ls -lrt" command is crashing the sftpserver, sftpclient.

[2016-12-07 03:59] bingbing8 commented on #404
not duplicate but fix in the same PR

[2016-12-07 05:27] #344 closed, assigned to bingbing8

[2016-12-07 05:35] bingbing8 commented on #410
this issue is not repro on the latest build. please try it again on next release and reopen it if it still repros.

[2016-12-07 05:35] #410 closed, assigned to bingbing8

[2016-12-07 13:15] zaufi commented on #426
@manojampalam, yes I did. I've added `DEBUG` as a log level, but the fault happens when `sshd` is a service, and the host just goes up (by `vagrant up`). Unfortunately there is no `sshd.log` file in the `sshd.exe` directory :(

[2016-12-07 14:52] mochtu opened #429 "SSH server fails with public key authentication for local user"
I'm trying to connect from macOS to a Windows Server 2012 R2 with OpenSSH running in version 0.0.4.

I get the following issue from `ssh-agent.txt` when the client is trying to authenticate with a RSA public key. Of course the authorized_keys file exists. It works fine with password authentication.

debug2: client type: 3
debug1: process agent request type 100
debug1: trying public key file C:\Use

[2016-12-07 16:35] PaulHigin commented on #419
@discodance1 I have not been able to repro this.  Take a closer look at the error record you get.  It should contain an Exception property which should have an InnerException property.  The InnerException will likely provide more detailed information on the error.

[2016-12-07 17:27] bluekeys commented on #354
@Kinokkory, @mikemaccana, @manojampalam, @kobeyu

This is now working for me. I upgraded to the latest version 0.0.4.0 using choco

`choco update openssh` (in an administrator terminal)

Thanks for the update.

[2016-12-07 18:59] SteveL-MSFT opened #430 "ssh should be setting TERM=xterm and SetConsoleMode(ENABLE_VIRTUAL_TERMINAL_PROCESSING)"
console programs (GNU nano, for example) fail to launch complaining of unknown terminal

[2016-12-07 19:26] discodance1 commented on #419
@PaulHigin I am sshing from linux server to windows server. Below is the exception i get:

PS C:> .\test.ps1
.\test.ps1 : AuthorizationManager check failed.
At line:1 char:1

.\test.ps1
  + CategoryInfo          : SecurityError: (:) [], PSSecurityException
  + FullyQualifiedErrorId : UnauthorizedAccess

test.ps1 only has one command in it - Get-Command. I can verify that this non admin has access

[2016-12-07 21:14] fpqc commented on #430
By the way, you should set `TERM=xterm-256color` in the Creators Update (RS2).

See here for similar: https://github.com/Microsoft/BashOnWindows/issues/1446

[2016-12-07 21:29] SteveL-MSFT commented on #430
CC @rayhayes

[2016-12-07 21:41] fpqc commented on #425
This issue is now obsolete, as the devs have opened their own issue tracking it:

https://github.com/PowerShell/Win32-OpenSSH/issues/430

[2016-12-07 21:41] #425 closed, assigned to nobody

[2016-12-07 23:00] alexchandel opened #431 "Missing characters in fullscreen console applications like vim"
When connecting to a Windows SSH server, with vim-tux (v8.0.0117) installed on the Windows machine, editing a file with vim that has syntax highlighting results in many random characters not getting displayed. For example, given a file `test.pl` with contents,

[code]

connecting to the Windows server and immediately running `vim test.pl` results in the semicolons not getting displayed. Attempting

[2016-12-07 23:56] PaulHigin commented on #419
To examine the error more closely I do the following:
[code]

[2016-12-08 01:03] discodance1 commented on #419
Thanks this is what i get:

PS C:\> $err
.\test.ps1 : AuthorizationManager check failed.
At line:1 char:1
+ .\test.ps1
+ ~~~~~~~~~~
    + CategoryInfo          : SecurityError: (:) [], PSSecurityException
    + FullyQualifiedErrorId : UnauthorizedAccess
PS C:\> $err.Exception
AuthorizationManager check failed.
PS C:\> $err.Exception.GetType()

IsPublic IsSerial Name

[2016-12-08 01:46] arif-pragmasys commented on #421
When we execute a command like following:
ssh -v -T test1@server "cmd /c exit 2"
on the server side , the following is executed
......\ssh-shellhost.exe -nopty cmd /c exit 2

sshd server is returning the exit code of  'ssh-shellhost.exe' which always happens to be 0.
We should look into ssh-shellhost.exe so that is propagates the correct exit code of the executed command.

[2016-12-08 08:21] megamorf commented on #419
@discodance1 please wrap the command output in 3 backticks like this:

[code]

[2016-12-08 16:55] PaulHigin commented on #419
It looks like test.ps1 is in a non-accessible location given your credentials.  Try putting test.ps1 in an accessible location like $home.  This works for me:
[code]

[2016-12-08 19:24] discodance1 commented on #419
I have placed the file under the non-admin's user profile C:\Users\<user>\Documents\test.ps1. Also under properties-->security i have made sure the non admin user has full control over test.ps1

[code]

[2016-12-08 19:41] PaulHigin commented on #419
Did you copy test.ps1 from a remote location?  If so then PowerShell will not run it if ExecutionPolicy is set to "RemoteSigned".  You can either sign it or use Unblock-File on it to indicate that it is trusted.

[2016-12-08 19:47] discodance1 commented on #419
This file was created locally on the server.

[2016-12-08 19:53] PaulHigin commented on #419
In that case I don't know.  I can't repro it.  I can run SSH from Linux (Ubuntu 14) to Windows 10 having latest Win32Open-SSH, using a local non-Admin account, run PowerShell, and create and run scripts in my $home directory.

[2016-12-08 20:13] fpqc commented on #419
@PaulHigin By the way, when I connect to the Win32-opensshd on Windows (with Windows Subsystem for Linux's bash.exe and then sshing to localhost) and open powershell, the backspace key, delete key, and arrow keys are broken

![2016-12-08](https://cloud.githubusercontent.com/assets/6083371/21026124/476d027c-bd59-11e6-83cd-e87ebabfd06b.png)
![2016-12-08 1](https://cloud.githubusercontent.com/assets/

[2016-12-08 21:22] PaulHigin commented on #419
@fpqc - Yes I see the same thing.  Please open an issue.

[2016-12-08 21:28] alexchandel opened #432 "Pasting from clipboard to ssh session on any non-windows client fails"
When connected to a Windows ssh server from macOS, in the Terminal app using the macOS ssh client, pasting either with "Cmd+V" or by choosing "Paste" from the "Edit" menu fails, and appears to only paste the first character of the clipboard in.

This extends to all forms of pasting, including dragging a file into the Terminal window to paste its path (which results in a lone `/` getting pasted).

[2016-12-08 23:14] bagajjal opened #433 ""rm fullfilepath" couldn't delete the file."
sftp> rm "E:\test\1.pdb"
Removing /E:/test/E:\test\1.pdb
Couldn't delete file: Bad message
sftp>

[2016-12-09 00:55] fpqc opened #434 "Connecting to win32-sshd powershell from a terminal emulator breaks powershell"
When I connect to the Win32-opensshd on Windows (with Windows Subsystem for Linux's bash.exe and then sshing to localhost) and open powershell, the backspace key, delete key, and arrow keys are broken:

![2016-12-08](https://cloud.githubusercontent.com/assets/6083371/21026124/476d027c-bd59-11e6-83cd-e87ebabfd06b.png)
![2016-12-08 1](https://cloud.githubusercontent.com/assets/6083371/21026123/476c8

[2016-12-09 01:19] TyrionLanister commented on #429
I'm not able to  connect localhost in windows using public key authentication with latest win32 sshd release.  It also failed with last  release of v0.0.3.0. So it may not be bug at all
Can any one help with me with issue. There are no other installation of sshd in cygwin.

Logs from sshd.log for command **ssh localhost**

**I didnt type the password so failures from keyboard failures are genuine.

[2016-12-10 19:26] TyrionLanister commented on #429
ssh **user@localhost** works for me  with public key authentication but why I cant just
ssh localhost.
I see that with ssh localhost, the sshd server  sees "**DESKTOP-IQQAVUN/user**" as different account than "**user**"
It's not able to sense hostname of my computer.
so it mistakenly accepts username from ssh localhost command as  "**DESKTOP-IQQAVUN/user**".

If you see at above log for failed  au

[2016-12-11 22:15] friism opened #435 "Forward named pipe through SSH tunnel"
(This is a [cross-post from Stackoverflow](http://stackoverflow.com/questions/41010044/forward-named-pipe-over-ssh))

I'd like to forward a named pipe over SSH, from remote Windows machine to a local machine. The remote Windows machine is running `sshd`. The pipe I want to forward is for the Docker Engine API, although that shouldn't matter.

To forward an equivalent Unix domain socket from a remo

[2016-12-12 15:29] mikemaccana commented on #430
Looks like the most recent update - `Microsoft_Win32_port_with_VS Nov 29 2016` sets `TERM` to be `dumb`, causing `WARNING: terminal is not fully functional` in `less`

[2016-12-12 16:01] fpqc commented on #430
@mikemaccana And other things. It breaks all fullscreen linux terminal applications.  The Windows console in ancient times could use a 16-bit library way back from DOS to do basic terminal processing, but it was deprecated for a long time and finally removed on x64 systems.

It's finally been replaced in Windows 10 Anniversary (1607) with full standard-mode xterm emulation (VT20x iirc)), and will

[2016-12-12 16:29] mikemaccana commented on #430
@fpqc TBH I'd support having 1607 as a hard requirement - by the time OpenSSH for Windows is considered stable 1607 will probably be current anyway. What does @manojampalam think?

[2016-12-12 16:36] fpqc commented on #430
@mikemaccana See, I'd only make it soft because a major use case is connecting Windows-to-Windows, which will work 100% perfect, since neither side is trying to "speak terminal".

[2016-12-12 19:17] iviikel opened #436 "SSH connection restrictions"
This is more of a question than an issue...
Is there a way to configure only a single AD user account or group to be able to connect to the server via SSH?
We want to setup a Machine/Service account in Active Directory that will be able to connect to the server via SSH and all other connection requests refused.
With the default configuration I find that I can connect using an AD account that has n

[2016-12-12 21:27] arif-pragmasys commented on #420
Just tried latest ssh Server both on Win10 and Win 2012 server R2 and connected using putty client. RSA key login worked for me. The following instructions to convert openssh key (generated with ssh-keygen) to ppk worked for me.
https://kb.site5.com/shell-access-ssh/how-to-convert-ssh-keys-to-ppk-format/

[2016-12-12 22:31] arif-pragmasys commented on #420
WInSCP also seemed to work with the same PPK file against Win32 OpenSSH server.

[2016-12-12 23:12] mikemaccana commented on #430
@fpqc That's an excellent point 👍

[2016-12-13 00:50] arif-pragmasys commented on #392
Does your script test.bat have only 1 line in it? try putting cmd.exe at the last line of the script.
Explanations:
Looking more into the documentation, the default behavior of ForceCommand is to execute the script given as argument, then close the session. Tested it in Linux open-ssh. So if you want to let the user continue after the script is executed, a shell has to be launched in the script fi

[2016-12-13 06:36] manojampalam commented on #436
Try AllowUsers in sshd_config https://linux.die.net/man/5/sshd_config

[2016-12-13 08:40] huytrann commented on #392
what is the shell it give you, Windows CMD or OpenSSH?

The script was still executed but after that no openssh session given to me.

[2016-12-13 09:22] megamorf commented on #392
@huytrann He means that you need to add either cmd or powershell at the end of your bat file to have a shell session after the script has finished. The SSH session will simply be closed after executing the script if you don't invoke your Windows shell of choice at the end.

[2016-12-13 09:56] KJTsanaktsidis commented on #430
I had a swing at hacking at this on my computer, because I wanted to get this working. I added the following to `enter_raw_mode` in `sshtty.c`

[code]

It appeared to have no effect - processes like htop & nano inside the ssh session (where `$TERM` was set to `xterm`) would not display correctly. I'm using Windows build 1607, so my conhost should support rendering xterm sequences when `ENABLE_VIRT

[2016-12-13 10:06] KJTsanaktsidis commented on #430
Also it looks like the *input* console `STD_INPUT_HANDLE` is getting `ENABLE_VIRTUAL_TERMINAL_PROCESSING` applied to it in `console.c` - the docs seem to suggest that's only valid for output?

[2016-12-13 15:21] Jonpro03 commented on #189
**reg add HKLM\System\CurrentControlSet\Control\Lsa /v "Authentication Packages" /t REG_MULTI_SZ /d msv1_0\0ssh-lsa -f**

works for me (note .dll is missing).

[2016-12-13 20:09] bagajjal opened #437 "rm <unicode-filename>"
rm русский.txt

We are getting file not found error although file exists. This is because of the UTF8 to UTF16 missing conversion.

[2016-12-13 20:10] bagajjal opened #438 "rmdir <unicode-dirname>"
rmdir русский.txt

We are getting directory not found error although file exists. This is because of the UTF8 to UTF16 missing conversion.

[2016-12-13 20:11] bagajjal opened #439 "rename <old-unicode-filename> <new-unicode-filename>"
rename русский.txt язык.txt

We are getting file not found error although file exists. This is because of the UTF8 to UTF16 missing conversion.

[2016-12-14 06:13] dermeister0 opened #440 "Terminal issues in v0.0.4.0"
Some issues are fixed in #362.

Remaining issues:

**Midnight Commander**
Large terminal size is not supported.

![2016-12-14_1218](https://cloud.githubusercontent.com/assets/4054844/21171517/1a93eb58-c1ff-11e6-9a63-1961e04224d8.png)

[2016-12-14 06:16] dermeister0 commented on #440
**Far Manager**
Nothing works.

![2016-12-14_1213](https://cloud.githubusercontent.com/assets/4054844/21171579/832ff832-c1ff-11e6-85a7-dbb7aed00d5d.png)

[2016-12-14 17:56] ryudice opened #441 "truncate: No error message"
When using SCP I get the message "truncate: No error", I'm trying to copy a text file

[2016-12-14 20:03] uiucgrad opened #442 "Error on Upload"
I am able to login to the server using windows authentication but when I try to upload a files using WinSCP the transfer appears to complete but immediately after it is done I get an error that says: "Connection has been unexpectedly closed. Server sent command exit status 255."

Correspondingly the sftp-server.log that says "4560 14:01:19 110 fatal: process_setstat: buffer error: incomplete messa

[2016-12-15 12:12] fpqc commented on #430
@KJTsanaktsidis The code sample here: https://msdn.microsoft.com/en-us/library/windows/desktop/mt638032(v=vs.85).aspx looks a bit different to yours.  Also, make sure you are compiling against the 1607 sdk and also make sure that the github project didn't accidentally include outdated headers maybe (I dunno, maybe console.h is not from 1607?)

[2016-12-16 03:09] arif-pragmasys commented on #429
@TyrionLanister, it is possible that you might have 2 account by the name 'user', one is local and another is domain account. When you try 'ssh localhost' then the current logged in user is picked up, which is 'DESKTOP-IQQAVUN/user'. But when you try 'ssh user@localhost', you are forcing to ssh to use the local version of the 'user' account. The way current code resolves name is if domain is not m

[2016-12-16 08:02] mochtu commented on #429
Thanks for hijacking this thread @TyrionLanister. I think you should have opened your own issue…

[2016-12-16 14:35] msnelling commented on #429
@mochtu I'm also having issues with public key authentication. Have you made any progress?

[2016-12-16 14:54] mochtu commented on #429
@msnelling Not at all. Password authentication is fine, public key fails and the only debug output related to it is the one printed in my initial post. I'm using cygwin and openssh in the meantime, which works as expected with an rsa key.

[2016-12-16 21:00] bingbing8 commented on #441
Which build do you run?

[2016-12-16 21:02] bingbing8 commented on #356
fixed

[2016-12-16 21:02] #356 closed, assigned to bingbing8

[2016-12-16 21:03] #324 closed, assigned to nobody

[2016-12-16 21:05] bingbing8 commented on #237
Please try again on latest build and reactivate if you find any issue.

[2016-12-16 21:05] #237 closed, assigned to nobody

[2016-12-17 00:45] arif-pragmasys commented on #399
A potential fix of this issue is checked in:
https://github.com/arif-pragmasys/openssh-portable/commit/53c6943f16c0e0c35b352332cd912c8b7ac237ea

[2016-12-17 00:46] KJTsanaktsidis commented on #430
No dice - I made sure I was compiling against the 1607 SDK, and made the following hacks to console.c

[code]

This all works fine when using ssh from the windows subsystem for linux, so the console is definitely capable, I just can't seem to kick it into the right mode...

[2016-12-17 01:00] KJTsanaktsidis commented on #430
Never mind, I think I actually understand what is going on here now - ssh.exe is doing a bunch of its own processing on the stream it gets from the network to interpret control characters itself, so most of them never even get seen by the console. I guess it needs refactoring to pipe all VT200 escape sequences straight into the console, rather than interpreting them itself.

[2016-12-17 01:28] fpqc commented on #430
@KJTsanaktsidis Well then hopefully the devs will throw that code in a big ifdef

[2016-12-18 07:18] manojampalam commented on #439
Fixed in milestone

[2016-12-18 07:18] #439 closed, assigned to bagajjal

[2016-12-18 07:19] manojampalam commented on #438
Fixed in milestone release

[2016-12-18 07:19] #438 closed, assigned to bagajjal

[2016-12-18 07:19] manojampalam commented on #437
Fixed in milestone release

[2016-12-18 07:19] #437 closed, assigned to bagajjal

[2016-12-18 07:20] manojampalam commented on #433
Fixed in milestone release

[2016-12-18 07:20] #433 closed, assigned to bagajjal

[2016-12-18 07:21] manojampalam commented on #428
Fixed in milestone release

[2016-12-18 07:21] #428 closed, assigned to bagajjal

[2016-12-18 07:21] manojampalam commented on #424
Fixed in milestone release

[2016-12-18 07:21] #424 closed, assigned to bagajjal

[2016-12-18 07:21] manojampalam commented on #423
Fixed in milestone release

[2016-12-18 07:21] #423 closed, assigned to bagajjal

[2016-12-18 07:22] manojampalam commented on #398
Fixed in milestone release

[2016-12-18 07:22] #398 closed, assigned to bagajjal

[2016-12-18 07:25] #320 closed, assigned to bagajjal

[2016-12-18 07:28] manojampalam commented on #311
If you login as admin, you should see sftp-server.log under logs folder

[2016-12-18 07:28] #311 closed, assigned to nobody

[2016-12-18 07:30] manojampalam commented on #280
Reopen if you still see this issue in latest release.

[2016-12-18 07:30] #280 closed, assigned to nobody

[2016-12-18 07:30] manojampalam commented on #279
Reopen if you still see this issue with latest release.

[2016-12-18 07:30] #279 closed, assigned to nobody

[2016-12-18 07:31] manojampalam commented on #260
Reopen if you still see this issue

[2016-12-18 07:31] #260 closed, assigned to nobody

[2016-12-18 07:32] #251 closed, assigned to nobody

[2016-12-18 07:32] #107 closed

[2016-12-18 07:35] manojampalam commented on #407
sshd_config in latest payload is modified to reflect this change
SFTP sftp-server.exe

[2016-12-18 07:35] #407 closed, assigned to nobody

[2016-12-19 01:48] x9f5yjkq opened #443 "[v0.0.5.0] sshd.log is not output"
Hello.
After upgrading to v.0.0.5.0, sshd.log is not output.

[2016-12-19 03:25] manojampalam commented on #443
check in "logs" folder

[2016-12-19 03:26] #327 closed, assigned to nobody

[2016-12-19 03:26] #326 closed, assigned to nobody

[2016-12-19 03:26] #325 closed, assigned to nobody

[2016-12-19 03:26] #323 closed, assigned to nobody

[2016-12-19 03:26] #322 closed, assigned to nobody

[2016-12-19 03:30] manojampalam opened #444 "support registering host-keys without using psexec.exe"
Currently, to register host keys, psexec.exe is needed to run ssh-add.exe in the context of local system (since host keys need to be registered as System).

You may use these steps from @DarwinJS  if psexec.exe is not an optino
[code]

[2016-12-19 03:31] manojampalam commented on #325
@DarwinJS opened #444 to track this ask.

[2016-12-19 04:11] x9f5yjkq commented on #443
Thank you.
But there is no logs folder anywhere.

In the "C: \ Windows \ Logs" folder
Will sshd.log be created under?

I searched for sshd.log on the server, but there was not it.

[2016-12-19 05:07] x9f5yjkq commented on #443
I created the "logs" folder manually in the root folder and it was output.

[2016-12-19 05:25] tak08 opened #445 "When is the major release scheduled?"
Hello. The [RoadMap](https://github.com/PowerShell/Win32-OpenSSH/wiki/Win32-OpenSSH-RoadMap) has not been revised since this October. Could you answer when the major release scheduled and update [RoadMap](https://github.com/PowerShell/Win32-OpenSSH/wiki/Win32-OpenSSH-RoadMap)?

[2016-12-19 07:52] pvdhoef opened #446 "[v0.0.5.0] install-sshd.ps1: SDDL string contains an invalid sid or a sid that cannot be translated"
When trying to install v0.0.5.0 with:
[code]

I get the following error:
[code]

The offending line in `install-sshd.ps1`:
[code]

[2016-12-19 17:33] manojampalam commented on #446
What OS are you seeing this on? and what's your Powershell version?

As a work around, you may explicitly grant RW permissions to the following account
NT SERVICE\sshd
on "logs" folder

[2016-12-19 17:41] manojampalam commented on #445
"RoadMap" link is now obsolete. Please follow https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Status

Our first goal is to integrate back in OpenSSH main repo. We have just started on this and will update the above link on progress as we move forward.

[2016-12-19 17:44] manojampalam commented on #443
install-sshd.ps1 should have created it and set the right permissions. No?

[2016-12-19 18:10] friism commented on #446
@manojampalam I see this too on Windows Server 2016 RTM.

[code]

[2016-12-19 18:42] bagajjal commented on #396
Fixed in milestone release

[2016-12-19 18:42] #396 closed, assigned to bagajjal

[2016-12-19 18:53] arif-pragmasys commented on #429
For local users, login with password and see what home directory you land on. Make sure you put the .ssh directory and related key files in that directory. Please give this a try if you have not already.

[2016-12-19 19:02] jbaumbach commented on #446
Same issue here.  Windows Server 2016 Datacenter v1607 running in Azure.

[code]

[2016-12-19 19:08] jbaumbach commented on #446
@manojampalam

NT SERVICE\sshd

BTW, there's no "NT SERVICE" user on the system.  I assumed you meant "SERVICE", which does exist.

[2016-12-19 19:12] friism commented on #446
@manojampalam yeah, do you have a scriptable workaround?

[2016-12-19 19:38] pvdhoef commented on #446
Hi @manojampalam, the error occurs on a Windows 10 Enterprise box with PowerShell version ﻿5.1.14393.0.

[2016-12-19 20:39] DarwinJS commented on #445
@manojampalam - can you elaborate how the Windows releases will work once the code is merged to that repo?  Will that repo contain the windows zip files in their releases?

[2016-12-19 21:25] arif-pragmasys commented on #435
Named pipes have to be handled differently(not like regular socket) in the win32compat socket-io layer.

[2016-12-19 22:46] jbaumbach commented on #446
@manojampalam The service doesn't appear to be starting regardless of what permissions I apply to the logs folder.  This is in the event log:

`The application-specific permission settings do not grant Local Activation permission for the COM Server application with CLSID
{D63B10C5-BB46-4990-A94F-E40B9D520160}
 and APPID
{9CA88EE3-ACB7-47C8-AFC4-AB702511C276}
 to the user NT SERVICE\sshd SID (S-1-5

[2016-12-20 00:11] arif-pragmasys commented on #357
WinSCP will work with Win32 OpenSSH server if you choose SFTP(instead of SCP) as protocol in WinSCP.

When used in SCP mode, WinSCP issues 'pwd','ls -al' and other UNIX shell commands behind the scene, which are not supported in windows shell (cmd or powershell). That is why WinSCP in SCP mode won't work with Win32 OpenSSH, please use SFTP mode with WinSCP when connecting to Win32 OpenSSH server.

[2016-12-20 00:33] r2690698 commented on #445
Yeh , any updates ?

[2016-12-20 01:07] arif-pragmasys commented on #357
Hopefully WinSCP will add support for windows shell and directory listing command in future.
![capture](https://cloud.githubusercontent.com/assets/14184782/21334614/533e0704-c61e-11e6-84ad-623f83afbaa7.PNG)

[2016-12-20 01:55] discodance1 opened #447 "ssh no loner working with v 0.0.5.0"
ssh -l user@domain hostname
results in ssh_exchange_identification: Connection closed by remote host

[2016-12-20 02:26] x9f5yjkq commented on #443
Hello. Thank you for your reply.

I ran the install-sshd.ps1, but the logs folder was not created.

---------------------------------------------------------------------------
PS C:\Windows\system32> d:

PS D:\> cd .\OpenSSH-Win64

PS D:\OpenSSH-Win64> .\install-sshd.ps1
[SC] SetServiceObjectSecurity SUCCESS
[SC] ChangeServiceConfig SUCCESS
 Granting SeAssignPrimaryTokenPrivilege to NT SERVICE\SSH

[2016-12-20 03:08] manojampalam commented on #446
Can you please dump the output of the following:

$AdObj = New-Object System.Security.Principal.NTAccount('NT SERVICE\sshd')
$AdObj.Translate([System.Security.Principal.SecurityIdentifier]).Value

[2016-12-20 03:09] manojampalam commented on #446
@jbaumbach were you able to work with earlier versions?

[2016-12-20 03:09] friism commented on #446
@manojampalam

[code]

I'm upgrading from `v0.0.3.0` which worked great.

[2016-12-20 03:14] manojampalam commented on #447
Please share client and server logs.

[2016-12-20 03:15] manojampalam commented on #442
Windows auth is not supported yet. You probably meant user/pw (or Basic authentication).

[2016-12-20 03:18] manojampalam commented on #443
can you dump contents of install-sshd.ps1?

[2016-12-20 06:44] friism commented on #446
I sent a PR: https://github.com/PowerShell/openssh-portable/pull/34

[2016-12-20 06:46] x9f5yjkq commented on #443
Hello. Thank you for your reply.
I'm sorry, I used an old script.
Please close this case.

[2016-12-20 06:51] manojampalam commented on #446
Thanks @friism. I'll test it out and update the release payload Tue morning PST.

[2016-12-20 09:24] msnelling commented on #429
@arif-pragmasys yes I've done this without success.

[2016-12-20 09:46] x9f5yjkq opened #448 "I want to start the sshd service with a Windows user account other than "NT SERVICE \ SSHD"."
please tell me.
If you start the service with a user account (eg Administrator) other than "NT SERVICE \ SSHD" or "Local System" sshd service, you can not connect SFTP from the client.
Is it a specification?

----------------------------------------------------------

Permission denied (publickey,keyboard-interactive).
Connection closed
----------------------------------------------------------

[2016-12-20 15:55] friism opened #449 "Document how CI works"
Appveyor is reporting that my PR is not good: https://ci.appveyor.com/project/PowerShell/openssh-portable

It's unclear to me how the CI even works, the Appveyor artifacts don't seem to be in the default branch. So it's hard to figure out how to fix it.

cc @bingbing8

[2016-12-20 17:55] manojampalam commented on #449
We are working through other issues that are breaking the validation system. Will put out a document on how the CI system works once that is done.

[2016-12-20 17:56] manojampalam commented on #448
You may start sshd directly on command line as any user (Just make sure the user has this privilege - SeAssignPrimaryTokenPrivilege)

[2016-12-20 18:24] mathieu68468 commented on #447
I have the same issue, the server's logs indicate:

6320 19:17:31 597 debug1: Bind to port 22 on ::.
6320 19:17:31 597 Server listening on :: port 22.
6320 19:17:31 597 debug1: socket:364, io:00000000003E8E60, fd:4
6320 19:17:31 597 debug1: Bind to port 22 on 0.0.0.0.
6320 19:17:31 597 Server listening on 0.0.0.0 port 22.
6320 19:17:50 875 debug1: socket:376, io:00000000003CDC00, fd:5
6320 19:17:5

[2016-12-20 18:25] manojampalam commented on #446
@friism, I've manually merged your PR and updated the payload on https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.5.0.

Let me know if this fixed the issue.

[2016-12-20 18:25] #446 closed, assigned to nobody

[2016-12-20 18:37] arif-pragmasys commented on #359
Is this still happening with latest?

[2016-12-20 19:10] arif-pragmasys commented on #194
aes*-cbc ciphers are on in ssh.exe, but not in sshd.exe(the server) by default. You can turn them on by adding the following line in your sshd_config file:
![capture](https://cloud.githubusercontent.com/assets/14184782/21364306/e0febbfa-c6b5-11e6-836a-5e222a256735.PNG)

Server should pick up the new config without a restart.

[2016-12-20 19:30] friism commented on #446
@manojampalam it appears to work, thanks!

I have a question: It looks like you just took the changes in my commit, created a new commit with you as author and pushed that to your branch. This eradicates any trace of me authoring the change. Instead, you could have just cherry-picked the commit into your branch. Is there any reason you did that, eg. that I had to sign a contribution agreement or s

[2016-12-20 20:15] pvdhoef commented on #446
Installation works now without errors, thanks a lot for that!

Log files are now correctly written to `C:\Program Files\OpenSSH-Win64\logs`.

However, when trying to `ssh` to the machine I get:
[code]
And in `logs\sshd`:
[code]
Tried to set r/w permissions on `C:\Program Files\OpenSSH-Win64` for `NT SERVICE\sshd` but that didn't help.

After stopping the `sshd` service and starting it from the com

[2016-12-20 21:23] jbaumbach commented on #446
@manojampalam I'll be honest, I realized I was trying to fit a square peg in a round hole after mucking around in the registry, and just stood up an Ubuntu instance.  SFTP up and running in 5 minutes.   :(

[2016-12-20 21:53] arif-pragmasys commented on #216
When no host listening, the current version prints:
ssh: connect to host xxxxx port 22: Unknown error

It has the correct error no (107, which is ECONNREFUSED), but unable to get a valid string message for that posix error using strerror(), hence the 'Unknon error' message. Looks like the strerror() api is handling Posix errors upto number 43 correctly, beyond that printing 'Unkown error'
![captur

[2016-12-20 21:58] manojampalam commented on #446
@friism, apologies for the credits part. I'm working on multiple branches with little relation between them and took in your change as part of ongoing manual merges. Add credits line now in latestw_all branch.

@pvdhoef please open a new issue with the details you posted

@jbaumbach looks like you what you are hitting is unrelated to the install failure. Please open a  new issue.

[2016-12-20 22:30] friism commented on #446
Now that I'm through the install, I'm seeing the same error @jbaumbach is:

[code]

[2016-12-21 02:21] x9f5yjkq commented on #448
Thank you!
It worked fine.
Close please.

[2016-12-21 05:57] friism commented on #446
I think it's this problem: https://support.microsoft.com/en-us/kb/899965

[2016-12-21 06:15] manojampalam commented on #446
Can you see if setting sshd to run as SYSTEM gets you unblocked?
sc.exe config sshd obj= LocalSystem

[2016-12-21 06:29] manojampalam commented on #446
@pvdhoef  looks like recent changes in "paths" related logic caused a regression. To work around, please install at a location without any spaces. Ex C:\openssh

[2016-12-21 06:31] manojampalam opened #450 "[v0.0.5.0] is broken if binaries are installed in "Program Files""
Recent changes in "paths" related logic caused this regression.

ssh.exe in verbose mode will fail after logging this:
ssh_exchange_identification: read: Unknown error

Work around: Install binaries at a location free of spaces
Ex. C:\OpenSSH

[2016-12-21 06:37] #448 closed, assigned to nobody

[2016-12-21 06:49] manojampalam commented on #445
@DarwinJS I dont think OpenSSH ever hosted binaries for any platform. Windows will be no exception. I should otherwise have an update on - how the official bits will eventually be distributed - by Mid Jan.

[2016-12-21 06:49] #443 closed, assigned to nobody

[2016-12-21 06:51] manojampalam commented on #447
dup #450
Please check workaround in that issue

[2016-12-21 06:51] #447 closed, assigned to nobody

[2016-12-21 08:08] pvdhoef opened #451 "error: fork: No such file or directory"
When trying to `ssh` to a machine with Win32-OpenSSH v0.0.5.0 installed I get:

[code]
And in logs\sshd:
[code]
Tried to set r/w permissions on `C:\Program Files\OpenSSH-Win64` for `NT SERVICE\sshd` but that didn't help.

After stopping the `sshd` service and starting it from the command line with `sshd.exe -d` I was able to ssh to the machine:
[code]
The message `Server will not fork when running

[2016-12-21 08:13] pvdhoef commented on #446
@manojampalam, I created a separate issue (#451) as requested. It can indeed be fixed by installing into a location without white space characters in the directory path it as you suggested.
I saw you already created a issue ( #450) for that.

[2016-12-21 13:03] DarwinJS commented on #445
Ok - so this github repo will continue to be the place to get the compile bits then?

[2016-12-21 19:04] tsatsulin opened #452 "Impersonate the security context of the Windows account"
When a Windows account user logs in, Win32-OpenSSH Server doesn't impersonate the security context of that Windows account throughout the user's SSH session.

From [MSDN](https://msdn.microsoft.com/en-us/library/system.security.cryptography.protecteddata%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396):

My colleague @zaufi and I received this error "Key not valid for use in specified state." when

[2016-12-21 20:13] manojampalam commented on #452
SSH remote sessions are run under the context of the client user. They are however network logon sessions and do not have user's credentials attached. DPAPI encryption and decryption only work with interactive logon sessions in general (or other specific logon sessions that have user's credentials attached), since these APIs actually use user's password to do the encryption  and decryption.

User

[2016-12-21 22:51] hugocelso commented on #399
Same here.
Extra context: AD user is in second domain <> ssh server domain, with thrust agreement.
Note 1: AD user and local ssh server user are ssh server machine admins.
Note 2: Not working at all with AD user or local ssh server user running ssh services (daemon + agent). (Local ssh server user with public key access stops working, password accepted but connection gets immediate "Connection res

[2016-12-22 00:03] hugocelso commented on #399
Solved. I had to use full domain!
I also upgraded to 0.0.5.0 (now reports SSH-2.0-OpenSSH_7.3) but I believe it was solved only because of full domain. Install dir now complains about admin rights, like when deleting logs (not a problem). Not sure if it is related to pid file creation error.

Command prompt is a bit buggy to custom usage but my purpose is scripting over, so I believe it will work

[2016-12-22 00:54] arif-pragmasys opened #454 "Remote port forwarding not working"
host1 executes:
ssh -R 9001:host1:22 user@host2

host2 executes:
ssh -p 9001 user@localhost

error in host1: WARNING: Server requests forwarding for unknown listen_port 0
error in host2: ssh_exchange_identification: read: Unknown error

Similar command works for openssh in linux.

[2016-12-22 01:40] arif-pragmasys commented on #454
Tried similar command in 3 machine scenario, where forwarding is initiated from M2 to facilitate M1(has user u1) connecting to M3(has user u3).

M2 excutes: ssh -R 9001:M3:22 u1@M1
M1 Excutes: ssh -p 9001 u3@localhost

Getting simliar error.
![untitled](https://cloud.githubusercontent.com/assets/14184782/21412308/ed7cd57e-c7b4-11e6-9033-66c1dc7186b8.png)

[2016-12-22 18:12] tsatsulin commented on #452
Hi Manoj,

Thank you for quick and detailed answer.

As I can see, they don't need to have it attached. From [MSDN](https://msdn.microsoft.com/en-us/library/ms995355.aspx):

Unfortunately, I have not found the place in the code where this happens. Could you please point me to the code?

Also, searching for "impersonation" term I have found the function [LoadUserProfile](https://msdn.microsoft.com/

[2016-12-22 18:48] manojampalam commented on #452
User profile is loaded in ssh-agent (the Windows version is Windows specific. Load up the solution in Visual Studio and search for "LoadUserProfile"

[2016-12-22 19:24] tsatsulin commented on #452
Found. Thank you. I will check how it works and write back. Please do not close this issue.

[2016-12-22 20:13] bagajjal opened #455 "In powershell window, sftp is stuck"
Inside powershell window
1) first launch the ssh.exe and login
2) issue the "exit"
3) now do sftp.exe and login
4) try to issue any command (ls -lrt, etc), sftp is stuck in reading from the console..

FYI, This behavior is not seen in cmd.exe...

[2016-12-22 20:41] arif-pragmasys commented on #259
regarding issue no. 1, can you please share little bit more how are you using the RemoteForward config. Are you setting them in ssh_config?

issue no. 2 might be related to https://github.com/PowerShell/Win32-OpenSSH/issues/454

[2016-12-22 23:12] bingbing8 opened #456 "scp: scp hangs when the target file already and -p is supplied"
scp: scp hangs when the target file already and -p is supplied

[2016-12-22 23:40] bagajjal opened #457 "sftp "df" cmd doesn't work"

[2016-12-23 00:23] laughterk commented on #259
Yes, I used RemoteForward in ~/.ssh/config: RemoteForward. Seems to work fine on v0.0.3.0.

Tested here, the same error is reported on v0.0.3.0.

[2016-12-23 00:52] bingbing8 commented on #456
This is due to function w32_chmod is not implemented.
[code]

[2016-12-23 09:49] zaufi opened #458 "Backspace key delete whole word"
Connecting to Windows 10 box w/ Win32-OpenSSH 0.0.4.0 inside I have a strange keyboard behaviour: the backspace key delete a whole word instead of just one last symbol. This is pretty annoying bug causing to retype everything from begin :(

I tried w/ `TERM=xterm`

[2016-12-23 12:00] megamorf commented on #458
0.0.5.0 is the latest version.

[2016-12-26 07:21] Janareddy opened #459 "error: getsockname failed: Filename too long"
Hi All,

I have installed OpenSSH in my windows server 2012 R2. I am getting the errors like this in the log file :

**error: getsockname failed: Filename too long
error: setsockopt SO_KEEPALIVE: Filename too long**

Did any one face this kind of issue? If so, Could you please help me to clear this issue.

I have googled the error, but could not find proper solution.

Thanks in advance,
Jana

[2016-12-26 10:29] ywmail commented on #414
workaround: change the sshd windows login user to local user may fix this.

[2016-12-26 13:36] Janareddy commented on #292
Hi, Is there a way to implement directory lock (chroot) in windows?

[2016-12-26 20:07] trodemaster commented on #432
I'm also seeing this issue on a fresh install of openssh with macOS 10.12.2 . I have tried changing the terminal type to vt100 and still seeing the issue.

[2016-12-27 12:22] prashcr commented on #413
If the error message has been modified, it'd be great if someone could link the commit and then this issue can be closed.

[2016-12-27 18:03] rgl commented on #241
have you guys tried with the [latest version v0.0.5.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.5.0)?

[2016-12-27 18:05] rgl commented on #209
here its working fine with v0.0.5.0. can you guys try that version?

[2016-12-27 18:07] rgl commented on #193
can you guys try v0.0.5.0?

[2016-12-27 18:13] rgl commented on #161
this now seems to work with v0.0.5.0, can you confirm?

[2016-12-27 18:20] rgl commented on #70
this still does not work in v0.0.5.0

[2016-12-27 18:52] friism commented on #241
With 0.0.3.0 I started setting `sc.exe failure sshd reset= 86400 actions= restart/500` - that worked around the instability.

I'm running 0.0.5.0 with the restart setting above, but haven'g tested whether it's stable without.

[2016-12-27 19:33] rgl commented on #241
can you see if the service has been restarting due to error?

[2016-12-27 20:07] friism commented on #241
@rgl yeah, I think it is:

[code]

[2016-12-27 20:52] rgl commented on #241
ouch :-(

[2016-12-27 21:43] arif-pragmasys commented on #111
@marchrock and @darkblaze69, -P option worked for me in the latest build. Can you please check if you can reproduce it?

[2016-12-28 15:20] ghost commented on #111
Thank you!
In the latest build, -P option worked fine for me too.
For me, it's ok to close this issue.

[2016-12-30 05:32] bdr2 commented on #288
I am also experiencing this same problem, although I don't believe sshd is actually crashing (as in the bug title)... just that the client is abruptly disconnected.

I am attempting to connect to a VNC server over an SSH tunnel. Standard procedure is to establish SSH client connection to server with port forwarding, then connect VNC client to localhost:port. Just as adverst noted above, SSH connec

[2016-12-30 12:47] Sp1l commented on #414
Getting this same error on Windows 10 Enterprise x64 with OpenSSH-Win64

DEBUG3 output:
[code]
Before starting the service I emptied the log, this is from the start to the first repetitive `accept: Unknown error`.

[2016-12-31 12:56] TehWardy commented on #209
Are you kidding me?
This took so long to sort out we got a third party to manage a server for us.

but thanks for fixing it at least, maybe someone else can benefit from it

[2016-12-31 14:26] rgl commented on #209
why should I be kidding you? I didn't fix anything, I was trying the latest version and noticed that this particular issue seemed to be solved.

[2016-12-31 18:54] drodsou commented on #454
Hi arif-pragmasys,

I am assuming all your hosts are Windows.

Could it be a firewall problem?. Be aware that _localhost_ is "my computer seen from the outside", like _0.0.0.0_, affected by firewall rules, while _127.0.0.1_ is "my computer seen from the inside", not affected by firewall rules. So maybe this should work in your first scenario:

_Ihost2 executes:
ssh -p 9001 user@127.0.0.1_

Or you

[2017-01-02 12:51] gquerret commented on #161
Issue seems to be fixed in 0.0.5.0, I was able to execute a long command line in a small test environment.

[2017-01-03 01:38] thecliguy commented on #18
@manojampalam  - I am running Windows 10 with the anniversary update and this is my experience:

- Version 0.0.3.0, TERM is set to 'ansi', htop runs but the output is a garbled mess.
- Version 0.0.4.0 and 0.0.5.0, TERM is set to 'dumb' and consequently htop (and pretty much any other ncurses 'graphical' program) refuses to run at all:
`Error opening terminal: unknown.`

Issue #430 refers to my las

[2017-01-03 01:55] thecliguy commented on #18
@ manojampalam - I am running Windows 10 with the anniversary update and this is my experience:

- Version 0.0.3.0, TERM is set to 'ansi', htop runs but the output is a garbled mess.
- Version 0.0.4.0 and 0.0.5.0, TERM is set to 'dumb' and consequently htop (and pretty much any other ncurses 'graphical' program) refuses to run at all:
`Error opening terminal: unknown.`

Issue #430 refers to my las

[2017-01-03 06:50] manojampalam commented on #209
This was fixed a while back.

[2017-01-03 06:50] #209 closed, assigned to nobody

[2017-01-03 06:50] #161 closed, assigned to rayhayes

[2017-01-04 02:42] bagajjal opened #460 ""lls E:\test" is not working"
lls E:\test is not working

C:\>lls E:\test
Parameter format not correct - "test".

[2017-01-04 02:46] bagajjal opened #461 "put -p command is not working"
put -p command is not working

[2017-01-04 03:17] bagajjal opened #462 "dir <unicode-path> is not working"
dir <unicode-path> is not working

[2017-01-04 05:32] #450 closed, assigned to nobody

[2017-01-04 15:22] leyshon opened #463 "AllowGroups does not work"
I'm trying to configure AllowGroups to restrict access to only those who are a member of a group. Currently I'm doing this with a local group and it simply doesn't work. I've set it to ```AllowGroups ssh``` and I can login regardless of whether I am a member of this group or not. Expected behavior should be that if you are not a member of this group you are denied login.  DenyGroups similarly blan

[2017-01-04 18:02] bingbing8 commented on #459
When do you get this error? when running a command? or during installation? @Janareddy

[2017-01-04 18:09] bingbing8 commented on #456
The root cause is as follows:
When chmod has error, run_err tries to write info to info to pipeline. fdopen failed because fileip_fdopen did not completely implement
[code]

[2017-01-04 18:18] bingbing8 commented on #111
close per marchrock's comments.

[2017-01-04 18:49] bingbing8 commented on #70
directory copy is fixed on latest. Please check on the next drop when it is available.

[2017-01-05 09:10] gsoing commented on #459
Hello,

I have the same error when i try to log in with a ssh client.
On the client side i've got connection reset by peer and on the server log i have : 8196 10:03:42 088 error: setsockopt SO_KEEPALIVE: Filename too long

But if i launch sshd with -d option it works.

Regards
--
Guillaume

[2017-01-05 13:02] Janareddy commented on #459
@bingbing8  Hi, I have installed successfully. But I am unable to connect using sftp (using filezilla). When I check the log I saw that error. Thanks!

[2017-01-05 21:10] manojampalam commented on #357
Please reopen if you still need any clarifications.

[2017-01-05 21:10] #357 closed, assigned to nobody

[2017-01-05 21:22] manojampalam commented on #312
Here's how the Unicode is supported in Windows version of OpenSSH in scp and sftp
- All input from console is read as UTF-16, converted to UTF-8, "\" converted to "/" and fed through OpenSSH core code
- OpenSSH core code is still intact and operates on Unix style file paths
- Output on console is still in Unix style. Since this involves some refactoring of core code, we'll work on this later.

Oth

[2017-01-05 21:22] #312 closed, assigned to nobody

[2017-01-05 21:22] manojampalam commented on #299
Please checkout milestone release

[2017-01-05 21:22] #299 closed, assigned to nobody

[2017-01-05 21:26] #111 closed

[2017-01-05 21:32] manojampalam commented on #377
Try latest release and reopen if needed

[2017-01-05 21:32] #377 closed, assigned to nobody

[2017-01-05 21:33] manojampalam commented on #282
Is this do-able in Unix?

[2017-01-05 21:36] manojampalam commented on #267
As per https://linux.die.net/man/1/sftp, there isn't a command option for SFTP. Are you sure this works in the Unix version? If not this would be a request for OpenSSH (not Windows specific).

[2017-01-05 21:42] bingbing8 commented on #441
Please reopen if you see it on latest release.

[2017-01-05 21:42] #441 closed, assigned to bingbing8

[2017-01-05 21:42] manojampalam commented on #193
Can you please check if this still reproduces on the latest version and reopen if needed?

[2017-01-05 21:43] #193 closed, assigned to nobody

[2017-01-05 21:43] bingbing8 commented on #404
This is fixed in the latest release

[2017-01-05 21:43] #404 closed, assigned to bingbing8

[2017-01-05 21:46] bingbing8 commented on #364
fixed.

[2017-01-05 21:46] #364 closed, assigned to bingbing8

[2017-01-05 21:47] #340 closed, assigned to bingbing8

[2017-01-05 21:47] #70 closed

[2017-01-05 21:49] manojampalam commented on #131
SFTP now support Unicode file names

[2017-01-05 21:49] #131 closed

[2017-01-05 21:54] manojampalam commented on #463
This is due to ga_* routines that are not yet implemented for Windows. (openssh-portable\contrib\win32\win32compat\no-ops.c)

[2017-01-05 21:58] manojampalam commented on #459
@Janareddy can you repeat you steps with included sftp client and attach logs?

[2017-01-05 22:01] manojampalam commented on #458
@zaufi what is your ssh client? and what are its "term" settings?

[2017-01-05 23:45] #462 closed, assigned to bagajjal

[2017-01-05 23:45] #460 closed, assigned to bagajjal

[2017-01-05 23:46] #457 closed, assigned to bagajjal

[2017-01-06 00:24] bingbing8 opened #464 "Scp issue: run_err does not work. code in fileio needs to enable."
[code]

[2017-01-06 00:32] bingbing8 opened #465 "Scp issue: utimes fail to set timestamp of directory."
In the below function in misc.c, _wutime only update the timestamp of file. need a different logic to update the timestamp of directory.
int w32_utimes(const char *filename, struct timeval *tvp)

[2017-01-06 00:51] bagajjal commented on #442
Verified uploading huge file of 7 GB and it worked fine. If the issue mentioned is different then please provide the step by step procedure so that we can reproduce and fix it.

[2017-01-06 00:51] #442 closed, assigned to bagajjal

[2017-01-06 00:52] bagajjal commented on #145
I was able to transfer 7 GB file using SFTP.. please check scp and close it.

[2017-01-06 00:53] bagajjal commented on #145
removed the SFTP tag as it is working fine.

[2017-01-06 01:05] bagajjal commented on #238
Please check the latest release.
I have validated with Bitvise SFTP client and it is showing soft links.

[2017-01-06 01:05] #238 closed, assigned to bagajjal

[2017-01-06 01:18] bagajjal commented on #261
auto complete functionality is provided by the terminals (like cygwin) and not by the sftp.
sftp protocol doesn't deal with auto complete. please use terminals that support the auto complete (like cygwin).

[2017-01-06 01:18] #261 closed, assigned to bagajjal

[2017-01-06 01:20] bagajjal commented on #267
sftp protocol doesn't take commands as arguments. this is the same behavior on linux and windows version of openssh code.

[2017-01-06 01:20] #267 closed, assigned to bagajjal

[2017-01-06 06:09] rgl commented on #421
any news on this? for doing any kind of remote automation this is essential to have working.

[2017-01-06 11:36] Azq2 commented on #432
Same issue on gnome terminal (ubuntu 14.04) :(

[2017-01-06 16:39] ryudice opened #466 "global known_hosts is not honored"
Is there a global known_hosts file?

[2017-01-06 19:40] bingbing8 commented on #456
fixed the chmod. issue in fileio_fdopen will be fixed separately.

[2017-01-06 19:40] #456 closed, assigned to bingbing8

[2017-01-07 06:05] manojampalam commented on #466
You can have ssh_known_hosts and ssh_known_hosts2 in the directory where ssh.exe resides. But currently there is a restriction that these files will be picked up only when ssh.exe is run from its bin directory.

i.e if ssh.exe is installed in c:\openssh then you need to do the following:
cd c:\openssh
ssh.exe ....

[2017-01-07 06:12] manojampalam commented on #466
A fix for this issue would involve changes to OpenSSH core code, so plan on doing it after the initial integration back into OpenSSH main repo. Currently, the location of these files default to the following in pathnames.h

#define _PATH_SSH_SYSTEM_HOSTFILE	        SSHDIR "/ssh_known_hosts"
#define _PATH_SSH_SYSTEM_HOSTFILE2	SSHDIR "/ssh_known_hosts2"

SSHDIR is currently defined as "." in config.

[2017-01-07 06:45] manojampalam commented on #421
Fixed in https://github.com/PowerShell/openssh-portable/pull/43. Will be available in next drop.

[2017-01-08 18:28] carcus88 commented on #308
On server 2012 I can confirm public key auth works when using the chocolatey package when running that command. @mohag

[2017-01-09 09:04] gregmich29 opened #467 "SFTP rename failed"
Sftp server in running on windows 10 (Win32-openSSH 0.0.5.0), on Linux Ubuntu a SSHFS client is used. The sftp rename command failed systematically if the destination file exists ( operation not permitted).
In my opinion, on the sftp sever, the support of the extension posix-rename@openssh.com does not work properly. In fact the handler "process_extended_posix_rename" call a method "rename" mapped

[2017-01-09 11:36] zaufi commented on #458
openssh-7.4_p1
my default `TERM` is `konsole-256color`, also I tried `xterm` for sure

[2017-01-09 16:07] jkodroff commented on #430
This is also broken for me on Windows 10 Enterprise version 1607 build 14393.576, which apparently includes the Anniversary Update.  `echo $TERM` returns `dumb` when connecting to a CentOS host from both cmd and PowerShell.  Bummer.

[2017-01-09 19:29] bagajjal opened #468 "Windows - SFTP long listing (ls -l) output issues"
1) On windows, long listing (ls -l) output doesn't have the username, group name
-*********    1 -        -           52052 Dec 21 09:56 ntuser.pol
2) The permissions (rwx) are not matching.

From sftp code:-
sftp> cd c:
sftp> ls -lrt
drwxrwxrwx    1 -        -               0 Oct 30  2015 PerfLogs
drwxrwxrwx    1 -        -               0 Nov  3  2015 inetpub
-r--r--r--    1 -        -

[2017-01-09 19:30] bagajjal commented on #422
Issue 2&3 are fixed. for the issue 1 & 5, I have raised a new bug #468

[2017-01-09 19:30] #422 closed, assigned to bagajjal

[2017-01-09 20:51] manojampalam commented on #429
@mochtu I'm looking at this issue now. Can you try out the latest version?
Can you check if key based auth works from the same box (over loopback)?
If it does, can you generate DEBUG3 level traces and compare the success Vs failed logs?
If it doesn't, please attach ssh-agent DEBUG3 logs.

[2017-01-09 20:59] manojampalam opened #469 "Console output needs to be platform sensitive"
Certain parts of OpenSSh core code needs to be refactored to take into account any output that is platform sensitive. Examples of inaccurate output on Windows
- ssh-keygen
[code]
- ssh
[code]

[2017-01-09 21:00] manojampalam commented on #156
dup #469

[2017-01-09 21:00] manojampalam commented on #156
Leave a comment

[2017-01-09 21:00] #156 closed

[2017-01-09 21:21] bingbing8 commented on #468
Consider output of user names with accounts that dont exist anymore.
Create user
Create a file owned by that user
Delete user

[2017-01-09 22:22] bingbing8 commented on #426
Can you please try out the latest version?
If it still doesn't work, can you check if sshd works in debug mode?

In an elevated admin console - sshd.exe -d
as detailed in wiki

[2017-01-10 03:07] #465 closed, assigned to bingbing8

[2017-01-10 03:29] #445 closed, assigned to nobody

[2017-01-10 04:25] #464 closed, assigned to bingbing8

[2017-01-10 11:03] mccandlessd opened #470 "Password auth fails with error invalid user on Windows Server 2008 R2"
When attempting to logon to the server while sshd running as a service I get the error message in the logs that the user is invalid, however when I stop the sshd service and run the command 'sshd.exe -d' on the server I am able to login successfully with that user.

I installed the latest version via these instructions - https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH
packag

[2017-01-10 11:20] Etharin opened #471 "Issue with scp.exe and backslashes in username on Linux host"
Hi,

When I'm copying from Linux to Linux I can use the following and it works fine:
scp install.ps1 domain\\\username@hostname:install.ps1

However using scp.exe causes issues when the \ is included in the user name:
PS E:\OpenSSH-Win64 (1)\OpenSSH-Win64> .\scp install-sshd.ps1 domain\\\username@hostname:install.ps1
The filename, directory name, or volume label syntax is incorrect.
        0 file

[2017-01-10 11:52] mccandlessd commented on #470
Never mind a reboot resolved the issue.

[2017-01-10 11:52] #470 closed, assigned to nobody

[2017-01-10 14:59] gd197 commented on #193
Hello,
I encounter same type of behavior with V0.0.5.0, which for me seems to be linked
Launching simultaneously multiple ssh clients from a distant system using AD authentication and RSA.
Launching a simple connection is working well.
Launching sequentially with around 500ms intergap works well.
Launching more than 3 simultaneous connections cause SSHD crash
Windows 7 64
  <EventData>
  <Data>ssh

[2017-01-10 18:30] carcus88 commented on #241
Getting the same exception code 0x80000003 at random times when the ssh server is just sitting idle.

[2017-01-10 18:56] bagajjal commented on #467
Thanks for reporting the bug. The issue is fixed and will be available in the January-Mid milestone.

[2017-01-10 19:59] manojampalam opened #472 "Wrong log message when key type is not allowed (for key based auth)"
ssh-agent.log shows "key is not mapped for user" when a given key type is not allowed.

[2017-01-10 21:37] andynz2017 opened #473 "command=" authorized_keys not enforced?"
Authentication using publickey to workstation user account (non domain user).
Syntax Used:
command="C:\folder location\application folder\binary" ssh-rsa KEY HERE rmteuser@rmtehost
Authentication over SSH successful even though command not specified on the client side, and enforced in authorized_keys file server side. Shell access acquired where it should be restricted if command not specified?

U

[2017-01-10 21:48] manojampalam commented on #473
This is not supported in Windows yet.

Did you not see this log message in sshd.log or ssh-agent.log ?
AuthorizedPrincipalsCommand and AuthorizedKeysCommand are not supported in Windows yet

If not, let me know.

[2017-01-10 21:52] manojampalam commented on #241
Can you please update to the latest version and get a crash dump if possible?

[2017-01-10 22:15] manojampalam commented on #420
Reopen if needed

[2017-01-10 22:15] #420 closed, assigned to nobody

[2017-01-10 22:16] andynz2017 commented on #473
Thanks for the quick response.

Using DEBUG3, no messages associated with AuthorizedPrinciplesCommand or AuthorizedKeysCommand noted.

[2017-01-10 22:22] manojampalam commented on #418
Works well in the latest release. Reopen if needed

[2017-01-10 22:22] #418 closed, assigned to nobody

[2017-01-10 22:29] manojampalam commented on #414
Can you dump output of ipconfig /all ?

[2017-01-10 22:57] friism commented on #241
@manojampalam how does one collect that?

[2017-01-11 00:04] bagajjal opened #474 "Code cleanup MAX_PATH"

[2017-01-11 04:22] manojampalam commented on #471
Fixed in https://github.com/PowerShell/openssh-portable/commit/654c18f96023b7d580d6048b84417cad66199645

[2017-01-11 05:16] x9f5yjkq opened #475 "Does MaxSessions setting work?"
Hello.
please tell me.
Does maxSessions setting of sshd.config work?
If not functioning, how many sessions can be connected?

[2017-01-11 09:08] gd197 commented on #241
Same exception code when multiple connection from client
Please look at my comment on #193
It might be linked

[2017-01-11 14:47] NicolaeAlexandruPanait commented on #193
I had the same issue for a few months for now. I believe is related to how the SSHD client handles the Socket connection. I used the popular Renci ssh client library to connect to the SSHD.

After a lot of chimp-head-scratching-tweaks to reproduce the error i ended up with a console test project that successfully transferring 100+ files when started in debug mode from Visual studio but crashed the

[2017-01-11 18:02] manojampalam commented on #194
Reopen if needed

[2017-01-11 18:02] #194 closed, assigned to nobody

[2017-01-11 20:33] #471 closed, assigned to bingbing8

[2017-01-11 20:58] Etharin commented on #471
Awesome, thanks for fixing so fast.

[2017-01-12 04:15] manojampalam commented on #475
MaxSessions related seems to be intact. So it should work for Windows. Can you give it a try ?

[2017-01-12 05:03] x9f5yjkq commented on #475
Thank you.
I did it in the following environment, but MaxSessions setting did not become valid.

· Sshd.exe version
　0.0.5.0

· Sshd.config
  MaxSessions 10

· Test method
　I tried 100 SFTP connections at 1 second intervals from the client PC
　－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
　>for /L %i in (1,1,100) do start cmd /k  sftp [user]@[ip]  && timeout /t 1
　－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

·result
　1

[2017-01-12 17:36] remittor commented on #462
Fix: https://github.com/PowerShell/openssh-portable/pull/45

[2017-01-12 19:01] carcus88 commented on #241
@manojampalam I was using 0.0.4.0 and updated to 0.0.6.0 and still get the crashes. I can easily re-produce  the crash in a matter of minutes by spawning multiple SFTP sessions that upload and chdir on a lot of files (500+). I used the MS debug diagnostics tool to capture this crash dump.
[Crash rule for all instances of sshd.exe.zip](https://github.com/PowerShell/Win32-OpenSSH/files/702603/Crash.

[2017-01-12 19:26] manojampalam commented on #475
MaxSessions is a limit for #sessions over a single connection. What you are doing will end up creating multiple connections. (each sftp execution creates its own connection).

What you need to do to test this is to use a ControlMaster. But since this is not supported in Windows yet, you need it test it out from a Unix client (to  Windows target)

[2017-01-12 19:30] manojampalam commented on #241
Thanks. Let me try and re-produce.

[2017-01-12 19:42] bagajjal opened #476 "SFTP "cd c:" doesn't work"
sftp> pwd
Remote working directory: /C:/Users/
sftp> cd c:
sftp> pwd
Remote working directory: /C:/Users/

[2017-01-12 20:29] #369 closed, assigned to bingbing8

[2017-01-12 21:37] manojampalam opened #477 "Cleanup Unittests"
Cleanup Win32_FIXME code blocks in unittest projects and refactor as necessary

[2017-01-12 21:55] manojampalam commented on #394
Doesn't reproduce on the latest version (0.0.6.0)

[2017-01-12 21:55] #394 closed, assigned to nobody

[2017-01-12 22:01] manojampalam commented on #392
Reopen if needed.

[2017-01-12 22:01] #392 closed, assigned to nobody

[2017-01-12 22:11] manojampalam commented on #386
Console reset is needed to maintain it in sync with server side PTY.

You don't see this happen if a TTY/PTY is not requested. i.e when you do this.
ssh user@target cmd.exe

[2017-01-12 22:20] manojampalam opened #478 "ssh takes to %WINDIR% on first logon (for a newly created user)"
net user username password /add
ssh username@target

[2017-01-12 22:20] manojampalam commented on #381
related to #478

[2017-01-12 22:21] manojampalam commented on #380
dup #469

[2017-01-12 22:21] #380 closed, assigned to nobody

[2017-01-12 22:24] manojampalam commented on #379
dup #419

[2017-01-12 22:24] #379 closed, assigned to nobody

[2017-01-12 22:26] manojampalam commented on #378
Are you still seeing this issue?

[2017-01-12 22:26] manojampalam commented on #376
Reopen if needed

[2017-01-12 22:26] #376 closed, assigned to nobody

[2017-01-12 22:29] manojampalam commented on #371
Reopen if needed

[2017-01-12 22:29] #371 closed, assigned to nobody

[2017-01-12 22:29] friism commented on #381
I have fully password-less SSH working on EC2 now: https://github.com/friism/ec2-windows-packer-ssh

[2017-01-12 22:31] manojampalam commented on #370
for first issue - Please ensure that sshd_config and host keys are in place before starting sshd
for second issue - ensure that user has this privilege - Replace a process level token.

Reopen if needed

[2017-01-12 22:31] #370 closed, assigned to nobody

[2017-01-12 22:33] manojampalam commented on #367
Since https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.5.0
Logging is done in %bin%\logs folder where %bin% is installation directory. logs directory is ACLed to be writable only by admin and sshd accounts.

[2017-01-12 22:33] #367 closed, assigned to nobody

[2017-01-13 01:11] bagajjal opened #479 "SFTP "ls c:" is not working"
sftp> ls -lrt c:
Can't ls: "/c:" not found
sftp>

[2017-01-13 01:35] x9f5yjkq commented on #475
Thank you.
It seems I did not understand the meaning of MaxSessions of OpenSSH correctly.
Because ControlMaster function is unnecessary, we will use Windows version as default value.

[2017-01-13 04:46] bingbing8 opened #480 "SCP: local to remote directory copy failed on release build"
SCP: local to remote directory copy failed on release build.
run scp.tests.ps1

[2017-01-13 20:00] bingbing8 commented on #480
not repro

[2017-01-13 20:00] #480 closed, assigned to bingbing8

[2017-01-13 20:00] manojampalam commented on #241
Fix is at https://github.com/PowerShell/openssh-portable/pull/55. Will be available in Jan Mid drop.

[2017-01-13 20:15] manojampalam opened #481 "key based auth ocassionally fails"
With single sign on setup, launch the following from 4 different Powershell consoles:
1..100 | foreach {ssh.exe user@target hostname}

on some iterations, key based auth fails and ssh.exe prompts for password.

[2017-01-13 23:19] bagajjal opened #482 "In powershell, scp followed by ssh is outputting weird characters"
1) ssh
2) issue dir
3) exit ssh
4) now do scp
5) you will see weird characters  "0KB/s   --:-- ETAIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIII"

[2017-01-13 23:22] bagajjal opened #483 "scp.exe <file> username@domain@ip:e: is failing"
if the destination is just drive then it throws an exception.

PS E:\test> .\scp.exe 2.txt xyz@redmond@127.0.0.1:e:
scp: e:: Permission denied

[2017-01-14 01:31] manojampalam commented on #193
dup #241

[2017-01-15 06:56] #475 closed, assigned to nobody

[2017-01-15 07:39] manojampalam commented on #473
Just tried adding these in sshd_config
AuthorizedKeysCommand /c:\windows\system32\cmd.exe
AuthorizedKeysCommandUser admin

and saw this line in ssh-agent.log
10992 23:37:26 859 AuthorizedPrincipalsCommand and AuthorizedKeysCommand are not supported in Windows yet

[2017-01-15 07:39] #473 closed, assigned to nobody

[2017-01-15 07:50] andynz2017 commented on #473
This would explain why I didn’t see the error in ssh-agent.log. I didn’t have those commands explicitly defined in my sshd_config configuration.

Is there estimated time frames on when this feature may become available?

From:  Manoj Ampalam <notifications@github.com>
Reply-To:  PowerShell/Win32-OpenSSH <reply@reply.github.com>
Date:  Sunday, 15 January 2017 at 20:39
To:  PowerShell/Win32-OpenSSH

[2017-01-16 00:50] #241 closed, assigned to manojampalam

[2017-01-16 00:50] #479 closed, assigned to bagajjal

[2017-01-16 00:50] #413 closed, assigned to manojampalam

[2017-01-16 00:50] #476 closed, assigned to bagajjal

[2017-01-16 00:50] #216 closed, assigned to manojampalam

[2017-01-16 00:50] #472 closed, assigned to manojampalam

[2017-01-16 00:50] #467 closed, assigned to bagajjal

[2017-01-16 00:50] #421 closed, assigned to manojampalam

[2017-01-16 07:29] #474 closed, assigned to bagajjal

[2017-01-16 18:04] carcus88 commented on #241
Initial tests are promising, I am no longer able to get sshd.exe to crash when uploading multiple files during multiple sessions. Thanks @manojampalam !

[2017-01-17 05:25] olhonia opened #484 "Windows OpenSSH reply problem by Linux cron ssh."
Hello Everyone.
Im japanese. and sorry about my bad english...

im builded ssh server to Windows 7(RSA Public Key enabled).
after, i tryd SSH Command by Linux(command is ssh -i rsa_key user01@192.168.2.1 dir).
this command is replyd.
but, this command into crontab then, not return any reply.  ｡・ﾟ・(ﾉД`)・ﾟ・｡
Am i making mistake?
Do you know about someone's?

Work environment:
    Windows 7 Professio

[2017-01-17 08:03] gd197 commented on #241
yep, no more crash on my side.
unfortunately this led now to issue 481.

[2017-01-17 20:48] mrnerdhair commented on #240
Having the same problem here.

psexec -s C:\blahblahblah\ssh-add.exe -L

[code]

ssh -ddd

[code]

[2017-01-17 23:11] 0byt3 commented on #308
I installed it on a DC and it seems to work on there.

[2017-01-17 23:39] DarwinJS commented on #308
@mohag - the server must be rebooted for public key auth (for the new DLL to be loaded as an authentication library) and the chocolatey package notes this in a warning at the end of the package.

It seems many are missing the Chocolatey package warning and then concluding they still need to run install-sshlsa.ps1 - but it seems to me that's when they finally try rebooting.

[2017-01-18 01:12] bagajjal commented on #458
issue is identified.. for time being use "Ctrl + H" for backspace..

[2017-01-18 02:38] bagajjal commented on #440
Please explain what do you mean by "Far Manager Nothing works?"

[2017-01-18 07:19] manojampalam commented on #241
#481 should  fixed in Jan-End drop

[2017-01-18 07:21] manojampalam commented on #240
Public keys should still be kept in place. Private keys can be moved or deleted.

[2017-01-18 07:26] gd197 commented on #241
Thanks a lot for your great job @manojampalam !

[2017-01-18 12:35] Kirderf73 commented on #399
Hi!
I've installed the latest v0.0.7.0 and it still doesn't work.

Thanks for taking your time to resolve this. :-)

[ssh-log.zip](https://github.com/PowerShell/Win32-OpenSSH/files/713876/ssh-log.zip)

//Fredrik

[2017-01-18 18:12] hugocelso commented on #399
Bad news. I have it working, able to connect either way:
 * ssh user@full.domain@ip.ssh.srv.ip
 * ssh -l user@full.domain ip.ssh.srv.ip

I had lots of issues with architecture conectivity to all ADs. Have you checked windows ssh server for blocked conectivities?

[2017-01-18 18:57] 0byt3 commented on #308
Since I have it working on the DC and don't need it on the other server I'm closing the issue.

[2017-01-18 18:57] #308 closed, assigned to nobody

[2017-01-18 19:51] mjessome opened #485 "Returning exit code 4 to ssh client"
I have just upgraded to v0.0.7.0 from v0.0.5.0 and noticed that my ssh client is always exiting with status code 4, even on successful exit. This was not an issue with v0.0.5.0.
Both a manual install as well as an install through chocolatey have been tried.
I am using ssh keys for login, username `WORKGROUP\marc.jessome` is specified in .ssh/config. Client is running OSX with

[code]

[2017-01-18 20:03] mjessome commented on #485
Seems to be OK on v0.0.6.0

[2017-01-18 21:51] bagajjal commented on #115
Please check the latest version 0.0.7.0. It seems to be working..

[2017-01-18 21:59] Drugoy commented on #276
@manojampalam @rayhayes hello.

[2017-01-18 23:37] bagajjal commented on #195
This is working fine and there are no exceptions now.

[2017-01-18 23:37] #195 closed, assigned to bagajjal

[2017-01-18 23:51] bagajjal commented on #115
Please reopen if you have any issues..

[2017-01-18 23:51] #115 closed

[2017-01-19 00:17] bagajjal commented on #485
please share the debug3 logs for the ssh-agent and sshd

[2017-01-19 10:55] Kirderf73 commented on #399
It works on v0.0.1.0 but not on any of the later releases.

The computer account is located in AD "ELD.FQDN" and the user accounts are located in "ERICSSON.FQDN". ELD has a one way trust to ERICSSON.
So the problem only occurs on ERICSSON user accounts, not on local ELD user accounts.

Thanks!

[2017-01-19 12:18] hugocelso commented on #399
That's my scenario, but here it works (like machine in ELD.FQDN):
ssh user@ERICSSON.FQDN@ip.sshsrv.eld.ip
ssh -l user@ERICSSON.FQDN ip.sshsrv.eld.ip
If you have and the time and patience :) and revert to v0.0.1.0, it still works?

[2017-01-19 15:00] Kirderf73 commented on #399
- Uninstalled version 0.0.7.0
- rebooted Windows 7 Ent
- Installed version 0.0.1.0

Tried this command and it worked perfectly. :-)
.\ssh.exe -l user@ericsson.FQDN localhost

[2017-01-19 15:59] gd197 commented on #436
I'm using the AllowUsers in AD context for only one account and this is working well on my side

[2017-01-19 20:47] bingbing8 opened #486 "Unknown error at packet_write_wait and operation failed on Release build when verbose option is not enabled."
scp pester test, some tests failed randomly on release build when -v is not specified.
packet_write_wait: Connection to fe80::c521:2d89:3d17:361e%18 port 22: Unknown error
Please see dump cab at \\\scratch2\scratch\yawang\OpenSSH

[2017-01-19 20:48] bingbing8 opened #487 "Unknown error at ssh_dispatch_run_fatal"
Run the folowing with single signon setup
start cmd.exe /c powershell "1..100 | foreach {.\ssh.exe -i .\id_rsa localadmin@127.0.0.1 hostname}"
ssh_dispatch_run_fatal: Connection to 127.0.0.1 port 22: Unknown error

[2017-01-19 21:43] bingbing8 commented on #359
Reopen if you still see it.

[2017-01-19 21:43] #359 closed, assigned to nobody

[2017-01-19 21:45] bingbing8 commented on #351
Did you mean to open this in Powershell issue list? If not please clarify and reopen.

[2017-01-19 21:45] #351 closed, assigned to nobody

[2017-01-19 21:47] bingbing8 commented on #347
You need to do the following to get a remote cmd session on nano (since Nano does not support PTY)
ssh.exe user@target cmd.exe

[2017-01-19 21:47] #347 closed, assigned to rayhayes

[2017-01-19 21:56] bingbing8 commented on #333
Reopen if needed

[2017-01-19 21:56] #333 closed, assigned to nobody

[2017-01-19 21:58] #331 closed, assigned to nobody

[2017-01-19 22:09] Fitzroy87 commented on #351
@bingbing8 The problem described occurs when connecting from a machine using the Win32-OpenSSH client to a machine running the Win32-OpenSSH server and then launching PowerShell (on the target machine).

I don't think I have authority to reopen, so please can you do so.

[2017-01-19 22:24] bingbing8 commented on #291
Production ready releases will have signed payload

[2017-01-19 22:24] #291 closed, assigned to nobody

[2017-01-19 22:28] bingbing8 commented on #288
Try with the latest build (0.0.7.0). Reopen if needed.

[2017-01-19 22:29] bingbing8 commented on #282
Reopen if needed with the appropriate info on how this can be done on Unix.

[2017-01-19 22:29] #282 closed, assigned to nobody

[2017-01-19 22:30] bingbing8 commented on #266
This should be fixed by now. Try latest release and reopen if needed.

[2017-01-19 22:30] #266 closed, assigned to nobody

[2017-01-20 06:49] bradmoody opened #488 "Commands longer than 249 characters fail silently"
Running this command
[code]
works as expected.

Running
[code]
produces no output.

The host is a Windows 7 machine running Win32-OpenSSH v0.0.7.0.

The client is an Ubuntu 14.04 machine.
[code]
I've also reproduced it from other clients.

[2017-01-20 07:20] bradmoody commented on #488
Also reproduced now on v0.0.6.0. On this version the first command exits with status 0 and the second exits with status 23.  This isn't observed on v0.0.7.0 because of another bug that causes all ssh commands to exit with status 4.

[2017-01-20 22:43] tranbadu opened #489 "regedit changes made the display not working"
I am having the same issue as madhavanks26. The display is not working since I made the regedit change. Not even in safe mode it comes on. Is there a fix for this?

Here is the change I made.

reg add HKLM\System\CurrentControlSet\Control\Lsa /v "Authentication Packages" /t REG_MULTI_SZ /d msv1_0\0ssh-lsa -f

Thanks,
tranbadu

[2017-01-20 23:55] discodance1 commented on #419
k, i have hit a dead end with this issue with no leads on how to go forward. I have also created a case with microsoft to see if my server has special settings which is preventing execution of powershell script as a non admin but they came back saying they wont support this issue since this is win32-openssh specific.

[2017-01-21 05:17] bdr2 commented on #288
I'm not the original submitter, so I can't re-open..... but I've duplicated this issue on a clean install of 0.0.7.0. Log shows exactly the same as my post above.

Additionally, since I didn't put this in my previous post, here is the output to ssh-agent.log:

6780 00:04:31 671 client pid 10236 connected
6780 00:04:31 687 debug1: spawned worker 7136 for agent client pid 10236
7136 00:04:31 687 age

[2017-01-21 13:20] dermeister0 commented on #440
I recorded videos.

See how Far Manager works in freeSSHd:
https://www.screencast.com/t/epouO79I

That's how it looks in Win32-OpenSSH v0.0.4:
https://www.screencast.com/t/5s77aSTWAGTm

The same in Win32-OpenSSH v0.0.7:
https://www.screencast.com/t/fVdyzYKf

[2017-01-22 04:12] manojampalam opened #490 "Cleanup CRT over-riden functions in win32posix.h"
These should go out of w32posix.h

/* string.h overrides */
#define strcasecmp _stricmp
#define strncasecmp _strnicmp
char *w32_strerror(int);
#define strerror w32_strerror

/* stdio.h overrides */
#define fopen w32_fopen_utf8
#define popen _popen
#define pclose _pclose

[2017-01-22 04:15] #490 closed, assigned to nobody

[2017-01-22 04:30] friism opened #491 "0.0.7.0 broke packer builds"
I'm using openssh and packer with SSH to build windows AWS AMIs. This worked up to and including 0.0.6.0, but stopped working with 0.0.7.0. I'm guessing because of the scp-related changes.

Here's my code: https://github.com/friism/ec2-windows-packer-ssh/blob/master/docker-ci/docker-ci.json

I think the way packer uses scp is a little special, and I haven't produced a simpler repo.

[2017-01-22 15:52] friism commented on #491
I'm pondering if this is the cause: https://github.com/PowerShell/openssh-portable/commit/654c18f96023b7d580d6048b84417cad66199645

[2017-01-22 19:10] friism commented on #491
This is the error:

[code]

I get it when configuring packer to use sftp too. Interactive ssh prompt works fine

[2017-01-23 01:37] pseudovector commented on #18
@thecliguy @manojampalam I experienced the same.

[2017-01-23 03:24] Jingli1985 opened #492 "The sshd server is stoped when run a script at the same time"
I write a Powershell script that is stored on Hyper-V 2012 Server, however, I also write a shell script to run this script remotely , I start two shell terminal to run this script at the same time, the sshd server is stopped automatically when script is over

the log is like below

5708 11:30:00 108 debug1: Register child 00000000000001E0 pid 5276, 0 zombies of 0
5708 11:30:00 108 debug1: close -

[2017-01-23 05:02] AbhijitNagaraj opened #493 "create sshd.pid under logs folder by default"
I am getting the below error while installing OpenSSH Win64 0.0.7.0 on Windows 2012 R2 machine.
======================================
Couldn't Create pid file "./sshd.pid": Permission Denied
======================================

OpenSSH folder has full access,

Thanks,
Abhijit

[2017-01-23 07:25] rmenessec commented on #444
I'm unable to run PSEXEC due to security constraints that require LanManServer to be disabled. Is it possible to store the sshd host keys in Credential Manager / Windows Vault somehow, possibly via PowerShell?

Thanks!

[2017-01-23 16:09] zbordas commented on #488
We ran into this very same issue. I tracked down the problem and there is a bug in the shell-host utility that will limit the entire execution command line to 260 characters.

If you open the **shell-host.c** file around line 1010:

int start_with_pty(int ac, wchar_t **av) {
    STARTUPINFO si;
    PROCESS_INFORMATION pi;
    wchar_t cmd[MAX_CMD_LEN];

… and also around line 1152:

int start_withn

[2017-01-23 17:34] PaulHigin commented on #419
Unfortunately I am not able to repro the problem so cannot investigate it.  You can try clearly summarizing your repro conditions so that someone is able to reproduce the problem.  But I have not been able to see the behavior you describe.

[2017-01-23 19:26] manojampalam commented on #489
Sorry to hear this. I don't know why this change would break the OS. I'll check and see if there is a way to revert it.

[2017-01-23 19:37] manojampalam opened #494 "[Security] Authorized_keys can be modified remotely"
In 0.0.7.0, authorized_keys can be modified remotely, sample scenario

- Setup single sign on
- ssh user@target
- from within remote ssh session
  - echo XXX-MY- PUBKEY > c:\users\user\.ssh\authorized_keys

This can be easily exploited by malware running on client machines by injecting rogue public keys into target's authorized_keys

Risk applicable to Unix too.

[2017-01-23 19:38] manojampalam commented on #341
Related to #494

[2017-01-23 19:42] manojampalam commented on #332
Added link to wiki.
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2017-01-23 19:42] #332 closed, assigned to nobody

[2017-01-23 20:12] tranbadu commented on #489
I was able to fix it by using the last known good configuration on Windows 7. I still wanted to get OpenSSH to work on a Windows 7 machine with key authentication. Do you have any success doing it?

[2017-01-23 20:28] manojampalam commented on #207
This works if the user if given "Replace a process level token" privielege

[2017-01-23 20:28] #207 closed, assigned to nobody

[2017-01-23 20:46] manojampalam commented on #488
Thanks for finding the issue in code. Fix should be available in Jan-End drop.

[2017-01-23 23:46] bagajjal commented on #484
ssh -i rsa_key user01@192.168.2.1 dir -> This will output to your console..

When you add this to crontab, where will the output be written?

Try redirecting the output of ssh to a file and check the content of that file, if you plan to have it in the crontab.

Please let us know if this solves your problem.

[2017-01-23 23:53] bagajjal opened #495 "SFTP batch output is not redirected to a file"
sftp  -b <sftp-cmds.txt> username@ip > tmp.txt

the tmp.txt is empty.

[2017-01-24 00:08] bagajjal commented on #493
are you running in administrator mode?

[2017-01-24 00:43] AbhijitNagaraj commented on #493
Yes, I do. I am not getting this error if I install v.0.0.1.0.

[2017-01-24 04:25] olhonia commented on #484
@bagajjal
Thanks for comments.
I already tryed it.

ssh -i rsa_key user01@192.168.2.1 dir -> Output_test.txt

if dont use crontab (Type command line) then,  its successfuly written to [Output_test.txt].
and can see Windows directory construction.
[code]

but, if add to crontab then, not written anything.
[code]
timestamp has been updated.

[2017-01-24 14:51] bdr2 commented on #288
After some more testing, it appears the issue may be related to ipv6.

As I noted in my post from December 30, 2016, ipv6 is disabled on all interfaces on all systems and devices in my environment.

Looking at the SSHD logs, I noticed problems arise as soon as local port forwarding is initiated for the ipv6 localhost ("[::1]:5900") with _getsockopt_ errors. In sshd_config, the default argument for

[2017-01-24 18:17] manojampalam opened #496 "ssh.exe dumping garbage when run in Powershell.exe"
Following command would dump in infinite "I"s on terminal when run in Powershell.exe

ssh.exe user@target hostname

[2017-01-24 18:18] #496 closed, assigned to nobody

[2017-01-24 19:06] bagajjal opened #497 "Terminal related code cleanup"
1) Delete conio.c - unused file.
2) Delete ReadThread() in termio.c - unused method.
3) Add more debug logs to get_passwd()

[2017-01-25 12:59] gd197 commented on #485
any chance to have a fix for January-End milestone ?

[2017-01-25 22:43] manojampalam opened #498 "Headers cleanup"
Get rid of w32posix.h and defs.h in posix sdk. Move defitnitions to appropriate POSIX headers

[2017-01-25 22:46] #498 closed, assigned to nobody

[2017-01-26 04:06] manojampalam commented on #485
Looking into this

[2017-01-26 04:35] manojampalam commented on #485
Thanks for reporting this. This will be fixed in Jan-End release.

[2017-01-26 19:14] bagajjal opened #499 "Create SFTP pester test cases"

[2017-01-26 19:44] manojampalam commented on #491
This is due to #485. Fix is in and will be available in Jan end drop.

[2017-01-26 19:44] #491 closed, assigned to nobody

[2017-01-26 19:55] friism commented on #491
Awesome, thanks @manojampalam

[2017-01-26 21:44] jy2008 opened #500 "Cannot SSH login as non-root user"
I am on Ubuntu and using PuTTY to generate SSH keys and connect to the droplet. I can SSH login as root. But not as non-root. This is what i did to SSH login as non-root user:

I manually copied and paste the public key to the file under non-root user
Did the following command for permission:

[code]
This is the error i got when tried to SSH login as non-root:

[code]
The following are what i trie

[2017-01-27 05:20] FrankWangAU commented on #399
Hi Guys,

I have the same problem with 0.0.7.0, any work around for this issue?

Thanks,
Frank

[2017-01-27 05:35] ikrel commented on #484
the issue can be easily reproduced by using nohup , the -vvv logs read failed as opposed to interactive success. Google gives some linux-on-linux reports of similar behaviour which are solved by -t -t.
however using -t with windows openssh hangs the client, and then leads to 100% cpu utilization on the server.
in_debug.sh] debug2: channel 0: read<=0 rfd 4 len 0
[23:50:09]	[win_debug.sh] debug2: ch

[2017-01-27 18:39] bagajjal opened #501 "SFTP is not reading from UTF8 file that has BOM characters."
PS C:\Openssh> cat sftp_cmds.txt <<<< At this point the encoding is just UTF8 (without BOM)
pwd
PS C:\Openssh> .\sftp.exe -b sftp_cmds.txt username@ip
sftp> pwd
Remote working directory: /C:/Users/username
PS C:\Openssh> cat sftp_cmds.txt   <<<< At this point the encoding is changed to UTF-8 with BOM
pwd
PS C:\Openssh> .\sftp.exe -b sftp_cmds.txt username@ip
PS C:\Openssh>

sftp is not writing any

[2017-01-27 19:25] bagajjal opened #502 "Logging is not writing the unicode characters"
Example
23464 11:05:21 419 debug1: request 32: readdir "/E:/client_test_dir_\321\217\320\267\321\213\320\272/" (handle 0)

[2017-01-27 20:05] djferguson opened #503 "Exit status code disruption"
We are using openssh in conjunction with Bamboo/Ant to run remote bat scripts.  While testing out v0.0.7.0 we started getting a new ant error.

Our bat scripts are set with an "exit 0" and that has worked without issue.  Now with the 0.0.7.0 version we get an ant error.

/var/bamboo/build/deploybuild.xml:43: The following error occurred while executing this line:
/var/bamboo/build/deploybuild.xml:

[2017-01-27 20:52] manojampalam commented on #503
dup #485

[2017-01-27 20:52] #503 closed, assigned to nobody

[2017-01-28 16:51] remittor opened #504 ""sshd.exe" can't execute child process (bugged function: spawn_child)"
If run main process as `C:\OpenSSH>"sshd.exe"↲` (look for quotes) then child process **sshd.exe** can't executed.
If main module have name with space (like `sshd v74.exe`) then child process **sshd v74.exe** can't executed.

Fix: https://github.com/PowerShell/openssh-portable/pull/59

[2017-01-28 17:06] remittor commented on #502
See this place: https://github.com/PowerShell/openssh-portable/blob/5ad8a2c3580ce0bfcf1f81c11b7641235dfcdfea/log.c#L447

[2017-01-28 20:20] manojampalam commented on #504
Thanks @remittor for finding the issue and providing the fix. I'll have it available in Feb end drop.

[2017-01-28 20:22] #501 closed, assigned to bagajjal

[2017-01-28 20:22] #499 closed, assigned to bagajjal

[2017-01-28 20:22] #497 closed, assigned to bagajjal

[2017-01-28 20:22] #495 closed, assigned to bagajjal

[2017-01-28 20:23] #488 closed, assigned to bagajjal

[2017-01-28 20:23] #485 closed, assigned to manojampalam

[2017-01-28 20:23] #481 closed, assigned to nobody

[2017-01-28 20:23] #477 closed, assigned to manojampalam

[2017-01-28 20:24] #468 closed, assigned to bagajjal

[2017-01-28 20:25] #458 closed, assigned to bagajjal

[2017-01-30 04:12] lzhoucs commented on #414
I had the same issue with v 0.0.7.0, and this workaround: https://github.com/PowerShell/Win32-OpenSSH/issues/244#issuecomment-239071490 works for me.

[2017-01-30 07:40] manojampalam opened #505 "scp and sftp progress meter inaccuracies"
scp and sftp show negative/inaccurate transfer rates in progress meter

[2017-01-30 08:24] #505 closed, assigned to nobody

[2017-01-30 16:13] bdr2 commented on #288
Confirmed the same issues above with a clean install of 0.0.8.0.

@bingbing8 - Since it appears the original submitter ( @adverst ) has not been active since submitting this bug almost 6 months ago, are you able to re-open this, or should I open a new bug and reference this one?

[2017-01-30 16:23] adverst commented on #288
Hi sorry - I no longer have the original setup to test this. Wasn't sure if protocol was for me to reopen but will do so now

[2017-01-30 16:25] adverst commented on #288
Actually - sorry, looks like I can't reopen as it was @bingbing8 that closed it

[2017-01-30 20:22] bagajjal opened #506 "Fix the failing unicode SFTP Pester testcases"

[2017-01-31 10:53] gd197 opened #507 "rsa key based auth verification failure with some ssh clients"
I have some issues regarding the new V0.0.8.0 release
Using rsa key based auth
failure with a sun ssh client (was working before in V0.0.7.0) :
bash-3.00$ ssh -V
Sun_SSH_1.1.3, SSH protocols 1.5/2.0, OpenSSL 0x0090704f

agent.log on W7 openssh-win64 server:

1600 10:50:19 175 client pid 2672 connected
1600 10:50:19 177 debug1: spawned worker 4388 for agent client pid 2672
4388 10:50:19 218 agent_s

[2017-01-31 11:20] gd197 commented on #507
misuse on my side, please don't take into account

[2017-01-31 11:20] #507 closed, assigned to nobody

[2017-01-31 18:29] bagajjal commented on #391
Closing this as it is working in the latest release.

[2017-01-31 18:30] #506 closed, assigned to bagajjal

[2017-02-01 03:27] bagajjal commented on #391
In the latest release, IPV6 and allow users are working fine..

[2017-02-01 04:07] #145 closed

[2017-02-01 10:23] MrBatschner opened #508 "Terminal gets garbled with long output"
**Host:** Windows Server 2016 x64 with OpenSSH Build 0.0.8.0 (probably happening on other Windows Versions too, but untested)
**Client:** any Windows with PuTTY or Linux with xterm

When logging in to a Windows Server 2016 host with ssh through sshd and executing a command that produces very long output, the output gets garbled up after some time.

Steps to reproduce: log in through SSH and execut

[2017-02-01 12:37] v4virus4u commented on #409
I am using OpenSSH_7.4p1, OpenSSL 1.0.2d 9 Jul 2015 & able to do a password-less ssh connection from linux to the windows system.

Within windows localhost am not able to perform password-less ssh connection using:
ssh.exe localhost 'command'
<command executes & output is displayed on console>

But if I specify a user say admin/root, a password prompt appears:
ssh.exe Administrator@localhost 'comm

[2017-02-02 07:26] megahall commented on #139
@DarwinJS You misspelled `EnableLinkedConnections` which makes the advice not work.

This is what you actually want:

[code]

[2017-02-02 07:27] megahall commented on #139
However, in my experience, even when following the advice, the mapped drives are still broken. So I think this is a real bug which should be fixed if IT Admins are going to use this successfully for a whole lot of headless SW install tasks and other common SSH uses.

[2017-02-02 15:39] olegdunkan opened #509 "Failed silent interaction"
Check it out golang/go#18901
I have used v 0.0.8 (32 and 64 bits)

[2017-02-02 19:33] olegdunkan commented on #509
https://msdn.microsoft.com/en-us/library/windows/desktop/ms740668(v=vs.85).aspx

WSAECONNRESET
10054
Connection reset by peer.
An existing connection was forcibly closed by the remote host. This normally results if the peer application on the remote host is suddenly stopped, the host is rebooted, the host or remote network interface is disabled, or the remote host uses a hard close (see setsockopt

[2017-02-02 23:03] manojampalam opened #510 "Handle failure paths in do_exec_windows (session.c)"

[2017-02-03 07:52] manojampalam opened #511 "DenyUsers for a domain account isn't working"
In sshd_config have "DenyUsers username".
login with "ssh username@domain@serverip"

[2017-02-03 18:13] tomrittervg commented on #432
I also experience this with a few additions:
 - If I open zsh  =from cmd or powershell after SSH-ing, I experience the problem
 - If I run powershell, then a docker container, and paste into the docker container I get the entire value of the clipboard... except _some_ of the characters get replaced with '?' similar to #300

[2017-02-03 18:51] #510 closed, assigned to manojampalam

[2017-02-03 18:51] #511 closed, assigned to bagajjal

[2017-02-03 18:52] manojampalam opened #512 "ssh-shellhost.exe is orphaned when sshd.exe aborts unexpectedly"
Repro:
ssh user@target

in task manager, forcefully terminate sshd.exe serving the above connection
ssh-shellhost.exe and its child process (cmd.exe) still hangs around

[2017-02-03 20:30] bagajjal opened #513 "Code cleanup in shell host module"

[2017-02-03 21:49] bagajjal opened #514 "ssh-agent changes"
1) Pass the user, domain from the sshd.
2) cleanup the code in ssh-agent.

[2017-02-03 21:49] #514 closed, assigned to bagajjal

[2017-02-04 03:12] smerps opened #515 "Paste text en xshell no run, only first letter."
Paste text en xshell no run, only first letter.

[2017-02-04 08:16] #512 closed, assigned to manojampalam

[2017-02-04 09:51] ngugc opened #516 "build problem with contrib\win32\win32compat\inc\crtheaders.h"
contrib\win32\win32compat\inc\crtheaders.h is not regenerated if it exists.
And it's not removed when cleaning the whole solution.

This will cause build problems if the content is changed by new commits.

[2017-02-04 20:19] #513 closed, assigned to bagajjal

[2017-02-05 02:36] manojampalam commented on #516
Tried adding the following to "config" project file but it does not seem to work.

  \<Target Name="BeforeClean">
    \<Delete Files="$(OpenSSH-Src-Path)contrib\win32\win32compat\inc\crtheaders.h" />
 \</Target>

[2017-02-05 03:21] ngugc commented on #516
How about removing the following line in contrib\win32\openssh\config.ps1?
**_if (Test-Path $OutCRTHeader) {exit}_**

Then it will be regenerated every time.

[2017-02-05 12:40] farika opened #517 "ripemd160 HMAC"
Hello,

Normally openssh 7.4 support theses macs :
Ssh -q mac
hmac-sha1
hmac-sha1-96
hmac-sha2-256
hmac-sha2-512
hmac-md5
hmac-md5-96
hmac-ripemd160
hmac-ripemd160@openssh.com
umac-64@openssh.com
umac-128@openssh.com
hmac-sha1-etm@openssh.com
hmac-sha1-96-etm@openssh.com
hmac-sha2-256-etm@openssh.com
hmac-sha2-512-etm@openssh.com
hmac-md5-etm@openssh.com
hmac-md5-96-etm@openssh.com
hmac-ripemd160-

[2017-02-06 07:44] manojampalam commented on #516
Since 99% of all the C source files indirectly rely on this header, regenerating this every time means that all the sources will be re-compiled on every BUILD.

[2017-02-06 08:04] ngugc commented on #516
[code]

Why did it not work?
It works for me. The config project should be unloaded, then reloaded again.

[code]

[2017-02-06 12:59] MrBatschner opened #518 "Network share unaccessible through SSHd"
**Host:** Windows 2016 x64 with OpenSSH Build 0.0.8.0
**Client:** PuTTY or xterm

I will refer to the Windows 2016 host with OpenSSH on it as WINHOST.
It is not member of any domain.

We have a networkshare \\\\server\\share, that is open to anyone.

Logging in to WINHOST through RDP and issuing
"_dir \\\\server\\share_" gives me the directory listing of
\\\\server\\share (without any additional a

[2017-02-06 18:01] megamorf commented on #518
I believe the devs said that logging in via sshd results in a network logon (similar to the double hop problem in PowerShell or when you invoke mstsc with /restrictedAdmin). That means that you only have access to the local system and that you'll have to reauthenticate against other network resources (e.g. net use or New-PSDrive).

[2017-02-06 19:20] manojampalam commented on #516
Thanks. Not sure why it did not work when I tried earlier. Fix is in.

[2017-02-06 19:20] #516 closed, assigned to nobody

[2017-02-06 19:25] manojampalam commented on #518
Yes. This is by design and going by the rules of standard Windows security.

It basically prevents exploiting user's security creds on a compromised host. That said, the design only benefits key based authentication. Since for Basic (password) auth, a compromised host can intercept and steal user creds anyway.

+1, if you feel that we should relax this restriction for Basic auth.

[2017-02-06 19:34] manojampalam commented on #517
This is due to
#ifdef HAVE_EVP_RIPEMD160
	{ "hmac-ripemd160",			SSH_DIGEST, SSH_DIGEST_RIPEMD160, 0, 0, 0, 0 },
	{ "hmac-ripemd160@openssh.com",		SSH_DIGEST, SSH_DIGEST_RIPEMD160, 0, 0, 0, 0 },
#endif

HAVE_EVP_RIPEMD160 is not defined for the Windows project yet.
Do you know if OpenSSL 1.0.2* supports this?

If so, its a matter of defining this in config.h.vs

[2017-02-06 19:56] bagajjal commented on #515
Couldn't understand your problem.. please provide details.. if possible screenshot along with configuration details (server, client).

[2017-02-06 20:03] bingbing8 opened #519 "3 unittests are unreliable and disabled"
unittest-kex.exe report multiple warnings and powershell treated them as error
unittest-hostkeys.exe and unittest-sshkeys exit with ExitCode: -1073740791

[2017-02-06 22:08] farika commented on #517
Thanks for you answer. Yes it's ok for OpenSSL. https://wiki.openssl.org/index.php/Manual:Ripemd(3)
 $ openssl list-message-digest-commands
md4
md5
mdc2
rmd160
sha
sha1
 $ openssl rmd160 /usr/bin/openssl
RIPEMD160(/usr/bin/openssl)

Before using Win32-Openssh I used the openssh version 7.4 by mls (cygwin) which supports the ripemd. It is useful on some old servers without SHA256 and to avoid the S

[2017-02-07 09:39] MrBatschner commented on #518
+1
Thank you for the clarification, I understand that this is a security feature.
But how about this scenario: Logging on to a compromised host with key based authentication, so far, my user creds are still fine. I want to access \\\\server\\share and need to provide credentials again (which I would not with an interactive logon). At this point, my creds can be intercepted.
Don't know if you consi

[2017-02-07 12:54] ngugc opened #520 "ssh command has many problems connecting to Ubuntu 16.04"
Use ssh(v0.0.8.0) command to connect to Ubuntu 16.04 .
It has no color scheme, and vim is almost unusable.

[2017-02-07 15:39] gd197 commented on #518
+1 IMHO
We fall into this issue and have to write a powershell script which execute the mount with the New-PSDrive command with authentication based on an encrypted file for each ssh logon.
Maybe a configuration option relaxing the security at the service level (or account) can do the trick?

[2017-02-07 15:53] pkt1237 commented on #493
I did have this same issue, with version .0.0.6.0 on a Win2k8 R2 64bit box.  To get around the issue, in the sshd_config file i uncommented out the PidFile setting and replaced the ./sshd.pid, with "OpenSSH Install Path"\sshd.pid, and this corrected the issue, in my case it was installed under C: Programs, so the line in my config file looked something like this PidFile "C:\Program Files\OpenSSH\l

[2017-02-07 19:25] bagajjal commented on #493
Hi AbhijitNagaraj, Can you please try and let us know if it works.. if not the share your configuration details like sshd_config, server configuration

[2017-02-07 20:24] manojampalam commented on #520
What shell are you using? Try using a bash shell.

[2017-02-07 22:34] n0h opened #521 ""Bad message" error when Renci SSH.NET calls SSH_FXP_OPENDIR"
We have a .NET application that uses the Renci [SSH.NET](https://www.nuget.org/packages/SSH.NET/) library to connect to an SFTP server.

In one of our test environments we started using PowerShell OpenSSH as the SFTP server. It was working fine as of v0.0.4.0. But it broke in v0.0.5.0, and we have tested the later releases through v0.0.8.0 with the same results. We have tried SSH.NET versions 2014

[2017-02-08 00:24] ngugc commented on #520
I tried with Windows CMD and powershell. Haven't tried with a bash shell.
But I don't get it. Why should users get a bash shell on **_Windows_** to run ssh client?

[2017-02-08 04:30] nightwish47 opened #522 "Regarding "error in libcrypto""
Dear experts,
I have a landscape as below:
SFTP server with OpenSSH, a client PC to connect to it using public key. After connection is made, it will execute some scripts for business purposes.

The connection is, to be honest, usually smooth. But in some random days, it gives me the message:
fatal: ssh_dispatch_run_fatal: Connection to [client IP address]: error in libcrypto

I have been searchin

[2017-02-08 12:46] ngugc commented on #520
Do you mean this Ubuntu Bash on Windows?
https://msdn.microsoft.com/en-us/commandline/wsl/about

[2017-02-08 13:40] ngugc commented on #520
Tried with Cygwin:
[code]

[2017-02-08 18:37] bagajjal commented on #522
can you please share the verbose logs at client side and debug3 of sshd.log (this can be set in the ssh_config)

[2017-02-08 20:11] bagajjal commented on #176
Verified in the recent release, not seeing this issue.
But when there are no read permissions to open a file then we are showing file not found instead of access denied. Fixed this issue.

[2017-02-08 21:34] rghash commented on #518
+1 for us as well. We want to use the sshd to remotely start server processes using password authentication, but the remotely started processes needs to access network shares that the userid already has access to, but can't figure out how to get this to work...

[2017-02-08 21:36] zbordas commented on #518
+1 too.

[2017-02-09 02:30] bagajjal commented on #521
1) I'm unable to download the SSH.NET (any version) through package manager console,
![image](https://cloud.githubusercontent.com/assets/23668037/22766391/09d3237c-ee2a-11e6-8bae-8b717df29ac2.png)

2) Since its working with other SFTP clients like WinSCP and FileZilla, its possible that the issue is with SSH.NET as well. I can't comment unless I reproduce it. Please help us in reproducing the prob

[2017-02-09 02:44] laughterk opened #523 "sftp failed with broken pipe"
There's a chance (6/10) sftp fails to connect to the server:

1. client: openssh on OS X 10.11(OpenSSH_6.9p1) or Ubuntu 14.04 (OpenSSH_6.6.1p1 Ubuntu-2ubuntu2).
2. server: v0.0.8.0
3. error message:

Not sure if it relates to my configuration, I'm connecting to the server via `ProxyCommand` using `proxy tunnel` (the server is behind a firewall).

PS: directly ssh to the server using the same confi

[2017-02-09 03:01] bagajjal commented on #520
After login to the Ubuntu from windows cmd/powershell,
1) issue "bash" so that you will get into the bash shell..
2) Then do the vim <yourfilepath>

Here is the snapshot of vim working (logged from windows cmd.exe to Linux server)..
![image](https://cloud.githubusercontent.com/assets/23668037/22767362/a62c036a-ee2f-11e6-9d2c-0541b3d976b0.png)

openssh right now supports only ANSI/VT100 terminal co

[2017-02-09 03:28] megahall opened #524 "sshd.exe command execution broken with any multi-level paths containing spaces"
There are some very serious problems with the argument vector handling in this
`sshd` when directly executing commands which contain either space characters
and multiple levels of `\` or `\\` path delimiters. It appears to be majorly
damaging the original `argv` when feeding the `argv` internally to `cmd.exe
/c` for execution.

This issue is a complete show-stopper if you try to use this `sshd` to

[2017-02-09 05:53] nightwish47 commented on #522
Hi, thanks for your reply.
Due to security policies, I don't have permission to collect debug3 log.
I'm running debug2. But the error still haven't occured for several days, nothing to collect. I'll keep monitor and will update debug2 log.
Please don't close this post.

[2017-02-09 11:27] jovinoblanco opened #525 "ssh cmd command -> output / error"
Hi,

Windows client:
W7 Professional SP1 (32 bit) with Win32-OpenSSH -> not sure which version around October 2016)

I encountered the following problem. I need (because Job-Server executor definition) to use **cmd** for every ssh command executed from jobs of our job-server. But using cmd.exe /c does not return output for some commands:

ssh CONNECT-STRING(-i, domain, username, host) cmd.exe /c i

[2017-02-09 12:03] ngugc commented on #520
I couldn't change $TERM to xterm, it's always dumb.
![image](https://cloud.githubusercontent.com/assets/2368031/22783684/d55feaa6-ef07-11e6-9c15-0d59b570c47c.png)

If connecting with XShell, it's "xterm" by default:
![image](https://cloud.githubusercontent.com/assets/2368031/22782633/fb175cde-ef02-11e6-8bcc-fb52eaf4cfcd.png)

[2017-02-09 12:19] ngugc commented on #520
The output was garbled if forcely set $TERM to xterm:
![image](https://cloud.githubusercontent.com/assets/2368031/22783059/06a4eb3c-ef05-11e6-8c46-36c8794e9358.png)

[2017-02-09 13:05] nightwish47 commented on #493
@bagajjal
I also encounter the same error message.
I upgraded from v5_30_2016 to v0.0.8.0 hope it can fix issue #241. Good thing is it actually does but a new one comes up.

I tried @pkt1237 solution but no luck.
Please see sshd.log and sshd_config. Thanks
[sshd_config.txt](https://github.com/PowerShell/Win32-OpenSSH/files/763713/sshd_config.txt)
[sshd.log.txt](https://github.com/PowerShell/Win32-

[2017-02-09 15:48] n0h commented on #521
You may be trying to install SSH.NET into a project that's not targeting a framework that's supported by SSH.NET. The supported frameworks are listed on their GitHub readme which can be viewed at https://github.com/sshnet/SSH.NET/#framework-support .

This means that you will most likely just need to change the project properties. In Visual Studio, for a C# console application setup, a user would

[2017-02-09 18:33] manojampalam commented on #525
I just tested the latest version on Windows 10 en-us. All of the above commands seemed to work. Can you try out with the latest version on your side?

[2017-02-09 18:35] manojampalam commented on #524
Thanks for testing out the various combinations. Will look into it.

[2017-02-09 19:27] bagajjal commented on #522
Ok.. I am marking it as issue-discussion till we get the issue reproduced.

[2017-02-09 20:06] pkt1237 commented on #493
@nightwish47
I was looking over your config.txt i see that there are 2 entries for the PID, i know one is commented out but cant help but wonder if it still is somehow conflicting with the override entry, the only other thing i saw is it looks like some of the paths are using / instead of a backslah \\ I think / is more of a unix/linux style, but could be wrong.  I did notice and error in the sshd

[2017-02-09 21:15] manojampalam commented on #518
What you are asking is single sign-on with double-hop. The only possible Windows inbuilt options are CredSSP and Kerberos Delegation - both of these are not supported by OpenSSh implementation yet.

The way this is solved in SSH world is through auth agent forwarding - this is used to hop through multiple SSH targets. This feature will be added to Windows version of OpenSSh sometime middle of this

[2017-02-09 22:10] pkt1237 commented on #523
I have the same issue, although, its only from our linux servers
1. client: OpenSSH_5.3p1, OpenSSL 1.0.1e-fips 11 Feb 2013 on Red Hat Enterprise Linux Server release 6.8 (Santiago)
2. Server: v0.0.8.0
3. error message:
Write failed: Broken pipe
Couldn't read packet: Connection reset by peer

Windows box is not behind a firewall so no need for proxy command in our setup
Other items to note, logs sh

[2017-02-09 22:51] jovinoblanco commented on #525
hi

i tried to install the newest version today.
unfortunately i wasn able to execute an kind of statement and got the error error in libcrypto.

[2017-02-10 06:45] manojampalam commented on #525
Please share logs.

[2017-02-10 08:40] nightwish47 commented on #522
@bagajjal
Please see sshd.log file, the error occured yesterday.
[sshd.log.txt](https://github.com/PowerShell/Win32-OpenSSH/files/766084/sshd.log.txt)

Network team is monitoring and tell me that Diffie-Hellman Key Exchange Reply packet is missing during connection establishment. We have Diffie-Hellman Key Exchange Init but no Reply.
Hope it can help. Thanks

[2017-02-10 08:57] nightwish47 commented on #522
sorry but beside that, I also encounter some disconnections 3 minutes after connection is successfully established.
In sshd_config, I set these parameters:
[code]
So I wonder if these are the reason.
Everything is so random so I can't make sure, just guess

[2017-02-10 09:11] nightwish47 commented on #493
@pkt1237
Thanks for your suggestion. I retry as your 1st post and it works.
In my opion OpenSSH can handle / and `\` since their default sshd_config also use /.
For 2 PID, I deleted the once with #.

Error seems random, so I'll keep monitoring.

[2017-02-10 14:03] ngugc commented on #520
@bagajjal , @manojampalam, how did you make it work? Did you run ssh.exe with additional options or configurations? Thanks!

[2017-02-10 18:30] bagajjal commented on #522
The clientAlive configuration makes the connection to disconnect if there is no data exchanged with in 3 min (3 * 60 sec)..

ClientAliveInterval 60
ClientAliveCountMax 3

[2017-02-12 00:46] ngugc commented on #520
Attached the ssh log.  I couldn't put the debug log in a separated file with the "-E" option.
![image](https://cloud.githubusercontent.com/assets/2368031/22858791/7c413392-f102-11e6-908b-f401ab3979f7.png)
This was the standard error output:
[log.txt](https://github.com/PowerShell/Win32-OpenSSH/files/769025/log.txt)

[2017-02-12 00:59] ngugc opened #526 "ssh.exe -E option not work"
Almost the latest version: commit ce03c08333f19db75dce0cd17e70c2ecda4ae2fc
The ssh.exe -E option does not work.
[ssh_log.txt](https://github.com/PowerShell/Win32-OpenSSH/files/769024/ssh_log.txt)
The debug output was still in the standard error, and there was nothing in the log.txt specified by -E option.

[2017-02-13 15:55] n0h commented on #521
Attached is a sample project that you should be able to use to reproduce the issue.
[SshNetTest.zip](https://github.com/PowerShell/Win32-OpenSSH/files/771536/SshNetTest.zip)

From our developer:
It doesn't have the SSH.NET DLL, but it has the source code in the solution so that you can debug and edit easily. It should be easy to remove the project reference and install the DLL if you prefer -- I'm

[2017-02-13 21:34] bagajjal commented on #520
There are some problems while connecting from windows openssh client to unix ssh servers, we are trying to fix them.

[2017-02-13 21:50] bagajjal commented on #521
Thanks for attaching the sample project.

The bug is with the Renci SSH.NET library.

Its appending the current working directory to the path passed based on the assumption that the full path always starts with the "/". In windows the paths doesn't start with "/" so their code is appending the current working directory to the path passed. This is working earlier because of a bug in our code which

[2017-02-13 21:50] #521 closed, assigned to bagajjal

[2017-02-13 21:51] bagajjal commented on #521
![image](https://cloud.githubusercontent.com/assets/23668037/22905025/820caada-f1f3-11e6-961d-791c30499459.png)
![image](https://cloud.githubusercontent.com/assets/23668037/22905026/86114726-f1f3-11e6-95e9-ce36e97c9217.png)

sftp server logs (enable verbose logs)..
![image](https://cloud.githubusercontent.com/assets/23668037/22905029/8938acb4-f1f3-11e6-9edf-0a29f59aee38.png)

[2017-02-14 01:02] ngugc commented on #526
log.c

![image](https://cloud.githubusercontent.com/assets/2368031/22910321/22c4c0ca-f294-11e6-881f-585effa1d430.png)

[2017-02-14 01:32] brandonroyal opened #527 "Paste does not work from OSX Terminal"
Paste does not work when using macOS Terminal or iTerm2 client

*Environment*
OSX El Capitan (native SSH Client)
Windows Server 2016

[2017-02-14 04:20] friism commented on #527
Here are some other things that don't work for me from a Windows client to a open-ssh from this repo running on Windows server.

## Git-bash

[code]

 * up/down arrow doesn't cycle through command history, it moves the cursor up and down
 * ctrl+c is not sent to process run in the SSH session, it terminates the SSH session
 * ...etc

## Conemu/powershell

[code]

 * up/down arrow doesn't work at a

[2017-02-14 06:43] laughterk commented on #527
Same problem on Ubuntu 14.04 (OpenSSH_6.6.1p1 Ubuntu-2ubuntu2) too, only the first character is left.

[2017-02-14 09:00] nightwish47 commented on #522
@bagajjal
can you share somethings, some clues or kind like that. Since I want to follow the issue.

[2017-02-14 09:06] rgl opened #528 "scp -i id_rsa should not ask for a password"
using something like `c:/OpenSSH/scp -i c:/vagrant/tmp/id_rsa ConEmu.xml sshd.example.com:/tmp/ConEmu-native-scp.xml`  should not ask for a password, but it does:

[code]

And as you can see, even entering the password seems to fail.

**NB** `ssh -i c:/vagrant/tmp/id_rsa` works fine, and does not ask for a password.
**NB** doing the same scp command on a cygwin based scp works as expected.
**NB**

[2017-02-14 09:08] rgl commented on #528
Oh I've forgotten to add the username `vagrant@`... sorry for the noise.

[2017-02-14 09:08] #528 closed, assigned to nobody

[2017-02-14 09:12] rgl opened #529 "sftp crashes when reading from stdin"
When I try to run:

[code]

sftp crashes.

**NB** I'm using Win32-OpenSSH v0.0.8.0

[2017-02-14 15:32] n0h commented on #521
Thank you for looking into this, we will log it with SSH.NET.

My only further question for this project is whether there could be an improvement to the way this error is handled or reported back to the sftp client, keeping in mind the goal of not diverging unnecessarily from OpenSSH main line. Thanks again.

[2017-02-14 18:33] bagajjal commented on #521
We are not diverging from the OpenSSH main line. We adhere to the SSH protocol that's the reason the other SSH clients like winscp and FileZilla are working..

There are changes required when we move from unix world to windows world because of the file systems are different (file paths representation), etc.

[2017-02-14 19:52] n0h commented on #521
Sorry, just to clarify my last comment. I didn't intend to suggest that this project is diverging or should diverge from the main line.

What I meant is that even if the error message is somewhat unclear, I recognize that changing/improving it wouldn't be feasible if doing so required a divergence from how OpenSSH main does things. And as you mentioned, it's not even just OpenSSH main, but the SSH

[2017-02-14 20:37] bagajjal commented on #527
Thanks for reporting.. This will be fixed in Feb-Mid release (Feb-15th).

[2017-02-14 20:46] #176 closed, assigned to bagajjal

[2017-02-14 21:02] #527 closed, assigned to bagajjal

[2017-02-14 21:02] #515 closed, assigned to bagajjal

[2017-02-14 21:19] friism commented on #527
@bagajjal also the arrow-key and ctrl+c stuff that I mentioned?

[2017-02-14 21:45] #463 closed, assigned to bingbing8

[2017-02-14 22:33] bagajjal commented on #527
@friism - arrow keys and ctrl+c are working without fail..
I verified these setups,
1) windows openssh client to windows openssh server
2) windows openssh client to Ubuntu server
3) from putty to windows openssh server..

I am using windows 10 OS (from cmd.exe and also powershell) and Ubuntu 16.10.

If they didn't work for you then specify the operating system version and client/server software us

[2017-02-14 23:04] bagajjal commented on #521
openssh windows server sends the correct message (file not found).. If you try it from the openssh windows client.. it will also show you the path that is sent to the server like this
![image](https://cloud.githubusercontent.com/assets/23668037/22953603/c5ca3d0e-f2c6-11e6-8285-301e2567ee51.png)

In the  Renci SSH.NET library based on the response status code, they are throwing the custom exception

[2017-02-15 07:55] nightwish47 opened #530 ""Exit signal received..." in all connections"
At an exact moment, not all but most of connection from clients is killed and in sshd.log `debug1: Exit signal received...` appears

For example: I'm running 4 clients, they're connecting to the SSH server. Then 3 of them suddenly disconnect. The 4th connection is still running fine, no problem.

sshd.log

[2017-02-15 13:51] n0h commented on #521
Ahh. Thanks!

[2017-02-15 20:41] #529 closed, assigned to bagajjal

[2017-02-15 22:20] jonradio opened #531 "SFTP: cannot download any files in OpenSSH log directory"
None of the three .log files stored in the OpenSSH log directory can be downloaded using SFTP.  Using the Administrator username for all testing, these are the only files that I have found that I am not able to download.

My guess is that OpenSSH leaves the three log files Open in a state that effectively locks them against read or write operations.

Here is the result from FileZilla:
[code]
Envir

[2017-02-16 06:52] manojampalam commented on #524
Fixed. Following should work (just like it works in Unix)
ssh.exe user@target dir \\"c:\program files\\"

[2017-02-16 06:52] #524 closed, assigned to nobody

[2017-02-16 06:52] manojampalam commented on #518
Basic authentication is now relaxed. You can do double hop with Basic auth.

[2017-02-16 06:53] manojampalam commented on #517
Fixed in 0.0.9.0

[2017-02-16 06:53] #517 closed, assigned to nobody

[2017-02-16 07:56] nightwish47 commented on #522
@bagajjal

ClientAliveCountMax 3

Will the connection be terminated if there's a transmitting? Because in my system, it seems so. In the middle of session, while data is transferring, connection is cut.
I just want to make sure so I can erase it from my checklist for further investigation

And for the `error in libcrypto` and the missing of `Diffie-Hellman Key Exchange Reply`. Any clues?

Sorry fo

[2017-02-16 09:59] jovinoblanco commented on #525
Hi,

thanks for your feedback.

I wasnt able to install the newest version yet. I will soon and will let you know.

Cheers

[2017-02-16 20:57] joeyaiello commented on #518
Closing as this should work now. If not, feel free to reopen

[2017-02-16 20:57] #518 closed, assigned to nobody

[2017-02-16 21:16] joeyaiello commented on #531
I can confirm that repros to/from 0.0.9.0. Interestingly, even a remote `ls` doesn't show the files in the `logs` directory:

[code]

In actuality that `logs` folder has three log files in it.

[2017-02-17 01:40] x9f5yjkq commented on #391
Hello.
It surely operates normally in the IPv6 environment.
However, in sshd.log, the source IPv6 address is not displayed properly.

Example: sshd.log
5464 10:18:47 463 error: getsockname failed: Bad address
5464 10:18:47 463 Connection from 2001:df0:266:108:: port 50786 on UNKNOWN port 0

The IPv6 address of the connection source is as follows.
2001:df0:266:108:0:dddd:c60:f8d5

However, sshd.log

[2017-02-17 01:45] joeyaiello commented on #391
I'm hitting the same thing in sshd.log (both the `Bad address` error and the malformed/incomplete IPv6 address).

Note the connection works just fine.

[2017-02-17 05:49] x9f5yjkq commented on #391
Thank you.
I understand that IPv6 can be connected with the current version, and it is already in operation.
I'd like you to output the full IPv6 address to sshd.log, so I am waiting for program modification.

[2017-02-17 22:08] manojampalam commented on #522
@nightwish47
We need you help to take the "error in libcrypto" issue further. We were not able to repro it on our side.
As a first step, we need to get hold of the stack that is throwing this error - SSH_ERR_LIBCRYPTO_ERROR.

For this, we need your help to do the following:
- Download sources and compile them locally. Steps are [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Building-using

[2017-02-18 04:53] manojampalam opened #532 "[Security] auth_sock needs to be authenticated before ssh-add can register keys"
ssh-agent on Windows by default listens on "ssh-agent" pipe.

Malware can hijack this endpoint and steal private keys when ssh-add tries to register them.

[2017-02-18 04:58] manojampalam opened #533 "#pragma once needs to be used consistently"
POSIX headers need to use
 #pragma once
consistently to avoid name clashes, since a handful of these headers share the same as those in VS CRT.

[2017-02-18 07:46] bingbing8 opened #534 "Enable mprintf and fmprint in scp and sftp"

[2017-02-18 14:32] qlux opened #535 "How to use the -f and -n options ?"
I am trying to use the background option of ssh using the -f (which implies -n) redirecting STDIN to /dev/null. I have the following error on Windows:

`debug2: open - pathname:/dev/null, flags:0, mode:0
debug1: open - CreateFile ERROR:3
dup() in/out/err failed`

Is there a way to redirect /dev/null to NUL or to have something equivalent to the background option (sending EOF) ?

Thanks

[2017-02-18 18:15] scherma commented on #189
If after applying the registry update you still experience the issue, try updating .NET and WMI, that fixed this error for me.

Immediately after fixing that, I found that I could not run the install-sshlsa.ps1 script because 'ssh-lsa.dll is in use by another process'. This was because adding the reg key and restarting appears to cause lsass.exe to use the DLL (confirmed with "tasklist /m ssh-lsa.

[2017-02-18 20:00] clarity99 commented on #318
manual mode is not enough, on my machine the service get somehow started even when set to manual

[2017-02-18 23:47] DarwinJS commented on #318
@clarity99 - if you use the chocolatey package you can change the port that OpenSSH uses.

[2017-02-21 01:26] nightwish47 commented on #522
@manojampalam
Sorry, this "error in libcrypto" doesn't occur in development and test environment, it only occurs in production environment so I can't handle the risk.
I know the software isn't ready for production but this kind of problem has never happened before.
Anyway, I will try your suggestion on dev/test system. Thanks.

I also attach another log file from another client. Hope it can help.

[2017-02-21 02:40] nightwish47 opened #536 "Disconnect after a period of time"
I have a client with setup as below:
Every 10 minutes, client will connect to server then send files in queue. If no file left, it will keep the connection for 2 more minutes then disconnect.
In server, I set the following parameter but I'm not sure it's root cause or not. Server is running v0.0.7.0.

ClientAliveCountMax 3

The situation is in most sessions, most but not all, they are disconnected

[2017-02-21 23:22] Aigeec commented on #39
@mjnip I was getting something similar with the 64 bit binaries

try `ssh.exe -i id_rsa -l gionetje localhost -v` (without the domain)

A

[2017-02-22 02:15] nightwish47 commented on #522
Also, my system contains multiple clients. Their SSH client software are different, but the error seems to happen in some specified clients than some others.
For example:
2 clients use OpenSSH 4.3, the error only happens in 1 client.
Other 2, 1 uses WinSCP, another uses Maverick Legacy, error happens in Maverick Legacy client only.

[2017-02-22 02:58] nightwish47 opened #537 "Missing "Diffie-Hellman Key Exchange Reply" packet during connection establishment"
I mentioned this issue in #522 because I think they might be related.
But to easier to follow, I create this issue.
Network monitor showed that during connection establishment, "Diffie-Hellman Key Exchange Reply" packet is missing so connection is failed.
As below:
Normal connection
![diffie-normal](https://cloud.githubusercontent.com/assets/25627306/23195230/82c68190-f8f5-11e6-97c8-0f256344bec1.P

[2017-02-22 05:05] x9f5yjkq opened #538 "A problem occurs when restarting the sshd & ssh-Agent service when the existing sshd process still remains"
Hello.

We are using OpenSSH v0.0.9.
We restart the sshd service and the ssh-Agent service every night at 23:00.
We do not use password authentication, we use key authentication only.

A problem occurred in the following situations.
-----------------------------------------------
When a session under SFTP connection exists at the time of restarting the sshd service and ssh-Agent service at 23:00,

[2017-02-22 05:46] nightwish47 commented on #530
the issue remains for days, any suggestion would be appreciated

[2017-02-22 23:41] bagajjal commented on #538
Problem 1 described above is not a bug.. it is an expected behavior... when you restart the sshd service then the existing connections will still be left alive..

For problem2, it is a bug in our code.. We will try to fix this in the feb-end milestone.. As a workaround, don't stop the ssh-agent service..

[2017-02-23 00:35] bagajjal commented on #536
I have gone through the attached sshd.log file..

As you can see in the below screenshot the server is getting SIGCHLD signal (i.e., the client has terminated the connection)...

![image](https://cloud.githubusercontent.com/assets/23668037/23239104/183df892-f91a-11e6-93da-5f84d38c172f.png)

The below configuration handles the network failures where the server sends a alive_request to client for ev

[2017-02-23 00:44] bagajjal commented on #522
As mentioned earlier, its hard to guess what is happening without reproducing the problem because the logs doesn't provide much information...

Since you are trying use multiple SSH clients.. to nail down the problem please use only the openssh SSH client (latest 0.0.9.0) and openssh SSH server... so no third party SSH clients/servers..
If the error is seen in this setup then it is openssh SSH cli

[2017-02-23 01:52] x9f5yjkq commented on #538
Hello.
thank you for your answer.
For the time being, we will operate without restarting the ssh-agent service.

[2017-02-23 01:58] bagajjal commented on #538
But as mentioned earlier even if you restart the sshd, the existing connections will still continue..
That's the base SSH behavior..

[2017-02-23 02:20] x9f5yjkq commented on #538
Thank you.
I understood.
If we need to kill an existing process at the time of restarting the daily service, we will deal by batch processing.

[2017-02-23 14:40] mikemaccana commented on #508
I didn't experience this behavior with previous releases but after moving to `0.0.9.0` from, IIRC, `0.0.7.0` I am. Here's an `npm install` running on a Linux host:

![screenshot_10](https://cloud.githubusercontent.com/assets/172594/23263390/0311296e-f9d6-11e6-8400-e14c6c8582f5.png)

[2017-02-23 16:58] togosh opened #539 "How to set shared directory and permissions for user?"
With FileZilla I had a GUI to perform these actions:
[https://wiki.filezilla-project.org/wiki/images/f/f5/FZS_aliases.png](https://wiki.filezilla-project.org/wiki/images/f/f5/FZS_aliases.png)

Im totally new to OpenSSH, I have SFTP setup on a windows server, I can log in with my windows account,
I set up another windows account using:
[code]
but when connecting in that user has access to everythin

[2017-02-23 22:17] bagajjal commented on #538
The issue is related to port mismatch which is added to prevent malware executable (that has same name as ssh-agent)..

[2017-02-23 23:41] Aigeec commented on #400
I am having a similar issue as the op.

I have a bare git repo in a test directory in my users (named git) homes folder.

I have ssh running using OpenSSH-Win64. When I run git clone on another windows pc I get a similar message

`git clone git@server:test`

(Separate issue here when using ssh url format instead of scp format that you can't use a relative path as it will put / in front of your pat

[2017-02-24 00:31] bagajjal commented on #400
Please try with the recent release (0.0.9.0).. I think this should be fixed..

[2017-02-24 05:49] friism opened #540 "0.0.9.0 breaks AWS packer builds"
This is an extremely vague error report. I don't know how to isolate the problem. I'm building EC2 AMIs with Packer using these scripts:

    https://github.com/friism/ec2-windows-packer-ssh

This works great with [0.0.8.0](https://github.com/friism/ec2-windows-packer-ssh/blob/master/common/builder-userdata.ps1#L9). With 0.0.9.0, the entire setup works great (including setting up OpenSSH and runni

[2017-02-24 06:06] friism commented on #527
@bagajjal here's a video: https://www.youtube.com/watch?v=Y2MBPOS5X7o&feature=youtu.be

This is with 0.0.8.0 on WS2016 server with MinGW SSH client

[2017-02-24 13:09] altg1970 opened #541 "sshfs create file"
Hi there,

I have installed the OpenSSH-Win64 in a windows server 2008 in order to make a clonezilla copy of fewe servers using ssh.
We have the openssh installed and working fine, we have tested it with putty, we can create dir and files, etc..
but if you want to use clonezilla, the tranfer fails because the clonezilla try to mount a sshfs file system, and it does ok and even can create directory

[2017-02-24 14:28] togosh commented on #539
This is what I could find:

cacls
http://superuser.com/questions/131827/limiting-ssh-user-account-only-to-access-his-home-directory

WinJail
http://www.winquota.com/wj/

https://www.experts-exchange.com/questions/27659882/Windows-Server-2008-restrict-user-to-one-folder.html

https://social.technet.microsoft.com/Forums/windowsserver/en-US/2a034514-1886-4fda-8d86-52d80cafd4cf/restrict-user-access-to

[2017-02-24 14:30] togosh commented on #539
I ended up ditching Windows and going with Ubuntu, these are the steps I followed:
http://askubuntu.com/questions/420652/how-to-setup-a-restricted-sftp-server-on-ubuntu/607898#607898

[2017-02-24 16:58] milindbangar79 opened #543 "SSH Authentication Fails from Linux to Windows Box"
Hi,

Our scenario

- Trying to connect from Linux to a Windows box (SSH server). The boxes are in different domains.(from us.xxx.com (Linux Server) to inet.xxx.local domain (Windows Server))
- We have tested connectivity within the same domain and it works fine.
- Using V0.8.0 of OpenSSH

Attaching the Debug log for your reference:

6564 16:25:07 799 debug1: userauth-request for user svcpltadminde

[2017-02-24 19:11] bagajjal commented on #543
This error occurs when the sshd process is unable to retrieve the user information...

I will test at my end and update this thread..

[2017-02-24 19:16] bagajjal commented on #527
@friism , are you referring to the left over characters when you press up/down arrows because the new command is smaller than the old command? If yes, this is a known issue which we are trying to fix.. You can raise a new issue for this.

[2017-02-24 19:23] friism commented on #527
@bagajjal the most annoying thing is in the latter part of the video when I do `ssh Administrator@<IP> powershell` you'll notice that hidding up-arrow just moves the cursor around in the terminal window.

[2017-02-24 20:18] acpiper commented on #523
I'm experiencing the same behaviour with 64-bit versions 0.0.7.0 through 0.0.9.0 when connecting using Ubuntu Linux 14.04 LTS's latest openssh SFTP client and Paramiko SFTP client. I've not tested connecting from a Windows machine.

[2017-02-24 20:57] Aigeec commented on #400
I've checked and I am on that 0.0.9.0 version.

BTW is there an easy way of finding what version you are on. It's not on the downloaded artefact or in the ssh_config and there doesn't seems to be a readme in the output.

A

[2017-02-24 21:19] bagajjal commented on #400
is it working on 0.0.9.0 version?

Thanks for the suggestion, we will add a way to find the version.

[2017-02-24 21:20] Aigeec commented on #400
The issue I had above was with the 0.0.9.0 version.

A

[2017-02-26 00:13] manojampalam commented on #543
Can you try providing full FQDN in user name i.e user@dom2.dom1.com ?

[2017-02-26 00:29] manojampalam commented on #540
Can you check if its client or server side that made the difference? Try with 8.0 client and 9.0 server and vice versa.

[2017-02-26 00:42] manojampalam commented on #539
CHROOT is a UNIX feature that's not supported in Windows.
SFTP subsystem (sftp-server.exe) on Windows ends up getting launched as your Windows user. You will need to use the standard Windows ACLing to control access to files (and other resources).

[2017-02-26 00:45] manojampalam commented on #535
background execution is not supported in Windows yet. See https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Scope

[2017-02-26 00:45] #535 closed, assigned to nobody

[2017-02-26 00:47] friism commented on #540
It's server side - that's what's changing. The client is whatever ssh lib
Packer uses

On Sat, Feb 25, 2017 at 4:29 PM Manoj Ampalam <notifications@github.com>
wrote:

--
http://friism.com/
(650) 318-1051
Sapere aude

[2017-02-26 15:08] siddolo commented on #484
@olhonia, @ikrel
try:
script -q -c "ssh -i .ssh/id_rsa user01@192.168.2.1 whoami"

Keep in mind that "dir" is not a binary, so you have to execute "cmd /c dir"

[2017-02-26 18:22] manojampalam commented on #540
Please get server side logs (DEBUG for a start)

[2017-02-27 06:14] nightwish47 commented on #536
Thank you for your suggestion. I double checked and turn out it's my fault of configuration in client, it's not this software issue.
I will close the issue.
Thank you again for your time.

[2017-02-27 06:14] #536 closed, assigned to bagajjal

[2017-02-27 10:34] milindbangar79 commented on #543
Tried the following FQDN :

1. svcpltadmindev@us.xxx.com@winbox
2. 'us\svcpltadmindev'@winbox
3. 'us.xxx.com\svcpltadmindev'@winbox

No luck.

Hope that's what you were looking for..

We have configured in another windows box and trying and getting the following

**Invalid user us.xxx.com\\dadmmbangar from 10.36.18.100 port 59584**

I am able to RDP the Windows server, but not able to connect via

[2017-02-27 21:39] bagajjal commented on #537
Can this be closed? Might be related to #536?

[2017-02-27 21:40] bagajjal commented on #522
Can this be closed? Might be related to configuration issue mentioned in #536.

[2017-02-27 21:41] bagajjal commented on #530
Please retest manually and provide the logs for the sshd.log and ssh client..

[2017-02-28 01:47] nightwish47 opened #544 "Update lib"
Please recheck if
[https://github.com/PowerShell/Win32-OpenSSH/blob/L1-Prod/contrib/win32/openssh/OpenSSLSDK/1.0.2d/Win32/Release/lib/libeay32.lib](url)
and
[https://github.com/PowerShell/Win32-OpenSSH/blob/L1-Prod/contrib/win32/openssh/OpenSSLSDK/1.0.2d/Win32/Release/lib/ssleay32.lib](url)
are latest version (1.0.2d)? Latest version is 1.1.0, I think.
[https://www.openssl.org/source/](url)

IMHO,

[2017-02-28 01:54] nightwish47 opened #545 "Location of libs after compiled"
Hi, I understand the 2 libs `libeay32.lib` and `ssleay32.lib` are in
[https://github.com/PowerShell/Win32-OpenSSH/tree/L1-Prod/contrib/win32/openssh/OpenSSLSDK](url)
but I want to do some investigations myself.
I wonder if you guys can show me where are they located after compiled.
Thanks

[2017-02-28 02:02] nightwish47 commented on #530
This is server log.
[sshd.log.20170228.txt](https://github.com/PowerShell/Win32-OpenSSH/files/805550/sshd.log.20170228.txt)
I'm contacting to get client log.
Thanks

[2017-02-28 18:06] ghost opened #546 "Executing a command from linux->win does fail because of pty"
I have a Linux Jenkins server and a Windows Server. When i run from jenkins_server->windows_server:
ssh -vvv Administrator@adzh-srwt-myhost.tld "C:\scripts\blah.bat"
it gets executed as expected, it does some work and prints some stuff.

When i run the same command from inside the jenkins server as a job, i received an read error on channel 0, so i added -t -t to force a pty to see whats going on:

[2017-02-28 19:59] mirathewhite opened #547 "OpenSSLSDK payload"
I'm trying to build OpenSSH in VS 2015 for the first time.  @manojampalam can you clarify exactly which file(s) need to be downloaded from https://github.com/PowerShell/Win32-OpenSSH/tree/L1-Prod/contrib/win32/openssh/OpenSSLSDK to build using VS 2015?

Thank you,
Mira

[2017-02-28 20:32] bagajjal commented on #547
@mirathewhite - download the whole folder ( https://github.com/PowerShell/Win32-OpenSSH/tree/L1-Prod/contrib/win32/openssh/OpenSSLSDK) to your repository($openssh-portable\contrib\win32\openssh\OpenSSLSDK)..

[2017-02-28 23:53] discodance1 opened #548 "sshd_config does not support option 'AuthorizedPrincipalsCommand'"
When i try to use option AuthorizedPrinciaplsCommand in sshd_config to run a custom binary to authorize a user.
ssh-agent fails to start with error 1053.

[2017-02-28 23:54] discodance1 commented on #548
This is with the latest version of openssh v0.0.9.0

[2017-03-01 07:26] mvpkenlin opened #549 "Changing Local/AD user's Home Directory does not work"
With the rest of the issues #126 #140 #190 #539

I tried to set User's Home Directory into a network share under User's properties. However, the result is, it still logged into c:\Users\%usrname% after connected through SFTP client.

Anyone else has tried it?

[2017-03-01 07:34] mvpkenlin commented on #549
Ops, just found out that #154 has mentioned about this from Mar 2016.

[2017-03-01 08:58] ghost commented on #546
[code]

Seems like there is some kind of .bashrc on the windows machine which uses different colors etc. and those can not be handled by the ssh process which is executed by jenkins.
Whats interesting: when i connect from terminal from jenkins_linux->windows and disconnect, the color of the terminal in linux changes from black background, white text, to the same the windows machine sent: black bac

[2017-03-01 11:23] gd197 commented on #543
we had to escape the \ for interactive domain access from a linux box
`ssh domain\\user@winbox`
Hope that helps
EDIT.

[2017-03-01 14:18] fjaenal opened #550 "[This is just a question] Possible Security Issues in OpenSSH prior to 7.2p2"
Hi,
 I am right now using this implementation of OpenSSH for Windows (based on OpenSSH 7.1) and was wondering if these two security issues do affect this OpenSSH:

[https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-3115](url)

[https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-5352](url)

These two security bugs are corrected for the version: 7.2p2 or from what Win32-OpenSSH are they c

[2017-03-01 17:10] mirathewhite commented on #547
Thank you @bagajjal .

[2017-03-01 17:10] #547 closed, assigned to bagajjal

[2017-03-01 17:57] manojampalam commented on #550
https://github.com/PowerShell/openssh-portable is being maintained in sync with https://github.com/openssh/openssh-portable. Last merge from upstream branch was 2 weeks back. So we should already be at 7.4

[2017-03-01 21:00] manojampalam commented on #549
Taking a look at this now. Can you elaborate how you modified User's properties?

[2017-03-01 21:07] manojampalam commented on #548
'AuthorizedPrincipalsCommand' and 'AuthorizedKeysCommand' are not supported yet in Windows. See project scope [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Scope)

[2017-03-01 21:07] fjaenal commented on #550
So, the OpenSSH v0.0.9.0 already has the merge, therefor is safe in regards to those Security Issues, right?

[2017-03-01 21:09] manojampalam commented on #190
Adding this to backlog list.

[2017-03-01 21:10] manojampalam commented on #549
dup #154
Please add details on #154

[2017-03-01 21:10] #549 closed, assigned to nobody

[2017-03-01 21:13] manojampalam commented on #546
Can you add logs from server side? steps [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting%20Steps)
Also, there's nothing at http://pastebin.com/rRnnxQms

[2017-03-01 21:16] ghost commented on #546
I will try to collect the logs tomorrow.
Please download the pastebin output if required. I will upload it again, valid for 1 week.
http://pastebin.com/bJAwWsVM

[2017-03-01 21:17] manojampalam commented on #545
You can find OpenSSL build instructions [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Building-using-VS-2015/05b574c32d7dc4a4d3d5bebd82826819bdcf15d4)

[2017-03-01 21:17] #545 closed, assigned to nobody

[2017-03-01 21:18] manojampalam commented on #544
OpenSSH does not work with OpenSSL 1.1.0 (since the API surface diverged significantly).

[2017-03-01 21:18] #544 closed, assigned to nobody

[2017-03-01 21:31] manojampalam commented on #541
Haven't worked with CloneZilla yet. It will help if you can explain how it works and how its related to SSH and SFTP

[2017-03-01 21:41] manojampalam commented on #543
Somehow the following logic in pwd.c is failing:
if ((status = NetUserGetInfo(udom_utf16, uname_utf16, 23, &user_info)) != NERR_Success) {
			debug("NetUserGetInfo() failed with error: %d for user: %ls and domain: %ls \n", status, uname_utf16, udom_utf16);

			if ((dsStatus = DsGetDcNameW(NULL, udom_utf16, NULL, NULL, DS_DIRECTORY_SERVICE_PREFERRED, &pdc)) != ERROR_SUCCESS) {
				error("DsGetDcNam

[2017-03-01 21:52] manojampalam commented on #550
yes.

[2017-03-01 22:58] #550 closed, assigned to nobody

[2017-03-02 00:57] discodance1 commented on #548
I do see in your recent commit AuthorizedPrincipalsCommand option has been synced from openssh-portable.

I tried submitting below code change but was told that currently openssh-portable only supports cygwin paths on windows.
https://github.com/discodance1/openssh-portable/commit/0aa5eca300662093ff7d9382f4a76af274e0cd25

[2017-03-02 01:23] discodance1 commented on #548
Submitted a commit:
https://github.com/discodance1/Win32-OpenSSH/commit/6cb1805afa4a450b0022601c45d6feac88aecd8a

[2017-03-02 03:51] mvpkenlin commented on #154
I tried to update the User's Home directory in User Properties under ADUC as the following,

1) Update to be using the Computer's C:\TestingFolder, But the folder is still server's C:\Users\[username] after SFTP logged in.

2) Update to be using network share as Z: with \\FTPServer\FTPHome\%username%. After clicking Apply button, a new folder created as the value of the username. But the folder is

[2017-03-02 04:14] kirahome-eng1 commented on #154
I have the same problem. I also tried to use mklink to create a junction to link user's home directory (C:\Users\[username]) to a different location (c:\sftproot\[username] for example). For some reason it worked the first time when I connect, but subsequent tries landed me in C:\Windows\ for some reason...

[2017-03-02 04:21] nightwish47 commented on #522
@bagajjal : I think #522 is not related to #536. So please keep this issue open.

In addition, there are 2 points that we need your confirm.

1. We've received another suggestion about this error as following:

For more details, please refer the link: http://serverfault.com/questions/835088/win32-openssh-random-error-message-error-in-libcrypto
→So I wonder that there is a high possibility this #52

[2017-03-02 06:01] nightwish47 opened #552 "Host Key Negotiation Fails"
Hello guys,

We got following error sometimes and wonder why does the host key negotiation fail although using same config file?

**sshd.log reports:**

1. Error case

5468 10:22:00 356 debug2: **host key algorithms: ssh-ed25519**
5468 10:22:00 356 debug2: ciphers ctos: chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr
5468 10:22:00 356 debug2: ciphers stoc: chacha20-poly1305@openssh.

[2017-03-02 11:17] erik-am commented on #378
@mikhirev I'm facing the same issue. In my container I ran `sshd -d` and increased the log level to find the following log information:

[code]

So it cannot find user ContainerAdministrator. 😞  (Same happens when I try to login as `User Manager\ContainerAdministrator`.)

@DarwinJS I tried to do `./AddAccountToLogonAsAService.ps1 ContainerAdministrator` but it says "Account already in Logon as a S

[2017-03-02 13:02] erik-am commented on #378
The error `DsGetDcNameW() failed with error: 1355` leads me to believe that it's looking for the Domain Controller... though we're dealing with a local user, not a domain user!

[2017-03-02 14:44] altg1970 commented on #541
Hello Manoj,

Really the problem isn´t related clanezilla itself, I detected this issue
because we use clonezilla for disk images  and Clonezilla can storage that
images in external usb drive, NFS, SAMBA and SSH. We need to use a windows
server as ssh server so we install your openssh. The connection and
autentication process between clonezilla and your openssh was fine the
problem showed up when

[2017-03-02 17:55] manojampalam commented on #548
Did you get 'AuthorizedPrincipalsCommand' to work. Currently its disabled in here
logit("AuthorizedPrincipalsCommand and AuthorizedKeysCommand are not supported in Windows yet");
in auth2-pubkey.c

Function subprocess() needs to be ported for Windows first.

[2017-03-02 18:01] manojampalam commented on #552
What was this list in success case?
debug2: host key algorithms: XXXXXXXXXXX

Can you dump the full logs in failure case? I suspect sshd failed to load the relevant host keys for some reason.

[2017-03-02 18:07] manojampalam commented on #541
Sorry. Would like to help but cant think of any options. I believe CloneZilla experts may have a clue. Reopen if you still have any questions.

[2017-03-02 18:07] #541 closed, assigned to nobody

[2017-03-02 18:10] manojampalam opened #553 "User lookup failures"
This is to keep track of bunch of related issues reported around failures to resolve provided user name. Issue is within this logic in pwd.c

if ((status = NetUserGetInfo(udom_utf16, uname_utf16, 23, &user_info)) != NERR_Success) {
			debug("NetUserGetInfo() failed with error: %d for user: %ls and domain: %ls \n", status, uname_utf16, udom_utf16);

			if ((dsStatus = DsGetDcNameW(NULL, udom_utf16,

[2017-03-02 18:12] manojampalam commented on #553
Related issues:
https://github.com/PowerShell/Win32-OpenSSH/issues/378
https://github.com/PowerShell/Win32-OpenSSH/issues/543
https://github.com/PowerShell/Win32-OpenSSH/issues/543

[2017-03-02 18:43] manojampalam commented on #378
As mentioned in #553 domain lookup is done if the local lookup fails.
AFAIK, ContainerAdministrator is a special virtual account (and we don't support virtual account logons yet over network).

You can create a new (Windows) user account on your container and use it for ssh remote access.

[2017-03-02 21:58] discodance1 opened #554 "Please modify your install instructions"
In your install instructions you say to install openssh in
C:\Program Files\OpenSSH but when you do so passwordless ssh ssh fails to work with unable to create token for user.
Things work as expected when openssh is installed under C:\OpenSSH.

Either modify the doc for fix the code to reflect the install instructions.

[2017-03-02 22:49] discodance1 commented on #548
I do see your point.
When i run sshd.exe -ddd in command prompt with AuthorizedPrincipalsCommand i Get
AuthorizedPrincipalCommand C:/ProgramData/binary.exe %u
I see error "AuthorizedPrincipalsCommand must be an absolute path"
Which speaks to me that AuthorizedPrincipalsCommand is supported.

But when i check ssh-agent logs during the normal run it says AuthorizedPrincipalsCommand and AuthorizedKey

[2017-03-02 23:15] manojampalam commented on #554
What release? AFAIK with the latest release, it should work wherever installed.

[2017-03-03 05:37] nightwish47 commented on #552
@manojampalam : I would like to answer as below:

→[host key algorithms: ssh-rsa,ssh-dss]

→Please see attached file
[Error_log.txt](https://github.com/PowerShell/Win32-OpenSSH/files/815880/Error_log.txt)

[2017-03-03 10:16] erik-am commented on #378
@manojampalam You're right. What I tried now is to use the "Administrator" account in the Docker container, which is not virtual. I copied the public key to `C:\Users\Administrator\.ssh\authorized_keys`.

I no longer get the domain error, so the user account is found correctly!
I also ran `./AddAccountToLogonAsAService.ps1 Administrator`

Unfortunately I get this error
[code]
I'm a bit clueless ho

[2017-03-03 12:49] clarity99 commented on #318
@DarwinJS I know of this, but it's not a good solution, as then I have to specify a different port for each command, unnecessary and annoying. In any case, just wanted to point out that one needs to actually disable the services, not just set them to manual, as they will be started in that case.

[2017-03-03 14:11] jschvartz commented on #543
Hi,
Maybe my issue is related to this one:
- WIN10 host with openssd sshd daemon (for tests purpose, will be using on WIN2008 or WIN2012 Servers)
- RHEL 6 ssh client
- Both in the same AD domain
"ssh user@domain@host command" works ok, but cannot access Domain shares.
I noticed this in debug output;
[NetUserGetInfo() failed with error: 1722 for user]
I  attached the entire debug output of a sigle

[2017-03-03 16:05] jschvartz commented on #554
Yes, it does work ok as specified in last documentation (tried it successfully this afternoon).
Only the link for psexec:
https://technet.microsoft.com/en-us/sysinternals/pxexec.aspx
is no longer valid and should be replaced by:
https://technet.microsoft.com/en-us/sysinternals/pstools

Thanks for everything!
Joel

[2017-03-03 18:24] manojampalam commented on #552
Looks like you are using a pretty old version. This was removed a while back
-> ModifyRightsToDesktop(mode = 0)...

Please update to the latest version. Reopen if needed

[2017-03-03 18:25] manojampalam commented on #554
Thanks @jschvartz. Updated wiki.

[2017-03-03 18:25] #554 closed, assigned to nobody

[2017-03-03 18:48] #552 closed, assigned to nobody

[2017-03-03 18:48] manojampalam commented on #543
You cannot access domain shares because of this - https://github.com/PowerShell/Win32-OpenSSH/issues/518

[2017-03-03 18:49] manojampalam commented on #378
ssh-agent logs should be in ssh-agent.log under logs folder where you have your ssh binaries installed.
It should have a reason why auth failed.

[2017-03-03 18:52] manojampalam commented on #548
Related to https://github.com/PowerShell/Win32-OpenSSH/issues/473
I'll see what it takes to have this enabled.

[2017-03-03 20:21] jschvartz commented on #543
Hi Manoj,

Thanks for your quick answers.
Still, i don't understand it all.
Case #518 seems to be related to non-domain machines  or users, while both my server and user are part of a domain, trying to access a share in the same domain.
And does it mean that that the latest openssh-portable does fix this issue  (as per fix #82) ?
Or are you still working on it (case #553) ?
Or is it definitely a c

[2017-03-04 09:48] erik-am commented on #378
@manojampalam Somehow I don't have a logs folder in `C:\Program Files\OpenSSH-Win64`

[2017-03-04 20:19] rgl commented on #529
with v0.0.9.0 it does not crash, but it does not work either. no file is written at destination nor the command ever returns. can you look at it?

[2017-03-04 20:41] rgl opened #555 "extraneous character on ssh output"
When I run the following command several times:

[code]

The output is somewhat messed up, it will have an extra character after `SSHD`, as you can see in these cases:

[code]

Its seems there's a bug somewhere.

I'm using v0.0.9.0.

[2017-03-05 00:21] mnalis opened #556 "Support /dev/null for Windows"
When redirecting stdin from `/dev/null`, with for example:

    ssh -n -4 -T server whoami

it doesn't work (returns without executing commands and without showing its output) - even when commands do not require STDIN. When `-n` is removed it works correctly.

`-n -v` (problematic) output shows:
[code]

just '-v' (ok) shows:
[code]

[2017-03-05 00:26] mnalis opened #557 "sshd sometimes hangs and waits for input, even for noninteractive sessions"
I'm experiencing sporadic problems when trying to ssh to windows server.

When trying to run non-interactive commands (from Debian Jessie with OpenSSH client), sometimes (but not always, and at different intervals) remote command will stop and require pressing <kbd>ENTER</kbd> to continue.

For example:

    ssh -4 -T somehost "mysqldump --master-data --all-databases" > backup.sql &

on some windo