[2017-05-19 16:37] manojampalam commented on #727
Did you mean that public key is not working until a user (any user) is logged in on the target? If so, is the logon an interactive logon?

Can you add more details on how exactly to reproduce this?

[2017-05-19 19:07] krombel commented on #727
Yes and yes.

For me it is enough to reboot my machine. Then the first login via ssh requires a user and a password and all preceeding login's can be also done with public key authentication.
It is also possible to login on screen. Then I can use public keys as well.

[2017-05-19 21:06] bagajjal opened #728 "POSIX issues/cleanup"
- Move the socket state to SOCK_READY when Select() is called with only the readfds.
- Call the socketio_WSARecv only when the socket is SOCK_READY state.
- Removed the SOCK_ACCEPTED as its similar to SOCK_CONNECTED.
- Rename the SOCK_CONNECTED to SOCK_READY.
- Cleanup the code to log WSAGETLastError where ever applicable.
- Moved the kexgexs.c to libssh project and cleanup the test project.

[2017-05-20 16:26] mattpwhite commented on #96
Support for [GSS-API key exchange](https://www.ietf.org/rfc/rfc4462.txt) is critical for our shop to make any practical use of this fork.  OpenSSH supports this on *nix platforms, as do many commercial Windows SSH implementations and some PuTTY forks.  After you put in the (admittedly non-trivial) work to build a functioning cross platform Kerberos environment, it basically *just works*.  No one t

[2017-05-21 20:20] manojampalam commented on #727
@krombel thanks. I was able to repro this. LsaLogonUser is failing in ssh-agent. I'll see what can be done for May-End drop.

[2017-05-22 08:53] neoblackxt commented on #645
My log file:
7164 16:18:58 515 Server listening on :: port 22.
7164 16:18:58 515 Server listening on 0.0.0.0 port 22.
5972 16:19:50 042 Accepted password for neo from ::1 port 49687 ssh2
5972 16:19:50 044 error: Error retrieving user environment variables. RegOpenKeyExW returned 5
5972 16:19:50 045 fatal: ERROR. Cannot create process (1314).\n
3632 16:37:17 495 Server listening on :: port 22.
3632

[2017-05-22 21:53] #714 closed, assigned to bagajjal

[2017-05-23 03:29] bingbing8 opened #729 "Add sftp test for the scenario where stat returns when the user doesn't have permission to the file"
This is to test stat can return when the user does not have access to the file. the scenario to cover it is that in remote sftp session, ls should return those files which the user does not have access to it.

[2017-05-23 05:52] manojampalam commented on #539
Fix involves changes to dirent.c. Ensure changes in https://github.com/PowerShell/openssh-portable/pull/47 are also incorporated if needed.

[2017-05-23 18:10] #124 closed

[2017-05-23 18:11] #728 closed, assigned to bagajjal

[2017-05-23 19:12] karthick1409 opened #730 "How to Change Default SFTP location in Open SSSH windows"
i have installed "OpenSSH for Windows" version for configuring SFTP in windows server 2012. i can able to connect using sftp connection. But by default i am getting user home directory like c:\user\username. But i need one common directory as default location.

[2017-05-23 19:19] bagajjal commented on #730
In unix world this is accomplished with the "ChrootDirectory". ChrootDirectory is not yet supported in windows...

Its a duplicate of
https://github.com/PowerShell/Win32-OpenSSH/issues/539

[2017-05-23 19:19] #730 closed, assigned to nobody

[2017-05-23 19:55] karthick1409 commented on #730
Is there any other way to achieve this

[2017-05-23 19:56] bagajjal opened #731 "Enable keyutility pester testcases and change ssh-keyscan to use localhost"

[2017-05-23 19:57] bagajjal commented on #730
As far as I know, we don't have..

[2017-05-24 02:33] bingbing8 opened #732 "Add ssh-keyscan.exe to payload when package and install openssh in opensshbuildhelper.psm1"

[2017-05-24 16:38] joeyaiello opened #733 "PowerShell on Linux hangs in SSH session from Windows"
Please answer the following

**"OpenSSH for Windows" version**
0.0.14.0

**Server OperatingSystem**
Linux jaiello-centos 3.10.0-327.36.3.el7.x86_64 #1 SMP Mon Oct 24 16:09:20 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

**Client OperatingSystem**
Microsoft Windows 10.0.16199

**What is failing**
After starting PowerShell on the Linux side, I can't input characters at all. The only way to get out of th

[2017-05-24 17:26] MaximoTrinidad commented on #733
FYI

When connected from Windows 10 Insider Build 16199 to Ubuntu 16.04, is getting hung after starting PowerShell under ssh.  Pressing Ctrl-C doesn't work to get out of the session.

In Windows, under PowerShell Core 6.0.0-beta.1, using OpenSSH ver 0.0.13.0:
c:> ssh user@linuxSystem

![linuxwnssh_01_2017-05-22_19-08-56](https://cloud.githubusercontent.com/assets/19892435/26416592/71a9bda6-4084-11

[2017-05-24 19:23] #732 closed, assigned to bingbing8

[2017-05-24 19:23] #710 closed, assigned to bingbing8

[2017-05-24 19:24] #729 closed, assigned to bingbing8

[2017-05-24 19:26] manojampalam opened #734 "ssh-agent rejects key sign requests from sshd service"
Please answer the following

**"OpenSSH for Windows" version**
0.0.14.0

**Server OperatingSystem**
All

**Client OperatingSystem**
Any

**What is failing**
Register host keys with agent (see wiki). Remove/safeguard host private keys.
Open up a remote ssh session

**Expected output**
remote ssh session gets created successfully

**Actual output**
connect aborts halfway

[2017-05-24 19:27] #725 closed, assigned to bingbing8

[2017-05-24 19:29] bingbing8 opened #735 "[Security]file perm related issues"
1. ACE should allow pwd user
2. remove the deny check for owner.
3. add comments to optimize the is_sshd_account
4. update tests

[2017-05-24 19:30] bingbing8 opened #736 "ssh-keygen.exe generate two aces for system if run under system context"

[2017-05-24 20:08] mayo opened #737 "SSH_ORIGINAL_COMMAND missing in environment"
Please answer the following

**"OpenSSH for Windows" version:**
0.0.14.0

**Server OperatingSystem**
Windows Server 2012 R2 Standard

**Client OperatingSystem**
CentOS 7

**What is failing**
With the following in sshd_config, the `SSH_ORIGINAL_COMMAND` environment variable is missing after login is complete.
[code]

**Expected output**
There should be `SSH_ORIGINAL_COMMAND` variable set

**Actual

[2017-05-24 23:45] #674 closed, assigned to bingbing8

[2017-05-24 23:45] #671 closed, assigned to bingbing8

[2017-05-24 23:46] #644 closed, assigned to bingbing8

[2017-05-24 23:47] #588 closed, assigned to bingbing8

[2017-05-25 04:36] alexchandel commented on #431
Just tested in 0.0.14, this is only partially fixed.

The initial paint is now better, but any changes to the screen quickly corrupt the screen and create missing lines.

For example, in vim, scrolling down or beginning to type causes almost every colored line to disappear or shift position, or move in the wrong direction. I end up with duplicate lines, wrongly placed lines, and 90% missing lines.

[2017-05-25 18:03] bagajjal commented on #431
Is your ssh client running on windows 10 OS? If not then the console is not good for vim...
If you are using windows 10 OS then set the TERM to xterm before doing ssh.

[2017-05-25 18:45] manojampalam commented on #721
@DarwinJS please check https://github.com/PowerShell/Win32-OpenSSH/wiki/Security-protection-of-various-files-in-Win32-OpenSSH (its not complete yet but wanted to take your feedback)

[2017-05-25 19:55] DarwinJS commented on #721
@manojampalam - thanks for the feedback invite.

Also thanks for putting effort into documents to help us get this right!

The discussion on elevated versus non-elevated does not conclude with information on which scenario does NOT work.  FYI - THE built-in Administrator user account does not have UAC enabled - not sure if you need to mention that as some management frameworks use THE "administrat

[2017-05-25 20:52] bagajjal commented on #546
dup of #561 .. check the may-end release for the fix..
please reopen if required.

[2017-05-25 20:52] #546 closed, assigned to bagajjal

[2017-05-25 20:52] bagajjal commented on #561
check the may-end release

[2017-05-25 20:52] #561 closed, assigned to bagajjal

[2017-05-25 20:54] razrjk commented on #690
I cloned and built on May 19.  Used the scripts to configure.  Win10 configured okay.  Win 7 required using the using the Local Security Policy UI to set "NT Service\sshd" in "Replace a process level token".  Symptom was that sshd -d worked, but sshd did not.

[2017-05-25 21:00] bagajjal commented on #690
@razrjk   the install script should have added this privilege automatically. Can you double check the script you used?

[2017-05-25 21:00] manojampalam commented on #645
@NeoBlackXT see if https://github.com/PowerShell/Win32-OpenSSH/issues/690 helps. (assign needed privileges to sshd)

[2017-05-25 21:01] manojampalam commented on #645
Reopening this issue to track "RegOpenKeyExW returned 5". This is fixed as part of https://github.com/PowerShell/Win32-OpenSSH/issues/726

[2017-05-25 21:14] razrjk commented on #690
To be clear.  My Win10 and Win7 sshd services are both now working using domain credentials and logon passwords.  I installed using the PS script.  Win 7 required the manual security policy settings to get rid of the (1314) error.

[2017-05-25 21:31] manojampalam commented on #721
@DarwinJS thanks for the quick and detailed review.

- I added the elevated and non-elevated section in an attempt to give a quick response to questions like - why is it not OK for an admin user to own or have access to host private keys? I'll remove that as I see it deviating from the topic
- "Best Practices" is great feedback. Will put that right at start.
- SSH-Agent is a service that runs as S

[2017-05-25 22:01] DarwinJS commented on #721
@manojampalam - glad it is helpful.

My feedback was meant to indicate that if there is flexibility in the way permissions are set, that you would put the one that will be tested front and center.  In fact, I would not even mention other models unless there is known utility value to a given end user.  For instance, the fact that key files could be owned by Administrator should either not be includ

[2017-05-26 01:46] charabaruk commented on #558
Just tried out 0.14.0.0 and happy to say that I can add my SSH keys to ssh-agent without a problem now. Thanks @manojampalam! 🥇

[2017-05-26 03:56] razrjk commented on #690
My Win10 sshd server is functioning correctly, and supports git, which I assume is binary data stream transfer. There are no errors in the log.
My Win7 sshd server supports remote execution and text stream, but does not support git clone, and the Win7 sshd does have the error: Error retrieving user environment variables. RegOpenKeyExW returned 5

[2017-05-26 07:53] topokina commented on #399
Hi hugocelso

Thanks for the response.

I actually do not have "c:\users\user.ssh" but rather "C:\Users\SSHD". I believed this was created with the installation.

Do I have to create "c:\users\user.ssh" or use "C:\Users\SSHD" instead. Or was there something not properly completed during my installation?

[2017-05-26 08:24] hugocelso commented on #399
You need [.ssh] folder in the home directory of windows account that will be target for remote ssh (and authorized_keys file in it with keys), on windows server running openssh.

In my case the script was adapted like this:
$authorizedKeyPath = "G:\Users\user_ad_account\\.ssh\authorized_keys"
$acl = get-acl $authorizedKeyPath
$ar = New-Object  System.Security.AccessControl.FileSystemAccessRule("NT

[2017-05-26 09:51] topokina commented on #399
I actually need users to access common home directory such as "E:\Download", from where they can download available files. They do not need access to any other folders such as "C:\Users"
In an old OpenSSH I used in the past, I had to create "passwd" file, in which the "home directory" for appropriate users are defined.

Do I have to address it same way in this application, or how do I go about def

[2017-05-26 11:31] hugocelso commented on #399
This topic is all about trusted AD User account, in this scenario users will have to use one Active Directory account on target machine.
If all you want are users to access certain folders on a target machine then you probably don't need an AD account for that purpose, one or multiple limited local accounts will do better, or network shares.
Try the forum with ssh and key authentication in a simpl

[2017-05-26 17:14] Bob-O-Rama commented on #292
"That would be chroot on Windows. Since this is not supported by OS itself, I guess it cannot be accurately implemented in Windows."

To be honest, I normally do not complain about FOSS functionality, because, after all, its a community project and as one of the bottom feeders benefiting from their good graces, I have little to complain about.   However with SFTP, which is to improve the security

[2017-05-26 17:17] bagajjal commented on #690
@razrjk RegOpenKeyExW (error 5) is fixed in the may end release..

[2017-05-26 17:30] manojampalam commented on #690
@razrjk RegOpenKeyExW issue is tracked here - https://github.com/PowerShell/Win32-OpenSSH/issues/645
Can you open a separate issue detailing the git issue?

[2017-05-26 17:51] manojampalam commented on #721
@DarwinJS yes, the plan is to put the psm1 in OpenSSH folder. Thanks for enlightening me about the module registration conflicts. I think we can keep things simple by just providing individual ps1 utility scripts. I personally am not a huge fan of hiding configuration complexity behind user friendly automation scripts/utilities. Rather,  I believe in making the configuration natively simple and ea

[2017-05-26 18:18] DarwinJS commented on #721
@manojampalam - I totally agree that simplicity in design should be priority #1.

After that has been pushed as far as possible, then my "Adoption Catalyst" headset kicks in - whatever lights adoption on fire - do it!  99% of individuals and computers that eventually leverage openssh couldn't care less about *any* of the details - so at that point it should be one-button, mobile app type simplicit

[2017-05-27 00:09] bagajjal commented on #666
Please check the may end release.

[2017-05-27 00:09] #666 closed, assigned to bagajjal

[2017-05-27 00:10] #731 closed, assigned to bagajjal

[2017-05-27 17:56] topokina commented on #399
Sorry for drifting off. The main challenges is getting trusted AD users to authenticate.

The issue is that the users in AD-Domain in which the Server is in are able to authenticate (SFTP) to the system, however any users coming from the trusted AD-Domain get "Access Denied", even though they could access any File-Shares on the Server.

[2017-05-27 20:30] postgrep commented on #127
What if i want to connect to a Windows machine which is in not in a Domain but in a Workgroup and the user i want to login with is not the local account but the Microsoft account?

i tried quamrulmina's proposals and just used WORKGROUP instead of a domainname, but as expected this did not work.

[2017-05-29 08:11] gbraad opened #738 "Docker machine fails when using OpenSSH-Win32"
**"OpenSSH for Windows" version**
0.0.12.0

**Server OperatingSystem**
Windows 10 Pro, 1703 (15063.296)

**Client OperatingSystem**
  * https://github.com/minishift/minishift-b2d-iso (tinycore)
  * https://github.com/minishift/minishift-centos-iso (centos7)

**What is failing**
During the startup using Docker machine, when openssh-win32 is on the path, it is not possible to establish a connection

[2017-05-29 11:13] hugocelso commented on #399
I could be missing something here but as far as I know ssh will not use tokens from AD, so a passwordless system over ssh will use keys. It doesn't matter who you are in the client machine (as along as you have a valid key to authenticate), it only matters who you want to be on the target machine (with pub key in authorized_keys). If users are supposed to be themselves they will need some home acc

[2017-05-29 23:54] ylluminate opened #739 "Configuration"
First, is this project the `sshd` that ships default in Windows 10 now?

If so, I'm having some trouble here hunting down the config file or reg key(s) in order to configure this more fully. At present this is not working too well with PowerShell interoperability:
https://github.com/lukesampson/scoop/issues/1525

[2017-05-30 07:56] gbraad commented on #738
The same problem exists for `minikube`:

[code]
	Starting local Kubernetes v1.6.0 cluster...
	Starting VM...
	Found binary path at C:\Users\gbraad\Downloads\minikube-windows-amd64.exe
	Launching plugin server for driver hyperv
	Plugin server listening at address 127.0.0.1:65380
	() Calling .GetVersion
	Using API Version  1
	() Calling .SetConfigRaw
	() Calling .GetMachineName
	(minikube) Calling .

[2017-05-30 13:45] theJT commented on #288
I can confirm that this bug still exists as of version 0.0.14.0 - hoping that a new comment might cause this to be re-opened.

[2017-05-30 17:11] manojampalam commented on #739
No. Take a look at https://github.com/PowerShell/Win32-OpenSSH/issues/318

[2017-05-30 17:13] manojampalam commented on #738
dup #666
check https://github.com/PowerShell/Win32-OpenSSH/issues/666 and reopen if needed.

[2017-05-30 17:13] #738 closed, assigned to nobody

[2017-05-30 17:16] manojampalam commented on #399
Does this help: from https://github.com/PowerShell/Win32-OpenSSH/wiki/About-Win32-OpenSSH-and-Design-Details

•Authentication: ssh-agent will currently serve Basic and Key-Based authentication. It will be responsible for generating the client/user token once authentication succeeds. This includes: ◦key authentication - ensuring validity of public key mapping, validating a signed payload as part of

[2017-05-30 17:22] manojampalam commented on #683
![hla](https://cloud.githubusercontent.com/assets/14185020/26595943/de433644-4521-11e7-9a48-78bf7d3dbb17.JPG)

[2017-05-30 17:59] #734 closed, assigned to manojampalam

[2017-05-30 18:00] #623 closed, assigned to manojampalam

[2017-05-30 18:33] bagajjal commented on #288
@theJT - @bdr2 is seeing this only with ipv6..
Is your setup using ipv6? Does it work fine with ipv4?

[2017-05-30 20:11] manojampalam opened #740 "Test case for Binary i/o streams over ssh"
Add a test case for
https://github.com/PowerShell/Win32-OpenSSH/issues/658

Changes needed-
- Add generate.pl and check.pl to repo
- Install Perl as part of Install-TestDependencies
- Add following test cases
  - E:\temp\perl\generate.pl | ssh nonadmin@127.0.0.1 perl E:\temp\perl\check.pl
  - ssh nonadmin@127.0.0.1 perl E:\temp\perl\generate.pl | perl check.pl

[2017-05-30 23:49] bdr2 commented on #288
@bagajjal -- Correction: It's not that I'm seeing this bug with ipv6... It's that I'm seeing this only when I don't explicitly enable ipv4-only in the sshd config (`AddressFamily inet`), even when only specifying ipv4 addresses.

[2017-05-31 01:46] ylluminate commented on #318
The `Microsoft SSH Server` definitely needs to be running on another port instead of default 22 at first. That's pretty insane to be frank as it gives entirely wrong impressions.  It may also want to be renamed `Microsoft UWP Conduit Server Broker` and `Microsoft UWP Conduit Server Proxy`.  ESPECIALLY since these are just entirely irrelevant for anyone actually interested in SSH.  Big mistake on M

[2017-05-31 01:48] ylluminate commented on #318
So for those of us who are refugees of this misnomer battle field, can you please instruct us as to the "proper" way to install OpenSSH SSHD on Windows 10 that will be preserved going forward with the upcoming integration?

Would very much like to use OpenSSH properly now and to avoid issues coming up soon.

[2017-05-31 01:49] ylluminate commented on #739
That's very nice to know. Appreciate your pointing over to that issue. Definitely need to know the "right" way to do this now with the imminent integration en route.

[2017-05-31 01:49] #739 closed, assigned to nobody

[2017-05-31 02:03] gbraad commented on #666
@bagajjal when will the May-end release be available? The current release is from 14 days ago...

[2017-05-31 03:48] WojtekKozaczynski commented on #666
Please confirm if "May-end release" is the same as "Win32-OpenSS v0.0.14.0". This is the latest version I can find, yet it was released 14 days ago.
The list of bugs that v0.0.14.0 fixes does not include this bug (bug #666). Should I test v0.0.14.0 for this bug or wait for the next drop?

[2017-05-31 06:32] keza opened #741 "packet_write_wait: Broken pipe"
Error when i try to connect mac to win 7 pc

debug1: Authentication succeeded (password).
Authenticated to 10.6.130.33 ([10.6.130.33]:22).
debug1: channel 0: new [client-session]
debug1: Requesting no-more-sessions@openssh.com
debug1: Entering interactive session.
debug1: pledge: network
debug1: client_input_global_request: rtype hostkeys-00@openssh.com want_reply 0
packet_write_wait: Connection t

[2017-05-31 07:22] Pixelkracht opened #742 "Public key authentication was fine at first, now stopped working"
Hi,

I installed OpenSSH a few weeks ago and set up public key authentication. Everything was working as expected. I could get to the server from Filezilla and even from the Python program I'm writing. I had to do some other work and when I came back to this project suddenly the server won't authenticate my user anymore.

The only things I changed in the config file are
`LogLevel DEBUG3` and `Pass

[2017-05-31 09:25] theJT commented on #288
I'm sorry for the massive wall of text there, but I'm a bit out of my depth and have no idea what may or may not be relevant so I'm just attaching everything I can see.

I'm seeing this problem even with IPv4 set explicitly in the config file. IPv6 is explicitly disabled on the network adaptors of both the client and the server in this case - although the exact same thing happens if I re-enable it

[2017-05-31 14:26] dariusj18 opened #743 "After install script "Windows has encountered a critical problem and will restart automatically""
**"OpenSSH for Windows" version**
v0.0.14.0

**Server OperatingSystem**
Windows Server 2008 R2 Datacenter

**What is failing**
After running the install script I get the message

Then the server restarted

[2017-06-01 04:28] manojampalam commented on #741
shared detailed server side logs - https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2017-06-01 04:39] manojampalam commented on #742
ssh-lsa is obsolete and is not needed anymore.

The reason for the failure is this log entry in ssh-agent.log
12724 09:12:35 576 debug1: unable to generate token for user zorro

Can you ensure that the user account hasn't expired? Try resetting its password.

[2017-06-01 04:41] manojampalam commented on #743
This is strange. Do you have any anti-virus programs installed on your computer that might flag ssh binaries as malicious?

[2017-06-01 18:03] joeyaiello commented on #318
@ylluminate preaching to the choir, my friend. 😄

Expect a blog in the next week or two as our bits here make their way into Windows Insiders builds as an optional Feature on Demand. I'll be detailing exactly what you should do to avoid running into issues with the "Microsoft SSH Server".

[2017-06-01 18:07] bagajjal commented on #666
May-end release will be available today.. it will be v0.0.15.0

[2017-06-01 18:54] DarwinJS commented on #318
@joeyaiello - I am hoping the article cover how to disable or reconfigure the port of the Microsoft SSH Server? (Versus putting OpenSSH on a different port?)

Also - will it give code rather than GUI walkthroughs for making the changes?

Thanks.

[2017-06-01 19:25] SteveL-MSFT commented on #733
This repros for me on 16197.  Using Ubuntu16.04 OpenSSH client works fine.

[2017-06-01 20:36] joeyaiello commented on #318
@DarwinJS I should caveat I've written nothing yet. I'm just holding off until the aforementioned FOD is in a stable state. But I'll try to have some helper scripts within the post.

The solution will likely be to disable that server altogether with the warning that it will break UWP app deploy/debug scenarios. Unfortunately, that server cannot be reconfigured to use another port (but I'd rather t

[2017-06-01 22:49] bagajjal commented on #288
@bdr2 - Can you try with the latest version (0.0.14.0).. It works for me with (AddressFamily inet and AddressFamily any)..

@theJT - I tried on my local machine with the tightvnc... both the local port forwarding, remote port forwarding works well and I can do the vnc as well...

To debug further I need more information,

1) I think you are using the remote port forwarding?

2) Please provide the

[2017-06-02 00:06] ylluminate commented on #318
@DarwinJS disabling it is just a matter of going into `services.msc` and disabling two aforementioned services... I do wish there was a way to change the port, but it seems that MS has baked this punk in as far as testing requirements and I've not yet found a config file for this.

[2017-06-02 19:37] bagajjal commented on #737
@mayo -it turns out to be the unix openssh issue.. could you please test on the unix machine and see if it works fine..

In the below code snippet, original_command is always set to command (which is NULL).. this is causing the issue...

![image](https://cloud.githubusercontent.com/assets/23668037/26741912/3b832948-4790-11e7-8c28-71de5c517072.png)

[2017-06-02 19:42] #603 closed, assigned to bagajjal

[2017-06-02 19:44] #602 closed, assigned to bagajjal

[2017-06-02 19:45] #605 closed, assigned to bagajjal

[2017-06-02 20:48] Pixelkracht commented on #742
Thank you for your response. Do you mean the Windows user account? It's the only user account on the machine, I don't really understand how it could be expired.

The fact that I'm having the exact same problem on two different machines (which are not in the same network or anything) makes me wonder if it's not something to do with some Windows update. Anyway, I'm not getting closer to a solution a

[2017-06-02 22:09] #645 closed, assigned to nobody

[2017-06-02 22:10] #539 closed, assigned to nobody

[2017-06-02 22:10] #726 closed, assigned to manojampalam

[2017-06-02 22:10] #658 closed, assigned to manojampalam

[2017-06-02 23:13] bingbing8 commented on #592
duplicate with #710

[2017-06-02 23:13] #592 closed, assigned to bingbing8

[2017-06-03 05:34] manojampalam commented on #742
Sorry to hear that. Please share your OS details. We'll see if we can reproduce on our side.

[2017-06-03 08:23] Pixelkracht commented on #742
It could also be me doing something stupid... Anyway, it's Windows 10 Home edition, 64 bit. If there's anything else I can tell you about it, please let me know.

[2017-06-03 12:55] DarwinJS opened #744 "Inherent "User Key Permissions Update Approach" May Cause Lockouts? (Possible Solution OpenSSHUtils.psm1 Should Expose Fix-FilePermissions Function)"
## Thanks for Using Pure PowerShell!
First of all a huge thanks for using pure powershell for your permissions solution - that's awesome!

## It Is Not Realistic To Require Each User To Reset Their Own SSH File Permissions
I am attempting to create a comprehensive fix up utility Reset-SSHFilePermissions that will handle all user permissions when run from admin context.

It uses the profile folder

[2017-06-03 12:59] DarwinJS opened #745 "OpenSSHUtils.psm1 Uses Unapproved Verbs"
When loading OpenSSHUtils.psm1 the following warning is issued:

WARNING: The names of some imported commands from the module 'OpenSSHUtils' include unapproved
verbs that might make them less discoverable. To find the commands with unapproved verbs, run the
Import-Module command again with the Verbose parameter. For a list of approved verbs, type
Get-Verb.

I think a more appropriate verb choice t

[2017-06-03 13:22] DarwinJS opened #746 "Perhaps v 0.0.15.0 Should Only WARN Permissions are Not Right and Enforce in a Later Release?"
I think getting these permissions right for anyone with a significant install base is going to be a significant effort.  Would be nice if a couple releases simply warned of incorrect permissions so that admins had some forgiveness in getting permissions done correctly.  But especially if they are responsible for the logistics of how user permissions fixup are going to be initiated.

[2017-06-03 17:46] lucastheisen opened #747 "Provide a way to set permissions on authorized_keys within a remote session"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

No

**"OpenSSH for Windows" version**
[code]
**Server OperatingSystem**
[code]
**Client OperatingSystem**
[code]
**What is failing**

Set-SSHKeyPermissions.ps1.  More specifically, a typical usage scenario would be ssh into a ne

[2017-06-03 18:05] lucastheisen opened #748 "Support expired password change over ssh"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

No

**"OpenSSH for Windows" version**

[code]

**Server OperatingSystem**

[code]

**Client OperatingSystem**

[code]

**What is failing**

Any attempt to log in just gives `Permission denied, please try again`

**Expected outpu

[2017-06-03 20:54] bingbing8 commented on #747
@lucastheisen Is your OpenSSH binaries v0.0.14.0 or v0.0.15.0?
Is Set-SSHKeyPermissions.ps1 your own script?
To set permission of authorized_keys, you need to call Fix-AuthorizedKeyPermissions. Can you try and let me know?

[2017-06-03 21:03] bingbing8 commented on #745
@DarwinJS good catch.  We will go with:
Repair-SshdConfigPermission

[2017-06-03 22:55] lucastheisen commented on #747
@bingbing8 , I am using v0.0.14.0.  `Set-SSHKeyPermissions.ps1` is a script that comes as part of the [chocolatey distro](https://chocolatey.org/packages/openssh) you link to in [your documentation](https://github.com/PowerShell/Win32-OpenSSH/wiki/Win32-OpenSSH-Automated-Install-and-Upgrade-using-Chocolatey).   Also, `Fix-AuthorizedKeyPermissions` does not exist in my installation.  Since you just

[2017-06-04 07:10] manojampalam commented on #747
@lucastheisen we'll have a solution for this in next release.

For now, you'll need to use icacls.exe to set the appropriate permissions as detailed here - https://github.com/PowerShell/Win32-OpenSSH/wiki/Security-protection-of-various-files-in-Win32-OpenSSH
See section on authorized_keys

[2017-06-04 07:16] manojampalam commented on #748
We'll see what it takes to support this feature. Expect an update by June-Mid

[2017-06-04 07:24] manojampalam commented on #746
We have contemplated on this approach. Since v0.15.0.0 does not include any major bug fixes otherwise, we are relying on this release to identify possible issues with fixing file permissions.
Given our timeline, it would be difficult to device an evaluation strategy to identify such issues. The included utility scripts should suffice making host side changes. That said, we understand the breaking

[2017-06-04 07:43] manojampalam commented on #744
Thanks @DarwinJS for thinking through upgrade scenarios.

Regarding fixing up of individual file permissions, I assume you are referring to ssh_config and user's key files. If so, these are strictly client side (host would have no impact).
The only user specific file that applies on host side is authorized_keys - this is taken care of in FixHostFilePermissions.ps1

 Lockout is a serious concern, I

[2017-06-04 11:48] DarwinJS commented on #744
@manojampalam - apologies I missed the enumeration of profiles in FixHostFilePermissions.ps1 - I will call this script.  Thanks for providing a non-per-user approach!

[2017-06-04 12:24] DarwinJS commented on #747
Set-SSHKeyPermissions.ps1 is part of the chocolatey package and addressed the problem of setting all user based keys during install and was designed to be run by an admin user in order to set permissions on all user keys.

I am working on version 0.0.15.0 of the chocolatey script and Set-SSHKeyPermissions.ps1 will be retired in favor of the utility script FixHostFilePermissions.ps1 that ships with

[2017-06-04 13:56] DarwinJS opened #749 "OpenSSHUtils.psm1 Uses Non-standard "Quiet" Switch Name (and non-standard Functionality) for PowerShell standard "Confirm" Switch"
The -Quiet switch in OpenSSHUtils.psm1 appear to be functioning in ways that mimic the standard "Confirm" switch of PowerShell (example: https://github.com/PowerShell/Win32-OpenSSH/blob/2c3a1a95d0b36697be3da814a7fc08bdfb7db0cb/contrib/win32/openssh/OpenSSHUtils.psm1#L184-L195)

The standard way is to use "SupportsShouldProcess" in the CMDLET binding

However, I personally do not like the degraded

[2017-06-04 14:02] DarwinJS commented on #719
This problem is cropping up again with OpenSSHUtils.psm1, only now since I am not writing the code I can't skip over "APPLICATION PACKAGE AUTHORITY".

I do not believe I have any third party elements on my Windows 10 machine that would add virtual accounts with these names - so I am hoping you can find out something internally in Microsoft as to what these virtual accounts are?

I have applied cre

[2017-06-04 14:07] DarwinJS opened #750 "Fix-FilePermissionInternal Errors on User 'APPLICATION PACKAGE AUTHORITY\ALL APPLICATION PACKAGES'"
This problem is cropping up again with OpenSSHUtils.psm1, only now since I am not writing the code I can't skip over "APPLICATION PACKAGE AUTHORITY".  (previously mentioned in #719)

![image](https://cloud.githubusercontent.com/assets/11597190/26762289/9ba1784c-490d-11e7-9168-23ccc5e2d3fb.png)

I do not believe I have any third party elements on my Windows 10 machine that would add virtual account

[2017-06-04 14:23] DarwinJS opened #751 "Would Be Nice to Have More Verbose Logging in Fix*.ps1"
It would be very helpful if these utility scripts emitted console output as to exactly which files they are changing (which reveals the list of files they have found) and what the changes are.

For example, in these two loops: https://github.com/PowerShell/Win32-OpenSSH/blob/2c3a1a95d0b36697be3da814a7fc08bdfb7db0cb/contrib/win32/openssh/FixUserFilePermissions.ps1#L4-L11

If console message suppres

[2017-06-04 14:26] DarwinJS commented on #750
I can submit a PR for this request if that is acceptable.

[2017-06-04 15:25] manojampalam commented on #751
Yes please.

[2017-06-04 15:34] manojampalam commented on #750
Yes please.

[2017-06-04 21:26] razrjk opened #752 "Git server doesn't work with Win32-OpenSSH. Enclosed, please find three defects which I isolated and worked around.."
I pulled version: 0.0.14.0 on May 19.  I just fetched version: 0.0.15.0 (June 4) today to compare.  I don't believe the below issues have been corrected.

Git using Win32-OpenSSH ssh server runs as a nopty service.  There are two defects in the nopty code:

1) shell-host.c passes through to cmd.exe, single quotes as literals.  The literal single quotes become part of the file path name, resulting

[2017-06-05 05:11] manojampalam commented on #752
Thanks for the detailed report and proposed changes. Found some details here on how to setup Git server using over SSH  - https://www.systutorials.com/366/set-up-git-server-through-ssh-connection/

[2017-06-05 15:33] dariusj18 commented on #743
Symantec Endpoint Protection is installed

[2017-06-05 15:39] dariusj18 opened #753 "fatal: sshd_hostkey_sign: ssh_agent_sign failed: agent refused operation"
**Server OperatingSystem**
Windows Server 2012 R2 Datacenter

**Release**
0.0.15.0

I think I ran everything correctly however when I run the service under the NT SERVICE\SSHD user i get this

in the logs, and a "Connection reset" from my client.

When I run sshd.exe as Administrator it works

I figure there has to be some kind of permissions I am missing, howver I ran the FixHostFilePermissions.p

[2017-06-05 16:54] manojampalam commented on #753
FixHostfilePermissions.ps1 should have set the right permissions.
Can you dump the permissions on each of your host private keys?
icacls .\ssh_host_rsa_key
icacls .\ssh_host_dsa_key
icacls .\ssh_host_ecdsa_key
icacls .\ssh_host_ed25519_key

[2017-06-05 16:55] razrjk commented on #752
Re: shell-host.c
Git push was still failing.

It appears that the whole nopty implementation assumes a pty control stream.  Yet nopty may be a binary data stream.
While I'm uncertain about the defaults and all the possible options of ssh (for instance, assuming pty control for a nopty connection),  tty control should not be processed on a binary data stream.

After removing the pty processing from

[2017-06-05 17:01] dariusj18 commented on #753
Those commands return

BUILTIN\Administrators:(F)
NT AUTHORITY\SYSTEM:(F)
SERVERNAME\Administrator:(R,W)

[2017-06-05 17:05] schall8 opened #754 "Build 0.0.14.0 can't configure multiple TCP ports to listen"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
 0.0.14.0

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductNa

[2017-06-05 17:08] manojampalam commented on #753
Can you try running FixHostFilePermissions.ps1 again ? It should have added read permissions (R) to sshd account and should have removed entry for SERVERNAME\Administrator.

you should see output like this:
NT AUTHORITY\SYSTEM:(F)
BUILTIN\Administrators:(F)
NT SERVICE\SSHD:(R)

[2017-06-05 17:28] dariusj18 commented on #753
I didn't see this before, however I think I see the problem, I have Powershell 4.0, so I get errors when running the script

Get-ItemPropertyValue : The term 'Get-ItemPropertyValue' is not recognized as the name of a cmdlet,

and more

[2017-06-05 17:28] manojampalam commented on #754
Seems to work for me. Can you try running sshd in debug mode (sshd -d) and see if there are any issues/failures binding to other ports ?

[2017-06-05 17:33] dariusj18 commented on #753
I manually change the permissions and now i see them as

However in the log I now see

for each of the private key files

[2017-06-05 17:35] manojampalam commented on #753
you'll need to change the owner too (for each of the private keys):
icacls .\ssh_host_dsa_key /setowner system

on top of what you already did:
icacls .\ssh_host_dsa_key /remove SERVERNAME\Administrator
icacls .\ssh_host_dsa_key /grant "NT SERVICE\SSHD":(R)

[2017-06-05 17:40] dariusj18 commented on #753
That worked, thank you.

[2017-06-05 18:54] #753 closed, assigned to nobody

[2017-06-05 20:37] manojampalam commented on #752
What repo are you working on? There were changes around this logic as part of fixing https://github.com/PowerShell/Win32-OpenSSH/issues/658
Take a look at the PR, binary streaming over stdin should work with the latest changes included in v0.0.15.0.

[2017-06-05 21:05] bingbing8 commented on #750
@DarwinJS, I found the cause of the problem. The line you pointed above has no problem since it just remove the inheritance. The real problem is here:
'APPLICATION PACKAGE AUTHORITY\ALL RESTRICTED APPLICATION PACKAGES'- can't translate fully qualified name. it is a win32 API bug. To workaround, we need to use the shortValue of the IdentityReference
'ALL APPLICATION PACKAGES' exists only on Win2k12

[2017-06-05 21:21] joeyaiello commented on #318
I will say that even if you *could* change the port, the scenario that it supports would not be able to consume the new port...

[2017-06-05 21:44] bagajjal commented on #737
Tested on the Ubuntu machine.. Its base unix code issue
![image](https://cloud.githubusercontent.com/assets/23668037/26804607/636bafe2-49fd-11e7-8862-074216cf9913.png)

[2017-06-05 21:52] schall8 commented on #754
C:\Program Files\OpenSSH>sshd -d
debug1: Bind to port 22 on ::.
Server listening on :: port 22.
debug1: Bind to port 22 on 0.0.0.0.
Server listening on 0.0.0.0 port 22.

Thank you for pointing me to the interactive debug made me double check and notepad saved the config with the .txt extension.  it is binding now properly, thank you for your time.

C:\Program Files\OpenSSH>sshd -d
debug1: Bind to

[2017-06-05 21:52] #754 closed, assigned to nobody

[2017-06-05 22:02] manojampalam opened #755 "Add utility to support host key management without depending on external tools (psexec)"

[2017-06-05 22:03] bingbing8 opened #756 "OpenSSHUtils.psm1: Fix-AuthorizedKeyPermissions failed if the account is not tranlated correctly"

[2017-06-05 22:09] bagajjal commented on #737
@mayo - The code works fine with no issues..
My initial understanding is wrong..

SSH_ORIGINAL_COMMAND will have the command specified by the client..

When you are doing "ssh user@ip hostname", in this case the SSH_ORIGINAL_COMMAND will be set to hostname... Here "hostname" is the command specified by the client.

If you are doing normal ssh with no command "ssh  user@ip" then the SSH_ORIGINAL_CO

[2017-06-05 23:12] #736 closed, assigned to bingbing8

[2017-06-05 23:13] #735 closed, assigned to bingbing8

[2017-06-05 23:37] bagajjal opened #757 "windows support for SFTP only server"
Having
"ForceCommand internal-sftp" in sshd_config will make the server to accept sftp connections only.

Fix details:
In windows, INTERNAL_SFTP is supported via sftp-server.exe.

This is a deviation from the UNIX implementation that hosts sftp-server within sshd.
If sftp-server were to be hosted within sshd for Windows, following would be needed
 - Impersonate client user
 - call sftp-server-main

[2017-06-06 00:58] bagajjal commented on #743
This can be closed?

[2017-06-06 04:08] razrjk commented on #752
The repo is git@github.com:PowerShell/Win32-OpenSSH.git.
I cloned, built, and tried to test v.0.0.15.0.

Issue 1) from my initial post is still a problem.  The file path sent by git contains literal single quote characters which become part of the file path, so the path is invalid.

The remote repo in the following case is:  localhost:D:\work\git_repo.git.  Note the single quotes below.  They may

[2017-06-06 09:07] theJT commented on #288
I've finally traced this to an issue with TightVNC server itself. When set to listen to loopback connections it gets weirdly specific. a tunnel of 15900:$HOSTNAME:5900 (as in my ssh script, where obviously $HOSTNAME is being populated with the target machine's name) will not work, but 15900:127.0.0.1:5900 will.

Thank you all for your help.

[2017-06-06 10:50] DarwinJS commented on #756
@bingbing8 - this is great!  Works on my Windows 10 install now.  I am planning on shipping this patched module with the chocolatey package and have it overwrite the older one.

[2017-06-06 11:34] DarwinJS opened #758 "PowerShell Permissions Helpers Are Not Compatible with PSH 2.0"
I originally commented in #721 under the heading "Installation Code Testing" that all PowerShell code should be tested on the target platforms of openssh, which I believe still includes Windows 7 / Server 2008 R2 RTM.

FYI - the code does appear to work for Nano.

FixHostFilePermissions, FixUserFilePermissions.ps1 and OpenSSHUtils.psm1 all have syntax or assumptions that are not compatible with Po

[2017-06-06 11:37] DarwinJS opened #759 "Please remove 30 second timeout when -quiet is not used or provide pass through parameter on Fix*.ps1 helpers"
FixHostFilePermissions.ps1 and FixUserFilePermissions.ps1 do not make their calls using the -quiet parameter.

On a very simple installation with only one SSH user the 30 second delay occured 36 times or 18 minutes worth.

Given that openssh v0.0.15.0 will not function without these permissions changes, I think the prompting and the delay are a little overcautious.  Especially since by the time th

[2017-06-06 11:56] DarwinJS commented on #753
@dariusj18 - you said:

Can you please tell which script(s) generated these?

[2017-06-06 17:25] bingbing8 commented on #758
@DarwinJS Do you see any problem that user download [WMF 5.1](https://www.microsoft.com/en-us/download/details.aspx?id=54616) on win7 machine? Here is [WMF chocolatey package](https://chocolatey.org/packages/PowerShell)

[2017-06-06 17:27] bingbing8 commented on #759
@DarwinJS
1. I don't have timeout set in any of these 3 scripts. Which timeout do you refer to?
2. both FixHostFilePermissions.ps1 and FixUserFilePermissions.ps1 support -quiet mode. Did you try ```FixHostFilePermissions.ps1 -quiet```?

[2017-06-06 17:48] DarwinJS commented on #758
@bingbing8 - yes there are a lot of challenges with requiring PSH 5.1 (or any PSH upgrade) for something as small as this.

The below (plus more if I had time to think and write) are why I always maintain PowerShell 2.0 compatibility with any of my code that has to run on Win7/Server 2008 R2 RTM.

### Compatibility:
- PowerShell Upgrades (especially from 2 to 5) require .NET upgrades - many machin

[2017-06-06 18:36] dariusj18 commented on #753
It was FixHostfilePermissions.ps1

[2017-06-06 19:18] p3x-robot opened #760 "does not work with TERM=xterm midnight commander"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
Current Choco latest 0.0.14.0

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersi

[2017-06-06 19:28] stephenconnolly1 commented on #420
Just lost an hour on this one !!
For a domain account, and using putty, you must use the full domain\user@host format when passing in the PVK. for some reason when using password based auth, the server is able to resolve the user domain automatically.

[2017-06-06 22:02] bingbing8 commented on #758
@DarwinJS  I will update the script work with ps 2.0

[2017-06-06 22:04] #756 closed, assigned to bingbing8

[2017-06-06 22:08] bingbing8 commented on #750
@DarwinJS  i checked in the fix for this. I also exposed Fix-FilePermissions per your request from issue #744

[2017-06-07 00:13] #743 closed, assigned to nobody

[2017-06-07 00:14] #737 closed, assigned to bagajjal

[2017-06-07 00:22] bagajjal commented on #288
Please reopen if required.

[2017-06-07 00:22] #288 closed, assigned to bagajjal

[2017-06-07 00:41] razrjk commented on #752
I finally resolved another problem with large binary transfers, typical of a big git push.

shell-host.c is currently using cmd.exe.  cmd.exe was dropping the end of large binary streams over slow network connection.  I tried bash.exe and powershell.exe as command interpreters and they do not drop any of the stream.  It took quite a long time to discover that cmd.exe was the problem.

I settled on

[2017-06-07 02:19] DarwinJS commented on #750
Ahh yes - I realize that the comment I put on #756 was for this issue - I had found the code on the pull request and tested it.  Thanks!

[2017-06-07 09:02] duanyao commented on #753
I saw "Get-ItemPropertyValue" error from FixHostfilePermissions.ps1 too. It's a Win7 64bit and I installed WMF 4.0. Does this script only run in powershell 3.0? However even if I start powershell with `-version 3.0` the errors persist.

[2017-06-07 11:52] DarwinJS opened #761 "Procedure for Clean Uninstall of v0.0.15.0"
When I use the same elevated administrator user as I used to install, uninstall does not succeed.

What would be the procedure for a clean uninstall?

It would be great if there were a helper script to re-prepare server key files (only) for an uninstall.

![image](https://user-images.githubusercontent.com/11597190/26876912-2f852f5a-4b56-11e7-8bf6-1d0f08cb03f2.png)

[2017-06-07 18:23] #755 closed, assigned to nobody

[2017-06-07 18:25] #750 closed, assigned to bingbing8

[2017-06-07 18:26] bingbing8 commented on #758
@DarwinJS the fix is checked in https://github.com/PowerShell/openssh-portable/pull/160 and it works on ps2 on win7. Please let me know if you see any other issue

[2017-06-07 19:59] manojampalam commented on #761
What are the permissions on ssh_host_dsa_key? Is the error an artifact of some process using that file? Nothing should prevent an elevated admin from performing any operations on host keys.

[2017-06-07 22:15] joeyaiello commented on #318
Renaming the issue to make sure I eventually address this. 😄

[2017-06-07 22:25] bagajjal opened #762 "open() should support /dev/tty"
open() should support /dev/tty.

This is fixed but reverted the changes because password authentication testcases are failing.
With this fix, when we have a terminal SSH will always reads the password from the terminal. This makes our password authentication testcases to fail as there is no way to pass the password through SSH_ASKPASS.

As of now, /dev/tty is only used in the readpassphrase so for

[2017-06-07 22:36] bingbing8 commented on #751
@DarwinJS  the scripts currently already print all the files they are changing and what actions are done to each file to the console.  Please checkout here:
file path printout: https://github.com/PowerShell/Win32-OpenSSH/blob/2c3a1a95d0b36697be3da814a7fc08bdfb7db0cb/contrib/win32/openssh/OpenSSHUtils.psm1#L147
sample action printout: https://github.com/PowerShell/Win32-OpenSSH/blob/2c3a1a95d0b3669

[2017-06-08 11:52] DarwinJS commented on #751
That works fine @bingbing8!

[2017-06-08 11:52] #751 closed, assigned to bingbing8

[2017-06-08 11:58] DarwinJS commented on #761
This was after a successful install of 0.0.15.0 using FixHostFilePermissions.ps1 - which successfully set the permissions during install.

So the new permissions model does not seem to allow for clean removal via direct deletes by an elevated admin.

Maybe another helper "RemoveHostFiles.ps1" ?

[2017-06-08 12:32] DarwinJS commented on #758
@bingbing8 - thank you for this!

I have tested and I get some errors and the file permission does not change - please see the screenshot.

"ProtectedAdmin" is a custom user who is a regular admin - running elevated when the code runs.

![image](https://user-images.githubusercontent.com/11597190/26928690-04a27f16-4c25-11e7-885e-1c4001801a0f.png)

[2017-06-08 12:35] DarwinJS commented on #759
I have tried -quiet and it does pass through - sorry my bad!
There is a 30 second timeout on each attempt to set permissions when -quiet is not used.
It would still be nice to have "-confirm" functionality separated from "-quiet" (no logging messages) functionality as per #749

[2017-06-08 12:35] #759 closed, assigned to nobody

[2017-06-08 12:45] DarwinJS commented on #444
FYI - the recently checked in code ssh-add-key.ps1 has syntax errors - but more concerningly it uses the schedule task CMDLets which were added in PSH 4 and are therefore not available on PSH 2 (win7/server2008R2).

![image](https://user-images.githubusercontent.com/11597190/26928998-1d11402c-4c26-11e7-8236-2736c86f8a69.png)

These lines show a very simple implementation which seems to work on Win

[2017-06-08 19:41] bingbing8 commented on #761
@DarwinJS After FixHostFilePermissions.ps1, the host keys should be owed by system or administrators group account and both are allowed full control. If you are member of admin group, you should be able to remove the key files. We are not able to repro from this side. Is there any chance the administrators group ace removed from the dcal after your previous installation or the inherited acls from

[2017-06-08 20:16] bingbing8 commented on #758
@DarwinJS what os is this repro? this is due to a bug in default .net (localsystem is not allowed to be file owner, but icacls can set it) on the machine. I saw this on my win7 and workaround it like:
https://github.com/PowerShell/openssh-portable/blob/latestw_all/contrib/win32/openssh/OpenSSHUtils.psm1#L48-L66
Your machine may have different clr version from what I see.
Can you provide the output

[2017-06-08 20:22] bingbing8 commented on #759
@DarwinJS we will change to -confirm.

[2017-06-08 21:41] manojampalam commented on #761
@DarwinJS can you dump the output of
icacls ssh_host_dsa_key

@bingbing8 please add explicit access to AdministratorsGroup as part of FixHostFilePermisssions. That should cover any corner case scenarios where any of the files originally did not have an explicit ACL for this group.

[2017-06-08 23:09] DarwinJS commented on #758
This Windows 7 machine also has .NET 4.5.1 because Chocolatey requires it.

![image](https://user-images.githubusercontent.com/11597190/26954429-f278bdd8-4c7d-11e7-9ad4-27c00827c448.png)

[2017-06-08 23:17] DarwinJS commented on #761
@bingbing8 - this is the same Windows 7 machine where I ran the 0.0.15.0 install with the newer module files.
By the time this delete runs, the service has been removed (as it has already been in the below screenshot).  This is a standard removal order so that the files can be removed without having the service exe locked.

Is there any problem if the ACLs for the service are still on the files wh

[2017-06-09 00:15] bingbing8 commented on #758
@DarwinJS based on the screen you provided. the code should set owner to admin groups instead of system. Can you check the OpenSSHUtil.psm1 has the below lines?
https://github.com/PowerShell/openssh-portable/blob/latestw_all/contrib/win32/openssh/OpenSSHUtils.psm1#L48-L66

[2017-06-09 00:39] bingbing8 commented on #761
@manojampalam  the file permissions are correct on Darwin's machine.
@DarwinJS can you find out if the [file is locked by any other process](http://www.techsupportalert.com/content/how-find-out-which-windows-process-using-file.htm)?

[2017-06-09 00:45] DarwinJS commented on #758
@bingbing8 - yes I have those lines.

[2017-06-09 00:51] DarwinJS commented on #761
I can't reproduce this myself.  So I am closing it.  However, I am still having the problem in #758 with "The security identifier is not allow to be owner of this object" - so not sure if I will still be able to do a clean delete once that is fixed properly.  Will open a new report if that happens.

[2017-06-09 00:51] #761 closed, assigned to bingbing8

[2017-06-09 01:36] DarwinJS opened #763 "Requesting PreTest of Chocolatey Package"
@bingbing8 - could you (and anyone else who would like to help) pre-test the chocolatey package for me?

If you are able to test on Win 7 and Win 10 that would be great - but I understand if you don't have time for both.

The updates to OpenSSHUtils.psm1 in this chocolatey package fix the problems in #758

I have it staged on a test feed.

To install:
[code]
Then examine permissions and proper ope

[2017-06-09 01:38] DarwinJS commented on #758
Ok - I got this one figured out.

I remembered that chocolatey installs .NET 4.0 and then on PSH 2.0 systems it still uses PSH 2.0, but it changes the CLR to 4.0 when running PowerShell (only under chocolatey - not for the entire system).  I forget why but I think it had to do with some serious CLR 2.0 limitations.

The below screen show shows output of $psversiontable running under chocolatey.

A

[2017-06-09 02:26] DarwinJS commented on #761
As per my updates to #758 I am not having that problem anymore either.

[2017-06-09 03:53] bingbing8 commented on #758
@DarwinJS  got it. I will include the changes in my next PR

[2017-06-09 04:03] bingbing8 commented on #763
@DarwinJS  my next PR includes -confirm support and Verb changes, which breaks your script. that is the reason I can not to test against this package. If you could share the file chocolateyinstall.ps1 or chocolateyuninstall.ps1 I may be able to update them to use the new cmdlet names and new parameters for testing

[2017-06-09 06:47] carlivar commented on #763
I tried your package (thank you for doing this).

It failed. However I've been having trouble with the permissions fix script prior to your package, I think because I'm on PS 4.0. Anyway, here are the results, partial paste showing context of the error:

[code]

[2017-06-09 06:58] carlivar commented on #763
Forgot to mention, above is on Windows Server 2012 R2

[2017-06-09 08:53] #760 closed, assigned to nobody

[2017-06-09 10:48] DarwinJS commented on #763
@carlivar - Apologies - some cruft did make it back into the package.  I have fixed it and retested from the test feed.

[2017-06-09 11:00] DarwinJS commented on #763
@bingbing8 - if you haven't already, could you please increment the module version number so that it is easy to tell that the Chocolatey release has a new version than the 0.0.15.0 zips ?

[2017-06-09 11:35] DarwinJS commented on #758
@bingbing8 - I had not yet tested with authorized_keys files in profiles other than the one running the opensshutils.psm1 code.

It looks like we have the same problem with setting permissions on the authorized_keys files of **other user profiles** on Win7 because this line: https://github.com/PowerShell/openssh-portable/blob/latestw_all/contrib/win32/openssh/OpenSSHUtils.psm1#L104 Does not have a

[2017-06-09 17:25] manojampalam commented on #763
@DarwinJS based on when we can settle on the utility script updates, we can make a decision accordingly - with our end goal being - GitHub release version and chocolatey version are in sync.

If we are done with script updates today, we'll update 0.0.15.0 zipped payload (since the binaries haven't changed) with the new scripts and along with updated instructions on the wiki. If this process bleeds

[2017-06-09 18:25] carlivar commented on #763
@DarwinJS It seems to have installed correctly now for me. However, I'm still not able to authenticate from a client successfully (though it gets part of the way, so it's not a firewall issue or such).

With your package I'm having a hard time troubleshooting because for some reason `C:\Program Files\OpenSSH-Win32\Logs` does not contain an sshd.log (it only has ssh-agent.log, which is empty). In m

[2017-06-09 18:29] bagajjal commented on #763
@carlivar  can you check sshd_config has the loglevel set properly (LOGLEVEL DEBUG3)

[2017-06-09 18:34] carlivar commented on #763
I found the problem. The Logs subdirectory did not have any permissions for the sshd service.

I now have an sshd.log after running: `icacls.exe Logs /grant sshd:F`

This may also need to be part of the choco install script?

[2017-06-09 18:42] carlivar commented on #763
Hmm, looks like my troubles are still related to the permissions fix script at install time. Here's the excerpt from that. I thought it had worked, but does not appear so from the below. I replaced our domain and my username with FOO\my.username. I ran the choco installer logged in with my domain (Administrators group) user and from an Administrator powershell prompt. Should I be running it differ

[2017-06-09 19:14] carlivar commented on #763
I see the problem. Probably unrelated to the choco package itself. `OpenSSHUtils.psm1` doesn't set permissions correctly. Here's what happens when run interactively, below. I will try to figure out how to get around that (pretty new to powershell). Also this isn't related to the choco package itself so will try to find an appropriate Issue for this problem, but want to close the loop here.

[code]

[2017-06-09 19:33] bingbing8 commented on #758
@DarwinJS  I don't repro this on my win7 machine. but I found a workaround. I think the commit I added fix the issue.
Since we are discussing how to handle the future breaking changes and release of scripts, I can't submit the changes soon. Below include multiple fixes if you are interested:
1. use valid verb,
2. psd1 file to specify version,
3. -confirm support,
4. workaround the error "the secur

[2017-06-09 21:06] #757 closed, assigned to bagajjal

[2017-06-09 21:07] #692 closed, assigned to bagajjal

[2017-06-09 21:09] bagajjal commented on #692
Please check the june mid release

[2017-06-09 21:25] bagajjal commented on #202
duplicate of #692

[2017-06-09 21:25] #202 closed, assigned to bagajjal

[2017-06-09 23:32] bingbing8 commented on #745
@DarwinJS , I added a commit to the fix of this issue. Since we are discussing how to handle the future breaking changes and release of scripts, I can't submit the changes soon. Below include multiple fixes if you are interested:
1. use valid verb,
2. psd1 file to specify version,
3. -confirm support,
4. workaround the error "the security identifier is not allowed to be the owner of this object" o

[2017-06-09 23:34] bingbing8 commented on #749
@DarwinJS , I added commit to the fix of this issue. Since we are discussing how to handle the future breaking changes and release of scripts, I can't submit the changes soon. Below include multiple fixes if you are interested:
1. use valid verb,
2. psd1 file to specify version,
3. -confirm support,
4. workaround the error "the security identifier is not allowed to be the owner of this object" on

[2017-06-10 12:12] DarwinJS commented on #745
Wow you can refactor code at lightning speed!  Thanks for diving into this.

I tested the updated module code from the branch you noted.

I can no longer control the prompting behavior.

The -quiet switch is no longer available and the -confirm switch does not suppress the 30 second time-out confirmation prompt - so we are back to extending an automated install of a basic sshd server to 18 minutes

[2017-06-10 22:57] bingbing8 commented on #745
@DarwinJS  to Suppress the prompt, you can user -confirm:$false when you call the cmdlet. It is equivalent to -quiet

[2017-06-11 05:01] bingbing8 commented on #745
@DarwinJS Sorry for the inconvenience.
1. The equivalent of "-quiet" when use the new utility scripts is "-confirm:$false" to Suppress the prompt. Could you please try?
2. I see your request not use shouldprocess, but where is the promp "Respond within 30 seconds or the default selection will be chosen" come from? If you directly run the utility scripts, you won't see the timeout. Is it from your

[2017-06-11 19:06] bingbing8 commented on #746
@DarwinJS with the latest checkin, the utility script support -whatif, which will tell what the script do without doing the real actions.

[2017-06-11 19:53] DarwinJS commented on #758
Thanks for the updates.

Have you tried deleting and recreating your test authorized_users files in *other* profiles on Win7 - or were they present during a previous run?

I am guessing here - but in the case that an authorized_users file *ALREADY* has the correct owner (I created my test ones WHILE logged in as the specific user), then doesn't this line: https://github.com/PowerShell/openssh-port

[2017-06-11 21:43] DarwinJS commented on #758
@bingbing8 - I guess I didn't have the right branch.  Just tested with the recently updated latestw_all and it works fine on Win 7 now!

[2017-06-12 01:41] DarwinJS opened #764 "Error Setting Permissions For Clean Removal"
To prepare for a clean removal, the chocolateyuninstall.ps1 script must take ownership of key and config files.

However, when I call "Repair-File Permission" with no parameters (to only set the owner to the current user), I get the below error.

For the time being I am setting $ErrorActionPreference = 'SilentlyContinue' right before the call.

Is there a way to make the default behavior simply gi

[2017-06-12 03:07] DarwinJS commented on #764
$ErrorActionPreference did not end up working when embedded in the uninstall.

Neither did the following code when used in "ChocolateyUninstall.ps1" (was trying to make sure the parameters were populated so the permissions run could complete successfully):

[code]

I think I will publish the chocolatey package and just mention that the chocolatey **uninstall** switch /DeleteConfigAndServerKeys doe

[2017-06-12 03:12] DarwinJS opened #765 "Chocolatey Package for 0.0.15.0 Released"
Big thanks to @bingbing8 for quick response in refactoring the new opensshutils.psm1 module to work with needs that were discovered when creating the chocolatey package.

[2017-06-12 17:48] manojampalam opened #766 "Decouple key-agent and priv-agent use in sshd"
As detailed in https://github.com/openssh/openssh-portable/pull/63
sshd should decouple key-agent and priv-agent sockets. These may be the same (if both are served by ssh-agent) but will be different if a custom host key-agent is configured by user

[2017-06-12 17:50] manojampalam commented on #681
In the interest of security, SSHD service will continue to run in its service account context.

[2017-06-12 17:50] #681 closed, assigned to nobody

[2017-06-12 19:29] bingbing8 commented on #764
@DarwinJS  it is a bug missing a pair of parenthesis in the script. I added a fix (https://github.com/PowerShell/openssh-portable/pull/165). Below line can workaround it if you don't want to update the scripts in the package.
 ```Repair-FilePermission .\ssh_host_dsa_key -ReadAccessNeeded "NT SERVICE\sshd"```

We are curious the reason that chocolateyuninstall.ps1 script need to take ownership of k

[2017-06-12 21:59] #749 closed, assigned to bingbing8

[2017-06-12 22:08] #758 closed, assigned to bingbing8

[2017-06-12 22:13] bingbing8 commented on #744
@DarwinJS  Fix-UserKeyPermissions now takes -User parameter and also Fix-FilePermissions is exposed. Please check.

[2017-06-13 17:39] joeyaiello commented on #752
@razrjk as an FYI, we do code work out of https://github.com/PowerShell/openssh-portable, and only take drops back to this repo when we do releases.

[2017-06-13 21:16] alexchandel commented on #431
My SSH client is macOS (& I've tried it with other unix SSH clients), so the problem is with the windows SSH server.

The vim display is rapidly corrupted when anything changes.

[2017-06-13 22:55] DarwinJS commented on #744
@bingbing8 - while I haven't tested the resultant install for lockout - the chocolatey package is calling FixHostFilePermissions.ps1 to fix the permissions.  I will close this as already being addressed by the tools provided with Openssh.

[2017-06-13 22:55] #744 closed, assigned to nobody

[2017-06-13 22:57] DarwinJS commented on #764
@bingbing8 - I don't know the answer to "why" - but I do know that without doing this, the key files are not removed on Windows 10.  Win7 seems to work.

[2017-06-13 23:44] DarwinJS commented on #764
I updated to the latest module and still get the error if I don't provide -ReadAccessNeeded - but the workaround does work.  Thanks.

[2017-06-14 01:31] bagajjal opened #767 "ssh-shellhost - handle the stream read failures"
ssh-shellhost (with pty session), reads a binary stream from ssh client.
As of now ssh-shellhost reads utf8 stream and tries to convert to utf16. If the conversion fails then we exit the ssh-shellhost.
The ideal way is to wait for more data and then continue the processing.

[2017-06-14 03:57] gbraad commented on #765
This closes: https://github.com/DarwinJS/ChocoPackages/issues/34 and https://github.com/PowerShell/Win32-OpenSSH/issues/666 Thanks!

[2017-06-14 06:26] gbraad commented on #666
This now works as expected with the release from `choco install openssh`. Thanks

[2017-06-14 17:20] manojampalam commented on #444
Thanks @DarwinJS. I'll update the script.

[2017-06-14 17:47] bagajjal commented on #711
The fix is available in june-mid release..

[2017-06-14 17:47] #711 closed, assigned to bagajjal

[2017-06-14 17:48] bagajjal commented on #701
The fix is available in june-mid release..

[2017-06-14 17:48] #701 closed, assigned to bagajjal

[2017-06-14 17:48] #682 closed, assigned to bagajjal

[2017-06-14 19:09] bingbing8 commented on #764
@DarwinJS did you import the module with -force parameter. after this fix, i can do ```Repair-FilePermission .\ssh_host_dsa_key``` successfully on win7 and win10 including Nano. can you post the screenshot again if you still repro? Thanks! Here is my screenshot before and after:
![before](https://user-images.githubusercontent.com/12284203/27153592-e697e61e-5106-11e7-82ce-23fccb588b15.png)
![repair

[2017-06-14 19:46] Rondom commented on #711
Is the "june-mid-release" 0.0.15.0? If so, the issue is not fixed for me (and neither is #701)..
The behaviour is still the same with the above setup after upgrading. I have even done a reboot, it has not helped.

[2017-06-14 20:04] bagajjal commented on #711
No its 0.0.16.0

[2017-06-14 20:04] bagajjal commented on #711
Yet to be released

[2017-06-14 20:22] bingbing8 commented on #765
Great to know it works now. Thanks!

[2017-06-14 20:22] #765 closed, assigned to nobody

[2017-06-14 20:23] #745 closed, assigned to bingbing8

[2017-06-14 20:56] manojampalam commented on #752
@razrjk please submit a PR on https://github.com/PowerShell/openssh-portable for the proposed changes. Also open a new issue for sshd.exe -ddd

Also add details on where you installed Git for Windows from.

[2017-06-14 23:59] bagajjal opened #768 "SFTP - unicode output fails"
sftp> cd client_test_dir_язык
sftp> pwd
╤Å╨╖╤ï╨║

Note that, when the sftp output is redirected to a file (Ex - pester testcases), the output is written properly to a file.

[2017-06-15 00:45] bingbing8 opened #769 ""ssh-keygen.exe -A" does not produce any key files."
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `0.0.15.0`

**Client OperatingSystem**
Windows 7 Professional

**What is failing**
```.\ssh-keygen.exe -A``` does not produce any key files

**Expected output**
4 types of key files are generat

[2017-06-15 19:20] #769 closed, assigned to nobody

[2017-06-15 19:46] bagajjal commented on #768
Code is not broken rather we need to set the correct code page on console (chcp command)
Console code page needs to be changed for it to render any Unicode stream properly. For UTF8 stream it needs to be 65001.

[2017-06-15 19:46] #768 closed, assigned to bagajjal

[2017-06-15 20:04] bagajjal commented on #531
Fixed in the june mid release (0.0.16.0, yet to be released).

[2017-06-15 20:04] #531 closed, assigned to bagajjal

[2017-06-15 20:06] bagajjal commented on #673
@DHammarberg  - could you please provide the requested information.

[2017-06-15 20:10] bingbing8 commented on #764
move to Jun-End until get response from @DarwinJS

[2017-06-15 21:23] WojtekKozaczynski commented on #666
Release 0.0.15.0 **fails** for me in the same place that is, when the docker-machine it trying to contact a newly created host. Below is how a single such attempt looks in the log
- it finds the newly created host's IP address (I can ping the host on that address fine)
- it calls the OpenSHH executable, but that invocation fails with error 255
[code]

[2017-06-15 21:54] bagajjal commented on #666
@WojtekKozaczynski -
1) Can you please check the ssh version,
((Get-Item (Get-Command C:\Program Files\OpenSSH\ssh.exe).Source).VersionInfo.FileVersion)

2) If its 0.0.15.0 then please run this command and provide us the logs
ssh.exe -vvv -F /dev/null -o PasswordAuthentication=no -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=quiet -o ConnectionAttempts=3 -o ConnectTimeout

[2017-06-15 23:00] bagajjal commented on #717
@nightwish47 - Looks like this option (useroaming) is deprecated...

![image](https://user-images.githubusercontent.com/23668037/27205094-95cc15d8-51e3-11e7-8bc6-202bbd25ca5f.png)

[2017-06-15 23:00] #717 closed, assigned to bagajjal

[2017-06-16 02:20] bingbing8 opened #770 "SSHD service fails to start on Windows 7"
Please answer the following

**"OpenSSH for Windows" version**
0.0.16.0

**Server OperatingSystem**
win7

**Client OperatingSystem**

**What is failing**
Service failed to start with error:
A privilege that the service requires to function properly does not exist in the service account configuration.
You may use the Services Microsoft Management Console (MMC) snap-in (services.msc) and the Local S

[2017-06-16 02:59] #719 closed, assigned to nobody

[2017-06-16 06:46] manojampalam commented on #770
Issue: Install script on Win7 fails to assign SeAssignPrimaryTokenPrivilege privilege  to sshd account

Work around:
- Open control panel and navigate to
  - Administrative Tools >  Local Security Policy > Local Policies > User Rights Assignment.
- Double click **Replace a Process Level Token**
- Add **NT Service\SSHD**

[2017-06-16 12:54] DarwinJS commented on #764
The -force parameter does indeed work!
Now using this approach in chocolatey package 0.0.16.0

[2017-06-16 12:54] #764 closed, assigned to bingbing8

[2017-06-16 12:55] DarwinJS commented on #763
Thanks for all the help on this.

[2017-06-16 12:55] #763 closed, assigned to nobody

[2017-06-16 12:57] DarwinJS commented on #746
@bingbing8 - I simply meant that the actual code base itself may have been better off giving some time for the new permissions model.  Choco package using opensshutils seems to be handling the transition well enough.

[2017-06-16 12:57] #746 closed, assigned to nobody

[2017-06-16 18:58] bagajjal commented on #484
This is fixed by now, please test in the recent release (0.0.16.0)..
Reopen if you have any issues.

[2017-06-16 18:58] #484 closed, assigned to bagajjal

[2017-06-16 21:35] bingbing8 commented on #747
@lucastheisen can you try the [utility scripts](https://github.com/PowerShell/Win32-OpenSSH/wiki/OpenSSH-utility-scripts-to-fix-file-permissions) in [v0.0.16.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.16.0) to see if it can meet your requirement to set permissions on authorized_keys?
[code]
or
[code]

[2017-06-16 21:37] Rondom commented on #713
I would like to add Ctrl+Arrowkey (i.e. up,down,left,right) to the list.

[2017-06-16 21:46] Rondom commented on #711
0.0.16.0 works now when accessing a Windows-box from Linux.
Unfortunately with the above setup and steps, now pressing `ö` yields `` for the `ssh localhost` case.

[2017-06-16 21:51] bagajjal commented on #711
Can you check the chcp setting on the cmd.exe..

It works perfectly fine on the localhost
![image](https://user-images.githubusercontent.com/23668037/27245945-28582b5c-52a3-11e7-84de-70d37685aea1.png)

[2017-06-16 21:55] Rondom commented on #711
[code]

[2017-06-16 22:02] bagajjal commented on #711
I copied "ö" and pasted in the ssh window and it worked.. can you try this and see if it works...

[2017-06-16 22:03] Rondom commented on #711
Same behaviour when pasting :-(

[2017-06-16 22:23] bagajjal commented on #711
1) can you try setting the chcp to 65001
![image](https://user-images.githubusercontent.com/23668037/27246605-8396ef7c-52a7-11e7-8830-ddb5fb9230df.png)

2) If it didn't work then try another terminal like putty/Cygwin.
Linux client to windows server works fine but openssh windows client to openssh windows server doesn't work so mostly its something to windows client..

As far as I know, openssh wi

[2017-06-16 22:39] Rondom commented on #711
Once I do that, ö works still works locally, but when ssh-ing to localhost, it prints nothing!

[2017-06-16 22:47] bagajjal commented on #711
Did you try other ssh clients (putty /Cygwin) on the same machine..

[2017-06-16 22:57] Rondom commented on #711
Just downloaded Putty, works fine.

[2017-06-16 23:18] bingbing8 commented on #721
@DarwinJS Please see this wiki [Run OpenSSH Test](https://github.com/PowerShell/Win32-OpenSSH/wiki/Run-OpenSSH-Tests). Currently we run tests on win2k12 R2 and win10. The scripts currently don't not compatible with PSH 2.0 yet. We plan to update it to run on win7.

[2017-06-16 23:51] bagajjal commented on #411
This is fixed for the windows 10 users (by using windows 10 conhost support).
please go through the wiki for more information,
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

[2017-06-16 23:51] #411 closed, assigned to bagajjal

[2017-06-16 23:54] bagajjal commented on #670
Reopen with requested information..

[2017-06-16 23:54] #670 closed, assigned to bagajjal

[2017-06-17 02:00] bagajjal commented on #711
Please share your client OS details, I will try to reproduce at my end

[2017-06-17 05:25] WojtekKozaczynski commented on #666
Balu,

I executed the first command, and I am running 0.0.15.0
[code]
Here are the steps I followed
- I stopped the SSHD service and I modified the following line in the sshd_config file: LogLevel DEBUG3
- I restarted the SSHD service and executed the following docker-machine command
[code]
- as expected, the command created the testHost VM, but failed trying to connect to it using OpenSSH
- I pin

[2017-06-17 05:32] WojtekKozaczynski commented on #666
After I sent the message above I also noticed that the docker-machine complains that it cannot verify docker version of the host because the cert is signed by unknown authority. This may be relevant.
[code]

[2017-06-17 12:07] ghost commented on #670
Can't reproduce on current build, will open a new issue with the current error.

[2017-06-17 12:10] ghost commented on #289
Getting this too after updating sshd version.

OpenSSH_7.5p1, LibreSSL 2.5.3
Microsoft Windows [Version 10.0.15063]

bash.exe is launching correctly, but something is stopping it launching a session

![image](https://user-images.githubusercontent.com/159567/27252802-62012090-53aa-11e7-9237-15c6d7d7a468.png)

[2017-06-17 14:16] Rondom commented on #711
It's the same as in the initial issue description: Win 2016 (10.0.14393)

[2017-06-17 16:18] lucastheisen commented on #747
@bingbing8 , the first suggestion ends up spitting out a bunch of errors because it attempts to update permissions on all the files (including the sshd host keys which the non-admin user does not have permission to do).  It will, however, eventually run the permission update on the key in question...  But all the errors are rather distracting.  Perhaps that script could be updated to check if bein

[2017-06-17 16:18] #747 closed, assigned to nobody

[2017-06-18 01:56] DarwinJS opened #771 "OpenSSHUtils Module Not Handling Localization of User IDs for German"
A user reported the below error with the Chocolatey Package - but this is actually coming from the OpenSSHUtils module.

Here is the full Chocolatey verbose log (which reveals many other details about the user's target system) that contains the below error near the bottom: https://gist.githubusercontent.com/Waterdrop0815/39325828f4fc39595fce9304f1a98fda/raw/3de27c0e9700b9b9ae89a9ede94c0fa4ab1f15f4

[2017-06-18 13:28] mzji opened #772 "Local port forwarding failed: Network error: Permission denied"
Please close this issue. Something just wrong in my config. Now everything work like a charm.

[2017-06-18 15:00] cashcat opened #773 "OpenSSH-Win32.zip"
OpenSSH-Win32.zip can't download...please check...
OpenSSH-Win64.zip can't download...please check...

Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem

[2017-06-18 20:53] bingbing8 commented on #771
yes, I will fix it

[2017-06-18 20:53] #772 closed, assigned to nobody

[2017-06-18 20:56] bingbing8 commented on #773
@cashcat I tried, both zip package download fine. Is there anything wrong on your machine or network?

[2017-06-19 17:08] manojampalam commented on #771
@bingbing8 this may be an issue in code too that does SID lookups based on account names and account name comparisons. Please follow up.

[2017-06-19 17:09] manojampalam commented on #773
Reopen with details if this issue still persists.

[2017-06-19 17:09] #773 closed, assigned to nobody

[2017-06-19 17:19] manojampalam opened #774 "Enable streamable utf8 <--> utf16 codec"
A fundamental issue exists on the Unicode data transition boundary, when the data travels as a stream.

This may manifest as ssh remote sessions breaking down with rare and random failures/aborts.
Ex. https://github.com/PowerShell/Win32-OpenSSH/issues/767
To decode a Utf8 stream to Utf16 and vice versa, we need a stateful parser that accounts for partial input. The current implementation (that is

[2017-06-19 17:20] manojampalam commented on #767
dup #774

[2017-06-19 17:20] #767 closed, assigned to nobody

[2017-06-19 18:11] bagajjal commented on #289
bash.exe is not allowed for the network logons.. Its the limitation from the bash.exe..

[2017-06-19 18:18] bagajjal commented on #666
Looks like the problem is with the keys (C:\\Users\\wojtek\\.docker\\machine\\machines\\testHost\\id_rsa)... With the recent changes (0.0.15.0 release), ssh will check the file permissions of the key files.. please go through https://github.com/PowerShell/Win32-OpenSSH/wiki/OpenSSH-utility-scripts-to-fix-file-permissions and fix the file permission issues..

debug1: Next authentication method: pub

[2017-06-19 18:26] manojampalam commented on #748
Looked into this. It looks like OpenSSH doesn't support the SSH standard way of letting client change user password - (see SSH_MSG_USERAUTH_PASSWD_CHANGEREQ in ssh standard)
On Unix, it does it by explicit prompt over interactive session - check do_pwchange in session.c. This inherently is tied up to fork() in Unix and cannot be replicated on Windows.

The ideal way to support this on Windows woul

[2017-06-19 21:16] TomJampen opened #775 "ssh-agent cannot be started"
Hi

**"OpenSSH for Windows" version**
0.0.16.0

**Server OperatingSystem**
Windows Server 2008 R2 Enterprise

**Client OperatingSystem**
Debian Stretch

**What is failing**
Starting the ssh-agent service with "Start-Service ssh-agent" does not work:

    Start-Service : Der Dienst "ssh-agent (ssh-agent)" kann aufgrund des folgenden Fehlers nicht gestartet werden: Der Dienst ssh-agent kann nicht au

[2017-06-19 21:37] bagajjal commented on #713
@remittor - Could you please send a new PR that include your changes till the commitID - 63ff39259d7a26b33fcdaa3d42cfdf1441d8828a..

We can work on fixing the xterm related changes later.

[2017-06-19 23:05] bagajjal commented on #775
Looks like ssh-agent.exe can't be opened (OpenError: (System.ServiceProcess.ServiceController:ServiceController)..

Please check the access permissions
1) cd to folder where ssh-agent.exe is present
2) (Get-Item .\ssh-agent.exe).GetAccessControl('ACCESS').Access

[2017-06-19 23:23] bagajjal opened #776 "SFTP ls command to show rwx permissions for user"
SFTP ls command to show rwx permissions for user

[2017-06-20 00:55] glydeen opened #777 "AllowGroups appears to no longer function in sshd_config"
**OpenSSH for Windows**
0.0.16.0

**Server OperatingSystem**
 Windows Server 2016 Standard

**Client OperatingSystem**
Using OS X 10.12.5 Terminal (SFTP)

**What is failing**
Unable to authenticate when using "AllowGroups" in the sshd_config

AllowGroups	"SFTP-Users" (Group does exist in AD)

**Expected output**
Successful login

**Actual output**
Permission denied, please try again.

**Log shows*

[2017-06-20 03:34] TomJampen commented on #775
Thanks for your fast reply. ssh-agent.exe is present and the permissions are the following:

FileSystemRights  : FullControl
AccessControlType : Allow
IdentityReference : NT-AUTORITÄT\SYSTEM
IsInherited       : True
InheritanceFlags  : None
PropagationFlags  : None

FileSystemRights  : FullControl
AccessControlType : Allow
IdentityReference : VORDEFINIERT\Administratoren
IsInherited       : True
I

[2017-06-20 15:56] crose-88 opened #778 "ssh server randomly crashing when using sftp."
I'm using the sftpclient in paramiko to connect to the server to put files and list directories etc. I'm finding on both my Windows 7 server and Windows 10 server (machines running the SSH server) that paramiko is reporting the connection has been force closed at random times. It seems to be 50:50 as to if I see the connection force closed, or it connects successfully. When I look on the Windows 7

[2017-06-20 18:33] bagajjal commented on #778
Enable the logs in the sshd_config

Subsystem       sftp    sftp-server.exe -l DEBUG3
LOGLEVEL DEBUG3

While running sftp client, use -vvv flags (  .\sftp.exe -vvv user@IP) so that it dumps the logs onto the console.

Please share sshd.log, sftp-server.log and ssh log file.

I would suggest to do it manually (instead of running the script), since the probability of reproducing this is very high (5

[2017-06-20 20:16] manojampalam commented on #777
Is John.doe a domain account? If so can you try specifying in a format detailed at https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples

Domain users: Domain needs to be explicitly specified. Any of the following formats work
ssh -l user@domain host
ssh domain\user@host
ssh user@domain@host

Also, would you know how these 2 user Ids are associated - gary.lydeen and John.doe ?

[2017-06-20 20:19] manojampalam commented on #775
Try doing the following in an interactive and elevated cmd.exe
ssh-agent.exe -ddd

[2017-06-20 20:59] TomJampen commented on #775
I tried exactly as you told me (in an elevated cmd.exe) and got the followin error message:
C:\Program Files\OpenSSH-Win64/sshd_config: Permission denied

That's weird, because I set the permissions using the FixHostFilePermissions.ps1.

I've just run it again, now and the output is strange. It looks like a language issue:

Mostly the output is:

Current owner: ''. 'NT AUTHORITY\SYSTEM' should own

[2017-06-21 08:37] crose-88 commented on #778
So in an interesting development, if I enable debugging for the sftp-server, I can't reproduce the issue and I tried 10-15 times. As soon as I turn it off I could reproduce it again. Here is the debug output from the client running sftp.exe when the issue happens:

C:\Users\chris.TSNET\Documents\OpenSSH-Win32>.\sftp.exe -vvv ieuser@172.16.10.5
debug3: pipe - r-h:340,io:00BF2450,fd:3  w-h:336,io:00

[2017-06-21 16:05] #777 closed, assigned to nobody

[2017-06-21 16:28] manojampalam commented on #775
Thanks. This is indeed a localization issue. We'll have it fixed in the next drop. Please use 0.0.14.0 for now (this release does not have the permissions restrictions yet)

[2017-06-21 18:44] bingbing8 commented on #775
@TomJampen this is due to the same as #771. The fix has been checked in and will be available in next drop. Or please follow [Security protection wiki](https://github.com/PowerShell/Win32-OpenSSH/wiki/Security-protection-of-various-files-in-Win32-OpenSSH) to manually fix the file permissions if you run on non-English build.

[2017-06-21 18:48] manojampalam commented on #775
dup #771

[2017-06-21 18:48] #775 closed, assigned to nobody

[2017-06-22 11:29] philSixZero commented on #771
Had the same issue (since I am using a german WIN7 Version as well), but I could fix it by modifying line

`$systemAccount = New-Object System.Security.Principal.NTAccount("NT AUTHORITY", "SYSTEM")`

to

`$systemAccount = New-Object System.Security.Principal.NTAccount("NT-AUTORITÄT", "SYSTEM")`

in OpenSSHUtils.psm1. So I guess, you only have to check the language version which is used, to fix thi

[2017-06-22 16:14] megamorf commented on #771
It'd be better to just translate the SID to the locale of the system that the function is being run on.

See here: https://technet.microsoft.com/en-us/library/ff730940.aspx

[2017-06-22 16:24] DarwinJS commented on #771
@megamorf - yes that is what I suggested in the original issue and I believe @bingbing8 has already worked out the code.

[2017-06-22 17:38] bagajjal commented on #771
@philSixZero - for the first time failure (launching powershell from a different path), what did you set in the sshd_config (is it the full path of powershell.exe you would like to launch)? please share you sshd_config for both the cases.

since this is not related to the localization issue, could you please raise a new issue so that the bug is tracked and properly fixed.

[2017-06-22 18:31] brizzock commented on #403
this fixed my problem too. i closed/opened console and reinstalled poshgit and no more problems. i still don't understand the problem but THANK YOU. i would have probably blown away my whole dev workstation if that had persisted.

[2017-06-22 19:58] bagajjal opened #779 "AuthorizedKeysFile in sshd_config is not working"
add the below line in sshd_config,
AuthorizedKeysFile c:\test\authorized_keys_%u

The current code adds the current users home directory to the path mentioned in the sshd_config and messes up the path.

[2017-06-22 21:39] bingbing8 opened #780 "win7: run powershell on remote ssh session does not return until ENTER is click"
Please answer the following
**"OpenSSH for Windows" version**
0.0.16.0

**Server OperatingSystem**
Windows 7 Professional

**Client OperatingSystem**
Windows 7 Professional

**What is failing**
```ssh username@localhost powershell get-process ``` does not return

**Expected output**
the command should return

**Actual output**
the command hangs

[2017-06-22 21:45] bingbing8 opened #781 "win7: key based auth failed when when run ssh, scp, sftp in a loop"
Please answer the following
"OpenSSH for Windows" version
0.0.16.0

Server OperatingSystem
Windows 7 Professional

Client OperatingSystem
Windows 7 Professional

What is failing
remote user profile crashes when run ssh, scp, sftp in a loop
as the result, key based auth failed due to the fact the authorized_key file is not found

Expected output
all the commands should work

Actual output
[code]
wh

[2017-06-23 00:41] bingbing8 opened #782 "win7:the file created can't be deleted on remote sftp and ssh session"
"OpenSSH for Windows" version
0.0.16.0

Server OperatingSystem
Windows 7 Professional

Client OperatingSystem
Windows 7 Professional

What is failing
The file created/copied by the logon user can't be deleted: permission denied.

Expected output
The file should be able to be deleted

Actual output
[code]
When checking the file permission on the file, the Delete permission on the file is note enabl

[2017-06-23 05:16] manojampalam opened #783 "Fix password auth implementation in SSHD"
Current implementation passes user creds to ssh-agent. This is unnecessary, as sshd can perform a LogonUser to retrieve user token directly.

[2017-06-23 06:58] philSixZero opened #784 "subsystem executable paths with "spaces" do not work"
**"OpenSSH for Windows" version**
v0.0.16.0

**Server OperatingSystem**
Windows 7 Enterprise

**Client OperatingSystem**
UBuntu 16.04 / 16.10

**What is failing**
Execution of powershell as subsystem.

**Actual output**
I configured the sshd_config file as follows:
`Subsystem powershell C:\Program Files\PowerShell\6.0.0.17\powershell.exe -sshs -NoLogo -NoProfile`

The sshd log file states followin

[2017-06-23 11:08] HSSupport commented on #780
can confirm this issue with 0.16 too
this issue REMAINS even if you remove open-ssh and reinstall version 0.15 (no idea if remains post-reboot though, cant reboot yet)

[2017-06-23 11:09] smokeintheshell commented on #246
@bagajjal From my experimentation it seems like currently the best method to achieve what you want is to the openssh-server from aptitude. I have yet to achieve getting this to run as a service or from boot, but there are many ways to get it to launch the daemon at user log in. From the linux openssh you can launch cmd.exe and a limited functioning powershell window.
Hope this helps

[2017-06-23 18:02] bingbing8 opened #785 "E2E test updates to run on win7 psh2"

[2017-06-23 20:14] KeithGlidewell commented on #96
Is there any timeline for when we might see GSSAPI/Kerb support?  Thanks.

[2017-06-24 01:51] bagajjal commented on #784
@philSixZero - I tried this and got a different error.
1) What does this command do ?
C:\Program Files\PowerShell\6.0.0.17\powershell.exe -sshs -NoLogo -NoProfile

2) Here is the analysis,
My sshdconfig -
Subsystem       powershell    C:\Program Files\PowerShell\6.0.0.14\powershell.exe -sshs -NoLogo -NoProfile

When I tried to do ssh using "./ssh.exe localadmin@127.0.0.1 -s powershell".. my sshd.l

[2017-06-24 01:55] bagajjal commented on #784
SSHD receive SIGCHLD from the ssh client so it closed the connection.

42292 17:54:23:530 debug2: channel 0: read 103 from efd 11
42292 17:54:23:531 debug3: channel 0: discard efd
42292 17:54:23:542 debug2: channel 0: read<=0 rfd 9 len 0
42292 17:54:23:542 debug2: channel 0: read failed
42292 17:54:23:542 debug2: channel 0: close_read
42292 17:54:23:542 debug3: close - io:00000280A9F9BEE0, type:2,

[2017-06-24 01:57] bagajjal commented on #784
The same thing works if you specify cmd.exe in sshd_config
Subsystem       mycmd    C:\Windows\System32\cmd.exe

use
ssh user@ip -s mycmd

[2017-06-24 14:12] omniproc commented on #307
I'd like to see PKCS11 as well. As we're moving away from traditional passwords this would be a great deal.

[2017-06-24 19:09] bingbing8 opened #786 "SFTP pester tests delete all files under regress\pester when $OpenSSHTestInfo is $null"
if set-opensshtestenvironment is not called, $OpenSSHTestInfo is $null.
SFTP pester tests delete all files under regress\pester when $OpenSSHTestInfo is $null.

[2017-06-26 17:57] PillowFish opened #787 "[Security] SSHD locks and fills hard drive when scanned by nmap (DOS Attack)"
**"OpenSSH for Windows" version**
v0.0.16.0
OpenSSH_7.5, LibreSSL 2.5.3

**Server OperatingSystem**
Windows 7 Professional

**Client OperatingSystem**
Ubuntu 14.04 (running nmap 7.50)

**What is failing**
The SSHD process gets stuck in an infinite loop filling the sshd.log.

**Expected output**
The expectation is that the service will recover from an nmap scan and continue normal operations.

**Ac

[2017-06-26 18:16] wsoyinka opened #788 "cisco ESA"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).Produc

[2017-06-26 22:06] bagajjal commented on #788
Please provide the description of your issue

[2017-06-27 07:17] philSixZero commented on #784
Using a direct ssh session from Ubuntu to Windows with the "-s powershell" argument isn't working with this workaround. But somehow the "Enter-PSSession"-command in PowerShell 6 is only running with the relative path...

[2017-06-27 19:22] #786 closed, assigned to bingbing8

[2017-06-27 19:22] #785 closed, assigned to bingbing8

[2017-06-27 19:25] bingbing8 commented on #721
@DarwinJS  with the commit https://github.com/PowerShell/openssh-portable/commit/eb0ab1b5228008c4bfc095de2e834f88b819b6ac, test should be run on win7. I will close this issue. please reopen if there is any other concerns. thanks!

[2017-06-27 20:23] DarwinJS commented on #721
@bingbing8 - sounds good - thanks for all your work on making it support all the platforms that openssh supports.

[2017-06-27 21:33] bingbing8 commented on #721
@DarwinJS  there are a known issue on win7: https://github.com/PowerShell/Win32-OpenSSH/issues/770 and https://github.com/PowerShell/Win32-OpenSSH/issues/781. You need to workaround the first one before you run the tests. for second one, there maybe some random test failures.

[2017-06-27 23:34] DarwinJS commented on #721
The universal installer has been giving the SeAssignPrimaryTokenPrivilege to "NT Service\SSHD" for a long  time now.  Possible since September of last year?

[2017-06-28 05:13] manojampalam commented on #787
Thanks for reporting this. We'll follow up.

[2017-06-28 05:38] #788 closed, assigned to nobody

[2017-06-28 06:39] manojampalam commented on #784
The issue is with space " " in the subsystem executable path (Program<space>Files).  I checked the code and the current implementation does not support it.

As a work around, you could create a symlink  (with no spaces in its path) the following way and specify the link in the subsystem path
mklink /H c:\pslink.exe "C:\Program Files\PowerShell\6.0.0.17\powershell.exe"

Add this in sshd_config
Subs

[2017-06-28 06:46] manojampalam commented on #96
Its not there yet in the horizon. What would be your client/server side GSSAPI providers?

[2017-06-28 21:04] #766 closed, assigned to nobody

[2017-06-28 21:04] #783 closed, assigned to nobody

[2017-06-28 23:06] bagajjal opened #789 "[SECURITY]SFTP - remove comspec"
remove the dependency on the comspec environment variable.

[2017-06-28 23:11] bagajjal commented on #713
@remittor - Could you please do the needful so that we can pick up your changes to june end release.
If you are busy then can I pick your changes and submit to june end release?
Please do reply.

[2017-06-29 01:21] bagajjal commented on #784
verified this, OpenSSH Unix code also fails if the subsystem has space..

[2017-06-29 08:18] remittor commented on #713
Please do this.

[2017-06-29 20:02] bagajjal commented on #784
tested on the unix environment. Unix has a way to escape the spaces in the path..
ex - /home/Ubuntu/test\ directory/ -> Here we escape the space in "test directory" using \.

We need to find a way that suits windows.

[2017-06-29 20:04] #789 closed, assigned to bagajjal

[2017-06-29 20:04] #779 closed, assigned to bagajjal

[2017-06-29 20:05] #776 closed, assigned to bagajjal

[2017-06-29 20:05] #596 closed, assigned to bagajjal

[2017-06-29 20:40] mbtts commented on #770
The location "_From this location_" needs to be your machine name (which may not be the default).

[2017-06-30 00:04] jasongin commented on #553
I hit this problem on a Windows 10 system joined to Azure AD ("work or school account").

    NetUserGetInfo() failed with error: 5

After I disconnected the system from Azure AD and joined a regular local network domain, then OpenSSH authentication succeeded.

[2017-06-30 00:44] bagajjal commented on #778
Any update?

Few observations..
1) Looks like ssh-agent is not running..
debug3: unable to connect to pipe ssh-agent, error: 2
debug3: close - io:00178930, type:2, fd:4, table_index:4
debug1: pubkey_prepare: ssh_get_authentication_socket: No such file or directory

2) From sshd.log, change the sshd_config to "PidFile .\sshd.pid". Refer to https://github.com/PowerShell/Win32-OpenSSH/issues/493

err

[2017-06-30 19:19] bingbing8 commented on #771
script is fixed. please re-open if you see other issues.

[2017-06-30 19:19] #771 closed, assigned to bingbing8

[2017-06-30 19:21] bingbing8 commented on #721
yes, but the script does not do the right on win7

[2017-06-30 19:21] #721 closed, assigned to nobody

[2017-06-30 21:12] #713 closed, assigned to bagajjal

[2017-06-30 21:50] bagajjal commented on #713
@laughterk -
1) control+c is been sent to the console but looks like its not honoring.. if you would like to check then do a "ping 127.0.0.1" and press control+c.. Its an issue from the console side not from openssh code.
2) autocompletion is tab.

@remittor - I have merged only the keystroke mapping for now as there are too many merge issues and I need to retest the merged part. The rest of the c

[2017-06-30 21:55] DarwinJS commented on #721
Not sure what you mean - I have my own code.  Are you saying the chocolatey package is not doing the grant of the token privilege correctly?

[2017-07-02 07:05] comsyspro opened #790 "Only AllowTcpForwarding without SFTP and without shell access"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
0.0.17.0

**Client OperatingSystem**
Windows 7

**What is failing**
Is it possible to configure in the sshd_config only functioning for "AllowTcpForwarding yes" but without SFTP and without shel

[2017-07-02 10:12] neoclust opened #791 "only allowed to connect once"
Hello,

i am using openssh for windows. I can connect one time without any problem. But after unloging i can't connect anymore.

In the logs i have:

4296 12:03:15 235 Connection closed by authenticating user Neoclust 192.168.0.50 port 52278

if i add debugs i can see that in the next connections, it tries to use C:\\Windows/.ssh/authorized_keys
to find my ssh key, and in the first it was well try

[2017-07-02 21:41] bagajjal commented on #791
Which version of win32 open ssh are you using?
Are you using key based authentication or password based authentication?
Please share DEBUG3 sshd.log

[2017-07-02 21:43] bagajjal commented on #791
Which operating system (client and server)?
By default it will try to see if there are authentication keys present.. You can disable this in sshs_config

[2017-07-03 07:10] neoclust commented on #791
I tried with windows 7 and 10.
The linux which  tries to connect is a debian.

[2017-07-03 07:10] neoclust commented on #791
First connection:

3908 21:33:37 142 Server listening on :: port 22.
3908 21:33:37 142 Server listening on 0.0.0.0 port 22.
5372 08:55:15 496 debug1: child socket: 520
5372 08:55:15 496 debug1: child startup_pipe: 540
5372 08:55:15 496 Connection from 192.168.0.50 port 52408 on 192.168.0.38 port 22
5372 08:55:15 496 debug1: Client protocol version 2.0; client software version OpenSSH_6.7p1 Debian-

[2017-07-03 07:15] neoclust commented on #791
The second connction gives

root@Pulse-Jessie:~# ssh -o IdentityFile=/root/.ssh/id_rsa -o StrictHostKeyChecking=no -o Batchmode=yes -o PasswordAuthentication=no -o ServerAliveInterval=10 -o CheckHostIP=no -o ConnectTimeout=10 -l pulse 192.168.0.38
Permission denied (publickey,keyboard-interactive).

and the logs:

5372 08:55:28 416 debug3: receive packet: type 80
5372 08:55:28 416 debug1: server_i

[2017-07-03 08:19] neoclust commented on #791
strangely when i log, the HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\ProfileList\ProfileImagePath is changed from C:\Program Files (x86)\Pulse to  C:\Users\pulse

[2017-07-03 08:31] neoclust commented on #791
last missing information i am using win32-openssh 0.0.12

tested with password based login, => it works OK

[2017-07-03 19:21] bagajjal commented on #791
windows assigns the ProfileImagePath to "c:\users\<user_name>". Not sure why you are referring to "C:\Program Files (x86)\Pulse"..

sshd will read the authorized_keys from the regedit (HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\ProfileList\ProfileImagePath). Are you saying this regedit got corrupted? Please provide the value before (working scenario) and after (not working sce

[2017-07-03 20:21] bagajjal opened #792 ""PermitTTY no" is not working."
In sshd_config if you specify "PermitTTY no" then we shouldn't allow the terminal at the server side.

[2017-07-03 20:29] bagajjal commented on #792
Same behavior as UNIX code.. so NOT VALID..

[2017-07-03 20:29] #792 closed, assigned to nobody

[2017-07-03 20:36] bagajjal commented on #790
Use

ForceCommand cmd.exe /C echo no shell access

Incase if you want to display the custom message ("no shell access") at the client side then add this line to sshd_config.
"PermitTTY no"

[2017-07-03 23:02] DarwinJS commented on #771
It looks like this is not compatible with Nano like the previous approach was.

I do not seem to have the ability to reopen this issue.

![image](https://user-images.githubusercontent.com/11597190/27809904-15c99bc4-6022-11e7-91f9-80cbf2b9394c.png)

[2017-07-04 01:40] bingbing8 opened #793 "Need to remove the dependency of secedit.exe in install-sshd.ps1"
secedit.exe does not exist in latest Nano server

[2017-07-04 06:51] comsyspro commented on #790
Thanks for your tip, but I solved it now with following code line:

[code]
It is important to add `& pause` behind the echo command because it would otherwise exit the echo command directly after execution and the ssh connection will be interrupted. With the `& pause` command the connection stays open until you press the 'enter' key.

[code]
But one problem exists in this case: The sftp server is

[2017-07-04 07:08] #790 closed, assigned to bagajjal

[2017-07-04 12:27] DarwinJS opened #794 "Latest OpenSSHUtils.psm1 Not Compatible with Nano"
Opening new issue, rather than reopening #771

The changes to OpenSSHUtils.psm1 do not work with Nano because they assume the ACL is returning user ids when Nano returns SIDs.

![image](https://user-images.githubusercontent.com/11597190/27830045-8c9ed06e-6092-11e7-81fe-5a16c894c5ee.png)

[2017-07-04 12:46] DarwinJS commented on #794
FYI - The fix in the pull request is in the Chocolatey package for 0.0.17.0

[2017-07-05 09:55] wim-h opened #795 "sshd service can not start on Windows 7"
Please answer the following

**"OpenSSH for Windows" version**
0.0.17.0

**Server OperatingSystem**
Windows 7 Professional 32bit
Including the fix as per #770

**What is failing**
The sshd service fails to start

**Expected output**
A running sshd service.

**Actual output**
Starting the service yields the following error message:

Windows can not start the sshd service on Local Computer.

Error 2

[2017-07-05 16:08] bagajjal commented on #795
Are you starting the sshd from a cmd that's opened in administrative mode?

If this doesn't work then execute in debug mode (sshd.exe -ddd) to investigate further.

[2017-07-05 18:49] Chinggis6 opened #796 "Cannot connect to Cisco devices (diffie-hellman-group1-sha1)"
I installed through [chocolatey](https://github.com/chocolatey) on Windows 10.

    port 22: no matching key exchange method found. Their offer: diffie-hellman-group1-sha1

And when adding:

    ssh -o KexAlgorithms=diffie-hellman-group1-sha1 <IP>

the result is:

    Unable to negotiate with <IP> port 22: no matching cipher found. Their offer: aes128-cbc,3des-cbc,aes192-cbc,aes256-cbc

The latter

[2017-07-05 19:03] bagajjal commented on #796
Are you sure you are using win32-openssh?
From task manager, go to "details" tab.. click on the sshd, right click and select "open file location"
![image](https://user-images.githubusercontent.com/23668037/27880336-7de8ae72-6179-11e7-8156-a5c64e4ddc2d.png)

If yes,  please share the sshd.log in the logs folder and also ssh client logs (ssh.exe -vvv user@ip)

[2017-07-05 19:12] bagajjal commented on #791
Any update on this, can this be closed?

[2017-07-05 19:15] DarwinJS commented on #796
@Chinggis6 - Does your company possibly disable Diffie-Hellman as per this advisory?   https://technet.microsoft.com/en-us/library/security/ms15-055.aspx

[2017-07-05 19:20] DarwinJS opened #797 "Does OpenSSH Automatically Obey Disabled Ciphers in the SCHANNEL Registry Key?"
Pardon my ignorance of the implementation of OpenSSH on Windows :)

At my company we disable any SSL cipher or key exchange algorithm advised by CIS.

If we are configuring the SCHANNEL registry keys as described in the below articles, are we automatically covered for disabling openssh usage of the same ciphers and algorithms?

These are not necessarily exhaustive:
https://support.microsoft.com/en

[2017-07-05 19:37] neoclust commented on #791
i take the time to add more infos on friday ( i am off until this :/ )

[2017-07-05 19:49] bagajjal commented on #797
Thanks for bringing this up.
As of now we don't do this, I think it is good to have this.

[2017-07-05 19:57] bagajjal opened #798 "[Regression] "ssh-add.exe -D" is not working."
E:\test>.\ssh-add.exe -l
256 SHA256:7jX2v3n66lWH77I/Q5dxxSV0APJB2ZFgCQsKJPx+yE4 user@domain@Id (ED25519)
2048 SHA256:7sbiARLFtr5gW/dT6MmZMaZxZ/aPxjlQfaXHNbxYOoM id_rsa (RSA)
2048 SHA256:DBMwrOGqDAyQgUFb2KxgA9HAwzzUfY33Vl4Wm6RBQQg C:/testdir/rsa (RSA)
256 SHA256:KbZvnJj+zSWjbz6ISg4x1FTjMKdFW5laA1SsXQpZpOc user@domain@Id (ED25519)
256 SHA256:Mm86DBZ39GRlkmPikKeMSLNzHGdGGee1wyKIQZlm1eQ user@domain@Id

[2017-07-06 05:55] manojampalam commented on #797
I don't see a compelling reason for OpenSSH to respect schannel config - it will end up resulting in unnecessary confusion, given that there is a well known and documented way to add restrictions using sshd_config.

[2017-07-06 06:02] manojampalam commented on #795
We may have missed testing 32-bit drop on Win7.  Can you check if you see the same issue with 0.0.16.0 too?

[2017-07-06 06:07] manojampalam commented on #796
Issue is with cipher negotiation failure - that happens when client and server do not speak any common ciphers.
Do a "ssh -vv" and check what's being negotiated. (sample below: ctos means client to server)

ciphers ctos: chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr
ciphers stoc: chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr

[2017-07-06 06:14] wim-h commented on #795
Starting from an administrative command prompt works, it waits for incoming connections.
But executing an ssh command yields a forced close of sshd.exe:

The program has stopped working. Windows can check online for a solution to the problem.
. Check online. ...
. Close the program

Output of sshd.exe -ddd ( I've skipped the initial setup and key exchange parts, as that seems to work):
debug1: Ent

[2017-07-06 06:22] wim-h commented on #795
Downloaded and tested v0.0.16.0:
Starting sshd service using Services Control Panel: Same error as 0.0.17.

Starting sshd -ddd on command line: same behaviour as 0.0.16

[2017-07-06 06:23] wim-h commented on #795
Both 0.0.17 and 0.0.16?
Do you know if 64 bit testing has been done?

[2017-07-06 11:19] crose-88 commented on #778
So I've retested with the fixed pid file and it makes no difference. I've also retested with debug running on the ssh server, but not on the SFTP-server to see what effect that had. I could then see the issue reproducing and in the sshd logs I could see additional debug output. I've attached the sshd log which does cover the issue reproducing to hopefully help with this.

To help with completeness

[2017-07-06 11:35] wim-h commented on #795
Unable to start sshd service from services control panel using 0.0.17.0 on Win7 64 bit.
Same behaviour as on Win7 32bit.

Running sshd -ddd from Administrative command prompt also behaves as Win7 32 bit.

[2017-07-06 12:19] DarwinJS commented on #797
Copying @SteveL-MSFT and @joeyaiello

To me the reasons are both compelling and significant:
- This location is well documented so it is easier to learn that it should be addressed.
- This location addressed by many existing security standards and tools.
- This location is directly configurable by group policy (local and AD configured)
- This location can be pre-populated before sshd or ssh are in

[2017-07-06 17:15] bingbing8 commented on #795
@wim-h this is a known issue on win7. please refer to #770

[2017-07-06 17:31] bingbing8 commented on #794
@DarwinJS Thanks for the PR. I checked on my Nano server, all of the IdentityReference are of user ids. I think is this is not specific to Nano server. It could happen on other platforms too. I see in some cases where those virtual accounts are invalid on the machine, the identityReference is not translatable, then the identityReference are with sid string. for example, when openssh is uninstalled

[2017-07-06 17:38] bagajjal commented on #795
Looks like ssh client is closing the connection.. can you please share the ssh client logs as well (ssh.exe -vvv user@ip)

[2017-07-06 18:48] bagajjal commented on #778
Couldn't get much information from logs as the connection close triggered from the client side... To make progress we need the client side logs (ssh.exe -vvv user@ip and  sftp.exe -vvv user@IP),

1) Can you try using a different SSH client (win23-openssh client or putty) instead of "paramiko".
I tried to install "paramiko" but it failed
    build/temp.linux-x86_64-2.7/_openssl.c:434:30: fatal erro

[2017-07-06 18:59] DarwinJS commented on #794
@bingbing8 - I was indeed testing this on an "upgrade" - but I believe I was upgrading Win 7 as well and didn't see it.  Hopefully that code will help with whatever the conditions are where there occurs and it's good to know it is not Nano specific.

[2017-07-06 19:31] bagajjal opened #799 "Terminal fixes"
Terminal code cleanup and control sequence handling..

[2017-07-06 20:21] devonfury opened #800 "Configure PowerShell as default shell"
Please answer the following

**"OpenSSH for Windows" version**
0.0.16.0

**Server OperatingSystem**
 Windows Server 2012 R2 Standard

**What is failing**
Unable to change the default shell from cmd to PowerShell

[2017-07-06 20:37] bagajjal commented on #800
Try adding this in sshd_config...

Match User *
       ForceCommand C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe

Please change the path of the powershell based on your system configuration.

[2017-07-06 20:47] devonfury commented on #800
That worked.

Thanks

[2017-07-06 20:47] #800 closed, assigned to bagajjal

[2017-07-06 20:55] bagajjal commented on #246
Please refer to this.
https://github.com/PowerShell/Win32-OpenSSH/issues/800

WSL bash can't be launched from ssh,
https://github.com/PowerShell/Win32-OpenSSH/issues/289

[2017-07-06 21:34] #794 closed, assigned to nobody

[2017-07-07 09:43] crose-88 commented on #778
I've reproduced this again with the sftp client bundled in with the server. The client logs when hitting this issue are:

C:\Users\chris.TSNET\Downloads\OpenSSH-Win32\OpenSSH-Win32>sftp.exe -vvv user@172.16.10.7
debug3: pipe - r-h:348,io:013AB1B0,fd:3  w-h:344,io:013AB230,fd:4
debug3: pipe - r-h:356,io:013C42B8,fd:5  w-h:352,io:013C4338,fd:6
debug3: spawning "C:\\Users\\chris.TSNET\\Downloads\\Ope

[2017-07-07 09:53] crose-88 commented on #778
Ok, everything works fine, I can't reproduce with the SFTP debug enabled.

debug2: fd 3 setting TCP_NODELAY
debug2: client_session2_setup: id 0
debug1: Sending subsystem: sftp
debug2: channel 0: request subsystem confirm 1
debug3: send packet: type 98
debug2: callback done
debug2: channel 0: open confirm rwindow 0 rmax 32768
debug2: channel 0: rcvd adjust 2097152
debug3: receive packet: type 99
de

[2017-07-07 22:28] #798 closed, assigned to manojampalam

[2017-07-07 23:08] bagajjal commented on #148
Verified this on the latest build and it seems to work fine..
Please reopen if you still have issues..

E:\test>del c:\Users\test_user\.ssh\id_rsa*

E:\test>.\ssh-keygen.exe -t rsa
Generating public/private rsa key pair.
Enter file in which to save the key (c:\Users\test_user/.ssh/id_rsa):
Enter passphrase (empty for no passphrase):
Enter same passphrase again:
Your identification has been saved i

[2017-07-07 23:08] #148 closed

[2017-07-08 00:49] bagajjal commented on #391
Its fixed, please check the latest release..

Here is the sshd.log message,
36464 17:46:20:474 Connection from 2001:4898:e0:69:c567:fecb:2093:798f port 62742 on 2001:4898:e0:69:95ce:cc02:bbad:38bd port 22

[2017-07-08 00:49] #391 closed, assigned to bagajjal

[2017-07-08 17:28] hdatma opened #801 "Auth: "failed none for""
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 0.0.17.0

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
MacOS 10.12.5 with custom OpenSSH 7.5p1

**What is failing**
All is well, except for the following. The server lo

[2017-07-09 23:57] icf3 opened #802 "emacs terminal problem"
This is a terminal issue and Windows SSH client to Linux/Unix/macOS (*nix) SSH server CASE.
vi is work. but emacs is not work.

OpenSSH for Windows version : 0.0.17.0
Server Linux / Debian / armbian.
Client Windows10

Expected output
![ssh3](https://user-images.githubusercontent.com/30029117/27998549-29903468-654c-11e7-85d7-86005e343929.png)

Actual output
![ssh1](https://user-images.githubusercon

[2017-07-10 02:32] x9f5yjkq commented on #391
Hi.

Thanks for reply.
I could confirm it too.

From: bagajjal [mailto:notifications@github.com]
Sent: Saturday, July 08, 2017 9:50 AM
To: PowerShell/Win32-OpenSSH
Cc: Ito, Hiroshi (SIE); Author
Subject: Re: [PowerShell/Win32-OpenSSH] When you connect with an IPv6 address, it is displayed bad address to sshd.log. (#391)

Its fixed, please check the latest release..

Here is the sshd.log message,
3

[2017-07-10 14:20] hdatma opened #803 "KexAlgorithms curve25519-sha256@libssh.org on Windows"
**"OpenSSH for Windows" version**
0.0.17.0

**Server OperatingSystem**
Windows 10 Pro
Windows Server 2012 Foundation

**Client OperatingSystem**
MacOS 10.12.5 with custom OpenSSH 7.5p1

**What is failing**

Two SSH servers, with exactly the same OpenSSH software version and sshd_conf.

On Windows Server: no matching key exchange method found
On Windows 10: all is well.

This is the log on Windows

[2017-07-10 15:37] bagajjal commented on #803
Kex negotiation will be initiated by both client and server.. In client it picks either from ssh_config or through command line arguments.. In sshd it picks from sshd_config or command line arguments if you start as non-service process or default kex algorithms.. Could you please check this configuration in both the systems and compare both the ssh logs (ssh.exe -vvv user@ip) and sshd log with deb

[2017-07-10 20:32] bingbing8 opened #804 "test fixes for latest product changes"
Permission denied, please try again.
Permission denied, please try again.
sshtest_ssouser@localhost: Permission denied (publickey,password,keyboard-interactive).

previously the client output were (one more try):
Permission denied, please try again.
Permission denied, please try again.
Permission denied (publickey,password,keyboard-interactive).
The pattern selection failed. I will fix the test

[2017-07-10 20:45] manojampalam commented on #597
password authentication is done within sshd itself now.

[2017-07-10 20:45] #597 closed, assigned to nobody

[2017-07-10 22:28] bagajjal commented on #787
@PillowFish - I couldn't reproduce this at my end.. I didn't see the error message in sshd.log file (error: accept: Connection reset") and the sshd.log is not growing..
Am I missing something here?

I ran "nmap -sV -p 22 127.0.0.1", it ran successfully..

Starting Nmap 7.50 ( https://nmap.org ) at 2017-07-10 15:24 Pacific Daylight Time
Nmap scan report for localhost (127.0.0.1)
Host is up (0.0010s

[2017-07-10 22:46] rivy commented on #108
@manojampalam , Please re-open this... the issue is *not* fixed (tested in most recent version "v0.0.17.0").

[2017-07-10 23:01] bagajjal commented on #108
@rivy - It depends on the client operating system you are using.
If the client operating system is windows 10+ then the whole cmd.exe screen will not get cleared.. otherwise  the whoel cmd.exe screen will get cleared..
This is the basic limitation that we have..

Please confirm what is your client operating system.

[2017-07-10 23:06] bagajjal commented on #108
Incase if you are not using windows 10+ OS then you can use (ssh.exe user@ip -T)

[2017-07-10 23:13] rivy commented on #108
Win10+ with most recent non-Insider update, from CMD.

The screen is cleared on connect every time.

The scrollback buffer isn't erased anymore, but the screen is cleared, with output starting at the top left.

For Win10+, `ssh user@IP -T` does prevent screen clearing, but hangs at that point, requiring a <kbd>CTRL-C</kbd>.

[2017-07-10 23:18] bagajjal commented on #108
The cursor will be moved to the top of the visible screen.. The content will not get cleared so you will still have the whole screen buffer prior to issuing ssh.. Is this a problem? if yes, why?

[2017-07-10 23:24] rivy commented on #108
Yes, the scrollback buffer is still available, but you scrolled the entire screen out of visual range. You have to scroll back into the history to see recent commands. It's annoying and not the usual operation for the `ssh` client.

`ssh user@IP -C "ls -al"` just adds to the current screen, scrolling as necessary.

So, why are you shifting everything out of view for an interactive login?

If I wan

[2017-07-10 23:35] bagajjal commented on #108
Its required to support the ssh clients running on the downlevel OS..
Windows 10 provides the support of conhost.exe which provides the ability to parse the VT Control sequences but the downlevel OS doesn't have this facility. so for the downlevel OS, we have our own ansi parser with limited functionality. Right now we are not investing on our ansi parser.
Our own ansi parser requires the clearscr

[2017-07-10 23:39] bagajjal commented on #108
Regarding "-T", the screen doesn't get cleared..
Here is the snapshot
![image](https://user-images.githubusercontent.com/23668037/28044798-574a681e-658e-11e7-98a1-8a71116dbbab.png)

[2017-07-11 00:29] bagajjal commented on #108
Windows OS doesn't provide the pseudo terminal support so we have implemented this using win32 APIs. SSH Server will always send the (x,y) coordinates to SSH clients.

SSH server doesn't know about the clients (x,y) coordinates as the SSH standard doesn't have this.
SSH server sends the data starting from (0,0) coordinates to client so the SSH client will start writing the data from the top right

[2017-07-11 01:05] rivy commented on #108
I understand what you are saying, but I believe you are speaking about an OpenSSH-Win32 client connecting to your OpenSSH-Win32 server implementation. And, if the limitations of your server daemon really necessitate that behavior then I guess that is that... odd, a bit surprising/annoying, and likely a problem for linux clients connecting, but fine.

But that's not the issue in this case. I'm usin

[2017-07-11 01:21] rivy commented on #108
Sorry, but the message about the downlevel OS ansi parser limitations wasn't visible within the github thread, only seen later via email... responding here...

So, I understand that downlevel OS's might have some limitations and quirkiness. But, I'm using Win10 with the full conhost.exe implementation. Why have the quirk here?

And, I'm connecting to a linux `sshd`, so, I believe the client is scr

[2017-07-11 18:28] #793 closed, assigned to bingbing8

[2017-07-11 18:28] #770 closed, assigned to nobody

[2017-07-11 21:01] bagajjal commented on #108
@rivy - SSH Client moves the cursor to top of the visible window as the clearscreen in windows clears the content of the visible window. This is a bug with the windows 10 console team so to mitigate this we are moving the cursor to top of the visible window. This can be fixed in a hacky way.. **We will fix this for the July-Mid release**.This will solve the clear screen problem when you connect fr

[2017-07-12 08:39] rgl commented on #797
OpenSSH does not uses the SChannel library, it uses LibreSSL. Having it poking at the schannel settings would be pretty unexpected.

[2017-07-12 14:39] geoffreywiseman commented on #484
This has been driving me nuts for several days now. Finally I found this issue. 👍

[2017-07-12 18:40] bagajjal opened #805 "ssh -T is not working when connected to unix ssh server"
ssh -T is not working when connected to unix ssh server.

[2017-07-12 18:41] bagajjal opened #806 "vi arrow keys are not working while connected to unix ssh server"
vi arrow keys are not working while connected to unix ssh server

[2017-07-12 18:43] bagajjal opened #807 "Clearscreen issue while connecting to unix ssh server"
When we connect to UNIX ssh server from win32 ssh client, the cursor is moved to top right and the visible window is moved.

[2017-07-12 19:37] darkverbito opened #808 "Invoking remote commands into WSL (bash) fails"
Open SSH 0.0.17.0
Windows 10 Enterprise N
Any SSH client (Mac OS SSH, PLINK)

I'm having success using SSH as follows:

bobby {~/code/ssh}  ➩ ssh -i sshkey bobby@40.116.167.230
Microsoft Windows [Version 10.0.14393]
(c) 2016 Microsoft Corporation. All rights reserved.

bobby@WINDOWS-TST C:\Users\bobby>
bobby@WINDOWS-TST C:\Users>ls -l
total 37
lrwxrwxrwx 1 bobby 197121  14 Jul 16  2016 'All Users'

[2017-07-12 19:58] bagajjal commented on #808
duplicate of https://github.com/PowerShell/Win32-OpenSSH/issues/289

bash.exe is not allowed for the network logons.. Its the limitation from the bash.exe..

[2017-07-12 19:59] darkverbito commented on #808
That makes no sense. Look it is working interactively.

[2017-07-12 20:00] darkverbito commented on #808
Also note that the error for 289 is resolved if you adjust the DCOM as I indicated.

[2017-07-12 20:00] darkverbito commented on #289
I had to set Local Launch and Activation permissions for my user by taking control of the registry keys:

HKEY_LOCAL_MACHINE\SOFTWARE\Classes\AppID{F72671A9-012C-4725-9D2F-2A4D32D65169}
HKEY_CLASSES_ROOT\CLSID{4f476546-b412-4579-b64c-123df331e3d6}

Then adjusting the permissions in DCOM component services for AppId F72671A9-012C-4725-9D2F-2A4D32D65169. Before doing that I was getting an error 0x80

[2017-07-12 20:02] darkverbito commented on #808
Please re-open this. It should not be closed.

@manojampalam @quamrulmina @dkulwin @arif-pragmasys

[2017-07-12 20:03] bingbing8 commented on #13
whenever applicable:
replace memcpy with memcpy_s
replace strlen with strnlen_s
replace vsnprintf with vsnprintf_s
replace snprintf with _snprintf_s
replace strcpy with strcpy_s
replace wcscpy with wcscpy_s
replace strcat with strcat_s
replace wcscat with wcscat_s
replace sprintf wtih sprintf_s
replace swprintf with swprintf_s

[2017-07-12 20:10] gravcat commented on #289
https://github.com/PowerShell/Win32-OpenSSH/issues/289#issuecomment-314880143

I was also able to successfully SSH into my machine and then execute bash by following this suggestion.

[2017-07-12 20:15] bagajjal commented on #808
Please talk to the WSL team.
As per our earlier communication with the WSL team, changing the registry can lead to a potential security issue. WSL team doesn't recommend this approach. WSL team is still making decision whether to allow the network logons or not.

We will cross-check if it is related to win32-openssh so reopening the issue.

[2017-07-12 20:30] bagajjal commented on #808
@darkverbito - Can you please provide what fields has to be changed in the registry so that we can reproduce this issue at our end.

Here is the current snapshot of my registry,
![image](https://user-images.githubusercontent.com/23668037/28138506-de8c16c4-6705-11e7-9fda-f10aa1bacfca.png)
![image](https://user-images.githubusercontent.com/23668037/28138598-40380554-6706-11e7-9c8b-021ba2ddf520.png)

[2017-07-12 20:35] darkverbito commented on #808
You have to take control of those keys: right click, permissions, advanced, owner (change). Then add that owner with full control. Do this for both keys.

[2017-07-12 22:29] diogocp commented on #752
To work around this issue, you can run the following commands in your local repository:
[code]
Replace `origin` with the name of the Windows-hosted remote.

After this you should be able to pull and push normally (works for me, anyway).

Make sure you **don't select** "Use Git from Git Bash only" when installing Git on the Windows server, otherwise Git won't be in the PowerShell path.

[2017-07-12 22:32] bagajjal commented on #808
@darkverbito - I have added the permissions as mentioned but it still gives me "Error: 0x80070057". You also mentioned something about "set Local Launch", where do we need to set this?

[2017-07-12 23:12] darkverbito commented on #808
That is the underlying problem I was documenting.

[2017-07-13 00:23] bagajjal commented on #808
@darkverbito -For me the interactive ssh fails to launch the bash, it gives "Error: 0x80070057".

I have added the permissions as mentioned but it didn't work.

[2017-07-13 00:29] diogocp commented on #752
After further testing, I still get an error (early EOF) when pushing binary files. This is with v0.0.17.0.

[2017-07-13 00:35] bagajjal commented on #108
@rivy - I have created separate issues (#807, #806, #805). If you have more issues then please open a new issue. Hopefully these will be fixed for July-Mid release (7/15).

[2017-07-13 01:12] razrjk commented on #752
That's  because it went through cmd to call powershell. I spent a day isolating the problem. My powershe'll bases ssh git server is working great!

Sent from Yahoo Mail on Android

  On Wed, Jul 12, 2017 at 8:29 PM, Diogo Pereira<notifications@github.com> wrote:
After further testing, I still get an error (early EOF) when pushing binary files.

—
You are receiving this because you were mentioned.

[2017-07-13 11:05] HSSupport commented on #780
Hi

i have tested this on version 0.17, on windows server 2008 (SBS 2011) with powershell v2.
works on server 2012 and 2016, which have higher native versions of powershell - could this be the cause?

if you create a powershell script and call it via 'ssh "domain\user"@"host" "powershell -file FILE"' it will correctly process the file but then hang waiting for an enter.
once enter is pressed it fi

[2017-07-14 03:42] justinhelgerson commented on #261
@bagajjal Would this be something the PowerShell team would consider as a feature?  Assuming the end goal of the project is to have SSH and SFTP available by default in Windows, I think auto-completion is a must-have for the UX.

[2017-07-14 07:13] qiuyi21 opened #809 "Can't start service sshd on fresh installation"
**"OpenSSH for Windows" version**
 `0.0.16.0`

**Server OperatingSystem**
 `Windows Server 2008 R2 Enterprise`

**What is failing**
Can't start service sshd on fresh installation

**My solution**
Remove privileges from service sshd by command:
`sc privs sshd ""`
Then it is OK.

[2017-07-14 07:17] #809 closed, assigned to nobody

[2017-07-14 08:29] snboisen commented on #493
I had the same error. Solved by specifying the logs folder for the PID file in sshd_config. The configuration file should be changed to have that as default to solve this bug.

[2017-07-14 12:07] crappycrypto opened #810 "Building with spaces in the path fails"
**"OpenSSH for Windows" version**
commit 7580216f0488a329a754cabdf4b6cd9ee77f4775

**Visual Studio version**
Visual studio 2015 community on Windows 7 x64

**What is failing**
The build process generates errors (e.g. config.h not found)

**Expected output**
Succesful build

One example that needs to be fixed is the pre-build step of the config project. Changing the commandline from
`powershell.exe

[2017-07-14 12:30] stephenconnolly1 commented on #420
Also check the account hasn't been locked as that can cause  the same error message.

[2017-07-15 07:13] comsyspro opened #811 "Is there an order using multiple hostkeys in sshd_config?"
Configuring sshd_config with multiple entries for hostkeys the ed25519 hostkey is preffered when connecting with a ssh client.

[code]

So if I want to use the ecdsa hostkey with the ssh client there is no chance to connect to the ssh server. Consequently I had to remove the entry `HostKey ssh_host_ed25519_key` so the server accept now the ecdsa fingerprint.

[code]

So my question is if there is

[2017-07-15 21:55] diogocp commented on #811
Use the `HostKeyAlgorithms` option on the client.
https://superuser.com/a/1142569/260305

[2017-07-17 06:30] #804 closed, assigned to bingbing8

[2017-07-17 09:07] qiuyi21 commented on #742
Same here at version 0.0.16.0

[2017-07-17 18:22] manojampalam commented on #811
If there is one, it would be detailed in https://linux.die.net/man/5/sshd_config.

[2017-07-17 18:25] manojampalam commented on #808
Issue is in WSL and being tracked under https://github.com/Microsoft/BashOnWindows/issues/2322.

[2017-07-17 18:25] #808 closed, assigned to nobody

[2017-07-17 18:26] manojampalam commented on #803
Reopen once you have the logs ready.

[2017-07-17 18:26] #803 closed, assigned to nobody

[2017-07-17 21:07] bingbing8 opened #812 "Behavior of open is not consistent when flag O_CREAT is supplied and mode is not supplied"
Code is at fd32.c:
int
w32_open(const char *pathname, int flags, ... /* arg */)
{
	int min_index = fd_table_get_min_index();
	struct w32_io* pio;
	va_list valist;
	u_short mode = 0;

	errno = 0;
	if (min_index == -1)
		return -1;
	if (flags & O_CREAT) {
		va_start(valist, flags);
		mode = va_arg(valist, u_short);
		va_end(valist);
	}
...

following test in file_tests.c failed and commented out:
{

[2017-07-17 23:54] bagajjal opened #813 "console settings are not restored properly"
ConExitRawMode(), ConUnInitWithRestore() is not restoring the console setting properly.

[2017-07-18 00:14] bagajjal opened #814 "Picking the user32/kernel32 from the systemdirectory"

[2017-07-18 21:47] #814 closed, assigned to bagajjal

[2017-07-18 21:47] #813 closed, assigned to bagajjal

[2017-07-18 21:48] bagajjal commented on #802
Fix is available in july mid  release (v0.0.18.0)

[2017-07-18 21:48] bagajjal commented on #807
Fix is available in july mid  release (v0.0.18.0)

[2017-07-18 21:48] #807 closed, assigned to bagajjal

[2017-07-18 21:48] bagajjal commented on #806
Fix is available in july mid  release (v0.0.18.0)

[2017-07-18 21:48] #806 closed, assigned to bagajjal

[2017-07-18 21:49] bagajjal commented on #805
Fix is available in july mid  release (v0.0.18.0)

[2017-07-18 21:49] #805 closed, assigned to bagajjal

[2017-07-18 21:49] bagajjal commented on #799
Fix is available in july mid  release (v0.0.18.0)

[2017-07-18 21:49] #799 closed, assigned to bagajjal

[2017-07-18 21:49] bagajjal commented on #787
@PillowFish - Any update on this?

[2017-07-18 22:24] WesR opened #815 "Issues with public key authentication"
**"OpenSSH for Windows" version**
v 0.0.17.0

**Server OperatingSystem**
Windows 10 Pro

**Client OperatingSystem**
Ubuntu 16.04

**What is failing**
Key based authentication

**Expected output**
User connects to windows server

**Actual output**
`wes@mehPC:/$ ssh dustin@192.168.1.19
Permission denied (publickey,keyboard-interactive).`

I am having an issue using key based authentication. I know t

[2017-07-18 22:24] bagajjal commented on #796
Closing this issue as there is no update in last 2 weeks..
Please reopen with the required information.

[2017-07-18 22:24] #796 closed, assigned to nobody

[2017-07-18 22:29] bagajjal commented on #815
Please provide sshd.log with DEBUG3 enabled..
LogLevel DEBUG3 (In sshd_config)

Also the ssh client logs (ssh.exe user@ip -vvv)

[2017-07-18 23:07] WesR commented on #815
[clientRunning.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1157521/clientRunning.txt)
[sshd.log.3.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1157522/sshd.log.3.txt)

I noticed
`3324 15:55:54:398 debug1: trying public key file C:/Users/dustin/.ssh/authorized_keys
3324 15:55:54:413 debug3: Bad permission. N can only read access to C:/Users/dustin/.ssh/authorized_keys
3324 15:5

[2017-07-18 23:29] bagajjal commented on #815
You should have restricted access to authorized_keys file. System(FullControl), SSHD(Read only), Administrators group (can be anything).

Your security settings should look like this
![image](https://user-images.githubusercontent.com/23668037/28344039-f117e942-6bd5-11e7-9c25-2e6b99766a53.png)

From sshd.log,
2156 16:05:30:334 debug1: trying public key file C:/authorized_keys
2156 16:05:30:334 debu

[2017-07-18 23:41] WesR commented on #815
I did it again in user [dustin]'s account and it failed (matching your permissions fully). I moved it over to C:\Users\SSHD\\.ssh and removed all other users except the three you have listed and it worked.

Thank you so much for the help, I really appreciate it.

[2017-07-18 23:43] WesR commented on #815
For anyone in the future, my config has these things changed:
`PubkeyAuthentication yes`
`AuthorizedKeysFile	C:/Users/SSHD/.ssh/authorized_keys`
`PasswordAuthentication no`

[2017-07-18 23:51] bagajjal commented on #815
fyi, the location really doesn't matter as long as you have the right permissions and sshd_config referring to the right location.

[2017-07-18 23:51] #815 closed, assigned to bagajjal

[2017-07-18 23:56] bagajjal commented on #108
@rivy - FYI, I have fixed the reported issues (#807, #806, #805). Please check them in July-Mid release (v0.0.18.0) that will be released tomorrow.

[2017-07-19 00:10] bagajjal commented on #673
If the issue still persists then please reopen with the requested information.

[2017-07-19 00:10] #673 closed, assigned to bagajjal

[2017-07-19 04:33] megamorf commented on #787
@bagajjal is running the nmap scan against localhost really a reproduction of the author's issue, i.e. do you know the Windows 7 tcp/ip stack enough to say it should effectively have the same result as running the scan from a remote system?

[2017-07-19 14:23] Aevis opened #816 "[Security] AllowUsers/AllowGroups directives not working with domain users/groups"
**"OpenSSH for Windows" version**
0.0.17.0

**Server OperatingSystem**
Windows Server 2012 R2 Standard

**Client OperatingSystem**
Windows Server 2012 R2 Standard

**What is failing**
Unable to authenticate when using eiter "AllowUsers" or "AllowGroups" directive in the sshd_config
for domain users

**Expected output**
Successful login

**Actual output**
User --username--@--domainname-- from ::1 n

[2017-07-19 16:07] rivy commented on #108
@bagajjal
Thanks for your efforts. I'll take a look at the release this weekend.

[2017-07-19 18:16] bagajjal commented on #252
I have made a code change to set the TERM to "xterm" if the TERM environment variable is not set in the SSH client machine. This change is available in the july-mid release (V0.0.18.0).

[2017-07-19 18:16] #252 closed, assigned to bagajjal

[2017-07-19 18:24] hdatma commented on #803
1. I see errors from sshd at start-up.

2. I usually write own keys using "ssh-keygen -t ed25519 -o -a 100".
The command works on Windows 10 Pro, but fails on Windows Server 2012 Foundation.

`--->  starting sshd...

6472 20:21:52:909 debug1: sshd version OpenSSH_7.5, LibreSSL 2.5.3
6472 20:21:52:909 debug3: socket:0, socktype:1, io:000000F3159D0860, fd:3
6472 20:21:52:909 debug3: close - io:00000

[2017-07-19 19:54] jochemd opened #817 "client doesn't load private key file"
**"OpenSSH for Windows" version**
0.0.17.0

**Server OperatingSystem**
Ubuntu 16.04.2 LTS

**Client OperatingSystem**
Windows 10

**What is failing**
Private key file is not loaded and logon to the server fails

**Expected output**
Succesful logon

**Actual output**
See attached output generated using -vvv: [console-output.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1160233/console-outp

[2017-07-19 20:15] bagajjal commented on #817
Please provide the output of this powershell command
get-acl -path c:\Users\MY_USER_NAME.ssh\id_rsa | select *

[2017-07-19 20:20] jochemd commented on #817
[code]

[2017-07-19 22:36] #13 closed

[2017-07-20 12:17] icf3 commented on #802
0.0.18.0 does not work like 0.0.17.0.
Would you see it once again?

My TERM is "xterm" or "vt100"

export TERM=xterm
or
export TERM=vt100

[2017-07-20 14:05] HSSupport opened #818 "Can this be installed on Server 2008 Standard SP2?"
OpenSSH Version 0.16 - installed using chocolatey installer (barebones)

after installation, the service cannot be started with the user SSHD. Since managed service accounts were introduced in server 2008 R2, does this mean that this will not install on server 2008 standard?

thanks

[2017-07-20 17:11] Eric-ITaaS opened #819 "Symantec blocks the download, nukes all the .exe files."
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).Produc

[2017-07-20 18:13] nkrepo commented on #689
Hi manojampalam, tested with v0.0.18.0 , the behaviour is the same. Have you got any time to look into that issue?

[2017-07-20 18:13] nkrepo commented on #686
Hi manojampalam, tested with v0.0.18.0 , the behaviour is the same. Have you got any time to look into that issue?

[2017-07-20 18:17] bagajjal commented on #802
I can think of two code changes that might have an interaction with it..
1) ssh-shellhost now supports dealing the control sequences (#799, code changes in ProcessCtrlSequence() in ssh-shellhost.exe).

2) Addition of DISABLE_NEWLINE_AUTO_RETURN.

Can you try to remove DISABLE_NEWLINE_AUTO_RETURN and see if it works as expected?
If not, please provide what is not working and reproduction steps..

[2017-07-20 18:36] bagajjal commented on #686
We are working on other high priority issues. This is still in our queue, will try to fix this asap.

[2017-07-20 18:37] bagajjal commented on #819
Please provide detailed problem description.

[2017-07-20 19:11] bagajjal commented on #802
Reopening to track the regression caused.

[2017-07-20 20:14] bingbing8 commented on #818
win32-openssh support down to win7 client or windows server 2008 R2

[2017-07-20 20:46] PillowFish commented on #787
Sorry for the delay,
I dont have an update other than i was no scanning localhost. Ill see if i can recreate this tomorrow when i get back in the office.

[2017-07-20 23:16] bagajjal commented on #787
@megamorf @PillowFish -
I tried the similar setup (SSH Client is running on Ubuntu 16 and SSH Server is running on WIN 7) but I don't see the logs flooded..

FYI, I ran the command nmap only once..

[2017-07-21 01:26] icf3 commented on #802
Sorry, I can't remove DISABLE_NEWLINE_AUTO_RETURN.
If it is possible, you try it.
If not, I hope Adding temporary special option of DISABLE_NEWLINE_AUTO_RETURN.
So, I'm happy. But,you do not need to do it.

ex)   ssh.exe --disable-newline-auto-return icf3@192.168.1.1

[2017-07-21 01:39] bagajjal commented on #802
I have made the code changes to remove the DISABLE_NEWLINE_AUTO_RETURN. This zip contains ssh.exe build in debug, x64 binary.
[Emacs-TerminalIssue.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1164161/Emacs-TerminalIssue.zip).

Please try this and if it doesn't help, please provide the reproduction steps and what is not working so that I can reproduce and debug at my end.

[2017-07-21 06:55] nkrepo commented on #689
Have you been able to reproduce ? Is it related to wrong client window size information defined  in pty/tty session #590 ?

[2017-07-21 09:25] HSSupport commented on #818
Hi

i created a user (DOMAIN\SSHD) and edited the chocolately package to change all instances of "NT Service\SSHD" to the new username.

the install was successful.

when i run SSHD.exe -d from an admin powershell, i can connect, however when i run the service i get "write failed - broken pipe"

now, i know that this is "not supported" on Server 2008 SP2, however any nudges in the right direction

[2017-07-21 13:42] icf3 commented on #802
OK : Emacs-TerminalIssue.zip ,  0.0.18.0 binary
NG : 0.0.17.0 , 0.0.18.0 source

In 0.0.18.0 binary and 0.0.18.0 source, why are results different?
Can I test Emacs-TerminalIssue souce code?

The reproduction is easy.
You just type "Expected output image".

#include <stdio.h>

int main() {
    printf("Hello World\n");
    return 0;
}

[2017-07-21 17:18] PillowFish commented on #787
Wacky, ill rerun this on my end and see if it happens again and if there is some environmental factor im missing...

I to got into this odd state running nmap once, so that should have worked.

[2017-07-21 18:07] nkrepo commented on #90
Is there workaround for getting sftp work when powershell is the default ssh shell?

[2017-07-21 18:50] bagajjal commented on #689
No, this is unrelated to #590. This is a bug in ssh-shellhost.exe  which requires further investigation.

FYI, Issue #590 is not reproducible if we run the sshd in the debug mode (sshd.exe -ddd).

[2017-07-21 19:39] manojampalam commented on #818
1349 - The type of the token is inappropriate for its attempted use.

Not sure why you are seeing this. Can you try running sshd as SYSTEM and see if it work?
sc.exe config sshd obj= localsystem

[2017-07-21 20:07] manojampalam commented on #817
Just tried it on my end and it worked without any issues. Otherwise, from code inspection, I'm unable to think of why you would be seeing the above behavior, sorry. Please investigate further and let us know what you find.

[2017-07-21 20:18] manojampalam commented on #816
Try the following instead (? in place of @)
AllowUsers john?forest

This is due to a limitation in specifying domain names in AllowUser list. "@" is currently used for user@IP combination (see sshd_config man page). We need to make Windows specific changes to core sources to support Windows domain names.
Otherwise, the above may result in a rare conflict with a local account that may match john?fo

[2017-07-22 09:07] rgl commented on #727
I'm trying to use Win32-OpenSSH as a SSH server in [Vagrant](https://www.vagrantup.com/), but this issue makes the whole experience quite odd, because one has to manually login at the machine before vagrant can connect. Can this issue be moved up to the July-Mid milestone? :-)

[2017-07-22 19:42] GoodMirek opened #821 "Ctrl+C sent from Linux to Windows does not work"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**
- Read and complied.

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
[code]
Version of OpenSSH as displayed by choco:
[code]

**Server OperatingSystem**
 `((Get-ItemProperty "H

[2017-07-23 08:38] fpqc commented on #252
Hey, by the way, this should be xterm-256color since a while ago on Windows 10.  256color support was added and fully stable in Win10CU.

https://github.com/Microsoft/BashOnWindows/issues/1446

This is in the case of the Windows client.

[2017-07-23 08:43] fpqc commented on #802
@bagajjal You should encourage testing from the latest insider builds and also maybe keep in touch with @zadjii-msft , who has been implementing a lot of the control sequences.  The console processing of control sequences is not yet perfect, and you're probably better off making sure if it's your bug or their bug before fixing or introducing a workaround.  If I remember correctly, this disable new

[2017-07-23 19:24] diogocp commented on #98
See #752. You can solve the single quotes problem by [changing the receivepack command](https://github.com/PowerShell/Win32-OpenSSH/issues/752#issuecomment-314916056), but even after that Git still doesn't work properly.

[2017-07-24 07:21] Aevis commented on #816
Thanks, AllowUsers user?domain does work but not for the AllowGroups (hunters?forest) directive.

The sshd log file threw me off as it mixes syntaxes:
1796 08:39:23:594 User john@forest from --IP-- not allowed because none of user's groups are listed in AllowGroups
1796 08:39:23:594 Failed none for invalid user forest\\\john from --IP-- port 50117 ssh2

[2017-07-24 08:26] fpqc commented on #821
In this case, the server's powershell version and actual Windows version might matter beyond just the SKU. Large cross-SKU changes have been made to the console subsystem since the first version of Server 2016 that could potentially affect this.

[2017-07-24 08:32] fpqc commented on #818
Why did you change the service to run as an ordinary domain user?  The service needs to run at a high privilege level (System Service), even though the individual users will be authenticating against the domain.

SSHD is also not meant to be run directly in a console but through the sshd service (with sc.exe start/stop sshd).

[2017-07-24 08:35] HSSupport commented on #818
@fpqc
the user is a domain admin, i shall shortly try running as localsystem as recommended by @manojampalam

[2017-07-24 08:36] fpqc commented on #818
@HSSupport Tell him to uninstall the edited package and reinstall it so it installs as a system service.  What @manojampalam suggested is just undoing the error that the user made in the first place.

sshd runs as a localsystem-level service, but all authentication is carried through the server's authentication mechanism and permissions are enforced at the user level.

[2017-07-24 08:40] HSSupport commented on #818
@fpqc
sorry, i think i caused some confusion:

I installed this package. since its server 2008 (standard, not R2) it wont install as the NT Authority\SSHD user. So ill be trying the localsystem next, and also localservice to see which works.

the domain\sshd user was my workaround for a lack of service managed accounts :) thanks

[2017-07-24 08:45] fpqc commented on #818
@HSSupport Ah, that makes some sense.  It might actually work then.  Also, yeah, the domain admin token can be elevated to a system level token using the windows internals psexec tool (i.e. Admin -> SYSTEM is not a security boundary), but it is a permissions boundary and likely the cause of failure here.

This TechNet page also includes instructions for manually configuring Managed Service account

[2017-07-24 09:51] HSSupport commented on #818
ok so i have an update.

The service flat-out would not start using NT Authority\LocalService account
it does work if you replace "NT Authority\SSHD" with "NT Authority\SYSTEM" and run the chocolatey installer, however something goes wrong at authentication: all forms fail. (note, using \localsystem produces the exact same error)

i think this may have gone from "easily fixed" to "probably not goi

[2017-07-24 13:24] spointu opened #822 "Public key authentication fails on Windows 7"
**My environment**
Version 0.0.17.0 (same behaviour with 0.0.18.0)
Running on Windows 7
Connecting from ssh client on Debian Jessie

My config file:
LogLevel DEBUG3
Subsystem	sftp	sftp-server.exe
hostkeyagent \\.\pipe\openssh-ssh-agent
PubkeyAuthentication yes
PasswordAuthentication no
PidFile C:\Windows\Temp\sshd.pid
AuthorizedKeysFile	"C:\Program Files (x86)\Pulse\.ssh\authorized_keys"

The perm

[2017-07-24 13:26] spointu commented on #822
A typo on the description above. The config file is as follows:
LogLevel DEBUG3
Subsystem	sftp	sftp-server.exe
hostkeyagent \\.\pipe\openssh-ssh-agent
PubkeyAuthentication yes
PasswordAuthentication no
PidFile C:\Windows\Temp\sshd.pid
AuthorizedKeysFile	"C:\Program Files (x86)\Pulse\.ssh\authorized_keys"

[2017-07-24 16:08] gravcat commented on #819
@gatornation11 if it's a Symantec false positive issue, you'll need to exclude your OpenSSH-WIn32/OpenSSH-Win64 directory and it's contents.

[2017-07-24 16:15] gravcat opened #823 "SSH session hangs when left idle for too long (~5 minutes) without any activity"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**
I did not find anything super relevant in the wiki but feel free to correct me on this if I am wrong.

**"OpenSSH for Windows" version**
 `OpenSSH-Win64 0.0.14`

**Server OperatingSystem**
 `Windows 10 Enterprise N (Azure Marketp

[2017-07-24 16:17] gravcat commented on #823
I am going to try to set my log level to `VERBOSE` and post results/logs of an isolated occurrence. Standby.

Also please bear with me, I did do my best to research the issue and review the issue tracker for historical occurrences for which I could find none.

[2017-07-24 18:16] gravcat commented on #823
Client log provided by `-v` switch. Nothing of interest though there may be deeper levels to inspect?

[code]

[2017-07-24 18:26] gravcat commented on #823
Video demonstrating the problem: https://www.youtube.com/watch?v=gt0NWxe4gAc

[2017-07-24 18:48] bagajjal commented on #822
This is the reason for the failure:
2376 14:00:06:361 debug1: LsaLogonUser failed NTSTATUS: 1
2376 14:00:06:361 error: unable to generate token for user pulse

Can you share details on your Win7 box- x86 vs x64? SP? all latest updates installed?

[2017-07-24 18:49] bagajjal commented on #823
Thanks for the detailed post. We'll take a look.

[2017-07-24 19:40] spointu commented on #822
Win7 Enterprise x64 no SP applied. I'll try with a fully updated Win7 and let you know if the problem is resolved.

[2017-07-25 00:04] bagajjal commented on #823
I couldn't reproduce this issue.
Please share your sshd_config and sshd.log (DEBUG3).

[2017-07-25 00:53] bagajjal commented on #821
Couldn't reproduce this.
Ctrl+C is being sent.. You can try initiating "ping 127.0.0.1" and then press Ctrl+C , this should stop ping.
I tried the below powershell script, Ctrl+C works fine from the ssh client (tried from Ubuntu).

$t=Get-Date -format "dd-MMM-yyyy HH:mm"
echo $t
Start-Sleep -s 60
$t=Get-Date -format "dd-MMM-yyyy HH:mm"
echo $t

[2017-07-25 00:54] bagajjal commented on #819
How is it OpenSSH issue?

[2017-07-25 00:54] #819 closed, assigned to nobody

[2017-07-25 02:12] Eric-ITaaS commented on #819
It's related because people will give up on your software if it blows up every AV engine on the market.

________________________________
From: bagajjal <notifications@github.com>
Sent: Monday, July 24, 2017 8:54 PM
To: PowerShell/Win32-OpenSSH
Cc: Eric Logeson; Mention
Subject: Re: [PowerShell/Win32-OpenSSH] Symantec blocks the download, nukes all the .exe files. (#819)

How is it related to Open

[2017-07-25 03:09] gravcat commented on #819
Not really OpenSSH-Win64's problem to police Symantec's historically crappy false positive rate. Every software company I've ever worked with at one point or another has pain attached to the word "Symantec". Submit it to Symantec and they should help you resolve the false positive, at which point you'll help any other users that unfortunately also use Symantec.

[2017-07-25 05:03] bagajjal commented on #819
@gatornation11 - didn't understand what you are expecting from the openssh project to do for this issue.  It is out of our scope. If you have different opinion then please describe so that we can think about it

[2017-07-25 08:21] spointu commented on #822
I have tested on an up-to-date Win7 and it's the same error.

[2017-07-25 09:08] kviktor opened #824 "SSHD service access"
I'm trying to call `signtool.exe` via ssh but it gives me this (it basically translates to access denied)
[code]

- If I use the same command via the command line from the Windows machine things works so the issue is somewhere doing it via SSH
- If I set `Local system account` in Services / sshd / Log On everything works except the auth using private key and it asks for password.

What would be th

[2017-07-25 11:16] stwongst opened #825 "ChrootRoot +sftp only on Windows Server 2008R2 standard 64bit not working"
Hi,

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`

**What is failing**

Chroot in sftp only setup not working.  Configuration file follows:

---------
Subsystem          sftp        internal-sftp

Match User u

[2017-07-25 11:33] Aevis commented on #825
This is a feature yet to be implemented, see [#190](https://github.com/PowerShell/Win32-OpenSSH/issues/190)

The only workaround seems to be restricting the user's access by setting your file system permissions accordingly.

[2017-07-25 14:01] lejello commented on #823
Since you are specifying "Azure Marketplace" in your OS name, I'm guessing you are using an Azure VM.

Azure SNAT and load balancers applies a 4 minutes default idle timeout to all inbound and outbound tcp connections. See https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-tcp-idle-timeout and https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections

[2017-07-25 15:36] stwongst commented on #825
Got it.  Thanks a lot.

[2017-07-25 20:27] gravcat commented on #823
@bagajjal I will test out @lejello's suggestions first and report back. If that doesn't resolve, I'll upload my (very stock) `sshd_config` and `sshd.log`. Thanks!

[2017-07-26 00:21] bagajjal commented on #802
@icf3 -
1) what do you mean by 0.0.18.0 binary and 0.0.18.0 source?
2) Can you please confirm whether Emacs-TerminalIssue.zip fixed the regression?
3) I tried both the v0.0.17.0 and v0.0.18.0 but couldn't find big difference. only the difference is the indentation is happening little late. Can you please provide your observations?

As mentioned, the Emacs-TerminalIssue.zip doesn't set the "DISABLE

[2017-07-26 12:37] spointu commented on #822
It's ok now. I did not realise that the paths have changed to C:\Program Files\OpenSSH. I was still using OpenSSH-Win32.

[2017-07-26 12:37] #822 closed, assigned to bagajjal

[2017-07-26 12:44] vovcacik opened #826 "Permission denied for authorized_keys"
**"OpenSSH for Windows" version**
`PS C:\Program Files\OpenSSH> ((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`
`Get-Command : The term 'sshd' is not recognized as the name of a cmdlet, function, script file, or operable program.`

Anyway, it is 0.0.18.0.

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).Produc

[2017-07-26 14:08] vovcacik opened #827 "Support GPG and smartcard users"
It seems like `ssh.exe` cannot use `gpg-agent.exe` since the latter is storing socket info in `S.gpg-agent.ssh` file and you expect it to be named pipe.

Are there any guidelines how to use `ssh.exe` and my authentication GPG key stored on smartcard?

EDITS:
https://dev.gnupg.org/T3883

[2017-07-26 17:39] bagajjal commented on #826
You should have restricted access to authorized_keys file. System(FullControl), SSHD(Read only), Administrators group (can be anything).
Your security settings should look like this

https://user-images.githubusercontent.com/23668037/28344039-f117e942-6bd5-11e7-9c25-2e6b99766a53.png

[2017-07-27 00:24] bagajjal commented on #827
As of now, we don't support this scenario. This will be added to our backlog and will be picked based on the priority.

[2017-07-27 03:38] icf3 commented on #802
@bagajjal  -

They are file that is enable to download in this site.

Yes. But it may be only fix this emacs problem. And it is only binary.

v0.0.18.0 is same as v0.0.17.0 at source level. That's while still having a emacs problem.

Even if Emacs-TerminalIssue.zip doesn't set the "DISABLE_NEWLINE_AUTO_RETURN",
this may be version of only fix this emacs problem.
It could not help me. Because I wis

[2017-07-27 12:22] resmivarghese commented on #207
Hi ,

I am using below code to upload files(nearly 200) to sftp on specific intervals. It successfully uploads first 20 -30 files and then starts giving exception as 'An existing connection was forcibly closed by the remote host'.

How can we resolve this issue .

[code]

Thanks in Advance for the help

Resmi

[2017-07-27 20:44] SteveL-MSFT opened #828 "Consider setting TERM to xterm-256color"
With the change to set TERM=xterm if TERM is not set, this allows some vt100 codes to work correctly.  However, if you ssh into Ubuntu16.04 (for example), you'll notice that the prompt doesn't have color.  However if you:

[code]

The bash prompt has full color as you would expect.  Don't know if this setting is only compatible with Win10.

[2017-07-28 02:20] nightwish47 commented on #493
@bagajjal
Error is still occurring and seems random.
But when set parameter PidFile is none. The issue is already solved.

So the question is, if PidFile is set as none, is there any impact?

Current: PidFile C:/OpenSSH-Win64/sshd.pid
→PidFile none

[2017-07-28 03:20] bagajjal commented on #493
No.. Pid file is used to store the process id, it is useful in automation to kill the spawned sshd process

[2017-07-28 18:16] #810 closed, assigned to bingbing8

[2017-07-28 18:20] bingbing8 commented on #826
@vovcacik what is the output for
```(Get-Acl C:\Users\Administrator\.ssh/authorized_keys).Access```? My guess is that the file is not granted  with read perm to "nt service\sshd"
please follow either [OpenSSH utility scripts to fix file permissions](https://github.com/PowerShell/Win32-OpenSSH/wiki/OpenSSH-utility-scripts-to-fix-file-permissions) or [Security protection of files](https://github.com

[2017-07-29 14:04] B-z-F opened #829 "Typo on Wiki - Install-Win32-OpenSSH"
There are single quotes at:
`netsh advfirewall firewall add rule name='SSH Port' dir=in action=allow protocol=TCP localport=22`
but should be double:
`netsh advfirewall firewall add rule name="SSH Port" dir=in action=allow protocol=TCP localport=22`

[2017-07-29 15:08] cyfrost opened #830 "installation was ok as per the instructions. tried starting the daemon. it returned sshd terminated unexpectedly"
So i just installed the latest release [v0.0.18.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.18.0). installation was successful. it turns out the daemon isn't working because when i tried starting the `sshd` service from Services control panel it returns "(Error 1067) The process terminated unexpectedly". it is interesting to note that when i do a "net start sshd" from elevated

[2017-07-29 20:31] rewood opened #831 ".."

[2017-07-29 20:33] #831 closed, assigned to nobody

[2017-07-30 05:02] bagajjal commented on #830
Run the sshd in debug mode (./sshd.exe -ddd) to see what's going wrong

[2017-07-30 08:45] vovcacik commented on #826
@bingbing8
`(Get-Acl C:\Users\Administrator\.ssh/authorized_keys).Access`

[code]

[2017-07-30 08:58] vovcacik commented on #826
I have tried to fix the file permission with bundled script [OpenSSH utility scripts to fix file permissions][]

[code]

Then I have restarted the sshd and ssh-agent services, removed all logs and tried to connect with this result:
[code]

[OpenSSH utility scripts to fix file permissions]: https://github.com/PowerShell/Win32-OpenSSH/wiki/OpenSSH-utility-scripts-to-fix-file-permissions

[2017-07-30 09:24] vovcacik commented on #826
@bagajjal
I tried to grant full control to Administrators group and to the SYSTEM. I kept full control for my own account, as well as ownership of the authorized_keys file.

[code]
Then I restarted the sshd and ssh-agent services, purged all logs and tried to connect - the sshd no longer tries to load authorized_keys. Even when I temporarily disable password authentication `PasswordAuthentication

[2017-07-30 09:30] vovcacik commented on #826
@bagajjal I tried to set the permissions *exactly* as on your screenshot, but still the same problem - authorzied_keys is not even attempted to be read.

[2017-07-30 09:57] vovcacik commented on #826
I took another approach, I've removed all permissions on the authorized_keys file and kept ownership. Then I run the fix script:

[code]

I also tried to check *Effective access* and it looks just fine:
![img][]

*I get same results when I assign additional permission to `Traverse folder/execute file` or even `Full control`.*
*Also note that I have input `NT SERVICE\sshd`, but the ui abbreviate it

[2017-07-30 13:11] DarwinJS commented on #828
I could add per-target OS defaults for TERM so that win10 / 2016 gets this, while the others get XTERM.  As people test others OSes we could add special defaults for them.  Let me know if this is desirable.

[2017-07-30 20:06] vovcacik commented on #826
I managed to successfully install the OpenSSH on another Windows 10 machine. I will try to reinstall OpenSSH on the problematic machine, but as far as I can tell the only difference was that I have skipped the `New-NetFirewallRule -Protocol TCP -LocalPort 22 -Direction Inbound -Action Allow -DisplayName SSH
` line in installation instructions and went for `netsh advfirewall firewall add rule name=

[2017-07-30 23:32] SteveL-MSFT commented on #828
@DarwinJS that seems reasonable

[2017-07-31 02:19] DarwinJS commented on #828
Coded and tested.
I did not test what Nano does with this setting on - but it is getting set since the kernel is > 10.0

FYI, in order to properly get Windows Version from Powershell 2 through Windows 10, the following code appears to be the minimum (and the registry keys are a bit messy as of kernel version 10 and "[environment]::OSVersion.Version" is depreciated):

[code]

[2017-07-31 04:39] nightwish47 commented on #493
@bagajjal : Got it and will check on our side.

Btw, although we received below message but target files are already transferred successfully.
May we ask you about the cause and solution for this issue?

Related message:
`Couldn't Create pid file "./sshd.pid": Permission Denied`

[2017-07-31 17:28] manojampalam commented on #830
Reopen if you still have an issue (refer https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps for troubleshooting steps)

[2017-07-31 17:28] #830 closed, assigned to nobody

[2017-07-31 18:21] manojampalam commented on #829
Thanks. The above works in Powershell and the below one in cmd.exe. I'll remove the space to keep it simple.

[2017-07-31 18:21] #829 closed, assigned to nobody

[2017-07-31 20:27] bagajjal commented on #828
@DarwinJS -Thanks for taking your time and looking into this.

This issue can be fixed in the code level. I will make changes to set the TERM to "xterm-256color".
As of now, windows SSH server doesn't care about the TERM so it is specific to non-windows environment (UNIX). Since we are solving this issue at the code level, I think your setup can ignore this.

[2017-07-31 20:33] DarwinJS commented on #828
@bagajjal - not sure what you mean?

The installer I maintain also installs just the SSH client utils.  In fact, that is the default mode if you don't give it additional switches.

Do you mean that ssh.exe will do it's own defaults if no TERM variable is found?

[2017-07-31 21:37] bagajjal commented on #828
Yes, in the code we check for the TERM environment variable.  If it doesn't exists then we set the TERM to xterm-256color.

[2017-07-31 22:05] DarwinJS commented on #828
Ok cool.
I assume if TERM is set externally it overrides?

[2017-07-31 22:08] bagajjal commented on #828
If the TERM environment variable is set then the code will not do anything.

If the TERM environment variable is not set then only the code will set the TERM to xterm-256color.

[2017-08-01 07:59] Wazner opened #832 "Typo in misc.c"
Hello,

I found a typo in misc.c while reading through the source code in the procedure `sanitized_path`.
https://github.com/PowerShell/Win32-OpenSSH/blob/993c15663a8fffdf2729a557a04061e8632cd65a/contrib/win32/win32compat/misc.c#L894

I believe it should be `sizeof(newPath)` instead of `sizeof(PATH_MAX)`. Incidentally it's not a bug because the string will always be 3 characters long (+ \0 byte) a

[2017-08-01 14:39] claptrap251 commented on #787
Facing the same issue, file size went haywire last night.
with sshd log getting spammed by this error :

1680 20:38:23:517 error: accept: Connection reset

file size reached 50mb in less than a minute. Was also able to recreate it using nmap

[2017-08-01 16:04] bagajjal commented on #832
Thanks for reporting, we will fix it

[2017-08-01 16:05] bagajjal commented on #787
It would be great if you can provide us the reproduction steps.. Fyi,. We couldn't reproduce at our end

[2017-08-01 17:06] claptrap251 commented on #787
OS in use:  Windows Server 2016 64-Bit (VM)
command used : nmap -Pn 127.0.0.1

I also tried with a different VM (Windows Server 2008 R2) but wasn't able to replicate it.

This defect doesn't show up when I see "Did not receive identification string from 127.0.0.1" in the logs

[2017-08-01 17:45] bagajjal commented on #787
@aayush251 - Were you able to reproduce consistently on the windows server 2016 machine?

[2017-08-01 18:03] claptrap251 commented on #787
Yes

[2017-08-01 19:43] bagajjal commented on #832
Please check the aug-mid release..

[2017-08-01 19:43] #832 closed, assigned to bagajjal

[2017-08-01 19:58] manojampalam commented on #827
Is gpg-agent listening on a network socket?

[2017-08-01 19:59] #825 closed, assigned to nobody

[2017-08-01 21:15] manojampalam opened #833 "OpenSSH with -noOpenSSL is broken"
OpenSSH binaries link to libcrypto-41.dll inspite of compiling with -noOpenSSL flag.

Running dependency walker shows that its depending for arc4random() variants.

[2017-08-02 16:36] sspencer3 commented on #826
I was seeing this same issue and while it may not have been vovcacik's issue I figured I'd post here to assist anyone else that runs into it. The problem ended up being that I had mistakenly created "authorized_keys" as a folder with my .pub key file simply copied into the folder. Authorized_keys should be created as a generic text file with the text of the pub key file copied into Athorized_keys.

[2017-08-02 19:00] bagajjal commented on #821
@GoodMirek - Any update on this?

[2017-08-02 19:01] bagajjal commented on #823
@gravcat - Any update on this?

[2017-08-02 19:02] bagajjal commented on #817
Closing this issue as we can't reproduce.

[2017-08-02 19:03] #817 closed, assigned to nobody

[2017-08-02 19:55] GoodMirek commented on #821
@bagajjal I appreciate that you tried and cannot reproduce the issue. However, the issue persists on my side. What other info or help can I provide?

[2017-08-02 19:59] bagajjal commented on #821
@GoodMirek - Have you tried ping or the sample powershell script that was mentioned?
If it works then it is certain that the Ctrl+C is been issued from the ssh-shellhost.exe.
To debug further, we need to look into your powershell script and analyze which commands are not responding to the Ctrl+C.

If ping / sample powershell script doesn't  work then we have a problem in our ssh-shellhost.exe.

[2017-08-02 20:06] thezim opened #834 "SFTP-Server does not log when using a non-admin account"
I didn't see and obvious answer as to how to do this without syslog. It there any way other way? For security audits I need to know the users activity not just logins and session info.

[2017-08-02 20:15] bagajjal commented on #834
Go to the sftp-server.exe directory, you can see the logs folder (if not then please create the logs folder).

In the sshd_config, specify the loglevel
Subsystem       sftp    sftp-server -l DEBUG3

The logs will be written to sftp-server.log file.

[2017-08-02 20:25] GoodMirek commented on #821
@bagajjal Yes, I have tried to interrupt ping with Ctrl+C. I have also tried to interrupt others commands and also some powershell scripts, though not your example.
If I login from the same terminal to Linux machines, it works without problem.

[2017-08-02 21:32] natalieparellano opened #835 "Key based authentication succeeds only after user logon"
**"OpenSSH for Windows" version**
 `0.0.18.0`

**Server OperatingSystem**
 `Windows Server 2012 R2 Datacenter `

**Client OperatingSystem**
 `Mac OS`

**What is failing**

We are getting `LsaLogonUser failed NTSTATUS: 1` error (see below) when we try to ssh in with key-based authentication.

Our server starts `sshd` and `ssh-agent` without a user having logged in previously. If we ssh in with pass

[2017-08-02 21:35] bagajjal commented on #821
@GoodMirek - When you are connected to windows ssh server, interrupting the ping with Ctrl+C works for you?

[2017-08-02 21:44] GoodMirek commented on #821
@bagajjal Sorry for not being clear in my previous post. Interrupting of ping nor anything else with Ctrl+C never works when I am connected to the windows ssh server.

[2017-08-02 22:54] bagajjal commented on #821
@GoodMirek - Need your help in analyzing the root cause. Please follow the below steps,

on your windows machine acting as ssh server,
1) Please copy your existing ssh-shellhost.exe as ssh-shellhost.exe.bkup
2) Use the ssh-shellhost.exe from this link and replace with your ssh-shellhost.exe
[shellhost-ctrl-c-issue.zip](https://github.com/PowerShell/Win32-OpenSSH/files/1195475/shellhost-ctrl-c-issu

[2017-08-03 10:18] hdatma opened #836 "ssh-keygen.exe hangs for end user"
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
 `((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)`

latest

**Server OperatingSystem**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName

[2017-08-03 11:07] thezim commented on #834
Log file is not being created in the logs folder after the config modification and service restart. Below is the my sftp config line.
[code]

[2017-08-03 15:37] jake-at-work commented on #727
I am experiencing the same issue with AWS images I am building. I am able to get the key authentication to work only after interactive login, WinRm authentication, or password based ssh login. In fact, any of those authentication modes can be just an attempt with the wrong password and suddenly the key base authentication starts working. I have scripted a "knock" by simply trying ssh password auth

[2017-08-03 15:38] jake-at-work commented on #835
@natalieparellano see #727

[2017-08-03 15:40] jake-at-work commented on #742
@Pixelkracht have you looked at #727 ?

[2017-08-03 16:15] psmolkin opened #837 "Enter the windows interactive session via "ssh""
**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
 win10  v15063

**Client OperatingSystem**
Debian 8.9
openssh-client_6.7

**What's wrong**
When I run this command in bash
`powershell -c "Invoke-Command  -HostName Hostname -UserName User@Domain -ScriptBlock {[Environment]::UserInteractive }"`
I receive  `True`

but
`ssh User@Domain@Dostname powershell -c "[Environment]::UserI

[2017-08-03 16:53] hdatma commented on #836
Problem solved.

Since nobody chimed in, I guess you already know the solution, so I will not share it.

[2017-08-03 18:12] manojampalam commented on #836
We haven't seen this problem yet. It helps the rest of us if you can share how you solved it.

[2017-08-03 18:18] manojampalam commented on #727
Apologies for the delay as we were hung up with penetration testing. Will look into this for Aug-Mid drop.

[2017-08-03 18:19] manojampalam commented on #835
dup #727. Will look into it for Aug-Mid drop.

[2017-08-03 18:19] #835 closed, assigned to nobody

[2017-08-03 18:21] manojampalam commented on #834
We have a limitation with Windows implementation. For sftp-server traces, you'll either need to login (via ssh) as an admin account or give that specific user permissions to write to Logs folder.

[2017-08-03 18:21] bagajjal commented on #837
This will launch the interactive powershell ssh session.

ssh -t User@Domain@Dostname powershell

[2017-08-03 18:31] bingbing8 opened #838 "ssh-keygen.exe returns invalid format when passphrase is not empty on -noOpenSSL build"
**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
Windows 10

**Client OperatingSystem**
Windows 10

**What is failing**
[code]
**Expected output**
key is generated.

**Actual output**
error is returned

[2017-08-03 18:50] bagajjal commented on #828
Fix is available in the Aug-Mid release..

[2017-08-03 18:50] #828 closed, assigned to bagajjal

[2017-08-03 23:43] thezim commented on #834
@manojampalam does it have to be write permission to the entire folder or can it be for sftp-server.log only assuming I create the file myself first?

[2017-08-03 23:54] bagajjal commented on #834
@thezim - Did it work for you, with right permissions to sftp-server.log?

sftp-server.exe runs in the user context so we need to provide the write access for that user to write to the sftp-server.log file.

[2017-08-04 00:46] bingbing8 opened #839 "appverifier crash in ssh.exe@termio.c"
ssh!strstr+0x158 [f:\dd\vctools\crt\vcruntime\src\string\amd64\strstr.c @ 227]
ssh!ReadThread+0x222 [c:\git\openssh-portable\contrib\win32\win32compat\termio.c @ 115]

if (p = strstr(pio->read_details.buf, "\r\n"))

repro:
1. enable appverifier on ssh.exe
2. ssh -L 5432:127.0.0.1:47001 test_target powershell.exe Test-WSMan -computer 127.0.0.1 -port 5432 | Set-Content $stdoutFile

[2017-08-04 07:08] hdatma commented on #836
The command "ssh-keygen.exe -t ed25519 -o -a 100 -f ${HOME}/.ssh/id_ed25519" should interact with the user, asking for a password to protect the private key soon to be generated. In the case of Win32-OpenSSH, however, the interaction fails: the command does not terminate, and you must interrupt it manually. The trick to bypass the interaction is to provide the password directly in the command, as

[2017-08-04 07:18] rob-scheepens opened #840 "The SSH transport process has abruptly terminated causing this remote session to break."
Please answer the following

**If it is a terminal issue then please go through wiki
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH**

**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
Windows Server 2016 Datacenter

**Client OperatingSystem**
CentOS Linux release 7.3.1611 (Core)

**What is failing**
Enter-PSSession fails with "The SSH tran

[2017-08-04 14:15] frederik12345 commented on #459
Some people often view Long path tool as spam and not working but I already use it many times and it always work . I have the same problem and only Long path tool helped me. So I would suggest to use it .

[2017-08-04 18:07] bagajjal commented on #840
Are you executing Enter-PSSession within an SSH session or from an UNIX terminal?

Please share the sshd_config and the sshd.log on the windows machine.

[2017-08-04 18:13] bagajjal commented on #837
Did it work for you? can this be closed?

[2017-08-04 18:15] bagajjal commented on #836
Not sure why the ssh-keygen hangs for you but it works on my machine (windows 10),

PS E:\> .\ssh-keygen.exe -t ed25519 -o -a 100 -f e:\id_ed25519
Generating public/private ed25519 key pair.
Enter passphrase (empty for no passphrase):
Enter same passphrase again:
Your identification has been saved in e:\id_ed25519.
Your public key has been saved in e:\id_ed25519.pub.
The key fingerprint is:
SHA256

[2017-08-04 19:21] psmolkin commented on #837
Unfortunately it didn't help me. So I modified that service which I tried to start remotely as console app.
And yes, this issue can be closed. Thanks.

[2017-08-04 21:11] bingbing8 opened #841 "appverifier crashes on sftp.exe"
Please answer the following

**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
Windows 10

**Client OperatingSystem**
Windows 10

**Call stack**
sftp!main+0x480 [c:\git\openssh-portable\sftp.c @ 2523]
sftp!wmain+0xc7 [c:\git\openssh-portable\contrib\win32\win32compat\wmain_common.c @ 61]
sftp!invoke_main+0x22 [f:\dd\vctools\crt\vcstartup\src\startup\exe_common.inl @ 79]

[2017-08-04 21:34] bingbing8 commented on #841
[bug 2753](https://bugzilla.mindrot.org/show_bug.cgi?id=2753) is filed on openssh/openssh-portable

[2017-08-04 21:54] bingbing8 commented on #838
[bug 2754](https://bugzilla.mindrot.org/show_bug.cgi?id=2754) is filed on openssh/openssh-portable

[2017-08-06 07:10] rivy commented on #108
Yes, thanks.

The clear screen issue noted here is now fixed, as are the arrow keys and `ssh user@IP -T`.

<kbd>Page-UP</kbd> and <kbd>Page-DOWN</kbd> still send only the null character, so I'll open a new issue for that problem (see #842).

[2017-08-06 07:13] rivy opened #842 "Page-UP / Page-DOWN keys send only NUL characters"
The <kbd>Page-UP</kbd> and <kbd>Page-DOWN</kbd> keys send incorrect sequences when using the `ssh.exe`  client to connect to a Linux host.

By using `od -c` on the Linux host, it can be seen that a <kbd>Page-UP</kbd> or <kbd>Page-DOWN</kbd> keypress sends only a NUL character (aka, <kbd>CTRL-@</kbd>) to the host.

**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
Ubuntu 16.04

[2017-08-06 09:42] GoodMirek commented on #821
@bagajjal I do not have the affected machine available any longer. I have tried hard to reproduce on other machines, no luck - it works. Thank you for your time and effort, I am sorry I cannot uncover this mystery.

[2017-08-06 09:42] #821 closed, assigned to bagajjal

[2017-08-06 16:41] bagajjal commented on #842
@rivy - these are working on my machine.. Can you please help me with the associated VT sequence for page up / down..

[2017-08-07 21:59] bagajjal commented on #842
@rivy - Will fix it for the aug-mid release

[2017-08-08 00:01] #841 closed, assigned to nobody

[2017-08-08 00:01] #839 closed, assigned to bingbing8

[2017-08-08 12:27] alaksandus opened #844 "Error while executing FixHostFilePermissions.ps1"
Please answer the following

**"OpenSSH for Windows" version**
v0.0.18.0

**Server OperatingSystem**
Windows 10 IoT LTSB 2016 (aka 1607)

**What is failing**
I followed the instructions for installing: https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

But I get an error while executing .\FixHostFilePermissions.ps1 -Confirm:$false

**Expected output**
All permissions set corre

[2017-08-08 21:08] bagajjal commented on #840
Any update on this?

[2017-08-08 21:09] bagajjal commented on #836
Closing this thread as we couldn't reproduce on multiple machines..

[2017-08-08 21:09] #836 closed, assigned to nobody

[2017-08-08 21:13] bagajjal commented on #823
reopen this if required with required information.

[2017-08-08 21:13] #823 closed, assigned to nobody

[2017-08-08 21:16] bagajjal commented on #795
reopen this if required with requested information.

[2017-08-08 21:16] #795 closed, assigned to nobody

[2017-08-09 04:51] rob-scheepens commented on #840
I'm executing this from CentOS 7.3 terminal, as mentioned under Client OperatingSystem.

[2017-08-09 17:25] bagajjal commented on #840
what about sshd_config and the sshd.log?

[2017-08-09 22:28] JonathanHolvey commented on #844
I had the same error yesterday, and got around it by leaving off the option `-Confirm:$false` from the end of the command.

[2017-08-10 01:31] bagajjal commented on #90
We couldn't find a perfect solution.

Here is our current proposal,
1) Read the default SSH shell from an user environment variable that has the full path (ex - C:\Windows\System32\cmd.exe)

2) Check if the default SSH shell is trusted,
   a) If the executable is from system32 path (ex - C:\Windows\System32)
          (or)
   b) If the executable is published from a trusted source (ex - Microsoft)

[2017-08-10 01:40] lucastheisen commented on #90
Anything that can be done to make powershell the default will be good for me, but I wonder how the _SSH shell from an user environment variable_ will get set...  I usually set environment variables in my user profile, but the won't get executed until powershell starts...

[2017-08-10 02:02] DarwinJS commented on #90
Looks like powershell.exe from powershell core is not signed by Microsoft (at least beta 4), so does that mean it would have to be installed under system32 to work with OpenSSH?

What does "trusted" mean in this context?

In the past Microsoft has considered "Program Files" locations more trustworthy than user writable locations because it takes admin permissions to place something there.

[2017-08-10 07:01] rob-scheepens commented on #840
@bagajjal I re-did the whole setup again and now I am able to get it working. I suspect a misconfig was the issue here. Closing now, thanks for the response.

[2017-08-10 07:01] #840 closed, assigned to bagajjal

[2017-08-10 08:31] rob-scheepens commented on #688
@bagajjal @joeyaiello, could you share an update to the timelines? I'm eagerly awaiting a production ready version.

[2017-08-10 18:48] bagajjal commented on #834
@thezim - Can this be closed?

FYI, The long term solution (backlog item) is to use the windows logging mechanism instead of writing to sftp-server.log.

[2017-08-10 19:59] marcosnils commented on #727
@pivotal-jbarrett I use autologon (https://docs.microsoft.com/en-us/sysinternals/downloads/autologon) in AWS instances so the machine automatically logins at boot and then I can ssh into it. I guess it's similar to your script with the exception that autologon encrypts the password in the registry

[2017-08-10 20:15] thezim commented on #834
@bmanikm Yes. Will there still be an option to log to sftp-server.log in the future? Parsing and archiving logs for security audits is much easier with a log file.

[2017-08-10 20:15] #834 closed, assigned to bagajjal

[2017-08-10 20:22] bagajjal commented on #834
@thezim - Its too early to comment on the future implementation but we will certainly keep this information (writing to a log file so the parsing,archiving is easy) during our implementation.

[2017-08-10 20:34] robetus commented on #332
The installation has been updated but the auto install script has not. Can anyone tell me how to insert  these two steps into the attached script?:

[code]
and
[code]
[mod-install-OpenSSH-Win32.txt](https://github.com/PowerShell/Win32-OpenSSH/files/1216290/mod-install-OpenSSH-Win32.txt)

[2017-08-11 12:52] marcosnils commented on #821
@GoodMirek @bagajjal one thing that I've noticed is that even though CTRL+C works to interrupt commands (like the ping example you mentioned), if you press it while in the prompt, it doesn't cancel the current command  like it does in the real windows shell. Is there something that can be done for this?

[2017-08-11 19:10] bagajjal commented on #821
@marcosnils - ctrl+c is issued from the ssh-shellhost but the console is not honoring.. It's a bug in the console code.. Out of our scope

[2017-08-11 19:13] marcosnils commented on #821
@bagajjal that's what I supposed. Too bad that's console specific and that powershell / cmd doesn't react. Any ideas about it would be possible to overcome?

[2017-08-12 10:22] vovcacik commented on #827
@manojampalam yes, the gpg-agent creates `S.gpg-agent.ssh` file with TCP port number it listens on and authorization cookie. I believe this way it is compatible with `cygwin` environment, but unfortunately not with this project (that is using named pipes).

[2017-08-12 10:28] vovcacik commented on #827
@bagajjal I understand, thanks.

When you get to it, make sure you work with the official Windows builds available from gpg ftp (`ftp://ftp.gnupg.org/gcrypt/binary/`). It is far more superior than [Gpg4win][], but it is bit hidden out of sight and not advertised at all.

[Gpg4win]: https://www.gpg4win.org/

[2017-08-14 16:17] manojampalam commented on #844
@bingbing8 is looking into this.

[2017-08-14 16:24] manojampalam commented on #827
@vovcacik your understanding is correct. On Windows the logical equivalent of Unix Domain Sockets is named pipes (that inherently provides authorization capabilities). We unfortunately have no alternative way to use smartcards with this version of OpenSSH. Its a feature that we need to implement for Windows.
You'll have to stick with Cygwin for now (if it works).

[2017-08-14 16:31] manojampalam commented on #824
From a security standpoint, remote SSH sessions run under the context of the authenticated user (irrespective of sshd running as LocalSystem or not).

What is the user account you are using to login via ssh?

[2017-08-14 17:07] manojampalam commented on #90
The intention here is address the security concern around "sshd launching malware injected arbitrary session process". Sticking with cmd.exe keeps it plain simple.

Otherwise we are trying to understand if there are any specific requirements mandating Powershell by default (apart from the convenience aspect). I see a drawback - its difficult to adjust Powershell session prompt (PS:>\) to make it i

[2017-08-14 19:04] bingbing8 commented on #844
@JonathanHolvey and @alaksandus I don't repro the issue when run the script from pwoershell prompt window. Not sure why your output does not include the command actually run. From your message, looks like powershell treat $false as type of system.string.  My guess is you may invoke the script using quotes. If that is the case, you need to escape $, for example,
iex ".\FixHostFilePermissions.ps1 -C

[2017-08-14 22:12] thecliguy opened #845 "Alt does not act as the Meta key"
**"OpenSSH for Windows" version**
0.0.18.0

**Client OperatingSystem**
Windows 10 (Version: 1703 Build: 10.0.15063.540)

**What is failing**
A modifier key is a key that modifies the action of another key when the two are pressed together.
The Meta key is an example of a modifier key. In the absence of a physical meta key, the Alt key is commonly used to act as such.

In Weechat (an IRC client), n

[2017-08-15 06:52] vovcacik commented on #826
I didn't solve this issue, however I think I have provide enough data to point finger at win32-openssh. Especially the fact, that Windows reported proper permissions for user `sshd` in *Effective access* view.

I no longer need this to fix.

[2017-08-15 06:52] #826 closed, assigned to nobody

[2017-08-15 11:34] Andrei-Paul opened #846 "sshd service fails to start unless I add "NT SERVICE\sshd" to "Log on as a service" policy"
**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
Windows Server 2008 R2 Standard

**What is failing**
SSHD Service would not start:
Account For Which Logon Failed:
	Security ID:		NULL SID
	Account Name:		SSHD
	Account Domain:		NT SERVICE

Failure Information:
	Failure Reason:		The user has not been granted the requested logon type at this machine.
	Status:			0xc000015b
	Sub S

[2017-08-15 11:42] Andrei-Paul commented on #844
I get the same behaviour.
Maybe PS version helps?
PS D:\Applications\OpenSSH> get-host

Name             : ConsoleHost
Version          : 2.0
InstanceId       : bedb3e5b-5364-4fef-b8fd-67a55ae89b22
UI               : System.Management.Automation.Internal.Host.InternalHostUserInterface
CurrentCulture   : en-US
CurrentUICulture : en-US
PrivateData      : Microsoft.PowerShell.ConsoleHost+ConsoleColor

[2017-08-15 12:17] alaksandus commented on #844
@bingbing8  It doesn't matter if I copy/paste or type the text. Same error. My output of get-host and PSVersionTable is below:

PS C:\Program Files\OpenSSH> get-host

Name             : ConsoleHost
Version          : 5.1.14393.1532
InstanceId       : 31db26d8-76a6-463a-aedc-99fffa55cb34
UI               : System.Management.Automation.Internal.Host.InternalHostUserInterface
CurrentCulture   : nl-NL

[2017-08-15 16:35] manojampalam commented on #846
Thank you. We'll modify the installation script to explicitly add that privilege to sshd service account. So far, we have seen it getting that privilege automatically assigned.

[2017-08-15 18:35] kfiresmith commented on #15
+1

[2017-08-16 21:48] manojampalam commented on #727
I have debugged the internals of this issue (specifically lsass), and see that this is stemming from [msv1_0.dll](https://msdn.microsoft.com/en-us/library/windows/desktop/aa378753(v=vs.85).aspx). From what I know, this should only impact workgroup accounts. Let me know if domain accounts are impacted too.

I'm adding a workaround in ssh-agent for now while I discuss this with security team.

[2017-08-17 19:05] #842 closed, assigned to bagajjal

[2017-08-17 19:15] bagajjal commented on #700
This is fixed, please check the aug-mid release to be released on 8/18..

The "bck-i-search" is not printed on the next line, this is due to "https://github.com/PowerShell/Win32-OpenSSH/issues/590"..
![image](https://user-images.githubusercontent.com/23668037/29429487-b11cd186-8345-11e7-800a-64485bb3e6e4.png)

[2017-08-17 19:15] #700 closed, assigned to bagajjal

[2017-08-17 19:16] bagajjal commented on #590
Because of this issue, the powershell Ctrl+R command shows the "bck-i-search" in the same line..

![image](https://user-images.githubusercontent.com/23668037/29429532-e0655260-8345-11e7-9fc0-0f0ec05632aa.png)

When sshd is started in the debug mode (sshd.exe -d), the ctrl+R issue is not seen... This behavior confirms it is related to terminal size set in the ssh-shellhost on the server side.

[2017-08-17 19:18] bagajjal commented on #842
Please check the aug-mid release on 8/18

[2017-08-17 19:26] #727 closed, assigned to manojampalam

[2017-08-17 19:27] #833 closed, assigned to nobody

[2017-08-17 19:31] #846 closed, assigned to nobody

[2017-08-18 03:43] JW0914 commented on #742
The issue is Win32-OpenSSH isn't respecting the ssh_config/sshd-config `Ciphers` option... check the logfile of the client/server and look for:
[code]

- Where "*Their*" refers to Win32-OpenSSH

See: #847

[2017-08-18 05:36] JW0914 opened #847 "[Security] global ssh_config is not honored"
**Version:** 0.0.18.0
**Server:** LEDE  (Linux router OS)
**Client:** Windows 10 Pro

Win32-OpenSSH refuses to honor the `Ciphers` option when set in ssh_config *(likely sshd_config as well)*.
- ***C:\Program Files\OpenSSH\ssh_config:***
   `Ciphers                           = rijndael-cbc@lysator.liu.se,aes256-cbc,aes192-cbc,aes128-cbc`
- ***/etc/ssh/sshd_config:***
   `Ciphers

[2017-08-18 10:30] larsimmisch commented on #175
For the record: I could fix my public key authentication problems following the suggestion from @SkyRider64 and reinstalling Win32-OpenSSH in `c:\Program Files\OpenSSH-Win64`

[2017-08-18 14:08] Mayhem93 opened #848 "Weird behavior under certain programs"
Please answer the following

**If it is a terminal issue then please go through wiki
It is a terminal issue, but not entirely related to that TTY/xterm/etc issue (I was aware of that for a few months now).

**"OpenSSH for Windows" version**
 0.0.18.0

**Server OperatingSystem**
[code]

**Client OperatingSystem**
Windows 10 Pro

**What is failing**
Entering a new line (and possible other escape cha

[2017-08-18 15:35] RobC-CTL commented on #190
Just wondering if there is any progress on this issue? Thanks

[2017-08-18 16:10] JW0914 commented on #847
The issue appears to be `ssh.exe` refuses to acknowledge the *ssh_config* file stored in *C:\Program Files\OpenSSH\\* (unless specifically referenced via `-F 'C:\Program Files\OpenSSH\ssh_config'`), instead only recognizing an ssh_config stored at *%USERPROFILE%\\.ssh\\config* by default.

- This is **not** normal behavior for OpenSSH and should this not be fixed, it needs to be annotated in the [

[2017-08-18 17:46] bagajjal commented on #848
@Mayhem93 - There are many terminal fixes went in version 18 so I am hoping this is a regression issue...

I yet need to repro this issue... I will update this thread soon....

regarding the terminal not getting cleared while doing ssh, this is a bug and its fixed... so the current behavior is correct. However if you connect to windows ssh server, the terminal gets cleared (this is required due to

[2017-08-18 18:08] Mayhem93 commented on #848
@bagajjal It's very easy to reproduce, just use redis-cli on a linux machine, or were you not able to reproduce it like I said ?

[2017-08-18 18:34] bagajjal opened #849 "Ctrl sequences (ctrl+home, ctrl+end, etc) are not working"
Ctrl sequences (ctrl+home, ctrl+end, etc) are not working

[2017-08-18 18:36] bagajjal opened #850 "ssh-shellhost is not interpreting ctrl sequences (ctrl+a-ctrl-z and alt+shift+?)"
ssh-shellhost is not interpreting ctrl sequences (ctrl+a-ctrl-z and alt+shift+?)

[2017-08-18 18:45] manojampalam commented on #190
Not yet and this is still not in radar. chroot for Windows is a non-trivial feature and its kind of complicated to make it fool proof (since Windows natively doesn't provide this option).

[2017-08-18 18:53] manojampalam commented on #847
Added as security considerations in Wiki and put a link [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH).
Related to #466.

[2017-08-18 19:21] #850 closed, assigned to bagajjal

[2017-08-18 19:21] #849 closed, assigned to bagajjal

[2017-08-18 21:50] bagajjal commented on #686
@nkrepo - This is fixed in the latest release (0.0.19.0)...
Please note that all the powershell shortcuts doesn't have an equivalent vt ctrl sequences that gets transferred from the ssh client to ssh server...

ctrl+space doesn't work because the ssh clients (putty, Cygwin, unix terminals, win32-ssh client, etc) will transmit space instead of ctrl+space to the ssh server.

ctrl+alt+space+? also do

[2017-08-18 21:50] #686 closed, assigned to bagajjal

[2017-08-18 21:54] bagajjal commented on #848
@Mayhem93 - I haven't tried.. busy in fixing other issues..
Will try this early next week..

[2017-08-18 22:54] cowlinator opened #851 "ssh-agent fails with "unable to open service handle""
**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
No server

**Client OperatingSystem**
Microsoft Windows [Version 10.0.14393]

**What is failing**
I am trying to run ssh-agent on windows, but it fails to run.

[code]

**Expected output**
[code]

**Actual output**
[code]

[2017-08-18 22:58] cowlinator commented on #851
(Also, I do not have posh-git installed.)

[2017-08-19 08:36] JW0914 commented on #847
I appreciate this being annotated under [Security Considerations](https://github.com/PowerShell/Win32-OpenSSH/wiki/Security-Considerations), however that doesn't fully address the issue...

Currently, Win32-OpenSSH does not recognize _anything_ set in **C:\Program Files\OpenSSH\ssh_config** unless the `-F` switch is utilized (due entirely to how it's currently compiled), and while that's a massive

[2017-08-19 13:08] RobC-CTL commented on #190
Thanks for the update

[2017-08-19 19:34] guskovd opened #852 "sshfs: Operation not permitted"
Win32-OpenSSH version: v0.0.19.0 (guest)
SSHFS version 3.1.0 (host)

ssh and sftp works, but sshfs fails by permission error:

from my linux host:
[code]
output:
[code]

Interestingly, when you try to delete a file, such problems do not arise
for example:
[code]
work's perfect

[2017-08-19 19:36] guskovd commented on #852
sshd -ddd output:
[code]

[2017-08-21 14:41] rgl commented on #846
How was this possible? Isn't `NT SERVICE\ALL SERVICES` in your local policy "Log on as a service" account right? Isn't this the whole reason for windows to have `NT SERVICE\*` accounts (aka isolated services)?

[2017-08-21 16:19] DarwinJS commented on #846
From my testing I believe this was only absolutely required (service won't launch) for Win7 and maybe Nano?

[2017-08-21 16:51] claptrap251 commented on #787
Any updates regarding this issue?

[2017-08-22 01:16] marcosnils commented on #590
@bagajjal IIRC running sshd in debug is a "hack" to make this work?

[2017-08-22 01:22] bagajjal commented on #590
@marcosnils - launching sshd in debug will not work as service.. sshd in debug mode, will not create new sshd child and it will terminate as soon as session ends..

You have the correct functionality but the UI is bad (bck-i-search) comes in the same line which is not good..

[2017-08-22 01:25] marcosnils commented on #590
I was looking for a fix to the window resize  issue.  I guess I'll wait until it gets fixed :). Appreciate the input

[2017-08-22 02:31] bagajjal commented on #787
@aayush251 - Couldn't reproduce on windows server 2016...

[2017-08-22 23:13] benhillis opened #853 "Win32: Key events injected via WriteConsoleInputW should have wRepeatCount = 1"
**"OpenSSH for Windows" version**
[v0.0.19.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.19.0)

**Server OperatingSystem**
 `Windows 10 Enterprise Insider Preview
Microsoft Windows [Version 10.0.16273.1001]`

**Client OperatingSystem**
 `Windows 10 Enterprise Insider Preview
Microsoft Windows [Version 10.0.16274.1700]`

**What is failing**
Input events have wRepeatCount set to z

[2017-08-23 01:35] nightwish47 opened #855 "Issue "No supported authentication methods available""
Hello guys,

We got following issue  when the end of  Public key is character "==".

**"OpenSSH for Windows" version**
OpenSSH v0.0.17.0

**Server OperatingSystem**
Windows

**Client OperatingSystem**
Windows

**What is failing**

- In case of Public key bit is 1024 and the end of key is "==".
→Client is failed to connect to SFTP server with below error.
`error: userauth_pubkey: could not parse ke

[2017-08-23 08:46] havalli opened #856 "GetConsoleMode error"
Please answer the following

**"OpenSSH for Windows" version**
0.0.18.0

**Server OperatingSystem**
0.0.18.0

Server 2016 Core

**What is failing**
ssh user@server remoteComand

**Expected output**
no Error

**Actual output**
GetConsoleMode on STD_INPUT_HANDLE failed with 6

The command is executed in a CI/CD Pipeline by a gitlab-runner. If I execute the command manually inside a cmd window there