[2017-03-05 09:05] manojampalam commented on #378
Go ahead and create one. See if it works.

[2017-03-05 09:09] manojampalam commented on #543
accessing a share (domain or not) involves authentication. Remote ssh sessions created using key based auth cannot do outbound authentication, hence cannot access any share.

[2017-03-05 09:13] JINXz commented on #253
@felippo that really helped and is now working for me using pubkey authentication to automatically sign in. I agree that this should be explicitly stated somewhere in the documentation. I need to also note using user@host works with password authentication.

[2017-03-05 20:06] charabaruk opened #558 "ssh-agent doesn't work if the server side components (sshd) are not installed"
Whenever trying to add or list identities in ssh-agent, the ssh-add process fails with the message "communication with agent failed". For example:

[code]

[2017-03-05 20:19] charabaruk opened #559 "Should SSH sessions really have %TEMP% set to C:\Users\SSHD\AppData\Local\Temp ?"
This seems like it could be a security issue if multiple users are connecting to the same server. Instead, wouldn't it be better to maintain the user's original TEMP directory?

[2017-03-06 02:00] nightwish47 commented on #552
@manojampalam :Thanks for your answer.

Is it mean that update the latest version for OpenSSH on client side?

In addition, since the system is running on production, so its very hard to upgrade the latest version right now.
Are there any other methods to modify the setting of 「sshd_conifg」instead of version up?

[2017-03-06 04:38] altano opened #560 ""Could not open a connection to your authentication agent.""
I ran `choco install openssh /SSHAgentFeature` and verified that the SSH Server Broker and SSH Server Proxy services were installed and running.

Unfortunately I'm not sure what to do next: every ssh command gives the error "Could not open a connection to your authentication agent." e.g.:

    PS C:\src> ssh-add C:\Users\alan\.ssh\id_rsa
    Could not open a connection to your authentication agent

[2017-03-06 08:20] erik-am commented on #378
@manojampalam Thanks, creating the `logs` folder manually did the trick. Now I have the following log entries in ssh-agent.log:

[code]

What does it mean? I would expect something related to Lsa in the logs, but it's not there.

EDIT: Sometimes I also get "debug1: unable to generate token for user Administrator"

[2017-03-06 09:22] nightwish47 commented on #522
@bagajjal : Could you check following point?

[2017-03-06 09:45] nightwish47 commented on #537
@bagajjal : I think that it is not related to #536 and it occur sometime until now.
Could you please continue check it?

[2017-03-06 11:31] nellfr opened #561 "Executing Powershell script on remote Windows server fails with no -TTY/PTTY"
Hello,

I have 1 Linux script that runs in crontab which initiate an keybased SSH login against a Windows 2012 R2 server , to invoke a Powershell script execution with some parameters.
Basically the Linux script issues this command :
**ssh -i ID_file  ssh_user@Windows_server_IP "powershell C:\script_path\powershell_script.ps1 param1 param2 param3"**

1. When I launch the Linux script manually from

[2017-03-06 11:34] nellfr commented on #561
18176 12:17:01 482 debug2: accept io:000000FFEC2B0930
18176 12:17:01 482 debug1: socket:560, io:000000FFEC2B0930, fd:5
18176 12:17:01 482 debug1: pipe - r-h:568,io:000000FFEC2B05C0,fd:6  w-h:552,io:000000FFEC2B0CA0,fd:7
18176 12:17:01 482 debug1: spawning "C:\\Program Files\\OpenSSH\\sshd.exe"
18176 12:17:01 483 debug1: Register child 0000000000000240 pid 4184, 0 zombies of 2
18176 12:17:01 483 de

[2017-03-06 12:20] fjaenal opened #562 "Problems when connecting Permission Denied on password authentication."
Until now I have been using the Win32-openSSH version from august. Due to some security issues in the Open SSH 7.1 version, I am looking forward to move to the V 0.9.0.0 or V 0.8.0.0 but I have come up with a problem when logging, In the attached files there are the logs and the sshd_config file.

Test Data:
+ Using a port 22200
+ The account is Administrator.
+ The client is an Open SSH v7.4
+ SS

[2017-03-06 12:31] DarwinJS commented on #378
@manojampalam - seems odd to place logging data in a subfolder of the binaries folder (on Windows).  Has there been any discussion of making the default more windows compliant?  Like c:\programdata\ssh\logs or something similar?

[2017-03-06 14:31] jschvartz commented on #543
Hello Manoj,

If i am already authenticated as a domain user on a host, why preventing me to also be identified in the domain on another host and get access to shares on this host?
I understand it could be a threat in certain circumstances, but nothing worse that “rsh” I am using now …
Could be fully configurable?
Is it not worth opening a new discussion on the subject?

Thanks,
Joel

Joel Schvart

[2017-03-06 17:40] imayobrown opened #563 "No return to client when executing slow remote commands and sending EOF before child execution concludes"
Hi all,

When executing slow remote commands on the server and sending an EOF from the client before the execution of the spawned child process (ssh-shellhost.exe on the server) has completed results in nothing being returned to the client.

It seems once a ```MESSAGE_CHAN_EOF``` has been received by sshd on a channel it sets the ```ostate ``` of the channel to ```CHAN_OUTPUT_WAIT_DRAIN```. If the

[2017-03-06 19:41] Huangdong2 opened #564 "why so many errors for the build?"
1>------ Build started: Project: config, Configuration: Debug Win32 ------
2>------ Build started: Project: libssh, Configuration: Debug Win32 ------
3>------ Build started: Project: openbsd_compat, Configuration: Debug Win32 ------
4>------ Build started: Project: posix_compat, Configuration: Debug Win32 ------
5>------ Build started: Project: ssh-lsa, Configuration: Debug Win32 ------
5>  Ssh-ls

[2017-03-06 20:04] bagajjal commented on #564
I just got a fresh clone of repo and it works for me..

If you are using a old clone.. then do a "git pull" and delete the "$openssh-portable\contrib\win32\win32compat\inc\crtheaders.h", clean the solution and build it..

Steps to get a fresh clone..
1) Get the fresh clone of repo.
git clone --recursive https://github.com/PowerShell/openssh-portable

2) Download the openssl library from "https://g

[2017-03-06 20:49] Huangdong2 commented on #564
still too many errors with vs2013

1>------ Build started: Project: config, Configuration: Debug x64 ------
2>------ Build started: Project: libssh, Configuration: Debug x64 ------
3>------ Build started: Project: openbsd_compat, Configuration: Debug x64 ------
4>------ Build started: Project: posix_compat, Configuration: Debug x64 ------
5>------ Build started: Project: ssh-lsa, Configuration: De

[2017-03-06 20:50] bagajjal commented on #564
You should use VS2015..

[2017-03-06 22:44] mnalis commented on #556
The bug evidently manifest itself in a way that ssh to windows sshd server works from command line, but does not work from crontab. It also fails from command line if you redirect stdin from /dev/null, like so:

    ssh  winserver whoami < /dev/null

Until this is fixed, I've had to use [this wrapper script](http://serverfault.com/a/836667/182307) on ssh client

[2017-03-06 22:46] mnalis commented on #561
In my case it was because windows sshd does not work when there is not STDIN attached. See #556 for workaround on the client side.

[2017-03-07 00:21] bagajjal commented on #527
@friism  its the issue with the MinGW SSH client.. Its unable to interpret correctly..
Please use the openssh client and report if you have any issues...

Also please open a new issue since this thread is closed..

[2017-03-07 00:51] #564 closed, assigned to bagajjal

[2017-03-07 00:54] manojampalam commented on #562
Authentication and token generation take place in ssh-agent. Please attach agent logs.
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting%20Steps

[2017-03-07 00:58] manojampalam commented on #560
SSH Server Broker and SSH Server Proxy services were installed and running are a different and independent implementations of SSH (they do not support ssh-agent and its operations) see [here](https://github.com/PowerShell/Win32-OpenSSH/issues/318)

You will need to install OpenSSH bits from [here](https://github.com/PowerShell/Win32-OpenSSH/releases)

[2017-03-07 00:58] #560 closed, assigned to nobody

[2017-03-07 00:59] manojampalam commented on #559
Thanks for catching this. Will be fixed in next drop.

[2017-03-07 01:06] altano commented on #560
Question 1: So `choco install openssh /SSHAgentFeature` (and the chocolately install in general) can't be used if one wants to make use of ssh-agent?

Question 2: how does one make use of ssh-agent from the OpenSSH port to have persistent authentication? E.g. Being prompted for the password to my key the first time I open my console or the first time ssh runs, but not subsequently. Are there any g

[2017-03-07 01:07] bagajjal commented on #432
Please check in the latest release.. this should be fixed, if not please reopen..

[2017-03-07 01:07] #432 closed, assigned to bagajjal

[2017-03-07 01:09] manojampalam commented on #558
Can you check if the process id under the following
reg query HKEY_LOCAL_MACHINE\SOFTWARE\SSH\Agent

matches that of ssh-agent.exe process? If not delete the above entry and restart ssh-agent. This problem should go away in next drop as these checks were removed in code.

[2017-03-07 01:10] altano commented on #560
Oh I see from your link that those services are from enabling dev mode, not from the choco install of openssh. So my second question remains: I've installed this port using chocolately: now what? How do I use ssh-agent from this port to get the same functionality as Pageant?

[2017-03-07 02:51] Huangdong2 commented on #564
yes, I used vs2013 for the build
by replacing ToolsVersion="14.0" with ToolsVersion="12.0"
<PlatformToolset>v140</PlatformToolset> with <PlatformToolset>v120</PlatformToolset>
in all *.sln;*.vcxproj files.
does using vs2013 make it completely different? I thought it's just a GNU tool porting

[2017-03-07 03:03] charabaruk commented on #558
The ProcessID value did match the ssh-agent.exe PID, but even after removing the property and restarting the ssh-agent service, the problem remains with the same output from the `ssh-add` commands.

Does the ssh-agent service require that the SSHD service is also required? I have OpenSSH installed with the agent but not the server (via Chocolatey package param `/SSHAgentFeature`).

[2017-03-07 06:05] zaufi commented on #546
I have the similar problem trying to execute ssh commands under TeamCity.. without force PTY allocation (`-tt` option of `ssh`) it doesn't work :(  Adding `-tt` make it works, but output is crappy -- looks like a broken ESC sequences...

[2017-03-07 08:41] nellfr commented on #561
Hi @mnalis thank you for feedback.
In my case the ssh command is executed by a "client wrapper" which I mentioned earlier as Linux script (scheduled in cron).
I just tried with "-n" and the result is the same, PowerShell script residing on Windows server is not invoked at all.
I will paste ssh client and server logs in a moment.

[2017-03-07 09:16] fjaenal commented on #562
Please find attach the agent-ssh log and anew sshd.log (I have test without key auth, I only need password auth):

[ssh-agent.log.txt](https://github.com/PowerShell/Win32-OpenSSH/files/823859/ssh-agent.log.txt)
[sshd.log.txt](https://github.com/PowerShell/Win32-OpenSSH/files/823877/sshd.log.txt)

Also the ssh-agent runs as a local system account (the sshd runs under NT SERVICE) and sshd has a depe

[2017-03-07 12:39] RodTrevisan commented on #189
Does anyone have a solution to this problem?

[2017-03-07 13:05] DarwinJS commented on #189
@RodTrevisan - can you try the latest chocolatey package?  You can also run the install script of the chocolatey package without using chocolatey, see "complete offline install" here: https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/readme.md

[2017-03-07 17:32] HolisticDeveloper opened #565 "Can the project status page be updated with milestones and/or timeline?"
The [project status](https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Status) page lists some of the work in progress, but I can't get a sense from that as to what the upcoming milestones might be or what sort of timeline (if any) exists for completing them.

Essentially, I'm trying to figure out when this library might be considered "production ready"?

[2017-03-07 23:39] mnalis commented on #561
yes, with `-n` (or `< /dev/null"`) it would fail also when run on command line (and not just when invoked from crontab). It just demonstrates what the problem is (not handling missing STDIN) and does not fix the problem.

The workaround is using  [this perl script](http://serverfault.com/a/836667/182307)  linked from #556. It fakes STDIN with no input, so sshd on windows side continues to work nor

[2017-03-08 06:40] ghost commented on #546
@zaufi maybe you can provide server logs.
At the moment i am simply too busy to collect them (would have to contact the admins, start the services, configure and start the application, etc. etc.) :/

[2017-03-08 09:22] fjaenal commented on #562
Some more information:
Testing different versions, all 32 bits for the moment
Client and server configuration / installer remains the same for all tests
The account used is the Administrator and its a Local account.
Version 0.0.1.0 --> Works
Version 0.0.2.0 to 0.9.0.0 does not work, same error / logs as above.

Test with 64 bits same results

Also the server OS is Windows server 2008 R2

[2017-03-08 13:38] DarwinJS commented on #562
@fjaenal - I believe this is the fault of the chocolatey package - it was not properly copying the ssh-lsa.dll on new installs.

It is fixed in version 0.0.9.20170308, which as of this moment is still in moderation.  It can be pulled before moderation is complete by specifying the version on your chocolately install or upgrade command line.

[2017-03-08 13:44] DarwinJS commented on #253
If you used the chocolatey package to do this install, then the lack of public key auth was likely the fault of the chocolatey package - it was not properly copying the ssh-lsa.dll on new installs.

It is fixed in version 0.0.9.20170308, which as of this moment is still in moderation.  It can be pulled before moderation is complete by specifying the version on your chocolately install or upgrade c

[2017-03-08 13:45] DarwinJS commented on #429
If you used the chocolatey package to do this install, then the lack of public key auth was likely the fault of the chocolatey package - it was not properly copying the ssh-lsa.dll on new installs.

It is fixed in version 0.0.9.20170308, which as of this moment is still in moderation.  It can be pulled before moderation is complete by specifying the version on your chocolately install or upgrade c

[2017-03-08 13:55] mochtu commented on #429
@DarwinJS Thank you, it is fixed now for me.

[2017-03-08 13:55] #429 closed, assigned to nobody

[2017-03-08 13:58] fjaenal commented on #562
@DarwinJS  - I think I may explain myself wrong, I am not using Chocolate package, and the subsequent ps1 script to install, that's because I can't have powershell running on the server. So I have created my own installer using the CMD console. The lines I refer above are the one I use to create, configure and run the sshd and ssh-agent.

To make the installer I have follow the [https://github.com

[2017-03-08 14:25] DarwinJS commented on #562
@fjaenal - No it's me that wasn't quite sure whether you were affected by this bug.

[2017-03-08 17:30] nellfr commented on #561
Thanks for the two suggestions.
I confirm that -tt option allow to execute the command on server. As the target implementation of the ssh command is to be run by an automation tool silently this workaround is acceptable. Indeed no human is supposed to read output.
I hope pty allocation and STDIN handling will be fixed in future release to align Microsoft OpenSSH capabilities with OpenSSH on Linux.

[2017-03-09 14:31] fjaenal commented on #562
Solved the issue, it was the installer I was using, thanks for the help, this can now be closed.

Francisco

[2017-03-09 14:44] erik-am commented on #378
Did someone else get it working to have a Windows Docker Container and to try to login using pub key authentication? I try to login as the Administrator, but it keeps failing.

I'm in an urgency to get this working, so _anything_ I can do to debug or to give more information, please let me know.

FYI this is the Dockerfile:

[code]

[2017-03-09 15:59] DarwinJS commented on #378
Consider using the Dockerfile I published with the package source.

FYI - it has not been tested recently and I don't have time at the moment and understand you are in a hurry.

https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/Dockerfile

[2017-03-09 16:23] fjaenal commented on #546
I have a similar problem with jsch api, have over come it by using an old ssh-shellhost.exe, my question is: What terminal type is the ssh-shellhost using?

[2017-03-09 18:26] friism commented on #540
@manojampalam that's very hard. The problem happens when the windows instance goes into sysprep...

[2017-03-09 18:31] manojampalam commented on #558
It should not. Do you have ssh-agent logs? Looks at Wiki Troubleshooting link.

[2017-03-09 19:11] manojampalam commented on #253
@JINXz both following formats should work for both password and key based auth.

Can you please share sshd.log and ssh-agent.log for success and failure cases?

[2017-03-09 19:22] #562 closed, assigned to nobody

[2017-03-09 19:32] manojampalam commented on #378
@DarwinJS, we eventually want to move to Windows ETW logging. For now, we are keeping all logging in the same folder to have the flexibility of hosting multiple versions of OpenSSH on the same box.

[2017-03-09 19:33] manojampalam commented on #378
@erik-am I'm trying out a docker container now.

[2017-03-09 19:54] manojampalam opened #566 "Remote command line Issues:"
SSH deamon base64 encodes the remote commandline before it passes it on to ssh-shellhost.exe. There is an issue with decoding logic that corrupts the input command line. This hits on command lines with length (3x  + 1)

Ex
C:\openssh\openssh-portable\bin\x64\Debug>ssh admin@127.0.0.1 echo 1
**1??????**

C:\openssh\openssh-portable\bin\x64\Debug>ssh admin@127.0.0.1 echo 12
12

C:\openssh\openssh-po

[2017-03-09 19:57] #534 closed, assigned to bingbing8

[2017-03-09 20:00] manojampalam commented on #566
Work around - try inserting a space in the command line to make it fall in (3x) or (3x+2) zone.

[2017-03-09 20:01] manojampalam commented on #546
ssh-sshellhost supports both modes. It depends on what the client requested.
Can you check if you are hitting this issue - https://github.com/PowerShell/Win32-OpenSSH/issues/566

[2017-03-09 20:31] bingbing8 commented on #482
does not repro. Please reopen when you can repro it.

[2017-03-09 20:48] bingbing8 commented on #412
All tests are fixed except those in utf8.

[2017-03-09 20:48] #412 closed, assigned to nobody

[2017-03-09 21:10] manojampalam commented on #555
dup #566

[2017-03-09 21:10] #555 closed, assigned to nobody

[2017-03-09 21:16] charabaruk commented on #558
I did look at the Troubleshooting wiki page, but it exclusively refers to sshd, not ssh-agent. As far as I can tell, there's no enhanced logging for ssh-agent the way there is for ssh and sshd.

[2017-03-10 06:14] manojampalam commented on #558
https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting%20Steps
ssh-agent.log should be there under logs folder

[2017-03-10 13:49] charabaruk commented on #558
There was no logs folder, either, but after creating one a ssh-agent.log file was generated in it. I put LogLevel to DEBUG3, and here's what showed up in the log file (using same scenario as above):

[code]

[2017-03-10 16:54] DarwinJS commented on #558
@manojampalam - I am thinking the chocolatey package could just create the logs folder all the time so that this confusion could be avoided?  Maybe you could also put an empty flag file in the logs folder in the zip so it is created?  I wouldn't do just an empty folder as many unzippers have to be explicitly told to create empty folders.

[2017-03-10 20:03] manojampalam commented on #378
@erik-am Can you make sure you have ssh-lsa.dll installed?
Try this out
del %windir%\system32\ssh-lsa.dll

It should say ACCESS DENIED (as that dll should be loaded by lsass.exe).
If you dont' see this, they you don't have it installed. To install, run install-sshlsa.ps1 from the release payload (and restart).

[2017-03-10 22:34] charabaruk commented on #558
@DarwinJS maybe just create it whenever the sshd or ssh-agent options are used? Unless ssh uses the same directory for client logs (which doesn't sound right).

[2017-03-11 02:38] bagajjal opened #567 "Logic to pass the raw buffer to console is wrong."
When the console has the capability to parse, the logic to pass the raw buffer to console is wrong..

Fixed this and also added environment variable "USE_CUSTOM_ANSI_PARSER" which when set to 1 will use the custom ansi parser code as part of the Open SSH project irrespective whether the client console supports the ansi parsing or not..

[2017-03-11 02:39] bagajjal opened #568 "Scrolling issue when the cursor is at the last line of the visible window."

[2017-03-11 02:39] bagajjal opened #569 "wrong implementation of TIOCGWINSZ. This is causing lot of issues when windows open ssh client is connecting to linux ssh server."

[2017-03-11 02:40] bagajjal opened #570 "code cleanup for console related logic"

[2017-03-11 02:40] bagajjal opened #571 "Move the cursor to top of visible window so that nothing will be erased on the console."

[2017-03-11 02:41] bagajjal opened #572 "clear screen is not clearing the whole console"

[2017-03-11 02:41] bagajjal opened #573 "while using up/down arrows, screen is not refreshed correctly (there are some left over characters of bigger command)"

[2017-03-11 02:42] bagajjal opened #574 "when delete key is pressed then screen is not refreshed correctly (the last character is repeated in the end)"

[2017-03-11 02:42] bagajjal opened #575 "when backspace key is pressed then screen is not refreshed correctly"

[2017-03-11 02:42] bagajjal opened #576 "fix the EVENT_CONSOLE_CARET issue.. Wrongly read the X, Y coordinates"

[2017-03-11 17:33] DarwinJS opened #577 "Improvements to Chocolatey Packaging (packaging release 0.0.9.20170311)"
Release Notes for Chocolatey Packaging:
      0.0.9.20170311
         - no longer overwrites sshd_conf if it already exists, unless /OverWriteSSHDConf is used
         - supports setting SSHD LogLevel during install or upgrade using /SSHLogLevel
         - automatically creates "logs" subfolder in install folder so that if logging is enabled
           in the config file it starts without requirin

[2017-03-13 08:22] nightwish47 commented on #552
@manojampalam : please re-open this topic.

[2017-03-13 21:39] manojampalam commented on #558
@DarwinJS yes please.

[2017-03-13 22:04] #576 closed, assigned to bagajjal

[2017-03-13 22:04] #575 closed, assigned to bagajjal

[2017-03-13 22:05] #574 closed, assigned to bagajjal

[2017-03-13 22:05] #573 closed, assigned to bagajjal

[2017-03-13 22:05] #572 closed, assigned to bagajjal

[2017-03-13 22:05] #571 closed, assigned to bagajjal

[2017-03-13 22:05] #570 closed, assigned to bagajjal

[2017-03-13 22:05] #569 closed, assigned to bagajjal

[2017-03-13 22:05] #568 closed, assigned to bagajjal

[2017-03-13 22:05] #567 closed, assigned to bagajjal

[2017-03-13 22:22] DarwinJS commented on #558
@manojampalam - already added along with a couple additional logging features: #577

[2017-03-13 23:54] manojampalam opened #578 "ssh PTY/TTY is not respecting console width"
As part of interactive session creation, client is sending Window width but now buffer width

[2017-03-14 02:00] bagajjal commented on #520
Please checkout the march mid release.
I have captured the terminal related information here "https://github.com/PowerShell/Win32-OpenSSH/wiki/Terminal-Info"

[2017-03-14 02:00] #520 closed, assigned to bagajjal

[2017-03-14 08:35] erik-am commented on #378
@manojampalam Interesting! Indeed I do not get the Access Denied.
It looks like install-sshlsa.ps1 does get called when the Chocolatey package is installed and baked into the image, but maybe if the container is started, LSA is not loaded correctly.
I'll try to run install-sshlsa.ps1 again from a running container... At least we're a step closer. 😃

[2017-03-14 10:09] erik-am commented on #378
@manojampalam Meanwhile I verified that `ssh-lsa` is correctly appended to `SYSTEM\CurrentControlSet\Control\Lsa`. I can still delete ssh-lsa.dll which makes it seem that adding `ssh-lsa` to the registry is not enough to load the dll in a Docker environment.

Is there some way we can force the authentication packages to reload in Windows?

[2017-03-14 11:33] ngugc commented on #520
Great! It worked after following the instructions in "https://github.com/PowerShell/Win32-OpenSSH/wiki/Terminal-Info".

One more question, why is the TERM env variable in Linux server still "dumb" by default?
What's more we need to do from ssh client side to make it as "xterm" by default?

Thanks very much!

[2017-03-14 19:42] #566 closed, assigned to nobody

[2017-03-14 19:43] manojampalam commented on #538
The check was removed and you shouldn't be seeing this anymore. Reopen if needed.

[2017-03-14 19:43] #538 closed, assigned to nobody

[2017-03-14 19:46] #578 closed, assigned to nobody

[2017-03-14 19:47] manojampalam commented on #540
I have a feeling that #566 might be causing this. See if it goes away with 0.0.10.0. Reopen if needed.

[2017-03-14 19:48] bagajjal commented on #520
Please set the TERM to xterm before doing the ssh (step 4)...

FYI,  wiki link is moved to https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH.

[2017-03-14 19:53] bagajjal commented on #461
In windows if the file is opened we can't change the timestamp. In case of SFTP, existing unix code tries to change the timestamp while the file is opened so it is unable to change the timestamp. since its minor issue and we don't want to deviate (by adding windows specific blocks) from the unix code, this issue is closed with no fix/workaround.

FYI, incase of SCP it works because there the times

[2017-03-14 19:53] #461 closed, assigned to bagajjal

[2017-03-15 00:18] DarwinJS opened #579 "Requesting Testing for Dockerfile included with Chocolatey Packaging for 0.0.10.0"
Could someone lend a hand to test the updated Docker file for this release?

It is here: https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/Dockerfile

[2017-03-15 07:18] megamorf commented on #579
I'll give it a shot this evening :thumbsup:

[2017-03-15 20:47] friism commented on #540
@manojampalam I just tested and the problem is still extant with 0.0.10.0. I'm not going to re-open since there's no way for you to reproduce. I'll try to narrow down the problem, but as mentioned it's not really easy

[2017-03-16 13:54] DarwinJS commented on #540
@friism - I'm actually wondering how this worked before.  If you are calling ec2sysprep in "SysprepInstance.ps1" I think it will sever the connection with Packer.

I think the proper way is to manipulate BundleConfig.XML like this: https://gist.github.com/davidobrien1985/fe92aeac51ba35926cabed315fa1c449#file-bundleconfig-ps1-L1-L12

Notice in that automation there is no attempt to call sysprep as

[2017-03-16 16:43] friism commented on #540
@DarwinJS WS2016 is supposed to use EC2Launch: http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/ec2launch.html#ec2launch-sysprep

[2017-03-16 16:53] DarwinJS commented on #540
@friism - I am wrong about BundleConfig handing the calling of sysprep for you.

However, upon more research, I am going to call Start-Process -FilePath PowerShell.exe -ArgumentList "$env:programfiles\Amazon\Ec2ConfigService\scripts\InstallUpdates.ps1 -Patch 0"

-Patch 0 does NO patching, but it does do a bunch of cleanup steps that AWS uses in their own prep / update of AMIs.  I am going to call

[2017-03-17 10:48] C-Duv opened #580 "sshd.exe eats whole CPU core"
I have just installed OpenSSH on a Windows 7 Pro 64-bits via [Chocolatey `openssh` package](https://chocolatey.org/packages/openssh/) (v0.0.10.0) and Windows process manager shows `sshd.exe` eating 25% of a 4-core CPU (without any SSH client connected).
I tried setting `LogLevel` to level `DEBUG` in the `sshd_config` but the single log line I have in `c:\Program Files\OpenSSH-Win64\Logs\sshd.log`

[2017-03-17 12:54] zaufi commented on #546
What should I add for requested logs? And where to find them?
When I add `LogLevel DEBUG` to `sshd_config` file I don't see any logs around... My vagrant image has `sshd` started as a service (and I don't have GUI access to it).

[2017-03-17 17:48] bagajjal commented on #546
Are you trying to run it as a cron job? Is your issue same as  #484?
Have the "LogLevel DEBUG3" in sshd_config.
Please share the sshd.log file in the "logs" folder. If there is no logs folder in the same directory where the sshd.exe is present then please create "logs" folder and an empty sshd.log file inside the "logs" folder.

[2017-03-17 17:55] bagajjal commented on #580
error code 5 means the "Access denied".

I think the issue is not because of this particular error message because this happens only during the session setup.

Please enable the log level to DEBUG3 and share the sshd.log file.

[2017-03-17 17:58] bagajjal commented on #580
Does it also happen when there are no SSH client connections?

[2017-03-17 18:43] zaufi commented on #546
here is a DEBUG3 log for attempt to execute a cmd script w/o `-tt` option under TeamCity:
[code]

[2017-03-17 19:03] zaufi commented on #546
here is `ssh-agent.log` for that connection:
[code]

[2017-03-18 18:05] zaufi commented on #546
In the log above, I've tried version `0.0.9.0`. Version `0.0.10.0` doesn't work as well . In both cases with or without `-tt` option.
So, I rollback to `0.0.8.0` which at least works with `-tt`.

[2017-03-18 20:18] Adgreen opened #581 "Have I come to the right place ?"
Have I come to the right place ?

Is this a Win 32 and Win 64 version of   openssh.com ?

I like to run a SSH Server on my Windows server 2016, 64 bit.   Should i just download this OpenSSH-Win64.zip and OpenSSH-Win64_Symbols.zip  for  v0.0.10.0   and follow instructions - And that installs a SSH server on my Winserver 2016, 64 bit ?

Or do I also need to install Cygwin first - and is this OpenSSH

[2017-03-18 22:05] Adgreen commented on #581
I have heard that MS should include SSH in Win Server 2016.
( If so, can/ how can I check if is is installed and activated on my Windows server 2016, )
Is that done - or do I need to install this - in order to connect with SSH to my Windows server 2016,

[2017-03-19 04:24] Adgreen commented on #581
What is the difference between installing installing Open SSH from CygWin :
https://cygwin.com/packages/package_list.html
https://cygwin.com/packages/x86_64/openssh/

Or installing from your, https://github.com/PowerShell/Win32-OpenSSH/releases
"This is a pre-release (non-production ready)"

[2017-03-20 04:22] nightwish47 commented on #522
@bagajjal :Any update for following point?

[2017-03-20 04:27] nightwish47 commented on #537
@bagajjal :May we hear updates on this topic?

[2017-03-20 04:29] nightwish47 commented on #552
@manojampalam : please re-open this topic and any updates on this issue?

[2017-03-20 09:42] C-Duv commented on #580
Even at `DEBUG3` I get nothing in the `c:\Program Files\OpenSSH-Win64\Logs\sshd.log` (is it really the place I have to look?).
CPU consumption happens the moment I start the service, no matter if there are clients or not.

[2017-03-20 15:01] Bravecold commented on #332
Thanks @marco-vaz I'm wondering about the arguments that require the function.- it's a great job, but please insert some documentation about, Synopsis and how to use please.

[2017-03-20 18:06] bagajjal commented on #581
Cygwin, putty are different SSH clients. OpenSSH windows version has both SSH Client and server functionality. You don't need to install Cygwin/putty for this. You can use cmd.exe/powershell to connect to the SSH server. OpenSSH is not yet part of the windows to end users, the work is still in progress.

Install the latest version from here, https://github.com/PowerShell/Win32-OpenSSH/releases.

[2017-03-20 18:19] bagajjal commented on #522
@nightwish47 : As mentioned earlier, we need your help in reproducing the problem. @manojampalam  has already provided the steps.
Since you have multiple SSH clients (WinSCP / Maverick Legacy / OpenSSH client), I would recommend you to try only using the openSSH (remove other third party SSH clients). This will atleast give us clear picture which ssh client is giving this issue. If it is not relea

[2017-03-20 18:24] bagajjal commented on #580
Anyone facing this issue?
Yes its the right place (c:\Program Files\OpenSSH-Win64\Logs\sshd.log).
Not sure what's going wrong because we are not seeing it.
Can you try to install the same version on different machine and see if it still happens?
If yes then please check installing V0.0.9.0, this gives us some information whether it is specific to the latest release or not.

[2017-03-20 19:02] jrmuizel opened #582 "git push does not work to Window's server"
Instead I get:
[code]

[2017-03-20 19:03] jrmuizel opened #583 "running git when connected to windows server doesn't work"
When ever I run a git command I get no output. e.g.
[code]

[2017-03-20 19:09] cbhacking commented on #452
Two questions:
1. If the user connects over SSH using password auth, does this unlock DPAPI/EFS/etc. in the remote session?
2. Would it be possible to add a way to pass the password (for DPAPI, etc.) over public key auth session? Most of the time I'm using public key auth I don't want my password on the wire in any form, but given that Windows actually uses it a fair bit, a remote login that doesn

[2017-03-20 19:25] cbhacking commented on #435
SSH doesn't seem to support forwarding files (things that use the file APIs, including *nix FIFOs/named pipes and Windows named pipes). This is awkward, since Windows named pipes really are NT's equivalent of Unix domain sockets.

There ought to be a way to connect to pipes (Unix or Windows) using file APIs on the remote end, but I don't know of one.

[2017-03-20 21:01] bagajjal commented on #583
Not sure what's the problem at your end, it worked for me...
![image](https://cloud.githubusercontent.com/assets/23668037/24121492/ac21f15c-0d75-11e7-96d8-b1269ccff290.png)

[2017-03-20 23:59] Adgreen commented on #581
Yes ...

I want both Client on my Win 10 machne. And also to install SSH Server on my Windows Server 2016.

But ...

What is the difference between installing Open SSH from :

Installing from your, https://github.com/PowerShell/Win32-OpenSSH/releases
"This is a pre-release (non-production ready)" ?

Or CygWin.com :
https://cygwin.com/packages/package_list.html
https://cygwin.com/packages/x86_64/op

[2017-03-21 00:06] bagajjal commented on #581
Openssh we are developing is the Microsoft contribution to the openssh community to bring the openssh into the windows inbox.

Cygwin is from different company, not from Microsoft.

openssh is a open source implementation of ssh. You can fork and customize to your needs.

[2017-03-21 08:10] limm opened #584 "Proxy connect is not supported in Windows yet"
Now this would be great! Would solve all my problems.

[2017-03-21 17:36] joeyaiello commented on #565
Unfortunately, I don't think we comfortable giving an ETA on this right now. We've given ETAs in the past, and we've had to move the goalposts a couple times.

We're certainly making very good progress, and I would encourage you or anyone else to try the [latest release](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.10.0) to give us a sense of whether it supports your current needs

[2017-03-21 17:44] #581 closed, assigned to bagajjal

[2017-03-21 19:15] bagajjal opened #585 "After doing ssh, terminal is becoming very small"
In windows 10, when we are at the last line of the console buffer.. if we do ssh then the terminal becomes very small (showing just 1 line).

As a work around,
a) either do "cls"
b) or increase the console buffer screen size
e) set SSH_TERM_CONHOST_PARSER=0

[2017-03-21 21:59] jcoffland opened #586 "sshfs file writing broken between v0.0.8.0 and v0.0.9.0"
Some change made for version v0.0.9.0 broke file writing in ``sshfs`` mounts.  I have a both 32 and 64-bit Windows 10 systems which I am connecting to over ssh using ``sshfs`` in Linux.  Everything works fine in v0.0.8.0 and earlier.  In v0.0.9.0 and newer, copying a file to an ``sshfs`` mount results in an access error and a new zero byte file on the remote system.  I can create and list director

[2017-03-22 16:45] C-Duv commented on #580
I tried the following versions, all have the issue:

* 0.0.10.0
* 0.0.9.20170313
* 0.0.9.20170311
* 0.0.9.0

(v0.0.8.0 does not installs because of DarwinJS/ChocoPackages#26)

I have the same problem on another Windows 7, with the OpenSSH that was packaged with Chocolatey package `win32-openssh` version 2016.05.30.

But, I tested on a Windows 7 VM that **never gets Windows Updates**: no issue ther

[2017-03-22 17:03] asinno commented on #400
We are having the same issue with the most up to date version...

[2017-03-22 20:01] manojampalam commented on #400
Use this to retrieve product version:
(get-item .\sshd.exe).VersionInfo.FileVersion

[2017-03-22 20:18] asinno commented on #400
I am trying that command and I am receiving an error @manojampalam

PS > (get-item .\sshd.exe).VersionInfo.FileVersion
get-item : Cannot find path 'C:\Windows\system32\sshd.exe' because it does not exist.
At line:1 char:2
+ (get-item .\sshd.exe).VersionInfo.FileVersion
+  ~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ObjectNotFound: (C:\Windows\system32\sshd.exe:String) [Get-Item], ItemNotFoun

[2017-03-22 20:21] asinno commented on #400
I am using 0.0.10.0 according to the command I just ran. Are there any current workarounds?

[2017-03-22 20:22] SamuelOrlando commented on #189
@scherma  I have recently run into the same issue installing on Server 2016, but I did not have to doing any registry edits to get there.  However, looking at the registry, I do see that the Authentication Packages key with a value of msv1_0 ssh-lsa has been added after installation of the recent version of OpenSSH (v0.0.10.0 - March 14, 2017).  So to complete the key-authorization package install

[2017-03-22 20:29] asinno commented on #400
[code]

It appears I am also getting the double single quotes '' instead of "

[2017-03-22 20:44] manojampalam commented on #583
Please explain how this is relevant to this project?

[2017-03-22 20:44] #583 closed, assigned to nobody

[2017-03-22 20:44] #416 closed, assigned to nobody

[2017-03-22 20:45] manojampalam commented on #584
dup #355

[2017-03-22 20:45] #584 closed, assigned to nobody

[2017-03-22 20:47] manojampalam commented on #582
I'm assuming the server side has Win32-OpenSSH installed. Please add server side logs and reopen this issue.

https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2017-03-22 20:47] #582 closed, assigned to nobody

[2017-03-22 20:52] manojampalam commented on #580
Since , we are not able to repro this on our side (and there are not logs to give us a clue), we need your help to take this further.

Are you familiar with using VS 2015, if so, please download the express edition, attach to sshd.exe process (symbols can be downloaded from release page) and figure out the busy loop.

[2017-03-22 21:01] manojampalam commented on #586
IS it specific to key based authentication? Does it work with passwd auth?

If so, this might me due to the change mentioned in:
https://github.com/PowerShell/Win32-OpenSSH/issues/494

Can you confirm?

[2017-03-22 21:02] DarwinJS commented on #189
The original problem was the script was using an API not available on Server 2008 R2.
@SamuelOrlando - the problem you are running into is that install-sshlsa.ps1 is not instrumented for an upgrade, which in this situation must queue up the file to be replaced on reboot.

The Chocolatey Package handles both of these situations.

The install script inside the Chocolatey Package can be run **WITHOUT

[2017-03-22 21:03] jcoffland commented on #586
I'm using password auth.

[2017-03-22 21:05] manojampalam commented on #563
Can you provide a practical user example? It seems that this is an issue within OpenSSH core source itself as the Windows fork doesn't have any special handling around channel message processing

[2017-03-22 21:07] manojampalam commented on #558
@coldacid do you still see this issue? Did you try out the latest version?

[2017-03-22 21:18] manojampalam commented on #556
Windows equivalent of open(dev/null) is CreateFile("NUL"). Need to add support for open(dev/null) in the POSIX layer

[2017-03-22 21:19] manojampalam commented on #525
Reopen if needed

[2017-03-22 21:19] #525 closed, assigned to nobody

[2017-03-22 21:45] manojampalam commented on #509
Happens if the other side exist abruptly. Need client and server side logs to understand what's causing this. https://github.com/PowerShell/Win32-OpenSSH/wiki/Troubleshooting-Steps

[2017-03-22 21:46] manojampalam commented on #489
Use manual steps as mentioned in https://github.com/PowerShell/Win32-OpenSSH/issues/189

[2017-03-22 21:46] #489 closed, assigned to nobody

[2017-03-22 21:55] manojampalam commented on #108
Scroll back buffer is now retained.

[2017-03-22 21:55] #108 closed

[2017-03-22 21:57] #133 closed

[2017-03-22 22:02] bagajjal commented on #57
These are fixed in the latest release.
Please go through below URL if you have any questions.
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

For any other issues, please raise a new issue.

[2017-03-22 22:02] #57 closed

[2017-03-22 22:09] bagajjal commented on #199
Please test with the latest release.
For more information go through https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

If you still have issues, then please raise a new issue

[2017-03-22 22:09] #199 closed, assigned to bagajjal

[2017-03-22 22:20] bagajjal commented on #386
This is fixed if you are using the windows 10.
For more information please go through https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

[2017-03-22 22:20] #386 closed, assigned to bagajjal

[2017-03-22 22:21] bagajjal commented on #430
This is fixed in the latest release. For more information please go through https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

[2017-03-22 22:21] #430 closed, assigned to bagajjal

[2017-03-22 22:25] bagajjal commented on #431
Please test with the latest release.
For more information go through https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

[2017-03-22 22:27] bagajjal commented on #434
Please test with the latest release.
For more information go through https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

If you still have issues, please open a new issue.

[2017-03-22 22:27] #434 closed, assigned to bagajjal

[2017-03-22 22:28] bagajjal commented on #508
Please test with the latest release.

[2017-03-22 22:30] bagajjal commented on #557
Please test with the latest release.

[2017-03-22 23:23] bagajjal commented on #181
This is because the powershell ise is redirecting the stdout.
ssh.exe should control the output window as it has to interpret and render the VT100 sequences sent by the SSH server.
For more information please go through this, https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

If you still need to launch the ssh from the powershell ise then please use third party t

[2017-03-22 23:23] #181 closed, assigned to bagajjal

[2017-03-23 01:07] imayobrown commented on #563
We ran into this issue in conjunction with the [trilead-ssh2](https://github.com/jenkinsci/trilead-ssh2) library used by Jenkins. We were trying to facilitate master -> Windows slave connections through ssh. The specific client code from the library that generates this error is here: https://github.com/jenkinsci/trilead-ssh2/blob/master/src/com/trilead/ssh2/Connection.java#L1550.

It seems that th

[2017-03-23 01:49] fpqc commented on #434
Hey, just wondering how you ended up solving it. I just tested and it seems to work now! (at least when using an xterm-compatible terminal emulator.  I haven't tested in st or rxvt-unicode yet, wondering if you think they will work?

[2017-03-23 01:54] bagajjal commented on #434
windows 10 console provides the capability to decode the xterm sequences. so we pass the raw buffer received from the ssh server to the windows console directly.

For more information go through https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

[2017-03-23 01:55] fpqc commented on #434
@bagajjal This is the server-side question, and I'm connecting from a Linux machine,and it's working fine in st, xterm, and gnome-terminal.  I haven't tried rxvt yet.

Edit: Works in rxvt too!

[2017-03-23 05:30] manojampalam commented on #452
For (1) Yes, with password auth, remote session has user creds. So DPAPI works.

For (2) you will need to pass password explicitly for each operation needing authentication. Ex "net use"

[2017-03-23 05:43] manojampalam commented on #435
This is currently not supported but should work once AF_UNIX sockets support is added in POSIX adapter layer.

[2017-03-23 05:47] #192 closed, assigned to nobody

[2017-03-23 05:47] #201 closed, assigned to nobody

[2017-03-23 09:12] fjaenal opened #587 "Permissions denied when installing."
Please answer the following

**"OpenSSH for Windows" version**

 v0.0.9.0

**OS details**
 Windows Server 208 R2 64 bits

**What is failing**
Pre-Conditions:

1. Not using the .ps1 defualt installer.
2. Using a batch file (.bat)
3. Both installer are identical when creating the services (creates, ntrights, sdset, etc ...)

If and only if I installed using my .bat I do get a permission denied when

[2017-03-23 10:32] DarwinJS commented on #587
Can you please post your install script on gist and link it here?

[2017-03-23 11:29] charabaruk commented on #558
@manojampalam just updated to 0.0.10.0 now and gave it a shot. Same results:

[code]

[2017-03-23 17:34] C-Duv commented on #580
Not really familiar with it.
I downloaded both symbols and source code (for v0.0.10.0).
I managed to attach to running `sshd.exe` process and clicked "Break", gave it the location of source file `socketio.c` (`contrib/win32/win32compat/socketio.c` on the repo).

VS complains about source file being different than the one used when generating the module, but I get the following stack trace:

    ss

[2017-03-23 18:22] manojampalam opened #588 "[Security] sshd and ssh-agent should check and enforce permissions on authorized_keys and authorized_principals files"
Tracked TODO in code:
openssh-portable\auth.c(588):        /* TODO check permissions  */

[2017-03-23 18:23] manojampalam opened #589 "[Audits] Implement Last Login Entry for Windows"
Tracked TODO in code:
openssh-portable\loginrec.c(533):	/* TODO - implement last_login_entry in Windows*/

[2017-03-23 18:26] manojampalam opened #590 "PTY/TTY sessions are not respecting client window size information (during session establishment and also window change)"
Please answer the following

**"OpenSSH for Windows" version**
0.0.10.0

**OS details**
Any

**What is failing**
1) During the session establishment, the pty/tty sessions on the server is not considering the client window size information.
2) Launch interactive session and change client Window size

**Expected output**
Subsequent session output respects new Window dimensions

**Actual output**
New

[2017-03-23 18:28] manojampalam opened #591 "POSIX adapter: connect(AF_UNIX socket) does not support non-blocking IO"
Tracked TODO in code
openssh-portable\contrib\win32\win32compat\fileio.c(114):	/* TODO - support nonblocking connect */

[2017-03-23 18:29] manojampalam opened #592 "POSIX adapter: open() does not support "mode" parameter"
Tracked TODO
openssh-portable\contrib\win32\win32compat\fileio.c(308):	/*TODO - map mode */

[2017-03-23 18:40] manojampalam opened #593 "POSIX adapter: nanosleep() doesn't wake up on interrupts"
Tracking TODO
openssh-portable\contrib\win32\win32compat\misc.c(164):	/* TODO - use wait_for_any_event, since we want to wake up on interrupts*/

[2017-03-23 18:42] manojampalam opened #594 "POSIX Adapter: Optimize WSAError <--> errno translation"
Tracking TODO:
openssh-portable\contrib\win32\win32compat\socketio.c(57):	/* TODO - create a mapping table - more efficient */

[2017-03-23 18:45] manojampalam opened #595 "POSIX adapter: enable exceptfds support in select()"
Tracking TODO
openssh-portable\contrib\win32\win32compat\w32fd.c(602):	/* TODO - see if this needs to be supported */

[2017-03-23 18:46] manojampalam opened #596 "[Security] shellhost should pickup cmd.exe from %windir%\system32"
Tracking TODO:
openssh-portable\contrib\win32\win32compat\shell-host.c(1014):	/*TODO - pick this up from system32*/
openssh-portable\contrib\win32\win32compat\shell-host.c(1117):	/*TODO - pick this up from system32*/

[2017-03-23 18:49] manojampalam opened #597 "[Security] sshd transmits raw password over IPC to ssh-agent"
While doing passwd auth, sshd transmits user's password in raw form over to ssh-agent
Consider implications and better alternatives.

[2017-03-23 18:53] manojampalam opened #598 "Review ssh-agent sources"
Ensure the following
- [BSD coding guidelines](http://man.openbsd.org/cgi-bin/man.cgi/OpenBSD-current/man9/style.9?query=style%26sec=9) are followed
- Take care of all TODOs

[2017-03-23 18:54] manojampalam opened #599 "Review POSIX adapter socket IO sources"
Ensure the following
- [BSD coding guidelines](http://man.openbsd.org/cgi-bin/man.cgi/OpenBSD-current/man9/style.9?query=style%26sec=9) are followed
- Take care of all TODOs

Covers
https://github.com/PowerShell/Win32-OpenSSH/issues/728

[2017-03-23 18:55] manojampalam opened #600 "Review POSIX adapter file io sources"
Ensure the following
- [BSD coding guidelines](http://man.openbsd.org/cgi-bin/man.cgi/OpenBSD-current/man9/style.9?query=style%26sec=9) are followed
- Take care of all TODOs

[2017-03-23 18:56] manojampalam opened #601 "Review POSIX adapter misc routines"
Ensure the following
- [BSD coding guidelines](http://man.openbsd.org/cgi-bin/man.cgi/OpenBSD-current/man9/style.9?query=style%26sec=9) are followed
- Take care of all TODOs

[2017-03-23 18:59] manojampalam opened #602 "Additional unit test coverage for POSIX adapter file io routines"
Includes
pipe()
open()
creat()
read()
write()

[2017-03-23 19:01] manojampalam opened #603 "Additional unit test coverage for FD* macros, fcntl() and select() routines"

[2017-03-23 19:02] manojampalam opened #604 "Unit test and Fuzz test coverage for Unicode translators (UTF16 <--> UTF-8)"

[2017-03-23 19:04] manojampalam opened #605 "Test coverage for other misc POSIX routines within POSIX adapter"
for all routines implemented in
openssh-portable\contrib\win32\win32compat\misc.c

[2017-03-24 02:50] SamuelOrlando commented on #189
@DarwinJS The package does not install due to the following error:  ERROR:  Method invocation failed because [System.Boolean] does not contain a method named 'split'.  The install of openssh was NOT successful.  Error while running 'C:\ProgramData\chocolatey\lib\openssh\tools\chocolateyinstall.ps1'.

[2017-03-24 11:05] DarwinJS commented on #189
@SamuelOrlando - I just had a clean test on Server 2016 Core - but I am concerned about your error as it might affect others as well.

From a failing instance, could you please

1. Rerun the command
2. post the below listed files to https://gist.github.com/ (**do not post full file contents here please**) and
3. update this thread with a link to the files.

Files:
c:\programdata\chocolatey\logs\ch

[2017-03-24 12:11] mikemaccana commented on #508
@bagajjal Behaviour no longer occurs with the recent 0.0.10.0 release 👍

[2017-03-24 17:57] bagajjal commented on #508
Thank you.

[2017-03-24 17:57] #508 closed, assigned to bagajjal

[2017-03-24 18:01] SamuelOrlando commented on #189
@DarwinJS Looks like we are going another route for SSH+FTP solutions.  I will not be able to follow up.

[2017-03-24 22:16] Leproide commented on #244
Same problem.
W7 Pro

https://github.com/PowerShell/Win32-OpenSSH/issues/606

[2017-03-24 22:27] Leproide opened #606 "High CPU usage and log file growing up"
**OpenSSH for Windows latest version v0.0.10.0**

**OS details**
Windows 7 Pro x64 sp1

-High CPU usage
-Log file growing up

[code]

[2017-03-24 22:34] bagajjal commented on #606
Try changing the sshd_config as mentioned in this issue https://github.com/PowerShell/Win32-OpenSSH/issues/493.

If you still have the issue then please share the sshd_config.

[2017-03-24 22:37] bagajjal commented on #493
Can this be closed?

[2017-03-24 22:38] Leproide commented on #606
Hi, thanks for the fast reply
No more pid error but:

[code]

[2017-03-24 22:39] Leproide commented on #606
Config:
[code]

[2017-03-24 22:47] bagajjal commented on #606
Try commenting "AddressFamily inet" line and restart the sshd..

[2017-03-24 22:50] Leproide commented on #606
8224 23:48:59 183 debug2: signal() sig:2, handler:00000001
8224 23:48:59 183 debug1: socket:356, socktype:1, io:00201BF0, fd:3
8224 23:48:59 183 debug3: w32_fcntl fd:3
8224 23:48:59 183 debug2: fd 3 setting O_NONBLOCK
8224 23:48:59 183 debug3: w32_fcntl fd:3
8224 23:48:59 183 debug3: w32_fcntl fd:3
8224 23:48:59 183 debug3: w32_setsockopt fd:3
8224 23:48:59 183 debug3: sock_set_v6only: set socket

[2017-03-24 23:22] Leproide commented on #606
http://imgur.com/a/h2P0s
Quiet log level, idle on connecting, high cpu usage

(If can help, i use Comodo Firewall, but if i close it nothing changes)

[2017-03-24 23:30] bagajjal commented on #606
commenting "AddressFamily inet" line in sshd_config didn't help?
Are you still getting the below error,
debug1: acceptEx - AcceptEx() ERROR:22, io:00201C70

[2017-03-24 23:52] Leproide commented on #606
Mmmh, no, nothing change (only disappeared 00201C70)

[2017-03-25 01:33] DarwinJS commented on #606
@manojampalam - I was just noticing "Couldn't create pid file "./sshd.pid": Permission denied" in the first log posted in this thread.

I assume this trying to create a pid file next to sshd.exe?

AFAIK, Windows apps shouldn't try to save any state data next to an exe.

To me preventing storage of file based, machine-wide state data next to binaries is one of the security improvements of Windows o

[2017-03-25 17:06] Leproide commented on #606
If need another info tell me
I need ssh on this machine :(

[2017-03-26 19:11] sterling opened #607 "Log file spammed and filling disk"
**"OpenSSH for Windows" version**
0.0.10.0

**OS details**
Windows 10 Pro

**What is failing**
`sshd.log` file is being spammed and growing very quickly. The log file easily grew to 75GB before I realized what was filling up my disk. I can successfully ssh into my Windows machine, which is why I never suspected any issues with OpenSSH until I found the massive log file.

**Expected output**
No con

[2017-03-26 19:36] manojampalam commented on #606
@DarwinJS, as we discussed before, all logging would be done under logs folder under ssh binary path. This is for simplicity, easy discoverability and having flexibility to host multiple versions of OpenSSH side by side (Production Vs Evaluation version for example)
The "Logs" folder will be owned by "Trusted Installer" and will be Writable only by admins and "NT Service/SSHD"

[2017-03-26 19:40] manojampalam commented on #606
@Leproide please provide us with network configuration of your machine (masking out any private info where applicable)

ipconfig /all
netstat -anop TCP

[2017-03-26 19:40] manojampalam commented on #607
We are tracking a similar issue here - https://github.com/PowerShell/Win32-OpenSSH/issues/606
Please post your findings on that thread
dup #606

[2017-03-26 19:40] #607 closed, assigned to nobody

[2017-03-26 19:46] DarwinJS commented on #606
@manojampalam - Yep - sorry I forgot that conversation.

I am not familiar with the model of ensuring something is owned by "Trusted Installer" unless it is explicitly under Windows Resource Protection (WRP).  The ACLs for WRP protected resources actually LOCK OUT admin and system.  There are also *usually* special AppCompat shims in place to lie to anything that tries to update resources owned by

[2017-03-26 21:01] Leproide commented on #606
# netstat -anop TCP

[code]

# ipconfig /all

[code]

[2017-03-26 21:23] manojampalam commented on #606
@DarwinJS, clarified my previous response, I meant to imply that Logs folder will be created with appropriate permissions as part of the installation, just like any other system folder.

[2017-03-26 21:29] manojampalam commented on #606
@Leproide thanks. Did you make any changes to sshd_config (that came as part of release zip) ?

[2017-03-26 21:32] FKasa commented on #318
It would had been very helpful if I had read that instead of:

 on the service description. I was troubleshooting tunneling from both WSL and Git Bash for a few hours.
I could get an interactive shell and successfully created some text files remotely so I just thought maybe I had the tunneling commands wrong.

[2017-03-26 22:14] manojampalam commented on #606
@Leproide Please collect sshd and Winsock traces from the same run.

Steps to collect Winsock traces
https://msdn.microsoft.com/en-us/library/windows/desktop/bb892100(v=vs.85).aspx
- Start tracing
logman start -ets mywinsocksession -o winsocklogfile.etl -p Microsoft-Windows-Winsock-AFD
- Stop tracing
logman stop -ets mywinsocksession
- decode traces
tracerpt.exe <name of the .etl file> –o winsockt

[2017-03-26 23:19] Leproide commented on #606
Little problem:
etl file = 170 MB
winsocktracelog.txt = 2,12GB O.o

[2017-03-26 23:21] manojampalam commented on #606
Oops. How long did you leave Winsock tracing on? Can you try again shortening the interval?

[2017-03-26 23:22] Leproide commented on #606
30sec i think...
w8 i retry now

[2017-03-26 23:32] Leproide commented on #606
300mb log file in 6 second O.o
Compress to 1.80MB:
http://lara.monocul.us/~mauro/File/traccia.7z

[2017-03-27 18:09] #585 closed, assigned to bagajjal

[2017-03-28 01:38] nightwish47 commented on #522
@bagajjal : Thanks for your confirmation.

→That's mean your team is fixing this issue on latest version?

[2017-03-28 01:54] bagajjal commented on #522
@nightwish47 Its not an error/issue but rather up gradation to the new version of the openssl library.

We are porting the openssh unix code to windows operating system.
The issue (openssh/openssh-portable#48) is with the unix openssh code but not with us.

BTW, did you make any progress by using single openssh client? Is the issue still reproducible?

[2017-03-28 04:49] manojampalam commented on #606
Still looking. Please attach the etl file too. Did you happen to have the corresponding sshd.log ?

[2017-03-28 06:07] nightwish47 commented on #522
@bagajjal

→We tried testing openssh client with latest version on test environment. There are no any 'error in libcrypto' found until now.
However it is very hard to upgrade the latest version of openssh on production environment right now.
So could you share us some change of settings or parameters of latest version instead of version up?

[2017-03-28 14:16] TBBle opened #608 ""SSH Daemon" misspelled in install-sshd.ps1"
**"OpenSSH for Windows" version**
v0.0.10.0

**OS details**
`Windows 10 Pro

**What is failing**
sshd server is named `SSH Deamon` in install-sshd.ps1, which appears to be misspelled "SSH Daemon".

**Expected output**

A service named "SSH Daemon"

**Actual output**

A service named "SSH Deamon"

[2017-03-28 16:15] C-Duv commented on #606
What do you call "high CPU usage"?
In #580 I get full core's CPU usage but no log (same OS, same OpenSSH version).

[2017-03-28 16:53] manojampalam commented on #580
Based on your stack, looks like you are hitting the same issue as #606. Let's continue further conversation on that thread. I'm actively looking into this issue and we should hopefully fix this for March-End drop.

[2017-03-28 16:53] #580 closed, assigned to nobody

[2017-03-28 17:08] #608 closed, assigned to manojampalam

[2017-03-28 17:09] manojampalam opened #609 "SSH redirection in Powershell does not work"
Please answer the following

**"OpenSSH for Windows" version**
 All versions till 0.0.10.0

**OS details**
Any OS

**What is failing**
In Powershell
$o = ssh user@target hostname

**Expected output**
Operation completes and $o has target's name

**Actual output**
Hangs and never returns

[2017-03-28 17:12] manojampalam commented on #609
Why is this happening?

OpenSSh in Windows works over a single threaded POSIX adapter that does async I/O using APC based ReadFileEx and WriteFileEx calls.
These calls require the underlying I/O handles to be operating in Overlapped mode.

When you do
$o = ssh user@target hostname

Powershell starts ssh.exe with a blocking stdout handle that does not behave well with the above *Ex calls.
Eventuall

[2017-03-28 17:21] TBBle commented on #518
Is there any chance of this being changed for public-key connections? Or are we going to need to wait for Kerberos delegation support in this OpenSSH port?

I'm hoping to migrate away from the [Cygwin-based OpenSSH daemon](https://www.mls-software.com/opensshd.html): It allows network access from public-key auth, but has a 230-ish character command limit. I believe this works because the service i

[2017-03-28 17:57] Leproide commented on #606
@C-Duv 80/90%, i7 2600k

@manojampalam In italy have 0.50 upload, 300mb log file is a suicide O.o
I try compress it

[2017-03-28 18:20] manojampalam commented on #606
@Leproide, @C-Duv , @sterling

I just talked to a Winsock expert. Please follow these steps to collect some additional traces. These will unfortunately be much more verbose, so try keeping it as short as possible. Also share the corresponding sshd logs

**New Tracing Steps**
  - netsh trace start provider=Microsoft-Windows-Winsock-AFD provider=Microsoft-Windows-TCPIP provider={EB004A05-9B1A-11D4-9

[2017-03-28 22:01] jrmuizel commented on #582
It looks like Microsoft Server for SSH was interfering

[2017-03-28 22:58] Leproide commented on #606
report=disabled give me error, i removed this.
`netsh trace start provider=Microsoft-Windows-Winsock-AFD provider=Microsoft-Windows-TCPIP provider={EB004A05-9B1A-11D4-9123-0050047759BC} provider={0C478C5B-0351-41B1-8C58-4A6737DA32E3} ov=yes tracefile=nettrace.etl`

nettrace.etl 63,5 MB
nettrace.zip 3,91 MB

[nettrace.zip](https://github.com/PowerShell/Win32-OpenSSH/files/877308/nettrace.zip)

[2017-03-29 01:16] bagajjal commented on #522
I am not sure whether we have any issue with the openssh client /server because no one has reported this kind of issue.

My guess is this issue is either related to your config (or) third party ssh clients like WINSCP / Maverick Legacy.

If you use only openssh client and openssh server and if you are able to reproduce then it is our (openssh team) issue.

[2017-03-29 01:41] sterling commented on #606
Attached etl file and sshd log.

[logs.zip](https://github.com/PowerShell/Win32-OpenSSH/files/877516/logs.zip)

[2017-03-29 05:13] WojtekKozaczynski opened #610 "Cannot establish fully functional SSH or PowerShell SSH session connections"
Please answer the following

**"OpenSSH for Windows" version**
 0.0.10.0

**OS details**
Windows 10 Pro

**What is failing**
Neither direct ssh connection or PowerShell ssh session work. This is the case for both "localhost" case and for connecting from a Linux Debian machine.

**Expected output**
Direct connection "ssh -v <localhost or IP address> -l wojtek" should open a fully functional cmd she

[2017-03-29 07:35] megamorf commented on #610
The IP you listed is an APIPA address. Are you sure the Debian machine is able to talk to the Windows machine?

[2017-03-29 19:43] manojampalam commented on #142
tracked under #189

[2017-03-29 19:43] #142 closed

[2017-03-29 19:44] manojampalam commented on #103
These scenarios should work fine now. Please reopen if needed.

[2017-03-29 19:44] #103 closed

[2017-03-29 19:54] #182 closed, assigned to nobody

[2017-03-29 19:55] #91 closed

[2017-03-29 19:55] manojampalam commented on #91
Already done

[2017-03-29 19:55] manojampalam commented on #92
dup #330

[2017-03-29 19:55] #92 closed

[2017-03-29 19:57] manojampalam commented on #138
This should have gone away by now. Reopen if needed.

[2017-03-29 19:57] #138 closed

[2017-03-29 19:58] manojampalam commented on #153
dup #526

[2017-03-29 19:58] #153 closed

[2017-03-29 20:03] manojampalam commented on #259
Reopen if needed. We have automated test case for remote forwarding and it seems to work

[2017-03-29 20:03] #259 closed, assigned to nobody

[2017-03-29 20:08] manojampalam commented on #230
This was fixed a while back. Reopen if needed.

[2017-03-29 20:08] #230 closed, assigned to nobody

[2017-03-29 20:08] manojampalam commented on #220
Please try out latest release and reopen if needed.

[2017-03-29 20:08] #220 closed, assigned to nobody

[2017-03-29 20:11] paulewog commented on #173
@manojampalam - sorry for the delay in response.  Unfortunately, I'm no longer at the job where I was using this... :/

[2017-03-29 20:14] manojampalam commented on #212
Looks like this is working now. Just tried from a Windows 7 box to Ubuntu target.

[2017-03-29 20:14] #212 closed, assigned to nobody

[2017-03-29 20:17] jhudsoncedaron commented on #494
Fixing this is a bad idea. I depend on being able to do this remotely with normal use of ssh.

[2017-03-29 20:19] jhudsoncedaron opened #611 "Cannot take owner of any file when logged in via ssh key authorization"
Cannot take owner of any file when logged in via ssh key authorization

I keep a copy of chown.exe around since NT4 days for fixing ownership problems.

It does not work via ssh key authorization. We do not allow ssh password authorization over the internet for security reasons.

[2017-03-29 20:21] manojampalam commented on #188
Try out the latest release. All native Windows console apps (including Powershell.exe) should work now over remote ssh sessions.

[2017-03-29 20:21] #188 closed, assigned to nobody

[2017-03-29 20:23] manojampalam commented on #258
Please try out the latest release and reopen this issue with details on how it can be reproduced.

[2017-03-29 20:23] #258 closed, assigned to nobody

[2017-03-29 20:32] manojampalam commented on #378
Sorry, lost track of this issue. A machine reboot is needed to load any new registered auth packages

[2017-03-29 20:33] manojampalam commented on #358
Installation script should now put the rights ACLs on "logs" folder.

[2017-03-29 20:33] #358 closed, assigned to nobody

[2017-03-29 20:34] manojampalam commented on #338
dup #526

[2017-03-29 20:34] #338 closed, assigned to nobody

[2017-03-29 20:35] manojampalam commented on #414
dup #606

[2017-03-29 20:35] #414 closed, assigned to nobody

[2017-03-29 20:41] manojampalam commented on #502
This is due to mprintf related changes in OpenSSh main repo. These got recently ported and this issue should be fixed in March-End release.

[2017-03-29 20:41] #502 closed, assigned to nobody

[2017-03-29 20:42] manojampalam commented on #500
Recommend asking this on OpenSSh dev alias.

[2017-03-29 20:45] manojampalam commented on #492
I don't see any hint of sshd service getting stopped. In the traces you attached, the sshd worker process is getting terminated after the script execution, which is expected,

5708 11:33:01 783 Disconnected from 10.8.174.117 port 44046
 5708 11:33:01 783 debug1: do_cleanup

The main service with pid 29948 is still intact:
 29948 11:33:01 783 debug1: zombie'ing child at index 0, 1 zombies of 2

[2017-03-29 20:45] manojampalam commented on #487
We haven't seen this recently.

[2017-03-29 20:45] #487 closed, assigned to nobody

[2017-03-29 20:45] manojampalam commented on #486
We haven't seen this recently

[2017-03-29 20:45] #486 closed, assigned to nobody

[2017-03-29 20:48] manojampalam commented on #459
Reopen with logs.

[2017-03-29 20:48] #459 closed, assigned to nobody

[2017-03-29 20:49] manojampalam commented on #454
dup #259

[2017-03-29 20:49] #454 closed, assigned to nobody

[2017-03-29 20:51] manojampalam commented on #451
dup #493

[2017-03-29 20:51] #451 closed, assigned to nobody

[2017-03-29 20:51] #436 closed, assigned to nobody

[2017-03-29 20:52] manojampalam commented on #426
Reopen if needed.

[2017-03-29 20:52] #426 closed, assigned to nobody

[2017-03-29 21:26] manojampalam commented on #611
This is due to https://github.com/PowerShell/Win32-OpenSSH/issues/494

Do you have an alternative solution to dealing with security problem in #494 ?

[2017-03-29 21:35] jhudsoncedaron commented on #611
#494 is not fixable as an admin user logging in can up and replace the sshd binary.

If you manage to block this, sc create junk binPath="c:\windows\system32\cmd /k ..." sc start junk or one of a hundred other paths can undo the change. It just makes legit use harder.

[2017-03-30 01:01] DarwinJS commented on #189
@SamuelOrlando - I know you mentioned you've moved on to other SSH - but wanted you to know your reported error with the chocolatey package was related to https://github.com/DarwinJS/ChocoPackages/issues/23.

This bug is squashed in version 0.0.10.20170329 - which is in automated moderation.

[2017-03-30 01:18] DarwinJS commented on #189
This issue and #142 (closed with reference back here) both seem to be tracking two independent issues.

The first one **"[Microsoft.Win32.RegestryKey] doesn't contain a method named 'OpenBaseKey'"** appears to be a problem with the original install-sshlsa.ps1 calling a registry api not available on a DEFAULT Server 2008 build (no .NET upgrades) ?

The second one is **"Copy-Item : The process canno

[2017-03-30 02:03] brandonroyal opened #612 "Erratic curser, slow and incomplete loading on OSX terminal"
See example ipconfig command run from OSX Terminal to Windows Server 2016 with Win32-OpenSSH (0.10.0.0).
![z36hrhhsq3](https://cloud.githubusercontent.com/assets/2762697/24483977/81745020-14b0-11e7-83df-6ded387d6c50.gif)

This shows the following issues

1) Curser behaviors very erratically when load terminal output
2) Loading is slow (about 1 second per line)
3) Command output is cutoff or incomp

[2017-03-30 02:16] nightwish47 commented on #522
I've got your point.
We are going try to reproduce this.

However we cannot found this issue after version up,
so we think that there is high possibility that authentication logic from openssh7.1 to openssh7.4 has changed something.

Could you help to check there are any change on Ssh_config parameter?

[2017-03-30 02:19] bagajjal commented on #612
Looks like your ssh connection is very slow.. Did you get a chance to debug why?

Can you try with 0.0.9.0 version... is it the same behavior on 0.0.9.0?

[2017-03-30 02:21] bagajjal commented on #522
There are no specific big changes from our side (Windows porting team)... I am not sure about the big changes from the openssh unix community..

[2017-03-30 04:40] nightwish47 commented on #522
If there are any change from your side, kindly provide us in details.
Because based on your information, we can test and investigate the root cause of this issue.

[2017-03-30 04:53] manojampalam commented on #611
Not Right. SSH binaries will (eventually in the official package) be protected just like other OS binaries.

Agree that a compromised client can authenticate and run a privileged task on remote target, but such actions are limited to from the compromised client.

If a key is injected, it would allow an entry door from any remote client.

I'm looking for more feedback on how we should proceed.

[2017-03-30 05:13] WojtekKozaczynski commented on #610
The answer to your question is yes – the Debian machine can talk to the Windows machine.

I spent more time looking at the issue and I know what is going on. There are two other processes running in Windows 10 called “SSH Server Broker” and “SSH Server Proxy”.  They compete for port 22 with OpenSSH services and it is “SSH Server Proxy” that handles native ssh connection (ssh -v <IP address> -l <us

[2017-03-30 05:18] #519 closed, assigned to nobody

[2017-03-30 05:19] manojampalam commented on #509
Reopen with logs attached.

[2017-03-30 05:19] #509 closed, assigned to nobody

[2017-03-30 05:55] erik-am commented on #378
@manojampalam Kind of difficult with a Docker container. 😋 Doing a `docker stop` and `docker start` unfortunately doesn't seem to trigger the same behaviour.

[2017-03-30 06:08] megamorf commented on #611
@LeeHolmes What's your opinion on this?

[2017-03-30 12:57] m00tness commented on #606
I can confirm @manojampalam  the referenced "AddressFamily inet" fix worked for me for this issue. THANK YOU

[2017-03-30 15:20] jhudsoncedaron commented on #611
@manojampalam: You haven't caught on yet. That privileged task can go back and replace the authorized_keys file as it will be running as system with all privileges. The protection is a speed bump not a actual fix to a debatable security issue.

In addition, replacing the sshd binary in place is not required to replace the sshd binary. Changing the path to it in services will suffice.

[2017-03-30 15:23] C-Duv commented on #606
Here are the .etl and .cab files in a single archive (no SSH logs because `sshd.log` stays empty...).

[Win32-OpenSSH-bug_606-nettrace.zip](https://github.com/PowerShell/Win32-OpenSSH/files/882882/Win32-OpenSSH-bug_606-nettrace.zip)

After setting `AddressFamily inet` in `sshd_config` CPU usage of `sshd.exe` is just fine (0%).

[2017-03-30 17:00] manojampalam commented on #610
Thanks Wojtek. I updated https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH with a pointer to deal with this conflict on Windows 10.

[2017-03-30 17:15] Leproide commented on #606
In my case AddressFamily inet not work

[2017-03-30 17:25] manojampalam commented on #611
@jhudsoncedaron I'm hearing you and am with you. This approach would only shut down an easy back door.

Waiting for @LeeHolmes input on this.

[2017-03-30 18:13] manojampalam opened #613 "E2E tests for ssh-agent"
- ssh-agent startup/stop scenarios
- Identify and replicate relevant test scenarios from
agent-getpeereid.sh
agent-pkcs11.sh
agent-ptrace.sh
agent-timeout.sh

[2017-03-30 18:15] manojampalam opened #614 "E2E tests from addrmatch.sh"
Evaluate and replicate E2E tests from addrmatch.sh

[2017-03-30 18:17] manojampalam opened #615 "E2E tests from banner.sh"
Evaluate and replicate E2E tests from banner.sh

[2017-03-30 18:19] manojampalam opened #616 "E2E tests for dynamic forwarding"
Evaluate and replicate E2E tests from dynamic-forward.sh

[2017-03-30 18:20] manojampalam opened #617 "E2E tests for various kex algorithms"
Evaluate and replicate E2E tests from
dhgex.sh
kextype.sh

[2017-03-30 18:22] manojampalam opened #618 "E2E tests for PEM certificates"
Evaluate and replicate E2E tests from
cert-file.sh
cert-hostkey.sh
cert-userkey.sh

[2017-03-30 18:25] manojampalam opened #619 "E2E tests for ssh_config"
Evaluate and replicate E2E tests from
cfginclude.sh

[2017-03-30 18:26] manojampalam opened #620 "E2E tests for sshd_config"
Evaluate and replicate E2E tests from
cfgmatch.sh
cfgparse.sh

[2017-03-30 18:30] manojampalam opened #621 "E2E tests for various ciphers"
Evaluate and replicate E2E tests possibly from
cipher-speed.sh
conch-ciphers.sh

[2017-03-30 18:34] manojampalam opened #622 "E2E tests for SSHENV_PASS"
Evaluate and replicate E2E tests from
envpass.sh

[2017-03-30 18:35] manojampalam opened #623 "E2E test cases for exit status"
Evaluate and replicate E2E tests from
exit-status.sh

[2017-03-30 18:36] manojampalam opened #624 "E2E test cases for forward-control"
Evaluate and replicate E2E tests from
forward-control.sh

[2017-03-30 18:37] manojampalam opened #625 "E2E tests cases for hostkey*.sh"
Evaluate and replicate E2E tests from
hostkey-agent.sh
hostkey-rotate.sh

[2017-03-30 18:38] manojampalam opened #626 "E2E test cases from integrity.sh"
Evaluate and replicate E2E tests from  integrity.sh

[2017-03-30 18:43] manojampalam opened #627 "E2E test cases from key-options.sh"

[2017-03-30 18:44] manojampalam opened #628 "E2E test cases for ssh-keygen"
Evaluate and replicate E2E tests from
keygen-change.sh
keygen-convert.sh
keygen-knownhosts.sh
keygen-moduli.sh

[2017-03-30 18:46] manojampalam opened #629 "E2E test cases for logons using various key types"
Evaluate and replicate E2E tests from
kextype.sh

[2017-03-30 18:49] manojampalam opened #630 "E2E tests for revoked keys"
Evaluate and replicate E2E tests from
krl.sh

[2017-03-30 18:50] manojampalam opened #631 "E2E tests for restricted pubkey types"
Evaluate and replicate E2E tests from limit-keytype.sh

[2017-03-30 18:51] manojampalam opened #632 "E2E tests from login-timeout.sh"

[2017-03-30 18:54] manojampalam opened #633 "E2E tests from putty*.sh"
putty-ciphers.sh
putty-kex.sh
putty-transfer.sh

[2017-03-30 18:55] manojampalam opened #634 "E2E tests from rekey.sh"

[2017-03-30 18:56] manojampalam opened #635 "E2E tests for scp"
Evaluate and replicate E2E tests from
scp-ssh-wrapper.sh
scp.sh

[2017-03-30 18:57] manojampalam opened #636 "E2E tests for SFTP"
Evaluate and replicate E2E tests from
sftp-badcmds.sh
sftp-batch.sh
sftp-chroot.sh
sftp-cmds.sh
sftp-glob.sh
sftp-perm.sh
sftp.sh

[2017-03-30 20:05] bagajjal opened #637 "Fix the SFTP pester testcases"
Fix, Integrate the SFTP pester testcases to the CI system as per the new test framework changes

[2017-03-30 20:10] bagajjal opened #638 "Fix test framework issues"
1) Setup-OpenSSHTestEnvironment is failing as the TestDataPath is not present.
Created the TestDataPath after Install-OpenSSHTestDependencies in OpenSSHTestHelper.psm1 file.

2) SCP issues
     a) Replace the 'OpenSSHDir' with 'OpenSSHBinPath' as 'OpenSSHDir' is no longer present.
     b) Clear the content of ssh-agent, sshd after copying the log files so that next test cases will get fresh logs.

[2017-03-30 23:06] bingbing8 opened #639 "Terminal escape sequence handling in a non-TTY stream for Windows"
To prevent screwing up terminal settings on windows when printing to the terminal. This is what we do:
1. turn off the virtual termial before print out to console. The file call these funtions are from scp.c,  sftp.c and sshconnect(calls smprintf). The virtual termial are not enabled in scp and sftp. turn off it in vfmprintf is enough for now.

**"OpenSSH for Windows" version**
0.0.10.0

**OS deta

[2017-03-30 23:07] bingbing8 commented on #639
https://github.com/PowerShell/openssh-portable/pull/94

[2017-03-30 23:09] #639 closed, assigned to bingbing8

[2017-03-30 23:16] bingbing8 opened #640 "Test scripts updates and readme"
1. remove the test deployment and test just run in their bin folder
2. fix the artifact publishing when the path is $null or empty
3. fix scp tests to use the new global variables.
4. enable E2E tests in CI
5. add readme file for E2E tests

[2017-03-30 23:17] #640 closed, assigned to bingbing8

[2017-03-30 23:23] bingbing8 opened #641 "Test Infra upgrades"
1. separate the below 4 modules.
AppveyorHelper.psm1: appveyor related support
OpenSSHBuildHelper.psm1: openssh build related things
OpenSSHCommonUtils.psm1: common utilities called by other modules
OpenSSHTestHelper.psm1: open ssh test related supports.
2. rename some function to be more describable.
3. update appveyor.yml to represent the new changes

[2017-03-30 23:24] #641 closed, assigned to bingbing8

[2017-03-30 23:26] bingbing8 opened #642 "hostkeys unitest failing"
1. Deploy the key files to separate folder to avoid overwriting.
2. Enable hostkeys unit tests.

[2017-03-30 23:26] bingbing8 opened #643 "generate debug info in test pdbs"
1. Generate debug info in pdb
2. minor update on snmprintf

[2017-03-30 23:27] #642 closed, assigned to bingbing8

[2017-03-30 23:28] #643 closed, assigned to bingbing8

[2017-03-31 00:11] bingbing8 opened #644 "[Security] ssh should check and enforce owner and permissions on config file"
Tracked TODO in code:
openssh-portable\readconfig.c(1738): /* TODO - implement permission checks for Windows */

[2017-03-31 01:21] Sedee opened #645 "Error retrieving user environment variables. RegOpenKeyExW returned 5"
Please answer the following

Windows 2008 R2 7601 SP1
sshd 0.0.10.0

When attempting to use rsa key authentication, the following error occurs:

`2012 11:23:11 430 error: Error retrieving user environment variables. RegOpenKeyExW returned 5`

passwordless login.

From windows / putty with agent and imported key
`Authenticating with public key "imported-openssh-key" from agent
Server refused public

[2017-03-31 05:21] manojampalam commented on #645
Can you share ssh-agent logs? See wiki for trouble shooting steps.

[2017-03-31 06:09] Sedee commented on #645
ssh-agent.log file is empty

I used the wiki to perform the install, with one exception, after installing the ssh-lsa, I didn't reboot - hard to get outages, is there any way to avoid a reboot? This looked like a simple dll registration, but I'm a unix admin, havent really played on windows for a decade.

When I run regsvr32 c:\windows\system32\ssh-lsa.dll I get
The module was located but the entr

[2017-03-31 18:26] manojampalam commented on #645
If you need key based authentication to work with workgroup (non-domain) accounts, it is necessary to run install-sshlsa.ps1 and reboot the machine. This unfortunately is a limitation of Windows security subsystem.

That said, I am working on alternative solution that might not need a machine reboot, but its not ready yet.

[2017-03-31 18:51] #637 closed, assigned to bagajjal

[2017-03-31 18:52] #609 closed, assigned to manojampalam

[2017-03-31 19:04] #638 closed, assigned to bagajjal

[2017-04-03 02:37] HolisticDeveloper commented on #565
@joeyaiello That's understandable, especially in regards to the dates. Is it possible to get a better sense of the remaining work? For example, do you just need to tackle the [work in progress](https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Status#work-in-progress) and [work in pipeline](https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Status#work-in-pipeline) items, or are you t

[2017-04-03 12:49] mikemaccana opened #647 "Single character Host aliases are interpreted as drives"
Please answer the following

**"OpenSSH for Windows" version**

0.0.10.0

**OS details**

Windows 10 Pro

**What is failing**

    $ scp a:/var/www/myapp/public/js/dist/index.js before.js

**Expected output**

    index.js              100% 1131KB 565.3KB/s   00:02

**Actual output**

    The system cannot find the drive specified.

The command works if I use a longer alias, eg:

    $ scp certsim

[2017-04-03 20:11] manojampalam opened #648 "Issues with stat() implementation for Windows"
Tracked TODO in code:
win32\win32compat\fileio.c

int
fileio_stat(const char *path, struct _stat64 *buf)
	/*
	* If we doesn't have sufficient permissions then _wstat4() is returning "file not found"
	* Using the following to work around this.
	* TODO - Replace the above call with GetFileAttributesEx
	*/

[2017-04-03 20:26] manojampalam commented on #541
You may be hitting this issue - https://github.com/PowerShell/Win32-OpenSSH/issues/586

[2017-04-03 20:35] manojampalam commented on #559
Looked into this. TEMP is set to user's TEMP directory if the user's profile exists. This is being picked up and set in setup_session_user_vars() routine in session.c as part of reading user's environment variables from user's profile in registry.

If there is a failure reading entries from user's profile, TEMP may be set to C:\Users\SSHD\AppData\Local\Temp. However, there is no security issue her

[2017-04-03 20:35] #559 closed, assigned to nobody

[2017-04-04 19:36] #586 closed, assigned to nobody

[2017-04-04 19:36] #556 closed, assigned to nobody

[2017-04-04 19:37] manojampalam commented on #526
This should work with March-end release.

[2017-04-04 19:37] #526 closed, assigned to nobody

[2017-04-04 19:37] manojampalam commented on #504
Logic around spawn_child has been modified a bit and this should work from March-End release

[2017-04-04 19:37] #504 closed, assigned to nobody

[2017-04-04 19:38] manojampalam commented on #234
install-sshd.ps1 should work on Nano with March End release

[2017-04-04 19:38] #234 closed, assigned to nobody

[2017-04-04 20:57] manojampalam commented on #606
@Leproide, @C-Duv , @sterling

Can you try out the attached package and see if it works (revert "AddressFamily inet" change in sshd_config)? This is with a private fix on top of March-End package.
[OpenSSH-Win64.zip](https://github.com/PowerShell/Win32-OpenSSH/files/894527/OpenSSH-Win64.zip)
[OpenSSH-Win64_Symbols.zip](https://github.com/PowerShell/Win32-OpenSSH/files/894526/OpenSSH-Win64_Symbols.

[2017-04-05 01:02] sterling commented on #606
This appears to have fixed the log spam for me. sshd starts up with just a few logs:
[code]

[2017-04-05 01:37] Leproide commented on #606
Work :D
Now i can uninstall the shitty bitvise ssh server :D
Thanks!

But, the problem is?

[code]

[2017-04-05 01:37] LuisBosquez opened #649 "Installation instructions for Windows?"
I can't find any easy to follow installation instructions for Windows. The INSTALL file seems to be written for Linux.

What should one do after downloading the zip and running the ps1 scripts?

[2017-04-05 01:42] LuisBosquez commented on #649
The readme also doesn't provide enough guidance.

[2017-04-05 01:51] Leproide commented on #606
Ah, this is my (orrible) update script if anyone need
https://pastebin.com/5T8MjDDt

[2017-04-05 04:37] DarwinJS opened #650 "Please only update file version resource on ssh-lsa.dll when the code changes"
For the Chocolatey package I am having some trouble updating ssh-lsa.dll even when using Windows built-in pending file updates support (replace on reboot).  (Also described here: http://stackoverflow.com/questions/4443578/how-to-replace-locked-dll-was-inuse)

UPDATE: I am guessing that lsass.exe starts before PendingFileRenameOperations registry key is processed.  I believe this means that it will

[2017-04-05 12:25] DarwinJS commented on #650
FYI - I am working support into the package so that two runs of the package (each followed by a reboot) can accomplish the update of ssh-lsa.dll.

However, this support
1. will require a special new switch and
2. the package will NOT orchestrate the reboots or re-running of itself.
3. is smart enough to install fine on first time install with only one reboot (as before)

The best way for mass upda

[2017-04-05 12:37] DarwinJS commented on #650
It may also make sense for the zip file to provide a new helper script "upgrade-sshlsa.ps1" or similar which can be used to ONLY remove ssh-lsa.dll from the registry key.  Although it would be very similar to "uninstall-sshlsa.ps1", just having the script would also be a cue that there are special procedures required for updating ssh-lsa.dll.  It could also contain logic to indicate whether an upg

[2017-04-05 13:23] nkrepo opened #651 "SSHD service fails to start"
Please answer the following

**"OpenSSH for Windows" version**
0.0.11.0

**OS details**
Windows 10 Pro Version 1607 Build 14393.953

**What is failing**
The sshd service failed to start due to the following error:
"The system cannot find the file specified."

I followed installation instructions from [https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH](url).

The `C:\Program Fi

[2017-04-05 14:18] darkblaze69 commented on #606
This is also my problem with up to 0.10 version - full 1 core load. Not sure about log file. I even don't see it. But private fix solved my problem. And now I can see log file.

[2017-04-05 17:15] manojampalam commented on #649
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

[2017-04-05 17:20] manojampalam commented on #651
I'm guessing you don't have the host keys setup. Try doing
sshd.exe -d
and it should tell you why it wont start

If so, you'll need to do
ssh-keygen.exe -A

[2017-04-05 17:22] joeyaiello commented on #565
The Beta issues is currently the most accurate set of work that needs to be done. You'll notice we have quite a bit of test debt there to tackle.

Over the next week or two, we're all working on getting data quality taken care of (and it's pretty likely we'll have to take the hit of a migration over to PowerShell/openssh-portable pretty soon here). We've also been experimenting with GitHub Project

[2017-04-05 17:25] manojampalam commented on #650
Retaining version on ssh-lsa.dll might cause confusion down the line. I'm attempting to get rid of this dll altogether. Will let you know how it works out.

[2017-04-05 17:32] manojampalam commented on #606
@Leproide do you see any other issues? Your logs seem OK to me.

Otherwise, I'll include this fix in April-Mid drop.

[2017-04-05 18:30] Leproide commented on #606
@manojampalam works like a charm

[2017-04-05 18:50] bagajjal commented on #530
Are you still facing this issue? Is it reproducible manually?
Please provide the steps to reproduce and the logs (sshd.log and ssh client logs)

[2017-04-06 01:44] LuisBosquez commented on #649
Thanks!

[2017-04-06 01:44] #649 closed, assigned to nobody

[2017-04-06 18:26] manojampalam commented on #651
Reopen if needed

[2017-04-06 18:26] #651 closed, assigned to nobody

[2017-04-06 18:59] manojampalam commented on #611
I've followed up on this and we are in agreement that this restriction is an over kill. I'll revert the change in April-Mid drop and create necessary documentation around securing authorized_keys.

[2017-04-06 21:31] anjohnson commented on #645
I'm seeing this error message in my logs too, but I'm not sure if it is the reason why my logins don't always work (however I'm not writing about that here). I looked up [Microsoft's documentation](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724897(v=vs.85).aspx) for the routine `RegOpenKeyExW()` and there is a note in the Remarks that says:

This would appear to be the fix necessar

[2017-04-06 22:46] anjohnson commented on #645
To confirm: The error message which is the subject of this issue gets logged (4 times per login) even when I successfully login to a local account using a public key that is present in the authorized_keys file.

[2017-04-07 01:20] DarwinJS opened #652 "Choco Package: /ReleaseSSHLSAForUpgrade and Set-SSHKeyPermissions.ps1"
I am simply going to drop in the release notes and an excerpt from the readme.md of **version 0.0.11.0 of the chocolatey packaging**.

# Two big things:
**A new script that finds and fixes the permissions on all users "authorized_keys" files.**  It is also copied to the SSH bin folder so you can run it each time you add an authorized_keys file or even in the task scheduler if you want it to do thi

[2017-04-07 01:21] ZenoArrow opened #653 "Understanding host file setup"
Apologies up front if this is the wrong forum for the following questions, have looked for answers elsewhere, no luck so far.

I'm trying to understand the following sections from the install notes ( https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH ):

"
Setup SSH host keys (this will generate all the 'host' keys that sshd expects when its starts)

    .\ssh-keygen.exe -A

Se

[2017-04-07 01:39] bagajjal commented on #653
1) The keys generated will be used for the authenticating host.
search for the "host key" here
https://tools.ietf.org/html/rfc4253#page-13
![image](https://cloud.githubusercontent.com/assets/23668037/24781991/495ff59c-1af8-11e7-8aac-1a42d3ccabc8.png)

2) it doesn't matter whether we do in cmd.exe or powershell as we are invoking ssh-agent. Its not specific to cmd.exe/powershell

[2017-04-07 09:16] nkrepo commented on #651
I solved the issue , it was not related with the host keys. I run sshd.exe -d with admin account I managed to connect.
I run the uninstall script and deleted the installation folder.
Afterwards with an **admin** powershell console I extracted the OpenSSH-Win64.zip as admin as :
[code]
and followed the installation guide [https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH](url)

[2017-04-07 16:04] MaximoTrinidad opened #654 "Latest Win32-OpenSSH release page is hard to find."
This is just a feedback!

I took me minutes to try to find the release page in order to get the latest version of Win32-OpenSSH
The main page should have a link to this release page for everyone to have easy access.

Currently, there's no link available and it's making hard to find the files.

I was lucky that I documented the link back in November in my blog post.

Just a suggestion!  I think it

[2017-04-07 16:35] MaximoTrinidad opened #655 "Win32-OpenSSH - How to setup the AuthorizedKeys in the Windows User."
Please answer the following

**"OpenSSH for Windows" version**
0.0.11.0

**OS details**
Windows 10 Pro

**What is failing**
No AuthorizationKeys found!  When executing script in Breaking Change note;
$authorizedKeyPath = "C:\Users\mtrinidad\.ssh\authorized_keys"
$acl = get-acl $authorizedKeyPath
$ar = New-Object  System.Security.AccessControl.FileSystemAccessRule("NT Service\sshd", "Read", "Allow"

[2017-04-07 16:39] MaximoTrinidad commented on #654
Ok!!  I found the way to get to the "Release" page.  I'm blind!
I see it on the top of the page.

But, it still would help to have another 'descriptive' link in the main page as you read the "README" information on OpenSSH.  I got spoiled with the PowerShell page.

Thanks,
Max

[2017-04-07 17:33] #653 closed, assigned to bagajjal

[2017-04-07 17:37] bagajjal commented on #654
Which URL are you referring to add the descriptive link?

Is the wiki page not clear?
https://github.com/PowerShell/Win32-OpenSSH/wiki

[2017-04-07 17:38] manojampalam commented on #655
authorized_keys is used as part of key based authentication

See https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples

[2017-04-07 17:38] #655 closed, assigned to nobody

[2017-04-07 17:45] MaximoTrinidad commented on #654
Hi @bagajjal,

Thank You!  I learn another link.

But, I went the longer route and started reading the ReadMe document on the main page.
My suggestion is to include the Wiki link in the ReadMe page. I think it would help.

Sorry! I'm still getting use to GitHub.

Thanks for your patience,
Max

[2017-04-07 17:52] bagajjal commented on #654
Are you referring to https://github.com/PowerShell/Win32-OpenSSH/blob/L1-Prod/README?

[2017-04-07 18:00] MaximoTrinidad commented on #654
Yes!!  That page.  I think that including both the wiki and the release link won't hurt,
:)

[2017-04-07 18:06] bagajjal commented on #654
Unfortunately we can't edit that because its the readme of the openssh community.
We cloned the openssh code and porting to windows operating system.

I feel the wiki link is good enough as it is right below the branch name.
![image](https://cloud.githubusercontent.com/assets/23668037/24813189/f92ddbb8-1b81-11e7-844c-64db3cf7f423.png)

You can always raise new issue for any help, we are happy to h

[2017-04-07 18:06] #654 closed, assigned to bagajjal

[2017-04-07 18:09] MaximoTrinidad commented on #654
No worries!  I'll be blogging more on Win32-OpenSSH when I get the other issue i posted total resolved.

I appreciate the help,
Max

[2017-04-07 21:00] MaximoTrinidad commented on #655
Thanks for the explanation.  Also, I realized that the "authorized_keys" was a folder name and not a file.

So, after creating the folder, then I was able to run the PowerShell script.
:)

[2017-04-08 04:09] MaximoTrinidad opened #656 "Win32-OpenSSH - PowerShell can't connect Linux to Windows."
Please answer the following

**"OpenSSH for Windows" version**
0.0.11.0

**OS details**
Linux Ubuntu 16.04.2 LTS connecting to Windows 10 Pro
Both systems using PowerShell v6.0.0-alpha18

**What is failing**
Following command fails:
enter-pssession -HostName earth2 -UserName max_t

enter-pssession : The background process reported an error with the following message: The SSH client session has
end

[2017-04-08 08:56] ZenoArrow commented on #653
Thank you bagajjal for the link related to host keys, it gives me plenty of information to help explore further.

Just one follow up question, if I wanted to propose an alternative set of install notes, what's the best way to do that? Should I clone the repository, make the wiki changes, and submit these changes as a pull request?

Thanks.

[2017-04-08 16:24] manojampalam opened #657 "Remove ssh-lsa.dll dependency and reboot restriction on setup"
Please answer the following

**"OpenSSH for Windows" version**
All versions upto 0.0.11.0

**OS details**
 All OSes

**What is failing**
Installing OpenSSH requires reboot for key based authentication to work

**Expected output**
OpenSSH installation and its features should work without a reboot

**Actual output**

[2017-04-08 16:30] manojampalam commented on #650
@DarwinJS Good news. I've managed to get rid of ssh-lsa.dll altogether. There will be no reboot restriction on setup now.
https://github.com/PowerShell/Win32-OpenSSH/issues/657

[2017-04-08 16:31] manojampalam commented on #656
Please add a reference to the instructions used to setup Powershell over ssh in Linux.
Was an explicit subsystem added for Powershell?

[2017-04-08 16:36] MaximoTrinidad commented on #656
Yes!

Subsystem	powershell	C:/Program Files/PowerShell/6.0.0.18/powershell.exe -sshs -NoLogo -NoProfile

:)

[2017-04-08 16:40] MaximoTrinidad commented on #656
Sorry!

In Windows:
Subsystem powershell C:/Program Files/PowerShell/6.0.0.18/powershell.exe -sshs -NoLogo -NoProfile

In Linux:
Subsystem powershell powershell -sshs -NoLogo -NoProfile

:)

[2017-04-08 16:40] MaximoTrinidad commented on #656
It work Windows to Linux but not the other way.

[2017-04-08 17:34] DarwinJS commented on #656
Although it does not list on the public website due to being a pre-release, I maintain a chocolatey package for powershell-core for windows here: https://chocolatey.org/packages/powershell-core

[2017-04-08 17:49] MaximoTrinidad commented on #656
Hi @DarwinJS,

Aah! I can't get the link to open.  I tried everything to get this to work.  I'm presenting in the next hour and I was trying to demo PowerShell Enter-PSSession command connecting Linux to Windows.

No Worries! At least I got the Windows to Linux connection working,  Is interesting how one update can break what was working.

:)

[2017-04-08 18:32] DarwinJS commented on #656
@MaximoTrinidad

This should install chocolatey:
[code]
Other methods are here if that does not work: https://chocolatey.org/install

Then start a fresh prompt and run this to install powershell-core v18:
[code]

[2017-04-08 23:58] MaximoTrinidad commented on #656
I tried using the choco install powershell-code -confirm and I'm getting an error:
"powershell-core not installed. The package was not found with the source(s) listed."

This is interesting because I already have PowerShell v6.0.0-alpha18 installed.

Should I uninstall and try again.

:)

[2017-04-09 00:15] DarwinJS commented on #656
Oh I didn't know you had it already.  Add '-pre' to try, but it will just
tell you it is installed by another means.

On Apr 8, 2017 7:58 PM, "Maximo Trinidad" <notifications@github.com> wrote:

[2017-04-09 21:05] ZenoArrow commented on #653
To anyone reading this that was also interested in how SSH works, I'd recommend the following article, which I found very useful in understanding how the different keys used in SSH work together:
https://www.digitalocean.com/community/tutorials/understanding-the-ssh-encryption-and-connection-process

With reference to the host key question I'd asked previously...

[2017-04-10 18:02] bagajjal commented on #653
@ZenoArrow, wiki changes can't be done with pull request. We have the permissions to change the wiki.
Please let me know the changes so that we can evaluate and make the necessary changes.

[2017-04-10 22:36] anjohnson opened #658 "Sending data to Windows through stdin"
**"OpenSSH for Windows" version**
 `v0.0.10.0`

BTW: The powershell command in your Github issue template to get the above version number doesn't work for me.

**OS details**
 `Windows 7 Enterprise`

**What is failing**

Using ssh (from Linux) to start a program on Windows and send binary data to it through stdin is broken several ways.

Here are 2 programs written in Perl to demonstrate this:

[c

[2017-04-11 17:50] manojampalam commented on #658
Thanks for the detailed report. I'll look into it.

[2017-04-12 00:04] dhiltgen opened #659 "Can't login to account with empty password"
Please answer the following

**"OpenSSH for Windows" version**

0.0.11.0

**OS details**
 `((Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows nt\CurrentVersion\" -Name ProductName).ProductName)`

Windows Server 2016 Standard
(nano)

**What is failing**

I've updated my config to allow empty passwords, but I'm unable to login as a user with an empty password over ssh.

`sshd_config` excerpt:
[cod

[2017-04-12 02:46] friism commented on #507
@gd197 did you find the problem? I'm having the same problem: I can log in using git-bash OpenSSH client, but the Go-lang client in Packer fails with similar stuff in the log.

[2017-04-12 03:07] rpereda opened #660 "Not Login with SSH Keys"
Please answer the following

**"OpenSSH for Windows" version**
0.0.11.0

**OS details**
Windows Server 2012 R2 Standard

**What is failing**

I'm not able able to login using my ssh keys

**Expected output**

Login using my ssh keys

**Actual output**

It is asking me for the user password instead of using my keys for validation.
* I've followed this guide without any issue https://github.com/Powe

[2017-04-12 03:59] friism commented on #540
@manojampalam this is still a problem with 0.0.11.0.

[2017-04-12 06:05] manojampalam commented on #660
Did you note this from https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.11.0

**NOTE - Breaking Change**
  - Due to a security issue that got fixed in this release, SSHD account now needs read access to "authorized_keys. Otherwise pubkey authentication will fail. Do the following:
[code]

[2017-04-12 06:05] #660 closed, assigned to nobody

[2017-04-12 13:25] ChristophB125 opened #661 "Cannot contribute to Wiki"
I found some mistakes in the Wiki that I wanted to fix.

I followed the instructions [here](https://gist.github.com/larrybotha/10650410) but I cannot contribute becausewhen I fork the Win32-OpenSSH repository, the Wiki does not get forked as well (this seems to be a GitHub issue by looking at the comments [here](http://stackoverflow.com/a/36321244/1810304).
I can of course clone the wiki of the ma

[2017-04-12 16:43] ThomasMConnors opened #662 "authorized_keys when created with NotePad fails"
**"OpenSSH for Windows" version**
0.0.11.0

**OS details**
Windows Server 2012 R2 Standard

authorized_keys when created with NotePad fails. Default w/notepad is Unicode and not ASCII.  This drove me crazy for a half a day.

**Expected output**
Should would with both ASCII & Unicode. (or at least documented in the install notes for now.

**Actual output**
N/A

[2017-04-12 16:50] ThomasMConnors opened #663 "Local server account fails w/Key Auth"
"OpenSSH for Windows" version
 0.0.11.0

OS details
 Windows Server 2012 R2 Standard

I can SSH/SFTP to a my OpenSSH server using a domain account on the server. With a Windows server local account it works for password auth but not public/private keys

5664 21:51:22 347 client pid 4308 connected
5664 21:51:22 347 debug1: spawned worker 3756 for agent client pid 4308
3756 21:51:22 393 agent_start

[2017-04-12 16:56] rpereda commented on #660
Hi manojampalam ,

Thanks for your reply however this is not the case since I already did those steps, and I can validate that the permissions has been granted.

<img width="917" alt="screen shot 2017-04-12 at 11 53 45 am" src="https://cloud.githubusercontent.com/assets/3868410/24969643/07fd8e38-1f77-11e7-868b-068c69326038.png">

[2017-04-12 17:46] manojampalam commented on #662
It should work with UTF-8. Try saving the file in that format.

[2017-04-12 17:46] bagajjal commented on #661
Yes, WIKI can't be cloned / pushed by a change.
Please open an issue and propose the necessary changes, we will evaluate and make the necessary changes

[2017-04-12 17:46] #661 closed, assigned to bagajjal

[2017-04-12 17:48] manojampalam commented on #663
For workgroup/local accounts, you currently need to install ssh-lsa.dll. This restriction (and ssh-lsa.dll) will go away in the next release.

[2017-04-12 17:56] rpereda opened #664 "Login with SSH Keys not working"
Please answer the following

**"OpenSSH for Windows" version**
 0.0.11.0

**OS details**
 Windows Server 2012 R2 Standard

**What is failing**

SSH is not able to read the authorized_keys folder, therefore a login with ssh keys is not possible, below some logs

4000 17:41:37 125 debug1: userauth_pubkey: test whether pkalg/pkblob are acceptable for RSA SHA256:ueiywq2iC7n71dmluCAZqixYO9/Rga38WZXdg9I

[2017-04-12 18:10] ThomasMConnors commented on #663
Manoj, looks like the config was right but a reboot was pending. Thanks! It works now.

[cid:image001.png@01D2B395.A7C94450]

[cid:image002.png@01D2B395.A7C94450]

From: Manoj Ampalam [mailto:notifications@github.com]
Sent: Wednesday, April 12, 2017 1:48 PM
To: PowerShell/Win32-OpenSSH <Win32-OpenSSH@noreply.github.com>
Cc: Tom Connors <tomc@tomc.us>; Author <author@noreply.github.com>
Subject: Re

[2017-04-12 18:33] DarwinJS commented on #664
@rpereda - I believe you have referred to authorized_keys as a folder in multiple issues?

It is not a folder, but a file containing a list of keys.

[2017-04-12 20:49] #663 closed, assigned to nobody

[2017-04-12 21:31] PaulHigin commented on #656
@MaximoTrinidad This looks like SSH host key revocation error.  PowerShell includes the SSH error message text in its error but it looks like it is not including the entire SSH error message and is likely a bug in PowerShell SSH remoting (I'll create an issue on PowerShell github).

This happens to me anytime I install a new version of Win32-OpenSSH on my host machine, and generate new host keys.

[2017-04-12 21:57] manojampalam opened #665 "Ctrl+C doesn't work with "sshd -ddd""
Please answer the following

**"OpenSSH for Windows" version**
0.0.11.0

**OS details**
All

**What is failing**
sshd.exe -ddd
Ctrl+C

**Expected output**
sshd.exe should exit

**Actual output**
It simply hangs

[2017-04-12 22:00] PaulHigin commented on #656
FYI the entire error message should look like this
[code]

[2017-04-13 00:08] dwcoffin commented on #645
Windows 2008 R2 7601 SP1
sshd 0.0.11.0

Issues:

1. Unable to login with AD account within same domain.  No modifications to sshd_config.

2. Running *install-sshlsa.ps1* generates errors listed below.

Ran PS commands to get most recent packages.

Followed installation instructions from:
https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH

Unable to run *"powershell -executionp

[2017-04-13 01:00] charabaruk commented on #558
Probably doesn't actually need to be said, but after testing 0.0.11.0 I can report that the problem here persists. `ssh-agent.log` contents:

[code]

[2017-04-13 02:20] MaximoTrinidad commented on #656
Thanks @PaulHigin!  I will try it during the weekend. I've been so busy lately that's not funny.
:)

[2017-04-13 03:45] WojtekKozaczynski opened #666 "docker-machine doesn't work with this version of OpenSSH"
**"OpenSSH for Windows" version**
0.0.10.0

**OS details**
Windows 10 Pro

**What is failing**
A detailed description of the issue is in the docker/machine repo @ https://github.com/docker/machine/issues/4053.

The summary is that when OpenSSH is installed on Windows 10 the docekr-machine tries to use it to communicate with the Hyper-V VMs it creates and manages, and the Win32 OpenSSH implementati

[2017-04-13 08:42] bingbing8 opened #667 "OpenSSHBuildHelper and OpenSSHTestHelper changes needed."
issues:
1. run install-openssh more than once should successfully update the binaries without errors.
2. if user install openssh manually and run Setup-opensshtestenvironment, the subsequent tests are not able to find ssh binaries.
3. tests failed due to secure file perm check.

changes needed:
1. script OpenSSHBuildHelper.psm1 needs to update to stop the service before override the files.
2. need

[2017-04-13 16:04] HolisticDeveloper commented on #565
Thank you for providing the insight, Joey.

[2017-04-13 16:04] #565 closed, assigned to nobody

[2017-04-13 17:21] manojampalam commented on #664
Reopen if needed.

[2017-04-13 17:21] #664 closed, assigned to nobody

[2017-04-13 19:33] mayo commented on #253
I'm seeing the same problem with the latest 0.0.11.0. Looking at the logs below, the key is found and matches, but it's not accepted. I assume this is due to the token generation failure in the agent.

Agent log:
[code]

openssh log:
[code]

[2017-04-13 23:47] MaximoTrinidad commented on #656
So,  @PaulHigin, Windows to Linux is fine. The issue is from Linux to Windows is not working,  I wonder what I need to do in Linux to correct the issue.
:)
[code]

[2017-04-14 01:28] Leproide commented on #606
![proprieta - sshd log](https://cloud.githubusercontent.com/assets/8448713/25029911/cd59b454-20c1-11e7-9144-a4b99ac94525.jpg)

Latest release.
Unfortunately i not have a debug log for this issue, i changed now the configuration for future update about this problem.

[2017-04-14 05:19] pSatishC commented on #253
I'm having the same issue with v0.0.11.0

ssh-agent.log (from 'node1' - ssh server)
[code]
sshd.log (w/ DEBUG) (from 'node1' - ssh server)
[code]

ssh verbose output from 'node2' - ssh client
[code]

[2017-04-14 17:22] PaulHigin commented on #656
Hi @MaximoTrinidad, it doesn't matter which direction the connection is made.  This error message (of which only part is reported by PowerShell remoting) means that the SSH host keys no longer work and that you need to update the known_hosts file on the client appropriately.  For a Linux client you should be able to find the file at /home/max_t/.ssh/.

[2017-04-14 17:58] MaximoTrinidad commented on #656
Got it @PaulHigin!  I will try again later.

[2017-04-14 22:33] manojampalam opened #668 "SSH I/O redirection doesn't work"
Please answer the following

**"OpenSSH for Windows" version**
upto 0.0.11.0

**OS details**
Any

**What is failing**
ssh localhost dir c:\windows\system32 > tmp.txt

**Expected output**
output in tmp.txt

**Actual output**
It hangs

[2017-04-15 11:48] gpoul opened #669 "ssh-add not connecting to SSH_AUTH_SOCK"
**"OpenSSH for Windows" version**
0.0.11.0

**OS details**
Windows 10 Pro

**What is failing**

ssh-add doesn't appear to be able to connect to the agent; I'm trying to use gpg-agent, but the error already happens with ssh-add not being able to connect at all, so I think this is related to ssh-add, not gpg-agent.

**Expected output**

I would expect ssh-add to be able to connect to the agent

**Ac

[2017-04-15 18:30] manojampalam commented on #669
IPC for Windows port happens over Named pipes (compared to Unix domain sockets on Unix). SSH agents for Windows need to expose their end points over named pipes.

Say if the agent is exposed over \\.\pipe\AGENTPIPENAME
SSH_AUTH_SOCK should be set to AGENTPIPENAME

[2017-04-15 18:43] #669 closed, assigned to nobody

[2017-04-16 13:00] ghost commented on #494
The same risk exists on Linux, right?

[2017-04-16 13:18] ghost opened #670 "Using WSL via Win32-OpenSSH breaks console"
Please answer the following

**"OpenSSH for Windows" version**
 `0.0.11.0`

**OS details**
 `Windows 10 Pro 1607`

**What is failing**
Logging into cmd works, but going into WSL via bash seems to break everything - backspace causes control characters to be printed to the screen (`[K`), and trying to use tmux results in more garbage being printed

**Expected output**
A "normal" session, including b

[2017-04-16 14:01] MaximoTrinidad commented on #656
@DarwinJS , @PaulHigin

Whaoo!!  I finally caught up with this after so much reinstalling and trying trial-error.

Well, did reinstall both the Win32-OpenSSH and openssh-server.  Just to find out the following which I didn't experience before upgrading these packages.

I got my hosts files set to resolve my machine names to a specific IP Address, as I'm using workgroup environment.

So, whole issu

[2017-04-16 14:21] MaximoTrinidad commented on #656
Yeap!  In my blog post back in December 2016, I could use hostname as well as the IP-Address in Enter-PSSession to connect from Linux-to-Windows machine.
http://www.maxtblog.com/2016/12/powershell-open-source-windows-psremoting-to-linux-with-openssh/
:)

[2017-04-16 20:18] #611 closed, assigned to nobody

[2017-04-16 20:19] manojampalam commented on #494
Yes, same risk exists on Linux.

Reverted this change as part of https://github.com/PowerShell/Win32-OpenSSH/issues/611

[2017-04-16 20:22] manojampalam commented on #606
IS this with the private I provided?

Please open a new issue.

[2017-04-16 20:23] #668 closed, assigned to nobody

[2017-04-16 20:23] #657 closed, assigned to nobody

[2017-04-16 20:24] manojampalam commented on #665
Fixed as part of https://github.com/PowerShell/Win32-OpenSSH/issues/668

[2017-04-16 20:24] #665 closed, assigned to nobody

[2017-04-17 18:02] PaulHigin commented on #656
You can still use either host name or IP address for establishing an SSH connection.  The problem above is that "earth2" host name is recorded in the known_hosts file and is using older non-matching host keys.  When you use the IP address SSH creates a *new* entry in the known_hosts file with the correct host keys.  In order to get "earth2" host name working again you need to delete that entry out

[2017-04-17 18:28] MaximoTrinidad commented on #656
Thanks @PaulHigin for your patience!!  I will look into it tonight and see if I can get it cleared this time.
:)

[2017-04-17 20:01] bingbing8 opened #671 "[Security] ssh should check and enforce owner and permissions on private key files"
auth.c
function check_key_in_hostfiles.

[2017-04-17 21:02] manojampalam commented on #666
I looked into this. Apparently, docker is launching ssh with the following commandline:

ssh.exe -F /dev/null -o PasswordAuthentication=no -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=quiet -o ConnectionAttempts=3 -o ConnectTimeout=10 -o ControlMaster=no -o ControlPath=none docker@10.123.171.161 -o IdentitiesOnly=yes -i C:\Users\manojamp\.docker\machine\machines\localhos

[2017-04-17 21:36] manojampalam commented on #253
I'm guessing the above problems are due to ssh-lsa.dll not being installed.

Can you try out 0.0.12.0 (that does not require ssh-lsa.dll anymore)?

[2017-04-17 21:39] manojampalam commented on #558
Thanks for your patience @coldacid. I'm working on this now.
Can you dump the output of the following, in the session you are running ssh-add on ?
set SSH_AUTH_SOCK

[2017-04-18 01:35] charabaruk commented on #558
[code]

**EDIT:** Just realized that 0.0.12.0 is now available. I tried this with 0.0.11.0. I'll provide updated log and details once the Chocolatey package is updated and installed.

[2017-04-18 01:42] manojampalam commented on #652
0.0.12.0 removed dependency on ssh-lsa.dll and the need for a reboot. Please reopen if you have any questions

[2017-04-18 01:42] #652 closed, assigned to nobody

[2017-04-18 07:04] gd197 commented on #507
Hello,
Seem it was a badly secured private rsa key on my sun cient (wrong permission)
After correcting and reloading the session the auth went well

[2017-04-18 07:47] Scrxtchy opened #672 "sshd service cannot be started; access is denied"
**"OpenSSH for Windows" version**
0.0.11.0

**OS details**
Windows Server 2016 Standard

**What is failing**
sshd service being started returns an access is denied error

**Expected output**
sshd service should start and be left running in the background as a service

**Actual output**
[code]

sshd's service properties imply that it is logging in as `NT SERVICE\SSHD`
Otherwise, the deamon runs fin

[2017-04-18 11:01] DarwinJS commented on #652
@manojampalam - could you please clarify what happens if a system has ssh-lsa.dll configured from a previous install and then v0.0.12.0 is installed (upgrade scenario)?  Might also be a good note for the release notes if it is known to cause problems.

I have updated the chocolatey package to start the process of remove ssh-lsa.dll automatically - but on the first time it finds a locked ssh-lsa.dl

[2017-04-18 13:12] DHammarberg opened #673 "STDOUT doesn't wrap the buffer when running in SecureCRT"
Please answer the following

**"OpenSSH for Windows" version**
v0.0.12.0

**OS details**
Windows 7 Ultimate

**What is failing**
STDOUT doesn't wrap the buffer when I run a terminal through SecureCRT. If I fill up the buffer with command output from "dir" or similar, eventually it gets to the bottom row. But unlike when I log onto Linux machines, it doesn't wrap the remaining lines back - only the

[2017-04-18 16:31] mayo commented on #253
@manojampalam I've installed 0.0.12.0, but I still have the same problem. SSHd log is identical, but agent log error is slightly different (the LsaLogonUser line now includes *NTSTATUS*):

[code]

[2017-04-18 17:22] manojampalam commented on #253
Is it a work group account or a domain account?
What's the ssh command line you are using?

[2017-04-18 17:24] manojampalam commented on #672
Cross checking - are you starting the service as an admin (in an elevated console) ?

[2017-04-18 17:26] mayo commented on #253
It's a domain account. Command line is `ssh user@ssh-host`.

[2017-04-18 17:27] manojampalam commented on #673
As a work around, set your buffer rows to a big number (9999).

[2017-04-18 17:58] Scrxtchy commented on #672
I am running it from the Administrative account, however I'm using the Service management utilities instead of a command line

[2017-04-18 19:21] manojampalam commented on #672
Can you try using "net start sshd"

Also, can you dump the cmdline you are using (from Service management utitlities)?

[2017-04-18 23:23] bingbing8 opened #674 "[Security] ssh-keygen should set correct owner and permissions on private and public key files"
1. when generate the private keys authfiles.c 63
2. when generate the public keys 1049 in ssh-keygen.c
3. when generate the public keys 2761 in ssh-keygen.c

[2017-04-19 01:47] MaximoTrinidad commented on #656
Hum! It didn't work for me.  I removed the entry from the unknown_hosts file and even deleted the file from my windows .ssh folder.  I can't make it work using the hostname.  I can only use the IP-Address.
After my monthly online user group tomorrow, I'm going to revert back to an older OpenSSH and try again just to isolate the issue I'm having now.  Again, back in December I got it working.

I'm

[2017-04-19 01:51] avishaan opened #675 "Can't setup public key authentication, causes error when following setup instructions for it"
Please answer the following

**"OpenSSH for Windows" version**
[code]

**OS details**
Windows 10 Pro N
**What is failing**
powershell.exe -ExecutionPolicy Bypass -File install-sshlsa.ps1
**Expected output**
don't know, something not error related
**Actual output**
[code]

[2017-04-19 01:52] charabaruk commented on #558
Okay, so with 0.0.12.0, nothing seems to have changed.

Shell commands/output:

[code]

ssh-agent.log:

[code]

[2017-04-19 01:58] bagajjal commented on #246
IS this supported in the openssh unix flavor? If yes then please let us know the steps.
If not then we are not supporting this requirement.

Please reopen with required information.

[2017-04-19 01:58] #246 closed, assigned to nobody

[2017-04-19 02:04] bagajjal commented on #670
Can you elaborate what do you mean by "Logging into cmd works"?

Without WSL, were you able to login to unix machine properly and the terminal behaves correctly.

Try setting the SSH_TERM_CONHOST_PARSER to 0 in cmd.exe using (set SSH_TERM_CONHOST_PARSER=0) and then do ssh. Let us know if this works well.

[2017-04-19 02:10] bagajjal commented on #673
I am not able to recreate this issue on windows 10. It should be the same behavior on the windows 7 as well.

After SSH does your previous cmd.exe content (before doing ssh) is still there or the whole screen got cleared? please share the recording.

Are you using the legacy console?
Please share your cmd.exe properties, "console screen buffer size - width / height" and  windows size.

Go through

[2017-04-19 05:06] manojampalam commented on #675
Thanks for catching this. The instructions on wiki page were obsolete. They are updated now. You don't need to run install-sshlsa.ps1.

You were not able to get ssh version probably because the installation path is not in PATH.

[2017-04-19 05:06] #675 closed, assigned to nobody

[2017-04-19 05:29] Scrxtchy commented on #672
Fixed it;
I noticed I was running these application files from a user directory, instead of say Program Files that are accessible from the sshd service user

[2017-04-19 05:29] #672 closed, assigned to nobody

[2017-04-19 05:53] Scrxtchy opened #676 "Markdown formatting in wiki for SFTP examples"
The following wiki article has a simple markdown formatting issue on the first list item
https://github.com/PowerShell/Win32-OpenSSH/wiki/sftp.exe-examples

[2017-04-19 06:00] manojampalam commented on #558
OK. I added additional tracing in ssh-agent.exe. Can you replace with the attached one and regenerate traces?

[ssh-agent.zip](https://github.com/PowerShell/Win32-OpenSSH/files/931957/ssh-agent.zip)

[2017-04-19 06:08] manojampalam commented on #676
Thanks. Fixed.

[2017-04-19 06:08] #676 closed, assigned to nobody

[2017-04-19 07:35] vcarluer opened #677 "Version without ssh-lsa does not work with ssh keys on docker for Windows"
Please answer the following

**"OpenSSH for Windows" version**
0.0.12.0

**OS details**
Microsoft Windows Server Core 2016 Docker container hosted by Microsoft Windows 2016.

**What is failing**
ssh key authentication

**Expected output**
Logon with public key

**Actual output**
Password prompt

Deployed with chocolatey.org package https://chocolatey.org/packages/openssh
Fallback to 0.0.10.0 works

[2017-04-19 07:41] bgelens commented on #677
Got this with PowerShell 6 ```New-PSSession``` as well. Reverted to 0.0.11.0 and working again. In my case I installed from GH releases.

[2017-04-19 08:09] DHammarberg commented on #673
My cmd.exe has version 6.1.7601.17514.
conhost.exe has version 6.1.7601.23714.
conhost.exe is run with this command line: C:\Windows\system32\conhost.exe "-532765958-1897637209-556521010-811327810-9583264939507278038647003711698927287
Logical rows and columns in SecureCRT are 24 and 80.
This is how it looks for me: https://www.dropbox.com/s/nl0gqrpnjgloebe/securecrt_ssh_console.mp4
After having pa

[2017-04-19 08:21] DHammarberg commented on #673
When I try it in Putty, I find it works the way it should there. But inside SecureCRT, something goes wrong, whether I log directly into Windows, or do it from another machine. I'm using the same settings for this session that I use in any other, so maybe some terminal communication problem, I don't know.

[2017-04-19 10:33] DHammarberg commented on #673
I've tried a little more now. It seems the problem is present when connecting with mRemoteNG too. Just to make sure, I updated to the latest SecureCRT version as well, and it didn't change it.

What works for me:

Putty
Connecting from xterm running on Linux machine

What doesn't:

SecureCRT
mRemoteNG

I tried different terminal settings in SecureCRT too, but none worked.

[2017-04-19 11:54] pSatishC commented on #253
For my env (domain controlled ssh-host but user account is local to that machine), installing 0.0.12.0 worked. Thanks a ton @manojampalam

[2017-04-19 12:29] charabaruk commented on #558
Shell:

[code]

ssh-agent.log:

[code]

Looks like LookupAccountName doesn't like whatever name is being passed to it. If it helps, my system is not on a domain (seems to a common issue from a quick search of that error code) but it does use a Microsoft account login.

[2017-04-19 12:44] Flamez97 commented on #677
@vcarluer  Please do you know a link to download the version with ssh-sla?

[2017-04-19 13:21] vcarluer commented on #677
The version 0.0.10.0 available here have it (maybe the 0.0.11.0 too, didn't test)
https://github.com/PowerShell/Win32-OpenSSH/releases
I have installed it with chocolatey, so I didn't have test direct install from here but it should be the same.

[2017-04-19 14:29] DarwinJS commented on #677
v0.0.11.0 has ssh-lsa.dll as well.

On line 10 of the below linked dockerfile, add '-MaximumVersion 0.0.11.0' to keep your docker builds at 11 until this is fixed.

https://github.com/DarwinJS/ChocoPackages/blob/master/openssh/Dockerfile

[2017-04-19 15:29] ChristophB125 opened #678 "Wiki Documentation: Minor mistakes and improvement suggestions"
As a result of #661:
In the Wiki page [here](https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples), the following command syntax is incorrect and would give an error:
`Set-Acl  $authorizedKeyPath $acl`
The correct syntax using named parameters is:
`Set-Acl -Path $authorizedKeyPath -AclObject $acl`

On the same Wiki [page](https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-exampl

[2017-04-19 15:45] PaulHigin commented on #656
I am sorry you are having so much trouble with this.  The whole SSH error message includes the actual location of the known_hosts file affected, and it may be that you are modifying or removing the wrong file.  A good reason why we need to get this fixed in PowerShell.  But a workaround is to attempt the connection with SSH, so that you get the complete error message:
[code]
This is equivalent to

[2017-04-19 16:27] manojampalam commented on #253
@mayo, if its a domain account, you need to specify the domain prefix, you can use any of the following formats
ssh -l user@domain ssh-host
or
ssh user@domain@ssh-host
or
ssh domain\user@ssh-host

[2017-04-19 16:31] manojampalam commented on #677
I'm looking into this.

[2017-04-19 16:39] mayo commented on #253
@manojampalam Thanks, works like charm!

[2017-04-19 17:35] rbertoche commented on #253
Thanks for this info
I'll try it once I'm back home
How can I tell whether the account I'm currently logged on Windows is a
domain account?

I'm still using homegroups, do they count as a domain? I guess not, but I
used be unable to login

I'll update and try again later with those syntaxes, thanks again!

Em 19 de abr de 2017 13:28, "Manoj Ampalam" <notifications@github.com>
escreveu:

@mayo <htt

[2017-04-19 17:38] manojampalam commented on #558
LookupAccountName is looking for "NT Service\SSHD"
Can you start sshd service and see what account its running under?

You could do this in Powershell
PS E:\temp> gps sshd -IncludeUserName
    150       7376     0.22  21104 NT SERVICE\sshd        sshd

[2017-04-19 17:50] Flamez97 commented on #677
Thanks @vcarluer

[2017-04-19 17:58] mayo opened #679 "SSH Login shell has elevated privileges?"
When I log in over ssh, the given shell seems to be running with elevated privileges. The user I'm logging in as, is in the admin group and the shell seems to be running in admin mode. I need to run the shell in unprivileged mode. Is there any way to achieve this?

(This might be related or similar to issue #157)

[2017-04-19 20:39] manojampalam commented on #679
If the user you are logging in as, is part of Administrators group, then yes, you will be an admin with elevated privileges.

You would need to create a restricted user and login as that user instead.

[2017-04-20 00:18] bagajjal commented on #678
Thanks for your feedback.

1) Not sure why you are getting an error for (Set-Acl $authorizedKeyPath $acl).
It works for me.. here is the snapshot,
![image](https://cloud.githubusercontent.com/assets/23668037/25207150/70b36466-2521-11e7-8ebf-1ba05f668018.png)
![image](https://cloud.githubusercontent.com/assets/23668037/25207156/7e31c1f0-2521-11e7-90d8-71552bdf43c6.png)

As per the msdn -Path, -AclO

[2017-04-20 00:42] bagajjal commented on #673
Please provide this information,
1) are you using the non-legacy console mode in the cmd.exe console properties,
   Make sure you **uncheck** the "use legacy console"
![image](https://cloud.githubusercontent.com/assets/23668037/23882278/cc062726-081c-11e7-8e4c-792da6af23b9.png)

2) after doing ssh, does your whole console gets cleared (or) were you able to see the commands that were executed befor

[2017-04-20 01:14] bagajjal commented on #670
Did you try the workaround (set SSH_TERM_CONHOST_PARSER=0) ?

[2017-04-20 02:26] charabaruk commented on #558
Ah, I don't have the sshd service set up on this system. My expectation was that like on other platforms, ssh-agent would be usable without running the daemon as well.

[2017-04-20 04:10] remittor commented on #504
Not fixed!
Proof: https://github.com/PowerShell/openssh-portable/pull/117

[2017-04-20 05:33] manojampalam commented on #558
You are right. Client side should work independently.  I'll fix this for next drop. For the time being as a work around - install the server side components too.

[2017-04-20 14:39] C-Duv commented on #606
Tested plain new installation of v0.0.12.0 (via Chocolatey): Issue is gone, thanks. :+1:

[2017-04-20 17:14] manojampalam opened #680 "[Security] Elevation of privilege over loopback"
Please answer the following

**"OpenSSH for Windows" version**
0.0.12.0

**OS details**
All

**What is failing**
Elevation of privilege in the following setting:
- SSO setup for admin user with both client and server on the same box.
- User private key registered in ssh-agent and user's public key added as authorized for key-based auth

Malware running within an admin non-evelated session and crea

[2017-04-20 17:16] manojampalam commented on #680
Mitigation:
Above setup (client and server on the same box) is not of practical use. Avoid such setup.
Write tools that can identify and warn of such configuration vulnerabilities.

[2017-04-20 17:18] manojampalam commented on #679
Please reopen if you have follow up questions.

[2017-04-20 17:18] #679 closed, assigned to nobody

[2017-04-20 17:57] manojampalam opened #681 "Run SSHD service as Network Service"
Please answer the following

**"OpenSSH for Windows" version**
0.0.12.0

**OS details**
All

**What is failing**
SSHD runs as NT Service\SSHD requiring adding configuration at startup (ex. setting up privileges for this new account)

**Expected output**
Run SSHD service as Network Service with "Unrestricted" sidtype. This is consistent with how rest Windows of the services are configured.

**Actua

[2017-04-21 04:33] manojampalam commented on #677
Found the issue. On the nanoserver docker image, SHGetKnownFolderPath(&FOLDERID_Profile) using the token generated by S4U for NTLM, is returning the system profile path
- C:\\Windows\\system32\\config\\systemprofile

I'll fix this in the next drop by avoiding this call and retrieving the user profile path from registry directly.

This is my dockerfile
[code]

[2017-04-21 10:25] pvdhoef commented on #102
It appears that compression works now with Win32-OpenSSH-0.0.12.0.

See https://github.com/mitchellh/vagrant/issues/8076

Thanks a lot!

[2017-04-21 16:26] manojampalam commented on #102
I don't think it does. Win32 port is built with compression disabled. The command line options is probably getting ignored.

[2017-04-21 19:06] bagajjal opened #682 "Replace OpenSSL with LibreSSL"
Move away from the OpenSSL to LibreSSL.

[2017-04-21 21:02] pvdhoef commented on #102
I see. I jumped to conclusions, apologies for the confusion.
Anyway, I'm happy to be able to use `vagrant ssh` now without workarounds.

[2017-04-21 21:33] manojampalam opened #683 "Images for Wiki"
Created to upload images as descrived at http://solutionoptimist.com/2013/12/28/awesome-github-tricks/

[2017-04-21 21:33] #683 closed, assigned to nobody

[2017-04-21 21:35] manojampalam commented on #683
![hla](https://cloud.githubusercontent.com/assets/14185020/25296972/c4f50898-269f-11e7-8f5e-55224825cb77.JPG)

[2017-04-22 00:27] #678 closed, assigned to bagajjal

[2017-04-22 00:29] bagajjal commented on #522
@nightwish47 - Are you running into this issue again when you are using only the openssh client? If not, can this be closed?

[2017-04-22 00:30] bagajjal commented on #537
@nightwish47 - Are you running into this issue again when you are using only the openssh client? If not, can this be closed?

[2017-04-22 00:30] bagajjal commented on #530
can we close this issue?

[2017-04-23 21:03] bingbing8 opened #684 "in powershell window, ssh-keygen doesn't recognize the path specified in -f option"
Please answer the following
this only repro when -P """" is before -f option. If -P is the last option, the cmd works fine.
**"OpenSSH for Windows" version**
 0.0.12.0

**OS details**
 Windows Server 2012 R2 Datacenter and win10

**What is failing**
ssh-keygen still prompt the user in powershell window  if they want to save the key to default path even if the path is already specified by -f option

[2017-04-23 21:07] bingbing8 opened #685 "ssh-keygen prompt the user if he/she want to override the existing file, but exit"
Please answer the following

**"OpenSSH for Windows" version**
 0.0.12.0

**OS details**
 Windows Server 2012 R2 Datacenter

**What is failing**
ssh-keygen exits when it prompt the user to enter yes or no
**Expected output**
does not exit, but take user input
**Actual output**
C:\>ssh-keygen -t ed25519 -P "" -f c:\openssh\id_ed25519
Generating public/private ed25519 key pair.
c:\openssh\id_ed25519

[2017-04-24 08:02] nkrepo opened #686 "Powershell's PSReadline module broken output and shortcuts"
**"OpenSSH for Windows" version**
0.0.12.0

**OS details**
Microsoft Windows 10 Pro  64-bit 10.0.15063  (Creators Update)

**What is failing**
When PSReadline is loaded, output is garbled and PSReadline's shortcuts are not working.

**Expected output**
For example when PSReadline module is loaded and tab is pressed:

![image](https://cloud.githubusercontent.com/assets/8989693/25327490/fcae9dbe-28d

[2017-04-24 18:47] greavette opened #687 "Passing password through Powershell using ssh"
Hello,

**"OpenSSH for Windows" version**
0.0.11.0

**OS details**
Windows Server 2012 R2 Datacenter

Connecting from Windows Server 2012 to Red Hat Linux 7 using password.  Connection using ssh is successful from Windoes Server to Linux Server.  Looking for direction on how I can pass through my password in powershell when logging in to Linux server so I won't have to type in the password.

Thank

[2017-04-24 18:57] bagajjal commented on #687
Use the key based authentication..
This wiki has the steps,
https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples

[2017-04-24 20:03] discodance1 opened #688 "What is timeline for win32-openssh launch ?"
I was interesetd to know when win32-openssh will be production ready? The wiki or project status do not state any timelines.

[2017-04-24 20:09] #687 closed, assigned to bagajjal

[2017-04-24 20:31] bagajjal commented on #688
The current beta version is almost production ready.

Please go through the recent conversation
https://github.com/PowerShell/Win32-OpenSSH/issues/565

[2017-04-25 05:09] manojampalam commented on #558
Fix for this included in https://github.com/PowerShell/openssh-portable/pull/121 and committed as part of
https://github.com/PowerShell/Win32-OpenSSH/issues/681

[2017-04-25 15:32] rgl commented on #529
with v0.0.11.0 it works! :-)

[2017-04-25 20:06] manojampalam commented on #537
Please reopen with repro instructions.

[2017-04-25 20:06] #537 closed, assigned to bagajjal

[2017-04-25 20:33] bagajjal commented on #530
If the issue still persist then please provide the steps for repro.

[2017-04-25 20:33] #530 closed, assigned to bagajjal

[2017-04-25 20:33] bagajjal commented on #522
If the issue still persist then please provide the steps for repro.

[2017-04-25 20:33] #522 closed, assigned to bagajjal

[2017-04-25 23:17] bingbing8 commented on #685
this is invalid usage of quotes in powershell prompt. the valid one are:
'""' or `"`"

[2017-04-26 00:37] discodance1 commented on #688
The reason why i am asking about the exact timeline is because we cannot deploy beta version software to our prod machines.
So another month or 2 before win32-openssh becomes Generally available ?

[2017-04-26 11:19] rgl commented on #681
But is that the way to go? I mean, shouldn't the aim be to run each service in its own account (i.e. for privilege separation)?

[2017-04-27 01:54] manojampalam commented on #681
That's true. Running sshd in its own account provides isolation from other services running as Network Service. On the other hand, this requires additional configuration (setting up privileges on the service account) and potentially others that Network Service typically enjoys being a built in account. We are evaluating the security benefits Vs ease of configuration.
Perhaps, running it as Network

[2017-04-27 04:55] rgl commented on #681
Besides, it would show us (at least me ;-) how to do this on Windows :-)

[2017-04-27 07:35] nkrepo opened #689 "Text mode application Far manager garbled output"
"OpenSSH for Windows" version
0.0.12.0

OS details
Microsoft Windows 10 Pro 64-bit 10.0.15063 (Creators Update)

What is failing
Text mode application Far manager garbled output.
Started cmd.exe and connected via ssh to localhost
[code]

![image](https://cloud.githubusercontent.com/assets/8989693/25472543/5945d0d4-2b34-11e7-8cd5-845a30a29f5b.png)

Expected output
Started cmd.exe and run far manage

[2017-04-27 10:27] DarwinJS commented on #681
This is really an installation issue right?  Or does the service need to be tested under both contexts as well?

[2017-04-27 10:43] zyincse opened #690 "sshd in interactive mode does not work when logging in as non-admin"
Please answer the following

**"OpenSSH for Windows" version**
maybe v0.0.11.0 or v0.0.9.0 ,sorry i forgot.

**OS details**
windows 7

**What is failing**
I use secureCRT to connect ssh server in windows 7 in vmware station(the same computer),
I have input name and password,but I can't connect it. More accurately, i connect ssh server just a moment.
log in sshd.log:
1132 18:13:31 517 error: Couldn

[2017-04-27 12:15] grego1981 opened #691 "Permission denied"
Please answer the following

**"OpenSSH for Windows" version**
0.0.10.0

**OS details**
 Windows 7 Pro x64 SP1

**What is failing**
Getting access denied from VBscript even logged in as domain administator
**Expected output**
It's a windows update vbscript it runs fetches the updates and installs them afterwards. It works when using psexec with the same credentials.
**Actual output**
Permission de

[2017-04-27 12:47] martinprikryl opened #692 "Response to fingerpring verification prompt does not echo"
**"OpenSSH for Windows" version**
0.0.12.0

**OS details**
Windows 10 Pro

**What is failing**
When connecting to new host with `ssh.exe`, I get a usual prompt:

When typing a response, contrary to a common *nix build of `ssh`, the response cannot be seen (like if I were typing a password). If I blindly type `yes` and press <kbd>Enter</kbd>, the connection proceeds. So the prompt is working, it ju

[2017-04-27 17:51] bagajjal commented on #690
Try changing the sshd_config as mentioned in this issue #493.
If you still have the issue then please share the sshd_config.

[2017-04-27 18:25] GoateePFE commented on #493
I solved this by doing two things:
1. In sshd_config I changed the PidFile line to:
PidFile .\sshd.pid
This creates the file under C:\Program Files\OpenSSH .
2. I granted the sshd account full control to C:\Program Files\OpenSSH
Now the SSHD service start successfully and the permission denied message is gone from the sshd.log file.

[2017-04-27 18:51] #685 closed, assigned to bingbing8

[2017-04-27 18:54] bingbing8 opened #693 "Need a better solution for fgets"
w32_fgets(char *str, int n, FILE *stream)  is file misc.
The current implementation has the below issue:
1. There is a risk to miss one unicode char when last unicode char read from console does not fit the remain space in str.
2. It does not work for UTF-16 characters that will occupy 2 wide chars (or 4 bytes)
char*
3. utf16_to_utf8 will alloc memory for each call. To optimize, you may create a s

[2017-04-27 19:53] DarwinJS commented on #493
Keep in mind that this would allow the sshd service to write malicious code to it's bin folder.

[2017-04-27 20:32] clouds56 commented on #645
Now version 0.0.12.0, there's no ssh-lsa.dll, but still "Error retrieving user environment variables. RegOpenKeyExW returned 5" error. Do I have to reboot?

[2017-04-27 20:33] bagajjal commented on #493
@GoateePFE - step2 is not required? sshd requires write permissions to only logs folder under C:\Program Files\OpenSSH folder.

[2017-04-27 20:34] #493 closed, assigned to bagajjal

[2017-04-27 20:44] bagajjal commented on #645
while establishing the session, sshd process will try to retrieve the environment information from the windows registry.. are you seeing this in the sshd.log file?
Does this block establishing the sessions?

[2017-04-27 21:43] Nico83500 opened #694 "Windows 7 - Network error: Software caused connection abort"
Hi,

When I try to connect to SFTP (or PuTTY) on this host, I get a message "Network error: Software caused connection abort". No problem with my other computer with Windows 10 Profesionnal x64.

Details :

OpenSSH for Windows 0.0.12.0

OS details : Windows 7 Professional SP1 x64

Thank you for your help !

[2017-04-27 21:47] #694 closed, assigned to nobody

[2017-04-27 21:48] Nico83500 commented on #694
I've updated my system (include Powershell 5.1) and launched a new installation. Problem solved.

[2017-04-27 22:31] lodo1995 commented on #692
I had that problem too (I'm the one that wrote about it on Super User).

It's really a weird bug, and quite problematic, because when you don't see anything you hardly think that maybe the input is working in "password mode", so you probably just give up.

[2017-04-28 01:45] zyincse commented on #690
@bagajjal
Thank you!
by the method in #493 ,the error: Couldn't create pid file "./sshd.pid": Permission denied had been solved,
and I still have two problems:
3528 09:40:36 459 error: Error retrieving user environment variables. RegOpenKeyExW returned 5
3528 09:40:36 460 fatal: ERROR. Cannot create process (1314).\n

[2017-04-28 01:54] bagajjal commented on #690
Are you running the sshd.exe in the administrator mode?

[2017-04-28 02:02] zyincse commented on #690
@bagajjal
It run when windows start ,user is administrator
so I think I run  sshd.exe in the administrator mode.

[2017-04-28 04:15] manojampalam commented on #690
1314 - A required privilege is not held by the client.

You need to provide your account the following privilege "Replace a process level token"
secpol.msc
LocalPolicies -> User Rights Assignment
Click the policy that says "Replace a process level token" and add your account. Log off and log in.

Currently, due to logic around PTY support in Windows, only admins can successfully spawn off the sess

[2017-04-28 04:28] manojampalam commented on #691
Key based auth or password?

[2017-04-28 04:55] grego1981 commented on #691
I'm using password authentication.

[2017-04-28 10:10] clouds56 commented on #645
Yes, in a seesion (sorry the error number is 234 instead of 5)

when creating a session, it shows these logs in sshd.log, while the ssh-agent.log is empty.

It does not block establishing the sessions, but I could not get correct PATH for the user.
`echo %PATH%` only shows the paths defined system wide, but not combined with the PATH variable for the user.

[2017-04-28 12:49] DarwinJS opened #695 "Design Document on how SSHD Handles "Users" as an entity"
I am wondering if we could hear about the design effort to ensure that users logging on through SSH have most of the same things we'd expect when logging in via Winrm?

For instance, winrm does not allow the logon of users who aren't formally created on the system - but on one release I believe SSHD was allowing a logon if the authorized_keys file existed - regardless of whether the "user" was a f

[2017-04-28 17:25] manojampalam commented on #695
Thanks @DarwinJS. I'll add the following details to the design doc on Wiki.

Remote ssh sessions run under the context of the client user. Client authentication, be it password or key-based, results in the generation of a user token using which the remote session process is spawned. This means that in order to login via ssh, one needs to have a valid Windows account on the target.

ssh-lsa.dll rem

[2017-04-28 17:29] bagajjal commented on #690
![image](https://cloud.githubusercontent.com/assets/23668037/25539755/8fffbd32-2bfd-11e7-8c99-7e4db6b7ebe7.png)

[2017-04-28 17:30] manojampalam commented on #691
I'm guessing this has something to do with what your script is doing. Remote ssh session are Network Logons. So, if your script is trying to access something that has explicitly denied access to "Network", you would be seeing this.

A quick test would be to do the same via a remote PS session (that runs on Network logons too).

[2017-04-28 17:34] bagajjal commented on #645
For the below error,
error: Couldn't create pid file "./sshd.pid": Permission denied

Try changing the sshd_config as mentioned in this issue #493.

[2017-04-28 18:02] clouds56 commented on #645
Do you think it cannot get correct PATH since it could not create pid file?

According to [error code](https://msdn.microsoft.com/en-us/library/windows/desktop/ms681382(v=vs.85).aspx), it refers to

Anyway, I'll try fix the pid issue first.

[2017-04-28 18:06] bagajjal commented on #645
I don't think so.. its a code fix.. how big is your PATH..
In code we are reading max upto 256 characters..

![image](https://cloud.githubusercontent.com/assets/23668037/25541217/b5726ed4-2c02-11e7-9c8e-5dad0f71b0db.png)

[2017-04-28 18:16] clouds56 commented on #645
I investigated the code you sent, 256 is the length of name which has no problem.
The issue is you do not check the return value for ERROR_MORE_DATA.

[2017-04-28 18:23] clouds56 commented on #645
From: https://msdn.microsoft.com/en-us/library/windows/desktop/ms724865(v=vs.85).aspx

If the function succeeds, the return value is ERROR_SUCCESS.
If the function fails, the return value is a system error code. If there are no more values available, the function returns ERROR_NO_MORE_ITEMS.
If the lpData buffer is too small to receive the value, the function returns ERROR_MORE_DATA.

First time c

[2017-04-28 18:54] DarwinJS commented on #695
@manojampalam - excellent - exactly what I was asking about.  Might be nice to put that in the documents somewhere.

[2017-04-28 18:54] #695 closed, assigned to nobody

[2017-04-28 19:18] bagajjal commented on #645
This for the data (lpData) not for the name (lpValueName).. The code shown is for the lpValueName

[2017-04-28 20:28] Nico83500 opened #697 "100 Mbps bandwidth limit ?"
"OpenSSH for Windows" version 0.0.12.0
Windows 7 Professional SP1 x64`
FileZilla 3.25.1

Hi,
Is there a bandwidth limit with SFTP on OpenSSH for Windows ? I have a PC A with a 250 Mbps upload bandwidth and a PC B with a 400 Mbps download. My upload max from A (or download to B) is around 100 Mbps. If I try Speedtest, I can get the real value (upload 247 Mbps).

Is there a 100 Mbps limit with SFTP

[2017-04-28 21:06] bagajjal commented on #697
As far as I have gone through the code, there is no limit on the bandwidth...

Here is the snapshot on my local machine goes more than 32 MBps,
![image](https://cloud.githubusercontent.com/assets/23668037/25547366/a703604c-2c1b-11e7-8b9f-6ebbec6ea71f.png)

[2017-04-28 21:50] Nico83500 commented on #697
Thank you, you're right. I've tried on my Gigabit LAN and I can upload at 39 MBps. But 39 MBps (so 320 Mbps) on a Gigabit LAN is a low value, I don't understand why.

[2017-04-28 22:02] bagajjal commented on #697
Data is sent in multiple packets.. each packet is encrypted by source, decrypted by the destination.
The processing limit is also limited by the hardware restrictions on both the machines..

I am closing this issue as we its not a bug.

[2017-04-28 22:02] #697 closed, assigned to bagajjal

[2017-04-28 22:45] bagajjal opened #698 "Close all the child processes spawnned by the ssh-shellhost"
Close all the child processes spawnned by the ssh-shellhost

Below code block is not working..
	//{
	//	/* create job to hold all child processes */
	//	HANDLE job = CreateJobObject(NULL, NULL);
	//	JOBOBJECT_EXTENDED_LIMIT_INFORMATION job_info;
	//	memset(&job_info, 0, sizeof(JOBOBJECT_EXTENDED_LIMIT_INFORMATION));
	//	job_info.BasicLimitInformation.LimitFlags = JOB_OBJECT_LIMIT_KILL_ON_JOB_CLOSE

[2017-05-01 03:53] bingbing8 opened #699 "Add tests for file permission related changes"
Add tests for file permission related changes
include:
ssh-keygen
ssh-add
authorized_keys
user ssh_config
host keys
user keys.

[2017-05-01 16:51] amassaroRC commented on #253
I'm having issues with domain authentication. Is there anything that needs to be configured in the ssh_config to authenticate to the domain?

My debug is below
debug1: keyboard-interactive devs
debug1: auth2_challenge: user=user@DOMAIN devs=
debug1: kbdint_alloc: devices ''
Failed keyboard-interactive for invalid user user@DOMAIN from 172.2.1.1 port 38552 ssh2
debug1: userauth-request for user use

[2017-05-01 18:09] #677 closed, assigned to nobody

[2017-05-01 18:32] Rondom opened #700 "^R is printed on Ctrl+R in PowerShell"
**"OpenSSH for Windows" version**
 `0.0.12.0`

**OS details**
 `Windows Server 2016 Datacenter`

**What is failing**
1. `ssh localhost`
2. run `powershell`
3. Press Ctrl+R

**Expected output**
Ctrl+R is interpreted by PowerShell and `bck-i-search` is printed for searching the command-history like it is in a local session.

**Actual output**
`^R` is printed

[2017-05-01 18:38] manojampalam commented on #681
@DarwinJS service should be able to run under any context, as long as the account has the required privileges and permissions to open up network ports.

[2017-05-01 18:41] manojampalam commented on #691
Reopen if needed.

[2017-05-01 18:41] #691 closed, assigned to nobody

[2017-05-01 19:10] Rondom opened #701 "Long-pressing arrow-keys prints control sequences instead of advancing cursor (Linux client)"
**"OpenSSH for Windows" version**
 `0.0.12.0`

**OS details**
 `Windows Server 2016 Datacenter`

**Client**
`OpenSSH_7.4p1 Debian-10, OpenSSL 1.0.2k  26 Jan 2017`

**What is failing**
1. Log in to windows machine via ssh from a Linux machine (in my case Debian stretch/testing)
2. Type a longer line such as "asdf asdf asd fasd fasd fas dfa sdfa sd fasd fas dfas dasdf"
3. Press Left-Arrow multiple t

[2017-05-01 21:24] #667 closed, assigned to bingbing8

[2017-05-01 21:28] #558 closed, assigned to nobody

[2017-05-01 23:09] mrPsycho commented on #297
+1.
would be very usefull to get it working. for example to use it with proxy servers to implement MFA.

[2017-05-01 23:16] bagajjal commented on #701
This is a Linux client terminal issue..
Client has to interpret the VT sequences sent by the server..

Before doing ssh, on the Linux client..  use the bash and set the term to xterm..
please try this and let me know if you still have issues...

fyi, this is working from long time.. we have tested Ubuntu client to windows ssh server.

[2017-05-01 23:26] mrPsycho commented on #664
what should be correct path in `sshd_config` for `AuthorizedKeysFile`?

if something like `./authorized_keys` - point to directory where `sshd.exe` is placed.

[2017-05-01 23:41] mrPsycho opened #702 "fatal: percent_expand: unknown key %s"
**"OpenSSH for Windows" version**

    PS C:\Program Files\OpenSSH> ((Get-Item (Get-Command sshd).Source).VersionInfo.FileVersion)
    Get-Command : The term 'sshd' is not recognized as the name of a cmdlet, function, script file, or operable program.
    Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
    At line:1 char:13
    + ((Get-Item

[2017-05-01 23:48] mrPsycho commented on #539
@manojampalam and how to change disk to D in sftp browser?

[2017-05-01 23:49] mrPsycho commented on #140
especially if this directory on another drive

[2017-05-01 23:52] bagajjal commented on #539
@mrPsycho  use "cd d:\"

[2017-05-01 23:54] mrPsycho commented on #539
@bagajjal thanks, captain.
but tell it to the end users, who uses filezilla or cyberduck

[2017-05-02 00:18] bagajjal commented on #539
If you are using third party software then you need to browse to the corresponding drive..

![image](https://cloud.githubusercontent.com/assets/23668037/25599553/e25a633e-2e91-11e7-8da8-a94c19cb0350.png)

As of now "/" ( root ) only shows the C drive.. There is already a fix, which will be pushed in the next release..

[2017-05-02 00:19] mrPsycho commented on #539
@bagajjal thanks a lot!

[2017-05-02 01:45] csawyerYumaed commented on #427
While fancy stuff like RDP is interesting, I'd much rather that just bog standard -X worked, assuming an X11 server installed like vcxsrv or xming and the like. PuTTY manages.

[2017-05-02 01:56] nightwish47 opened #703 "About memory load by Openssh"
"OpenSSH for Windows" version
  OpenSSH_ 7.1 p 1 Microsoft_Win 32 _ port_with_VS, OpenSSL 1.0.2 d 9 Jul 2015

OS details
  Windows Server 2012 R2 DataCenter

What is failing
The physical memory of Windows Server is increasing every day.
Is there a high load on memory by using OpenSSH?
Access frequency is once every 10 minutes from 10 clients every day.

Expected output
The high memory load is elim

[2017-05-02 02:00] nightwish47 commented on #703
I made a mistake in writing.

Access frequency is once every 10 minutes from 10 clients every day.　⇒×
Access frequency is once every minute from 10 clients every day.　⇒○

[2017-05-02 04:49] manojampalam commented on #703
Looks like you are using a pretty old version. Can you try out the latest drop?

[2017-05-02 04:52] manojampalam commented on #702
What's the exact entry in sshd_config? did it have a "%s"? As per https://linux.die.net/man/5/sshd_config, %s has no meaning.
Only the following are defined:
%% is replaced by a literal '%', %h is replaced by the home directory of the user being authenticated, and %u is replaced by the username of that user

[2017-05-02 05:00] manojampalam commented on #701
@Rondom what's your TERM set to?

[2017-05-02 05:18] manojampalam commented on #700
@bagajjal how is incoming ^R interpreted by ssh-shellhost.exe?

[2017-05-02 07:38] aduzsardi opened #704 "SSHD on Active Directory Domain Controllers"
Please answer the following
**"OpenSSH for Windows" version**
0.0.12.0
Windows Server 2016 Standard - domain controller

$sshdAccount = "NT SERVICE\SSHD" , does not get created on domain controllers so the service will fail with  `3368 10:05:01 859 error: Couldn't create pid file "./sshd.pid": Permission denied`
what would be the work around for this situation ?
creating an Active Directory accoun

[2017-05-02 07:45] aduzsardi commented on #90
this can be solved by adding
`ForceCommand powershell.exe` in your sshd_config , you can also do
[code]

or `Match Group` for groups

[2017-05-02 09:29] Rondom commented on #701
I have reproduced this with GNOME Terminal and terminator (`TERM=xterm-256color`). I also tried setting the `TERM=xterm`. Also I tried logging in outside X via a Linux-VT (`TERM=linux`) and I got the same behaviour.

[2017-05-02 21:29] alex-rowden commented on #493
I followed the instructions which @GoateePFE listed but I am still getting:
`6160 17:21:21 005 error: Error retrieving user environment variables. RegOpenKeyExW returned 5`
`6160 17:21:21 005 fatal: ERROR. Cannot create process (2).\n`
in my log file.  I don't know what details I should add to help add clarity to my issue.

[2017-05-02 21:41] smaug9 commented on #539
@bagajjal: ETA for next release?
Also, confirmed that mounting a volume in an empty folder on the C:\ drive and connecting via winscp fails.

[2017-05-03 05:17] manojampalam commented on #704
3368 10:05:01 859 error: Couldn't create pid file "./sshd.pid": Permission denied
this is an unrelated issue and does not mean that SSHD account doesn't get created.

What context is SSHD running as on your box?

[2017-05-03 06:29] aduzsardi commented on #704
Not sure what you mean by 'context'
What i can tell you is that , it's a Windows 2016 Server (core) and it is a domain controller, installed OpenSSH , no issues there , checked the service and it was running with  NT SERVICE\SSHD  user account account , and seems like there's no such user and it doesn't have permissions to write in the OpenSSH folder , so i switched sshd service to run as Local Sy

[2017-05-03 08:32] XDTZ opened #705 "PublicKey authetication failed"
**"OpenSSH for Windows" version**
0.0.12.0

**OS details**
Server: Windows 10 Education Insider Preivew 15063
Client: Ubuntu 16.04

**What is failing**
Although password login works fine. I cannot login with public key authentication.
Installation process followed the example in wiki. I also checked the permission of C:\Users\myuser\.ssh\authorized_keys and granted NS SERIVCE\SSHD full control of

[2017-05-03 12:35] chx opened #706 "ssh-add -l shows the key in the agent but ssh doesn't pick it up"
Please answer the following

**"OpenSSH for Windows" version**
0.0.12.0

**OS details**
 Windows 10 Pro

**What is failing**
ssh asks for the password of my key despite ssh-add -l shows the key

[2017-05-03 17:10] davidjahn commented on #705
We are seeing the same exact error with the latest release `0.0.12.0`. Is there a suggested fix for this?

[2017-05-03 21:28] SteveL-MSFT commented on #252
This issue is impacting using powershell within ssh session (from Windows to Linux).  TERM is not defined.  At least on Win10, we should define TERM=xterm.

[2017-05-03 21:52] DarwinJS commented on #252
@SteveL-MSFT - this is an environment variable that could be set during install?  Setting during install would also allow user override.

[2017-05-03 21:57] SteveL-MSFT commented on #252
@DarwinJS yes, if it's defined as a user or system env var on Windows, it does get propagated correctly to the remote ssh session side, however, the env var isn't used by Windows itself.  Having it as part of OpenSSH setup would address this and allows end user to change (although they can always set it explicitly within the ssh session or through a startup script)

[2017-05-03 22:08] DarwinJS commented on #252
@SteveL-MSFT - ok does this sound about right:
- OpenSSH install sets Machine environment variable %TERM% to "xterm"
- OpenSSH install exposes a switch to allow this default to be changed during setup
- If overrides are needed for specific users, those users would simply create an environment variable of the same name to override.

FYI - I believe the environment variable won't be available in SSH

[2017-05-03 22:13] SteveL-MSFT commented on #252
Seems reasonable to me.  cc @joeyaiello

[2017-05-04 01:04] manojampalam commented on #706
It most likely means that ssh has tried to authenticated using that key, server rejected it and ssh has fallen back to password based auth.

[2017-05-04 01:07] chx commented on #706
It is asking for the password of the key and it uses the key properly if the password is given.

[2017-05-04 01:11] manojampalam commented on #705
@XDTZ
Are you sure this is your path C:\Users\myuser.ssh\authorized_keys

IT should be C:\Users\myuser\.ssh\authorized_keys    // "\" after user name

[2017-05-04 01:38] XDTZ commented on #705
@manojampalam Well it's straight from the logs. I did not change anything. However in #253 someone else posted a working case with similar log output :
[code]

[2017-05-04 04:30] manojampalam commented on #706
Ok. sorry, I misread your first post. Can you dump the client side logs using ssh -v ?

[2017-05-04 04:37] chx commented on #706
There's some mismatch here directory wise as well because it doesn't find the .ssh dir in the homedir. The whole thing is strange -- but I have not ran Windows in 13 years just now the Linux for Windows userspace made me switch back to Windows after all these years and everything is strange.

	PS C:\Users\chx> ssh-add -l
	4096 SHA256:Zq4rPrdgEYpZgHrE6oRpNPwR37dMy75/GhGs32onn2k C:\Users\chx/.ssh/id

[2017-05-04 05:44] manojampalam commented on #706
This is definitely not the client coming from this project:
OpenSSH_7.1p1, OpenSSL 1.0.2e 3 Dec 2015

Can you check where its getting picked from? do this
where ssh.exe
Also check where ssh-add is getting picked from?

[2017-05-04 05:51] manojampalam commented on #705
The way path is output in logs is an aartifact of path differences between Windows and Unix. We have a bug tracking this (https://github.com/PowerShell/Win32-OpenSSH/issues/469).

Otherwise, can you dump the output of the following:
icacls.exe C:\Users\user\.ssh\authorized_keys

Also, is authorized_keys a dir or a file (It should be a file)

[2017-05-04 05:54] manojampalam commented on #704
What I meant is the user context the server is running as. You answer it - its NT Service\SSHD.

Is the service otherwise working fine (as NT Service\SSHD)?

Is the following log entry only concern you have?
error: Couldn't create pid file "./sshd.pid": Permission denied

[2017-05-04 06:12] chx commented on #706
I installed https://chocolatey.org/packages/openssh .First without the server feature because you had a bug where ssh-agent wasn't working if the server wasn't installed and then with the server feature and apparently this confused the poor thing. There was an `ssh.exe` under chocolatey\bin and one under `C:\Program Files\OpenSSH-Win64` where the server lives.

This will likely not be a problem be

[2017-05-04 06:12] #706 closed, assigned to nobody

[2017-05-04 06:57] aduzsardi commented on #704
No it was not working until i changed the service to run as Local System.
While it was running as NT Service\SSHD , got `connection reset by server` on the client side , and `error: Couldn't create pid file "./sshd.pid": Permission denied` on server side
This only happens on Domain Controllers , so i guess we can live with that

[2017-05-04 11:24] nkrepo opened #707 "Terminal size set in CONSOLE_SCREEN_BUFFER_INFO and actual console size differ"
"OpenSSH for Windows" version
0.0.12.0

OS details
Microsoft Windows 10 Pro 64-bit 10.0.15063 (Creators Update)

What is failing
Terminal size set in CONSOLE_SCREEN_BUFFER_INFO and actual console size differ

Expected output
Terminal size set in CONSOLE_SCREEN_BUFFER_INFO and actual console size should be the same

Tested via powershell's Get-Host cmdlet
[code]
and directly via win32 api with the

[2017-05-04 16:18] nellfr commented on #561
I have upgraded OpenSSH package from 0.0.8.0 to 0.0.12.0 but I figured out recently that above workaround (-tt) is no longer working. It results in ssh client command runs and exists immediately from client, and from server it does not execute the script which is same situation than initial issue.
Is there any remaining workaround or plan to support it ?

[2017-05-04 17:08] XDTZ commented on #705
@manojampalam I'm such a noob. Only until now do I find out authorized_keys is a file rather than a folder! It totally works now. I'm closing the issue. Thanks!

[2017-05-04 17:08] #705 closed, assigned to nobody

[2017-05-04 18:22] manojampalam commented on #677
We found some reliability issues with recent changes and will need time to do stabilization. This issue has been fixed but a drop wont be available till Mid May. Thanks for your patience.

[2017-05-04 18:22] manojampalam commented on #558
We found some reliability issues with recent changes and will need time to do stabilization. This issue has been fixed but a drop wont be available till Mid May. Thanks for your patience.

[2017-05-04 18:50] manojampalam commented on #561
We'll investigate and see what can be done for May-Mid drop.

[2017-05-04 18:51] manojampalam commented on #704
Running SSHD as System is scary. We need to root cause this. Can you share you full client and server side logs?

[2017-05-04 20:21] MaximoTrinidad commented on #656
@PaulHigin
Awesome!! Sorry for the long delay!!

I did upgrade the OpenSSH to the latest and then execute the command you gave me "ssh max_t@earth2".  This provided me with some information and I was able to clean up the issue on my Linux machine.

Is working now!!

![ssh_result_ 2017-05-04 15-43-29](https://cloud.githubusercontent.com/assets/19892435/25723376/c648b8e8-30e5-11e7-8412-c09f1d92f788.

[2017-05-04 20:28] charabaruk commented on #558
Thanks for keeping me updated, @manojampalam. I'll hold my horses a little while longer!

[2017-05-05 00:41] bagajjal opened #708 "Enable the logging in sshd before loading the private host key files"
Enable the logging in sshd before loading the private host key files

[2017-05-05 01:47] bagajjal opened #709 "Fix the exception during check_secure_file_permission() cleanup"
cleanup:
	if(bad_user)
		**free(bad_user); -> This should be LocalFree(bad_user);**

[2017-05-05 11:35] DarwinJS commented on #252
@SteveL-MSFT - Do we know if a reboot is needed for sshd to hand out this environment variable (or updates to it) - i.e. does it rely on inheriting Service Control Manager's environment variables?

If a reboot is needed I was thinking of adding a log note saying one is needed for the value to be used by SSHD.

[2017-05-05 16:07] SteveL-MSFT commented on #252
@DarwinJS not sure, @manojampalam would know, but I suspect it's not registered to listen for env var changes

[2017-05-05 16:34] DarwinJS commented on #252
@SteveL-MSFT and @manojampalam - to avoid one more reboot scenario, you wouldn't actually have to listen for environment updates constantly - just read them from the registry upon startup.

Such an implementation would also be helpful for updating this value - they could just restart the service rather than the machine.

It does not look like TERM is settable in SSHD_CONF?

I will assume that it w

[2017-05-05 18:12] clouds56 commented on #645
Could you help review the pull request?

[2017-05-05 18:29] anjohnson commented on #645
Note that the subject line of this particular github issue is about a different error return value and from a different function than that pull request is fixing...

[2017-05-05 18:46] bagajjal commented on #707
This is a known issue.. Duplicate of #590

[2017-05-05 18:46] #707 closed, assigned to bagajjal

[2017-05-05 19:17] bagajjal commented on #252
@DarwinJS - ssh client will send the TERM to the sshd server as part of session establishment.
Not sure why sshd is linked with the TERM setting here.

[2017-05-05 20:44] DarwinJS commented on #252
@bagajjal - it is due to my lack of understanding which side was sending to which!  Now that I understand I will set it in both the Machine context and the Process context so that it is immediately available in the console where the install occured.

[2017-05-05 20:50] bagajjal commented on #252
Could you please explain machine context, process context and how they are related to the ssh, sshd processes.

As you might already know, ssh runs as the user process and sshd runs as the NT Service low privileged process.

![image](https://cloud.githubusercontent.com/assets/23668037/25764287/f1a26a64-319b-11e7-9785-92e2bcd55cae.png)

[2017-05-05 21:17] bingbing8 opened #710 "[Security] posix_compat open() should support mode parameter and set file permissions appropriately"
line 365 of log.c

[2017-05-05 21:23] bingbing8 commented on #684
The correct way should be
[code]

[2017-05-05 21:23] #684 closed, assigned to nobody

[2017-05-05 22:33] DarwinJS commented on #252
Setting it in machine context will default the value for anyone who logs on and uses ssh.exe.  This also sets it for all process types whether they are associated with interactive use or not.

If any given user wants to override the machine value for just themselves, they can manually set the the same variable in their user environment variables.

Setting it at the process level (non-persistent) j

[2017-05-05 22:39] bagajjal commented on #701
I couldn't download GNOME terminal but I have tried it in the putty terminal..
I used putty to login to Ubuntu machine from my windows... Then from Ubuntu machine, I logged into the windows server. I tried but couldn't reproduce this issue by long-pressing the left and right arrows...

Please check this video,
https://www.screencast.com/t/c0WBwYyzoEH

Please try using Ubuntu and let me know your f

[2017-05-06 08:21] Rondom commented on #701
As I said, I tried different terminals and I found it highly unlikely that the client is the culprit, so I investigated it a bit further.
The issue only occurs at higher latencies. Could it be that your Ubuntu environment is on the same physical machine / datacenter? I was accessing my Windows-VM using WiFi and an SSH-tunnel to the KVM-host it was running on. That was enough to trigger it. I could

[2017-05-06 08:37] Rondom opened #711 "Entering character ö prints two characters"
**"OpenSSH for Windows" version**
 `0.0.12.0`

**OS details**
 `Windows Server 2016 Datacenter`

**What is failing**
1. `ssh localhost`
2. Type the character `ö` (or paste it from clipboard, if it is hard to enter for you)

**Expected output**
Character `ö` is printed

**Actual output**
Two characters ` ┬ö` are printed.

[2017-05-08 01:37] nightwish47 commented on #703
Currently running on production, it is difficult to try with the new version.
In the development environment, the same version of OpenSSH is used, but the physical memory remains low.

Is there a possibility that physical memory load will be high if OpenSSH version is old?

[2017-05-08 05:21] manojampalam commented on #702
Reopen if needed.

[2017-05-08 05:21] #702 closed, assigned to nobody

[2017-05-08 05:24] manojampalam commented on #703
Very likely. A lot of effort went into fixing bug fixes and cleaning up code. Please install the latest version and reopen if you still see the perf issue.

[2017-05-08 05:24] #703 closed, assigned to nobody

[2017-05-08 05:33] nightwish47 commented on #703
Upgrading is difficult.
Since the event occurs when the access frequency is high, is there any way to improve by sshd_config or other parameters?

[2017-05-08 05:37] manojampalam commented on #710
@bingbing8 this is due to open() not supporting "mode" parameter.

[2017-05-08 05:54] #708 closed, assigned to bagajjal

[2017-05-08 17:03] Lonney opened #712 "Bad output when text exceeds terminal size"
**"OpenSSH for Windows" version**
0.0.12.0

**OS details**
Windows 10 Enterprise 2016 LTSB

**What is failing**
When connecting to a Windows sshd server from another Windows machine, if the output of a command would otherwise scroll past the bottom of the terminal Window, the output overwrites itself on the last line.

If the output would _also_ exceed the width of the terminal when this happens,

[2017-05-08 18:49] bagajjal commented on #690
Did it work? can we close this?

[2017-05-08 20:19] tylerapplebaum commented on #124
+1

I would also like to request this.

[2017-05-09 04:17] manojampalam commented on #124
We'll investigate and see if its a low hanging fruit to get it online. Investigation will be done my May-End but there isn't any guarantee if this can be supported by that milestone.

[2017-05-09 07:21] nightwish47 commented on #703
please re-open this topic.

[2017-05-09 07:26] megamorf commented on #703
@nightwish47 just update the software, you're using an ancient version.

[2017-05-09 08:53] laughterk opened #713 "Keyboard does not work as expected."
Please answer the following

**"OpenSSH for Windows" version**
v0.0.12.0

**OS details**
Windows 7 Professional

**What is failing**
When connected from Linux (Ubuntu 14.04):
1. When pressing "Shift + Tab", it shows "^[[Z" instead of doing auto-complete.
2. Pressing 'Home', it shows "^[OH" instead of moving cursor.
3. Pressing 'End', it shows "^[OF]"
4. Type some characters and pressing "Ctrl + C"

[2017-05-09 19:32] bagajjal opened #714 "ACCESS_DENIED_ACE_TYPE bug in check_secure_file_permission ()"
In the below code snippet the if loop first evaluates the !=0 and then & part.. so we need to evaluate the whole expression before we check if it is !=0 or not..

![image](https://cloud.githubusercontent.com/assets/23668037/25868960/6b3b76c6-34b3-11e7-99c3-92ebec27ed2f.png)

[2017-05-09 19:32] bagajjal opened #715 "Unable to read the filters file "libssh.vcxproj.filters"."
E:\balu\Microsoft\Powershell\Code\openssh-portable\contrib\win32\openssh\libssh.vcxproj.filters : warning  : Unable to read the filters file "libssh.vcxproj.filters". Please unload the project "libssh.vcxproj" to be able to edit it.
E:\balu\Microsoft\Powershell\Code\openssh-portable\contrib\win32\openssh\libssh.vcxproj.filters(296,24): The project file could not be loaded. '$' is an unexpected tok

[2017-05-09 21:30] #715 closed, assigned to bagajjal

[2017-05-10 05:01] manojampalam commented on #645
Thanks @clouds56. Merged your PR.

[2017-05-10 16:38] jgr208 opened #716 "Can not access public key file"
Please answer the following

**"OpenSSH for Windows" version**
v0.0.12.0

**OS details**
Windows 2008 R2 with STIG applied

**What is failing**
Getting access denied to the public key trying to be used for public key authentication even while using the administrator account.

**Expected output**
Public key accepted and log in with key completed.

**Actual output**

2348 12:16:14 462 debug1: Could

[2017-05-10 17:23] manojampalam commented on #716
Ensure, sshd has read access to authorized keys. See wiki - https://github.com/PowerShell/Win32-OpenSSH/wiki/ssh.exe-examples.

Reopen if needed.

[2017-05-10 17:23] #716 closed, assigned to nobody

[2017-05-10 17:26] manojampalam commented on #713
Please see if https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH can provide any clues and let @bagajjal know if it needs any updates/clarifications.

[2017-05-10 17:28] manojampalam commented on #712
Thanks @Lonney for the detailed report. Can you try toggling SSH_TERM_CONHOST_PARSER as detailed in
https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH?

@bagajjal do you have any input? I thought we fixed this.

[2017-05-10 17:30] manojampalam commented on #704
@aduzsardi Please reopen this once you have the logs ready. As I said, running SSHD as system is a huge security compromise.

[2017-05-10 17:30] #704 closed, assigned to nobody

[2017-05-10 18:16] jgr208 commented on #716
Tried and is still happening.

[2017-05-10 19:52] bagajjal commented on #712
@Lonney -
It seems to be issue with the putty and teraterm. I have tried same command in both the terms, both of them exited with an exception in conhost.exe.
All other commands that produce bigger output like "dir c:\Windows\system32" works fine..

**putty exception**
![image](https://cloud.githubusercontent.com/assets/23668037/25918319/de98f4dc-357f-11e7-840e-fe94246ae266.png)

**teraterm except

[2017-05-10 20:05] bagajjal commented on #712
when using "windows openssh client" we have a pre-requisite that the terminal size should be atleast 90 columns or above.. please refer to the wiki https://github.com/PowerShell/Win32-OpenSSH/wiki/TTY-PTY-support-in-Windows-OpenSSH

[2017-05-11 01:59] nightwish47 commented on #703
We are try to investigating the cause and found that process [CMCa] & [CM10] is already increased in Windows Kernel profile memory.
Could you help to confirm that process [CMCa] and [Cm10] is root cause or not?

In addition, are there any similar issue in the past?

[2017-05-11 02:21] nightwish47 opened #717 "Regarding to 「UseRoaming no」parameter of OpenSSH 7.1 p1"
**"OpenSSH for Windows" version**
OpenSSH_ 7.1 p 1 Microsoft_Win 32 _ port_with_VS, OpenSSL 1.0.2 d 9 Jul 2015

**OS details**
Windows Server 2012 R2 DataCenter

**What is failing**
We are try to setting [UseRoaming no] parameter in ssh_config as below note.
But when restart Windows service, we found error for SFTP connection.

Note Link:
http://www.openssh.com/txt/release-7.1p2

**Expected output

[2017-05-11 06:01] megamorf commented on #703
Please tell us why they should put effort into debugging a 2 year old version of a software that isn't yet considered production-ready? @nightwish47

[2017-05-11 06:03] manojampalam commented on #717
You are using a pretty old version. Any reason for not upgrading to the latest?

[2017-05-11 06:04] megamorf commented on #717
See #703

[2017-05-11 08:40] nightwish47 commented on #717
Microsoft official "OpenSSH" was released when looking for the Windows version of the commonly used SSH tool, so I use it as a production run.
Is there an Opne SSH version that is stable in the Windows environment?
When will it stabilize again?

[2017-05-11 09:29] megamorf commented on #717
@nightwish47 No, but you can follow the releases page to check for a production-ready version of the Windows OpenSSH build: https://github.com/PowerShell/Win32-OpenSSH/releases

[2017-05-11 10:23] Lonney commented on #712
@manojampalam, @bagajjal,
Thank you, setting a greater width fixes the wrapping issue even if the window is narrow.

However, I'm still seeing the last line overwrite itself.
Although now after a certain number of lines of output the screen it gets stuck there, with the scrollback buffer set to 9999 for both machines.
I tried this with and without setting SSH_TERM_CONHOST_PARSER=0 and it didn't se

[2017-05-11 11:41] remittor commented on #712
Bugfix: https://github.com/PowerShell/openssh-portable/pull/137

[2017-05-11 14:29] remittor commented on #713
Bugfix: https://github.com/PowerShell/openssh-portable/pull/137
Diff: https://github.com/PowerShell/openssh-portable/pull/137/commits/a07f7cb4d048795a27d5a1e9f9e22f650b0e7273

[2017-05-12 02:14] bingbing8 opened #718 "test file are not able deleted after run Hostkey_fileperm.Tests"
This is due to the fact the test didn't set the right file permission after test run.

[2017-05-12 11:05] aduzsardi commented on #704
so i run the installer script again , and now it seems to be working , i don't know how and why ... maybe i did something wrong the first time , although i have no idea what could have i done
but the ssh-agent service still runes as Local System

[2017-05-12 11:31] abmoham commented on #704
Typically, Domain Controllers are special case systems re:software installation rights. More so when it requires a service and/or service account to run said service. Similar cases require creation of a domain user (can be the same name or your choosing) and be added into Builtin/Server Operator group in AD. Also may need to add the same user to 'Allow logon as a service' to Domain Controllers gro

[2017-05-12 18:56] bagajjal commented on #712
@remittor - Thanks for your continuous efforts..
Were you able to reproduce this issue at your end with checked-in code? Can you please point the problematic code snippet related to this issue.. I have gone through your PR, it is mostly about refactoring and I couldn't find the problematic code that can cause this issue.

FYI, the existing code works perfectly fine for us on multiple machines...

[2017-05-12 19:56] remittor commented on #712
For reproduce line scroll bug:
1) set window height to 5 symbols (use putty or bitvise)
2) connect to remote sshd-win32
3) type "ipconfig" or "quser"

Test OpenSSH **0.0.13.0** on Win2012R2 x64 (use **Bitvise**):
- **quser**: https://cloud.githubusercontent.com/assets/9350115/26026251/a01edcf2-3800-11e7-8888-33098d410b56.gif
- **ipconfig**: https://cloud.githubusercontent.com/assets/9350115/260262

[2017-05-12 22:10] bagajjal commented on #712
@Lonney - As a workaround while doing the ssh using -T option..
ssh.exe <user@ip> -T cmd.exe

[2017-05-12 22:17] bagajjal commented on #712
putty workaround ,  go to Connection > SSH > TTY > check "Don't allocate a pseudo terminal"
![image](https://cloud.githubusercontent.com/assets/23668037/26018834/0839722e-3726-11e7-8df5-5e33d3a7e45a.png)

[2017-05-13 16:48] DarwinJS opened #719 "Questions / Problems with function Set-SecureFileACL"
On this page: https://github.com/PowerShell/Win32-OpenSSH/wiki/Security-protection-of-various-files-in-win32-openssh

This code is published:
[code]
I have some questions about it:

1. Shouldn't `$myACL.SetAccessRuleProtection($True, $True)` be `$myACL.SetAccessRuleProtection($True, $False)'` in order to disable inherited permissions? (https://msdn.microsoft.com/en-us/library/system.security.acces

[2017-05-13 17:40] DarwinJS commented on #719
I have a work around - but I'm not sure if its implications.

I am also creating this code to work in the chocolatey package - so a little concerned that there are other similar scenarios lurking - so I'm still very interested in why this happens and if there is another class of "special user accounts" that might cause similar errors with this particular approach to removing acls.

I replaced the

[2017-05-13 21:07] kai-uwe-rommel opened #720 "0.0.13.0 simply does not work"
I followed the installation instructions. But I still get:

5884 23:05:59 356 error: @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
5884 23:05:59 357 error: @         WARNING: UNPROTECTED PRIVATE KEY FILE!          @
5884 23:05:59 357 error: @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
5884 23:05:59 357 error: Permissions for './ssh_host_rsa_key' are too open.
5884 23:0

[2017-05-13 23:52] bingbing8 commented on #720
Did you follow the [release notes](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.13.0) to re-ACL your key files?
**This version implements a breaking change that enforces more secure ACLs on various keys and configuration files.**
**Please make sure to read [this wiki topic on the secure protection of various files][Secure file] before using this latest version.**

- If you're upda

[2017-05-14 00:25] DarwinJS commented on #719
Could someone on the dev team test the permissions scripts on Windows 7 / Server 2008?

At first I started getting "The security identifier is not allowed to be the owner of this object" for granting ownership of the server keys to "NT SERVICE\sshd" (only on Windows 7) and researching a work around led to the following rabbit holes:

https://learn-powershell.net/2014/06/24/changing-ownership-of-fi

[2017-05-14 06:05] remittor commented on #712
OpenSSH **0.0.13.0** tests on Win2012R2 x64 (used Putty latest version).

With option "Don't allocate a pseudo terminal":
- **quser**: https://cloud.githubusercontent.com/assets/9350115/26031662/6ea9f7b8-3884-11e7-920e-483f644c1ee3.gif

Without option "Don't allocate a pseudo terminal":
- **quser**: https://cloud.githubusercontent.com/assets/9350115/26031720/321ca082-3886-11e7-8f1c-8d07f593458d.gi

[2017-05-14 08:25] kai-uwe-rommel commented on #720
Yanbing <notifications@github.com> wrote on 14.05.2017 01:52:52:

PS C:\Program Files\OpenSSH> (get-acl .\ssh_host_rsa_key).Access

FileSystemRights  : FullControl
AccessControlType : Allow
IdentityReference : ARS\A-Rommel
IsInherited       : False
InheritanceFlags  : None
PropagationFlags  : None

FileSystemRights  : Read, Synchronize
AccessControlType : Allow
IdentityReference : NT SERVICE\sshd

[2017-05-14 13:07] DarwinJS opened #721 "Questions and Thoughts About New ACLs for Private Keys"
I some questions and thoughts about the permissions outlined in: https://github.com/PowerShell/Win32-OpenSSH/wiki/Security-protection-of-various-files-in-win32-openssh (can't find the doc right now).

I could be misperceiving the net effect of the permissions changes - let me know if I am.

The security outlined for the Host Private Keys seems likely to create problems for the ongoing maintenance

[2017-05-15 04:03] manojampalam commented on #719
@bingbing8 is following up

[2017-05-15 05:18] manojampalam commented on #721
@DarwinJS, @bingbing8  is working updating the permissions related wiki.

Here's the current design behind the permissions for "Win32 OpenSSH" ssh keys general (applicable to both user and host).

- By default, a key is ACLed only to its owner. As a result, you'd see the following
[code]
- If the key is to be used as a "user key" (for client authentication), no additional steps (to change ACLs) ar

[2017-05-15 05:34] bingbing8 commented on #720
@kai-uwe-rommel. is these private keys are new generated by ssh-keygen.exe or they are existing keys before this build? I assume ARS\A-Rommel is the file owner of the private key files, right?
Can you please update the  LogLevel to "LogLevel DEBUG3" in sshd_config so more details info is logged to tell you which sid is bad user? can you check if the bad user is your login user. We saw once the sam

[2017-05-15 07:59] manojampalam commented on #719
@DarwinJS we've pulled down 0.0.13.0. We coordinate with you on the work needed before we push it out again.

[2017-05-15 08:42] kai-uwe-rommel commented on #720
Unfortunately, with DEBUG3 it does not show user info (SID):

780 10:39:31 376 debug1: sshd version OpenSSH_7.5, OpenSSL 1.0.2d 9 Jul 2015
780 10:39:31 376 debug3: open - handle:00000000000003CC, io:00000021ADE282D0, fd:3
780 10:39:31 380 debug3: Bad owner on ./ssh_host_rsa_key
780 10:39:31 380 error: @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
780 10:39:31 380 error: @         WAR

[2017-05-15 08:47] kai-uwe-rommel commented on #720
As a test, I removed the ACL entry for my ID from one of the files and added full rights for a local admin ID (mine is a domain account) but it did not change things.

I have then removed the extra admin ACL entry completely, so now it looks that way:

C:\Program Files\OpenSSH>cacls ssh_host_dsa_key
C:\Program Files\OpenSSH\ssh_host_dsa_key NT SERVICE\sshd:(special access:)

[2017-05-15 10:43] mikemaccana opened #722 "Just 'openssh' rather than 'Microsoft openSSH' in terminal title"
The current terminal title is 'Microsoft openSSH'.

![screenshot_1](https://cloud.githubusercontent.com/assets/172594/26054218/b08c24a0-3963-11e7-827d-4ee722ee8eec.png)

 - This is too long to fit in the terminal title
 - The vendor name isn't necessary
 - Although this fork is maintained by Microsoft, openssh isn't a Microsoft product.
 - The capitalisation is odd

It would be simpler to just use

[2017-05-15 18:24] manojampalam commented on #722
Thanks for catching it. Agree that the title is odd and not appropriate. It creeped in from initial terminal prototyping work.

I'll rename it to "OpenSSH SSH client", consistent with what [this](https://linux.die.net/man/1/ssh) says.

[2017-05-15 19:01] bingbing8 commented on #720
@kai-uwe-rommel with debug3, it show the file has bad owner. Can you check the owner of the file(```(Get-Acl .\sshtest_hostkey_ecdsa.pub).Owner```)? Can you change the owner of the file to one of the allowed account types followed by [secure protection of various files](https://github.com/PowerShell/Win32-OpenSSH/wiki/Security-protection-of-various-files-in-win32-openssh)?

[2017-05-15 19:46] bingbing8 commented on #719
@DarwinJS, Thanks for your feedback. yes, the line should be ```$myACL.SetAccessRuleProtection($True, $False)```. I am not able to repro the exception on win10 yet. When you print out ```$_.IdentityReference.Value```, what type of account it is? Does it exist at HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\ProfileList? Can you try this API ```$acl.GetAccessRules($true,$true, [Sy

[2017-05-15 19:48] kai-uwe-rommel commented on #720
The owner was my own account. I don't understand what should be wrong with it. It happens to be a domain account. The problem went away when I made the local Administrators group the owner. IMO, this is overly restrictive and complicated and the setup script/instructions are not detailed enough.

However, for other reasons I now switched (back) to Cygwin SSHD anyway.

[2017-05-15 19:59] bingbing8 commented on #720
Domain account should be fine as owner of the private key file. It is ARS\A-Rommel, which is account you logged in, right? We are investigating why this is not okay on your machine. If you have more info why this account is special, please share with us. as I said before, we saw there is once where the user moved from a domain to another, the same domain account has two sids which cause the sid co

[2017-05-15 20:09] kai-uwe-rommel commented on #720
Yes, the owner account was mine, ARS\A-Rommel.
There is nothing special about this account. Just an ordinary domain admin account.
I'm sorry but I have to move on now, getting work done ...
No more time to experiment with this sshd.
I'll perhaps come back and try it again in a year or so ...

[2017-05-15 22:18] #722 closed, assigned to nobody

[2017-05-15 22:48] taynes13 commented on #90
@aduzsardi using `ForceCommand powershell.exe` will help just to interactive session but it breaks things like SFTP. Try to do SFTP connection to server which has ForceCommand enabled, SFTP won't be happy with powershell logo message :-)

[2017-05-16 10:43] redfish0 opened #723 "Strange behaviour with domain authentication with keys"
**"OpenSSH for Windows" version**
0.0.12.0

**Server OperatingSystem**
Windows Server 2012 Standard

**Client OperatingSystem**
Ubuntu 16.04

I generated the keys and the public key is in the authorized_keys file, the authentication works when I open the session with "ssh -i .ssh/id_rsa  -l rexecdev1@mydomain.com -T server1.mydomain.com" from Ubuntu but even if "whoami /user" returns the correct d

[2017-05-16 11:35] Lonney commented on #712
@bagajjal The ssh -T and PuTTY workarounds work fine for me, thank you.

[2017-05-16 11:47] DarwinJS commented on #719
@bingbing8 - thanks for your reply.

The strange user account is happening only on Nano.

Given that the "Domain" is "APPLICATION PACKAGE AUTHORITY" for both accounts, I was guessing that it is some type of virtual account - maybe having to do with PackageManagement in general or Nano Server Packages as a primary method of updating the OS?

I will try the method call you suggest when I get some mo

[2017-05-16 15:26] mabrowning commented on #645
@anjohnson is right... this issue is different from the PATH error fixed in #696

Here is my log from v0.0.12.0:

[code]

I've got password & key authentication working, but this appears to be agent permission issues still.

[2017-05-16 17:13] anjohnson commented on #645
@mabrowning Thanks for confirming this is still happening in a newer version. Whenever I login to my system that has this installed I get these log entries added to the sshd.log file:
[code]
I already pointed out where the error message comes from, quoting Microsoft's own documentation, which even explains how to fix it. However @bingbing8 doesn't seem to care that the bug hasn't actually been fix

[2017-05-16 17:20] manojampalam commented on #723
See [this](https://github.com/PowerShell/Win32-OpenSSH/wiki/SSH-remote-sessions-on-Windows)

[2017-05-16 17:20] #723 closed, assigned to nobody

[2017-05-16 17:22] manojampalam commented on #720
@kai-uwe-rommel we have relaxed the file permission checks on Windows for the time being. Feel free to use [0.0.12.0](https://github.com/PowerShell/Win32-OpenSSH/releases/tag/v0.0.12.0) (that should not have the problem you are seeing).

[2017-05-16 17:22] mabrowning commented on #645
@anjohnson Am I understanding you correctly that you are successfully logging in, even with this error? All of my connections are getting 'socket closed' on the client side. Perhaps that is yet a different problem..

[2017-05-16 17:30] anjohnson commented on #645
@mabrowning yes, my logins do succeed, so I doubt that the RegOpenKeyExW error is the cause of your problem. I think I'm running an older version than you are though (v0.0.10 IIRC) and in fact I have given up trying to use this software for my purposes until some other bugs get fixed — the stdin/stdout channels don't transport binary data properly, so I went back to the Cygwin sshd for now.

[2017-05-16 17:59] DarwinJS commented on #721
I will work these changes and the new wiki page into the re-acling utility script I am building (Reset-SSHKeyPermissions.ps1).

Let me know if you would like me to maintain the re-acling script as part of the project.

Note that it has many uses beyond the first migration from an old version.  For instance, when you install server on a machine that previously only had the client.

[2017-05-16 18:31] mabrowning commented on #690
I actually had to do this for "NT Service\sshd" as well... v0.0.12.0

I did run the ./install-sshd.ps1 script, but this step was also required. Unfortunately, I couldn't find a command line equivalent for use in psexec, so had to resort to the secpol GUI through terminal services.

[2017-05-16 18:32] mabrowning commented on #658
@anjohnson You and I are on parallel journeys, I'm afraid. I am indeed affected by this same issue as you predicted.

[2017-05-17 04:52] manojampalam commented on #721
@DarwinJS please give us a couple of days to think through the end user implications. I'll get back with what we conclude and take your feedback before proceeding with putting this feature (permission checks) in.

[2017-05-17 04:54] manojampalam commented on #658
I looked into this earlier and understand the issue. We'll have it fixed for May-End.

[2017-05-17 10:24] DarwinJS commented on #721
@manojampalam - ok sounds good.

Personally I feel the solution should NOT be designed with the idea that the primary method to set permissions will be to run something within each user context who needs to set permissions on keys.

If it is designed to be able to work correctly when run from a central, admin type account - then it should work for regular users easily.

However, then it will also

[2017-05-18 06:49] remittor commented on #712
@bagajjal

In this mode history navigate not work!
Also backspace button clear command prompt!

[2017-05-18 08:10] remittor opened #724 "Bad output in Putty, Bitvise, TeraTerm and other SSH-clients when console window use scrolling."
**"OpenSSH for Windows" version**
0.0.13.0

**Server OperatingSystem**
Windows 2012 R2 x64

**Client OperatingSystem**
Windows 7 SP1 x64

**What is failing**
Bad output in **Putty**, **Bitvise**, **TeraTerm** and other SSH-clients when console window use scrolling.

**Actual output**
- Putty: https://cloud.githubusercontent.com/assets/9350115/26192267/ad847bce-3bb9-11e7-9ec1-770d6b9ddb99.gif
- Bit

[2017-05-18 08:22] remittor commented on #724
The reason for this behavior: the incorrect interpretation of the **CUP** command `ESC[<y>;<x>H`

MSDN: https://msdn.microsoft.com/en-us/library/windows/desktop/mt638032(v=vs.85).aspx

Term **viewport** indicate to using relative cursor coordinates! But OpenSSH-Win32 using absolute cursor coordinates (ssh.exe and ssh-shellhost.exe).

[2017-05-18 09:17] Lonney commented on #712
@remittor Is command history navigation supposed to work when PTY isn't used?

[2017-05-18 09:47] remittor commented on #712
@Lonney Answer there: https://github.com/PowerShell/Win32-OpenSSH/issues/724
OpenSSH-Win32 is equ IE5/IE6 (not observe standard).

[2017-05-18 10:11] topokina commented on #399
Hi all

Is there a solution to this issue. I have same problem.

[2017-05-18 10:38] hugocelso commented on #399
Two cents comment: We (re) had when upgrading to v12, but it was solved with a note from a previous version that we had skipped (v11).
This info probably should be on install notes!
NOTE - Breaking Change
Due to a security issue that got fixed in this release, SSHD account now needs read access to authorized_keys. Otherwise pubkey authentication will fail. Do the following:
   $authorizedKeyPath =

[2017-05-18 15:25] remittor commented on #724
Also this code block:
https://github.com/PowerShell/openssh-portable/blob/b4a38796b980f139dab7b46b942670f8a1b54937/contrib/win32/win32compat/console.c#L1169-L1172
need transfer to server side (`shell-host.c`).

[2017-05-18 17:35] manojampalam commented on #724
@remittor thank you for looking into this. @bagajjal will follow up on the proposed changes.

[2017-05-18 17:40] manojampalam commented on #399
Keeping this in radar for May-End release to see what can be done. Can someone provide the latest sshd and ssh-agent logs ?

[2017-05-18 17:48] bagajjal commented on #724
@remittor - This is the base assumption we have taken. when the pseudo terminal is implemented at the server side, ssh server will send the clearscreen to the client at the start of ssh session so that both server and client will be in sync from then on..

ssh standard doesn't mention about sharing the ssh client current location to the ssh server..

[2017-05-18 17:54] bagajjal commented on #724
@remittor with your recent fix, this problem is fixed? If yes, then this is duplicate of #712 issue?
Are there any issues that need to be fixed apart from your PR?

[2017-05-18 18:34] bingbing8 commented on #648
the scenario is that in remote sftp session, dir should list all the file even the logon user does not have access to the file, but get should failed with access denied. The current behavior is dir does not list the file the user does not have permission, which is not expected.

[2017-05-18 19:24] remittor commented on #724
My latest PR fixed several bugs. I show their tomorrow.

[2017-05-18 20:33] bingbing8 opened #725 "Change and add file perm check and related tests back."

[2017-05-18 20:53] #718 closed, assigned to bingbing8

[2017-05-18 20:54] #648 closed, assigned to bingbing8

[2017-05-18 20:56] bingbing8 commented on #720
v13 is pulled down.

[2017-05-18 20:56] #720 closed, assigned to nobody

[2017-05-18 20:56] #709 closed, assigned to bagajjal

[2017-05-18 20:57] #699 closed, assigned to bingbing8

[2017-05-19 05:56] manojampalam opened #726 "[Security] Remove unwanted sshd service account privileges"
SSHD only needs "Replace a process level token" privilege to spawn session processes on client behalf.
Revise and refactor code to remove other unwanted privileges

[2017-05-19 07:44] remittor commented on #724
@bagajjal

My latest PR is fixed several bugs.

History navigate bugs:
- Putty: https://cloud.githubusercontent.com/assets/9350115/26238010/f642a734-3c7f-11e7-9122-e1acd392eb49.gif
- OpenSSH-Win32: https://cloud.githubusercontent.com/assets/9350115/26238028/09ed9e9c-3c80-11e7-8b10-ceeb2f8be795.gif

[2017-05-19 14:44] krombel opened #727 "Key based authentication doesn't work immediately after a machine reboot/restart"
**"OpenSSH for Windows" version**
OpenSSH_7.5p1, OpenSSL 1.0.2d 9 Jul 2015

**Server OperatingSystem**
Windows Server 2012 R2 Standard

**Client OperatingSystem**
SUSE Linux Enterprise Server 12 SP2

**What is failing**
Login with public key authentication (used inside a script) not possible until a user on the machine logs on.

**Expected output**
I can log in every time with the public key - not